.text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  text-align: right;

  color: #555555;

  opacity: 0.98;

  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.row {
  width: 300px;
  margin-top: -11px;
  margin-bottom: -11px;
}


.vertical-line {
  height: 35px;
  border: 1px solid #CACACA;
}

.custom-position-button {
  margin-top: -11px;
  margin-left: 113px;
  width: 100px;
}

.custom-position-button2 {
  margin-top: -11px;
}

.rank-limit {
  display: inline-block;
  z-index: 0;
  width: 24%;
  height: 30px;
  position: absolute;
  left: 62%;
  transform: translate(-50%, 50%);
  text-align: center;
  line-height: 31px;
  font-size: 16px;
  color: white;
}

.horizontal-line {
  display: inline-block;
  width: calc(100% - 30px);
  height: 30px;
  float: left;
}

.icon-pass {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  background-color: #4CAF50;
  border-radius: 50%;
}
