<div fxLayout="column" style="position: relative;">
  <div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <span class="vertical-line"></span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="row">
      <span class="text">{{data.name}}</span>
      <button mat-icon-button color="primary" style="position: absolute;" (click)="addLevelEvaluate()">
        <mat-icon>add_circle</mat-icon>
      </button>

      <div fxLayout="row">
        <button mat-icon-button color="primary" (click)="updateLevelEvaluate(data.id)">
          <mat-icon>mode_edit</mat-icon>
        </button>
        <button *ngIf="data.lowestCoefficient !=0" mat-icon-button color="warn" (click)="deleteLevelEvaluate(data.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <span class="vertical-line"></span>
    </div>
  </div>

  <div class="rank-limit" *ngIf="postion == data.id" [style.bottom]="'calc(' + (percent+'%') + ')'">
    <div class="horizontal-line">
      <hr style="margin-top: 15px;margin-bottom: 20px;border: 0;border-top: 1px solid #CACACA;">
    </div>
    <div title="Mức điểm đạt : {{passedScore}}" class="icon-pass">
      <i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
  </div>
</div>
