<h3 class="title_create">THÊM CÂU HỎI TỪ FILE</h3>
<app-question-info-selected [dataCreate]="dataQuestionInfoImport"></app-question-info-selected>
<div class="content" fxLayout="column">
    <mat-card class="content_create">
        <p class="title">Thêm câu hỏi từ file</p>
        <mat-card-content class="file-action-form">
            <div fxFlex="80" fxLayout="row" fxLayoutGap="8px">
                <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <button mat-raised-button color="primary" class="btn-upload-file"
                        matTooltip="Tải lên tệp tin đề thi" (click)="openFile()">
                        <input type="file" #file style="display: none;" accept=".doc,.docx"
                            (change)="filesSelectedOnChange($event.target.files)">
                        <span class="material-icons">
                            file_upload
                        </span>
                        Tải lên tệp tin
                    </button>

                    <button mat-raised-button color="primary" (click)="showPreviewQuestions()"
                        class="btn-upload-file">
                        <mat-icon>visibility</mat-icon>
                        Xem trước
                    </button>

                    <button type="button" mat-raised-button color="primary" (click)="showStatisticQuestion(this.data)"
                        class="btn-upload-file">
                        <mat-icon svgIcon="analytic_white"></mat-icon>
                        Thống kê câu hỏi
                    </button>
                </div>
            </div>
            <div fxFlex="20" fxLayout="row" fxLayoutAlign="end end">
                <button mat-raised-button color="primary" class="btn-upload-file btn-download-sample-file" [matMenuTriggerFor]="menu">
                    <span class="material-icons">
                        download
                    </span>
                    Tải tệp tin
                </button>
                <mat-menu #menu="matMenu">
                    <a [href]="getLinkTemplate(1)" target="_blank">
                        <button mat-menu-item>
                            <span>Tải tệp tin mẫu</span>
                        </button>
                    </a>

                    <a [href]="getLinkTemplate(2)" target="_blank">
                        <button mat-menu-item>
                            <span>Tải tệp tin hướng dẫn</span>
                        </button>
                    </a>
                </mat-menu>
            </div>
        </mat-card-content>
    </mat-card>
    <div fxLayout="row" fxFlex=100>
        <div fxFlex=40>
            <mat-card fxLayout="column" class="content lst-question-form">
                <mat-card-content class="title_number_question" style="margin-bottom: 0px">
                    <div fxLayout="row">
                        <div fxFlex="70" class="table_question_title">Danh sách câu hỏi</div>
                        <div fxFlex="30" fxLayout="column" fxLayoutAlign="center end" class="m-r-10">
                            <div fxLayout="row">
                                <label class="label_title"> Số câu hỏi: </label> <label
                                    class="label_title label_total color-green">
                                    {{totalCountCurrentTest}} </label>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-content *ngIf="this.data.length > 0" class="list-question-wrapper">
                    <div fxLayout="row" fxLayoutAlign="start center" class="flex_row question_header list_header">
                        <div class="check_column" fxFlex="7">
                            <mat-checkbox class="example-margin" [checked]="allComplete"
                                (change)="setAll($event.checked)" [color]="'primary'">
                            </mat-checkbox>
                        </div>
                        <div class="content_column ct_column" fxFlex="76">
                            <span> Nội dung</span>
                        </div>
                        <div class="action_column" fxFlex="7">

                        </div>
                    </div>
                    <div fxLayout="row wrap" *ngFor="let question of data;let i = index " fxLayoutAlign="start center"
                        class="flex_row flex_item" [ngClass]="{'question-selected': this.index == i}">
                        <p class="question_type"
                            [ngClass]="{'single': question.format === 'SIG', 'group': question.format === 'GRO'}">
                            {{question.format === 'SIG' ? 'Câu hỏi đơn': 'Câu hỏi chùm'}}
                        </p>
                        <div fxFlex="100" fxLayoutAlign="space-between center" class="question_row"
                            (click)="chooseQuestion(question,i)">
                            <div class="block">
                                <div class="check_column" fxFlex="7">
                                    <mat-checkbox class="example-margin" [(ngModel)]="question.isChecked"
                                        (ngModelChange)="updateAllComplete()" [color]="'primary'">
                                    </mat-checkbox>
                                </div>
                                <div class="content_column" fxFlex="86">
                                    <span *ngIf="!showInner" [innerHTML]="question.content | safeHtml"
                                        class="question"></span>
                                </div>

                                <div class="action_column" fxFlex="7">
                                    <button mat-icon-button (click)="delete(question)">
                                        <mat-icon svgIcon="trash"></mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="100" fxLayoutAlign="space-between"
                            *ngFor="let child of question.questions;let j = index">
                            <div fxFlex="100" class="question_row_child" (click)="chooseQuestion(question,i,j)">
                                <div class="check_column" fxFlex="7">
                                    <mat-checkbox class="example-margin" [(ngModel)]="child.isChecked"
                                        (ngModelChange)="updateAllComplete()" [color]="'primary'">
                                    </mat-checkbox>
                                </div>
                                <div class="content_column" fxFlex="86">
                                    <span *ngIf="!showInner" [innerHTML]="child.content | safeHtml"></span>
                                </div>
                                <div class="action_column" fxFlex="7">
                                    <button mat-icon-button (click)="delete(child,i,j)">
                                        <mat-icon svgIcon="trash"></mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-content fxFlex fxLayout="row" fxLayoutAlign="space-between" *ngIf="this.data.length == 0">
                    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                        <label class="label-tip">Không có câu hỏi nào trong danh sách</label>
                        <label *ngIf="createType == 'FIL'" class="label-tip">Hãy bấm nút Tải lên tập tin để tải lên
                            câu hỏi
                            của bạn.</label>
                        <label *ngIf="createType == 'MAT'" class="label-tip">Hãy bấm nút Ma trận đề bên để lấy đề tự
                            động.</label>
                        <label *ngIf="createType == 'QTB'" class="label-tip">Hãy bấm nút Ngân hàng câu hỏi để lấy
                            câu
                            hỏi.</label>
                    </div>
                </mat-card-content>
                <div fxFlex *ngIf="this.data.length > 0" fxLayout="row" fxLayoutAlign="start end"
                    class="m-t-15 btn-action-group">
                    <div fxLayoutAlign="start start">
                        <button class="bg-danger btn_delete_selected" mat-raised-button color="white"
                            (click)="deleteSelected()">
                            Xóa đã chọn
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex=60>
            <mat-card class="content view-question-form">
                <mat-card-content fxFlex fxLayout="column">
                    <all-questions *ngIf="question != null" [data]="question" [childIndex]="childIndex"
                        [configUpload]="configUpload" (outputData)="updateQuestion($event)">
                    </all-questions>
                    <div fxFlex *ngIf="question == null" fxFlex fxLayout="column" fxLayoutAlign="center center">
                        <label class="label-tip">Chọn một câu hỏi từ danh sách để chỉnh sửa</label>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="center-btn-footer">
        <a routerLink="/dashboard/question-bank">
            <button mat-raised-button color="warn">Hủy</button>
        </a>
        <button mat-raised-button color="primary" (click)="onAddQuestionsClicked()">Thêm câu hỏi vào ngân hàng</button>
    </div>
</div>