<div class="question_basic">
  <div [hidden]="isResult==true">
    <button mat-flat-button class="mark-question" [ngClass]="{'mark-question-active': isFlag}" (click)="isMark()">Đánh dấu
      <mat-icon [ngClass]="{'color-red': isFlag === true}">flag</mat-icon>
    </button>
  </div>

  <div [ngClass]="{'question': isResult == false || isResult == undefined}">
    <div fxLayout="column">
      <div *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock" class="question-title">
        <span [MathJax]="dataQuestion.content">
        </span>
        <!-- <span class="order"> {{dataQuestion.order}}. </span> -->
      </div>
      <ng-template #elseBlock>
        <div class="question-title">
          <span  [innerHTML]="dataQuestion.content | safeHtml">
          </span>
          <!-- <span class="order"> {{dataQuestion.order}}. </span> -->
        </div>
      </ng-template>

      <ng-container *ngIf="isResult==false || isResult == undefined; else elseTemplate">
        <div class="question-content ckeditor ck-editor-cls">
          <ckeditor #ck [(ngModel)]="ckeditorContent" (ngModelChange)="updateContentEssay()" [config]="configQuestion">
          </ckeditor>
          <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
            style="display:none!important"/>
          <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
          <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="m-t-10">
          <button mat-raised-button color="primary" class="btn_add" (click)="addFile()" matTooltip="Định dạng: .ppt, .pptx, .doc, .docx, .xls, .xlsx, .pdf, .jpeg, .png, .gif, .svg, .jpg">
            <input #fileQuestionEssay style="display: none;" ng-disabled="isDisabledAnswer" id="uploadBtn" class="upload" type="file"
            bai-tu-luan="DapAnNguoiDung[data.MaCauHoi]" up-load="upLoad(file)"
            accept=".ppt,.pptx,.doc,.docx,.xls,.xlsx,.pdf,.jpeg,.png,.gif,.svg,.jpg" upload-file
            is-preview="isPreview" (change)="uploadFileDocument($event)" />
            <mat-icon svgIcon="upload" class="icon_button"></mat-icon>
            Thêm file đính kèm
          </button>
          <div class="m-l-10">
            <span *ngIf="fileName !=''"><strong>{{fileName}}</strong></span>
          </div>
        </div>
  
        
      </ng-container>
      <ng-template #elseTemplate>
        <div class="question-content ckeditor ck-editor-cls">
          <ckeditor #ck [(ngModel)]="ckeditorContent"  [config]="configCkeditor">
          </ckeditor>
          <div>
            <div *ngIf="fileUrlResponse!=''" class="btn-update-content">
              <button mat-button (click)="downLoadFile()">Xem file đính kèm</button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
