<div class="apply-css-alpha">
    <mat-card>
        <mat-card-content>
            <form>
                <div class="mat-dialog-title">Bạn có chắc chắn muốn thoát không?</div>
                <mat-dialog-actions>
                    <button mat-flat-button class="button-cancel" (click)="onClickOut()" mat-dialog-close>Thoát</button>
                    <button mat-flat-button mat-dialog-close color="primary">Tiếp tục</button>
                </mat-dialog-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>