:host ::ng-deep .mat-card {
    margin: 0;
    padding: 0;
    box-shadow: none !important;
    width: 100%;
}

:host ::ng-deep .mat-card-content {
    padding: 0;
}

.mat-dialog-detail-description {
    color: #555555;
    font-size: 14px;
    margin-top: 9px !important;
}

.background-no-content {
    width: auto;
    height: auto;
    text-align: center;
}

.mat-dialog-title {
    text-transform: none;
    margin: 0px !important;
}
