<app-spinner2>
</app-spinner2>
<div>
    <learner-lesson-content-answer-question *ngIf="!isLoading" [userContentTestId]="userContentTestId" [curriculumId]="curriculumId" [testId]="testId" (isChildReady)="hideSpinner($event)" >
    </learner-lesson-content-answer-question>
</div>