<div *ngIf="isReady" fxFlex="100" fxLayout="row" fxLayoutAlign="center center" class="header-content">
  <div fxFlex="80">
    <div fxLayoutAlign="center center" *ngFor="let singelStepModel of steps" [fxFlex]="singelStepModel.step ==1?25:36">
      <!--next icon-->
      <ng-container class="next_icon" *ngIf="singelStepModel.type != stepTypeEnum.active && singelStepModel.step != 1">
        <mat-icon fxFlex="33.33" fxLayoutAlign="center center" svgIcon="next"></mat-icon>
      </ng-container>
      <ng-container class="next_icon"
        *ngIf="(singelStepModel.type == stepTypeEnum.active && singelStepModel.step != 1)">
        <mat-icon fxFlex="33.33" fxLayoutAlign="center center" svgIcon="next-completed"></mat-icon>
      </ng-container>
      <!--end-->

      <!--step icon-->
      <div class="header-item" fxLayoutAlign="center center" fxFlex="80">
        <div fxLayout="column" fxLayoutAlign="center center"
          [ngClass]="{'baned': singelStepModel.type == stepTypeEnum.disabled}">
          <button class="info-button" (click)="onClickStep(singelStepModel)">
            <ng-container [ngSwitch]="singelStepModel.type">
              <mat-icon *ngSwitchCase="stepTypeEnum.basic" class="icon"
                [ngClass]="{'pulse': singelStepModel.currentStep }" [svgIcon]="singelStepModel.iconBasic"></mat-icon>
              <mat-icon *ngSwitchCase="stepTypeEnum.active" class="icon"
                [ngClass]="{'pulse': singelStepModel.currentStep }" [svgIcon]="singelStepModel.iconActive"></mat-icon>
              <mat-icon *ngSwitchCase="stepTypeEnum.disabled" class="icon"
                [ngClass]="{'pulse': singelStepModel.currentStep }" [svgIcon]="singelStepModel.iconDisabled"></mat-icon>
            </ng-container>
          </button>
          <!--label step-->
          <label class="title" [ngClass]="{'finish': singelStepModel.type == stepTypeEnum.active }">
            {{singelStepModel.label}} </label>
        </div>
      </div>
      <!--end-->
    </div>
  </div>
</div>