<label class="title-center">{{this.data.testkitName}}</label>
<div fxLayout="row" fxLayoutAlign="space-between start">
  <div class="content_exam" fxLayoutAlign="start center">
    <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Chọn đề thi:
    </label>
    <mat-form-field fxFlex="60" placeholder="Chọn đề thi" [floatLabel]="'never'">
      <mat-select #singleSelectDivision disableOptionCentering [value]="questionField" class="matFormFieldSelectBox">
        <mat-option *ngFor="let question of listQuestion; let i=index" [value]="question.id"
          (click)="onQuestionFieldClicked(i)">
          {{question.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="content_exam">
    <div fxLayout="row" fxLayoutAlign="flex-end center">
      <label fxLayoutAlign="end center" for="" class="label_combobox"> Số lượng câu hỏi:
      </label>
      <label fxLayoutAlign="start center" for="" class="label_combobox label_total question"> {{totalQuestion}}
      </label>
    </div>
    <div fxLayout="row" fxLayoutAlign="flex-end center">
      <label fxLayoutAlign="end center" for="" class="label_combobox"> Tổng điểm:
      </label>
      <label fxLayoutAlign="start center" for="" class="label_combobox label_total score"> {{totalScore}}
      </label>
    </div>
  </div>
</div>
<div>
  <div class="dialog-content-wrapper">
    <app-list-question [showFileDownload]="false" [isExamFinish]="true" [listQuestionFromExam]="listQuestionFromExam"></app-list-question>
  </div>
</div>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close class="m-3 button-cancel">Đóng</button>
</mat-dialog-actions>