.title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #303030;
}

.search-input {
  width: 245px;
  height: 30px;

  border: 0.5px solid #555555;
  box-sizing: border-box;
  border-radius: 2px;

  padding: 5px;
}

.icon-table {
  height: 20px;
  width: auto;
  color: #9ea1a1;
}

.td_status {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.editing {
  background: #4f91ff;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.waiting {
  background: #e5ae40;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.approved {
  background: #4caf50;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.rejected {
  background: #f8877f;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.td_name {
  margin-bottom: 5px;
}

.status {
  padding: 3px 10px;
  height: 21px;
  border-radius: 10.5px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  &.st_on {
    color: #e5ae40;
    background: #fff5e0;
  }

  &.st_off {
    color: #da251d;
    background: #ffe0df;
  }
  &.st_ongoing{
    color: #555555;
    background: #F3F3F3;
  }
}
.padding-b-15 {
  padding-bottom: 15px !important;
}
@media only screen and (min-width: 1441px) {
  .padding-b-15 {
    padding-bottom: 20px !important;
  }
}
.center-element{
  text-align: center;
}
.end-element {
  text-align: end;
}
.padding-t-5 {
  padding-top: 5px !important;
}

.mat-row {
  height: 66px;
}

@media(max-width: 1440px){
  .mat-column-creator{
    max-width: 150px;
  }

  .mat-main-column{
    width: 15%;
  }

}

::ng-deep .mat-main-column{
  width: 22% !important;
}

