<div class="apply-css-alpha">
  <div>
    <mat-card class="manage-card">
      <mat-card-header>
        <mat-card-title>Danh sách kỳ thi</mat-card-title>
      </mat-card-header>
      <mat-card-content class="pt-0">
        <div fxFlex="none" class="m-r-20">
          <a *ngIf="this.hasAddPermission" [routerLink]="['/dashboard/examination-manager/exams/create']">
            <button mat-raised-button color="primary">
              <mat-icon class="icon">add_circle_outline</mat-icon> Tạo kỳ thi
            </button>
          </a>
        </div>
        <div fxFlex="none">
          <a *ngIf="this.hasApprovePermission" [routerLink]="['/dashboard/examination-manager/exams/approval']">
            <button mat-raised-button color="primary">
              <mat-icon class="icon">playlist_add_check</mat-icon> Duyệt kỳ thi
            </button>
          </a>
        </div>
        <div fxFlex fxLayoutAlign="end center">
          <button *ngIf="isShowFilter" (click)="onClickToggleShowFilter()" mat-raised-button
            class="button-hidden-filter">
            <span class="material-icons">visibility_off</span>
            Ẩn bộ lọc
          </button>
          <button *ngIf="!isShowFilter" (click)="onClickToggleShowFilter()" mat-raised-button
            class="button-hidden-filter">
            <span style="width: 24px;" class="material-icons">visibility_on</span>
            Hiện bộ lọc
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card class="manage-card" *ngIf="isShowFilter">
    <mat-card-content>
      <form [formGroup]="filterForm">
        <div class="manage-filter">
          <div *ngIf="levelManageValue==1" class="manage-filter-item">
            <mat-form-field appearance="outline" (click)="onDivisionSelectClicked()">
              <mat-label>Phòng</mat-label>
              <mat-select [formControl]="divisionCtrl" placeholder="Chọn phòng" #singleSelectDivision
                disableOptionCentering (selectionChange)="onChangeDivisionSelected($event.value)">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="divisionFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option value="">
                  Tất cả
                </mat-option>
                <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                  {{division.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="levelManageValue<=2" class="manage-filter-item">
            <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
              <mat-label>Trường</mat-label>
              <mat-select [formControl]="schoolCtrl" placeholder="Chọn trường" #singleSelectSchool
                disableOptionCentering (selectionChange)="onChangeSchoolSelected($event.value)">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="schoolFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option value="">
                  Tất cả
                </mat-option>
                <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                  {{school.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="manage-filter-item">
            <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
              <mat-label>Khối</mat-label>
              <mat-select [formControl]="gradeCtrl" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering
                (selectionChange)="onChangeGradeSelected($event.value)">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="gradeFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option value="">
                  Tất cả
                </mat-option>
                <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                  {{grade.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- <div fxFlex="25" fxLayoutAlign="start center" class="filter-control">
            <label fxFlex="35" fxLayoutAlign="start center">Môn: </label>
            <mat-form-field fxFlex="65" fxLayoutAlign="start center" class="matFormFieldSelectBox" [floatLabel]="'never'"
              (click)="onSubjectSelectClicked()">
              <mat-select [formControl]="subjectCtrl" placeholder="Chọn môn" #singleSelectSubject disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm môn" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="subjectFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.id">
                  {{subject.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->

          <div class="manage-filter-item">
            <mat-form-field appearance="outline">
              <mat-label>Hình thức thi</mat-label>
              <mat-select [formControl]="examTypeCtrl" placeholder="Chọn hình thức" disableOptionCentering>
                <mat-option value="">
                  Tất cả
                </mat-option>
                <mat-option value="FRE">
                  Tự do
                </mat-option>
                <mat-option value="CON">
                  Tập trung
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="manage-filter-item">
            <mat-form-field appearance="outline">
              <mat-label>Trạng thái chỉnh sửa</mat-label>
              <mat-select [formControl]="statusCtrl" placeholder="Chọn trạng thái" disableOptionCentering>
                <mat-option value="">
                  Tất cả
                </mat-option>
                <mat-option value="EDI">
                  Đang chỉnh sửa
                </mat-option>
                <mat-option value="PUB">
                  Đã duyệt
                </mat-option>
                <mat-option value="WAI">
                  Chờ duyệt
                </mat-option>
                <mat-option value="REF">
                  Bị trả lại
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="manage-filter-item">
            <mat-form-field appearance="outline">
              <mat-label>Trạng thái tham gia thi</mat-label>
              <mat-select [formControl]="statusExamCtrl" placeholder="Chọn trạng thái" disableOptionCentering>
                <mat-option value="">
                  Tất cả
                </mat-option>
                <mat-option value="NOT">
                  Chưa diễn ra
                </mat-option>
                <mat-option value="UPC">
                  Sắp diễn ra
                </mat-option>
                <mat-option value="STA">
                  Đang diễn ra
                </mat-option>
                <mat-option value="END">
                  Đã kết thúc
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="manage-filter-item manage-filter-item-fill" fxLayoutAlign="center center"
            fxLayoutAlign.gt-sm="end center">
            <button mat-raised-button color="primary" (click)="filterExam()">
              <mat-icon matSuffix>filter_list</mat-icon>
              Lọc kết quả
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="manage-card">
    <table mat-table [dataSource]="dataExamPagination.items" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef style="text-align: start; min-width: 45px;">
          <mat-checkbox [ngModel]="isCheckAll" (change)="setAllSelected($event.checked)">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" style="text-align: start; min-width: 45px;">
          <mat-checkbox [(ngModel)]="row.checked" (change)="chooseExam($event.checked,row.id)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Tên kỳ thi</th>
        <td mat-cell *matCellDef="let element" class="mat-main-column">
          <span class="td_name text-wrap" #tooltip="matTooltip" matTooltip="{{element.name}}">{{element.name}}</span>
          <div class="td_status">
            <span class="editing" *ngIf="element.status=='EDI'">Đang chỉnh sửa</span>
            <span class="waiting" *ngIf="element.status=='WAI'">Chờ duyệt</span>
            <span class="approved" *ngIf="element.status=='PUB'">Đã duyệt</span>
            <span class="rejected" *ngIf="element.status=='REF'">Bị trả lại</span>
          </div>
        </td>
      </ng-container>

            <!-- Symbol Column -->
      <ng-container matColumnDef="donviName">
          <th mat-header-cell *matHeaderCellDef> Đơn vị quản lý </th>
          <td mat-cell *matCellDef="let element" class="unit-name" > {{element.donviName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="grade">
        <th style="text-align: center; min-width: 80px;" mat-header-cell *matHeaderCellDef> Khối </th>
        <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.gradeName}}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="creator">
        <th mat-header-cell *matHeaderCellDef> Tên người tạo </th>
        <td mat-cell *matCellDef="let element"> {{element.creatorName}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="center-element"> Trạng thái </th>
        <td mat-cell *matCellDef="let element" class="center-element">
          <span class="status"
            [ngClass]="{'st_on': element.getStatus==='Đang diễn ra', 
        'st_off': element.getStatus==='Đã kết thúc', 'st_ongoing':element.getStatus==='Chưa diễn ra'}">{{element.getStatus}}</span>
        </td>
      </ng-container>


      <ng-container matColumnDef="scope">
        <th mat-header-cell *matHeaderCellDef class="center-element"> Hình thức thi </th>
        <td mat-cell *matCellDef="let element" class="center-element">
          <ng-container *ngIf="element.type == 'CON'; else elseTemplate">
            <span>Tập trung</span>
          </ng-container>
          <ng-template #elseTemplate>
            <span>Tự do</span>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDe class="center-element"> Hình thức thi </th>
        <td mat-cell *matCellDef="let element" class="center-element"> {{element.type}} </td>
      </ng-container>
      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef class="center-element mat-column-date"> Thời gian bắt đầu </th>
        <td mat-cell *matCellDef="let element" class="center-element mat-column-date">
          {{element.startDate | date: 'dd/MM/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef class="center-element mat-column-date"> Thời gian kết thúc </th>
        <td mat-cell *matCellDef="let element" class="center-element mat-column-date">
          {{element.endDate | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- fuction Column -->
      <ng-container matColumnDef="function">
        <th mat-header-cell *matHeaderCellDef> Chức năng </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon *ngIf="row.status =='PUB' || row.getStatus =='Đã kết thúc'" matTooltip="Thông tin kỳ thi"
            [routerLink]="['/dashboard/examination-manager/exams/review', row.id]" svgIcon="eyes">
          </mat-icon>
          <!-- <span *ngIf="row.status =='PUB' || row.getStatus =='Đã kết thúc'" matTooltip="Thông tin kỳ thi"
          [routerLink]="['/dashboard/examination-manager/exams/review', row.id]" class="material-icons" style="color: #7E8485; font-size: 24px !important;">
          visibility
        </span> -->

          <mat-icon *ngIf="row.status !='PUB' && row.getStatus !='Đã kết thúc'&& this.hasEditPermission" matTooltip="Chỉnh sửa kỳ thi"
            (click)="editExam(row.id, row.status)"  svgIcon="edit-black"></mat-icon>

          <mat-icon *ngIf="row.status !='PUB' && this.hasDeletePermission" matTooltip="Xóa" (click)="deleteExam(row)"  svgIcon="trash"></mat-icon>
          <mat-icon *ngIf="row.status =='PUB' && levelManageValue <=2 && hasAssignPermission"
            matTooltip="Phân công trường" (click)="assignmentSchool(row.id,row.gradeId)"
            svgIcon="school-table-icon"></mat-icon>
        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
      <tr class="mat-row" *matNoDataRow>
        <td colspan="10" class="mat-cell background-no-content">
          <div class="background-no-content-img"></div>
          <div class="background-no-content-info">
            <p>Không tìm thấy kỳ thi</p>
          </div>
        </td>
      </tr>
    </table>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="p-l-20">
      <button *ngIf="this.hasDeletePermission && dataExamPagination.totalItems>0" mat-raised-button color="warn"
        (click)="deleteMultiExam()">
        <mat-icon>delete</mat-icon>
        Xóa đã chọn
      </button>
      <mat-paginator fxFlex [length]="dataExamPagination.totalItems" [pageSizeOptions]="[10, 5, 25, 100]">
      </mat-paginator>
    </div>
  </mat-card>
</div>
