.question_basic {
  position: relative;
}

.example-list-section {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}


//mark question
.mark-question {
  position: absolute;
  right: 0;
  top: -40px;
  margin-bottom: 0px;
  border: 0.5px solid #d2c3c3;
  box-sizing: border-box;
  border-radius: 4px;
  z-index: 999;
  color: #888888;
  height: 32px;
  line-height: 32px !important;
  padding: 0 7px !important;

  mat-icon {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
    line-height: 0.8rem;
  }
}

.mark-question-active {
  background: #FEC941 !important;
  color: white;
  border: none;
}

ul li {
  list-style: none;
}

.color {
  color: black;
}

.check-true {
  color: #198754;
}

// .show-result {
//   margin-bottom: 1rem;
// }

// .true {
//   color: #198754;
// }

// .false {
//   color: red;
// }

:host::ng-deep .Blanking {
  box-sizing: border-box;
  width: auto;
  min-width: 50px;
  height: auto;
  margin: 0 10px;
  display: inline-table;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #c0c0c0;
  text-align: center;
  font-style: italic;
}

.question-title {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #303030;
  position: relative;

  .order {
    position: absolute;
    left: 0;
    top: -3px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 22px;
    color: #4CAF50;
  }

  .score {
    position: absolute;
    right: 0;
    top: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #4CAF50;
  }
}

.list-answer-wrapper {
  position: relative;

  .mat-list {
    position: relative;

    .result-icon {
      position: absolute;
      top: 14px;
      left: -25px;
    }

    .true-answer {
      position: absolute;
      top: 15px;
      left: -15px;
    }
  }
}

:host ::ng-deep .mat-card {
  border: 1px solid #ebe9f1;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

:host ::ng-deep .mat-card-content {
  padding: 20px;
}

:host ::ng-deep .mat-list-item-content {
  padding: 0px !important;
}

:host ::ng-deep .mat-list-base {
  padding-top: 0px;
}

@media(max-width: 415px) {
  .list-answer-wrapper {
    padding-left: 0px;
  }

  ::ng-deep.mat-form-field-infix {
    border-top: 0px !important;
  }

  :host ::ng-deep.mat-form-field-flex {
    padding: 5px 5px 5px 10px !important;
    background: none !important;
  }

  :host ::ng-deep.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: translate(0%) !important;
  }

  :host ::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }

  :host ::ng-deep.mat-form-field-underline {
    bottom: 0 !important;
  }
}

.result {
  font-size: 14px;
  margin-right: 10px;
}

.result-item {
  color: #4CAF50;
  font-weight: bold;
}
