<div class="question_basic apply-css-alpha ">
  <div *ngIf="parentId == undefined && isResult!=true">
    <button mat-flat-button class="mark-question" [ngClass]="{'mark-question-active': isFlag}" (click)="isMark()">Đánh
      dấu
      <mat-icon [ngClass]="{'color-red': isFlag === true}">flag</mat-icon>
    </button>
  </div>

  <div [ngClass]="{'question': isResult == false || isResult == undefined}">
    <mat-card>
      <mat-card-content>
        <!--xema lại kết quá-->
        <div *ngIf="isResult == true && isPublicAnswer" class="show-result" [ngClass]="{'true': isTrueQuestion == true, 'false': isTrueQuestion == false}">
          <!-- <span>Kết quả trả lời: </span> -->
          <ng-container *ngIf="isTrueQuestion==true; else elset">
            <span>Trả lời đúng</span>
          </ng-container>
          <ng-template #elset>
            <span>Trả lời sai</span>
          </ng-template>
        </div>

        <div *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock" class="question-title">
          <span [MathJax]="dataQuestion.content">
          </span>
        </div>
        <ng-template #elseBlock>
          <div class="question-title">
            <span [innerHTML]="dataQuestion.content | safeHtml">
            </span>
          </div>
        </ng-template>

        <ng-container *ngIf="(isResult==false || isResult == undefined); else elseTemplate">
          <div class="list-answer-wrapper">
            <mat-list role="list" *ngFor="let answer of arrayAnswer;index as i">
              <mat-list-item role="listitem">
                <mat-form-field fxFlex="15" fxFlex.lt-sm="20" appearance="outline">
                  <mat-label>Vị trí</mat-label>
                  <mat-select class="dapAn" [(ngModel)]="answer.order" (selectionChange)="ChosseRightAnswer($event,i)">
                    <mat-option *ngFor="let number of dapAn" [value]="number">
                      {{number}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div fxFlex="85" class="answer-label m-l-20">
                  <span fxFlex="3">{{alphabet[i]}}. </span>
                  <div fxFlex="97" *ngIf="answer.content.content.indexOf(defaultMath)!=-1; else elseBlock">
                    <span [MathJax]="answer.content.content"></span>
                  </div>
                  <ng-template #elseBlock>
                    <div fxFlex="95">
                      <span [innerHTML]="answer.content.content | safeHtml"></span>
                    </div>
                  </ng-template>
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <div class="list-answer-wrapper m-l-30">
            <mat-list role="list" *ngFor="let answer of arrayAnswer;index as i">
              <div class="result-icon" *ngIf="isPublicAnswer">
                <span *ngIf="answer.isTrue==true">
                  <mat-icon class="check-true" style="color: #4CAF50;">done</mat-icon>
                </span>
                <span *ngIf="answer.isTrue==false">
                  <mat-icon class="wrong-answer" style="color: red;">close</mat-icon>
                </span>
              </div>
              <!-- <ng-container *ngIf="answer.content.trueAnswer!=0 && isPublicAnswer">
                <div class="true-answer answer-label">
                  {{answer.content.trueAnswer}}
                </div>
              </ng-container> -->
              <mat-list-item role="listitem" fxLayoutGap="10px">
                <mat-form-field fxFlex="15" fxFlex.lt-sm="20" class="m-r-10" appearance="outline">
                  <!-- <mat-label>Vị trí</mat-label> -->
                  <mat-select class="dapAn" [(ngModel)]="answer.order" [disabled]="true">
                    <mat-option *ngFor="let number of dapAn" [value]="number">
                      {{number}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <span class="answer-label" style="margin-right:0.5rem;">{{alphabet[i]}}. </span>
                <div *ngIf="answer.content.content.indexOf(defaultMath)!=-1; else elseBlock">
                  <span class="color answer-label" [MathJax]="answer.content.content"></span>
                </div>
                <ng-template #elseBlock> <span class="color answer-label" [innerHTML]="answer.content.content | safeHtml"></span></ng-template>
              </mat-list-item>
            </mat-list>
          </div>
          <div *ngIf="isResult == true && isPublicAnswer" fxLayout="row" class="m-t-10">
            <div>
              <span class="result">Đáp án: </span>
            </div>
            <div *ngFor="let answer of arrayAnswer;index as i">
              <div *ngIf="answer.content.trueAnswer > 0">
                <span class="result-item">{{answer.content.trueAnswer}} -&nbsp;</span>{{alphabet[i]}}.&nbsp;
              </div>
            </div>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
