.margin_button {
  margin: 20px 20px 20px 0px;
}

#myDropdown {
  position: absolute;
}

.content_lesson_top_action {
  width: 14px;
}


.border_menu_item {
  width: 94%;
  margin: 0 auto;
  border-bottom: 0.1px solid #b0b0b0;
}

.mat-menu-item {
  display: flex;
  align-items: center;
  height: 30px;
  line-height: 32px;
}

[hidden] {
  display: none !important;
}
