.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.status-badge-upcoming {
  background: #fff5e0;
  border-radius: 10.5px;
  width: 99px;
  height: 21px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #e5ae40;
  text-align: center;
  opacity: 0.98;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-badge-happenning {
  background: #dbffdc;
  border-radius: 10.5px;
  width: 99px;
  height: 21px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #4caf50;
  text-align: center;
  opacity: 0.98;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-badge-not-organized-yet {
  background: #f3f3f3;
  border-radius: 10.5px;
  width: 99px;
  height: 21px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #555555;
  text-align: center;
  opacity: 0.98;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-badge-end {
  width: 99px;
  height: 21px;
  background: #ffe0df;
  border-radius: 10.5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #da251d;
  text-align: center;
  opacity: 0.98;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.content-limit_length {
  overflow: hidden;
  width: 290px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sender-name {
  font-style: normal;
  font-weight: 600;
  // font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  color: #555555;

  opacity: 0.98;
}

.not-answerd-trouble {
  background: linear-gradient(0deg, #f8877f, #f8877f), #da251d;
  border-radius: 4px;
  padding: 5px;
  font-weight: 600;
  font-size: 10px;
  line-height: 11px;
  color: #ffffff;
  width: fit-content;
}

.answerd-trouble {
  background: #4caf50;
  border-radius: 4px;
  padding: 5px;
  font-weight: 600;
  font-size: 10px;
  line-height: 11px;
  color: #ffffff;
  width: fit-content;
}

.user-filter-date.close_button {
  position: absolute;
  font-size: 17px;
  right: 12px;
  height: auto;
  margin-top: 0;
  color: #757575;
  top: 2px;
  cursor: pointer;
  width: auto;
}

.avatar-area {
  height: 40px;

  .first-name-avt {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #EEEEEE;
    color: #4CAF50;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
}

.mat-column-content {
  max-width: 25%;
}
.mat-column-lessonName {
  max-width: 25%;
}
