<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex class="mat-title mb-0">Danh sách thắc mắc</div>
        <div fxFlex fxLayoutAlign="end center">
          <button *ngIf="isShowFilter" class="button-hidden-filter" (click)="onClickToggleShowFilter()"
            mat-raised-button>
            <span class="material-icons">visibility_off</span>
            Ẩn bộ lọc
          </button>
          <button *ngIf="!isShowFilter" (click)="onClickToggleShowFilter()" class="button-hidden-filter"
            mat-raised-button>
            <span style="width: 24px;" class="material-icons">visibility_on</span>
            Hiện bộ lọc
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="manage-card" *ngIf="isShowFilter">
    <mat-card-content>
      <form [formGroup]="filterTroubleShootingForm" (ngSubmit)="onSubmit()">
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="20px grid">
          <div fxFlex fxFlex.gt-md="25">
            <mat-form-field (click)="onDivisionSelectClicked()" appearance="outline">
              <mat-label>Bài giảng</mat-label>
              <mat-select formControlName="lessonId" placeholder="Chọn bài giảng" #singleSelectLesson
                disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm bài giảng" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="divisionFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                  {{division.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex fxFlex.gt-md="25">
            <mat-form-field appearance="outline">
              <mat-label>Trạng thái</mat-label>
              <mat-select formControlName="status" placeholder="Tất cả trang thái" disableOptionCentering>
                <mat-option value="">
                  Chọn trạng thái
                </mat-option>
                <mat-option value="NAN">
                  Chưa trả lời
                </mat-option>
                <mat-option value="ANS">
                  Đã trả lời
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex fxFlex.gt-md="25">
            <mat-form-field appearance="outline">
              <mat-label>Từ ngày</mat-label>
              <input matInput [matDatepicker]="dpFromDate" formControlName="startDate" placeholder="dd/MM/yyyy"
                autocomplete="off" onfocus="this.blur()" (click)="openDpFromDate()">
              <mat-datepicker-toggle matSuffix [for]="dpFromDate"></mat-datepicker-toggle>
              <mat-icon *ngIf="this.startDate.value" (click)="clearDate('from')" class="user-filter-date close_button"
                matDatepickerToggleIcon>clear</mat-icon>
              <mat-datepicker #dpFromDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex fxFlex.gt-md="25">
            <mat-form-field appearance="outline">
              <mat-label>Đến ngày</mat-label>
              <input matInput [matDatepicker]="dpToDate" formControlName="endDate" placeholder="dd/MM/yyyy"
                autocomplete="off" onfocus="this.blur()" (click)="openDpToDate()">
              <mat-datepicker-toggle matSuffix [for]="dpToDate"></mat-datepicker-toggle>
              <mat-icon *ngIf="this.endDate.value" (click)="clearDate('to')" class="user-filter-date close_button"
                matDatepickerToggleIcon>clear</mat-icon>
              <mat-datepicker #dpToDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center" [disabled]="!isLoadData">
            <button mat-raised-button color="primary" type="submit">
              <mat-icon matSuffix>filter_list</mat-icon>
              Lọc kết quả
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="manage-card">
    <mat-card-content class="p-0">
      <app-spinner2></app-spinner2>
      <table mat-table [dataSource]="troubleshootings" *ngIf="isLoadData">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef> STT
            </th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{i+1}}
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>NGƯỜI GỬI
            </th>
            <td mat-cell *matCellDef="let element" class="mat-main-column">
              <div fxLayout="row">
                <div *ngIf="!element.avatar" fxLayoutAlign="center center" class="avatar-area m-r-10">
                  <div fxLayoutAlign="center center" class="first-name-avt">
                    {{getFirstName(element.senderName)}}
                  </div>
                </div>
                <div fxLayout="column">
                  <span class="text-wrap">{{element.senderName}} <span
                      *ngIf="element.senderEmail">{{element.senderEmail}}</span></span>
                  <span *ngIf="element.status == 'ANS'" class="answerd-trouble">Đã trả lời</span>
                  <span *ngIf="element.status == 'NAN'" class="not-answerd-trouble">Chưa trả lời</span>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="lessonName">
            <th mat-header-cell *matHeaderCellDef> TÊN BÀI GIẢNG
            </th>
            <td mat-cell *matCellDef="let element;let i = index">
              <span class="content-limit_length text-wrap" >{{element.lessonName}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="content">
            <th mat-header-cell *matHeaderCellDef>NỘI DUNG
            </th>
            <td mat-cell *matCellDef="let element">
              <span class="content-limit_length text-wrap">{{element.content}}</span>
            </td>

          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="datetime">
            <th mat-header-cell *matHeaderCellDef> NGÀY GỬI </th>
            <td mat-cell *matCellDef="let element">
              <span class="text-green"><b>{{element.senderDate|date :'HH:mm'}}</b></span>
              <span> &nbsp; {{ element.senderDate|date :'dd/MM/yyyy'}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="function">
            <th mat-header-cell *matHeaderCellDef> CHỨC NĂNG
            </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.status == 'ANS'" (click)="onReviewTroubleHandleClick(element.id)"
                matTooltip="Xem lại" class="material-icons" style="color: #7E8485; font-size: 24px !important;">
                visibility
              </span>
              <span *ngIf="element.status == 'NAN'" (click)="onReplyTroubleHandleClick(element.id)" matTooltip="Trả lời"
                class="material-icons-outlined" style="color: #7E8485;">
                mark_chat_unread
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="double">
            <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td colspan="6" class="mat-cell background-no-content">
              <div class="background-no-content-img"></div>
              <div class="background-no-content-info">
                <p>Không tìm thấy thắc mắc</p>
              </div>
            </td>
          </tr>
        </div>
      </table>
      <mat-paginator [length]="count" [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
