<app-content-create-matrix></app-content-create-matrix>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <button class="bg-danger text-white" mat-raised-button (click)="cancel()">Hủy</button>
    <button (click)="saveData()" color="primary" mat-raised-button>Lưu</button>
  </div>