<!--stepper-->
<mat-card>
  <mat-card-content>
    <app-header-create-exam [currentPage] = "currentPage"></app-header-create-exam>
  </mat-card-content>
</mat-card>

<!--content steps-->
<div>
  <!--Thông tin kỳ thi-->
  <app-create-info-exam *ngIf="currentPage == 1"></app-create-info-exam>
  <!--Thiết lập kỳ thi kỳ thi-->
  <app-establish-exam *ngIf="currentPage == 2"></app-establish-exam>
  <!--Chọn môn thi-->
  <app-chosse-test *ngIf="currentPage == 3"></app-chosse-test>
  <!--Gán trường-->
  <app-register-school *ngIf="currentPage == 4"></app-register-school>
  <!--Hoàn thành-->
  <app-finish-exam *ngIf="currentPage == 5"></app-finish-exam>
</div>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <button (click)="previousPage()" *ngIf="currentPage != 1" mat-raised-button>Quay lại</button>
  <button (click)="nextPage()" mat-raised-button>
    <span *ngIf="currentPage < 5">Tiếp tục</span>
    <span *ngIf="currentPage == 5">Lưu</span>
  </button>
</div>
