.function-search {
  padding: 0 !important;
  margin: 20px 0 0 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 71.8px;

  .mat-card-content {
    // padding: 24.8px 18px;
    padding-left: 17px;
    margin-bottom: 0;

    .create-question {
      background: #4caf50;
      color: white;
      border-radius: 2px;
      height: 29px;
      display: flex;
      align-items: center;
      justify-content: center;

      ::ng-deep .mat-button-wrapper {
        height: 29px;
        display: flex;
        align-items: center;

        .mat-icon {
          height: 12.5px;
          width: 12.5px;
          line-height: 18px;
          display: flex;
          align-items: center;
          margin-right: 3.5px;
        }
      }
    }
  }

  .filter_search_input {
    padding: 24.8px 18px;

    .input_search {
      background-image: url("../../../../../assets/images/icon/search.svg");
      background-size: 10% 50%;
      background-repeat: no-repeat;
      background-position: right center;
    }

    input {
      width: 253px;
      height: 34px !important;
      border: 0.5px solid #888888;
      box-sizing: border-box;
      border-radius: 2px;
      font-size: 13px;
      line-height: 18px;
      color: #7e8485;
      opacity: 0.98;
      padding-left: 10px;
      padding-right: 25px;
    }
  }
}

.table-list-question {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  overflow-y: auto;
  height: 93%;

  .mat-table .mat-header-cell {
    font-size: 12px;
    font-weight: 600;
    color: #555555;
    font-family: "Open Sans";
  }

  .mat-cell,
  .mat-footer-cell {
    font-weight: 600;
    font-size: 14px;
    font-family: "Open Sans";
  }

  .mat-cell {
    position: relative;
    vertical-align: middle;
    padding-right: 11px;

    .dropdown_question {
      .img_dropdown {
        position: absolute;
        right: 20%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .type {
      color: white;
      padding: 3px 10px;
      height: 21px;
      border-radius: 4px;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      font-style: normal;
      margin: 16px auto;
      width: fit-content;

      &.single {
        background: #f8877f;
      }

      &.multi {
        background: #68c9ff;
      }
    }

    .type_quest .title_quest {
      color: #555555;
      opacity: 0.98;
      font-size: 13px;
      margin-bottom: 7px;
      font-weight: normal !important;
    }

    .note {
      margin-top: 19px;
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      color: #555555;
      opacity: 0.98;
      border: 0.5px solid #acacac;
      box-sizing: border-box;
      border-radius: 2px;
      width: 198px;
      height: 65px;
      padding: 6px 10px;
    }
  }

  .row_flex {
    padding: 0 18px;

    .end-button {
      display: flex;
      align-items: center;
      justify-content: center;

      button:not(:last-child) {
        margin-right: 20px;
      }

      .bg-danger {
        background: #da251d;
        border-radius: 2px;
        font-size: 14px;
        color: #ffffff;
        padding: 8px;

        :host ::ng-deep .mat-button-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 0px;
        }

        .trash-white {
          width: 10.5px;
        }

        .mat-icon {
          margin-right: 7.4px;
        }
      }

      .sent_approved_question {
        width: 10.5px;
      }
    }
  }

  .header-checkbox {
    padding-left: 21px !important;
    vertical-align: middle !important;
  }
}

:host ::ng-deep .mat-menu-item .mat-icon {
  margin-right: 8px !important;
}

:host ::ng-deep button.mat-menu-item {
  font-size: 13px;
  color: #555555;
  opacity: 0.98;
}

:host ::ng-deep td.mat-cell:first-of-type {
  padding-top: 1em;
}

:host ::ng-deep th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 21px;
  vertical-align: top !important;
  max-width: 35px;
}

.top_element {
  vertical-align: top !important;
}

.title_quest {
  font-weight: normal;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;

  ::ng-deep .mat-spinner {
    width: 30px !important;
    height: 30px !important;

    svg {
      width: 30px !important;
      height: 30px !important;
    }
  }
}

.confirm_question {
  padding: 0 18px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;

  button {
    border-radius: 2px;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.hideCheckboxField {
  display: none;
}

.hideButton {
  display: none !important;
}

.number_stt {
  margin-top: 0;
}

#question_hide {
  display: none;

  .title {
    font-weight: bold;
  }

  .question_item {
    .title_large {
      display: flex;
      align-items: center;
    }

    .no {
      margin-right: 5px;
      font-weight: normal;
    }
  }

}

th.mat-column-score,
td.mat-column-score {
  text-align: center;
  justify-content: center;
}

th.mat-column-type,
td.mat-column-type {
  text-align: center;
  justify-content: center;
}

.score {
  background: #CCFFCE;
  border-radius: 23px;
  padding: 5px 15px;
  color: #4CAF50;
}
