<!-- Table list question -->
<mat-card class="table-list-question" id="table_view">
  <!-- <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div> -->
  <table mat-table [dataSource]="questions" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef class="header-checkbox">
        STT
      </th>
      <td mat-cell *matCellDef="let row; let i=index">
        {{i+1}}
      </td>
    </ng-container>

    <!-- Content of question -->
    <ng-container matColumnDef="question">
      <th mat-header-cell *matHeaderCellDef width="65%">NỘI DUNG CÂU HỎI</th>
      <td mat-cell *matCellDef="let element">
        <app-display-question [questions]="element"></app-display-question>
      </td>
    </ng-container>

    <!-- Score of question -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef width="10%">ĐIỂM</th>
      <td mat-cell *matCellDef="let element">
        <span class="score">{{element.score}}</span>
      </td>
    </ng-container>

    <!-- Type of quest -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>LOẠI CÂU HỎI</th>
      <td mat-cell *matCellDef="let element" class="type_quest" [ngClass]="{'top_element': element.format === 'GRO'}">
        <p class="title_quest">{{checkTypeQuestionTable(element.type)}}</p>
        <div class="type single" *ngIf="element.format !== 'GRO' && element.type">
          <span class="">Câu hỏi đơn</span>
        </div>
        <div class="type multi" *ngIf="element.format === 'GRO'">
          <span class="">Câu hỏi chùm</span>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Không tìm thấy câu hỏi nào</td>
    </tr>
  </table>

  <!-- Event remove and confirm question -->
  <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="row_flex">
      <div fxFlex="50" fxLayoutAlign="start center" class="combobox_action">
        <div class="end-button" [ngClass]="{'hideButton': isExamFinish}">
          <button *ngIf="isAllQuestion && hasDeletePermission" mat-stroked-button color="" class="button-sm bg-danger"
            (click)="removeQuestion(null, true)">
            <mat-icon svgIcon="trash-white" class="trash-white"></mat-icon>
            Xoá đã chọn
          </button>
          <button *ngIf="isAllQuestion && hasEditPermission" mat-raised-button color="primary" class="button-sm mr_2"
            (click)="requestApproveQuestion(null, true)">
            <mat-icon svgIcon="sent_approved_question" class="sent_approved_question"></mat-icon>
            Gửi duyệt
          </button>
          <button *ngIf="!isAllQuestion && hasApprovePermission" mat-stroked-button color="" class="button-sm bg-danger"
            (click)="refuseQuestion(null, true)">
            Trả lại
          </button>
          <button *ngIf="!isAllQuestion && hasApprovePermission" mat-raised-button color="primary" class="button-sm mr_2"
            (click)="approveQuestion(null, true)">
            Duyệt
          </button>
        </div>
      </div>
      <div [ngClass]="{'hideButton':isExamFinish}" fxFlex="50" fxLayoutAlign="end center" class="combobox_action">
        <div class="filter_bottom_action">
          <div class="fitler_bottom_action_paging_page">
            <mat-paginator [length]="questionPagination.totalItems" [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
          </div>
        </div>
      </div>
    </div> -->
</mat-card>
<div fxLayout="row" fxLayoutAlign="center center" class="m-t-20">
  <button mat-raised-button class="button-cancel" mat-dialog-close>Đóng</button>
</div>
<!-- End table list question -->
