<div class="carousel-function" fxLayout="column" fxLayoutAlign="space-around center">
  <!-- <img src="../../../../../../assets/images/background/banner-header.jpg" style="visibility: hidden; " /> -->
  <div fxLayout="column" fxLayoutAlign="center center" class="title-box">
    <span class="title-header">
      tìm kiếm các bài giảng
    </span>
    <span class="text-intro">Hệ thống học tập trực tuyến với hàng ngàn
      bài
      giảng và tài liệu dành riêng cho
      bạn</span>
  </div>

  <div class="search-box" fxLayout=row fxLayout.sm="column" fxLayoutAlign="center center" fxLayoutAlign.sm="start start"
    fxLayoutGap.sm="15px" (keydown.enter)="onClickSearch()">
    <input type="text" placeholder="Tìm kiếm các bài giảng..." [(ngModel)]="lessonName" class="input-search">
    <button class="search-button" fxLayoutAlign="center center" (click)="onClickSearch()" (click)="onScrollClick(lesson)">
      <mat-icon>search</mat-icon>
      <span fxHide.xs>Tìm kiếm</span>
    </button>
  </div>
  <span #target id='mat-drawer-content' style="color: rgba(0, 0, 0, 0);">target</span>
</div>
 

<div class="list-grades">
  <ng-container *ngIf="width>768; else elseT">
    <div class="container">
      <ng-container *ngIf="listGradesDashboard?.length<=4; else elsegrade">
        <div class="list-grade-a-row" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
          <div *ngFor="let grade of listGradesDashboard">
            <button class="row-grade" mat-button [ngClass]="{'gradeActived': (grade.id == gradeId)}">
              {{grade.name}}
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #elsegrade>
        <div class="list-grade-a-row" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
          <div *ngFor="let grade of listGradesDashboard">
            <button class="row-grade" mat-button [ngClass]="{'gradeActived': (grade.id == gradeId)}"
              (click)="gradeClick(grade.id)">
              {{grade.name}}
            </button>
          </div>
        </div>
      </ng-template>

    </div>
  </ng-container>
  <ng-template #elseT>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
      <form fxFlex="90" class="grade-header">
        <mat-form-field class="grade-header-select">
          <mat-select (selectionChange)="gradeClick($event.value)" [value]="selected">
            <mat-option value="">Chọn khối</mat-option>
            <mat-option *ngFor="let grade of listGradesDashboard" [value]="grade.id"
              (click)="onScrollClick(target)">
              {{grade.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </ng-template>
</div>


<div #lesson class="breadcrumb">
  <div class="container">
    <div style="height: 40px;">
      <button mat-button [routerLink]="['/index']" style="padding: 0px;">
        Trang chủ
        <span class="material-icons">
          chevron_right
        </span>
      </button>
      <span mat-button [routerLink]="['/list-lessons-home-page']" class="text-bold">
        Bài giảng
      </span>
    </div>
  </div>
</div>

<div class="body">
  <div class="list-combobox">
    <div class="container" fxLayout="column">
      <div class="title-box" fxLayout="row" fxLayout.xs=column fxLayoutAlign="center center" fxHide.xs>
        <span class="title">Bài giảng</span>
      </div>
      <div fxLayout="row" fxLayout.xs=column fxFlex="100" fxLayout.sm=column>
        <div fxLayout=row fxLayout.sm="row" fxFlex=80 fxLayoutGap="25px" fxLayout.xs=column>
          <mat-form-field appearance="outline" (click)="stopPropagation($event)" class="mat-form-field-school"
            *ngIf="isDomaimHasSchool==false" fxFlex=30>
            <mat-select #schoolSelect [placeholder]="'Trường'" [(ngModel)]="chooseSchool"
              [disableOptionCentering]="true" (ngModelChange)="onChangeSchool()" (click)="onSelectSchool()">
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="keyWordSchool" placeholderLabel="Trường"
                  noEntriesFoundLabel="Không tìm thấy trường" (ngModelChange)="filterSchool()">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]="0">
                Chọn trường
              </mat-option>
              <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                {{school.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" (click)="stopPropagation($event)" class="mat-form-field-subject"
            fxFlex=20>
            <mat-select #subjectSelect [placeholder]="'Môn'" [(ngModel)]="chooseSubject" (click)="onSelectSubject()"
              [disableOptionCentering]="true">
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="keyWordTeacher" placeholderLabel="Môn"
                  noEntriesFoundLabel="Không tìm thấy môn" (ngModelChange)="filterSubject()">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]="0">
                Chọn môn
              </mat-option>
              <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.id">
                {{subject.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" (click)="stopPropagation($event)" class="mat-form-field-teacher"
            fxFlex=30>
            <mat-select #teacherSelect [placeholder]="'Giáo viên'" [disableOptionCentering]="true"
              [(ngModel)]="chooseTeacher" (click)="onSelectTeacher(chooseSchool)">
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="keyWordTeacher" placeholderLabel="Giáo viên"
                  noEntriesFoundLabel="Không tìm thấy giáo viên" (ngModelChange)="filterTeacher()">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]="0">
                Chọn giáo viên
              </mat-option>
              <mat-option *ngFor="let teacher of filteredTeachers | async" [value]="teacher.id">
                {{teacher.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex=20 fxFlex.xs=100 fxLayout="row" fxLayoutAlign="end center" class="button-filter-mobile">
          <!-- <button [disabled]="chooseSchool>=0?false:true" mat-raised-button color="primary" class="filter-button"
            (click)="onClickSearch()">
            <mat-icon svgIcon="filter-white" class="icon"></mat-icon>
            Lọc kết quả
          </button> -->


          <button [disabled]="chooseSchool>=0?false:true" mat-raised-button color="primary" type="submit"
            (click)="onClickSearch()">
            <mat-icon matSuffix>filter_list</mat-icon>
            Lọc kết quả
          </button>
        </div>
      </div>
      <div fxFlex=100 fxLayout="row" class="all-leson-box" fxHide.xs>
        <button mat-raised-button color="primary" class="all-lesson-button">Tất cả bài giảng</button>
      </div>
    </div>
  </div>

  <ng-container *ngIf="lessons.length == 0 else elseTemplate">
    <div class="content-not-found-box">
      <div class="container">
        <mat-card fxLayout="column" fxLayoutAlign="center center" class="content-not-found">
          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
            <img src="../../../../../assets/images/lesson/lessonNotFound.png" class="image-not-found" alt="">
            <div class="suggest">
              <span>Không tìm thấy bài giảng :</span>
              <span *ngIf="schoolName != ''">
                &nbsp;<span class="title-name">{{schoolName}}</span>
              </span>
              <span *ngIf="gradeName">
                &nbsp;trong khối <span class="title-name">{{gradeName}}</span>
              </span>
              <span *ngIf="subjectName">
                &nbsp;của môn<span class="title-name">{{subjectName}}</span>
              </span>
              <span *ngIf="teacherName">
                &nbsp;của giáo viên <span class="title-name">{{teacherName}}</span>
              </span>

              <span *ngIf="lessonName">
                &nbsp;<span class="title-name">{{lessonName}}</span>
              </span>
              <br>
              <span class="suggest-title">Đề xuất</span>
              <ul>
                <li>Xin bạn hãy chắc chắn rằng tất cả các từ đều đúng chính tả</li>
                <li>Hãy thử lại với những từ khóa khác</li>
                <li>Hãy thử những từ khóa chung hơn</li>
              </ul>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

  </ng-container>
  <ng-template #elseTemplate>
    <div class="list-lessons-container" fxLayout="column">
      <div fxLayout="row wrap" fxLayout.xs=column fxFlex=100 class="list-lessons">
        <div
          *ngFor="let lesson of lessons | paginate: { itemsPerPage:itemsPerPage, currentPage: currentPage, totalItems:totalPage};let i =index;"
          fxFlex="25" fxFlex.md="33.33" fxFlex.sm="50" fxLayoutAlign="center center">
          <mat-card fxFlex="100" class="mat-card-lesson" [routerLink]="['/detail-lesson']"
            [queryParams]="{ grade: undefined , subject: undefined , chapter: undefined , unit: undefined, lesson: lesson.id}"
            queryParamsHandling="merge">
            <mat-card-header class="mat-card-header">
              <img mat-card-image src="{{lesson.avatarUrl}}" class="lesson-avartar">
              <div class="subject-banner" [style.background-color]="listColor[i]">
                {{lesson.subjectName}}
              </div>
            </mat-card-header>
            <mat-card-header class="lesson-name">
              {{lesson.lessonName}}
            </mat-card-header>
            <div fxLayout="row" class="teacher-box">
              <div fxLayoutAlign="start center">
                <img src="{{lesson.teacherAvatar}}" class="teacher-avartar">
                <p class="teacher-name"> GV: {{lesson.teacherName}}
                </p>
              </div>
            </div>
            <div fxLayout="row" class="publication-learntime">
              <div fxFlex="50" fxLayoutAlign="start center">
                <mat-icon svgIcon="icon-publication-date-flag-list-lesson" class="icon-lesson"></mat-icon>
                <span class="createdDate">
                  Ngày phát hành
                </span>
              </div>
              <div fxFlex="50" fxLayoutAlign="end center">
                <span class="createdDate">
                  {{lesson.approvedDate | date:'dd-MM-yyyy'}}
                </span>
              </div>
            </div>
            <div fxLayout="row" class="publication-learntime">
              <div fxFlex="50" fxLayoutAlign="start center">
                <mat-icon svgIcon="icon-learn-time-list-lesson" class="icon-lesson"></mat-icon>
                <span class="createdDate">
                  Thời gian học
                </span>
              </div>
              <div fxFlex="50" fxLayoutAlign="end center">
                <ng-container *ngIf="lesson.learnTime == 'INF'; else elseTemplate">
                  <span class="time">Vô thời hạn</span>
                </ng-container>
                <ng-template #elseTemplate>
                  <span class="time">
                    {{lesson.interval}} ngày</span>
                  <!-- {{lesson.endDate | date:'dd-MM-yyyy'}}</span> -->
                </ng-template>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="pagination">
        <pagination-controls directionLinks="false" maxSize="5" class="paging my-pagination" autoHide="true" previousLabel="" nextLabel=""
          (pageChange)="pageChanged($event)">
        </pagination-controls>
      </div>
    </div>
  </ng-template>
</div>
