.body {
  background-image: url('../../../../../../assets/images/background/background-curriculum.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.carousel-function {
  width: 100%;
  height: 407px;
  //background-color: #f4f4f4;
  background-image: url('../../../../../../assets/images/banner/bannertiengiang.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.text-intro {
  width: 100%;
  word-wrap: break-word;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 130% */
  color: #555555;
  text-align: center;
}

.title-box {
  //margin-bottom: -75px;
  margin: 45px 0 43px 0;
}

.search-box {
  margin-bottom: 90px;
}

.input-search {
  background: #FFFFFF;
  padding: 10px 10px 10px 15px;
  border: none;

  width: 315px;
  height: 45px;
  border-radius: 6px;
}

.search-button {
  width: 142px;
  height: 45px;
  background: #4CAF50;
  border-radius: 0px 6px 6px 0px;
  color: white;
  border: none;
  cursor: pointer;
}

.title-header {
  text-transform: capitalize;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  /* identical to box height, or 167% */
  text-align: center;
  color: #555555;
}

.list-grades {
  background-color: #4caf50;
  height: 48px;
}

.list-grade-a-row {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  //margin-top: 5px;
}

.row-grade {
  //padding-top: 5px;
  height: 48px;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
}

.content-not-found-box {
  padding-bottom: 90px;
}

.gradeActived {
  background-color: #438145;
  border-radius: 0;
}

.grade-header {
  width: 90%;
  height: 30px;

  &::ng-deep .mat-form-field-infix {
    margin-top: -15px !important;
  }

  &::ng-deep .mat-select-arrow {
    margin-top: -5px !important;
    margin-right: 12px;
  }

  &::ng-deep .mat-form-field {
    margin: 0 !important;
  }
}

.grade-header-select {
  height: 30px;
  width: 100%;
  text-align: start;
  background: #FFFFFF;
  border-radius: 3px;

  &::ng-deep .mat-form-field-flex {
    height: 30px;
    background-color: #ffffff;
    border-radius: 6px;
  }

  &::ng-deep .mat-select-value-text {
    margin-left: 15px;
    margin-right: 15px;
    color: #555555;
    font-size: 16px;
    font-weight: 600;
  }
}

:host::ng-deep .mat-form-field-underline {
  display: none;
}

.padding-left {
  padding-left: 100px;
}

.padding-right {
  padding-right: 100px;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0;
  background-color: transparent;
}

.list-lessons-container {
  margin: 0 auto;
  max-width: 1200px;
}

.mat-card-lesson {
  cursor: pointer;
  box-shadow: none !important;
}

.text-bold {
  font-size: 16px;
  color: #4caf50;
  font-weight: 600;
}

.title-box {
  margin: 45px 0 43px 0;
}

.title {
  font-weight: bold;
  font-size: 36px;
  color: #303030;
  text-transform: uppercase;
}

.title-name {
  font-weight: bold;
  font-size: 16px;
  color: #303030;
}

.icon {
  width: 12px;
  height: auto;
}

.icon-lesson {
  width: 12px;
  height: 12px;
  // color: #4caf50 !important;
  margin-right: 5px;
}

.all-lesson-button {
  margin-bottom: 15px;
  font-size: 20px;
  height: 44px;
  cursor: none;
}

.all-lesson-button {
  width: 100%;
}

.list-lessons {
  margin-bottom: 0px;
}

//lesson
.mat-card-header {
  display: block;
  font-weight: bold;
  padding-bottom: 0px;
}

.lesson-avartar {
  margin-top: 0px;
  border-radius: 6px;
  position: relative;
  height: 150px;
}

.subject-banner {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #ffffff;
  border-radius: 6px;
  padding: 5px 7px;
  font-size: 10px;
  font-weight: 700;
}

.lesson-name {
  font-size: 16px;
  line-height: 22px;
  color: #303030;
  text-align: start;
  font-weight: bold;

  min-height: 50px;
  // cho hiển thị 2 dòng 
  width: 100%; // chiều rộng bằng khối bao nó
  overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
  text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
  -webkit-line-clamp: 2; // số dòng muốn hiển thị
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: pre-wrap;
  padding-top: 5px;

  ::ng-deep .mat-card-header-text {
    margin: 0;
  }
}

.mat-form-field-school {
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-underline {
    display: none;
  }
}

.teacher-box {
  padding: 0px 12px;
}

.teacher-name {
  color: #555555;
  font-size: 14px;
}

.teacher-avartar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.publication-learntime {
  padding: 0px 12px 10px 12px;
}

.createdDate {
  font-size: 11px;
  color: #888888;
  margin-bottom: -5px;
}

.time {
  font-size: 11px;
  color: #888888;
  margin-bottom: -5px;
  margin-left: 5px;
}

.filter-button {
  box-shadow: none;
  height: 44px;
}

.all-lesson-button {
  box-shadow: none;
}

:host::ng-deep .mat-form-field {
  margin-top: 30px;
  padding-right: 2.5%;
  font-size: 16px;
}

:host::ng-deep .mat-form-field-flex {
  height: 44px;
  background-color: #ffffff;
  border-radius: 6px;
  //border: 1px solid #EAEAEA;
}

:host::ng-deep .mat-form-field-infix {
  margin-top: -17px;
}

/* Border */
:host::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

:host::ng-deep .mat-select-value {
  height: 25px;
}

:host::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  color: white;
}

.content-not-found {
  min-height: 70vh;
  margin: 20px 0 0px;

}

// paging

::ng-deep .ngx-pagination .current {
  border-radius: 50%;
  background: #4caf50 !important;
}

:host ::ng-deep .my-pagination {
  $color: gray;

  ul {
    display: flex;
    align-items: center;
  }

  li {
    border-radius: 50%;
    border: white;
    background: white;
    color: $color;
    margin: 10px;
    width: 40px;
    height: 35px;
    padding: 6px 3px 0 0;
    text-align: center;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);

    &.current {
      padding: 9px 3px 0 0 !important;
      color: white;
    }

    // &>a {
    //   padding-left: 8px;
    // }

    &>a span {
      margin-top: 3px;
      color: #CACACA;
    }

    &.pagination-next a::after,
    &.pagination-previous a::before,
    &.pagination-next.disabled::after,
    &.pagination-previous.disabled::before {
      margin-left: 0;
      margin-right: 0;
      color: $color;
    }

    a:hover,
    button:hover {
      border-radius: 50%;
    }
  }
}


// ::ng-deep .ngx-pagination .current {
//   border-radius: 50%;
//   background: #4caf50 !important;
// }

// :host ::ng-deep .my-pagination {
//   $color: lightgray;

//   li {
//     border-radius: 50%;
//     border: lightgray;
//     background: white;
//     color: $color;
//     margin: 5px;

//     &.current {
//       background: primary;
//     }

//     &>a span {
//       color: lightgray;
//     }

//     &.pagination-next a::after,
//     &.pagination-previous a::before,
//     &.pagination-next.disabled::after,
//     &.pagination-previous.disabled::before {
//       margin-left: 0;
//       margin-right: 0;
//       color: $color;
//     }

//     a:hover,
//     button:hover {
//       border-radius: 50%;
//     }
//   }
// }

.pagination {
  margin-bottom: 60px;
  margin-top: 35px;
}


//,obilde
@media (max-width:525px) {

  .carousel-function {
    background-image: url('../../../../../../assets/images/background/background-header-mobile.jpg');
    height: 350px;
    justify-content: center !important;
  }

  :host ::ng-deep .my-pagination ul {
    padding-left: 0;
  }

  :host ::ng-deep .grade-header-select .mat-select-value-text {
    font-size: 15px !important;
    font-weight: normal !important;
  }

  .content-not-found {
    padding: 15px !important;
    height: auto;
    min-height: unset;

    .image-not-found {
      height: auto !important;
      width: 100px !important;
    }
    .title-name{
      font-size: 15px;
    }
  }

  .text-bold{
    font-size: 15px;
  }

  .search-box {
    margin-bottom: 0;
    width: 90%;
  }

  .title-box{
    margin: 0 0 50px;
  }

  .lesson-name{
    min-height: unset;
    font-size: 15px;
  }

  .mat-card-lesson{
    max-width: 340px !important;
  }

  .title-header {
    text-transform: capitalize;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    /* identical to box height, or 167% */
    text-align: center;
    color: #555555;
    font-family: 'Open Sans', sans-serif;
  }

  .text-intro {
    width: 100%;
    word-wrap: break-word;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 130% */
    color: #555555;
    text-align: center;
  }

  .search-button {
    height: 40px;
    background: #4CAF50;
    border-radius: 0px 3px 3px 0px;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;

    .mat-icon {
      color: #FFFFFF;
    }
  }

  .input-search {
    background: #FFFFFF;
    padding: 10px 10px 10px 15px;
    border: none;
    // width: 315px;
    // height: 45px;
    border-radius: 3px 0px 0px 3px;
    font-family: 'Open Sans', sans-serif;
    height: 40px;
    width: 100%;
  }

  .container {
    margin: 0px 20px;
  }

  .padding-left {
    padding-left: 0
  }

  .padding-right {
    padding-right: 0;
  }

  .list-lessons-container {
    margin: 0px 20px;
  }

  .filter-button {
    width: 100%;
    box-shadow: none;
  }

  :host::ng-deep .mat-form-field {
    margin-top: 15px;
    padding-right: 0;
  }

  .mat-form-field-grade {
    margin-top: -35px;
  }

  .mat-form-field-subject {
    margin-top: -35px;
  }

  .mat-form-field-teacher {
    margin-top: -35px;
  }

  .pagination {
    display: inline-block;
    width: 100%;
    text-align: center;
    height: fit-content;
  }

  .image-not-found {
    width: 90%;
    height: auto;
  }

  .suggest {
    margin-left: 10px;
  }

  .suggest-title {
    margin-left: 10px;
  }
}

@media (min-width:526px) and (max-width:768px) {
  .button-filter-mobile {
    margin-bottom: 20px;
  }

  .filter-button {
    width: 164px;
    box-shadow: none;
  }

  .lesson-avartar {
    height: 200px !important;
    object-fit: cover;
  }
}

//,obilde
@media (max-width:1024px) {
  .container {
    margin: 0px 20px;
  }

  .list-lessons-container {
    margin: 0px 7px;
  }

  .title-box {
    margin: 35px 0 33px 0;
  }

  .title {
    font-weight: bold;
    font-size: 36px;
    color: #303030;
    text-transform: uppercase;
  }
}

@media (max-width: 525px) {
  :host ::ng-deep .mat-select-value-text {
    margin-left: 10px !important;
    font-size: 14px !important;
    font-weight: unset !important;
    color: #555555;
  }

  .input-search {
    background: #FFFFFF;
    padding: 10px 10px 10px 15px;
    border: none;
    // width: 315px;
    // height: 45px;
    border-radius: 3px 0px 0px 3px;
    font-family: 'Open Sans', sans-serif;
    height: 40px;
    width: 100%;
  }

  .search-button {
    // width: 54px;
    height: 40px;
    background: #4CAF50;
    border-radius: 0px 3px 3px 0px;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;

    .mat-icon {
      color: #FFFFFF;
    }
  }

  .search-box {
    width: 90%;
  }
}

@media only screen and (min-width: 1441px) {
  .carousel-function {
    width: 100%;
    height: 540px;
    background-image: url('../../../../../../assets/images/banner/bannertiengiang.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
