<div fxLayout="column">
    <!--header-->
    <mat-card class="manage-card apply-css-alpha">
        <mat-card-content>
            <form [formGroup]="testForm" onsubmit="submitForm()">
                <div fxLayout="row">
                    <div fxFlex="65" fxLayout="row" class="input_choose">
                        <label class="label_input" fxFlex="10" fxLayoutAlign="start center">Khối lớp: </label>
                        <!-- <select fxFlex class="matFormFieldSelectBox input_name" [disabled]="true">
                        <option value="1">{{grade.gradeName}}</option>
                      </select> -->
                        <div fxFlex="90">
                            <mat-form-field fxFlex=35 appearance="outline" floatLabel="never">
                                <mat-select [disabled]="true" value="1" class="matFormFieldSelectBox">
                                    <mat-option *ngIf="grade!=null" value="1">{{grade.gradeName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxFlex="5" fxLayout="row"></div>
                            <div fxFlex="65" fxLayout="row" class="input_choose">
                                <label class="label_input" fxLayoutAlign="start center" fxFlex="15">Môn học: </label>
                                <!-- <select fxFlex class="matFormFieldSelectBox input_name" [disabled]="true">
                            <option value="1">{{subject.name}}</option>
                          </select> -->
                                <mat-form-field fxFlex=85 appearance="outline" floatLabel="never">
                                    <mat-select [disabled]="true" value="1" class="matFormFieldSelectBox">
                                        <mat-option *ngIf="subject!=null" value="1">{{subject.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" class="m-t-20">
                    <div fxFlex="65" fxLayout="row" class="input_choose">
                        <label fxLayoutAlign="start center" class="label_combobox label_input" fxFlex="10">Bộ đề:
                        </label>
                        <div fxFlex="none" class="enter_search" fxFlex="90">
                            <mat-form-field appearance="outline">
                                <mat-label>Nhập tên bộ đề thi...</mat-label>
                                <input matInput required type="text" name="search" placeholder="Nhập tên bộ đề thi..."
                                    autocomplete="off" formControlName="testName">
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- <input matInput class="matFormFieldSelectBox" name="search" fxFlex=93.75 fxLayoutAlign="start center"
                      type="text" placeholder="Nhập tên bộ đề thi..." class="input_name" formControlName="testName"> -->
                </div>
            </form>

        </mat-card-content>
    </mat-card>
    <mat-card class="exam apply-css-alpha">
        <mat-card-content>
            <div fxFlex="60" fxLayout="row" fxLayoutGap="8px">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <span *ngIf="createType != 'MAT'" matTooltip="Tạo thêm đề"
                        [ngClass]="{'btn-add-test disable-button': disableAddNewTest,'btn-add-test': !disableAddNewTest}"
                        fxLayout="row" fxLayoutAlign="start start" (click)="addNewTest()" color="primary">
                        <span class="material-icons-outlined">
                            add_circle_outline
                        </span>
                    </span>
                </div>
                <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <label fxLayoutAlign="start center" style="margin-right: 10px">Đề thi </label>
                    <mat-form-field class="drp-test-kit" appearance="outline" floatLabel="never">
                        <mat-select [formControl]="testCtrl" disableOptionCentering class="matFormFieldSelectBox"
                            (selectionChange)="onChangeTestSelected($event.value)">
                            <mat-option *ngFor="let test of listTest" [value]="test.id">
                                {{test.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button *ngIf="createType == 'FIL' && !disableUploadFile" mat-raised-button color="primary"
                        class="btn-upload-file" [ngClass]="{'btn-disabled': disableUploadFile}"
                        matTooltip="Tải lên tệp tin đề thi" (click)="openFile()">
                        <input [disabled]="disableUploadFile" type="file" #file style="display: none;"
                            accept=".doc,.docx" (change)="filesSelectedOnChange($event.target.files)">
                        <span class="material-icons">
                            note_add
                        </span>
                        Tải lên tập tin
                    </button>
                    <!-- chưa xử lý backend để thêm câu hỏi vào đề khi sửa, chỉ tạo mới đề thì mới cho chọn câu hỏi từ NHCH-->
                    <button *ngIf="createType == 'QTB' && !disableUploadFile" matTooltip="Ngân hàng câu hỏi"
                        mat-raised-button color="primary" class="btn-upload-file"
                        [ngClass]="{'btn-disabled': disableUploadFile}" (click)="openQuestionBankDialog()">
                        <input type="file" #file style="display: none;" accept=".doc,.docx"
                            (change)="filesSelectedOnChange($event.target.files)">
                        <mat-icon>account_balance</mat-icon>
                        Ngân hàng câu hỏi
                    </button>
                    <!-- chỉ được xóa đề được tạo từ file và từ NHCH và phải là đề mới tạo -->
                    <button *ngIf="(createType == 'QTB' || createType == 'FIL') && !disableUploadFile" type="button"
                        color="warn" matTooltip="Xóa đề thi" mat-raised-button class="btn-delete-test"
                        (click)="deleteTest()">
                        <span class="material-icons">
                            delete
                        </span>
                    </button>
                </div>
            </div>
            <div fxFlex="40" fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="8px">
                <button type="button" mat-raised-button color="primary" (click)="showStatisticQuestion(this.data)">
                    <mat-icon svgIcon="analytic_white"></mat-icon>
                    Thống kê câu hỏi
                </button>
                <button mat-raised-button color="primary" (click)="hanleGetListQuestionBank()">
                    <mat-icon>visibility</mat-icon>
                    Xem trước
                </button>
            </div>
        </mat-card-content>
    </mat-card>
    <!--content-->
    <div fxLayout="row" fxFlex=100>
        <div fxFlex=40>
            <mat-card fxLayout="column" class="content">
                <mat-card-content class="title_number_question" style="margin-bottom: 0px">
                    <div fxLayout="row">
                        <div fxFlex="70" class="table_question_title">Câu hỏi chọn ra đề</div>
                        <div fxFlex="30" fxLayout="column" fxLayoutAlign="end end">
                            <div fxLayout="row">
                                <label class="label_title"> Số câu hỏi: </label> <label
                                    class="label_title label_total color-green">
                                    {{totalCountCurrentTest}} </label>
                            </div>
                            <div fxLayout="row">
                                <label class="label_title"> Tổng điểm: </label> <label
                                    class="label_title label_total color-red">
                                    {{totalScoreCurrentTest}} </label>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-content *ngIf="this.data.length > 0" class="list-question-wrapper">
                    <div fxLayout="row" fxLayoutAlign="start center" class="flex_row question_header list_header">
                        <div class="check_column" fxFlex="7">
                            <mat-checkbox class="example-margin" [checked]="allComplete"
                                (change)="setAll($event.checked)" [color]="'primary'">
                            </mat-checkbox>
                            <!-- <mat-checkbox class="example-margin">
                </mat-checkbox> -->
                        </div>
                        <div class="content_column ct_column" fxFlex="76">
                            <span> Nội dung</span>
                        </div>
                        <div class="score_column ct_column" fxFlex="10">
                            <span>Điểm</span>
                        </div>
                        <div class="action_column" fxFlex="7">

                        </div>
                    </div>
                    <div fxLayout="row wrap" *ngFor="let question of data; let i = index" fxLayoutAlign="start center">
                        <div *ngIf="question.action != 'DEL'" fxLayout="row wrap" fxLayoutAlign="start center"
                            class="flex_row flex_item" fxFlex="100" [ngClass]="{'question-selected': this.index == i}">
                            <p class="question_type"
                                [ngClass]="{'single': question.format === 'SIG', 'group': question.format === 'GRO'}">
                                {{question.format === 'SIG' ? 'Câu hỏi đơn': 'Câu hỏi chùm'}}
                            </p>
                            <div *ngIf="question.action != 'DEL'" fxFlex="100" fxLayoutAlign="space-between center"
                                [ngClass]="{'question-selected': this.index == i}" class="question_row"
                                (click)="chooseQuestion(question,i)">
                                <div class="block">
                                    <div class="check_column" fxFlex="7">
                                        <mat-checkbox class="example-margin" [(ngModel)]="question.isChecked"
                                            (ngModelChange)="updateAllComplete()" [color]="'primary'">
                                        </mat-checkbox>
                                    </div>
                                    <div class="content_column" fxFlex="76">
                                        <span [innerHTML]=" question.content | safeHtml" class="question"></span>
                                    </div>
                                    <div class="score_column" fxFlex="10">
                                        <input [(ngModel)]="question.score" type="number" class="inputNumber"
                                            (ngModelChange)="updateScore(i, question.score)">
                                    </div>
                                    <div class="action_column" fxFlex="7">
                                        <button mat-icon-button (click)="delete(question)">
                                            <mat-icon svgIcon="trash"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div fxFlex="100" fxLayout="column" *ngIf="question.action != 'DEL'">
                                <div fxFlex="100" fxLayoutAlign="start center"
                                    *ngFor="let child of question.questions; let ic = index">
                                    <div *ngIf="child.action != 'DEL'" fxFlex="100" fxLayoutAlign="space-between "
                                        class="question_row_child" (click)="chooseQuestion(question,i,ic)">
                                        <div class="check_column" fxFlex="7">
                                            <mat-checkbox class="example-margin" [(ngModel)]="child.isChecked"
                                                (ngModelChange)="updateAllComplete()" [color]="'primary'">
                                            </mat-checkbox>
                                        </div>
                                        <div class="content_column" fxFlex="76">
                                            <span [innerHTML]="child.content | safeHtml"></span>
                                        </div>
                                        <div class="score_column" fxFlex="10">
                                            <input [ngModel]="child.score" type="number" class="inputNumber"
                                                (ngModelChange)="updateScore(child.id, $event, question.id)">
                                        </div>
                                        <div class="action_column" fxFlex="7">
                                            <button mat-icon-button (click)="delete(child,i,ic)">
                                                <mat-icon svgIcon="trash"></mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </mat-card-content>
                <mat-card-content fxFlex fxLayout="row" fxLayoutAlign="space-between" *ngIf="this.data.length == 0">
                    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                        <label class="label-tip">Không có câu hỏi nào trong danh sách</label>
                        <label *ngIf="createType == 'FIL'" class="label-tip">Hãy bấm nút Thêm từ tệp tin để tải lên câu
                            hỏi
                            của bạn.</label>
                        <label *ngIf="createType == 'MAT'" class="label-tip">Hãy bấm nút Ma trận đề bên để thiết lập cấu
                            hình và lấy đề tự động.</label>
                        <label *ngIf="createType == 'QTB'" class="label-tip">Hãy bấm nút Ngân hàng câu hỏi để lấy câu
                            hỏi.</label>
                    </div>
                </mat-card-content>
                <div fxFlex *ngIf="this.data.length > 0" fxLayout="row" fxLayoutAlign="start end"
                    class="m-t-15 btn-action-group">
                    <div fxLayoutAlign="start start">
                        <button class="bg-danger btn_delete_selected" mat-raised-button (click)="deleteSelected()">
                            Xóa đã chọn
                        </button>
                    </div>
                    <div>
                        <button mat-raised-button color="primary" class="btn_update_score"
                            (click)="openUpdateScoreDialog()">
                            Cập nhật điểm
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex=60>
            <mat-card class="content">
                <mat-card-content fxFlex fxLayout="column">
                    <!-- <mat-card-title>Nội dung câu hỏi</mat-card-title>
                    <hr> -->
                    <app-edit-question *ngIf="question != null" [data]="question" [childIndex]="childIndex"
                        [configUpload]="configUpload" (outputData)="updateQuestion($event)">
                    </app-edit-question>
                    <div fxFlex *ngIf="question == null" fxFlex fxLayout="column" fxLayoutAlign="center center">
                        <label class="label-tip">Chọn một câu hỏi từ danh sách để chỉnh sửa</label>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="actions" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button mat-raised-button class="button-cancel" (click)="cancel()">Hủy</button>
        <button mat-raised-button color="primary" (click)="save()" [disabled]="testForm.invalid">Lưu</button>
    </div>
</div>