.general-question {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin-top: 0.5rem;
    padding: 1rem;
}

.input-content {
    height: fit-content;
}
.container-create-question {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin-top: 0.5rem;
    padding: 1rem;
}
.input-question-number {
    height: 29px;
    width: 54px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.choose-question {
    margin-left: 1rem;
    width: 50%;
}

.type-of-question {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin-top: 0.5rem;
    // max-width: 40%;
}
.type-of-question1 {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin-top: 0.5rem;
    max-width: 100%;
}
.content {
    text-align: center;
    padding: 0.5rem;
}
mat-form-field {
    width: 80%;
}
.max-width-40 {
    width: 40%;
}

.combobox_selection {
    width: 146px;
    height: 30px;
    border: 0.5px solid #ccc;
    box-sizing: border-box;
    border-radius: 2px;
    color: #555555;
    border-radius: 4px;
}

.container {
    font-size: 13px !important;
    color: #555555;
}
.btn-add-subquestion,
.btn-remove-subquestion {
    height: auto;
}
.combobox_selection {
    width: 200px !important;
}

.isCloneQuestion .table_question_title {
    font-size: 13px;
    color: #555555;
    opacity: 0.98;
    font-weight: normal;
    margin-bottom: 6px;
    ::ng-deep ckeditor .cke_chrome {
        border-radius: 2px;
    }
}

.isClone {
    display: none !important;
}

:host ::ng-deep .type-level-wrapper {
    margin-bottom: 10px;
}

:host ::ng-deep .choose-child-question-wrapper {
    margin: 10px 0px;
}
:host::ng-deep .table_question_title {
    color: #303030;
    // text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0;
}

:host ::ng-deep .group-question .matFormFieldSelectBox {
    height: 34px;
    box-sizing: border-box;
    border: 0.5px solid #acacac;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 0 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #555555;
    display: unset !important;
}
:host ::ng-deep .group-question .mat-form-field-underline {
    display: none;
}

:host ::ng-deep .group-question .mat-form-field-infix {
    border-top: none;
}

:host ::ng-deep .group-question .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

:host ::ng-deep .group-question .mat-select-panel-wrap {
    position: relative;
    top: 26px;
}

:host ::ng-deep .group-question .mat-select-panel-wrap .mat-select-panel {
    min-width: calc(100% + 12px) !important;
    transform: translateX(4px) !important;
}
:host ::ng-deep .group-question .mat-form-field-wrapper {
    width: 100% !important;
    padding-bottom: 0px !important;
}

.button_quanity{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .btn-add-subquestion{
        width: unset;
    }
    .input-question-number{
        margin: 0 10px;
    }
}