<div class="combobox_area apply-css-alpha">
  <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20">
    <div fxLayoutAlign="start center" class="m-r-30">
      <label for="" class="label_config_lesson min-width-left">Hình thức đăng ký:</label>
      <div>
        <app-select *ngIf="isReady" [defaultOption]="optionDefaultShareSetting"
          (outputOptionSelected)="onSelectShareSetting($event)" [isDisable]="useCase==useCaseEnum.approval"
          [options]="optionsRegister" [placeHolder]="'Hình thức đăng ký'">
        </app-select>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20">
    <div fxLayoutAlign="start center" class="m-r-30">
      <label for="" class="label_config_lesson min-width-left">Thang đánh giá:</label>
      <div>
        <app-select *ngIf="isReady" [defaultOption]="optionDefaultAssessmentLevelGroup"
          (outputOptionSelected)="onSelectAssessmentLevelGroup($event)" [isDisable]="useCase==useCaseEnum.approval"
          [options]="listAssessmentLevelGroup" [placeHolder]="'Chọn thang đánh giá'">
        </app-select>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20">
    <label class="label_config_lesson min-width-left">Quy luật nội dung</label>
    <mat-radio-group *ngIf="isReady" [(ngModel)]="newLessonConfig.formOfLearn"
      [disabled]="useCase==useCaseEnum.approval">
      <mat-radio-button class="min-width-left" [value]="contentRule.sequentially">Tuần tự</mat-radio-button>
      <mat-radio-button [value]="contentRule.free">Tự do</mat-radio-button>
    </mat-radio-group>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20">
    <label class="label_config_lesson min-width-left">Thời gian học</label>
    <div>
      <mat-radio-group *ngIf="isReady" [(ngModel)]="newLessonConfig.learnTime"
        [disabled]="useCase==useCaseEnum.approval">
        <mat-radio-button [value]="learnTime.infinite" class="mg-b-10 min-width-left">Vô thời hạn</mat-radio-button>
        <mat-radio-button [value]="learnTime.determined" (change)="onSelectDetermined($event)" class="mg-b-10">Xác định
          thời gian</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div *ngIf="isReady && newLessonConfig.learnTime==learnTime.determined" fxLayout="row" fxLayoutAlign="start start"
    class="row_flex m-b-20">
    <div class="min-width-left"></div>
    <div class="min-width-left"></div>
    <div style="width: 55px;" class="learn-time" fxLayoutAlign="start center">
      <div fxLayout="column">
        <input [formControl]="learnTimeControl" type="number" id="myNumber" [disabled]="useCase==useCaseEnum.approval"
        min="1" [(ngModel)]="newLessonConfig.interval" />
      <mat-error *ngIf="learnTimeControl.hasError('required')">Thời gian học không được để trống</mat-error>
      <mat-error *ngIf="learnTimeControl.hasError('min')">Thời gian học phải lớn hơn 1 ngày</mat-error>
      <mat-error *ngIf="learnTimeControl.hasError('pattern') && newLessonConfig.interval > 1">Thời gian học phải là số nguyên</mat-error>
      </div>
    </div>
    <label class="label_config_lesson" id="dayLabel" fxFlex="4" fxLayoutAlign="start center">Ngày</label>
    <mat-radio-group *ngIf="isReady" [(ngModel)]="newLessonConfig.startTimeLine"
      [disabled]="useCase==useCaseEnum.approval" fxLayout="column" fxLayoutAlign="start start" class="start_time_line">
      <mat-radio-button [value]="startTimeLine.start" class="mg-b-10">Từ ngày bắt đầu</mat-radio-button>
      <mat-radio-button [value]="startTimeLine.publish" class="mg-b-10">Từ ngày phát hành</mat-radio-button>
      <mat-radio-button [value]="startTimeLine.register" class="mg-b-10">Từ ngày ghi danh</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
