.label_config_lesson {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  color: #555555;
  opacity: 0.98;
  margin-left: 10px;
}

:host ::ng-deep .mat-radio-label-content {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #555555;
}

#dayLabel {
  margin-top: 5px;
}

.start_time_line {
  margin-top: 5px;
}

.mg-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-l-80 {
  margin-left: 80px;
}

.m-l-10 {
  margin-left: 10px;
}

#myNumber {
  width: 54px;
  height: 29px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}


:host ::ng-deep .mat-radio-button .mat-radio-ripple {
  height: 40px;
  /*double of your required circle radius*/
  width: 40px;
  /*double of your required circle radius*/
  left: calc(50% - 20px);
  /*'10px'-same as your required circle radius*/
  top: calc(50% - 20px);
  /*'10px'-same as your required circle radius*/
}


.min-width-left {
  min-width: 165px;
}

:host ::ng-deep .learn-time .mat-error {
  width: 125px;
  font-size: 13px;
}
