<div class="apply-css-alpha m-t-30">
            <label class="label-title">{{title}}</label>
    <mat-card *ngIf="isReady" class="manage-card">
        <mat-card-content>
            <label class="label-title" *ngIf="isNotStep">Hiện chưa có chi tiết lộ trình</label>
            <ul class="timeline" *ngFor="let detailLearningPath of listDetailLearningPath; let i = index">
                <li [ngClass]="{'timeline-inverted': i%2==1}" [disabled]="detailLearningPath.disabled">
                    <div class="timeline-badge success"
                        [ngClass]="{'notstart': detailLearningPath.startDate > dateNow, 
                        'pulse': (detailLearningPath.startDate <= dateNow && detailLearningPath.endDate >= dateNow) 
                        || (detailLearningPath.startDate<=checkDateNull && detailLearningPath.endDate<=checkDateNull)}">
                        {{i+1}}
                    </div>
                    <div class="timeline-panel" (click)="onlick(detailLearningPath)">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">{{detailLearningPath.name}}</h4>
                            <p fxLayout="row" fxLayoutAlign="space-between center">
                                <small class="text-muted" fxFlex="45">
                                    <i class="fa fa-clock-o"></i> Thời gian bắt đầu</small>
                                <small class="text-muted" fxFlex="45">
                                    <i class="fa fa-clock-o"></i> Thời gian kết thúc</small>
                            </p>
                            <p fxLayout="row" fxLayoutAlign="space-between center" *ngIf="!detailLearningPath.hideDate">
                                <small class="text-muted-time-start" fxFlex="45">{{detailLearningPath.startDate |
                                    date:'dd/MM/yyyy'}}</small>
                                <small class="text-muted-time-end" fxFlex="45">{{detailLearningPath.endDate |
                                    date:'dd/MM/yyyy'}}</small>
                            </p>
                            <p fxLayout="row" fxLayoutAlign="space-between center" *ngIf="detailLearningPath.hideDate">
                                <small class="text-muted-time-start" fxFlex="45">Không giới hạn</small>
                                <small class="text-muted-time-end" fxFlex="45">Không giới hạn</small>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>

