.content-group-question {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin-top: 0.5rem;
    padding: 1rem;
}
:host::ng-deep .table_question_title {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #303030;
    opacity: 0.98;
}
:host::ng-deep .block-title {
    padding-top: 0px;
    padding-bottom: 8px;
}

:host::ng-deep .lbl-answer {
    padding-top: 10px;
}
:host::ng-deep .btn-add-fake-answer {
    margin: 10px 0px;
}
:host::ng-deep .display-none {
    display: none;
}

:host::ng-deep .question-content {
    min-height: 340px;
}

// select box
:host::ng-deep .input_select {
    width: 100%;
    height: 30px;
}

:host::ng-deep .matFormFieldSelectBox {
    height: 31px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 0 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #555555;
    opacity: 0.98;
}

:host::ng-deep .mat-form-field-underline {
    display: none;
}

:host::ng-deep .mat-form-field-infix {
    border-top: none;
}

:host::ng-deep .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

:host::ng-deep .mat-select-panel-wrap {
    position: relative;
    top: 26px;
}

:host::ng-deep .mat-select-panel-wrap .mat-select-panel {
    min-width: calc(100% + 12px) !important;
    transform: translateX(4px) !important;
}

:host::ng-deep .mat-form-field-wrapper {
    width: 100% !important;
    padding-bottom: 0px !important;
}
:host::ng-deep .type-level-wrapper {
    margin-bottom: 8px;
}
