<div>

  <div *ngIf="dataQuestionView != null">
    <div *ngIf="dataQuestionView.format== 'SIG'">
      <app-edit-single-choice-question *ngIf="dataQuestionView.type=='SIG'" [dataQuestion]="dataQuestionView" [configUpload]="configUpload"
        (onReady)="onLoadedQuestion($event)" (questionOutput)="updateQuestion($event)">
      </app-edit-single-choice-question>

      <app-edit-multiple-choice-question *ngIf="dataQuestionView.type=='MTC'" [dataQuestion]="dataQuestionView" [configUpload]="configUpload"
        (onReady)="onLoadedQuestion($event)" (questionOutput)="updateQuestion($event)">
      </app-edit-multiple-choice-question>

      <app-edit-under-line-question *ngIf="dataQuestionView.type=='UDL'" [dataQuestion]="dataQuestionView" [configUpload]="configUpload"
        (questionOutput)="updateQuestion($event)">
      </app-edit-under-line-question>

      <app-edit-true-false-question *ngIf="dataQuestionView.type=='TFQ'" [dataQuestion]="dataQuestionView" [configUpload]="configUpload"
        (questionOutput)="updateQuestion($event)">
      </app-edit-true-false-question>

      <app-edit-true-false-clause-question *ngIf="dataQuestionView.type=='TFC'" [dataQuestion]="dataQuestionView" [configUpload]="configUpload"
        (questionOutput)="updateQuestion($event)">
      </app-edit-true-false-clause-question>

      <app-edit-missing-word1-question *ngIf="dataQuestionView.type=='FB1'" [dataQuestion]="dataQuestionView" [configUpload]="configUpload"
        (questionOutput)="updateQuestion($event)">
      </app-edit-missing-word1-question>

      <app-edit-missing-word2-question *ngIf="dataQuestionView.type=='FB2'" [dataQuestion]="dataQuestionView" [configUpload]="configUpload"
        (questionOutput)="updateQuestion($event)">
      </app-edit-missing-word2-question>

      <app-edit-matching-question *ngIf="dataQuestionView.type=='MCQ'" [dataQuestion]="dataQuestionView" [configUpload]="configUpload"
        (questionOutput)="updateQuestion($event)">
      </app-edit-matching-question>

      <app-edit-essay-question *ngIf="dataQuestionView.type=='ESS'" [dataQuestion]="dataQuestionView" [configUpload]="configUpload"
        (questionOutput)="updateQuestion($event)">
      </app-edit-essay-question>
    </div>
    <div *ngIf="dataQuestionView.format=='GRO'">
      <app-edit-group-question [dataQuestion]="dataQuestionView" [childIndex]="childIndexView" [configUpload]="configUpload"
        (questionOutput)="updateQuestion($event)">
      </app-edit-group-question>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <mat-spinner></mat-spinner>
</ng-template>