.end-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px;

  button {
    width: 102px;
    height: 34px;
  }
}


.statistic-button {
  height: 31px;
  max-height: 31px;
}

.decription-classroom {
  border: 1px solid #ccc;
  height: 88px;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 8px;
}

.label_combobox {
  color: #555555 !important;
  font-size: 14px;
}

.label-title {
  color: #303030;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}

.label_alert {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
}
.color-brown{
  color:brown
}
