<div class="apply-css-alpha">
  <app-spinner2></app-spinner2>
  <form [formGroup]="createInteractive" (keydown)="keyDownFunction($event)">
    <mat-card class="manage-card" style="padding: 0px!important">
      <mat-card-content>
        <div class="content-area">
          <div class="label-title">{{onlineClassesName}}</div>
          <div fxLayout="row" fxLayoutAlign="start center" class="m-b-30">
            <label fxFlex="10" class="label_combobox">Tên lớp:</label>
            <mat-form-field fxFlex="90" appearance="outline">
              <mat-label>Tên lớp(*)</mat-label>
              <input matInput fxLayoutAlign="start center" formControlName="name" type="text" placeholder="Tên lớp..."
                maxlength="255">
              <mat-error *ngIf="name.hasError('required')">Vui lòng nhập tên lớp</mat-error>
              <mat-error *ngIf="name.hasError('maxlength')">Tên lớp không quá 255 ký tự</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" class="m-b-30">
            <label fxFlex="10" fxLayoutAlign="start center" class="label_combobox">Thời gian: </label>
            <div fxFlex="20" fxLayoutAlign="start center" class="m-r-30">
              <mat-form-field appearance="outline">
                <mat-label>Từ ngày</mat-label>
                <input matInput [ngxMatDatetimePicker]="picker" [min]="minDate" formControlName="startDate"
                  (dateInput)="onDateLearningPathChange($event)" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
                <mat-error *ngIf="getValidateStartDateErrors()">
                  Ngày bắt đầu không được lớn hơn ngày kết thúc (*)
                </mat-error>
                <mat-error *ngIf="getValidateStartDateRequiredErrors()">
                  Ngày bắt đầu không được trống (*)
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="20" fxLayoutAlign="start center" class="combobox_action">
              <mat-form-field appearance="outline">
                <mat-label>Đến ngày</mat-label>
                <input matInput [ngxMatDatetimePicker]="pickerEndDate" formControlName="finishDate" [min]="minDate"
                  (dateInput)="onDateLearningPathChange($event)" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #pickerEndDate>
                </ngx-mat-datetime-picker>
                <mat-error *ngIf="getValidateEndDateErrors()">
                  Ngày kết thúc không được nhỏ hơn ngày bắt đầu(*)
                </mat-error>
                <mat-error *ngIf="getValidateEndDateRequiredErrors()">
                  Ngày kết thúc không được để trống (*)
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- <div fxLayout="row" fxLayoutAlign="start start" class="m-b-30">
            <label fxFlex="10" class="label_combobox">Mô tả</label>
            <textarea fxFlex="90" fxLayoutAlign="start center" class="decription-classroom" matInput
              formControlName="description" placeholder="" style="height: 300px!important;"></textarea>
          </div> -->
          <div fxLayout="row" fxLayoutAlign="start center" class="m-b-30">
            <label fxFlex="10" class="label_combobox"></label>
            <mat-form-field fxFlex="70" appearance="outline">
              <mat-label>Đường liên kết tới lớp học(*)</mat-label>
              <!-- <input matInput fxLayoutAlign="start center" formControlName="joinURL" type="text"
                placeholder="Đường liên kết tới lớp học(*)" autocomplete="off"> -->
              <input matInput fxLayoutAlign="start center" formControlName="joinURL" type="text"
                placeholder="Đường liên kết tới lớp học(*)" autocomplete="off">
              <mat-error *ngIf="joinURL.hasError('required')">Vui lòng nhập đường liên kết</mat-error>
              <mat-error *ngIf="joinURL.hasError('pattern')">Đường liên kết không hợp lệ</mat-error>
            </mat-form-field>
            <div fxFlex="20" fxLayoutAlign="end center">
              <button mat-raised-button color="primary" (click)="onCopyLinkHandleClickClasses()">
                <span class="material-icons">
                  content_copy
                </span>
                Sao chép liên kết
              </button>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="">
            <label fxFlex="10" class="label_combobox"></label>
            <label fxFlex="90" class="label_alert">
              <span *ngIf="typeClass=='GMT'">Lưu ý: Đường liên kết chỉ nhận từ trang <a href="https://meet.google.com/"
                target="_blank"><span class="color-brown">meet.google.com</span></a></span>
              <span *ngIf="typeClass=='ZOM'">Lưu ý: Đường liên kết chỉ nhận từ <span class="color-brown">Zoom</span></span>
            </label>
          </div>
        </div>
      </mat-card-content>


    </mat-card>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="end-button">
      <button mat-raised-button class="button-cancel" type="button" (click)="onCancelButtonHandleClick()">
        Hủy
      </button>
      <button mat-raised-button color="primary" type="button" (click)="onSubmit()">
        Lưu
      </button>
    </div>
  </form>
</div>
