<ngx-spinner>

</ngx-spinner>
<mat-card class="container-add-school">
    <form [formGroup]="addSchoolFromFile" (ngSubmit)="onSubmitHandleClick()">
        <div class="row-add-school">
            <p class="row-add-school_header">Thêm tập tin trường học</p>
        </div>
        <div class="row-add-school">
            <div class="row-add-school_label_text row-add-school_lable_header">
                <button mat-icon-button aria-label="Tải file mẫu" (click)="getTemplate()">
                    <mat-icon svgIcon="add-school-from-file" class="icon"></mat-icon>
                </button>
                Tải danh sách mẫu
            </div>

            <ngx-dropzone (change)="uploadFile($event)"
                accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                <ngx-dropzone-label>
                    <span class="material-icons primary file-icon">
                        folder
                    </span>
                    <div class="row-add-school_lable_header">
                        Kéo thả hoặc tải lên tập tin trường học
                    </div>
                    <p *ngIf="!file" class="no-file-choose-text">Không có tệp nào được chọn</p>
                </ngx-dropzone-label>
                <ngx-dropzone-preview *ngIf="file != undefined" [removable]="true" (removed)="onRemove(file)">
                    <ngx-dropzone-label><span>{{ file.name }}</span></ngx-dropzone-label>
                </ngx-dropzone-preview>
            </ngx-dropzone>
            <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20" class="errors-msg"
                *ngIf="isHasFile == false">
                <div fxFlex="100" fxLayoutAlign="end center">
                    <div *ngIf="isHasFile == false" class="row-add-school_label_text text-danger text-header">
                        Vui lòng chọn file (*)</div>
                </div>
            </div>
        </div>
        <div group-button>
            <div fxLayout="row" fxLayoutAlign="center center" class="row-flex">
                <button type="button" mat-stroked-button class="btn_back m-r-10"
                    (click)="onBackToManagerHandleClick()">VỀ TRANG QUẢN LÝ</button>

                <button mat-raised-button type="submit" color="primary" class="btn_send m-l-10">GỬI</button>
            </div>
        </div>

        <div class="row-add-school_note row-add-school_label_text row-add-school_lable_header">

            <span class="text-danger text-header" *ngIf="isMaxColumn && ishasData==true && isSuccess == false"> File bạn
                tải
                lên đã vượt quá
                200 trường </span>
            <span class="text-danger text-header" *ngIf="ishasData == false && isSuccess == false"> File bạn tải lên
                đang
                trống
            </span>
            <span class="text-danger text-header" *ngIf="isSizeExceeded == true && isSuccess == false">
                File bạn tải lên vượt quá 500MB</span>
        </div>
    </form>
</mat-card>

<div [hidden]="!isLoadTableData">
    <mat-card class="container-information-data">
        <div class="row-information">
            <div class="row-information_header-text text-header"> THÔNG TIN DỮ LIỆU </div>
            <div class="text-danger text-header" style="text-align:center;line-height: 40px;">Dữ liệu người dùng lỗi. Vui lòng kiểm tra dữ liệu và thao tác lại file</div>
            <div class="row-information_table">
                <div class="row-information_table_left">
                    <div class="row-information_table_header text-header">Thông tin</div>
                    <div class="row-information_table_left_total-up-content">Tổng số trường tải lên</div>
                    <div class="row-information_table_left_check-valid-content">Số trường tải lên kiểm tra hợp lệ</div>
                    <div class="row-information_table_left_check-invalid-content">Số trường tải lên kiểm tra không hợp
                        lệ</div>
                </div>
                <div class="row-information_table_right">
                    <div class="row-information_table_header text-header">Kết quả</div>
                    <div class="row-information_table_right_total-up-content">{{totalUpCount}}</div>
                    <div class="row-information_table_right_check-valid-content text-header text-success">{{totalUpCount
                        -
                        errorCount}}
                    </div>
                    <div class="row-information_table_right_check-invalid-content text-header text-danger">
                        {{errorCount}}
                    </div>
                </div>
            </div>
        </div>
    </mat-card>

    <mat-card class="error-list">
        <div class="row-information">
            <table mat-table [dataSource]="dataSource">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef fxFlex="10" fxLayoutAlign="start center"> STT
                        </th>
                        <td mat-cell *matCellDef="let element;let i = index" fxFlex="10" fxLayoutAlign="start center">
                            {{i+1}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="column">
                        <th mat-header-cell *matHeaderCellDef fxFlex="10" fxLayoutAlign="start center"> HÀNG
                        </th>
                        <td mat-cell *matCellDef="let element" fxFlex="10" fxLayoutAlign="start center">
                            {{element.errorResult[0].columnIndex}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef fxFlex="15" fxLayoutAlign="start center"> MÃ TRƯỜNG
                        </th>
                        <td mat-cell *matCellDef="let element" fxFlex="15" fxLayoutAlign="start center">
                            {{element.rowData.code}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef fxFlex="35" fxLayoutAlign="start center"> TÊN TRƯỜNG
                        </th>
                        <td mat-cell *matCellDef="let element;let i = index" fxFlex="35" fxLayoutAlign="start center">
                            {{element.rowData.name}}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="infoError">
                        <th mat-header-cell *matHeaderCellDef fxFlex="30" fxLayoutAlign="start center">THÔNG TIN LỖI
                        </th>
                        <td mat-cell *matCellDef="let element" fxFlex="30" fxLayoutAlign="start center">
                            <div class="row-flex-direction">
                                <div *ngFor="let item of element.errorResult" class="text-danger text-header">
                                    <span *ngIf="item.reasonType == 'NUL'">[{{item.columnError}}] không được để trống
                                    </span>
                                    <span *ngIf="item.reasonType == 'MAL'">[{{item.columnError}}] đã vượt quá kí tự
                                    </span>
                                    <span *ngIf="item.reasonType == 'IES'">[{{item.columnError}}] đã tồn tại </span>
                                    <span *ngIf="item.reasonType == 'BAF'">[{{item.columnError}}] sai định dạng </span>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">Đã tải lên thành công</td>
                    </tr>
                </div>
            </table>
            <mat-paginator [length]="errorCount" [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
        </div>
    </mat-card>
</div>