<mat-card class="online-class-room" [ngClass]="{'dark': isDarkMode}">
    <div class="online-class-room_content">
        <div fxLayoutAlign="center center">
            <div class="img-area">
                <img src="../../../../../assets/features/learner-lessons/images/vitual-class-room.png" alt="">
            </div>
        </div>
        <p class="online-class-room_content_title" *ngIf="isStartMeeting && !isEndMeeting"> Lớp học đã bắt đầu</p>
        <p class="online-class-room_content_title" *ngIf="!isStartMeeting && !isEndMeeting"> Lớp học chưa bắt đầu</p>
        <p class="online-class-room_content_title over-time" *ngIf="isEndMeeting"> Lớp học đã kết thúc</p>
        <p class="online-class-room_content_detail"> Thời gian bắt đầu: <span class="details">{{staredDate |
                date:'yyyy-MM-dd HH:mm'}}</span> </p>
        <p class="online-class-room_content_detail">Thời gian dự kiến kết thúc: <span class="details">{{endDate|
                date:'yyyy-MM-dd HH:mm'}}</span>
        </p>
        <p class="online-class-room_content_detail">Giáo viên: <span class="details">{{userName}}</span></p>
        <button mat-raised-button class="online-class-room_content_start-test text-white"
            (click)="onStartClassroomHandler()">
            Bắt đầu vào học
        </button>

        <div class="full-screen">
            <!-- TODO : LAMNV11 Hidden to demo Date : 2021/25/05 -->
            <!-- <mat-icon color="white" svgIcon="fullscreen">
            </mat-icon> -->
        </div>
    </div>
    <app-progress-player [hideSetting]="true" [hideAction]="true" [isHide]="true" [tag]="'doc'"></app-progress-player>
</mat-card>