.online-class-room {
  margin: 0 auto;
  // height: calc(100vh - 86px);
  // padding: 20px !important;
  height: calc(100vh - 115px);
  // box-shadow: none !important;

  &.dark{
    background: #161616 !important;
    border-radius: 0;
    
    .online-class-room_content{
      height: calc(100% - 88px);
      width: calc(100% - 40px);
    }
  }

  .online-class-room_content {
    background: radial-gradient(61.01% 230.39% at 50% 50%, rgba(240, 240, 240, 0) 0%, #f4f4f4 100%);
    border-radius: 12px;
    // padding-top: 24px;
    // text-align: center;
    position: relative;
    height: calc(100% - 88px);
    width: calc(100% - 40px);
    // margin: 0 auto;
    border: 2px solid #E9E9E9 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    
    .over-time{
      color: #DA251D !important;
    }
    .end-meeting{
      background: #DA251D !important;
    }
    .details{
      font-weight: bold;
      color: #4CAF50;
    }

    .img-area {
      // margin-top: 45px;
      // margin-bottom: 35px;
      img{
        height: 13vw;
      }
    }

    .online-class-room_content_title {
      text-transform: uppercase;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 22px;
      text-align: center;
      color: #4CAF50;
    }

    .online-class-room_content_detail {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #555555;

      .online-class-room_content_time {
        font-weight: 600;
      }
    }

    .online-class-room_content_start-test {
      width: 171px;
      height: 35px;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      // margin-top: 44px;
      background: #4CAF50;
      color: #f4f4f4;
    }
  }
}

.mat-progress-bar {
  height: 30px;
}

.block-cusor {
  background: #DA251D !important;
  cursor: not-allowed;
}

.pointer-cusor {
  cursor: pointer;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.full-screen {
  position: absolute;
  bottom: 8px;
  right: 12px;
}

@media (max-width: 1400px){
  .online-class-room .online-class-room_content {
    .online-class-room_content_title{
      font-size: 20px;
      margin: 20px 0 10px;
    }

    .online-class-room_content_detail{
      margin-top: 0;
    }
  }
}

@media (max-height: 660px){
  .online-class-room .online-class-room_content {
    .online-class-room_content_title {
      font-size: 16px !important;
      line-height: 16px !important;
      margin: 10px auto;
    }

    .online-class-room_content_detail {
      font-size: 14px !important;
      line-height: 14px !important;
      margin:5px auto;
      .detail {
        font-size: 14px !important;
      line-height: 14px !important;
      margin:5px auto;
      }
    }
  }
}

@media screen and (max-width: 525px) {
  .online-class-room{
    height: calc(100vh - 200px);
  }
}