<div *ngIf="testInfoStudent.userContentTestId && testInfoStudent.isCompleted" class="content">
  <span class="material-icons-outlined back-button" matTooltip="Thoát" [mat-dialog-close]>
    logout
  </span>
  <p class="test-self-created_content_title">Bài tập</p>

  <div class="result-table">
    <div class="result-background">
      <div class="top-label">Kết quả</div>
      <div class="score">
        <span *ngIf="!testInfoStudent.realScore"> {{testInfoStudent.quizScore}}/{{testInfoStudent.totalScore}}
        </span>
        <span *ngIf="testInfoStudent.realScore"> {{testInfoStudent.realScore}}/{{testInfoStudent.totalScore}}
        </span>
      </div>
      <div class="bottom-label">Điểm</div>
    </div>
    <div class="note-label" *ngIf="!testInfoStudent.realScore">(Điểm tạm thời)</div>
  </div>
  <div class="info">
    <div fxLayout="row" class="info-item">
      <div fxFlex="40" fxLayoutAlign="end center" class="left-label">
        <span>Thuộc nội dung: </span>
      </div>
      <div fxFlex="60" fxLayoutAlign="start center">
        <span class="content-name"> {{testInfoStudent.name}}</span>
      </div>
    </div>
    <div fxLayout="row" class="info-item">
      <div fxFlex="40" fxLayoutAlign="end center" class="left-label">
        <span>Trả lời đúng:</span>
      </div>
      <div fxFlex="60" fxLayoutAlign="start center" class="right-label">
        <span class="total-question">{{testInfoStudent.correctNum}}/{{testInfoStudent.numberOfQuestion}}</span>
        Câu
      </div>
    </div>
    <div fxLayout="row" class="info-item">
      <div fxFlex="40" fxLayoutAlign="end center" class="left-label">
        <span>Điểm trắc nghiệm: </span>
      </div>
      <div fxFlex="60" fxLayoutAlign="start center" class="right-label">
        <span class="result-score">{{testInfoStudent.quizScore}}/{{testInfoStudent.totalQuizScore}}</span>
        Điểm
      </div>
    </div>
    <div fxLayout="row" class="info-item">
      <div fxFlex="40" fxLayoutAlign="end center" class="left-label">
        <span>Điểm tự luận: </span>
      </div>
      <div fxFlex="60" fxLayoutAlign="start center" class="right-label">
        <span *ngIf="testInfoStudent.realScore"
          class="result-score">{{testInfoStudent.realScore - testInfoStudent.quizScore}}/{{testInfoStudent.totalScore - 0}}</span>
        <span *ngIf="!testInfoStudent.realScore" class="result-score">0/{{testInfoStudent.totalScore - 0}}</span>
        Điểm
      </div>
    </div>
    <div fxLayout="row" class="info-item">
      <div fxFlex="40" fxLayoutAlign="end center" class="left-label">
        <span>Thời gian hoàn thành: </span>
      </div>
      <div fxFlex="60" fxLayoutAlign="start center" class="right-label">
        <span class="text-green"><b>{{testInfoStudent.endDate|date :'HH:mm'}}</b></span>
        <span class="date"> &nbsp; {{ testInfoStudent.endDate|date :'dd/MM/yyyy'}}</span>
      </div>
    </div>
  </div>
  <div class="bottom-info">
    <div>
      <div *ngIf="testInfoStudent.statusOver!='NOT' && testInfoStudent.statusOver!=null" class="view-result-label"
        [mat-dialog-close]="'VIE'">Xem
        lại bài làm</div>
    </div>

    <div *ngIf="testInfoStudent.statusOver != 'PAS' && canToRedo(testInfoStudent)" class="bottom-label">
      <span>Bạn vẫn còn {{testInfoStudent.numberOfRemainingAttempts}} lần thực hiện lại.</span>
      <div>Bạn có muốn ghi nhận điểm vừa đạt để hoàn thành nội dung không?</div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <button mat-raised-button class="test-self-created_content_start-test" [mat-dialog-close]="'RED'">Làm
          lại</button>
        <button mat-raised-button class="test-self-created_content_start-test" [mat-dialog-close]="'COF'">Ghi nhận
          điểm</button>
      </div>
    </div>
  </div>
</div>
