.title-box {
  margin-bottom: 35px;
}

.message-box {
  margin-bottom: 15px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;

  opacity: 0.98;
  color: #DA251D;
}

.icon {
  color: #555555;
  cursor: pointer;
}

.dangerous-icon {
  height: 16px;
  margin-right: 7px;
}

.object {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #4CAF50;
  opacity: 0.98;
}

.message {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #555555;
  opacity: 0.98;
}

.detail-box {
  border: 1px dashed #FFB5B1;
  border-radius: 6px;
  background-color: #FFF8F8;
  padding: 26px 20px;
  margin-bottom: 15px;
}

.text-delete {
  color: #DA251D;
  font-weight: 600;
}

.warn {
  margin-bottom: 15px;
}

.warn-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  color: #555555;
  opacity: 0.98;
}

.input {
  border: 0.5px solid #ACACAC;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ACACAC;
  padding: 10px;
}

.delete-button {
  background: linear-gradient(0deg, #DA251D, #DA251D), #DA251D;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color:white
}
