<div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="title-box">
    <div>
      <mat-icon svgIcon='dangerous-icon' class="dangerous-icon"></mat-icon>
      <span class="title">{{inputData.title}}</span>
    </div>
    <mat-icon class="icon" [mat-dialog-close]>close</mat-icon>
  </div>
  <div class="message-box">
    <span class="message" *ngIf="!inputData?.isRemove">Bạn có muốn xóa <span class="object">{{inputData.name}}</span>
      không?</span>
    <span class="message" *ngIf="inputData?.isRemove && inputData?.isRemove==true">Bạn có muốn gỡ <span
        class="object">{{inputData.name}}</span> không?</span>
  </div>

  <div class="detail-box" *ngIf="inputData.message != null && inputData.message!=''">
    <span class="detail-message">{{inputData.message}}</span>
  </div>

  <div class="warn">
    <span class="warn-text">
      Để tiếp tục vui lòng nhập
      <span class="text-delete" *ngIf="!inputData?.isRemove">'DONGY'</span>
      <span class="text-delete" *ngIf="inputData?.isRemove && inputData?.isRemove==true">'DONGY'</span>
      vào ô bên dưới
    </span>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <input [(ngModel)]="txtXoa" type="text" fxFlex="90" class="input" (keydown.enter)="submit()">
    <button fxLayoutAlign="center center" class="delete-button" fxFlex="10" type="submit" (click)="submit()">
      <mat-icon svgIcon="delete-icon" *ngIf="!inputData?.isRemove"></mat-icon>
      <mat-icon *ngIf="inputData?.isRemove && inputData?.isRemove==true">highlight_off</mat-icon>
    </button>
  </div>
</div>
