<div class="edit-content-container apply-css-alpha">
  <mat-card class="manage-card">
    <learn-step-header-lesson *ngIf="isReady" [stepHeaderCtrl]="stepHeaderControl"></learn-step-header-lesson>
  </mat-card>
  <div>
    <mat-card class="manage-card" style="padding: 0px !important;">
      <learn-lesson-name-header [lessonName]="lessonName"></learn-lesson-name-header>
      <mat-tab-group mat-align-tabs="start" class="m-t-20 p-b-20">
        <mat-tab label="Nội dung">
          <div class="content_lesson">
            <mat-card-content class="m-b-0" *ngIf="hasAddLessonPermission || hasEditLessonPermission">
              <div fxLayout="row" fxLayoutGap="20px">
                <button mat-raised-button color="primary" (click)="openPartDialog()">
                  <span class="material-icons">
                    add_circle_outline
                  </span>
                  Thêm tiết học
                </button>
                <button mat-raised-button [matMenuTriggerFor]="menu" color="primary" style="position:relative"
                  (click)="handleShowHideAddContent()">
                  <span class="material-icons">
                    add_circle_outline
                  </span>
                  Thêm nội dung
                </button>
                <mat-menu #menu yPosition="below">
                  <a mat-menu-item [routerLink]="['/dashboard/learn/lesson/',lessonId,'add-detail-content']">Nội
                    dung</a>
                  <div class="border_menu_item"></div>
                  <a mat-menu-item [routerLink]="['/dashboard/learn/lesson/',lessonId,'add-video-content']">Video</a>
                  <div class="border_menu_item"></div>
                  <a mat-menu-item [routerLink]="['/dashboard/learn/lesson/',lessonId,'add-sound-content']">Âm
                    thanh</a>
                  <div class="border_menu_item"></div>
                  <a mat-menu-item [routerLink]="['/dashboard/learn/lesson/',lessonId,'add-document-content']">Tài
                    liệu</a>
                  <div class="border_menu_item"></div>
                  <a mat-menu-item [routerLink]="['/dashboard/learn/lesson/',lessonId,'add-scorm-content']">Scorm</a>
                  <div class="border_menu_item"></div>
                  <a mat-menu-item [routerLink]="['/dashboard/learn/lesson/',lessonId,'add-iframe-content']">Iframe</a>
                  <div class="border_menu_item"></div>
                  <a mat-menu-item [routerLink]="['/dashboard/learn/lesson/',lessonId,'add-test']">Bài kiểm
                    tra</a>
                  <!-- <div class="border_menu_item"></div>
                  <a mat-menu-item>Bài tiểu luận</a> -->
                  <div class="border_menu_item"></div>
                  <a mat-menu-item (click)="onAddOnlineClassroom()">Lớp
                    học
                    tương tác</a>
                </mat-menu>
                <!-- TODO : LAMNV11 Hidden to demo Date : 2021/25/05 -->

                <!-- <button mat-raised-button color="primary" class="button-sm mr_2 mbt_2" style="display:none">
                  <mat-icon svgIcon="graduate" class="content_lesson_top_action">
                  </mat-icon>
                  Hiển thị như học sinh
                </button> -->
                <!-- TODO : LAMNV11 Hidden to demo Date : 2021/25/05 -->
                <!--<button mat-raised-button color="primary" class="button-sm mbt_2">
                   <mat-icon svgIcon="sort" class="content_lesson_top_action"></mat-icon>
                  Sắp xếp
                </button> -->
              </div>

            </mat-card-content>
            <div class="content-lesson-part">
              <div fxLayout="row" class="header-table">
                <div fxFlex="40" class="name-column" fxLayoutAlign="start center">
                  Tên
                </div>
                <div fxFlex="40" class="type-column" fxLayoutAlign="start center">
                  Loại nội dung
                </div>
                <div fxFlex="20" class="function-column" fxLayoutAlign="end center">
                  Chức năng
                </div>
              </div>
              <mat-expansion-panel *ngFor="let contentGroup of listContentGroup?.contentGroups" hideToggle
                [ngClass]="{'expansion-disabled': contentGroup.contents.length == 0}"
                [disabled]="contentGroup.contents.length == 0">
                <mat-expansion-panel-header #panelH *ngIf=" contentGroup?.id < 1" (click)="panelH._toggle()">
                  <mat-panel-title fxLayout="row" fxLayoutAlign="space-between center" style="margin-right: 0px;">
                    <div fxFlex="40" fxLayoutAlign="start center" class="content-name">
                      {{contentGroup.contents[0]?.name}}
                    </div>
                    <div fxFlex="40" fxLayoutAlign="start center">
                      <span class="content-type pure-content" *ngIf="contentGroup.contents[0]?.typesOfContent == 'TEX'">
                        Nội dung thuần
                      </span>
                      <span class="content-type" *ngIf="contentGroup.contents[0]?.typesOfContent == 'VID'"
                        style="background: linear-gradient(0deg, #DA251D, #DA251D), #DA251D;">
                        Video
                      </span>
                      <span class="content-type" *ngIf="contentGroup.contents[0]?.typesOfContent == 'SOU'"
                        style="background-color: #68C9FF">
                        Âm thanh
                      </span>
                      <span class="content-type" *ngIf="contentGroup.contents[0]?.typesOfContent == 'DOC'"
                        style="background-color: #F9CA51">
                        Tài liệu
                      </span>
                      <span class="content-type" *ngIf="contentGroup.contents[0]?.typesOfContent == 'IFR'"
                        style="background-color: #4C85DA">
                        Iframe
                      </span>
                      <span class="content-type" *ngIf="contentGroup.contents[0]?.typesOfContent == 'SCO'"
                        style="background-color: #2B4C6C">
                        Scorm
                      </span>
                      <span class="content-type" *ngIf="contentGroup.contents[0]?.typesOfContent == 'TES'"
                        style="background-color: #6F2A8C">
                        Bài kiểm tra
                      </span>
                      <span class="content-type" *ngIf="contentGroup.contents[0]?.typesOfContent == 'VIR'"
                        style="background-color: #3285F7">
                        Lớp học tương tác
                      </span>
                    </div>
                    <!-- <div fxFlex="20" fxLayoutAlign="end center"></div> -->
                    <div fxFlex="20" fxLayoutAlign="end center" class="p-r-25">
                      <mat-icon matTooltip="Chỉnh sửa" svgIcon="edit-black" class="content_icon__action"
                        *ngIf="hasEditLessonPermission == true || hasAddLessonPermission == true"
                        (click)="editContent(contentGroup.contents[0]?.id)">
                      </mat-icon>
                      <mat-icon matTooltip="Xóa"
                        *ngIf="hasEditLessonPermission == true || hasAddLessonPermission == true" svgIcon="trash-black"
                        class="content_icon__action" (click)="deleteContent(contentGroup.contents[0])">
                      </mat-icon>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel-header *ngIf="contentGroup?.id > 0">
                  <mat-panel-title fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-icon svgIcon="accordion" class="material-icons open m-l-15"></mat-icon>
                  </mat-panel-title>
                  <div fxFlex="50" fxLayoutAlign="start center" class="content-group-name"> {{contentGroup.name}}
                  </div>
                  <div fxFlex="50" fxLayoutAlign="end center" class="p-r-25">
                    <mat-icon matTooltip="Chỉnh sửa" svgIcon="edit-black" class="content_icon__action"
                      *ngIf="hasEditLessonPermission == true || hasAddLessonPermission == true"
                      (click)="editGroupContent(contentGroup.id)">
                    </mat-icon>
                    <mat-icon matTooltip="Xóa" *ngIf="hasEditLessonPermission == true || hasAddLessonPermission == true"
                      svgIcon="trash-black" class="content_icon__action" (click)="deleteGroupContent(contentGroup)">
                    </mat-icon>
                  </div>
                </mat-expansion-panel-header>
                <div *ngIf="contentGroup?.id > 0 && contentGroup?.contents.length > 0">
                  <div *ngFor="let element of contentGroup?.contents">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="contents-render">
                      <p fxFlex="40" class="child-content-name" fxLayoutAlign="start center">
                        {{element.name}}
                      </p>
                      <div fxFlex="40" fxLayoutAlign="start center">
                        <span class="content-type" *ngIf="element?.typesOfContent == 'TEX'"
                          style="background-color: #4CAF50;">
                          Nội dung thuần
                        </span>
                        <span class="content-type" *ngIf="element?.typesOfContent == 'VID'"
                          style="background: linear-gradient(0deg, #DA251D, #DA251D), #DA251D;">
                          Video
                        </span>
                        <span class="content-type" *ngIf="element?.typesOfContent == 'SOU'"
                          style="background-color: #68C9FF">
                          Âm thanh
                        </span>
                        <span class="content-type" *ngIf="element?.typesOfContent == 'DOC'"
                          style="background-color: #F9CA51">
                          Tài liệu
                        </span>
                        <span class="content-type" *ngIf="element?.typesOfContent == 'IFR'"
                          style="background-color: #4C85DA">
                          Iframe
                        </span>
                        <span class="content-type" *ngIf="element?.typesOfContent == 'SCO'"
                          style="background-color: #2B4C6C">
                          Scorm
                        </span>
                        <span class="content-type" *ngIf="element?.typesOfContent == 'TES'"
                          style="background-color: #6F2A8C">
                          Bài kiểm tra
                        </span>
                        <span class="content-type" *ngIf="element?.typesOfContent == 'VIR'"
                          style="background-color: #3285F7">
                          Lớp học tương tác
                        </span>
                      </div>
                      <div fxFlex="20" fxLayoutAlign="end center" class="child-content-function">
                        <mat-icon matTooltip="Chỉnh sửa" (click)="editContent(element.id)" class="content_icon__action"
                          *ngIf="hasEditLessonPermission == true || hasAddLessonPermission == true"
                          svgIcon="edit-black">
                        </mat-icon>
                        <mat-icon matTooltip="Xóa" (click)="deleteContent(element)" class="content_icon__action"
                          *ngIf="hasEditLessonPermission == true || hasAddLessonPermission == true"
                          svgIcon="trash-black" class="content_icon__action"></mat-icon>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
              <div
                *ngIf="listContentGroup==undefined || listContentGroup?.contentGroups==undefined || listContentGroup?.contentGroups?.length <= 0">
                <div class="mat-cell background-no-content">
                  <div class="background-no-content-img">

                  </div>
                  <div class="background-no-content-info">
                    <p>Chưa có nội dung nào được tạo</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Tài liệu tham khảo">
          <div>
            <mat-card-content>
              <button mat-raised-button color="primary" (click)="openAddReferenceDialog()"
                *ngIf="hasAddLessonPermission || hasEditLessonPermission">
                <span class="material-icons">
                  add_circle_outline
                </span>
                Thêm tài liệu tham khảo
              </button>
            </mat-card-content>

            <div class="example-container">
              <div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              </div>
              <div class="example-table-container">
                <table mat-table [dataSource]="referenceData">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <ng-container matColumnDef="stt">
                      <th mat-header-cell *matHeaderCellDef> STT
                      </th>
                      <td mat-cell *matCellDef="let element;let i = index">
                        {{i+1}}
                      </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Tên
                        tài liệu
                      </th>
                      <td mat-cell *matCellDef="let element" class="mat-main-column">
                        {{element.name}}
                      </td>

                    </ng-container>

                    <ng-container matColumnDef="function">
                      <th mat-header-cell *matHeaderCellDef> Chức
                        năng
                      </th>
                      <td mat-cell *matCellDef="let element">
                        <mat-icon matTooltip="Chỉnh sửa" (click)='onEditReferenceHandler(element.id)'
                          class="content_icon__action"
                          *ngIf="hasEditLessonPermission == true || hasAddLessonPermission == true"
                          svgIcon="edit-black">
                        </mat-icon>
                        <mat-icon matTooltip="Xóa" (click)='onRemoveReferenceHandler(element)'
                          *ngIf="hasEditLessonPermission == true || hasAddLessonPermission == true"
                          class="content_icon__action" svgIcon="trash-black" class="icon-delete">
                        </mat-icon>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td colSpan="4" class="mat-cell background-no-content" colspan="4">
                        <div class="background-no-content-img"></div>
                        <div class="background-no-content-info">
                          <p>Không có tài liệu nào</p>
                        </div>
                      </td>
                    </tr>
                  </div>
                </table>
              </div>
            </div>
            <!-- <mat-paginator [length]="lessonData?.items?.length" [pageSizeOptions]="[5, 10, 25, 100]">
                  </mat-paginator> -->
          </div>
        </mat-tab>
      </mat-tab-group>

    </mat-card>

    <div class="end-button">
      <button mat-raised-button [routerLink]="['/dashboard/learn/list-lesson']" class="button-cancel"
        (click)="onClickReturn()">
        Về trang quản lí
      </button>
      <button mat-raised-button color="primary" (click)="onClickNext()">
        Tiếp tục
      </button>
    </div>
  </div>

</div>