.header-supervison {
  padding-top: 1rem;
  background-color: #eeeeee;
}

.container-supervison {
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
}

.content-supervison:first-child {
  margin-left: 0px;
}

.status-container {
  margin-top: 1rem;
}

.status {
  height: 100px;
  width: 200px;
  color: white
}

.status-pendding {
  background-color: #dc3545;
}

.status-connect {
  background-color: #198754;
}

.status-disconnect {
  background-color: #495057;
}

.status-warning {
  background-color: #FFDA6A;
}
.pagging{
  margin-top: 1rem;
}
.content-supervison__pagging{
  width: 100%;
  flex-wrap: wrap;
}
.title{
  margin-left: 1rem;
}