<div class="header-supervison" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
  <app-loading-screen></app-loading-screen>
  <div>
    <mat-form-field>
      <mat-label>Lựa chọn trạng thái:</mat-label>
      <mat-select [(ngModel)]="selectedStatus">
        <mat-option value="all">Tất cả trạng thái</mat-option>
        <mat-option value="connected">Đã kết nối</mat-option>
        <mat-option value="noconnect">Chưa kết nối</mat-option>
        <mat-option value="banned">Đã đình chỉ</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Lựa chọn số thí sinh trên trang:</mat-label>
      <mat-select [(ngModel)]="selectedUserPerPage" (selectionChange)="resetCurentPage()">
        <mat-option [value]=0>Tất cả trên 1 trang</mat-option>
        <mat-option [value]=2>20 thí sinh</mat-option>
        <mat-option [value]=4>40 thí sinh</mat-option>
        <mat-option [value]=6>60 thí sinh</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- <button mat-flat-button color="primary">Chọn</button> -->
  <div>
    <mat-form-field>
      <mat-label>Lựa chọn cách hiển thị trang:</mat-label>
      <mat-select [(ngModel)]="watchingPage" (selectionChange)="WatchingPage($event)">
        <mat-option value="detail">Xem chi tiết</mat-option>
        <mat-option value="general">Xem tổng quát</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Nhập tên thí sinh</mat-label>
      <input matInput type="text" [(ngModel)]="name">
      <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button style="margin-left: 1rem;" mat-flat-button color="primary">
      <mat-icon>search</mat-icon>Tìm
    </button>
  </div>
</div>
<!--trạng thai-->
<div class="status-container" fxLayout=row fxLayoutGap=10px fxLayoutAlign="center center">
  <div class="status status-connect" fxLayoutAlign="center center">
    <mat-icon>person</mat-icon> Kết nối
  </div>
  <div class="status status-disconnect" fxLayoutAlign="center center">
    <mat-icon>person</mat-icon> Chưa kết nối
  </div>
  <div class="status status-pendding" fxLayoutAlign="center center">
    <mat-icon>person</mat-icon> Đã đình chỉ
  </div>
  <div class="status status-warning" fxLayoutAlign="center center">
    <mat-icon>person</mat-icon> Cảnh cáo vi phạm
  </div>
</div>

<div class="container-supervison" fxLayout="row" fxLayoutAlign="center center" *ngIf="watchingPage=='detail'"
  fxLayoutGap=10px>
  <ng-container *ngIf="selectedUserPerPage==0; else elseBlock">
    <div class="content-supervison" *ngFor="let user of userExamData">
      <app-user-exam-infor [userExam]="user"></app-user-exam-infor>
    </div>
  </ng-container>
  <ng-template #elseBlock>
    <div fxLayout="column">
      <div class="content-supervison__pagging" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=10px>
        <div *ngFor="let user of userExamData| paginate: { itemsPerPage: selectedUserPerPage,currentPage:currentPage }">
          <app-user-exam-infor [userExam]="user"></app-user-exam-infor>
        </div>
      </div>
      <div class="pagging" fxLayout="row" fxLayoutAlign="center center">
        <pagination-controls previousLabel="" nextLabel="" (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
  </ng-template>
</div>

<div class="container-supervison" fxLayout="row" fxLayoutAlign="center center" *ngIf="watchingPage=='general'"
  fxLayoutGap=10px>
  <ng-container *ngIf="selectedUserPerPage==0; else elseBlock">
    <div class="content-supervison" *ngFor="let user of userExamData" [contextMenu]="basicMenu"
      [contextMenuSubject]="user" title={{user.fullname}}>
      <app-user-exam-info-small [userExam]="user"></app-user-exam-info-small>
      <context-menu #basicMenu>
        <ng-template contextMenuItem (execute)="ShowDetail(user)">
          <mat-icon style="color:#0d6efd">info</mat-icon> <span class="title">Thông tin chi tiết</span>
        </ng-template>
        <ng-template contextMenuItem>
          <mat-icon style="color:#198754">cached</mat-icon> <span class="title">Cấp lại đề</span>
        </ng-template>
        <ng-template contextMenuItem>
          <mat-icon style="color:#0dcaf0">notifications_active</mat-icon> <span class="title">Yêu cầu hỗ trợ</span>
        </ng-template>
        <ng-template contextMenuItem (execute)="HandlingViolations()">
          <mat-icon style="color:#dc3545">report_problem</mat-icon> <span class="title">Xử lý vi phạm</span>
        </ng-template>
      </context-menu>
    </div>
  </ng-container>
  <ng-template #elseBlock>
    <div fxLayout="column">
      <div class="content-supervison__pagging" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=10px>
        <div *ngFor="let user of userExamData| paginate: { itemsPerPage: selectedUserPerPage,currentPage:currentPage }">
          <app-user-exam-info-small [userExam]="user"></app-user-exam-info-small>
        </div>
      </div>
      <div class="pagging" fxLayout="row" fxLayoutAlign="center center">
        <pagination-controls previousLabel="" nextLabel="" (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
  </ng-template>
</div>
