<div class="question_basic">
  <div [hidden]="isResult==true" *ngIf="parentId == undefined">
    <button mat-flat-button class="mark-question" [ngClass]="{'mark-question-active': isFlag}" (click)="isMark()">Đánh
      dấu
      <mat-icon [ngClass]="{'color-red': isFlag === true}">flag</mat-icon>
    </button>
  </div>


  <div [ngClass]="{'question': isResult == false || isResult == undefined}">
    <mat-card>
      <mat-card-content>
        <!--xema lại kết quá-->
        <div *ngIf="isResult == true && isPublicAnswer" class="show-result"
          [ngClass]="{'true': isTrueQuestion == true, 'false': isTrueQuestion == false}">
          <!-- <span>Kết quả trả lời: </span> -->
          <ng-container *ngIf="isTrueQuestion==true; else elset">
            <span>Trả lời đúng</span>
          </ng-container>
          <ng-template #elset>
            <span>Trả lời sai</span>
          </ng-template>
        </div>
        <div class="question-title" *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock">
          <span [MathJax]="dataQuestion.content"></span>
        </div>
        <ng-template #elseBlock>
          <div class="question-title">
            <span [innerHTML]="dataQuestion.content | safeHtml"></span>
          </div>
        </ng-template>

        <ng-container *ngIf="(isResult == false || isResult == undefined); else elseTemplate">
          <span class="example-list-section">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              [(ngModel)]="selectedAnswer" (change)="changeSelectAnswer($event,dataQuestion.answers[0].id)">
              <mat-radio-button color="primary" class="example-radio-button answer-label" [value]="1">A. Đúng
              </mat-radio-button>
              <mat-radio-button color="primary" class="example-radio-button answer-label" [value]="0">B. Sai
              </mat-radio-button>
            </mat-radio-group>
          </span>
        </ng-container>
        <ng-template #elseTemplate>
          <div fxLayout=row [ngClass]="{'m-l-20': selectedAnswer!=undefined}">
            <div fxLayout=column>
              <mat-radio-group [disabled]=true class="example-radio-group" [(ngModel)]="selectedAnswer">
                <mat-radio-button color="primary" class="example-radio-button" [value]="1">
                  <span class="answer-label">
                    <span
                      [ngClass]="{'correct': dataQuestion.answers[0].content=='ans-true' && isPublicAnswer}">
                      A.
                    </span>
                    Đúng</span>
                  <div class="result-icon" *ngIf="isPublicAnswer">
                    <mat-icon *ngIf="dataQuestion.answers[0].content=='ans-true' && selectedAnswer==1"
                      class="check-true">done</mat-icon>
                    <mat-icon *ngIf="dataQuestion.answers[0].content=='ans-false' && selectedAnswer==1"
                      class="wrong-answer">close</mat-icon>
                  </div>

                </mat-radio-button>
                <mat-radio-button color="primary" class="example-radio-button" [value]="0">
                  <span class="answer-label">
                    <span
                      [ngClass]="{'correct': dataQuestion.answers[0].content=='ans-false' && isPublicAnswer}">
                      B.
                    </span>
                    Sai</span>
                  <div class="result-icon" *ngIf="isPublicAnswer">
                    <mat-icon *ngIf="dataQuestion.answers[0].content=='ans-false' && selectedAnswer==0"
                      class="check-true">done</mat-icon>
                    <mat-icon *ngIf="dataQuestion.answers[0].content=='ans-true' && selectedAnswer==0"
                      class="wrong-answer">close</mat-icon>
                  </div>
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
