<div class="header" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"  fxLayoutGap.md="10px" >
    <div class="header-content" fxFlex="20%" fxLayout="column">
      <h3>Dạng câu hỏi</h3>
      <mat-radio-group [(ngModel)]="checkQuestionFormat"
          class="radio-group" fxLayout="row" [disabled]="dataQuestion!=null">
          <mat-radio-button value="single"   (change)="GetValue($event)" checked>Câu đơn</mat-radio-button>
          <mat-radio-button value="group" (change)="GetValue($event)" >Câu chùm</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="header-content" fxFlex="20%" fxLayout="column">
      <h3>Chủ đề</h3>
      <mat-form-field>
        <mat-label>Lựa chọn chủ đề</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="header-content" fxFlex="20%" fxLayout="column">
      <h3>Tự động gửi duyệt</h3>
      <mat-checkbox class="example-margin center" (change)="IsAutoApproval($event)" [checked]="isShuffle==true"></mat-checkbox>
    </div>
</div>

<!-- 
    <div fxLayout="row" fxLayout.xs="column" fxFlexFill fxHide.yba >
      <div fxFlex="33.33">
        <mat-form-field >
          <mat-label>Chọn loại câu hỏi</mat-label>
          <mat-select [value]="selectedKindOfQuestion" [(ngModel)]="selectedKindOfQuestion" >
            <mat-optgroup *ngFor="let group of questionGroups" [label]="group.name"
                          [disabled]="group.disabled">
              <mat-option *ngFor="let question of group.question"  [value]="question.value">
                {{question.viewValue}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="33.33">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="selectedTypeOfQuestion"  [value]="selectedTypeOfQuestion" fxLayout="row" style="height: 50px;">
          <mat-radio-button value="1"fxFlex="50" class="center">Câu đơn</mat-radio-button>
          <mat-radio-button value="2" fxFlex="50" class="center">Câu chùm</mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxFlex="16.66">
     
        <mat-form-field >
          <mat-label>Chọn mức độ</mat-label>
          <mat-select [(value)]="selectedLevel">
            <mat-option *ngFor="let level of levels" [value]="level.value">
              {{level.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="16.66">
        <mat-form-field>
          <mat-label>Chọn mức độ</mat-label>
             <mat-select >
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="16.66">
        <mat-checkbox class="example-margin center" >Tự động gửi duyệt</mat-checkbox>
      </div>
    </div>

    <app-content-create-question *ngIf="selectedKindOfQuestion=='9'"></app-content-create-question>
 <ng-container *ngIf="selectedTypeOfQuestion=='1'">  
  <app-create-single-choice *ngIf="selectedKindOfQuestion=='1'"></app-create-single-choice>

</ng-container>  
 <ng-container *ngIf="selectedTypeOfQuestion=='2'">
    <div fxLayout="row" >
      
      <div fxFlex="50" class="m-10">
        <app-content-create-question ></app-content-create-question>
      </div>
      <div fxFlex="50" class="m-10">
            <app-group-single-choice *ngIf="selectedKindOfQuestion=='1'"></app-group-single-choice>
            <!-- <app-answer-multiple-choice *ngIf="selectedKindOfQuestion=='2'"></app-answer-multiple-choice> -->
            <!-- <app-answer-true-false *ngIf="selectedKindOfQuestion=='4'"></app-answer-true-false>
            <app-answer-true-false-clause *ngIf="selectedKindOfQuestion=='5'"></app-answer-true-false-clause>
      </div>
    </div>
 </ng-container> -->


  
   