.row-flex {
  display: flex;
  padding: 10px 20px;
}

//qsb
.label_combobox {
  color: #555555 !important;
}

.combobox_action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 6px;
}

.input-infor {
  height: 29px;
  color: #555555;
  font-family: "Open Sans", sans-serif;
  padding: 8px;
  border: 0.5px solid #555555;
  border-radius: 2px;
}

.combobox_selection {
  width: 146px;
  height: 30px;
  border: 0.5px solid #555555;
  box-sizing: border-box;
  border-radius: 2px;
  color: #555555;
}

.statistic-button {
  height: 30px;
  max-height: 30px;
}

.group-question {
  font-weight: bold;
}
