<mat-card>

  <!-- Tên bài giảng -->
  <div>
    <p style="font-weight: bold; font-size: 16px; padding-left: 20px; padding-top:20px;">{{lessonName}}</p>
  </div>
  <hr />

  <!-- Loại nội dung -->
  <div style="text-align: center;">
    <p style="font-weight: bold; font-size: 16px;">Thêm nội dung web</p>
  </div>

  <!-- Các điều kiện tạo nội dung -->
  <div>

    <!-- Tên nội dung -->
    <div fxLayout="row" class="row-flex">
      <label fxFlex="15" style=" padding-top:5px; font-size: 13px;"> Tên nội dung(*): </label>
      <mat-form-field class="example-full-width" appearance="outline">
        <input type="text" matInput [formControl]="nameContentControl" placeholder="Tên nội dung..."
          [(ngModel)]="nameContent" maxlength="255">
        <mat-error *ngIf="nameContentControl.hasError('required')">
          Bạn chưa nhập nội dung
        </mat-error>
        <mat-error *ngIf="nameContentControl.hasError('maxlength')">
          Tên nội dung không vượt quá 255 ký tự
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Chọn tiết học -->
    <div fxLayout="row" class="row-flex">
      <label fxFlex="15" style="padding-top: 5px; font-size: 13px; border-color: #555555;">
        Tiết học: </label>
      <!-- <app-select [options]="group_content" [placeHolder]="'Chọn tiết'"
        (outputOptionSelected)="onGroupContentChanged($event)"></app-select> -->
      <mat-form-field fxFlex="20" appearance="outline">
        <mat-select [formControl]="groupContentControl" #singleSelect [placeholder]="'Chọn tiết'">
          <mat-option>
            <ngx-mat-select-search [formControl]="groupContentFilterControl" placeholderLabel="Nhập tiết"
              noEntriesFoundLabel="Không tìm thấy tiết"></ngx-mat-select-search>
          </mat-option>

          <mat-option *ngFor="let groupContent of filteredGroupContents | async" [value]="groupContent">
            {{groupContent.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Địa chỉ Web (URL) -->
    <div fxLayout="row" class="row-flex ">
      <label fxFlex="15" style="padding-top: 5px; font-size: 13px;"> Địa chỉ Web(URL):
      </label>

      <!-- Link -->
      <mat-form-field appearance="outline" fxFlex="77">
        <input matInput #inputlink type="text" (keyup.enter)="addWeb(inputlink.value)" [(ngModel)]="linkWeb">
      </mat-form-field>
      <div fxFlex=1.8></div>

      <!-- Button [Load] -->
      <button fxFlex="6.2" mat-raised-button color="primary" class="button-sm" fxLayoutAlign="center" mat-button
        (click)="addWeb(inputlink.value)">Load</button>
    </div>

    <!-- Note format file -->
    <div fxLayout="row" class="row-flex" style="margin-top: -15px;">
      <div fxFlex="15"></div>
      <label style=" margin-top:-20px; padding-left: 5px; color:#7E8485; font-size: 13px;">
        Use URLs from: Youtube, Vimeo, Wikipedia, Slideshare
      </label>
    </div>

    <!-- Chi tiết nội dung -->
    <div fxLayout="row" class="row-flex">
      <label fxFlex="15" style="font-size: 13px;">
        Chi tiết nội dung: </label>
      <!-- Iframe -->
      <div class="add-document-content iframe" fxFlex="100%" *ngIf="showWeb">
        <iframe width="100%" height="350px" [src]="linkWeb | safeUrl"></iframe>
      </div>
      <!-- CkEditor -->
      <div class="add-detail-content ck-editor" fxFlex="100%">
        <ckeditor [config]="configCkeditor" [(ngModel)]="contentCkEditor"></ckeditor>
      </div>
    </div>

    <!-- Điều kiện hoàn thành nội dung -->
    <div fxLayout="row" class="row-flex" id="condition-complete-content">
      <label fxFlex="15" style="padding-top: 3px; font-size: 13px;"> Hoàn thành nội dung khi: </label>
      <mat-radio-group aria-label="Completed lesson when" fxFlex="85" fxLayout="row"
        [(ngModel)]="conditionsForCompletion">
        <mat-radio-button [value]="'BUT'" fxFlex="21" style="padding-top: 3px; font-size: 13px;">Nhấn nút hoàn
          thành</mat-radio-button>
        <mat-radio-button [value]="'ANS'" fxFlex="20" style="padding-top: 3px; font-size: 13px;">Trả lời câu hỏi
        </mat-radio-button>
        <mat-radio-button [value]="'INT'" fxFlex="20" style="padding-top: 3px; font-size: 13px;">Sau khoảng thời
          gian</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Trả lời câu hỏi -->
    <div id="answer_question" *ngIf="conditionsForCompletion=='ANS'">
      <hr style="margin: 0px 20px;">

      <!-- qsb -->
      <div fxLayout="row" class="row-flex">
        <div fxFlex=40>
          <mat-card>
            <mat-card-content>
              <mat-card-title>Số câu hỏi chọn ra đề</mat-card-title>
            </mat-card-content>

            <table mat-table [dataSource]="questions$" *ngIf="showListQuestion">
              <ng-container matColumnDef="check">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox class="example-margin" [checked]="allComplete" (change)="setAll($event.checked)"
                    [indeterminate]="someComplete()" [color]="'primary'">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox class="example-margin" [(ngModel)]="element.isChecked"
                    (ngModelChange)="updateAllComplete()" [color]="'primary'">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="content">
                <th mat-header-cell *matHeaderCellDef> Nội dung </th>
                <td mat-cell *matCellDef="let element" (click)="chooseQuestion(element)">
                  <span [innerHTML]=element.content></span>
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button (click)="delete(element)">
                    <mat-icon svgIcon="trash"></mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-card-content>
              <div class="button_group">
                <div fxLayout="row" fxLayoutAlign="start start" class="row_flex">
                  <div>
                    <button mat-raised-button color="primary" class="btn_add" (click)="addQuestionFromFile()">
                      <input type="file" #fileQuestion style="display: none;" (change)="handle($event)">
                      <span class="material-icons">file_upload</span>
                      Thêm từ tệp tin
                    </button>
                    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" class="m-r-20">
                      <span class="material-icons">
                        download
                      </span>
                      Tải tệp tin
                    </button>
                    <mat-menu #menu="matMenu">
                      <a [href]="getLinkTemplate(1)" target="_blank">
                        <button mat-menu-item>
                          <span>Tải tập tin mẫu</span>
                        </button>
                      </a>
            
                      <a [href]="getLinkTemplate(2)" target="_blank">
                      <button mat-menu-item>
                        <span>Tải tập tin hướng dẫn</span>
                      </button>
                      </a>
                    </mat-menu>
                  </div>
                  <div class="btn_bottom">
                    <button mat-raised-button color="danger" (click)="deleteSelected()">
                      <mat-icon svgIcon="deleteboderblack" class="icon-filter"></mat-icon>
                      Xóa đã chọn
                    </button>
                  </div>
                </div>
              </div>
            </mat-card-content>

          </mat-card>
        </div>
        <div fxFlex=60>
          <mat-card>
            <mat-card-content fxLayout="column">
              <all-questions [data]="question" (outputData)="updateQuestion($event)"></all-questions>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

    </div>

    <!-- Sau khoảng thời gian -->
    <div id="interval" *ngIf="conditionsForCompletion=='INT'">
      <div fxLayout="row" class="row-flex">
        <label fxFlex="15" style="padding-top: 3px; font-size: 13px;"> Sau khoảng thời gian (*):
        </label>

        <!-- Phút -->
        <mat-form-field appearance="outline" fxFlex="12">
          <input type="number" matInput [formControl]="minutesControl" [(ngModel)]="minutes" min="0">
          <mat-error *ngIf="minutesControl.hasError('required')">
            Bạn chưa nhập phút
          </mat-error>
          <mat-error *ngIf="nameContentControl.hasError('min')">
            Phút không được nhỏ hơn 0
          </mat-error>
        </mat-form-field>
        <p style="margin:2px 30px 0px 5px; font-size: 13px;">phút</p>


        <!-- Giây -->
        <mat-form-field appearance="outline" fxFlex="12">
          <input type="number" matInput [formControl]="secondsControl" [(ngModel)]="seconds" min="0">
          <mat-error *ngIf="secondsControl.hasError('required')">
            Bạn chưa nhập giây
          </mat-error>
          <mat-error *ngIf="nameContentControl.hasError('min')">
            Giây không được nhỏ hơn 0
          </mat-error>
        </mat-form-field>
        <p style="margin:2px 0px 0px 5px;font-size: 13px;">giây</p>
      </div>
    </div>


  </div>
</mat-card>

<!-- Button footer -->
<div mat-dialog-actions class="flex_justify_center">

  <!-- Button [Hủy] -->
  <button mat-raised-button class="button-lg mr_2 mbt_2 mt_2 bg-danger text-white" (click)="onCancelClick()"
    style="width:103px;">
    Hủy
  </button>

  <!-- Button [Lưu] -->
  <button mat-raised-button color="primary" class="button-lg mbt_2 mt_2" style="width:103px;" (click)="onSaveClick()">
    Lưu
  </button>
</div>