.label_combobox {
  color: #555555 !important;
}

form {
  margin-top: 18px;
}

.type_question_choose {
  .group_op .op{
    margin-right: 15px;
  }

  .example-section {
    text-align: right;
  }
}

.combobox_action{
  padding: 0 30px 20px 0;
  font-size: 14px;
}

:host ::ng-deep .manage-card{
  margin: 20px 0;
}

.disable{
  pointer-events: none;
}