<div class="apply-css-alpha">
  <div class="question-filter-action">
    <form [formGroup]="filterQuestionForm">
      <div class="top_box__filter">
        <mat-card class="manage-card">
          <mat-card-content>
            <div class="manage-filter">

              <div class="manage-filter-item">
                <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
                  <mat-label>Chọn khối</mat-label>
                  <mat-select formControlName="GradeId" placeholder="Chọn khối" #singleSelectSchool
                    disableOptionCentering>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                        [formControl]="gradeFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let grade of filteredGrade" [value]="grade.id">
                      {{grade.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="manage-filter-item">
                <mat-form-field appearance="outline" (click)="onSubjectSelectClicked()">
                  <mat-label>Chọn môn</mat-label>
                  <mat-select [disabled]="isDisableSubjectId" formControlName="SubjectId" placeholder="Chọn môn"
                    #singleSelectSchool disableOptionCentering>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Tìm môn" noEntriesFoundLabel="Không tìm thấy"
                        [formControl]="subjectFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let sj of filteredSubjects" [value]="sj.id">
                      {{sj.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="manage-filter-item">
                <mat-form-field appearance="outline" (click)="onFramesSelectClicked()">
                  <mat-label>Chọn khung</mat-label>
                  <mat-select formControlName="ContentPanelId" [disabled]="isDisableFramesId" placeholder="Chọn khung"
                    #singleSelectSchool disableOptionCentering>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Tìm khung" noEntriesFoundLabel="Không tìm thấy"
                        [formControl]="framesFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let frame of filteredFrames" [value]="frame.curriculumId">
                      {{frame.curriculumName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="manage-filter-item">
                <mat-form-field appearance="outline" (click)="onChapterSelectClicked()">
                  <mat-label>Chọn chương</mat-label>
                  <mat-select formControlName="ChapterId" [disabled]="isDisableChapterId" placeholder="Chọn chương"
                    #singleSelectSchool disableOptionCentering>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Tìm chương" noEntriesFoundLabel="Không tìm thấy"
                        [formControl]="chapterFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let chapter of filteredChapters" [value]="chapter.id">
                      {{chapter.curriculumName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="manage-filter-item">
                <mat-form-field appearance="outline" (click)="onExerciseSelectClicked()">
                  <mat-label>Chọn bài</mat-label>
                  <mat-select formControlName="UnitId" [disabled]="isDisableExerciseId" placeholder="Chọn bài"
                    #singleSelectSchool disableOptionCentering>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Tìm bài" noEntriesFoundLabel="Không tìm thấy"
                        [formControl]="exerciseFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let exercise of filteredExerciser" [value]="exercise.id">
                      {{exercise.curriculumName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxFlex="50" fxLayoutAlign="start center" fxLayoutAlign="end center" class="combobox_action">
                <label fxFlex="20" class="label_combobox"> Dạng câu hỏi :</label>
                <div class="type_question_choose" fxFlex="80">
                  <mat-radio-group [ngClass]="{'disable': isEdit}" formControlName="Format" class="group_op" fxFlex="65" aria-label="Select an option">
                    <mat-radio-button color="primary" class="op" value="SIG" [checked]="checkedDefault">Câu hỏi đơn
                    </mat-radio-button>
                    <mat-radio-button color="primary" value="GRO" [checked]="!checkedDefault">Câu hỏi chùm
                    </mat-radio-button>
                  </mat-radio-group>
                  <section fxFlex="35" class="example-section">
                    <mat-checkbox color="primary" [checked]="checkedAuto" [ngClass]="{'disable': checkedAuto}" (change)="changeAutoConfirm($event)" class="example-margin">Tự động gửi yêu cầu duyệt
                    </mat-checkbox>
                  </section>
                </div>
              </div>

              <div class="manage-filter-item">
                <mat-form-field appearance="outline">
                  <mat-label>Loại câu hỏi</mat-label>
                  <mat-select formControlName="Type" placeholder="chọn loại" #singleSelectSchool disableOptionCentering
                    [disabled]="isDisablequestionTypeId">
                    <!-- <mat-option>
                      <ngx-mat-select-search placeholderLabel="Tìm loại" noEntriesFoundLabel="Không tìm thấy"
                        [formControl]="questionTypeFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option> -->
                    <mat-option *ngFor="let type of filteredQuestionType" [value]="type.id">
                      {{type.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="manage-filter-item">
                <mat-form-field appearance="outline">
                  <mat-label>Mức độ</mat-label>
                  <mat-select formControlName="Level" placeholder="Mức độ" #singleSelectSchool disableOptionCentering>
                    <!-- <mat-option>
                      <ngx-mat-select-search placeholderLabel="Tìm mức độ" noEntriesFoundLabel="Không tìm thấy"
                        [formControl]="levelFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option> -->
                    <mat-option *ngFor="let level of filteredLevels" [value]="level.id">
                      {{level.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </form>
  </div>
</div>