<div class="question_basic single-choice">
  <div *ngIf="parentId == undefined" [hidden]="isResult==true">
    <button mat-flat-button class="mark-question" [ngClass]="{'mark-question-active': isFlag}" (click)="isMark()">Đánh
      dấu
      <mat-icon [ngClass]="{'color-red': isFlag === true}">flag</mat-icon>
    </button>
  </div>
  <div [ngClass]="{'question': isResult == false || isResult == undefined}">
    <mat-card>
      <mat-card-content>
        <div *ngIf="isResult == true && isPublicAnswer" class="show-result"
          [ngClass]="{'true': isTrueQuestion == true, 'false': isTrueQuestion == false}">
          <!-- <span>Kết quả trả lời: </span> -->
          <ng-container *ngIf="isTrueQuestion==true; else elset">
            <span>Trả lời đúng</span>
          </ng-container>
          <ng-template #elset>
            <span>Trả lời sai</span>
          </ng-template>
        </div>

        <div class="question-title" *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock">
          <span [MathJax]="dataQuestion.content"></span>
        </div>
        <ng-template #elseBlock>
          <div class="question-title">
            <span [innerHTML]="dataQuestion.content | safeHtml"></span>
          </div>
        </ng-template>

        <ng-container *ngIf="(isResult == false || isResult == undefined); else elseTemplate">
          <div class="example-radio-group">
            <mat-radio-group [(ngModel)]="selectedAnswer" class="example-radio-group">
              <mat-radio-button color="primary" fxLayoutAlign="start start" class="example-radio-button"
                *ngFor="let item of dataQuestion.answers; let i = index" [value]="item.id"
                (change)="changeSelectAnswer(item.id)">
                <div *ngIf="item.content.indexOf(defaultMath)!=-1; else elseBlock" fxLayout="row">
                  <span class="m-r-10" fxLayoutAlign="start center">
                    <p>{{alphabet[i]}}.</p>
                  </span>
                  <span class="text-overflow" [MathJax]="item.content"></span>
                </div>
                <ng-template #elseBlock>
                  <div fxLayout="row">
                    <span class="m-r-10" fxLayoutAlign="start center">
                      <p>{{alphabet[i]}}.</p>
                    </span>
                    <span class="text-overflow" [innerHTML]="item.content | safeHtml"></span>
                  </div>
                </ng-template>
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <div class="example-radio-group" [ngClass]="{'m-l-20': selectedAnswer != undefined}">
            <mat-radio-group [(ngModel)]="selectedAnswer" class="example-radio-group" [disabled]=true>
              <mat-radio-button color="primary" class="example-radio-button answer-label"
                *ngFor="let item of dataQuestion.answers; let i = index" [value]="item.id">
                <div *ngIf="item.content.indexOf(defaultMath)!=-1; else elseBlock" fxLayout="row">
                  <div class="m-r-10"
                    [ngClass]="{'correct': item.trueAnswer==1 && isPublicAnswer}"
                    fxLayoutAlign="start center">
                    <p>{{alphabet[i]}}.</p>
                  </div>
                  <div class="color text-overflow"
                    [MathJax]="item.content">
                  </div>
                </div>
                <ng-template #elseBlock>
                  <div fxLayout="row">
                    <div class="m-r-10"
                      [ngClass]="{'correct': item.trueAnswer==1 && isPublicAnswer}"
                      fxLayoutAlign="start center">
                      <p>{{alphabet[i]}}.</p>
                    </div>
                    <div class="color text-overflow"
                      [innerHTML]="item.content | safeHtml"></div>
                  </div>
                </ng-template>

                <div fxLayoutAlign="center center" style="min-height: 100%;" class="result-icon" *ngIf="isPublicAnswer">
                  <span *ngIf="item.id==selectedAnswer && item.trueAnswer !=1">
                    <mat-icon class="wrong-answer in-correct">close</mat-icon>
                  </span>
                </div>
                <div fxLayoutAlign="center center" style="min-height: 100%;" class="result-icon" *ngIf="isPublicAnswer">
                  <span *ngIf=" item.id==selectedAnswer && item.trueAnswer==1">
                    <mat-icon class="check-true correct">done</mat-icon>
                  </span>
                </div>
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </ng-template>
      </mat-card-content>
      <!--xema lại kết quá-->
    </mat-card>
  </div>
</div>
