<div fxLayout="row" fxFlex="100%" fxLayout.xs="column" fxLayout.sm="column">
  <div fxLayout="column" fxFlex="100%">
    <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayout.sm="column">
      <div fxFlex="50%" fxFlex.sm=100% fxFlex.xs=100%>
        <div class="general-question ck-editor-cls">
          <p><b>Yêu cầu chung:</b></p>
          <ckeditor #ck [(ngModel)]="ckeditorContent" [config]="ckeQuestionConfig">
          </ckeditor>
          <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
          style="display:none!important" />
        <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
        <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
        </div>
      </div>
      <div fxFlex="50%" fxFlex.sm=100% fxFlex.xs=100% fxLayout.xs="column" fxLayout.sm="column">
        <div class="container-create-question" fxLayout="row" fxLayoutAlign="space-around center"
          fxLayoutAlign.xs="space-between center" fxLayout.xs="column">
          <div>
            <span>Số câu hỏi:</span>
            <input class="input-question-number" matInput type="number" value="{{questionGroup.Questions.length}}"
              disabled>
            <button mat-icon-button (click)="AddQuestion()"    matTooltip="Thêm câu hỏi">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button mat-icon-button (click)="SubQuestion(questionGroup.Questions.length)"  matTooltip="Xóa câu hỏi">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </div>
          <div>
            <span>Câu hỏi:</span>
            <mat-form-field class="choose-question">
              <mat-select [value]="selectedQuestion" [(ngModel)]="selectedQuestion">
                <mat-option *ngFor="let question of questionGroup.Questions, let i=index" value="{{i+1}}">Câu hỏi
                  {{i+1}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-checkbox (change)="changeShuffleChild($event)" [ngModel]="isShuffleChild" class="example-margin">Xáo
              trộn câu hỏi</mat-checkbox>
          </div>
        </div>

        <div class="group-question" *ngFor="let question of questionGroup.Questions; let i=index" [hidden]="selectedQuestion!=(i+1).toString()" fxLayout.xs="column" fxLayout.sm="column">
          <div class="type-of-question" fxLayoutGap="10px" fxFlex.sm=100% fxFlex.xs=100%>
            <div class="content" fxFlex="50%">
              <h3>Loại câu hỏi</h3>
              <mat-form-field>
                <mat-label>Chọn loại câu hỏi</mat-label>
                <mat-select (selectionChange)="changeTypeQuestion(i)" [(ngModel)]="question.type" [disabled]="dataQuestion!=null">
                  <mat-optgroup *ngFor="let group of questionTypeGroups" [label]="group.name">
                    <mat-option *ngFor="let type of group.types" [value]="type.value"
                      [disabled]="(type.value=='fillblank2' || type.value=='essay' || type.value=='matching')">
                      {{type.viewValue}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="content" fxFlex="50%">
              <h3>Mức độ</h3>
              <mat-form-field>
                <mat-label>Chọn mức độ</mat-label>
                <mat-select [value]="question.level" [(ngModel)]="question.level">
                  <mat-option *ngFor="let level of levels" [value]="level.value">
                    {{level.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <app-create-single-choice-question #singleChoice [config]="2" *ngIf="question.type=='singlechoice'" [dataQuestion]="question">
          </app-create-single-choice-question>
          <app-create-multiple-choice-question #multichoice [config]="2" *ngIf="question.type=='multichoice'" [dataQuestion]="question">
          </app-create-multiple-choice-question>
          <app-create-under-line-question #underline [config]="2" *ngIf="question.type=='underline'" [dataQuestion]="question">
          </app-create-under-line-question>
          <app-create-true-false-question #truefalse [config]="2" *ngIf="question.type=='truefalse'" [dataQuestion]="question">
          </app-create-true-false-question>
          <app-create-true-false-clause-question #truefalseclause [config]="2" *ngIf="question.type=='truefalseclause'" [dataQuestion]="question">
          </app-create-true-false-clause-question>
          <app-create-missing-word1-question #missingword [config]="2" *ngIf="question.type=='fillblank'" [dataQuestion]="question">
          </app-create-missing-word1-question>
        </div>
      </div>
    </div>
    <div class="center-btn-footer" [hidden]="dataQuestions!=null">
      <button mat-raised-button class="btn-footer btn-success btn-fixed-width" (click)="show()">Lưu</button>
      <button mat-raised-button class="btn-footer btn-success" (click)="SaveAndCreate()">Lưu và tạo mới</button>
      <a routerLink="/dashboard/questionbanks/">
        <button mat-raised-button class="btn-footer btn-cancel btn-fixed-width">Hủy</button>
      </a>
    </div>
  </div>
</div>
