.general-question{
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin-top: 0.5rem;
    padding: 1rem;
}
.container-create-question{
    border:1px solid #eeeeee;
    border-radius: 5px;
    margin-top: 0.5rem;
    padding:1rem;
}
.input-question-number{
    width: 30%;
    margin-left: 0.5rem;
}
.choose-question{
    margin-left: 1rem;
    width: 50%;
}

.type-of-question{
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin-top: 0.5rem;
    // max-width: 40%;
}
.type-of-question1{
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin-top: 0.5rem;
    max-width: 100%;
}
.content{
    text-align: center;
    padding:0.5rem
}
mat-form-field{
    width: 80%;
}
.max-width-40{
    width: 40%;
}