.question_basic {
    position: relative;
  }
  
  .mark-question {
    position: absolute;
    right: 0;
    top: -50px;
    margin-bottom: 10px;
    border: 0.5px solid #d2c3c3;
    box-sizing: border-box;
    border-radius: 2px;
    z-index: 999;
    color: #888888;
    background: #FFFFFF !important;
  }
  
  .mark-question-active {
    background: #FEC941 !important;
    color: white;
    border: none;
  }
  
  .choice-answer-container {
    width: 100%;
    flex-wrap: nowrap;
  }
  
  .select-answer {
    width: 30%;
  }
  
  // .show-result {
  //   margin-bottom: 1rem;
  // }
  
  // .true {
  //   color: #198754;
  // }
  
  // .false {
  //   color: red;
  // }
  
  .question-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #303030;
    position: relative;
    padding-left: 30px;
  
    .order {
      position: absolute;
      left: 0;
      top: -3px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 22px;
      color: #4CAF50;
    }
  
    .score {
      position: absolute;
      right: 0;
      top: 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #4CAF50;
    }
  }

  ::ng-deep .dark .mat-card{
    background-color:#FFFFFF !important;
  }
  
  