<div class="exam-regulation-dialog">
    <div class="mat-dialog-title">Thông tin quy chế thi</div>
    <div class="exam-regulation-dialog_content">
        <!-- Tạm thời comment lockScreenTest do chưa thực hiện tính năng này -->
        <!-- <p>{{lockScreenTest}}</p> -->
        <p>{{publicScore}}</p>
        <p>{{publicAnswer}}</p>
    </div>
    <mat-dialog-actions>
        <button mat-raised-button class="button-cancel" mat-dialog-close>Đóng</button>
    </mat-dialog-actions>
</div>