.exam-regulation-dialog {
    width: 100%;
    height: 100%;
    text-align: center;
}
.exam-regulation-dialog_content {
    text-align: center;
    & > p {
        font-size: 14px;
        color: #555555;

        opacity: 0.98;
    }
}
