<div>
  <div>
    <div class="text-center padding-b-35"><b class="title"> DANH SÁCH GIÁM THỊ</b></div>
  </div>
</div>

<div fxLayout="row" class="organize-exam-info" >
  <span class="line-height-36" fxFlex="10">Ca thi: <b>{{shiftInfo.shiftName}}</b></span>
  <span class="line-height-36" fxFlex="15">Phòng thi: <b>{{shiftInfo.roomName }}</b></span>
  <span class="line-height-36" fxFlex="30">Thời gian bắt đầu:
    <b>{{shiftInfo.startDate|date :'HH:mm dd/MM/yyyy'}}</b></span>
  <span class="line-height-36" fxFlex="30">Thời gian kết thúc:
    <b>{{shiftInfo.endDate|date :'HH:mm dd/MM/yyyy'}}</b></span>
  <div fxFlex fxLayoutAlign="end center" *ngIf="data.isFinish">
    <button mat-raised-button color="primary" (click)="exportExcel()">
      <mat-icon matSuffix>file_download</mat-icon> Xuất dữ liệu
    </button>
  </div>
</div>

<mat-dialog-content>
  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <div class="example-container m-t-20">
        <app-spinner2 name="organizeSupervisorLoading" [fullScreen]="isFullScreen"></app-spinner2>

        <div class="example-table-container responsive-table">

          <table mat-table [dataSource]="supervisorExamSubject" class="example-table" matSort matSortActive="created"
            matSortDisableClear matSortDirection="desc">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <!-- Number Column -->
              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef fxFlex="5" fxLayoutAlign="center center">STT</th>
                <td mat-cell *matCellDef="let element; let i = index" fxFlex="5" fxLayoutAlign="center center">{{i+1}}
                </td>
              </ng-container>

               <!-- Title Column -->
               <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef fxFlex="35" fxLayoutAlign="start center">Họ Và tên</th>
                <td mat-cell *matCellDef="let element" fxFlex="35" fxLayoutAlign="start center">
                  <span class="text-wrap" #tooltip="matTooltip"
                  matTooltip="{{element.fullName}}">{{element.fullName}}</span>
                </td>
              </ng-container>
              <!-- Title Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef fxFlex="35" fxLayoutAlign="start center">Email</th>
                <td mat-cell *matCellDef="let element" fxFlex="35" fxLayoutAlign="start center">
                  <span class="text-wrap" #tooltip="matTooltip"
                  matTooltip="{{element.email}}">{{element.email==null?'-':element.email}}</span>
                </td>
              </ng-container>

              <!-- Created Column -->
              <ng-container matColumnDef="dob">
                <th mat-header-cell *matHeaderCellDef disableClear fxFlex="15" fxLayoutAlign="center center">
                  Ngày sinh
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="15" fxLayoutAlign="center center">
                  {{element.dayOfBirth==null?'-':element.dayOfBirth| date: 'dd/MM/yyyy'}}
                </td>
              </ng-container>
              <!-- Created Column -->
              <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef disableClear fxFlex="10" fxLayoutAlign="center center">
                  Giới tính
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="10" fxLayoutAlign="center center">{{element.getGender}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell background-no-content">
                  <div class="background-no-content-img"></div>
                  <div class="background-no-content-info">
                      <p>Không tìm thấy giám thị</p>
                  </div>
                </td>
              </tr>
            </div>

          </table>
        </div>
      </div>

    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center" >
  <button mat-raised-button mat-dialog-close class="m-3 button-cancel">Đóng</button>
</mat-dialog-actions>