.header-content {
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 6px 6px 0 0;
  height: 60px;
  border-bottom: 0.5px solid #CACACA;
  padding-left: 20px;
  padding: 20px;
  .type{
    text-transform: none;
    margin-left: 10px;
    font-size: 16px;
  }
}

.lesson_name {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
}


