<div>
    <div class="header-content">
        <span class="text-wrap lesson_name">
            {{lessonName}} <span *ngIf="type != ''" class="type">({{type}})</span>
        </span>
    
    </div>
</div>

