<div class="apply-css-alpha">
  <form #createSchool="ngForm">
    <div fxLayout="row" fxLayoutAlign="center start" class="title-form">
      <label class="title-center">Cập nhật mức đánh giá</label>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-20">
      <label class="lable" fxFlex="35">Tên mức(*)</label>
      <mat-form-field appearance="outline">
        <mat-label>Tên
        </mat-label>
        <input matInput fxFlex type="text" required name="name" placeholder="Tên mức" autocomplete="off"
          [(ngModel)]="assessmentLevelUpdateRequest.name">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-10" *ngIf="this.data.isWeak == false">
      <label class="lable" fxFlex="35">Điểm tối thiểu(*)</label>
      <mat-form-field appearance="outline">
        <mat-label>Điểm tối thiểu</mat-label>
        <input matInput fxFlex type="text" maxlength="20" name="code" code required placeholder="Điểm tối thiểu"
          [(ngModel)]="assessmentLevelUpdateRequest.lowestCoefficient" autocomplete="off">
      </mat-form-field>
    </div>

    <mat-dialog-actions align="center" class="dialog-action m-t-10">
      <button mat-flat-button mat-dialog-close class="button-cancel">Hủy</button>
      <button mat-flat-button color="primary" type="submit" color="primary" (click)="onSubmit()">Lưu</button>
    </mat-dialog-actions>
  </form>
</div>
