.button-lg {
  height: 35px;
}

//.button-sm {
// height: 29px;
// line-height: 30px !important;
//}

.mat-default {
  color: #555555;
}

.mat-button-square {
  padding: 0 !important;
  min-width: 36px !important;
}

.button-cancel {
  background-color: $color-gray !important;
  color: #888888 !important;
}

.button-hidden-filter {
  background-color: $color-gray !important;
  color: #888888 !important;
}

.button-spacing {
  margin-right: 1rem !important;
}
