mat-card {
  &.manage-card {
    $padding: 1.2rem;
    $padding-content: 1.25rem;
    margin: 20px 15px;

    .mat-card-header {
      padding: $padding;

      .mat-card-title {
        font-size: 1.25rem;
      }

      .mat-card-header-text {
        margin: 0;
      }
    }

    .mat-card-content {
      padding: $padding-content;

      .mat-card-content-section {
        margin-bottom: $padding-content;
      }

      /**Thiết lập padding left right => giá trị cài đặt**/
      .mat-card-content-padding-lr-default {
        padding-left: $padding-content;
        padding-right: $padding-content;
      }
    }

    /**Thiết lập padding left right = 0**/
    .mat-card-padding-lr-none {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.manage-tab-group {
  .manage-card {
    margin-left: 0;
    margin-right: 0;

    .mat-card-content {
      padding: 0;
    }
  }
}
