.mat-snack-bar-container {
  background-color: unset !important;
  padding: unset !important;
  min-height: unset !important;
  height: 0 !important;

  .success-snackbar {
    background: #F5FFF6 !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12) !important;
    border-radius: 8px !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 20px !important;
    /* identical to box height */
    /* 4CAF50 */
    color: #4CAF50 !important;
    word-break: break-word;
    width: 90% !important;
    padding: 30px 16px !important;
  }


  .error-snackbar {
    background: #FFF0EF !important;
    border-radius: 8px !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12) !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 20px !important;
    color: #DA251D !important;
    word-break: break-word;
    // width: 90% !important;
    // padding: 14px 16px !important;
    padding: 14px 16px;
    width: 90%
  }
}

.mat-dialog-container {
  overflow: hidden !important;
}

.mat-dialog-container {
  .mat-dialog-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: start;
    text-transform: uppercase;
    color: #303030;
    margin-bottom: 25px;
  }

  .mat-dialog-sub-title {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: start;
    color: #4CAF50;
    text-transform: none;
    margin-top: 7px;
  }

  .mat-dialog-actions {
    justify-content: flex-end;
    padding: 20px 0px;
  }
}

@media (max-width:525px) {
  .mat-snack-bar-container {
    .error-snackbar{
      padding: 13px 10px;
      width: 100%
    }
    .success-snackbar{
      width: 96% !important;
    }
  }
}
