/**css mở rộng nè**/
.background-no-content {
  .background-no-content-img {
    background-image: url('../../../assets/images/no-content.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 325px;
    height: 159px;
    margin: auto;
  }

  .background-no-content-info {
    color: #555555;
    text-align: center;
  }
}

.background-no-content {
  width: 100%;
  height: 350px;
}

table {
  .background-no-content {
    height: 350px;
    width: 0;
  }
}

/**Gap manual, có thể đè lên flex gap grid**/
.gap-30-20 {
  margin: 0px -30px -20px 0px !important;

  &>div {
    padding: 0px 30px 20px 0px !important;
  }
}

/**
*Bộ lọc
*Resonsive tự động
*Có thể sử dụng fxLayout để handle vị trí item (manage-filter-item)
*Default 25% col
*
*item-fill: fxFlex 
**/
.manage-filter {
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
  margin: 0px -30px -20px 0px !important;

  .manage-filter-item {
    flex: 1 1 0%;
    box-sizing: border-box;
    // max-width: 25%;
    padding: 0px 30px 20px 0px !important;

    &.manage-filter-item-fill {
      max-width: 100%;
    }
  }
}

@media (min-width:768px) {
  .manage-filter {
    .manage-filter-item {
      flex: 1 1 25%;
      max-width: 25%;
    }
  }
}

// .gap-child-item {
//   padding: 0px 30px 30px 0px;
// }
