.mat-radio-container {
    height: 14px !important;
    width: 14px !important;
}
.mat-radio-outer-circle {
    height: 14px !important;
    width: 14px !important;
    border-width: 1px !important;
}
.mat-radio-inner-circle {
    height: 14px !important;
    width: 14px !important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #0075ff !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #0075ff !important;
}

.mat-radio-checked .mat-radio-inner-circle {
    transform: scale(0.75) !important;
}
.mat-radio-button .mat-radio-ripple {
    height: 40px !important; /*double of your required circle radius*/
    width: 40px !important; /*double of your required circle radius*/
    left: calc(50% - 20px) !important; /*'10px'-same as your required circle radius*/
    top: calc(50% - 20px) !important; /*'10px'-same as your required circle radius*/
}

.mat-radio-label-content {
    color: #555555 !important;
}

// .mat-form-field-wrapper {
//     max-height: 40px !important;
//     margin-top: 0px !important;
// }

// .mat-form-field-flex {
//     max-height: 31px !important;
// }

// .mat-form-field-infix {
//     padding-top: 8px !important;
//     font-size: 13px !important;
// }

// .mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored.ng-dirty.ng-touched.ng-valid {
//     height: 20px !important;
//     margin-left: -6px !important;
// }

// .mat-input-element.mat-form-field-autofill-control.ng-untouched.ng-pristine.ng-invalid.cdk-text-field-autofill-monitored {
//     height: 20px !important;
//     margin-left: -6px !important;
// }

// .mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored.ng-dirty.ng-touched.ng-invalid {
//     height: 20px !important;
//     margin-left: -6px !important;
// }

// .mat-input-element.mat-form-field-autofill-control.ng-pristine.ng-invalid.cdk-text-field-autofill-monitored.ng-touched {
//     height: 20px !important;
//     margin-left: -6px !important;
// }

// .mat-input-element.mat-form-field-autofill-control.ng-untouched.cdk-text-field-autofill-monitored.ng-dirty.ng-valid {
//     height: 20px !important;
//     margin-left: -6px !important;
// }

// .mat-input-element.mat-form-field-autofill-control.ng-untouched.cdk-text-field-autofill-monitored.ng-dirty.ng-invalid {
//     height: 20px !important;
//     margin-left: -6px !important;
// }

// .mat-error.ng-star-inserted {
//     height: 14px !important;
//     margin-top: 2px !important;
//     margin-left: -6px !important;
// }

// .mat-form-field.example-full-width {
//     margin-bottom: -16px !important;
// }

// .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
// .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
// .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
//     border-width: 2px !important;
// }

// .mat-form-field-appearance-outline .mat-form-field-outline-start,
// .mat-form-field-appearance-outline .mat-form-field-outline-end {
//     border-width: 2px !important;
// }

// .mat-input-element.mat-form-field-autofill-control.ng-untouched.ng-pristine.ng-valid.cdk-text-field-autofill-monitored {
//     height: 20px !important;
//     margin-left: -6px !important;
// }

// .mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored {
//     height: 20px !important;
//     margin-left: -6px !important;
// }

// .mat-form-field-infix {
//     margin-top: 6px !important;
//     padding-top: 0px !important;
//     font-size: 12px !important;
// }