.mat-table {
  width: 100% !important;

  .mat-header-row {
    background: #d9e4dd;
    border: none;
    height: 40px;
    font-weight: bold;
  }

  th.mat-header-cell {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    color: #555555;
    background: #f3f8f4;
  }

  .mat-cell {
    font-weight: 400;
    color: #555555;
  }
}

table {
  .mat-column-stt {
    min-width: 60px;
    width: 60px !important;
    text-align: center !important;
    padding-left: 0 !important;
  }

  .mat-column-function {
    min-width: 115px;
    width: 115px !important;
    text-align: center !important;
    padding-right: 0 !important;

    .mat-icon {
      cursor: pointer;
      font-size: 20px;
      color: #7e8485;
      height: 20px;
    }

    .material-icons-outlined {
      font-size: 20px;
      height: 20px;
      cursor: pointer;
      color: #7e8485;
    }

    .material-icons {
      font-size: 20px;
      height: 20px;
      cursor: pointer;
      color: #7e8485;
    }
  }

  .mat-column-function > .mat-icon:not(:last-of-type) {
    margin-right: 5px;
  }

  .mat-column-function > .material-icons:not(:last-of-type) {
    margin-right: 5px;
  }

  .mat-column-function > .material-icons-outlined:not(:last-of-type) {
    margin-right: 5px;
  }

  .mat-column-joinDate {
    min-width: 420px;
    width: 420px !important;
    text-align: center !important;
    padding-right: 0 !important;
  }

  .mat-column-joinDate > .mat-icon:not(:last-of-type) {
    margin-right: 5px;
  }

  .mat-column-joinDate > .material-icons:not(:last-of-type) {
    margin-right: 5px;
  }

  .mat-column-joinDate > .material-icons-outlined:not(:last-of-type) {
    margin-right: 5px;
  }

  tr.double.mat-row,
  tr.double.mat-footer-row {
    height: 55px;
  }

  .mat-column-function-3 {
    min-width: 130px;
    width: 130px !important;
    text-align: center !important;
  }

  .mat-main-column {
    font-weight: 600 !important;
    color: #555555 !important;
    width: 30%;
  }

  td.mat-main-column {
    padding: 7px 7px 7px 0px;

    & > span {
      width: fit-content;
    }
  }

  .mat-column-date {
    width: 150px;
    min-width: 150px;
    text-align: center !important;
  }

  .mat-column-datetime {
    width: 150px;
    min-width: 150px;
    text-align: center !important;
  }

  .mat-column-status {
    text-align: center !important;
  }

  .mat-column-select {
    text-align: center !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 50px;
    min-width: 50px;
  }

  /* onlineclasses column */
  .mat-column-tottalstudent {
    min-width: 200px;
    width: 200px !important;
    text-align: center !important;
    padding-right: 0 !important;
  }
  .mat-column-joinedstudent {
    min-width: 200px;
    width: 200px !important;
    text-align: center !important;
    padding-right: 0 !important;
  }
  .mat-column-missingstudent {
    min-width: 200px;
    width: 200px !important;
    text-align: center !important;
    padding-right: 0 !important;
  }
  .mat-column-statuslearning {
    min-width: 200px;
    width: 200px !important;
    text-align: center !important;
    padding-right: 0 !important;
  }
  .mat-column-nameclasses {
    min-width: 350px;
    width: 350px !important;
    padding-right: 0 !important;
  }
  .mat-column-unitname {
    min-width: 350px;
    width: 350px !important;
    padding-right: 0 !important;
  }
}
