/*Khai báo các giá trị mặc định*/
$linkColor: #2196f3;
$focusBorderColor:#BBDEFB;
$color-error: #2196f3;

$color-success:#4CAF50;

$color-danger:#DA251D;
$color-gray:#EEEEEE;

// $colors:(red,pink,purple,deep-purple,indigo,blue,ligh-blue,cyan,teal,green,light-green,lime,yellow,amber,orange,deep-orange,brown,grey,blue-grey)

$red: #dc3545 !default;
$pink: #e83e8c !default;
$purple: #6f42c1 !default;
$deep-purple: #673ab7;
$indigo: #6610f2 !default;
$blue: #007bff !default;
$ligh-blue:#03a9f4;
$cyan: #17a2b8 !default;
$teal: #20c997 !default;
$green: #28a745 !default;
$light-green:#8bc34a;
$lime:#cddc39;
$yellow: #ffc107 !default;
$amber:#ffc107;
$orange: #fd7e14 !default;
$deep-orange:#ff5722;
$brown:#795548;
$grey:#9e9e9e;
$blue-grey:#607d8b;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(("red": $red,
    "pink": $pink,
    "purple": $purple,
    "deep-purple": $deep-purple,
    "indigo": $indigo,
    "blue": $blue,
    "ligh-blue": $ligh-blue,
    "cyan": $cyan,
    "teal": $teal,
    "green": $green,
    "light-green": $light-green,
    "lime": $lime,
    "yellow": $yellow,
    "amber": $amber,
    "orange": $orange,
    "deep-orange": $deep-orange,
    "brown": $brown,
    "grey":$grey,
    "blue-grey": $blue-grey),
  $colors);


/**Bootstrap ulti**/
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px) !default;

// @include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
// @include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge((0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.25),
    5: ($spacer * 1.5),
    6: ($spacer * 1.75),
    7: ($spacer * 2),
    8: ($spacer * 2.25),
    9: ($spacer * 3)),
  $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge((25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto),
  $sizes);
