/*
* Gồm tất cả style core của hệ thống
* Ghi đè giá trị từ assets/style
*/
@import "./mixins";
@import "./utilities";
@import "./core";
@import "./button";
@import "./checkbox";
@import "./input";
@import "./icon";
@import "./combobox"; //TODO: hủy diệt
@import "./_form-field";
@import "./card";
@import "./table";
@import "./spinner";
@import "./dialog";
@import "~video.js/dist/video-js.css";
@import "./global-extent";

.apply-css-alpha {
  font-family: "Montserrat", sans-serif;
}

//TODO: temp
.learn-custom-global-css {

  html,
  body {
    height: 100%;
  }

  .sidebar-toggle {
    display: none;
  }

  .topbar {
    display: none;
  }

  #snav {
    transform: translate3d(-100%, 0, 0) !important;

    .mat-sidenav~.mat-drawer-content {
      margin-left: 0px !important;
    }
  }

  @media (min-width: 1024px) {

    #snav.mat-sidenav.mat-drawer-opened~.mat-drawer-content {
      margin-left: 0px !important;
    }
  }

  @media (min-width: 1280px) {
    .topbar {
      display: block;
    }
  }



  .page-breadcrumb {
    display: none !important;
  }

  .page-wrapper .page-content {
    padding: 0px !important;
  }
}

.background-isprogressing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .background-isprogressing {
    background-color: #e9e9e9;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 40px;
  }

  .progress-title {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #555555;
    opacity: 0.98;
  }

  .progress-content {
    font-size: 14px;
    line-height: 17px;
  }

  .note-video {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #da251d;
    font-weight: 600;
  }
}

//TODO: temp
/**[Body] Scroll trong suốt**/
.body-scroll-color-transparent {
  &::-webkit-scrollbar-thumb {
    background: none;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}
