.user-info {
    background: #ffffff;
    border-radius: 6px;
    max-width: 98%;
    margin: 0 auto;
  
    .input_name {
      width: 980px;
      // height: 35px;
      // padding: 0 5px;
      // box-sizing: border-box;
      // border: 1px solid #ccc;
      // border-radius: 4px;
      // background-color: white;
      // background-position: 10px 10px;
      // background-repeat: no-repeat;
    }
  }
  
  .m-b-20 {
    margin-bottom: 20px;
  }
  
  .m-b-10 {
    margin-bottom: 10px;
  }
  
  .m-r-30 {
    margin-right: 30px;
  }
  
  .m-t-20 {
    margin-top: 10px;
  }
  
  .m-l-20 {
    margin-left: 20px;
  }
  .m-b-45{
    margin-bottom: 45px;
  }
  p-t-10 {
    padding-top: 10px;
  }
  .combobox_selection {
    border: 0.5px solid #555555;
    box-sizing: border-box;
    border-radius: 2px;
    height: 29px;
  }
  
  .label_combobox {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    color: #555555;
    opacity: 0.98;
  }
  .label_combobox_title{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    color: #555555;
    opacity: 0.98;
  }

  .input_select {
    width: 100%;
    height: 30px;
  }
  
  .ng-hide {
    display: none;
  }
  
  .avatar_user {
    height: 195px;
    width: 195px;
    object-fit: cover;
    cursor: pointer;
  
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  
  .background_avatar {
    background-image: url("../../../../../assets/images/lesson/default.png");
  }
  
  ckeditor {
    width: 100%;
  }
  
  .btn_save,
  .btn_cancel {
    width: 103px;
  }
  
  .btn_continue {
    width: 103px;
    color: #ffffff;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .mat-radio-button {
    font-size: 13px;
  }
  
  // select box
  .input_select {
    width: 100%;
    height: 30px;
  }
  
  // .matFormFieldSelectBox {
  //   height: 31px;
  //   box-sizing: border-box;
  //   border: 1px solid #ccc;
  //   border-radius: 4px;
  //   background-color: white;
  //   background-position: 10px 10px;
  //   background-repeat: no-repeat;
  //   padding: 0 5px;
  //   font-style: normal;
  //   font-weight: normal;
  //   font-size: 13px;
  //   line-height: 15px;
  //   color: #555555;
  //   opacity: 0.98;
  // }
  
  // :host ::ng-deep .mat-form-field-underline {
  //   display: none;
  // }
  
  // :host ::ng-deep .mat-form-field-infix {
  //   border-top: none;
  // }
  
  // .example-additional-selection {
  //   opacity: 0.75;
  //   font-size: 0.75em;
  // }
  
  // .mat-select-panel-wrap {
  //   position: relative;
  //   top: 26px;
  // }
  
  // .mat-select-panel-wrap .mat-select-panel {
  //   min-width: calc(100% + 12px) !important;
  //   transform: translateX(4px) !important;
  // }
  // :host ::ng-deep .mat-form-field-wrapper {
  //   width: 100% !important;
  //   padding-bottom: 0px !important;
  // }
  
  .errors-msg {
    color: #dd1010;
    position: relative;
    top: -15px;
    font-size: 13px;
    font-weight: 600;
  }
  
  .form-title-label{
    font-size: 20px;
    color: #555555;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }