<div class="apply-css-alpha">
    <mat-card class="manage-card">
        <mat-card-content>
            <hr />
            <form [formGroup]="formCreateUser" fxFlex="100" fxLayoutAlign="center center" (ngSubmit)="submitForm()">
                <div class="user-info p-r-20 p-l-20 p-t-10 p-b-20">
                    <div fxLayout="row" fxLayoutAlign="center center" class="row_flex m-b-20">
                        <label class="form-title-label"> THÊM QUẢN TRỊ VIÊN, GIÁO VIÊN</label>
                    </div>
                    <hr style="border-bottom: solid #efefef 0.5px; margin:35px 0px">
                    <div class="top-infor">
                        <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20">
                            <label fxLayoutAlign="start center" for="" class="label_combobox_title"> Thông tin bắt buộc
                                (*):
                            </label>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center" class="row_flex m-b-20">
                            <div fxFlex="50" style="padding: 0 10px;">
                                <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20">
                                    <label fxFlex="30" fxLayoutAlign="start center" for="" class="label_combobox"> Tên
                                        (*):
                                    </label>
                                    <mat-form-field class="matFormFieldSelectBox" appearance="outline" fxFlex="60">
                                        <mat-label>Tên</mat-label>
                                        <input matInput [formControl]="formCreateUser.get('firstName')" type="text"
                                            name="firstName" firstName required formControlName="firstName">
                                        <mat-error *ngIf="formCreateUser.get('firstName').hasError('required')">
                                            Vui lòng nhập tên (*)
                                        </mat-error>
                                        <mat-error *ngIf="formCreateUser.get('firstName').hasError('maxlength')">
                                            Tên giới hạn 100 ký tự
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <input fxFlex="60" fxLayoutAlign="start center" type="text" formControlName="firstName"
                                class="input_name" placeholder="Tên (*)"> -->
                                </div>
                                <!-- <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
                            *ngIf="f.get('firstName').touched && f.get('firstName').invalid" class="errors-msg">
                            <div fxFlex="90" fxLayoutAlign="end center">
                                <div *ngIf="f.get('firstName').errors.required">Vui lòng nhập tên (*)</div>
                                <div *ngIf="f.get('firstName').errors.maxlength">Tên giới hạn 100 ký tự</div>
                            </div>
                        </div> -->

                                <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20">
                                    <label fxFlex="30" fxLayoutAlign="start center" for="" class="label_combobox"> Họ:
                                    </label>
                                    <mat-form-field class="matFormFieldSelectBox" appearance="outline" fxFlex="60">
                                        <mat-label>Họ</mat-label>
                                        <input matInput [formControl]="formCreateUser.get('lastName')" type="text"
                                            name="lastName" lastName formControlName="lastName">
                                        <mat-error *ngIf="formCreateUser.get('lastName').hasError('maxlength')">
                                            Họ giới hạn 100 ký tự
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <input fxFlex="60" fxLayoutAlign="start center" type="text" formControlName="lastName"
                                class="input_name" placeholder="Họ"> -->
                                </div>
                                <!-- <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
                            *ngIf="f.get('lastName').touched && f.get('lastName').invalid" class="errors-msg">
                            <div fxFlex="90" fxLayoutAlign="end center">
                                <div *ngIf="f.get('lastName').errors.maxlength">Họ giới hạn 100 ký tự.</div>
                            </div>
                        </div> -->

                                <div fxLayout="row" fxLayoutAlign="start center"
                                    [ngClass]="formCreateUser.get('username').hasError('pattern')?'m-b-45': 'm-b-20'"
                                    class="row_flex">
                                    <label fxFlex="30" fxLayoutAlign="start center" for="" class="label_combobox"> 
                                        Mã định danh (*):
                                    </label>
                                    <mat-form-field class="matFormFieldSelectBox" appearance="outline" fxFlex="60">
                                        <mat-label>Mã định danh</mat-label>
                                        <input matInput [formControl]="formCreateUser.get('username')" type="text"
                                            name="username" username required formControlName="username">
                                        <mat-error *ngIf="formCreateUser.get('username').hasError('required')">
                                            Vui lòng nhập mã định danh (*)
                                        </mat-error>
                                        <mat-error *ngIf="formCreateUser.get('username').hasError('pattern')">
                                            Mã định danh giới hạn 50 ký tự, sử dụng chữ cái, số, dấu chấm, gạch nối và
                                            gạch dưới.
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <input fxFlex="60" fxLayoutAlign="start center" type="text" formControlName="username"
                                class="input_name" placeholder="Mã định danh (*)"> -->
                                </div>
                                <!-- <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
                            *ngIf="f.get('username').touched && f.get('username').invalid" class="errors-msg">
                            <div fxFlex="90" fxLayoutAlign="end center">
                                <div *ngIf="f.get('username').errors.required">Vui lòng nhập mã định danh (*)</div>
                                <div *ngIf="f.get('username').errors.pattern">Mã định danh giới hạn 50 ký tự, sử dụng
                                    chữ cái, số, dấu chấm, gạch nối và gạch dưới.</div>
                            </div>
                        </div> -->

                                <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20">
                                    <label fxFlex="30" fxLayoutAlign="start center" for="" class="label_combobox"> Mật
                                        khẩu
                                        (*):
                                    </label>
                                    <mat-form-field class="matFormFieldSelectBox" appearance="outline" fxFlex="60">
                                        <mat-label>Mật khẩu</mat-label>
                                        <input matInput [formControl]="formCreateUser.get('password')" type="text"
                                            [type]="passwordInputType" name="password" password required
                                            formControlName="password">
                                        <mat-error *ngIf="formCreateUser.get('password').hasError('required')">
                                            Vui lòng nhập mật khẩu (*)
                                        </mat-error>
                                        <mat-error *ngIf="formCreateUser.get('password').hasError('pattern')">
                                            Mật khẩu giới hạn 6-50 ký tự.
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <input fxFlex="60" fxLayoutAlign="start center" [type]="passwordInputType"
                                formControlName="password" type="text" class="input_name" placeholder="Mật khẩu (*)"> -->
                                </div>
                                <!-- <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
                            *ngIf="f.get('password').touched && f.get('password').invalid" class="errors-msg">
                            <div fxFlex="90" fxLayoutAlign="end center">
                                <div *ngIf="f.get('password').errors.required">Vui lòng nhập mật khẩu (*)</div>
                                <div *ngIf="f.get('password').errors.pattern">Mật khẩu giới hạn 6-50 ký tự.</div>
                            </div>
                        </div> -->

                                <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20">
                                    <label fxFlex="30" fxLayoutAlign="start center" for="" class="label_combobox">
                                        Email:
                                    </label>
                                    <mat-form-field class="matFormFieldSelectBox" appearance="outline" fxFlex="60">
                                        <mat-label>Email</mat-label>
                                        <input matInput [formControl]="formCreateUser.get('email')" type="text"
                                            name="email" email formControlName="email">
                                        <mat-error *ngIf="formCreateUser.get('email').hasError('maxlength')">
                                            Email giới hạn 100 ký tự
                                        </mat-error>
                                        <mat-error *ngIf="formCreateUser.get('email').hasError('pattern')">
                                            Email không đúng định dạng
                                        </mat-error>
                                    </mat-form-field>

                                    <!-- <input fxFlex="60" fxLayoutAlign="start center" type="text" class="input_name"
                                formControlName="email" placeholder="Email"> -->
                                </div>
                                <!-- <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
                            *ngIf="f.get('email').touched && f.get('email').invalid" class="errors-msg">
                            <div fxFlex="90" fxLayoutAlign="end center">
                                <div *ngIf="f.get('email').errors.maxlength">Email giới hạn 100 ký tự</div>
                                <div *ngIf="f.get('email').errors.pattern">Email không đúng định dạng</div>
                            </div>
                        </div> -->
                            </div>
                            <div fxFlex="50" fxLayoutAlign="center center" style="padding: 0 10px;">
                                <div class="img-vid">
                                    <div fxLayout="column" fxLayoutAlign="center center" class="row-flex  m-b-20">
                                        <div fxFlex="25" fxLayoutAlign="center center" class="label_combobox">Ảnh đại
                                            diện
                                        </div>
                                        <div fxFlex="25" fxLayoutAlign="start center" class="p-t-10">
                                            <div for="input-image-id" (click)="uploadImage()" class="avatar_user"
                                                [ngClass]="(!imageUrl) ? 'background_avatar': ''"
                                                matTooltip="Ảnh đại diện">
                                                <input #inputImageFile (change)="onChangeImageInput($event)"
                                                    class="ng-hide" id="input-image-id" multiple type="file"
                                                    accept="image/*" />
                                                <img id="avatarLesson" #avatarLesson [src]="imageUrl" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="border-bottom: solid #efefef 0.5px; margin:35px -106px">
                        <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20">
                            <label fxLayoutAlign="start center" for="" class="label_combobox_title"> Thông tin người
                                dùng (*):
                            </label>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center" class="row_flex m-b-20">
                            <div fxFlex="50" style="padding: 0 10px;">
                                <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20">
                                    <label fxFlex="30" fxLayoutAlign="start center" for="" class="label_combobox"> Giới
                                        tính:
                                    </label>
                                    <mat-radio-group formControlName="gender" aria-label="Chọn giới tính" fxLayout="row"
                                        fxFlex="70">
                                        <mat-radio-button value="1" fxFlex="15">Nam</mat-radio-button>
                                        <mat-radio-button value="2">Nữ</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20">
                                    <label fxFlex="30" fxLayoutAlign="start center" for="" class="label_combobox"> Kích
                                        hoạt:
                                    </label>
                                    <mat-radio-group formControlName="isActive" aria-label="Kích hoạt" fxLayout="row"
                                        fxFlex="70">
                                        <mat-radio-button value="1" fxFlex="15">Có</mat-radio-button>
                                        <mat-radio-button value="2">Không</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20">
                                    <label fxFlex="30" fxLayoutAlign="start center" for="" class="label_combobox"> Ngày
                                        sinh:
                                    </label>
                                    <mat-form-field fxFlex="60" class="date-picker-wrapper" appearance="outline">
                                        <input formControlName='dpDayOfBirthInput' matInput
                                            [matDatepicker]="dpDayOfBirth" (click)="openDpDayOfBirth()"
                                            onfocus="this.blur()" placeholder="dd/MM/yyyy" class="date-picker-input"
                                            autocomplete="off">
                                        <mat-datepicker-toggle matSuffix [for]="dpDayOfBirth"></mat-datepicker-toggle>
                                        <mat-datepicker #dpDayOfBirth>
                                        </mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20">
                                    <label fxFlex="30" fxLayoutAlign="start center" for="phone" class="label_combobox">
                                        Số
                                        điện thoại:
                                    </label>
                                    <mat-form-field class="matFormFieldSelectBox" appearance="outline" fxFlex="60">
                                        <mat-label>Số điện thoại</mat-label>
                                        <input matInput [formControl]="formCreateUser.get('phone')" type="text"
                                            name="phone" phone formControlName="phone">
                                        <mat-error *ngIf="formCreateUser.get('phone').hasError('maxlength')">
                                            Số điện thoại giới hạn 20 ký tự
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <input fxFlex="60" fxLayoutAlign="start center" name="phone" type="text"
                                formControlName="phone" class="input_name" formControlName="phone"
                                placeholder="Số điện thoại"> -->
                                </div>
                                <!-- <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
                            *ngIf="f.get('phone').touched && f.get('email').invalid" class="errors-msg">
                            <div fxFlex="90" fxLayoutAlign="end center">
                                <div *ngIf="f.get('phone').errors.maxlength">Số điện thoại giới hạn 20 ký tự
                                </div>
                            </div>
                        </div> -->

                                <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20">
                                    <label fxFlex="30" fxLayoutAlign="start center" for="" class="label_combobox"> Địa
                                        chỉ:
                                    </label>
                                    <mat-form-field class="matFormFieldSelectBox" appearance="outline" fxFlex="60"
                                        class="input_name">
                                        <mat-label>Địa chỉ</mat-label>
                                        <input matInput [formControl]="formCreateUser.get('address')" type="text"
                                            name="address" address formControlName="address">
                                        <mat-error *ngIf="formCreateUser.get('address').hasError('maxlength')">
                                            Địa chỉ giới hạn 255 ký tự
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <input fxFlex="60" fxLayoutAlign="start center" name="address" type="text"
                                formControlName="address" class="input_name" formControlName="address"
                                placeholder="Địa chỉ"> -->
                                </div>
                                <!-- <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
                            *ngIf="f.get('phone').touched && f.get('email').invalid" class="errors-msg">
                            <div fxFlex="90" fxLayoutAlign="end center">
                                <div *ngIf="f.get('phone').errors.maxlength">Địa chỉ giới hạn 100 ký tự</div>
                            </div>
                        </div> -->
                            </div>
                            <div fxFlex="50" style="padding: 0 10px;">
                                <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20">
                                    <label fxFlex="30" fxLayoutAlign="start center" for="" class="label_combobox"> Kiểu
                                        người
                                        dùng (*):
                                    </label>
                                    <mat-form-field fxFlex="60" appearance="outline"
                                        (click)="onUserTypeSelectClicked()">
                                        <mat-label>Chọn kiểu người dùng</mat-label>
                                        <mat-select [formControl]="userTypeCtrl" ngDefaultControl
                                            placeholder="Chọn kiểu người dùng" #singleSelectUserType
                                            disableOptionCentering
                                            (selectionChange)="onChangeUserTypeSelected($event.value)">
                                            <mat-option>
                                                <ngx-mat-select-search placeholderLabel="Tìm kiểu người dùng"
                                                    noEntriesFoundLabel="Không tìm thấy"
                                                    [formControl]="userTypeFilterCtrl">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let userType of filteredUserTypes | async"
                                                [value]="userType.id">
                                                {{userType.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="userTypeCtrl.hasError('required')">
                                            Vui lòng chọn một kiểu người dùng (*)
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
                            *ngIf="userTypeCtrl.touched && userTypeCtrl.invalid" class="errors-msg">
                            <div fxFlex="90" fxLayoutAlign="end center">
                                <div *ngIf="userTypeCtrl.errors.required">Vui lòng chọn một kiểu người dùng (*)
                                </div>
                            </div>
                        </div> -->
                                <div *ngIf="levelManageValue==1 && !this.isDepartmentLevelUserType" fxLayout="row"
                                    fxLayoutAlign="start center" class="row_flex m-b-20">
                                    <label *ngIf="!this.isDivisionLevelUserType" fxFlex="30"
                                        fxLayoutAlign="start center" for="" class="label_combobox"> Phòng giáo dục:
                                    </label>
                                    <label *ngIf="this.isDivisionLevelUserType" fxFlex="30" fxLayoutAlign="start center"
                                        for="" class="label_combobox"> Phòng giáo dục (*):
                                    </label>
                                    <mat-form-field fxFlex="60" appearance="outline"
                                        (click)="onDivisionSelectClicked()">
                                        <mat-label>Chọn phòng</mat-label>
                                        <mat-select [formControl]="divisionCtrl" ngDefaultControl
                                            placeholder="Chọn phòng" #singleSelectDivision disableOptionCentering
                                            (selectionChange)="onChangeDivisionSelected($event.value)">
                                            <mat-option>
                                                <ngx-mat-select-search placeholderLabel="Tìm phòng"
                                                    noEntriesFoundLabel="Không tìm thấy"
                                                    [formControl]="divisionFilterCtrl">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let division of filteredDivisions | async"
                                                [value]="division.id">
                                                {{division.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="divisionCtrl.hasError('required')">
                                            Vui lòng chọn một phòng (*)
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
                            *ngIf="divisionCtrl.touched && divisionCtrl.invalid && this.isDivisionLevelUserType"
                            class="errors-msg">
                            <div fxFlex="90" fxLayoutAlign="end center">
                                <div *ngIf="divisionCtrl.errors.required">Vui lòng chọn một phòng (*)</div>
                            </div>
                        </div> -->
                                <div *ngIf="levelManageValue<=2 && this.isSchoolLevelUserType" fxLayout="row"
                                    fxLayoutAlign="start center" class="row_flex m-b-20">
                                    <label fxFlex="30" fxLayoutAlign="start center" for="" class="label_combobox">
                                        Trường
                                        học
                                        (*):
                                    </label>
                                    <mat-form-field fxFlex="60" appearance="outline" (click)="onSchoolSelectClicked()">
                                        <mat-label>Chọn trường</mat-label>
                                        <mat-select [formControl]="schoolCtrl" ngDefaultControl
                                            placeholder="Chọn trường" #singleSelectSchool disableOptionCentering>
                                            <mat-option>
                                                <ngx-mat-select-search placeholderLabel="Tìm trường"
                                                    noEntriesFoundLabel="Không tìm thấy"
                                                    [formControl]="schoolFilterCtrl">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let school of filteredSchools | async"
                                                [value]="school.id">
                                                {{school.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="schoolCtrl.hasError('required')">
                                            Vui lòng chọn một trường (*)
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
                                *ngIf="schoolCtrl.touched && schoolCtrl.invalid && this.isSchoolLevelUserType"
                                class="errors-msg">
                                <div fxFlex="90" fxLayoutAlign="end center">
                                    <div *ngIf="schoolCtrl.errors.required">Vui lòng chọn một trường (*)</div>
                                </div>
                            </div> -->
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center" class="row_flex m-b-20">
                            <div group-button>
                                <div fxLayout="row" fxLayoutAlign="center start" class="row-flex">
                                    <button mat-flat-button type="button" (click)="btnCancelClicked()"
                                        class="btn_cancel m-r-10 m-l-10 button-cancel">Quay lại</button>
                                    <button mat-flat-button type="submit" color="primary"
                                        class="btn_continue m-r-10 m-l-10">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>