<mat-card class="manage-card">
  <form [formGroup]="settingSubjectForm">
    <mat-card-header>
      <mat-card-title>Thiết lập cho môn thi</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="content-setting">
      <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <label>Hiển thị:</label>
            <mat-form-field class="margin-l-r-5 mat-form-field-input" appearance="outline" fxFlex="15">
              <input matInput type="number" formControlName="displayPerPage">
            </mat-form-field>

            <label>Câu hỏi/Trang</label>
          </div>
        </div>
        <div>
          <mat-checkbox class="example-margin" formControlName="isShuffler">Xáo trộn câu hỏi</mat-checkbox>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <label>Thời gian làm bài:</label>

            <mat-form-field *ngIf="dataExamSubjectSettingReponse!=null" class="margin-l-r-5 mat-form-field-input"
              appearance="outline" fxFlex="15">
              <input matInput type="number" max="{{dataExamSubjectSettingReponse.maxTestTime}}"
                formControlName="testTime">
            </mat-form-field>
            <!-- <input type="number" class="input-text" max="{{dataExamSubjectSettingReponse.maxTestTime}}"
              formControlName="testTime"> -->
            <label>Phút</label>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <label>Số lần mở media:</label>
            <mat-form-field class="margin-l-r-5 mat-form-field-input" appearance="outline" fxFlex="15">
              <input matInput type="number" formControlName="numberOfMediaOpening">
            </mat-form-field>

            <label>Lần</label>
          </div>
        </div>
        <div>
          <mat-checkbox hidden class="example-margin" formControlName='isLockTestScreen'>Khóa
            ứng dụng</mat-checkbox>
        </div>
      </div>
    </mat-card-content>
  </form>
</mat-card>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <button mat-raised-button class="button-cancel" (click)="cancel()">Hủy</button>
  <button [disabled]="disableContinue" mat-flat-button color="primary" (click)="save()">Lưu</button>
</div>