.content-setting{
    font-size: 14px;
    color: #555555;
}
.input-text{
    width: 54px;
    height: 29px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px;
    text-align: center;
}
.margin-l-r-5 {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  :host ::ng-deep .mat-form-field-input{
      height: 40px;
    .mat-form-field-flex{
      height: 33px !important;
    }
    .mat-form-field-infix{
      margin-top: -13px !important;
    }
  }