<div class="notifi-container">
  <div class="icon-area">
    <mat-icon *ngIf="check==false">error_outline</mat-icon>
    <mat-icon *ngIf="check==true" svgIcon="content-finish"></mat-icon>
  </div>
  <div class="notifi-content"><span *ngIf="check==false">Bạn chưa trả lời hết tất cả câu hỏi </span> <span *ngIf="check==true">Bạn đã hoàn thành tất cả câu hỏi</span> </div>
  <div class="notifi-content-bottom"> <span>Bạn có chắc chắn nộp bài không?</span> </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="btn-group" fxLayoutGap="20px">
    <button class="button-cancel" mat-flat-button mat-dialog-close>Hủy</button>
    <button color="primary" mat-flat-button [mat-dialog-close]="true">Đồng ý</button>
  </div>
</div>
