.notifi-container {
  padding: 10px 20px 0px 20px;

  .btn-group {
    margin-top: 30px;

    .accept-button {
      color: white;
      background-color: #4CAF50;
      min-width: 100px;
    }

    .cancel-button {
      color: white;
      background-color: #adb5bd;
      min-width: 100px;
    }
  }

  .icon-area {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    width: 5rem;

    mat-icon {
      color: #DA251D;
      width: 4rem;
      height: 4rem;
      font-size: 4rem;
    }
  }

  .notifi-content {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #303030;
  }
  .notifi-content-bottom{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #555555;
  }
}

@media (max-width: 375px) {
  h3 {
    font-size: 14px;
  }
}
