.filter_bottom_action {
    display: flex;
    justify-content: space-between;
}

.mat-icon-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    .lesson_icon__action {
        width: 18px;
        font-size: 18px;
    }
}

.mat-raised-button {
    margin: 20px 0px 20px 20px;
}

.mat-header-cell {
    text-align: center;
    font-size: 16px;
}

.mat-cell {
    text-align: center;
}

.mat-danger {
    margin: 10px;
}
