<mat-card>
    <div class="selection_button">
        <button mat-raised-button color="primary" class="button-sm" (click)="addLesson()">
            <mat-icon svgIcon="add-white"></mat-icon>
            <!-- <a [routerLink]="['create-lesson']">Thêm bài giảng</a> -->
            Thêm bài giảng
        </button>

        <a mat-raised-button color="primary" class="button-sm" routerLink="/dashboard/learn/list-lesson-to-be-approved">
            <mat-icon svgIcon="approval"></mat-icon>
            Duyệt bài giảng
        </a>
    </div>
    <hr />
    <div class="example-container ">
        <div class="example-table-container">
            <table mat-table [dataSource]="lessonDataSource">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="start center"> STT </th>
                        <td mat-cell *matCellDef="let element;let i = index" fxFlex="20" fxLayoutAlign="start center">
                            {{i+1}}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef fxFlex="30" fxLayoutAlign="start center"> Tên bài giảng
                        </th>
                        <td mat-cell *matCellDef="let element" fxFlex="30" fxLayoutAlign="start center">
                            {{element.name}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef fxFlex="30" fxLayoutAlign="start center"> Giáo viên </th>
                        <td mat-cell *matCellDef="let element" fxFlex="30" fxLayoutAlign="start center">
                            {{element.userId}}
                        </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="start center"> Ngày tạo </th>
                        <td mat-cell *matCellDef="let element" fxFlex="20" fxLayoutAlign="start center">
                            {{element.createdDate |
                            date:'yyyy-MM-dd'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef fxFlex="10" fxLayoutAlign="end center"> Chức năng </th>
                        <td mat-cell *matCellDef="let element" fxFlex="10" fxLayoutAlign="end center">
                            <button mat-icon-button (click)="registerLesson(element.id)">
                                <mat-icon class="lesson_icon__action" svgIcon="release-sermons"></mat-icon>
                            </button>
                            <button mat-icon-button (click)="editLesson(element.id)">
                                <mat-icon class="lesson_icon__action" svgIcon="edit-black"></mat-icon>
                            </button>
                            <button mat-icon-button (click)="copyLesson(element.id)">
                                <mat-icon class="lesson_icon__action" svgIcon="copy-black"></mat-icon>
                            </button>
                            <button mat-icon-button (click)="deleteLesson(element.id)">
                                <mat-icon class="lesson_icon__action" svgIcon="trash-black" class="icon-delete">
                                </mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </div>
            </table>
        </div>
    </div>
    <mat-paginator [length]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    <div class="filter_bottom_action">
        <!-- <button mat-raised-button class="bg-danger">
            <mat-icon style="width:12px" svgIcon="trash-white" class="icon-filter"></mat-icon>
            Xóa đã chọn
        </button> -->
        <div class="fitler_bottom_action_paging_page">
            here is paging page
        </div>
    </div>
</mat-card>