.title-center {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
  
    text-align: center;
    text-transform: uppercase;
  
    color: #303030;
  
    opacity: 0.98;
  }
  
  .help-bpx {
    color: red;
  }
  
  .m-t-10 {
    margin-top: 10px;
  }
  
  
  .m-b-10 {
    margin-bottom: 10px;
  }
  
  .title-form {
    margin-bottom: 35px;
  }
  
  .dialog-action {
    margin-bottom: 0px;
    margin-top: 10px;
  }
  
  .lable {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #555555;
    opacity: 0.98;
  }
  