<div class="apply-css-alpha">
  <form>
    <div fxLayout="row" fxLayoutAlign="center start" class="title-form">
      <label class="title-center">Thêm thang đánh giá</label>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-20">
      <label class="lable" fxFlex="35">Tên thang(*)</label>
      <mat-form-field appearance="outline">
        <mat-label>Tên</mat-label>
        <input matInput fxFlex type="text" [(ngModel)]="assessmentLevelGroupRequest.name" required name="name"
          placeholder="Tên thang" autocomplete="off">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-10">
      <label class="lable" fxFlex="35">Mức điểm cao nhất(*)</label>
      <mat-form-field appearance="outline">
        <mat-label>Mức điểm cao nhất</mat-label>
        <input matInput fxFlex type="number" required placeholder="Mức điểm cao nhất" name="highestScore"
          [(ngModel)]="assessmentLevelGroupRequest.highestScore" autocomplete="off">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-10">
      <label class="lable" fxFlex="35">Mức điểm đạt(*)</label>
      <mat-form-field appearance="outline">
        <mat-label>Mức điểm đạt</mat-label>
        <input matInput fxFlex type="number" required placeholder="Mức điểm đạt"
          [(ngModel)]="assessmentLevelGroupRequest.passedScore" autocomplete="off" name="passedScore">
      </mat-form-field>
    </div>


    <div fxLayout="row" fxLayoutAlign="start center" class="m-t-10">
      <label class="lable" fxFlex="35">Kích hoạt(*)</label>
      <mat-slide-toggle color="primary" class="lable" labelPosition=before
        [checked]="assessmentLevelGroupRequest.isActived" (change)="isActivedChange($event)">
      </mat-slide-toggle>
    </div>

    <mat-dialog-actions align="center" class="dialog-action m-t-10">
      <button mat-flat-button mat-dialog-close class="button-cancel">Hủy</button>
      <button mat-flat-button color="primary" type="submit" color="primary" (click)="submitForm()">Lưu</button>
    </mat-dialog-actions>
  </form>
</div>
