<div class="test_info apply-css-alpha" *ngIf="!isLoadingData">
  <mat-card-content>
    <form>
      <div fxLayout="row" fxLayoutAlign="start center" class="m-b-20">
        <label fxFlex="10">Tiêu đề: </label>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label class="content-label">Tên bài kiểm tra(*)</mat-label>
          <input type="text" matInput [formControl]="nameContentControl" placeholder="Tên bài kiểm tra..."
            [(ngModel)]="testDetailModel.name" maxlength="255">
          <mat-error *ngIf="nameContentControl.hasError('required')">
            Tên bài kiểm tra không được để trống
          </mat-error>
          <mat-error *ngIf="nameContentControl.hasError('maxlength')">
            Tên bài kiểm tra không vượt quá 255 ký tự
          </mat-error>
        </mat-form-field>
      </div>
    </form>
    <div *ngIf="!isLoadingData" fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="30" fxLayoutAlign="start center" class="m-r-30">
        <label fxFlex="33" fxLayoutAlign="start center" class="content-label" for="">Tiết học: </label>
        <div fxFlex="67" fxLayoutAlign="center center">
          <mat-form-field fxFlex="100" appearance="outline">
            <mat-label>Chọn tiết</mat-label>
            <mat-select [formControl]="groupContentControl" #singleSelect [placeholder]="'Chọn tiết'"
              (selectionChange)="onChangeOption($event.value)" [(ngModel)]="testDetailModel.contentGroupId">
              <mat-option>
                <ngx-mat-select-search [formControl]="groupContentFilterControl" placeholderLabel="Nhập tiết"
                  noEntriesFoundLabel="Không tìm thấy tiết"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let groupContent of filteredGroupContents | async" [value]="groupContent.id">
                {{groupContent.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- <div fxFlex="70" class="pass-score">
        <label fxFlex="20" class="content-label">
          Điểm tối thiểu để hoàn thành
        </label>
        <mat-form-field class="example-full-width" style="width: 100px" appearance="outline">
          <mat-label>Điểm</mat-label>
          <input [formControl]="passScoreControl" type="number" matInput min="0"
            [(ngModel)]="testDetailModel.scoreAfterFinish">
          <mat-error *ngIf="passScoreControl.hasError('max')">
            Điểm tối thiểu hoàn thành không được vượt quá tổng điểm các câu hỏi
          </mat-error>
          <mat-error *ngIf="passScoreControl.hasError('required')">
            Điểm tối thiểu hoàn thành không được để trống
          </mat-error>
        </mat-form-field>
      </div> -->
    </div>
  </mat-card-content>
</div>


<div fxLayout="row" fxLayoutAlign="start start" class="m-b-15">
  <div>
    <button mat-raised-button color="primary" class="btn_add m-r-20" (click)="addQuestionFromFile()">
      <input type="file" #fileQuestion style="display: none;" (change)="handle($event)" accept=".doc,.docx">
      <span class="material-icons">file_upload</span>
      Thêm từ tệp tin
    </button>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" class="m-r-20">
      <span class="material-icons">
        download
      </span>
      Tải tệp tin
    </button>
    <mat-menu #menu="matMenu">
      <a [href]="getLinkTemplate(1)" target="_blank">
        <button mat-menu-item>
          <span>Tải tập tin mẫu</span>
        </button>
      </a>

      <a [href]="getLinkTemplate(2)" target="_blank">
      <button mat-menu-item>
        <span>Tải tập tin hướng dẫn</span>
      </button>
      </a>
    </mat-menu>
  </div>
  <div *ngIf="questionsShow.length > 0">
    <button mat-raised-button color="primary" (click)="previewTest()">
      <mat-icon>visibility</mat-icon>
      Xem trước
    </button>
  </div>
</div>
<div>
  <div fxLayout="row" fxFlex=100>
    <div fxFlex=40 class="m-r-20">
      <div fxLayout="column" class="content">
        <mat-card-content class="title_number_question" style="margin-bottom: 0px">
          <div fxLayout="row">
            <div fxFlex="70" fxLayoutAlign="start center" class="table_question_title">Câu hỏi chọn ra đề</div>
            <div fxFlex="30" fxLayout="column" fxLayoutAlign="end end" class="info">
              <div fxLayout="row">
                <label class="label_title"> Số câu hỏi: </label> <label class="label_title label_total color-green">
                  {{questionsShow.length}} </label>
              </div>
              <div fxLayout="row">
                <label class="label_title"> Tổng điểm: </label> <label class="label_title label_total color-red">
                  {{totalScore}} </label>
              </div>
            </div>
          </div>
          <!-- <div class="border_bottom_header"></div> -->
        </mat-card-content>
        <mat-card-content *ngIf="this.questionsShow.length > 0" class="list-question-wrapper">
          <div fxLayout="row" fxLayoutAlign="start center" class="flex_row question_header list_header">
            <div class="check_column" fxFlex="7">
              <mat-checkbox class="example-margin" [checked]="allComplete" (change)="setAll($event.checked)"
                [indeterminate]="someComplete()" [color]="'primary'">
              </mat-checkbox>
            </div>
            <div class="content_column ct_column" fxFlex="76">
              <span> Nội dung</span>
            </div>
            <div class="score_column ct_column" fxFlex="10">
              <span>Điểm</span>
            </div>
            <div class="action_column" fxFlex="7">

            </div>
          </div>
          <div fxLayout="row wrap" *ngFor="let question of questionsShow;let i = index " fxLayoutAlign="start center"
            class="flex_row flex_item" [ngClass]="{'question-selected': question.id==currentQuestionId}">
            <p class="question_type"
              [ngClass]="{'single': question.format === 'SIG', 'group': question.format === 'GRO'}">
              {{question.format === 'SIG' ? 'Câu hỏi đơn': 'Câu hỏi chùm'}}
            </p>
            <div fxFlex="100" fxLayoutAlign="space-between center" class="question_row"
              (click)="chooseQuestion(question)">
              <div class="block">
                <div class="check_column" fxFlex="7">
                  <mat-checkbox class="example-margin" [(ngModel)]="question.isChecked"
                    (ngModelChange)="updateAllComplete($event, question)" [color]="'primary'">
                  </mat-checkbox>
                </div>
                <div class="content_column" fxFlex="76">
                  <span *ngIf="!showInner" [innerHTML]="question.content | safeHtml" class="question"></span>
                </div>
                <div class="score_column" fxFlex="10">
                  <input [(ngModel)]="question.score" [disabled]="question.format=='GRO'" type="number" class="inputNumber"
                    (focusout)="updateScore(question.id, question.score)">
                </div>
                <div class="action_column" fxFlex="7">
                  <button mat-icon-button (click)="deleteQuestion(question)">
                    <mat-icon svgIcon="trash"></mat-icon>
                  </button>
                </div>
              </div>
            </div>

            <div fxFlex="100" fxLayoutAlign="space-between "
              *ngFor="let child of question.questions;let childIndex = index" class="question_row_child">
              <div class="check_column" fxFlex="7">
                <mat-checkbox class="example-margin" [(ngModel)]="child.isChecked"
                  (ngModelChange)="updateAllComplete($event, child)" [color]="'primary'">
                </mat-checkbox>
              </div>
              <div class="content_column" fxFlex="76" (click)="chooseQuestion(child,childIndex)">
                <span *ngIf="!showInner" [innerHTML]="child.content | safeHtml"></span>
              </div>
              <div class="score_column" fxFlex="10">
                <input [(ngModel)]="child.score" type="number" class="inputNumber"
                  (focusout)="updateScoreChild(question.id,child.id, child.score)">
              </div>
              <div class="action_column" fxFlex="7">
                <button mat-icon-button (click)="deleteQuestion(child)">
                  <mat-icon svgIcon="trash"></mat-icon>
                </button>
              </div>
            </div>
          </div>

        </mat-card-content>
        <mat-card-content fxFlex fxLayout="row" fxLayoutAlign="space-between" *ngIf="this.questionsShow.length == 0">
          <div fxFlex fxLayout="column" fxLayoutAlign="center center">
            <label class="label-tip">Không có câu hỏi nào trong danh sách</label>
            <label *ngIf="createType == 'FIL'" class="label-tip">Hãy bấm nút Thêm từ tệp tin để tải lên câu
              hỏi
              của bạn.</label>
            <label *ngIf="createType == 'MAT'" class="label-tip">Hãy bấm nút Ma trận đề bên để thiết lập cấu
              hình và lấy đề tự động.</label>
            <label *ngIf="createType == 'QTB'" class="label-tip">Hãy bấm nút Ngân hàng câu hỏi để lấy câu
              hỏi.</label>
          </div>
        </mat-card-content>
        <div fxFlex *ngIf="this.questionsShow.length > 0" fxLayout="row" fxLayoutAlign="start end"
          class="m-t-15 btn-action-group">
          <div fxLayoutAlign="start start">
            <button class="bg-danger btn_delete_selected" mat-raised-button color="white" (click)="deleteSelected()">
              <span class="material-icons bottom-icon">
                delete
              </span>
              Xóa đã chọn
            </button>
          </div>
          <div>
            <button mat-raised-button color="primary" class="btn_update_score" (click)="openUpdateScoreDialog()">
              <span class="material-icons-outlined bottom-icon">
                sports_score
              </span>
              Cập nhật điểm
            </button>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex.gt-lg="60" fxFlex.gt-md="54">
      <div *ngIf="isLoadDetailContent && question != undefined" class="question-right">
        <mat-card-content fxLayout="column">
          <all-questions *ngIf="question.action == actionEnum.Add" [data]="question" [childIndex]="childIndex"
            [configUpload]="configUpload" (outputData)="updateQuestion($event)"></all-questions>
          <app-edit-question *ngIf="question.action != actionEnum.Add" [data]="question" [childIndex]="childIndex"
            [configUpload]="configUpload" (outputData)="updateQuestion($event)">
          </app-edit-question>
        </mat-card-content>
      </div>
      <div *ngIf="!isLoadDetailContent || question == undefined" class="question-right">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="empty-question-right">
          <label class="label-tip">Chọn một câu hỏi từ danh sách để chỉnh sửa</label>
        </div>
      </div>
    </div>
  </div>
</div>