.question_basic {
  position: relative;
}

//mark question
.mark-question {
  position: absolute;
  right: 0;
  top: -40px;
  margin-bottom: 0px;
  border: 0.5px solid #d2c3c3;
  box-sizing: border-box;
  border-radius: 4px;
  z-index: 999;
  color: #888888;
  height: 32px;
  line-height: 32px !important;
  padding: 0 7px !important;
  background: #FFFFFF !important;
  
  mat-icon {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
    line-height: 0.8rem;
  }
}

.mark-question-active {
  background: #FEC941 !important;
  color: white;
  border: none;
}

.test-question-list {
  width: 100%;
  padding: 1rem
}

.reset-test-question-list {
  border-top: 0px;
}

.done {
  color: #4CAF50;
}

.test-question-list {
  width: 100%;
  display: table;
  padding: 0 0 0 30px;
}

.test-question-list .test-question:last-child {
  border-bottom: none;
}

.test-question-list .test-question {
  width: 100%;
  display: table;
  padding: 15px 0;
  border-bottom: 1px solid #CACACA;
}

.test-question-list .test-question .answer-list {
  max-width: calc(100%);
  margin-left: 100px;
  position: relative;
}

.test-question-list .test-question .answer-list .full-sentence {
  width: calc(100% - 50px);
  height: 85px;
  margin-bottom: 15px;
}

.test-question-list .test-question .answer-list .full-sentence .left-position {
  width: calc(50% - 8px);
  height: 75px;
  border: 1px solid #CACACA;
  position: relative;
  background-color: #fff;
  padding: 5px 5px 5px 15px;
  border-radius: 4px 0 0 4px;
}

.matching-content {
  overflow-x: hidden;
  max-height: 100%;
  overflow-y: auto;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #555555;
  height: 66px;
  display: flex;
  align-items: center;
}

.show-full-content {
  cursor: pointer;
}

.test-question-list .test-question .answer-list .full-sentence .left-position .top-edge {
  width: 10px;
  height: 25px;
  border-right: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  position: absolute;
  right: -10px;
  top: -1px;
  background-color: #fff;
  border-radius: 0px 4px 0px 0px;
}

.test-question-list .test-question .answer-list .full-sentence .left-position .bottom-edge {
  width: 10px;
  height: 25px;
  border-right: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  position: absolute;
  right: -10px;
  bottom: -1px;
  background-color: #fff;
  border-radius: 0px 0px 4px 0px;
}

.test-question-list .test-question .answer-list .right-position {
  width: calc(50% - 25px);
  height: 75px;
  border: 1px solid #CACACA;
  position: absolute;
  background-color: #fff;
  padding: 5px 15px;
  right: 0;
  top: 0;
  z-index: 99;
  border-radius: 4px;
}


.test-question-list .test-question .answer-list .right-position .middle-edge {
  width: 10px;
  height: 25px;
  border-left: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  position: absolute;
  left: -10px;
  top: 24px;
  background-color: #fff;
}

.full-sentence.hovered .left-position,
.test-question-list .test-question .answer-list .full-sentence.hovered .left-position,
.test-question-list .test-question .answer-list .full-sentence.hovered .left-position div {
  border-color: #f4a211;
  background-color: #fbdeab;
}

// .show-result {
//   margin-bottom: 1rem;
// }

// .true {
//   color: #198754;
// }

// .false {
//   color: red;
// }

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #DEDEDE;
}

.question-title {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #303030;
  position: relative;

  .order {
    position: absolute;
    left: 0;
    top: -3px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 22px;
    color: #4CAF50;
  }

  .score {
    position: absolute;
    right: 0;
    top: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #4CAF50;
  }
}

:host.check-true {
  color: #4CAF50;
}

.order-answer{
  height: 1.5rem;
}

:host ::ng-deep .mat-card {
  border: 1px solid #ebe9f1;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

:host ::ng-deep .matching .mat-card-content {
  padding: 15px;
}


.result{
  color: #4CAF50;
  font-weight: bold;
}