<div class="question_basic matching">
  <div [hidden]="isResult==true">
    <button mat-flat-button class="mark-question" [ngClass]="{'mark-question-active': isFlag}" (click)="isMark()">Đánh
      dấu
      <mat-icon [ngClass]="{'color-red': isFlag === true}">flag</mat-icon>
    </button>
  </div>
  <div [ngClass]="{'question': isResult == false || isResult == undefined}">
    <mat-card>
      <mat-card-content>
        <!--xema lại kết quá-->
        <div *ngIf="isResult == true && isPublicAnswer" class="show-result" [ngClass]="{'true': isTrueQuestion == true, 'false': isTrueQuestion == false}">
          <!-- <span>Kết quả trả lời: </span> -->
          <ng-container *ngIf="isTrueQuestion==true; else elset">
            <span>Trả lời đúng</span>
          </ng-container>
          <ng-template #elset>
            <span>Trả lời sai</span>
          </ng-template>
        </div>

        <div *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock" class="question-title">
          <span [MathJax]="dataQuestion.content">
          </span>
          <!-- <span class="order"> {{dataQuestion.order}}. </span> -->
        </div>
        <ng-template #elseBlock>
          <div class="question-title">
            <span [innerHTML]="dataQuestion.content">
            </span>
            <!-- <span class="order"> {{dataQuestion.order}}. </span> -->
          </div>
        </ng-template>

        <ng-container *ngIf="screenWidth>=960; else elseTemplate">
          <div class="test-question-list reset-test-question-list">
            <div class="test-question" data-type="matching">
              <div class="cau-ghep-doi" [attr.data-ma-cau-hoi]="IdQuestion">
                <div class="answer-list answer-list-{{IdQuestion}}">
                  <div fxLayout=row *ngFor="let item of answers.false;index as i"
                    class="full-sentence full-sentence-{{item.id}}" [attr.data-id]="item.id">
                    <div *ngIf="isResult==true" class="check-{{item.id}}">
                    </div>
                    <div class="left-position">
                      <div fxLayout=row fxLayoutAlign="start center" style="min-height: 100%; max-height: 100%;">
                        <div fxLayoutAlign="center center">
                          <span class="order-answer">{{i+1}}. &nbsp;</span>
                        </div>
                        <div *ngIf="item.content.indexOf(defaultMath)!=-1; else elseBlock">
                          <div class="matching-content scrollbar-custom" data-toggle="tooltip" data-container="body"
                            data-placement="top" [MathJax]="item.content">
                          </div>
                        </div>
                        <ng-template #elseBlock>
                          <div class="matching-content scrollbar-custom abc" data-toggle="tooltip" data-container="body"
                            data-placement="top" [innerHTML]="item.content | safeHtml">
                          </div>
                        </ng-template>
                      </div>
                      <div class="top-edge"></div>
                      <div class="bottom-edge"></div>
                    </div>
                  </div>
                  <div *ngFor="let item of answers.true;index as i" class="right-position right-position-{{item.id}}"
                    [attr.data-id]="item.id">
                    <div fxLayout=row fxLayoutAlign="start center">
                      <div fxLayoutAlign="center center">
                        <span class="order-answer">{{alphabet[i]}}. &nbsp;</span>
                      </div>
                      <div *ngIf="item.content.indexOf(defaultMath)!=-1; else elseBlock">
                        <div class="matching-content" data-toggle="tooltip" data-container="body" data-placement="top"
                          [MathJax]="item.content">
                        </div>
                      </div>
                      <ng-template #elseBlock>
                        <div class="matching-content" data-toggle="tooltip" data-container="body" data-placement="top"
                          [innerHTML]="item.content | safeHtml">
                        </div>
                      </ng-template>
                    </div>
                    <!-- <div class="show-full-content" style="position: absolute; left: 2px; top: 0rem">
                        <i class="fa fa-external-link show-full-content-icon" title="Hiện toàn bộ nội dung"></i>
                        <p style="display: none" class="answer-content-hide"></p>
                      </div> -->
                    <div class="middle-edge"></div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <ng-container *ngIf="(isResult==false || isResult == undefined); else elseTemplate">
            <!--khu chộn đáp án đúng-->
            <div>
              <div *ngFor="let item of data;index as i">
                <div>
                  {{i+1}} .
                  <mat-form-field class="select-answer">
                    <mat-select class="dapAn" [(ngModel)]="item.order" (selectionChange)="ChoiceAnswer($event,i)">
                      <mat-option *ngFor="let answer of  answers.true;index as id" [value]="answer.id">
                        {{alphabet[id]}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <hr />
            <!--Khu hiển thị danh sach đáp án-->
            <div fxLayout='row'>
              <div fxFlex="50%">
                <div *ngFor="let item of answers.false;index as i">
                  <p fxLayout='row'>{{i+1}}. <span [MathJax]="item.content"></span></p>
                </div>
              </div>
              <div fxFlex="50%">
                <div *ngFor="let item of answers.true;index as i">
                  <p fxLayout='row'>{{alphabet[i]}}. <span [MathJax]="item.content"></span></p>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #elseTemplate>
            <!--khu chộn đáp án đúng-->
            <div>
              <div *ngFor="let item of data;index as i">
                <div>
                  {{i+1}} .
                  <mat-form-field class="select-answer">
                    <mat-select class="dapAn" [(ngModel)]="item.order" (selectionChange)="ChoiceAnswer($event,i)"
                      [disabled]="true">
                      <mat-option *ngFor="let answer of  answers.true;index as id" [value]="answer.id">
                        {{alphabet[id]}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div fxFlex=5 fxLayoutGap=20px *ngIf="isPublicAnswer">
                    <span *ngIf="item.isTrue==true" class="true">
                      <mat-icon class="true">done</mat-icon>
                    </span>
                    <span *ngIf="item.isTrue==false">
                      <mat-icon class="false">close</mat-icon>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!--Khu hiển thị danh sach đáp án-->
            <div fxLayout='row'>
              <div fxFlex="50%">
                <div *ngFor="let item of answers.false;index as i">
                  <p fxLayout='row'>{{i+1}}. <span [MathJax]="item.content"></span></p>
                </div>
              </div>
              <div fxFlex="50%">
                <div *ngFor="let item of answers.true;index as i">
                  <p fxLayout='row'>{{alphabet[i]}}. <span [MathJax]="item.content"></span></p>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-template>


        <div *ngIf="isResult == true && isPublicAnswer">
          <div fxLayout=row>
            <span fxLayoutAlign="center center" class="m-r-10">Kết quả:</span>
            <div *ngFor="let i of groupAnswers()" fxLayout=row>
              <div
                *ngIf="answersOfGroup(i)[1]!=undefined && answersOfGroup(i)[0].position==true && answersOfGroup(i)[0].trueAnswer==i">
                <p class="result">{{i}} -&nbsp;</p>
              </div>
              <div fxLayout=row 
                *ngIf="answersOfGroup(i)[1]!=undefined && answersOfGroup(i)[1].position==false && answersOfGroup(i)[1].trueAnswer==i">
                <p>{{alphabet[i-1]}}. &nbsp;</p>
                <!-- <div *ngIf="answersOfGroup(i)[1].content.indexOf(defaultMath)!=-1; else elseBlock"> <span
                      [MathJax]="answersOfGroup(i)[1].content"></span>
                  </div>
                  <ng-template #elseBlock> <span [innerHTML]="answersOfGroup(i)[1].content"></span></ng-template> -->
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
