.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.status {
  width: fit-content;
  padding: 3px 14px;
  margin: 0 auto;

  &.status-badge-upcoming {
    // background: #fff5e0;
    border-radius: 10.5px;
    height: 21px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #e5ae40;
    background: #FFF5E0;
    text-align: center;
    opacity: 0.98;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.status-badge-happenning {
    // background: #dbffdc;
    border-radius: 10.5px;
    height: 21px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #4caf50;
    text-align: center;
    opacity: 0.98;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.status-badge-not-organized-yet {
    background: #f3f3f3;
    border-radius: 10.5px;
    height: 21px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #555555;
    text-align: center;
    opacity: 0.98;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.status-badge-end {
    height: 21px;
    // background: #ffe0df;
    border-radius: 10.5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    background: #FFE0DF;
    color: #da251d;
    text-align: center;
    opacity: 0.98;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }
}

.btn-action{
  display: flex;
  justify-content: start;
  align-items: center;

  // span .material-icons-outlined{
  //   margin-right: 4px;
  // }
}
.user-filter-date.close_button {
  position: absolute;
  font-size: 17px;
  right: 12px;
  height: auto;
  margin-top: 0;
  color: #757575;
  top: 2px;
  cursor: pointer;
  width: auto;
}

.mat-column-lessonName {
  width: 30%;
}

@media (max-width: 1440px) {
  .mat-column-lessonName {
    width: 20%;
  }

  .mat-column-name {
    width: 27%;
  }
}

:host::ng-deep .mat-tab-header {
  border: none;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
  margin: 0px 15px;

  .mat-tab-labels {
    background-color: white;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    .mat-tab-label-active {
      color: #4caf50;
    }

    .mat-tab-label {
      .mat-tab-label-content {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
      }
    }
  }
}

.hr-style {
  border-top: 0.1px solid rgb(232, 232, 232);
  margin: 0px 20px;
}

.mat-column-function-classes {
  min-width: 150px;
  width: 150px !important;
  text-align: center !important;
  padding-right: 0 !important;
}

.mat-column-status-classes {
  width: 15%;
}

.mat-column-name-classes {
  width: 40%;
}

.type-zoom {
  background: #4f91ff;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
  width: fit-content;
}

.type-google-meet {
  background: #4caf50;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
  width: fit-content;
}

::ng-deep.mat-menu-guide {
  max-width: 300px !important;
}

.p-b-0-i{
  padding-bottom: 0px !important;
}