<div class="apply-css-alpha list-online-class-room">
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex class="mat-title mb-0">Danh sách lớp học tương tác</div>
        <div fxFlex fxLayoutAlign="end center">
          <button *ngIf="isShowFilter" (click)="onClickToggleShowFilter()" mat-raised-button
            class="button-hidden-filter">
            <span class="material-icons">visibility_off</span>
            Ẩn bộ lọc
          </button>
          <button *ngIf="!isShowFilter" (click)="onClickToggleShowFilter()" mat-raised-button
            class="button-hidden-filter">
            <span style="width: 24px;" class="material-icons">visibility_on</span>
            Hiện bộ lọc
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-tab-group class="container">
    <mat-tab label="Lớp học tương tác" [ngClass.xs]="{'::ng-deep .mat-tab-label': true}">
      <mat-card class="manage-card">
        <mat-card-content class="m-b-0">
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="30px grid">
            <div fxFlex="none">
              <button mat-raised-button color="primary" (click)="onCreateClassGoogleMeetHandleClickClasses()"
                *ngIf='hasAddClassPermission'>
                <mat-icon class="icon">add_circle_outline</mat-icon> Thêm lớp học tương tác Google Meet
              </button>
            </div>
            <div fxFlex="none">
              <button mat-raised-button color="primary" (click)="onCreateClassZoomHandleClickClasses()"
                *ngIf='hasAddClassPermission'>
                <mat-icon class="icon">add_circle_outline</mat-icon> Thêm lớp học tương tác Zoom
              </button>
            </div>
            <div fxFlex fxLayoutAlign="end center" fxLayoutAlign.gt-sm="end center">
              <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon class="icon">help_outline</mat-icon> Hướng dẫn sử dụng
              </button>
              <mat-menu #menu="matMenu" class="mat-menu-guide">
                <a [href]="getLinkTemplate('GMT')" target="_blank">
                  <button mat-menu-item>
                    <span>Tạo lớp học tương tác từ Google Meet</span>
                  </button>
                </a>

                <a [href]="getLinkTemplate('ZOM')" target="_blank">
                  <button mat-menu-item>
                    <span>Tạo lớp học tương tác từ Zoom</span>
                  </button>
                </a>
              </mat-menu>
            </div>

          </div>
        </mat-card-content>
        <hr class="hr-style">
        <mat-card-content *ngIf="isShowFilter" class="">
          <form [formGroup]="filterOnlineClasses" (ngSubmit)="onSubmitClasses()">
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="20px grid">
              <div fxFlex fxFlex.gt-md="25">
                <mat-form-field appearance="outline">
                  <mat-label>Loại phòng học</mat-label>
                  <mat-select formControlName="meetingType" placeholder="Tất cả loại phòng học" disableOptionCentering>
                    <mat-option value="">
                      Chọn loại phòng học
                    </mat-option>
                    <mat-option value="GMT">
                      Google Meet
                    </mat-option>
                    <mat-option value="ZOM">
                      Zoom
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex fxFlex.gt-md="25">
                <mat-form-field appearance="outline">
                  <mat-label>Trạng thái</mat-label>
                  <mat-select formControlName="status" placeholder="Tất cả trang thái" disableOptionCentering>
                    <mat-option value="">
                      Chọn trạng thái
                    </mat-option>
                    <mat-option value="NST">
                      Chưa bắt đầu
                    </mat-option>
                    <mat-option value="STR">
                      Đã bắt đầu
                    </mat-option>
                    <mat-option value="END">
                      Đã kết thúc
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex fxFlex.gt-md="25">
                <mat-form-field appearance="outline">
                  <mat-label>Từ ngày</mat-label>
                  <input matInput [matDatepicker]="dpFromDateClasses" formControlName="fromDate"
                    placeholder="dd/MM/yyyy" autocomplete="off" onfocus="this.blur()" (click)="openDpFromDateClasses()">
                  <mat-datepicker-toggle matSuffix [for]="dpFromDateClasses"></mat-datepicker-toggle>
                  <mat-icon *ngIf="this.startDate.value" (click)="clearDateClasses('from')"
                    class="user-filter-date close_button" matDatepickerToggleIcon>clear</mat-icon>
                  <mat-datepicker #dpFromDateClasses></mat-datepicker>
                </mat-form-field>
              </div>
              <div fxFlex fxFlex.gt-md="25">
                <mat-form-field appearance="outline">
                  <mat-label>Đến ngày</mat-label>
                  <input matInput [matDatepicker]="dpToDateClasses" formControlName="toDate" placeholder="dd/MM/yyyy"
                    autocomplete="off" onfocus="this.blur()" (click)="openDpToDateClasses()">
                  <mat-datepicker-toggle matSuffix [for]="dpToDateClasses"></mat-datepicker-toggle>
                  <mat-icon *ngIf="this.endDate.value" (click)="clearDateClasses('to')"
                    class="user-filter-date close_button" matDatepickerToggleIcon>clear</mat-icon>
                  <mat-datepicker #dpToDateClasses></mat-datepicker>
                </mat-form-field>
              </div>
              <div fxFlex fxFlex.gt-md="25">
                <mat-form-field appearance="outline">
                  <mat-label>Tìm kiếm</mat-label>
                  <input matInput type="text" formControlName="keyWord" placeholder="Tìm kiếm" maxlength="50">
                  <mat-error *ngIf="keywordClasses.hasError('maxlength')">Không vượt quá 50 ký tự</mat-error>
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
              <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
                <button mat-raised-button color="primary" type="submit" [disabled]='isDisableFilterSubmitClasses'>
                  <mat-icon matSuffix>filter_list</mat-icon>
                  Lọc kết quả
                </button>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <app-spinner2 [fullScreen]="isFullScreen"></app-spinner2>
        <table mat-table [dataSource]="listOnlineClasses">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <ng-container matColumnDef="stt">
              <th mat-header-cell *matHeaderCellDef> STT
              </th>
              <td mat-cell *matCellDef="let element;let i = index">
                {{i+1}}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="mat-column-name-classes">TÊN LỚP HỌC TƯƠNG TÁC
              </th>
              <td mat-cell *matCellDef="let element" class="mat-main-column">
                <div fxLayout="column">
                  <span>
                    {{element.name}}
                  </span>
                  <span class="type-zoom" *ngIf="element.meetingType=='ZOM'">Zoom</span>
                  <span class="type-google-meet" *ngIf="element.meetingType=='GMT'">Google Meet</span>
                </div>
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="startDate">
              <th mat-header-cell *matHeaderCellDef class="mat-column-datetime"> NGÀY BẮT ĐẦU </th>
              <td mat-cell *matCellDef="let element" class="mat-column-datetime">
                <span class="text-green"><b>{{element.startDate|date :'HH:mm'}}</b></span>
                <span> &nbsp; {{ element.startDate|date :'dd/MM/yyyy'}}</span>
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="endDate">
              <th mat-header-cell *matHeaderCellDef class="mat-column-datetime"> NGÀY KẾT THÚC
              </th>
              <td mat-cell *matCellDef="let element" class="mat-column-datetime">
                <span class="text-red"><b>{{element.finishDate|date :'HH:mm'}}</b></span>
                <span> &nbsp; {{ element.finishDate|date :'dd/MM/yyyy'}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef class="mat-column-status-classes"> TRẠNG THÁI
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="status status-badge-not-organized-yet" *ngIf="element.statusOnline == 'NST'">
                  Chưa bắt đầu
                </div>
                <div class="status status-badge-end" *ngIf="element.statusOnline == 'END'">
                  Đã kết thúc
                </div>
                <div class="status status-badge-upcoming" *ngIf="element.statusOnline == 'STR'">
                  Đã bắt đầu
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="function">
              <th mat-header-cell *matHeaderCellDef class="mat-column-function-classes"> CHỨC NĂNG
              </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="onRollCallButtonHandleClick(element)" class="btn-action">
                    <span class="material-icons-outlined" matTooltip='Điểm danh'
                      style="color: rgba(0, 0, 0, 0.54);margin-top: 4px;">
                      person_add
                    </span>
                    <span> Điểm danh</span>
                  </button>
                  <!-- <button mat-menu-item (click)="onCopyLinkHandleClickClasses(element.joinURL)" class="btn-action">
                    <span class="material-icons-outlined" matTooltip='Sao chép' style="color: rgba(0, 0, 0, 0.54);">
                      copy
                    </span>
                    Sao chép
                  </button> -->
                  <button mat-menu-item (click)="onEditClassHandleClickClasses(element.id)"
                    *ngIf='hasEditClassPermission' class="btn-action">
                    <mat-icon matTooltip='Sửa' svgIcon="edit-black">
                    </mat-icon>
                    Sửa
                  </button>
                  <button mat-menu-item (click)="onDeleteClassHandleClickClasses(element.id)"
                    *ngIf='hasDeleteClassPermission' class="btn-action">
                    <mat-icon matTooltip='Xóa' svgIcon="trash-black">
                    </mat-icon>
                    Xóa
                  </button>
                </mat-menu>
                <button mat-icon-button (click)="onAssignStudentHandleClickClasses(element.id)"
                  *ngIf='hasAssignClassPermission'>
                  <mat-icon matTooltip="Ghi danh" svgIcon="release-sermons">
                  </mat-icon>
                </button>
                <button mat-icon-button (click)="onOnlineTeachingHandleClickClasses(element)"
                  matTooltip="Dạy trực tuyến">
                  <span class="material-icons-outlined">
                    play_lesson
                  </span>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsClasses"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsClasses;">
              <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td colspan="7" class="mat-cell background-no-content">
                <div class="background-no-content-img"></div>
                <div class="background-no-content-info">
                  <p>Không tìm thấy lớp học tương tác</p>
                </div>
              </td>
            </tr>
          </div>
        </table>
        <mat-paginator #paginatorClasses [length]="countClasses" [pageSizeOptions]="[10, 20, 30, 100]"
          (page)="pageChangeClasses($event)">
        </mat-paginator>
      </mat-card>
    </mat-tab>
    <mat-tab label="Nội dung tương tác" [ngClass.xs]="{'::ng-deep .mat-tab-label': true}">
      <mat-card class="manage-card">
        <mat-card-content *ngIf="isShowFilter" class="m-b-0 p-b-0-i">
          <form [formGroup]="filterOnlineTeaching" (ngSubmit)="onSubmit()">
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="20px grid">
              <div fxFlex fxFlex.gt-md="25">
                <mat-form-field appearance="outline" (click)="onLessonSelectHandleClick()">
                  <mat-label>Tên bài giảng</mat-label>
                  <mat-select formControlName="lessonId" placeholder="Chọn bài giảng" #singleSelectLesson
                    disableOptionCentering>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Tìm bài giảng" noEntriesFoundLabel="Không tìm thấy"
                        [formControl]="lessonSelectFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let filteredLesson of filteredLessons | async" [value]="filteredLesson.id">
                      {{filteredLesson.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex fxFlex.gt-md="25">
                <mat-form-field appearance="outline">
                  <mat-label>Trạng thái</mat-label>
                  <mat-select formControlName="status" placeholder="Tất cả trang thái" disableOptionCentering>
                    <mat-option value="">
                      Chọn trạng thái
                    </mat-option>
                    <mat-option value="NST">
                      Chưa bắt đầu
                    </mat-option>
                    <mat-option value="STA">
                      Đã bắt đầu
                    </mat-option>
                    <mat-option value="END">
                      Đã kết thúc
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex fxFlex.gt-md="25">
                <mat-form-field appearance="outline">
                  <mat-label>Từ ngày</mat-label>
                  <input matInput [matDatepicker]="dpFromDate" formControlName="startDate" placeholder="dd/MM/yyyy"
                    autocomplete="off" onfocus="this.blur()" (click)="openDpFromDate()">
                  <mat-datepicker-toggle matSuffix [for]="dpFromDate"></mat-datepicker-toggle>
                  <mat-icon *ngIf="this.startDate.value" (click)="clearDate('from')"
                    class="user-filter-date close_button" matDatepickerToggleIcon>clear</mat-icon>
                  <mat-datepicker #dpFromDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div fxFlex fxFlex.gt-md="25">
                <mat-form-field appearance="outline">
                  <mat-label>Đến ngày</mat-label>
                  <input matInput [matDatepicker]="dpToDate" formControlName="endDate" placeholder="dd/MM/yyyy"
                    autocomplete="off" onfocus="this.blur()" (click)="openDpToDate()">
                  <mat-datepicker-toggle matSuffix [for]="dpToDate"></mat-datepicker-toggle>
                  <mat-icon *ngIf="this.endDate.value" (click)="clearDate('to')" class="user-filter-date close_button"
                    matDatepickerToggleIcon>clear</mat-icon>
                  <mat-datepicker #dpToDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div fxFlex fxFlex.gt-md="25">
                <mat-form-field appearance="outline">
                  <mat-label>Tìm kiếm nội dung</mat-label>
                  <input matInput type="text" formControlName="keyword" placeholder="Tìm kiếm nội dung" maxlength="50">
                  <mat-error *ngIf="keyword.hasError('maxlength')">Không vượt quá 50 ký tự</mat-error>

                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
              <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
                <button mat-raised-button color="primary" type="submit" [disabled]='isDisableFilterSubmit'>
                  <mat-icon matSuffix>filter_list</mat-icon>
                  Lọc kết quả
                </button>
              </div>
            </div>
          </form>
        </mat-card-content>
        <mat-card-content>
          * Danh sách dưới đây là các nội dung học tương tác bên trong bài giảng
        </mat-card-content>
      </mat-card>

      <mat-card>
        <app-spinner2></app-spinner2>
        <table mat-table [dataSource]="listOnlineClassroom">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <ng-container matColumnDef="stt">
              <th mat-header-cell *matHeaderCellDef> STT
              </th>
              <td mat-cell *matCellDef="let element;let i = index">
                {{i+1}}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>TÊN NỘI DUNG
              </th>
              <td mat-cell *matCellDef="let element" class="mat-main-column">
                {{element.contentName}}
              </td>

            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="lessonName">
              <th mat-header-cell *matHeaderCellDef>TÊN BÀI GIẢNG
              </th>
              <td mat-cell *matCellDef="let element">
                <span class="text-wrap">
                  {{element.lessonName}}
                </span>
              </td>

            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="startDate">
              <th mat-header-cell *matHeaderCellDef class="mat-column-datetime"> NGÀY BẮT ĐẦU </th>
              <td mat-cell *matCellDef="let element" class="mat-column-datetime">
                <span class="text-green"><b>{{element.startDate|date :'HH:mm'}}</b></span>
                <span> &nbsp; {{ element.startDate|date :'dd/MM/yyyy'}}</span>
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="endDate">
              <th mat-header-cell *matHeaderCellDef class="mat-column-datetime"> NGÀY KẾT THÚC
              </th>
              <td mat-cell *matCellDef="let element" class="mat-column-datetime">
                <span class="text-red"><b>{{element.finishDate|date :'HH:mm'}}</b></span>
                <span> &nbsp; {{ element.finishDate|date :'dd/MM/yyyy'}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> TRẠNG THÁI
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="status status-badge-not-organized-yet" *ngIf="element.statusOnline == 'NST'">
                  Chưa bắt đầu
                </div>
                <div class="status status-badge-end" *ngIf="element.statusOnline == 'END'">
                  Đã kết thúc
                </div>
                <div class="status status-badge-upcoming" *ngIf="element.statusOnline == 'STR'">
                  Đã bắt đầu
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="function">
              <th mat-header-cell *matHeaderCellDef> CHỨC NĂNG
              </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Cập nhật liên kết"
                  *ngIf="element.isNeedUpdatekey && element.isOwnerRoom"
                  (click)="onUpdateLinkZoomHandleClick(element.contentId,element.lessonId,element.meetingId)">
                  <span class="material-icons-outlined">
                    recycling
                  </span>
                </button>
                <button mat-icon-button matTooltip="Sao chép đường dẫn người học"
                  *ngIf="!element.isNeedUpdatekey && element.isOwnerRoom"
                  (click)="onCopyLinkHandleClick(element.contentId,element.lessonId,element.meetingId,element.zoomMeetingId,element.joinURL)">
                  <span class="material-icons-outlined">
                    copy
                  </span>
                </button>
                <button mat-icon-button (click)="onOnlineTeachingHandleClick(
                    element.contentId,
                    element.lessonId, 
                    element.isOwnerRoom,
                    element.meetingId)" matTooltip="Dạy trực tuyến">
                  <span class="material-icons-outlined">
                    play_lesson
                  </span>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td colspan="7" class="mat-cell background-no-content">
                <div class="background-no-content-img"></div>
                <div class="background-no-content-info">
                  <p>Không tìm thấy nội dung</p>
                </div>
              </td>
            </tr>
          </div>
        </table>
        <mat-paginator #paginator [length]="count" [pageSizeOptions]="[10, 20, 30, 100]" (page)="pageChange($event)">
        </mat-paginator>
      </mat-card>
    </mat-tab>
  </mat-tab-group>

</div>