.meeting-room-name {
    font-size: 16px;
    line-height: 20px;
    opacity: 0.98;
    color: #4caf50;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
}
.close-icon {
    position: absolute;
    top: -16px;
    right: -16px;
    cursor: pointer;
}

.confirm-teacher-join-mesage {
    background: #e7ffe7;
    border: 1px dashed #92c194;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 20px;

    .content-text {
        font-weight: 500;
    }

    .title-text {
        font-weight: 600;
        color: #555555;
    }
}
