<div style="position: relative;" *ngIf="!isFirstLoadData">
    <div mat-dialog-title fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex=25 style="text-transform: none;">Vào lớp học :</div>
        <div fxFlex=75 class="meeting-room-name">{{name}}</div>
    </div>
    <span class="material-icons-outlined close-icon" (click)="closeDialogHandleClick()">
        close
    </span>
    <div mat-dialog-content>
        <div class="confirm-teacher-join-mesage" *ngIf="meetingTeacherLogsStatus=='NOLOGS'">
            <span class="title-text">Bắt đầu dạy: </span><span class="content-text">Hệ thống sẽ xác nhận giáo viên đã
                bắt đầu dạy học</span>
            <br>
            <span class="title-text">Xem phòng: </span><span class="content-text">Hệ thống không ghi nhận giáo viên bắt
                đầu dạy học</span>
        </div>

        <div class="confirm-teacher-join-mesage" *ngIf="meetingTeacherLogsStatus=='MEETINGSTARTED'">
            <span class="title-text">Vào phòng: </span><span class="content-text">Hệ thống sẽ ghi nhận các mốc thời
                gian giáo viên vào lại phòng</span>
            <br>
            <span class="title-text">Kết thúc dạy: </span><span class="content-text">Hệ thống sẽ ghi nhận giáo viên đã
                kết thúc dạy học</span>
        </div>
    </div>
    <div mat-dialog-actions class="no-logs" *ngIf="meetingTeacherLogsStatus=='NOLOGS'">
        <button mat-stroked-button color="primary" tabindex="3" (click)="onStartWatchRoomHandleClick()">Xem
            phòng</button>
        <button mat-raised-button color="primary" (click)="onStartLearingHandleClick()">Bắt
            đầu dạy</button>
    </div>
    <div mat-dialog-actions class="no-logs" *ngIf="meetingTeacherLogsStatus=='MEETINGSTARTED'">
        <button mat-stroked-button color="warn" tabindex="3" (click)="onEndLearningHandleClick()">Kết thúc
            dạy</button>
        <button mat-raised-button color="primary" (click)="onJoinRoomHandleClick()">Vào phòng</button>
    </div>
    <div mat-dialog-actions class="no-logs" *ngIf="meetingTeacherLogsStatus=='MEETINGEND'">
        <button mat-flat-button disabled color="primary" tabindex="3">Đã kết thúc</button>
        <button mat-raised-button color="primary" (click)="onJoinWhenMeetingEndHandleClick()">Vào phòng</button>
    </div>
</div>