<div fxLayout="column" class="container" [ngClass]="{'isCloneQuestion': hideAction}">
  <div class="question-content ck-editor-cls" [attr.uploadUrl]="configUpload?.uploadUrl"
  [attr.token]="configUpload?.token">
    <div fxLayout="row" class="block-title" fxLayoutAlign="space-between">
      <div class="table_question_title">Nội dung câu hỏi</div>
      <button [ngClass]="{'isClone': hideAction}" mat-raised-button color='primary' (click)="updateQuestion(true)" *ngIf="isGroup != true"
        [disabled]="disabledUpdate">Áp dụng</button>
    </div>
    <div fxLayout=row class="type-level-wrapper" [ngClass]="{'isClone': hideAction}" *ngIf="isGroup != true">
      <div fxLayout=row fxFlex=50>
        <label fxFlex=25>Loại câu hỏi:</label>
        <mat-form-field fxLayoutAlign="start center" class="matFormFieldSelectBox combobox_selection"
          [floatLabel]="'never'">
          <mat-select disabled [formControl]="questionTypeCtrl" disableOptionCentering>
            <mat-option *ngFor="let type of typeQuestionEnum" [value]="type.id">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout=row fxFlex=50 fxLayoutAlign="end center">
        <label fxLayoutAlign="start center" fxFlex=20>Mức độ:</label>
        <mat-form-field fxLayoutAlign="start center" class="combobox_selection matFormFieldSelectBox"
          [floatLabel]="'never'">
          <mat-select [formControl]="questionLevelCtrl" disableOptionCentering>
            <mat-option *ngFor="let level of levelQuestionEnum" [value]="level.id">
              {{level.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <ckeditor #ck [ngModel]="ckeditorContent" [config]="configQuestion" (change)="onQuestionContentChange($event)">
    </ckeditor>
    <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
      style="display:none!important" />
    <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
    <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
  </div>

  <div class="question_list">
    <label><b>Phương án:</b></label>
    <ng-container *ngFor="let answer of answers ; index as i">
      <div *ngIf="answer.action != 'DEL' " class="container-answer" fxLayout="row" fxLayoutGap="10px"
        fxLayoutAlign="center center">
        <div data-so-thu-tu fxFlex="5%" style="margin: auto; text-align: center;">
          <div class="radio radio-label-custom">
            <label>
              {{alphabet[answer.order]}}
            </label>
          </div>
        </div>
        <div fxFlex="80" class="ck-editor-cls" [attr.uploadUrl]="configUpload?.uploadUrl"
        [attr.token]="configUpload?.token">
          <ckeditor #cks class="ck-phuongan" [ngModel]="answer.content" [config]="configAnswer"
            (change)="onAnswerContentChange($event,answer)"></ckeditor>
          <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
            style="display:none!important" />
          <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
          <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
          <div class="validateNoiDungPhuongAn"></div>
        </div>
        <div fxFlex="15" style="margin: auto;">
          <button mat-icon-button (click)="changeSelectAnswer(i)">
            <mat-icon class="icon-done" *ngIf="answer.trueAnswer==1" matTooltip="Phương án đúng">done</mat-icon>
            <mat-icon class="icon-clear" *ngIf="answer.trueAnswer==0" matTooltip="Phương án sai">clear</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteAnswer(i)" title="Xóa" [disabled]="isDelete==true || answers.length <=1">
            <mat-icon svgIcon="trash"></mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
    <button mat-raised-button color="primary" (click)="addAnswer()" class="mt-10">
      <mat-icon>add</mat-icon>Tạo phương án
    </button>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'isClone': hideAction}">
  <button mat-raised-button color='primary' (click)="updateQuestion(true)" *ngIf="isGroup!=true"
    [disabled]="disabledUpdate">Áp dụng</button>
</div>