<div>
  <mat-card class="manage-card">
    <learn-step-header-lesson *ngIf="isReady" [stepHeaderCtrl]="stepHeaderControl"></learn-step-header-lesson>
  </mat-card>
  <mat-card class="manage-card">
    <learn-lesson-name-header *ngIf="isReady" [lessonName]="lessonConfig.name"></learn-lesson-name-header>
    <mat-card-content class="config_area">
      <learn-lesson-config-body *ngIf="isReady" [lessonId]="lessonId" [lessonConfig]="lessonConfig"
        [useCase]="useCaseEnum.editting" [events]="events$"></learn-lesson-config-body>
    </mat-card-content>
  </mat-card>
  <div group-button>
      <div fxLayout="row" fxLayoutAlign="center start" class="row-flex">
        <button mat-raised-button color="basic" class="btn_back m-r-10 m-l-10 button-cancel" (click)="backToContent()">Quay
          lại</button>
        <button mat-raised-button color="primary" class="btn_save m-r-10 m-l-10" (click)="emitEventClick()">Lưu</button>
        <button mat-raised-button color="primary" class="btn_continue m-r-10 m-l-10" (click)="continue()">Tiếp
          tục</button>
      </div>
    </div>
</div>
