.config_area {
  padding: 20px;
  min-height: 350px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.btn_save {
  width: 95px;
  color: white;
}

.btn_continue {
  width: 95px;
  color: white;
}

.btn_back {
  width: 95px;
}
