.question-content {
    height: fit-content;
}

.phuong-an-content-column {
    margin-top: 0.5rem;
}
.container-answer {
    margin-top: 0.5rem;
}
.container {
    font-size: 13px;
}

.center-btn-footer {
    text-align: center;
    margin-top: 20px;
}
.btn-footer {
    margin: 0px 10px;
}
.btn-success {
    background-color: #a8ce54;
    color: #fff;
}
.btn-cancel {
    background-color: #e5e5e5;
}
.btn-fixed-width {
    width: 100px;
}

.mt-10 {
    margin-top: 10px;
}

.g-screen-center {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 10000000;

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 30%;
        z-index: 10000000;
        text-align: center;
    }
}

.combobox_selection {
    width: 200px !important;
}

.isCloneQuestion .table_question_title{
    font-size: 13px;
    color: #555555;
    opacity: 0.98;
    font-weight: normal;
    margin-bottom: 6px;
    ::ng-deep ckeditor .cke_chrome{
      border-radius: 2px;
  }
  }
  
  .isClone{
    display: none !important;
  }

  .question_list{
    margin-top: 20px;
  }