<ng-container *ngIf="isExportWordFile==false || isExportWordFile==undefined; else elseTemplate">
  <div class="question_basic">
    <div class="question">
      <mat-card>
        <span [appMath]="dataQuestion.content"></span>
      </mat-card>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
    <span [appMath]="dataQuestion.content"></span>
</ng-template>
