.mat-dialog-content {
  margin: 0 !important;

  .input_title {
    display: flex;
    align-items: center;
  }
}

.mat-dialog-title {
  text-transform: uppercase;
  font-weight: bold;
}
.dialog-content{
  overflow-x: hidden!important;
}
ngx-dropzone {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  width: 100% !important;
  background: #FBFFFB;
  border: 2px dashed #CBE9CC;
  box-sizing: border-box;
  border-radius: 24px;
}

ngx-dropzone-preview {
  max-width: fit-content !important;
  min-height: 46px !important;
  margin: 0 !important;
  width: fit-content !important;
  overflow-y: hidden;
  background: none;
  height: 68px !important;
}

ngx-dropzone-preview:hover {
  background: none;
}

:host ::ng-deep .mat-card {
  margin: 0;
  box-shadow: none !important;
}

:host ::ng-deep .mat-card-content {
  padding: 0;
}

.label-checkbox {
  font-size: 14px;
}

:host ::ng-deep .mat-dialog-actions {
  padding-bottom: 0;
}

.file-icon {
  font-size: 50px;
}
