<mat-card class="apply-css-alpha">
  <mat-card-content>
    <mat-dialog-content class="dialog-content">
      <div mat-dialog-title>Thêm tài liệu tham khảo</div>

      <mat-form-field appearance="outline">
        <mat-label>Tên nội dung(*)</mat-label>
        <input type="text" matInput placeholder="Tên nội dung..." [(ngModel)]="nameReference" maxlength="255">
      </mat-form-field>


      <div class="label-checkbox m-t-10">
        <mat-checkbox class="example-margin" checked="true" color='primary'>Chuyển đổi tài liệu sang định dạng PDF
        </mat-checkbox>
      </div>

      <ngx-dropzone (change)="onSelect($event)"
        accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
        <ngx-dropzone-label>
          <div>
            Kéo thả hoặc tải lên tập tin
          </div>
          <span class="material-icons primary file-icon" matTooltip="{{toolTip}}"matTooltipClass="break-line">
            folder
          </span>
        </ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label><span>{{ f.name }}</span></ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
      <div class="add-sound-content background-isprogressing-container"
        *ngIf="documentStatus !='COM' && documentStatus !=''">
        <learn-background-processing [type]="'DOC'" [status]="documentStatus"></learn-background-processing>
      </div>
      <div *ngIf=" documentStatus=='COM'" style="width :100%;height: 310px;">
        <iframe [src]="linkPreview | safeUrl" height="310px" frameborder="0" width="100%"></iframe>
      </div>

    </mat-dialog-content>
    <div mat-dialog-actions>
      <button mat-raised-button class="button-cancel m-r-10" (click)="onNoClick()">
        Hủy
      </button>
      <button mat-raised-button color="primary" (click)="onAddReferenceHandleClick()">
        Lưu
      </button>
    </div>
  </mat-card-content>
  <!-- </mat-card> -->