<mat-card class="pbt-20">
  <app-spinner2 [fullScreen]="isFullScreen"></app-spinner2>
  <div fxLayout="row wrap" class="container-infor">
    <div fxFlex="100" fxFlex.gt-sm="50" class="card">
      <div class="card-information">
        <p>
          {{portalName}}
        </p>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="card">
      <div class="card-information">
        <p>{{examName}}</p>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="card">
      <div class="card-information">
        <p>{{subjectName}}</p>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="card">
      <div class="card-information">
        <span> {{ examName }} </span>
        <span> Thời gian làm bài {{testTime}} phút </span>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" class="text-note" ngClass.lt-sm="text-note-sm">
    <div fxFlex="100" fxlayoutalign="start start" fxlayoutalign="start start" fxFlex.gt-sm="100"
      class="center-align-text">
      <div>
        <span> Lưu ý : </span>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="100">
      <div class="text-note-information" fxlayoutalign="start start" ngClass.lt-sm="text-note-information-margin">
        <!-- Tạm thời comment do chưa làm tính năng khóa ứng dụng -->
        <!-- <p> {{lockScreenTest}} </p> -->
        <p> {{publicScore}} </p>
        <p> {{publicAnswer}} </p>
      </div>
    </div>
  </div>
</mat-card>
<mat-card *ngIf="isReady">
  <div fxLayout="row wrap" fxlayoutalign="center center" class="action-exam">
    <div *ngIf="!isStartDoExam" fxFlex="100" class="center-align-text text-start-exam">
      Chưa bắt đầu ca thi
    </div>
    <div *ngIf="isStartDoExam && !examInfo.isCompleted && examSubjectStudent.timeRemaining > 0"  fxFlex="100" class="center-align-text text-start-exam">
      Ca thi đã bắt đầu
    </div>
    <div *ngIf="examSubjectStudent.timeRemaining <= 0" fxFlex="100" class="center-align-text text-start-exam">
      Ca thi đã kết thúc
    </div>
    <div *ngIf="examInfo.isCompleted" fxFlex="100" class="center-align-text text-start-exam">
      Bài thi đã hoàn thành
    </div>
    <div *ngIf="!isStartDoExam" fxFlex="100" class="center-align-text count-down-do-exam">
      Đếm ngược đến thời điểm làm bài
    </div>
    <div *ngIf="isStartDoExam && !examInfo.isCompleted && examSubjectStudent.timeRemaining > 0" fxFlex="100" class="center-align-text count-down-do-exam">
      Thí sinh bấm nút bắt đầu làm bài ở dưới để vào thi
    </div>
    <div *ngIf="examInfo.isCompleted" fxFlex="100" class="center-align-text count-down-do-exam">
      Thí sinh có thể xem lại bài làm ở dưới
    </div>
    <div fxFlex="100" class="center-align-text" [ngClass]="{'time-out': isStartDoExam == true}" id="countdown">
      <p>00: 00: 00</p>
    </div>
    <div *ngIf="isStartDoExam && examSubjectStudent.timeRemaining > 0 && !examInfo.isCompleted" fxFlex="100" class="center-align-text">
      <button mat-raised-button color="warn" class="start-exam-button" (click)="onNavigateHandleClick()">
        {{examInfo.testId > 0?'Tiếp tục làm bài' : 'Bắt đầu làm bài'}}
      </button>
    </div>
    <div *ngIf="examInfo.isCompleted && examInfo.isPublicAnswer" fxFlex="100" class="center-align-text">
      <button mat-raised-button color="warn" class="start-exam-button" (click)="onShowResultClick()">
        Xem lại bài làm
      </button>
    </div>
  </div>
</mat-card>
