::ng-deep mat-card {
  font-size: 16px;
  line-height: 19px;
}

.card-container {
  padding-bottom: 30px;
}

.container-infor {
  padding: 20px 0px 0 20px;

  .card {
    .card-information {
      background: #ffffff;
      border: 0.5px solid #4caf50;
      box-sizing: border-box;
      font-weight: bold;
      border-radius: 2px;

      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
      margin-right: 20px;

      height: 98px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .card-information>span {
      font-weight: bold;
      /* identical to box height */
      margin: 0 !important;
      text-align: center;
      text-transform: uppercase;

      color: #303030;

      opacity: 0.98;
    }
  }
}

.text-note {
  padding: 20px;

  background: #dbffdc;
  border: 0.5px solid #4caf50;
  box-sizing: border-box;
  border-radius: 2px;

  margin: 0 20px 30px 20px;
}

.text-note-information {
  font-weight: bold;
  /* identical to box height */
  text-align: center;
  color: #4caf50;
  opacity: 0.98;
  margin: 4px !important;
}

.text-note-sm {
  padding: 10px;
}

.text-note-information-margin {
  p {
    margin: 2px !important;
    font-size: 14px;
  }
}

.text-note-information {
  font-weight: bold;
  /* identical to box height */
  text-align: center;
  color: #4caf50;
  opacity: 0.98;
  margin: 4px !important;
}

.mr-20 {
  margin-right: 20px;
}

.mbt-20 {
  margin-bottom: 20px;
}

.pbt-20 {
  padding-bottom: 20px !important;
}

.center-align-text {
  text-align: center;
}

.action-exam {
  padding: 30px 0;

  .text-start-exam {
    font-weight: bold;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #303030;

    opacity: 0.98;
    margin-bottom: 10px;
  }

  .count-down-do-exam {
    font-weight: bold;
    /* identical to box height */

    text-align: center;

    color: #4caf50;

    opacity: 0.98;
    margin-bottom: 34px;
  }

  #countdown {
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;

    color: #303030;

    opacity: 0.98;
    margin-bottom: 34px;
  }

  .start-exam-button {
    background: #da251d;
    border-radius: 6px;
  }
}

.time-out {
  color: #da251d !important;
}
