<mat-card style="padding-top: 20px!important;">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="row_flex">
        <div fxFlex="24" fxLayoutAlign="end center" class="combobox_action">
            <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Chọn trường: </label>
            <select fxFlex="60" fxLayoutAlign="end center" name="cars" class="combobox-df">
                <option value="volvo">Chọn trường</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
        </div>

        <div fxFlex="24" fxLayoutAlign="end center" class="combobox_action">
            <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox">Chọn khối: </label>
            <select fxFlex="60" fxLayoutAlign="end center" name="cars" class="combobox-df">
                <option value="volvo">Chọn khối</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
        </div>
        <div fxFlex="24" fxLayoutAlign="end center" class="combobox_action">
            <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Trạng thái: </label>
            <select fxFlex="60" fxLayoutAlign="end center" name="cars" class="combobox-df">
                <option value="volvo">Chưa duyệt</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
        </div>
        <div fxFlex="24" fxLayoutAlign="end center" class="combobox_action filter_search_input">
            <input type="text" class="input_search" name="search" placeholder="Tìm tên bài giảng giáo viên">
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="row_flex">
        <div fxFlex="100" fxLayoutAlign="end center" class="combobox_action">
            <button mat-raised-button color="primary" class="button-sm">
                <mat-icon svgIcon="filter"></mat-icon>
                Lọc kết quả
            </button>
        </div>
    </div>

</mat-card>

<mat-card>
    <table mat-table [dataSource]="dataSource">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="start center"> Tên lớp </th>
                <td mat-cell *matCellDef="let element" fxFlex="20" fxLayoutAlign="start center"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef fxFlex="25" fxLayoutAlign="start center"> Họ và tên </th>
                <td mat-cell *matCellDef="let element" fxFlex="25" fxLayoutAlign="start center"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef fxFlex="25" fxLayoutAlign="start center"> Ngày đăng kí </th>
                <td mat-cell *matCellDef="let element" fxFlex="25" fxLayoutAlign="start center"> {{element.weight}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="start center"> Trạng thái </th>
                <td mat-cell *matCellDef="let element" fxFlex="20" fxLayoutAlign="start center"> {{element.weight}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef fxFlex="10" fxLayoutAlign="end center">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="10" fxLayoutAlign="end center">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </div>

    </table>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="row_flex">
        <div fxFlex="50" fxLayoutAlign="start center" class="combobox_action">
            <div class="end-button">
                <button mat-raised-button color="primary" class="button-sm mr_2">
                    <mat-icon svgIcon="trash-white"></mat-icon>
                    Duyệt
                </button>
                <button mat-stroked-button color="" class="button-sm bg-danger">
                    <mat-icon svgIcon="trash-white"></mat-icon>
                    Xoá đã chọn
                </button>
            </div>
        </div>
        <div fxFlex="50" fxLayoutAlign="end center" class="combobox_action">
            <div class="filter_bottom_action">
                <div class="fitler_bottom_action_paging_page">
                    here is paging page
                </div>
            </div>
        </div>
    </div>

</mat-card>