<mat-card>
    
    <mat-card-content>
        <mat-card-title >Thông tin thiết lập</mat-card-title>
        <hr/>
        <div fxLayout="column" fxLayoutGap="10px">
            <mat-checkbox class="example-margin">Bảo toàn thời gian làm bài cho thí sinh</mat-checkbox>
            <mat-checkbox class="example-margin">Công khai điểm với thí sinh</mat-checkbox>
            <mat-checkbox class="example-margin">Hiển thị đáp án sau khi thi xong</mat-checkbox>
            <mat-checkbox class="example-margin">Tự đông ghi log sau 5 phút</mat-checkbox>
        </div> 
    </mat-card-content>
</mat-card>
