<ng-container *ngIf="isExportWordFile==false || isExportWordFile==undefined; else elseTemplate">
  <div class="question_basic">
    <div class="question">
      <mat-card>
        <span [appMath]="dataQuestion.content"></span>
        <div class="question" *ngFor="let question of dataQuestion.subQuestion; let i=index">
          <div>Câu hỏi {{dataQuestion.STT+'.'+(i+1)}} (1 điểm)</div>
          <app-under-line *ngIf="question.type=='underline'" [dataQuestion]="question"></app-under-line>
          <app-true-false-clause *ngIf="question.type=='truefalseclause'" [dataQuestion]="question">
          </app-true-false-clause>
          <app-single-choice *ngIf="question.type=='singlechoice'" [dataQuestion]="question"></app-single-choice>
          <app-multi-choice *ngIf="question.type=='multichoice'" [dataQuestion]="question"></app-multi-choice>
          <app-true-false *ngIf="question.type=='truefalse'" [dataQuestion]="question"></app-true-false>
          <app-missing-word1 *ngIf="question.type=='fillblank'" [dataQuestion]="question"></app-missing-word1>
        </div>
        <span fxLayout="row" fxLayoutAlign="center center">Câu chùm</span>
      </mat-card>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
    <div class="question">
      <span [appMath]="dataQuestion.content"></span>
      <div class="question" *ngFor="let question of dataQuestion.subQuestion; let i=index">
        <div>Câu hỏi {{dataQuestion.STT+'.'+(i+1)}} (1 điểm)</div>
        <app-under-line *ngIf="question.type=='underline'" [dataQuestion]="question" [isExportWordFile]="isExportWordFile"></app-under-line>
        <app-true-false-clause *ngIf="question.type=='truefalseclause'" [dataQuestion]="question" [isExportWordFile]="isExportWordFile">
        </app-true-false-clause>
        <app-single-choice *ngIf="question.type=='singlechoice'" [dataQuestion]="question" [isExportWordFile]="isExportWordFile"></app-single-choice>
        <app-multi-choice *ngIf="question.type=='multichoice'" [dataQuestion]="question" [isExportWordFile]="isExportWordFile"></app-multi-choice>
        <app-true-false *ngIf="question.type=='truefalse'" [dataQuestion]="question" [isExportWordFile]="isExportWordFile"></app-true-false>
        <app-missing-word1 *ngIf="question.type=='fillblank'" [dataQuestion]="question" [isExportWordFile]="isExportWordFile"></app-missing-word1>
      </div>
    </div>
</ng-template>
