:host ::ng-deep .go-back-button {
  background-color: white;
  color: #303030;
  width: 23px;
  height: 23px;
  line-height: 23px;
  border: 1px solid #303030;
  box-sizing: border-box;

  mat-icon {
    font-size: 14px;
    height: 14px;
    width: 14px;
    line-height: 12px;
  }
}

:host ::ng-deep {
  .page-title {
    padding-left: 5px;
    font-size: 1.1rem;
  }
}

.example-sidenav-container {
  background-color: #f0f0f0;
}

.page-content {
  height: 100%;
}

.full_screen {
  display: none;
}

.page-wrapper.fullscreen {
  height: 100vh !important;
}

.page-wrapper.isLearner {
  height: 100vh !important;
}

.clsUnitName {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  white-space: break-spaces;
  max-width: 100%;
  word-break: break-word;
  text-align: left;
}

.navbar-brand {
  > span {
    width: 100%;
    .homepage.light-logo {
      height: 100%;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      img {
        width: auto;
        height: 43px;
        margin-right: 6px;
      }
    }
  }
}

.fix-width-for-horizontal {
  align-items: center;
}
.unitTitle {
  position: absolute;
  left: 285px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 3px 15px;
  display: flex;
  align-items: center;
}

.clsIcon {
  font-size: 22px;
}

.clsText {
  font-size: 14px;
  text-transform: uppercase;
}

@media (max-width: 525px) {
  .unitTitle {
    left: 60px;
    padding: 0px 15px;
  }
  .clsIcon {
    font-size: 15px;
  }
  .clsText {
    font-size: 11px;
  }
}

@media (max-width: 991px ) and (min-width: 526px) {
  .unitTitle {
    left: 295px;
    padding: 1px 22px;
  }
  .clsIcon {
    font-size: 20px;
    margin-right: 3px;
  }
  .clsText {
    font-size: 14px;
  }
}


@media (max-width: 1440px) and (min-width: 526px) {
  .unitTitle {
    left: 295px;
    padding: 1px 22px;
  }
  .clsIcon {
    font-size: 20px;
    margin-right: 3px;
  }
  .clsText {
    font-size: 14px;
  }
}