<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container" [dir]="dir" [ngClass]="{'minisidebar': minisidebar, 'boxed': boxed, 'danger': danger, 'blue': blue, 'green': green, 'horizontal' : horizontal }">
    <!-- <div *ngxPermissionsOnly="['questionbank_view']">
        Permission questionbank_view
    </div>
    <div *ngxPermissionsOnly="['questionbank_create']">
        Permission questionbank_create
    </div> -->
        <!-- ============================================================== -->
        <!-- Topbar - style you can find in header.scss -->
        <!-- ============================================================== -->
        <mat-toolbar color="primary" class="topbar relative" [ngClass]="{'full_screen': isDarkMode || isLearner}">
            <div class="w-100 fix-width-for-horizontal">
                <!-- ============================================================== -->
                <!-- Logo - style you can find in header.scss -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" [routerLink]="['/']">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <!-- <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo"> -->
                            <!-- Light Logo icon -->
                            <!-- <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo"> -->
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span fxShow="false" fxShow.gt-xs>
                            <!-- dark Logo text -->
                            <!-- <img src="assets/layouts/manage-layout/logo/logo.png" alt="homepage" class="dark-logo"> -->
                            <div alt="homepage" class="dark-logo homepage">
                                <img src="{{unitInfo?.desktopLogo}}">
                                <p class="clsUnitName">{{unitInfo?.unitName}}</p>
                            </div>
                            <!-- Light Logo text -->
                            <div class="light-logo  homepage" alt="homepage">
                                    <img src="{{unitInfo?.desktopLogo}}">
                                    <p class="clsUnitName">{{unitInfo?.unitName}}</p>
                                </div>
                            <!-- <img src="assets/layouts/manage-layout/logo/logo.png" class="light-logo" alt="homepage"> -->
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- sidebar toggle -->
                <!-- ============================================================== -->

                <button mat-icon-button (click)="onSidebarToggle()" class="sidebar-toggle"
                    value="sidebarclosed">
                    <mat-icon>menu</mat-icon>
                </button>
                <!-- ============================================================== -->
                <!-- Search - style you can find in header.scss -->
                <!-- ============================================================== -->
                <!-- <button mat-icon-button class="srh-btn" (click)="showSearch = !showSearch">
                    <mat-icon>search</mat-icon>
                </button> -->
                <form class="app-search" [ngClass]="{'show-search': showSearch}">
                    <input type="text" class="form-control" placeholder="Search &amp; enter">
                    <a class="cl-srh-btn" (click)="showSearch = !showSearch">
                        <i class="ti-close"></i>
                    </a>
                </form>
                <div class="unitTitle" *ngIf="userIdentity.levelManage == 'DVS' || userIdentity.levelManage == 'SCH'" (click)="returnHome()">
                        <span class="material-icons clsIcon">place</span>
                        <span class="clsText" *ngIf="userIdentity.levelManage == 'DVS'">{{unitNameDivision}}</span>
                        <span class="clsText" *ngIf="userIdentity.levelManage == 'SCH'">{{unitNameSchool}}</span>
                    </div>
                <span fxFlex></span>
                <!-- ============================================================== -->
                <!-- app header component - style you can find in header.scss / header.component.ts-->
                <!-- ============================================================== -->
                <div *ngIf="!horizontal else horizontalheader">
                    <app-vertical-header></app-vertical-header>
                </div>

                <ng-template #horizontalheader>
                    <app-horizontal-header></app-horizontal-header>
                </ng-template>

                <!-- ============================================================== -->
                <!-- Right sidebar toggle - style you can find in rightsidebar.component.scss -->
                <!-- ============================================================== -->
                <button (click)="end.toggle()" mat-icon-button class="ml-xs overflow-visible btn-setting">
                    <mat-icon>settings</mat-icon>
                </button>
            </div>

        </mat-toolbar>
        <!-- ============================================================== -->
        <!-- End Topbar - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0"
            [ngClass]="{'minisidebar': minisidebar}">
            <!-- ============================================================== -->
            <!-- Sidebar - style you can find in sidebar.scss -->
            <!-- ============================================================== -->
            <mat-sidenav #snav id="snav" class="pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'" fixedTopGap="0"
                [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches" (open)="sidebarOpened = true"
                (close)="sidebarOpened = false">

                <perfect-scrollbar *ngIf="!horizontal; else horizontalsidebar" class="scbar" [config]="config">
                    <app-vertical-sidebar class="app-sidebar" (notify)="snav.toggle()">
                    </app-vertical-sidebar>
                </perfect-scrollbar>

                <ng-template #horizontalsidebar>
                    <app-horizontal-sidebar></app-horizontal-sidebar>
                </ng-template>
            </mat-sidenav>

            <!-- ============================================================== -->
            <!-- Sidebar - style you can find in sidebar.scss -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right Sidebar - style you can find in rightsidebar.component.scss -->
            <!-- ============================================================== -->
            <mat-sidenav #end position="end" class="chat-panel" mode="over" opened="false">
                <div class="scroll">
                    <mat-nav-list>

                        <h3 mat-subheader class="text-uppercase font-weight-bold">Cài đặt</h3>
                        <!-- <mat-list-item *ngIf="!minisidebar">
                            <mat-slide-toggle color="warn" [(ngModel)]="horizontal">
                                Horizontal Layout</mat-slide-toggle>
                        </mat-list-item> -->
                        <mat-list-item>
                            <mat-slide-toggle color="warn" (change)="dir = (dir == 'rtl' ? 'ltr' : 'rtl')">Chuyển hướng</mat-slide-toggle>
                        </mat-list-item>
                        <!-- <mat-list-item>
                            <mat-slide-toggle color="warn" [(ngModel)]="boxed">Bố cục</mat-slide-toggle>
                        </mat-list-item> -->
                        <mat-list-item *ngIf="!horizontal">
                            <mat-slide-toggle [(ngModel)]="minisidebar">Menu thu gọn</mat-slide-toggle>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <h3 mat-subheader class="text-uppercase font-weight-bold">Màu sắc</h3>

                        <mat-list-item>
                            <mat-checkbox color="warn" [(ngModel)]="danger" (change)="green = blue = false"
                                class="text-danger">Đỏ
                            </mat-checkbox>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-checkbox color="warn" [(ngModel)]="green" (change)="danger = blue = false"
                                class="text-megna">Xanh lá</mat-checkbox>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-checkbox color="warn" [(ngModel)]="blue" (change)="green = danger = false"
                                class="text-info">Xanh dương
                            </mat-checkbox>
                        </mat-list-item>

                        <!-- <mat-list-item>
                            <mat-checkbox color="warn" [(ngModel)]="dark" (change)="darkClick()">Ban đêm
                            </mat-checkbox>
                        </mat-list-item> -->
                    </mat-nav-list>
                </div>
            </mat-sidenav>

            <!-- ============================================================== -->
            <!-- Page container - style you can find in pages.scss -->
            <!-- ============================================================== -->
            <mat-sidenav-content #sidenavContent class="page-wrapper" [ngClass]="{'fullscreen': isDarkMode, 'minitoggle': status, 'isLearner': isLearner}">

                <app-breadcrumb></app-breadcrumb>
                <div #pageContent class="page-content" [ngClass]="{'dark': isDarkMode}">
                    <app-spinner2 [name]="'loading-page-content'" ></app-spinner2>
                    <router-outlet></router-outlet>
                </div>
            </mat-sidenav-content>
            <!-- ============================================================== -->
            <!-- Page container - style you can find in pages.scss -->
            <!-- ============================================================== -->
        </mat-sidenav-container>
    </div>