<div class="assign-student-container apply-css-alpha m-t-30">
  <mat-card>
    <div *ngIf="isLessonInfoReady" class="selection_title">
      Ghi danh học sinh
    </div>
    <mat-tab-group mat-align-tabs="start" (selectedTabChange)="tabChanged($event)">
      <mat-tab label="Ghi danh theo lớp">
        <form action="" [formGroup]="filterSignupLecturesForm" (ngSubmit)="onSubmitSignLectures()">
          <mat-card-content class="m-b-0">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap.gt-lg="30px" fxLayoutGap.gt-md="20px"
              class="m-b-20">
              <div fxFlex.gt-lg="25" fxLayoutAlign="start center" *ngIf="levelManageValue==1">
                <mat-form-field appearance="outline" (click)="onDivisionSelectClicked()">
                  <mat-select formControlName="divisionId" placeholder="Chọn phòng" #singleSelectDivision
                    disableOptionCentering>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                        [formControl]="divisionFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                      {{division.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxFlex="25" fxLayoutAlign="start center" *ngIf="levelManageValue<=2">
                <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
                  <mat-label>Chọn trường</mat-label>
                  <mat-select formControlName="schoolId" [disabled]="isDisableSchoolId" placeholder="Chọn trường"
                    #singleSelectSchool disableOptionCentering>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                        [formControl]="schoolFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                      {{school.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxFlex="25" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
                  <mat-select formControlName="gradeId" placeholder="Chọn khối" #singleSelectGrade
                    disableOptionCentering>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                        [formControl]="gradeFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let gradeId of filteredGrades | async" [value]="gradeId.id">
                      {{gradeId.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxFlex="25" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" (click)="onGroupStudentSelectClicked()">
                  <mat-select formControlName="groupStudentId" placeholder="Chọn lớp" #singleSelectGroupStudent
                    [disabled]="isDisableGroupStudentId && levelManageValue !== 3" disableOptionCentering>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Tìm lớp" noEntriesFoundLabel="Không tìm thấy"
                        [formControl]="groupStudentFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let groupStudent of filteredGroupStudents | async" [value]="groupStudent.id">
                      {{groupStudent.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div *ngIf="levelManageValue!=1" fxLayoutAlign="end center" fxFlex="100"
                class="combobox_action float-right">
                <button mat-raised-button color="primary">
                  <mat-icon matSuffix>filter_list</mat-icon>
                  Lọc kết quả
                </button>
              </div>
            </div>

            <div *ngIf="levelManageValue==1" fxLayout="row" fxLayoutAlign="end center">
              <div fxFlex="100" fxLayoutAlign="end center">
                <button mat-raised-button color="primary">
                  <mat-icon matSuffix>filter_list</mat-icon>
                  Lọc kết quả
                </button>
              </div>
            </div>
          </mat-card-content>

        </form>
        <div>
          <app-spinner2 [name]="'spinnerAsign'"></app-spinner2>
          <table mat-table *ngIf="isListStudentForAssignReady" [dataSource]="assignDataSource.items">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="start center"> Tên
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="20" fxLayoutAlign="start center"
                  (click)="$event.stopPropagation()">
                  {{element.fullName}} </td>
              </ng-container>
              <ng-container matColumnDef="userName">
                <th mat-header-cell *matHeaderCellDef fxFlex="40" fxLayoutAlign="start center"> Tên đăng nhập </th>
                <td mat-cell *matCellDef="let element" fxFlex="40" fxLayoutAlign="start center"
                  (click)="$event.stopPropagation()">
                  {{element.username}} </td>
              </ng-container>
              <ng-container matColumnDef="className">
                <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="start center"> Lớp </th>
                <td mat-cell *matCellDef="let element" fxFlex="20" fxLayoutAlign="start center"
                  (click)="$event.stopPropagation()">
                  {{element.groupStudentName}} </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="end center">
                  <mat-checkbox (change)="$event ? assignMasterToggle() : null"
                    [checked]="assignSelection.hasValue() && isAssignAllSelected()"
                    [indeterminate]="assignSelection.hasValue() && !isAssignAllSelected()"
                    [aria-label]="assignCheckboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" fxFlex="20" fxLayoutAlign="end center"
                  (click)="$event.stopPropagation()">
                  <mat-checkbox (change)="$event ? onChangeAssignCheckBox($event.checked, row): null"
                    [checked]="assignSelection.isSelected(row)" [aria-label]="assignCheckboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="assignDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: assignDisplayedColumns;">
              </tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell background-no-content" colspan="4">
                  <div class="background-no-content-img"></div>
                  <div class="background-no-content-info">
                    <p>Không có dữ liệu học sinh</p>
                  </div>
                </td>
              </tr>
            </div>
          </table>
          <mat-paginator #assignPaginator [length]="assignDataSource.totalItems" [pageSizeOptions]="[10, 20, 30, 100]">
          </mat-paginator>
          <br />
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="m-b-20" fxLayoutGap="20px">
          <button mat-stroked-button color="default" class="minwidth-btn" (click)="onCancelAssignStudentTabClick()">
            Huỷ
          </button>
          <button mat-raised-button color="primary" class="minwidth-btn" (click)="onSaveAssignStudentClick()">
            Ghi danh
          </button>
        </div>
      </mat-tab>
      <mat-tab label="Ghi danh theo nhóm"></mat-tab>
    </mat-tab-group>
  </mat-card>
</div>