.selection_title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .end-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px auto 40px 0px;
  
    button {
      text-transform: uppercase;
      margin-right: 20px;
    }
  }
  
  .label_combobox {
    color: #555555 !important;
  }
  .minwidth-btn{
    min-width: 100px;
  }
  
  .learn-lesson-name-header {
    .header-content {
      min-width: 100% !important;
    }
  }
  .approval-student-btn{
    margin-top: -40px;
    padding-left: 20px;
    margin-bottom: 30px;
  }
  :host ::ng-deep .mat-tab-body-content{
    overflow-y: hidden;
  }
  table .background-no-content{
    max-height: 350px;
    height: 350px;
  }
  