.style-result {
  display: inline-block;
  color: #4caf50;
  background-color: #DBFFDC;
  width: 44px;
  height: 21px;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  border-radius: 10.5px;
}

.export-data {
  margin-bottom: -20px !important;
}

.mat-main-column-hs {
  font-weight: 600 !important;
  color: #555555 !important;
  width: 22%;
}

.icon-filter {
  width: 12px;
}

.title {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  text-transform: uppercase;

  color: #303030;
  margin-bottom: 20px;
}


.center {
  text-align: center !important;
}
