<div class="apply-css-alpha">
    <mat-card class="manage-card">
        <mat-card-header>
          <mat-card-title>
            <div>Thống kê danh sách học sinh học bài giảng</div>
          </mat-card-title>
        </mat-card-header>
        <form action="" [formGroup]="filterSignupLecturesForm" (ngSubmit)="filterReport()">
          <mat-card-content>
            <div class="manage-filter">
              <div class="manage-filter-item" *ngIf="levelManageValue==1">
                <mat-form-field appearance="outline" (click)="onDivisionSelectClicked()">
                  <mat-label>Chọn phòng</mat-label>
                  <mat-select formControlName="divisionId" placeholder="Chọn phòng" #singleSelectDivision
                    disableOptionCentering>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                        [formControl]="divisionFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                      {{division.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="manage-filter-item" *ngIf="levelManageValue<=2">
                <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
                  <mat-label>Chọn trường</mat-label>
                  <mat-select formControlName="schoolId" [disabled]="isDisableSchoolId" placeholder="Chọn trường"
                    #singleSelectSchool disableOptionCentering>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                        [formControl]="schoolFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                      {{school.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
    
              <div class="manage-filter-item">
                <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
                  <mat-label>Chọn khối</mat-label>
                  <mat-select formControlName="gradeId" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                        [formControl]="gradeFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let gradeId of filteredGrades | async" [value]="gradeId.id">
                      {{gradeId.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
    
              <div class="manage-filter-item">
                <mat-form-field appearance="outline" (click)="onGroupStudentSelectClicked()">
                  <mat-label>Chọn lớp</mat-label>
                  <mat-select formControlName="groupStudentId" placeholder="Chọn lớp" #singleSelectGroupStudent
                    [disabled]="isDisableGroupStudentId && levelManageValue !== 3" disableOptionCentering>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Tìm lớp" noEntriesFoundLabel="Không tìm thấy"
                        [formControl]="groupStudentFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let groupStudent of filteredGroupStudents | async" [value]="groupStudent.id">
                      {{groupStudent.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
    
              <div class="manage-filter-item">
                <mat-form-field appearance="outline">
                  <mat-label>Niên khóa</mat-label>
                  <mat-select [formControl]="schoolYearCtrl" placeholder="Chọn lớp" #singleSelesingleSelectSchoolYear
                    disableOptionCentering>
                    <mat-option value="2017">
                      2017-2018
                    </mat-option>
                    <mat-option value="2018">
                      2018-2019
                    </mat-option>
                    <mat-option value="2019">
                      2019-2020
                    </mat-option>
                    <mat-option value="2020">
                      2020-2021
                    </mat-option>
                    <mat-option value="2021">
                      2021-2022
                    </mat-option>
                    <mat-option value="2022">
                      2022-2023
                    </mat-option>
                    <mat-option value="2023">
                      2023-2024
                    </mat-option>
                    <mat-option value="2024">
                      2024-2025
                    </mat-option>
                    <mat-option value="2026">
                      2025-2026
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="manage-filter-item">
                <mat-form-field appearance="outline">
                  <mat-label>Tìm kiếm</mat-label>
                  <input matInput fxFlex type="text" [formControl]="studentName" placeholder="Nhập mã hoặc tên học sinh"
                    autocomplete="off">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
              <div class="manage-filter-item manage-filter-item-fill"
                fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
                <button mat-raised-button color="primary">
                  <mat-icon matSuffix>filter_list</mat-icon>
                  Lọc kết quả
                </button>
              </div>
            </div>
          </mat-card-content>
        </form>
      </mat-card>
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxFlex fxLayoutAlign="end center" class="export-data">
        <button mat-raised-button color="primary" (click)="exportExcel()">
          <mat-icon matSuffix>file_download</mat-icon>
          Xuất dữ liệu
        </button>
      </div>
    </mat-card-content>

    <div class="table-responsive">

      <table mat-table [dataSource]="reportStudentLearnPagination.items" matSort>

        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef> STT
          </th>
          <td mat-cell *matCellDef="let element;index as i"> {{i+1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="StudentName">
          <th mat-header-cell *matHeaderCellDef> Tên học sinh</th>
          <td mat-cell *matCellDef="let element" class="mat-main-column-hs">{{element.studentName}}</td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef> Mã định danh
          </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>
        
        <!-- Weight Column -->
        <ng-container matColumnDef="SchoolName">
          <th mat-header-cell *matHeaderCellDef> Trường </th>
          <td mat-cell *matCellDef="let element"> {{element.schoolName}}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Grade">
          <th mat-header-cell *matHeaderCellDef> Khối </th>
          <td mat-cell *matCellDef="let element"> {{element.gradeName}}
          </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="Class">
          <th mat-header-cell *matHeaderCellDef> Lớp
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.groupStudentName}}</td>
        </ng-container>
        <ng-container matColumnDef="registerDate">
          <th mat-header-cell *matHeaderCellDef> Thời gian ghi danh
          </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="!element.registrationDate">
              -
            </span>
            <span *ngIf="element.registrationDate">
              <b><span class="text-green bold">{{element.registrationDate | date:'HH:mm'}}</span></b>
              {{element.registrationDate | date:' dd/MM/yyyy'}}
            </span>
        </ng-container>
        <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef> Thời gian bắt đầu
          </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="!element.startDate">
              -
            </span>
            <span *ngIf="element.startDate">
              <b><span class="text-green bold">{{element.startDate | date:'HH:mm'}}</span></b>
              {{element.startDate | date:' dd/MM/yyyy'}}
            </span>
        </ng-container>
        <ng-container matColumnDef="endTime">
          <th mat-header-cell *matHeaderCellDef> Thời gian kết thúc
          </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="!element.completionDate">
              -
            </span>
            <span *ngIf="element.completionDate">
              <b><span class="text-danger">{{element.completionDate | date:'HH:mm'}}</span></b>
              {{element.completionDate | date:' dd/MM/yyyy'}}
            </span>
        </ng-container>

        <ng-container matColumnDef="Status">
          <th class=" center" mat-header-cell *matHeaderCellDef> Trạng thái
          </th>
          <td class="center" mat-cell *matCellDef="let element">
            <circle-progress [percent]="element.percentageOfCompletion" [showSubtitle]="false" [radius]="17"
              [outerStrokeWidth]="5" [innerStrokeWidth]="5" [space]="-5" [outerStrokeColor]="'#4FB153'"
              [unitsFontSize]="11" [titleFontSize]="11" [titleColor]="'#4FB153'" [unitsColor]="'#4FB153'"
              [innerStrokeColor]="'#E9E9E9'" [animation]="true" [animationDuration]="300" [showInnerStroke]="true">
            </circle-progress>
          </td>
        </ng-container>

        <ng-container matColumnDef="function">
          <th class=" center" mat-header-cell *matHeaderCellDef> Điểm
          </th>
          <td class="center" mat-cell *matCellDef="let element">
            <span class="style-result">{{element.result}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="AssessmentLevelName">
          <th class=" center" mat-header-cell *matHeaderCellDef> Xếp loại
          </th>
          <td class="center" mat-cell *matCellDef="let element">
            <span *ngIf="element.assessmentLevelName != '' && element.assessmentLevelName != null" class="style-result">{{element.assessmentLevelName}}</span>
            <span *ngIf="element.assessmentLevelName == '' || element.assessmentLevelName == null">-</span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell background-no-content text-center" colspan="12">
            <div class="background-no-content-img"></div>
            Không có dữ liệu
          </td>
        </tr>
      </table>
      <div fxLayout="row" fxLayoutAlign="end end" class="paggination">
        <mat-paginator [length]="reportStudentLearnPagination.totalItems" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
      </div>
    </div>
  </mat-card>
</div>