<div class="question_basic">
  <app-status-question [data]="dataQuestion"></app-status-question>
  <div class="question" *ngFor="let questions of dataQuestion.questions">
    <app-underline-question *ngIf="questions.type==type.underline" [dataQuestion]="questions" [isTypeNull]="true">
    </app-underline-question>
    <app-true-false-clause-question *ngIf="questions.type==type.truefaslechause" [dataQuestion]="questions"
      [isTypeNull]="true">
    </app-true-false-clause-question>
    <app-single-choice-question *ngIf="questions.type==type.singlechoice" [dataQuestion]="questions"
      [isTypeNull]="true">
    </app-single-choice-question>
    <app-multi-choice-question *ngIf="questions.type==type.multichoice" [dataQuestion]="questions" [isTypeNull]="true">
    </app-multi-choice-question>
    <app-truefalse-question *ngIf="questions.type==type.truefasle" [dataQuestion]="questions" [isTypeNull]="true">
    </app-truefalse-question>
    <app-fill-blank-question *ngIf="questions.type==type.fillblank" [dataQuestion]="questions" [isTypeNull]="true">
    </app-fill-blank-question>
  </div>
</div>