<div class="question_basic">
  <div [hidden]="isResult==true">
    <button mat-flat-button class="mark-question" [ngClass]="{'mark-question-active': isFlag}" (click)="isMark()">Đánh dấu
      <mat-icon [ngClass]="{'color-red': isFlag === true}">flag</mat-icon>
    </button>
  </div>
  <div class="question">
    <mat-card>
         <!--xema lại kết quá-->
         <div *ngIf="isResult == true && isPublicAnswer" class="show-result" [ngClass]="{'true': isTrueQuestion == true, 'false': isTrueQuestion == false}">
          <!-- <span>Kết quả trả lời: </span> -->
          <ng-container *ngIf="isTrueQuestion==true; else elset">
            <span>Trả lời đúng</span>
          </ng-container>
          <ng-template #elset>
            <span>Trả lời sai</span>
          </ng-template>
        </div>

      <div *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock" class="question-title">
        <span [MathJax]="dataQuestion.content">
        </span>
        <!-- <span class="order"> {{dataQuestion.order}}. </span> -->
      </div>
      <ng-template #elseBlock>
        <div class="question-title">
          <span  [innerHTML]="dataQuestion.content | safeHtml">
          </span>
          <!-- <span class="order"> {{dataQuestion.order}}. </span> -->
        </div>
      </ng-template>

      <ng-container *ngIf="(isResult==false || isResult == undefined); else elseTemplate">
        <!--khu chộn đáp án đúng-->
        <div>
          <div *ngFor="let item of data;index as i">
            <div>
              {{i+1}} .
              <mat-form-field class="select-answer">
                <mat-select class="dapAn" [(ngModel)]="item.order" (selectionChange)="ChoiceAnswer($event,i)">
                  <mat-option *ngFor="let answer of  answers.true;index as id" [value]="answer.id">
                    {{alphabet[id]}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr />
        <!--Khu hiển thị danh sach đáp án-->
        <div fxLayout='row'>
          <div fxFlex="50%">
            <div *ngFor="let item of answers.false;index as i">
              <p fxLayout='row'>{{i+1}}. <span [MathJax]="item.content"></span></p>
            </div>
          </div>
          <div fxFlex="50%">
            <div *ngFor="let item of answers.true;index as i">
              <p fxLayout='row'>{{alphabet[i]}}. <span [MathJax]="item.content"></span></p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        <!--khu chộn đáp án đúng-->
        <div>
          <div *ngFor="let item of data;index as i">
            <div>
              {{i+1}} .
              <mat-form-field class="select-answer">
                <mat-select class="dapAn" [(ngModel)]="item.order" (selectionChange)="ChoiceAnswer($event,i)" [disabled]="true">
                  <mat-option *ngFor="let answer of  answers.true;index as id" [value]="answer.id">
                    {{alphabet[id]}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div fxFlex=5 fxLayoutGap=20px *ngIf="isPublicAnswer">
                <span *ngIf="item.isTrue==true" >
                  <mat-icon class="check-true">done</mat-icon>
                </span>
                <span *ngIf="item.isTrue==false">
                  <mat-icon class="wrong-answer">close</mat-icon>
                </span>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <!--Khu hiển thị danh sach đáp án-->
        <div fxLayout='row'>
          <div fxFlex="50%">
            <div *ngFor="let item of answers.false;index as i">
              <p fxLayout='row'>{{i+1}}. <span [MathJax]="item.content"></span></p>
            </div>
          </div>
          <div fxFlex="50%">
            <div *ngFor="let item of answers.true;index as i">
              <p fxLayout='row'>{{alphabet[i]}}. <span [MathJax]="item.content"></span></p>
            </div>
          </div>
        </div>
      </ng-template>

      <!--kêt quả-->
      <div *ngIf="isResult == true && isPublicAnswer">
        <h3>Kết quả</h3>
        <div fxLayout=row>
          <div *ngFor="let i of groupAnswers();" fxLayout=row>
            <div *ngIf="answersOfGroup(i)[0].position==true && answersOfGroup(i)[0].trueAnswer==(i)">
              <p style="color: red;">({{i}}) - &nbsp;</p>
            </div>
            <div fxLayout=row
              *ngIf="answersOfGroup(i)[1]!=undefined && answersOfGroup(i)[1].position==false && answersOfGroup(i)[1].trueAnswer==(i)">
              <!-- <span>{{alphabet[i]}}. &nbsp;</span> -->
              <div *ngIf="answersOfGroup(i)[1].content.indexOf(defaultMath)!=-1; else elseBlock"> <span
                  [MathJax]="answersOfGroup(i)[1].content"></span>
              </div>
              <ng-template #elseBlock> <span [innerHTML]="answersOfGroup(i)[1].content | safeHtml"></span></ng-template>
            </div>
            <span style="margin-right: 1rem;">;</span>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
