.create-user-group-container {
  position: relative;

  .label-add {
    min-width: 120px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #555555;
    opacity: 0.98;
  }

  .icon-close {
    position: absolute;
    top: -3px;
    right: -3px;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.5s;
  }

  .icon-close:hover {
    transform: scale(1.2);
  }

  .create-user-group-header {
    margin-top: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #303030;
    opacity: 0.98;
  }
}


:host ::ng-deep .mat-card {
  margin: 0;
  padding: 0;
  box-shadow: none !important;
  width: 100%;
}

:host ::ng-deep .mat-card-content {
  padding: 0;
}

:host ::ng-deep .mat-dialog-actions{
  padding: 0;
  min-height: fit-content;
}
