<div class="create-user-group-container apply-css-alpha">
  <mat-card>
    <mat-card-content>
      <div class="icon-close" [mat-dialog-close]>
        <mat-icon>close</mat-icon>
      </div>
      <div class="mat-dialog-title">THÊM NHÓM</div>

      <div fxLayout="column" class="m-t-20 m-b-20">
        <div class="m-b-15">
          <div fxLayout="row" fxLayoutAlign="start center" class="flex_row">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Tên nhóm(*)</mat-label>
                <input type="text" matInput [formControl]="nameContentControl" [(ngModel)]="createUserGroupRequest.name"
                  maxlength="255">
                <mat-error *ngIf="nameContentControl.hasError('required')">
                  Tên nhóm không được để trống
                </mat-error>
                <mat-error *ngIf="nameContentControl.hasError('maxlength')">
                  Tên nhóm vượt quá 255 ký tự
                </mat-error>
              </mat-form-field>
          </div>
        </div>

        <div>
          <div fxLayout="row" fxLayoutAlign="start center" class="flex_row">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Mã nhóm(*)</mat-label>
                <input type="text" matInput [formControl]="codeContentControl" [(ngModel)]="createUserGroupRequest.code"
                  maxlength="255">
                <mat-error *ngIf="codeContentControl.hasError('required')">
                  Mã nhóm không được để trống
                </mat-error>
                <mat-error *ngIf="codeContentControl.hasError('maxlength')">
                  Mã nhóm vượt quá 255 ký tự
                </mat-error>
                <mat-error *ngIf="codeContentControl.hasError('pattern')">
                  Mã nhóm chỉ bao gồm các ký tự 0-9, a-z, .,-, _
                </mat-error>
              </mat-form-field>
          </div>
        </div>
      </div>

      <mat-dialog-actions>
          <button mat-raised-button class="button-cancel m-r-10" [mat-dialog-close]>Hủy</button>
          <button mat-raised-button color="primary" class="btn-add"
            [disabled]="nameContentControl.invalid || codeContentControl.invalid"
            [mat-dialog-close]="createUserGroupRequest">Thêm</button>
      </mat-dialog-actions>
    </mat-card-content>
  </mat-card>
</div>
