<div class="apply-css-alpha">
  <mat-card class="manage-card mb-0">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex fxLayoutAlign="start center" fxFlex fxFlex.gt-md="75" fxLayoutAlign.gt-xs="start center"
          class="mat-title mb-0">
          Kỳ thi của tôi
        </div>
        <div fxFlex fxLayoutAlign="center center" fxFlex fxFlex.gt-md="25" fxLayoutAlign.gt-xs="end center">
          <button *ngIf="isShowFilter" class="button-hidden-filter" (click)="onClickToggleShowFilter()"
            mat-raised-button>
            <span class="material-icons">visibility_off</span>
            Ẩn bộ lọc
          </button>
          <button *ngIf="!isShowFilter" class="button-hidden-filter" (click)="onClickToggleShowFilter()"
            mat-raised-button>
            <span style="width: 24px;" class="material-icons">visibility_on</span>
            Hiện bộ lọc
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="manage-card mb-0" *ngIf="isShowFilter">
    <form [formGroup]="examFilter" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutAlign.gt-md="start center" class="mt-0"
          fxLayoutGap="15px grid" fxLayoutGap.gt-md="30px grid">
          <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>Khối</mat-label>
              <mat-select formControlName="gradeId" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="gradeFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                  {{grade.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper">
            <mat-form-field appearance="outline" (click)="onSubjectSelectClicked()">
              <mat-label>Môn</mat-label>
              <mat-select formControlName="subjectId" placeholder="Chọn môn" [disabled]="isDisableSubjectId"
                #singleSelectSubject disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm môn" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="subjectFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.id">
                  {{subject.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>Hình thức </mat-label>
              <mat-select formControlName="examType" [placeholder]="'Chọn hình thức'">
                <mat-option>
                  Chọn trạng hình thức
                </mat-option>
                <mat-option value="FRE">
                  Tự do
                </mat-option>
                <mat-option value="CON">
                  Tập trung
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>Trạng thái ca thi</mat-label>
              <mat-select formControlName="status">
                <mat-option>
                  Chọn trạng thái ca thi
                </mat-option>
                <mat-option value="NOT">
                  Chưa diễn ra
                </mat-option>
                <mat-option value="UPC">
                  Sắp diễn ra
                </mat-option>
                <mat-option value="STA">
                  Đang diễn ra
                </mat-option>
                <mat-option value="END">
                  Đã kết thúc
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>Trạng thái tham gia</mat-label>
              <mat-select formControlName="statusCompleted">
                <mat-option>
                  -- Chọn trạng thái tham gia--
                </mat-option>
                <mat-option value="true">
                  Đã tham gia
                </mat-option>
                <mat-option value="false">
                  Không tham gia
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>Khoảng thời gian</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input formControlName="startDate" matStartDate placeholder="dd/MM/yyyy">
                <input formControlName="endDate" matEndDate placeholder="dd/MM/yyyy">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
          <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>Tên kỳ thi</mat-label>
              <input matInput fxFlex type="text" formControlName="keyword" name="search" placeholder="Tìm kiếm kì thi"
                autocomplete="off">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-xs="end center" class="filter-item-wrapper">
            <button mat-raised-button color="primary" type="submit">
              <mat-icon matSuffix>filter_list</mat-icon>
              Lọc kết quả
            </button>
          </div>
        </div>
      </mat-card-content>
    </form>
  </mat-card>

  <div style="margin:20px 15px 0px 15px; position: relative;">
    <div fxLayout="row wrap" fxFlex="100">
      <app-spinner2 [fullScreen]="isFullScreen"></app-spinner2>
      <ng-container
        *ngFor="let item of dataExamPagination.items | paginate: { itemsPerPage: 12, currentPage: page, totalItems:dataExamPagination.totalItems}; index as i">
        <div fxLayoutAlign="start center" id="kithi_{{i+1}}" class="exam-element" fxFlex fxFlex.lt-sm="100"
          fxFlex.gt-lg="24" fxFlex.gt-md="32" fxFlex.gt-xs="49" fxFlexOffset.gt-lg="{{i%4==0?null:1.33}}"
          fxFlexOffset.gt-md="{{i%3==0?null:2}}" fxFlexOffset.gt-xs="{{i%2==0?null:2}}">
          <div fxFlex="100" fxFlex.gt-sm="100" class=" exam-detail " fxLayout fxLayout.gt-sm="column">
            <!-- <div fxFlex fxFlex.gt-sm="40" fxLayoutAlign="center center" class="default-img-exam-wrapper">
              <div class="default-img-exam">
                <span class="subject-name">{{item.subjectName.toUpperCase()}}</span>
              </div>
            </div> -->
            <div fxFlex fxFlex.gt-sm="100" fxLayout='column' class="min-height-288">
              <!-- <div fxLayout='column' class="height-100"> -->
              <div fxFlex="20" fxLayoutAlign="start center" class="status min-height-50"
                [ngClass]="item.status=='DON'?'done': item.status=='NOT'?'notyet':item.status=='STA'?'starting':item.status=='UPC'?'upcoming':'end'">
                <div fxLayout="row" fxFlex="100" class="row-status p-l-20 p-r-20">
                  <div fxFlex="50" fxLayoutAlign="start center">
                    <label>
                      {{item.status=='DON'?'Hoàn thành': item.status=='NOT'?'Chưa diễn ra':item.status=='STA'?
                      'Đang diễn ra':item.status=='UPC'?'Sắp diễn ra':'Đã kết thúc'}}
                    </label>
                  </div>
                  <div fxFlex="50" fxLayoutAlign="end center">
                    <span class="material-icons-outlined m-r-5">
                      alarm
                    </span>
                    {{item.testTime +' phút'}}
                  </div>
                </div>
              </div>
              <div fxFlex="60" fxLayoutAlign="start center" class="p-l-20 p-r-20 background-color-ffffff">
                <div fxLayout="column" fxLayoutGap="10px" class="min-width-100">
                  <div fxFlex='20' class="title-exam" fxLayoutAlign="start center">
                    <div fxFlex='90' fxLayoutAlign="start center">
                      <span class="text-wrap" #tooltip="matTooltip"
                        matTooltip="{{item.examName}}">{{item.examName}}</span>
                    </div>
                    <div fxFlex='10' fxLayoutAlign="end center">
                      <span *ngIf="item.isCompleted" class="material-icons" style="color: #4CAF50;">
                        verified
                      </span>
                    </div>
                  </div>
                  <div fxFlex='40' class="exam-info" fxLayoutAlign="start center">
                    <span class="shift-name">{{item.shiftName}}</span>
                    <span class="room-name">{{item.roomName}}</span>
                    <span class="exam-type">{{item.examType =='CON'?'Tập trung':'Tự do'}}</span>
                  </div>
                  <div fxFlex='20' class="font-weight-600 color-555555" fxLayoutAlign="start center">
                    <div fxFlex='50' fxLayoutAlign="start center">
                      <span class="font-weight-400">Môn:</span>
                      <span class="text-wrap" #tooltip="matTooltip" matTooltip="{{item.subjectName}}"> &nbsp;
                        {{item.subjectName}}</span>
                    </div>
                    <div fxFlex='50' fxLayoutAlign="end center">
                      <span class="font-weight-400">Khối:</span>
                      <span> &nbsp; {{item.gradeName}}</span>
                    </div>
                  </div>
                  <div fxFlex='20'>
                    <div fxLayout="row" class="font-weight-600">
                      <div fxFlex="50" fxLayoutAlign="start center" class="font-weight-400 color-555555">Ngày bắt đầu:
                      </div>
                      <div fxFlex="50" fxLayoutAlign="end center">
                        <span class="text-green">{{item.startDate|date :'HH:mm'}}</span>
                        <span class="color-555555"> &nbsp; {{ item.startDate|date :'dd/MM/yyyy'}}</span>
                      </div>

                    </div>
                  </div>
                  <div fxFlex='20'>
                    <div fxLayout="row" class="font-weight-600">
                      <div fxFlex="50" fxLayoutAlign="start center" class="font-weight-400 color-555555">Ngày kết thúc:
                      </div>
                      <div fxFlex="50" fxLayoutAlign="end center">
                        <span class="text-red">{{item.endDate|date :'HH:mm'}}</span>
                        <span class="color-555555"> &nbsp; {{ item.endDate|date :'dd/MM/yyyy'}}</span>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
              <div fxFlex="20" fxLayoutAlign="center center" class="button-exam background-color-ffffff"
                fxLayoutGap="20px">
                <!-- <button *ngIf="item.isCompleted==false&& item.status=='END'" mat-flat-button class="button-cancel">
                  Không tham gia
                </button> -->
                <!-- <button *ngIf="item.isCompleted==true" mat-flat-button color="primary">Đã tham gia</button> -->
                <button routerLink="{{item.id}}/result" mat-flat-button color="warn" *ngIf="item.isCompleted==true"
                  class="button-review-exam">
                  Xem lại
                </button>
                <button mat-stroked-button *ngIf="item.status=='END' && item.isCompleted!=true"
                  class="button-not-join-exam">Không tham gia</button>
                <!-- <label mat-flat-button *ngIf="item.status=='END' && item.isCompleted!=true" class="not-join"> Không tham
                  gia</label> -->
                <!-- <button [disabled]="!item.isCompleted" mat-flat-button color="warn" *ngIf="item.status=='END' && item.isCompleted!=true">
                  Không tham gia
                </button> -->
                <button routerLink="{{item.id}}/infor-exam"
                  *ngIf="(item.status=='STA'|| item.status=='UPC'|| item.status=='NOT'  ) && item.isCompleted==false"
                  mat-flat-button [disabled]="item.status=='NOT'" color="primary" class="button-join-exam">Vào
                  thi</button>
                <!-- <button mat-flat-button color="warn">Xem lại</button> -->
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="dataExamPagination.totalItems==0">
        <mat-card fxLayout="column" fxLayoutAlign="center center" class="content-not-found m-0">
          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" class="margin-t-b-50">
            <img src="../../../../../assets/images/lesson/lessonNotFound.png" alt="">
            <div>
              <span>Không tìm thấy kết quả tìm kiếm kỳ thi
              </span>
              <br>
              <span>Đề xuất</span>
              <ul>
                <li>Xin bạn hãy chắc chắn rằng tất cả các từ đều đúng chính tả</li>
                <li>Hãy thử lại với những từ khóa khác</li>
                <li>Hãy thử những từ khóa chung hơn</li>
              </ul>
            </div>
          </div>
        </mat-card>
      </ng-container>

    </div>
  </div>


  <!-- <mat-paginator [length]="dataExamPagination.totalItems" [pageSizeOptions]="[10, 5, 25, 100]"></mat-paginator> -->
  <pagination-controls *ngIf="dataExamPagination.totalItems!=0" fxLayoutAlign="center center"
    class="paging my-pagination pb-3" previousLabel="" nextLabel="" (pageChange)="onChange($event)">
  </pagination-controls>
</div>