.create-info {
  font-size: 13px;
}

a .create-exam {
  background: #4caf50;
  color: white;
}

.input-text {
  height: 31px;
  color: #555555;
  border: 1px solid #555555;
  border-radius: 3px;
  padding: 5px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  height: 29px;
}

.searchButton {
  background: none;
  border: none;
  margin-left: -32px;
  color: #555555;
}

.icon-filter {
  width: 12px;
}

table {
  box-shadow: none;
  width: 100%;
}

.m-b-10 {
  margin-bottom: 10px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 20px;
}

.search-input {
  width: 245px;
  height: 30px;

  border: 0.5px solid #555555;
  box-sizing: border-box;
  border-radius: 2px;

  padding: 5px;
}

.icon-table {
  height: 16px;
  width: auto;
}

.row_flex {
  margin-top: 20px;
}

.center-element {
  text-align: center;
}

.delete-button {
  margin-left: 24px;
}

.paginator {
  margin-right: 3rem;
}

// .starting {
//   background: #4caf50;
//   color: white;
//   border-radius: 3px;
// }

// .notyet {
//   background: #aba8a7;
//   color: white;
//   border-radius: 3px;
// }

// .end {
//   background: #e5ae40;
//   color: white;
//   border-radius: 3px;
// }

.exam-element {
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-bottom: 20px;
}

input {
  font-size: 14px;
}

@media screen and (max-width: 1440px) {
  .default-img-exam {
    background-image: url("../../../../../assets/images/exam/default-exam-v3-1440.png");
  }
}

@media screen and (min-width: 1441px) {
  .default-img-exam {
    background-image: url("../../../../../assets/images/exam/default-exam-v3-1920.png");
  }
}

.default-img-exam-wrapper {
  position: relative;
  margin: 20px 20px 0px 20px;
}

.default-img-exam {
  min-height: 165px;
  border-radius: 6px;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.subject-name {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  background: #523fa7;
  border-radius: 6px;
  padding: 5px;
  color: #ffffff;
}

.exam-detail {
  font-style: normal;
  // padding: 20px;
  min-height: 100%;

  .exam-info {
    font-size: 12px;
    line-height: 16px;

    opacity: 0.98;

    border-radius: 2px;

    .shift-name {
      background: rgba(104, 201, 255, 0.2);
      color: #68c9ff;
      padding: 2px 8px;
      margin-right: 5px;
      border-radius: 2px;
      font-weight: 600;
    }

    .room-name {
      background: rgba(229, 174, 64, 0.2);
      color: #e5ae40;
      padding: 2px 8px;
      margin-right: 5px;
      border-radius: 2px;
      font-weight: 600;
    }

    .test-time {
      background: rgba(248, 135, 127, 0.2);
      color: #f8877f;
      padding: 2px 8px;
      margin-right: 5px;
      border-radius: 2px;
      font-weight: 600;
    }

    .exam-type {
      background: rgba(53, 125, 234, 0.2);
      color: #357dea;
      padding: 2px 8px;
      margin: 2px;
      border-radius: 2px;
      font-weight: 600;
    }
  }

  .exam-date {
    font-size: 12px;
    font-weight: normal;

    .exam-status {
      font-weight: 600;

      .starting {
        // background: #dbffdc;
        border-radius: 10.5px;
        color: #4caf50;
        opacity: 0.98;
        padding: 5px 12px;
        border: none;
        min-width: none !important;
        line-height: none !important;
      }

      .done {
        // background: #4caf50;
        border-radius: 10.5px;
        color: #ffffff;
        opacity: 0.98;
        padding: 5px 12px;
        border: none;
      }

      .end {
        // background: #ffe0df;
        border-radius: 10.5px;
        color: #da251d;
        opacity: 0.98;
        padding: 5px 12px;
      }

      .upcoming {
        // background: #fff5e0;
        border-radius: 10.5px;
        color: #e5ae40;
        opacity: 0.98;
        padding: 5px 12px;
      }

      .notyet {
        // background: #f3f3f3;
        border-radius: 10.5px;
        color: #919191;
        opacity: 0.98;
        padding: 5px 12px;
      }

      .review {
        // background: linear-gradient(0deg, #da251d, #da251d), #da251d;
        border-radius: 10.5px;
        color: #ffffff;
        opacity: 0.98;
        padding: 5px 12px;
        border: none;
      }
    }
  }

  .title-exam {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #555555;

    opacity: 0.98;
  }

  .button-filter {
    padding-right: 10px;
  }
}

.filter-item-wrapper {
  padding-bottom: 25px !important;
}

.footer-paging {
  position: sticky;
  bottom: 0;
}

:host ::ng-deep .ngx-pagination .current {
  border-radius: 50%;
  background: #4caf50 !important;
}

// :host ::ng-deep .my-pagination {
//   $color: gray;

//   li {
//     border-radius: 50%;
//     border: white;
//     background: white;
//     color: $color;
//     margin: 10px;
//     width: 35px;
//     height: 35px;
//     padding: 5px 3px 0 3px;
//     text-align: center;

//     &.current {
//       color: white;
//     }

//     & > a span {
//       margin-top: 3px;
//       color: lightgray;
//     }

//     &.pagination-next a::after,
//     &.pagination-previous a::before,
//     &.pagination-next.disabled::after,
//     &.pagination-previous.disabled::before {
//       margin-left: 0;
//       margin-right: 0;
//       color: $color;
//     }

//     a:hover,
//     button:hover {
//       border-radius: 50%;
//     }
//   }
// }

a {
  text-decoration: none;
  color: #555555;
}

::ng-deep .ngx-pagination .current {
  border-radius: 50%;
  background: #4caf50 !important;
}

:host ::ng-deep .my-pagination {
  $color: lightgray;

  ul {
    padding-inline-start: 0px;
  }

  li {
    border-radius: 50%;
    border: white;
    background: white;
    color: gray;
    margin: 10px;
    width: 35px;
    height: 35px;
    padding: 6px 3px 0 3px;
    text-align: center;
    box-shadow: 0px 4px 30px rgb(0 0 0 / 10%);

    &.current {
      background: primary;
      padding: 8px 3px 0 3px;
    }

    & > a span {
      margin-top: 3px;
      color: lightgray;
    }

    &.pagination-next a::after,
    &.pagination-previous a::before,
    &.pagination-next.disabled::after,
    &.pagination-previous.disabled::before {
      margin-left: 0;
      margin-right: 0;
      color: $color;
    }

    a:hover,
    button:hover {
      border-radius: 50%;
    }
  }
}

@media screen and (min-width: 600px) {
  .exam-element {
    .default-img-exam-wrapper {
      margin-bottom: 20px;
    }
  }
}

// background-color: rgba(3, 131, 8, 0.1);
// color: #4CAF50;
.starting {
  // background: #dbffdc;
  background: #ffffff;
  border-radius: 6px 6px 0px 0px;
  color: #4caf50;
  opacity: 0.98;
  border: none;
  border-bottom: solid #dbdbdb 0.5px;
  font-weight: 600;
  // line-height: none !important;
}

.done {
  // background: #4caf50;
  background: #ffffff;
  border-radius: 6px 6px 0px 0px;
  color: #ffffff;
  opacity: 0.98;
  border: none;
  border-bottom: solid #dbdbdb 0.5px;
  font-weight: 600;
}

.end {
  // background: #ffe0df;
  background: #ffffff;
  border-radius: 6px 6px 0px 0px;
  color: #da251d;
  opacity: 0.98;
  border-bottom: solid #dbdbdb 0.5px;
  font-weight: 600;
}

.upcoming {
  // background: #fff5e0;
  background: #ffffff;
  border-radius: 6px 6px 0px 0px;
  color: #e5ae40;
  opacity: 0.98;
  border-bottom: solid #dbdbdb 0.5px;
  font-weight: 600;
}

.notyet {
  // background: #f3f3f3;
  background: #ffffff;
  border-radius: 6px 6px 0px 0px;
  color: #919191;
  opacity: 0.98;
  border-bottom: solid #dbdbdb 0.5px;
  font-weight: 600;
}

.review {
  // background: linear-gradient(0deg, #da251d, #da251d), #da251d;
  background: #ffffff;
  border-radius: 6px;
  color: #ffffff;
  opacity: 0.98;
  border: none;
  border-bottom: solid #dbdbdb 0.5px;
  font-weight: 600;
}

.button-exam {
  // border-top: solid #ececec 0.5px;
  min-height: 47.5px !important;
  padding: 0px 20px;
}

.min-height-288 {
  min-height: 288px;
}

.min-width-100 {
  min-width: 100%;
}

.color-555555 {
  color: #555555;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600 {
  font-weight: 600;
}

.min-height-50 {
  min-height: 50px;
}
.content-not-found {
  min-width: 100%;
  min-height: 100%;
}
.margin-t-b-50 {
  margin: 50px 0px !important;
}
.background-color-ffffff {
  background-color: #ffffff !important;
}

.button-not-join-exam {
  color: #555555;
  font-weight: 600;
  min-width: 100%;
}

.button-review-exam {
  min-width: 100%;
  font-weight: 600;
}

.button-join-exam {
  min-width: 100%;
  font-weight: 600;
}
