.question_underline {
  position: relative;
  pointer-events: none;
}

.example-list-section {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
}

.example-radio-button {
  position: relative;
  padding: 5px 0;
}

.question-title {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #303030;
  position: relative;
  padding-left: 30px;

  .order {
    position: absolute;
    left: 0;
    top: -3px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 22px;
    color: #4CAF50;
  }

  .score {
    position: absolute;
    right: 0;
    top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #4CAF50;
  }
}

.question_group {
  border: 0.5px solid #B0B0B0;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-top: 15px;

  .content_group{
    padding: 20px;
  }

  .title{
    margin: 0;
    ::ng-deep > p {
      margin: 0;
    }
  }

  .type_question {
    padding: 10px 0;
    text-align: center;
    color: #4CAF50;
    font-size: 14px;
    font-weight: normal;
    border-top: 0.5px solid #B0B0B0;
    display: block;
  }
}

.title {
  font-size: 14px;
  color: #555555;
  margin-bottom: 6px;
  margin-top: 10px;
  width: 100%;
  word-break: break-all;

  ::ng-deep > div > p {
    margin: 0;
  }

  ::ng-deep > p {
    margin: 0;
  }
}

:host ::ng-deep .mat-radio-label{
  font-weight: normal;
  white-space: normal;
}

.alphabet{
  margin-right: 5px;
}

.question_content{
  ::ng-deep >div >p{
    display: flex;
    align-items: center;
  }
}

:host ::ng-deep .mat-radio-label-content{
  display: flex;
  align-items: center
}

.answer-area{
  padding: 10px 0;
}