<div class="question_underline" [ngClass]="{'question_group': isTypeNull}">
  <div class="content_group">
    <app-status-question *ngIf="!isTypeNull" [data]="dataQuestion"></app-status-question>
    <p *ngIf="dataQuestion.format === 'GRO' && dataQuestion.content.indexOf(defaultMath)!=-1; else quest" class="title" [MathJax]="dataQuestion.content"></p>
    <ng-template #quest>
      <p *ngIf="dataQuestion.format === 'GRO'" class="title" [innerHTML]="dataQuestion.content | safeHtml"></p>
    </ng-template>
    <div class="answer-area">
      <ng-container *ngIf="(isResult==false || isResult == undefined)">
        <mat-radio-group class="example-radio-group">
          <mat-radio-button color="primary" class="example-radio-button" *ngFor="let o of dataQuestion.answers; let i = index"
            [value]="o.id" [checked]="o.trueAnswer === 1">
            <span class="alphabet">{{alphabet[i]}}.</span>
            <span class="question_content" [innerHTML]="o.content | safeHtml"></span>
          </mat-radio-button>
        </mat-radio-group>
      </ng-container>
    </div>
  </div>
  <span class="type_question" *ngIf="isTypeNull">Gạch chân</span>
</div>
