<p class="title-callsupport">Yêu cầu hỗ trợ!</p>
<mat-form-field style="width:100%">
  <mat-label>Chọn yêu cầu cầu:</mat-label>
  <mat-select [(value)]="selectedType">
    <mat-option value="loi-ki-thuat">Lỗi kĩ thuật</mat-option>
    <mat-option value="loi-may-tinh">Lỗi máy tính</mat-option>
    <mat-option value="loi-nop-bai">Không nộp được bài thi</mat-option>
    <mat-option value="khac">Khác</mat-option>
  </mat-select>
</mat-form-field>
<p>Mô tả:</p>
<textarea [(ngModel)]="userDescription"></textarea>
<div style="float:right;margin-bottom: 10px;">
  <button mat-raised-button mat-dialog-close color="primary" (click)="sendSupportMessage()"
    style="margin-right: 15px;">Gửi</button>
  <button mat-raised-button mat-dialog-close>Hủy</button>
</div>
