<div class="slider" [ngClass]="{'dark':isLightMode===true, 'hide_action': hideAction}">
  <div class="progress">
    <div class="slider-bar">
      <mat-slider *ngIf="tag=='pure'" id="seekslider" (input)="onSlide($event)" [disabled]="isDisable"
        [(ngModel)]="percent" color="primary" class="item_progress" [min]="0" [max]="100">
      </mat-slider>
      <mat-slider *ngIf="tag=='doc'" id="seekslider" (input)="onSlide($event)" [disabled]="isDisable"
        [(ngModel)]="pageNow" color="primary" class="item_progress" [min]="0" [max]="totalPage">
      </mat-slider>


      <mat-slider *ngIf="tag=='media'" (change)="onChangeSlideMedia($event)" id="seekslider"
        (mousewheel)="mousewheel($event)" (input)="onSlideMedia($event)" [(ngModel)]="currentTime" color="primary"
        class="item_progress" [min]="0" [max]="maxTime">
      </mat-slider>

      <span [hidden]="!progress.valueHoverSlider" id="hover_span"><span *ngIf="tag=='doc'">Trang
        </span>{{progress.valueHoverSlider}}</span>
    </div>
    <div class="action" (mouseleave)="onHoverVolume(false)"
      [ngClass]="{'isCompleteSlider': isCompleteContent, 'isDoc': tag === 'pure' || tag === 'doc' || tag === 'media'}">
      <div class="left">
        <div *ngIf="!isCompleteContent" class="action-doc" [ngClass]="{'disable':isDisable==true}" fxLayout="row"
          fxLayoutAlign="start center">
          <span class="block-button" [ngClass]="{'p-0':tag=='doc'}" id="forward-previous" (click)="previous()">
            <mat-icon svgIcon="prev-page-doc" class="icon" *ngIf="tag=='doc'"></mat-icon>
            <mat-icon class="icon" *ngIf="tag!='doc'">replay_5</mat-icon>
          </span>
          <span class="block-play" *ngIf="!isShowReplay && tag!='doc'" (click)="play()">
            <mat-icon class="icon">
              <div [ngClass]="{'paused': isPlay}" class="block"></div>
              <!-- {{isPlay ? 'play_circle_outline' : 'pause_circle_outline'}} -->
            </mat-icon>
          </span>
          <span *ngIf="isShowReplay && tag!='doc'" class="block-play" (click)="replayVideo()">
            <mat-icon class="icon icon-replay">replay</mat-icon>
          </span>
          <span class="block-button block_last" [ngClass]="{'disabled': isShowReplay, 'm-l-10':tag=='doc', 'p-0':tag=='doc'}"
            id="forward-next" (click)="next()">
            <mat-icon svgIcon="next-page-doc" class="icon" *ngIf="tag=='doc'"></mat-icon>
            <mat-icon class="icon" *ngIf="tag!='doc'">forward_5</mat-icon>
          </span>
          <span class="text_progress" *ngIf="tag=='pure'">{{percentDisplay}}%</span>
          <!-- <span class="text_progress" *ngIf="tag=='doc'">{{pageNow}}</span> -->
          <mat-form-field appearance="outline" *ngIf="tag=='doc'" class="input-mobile">
            <input type="number" matInput [formControl]="pageControl" [(ngModel)]="pageInput" min="1" autocomplete="off"
              (keydown.enter)="onChangePage($event.target.value)">
            <mat-error *ngIf="pageControl.hasError('required')">
              Bạn chưa nhập trang
            </mat-error>
            <mat-error *ngIf="pageControl.hasError('min')">
              Trang phải lớn hơn 1
            </mat-error>
          </mat-form-field>
          <span class="text_progress" *ngIf="tag=='media'">{{currentTimeDisplay}}</span>
          <span>/</span>
          <span class="text_progress" *ngIf="tag=='pure'">100%</span>
          <span class="text_progress" *ngIf="tag=='doc'"><span>{{totalPage}}</span></span>
          <span class="text_progress" *ngIf="tag=='media'">{{time}}</span>


          <mat-icon *ngIf="tag=='media'" (mouseenter)="onHoverVolume(true)" class="icon mute"
            [ngClass]="{'disable_mute': volume === 0}" (click)="muted()">
            {{isMuted ? 'volume_off': (volume > 50 ? 'volume_up': 'volume_down')}}
          </mat-icon>
          <div class="volume" *ngIf="tag=='media' && isShowVolume">
            <mat-slider (input)="onSlideVolume($event)" [(ngModel)]="volume" color="primary" class="item_volume"
              [min]="0" [max]="100">
            </mat-slider>
          </div>
        </div>
        <mat-icon class="zoom-icon" *ngIf="tag=='pure'" (click)="onClickZoomIn()">zoom_in</mat-icon>
        <mat-icon class="zoom-icon" *ngIf="tag=='pure'" (click)="onClickZoomOut()">zoom_out</mat-icon>
        <span class="complete" *ngIf="isCompleteContent">{{isWaitingContent ? '0 / 100%' : '100% / 100%'}}</span>
      </div>
      <div class="center">
        <button mat-raised-button (click)="onClickBackContent()" [disabled]="disableBack == true" class="back-content">
          <mat-icon>chevron_left</mat-icon>
          Trở lại
        </button>
        <button mat-raised-button color="primary" (click)="onClickNextContent()" [disabled]="disableNext == true"
          class="next-page">
          Qua bài
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      <div class="right" *ngIf="toogleMobile">
        <mat-icon class="icon disabled-dark" (click)="onChooseBackground()">image</mat-icon>
        <!-- <div class="settings">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Setting video">
            <mat-icon>tune</mat-icon>
          </button>
          <mat-menu #menu="matMenu" yPosition="above">
            <button mat-menu-item>
              <mat-icon>volume_down</mat-icon>
              <span>Volumn</span>
            </button>
            <button mat-menu-item>
              <mat-icon>1x_mobiledata</mat-icon>
              <span>Playback speed</span>
            </button>
          </mat-menu>
        </div> -->
        <div class="settings" *ngIf="!isCompleteContent && !hideSetting && tag!='doc'">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Setting">
            <mat-icon>settings</mat-icon>
          </button>
          <mat-menu class="setting-menu" #menu="matMenu" yPosition="above" xPosition="before">
            <button mat-menu-item [matMenuTriggerFor]="sp" aria-label="Tốc độ phát">
              <span>Tốc độ phát</span>
              <mat-icon>chevron_right</mat-icon>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="rate" aria-label="Tốc độ tua">
              <span>Tốc độ tua</span>
              <mat-icon>chevron_right</mat-icon>
            </button>
          </mat-menu>
          <mat-menu [hasBackdrop]="false" class="setting-menu" #quality="matMenu" yPosition="above" xPosition="after">
          </mat-menu>
          <mat-menu [hasBackdrop]="false" class="setting-menu" #sp="matMenu" yPosition="above" xPosition="after">
            <button mat-menu-item *ngFor="let speed of adjust.speed" (click)="onSpeed(speed.ratio, speed)">
              <span>{{speed.name}}</span>
              <mat-icon *ngIf="speed.active">done</mat-icon>
            </button>
          </mat-menu>
          <mat-menu [hasBackdrop]="false" class="setting-menu" #rate="matMenu" yPosition="above" xPosition="after">
            <button mat-menu-item *ngFor="let rate of adjust.playback" (click)="onPlaybackRate(rate.ratio, rate)">
              <span>{{rate.ratio}}</span>
              <mat-icon *ngIf="rate.active">done</mat-icon>
            </button>
            <!-- <mat-slider (input)="onSlideRateVideo($event)" color="primary" class="item_volume" [min]="0" [max]="100"> </mat-slider> -->
          </mat-menu>
        </div>
        <mat-icon [ngClass]="{'dark-icon': isLightMode}" class="icon" (click)="onClickLightMode()"> {{!isLightMode ?
          'wb_sunny' : 'nightlight'}}</mat-icon>
        <mat-icon [ngClass]="{'disabled-fullscreen': hideSetting}" class="icon fullscreen" (click)="onFullscreen()">
          {{isFull?'fullscreen_exit':'fullscreen'}}
        </mat-icon>
      </div>
      <mat-icon *ngIf="widthScreen <= 525" class="icon icon-more" (click)="toogleMenuMobile()">more_vert</mat-icon>
    </div>
  </div>
</div>