.container {
  background-color: #eeeeee;
  padding: 1rem;
}

.question-title {
  font-weight: 500 !important;
  overflow-wrap: break-word;
}

#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container-content__question {
  position: relative;
  min-height: calc(100vh - 113px);
  height: calc(100vh - 113px);
  overflow-y: auto;
  overflow-x: hidden;
  background: #F7F7F7;
  padding-top: 20px;
}

// before do exam

#waitingDoExam {
  border: 1px solid #212529;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: auto;
  margin-top: -9em;
  margin-left: -15em;
  text-align: center;
  background-color: #198754;
  color: white;
}

:host::ng-deep.missing-word-2 {
  font-weight: bold;
  border-bottom: 1px solid #c0c0c0;
  min-width: 50px;
  display: inline-table;
  text-align: center;
  margin: 0 5px;
}

.scrollbar-success::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-success::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}

.scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #DEDEDE;
}

.container-content__infor-question {
  height: calc(100vh - 65px);
}

.question-container {
  padding: 0px 25px 20px 25px;
  margin-bottom: 10px;

  img {
    vertical-align: middle;
  }

  .title-question-label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #4CAF50;
    margin-bottom: 5px;
  }

  .mat-card {
    margin: 0;
    border-radius: 12px;

    .mat-card-content {
      background: #FFFFFF;
      border-radius: 12px;
    }
  }

}

.control-bar-bottom {
  position: absolute;
  height: 53px;
  bottom: 0px;
  min-width: 100%;
  background: #FFFFFF;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}



.exam-paginator {
  .ngx-pagination {

    a,
    button {
      border-radius: 4px !important;
    }
  }

  .ngx-pagination .current,
  .btn-info {
    background: #4CAF50 !important;
    border-radius: 4px !important;
  }

  .ngx-pagination .current:hover {
    background: #4CAF50 !important;
    border-radius: 4px !important;
  }
}


.answer-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #555555;

  p {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    line-height: unset !important;
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
  }
}

.questions-wrapper {
  max-width: 1075px;
  height: calc(100vh - 113px);
  width: 100%;
}

.text-overflow{
  white-space: normal;
}

@media(max-width: 1024px) {

  body {
    height: 100vh;
    height: -webkit-fill-available;
    overflow: hidden;
  }

  .questions-wrapper .question-container:last-child{
    padding-bottom: 80px;
  }

  .container-content__question{
    min-height: calc(100vh - 128px);
    height: calc(100vh - 128px);
    padding-bottom: 30px;
  }
  .question-container {
    padding: 30px 20px 0px 20px;

    .question-title {
      padding-left: 0px !important;
      font-size: 14px !important;
    }
  }

  .question-container .mat-card .mat-card-content {
    padding: 10px !important;
    //background: none;
  }

  .order {
    display: none;
  }

  .example-radio-group {
    margin-left: 0px !important;
  }

  .question_basic {
    //background: none !important;
    padding: 0 !important;

    .answer {
      margin: 0 !important;
    }
  }

  .mat-radio-label-content {
    p {
      margin: 5px 0px !important;
    }
  }

  .row-container {
    height: 100%;
    overflow: hidden;
  }

  app-vertical-header {
    display: none;
  }

  .main-container {
    .mat-toolbar {
      z-index: 0;
    }
  }

  .mark-question {
    font-size: 13px;
    height: 30px;
    line-height: 25px;
    padding: 0px 5px;
    z-index: 0 !important;

    mat-icon {
      font-size: 14px;
      line-height: 21px;
      height: fit-content;
      width: fit-content;
    }
  }

  .btn-setting {
    display: none;
  }

  
  .header{
    background-color: #4CAF50;
    height: 65px;
    position: relative;
    overflow: hidden;
    .btn-submit {
      button {
        background-color: #DA251D !important;
        color: #FFFFFF !important;
      }
    }
  
    .btn-exam-rule {
      position: absolute;
      top: 19px;
      right: 20px;
      display: block !important;
    }
  }
}
