<app-spinner2 [fullScreen]="true"></app-spinner2>

<!--Phần nút nộp bài và quy chế thi đối với mobile-->
<div *ngIf="screenWidth <= 1024" class="header" fxLayout="row" fxLayoutAlign="center center">
  <div class="btn-submit">
    <button mat-flat-button color="warn" (click)="finishExam()" (dblclick)="onDoubleClickFinish()">
      <!-- <mat-icon>power_settings_new</mat-icon>  -->
      NỘP BÀI
    </button>
  </div>
  <div class="btn-exam-rule" style="display: none;" (click)="openExamRuleDialog()">
    <mat-icon svgIcon="exam-rule-mobile"></mat-icon>
  </div>
</div>


<div *ngIf="isStartDoExam==true" style="position: relative;" fxLayout="row" class="row-container">
  <ng-container>
    <div class="container-content__question scrollbar-success" fxFlex.gt-lg="78" fxFlex.gt-md="75"
      fxLayoutAlign="center start" fxFlex.lt-sm="100">
      <div class="questions-wrapper">
        <!-- <app-loading-screen></app-loading-screen> -->
        <div id="cauhoi_{{question.order}}" class="question-container"
          *ngFor="let question of SortedQuestions() | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage };let i=index;">
          <div class="title-question-label">Câu hỏi {{question.order}} ({{question.score}} điểm)</div>
          <app-underline *ngIf="question.type==questionType.underline && question.format==questionFormat.single"
            [dataQuestion]="question">
          </app-underline>
          <app-true-false-clause
            *ngIf="question.type==questionType.truefaslechause && question.format==questionFormat.single"
            [dataQuestion]="question">
          </app-true-false-clause>

          <app-single-choice *ngIf="question.type==questionType.singlechoice && question.format==questionFormat.single"
            [dataQuestion]="question">
          </app-single-choice>

          <app-multiple-choice *ngIf="question.type==questionType.multichoice && question.format==questionFormat.single"
            [dataQuestion]="question">
          </app-multiple-choice>

          <app-true-false *ngIf="question.type==questionType.truefasle && question.format==questionFormat.single"
            [dataQuestion]="question">
          </app-true-false>

          <app-missing-world1 id="{{question.id}}"
            *ngIf="question.type==questionType.fillblank && question.format==questionFormat.single"
            [dataQuestion]="question">
          </app-missing-world1>

          <app-missing-world2 id="{{question.id}}"
            *ngIf="question.type==questionType.fillblank2 && question.format==questionFormat.single"
            [dataQuestion]="question">
          </app-missing-world2>

          <app-essay *ngIf="question.type==questionType.essay && question.format==questionFormat.single"
            [dataQuestion]="question" [examSubjectStudentId]="examSubjectStudentId">
          </app-essay>

          <app-matching-mobile *ngIf="question.type==questionType.matching && question.format==questionFormat.single"
            [dataQuestion]="question" fxHide.md fxHide.lg fxHide.xl>
          </app-matching-mobile>

          <app-matching *ngIf="question.type==questionType.matching && question.format==questionFormat.single"
            [dataQuestion]="question" fxHide.sm fxHide.xs>
          </app-matching>

          <app-group-question *ngIf="question.format==questionFormat.group" [dataQuestion]="question">
          </app-group-question>
        </div>
      </div>

    </div>
  </ng-container>
  <ng-container>
    <div *ngIf="screenWidth > 1024 && isReady" class="container-content__infor-question" fxFlex.gt-lg="22"
      fxFlex.gt-md="25" fxHide.sm fxHide.xs>
      <app-table-question *ngIf="isReady" [dataQuestion]="SortedQuestions()" (indexQuestion)="scrollToElement($event)"
        [timeLeft]="timeLeft" [screenWidth]="screenWidth" [examSubjectStudentId]="examSubjectStudentId">
      </app-table-question>
    </div>
    <app-table-question-moblie *ngIf="screenWidth <= 1024 && isReady" [dataQuestion]="SortedQuestions()"
      [timeLeft]="timeLeft" [screenWidth]="screenWidth" (indexQuestion)="scrollToElement($event)"
      (pageIndex)="pageChanged($event)" [totalPage]="totalPage" [currentPage]="currentPage"
      [examSubjectStudentId]="examSubjectStudentId">
    </app-table-question-moblie>
  </ng-container>


  <div *ngIf="screenWidth > 1024" class="control-bar-bottom" fxLayout="row" fxHide.sm fxHide.xs>
    <div fxFlex.gt-lg="78" fxFlex.gt-md="75" fxLayoutAlign="center center" style="position: relative;">
      <div class="button-group" fxLayoutAlign="center center">
        <button mat-flat-button color="primary" class="m-r-20" style="min-width: 100px;" (click)="onBackPage()"
          [disabled]="currentPage <= 1">
          <mat-icon style="position: absolute; top: 7px; left: 10px;">keyboard_arrow_left</mat-icon> <span
            class="m-l-10">Trở lại</span>
        </button>
        <button mat-flat-button color="primary" style="position: relative; min-width: 100px;" (click)="onNextPage()"
          [disabled]="currentPage >= totalPage">
          <span class="m-r-10">Kế tiếp</span>
          <mat-icon style="position: absolute; top: 7px; right: 7px;">keyboard_arrow_right</mat-icon>
        </button>
      </div>
      <div style="position: absolute; right: 20px;">
        <pagination-controls class="exam-paginator" previousLabel="" nextLabel="" (pageChange)="pageChanged($event)"
          fxHide.sm fxHide.xs>
        </pagination-controls>
      </div>
    </div>
    <div fxFlex.gt-lg="22" fxFlex.gt-md="25" fxLayoutAlign="center center">
      <button mat-flat-button color="warn" [disabled]="isDisableFinishButton" (click)="finishExam()" (dblclick)="onDoubleClickFinish()">
        <mat-icon>power_settings_new</mat-icon> Nộp bài
      </button>
    </div>
  </div>
</div>
