<div fxLayout="row wrap" class="apply-css-alpha">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="manage-card">
      <mat-card-content>
        <mat-card-title>Thống kê môn thi của kỳ thi
        </mat-card-title>
      </mat-card-content>
    </mat-card>
    <mat-card class="manage-card">
      <mat-card-content class="mat-card-padding-lr-none ">
        <div class="example-container">
          <app-spinner2 [fullScreen]="isFullScreen"></app-spinner2>

          <div class=" mat-card-content-section ">

            <table mat-table [dataSource]="data" class="example-table">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <ng-container matColumnDef="stt">
                  <th mat-header-cell *matHeaderCellDef>STT</th>
                  <td mat-cell *matCellDef="let element;let i=index">{{i+1}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="subject">
                  <th mat-header-cell *matHeaderCellDef>Môn thi</th>
                  <td mat-cell *matCellDef="let element" class="mat-main-column">
                    {{element.subjectName}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="startDate">
                  <th mat-header-cell *matHeaderCellDef>Thời gian bắt đầu</th>
                  <td mat-cell *matCellDef="let element">
                    <span class="text-green"><b>{{element.startDate|date :'HH:mm'}}</b></span>
                    <span> &nbsp; {{ element.startDate|date :'dd/MM/yyyy'}}</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="endDate">
                  <th mat-header-cell *matHeaderCellDef>Thời gian kết thúc
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <span class="text-red"><b>{{element.endDate|date :'HH:mm'}}</b></span>
                    <span> &nbsp; {{ element.endDate|date :'dd/MM/yyyy'}}</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="testTime">
                  <th mat-header-cell *matHeaderCellDef>Thời gian thi</th>
                  <td mat-cell *matCellDef="let element">{{element.testTime}}
                    Phút
                  </td>
                </ng-container>
                <ng-container matColumnDef="function">
                  <th mat-header-cell *matHeaderCellDef disableClear>
                    Báo cáo
                  </th>
                  <td mat-cell *matCellDef="let element;let i=index;">
                    <!-- <mat-icon>autorenew</mat-icon> -->

                    <button mat-icon-button (click)="report(element.subjectId)" title="Báo cáo">
                      <span style="color: #7e8485;" class="material-icons">
                        assessment
                      </span>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'data-selected':isSelected}">
                </tr>
                <tr class="mat-row" *matNoDataRow>
                  <td colspan="6" class="mat-cell background-no-content">
                    <div class="background-no-content-img"></div>
                    <div class="background-no-content-info">
                      <p>Không tìm thấy môn thi</p>
                    </div>
                  </td>
                </tr>
              </div>
            </table>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-3 mb-3" fxLayoutGap=15px>
      <button mat-stroked-button class="button-cancel" (click)="previousPage()">Quay lại</button>
    </div>

  </div>
</div>
