.hr_underline {
    border-top: 0.5px solid #b0b0b0;
}
.card-content-infor {
    font-weight: 600;
    color: #555555;
    opacity: 0.98;

    > div {
        padding-top: 13px;
    }
}
.gg-meeting-type {
    background: #4caf50;
    border-radius: 4px;
    padding: 3px 10px;
    color: #ffffff;
    opacity: 0.98;
}
.zoom-meeting-type {
    background: #4f91ff;
    color: white;
    padding: 3px 10px;
    border-radius: 4px;
    font-weight: 600;
    width: fit-content;
}
.total-student {
    background: #ff7c40;
    border-radius: 4px;
    padding: 3px 10px;
    color: white;
}

.total-student-join {
    background: #4caf50;
    border-radius: 4px;
    padding: 3px 10px;
    color: white;
}

.total-student-miss {
    background: #eb5757;
    border-radius: 4px;
    padding: 3px 10px;
    color: white;
}
.meeting-row {
    > label {
        font-weight: 400;
    }
}
.card-teacher-infor {
    height: auto;
    > mat-card {
        height: unset;
    }
}
