<div class="question_multiple" [ngClass]="{'question_group': isTypeNull}">
  <div class="content_group">
    <app-status-question *ngIf="!isTypeNull" [data]="dataQuestion"></app-status-question>
    <p *ngIf="dataQuestion.format === 'GRO' && dataQuestion.content.indexOf(defaultMath)!=-1; else quest" class="title" [MathJax]="dataQuestion.content"></p>
    <ng-template #quest>
      <p *ngIf="dataQuestion.format === 'GRO'" class="title" [innerHTML]="dataQuestion.content | safeHtml"></p>
    </ng-template>
    <div class="content">
      <mat-list role="list" class="list">
        <mat-list-item role="listitem" fxLayout="row" class="question_item"
          *ngFor="let item of dataQuestion.answers;index as i">
          <mat-checkbox color="primary" class="example-margin" readonly [checked]="item.trueAnswer>0">
            {{alphabet[i]}}.
            <span *ngIf="item.content.indexOf(defaultMath)!=-1; else elseBlock" class="question_content" [MathJax]="item.content"></span>
            <ng-template #elseBlock>
              <span class="question_content" [innerHTML]="item.content | safeHtml"></span>
            </ng-template>
          </mat-checkbox>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <span class="type_question" *ngIf="isTypeNull">Trắc nghiệm nhiều lựa chọn</span>
</div>
