.question_multiple {
  pointer-events: none;
  .question_item {
    // margin-bottom: 5px;
    height: unset;

    .question_content {
      margin-left: 3px;
      ::ng-deep > p {
        margin: 0;
      }

      ::ng-deep >img{
        vertical-align: middle !important;
      }

      ::ng-deep div >p >img{
        vertical-align: middle !important;
      }
    }

    .example-margin {
      white-space: unset;
      ::ng-deep .mat-checkbox-layout {
        white-space: unset;
        display: flex;
        align-items: center;
      }
    }
  }

  .content {
    padding: 10px 0;

    .list {
      padding-top: 0;
      // margin-bottom: 10px;

      ::ng-deep .mat-list-item-content {
        padding-left: 0;
        font-size: 14px;
        padding: 5px 0;
      }
    }
  }
}

.title {
  font-size: 14px;
  color: #555555;
  margin-bottom: 6px;
  margin-top: 10px;
  width: 100%;
  word-break: break-all;

  ::ng-deep > div > p {
    margin: 0;
  }

  ::ng-deep > p {
    margin: 0;
  }
}

:host ::ng-deep .mat-checkbox .mat-checkbox-inner-container {
  margin: 0;
}

:host ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  margin-left: 11px;
  color: #555555;
  font-weight: normal;
  display: flex;
  align-items: center;
  
  // align-items: flex-start;
  // align-items: center;
  
}

.question_group {
  border: 0.5px solid #b0b0b0;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-top: 15px;

  .content_group {
    padding: 20px;
  }
  
  .content{
    padding-bottom: 0;
  }

  .title {
    margin: 0;
    ::ng-deep >p{
      margin: 0;
    }
  }

  .type_question {
    padding: 10px 0;
    text-align: center;
    color: #4caf50;
    font-size: 14px;
    font-weight: normal;
    border-top: 0.5px solid #b0b0b0;
    display: block;
  }
}

:host ::ng-deep .mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
  height:unset
}