<div class="apply-css-alpha">


  <form fxLayout="row" class="body" fxLayoutAlign="center center">
    <div fxLayout="column" fxFlex=50>
      <div fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxFlex=100 fxLayoutAlign="center center">
          <span fxFlex=30 class="lable">Đăng ký</span>
          <div fxLayout="column" fxFlex=70>
            <mat-form-field appearance="outline">
              <mat-label>Đăng kí</mat-label>
              <mat-select placeholder="Đăng kí" disableOptionCentering [value]="typeRegistry"
                (selectionChange)="registerChange($event)">
                <mat-option value="wait">
                  Trực tiếp + Admin kích hoạt
                </mat-option>
                <mat-option value="not">
                  Từ Admin
                </mat-option>
                <mat-option value="continue">
                  Trực tiếp
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>

        <div fxLayout="row" fxFlex=100 fxLayoutAlign="center center">
          <span fxFlex=30 class="lable">Kiểu người dung mặc định</span>
          <div fxLayout="column" fxFlex=70>
            <mat-form-field appearance="outline">
              <mat-label>Kiểu người dùng</mat-label>
              <mat-select placeholder="Đăng kí" disableOptionCentering [value]="typeUser"
                (selectionChange)="userTypeChange($event)">
                <mat-option value='student'>
                  Học sinh
                </mat-option>
                <mat-option value="teacher">
                  Giáo viên
                </mat-option>
                <mat-option value="admin">
                  Quản trị viên
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>

        <div fxLayout="row" fxFlex=100 fxLayoutAlign="center center">
          <span fxFlex=30 class="lable">Nhóm mặc định</span>
          <div fxLayout="column" fxFlex=70>
            <mat-form-field appearance="outline">
              <mat-label>Nhóm mặc định</mat-label>
              <mat-select placeholder="Nhóm mặc định" disableOptionCentering [value]='group'
                (selectionChange)="groupChange($event)">
                <mat-option value="1">
                  Nhóm chuyên Tin
                </mat-option>
                <mat-option value="2">
                  Nhóm chuyên Toán
                </mat-option>
                <mat-option value="3">
                  Nhóm bồi dưỡng Tiếng Việt
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row" fxFlex=100 fxLayoutAlign="center center">
          <span fxFlex=30 class="lable">Cho phép chỉnh sửa thông tin cá nhân</span>
          <div fxLayout="column" fxFlex=70>
            <mat-slide-toggle [checked]="isEdit==true" color="primary" class="lable" labelPosition=before
              (change)="isEditChange($event)">
            </mat-slide-toggle>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="action" fxLayout=row fxLayoutAlign="center center" fxLayoutGap=10px>
    <button mat-raised-button color="primary" (click)="save()">Lưu</button>
  </div>

</div>
