.body {
  padding: 35px 0 307px;
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.action {
  padding-top: 35px;
  padding-bottom: 2px;
}

.ml-80 {
  margin-left: 80px;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-transform: uppercase;

  color: #303030;
  opacity: 0.98;
  margin-bottom: 34px;
}

.lable {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color: #555555;
  opacity: 0.98;
}

.input {
  height: 36px;
  color: #555555;
  padding: 8px;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.98;

  border: 0.5px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 4px;
}

//for imagre
.ng-hide {
  display: none;
}
