<div class="question" [ngClass]="{'question_group': isTypeNull}">
  <div class="content_group">
    <app-status-question *ngIf="!isTypeNull" [data]="dataQuestion"></app-status-question>
    <p *ngIf="dataQuestion.format === 'GRO' && dataQuestion.content.indexOf(defaultMath)!=-1; else quest" class="title" [MathJax]="dataQuestion.content"></p>
    <ng-template #quest>
      <p *ngIf="dataQuestion.format === 'GRO'" class="title" [innerHTML]="dataQuestion.content | safeHtml"></p>
    </ng-template>
    <div class="example-radio-group">
      <mat-radio-group class="group">
        <mat-radio-button color="primary" class="example-radio-button" value="1"
        [checked]="dataQuestion?.answers[0]?.content === 'ans-true'">Đúng</mat-radio-button>
        <mat-radio-button color="primary" class="example-radio-button" value="0"
        [checked]="dataQuestion?.answers[0]?.content === 'ans-false' || !dataQuestion?.answers[0]?.content">Sai</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <span class="type_question" *ngIf="isTypeNull">Đúng sai</span>
</div>
