.question{
  pointer-events: none;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  // margin-left: 10px;
}

.example-radio-button {
  margin: 5px;
  position: relative;
  margin-left: 0;

  ::ng-deep .mat-radio-label-content {
    margin-left: 11px;
    padding-left: 0 !important;
  }

  .result-icon {
    position: absolute;
    top: 12px;
    left: -30px;
  }

  .correct {
    color: #4CAF50;
  }

  .in-correct {
    color: red;
  }
}

:host ::ng-deep.mat-radio-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #555555;
}

:host ::ng-deep .mat-radio-label {
  font-size: 14px;
  color: #555555;
  font-weight: 400;
}

.example-radio-button:first-child {
  margin-right: 20px;
}

.question_group {
  border: 0.5px solid #B0B0B0;
  // padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-top: 15px;

  .content_group{
    padding: 20px;
    .example-radio-group{
      padding-bottom: 0;
    }
  }

  .title{
    margin: 0;

    ::ng-deep > p {
      margin: 0;
    }
  }

  .type_question {
    padding: 10px 0;
    text-align: center;
    color: #4CAF50;
    font-size: 14px;
    font-weight: normal;
    border-top: 0.5px solid #B0B0B0;
    display: block;
  }
}

.title {
  font-size: 14px;
  color: #555555;
  margin-bottom: 6px;
  margin-top: 10px;
  width: 100%;
  word-break: break-all;

  ::ng-deep > div > p {
    margin: 0;
  }

  ::ng-deep > p {
    margin: 0;
  }
}