 <ng-container *ngIf="isExportWordFile==false|| isExportWordFile==undefined; else elseTemplate">
   <div class="question_basic">
     <div class="question">
       <mat-card>
         <div *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock"> <span
             [appMath]="dataQuestion.content"></span></div>
         <ng-template #elseBlock> <span [innerHTML]="dataQuestion.content"></span></ng-template>
         <div>
           <div *ngFor="let item of dataQuestion.listAnswer;index as i" fxLayout="row">
             <div fxLayout="row" fxFlex=100>
               <div fxFlex=5 fxLayoutAlign="center center">
                 <span *ngIf="item.dapAnDung==1">
                   <mat-icon class="check-true">check_box</mat-icon>
                 </span>
               </div>
               <div fxFlex=3 fxLayoutAlign="center">
                 {{alphabet[i]}}.
               </div>
               <div fxFlex=92>
                 <div *ngIf="item.NoiDung.indexOf(defaultMath)!=-1; else elseBlock"> <span
                     [appMath]="item.NoiDung"></span>
                 </div>
                 <ng-template #elseBlock> <span [innerHTML]="item.NoiDung"></span></ng-template>
               </div>
             </div>
           </div>
         </div>
         <span fxLayout="row" fxLayoutAlign="center center">Câu nhiều lựa chọn</span>
       </mat-card>
     </div>
   </div>
 </ng-container>
 <ng-template #elseTemplate>
   <div class="question">
     <div *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock"> <span
         [appMath]="dataQuestion.content"></span></div>
     <ng-template #elseBlock> <span [innerHTML]="dataQuestion.content"></span></ng-template>
     <table>
       <tbody>
         <tr *ngFor="let item of dataQuestion.listAnswer;index as i">
           <td style="width: 10%;">{{alphabet[i]}}.</td>
           <td style="width: 90%">
             <div *ngIf="item.NoiDung.indexOf(defaultMath)!=-1; else elseBlock"> <span [appMath]="item.NoiDung"></span>
             </div>
             <ng-template #elseBlock> <span [innerHTML]="item.NoiDung"></span></ng-template>
           </td>
         </tr>
       </tbody>
     </table>
   </div>
 </ng-template>
