.forgot-container {
  background-image: url("../../../../assets/images/background/background-login.jpg");
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: unset;
}

.content-forgot {
  position: absolute;
  max-width: 490px;
  min-height: 590px;
  background-color: rgba(255, 255, 255, 0.62);
  top: 129px;
  right: 132px;
  border-radius: 3px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.22);
}

.forgot-box {
  margin: 0 49px;
}

.header {
  margin-top: 50px;
  max-width: 400px;
  
  &-text {
    color: #1258A6;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    word-wrap: break-word;
  }
}

.title {
  margin-top: 34px;

  &-primary {
    font-size: 26px;
    color: black;
    line-height: 34px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &-secondary {
    font-size: 16px;
    line-height: 22px;
    color: #303030;
    margin-top: 25px;
    width: 100%;
    word-wrap: break-word;
  }
}

.body {
  margin-top: 27px;
}

.label {
  font-size: 12px;
  line-height: 14px;
  color: #303030;
  padding: 0px;
}

.input-box {
  position: relative;
}

.input-text {
  border-radius: 3px;
  background-color: white;
  padding: 8px 12px;
  border: none;
  font-size: 14px;
  width: 100%;
}

.icon {
  position: absolute;
  top: 10px;
  right: 0px;
  font-size: 14px;
}

.link {
  font-size: 14px;
  color: #303030;

  &:hover {
    color: #303030;
  }
}

.submit-button {
  box-shadow: none;
}

.white {
  color: white !important;
  background-color: #4CAF50 !important;
}

@media (max-width:425px) {
  .forgot-container {
    background-image: none;
    // height: 100vh;
    background-color: white;
  }

  .content-forgot {
    min-width: 0;
    top: 0;
    right: 0;
    height: 100%;
  }

  .forgot-box {
    margin: 0 24px;
  }

  .input-text {
    border-radius: 0px;
    background-color: white;
    padding: 8px 0px;
    border-bottom: 1px solid #D3D3D3;
    font-size: 14px;
    width: 100%;
  }

  .input-text-active {
    border-radius: 0px;
    background-color: white;
    padding: 8px 0px;
    border-bottom: 1px solid #4CAF50;
    font-size: 14px;
    width: 100%;
  }
}

@media (min-width:426px) and (max-width:768px) {
  .forgot-container {
    background-image: url("../../../../assets/images/background/background-login-tablet.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: unset;
  }

  .content-forgot {
    position: absolute;
    max-width: 655px;
    min-height: 530px;
    background-color: rgba(255, 255, 255, 0.7);
    right: 10%;
    top: 10%;
    border-radius: 3px;
  }
}

@media (min-width:1441px) and (max-width:1920px) {
  .forgot-container {
    background-image: url("../../../../assets/images/background/background-login-desktop.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: unset;
  }

  .content-forgot {
    position: absolute;
    min-width: 490px;
    min-height: 590px;
    background-color: rgba(255, 255, 255, 0.7);
    right: 10%;
    top: 10%;
    border-radius: 3px;
  }
}
