<div class="forgot-container">
  <div class="content-forgot">
    <div class="forgot-box" fxLayout="column">
      <div class="header">
        <a [routerLink]="['/']" fxLayout="row" fxLayoutGap='12px'>
          <img style="width:48px;height:48px" src="{{unitConfig?.desktopLogo}}" alt="logo">
          <div fxLayout="column" fxLayoutAlign="center center">
            <span class="header-text">{{unitConfig?.unitName}}</span>
          </div>
        </a>
      </div>
      <div class="title" fxLayout="column">
        <span class="title-primary">chào mừng đến với hệ</span>
        <span class="title-primary">thống đào tạo trực tuyến</span>
        <span *ngIf="validating" class="title-secondary">Vui lòng nhập email đăng ký tài khoản. Chúng tôi sẽ gửi mật
          khẩu mới về email của
          bạn!</span>
      </div>

      <form *ngIf="validating" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="body" fxLayout="column" fxLayoutGap=20px>
          <div fxLayout="column" fxLayoutGap=9px>
            <label class="label">Địa chỉ gmail</label>
            <div class="input-box">
              <input class="input-text" [formControl]="form.controls['email']"
                [ngClass]="{'input-text-active':form.controls['email'].value != null && form.controls['email'].value != ''}"
                maxlength="50">
              <mat-icon class="icon"> email</mat-icon>
            </div>
            <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched"
              class="text-danger support-text">Email không được để trống.</small>
            <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched"
              class="text-danger support-text">Email không hợp lệ.</small>
          </div>

          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid"
            [ngClass]="{'white': !form.valid}" class="submit-button">Gửi</button>

          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.xs="start center">
            <mat-icon>arrow_back</mat-icon>
            <a [routerLink]="['/authentication/login']" class="link">
              Quay lại đăng nhập</a>
          </div>
        </div>
      </form>

      <div *ngIf="!validating">
        <div style="padding-top: 15px;">
          <label style="font-size: 14px; color:#555555;">Chúng tôi đã gửi một email tới hòm thư của bạn, vui lòng kiểm
            tra và làm theo hướng dẫn để thiết lập lại tài khoản của bạn</label>
        </div>
        <div style="padding-top:20px;">
          <form [formGroup]="form">
            <div fxLayout="column" fxLayoutAlign="space-around">
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.xs="start center">
                <mat-icon>arrow_back</mat-icon>
                <a [routerLink]="['/authentication/login']" class="link">
                  Quay lại đăng nhập</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
