<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex fxLayoutAlign="start center" fxFlex fxFlex.gt-md="75" fxLayoutAlign.gt-xs="start center"
          class="mat-title mb-0">
          Danh sách kỳ thi cần tổ chức
        </div>
        <div fxFlex fxLayoutAlign="center center" fxFlex fxFlex.gt-md="25" fxLayoutAlign.gt-xs="end center">
          <button *ngIf="isShowFilter" class="button-hidden-filter" (click)="onClickToggleShowFilter()"
            mat-raised-button>
            <span class="material-icons">visibility_off</span>
            Ẩn bộ lọc
          </button>
          <button *ngIf="!isShowFilter" class="button-hidden-filter" (click)="onClickToggleShowFilter()"
            mat-raised-button>
            <span style="width: 24px;" class="material-icons">visibility_on</span>
            Hiện bộ lọc
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="manage-card" *ngIf="isShowFilter">
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="35px grid">
        <div fxFlex fxFlex.gt-md="25">
          <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
            <mat-label>Khối</mat-label>
            <mat-select [formControl]="gradeCtrl" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="gradeFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option value="0">
                Tất cả
              </mat-option>
              <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                {{grade.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex fxFlex.gt-md="25">
          <mat-form-field appearance="outline">
            <mat-label>Hình thức thi</mat-label>
            <mat-select [formControl]="examTypeCtrl" placeholder="Chọn hình thức" disableOptionCentering>
              <mat-option value="">
                Tất cả
              </mat-option>
              <mat-option value="FRE">
                Tự do
              </mat-option>
              <mat-option value="CON">
                Tập trung
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- <div fxLayout="column" fxFlex="20" fxLayoutAlign="start start" class="filter-control">
          <label fxLayoutAlign="start start"> Trạng thái: </label>
          <mat-form-field fxFlex="65" fxLayoutAlign="start center" class="matFormFieldSelectBox" [floatLabel]="'never'">
            <mat-select [formControl]="statusCtrl" placeholder="Chọn trạng thái" disableOptionCentering>
              <mat-option value="1">
                Sắp diễn ra
              </mat-option>
              <mat-option value="2">
                Đang diễn ra
              </mat-option>
              <mat-option value="3">
                Đã diễn ra
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
        <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
          <button mat-raised-button color="primary" (click)="onSubmitFilter()">
            <mat-icon matSuffix>filter_list</mat-icon>
            Lọc kết quả
          </button>
        </div>
      </div>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <app-spinner2 [fullScreen]="isFullScreen"></app-spinner2>
    <table mat-table [dataSource]="dataExamReponse" matSort>
      <!-- Checkbox Column -->

      <!-- Position Column -->
      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Tên kỳ thi</th>
        <td mat-cell *matCellDef="let element" class="mat-main-column">
          <span class="text-wrap" #tooltip="matTooltip" matTooltip="{{element.name}}">{{element.name}}</span>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef> Khối </th>
        <td mat-cell *matCellDef="let element">
          <span class="text-wrap" #tooltip="matTooltip" matTooltip="{{element.gradeName}}">{{element.gradeName}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
        <td mat-cell *matCellDef="let element"><span
            [ngClass]="element.status=='NOT'?'notyet':element.status=='END'?'end':'starting'">{{element.status=='NOT'?'Chưa tổ chức':element.status=='END'?'Đã tổ chức':'Đang tổ chức'}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Hình thức </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef> Thời gian bắt đầu </th>
        <td mat-cell *matCellDef="let element">
          <span class="text-green"><b>{{element.startDate|date :'HH:mm'}}</b></span>
          <span> &nbsp; {{ element.startDate|date :'dd/MM/yyyy'}}</span>
      </ng-container>
      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef> Thời gian kết thúc </th>
        <td mat-cell *matCellDef="let element">
          <span class="text-red"><b>{{element.endDate|date :'HH:mm'}}</b></span>
          <span> &nbsp; {{ element.endDate|date :'dd/MM/yyyy'}}</span>
      </ng-container>
      <!-- fuction Column -->
      <ng-container matColumnDef="function">
        <th mat-header-cell *matHeaderCellDef class="center-element"> Tổ chức
        </th>
        <td mat-cell *matCellDef="let element" class="center-element">
          <button mat-icon-button (click)="organization(element.id,element.gradeId)" matTooltip="Tổ chức thi">
            <span style="color: #7e8485;" class="material-icons">
              settings
            </span>
          </button>
        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
      <tr class="mat-row" *matNoDataRow>
        <td colspan="8" class="mat-cell background-no-content">
          <div class="background-no-content-img"></div>
          <div class="background-no-content-info">
            <p>Không tìm thấy kỳ thi</p>
          </div>
        </td>
      </tr>
    </table>
    <mat-paginator [length]="totalItems" [pageSizeOptions]="[10, 5, 25, 100]"></mat-paginator>
  </mat-card>

</div>
