

.create-info {
  font-size: 13px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  height: 29px;
}

.searchButton {
  background: none;
  border: none;
  margin-left: -32px;
  color: #555555;
}

.icon-filter {
  width: 12px;
}


.m-b-10 {
  margin-bottom: 10px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 20px;
}


.icon-table {
  height: 16px;
  width: auto;
}

.row_flex {
  margin-top: 20px;
}


.delete-button {
  margin-left: 24px;
}

.paginator {
  margin-right: 3rem;
}

//aan thuôc tinh

.starting{
  background: #DBFFDC;
  border-radius: 10.5px;
  color: #4CAF50;
  padding: 3px 14px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
}
.notyet{
  background: #F3F3F3;
  border-radius: 10.5px;
  color: #555555;
  padding: 3px 14px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
}
.end{
  background:#FFE0DF;
  border-radius: 10.5px;
  color: #DA251D;
  padding: 3px 14px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
}