<div class="apply-css-alpha">
    <mat-card class="manage-card">
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px grid">
                <div class="mat-title mb-0">Điểm danh học sinh</div>
                <div fxFlex fxLayoutAlign="end center">
                    <button *ngIf="isShowFilter" class="button-hidden-filter" (click)="onClickToggleShowFilter()"
                        mat-raised-button type="button">
                        <span class="material-icons">visibility_off</span>
                        Ẩn bộ lọc
                    </button>
                    <button *ngIf="!isShowFilter" class="button-hidden-filter" (click)="onClickToggleShowFilter()"
                        mat-raised-button type="button">
                        <span style="width: 24px;" class="material-icons">visibility_on</span>
                        Hiện bộ lọc
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="meetingTeacherLogsDetail">
        <div class="card-teacher-infor">
            <mat-card fxFlex fxFlex.gt-md="32" class="manage-card">
                <mat-card-header>
                    <mat-card-title>Thông tin về lớp học</mat-card-title>
                </mat-card-header>
                <div class="hr_underline"></div>
                <mat-card-content fxLayout="row wrap" class="card-content-infor">
                    <div fxFlex=100 class="meeting-row">
                        <label for="" fxFlex=30>Tên lớp học:</label>
                        <div fxFlex=70><span class="text-wrap">{{meetingTeacherLogsDetail.meetingRoomName}}</span></div>
                    </div>
                    <div fxFlex=100 class="meeting-row">
                        <label for="" fxFlex=30>Hình thức học:</label>
                        <div fxFlex=70>
                            <span *ngIf="meetingTeacherLogsDetail.meetingType == 'GMT'" class="gg-meeting-type">Google
                                Meet
                            </span>
                            <span *ngIf="meetingTeacherLogsDetail.meetingType == 'ZOM'"
                                class="zoom-meeting-type">Zoom</span>
                        </div>
                    </div>
                    <div fxFlex=100 class="meeting-row">
                        <label for="" fxFlex=30>Đơn vị quản lý:</label>
                        <div fxFlex=70>{{unitManage}}</div>
                    </div>
                    <div fxFlex=100 class="meeting-row">
                        <label for="" fxFlex=30>Lịch học:</label>
                        <div fxFlex=70>
                            <span class="text-green"><b>{{meetingTeacherLogsDetail.mrStartDate|date
                                    :'HH:mm'}}</b></span>
                            <span> &nbsp;{{ meetingTeacherLogsDetail.mrStartDate|date :'dd/MM/yyyy'}}</span> &nbsp; -
                            &nbsp;<span class="text-danger"><b>{{meetingTeacherLogsDetail.mrEndDate|date
                                    :'HH:mm'}}</b></span>
                            <span> &nbsp;{{ meetingTeacherLogsDetail.mrEndDate|date :'dd/MM/yyyy'}}</span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex fxFlex.gt-md="32" class="manage-card">
                <mat-card-header>
                    <mat-card-title>Thông tin phụ trách</mat-card-title>
                </mat-card-header>
                <div class="hr_underline"></div>
                <mat-card-content fxLayout="row wrap" class="card-content-infor">
                    <div fxFlex=100 class="meeting-row">
                        <label for="" fxFlex=40>Giáo viên phụ trách:</label>
                        <div fxFlex=60>{{meetingTeacherLogsDetail.fullName}}</div>
                    </div>
                    <div fxFlex=100 class="meeting-row">
                        <label for="" fxFlex=40>Bắt đầu dạy:</label>
                        <div fxFlex=60 *ngIf="meetingTeacherLogsDetail.startDate ;else notHasStartDate">
                            <span class=" text-green">
                                <b>{{meetingTeacherLogsDetail.startDate|date
                                    :'HH:mm'}}</b>
                            </span>
                            <span> &nbsp; {{ meetingTeacherLogsDetail.startDate|date :'dd/MM/yyyy'}}</span>
                        </div>
                        <ng-template #notHasStartDate>--</ng-template>
                    </div>
                    <div fxFlex=100 class=" meeting-row">
                        <label for="" fxFlex=40>Kết thúc dạy:</label>
                        <div fxFlex=60 *ngIf="meetingTeacherLogsDetail.startDate ;else isHasNoEndDate">
                            <span class="text-danger">
                                <b>{{meetingTeacherLogsDetail.endDate|date
                                    :'HH:mm'}}
                                </b>
                            </span>
                            <span> &nbsp; {{ meetingTeacherLogsDetail.endDate|date :'dd/MM/yyyy'}}</span>
                        </div>
                        <ng-template #isHasNoEndDate>--</ng-template>
                    </div>
                    <div fxFlex=100 class="meeting-row">
                        <label for="" fxFlex=40>Lịch sử ra vào lớp:</label>
                        <div fxFlex=60 *ngIf="meetingTeacherLogsDetail.joinDates; else isHasJoinDetail"
                            [matTooltip]="joinDateTeacherTitleString" matTooltipClass="break-line tooltip-join-date">
                            <span class="text-green"><b>{{meetingTeacherLogsDetail.joinDates[0]|date
                                    :'HH:mm'}}</b></span>
                            <span>&nbsp;{{
                                meetingTeacherLogsDetail.joinDates[0]|date :'dd/MM/yyyy'}}</span>;
                            <span *ngIf="meetingTeacherLogsDetail.joinDates[1]"> &nbsp;</span>
                            <span class="text-green"><b>{{meetingTeacherLogsDetail.joinDates[1]|date
                                    :'HH:mm'}}</b></span>
                            <span>&nbsp;{{
                                meetingTeacherLogsDetail.joinDates[1]|date :'dd/MM/yyyy'}}</span>
                            <span *ngIf="meetingTeacherLogsDetail.joinDates.length > 2">...</span>
                        </div>
                        <ng-template xFlex=60 #isHasJoinDetail>
                            --
                        </ng-template>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex fxFlex.gt-md="32" class="manage-card">
                <mat-card-header>
                    <mat-card-title>Thông tin học sinh</mat-card-title>
                </mat-card-header>
                <div class="hr_underline"></div>
                <mat-card-content fxLayout="row wrap" class="card-content-infor">
                    <div fxFlex=100 class="meeting-row">
                        <label for="" fxFlex=60>Tổng số học sinh:</label>
                        <div fxFlex=40><span class="total-student">{{totalStudent}}</span></div>
                    </div>
                    <div fxFlex=100 class="meeting-row">
                        <label for="" fxFlex=60>Tổng số học sinh tham gia:</label>
                        <div fxFlex=40><span class="total-student-join">{{jointedStudent}}</span></div>
                    </div>
                    <div fxFlex=100 class="meeting-row">
                        <label for="" fxFlex=60>Tổng số học sinh vắng:</label>
                        <div fxFlex=40><span class="total-student-miss">{{totalStudent - jointedStudent}}</span>
                        </div>
                    </div>
                </mat-card-content>

            </mat-card>
        </div>
    </div>
    <div class="top_box__filter" *ngIf="isShowFilter">
        <form [formGroup]="filterStudentLogsForm" (ngSubmit)="onSubmit()">
            <mat-card class="manage-card">
                <mat-card-content class="padding-b-40">
                    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="35px grid"
                        fxLayoutGap.gt-md="35px grid">
                        <div fxFlex fxFlex.gt-md="25" *ngIf="levelManageValue==1" class="padding-b-15">
                            <mat-form-field (click)="onDivisionSelectClicked()" appearance="outline">
                                <mat-label>Chọn phòng</mat-label>
                                <mat-select formControlName="divisionId" placeholder="Chọn phòng" #singleSelectDivision
                                    disableOptionCentering>
                                    <mat-option>
                                        <ngx-mat-select-search placeholderLabel="Tìm phòng"
                                            noEntriesFoundLabel="Không tìm thấy" [formControl]="divisionFilterCtrl">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let division of filteredDivisions | async"
                                        [value]="division.id">
                                        {{division.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxFlex fxFlex.gt-md="25" *ngIf="levelManageValue<=2" class="padding-b-15">
                            <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
                                <mat-label>Chọn trường</mat-label>
                                <mat-select formControlName="schoolId" placeholder="Chọn trường" #singleSelectSchool
                                    disableOptionCentering>
                                    <mat-option>
                                        <ngx-mat-select-search placeholderLabel="Tìm trường"
                                            noEntriesFoundLabel="Không tìm thấy" [formControl]="schoolFilterCtrl">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                                        {{school.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxFlex fxFlex.gt-md="25" class="padding-b-15">
                            <mat-form-field (click)="onGradeSelectClicked()" appearance="outline">
                                <mat-label>Chọn khối</mat-label>
                                <mat-select formControlName="gradeId" placeholder="Chọn khối" #singleSelectGrade
                                    disableOptionCentering>
                                    <mat-option>
                                        <ngx-mat-select-search placeholderLabel="Tìm khối"
                                            noEntriesFoundLabel="Không tìm thấy" [formControl]="gradeFilterCtrl">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let gradeId of filteredGrades | async" [value]="gradeId.id">
                                        {{gradeId.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxFlex fxFlex.gt-md="25" class="padding-b-15">
                            <mat-form-field appearance="outline" (click)="onGroupStudentSelectClicked()">
                                <mat-label>Chọn lớp</mat-label>
                                <mat-select formControlName="groupStudentId" placeholder="Chọn lớp"
                                    #singleSelectGroupStudent
                                    [disabled]="isDisableGroupStudentId && levelManageValue !== 3"
                                    disableOptionCentering>
                                    <mat-option>
                                        <ngx-mat-select-search placeholderLabel="Tìm lớp"
                                            noEntriesFoundLabel="Không tìm thấy" [formControl]="groupStudentFilterCtrl">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let groupStudent of filteredGroupStudents | async"
                                        [value]="groupStudent.id">
                                        {{groupStudent.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxFlex fxFlex.gt-md="25" class="padding-b-15">
                            <mat-form-field appearance="outline">
                                <mat-label>Tìm kiếm</mat-label>
                                <input matInput type="text" formControlName="keyword" name="search"
                                    placeholder="Tìm tên học sinh">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                        <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center" class="padding-b-15">
                            <button mat-raised-button color="primary" type="submit">
                                <mat-icon matSuffix>filter_list</mat-icon>
                                Lọc kết quả
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
    <mat-card class="manage-card" [hidden]="!isLoadData">
        <div flexLayout="row">
            <app-spinner2></app-spinner2>
            <div class="filter_table_midle">
                <table mat-table [dataSource]="studentLogs.items">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <ng-container matColumnDef="stt">
                            <th mat-header-cell *matHeaderCellDef class="mat-column-stt"> STT
                            </th>
                            <td mat-cell *matCellDef="let element; let i= index" class="mat-column-stt">
                                {{i + 1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> TÊN HỌC SINH
                            </th>
                            <td mat-cell *matCellDef="let element" class="mat-main-column">
                                <span class="text-wrap" *ngIf="element.lastName || element.firstName ">
                                    {{element.lastName ? element.lastName.trim() :''}}
                                    {{ element.firstName ? element.firstName.trim() : ''}}
                                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="userName">
                            <th mat-header-cell *matHeaderCellDef> MÃ ĐỊNH DANH
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span class="text-wrap">{{element.userName}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="schoolName">
                            <th mat-header-cell *matHeaderCellDef class="mat-column-date"> TRƯỜNG
                            </th>
                            <td mat-cell *matCellDef="let element" class="mat-column-date">
                                <span class="text-wrap">{{element.schoolName}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="gradeName">
                            <th mat-header-cell *matHeaderCellDef class="mat-column-date"> Khối
                            </th>
                            <td mat-cell *matCellDef="let element" class="mat-column-date">
                                <span class="text-wrap">{{element.gradeName}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="groupStudentName">
                            <th mat-header-cell *matHeaderCellDef> Lớp
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span class="text-wrap">{{element.groupStudentName}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="joinDate">
                            <th mat-header-cell *matHeaderCellDef> Ngày tham gia
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="element.joinDate; else isHasJoinDetail"
                                    [matTooltip]="element.joinDateStudentTitleString"
                                    matTooltipClass="break-line tooltip-join-date">
                                    <div>
                                        <span class="text-green"
                                            *ngIf="element.joinDateLocalTime[0]"><b>{{element.joinDateLocalTime[0]|date
                                                :'HH:mm'}}</b></span>
                                        <span *ngIf="element.joinDateLocalTime[0]"> &nbsp; {{
                                            element.joinDateLocalTime[0]|date
                                            :'dd/MM/yyyy'}}</span>;
                                        <span *ngIf="element.joinDateLocalTime[1]"> &nbsp;</span>
                                        <span class="text-green"
                                            *ngIf="element.joinDateLocalTime[1]"><b>{{element.joinDateLocalTime[1]|date
                                                :'HH:mm'}}</b></span>
                                        <span *ngIf="element.joinDateLocalTime[1]"> &nbsp; {{
                                            element.joinDateLocalTime[1]|date
                                            :'dd/MM/yyyy'}}</span>
                                        <span *ngIf="element.joinDateLocalTime[2]"> &nbsp;</span>
                                        <span class="text-green"
                                            *ngIf="element.joinDateLocalTime[2]"><b>{{element.joinDateLocalTime[2]|date
                                                :'HH:mm'}}</b></span>
                                        <span *ngIf="element.joinDateLocalTime[2]"> &nbsp; {{
                                            element.joinDateLocalTime[2]|date
                                            :'dd/MM/yyyy'}}</span>
                                        <span *ngIf="element.joinDateLocalTime.length> 3">...</span>
                                    </div>
                                </div>
                                <ng-template #isHasJoinDetail>
                                    --
                                </ng-template>
                                <!-- <span class="text-wrap">{{element.joinDate}}</span> -->
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td colspan="7" class="mat-cell background-no-content">
                                <div class="background-no-content-img"></div>
                                <div class="background-no-content-info">
                                    <p>Không tìm thấy học sinh</p>
                                </div>
                            </td>
                        </tr>
                    </div>
                </table>
                <mat-paginator [length]="studentLogs.totalItems" [pageSizeOptions]="[10, 20, 30, 100]"
                    (page)="pageChange($event)">
                </mat-paginator>
            </div>
        </div>
    </mat-card>
</div>