.label-title{
    color:#555555;
    font-weight: 600;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
.label-score{
    color: #555555;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}