.question_basic {
  position: relative;
}

.answer-container {
  padding: 0.5rem 0px;
}

.item-answer {
  position: relative;

  .result-icon {
    position: absolute;
    left: -25px;
    top: 7px;
  }
}

//mark question
.mark-question {
  position: absolute;
  right: 0;
  top: -40px;
  margin-bottom: 0px;
  border: 0.5px solid #d2c3c3;
  box-sizing: border-box;
  border-radius: 4px;
  z-index: 999;
  color: #888888;
  height: 32px;
  line-height: 32px !important;
  padding: 0 7px !important;

  mat-icon {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
    line-height: 0.8rem;
  }
}

.mark-question-active {
  background: #FEC941 !important;
  color: white;
  border: none;
}

.check-true {
  color: #198754;
}

.color {
  color: black;
}

// .show-result {
//   margin-bottom: 1rem;
// }

// .true {
//   color: #198754;
// }

// .false {
//   color: red;
// }

.question-title {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #303030;
  position: relative;

  .order {
    position: absolute;
    left: 0;
    top: -3px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 22px;
    color: #4CAF50;
  }

  .score {
    position: absolute;
    right: 0;
    top: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #4CAF50;
  }
}

.correct {
  color: #4CAF50;
  font-weight: bold;
}

.in-correct {
  color: red;
}

.min-width-label {
  min-width: 25px;
}

.min-width-label-result {
  min-width: 45px;
}

:host ::ng-deep .mat-card {
  border: 1px solid #ebe9f1;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

:host ::ng-deep .missingw2 .mat-card-content {
  padding: 5px 20px;
}

:host ::ng-deep .Blanking2 {
  box-sizing: border-box;
  width: auto;
  min-width: 50px;
  height: auto;
  margin: 0 10px;
  display: inline-table;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #c0c0c0;
  text-align: center;
  font-style: italic;
}


:host ::ng-deep .missing-word-2 {
  box-sizing: border-box;
  width: auto;
  min-width: 50px;
  height: auto;
  margin: 0 10px;
  display: inline-table;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #c0c0c0;
  text-align: center;
  font-style: italic;
}

:host ::ng-deep .mat-radio-label-content {
  line-height: 1rem;

  p {
    margin: 5px 0px;
  }
}