<div class="question_basic missingw2">
  <!-- <span class="mark-question">Đánh dấu</span> -->

  <div [hidden]="isResult==true">
    <button mat-flat-button class="mark-question" [ngClass]="{'mark-question-active': isFlag}" (click)="isMark()">Đánh
      dấu
      <mat-icon [ngClass]="{'color-red': isFlag === true}">flag</mat-icon>
    </button>
  </div>
  <div [ngClass]="{'question': isResult == false || isResult == undefined}">
    <mat-card>
      <mat-card-content>
        <!--xema lại kết quá-->
        <div *ngIf="isResult == true && isPublicAnswer" class="show-result" [ngClass]="{'true': isTrueQuestion == true, 'false': isTrueQuestion == false}">
          <!-- <span>Kết quả trả lời: </span> -->
          <ng-container *ngIf="isTrueQuestion==true; else elset">
            <span>Trả lời đúng</span>
          </ng-container>
          <ng-template #elset>
            <span>Trả lời sai</span>
          </ng-template>
        </div>

        <div *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock" class="question-title">
          <span [MathJax]="dataQuestion.content">
          </span>
          <!-- <span class="order"> {{dataQuestion.order}}. </span> -->
        </div>
        <ng-template #elseBlock>
          <div class="question-title">
            <span [innerHTML]="dataQuestion.content | safeHtml">
            </span>
            <!-- <span class="order"> {{dataQuestion.order}}. </span> -->
          </div>
        </ng-template>

        <ng-container *ngIf="isResult==false || isResult == undefined; else elseTemplate">
          <div class="answer-container" *ngFor="let group of groupAnswers(); let i=index">
            <div fxFlex="100" fxLayoutAlign="start center">
              <label class="min-width-label">({{i+1}})</label>
              <div>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                  (change)="changeSelectAnswer(i)" [(ngModel)]="answerOfStudent[i]">
                  <mat-radio-button color="primary" class="item-answer" fxLayout="column"
                    *ngFor="let answer of answersOfGroup(i+1);let index=index" [value]="answer.id">
                    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="answer.content.indexOf(defaultMath)!=-1; else elseBlock">
                      <div style="margin-right:0.5rem;">
                        <p>{{alphabet[index]}}. </p> 
                      </div>
                      <div class="answer-label text-overflow" [MathJax]="answer.content"></div>
                    </div>

                    <ng-template #elseBlock>
                      <div fxLayout="row" fxLayoutAlign="center center">
                        <div class="answer-label" style="margin-right:0.5rem;"> 
                          <p>{{alphabet[index]}}. </p>
                        </div>
                        <div class="answer-label text-overflow" [innerHTML]="answer.content | safeHtml"></div>
                      </div>
                    </ng-template>
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <div class="answer-container" *ngFor="let group of groupAnswers(); let i=index">
            <div fxFlex="100" fxLayoutAlign="start center">
              <label class="min-width-label-result">({{i+1}})</label>
              <div>
                <mat-radio-group [disabled]=true class="example-radio-group" [(ngModel)]="answerOfStudent[i]">
                  <mat-radio-button color="primary" class="item-answer" fxLayout="column" *ngFor="let answer of answersOfGroup(i+1);let index=index"
                    [value]="answer.id">
                    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="answer.content.indexOf(defaultMath)!=-1; else elseBlock">
                      <div class="answer-label" [ngClass]="{'correct': answer.trueAnswer==1&&isPublicAnswer}" style="margin-right:0.5rem;"> <p>{{alphabet[index]}}. </p></div>
                      <div class="answer-label text-overflow"
                        [MathJax]="answer.content">
                      </div>
                    </div>
                    <ng-template #elseBlock>
                      <div fxLayout="row" fxLayoutAlign="center center">
                        <div class="answer-label" [ngClass]="{'correct': answer.trueAnswer==1&&isPublicAnswer}" style="margin-right:0.5rem;"> <p>{{alphabet[index]}}. </p></div>
                        <div class="answer-label text-overflow"
                          [innerHTML]="answer.content | safeHtml"></div>
                      </div>
                    </ng-template>
                    <div class="result-icon" *ngIf="isPublicAnswer">
                      <span *ngIf="answer.trueAnswer==1 && answerOfStudent[i]==answer.id">
                        <mat-icon class="check-true">done</mat-icon>
                      </span>

                      <span *ngIf="answer.trueAnswer!=1 && answerOfStudent[i]==answer.id">
                        <mat-icon class="wrong-answer" style="color: red;">close</mat-icon>
                      </span>
                    </div>
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
