<app-spinner2></app-spinner2>
<div *ngIf="isReady | async">
  <mat-card *ngIf="!isView" class="manage-card">
    <mat-card-content class="padding-0">
      <app-header-organize-exam class="height-80" [stepHeaderCtrl]="stepHeaderCtrl"></app-header-organize-exam>
    </mat-card-content>
  </mat-card>


  <mat-card class="manage-card">
    <mat-card-content class="content">
      <mat-card-title>Thông tin tổ chức thi:</mat-card-title>

      <div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div fxFlex="33">
            <div class="line-height-40">
              <label fxFlex=50>Số ca thi:</label>
              <label fxFlex=10><b class="text-green">{{organizeExamFinish?.totalShift}}</b></label>
            </div>
            <div class="line-height-40">
              <label fxFlex=50>Số phòng thi:</label>
              <label fxFlex=10><b class="text-green">{{organizeExamFinish.totalRoom}}</b> </label>
            </div>
          </div>
          <div fxFlex="33">
            <div fxLayoutAlign="start center">
              <label fxFlex=50>Số giám thị:</label>
              <label fxFlex=20><b class="text-green">{{organizeExamFinish.totalSupervisor}}</b>
                <button mat-icon-button (click)="openInfoSupervisorFinishDiagLog()">
                  <mat-icon class="icon-add small-icon" svgIcon="info-black"></mat-icon>
                </button>
              </label>

            </div>
            <div fxLayoutAlign="start center">
              <label fxFlex=50>Số thí sinh dự thi:</label>
              <label fxFlex=20><b class="text-green">{{organizeExamFinish.totalStudent}}</b>
                <button mat-icon-button (click)="openInfoStudentFinishDiagLog()">
                  <mat-icon class="icon-add small-icon" svgIcon="info-black"></mat-icon>
                </button>
              </label>

            </div>
          </div>
          <div fxFlex="33">
            <div>
              <label fxFlex=50 fxLayoutAlign="start center">Số giáo viên chấm thi:</label>
              <label fxFlex=20><b class="text-green">{{organizeExamFinish.totalTeacher}}</b>
                <button mat-icon-button (click)="openInfoTeacherFinishDiagLog()">
                  <mat-icon class="icon-add small-icon " svgIcon="info-black"></mat-icon>
                </button>
              </label>
            </div>
          </div>
        </div>
      </div>



    </mat-card-content>
  </mat-card>

  <mat-card class="manage-card">
    <mat-card-content class="content">
      <mat-card-title>Thông tin phòng thi:</mat-card-title>
      <table mat-table [dataSource]="roomStudent">
        <div fxLayout="row">
          <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef fxFlex="5" fxLayoutAlign="center center"> STT </th>
            <td mat-cell *matCellDef="let element;let i=index" fxFlex="5" fxLayoutAlign="center center"> {{i+1}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef fxFlex="60" fxLayoutAlign="center center"> Tên phòng thi </th>
            <td mat-cell *matCellDef="let element" fxFlex="60" fxLayoutAlign="center center">
              <span class="text-center">{{element.name}}</span>
            </td>
          </ng-container>

          <!-- totalStudent Column -->
          <ng-container matColumnDef="totalStudents">
            <th mat-header-cell *matHeaderCellDef fxFlex="35" fxLayoutAlign="center center"> Số lượng học sinh tối đa
            </th>
            <td mat-cell *matCellDef="let element" fxFlex="35" fxLayoutAlign="center center">
              <span class="text-center">{{element.totalStudent}}</span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedRoomColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedRoomColumns;"></tr>
        </div>

      </table>
    </mat-card-content>
  </mat-card>
  <mat-card class="manage-card">
    <mat-card-content class="content">
      <mat-card-title>Thông tin ca thi:</mat-card-title>

      <table mat-table [dataSource]="shiftExam">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef fxFlex="5" fxLayoutAlign="center center"> STT </th>
            <td mat-cell *matCellDef="let element; let i = index" fxFlex="5" fxLayoutAlign="center center"> {{i + 1}}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="shiftName">
            <th mat-header-cell *matHeaderCellDef fxFlex="10" fxLayoutAlign="center center"> Ca thi </th>
            <td mat-cell *matCellDef="let element" fxFlex="10" fxLayoutAlign="center center">
              {{element.shiftName}}
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="roomName">
            <th mat-header-cell *matHeaderCellDef fxFlex="10" fxLayoutAlign="center center"> Phòng thi </th>
            <td mat-cell *matCellDef="let element" fxFlex="10" fxLayoutAlign="center center">
              {{element.roomName}}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="realStudent">
            <th mat-header-cell *matHeaderCellDef fxFlex="18" fxLayoutAlign="center center"> Số lượng thí sinh </th>
            <td mat-cell *matCellDef="let element;let i=index" fxFlex="18" fxLayoutAlign="center center">


              <div>
                {{element.realStudent}}
              </div>


            </td>1
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef fxFlex="18" fxLayoutAlign="center center"> Thời gian bắt đầu </th>
            <td mat-cell *matCellDef="let element;let i=index" fxFlex="18" fxLayoutAlign="center center">
              <span class="text-green"><b>{{element.startDate|date :'HH:mm'}}</b></span>
              <span> &nbsp; {{ element.startDate|date :'dd/MM/yyyy'}}</span>
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef fxFlex="15" fxLayoutAlign="center center"> Thời gian kết thúc </th>
            <td mat-cell *matCellDef="let element" fxFlex="15" fxLayoutAlign="center center">
              <span class="text-red"><b>{{element.endDate|date :'HH:mm'}}</b></span>
              <span> &nbsp; {{ element.endDate|date :'dd/MM/yyyy'}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="supervision">
            <th mat-header-cell *matHeaderCellDef fxFlex="12" fxLayoutAlign="center center"> Giám thị </th>
            <td mat-cell *matCellDef="let element;let i=index" fxFlex="12" fxLayoutAlign="center center">
              <button mat-icon-button (click)="exportListSupervisor(i)">
                <mat-icon matSuffix style="color:#7E8485" class="margin-0-5 small-icon">file_download</mat-icon>
              </button>
              <button mat-icon-button (click)="openInfoSupervisorDialog(i)">
                <mat-icon svgIcon="info-black" class="small-icon"></mat-icon>
              </button>

            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="student">
            <th mat-header-cell *matHeaderCellDef fxFlex="12" fxLayoutAlign="center center"> Thí sinh </th>
            <td mat-cell *matCellDef="let element;let i= index" fxFlex="12" fxLayoutAlign="center center">
              <button mat-icon-button (click)="exportListStudent(i)">
                <mat-icon matSuffix style="color:#7E8485" class="margin-0-5 small-icon">file_download</mat-icon>
              </button>
              <button mat-icon-button (click)="openInfoStudentDialog(i)">
                <mat-icon svgIcon="info-black" class="margin-0-5 small-icon"></mat-icon>
              </button>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;index as i"></tr>
        </div>
      </table>
      <div>
        <div *ngIf="!isValidStudent" class="text-danger">
          Số lượng học sinh trong ca là: {{sumRealStudents()}} khác tổng số học sinh tham gia thi
        </div>
        <div *ngIf="!isValidShiftDate" class="text-danger">
          Thời gian giữa các ca thi không chính xác vui lòng chỉnh sửa lại
        </div>
      </div>
    </mat-card-content>
  </mat-card>


  <div fxLayout="row" *ngIf="!isView" fxLayoutAlign="center center" fxLayoutGap=15px class="mt-3 mb-3">
    <button mat-stroked-button (click)="previousPage()" class="button-cancel">Quay lại</button>
    <button mat-raised-button (click)="save()" [disabled]="!isValidStudent && !isValidShiftDate" color='primary'>
      <span>Lưu</span>
    </button>
  </div>
</div>
