.content {
  font-size: 14px;

  mat-card-title {
    padding-bottom: 15px;
  }
}

.line-height-40 {
  line-height: 40px;

}

label {
  font-size: 14px;

  b {
    font-weight: 600;
    margin-right: 15px;
    font-size: 18px;
  }
}
