.row-flex {
    display: flex;
    padding: 10px 20px;
}

//qsb
.label_combobox {
  color: #555555 !important;
}

.combobox_action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 6px;
}

.input-infor {
  height: 29px;
  color: #555555;
  font-family: 'Open Sans', sans-serif;
  padding: 8px;
  border: 0.5px solid #555555;
  border-radius: 2px;
}

.combobox_selection {
  width: 146px;
  height: 30px;
  border: 0.5px solid #555555;
  box-sizing: border-box;
  border-radius: 2px;
  color: #555555;
}

.statistic-button {
  height: 30px;
  max-height: 30px;
}
::ng-deep .mat-form-field-wrapper {
  max-height: 40px !important;
  margin-top: 0px !important;
}

::ng-deep .mat-form-field-flex {
  max-height: 31px !important;
}

::ng-deep .mat-form-field-infix {
  padding-top: 8px !important;
  font-size: 13px !important;
}

::ng-deep .mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored.ng-dirty.ng-touched.ng-valid {
  height: 20px !important;
}

::ng-deep .mat-input-element.mat-form-field-autofill-control.ng-untouched.ng-pristine.ng-invalid.cdk-text-field-autofill-monitored {
  height: 20px !important;
}

::ng-deep .mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored.ng-dirty.ng-touched.ng-invalid {
  height: 20px !important;
}

::ng-deep .mat-input-element.mat-form-field-autofill-control.ng-pristine.ng-invalid.cdk-text-field-autofill-monitored.ng-touched {
  height: 20px !important;
}

::ng-deep .mat-input-element.mat-form-field-autofill-control.ng-untouched.cdk-text-field-autofill-monitored.ng-dirty.ng-valid {
  height: 20px !important;
}

::ng-deep .mat-input-element.mat-form-field-autofill-control.ng-untouched.cdk-text-field-autofill-monitored.ng-dirty.ng-invalid {
  height: 20px !important;
}

::ng-deep .mat-error.ng-star-inserted {
  height: 14px !important;
  margin-top: 2px !important;
}

::ng-deep .mat-form-field.example-full-width {
  margin-bottom: -16px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
  border-width: 2px !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  height: 31px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-width: 2px !important;
}

::ng-deep .mat-input-element.mat-form-field-autofill-control.ng-untouched.ng-pristine.ng-valid.cdk-text-field-autofill-monitored {
  height: 20px !important;
}

::ng-deep .mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored {
  height: 20px !important;
}

::ng-deep .mat-form-field-infix {
  padding-top: 0px !important;
  font-size: 12px !important;
}

::ng-deep .mat-select-arrow {
  margin-top: 8px !important;
}
::ng-deep .mat-select-value {
  line-height: 16px;
}

.group-question {
  font-weight: bold;
}