:host ::ng-deep  .cke_button__btntaodapan_label {
    display: inline-block;
  }
  
  :host ::ng-deep  .cke_button__btntaodapan {
    background-color: #016cbb !important;
    width: 100px !important;
     right: 25px;
    position: absolute;
  
    height: 24px !important;
    border: none !important;
    border-radius: 0 !important;
  }

