.title-table {
  // font-size: 12px !important;
  // line-height: 13px;
  color: #303030 !important;
  opacity: 0.98;
}

.item {
  // font-size: 13px !important;
  // line-height: 18px;
  opacity: 0.98;
  color: #303030;
}

.approved {
  background: #DBFFDC;
  color: #4CAF50;
  padding: 2px 10px;
  border-radius: 3px;
  width: 21px;
  height: 44px;
  border-radius: 10.5px;
}

.item-value {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.filter-icon {
  width: 12px;
}

.mat-expanded .mat-expansion-panel-header-title .material-icons {
  transform: rotate(0deg);
}

.mat-expansion-panel-header-title .open,
.mat-expanded .mat-expansion-panel-header-title .close {
  display: inline-block;
}

.mat-expanded .mat-expansion-panel-header-title .open,
.mat-expansion-panel-header-title .close {
  display: none;
}


// //paging
::ng-deep .ngx-pagination .current {
  border-radius: 50%;
  background: #4caf50 !important;

}

:host ::ng-deep .my-pagination {
  $color: gray;

  li {
    border-radius: 50%;
    border: white;
    background: white;
    color: $color;
    margin: 10px;
    width: 35px;
    height: 35px;
    padding: 5px 3px 0 3px;
    text-align: center;

    &.current {
      background: primary;
    }

    &>a span {
      margin-top: 3px;
      color: lightgray;
    }

    &.pagination-next a::after,
    &.pagination-previous a::before,
    &.pagination-next.disabled::after,
    &.pagination-previous.disabled::before {
      margin-left: 0;
      margin-right: 0;
      color: $color;
    }

    a:hover,
    button:hover {
      border-radius: 50%;
    }
  }
}

@media(max-width: 600px) {

  :host ::ng-deep .ngx-pagination {
    padding-left: 0px;
  }
}
