<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutGap="15px grid" fxLayoutGap.gt-md="35px grid" fxLayoutAlign="start center"
        class="filter-wrapper">
        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">
          <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
            <mat-label>Khối</mat-label>
            <mat-select [formControl]="gradeCtrl" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering
              (selectionChange)="onChangeGradeSelected($event.value)">
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="gradeFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]=null>Chọn khối</mat-option>
              <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                {{grade.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">
          <mat-form-field appearance="outline" (click)="onSubjectSelectClicked()">
            <mat-label>Môn</mat-label>
            <mat-select [disabled]="gradeCtrl.value==null" [formControl]="subjectCtrl" placeholder="Chọn môn"
              #singleSelectSubject disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm môn" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="subjectFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]=null>Chọn môn</mat-option>
              <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.id">
                {{subject.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">
          <mat-form-field appearance="outline">
            <mat-label>Tên kỳ thi...</mat-label>
            <input matInput fxFlex type="text" [formControl]="examNameCtrl" placeholder="Nhập tên học sinh"
              autocomplete="off">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>

        <div fxFlex fxLayoutAlign="center center" class="filter-control">
          <button mat-raised-button color="primary" (click)="filterExamReport()">
            <mat-icon matSuffix>filter_list</mat-icon>
            Lọc kết quả
          </button>
        </div>

        <div fxFlex fxLayoutAlign="center center" class="filter-control">
          <button mat-raised-button color="primary" (click)="exportExcel()">
            <mat-icon matSuffix>file_download</mat-icon>
            Xuất dữ liệu
          </button>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <div class="table-responsive">
      <table *ngIf="isReady ==true" fxHide.xs fxHide.sm fxHide.md mat-table [dataSource]="examReportModel" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="STT">
          <th mat-header-cell *matHeaderCellDef> STT </th>
          <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Tên kỳ thi</th>
          <td mat-cell *matCellDef="let element"> {{element.examName}}</td>
        </ng-container>

        <ng-container matColumnDef="shift">
          <th mat-header-cell *matHeaderCellDef> Ca thi </th>
          <td mat-cell *matCellDef="let element"> {{element.shiftName}} </td>
        </ng-container>

        <ng-container matColumnDef="roomName">
          <th mat-header-cell *matHeaderCellDef> Phòng thi </th>
          <td mat-cell *matCellDef="let element"> {{element.roomName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="grade">
          <th mat-header-cell *matHeaderCellDef> Khối </th>
          <td mat-cell *matCellDef="let element"> {{element.gradeName}}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef> Môn thi </th>
          <td mat-cell *matCellDef="let element"> {{element.subjectName}}
        </ng-container>

        <!-- Symbol Column -->

        <!-- <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef class="title-table center-element"> Thời gian bắt đầu </th>
          <td mat-cell *matCellDef="let element" class="item center-element">
            <span *ngIf="element.startTime">
              {{element.startTime | date:'dd/MM/yyyy, HH:mm '}}
            </span>
            <span *ngIf="!element.startTime">-</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="endTime">
          <th mat-header-cell *matHeaderCellDef class="title-table center-element"> Thời gian kết thúc </th>
          <td mat-cell *matCellDef="let element" class="item center-element">
            <span *ngIf="element.endTime">
              {{element.endTime | date:'dd/MM/yyyy, HH:mm '}}
            </span>
            <span *ngIf="!element.endTime">-</span>
          </td>
        </ng-container> -->

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="title-table center-element"> Trạng thái </th>
          <td mat-cell *matCellDef="let element" class="center-element">
            <span *ngIf="element.status =='SUS'" class="item don">
              Bị đình chỉ
            </span>
            <span *ngIf="element.status =='DON'" class="item don">
              Hoàn thành
            </span>
            <span *ngIf="element.status =='WAI'" class="item don">
              Chờ chấm tự luận
            </span>

            <span *ngIf="element.status =='NOT'" class="item not">
              Chưa tham gia thi
            </span>

            <span *ngIf="element.status =='END'" class="item end">
              Bỏ thi
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="infingeTimes">
          <th mat-header-cell *matHeaderCellDef> Số lần vi phạm </th>
          <td mat-cell *matCellDef="let element">
            {{element.infingeTimes}}
        </ng-container>
        <ng-container matColumnDef="scoreDecuted">
          <th mat-header-cell *matHeaderCellDef> Điểm bị trừ </th>
          <td mat-cell *matCellDef="let element">
            {{element.scoreDecuted}}
          </td>
        </ng-container>

        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef class="title-table center-element"> Điểm </th>
          <td mat-cell *matCellDef="let element" class="center-element">
            <span *ngIf="element.status !='NOT'">
              <span class="approved"> {{element.score}} </span>
            </span>
            <span *ngIf="element.status =='NOT'">
              -
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell background-no-content text-center" colspan="8">
            <div class="background-no-content-img"></div>
            Không tìm thấy kì thi
          </td>
        </tr>
      </table>

      <table *ngIf="isReady ==false" fxHide.xs fxHide.sm fxHide.md mat-table [dataSource]="examReportModel" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="STT">
          <th mat-header-cell *matHeaderCellDef> STT </th>
          <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Tên kỳ thi</th>
          <td mat-cell *matCellDef="let element"> {{element.examName}}</td>
        </ng-container>

        <ng-container matColumnDef="shift">
          <th mat-header-cell *matHeaderCellDef> Ca thi </th>
          <td mat-cell *matCellDef="let element"> {{element.shiftName}} </td>
        </ng-container>

        <ng-container matColumnDef="roomName">
          <th mat-header-cell *matHeaderCellDef> Phòng thi </th>
          <td mat-cell *matCellDef="let element"> {{element.roomName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="grade">
          <th mat-header-cell *matHeaderCellDef> Khối </th>
          <td mat-cell *matCellDef="let element"> {{element.gradeName}}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef> Môn thi </th>
          <td mat-cell *matCellDef="let element"> {{element.subjectName}}
        </ng-container>

        <!-- Symbol Column -->

        <!-- <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef class="title-table center-element"> Thời gian bắt đầu </th>
          <td mat-cell *matCellDef="let element" class="item center-element">
            <span *ngIf="element.startTime">
              {{element.startTime | date:'dd/MM/yyyy, HH:mm '}}
            </span>
            <span *ngIf="!element.startTime">-</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="endTime">
          <th mat-header-cell *matHeaderCellDef class="title-table center-element"> Thời gian kết thúc </th>
          <td mat-cell *matCellDef="let element" class="item center-element">
            <span *ngIf="element.endTime">
              {{element.endTime | date:'dd/MM/yyyy, HH:mm '}}
            </span>
            <span *ngIf="!element.endTime">-</span>
          </td>
        </ng-container> -->


        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="title-table center-element"> Trạng thái </th>
          <td mat-cell *matCellDef="let element" class="center-element">
            <span *ngIf="element.status =='SUS'" class="item don">
              Bị đình chỉ
            </span>
            <span *ngIf="element.status =='DON'" class="item don">
              Hoàn thành
            </span>
            <span *ngIf="element.status =='WAI'" class="item don">
              chờ chấm tự luận
            </span>

            <span *ngIf="element.status =='NOT'" class="item not">
              Chưa tham gia thi
            </span>

            <span *ngIf="element.status =='END'" class="item end">
              Bỏ thi
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="infingeTimes">
          <th mat-header-cell *matHeaderCellDef> Số lần vi phạm </th>
          <td mat-cell *matCellDef="let element">
            {{element.infingeTimes}}
        </ng-container>
        <ng-container matColumnDef="scoreDecuted">
          <th mat-header-cell *matHeaderCellDef> Điểm bị trừ </th>
          <td mat-cell *matCellDef="let element">
            {{element.scoreDecuted}}
          </td>
        </ng-container>

        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef class="title-table center-element"> Điểm </th>
          <td mat-cell *matCellDef="let element" class="center-element">
            <span *ngIf="element.status !='NOT'">
              <span class="approved"> {{element.score}} </span>
            </span>
            <span *ngIf="element.status =='NOT'">
              -
            </span>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell background-no-content text-center" colspan="8">
            <div class="background-no-content-img"></div>
            Không tìm thấy kì thi
          </td>
        </tr>
      </table>

      <mat-paginator fxHide.xs fxHide.sm fxHide.md [length]="totalPage" (page)="handlePageEvent($event)"
        [pageSizeOptions]="[10, 5, 25, 100]">
      </mat-paginator>
    </div>
  </mat-card>
</div>


<mat-accordion fxHide.gt-md>
  <mat-expansion-panel
    *ngFor="let element of examReportModel |paginate: {id:'exam-pagination', itemsPerPage: 10, currentPage: currentPage, totalItems: totalPage};"
    hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title fxFlex=50 style="font-weight: bold;" fxLayoutAlign.xs="start center">
        <span class="material-icons close" style="color: #4caf50;">
          arrow_drop_down
        </span>
        <span class="material-icons open" style="color: #4caf50;">
          arrow_right
        </span>
        <span class="title-header">Tên kỳ thi</span>
      </mat-panel-title>

      <span fxFlex=50 class="leson-name-header">
        {{element.examName}}
      </span>
    </mat-expansion-panel-header>
    <div class="content-body">
      <div class="item-value" fxLayout.xs="row" fxLayoutAlign="start center">
        <div class="name" fxFlex=50>
          Khối
        </div>
        <div class="value" fxFlex=50>
          {{element.gradeName}}
        </div>
      </div>
      <div class="item-value" fxLayout.xs="row" fxLayoutAlign="start center">
        <div class="name" fxFlex=50>
          Môn thi
        </div>
        <div class="value" fxFlex=50>
          {{element.subjectName}}
        </div>
      </div>
      <div class="item-value" fxLayout.xs="row" fxLayoutAlign="start center">
        <div class="name" fxFlex=50>
          Ca thi
        </div>
        <div class="value" fxFlex=50>
          {{element.shiftName}}
        </div>
      </div>
      <div class="item-value" fxLayout.xs="row" fxLayoutAlign="start center">
        <div class="name" fxFlex=50>
          Phòng thi
        </div>
        <div class="value" fxFlex=50>
          {{element.roomName}}
        </div>
      </div>
      <!-- <div class="item-value" fxLayout.xs="row" fxLayoutAlign="start center">
        <div class="name" fxFlex=50>
          Thời gian bắt đầu
        </div>
        <div class="value" fxFlex=50>
          {{element.startTime | date:'dd/MM/yyyy, h:mm a'}}
        </div>
      </div>

      <div class="item-value" fxLayout.xs="row" fxLayoutAlign="start center">
        <div class="name" fxFlex=50>
          Thời gian kết thúc
        </div>
        <div class="value" fxFlex=50>
          {{element.endTime | date:'dd/MM/yyyy, h:mm a'}}
        </div>
      </div> -->
      <div class="item-value" fxLayout.xs="row" fxLayoutAlign="start center">
        <div class="name" fxFlex=50>
          Điểm
        </div>
        <div class="value" fxFlex=50>
          <span class="approved">{{element.score}}</span>
        </div>
      </div>
    </div>

  </mat-expansion-panel>
</mat-accordion>

<div fxLayout.xs="row" fxLayoutAlign="center center">
  <pagination-controls id="exam-pagination" fxHide.gt-md class="paging my-pagination" previousLabel="" nextLabel=""
    (pageChange)="handlePageEvent($event)">
  </pagination-controls>
</div>
