<div *ngIf="!isReady">
</div>
<div *ngIf="isReady">
  <app-organize-oncentration-exam *ngIf="examSubjectInfo.type=='CON'" [examSubjectInfo]="examSubjectInfo">
  </app-organize-oncentration-exam>
  <app-organize-free-exam *ngIf="examSubjectInfo.type=='FRE'" [examSubjectInfo]="examSubjectInfo">
  </app-organize-free-exam>
</div>
