<ng-container *ngIf="isExportWordFile==false || isExportWordFile==undefined; else elseTemplate">
  <div class="question_basic">
    <div class="question">
      <mat-card>
        <div *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock"> <span
            [appMath]="dataQuestion.content"></span></div>
        <ng-template #elseBlock> <span [innerHTML]="dataQuestion.content"></span></ng-template>
        <div class="answer-container" *ngFor="let group of groupAnswers(); let i=index">
          <div fxFlex="10%" fxLayoutAlign="center center">
            <label>({{i+1}})</label>
          </div>
          <div fxFlex="90%">
            <div *ngFor="let item of answersOfGroup(i+1);index as i" fxLayout="row" fxLayoutGap="10px">
              <div>
                <span *ngIf="item.viTri==true">
                  <mat-icon class="check-true">check_box</mat-icon>
                </span>
                {{alphabet[i]}}.
                <div *ngIf="item.NoiDung.indexOf(defaultMath)!=-1; else elseBlock"> <span
                    [appMath]="item.NoiDung"></span>
                </div>
                <ng-template #elseBlock> <span [innerHTML]="item.NoiDung"></span></ng-template>

              </div>
            </div>
          </div>
        </div>
        <span fxLayout="row" fxLayoutAlign="center center">Câu điền khuyết loại 2</span>
      </mat-card>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div class="question">
    <div *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock"> <span
        [appMath]="dataQuestion.content"></span></div>
    <ng-template #elseBlock> <span [innerHTML]="dataQuestion.content"></span></ng-template>
    <div class="answer-container" *ngFor="let group of groupAnswers(); let i=index" fxLayoutGap=10px>
      <div fxFlex="10%" fxLayoutAlign="center center">
        <label>({{i+1}})</label>
      </div>
      <table>
        <tbody>
          <tr *ngFor="let item of answersOfGroup(i+1);index as i">
            <td style="width: 10%;">{{alphabet[i]}}.</td>
            <td style="width: 90%">
              <div *ngIf="item.NoiDung.indexOf(defaultMath)!=-1; else elseBlock"> <span [appMath]="item.NoiDung"></span>
              </div>
              <ng-template #elseBlock> <span [innerHTML]="item.NoiDung"></span></ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
