  <div class="mat-dialog-title">
    {{data.title}}
  </div>

  <div>
    <p>{{data.description}}</p>
  </div>

  <mat-dialog-actions>
    <button mat-flat-button (click)="cancel()" class="button-cancel">{{data.labelNo}}</button>
    <button mat-flat-button (click)="confirm()"
      [ngClass]="{'bg-confirm-color text-white delete-button': data.type == 'confirm','bg-danger text-white delete-button': data.type == 'delete'}">
      {{data.labelYes}}
    </button>
  </mat-dialog-actions>
