<div fxLayout="row" class="row_flex">
  <button fxFlex="23" mat-raised-button color="primary" class="button-sm" mat-button (click)="addFromFile()">
      <input type="file" #file style="display: none;" (change)="handle($event)">
      <mat-icon svgIcon="addFromFile" style="width:16px; height: 16px; margin: 0px 0px 11px -8px;"></mat-icon>
      Thêm từ tệp tin
  </button>
  <button fxFlex="19.5" mat-raised-button color="primary" class="button-sm" mat-button
      (click)="downloadTemplateFile()" style="margin-left: 15px; padding: 0px;">
      <mat-icon svgIcon="downloadFile" style="width:16px; height: 16px; margin: 0px 5px 11px -8px;"></mat-icon>Tập tin mẫu
  </button>
</div>
<div class="filter_table_midle">
  <table mat-table [dataSource]="dataSource" style="width: 100%">
      <!-- Name Column -->
      <ng-container matColumnDef="contentQuestion" style="width: 100%">
          <th mat-header-cell *matHeaderCellDef style="text-align: left; color: #000000; font-size:13px;">
              Nội dung câu hỏi </th>
          <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.contentQuestion}} </td>
      </ng-container>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef style="text-align: right;">
              <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" style="text-align: right;">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
          </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background: #FFFFFF">
      </tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div mat-dialog-actions class="flex_justify_center">
  <button mat-raised-button mat-dialog-close class="button-lg mr_2 mbt_2 mt_2 bg-danger text-white"
      style="width:103px;">
      Hủy
  </button>
  <button mat-raised-button [mat-dialog-close]="true" color="primary" class="button-lg mbt_2 mt_2"
      style="width:103px;">
      Thêm
  </button>
</div>