.dialog-progress-content {
    margin: auto;
    width: 100%;
}
.row-content {
    margin-bottom: 6px;
}
.text-sucess {
    color: #4caf50;
}
.text-danger {
    color: #da251d;
}
.text-style {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 200% */

    color: #888888;
}

.text-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 137% */

    color: #303030;
}
.icon-progress-result {
    width: 30px;
    height: 30px;
}

.text-progress-result {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 200% */
    text-align: center;

    color: #888888;
}
.text-loading {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 127% */
    color: #888888;
}

