<div class="type-of-question" fxFlex={{check}} fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxFlex.sm=100
  fxFlex.xs=100>
  <div class="content" fxFlex="50%">
    <h3>Loại câu hỏi</h3>
    <mat-form-field>
      <mat-label>Chọn loại câu hỏi</mat-label>
      <mat-select (selectionChange)="selected($event)" [value]="selectedKindOfQuestion"
        [(ngModel)]="selectedKindOfQuestion" [disabled]="dataType!=null">
        <mat-optgroup *ngFor="let group of questionGroups" [label]="group.name">
          <mat-option *ngFor="let type of group.types" [value]="type.value"
            [disabled]="(type.value=='fillblank2' || type.value=='essay' || type.value=='matching') && config==2">
            {{type.viewValue}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="content" fxFlex="50%">
    <h3>Mức độ</h3>
    <mat-form-field>
      <mat-label>Chọn mức độ</mat-label>
      <mat-select (selectionChange)="levelChange($event)" [(ngModel)]="selectedLevel">
        <mat-option *ngFor="let level of levels" [value]="level.value">
          {{level.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
