<div>
  <app-spinner2></app-spinner2>
  <mat-card class="add-video-content apply-css-alpha manage-card">
    <learn-lesson-name-header [lessonName]="lessonName" type="Thêm nội dung video"></learn-lesson-name-header>
    <!-- Loại nội dung -->
    <!-- <div style="text-align: center; padding: 20px 0px;">
      <span style="font-weight: bold; font-size: 16px;">Thêm nội dung video</span>
    </div> -->

    <!-- Các điều kiện tạo nội dung -->
    <mat-card-content>
      <!-- Tên nội dung -->
      <div fxLayout="row" fxLapoutAlign="start center" class="m-b-20">
        <label fxFlex="15" class="label_combobox"> Tên nội dung: </label>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Tên nội dung(*)</mat-label>
          <input type="text" matInput [formControl]="nameContentControl" placeholder="Tên nội dung..."
            [(ngModel)]="nameContent" maxlength="255">
          <mat-error *ngIf="nameContentControl.hasError('required')">
            Bạn chưa nhập nội dung
          </mat-error>
          <mat-error *ngIf="nameContentControl.hasError('maxlength')">
            Tên nội dung không vượt quá 255 ký tự
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Chọn tiết học -->
      <div fxLayout="row" fxLayoutAlign="start center" class="m-b-20">
        <label fxFlex="15" class="label_combobox">Tiết học: </label>
        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>Chọn tiết</mat-label>
          <mat-select [formControl]="groupContentControl" #singleSelect [placeholder]="'Chọn tiết'">
            <mat-option>
              <ngx-mat-select-search [formControl]="groupContentFilterControl" placeholderLabel="Nhập tiết"
                noEntriesFoundLabel="Không tìm thấy tiết"></ngx-mat-select-search>
            </mat-option>

            <mat-option *ngFor="let groupContent of filteredGroupContents | async" [value]="groupContent">
              {{groupContent.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Lựa chọn nguồn video -->
      <div fxLayout="row" fxLayoutAlign="start center" class="m-b-20">
        <label fxFlex="15" class="label_combobox"> Lựa chọn nguồn video: </label>
        <mat-radio-group aria-label="Choose source video" fxFlex="85" fxLayout="row" [(ngModel)]="videoSource">
          <mat-radio-button class="label_combobox" [value]="1" fxFlex="21">Sử dụng youtube
          </mat-radio-button>
          <mat-radio-button class="label_combobox" [value]="2" fxFlex="20">Sử dụng video từ
            file
            của bạn</mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Sử dụng youtube -->
      <div id="youtube_video" *ngIf="videoSource==1">
        <!-- Địa chỉ Web (URL) -->
        <div fxLayout="row" fxLayoutAlign="start center" class="m-b-20" *ngIf="videoSource==1">
          <label fxFlex="15" class="label_combobox"> Địa chỉ Web (URL):</label>

          <!-- Link -->
          <mat-form-field appearance="outline" fxFlex="77">
            <mat-label>Use URLs from: Youtube</mat-label>
            <input matInput #inputlink type="text" (keyup)="onAddYoutubeHandleKeyup($event.target.value)"
              (keyup.enter)="addYoutube(inputlink.value)">
          </mat-form-field>
          <div fxFlex=1.8></div>

          <!-- Button [Load] -->
          <button fxFlex="6.2" mat-raised-button color="primary" class="button-sm" fxLayoutAlign="center" mat-button
            (click)="addYoutube(inputlink.value)">Load</button>
        </div>

        <!-- Note format file -->
        <!-- <div fxLayout="row" class="row-flex" style="margin-top: -15px;">
          <div fxFlex="15"></div>
          <label style=" margin-top:-20px; padding-left: 5px; color:#7E8485; font-size: 13px;">
            
          </label>
        </div> -->

        <!-- Chi tiết nội dung -->
        <div fxLayout="row" fxLayoutAlign="start start" class="m-b-20" *ngIf="showYoutubeVideo">
          <label fxFlex="15" class="label_combobox">Chi tiết nội dung: </label>
          <!-- Iframe -->
          <div class="add-document-content iframe" fxFlex="100%">
            <iframe width="100%" height="500px" [src]="linkLoadVideo | safeUrl"></iframe>
          </div>
        </div>
      </div>

      <!-- Sử dụng video từ file của bạn -->
      <div id="file_video" [hidden]="videoSource!==2">
        <!-- Chọn file tài liệu -->
        <div fxLayout="row" fxLayoutAlign="start center" class="m-b-20">
          <label fxFlex="15" class="label_combobox"> Chọn file tài liệu:</label>

          <!-- Tên file -->
          <mat-form-field appearance="outline" fxFlex="74">
            <mat-label>Tên file</mat-label>
            <input matInput type="text" disabled value={{nameFileVideo}}>
          </mat-form-field>
          <div fxFlex=1.8></div>

          <!-- Button [Tải lên file] -->
          <button fxFlex="9.2" mat-raised-button color="primary" class="button-sm" mat-button (click)="addFromFile()"
            matTooltip={{toolTip}} matTooltipClass="break-line">
            <input type="file" #file style="display: none;" (change)="uploadFileVideo($event)"
              accept=".mp4, .ogg, .ogv, .avi, .mpeg, .mov, .wmv, .3gp, .m4v">
            <!-- <mat-icon svgIcon="add-file-document" style="width:16px; height: 16px; margin: 0px 5px 11px -8px;">
                      </mat-icon> -->
            <span class="material-icons" style="font-size: 16px; margin: 0px 0px 1px -8px;">
              file_upload
            </span>
            Tải lên file
          </button>
        </div>

        <!-- Chi tiết nội dung -->
        <div fxLayout="row" fxLayoutAlign="start start" class="m-b-20">
          <label fxFlex="15" [hidden]="!showFileVideo" class="label_combobox">Chi tiết nội dung:</label>
          <!-- Iframe -->
          <div class="background-isprogressing-container iframe" fxFlex="100%" *ngIf="showFileVideo"
            style="position: relative;">
            <div class="background-isprogressing" *ngIf="showFileVideo">
              <span class="progress-title">Đang xử lý video...</span>
              <br />
              <span class="progress-content">Video này đang được xử lý. Chất lượng video có thể sẽ được cải thiện sau
                khi quá trình xử lý hoàn
                tất</span>
            </div>
            <div class="note-video">Bạn có thể tiếp tục xây dựng nội bài giảng trong khi video đang
              được xử lý
            </div>
            <!-- <video #videoLearn class="video-js" controls muted playsinline preload="auto"></video> -->
          </div>
        </div>
      </div>

      <!-- Mô tả -->
      <div fxLayout="row" fxLayoutAlign="start start" class="m-b-20">
        <label fxFlex="15" class="label_combobox">
          Mô tả: </label>
        <!-- CkEditor -->
        <div class="add-detail-content ck-editor" fxFlex="100%">
          <ckeditor [config]="configCkeditor" [(ngModel)]="contentCkEditor"></ckeditor>
        </div>
      </div>

      <!-- Điều kiện hoàn thành nội dung -->
      <div fxLayout="row" fxLayoutAlign="start center" id="condition-complete-content" class="m-b-20">
        <label fxFlex="15" class="label_combobox"> Hoàn thành nội dung khi: </label>
        <mat-radio-group aria-label="Completed lesson when" fxFlex="85" fxLayout="row"
          [(ngModel)]="conditionsForCompletion">
          <mat-radio-button [value]="'BUT'" fxFlex="21" class="label_combobox">Nhấn nút hoàn
            thành</mat-radio-button>
          <mat-radio-button [value]="'ANS'" fxFlex="20" class="label_combobox">Trả lời câu hỏi
          </mat-radio-button>
          <mat-radio-button [value]="'INT'" fxFlex="20" class="label_combobox">Sau khoảng thời
            gian</mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Trả lời câu hỏi -->
      <div id="answer_question" *ngIf="conditionsForCompletion=='ANS'">
        <mat-tab-group>
          <mat-tab label="Danh sách câu hỏi" class="content-tab">
            <div fxLayout="row" fxLayoutAlign="start start" class="row_flex button_group">
              <div>
                <button mat-raised-button color="primary" class="btn_add m-r-20" (click)="addQuestionFromFile()">
                  <input type="file" #fileQuestion style="display: none;" (change)="handle($event)" accept=".doc,.docx">
                  <span class="material-icons">file_upload</span>
                  Thêm từ tệp tin
                </button>
                <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" class="m-r-20">
                  <span class="material-icons">
                    download
                  </span>
                  Tải tệp tin
                </button>
                <mat-menu #menu="matMenu">
                  <a [href]="getLinkTemplate(1)" target="_blank">
                    <button mat-menu-item>
                      <span>Tải tập tin mẫu</span>
                    </button>
                  </a>

                  <a [href]="getLinkTemplate(2)" target="_blank">
                    <button mat-menu-item>
                      <span>Tải tập tin hướng dẫn</span>
                    </button>
                  </a>
                </mat-menu>
              </div>
              <div *ngIf="questionsShow.length > 0">
                <button mat-raised-button color="primary" (click)="previewTest()">
                  <mat-icon>visibility</mat-icon>
                  Xem trước
                </button>
              </div>
            </div>
            <div>
              <div fxLayout="row" fxFlex=100>
                <div fxFlex=40 class="m-r-20">
                  <div fxLayout="column" class="content">
                    <mat-card-content class="title_number_question" style="margin-bottom: 0px">
                      <div fxLayout="row">
                        <div fxFlex="70" fxLayoutAlign="start center" class="table_question_title">Câu hỏi chọn ra đề
                        </div>
                        <div fxFlex="30" fxLayout="column" fxLayoutAlign="end end" class="info">
                          <div fxLayout="row">
                            <label class="label_title"> Số câu hỏi: </label> <label
                              class="label_title label_total color-green">
                              {{questionsShow.length}} </label>
                          </div>
                          <div fxLayout="row">
                            <label class="label_title"> Tổng điểm: </label> <label
                              class="label_title label_total color-red">
                              {{totalScore}} </label>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="border_bottom_header"></div> -->
                    </mat-card-content>
                    <mat-card-content *ngIf="this.questionsShow.length > 0" class="list-question-wrapper">
                      <div fxLayout="row" fxLayoutAlign="start center" class="flex_row question_header list_header">
                        <div class="check_column" fxFlex="7">
                          <mat-checkbox class="example-margin" [checked]="allComplete" (change)="setAll($event.checked)"
                            [indeterminate]="someComplete()" [color]="'primary'">
                          </mat-checkbox>
                        </div>
                        <div class="content_column ct_column" fxFlex="76">
                          <span> Nội dung</span>
                        </div>
                        <div class="score_column ct_column" fxFlex="10">
                          <span>Điểm</span>
                        </div>
                        <div class="action_column" fxFlex="7">

                        </div>
                      </div>
                      <div fxLayout="row wrap" *ngFor="let question of questionsShow;let i = index "
                        fxLayoutAlign="start center" class="flex_row flex_item"
                        [ngClass]="{'question-selected': question.id==currentQuestionId}">
                        <p class="question_type"
                          [ngClass]="{'single': question.format === 'SIG', 'group': question.format === 'GRO'}">
                          {{question.format === 'SIG' ? 'Câu hỏi đơn': 'Câu hỏi chùm'}}
                        </p>
                        <div fxFlex="100" fxLayoutAlign="space-between center" class="question_row"
                          (click)="chooseQuestion(question)">
                          <div class="block">
                            <div class="check_column" fxFlex="7">
                              <mat-checkbox class="example-margin" [(ngModel)]="question.isChecked"
                                (ngModelChange)="updateAllComplete($event, question)" [color]="'primary'">
                              </mat-checkbox>
                            </div>
                            <div class="content_column" fxFlex="76">
                              <span *ngIf="!showInner" [innerHTML]="question.content | safeHtml"
                                class="question"></span>
                            </div>
                            <div class="score_column" fxFlex="10">
                              <input [(ngModel)]="question.score" [disabled]="question.format=='GRO'" type="number"
                                class="inputNumber" (focusout)="updateScore(question.id, question.score)">
                            </div>
                            <div class="action_column" fxFlex="7">
                              <button mat-icon-button (click)="deleteQuestion(question)">
                                <mat-icon svgIcon="trash"></mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>

                        <div fxFlex="100" fxLayoutAlign="space-between "
                          *ngFor="let child of question.questions;let childIndex = index" class="question_row_child">
                          <div class="check_column" fxFlex="7">
                            <mat-checkbox class="example-margin" [(ngModel)]="child.isChecked"
                              (ngModelChange)="updateAllComplete($event, child)" [color]="'primary'">
                            </mat-checkbox>
                          </div>
                          <div class="content_column" fxFlex="76" (click)="chooseQuestion(child,childIndex)">
                            <span *ngIf="!showInner" [innerHTML]="child.content | safeHtml"></span>
                          </div>
                          <div class="score_column" fxFlex="10">
                            <input [(ngModel)]="child.score" type="number" class="inputNumber"
                              (focusout)="updateScoreChild(question.id,child.id, child.score)">
                          </div>
                          <div class="action_column" fxFlex="7">
                            <button mat-icon-button (click)="deleteQuestion(child)">
                              <mat-icon svgIcon="trash"></mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                    </mat-card-content>
                    <mat-card-content fxFlex fxLayout="row" fxLayoutAlign="space-between"
                      *ngIf="this.questionsShow.length == 0">
                      <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                        <label class="label-tip">Không có câu hỏi nào trong danh sách</label>
                        <label *ngIf="createType == 'FIL'" class="label-tip">Hãy bấm nút Thêm từ tệp tin để tải lên câu
                          hỏi
                          của bạn.</label>
                        <label *ngIf="createType == 'MAT'" class="label-tip">Hãy bấm nút Ma trận đề bên để thiết lập cấu
                          hình và lấy đề tự động.</label>
                        <label *ngIf="createType == 'QTB'" class="label-tip">Hãy bấm nút Ngân hàng câu hỏi để lấy câu
                          hỏi.</label>
                      </div>
                    </mat-card-content>
                    <div fxFlex *ngIf="this.questionsShow.length > 0" fxLayout="row" fxLayoutAlign="start end"
                      class="m-t-15 btn-action-group">
                      <div fxLayoutAlign="start start">
                        <button class="bg-danger btn_delete_selected" mat-raised-button color="white"
                          (click)="deleteSelected()">
                          <span class="material-icons bottom-icon">
                            delete
                          </span>
                          Xóa đã chọn
                        </button>
                      </div>
                      <div>
                        <button mat-raised-button color="primary" class="btn_update_score"
                          (click)="openUpdateScoreDialog()">
                          <span class="material-icons-outlined bottom-icon">
                            sports_score
                          </span>
                          Cập nhật điểm
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div fxFlex.gt-lg="60" fxFlex.gt-md="54">
                  <div *ngIf="isLoadDetailContent && question != undefined" class="question-right">
                    <mat-card-content fxLayout="column">
                      <all-questions *ngIf="question.action == actionEnum.Add" [data]="question"
                        [childIndex]="childIndex" [configUpload]="configUpload" (outputData)="updateQuestion($event)">
                      </all-questions>
                      <app-edit-question *ngIf="question.action != actionEnum.Add" [data]="question"
                        [childIndex]="childIndex" [configUpload]="configUpload" (outputData)="updateQuestion($event)">
                      </app-edit-question>
                    </mat-card-content>
                  </div>
                  <div *ngIf="!isLoadDetailContent || question == undefined" class="question-right">
                    <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="empty-question-right">
                      <label class="label-tip">Chọn một câu hỏi từ danh sách để chỉnh sửa</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Thiết lập nâng cao">
            <div class="settings apply-css-alpha content-tab">
              <div fxLayout="row" fxLayoutAlign="start center" class="row_flex row_config">
                <div class="check" fxFlex="30">
                  <mat-checkbox class="example-margin" [(ngModel)]="isSetTestTime" (ngModelChange)="changControlInput()"
                    [color]="'primary'">Thời gian làm bài</mat-checkbox>
                </div>
                <div fxFlex="5">
                  <mat-form-field class="example-full-width test-time" appearance="outline">
                    <mat-label>Phút</mat-label>
                    <input matInput [formControl]="testTimeControl" type="number" min="1"
                      [(ngModel)]="detailContentRequests.testInfo.testTime" step="1" />
                    <mat-error *ngIf="testTimeControl.hasError('required') && isSetTestTime">Thời gian làm bài không
                      được để trống
                    </mat-error>
                    <mat-error *ngIf="testTimeControl.hasError('min') && isSetTestTime">Thời gian tối thiểu là 5 phút
                    </mat-error>
                    <mat-error
                      *ngIf="testTimeControl.hasError('pattern') && isSetTestTime && detailContentRequests.testInfo.testTime > 5">
                      Thời gian phải là số nguyên
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center" class="row_flex row_config">
                <div class="check" fxFlex="30">
                  <mat-checkbox class="example-margin" [(ngModel)]="detailContentRequests.testInfo.allowToRedo"
                    (ngModelChange)="changControlInput()" [color]="'primary'">Cho phép thi lại tối đa nếu không đạt
                  </mat-checkbox>
                </div>
                <div fxFlex="5">
                  <mat-form-field class="example-full-width test-time" appearance="outline">
                    <mat-label>Lần</mat-label>
                    <input matInput [formControl]="allowToReDoControl" type="number" min="1" step="1"
                      [(ngModel)]="detailContentRequests.testInfo.theMaximumNumberToRedo" />
                    <mat-error
                      *ngIf="allowToReDoControl.hasError('required') && detailContentRequests.testInfo.allowToRedo">Số
                      lần thi lại tối
                      đa không được để trống</mat-error>
                    <mat-error
                      *ngIf="allowToReDoControl.hasError('pattern') && detailContentRequests.testInfo.allowToRedo">Số
                      lần thi lại phải là số nguyên
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center" class="row_flex row_config">
                <div class="check" fxFlex="30">
                  <mat-checkbox class="example-margin"
                    [(ngModel)]="detailContentRequests.testInfo.viewCorrectResultAfterSubmittingTheTest"
                    [color]="'primary'">Hiển thị đáp án đúng sau khi nộp bài</mat-checkbox>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center" class="row_flex row_config">
                <div class="check" fxFlex="30">
                  <mat-checkbox class="example-margin" [(ngModel)]="detailContentRequests.testInfo.isRandomizeQuestions"
                    [color]="'primary'">Xáo
                    trộn câu hỏi</mat-checkbox>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center" class="row_flex row_config">
                <div class="check" fxFlex="30">
                  <label class="example-margin mat-checkbox-label">Số câu hỏi hiển thị trên mỗi trang</label>
                </div>
                <div fxFlex="5">
                  <mat-form-field class="example-full-width test-time" appearance="outline">
                    <mat-label>Câu hỏi</mat-label>
                    <input matInput [formControl]="itemPerPageCtrl" type="number" min="1"
                      [(ngModel)]="detailContentRequests.testInfo.numberOfQuestionOnThePage" />
                    <mat-error *ngIf="itemPerPageCtrl.hasError('required')">Số câu hỏi trên mỗi trang không được để
                      trống
                    </mat-error>
                    <mat-error *ngIf="itemPerPageCtrl.hasError('max')">Số câu hỏi trên mỗi trang không được lớn hơn tổng
                      số câu
                      hỏi</mat-error>
                    <mat-error *ngIf="itemPerPageCtrl.hasError('min') && totalQuestion>0">Số câu hỏi trên mỗi trang phải
                      lớn hơn 0</mat-error>
                    <mat-error *ngIf="allowToReDoControl.hasError('pattern')">Số câu hỏi trên mỗi trang phải là số
                      nguyên
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

          </mat-tab>
        </mat-tab-group>

      </div>

      <!-- Sau khoảng thời gian -->
      <div id="interval" *ngIf="conditionsForCompletion=='INT'">
        <div fxLayout="row" fxLayoutAlign="start center">
          <label fxFlex="15" class="label_combobox"> Sau khoảng thời gian (*):
          </label>
          <div fxLayout="row" fxLayoutGap="20px">
            <!-- Phút -->
            <mat-form-field appearance="outline" fxFlex="50">
              <mat-label>Phút</mat-label>
              <input type="number" matInput [formControl]="minutesControl" [(ngModel)]="minutes" min="0">
              <mat-error *ngIf="minutesControl.hasError('required')">
                Bạn chưa nhập phút
              </mat-error>
              <mat-error *ngIf="nameContentControl.hasError('min')">
                Phút không được nhỏ hơn 0
              </mat-error>
            </mat-form-field>
            <!-- Giây -->
            <mat-form-field appearance="outline" fxFlex="50">
              <mat-label>Giây</mat-label>
              <input type="number" matInput [formControl]="secondsControl" [(ngModel)]="seconds" min="0">
              <mat-error *ngIf="secondsControl.hasError('required')">
                Bạn chưa nhập giây
              </mat-error>
              <mat-error *ngIf="nameContentControl.hasError('min')">
                Giây không được nhỏ hơn 0
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>

  <!-- Button footer -->
  <div mat-dialog-actions class="flex_justify_center m-b-20">

    <!-- Button [Hủy] -->
    <button mat-raised-button class="button-cancel button-spacing" (click)="onCancelClick()" style="width:103px;">
      Hủy
    </button>

    <!-- Button [Lưu] -->
    <button mat-raised-button color="primary" style="width:103px;" (click)="onSaveClick()">
      Lưu
    </button>
  </div>
</div>
