<form [formGroup]="personalForm" class="user-info">
    <div>
        <div class="header">
            <img src="../../../../../assets/images/person-info-banner/personal-info2.png" class="cover-image">
            <div class="personal" [ngClass.xs]="{'personal-mobile':true}">
                <div for="input-image-id" (click)="uploadImage()" class="personal-avartar"
                    [ngClass]="(!imageUrl) ? 'background_avatar': ''" matTooltip="Ảnh đại diện">
                    <input #inputImageFile (change)="onChangeImageInput($event)" class="ng-hide" id="input-image-id"
                        multiple type="file" accept="image/*" />
                    <img id="avatarUser" #avatarUser [src]="imageUrl" alt="" class="personal-avartar">
                </div>
                <mat-icon (click)="uploadImage()" class="icon" svgIcon="camera"></mat-icon>
            </div>
        </div>
        <div class="personal-name" [ngClass.xs]="{'personal-name-mobile':true}">
            <span class="personal-name-user">{{fullname}}</span>
        </div>
    </div>
    <mat-tab-group class="container" [selectedIndex]="selectedTabIndex">
        <mat-tab label="Thông tin cá nhân" [ngClass.xs]="{'::ng-deep .mat-tab-label': true}">

            <!-- information tab -->
            <user-infomation-tab [userInfo]='userInfo' *ngIf="userInfo">
            </user-infomation-tab>
            <!-- end information tab -->
        </mat-tab>
        <mat-tab label="Mật khẩu" [ngClass.xs]="{'::ng-deep .mat-tab-label': true}">
            <div class="body">
                <div fxLayout="row" fxLayoutAlign="center center" class="row_flex m-b-20">
                    <label fxFlex="50" fxLayoutAlign="center center" class="title">Thay đổi mật khẩu
                    </label>
                </div>
                <br>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                    class="row_flex m-b-20">
                    <label fxFlex="17" fxLayoutAlign.xs="none" fxLayoutAlign="start center" class="label_combobox">Mật
                        khẩu
                        hiện tại (*)
                    </label>
                    <input fxFlex="30" fxLayoutAlign.xs="none" fxLayoutAlign="center center" formControlName="password"
                        type="password" required class="input_name" placeholder="Mật khẩu hiện tại"
                        [ngClass.xs]="{'dislay-mobile':true}">
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
                    *ngIf="password.errors?.required && password.touched" class="errors-msg">
                    <div fxFlex="74" fxFlex.xs=100 fxLayoutAlign="end center">
                        <mat-error class="error">Bạn chưa nhập mật khẩu </mat-error>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
                    *ngIf="password.errors?.minlength" class="errors-msg">
                    <div fxFlex="74" fxFlex.xs=100 fxLayoutAlign="end center">
                        <mat-error class="error">Mật khẩu ít nhất 6 kí tự </mat-error>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                    class="row_flex m-b-20">
                    <label fxFlex="17" fxLayoutAlign.xs="none" fxLayoutAlign="start center" class="label_combobox"> Mật
                        khẩu
                        mới (*)
                    </label>
                    <input fxFlex="30" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                        formControlName="newPassword" class="input_name" type="password" placeholder="Mật khẩu mới"
                        [ngClass.xs]="{'dislay-mobile':true}">
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
                    *ngIf="newPassword.errors?.required && newPassword.touched" class="errors-msg">
                    <div fxFlex="74" fxFlex.xs=100 fxLayoutAlign="end center">
                        <mat-error class="error">Bạn chưa nhập mật khẩu mới</mat-error>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
                    *ngIf="newPassword.errors?.minlength" class="errors-msg">
                    <div fxFlex="74" fxFlex.xs=100 fxLayoutAlign="end center">
                        <mat-error class="error">Mật khẩu ít nhất 6 kí tự </mat-error>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                    class="row_flex m-b-20">
                    <label fxFlex="17" fxLayoutAlign="start center" class="label_combobox"> Xác nhận mật khẩu mới
                        (*)
                    </label>
                    <input fxFlex="30" fxLayoutAlign="center center" formControlName="confirmPassword"
                        class="input_name" type="password" placeholder="Xác nhận mật khẩu"
                        [ngClass.xs]="{'dislay-mobile':true}">
                </div>
                <div *ngIf="confirmPassword.errors?.required && confirmPassword.touched" fxLayout="row"
                    fxLayoutAlign="start center" class="row_flex m-b-20" class="errors-msg">
                    <div fxFlex="74" fxFlex.xs=100 fxLayoutAlign="end center">
                        <mat-error class="error">Bạn chưa xác nhận mật khẩu mới</mat-error>
                    </div>
                </div>
                <div *ngIf="confirmPassword.errors?.mustMatch" fxLayout="row" fxLayoutAlign="start center"
                    class="row_flex m-b-20" class="errors-msg">
                    <div fxFlex="74" fxFlex.xs=100 fxLayoutAlign="end center">
                        <mat-error class="error">Mật khẩu xác nhận chưa trùng khớp</mat-error>
                    </div>
                </div>
            </div>
            <div fxLayout=row fxLayoutAlign="center center" fxLayoutGap=10px>
                <!-- <button mat-raised-button class="bg-danger text-white" (click)="cancel()">Hủy</button> -->
                <button mat-raised-button color="primary" [disabled]="confirmPassword.errors?.mustMatch"
                    (click)="changePassword()">Lưu</button>
            </div>
        </mat-tab>
        <mat-tab label="Tài khoản Zoom" [ngClass.xs]="{'::ng-deep .mat-tab-label': true}" *ngIf="userRole != 'STUDENT'">
            <div class="body">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                    class="row_flex m-b-20 m-t-20">
                    <label fxFlex="10" fxLayoutAlign.xs="none" fxLayoutAlign="start center" class="label_combobox">
                    </label>
                    <div fxFlex="30" fxLayoutAlign.xs="none" fxLayoutAlign="start center" class="label_guide">
                        <a [href]="getLinkTemplate()" target="_blank" class="m-b--10">
                            <span>Tải tập tin hướng dẫn</span>
                            <button type="button" mat-raised-button color="primary">
                                <mat-icon svgIcon="add-school-from-file" class="icon "></mat-icon>

                            </button>
                        </a>
                    </div>
                </div>
                <br>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                    class="row_flex m-b-20">
                    <label fxFlex="10" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                        class="label_combobox">PublicKey (*)
                    </label>
                    <input fxFlex="30" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                        formControlName="publicKeyZoom" type="password" required class="input_name"
                        [ngClass.xs]="{'dislay-mobile':true}">
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
                    *ngIf="publicKeyZoom.errors?.required && publicKeyZoom.touched" class="errors-msg">
                    <div fxFlex="70" fxFlex.xs=100 fxLayoutAlign="end center">
                        <mat-error class="error">Bạn chưa nhập PublicKey </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
                    *ngIf="publicKeyZoom.errors?.pattern && publicKeyZoom.touched" class="errors-msg">
                    <div fxFlex="70" fxFlex.xs=100 fxLayoutAlign="end center">
                        <mat-error class="error">PublicKey chứa ký tự đặc biệt</mat-error>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                    class="row_flex m-b-20">
                    <label fxFlex="10" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                        class="label_combobox">PrivateKey (*)
                    </label>
                    <input fxFlex="30" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                        formControlName="privateKeyZoom" type="password" class="input_name"
                        [ngClass.xs]="{'dislay-mobile':true}">
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
                    *ngIf="privateKeyZoom.errors?.required && privateKeyZoom.touched" class="errors-msg">
                    <div fxFlex="70" fxFlex.xs=100 fxLayoutAlign="end center">
                        <mat-error class="error">Bạn chưa nhập PrivateKey</mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
                    *ngIf="privateKeyZoom.errors?.pattern && privateKeyZoom.touched" class="errors-msg">
                    <div fxFlex="70" fxFlex.xs=100 fxLayoutAlign="end center">
                        <mat-error class="error">PrivateKey chứa ký tự đặc biệt</mat-error>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                    class="row_flex m-b-20">
                    <label fxFlex="10" fxLayoutAlign="start center" class="label_combobox">Email (*)
                    </label>
                    <input fxFlex="30" fxLayoutAlign="center center" formControlName="emailZoom" class="input_name"
                        [ngClass.xs]="{'dislay-mobile':true}">
                </div>
                <div *ngIf="emailZoom.errors?.required && emailZoom.touched" fxLayout="row" fxLayoutAlign="start center"
                    class="row_flex m-b-20" class="errors-msg">
                    <div fxFlex="70" fxFlex.xs=100 fxLayoutAlign="end center">
                        <mat-error class="error">Bạn chưa nhập Email</mat-error>
                    </div>
                </div>
                <div *ngIf="emailZoom.errors?.email  && emailZoom.touched" fxLayout="row" fxLayoutAlign="start center"
                    class="row_flex m-b-20" class="errors-msg">
                    <div fxFlex="70" fxFlex.xs=100 fxLayoutAlign="end center">
                        <mat-error class="error">Email không hợp lệ</mat-error>
                    </div>
                </div>
            </div>
            <div fxLayout=row fxLayoutAlign="center center" fxLayoutGap=10px>
                <!-- <button mat-raised-button class="bg-danger text-white" (click)="cancel()">Hủy</button> -->
                <button mat-raised-button color="primary" (click)="insertZoomAccount()">Lưu</button>
            </div>
        </mat-tab>
    </mat-tab-group>
</form>