<div *ngIf="status =='INP'">
    <div class="background-isprogressing">
        <span class="progress-title">Đang xử lý {{content}}...</span>
        <br />
        <span class="progress-content">{{content}} này đang được xử lý.
            Chất lượng {{content}} có thể sẽ được cải thiện sau
            khi quá trình xử lý hoàn tất
        </span>
    </div>
    <div class="note-video">
        Bạn có thể tiếp tục xây dựng nội bài giảng trong khi {{content}}
        đang được xử lý
    </div>
</div>

<div *ngIf="status =='FAI'">
    <div class="background-isprogressing">
        <span class="progress-title">Xử lí {{content}} lỗi...</span>
        <br />
        <span *ngIf="content != 'Tài liệu'" class="progress-content">{{content}} này hiện đang lỗi. Hãy thực hiện update lại
        </span>
        <span *ngIf="content == 'Tài liệu'" class="progress-content">{{content}} này hiện đang lỗi. Hãy thử lưu tài liệu sang định dạng pdf và thực hiện tải lại
        </span>
    </div>
    <div class="note-video">
        Bạn có thể tiếp tục xây dựng nội bài giảng trong khi {{content}}
        đang được xử lý
    </div>
</div>