.lesson-info {
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-t-20 {
  margin-top: 10px;
}

.m-l-20 {
  margin-left: 20px;
}

.combobox_selection {
  border: 0.5px solid #555555;
  box-sizing: border-box;
  border-radius: 2px;
  height: 29px;
}

.label_combobox {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  color: #555555;
  opacity: 0.98;
}

.input_select {
  width: 100%;
  height: 30px;
}

.ng-hide {
  display: none;
}

.avatar_lesson {
  height: 195px;
  width: 195px;
  object-fit: cover;
  cursor: pointer;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.background_avatar {
  background-image: url("../../../../../assets/images/lesson/default.png");
}

#videoLesson {
  width: 100%;
  height: 195px;
}

.video_lesson {
  cursor: pointer;
  width: 301px;
  height: 195px;
  object-fit: cover;
}

.title-file {
  /* identical to box height */
  color: #4caf50;

  opacity: 0.98;
}

.input_name {
  width: 980px;
  height: 31px;
  padding: 0 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.background_video {
  background-image: url("../../../../../assets/images/lesson/video-background.png");
}

ckeditor {
  width: 100%;
}

.btn_save {
  width: 103px;
}

.btn_continue {
  width: 103px;
  color: #ffffff;
}

.btn_back {
  width: 103px;
  color: #555555;
  background-color: #eeeeee;
}

// Select box
// select box
.input_select {
  width: 100%;
  height: 30px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.green-snackbar {
  background: rgb(33, 205, 96);
  color: white;
}

.green-snackbar button {
  background-color: rgb(33, 205, 96);
  color: white;
  border: 1px solid;
}

.red-snackbar {
  background: #f44336;
  color: white;
}

.red-snackbar button {
  background-color: #f44336;
  color: white !important;
  border: 1px solid;
}

.context-menu {
  position: absolute;
  width: 200px;
  height: 200px;

  background-color: red;
}

.video-js {
  width: 301px;
  height: 195px;
  display: block;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.errors-msg {
  font-size: 75%;
  font-weight: 400;
}

.minwidth-btn {
  min-width: 100px;
}

:host ::ng-deep .mat-card-content {
  padding-top: 30px !important;
}
.background-isprogressing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 400px;
}

.background-isprogressing {
  // position: absolute;
  background-color: #e9e9e9;
  // z-index: 999;
  width: 301px;
  height: 195px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4px 40px;
}
.progress-title {
  text-align: center;
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #555555;
  opacity: 0.98;

  .progress-content {
    font-size: 8px;
    line-height: 17px;
  }
}

.note-video {
  position: absolute;
  bottom: -50px;
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #da251d;
  font-weight: 600;
}
