<div class="apply-css-alpha">
  <app-spinner2></app-spinner2>
  <mat-card>
    <learn-step-header-lesson [stepHeaderCtrl]="stepHeaderControl"></learn-step-header-lesson>
  </mat-card>
  <div>
    <mat-card class="manage-card">
      <mat-card-content>
        <form [formGroup]="createLessonForm" (ngSubmit)="onSubmit()">
          <div class="lesson-info">
            <div class="top-infor" fxLayout="column" fxLayoutGap="15px grid" fxLayoutGap.gt-md="30px grid">
              <div fxLayout="row" fxLayoutGap="15px grid" fxLayoutGap.gt-md="30px grid">
                <mat-form-field appearance="outline">
                  <mat-label>Tên bài giảng</mat-label>
                  <input matInput formControlName="name" type="text" required placeholder="Tên bài giảng">
                  <mat-error *ngIf="name.touched && name.invalid">
                    <div *ngIf="name.errors.required">Vui lòng nhập tên bài giảng</div>
                    <div *ngIf="name.errors.maxLength">Độ dài không quá 255 kí tự</div>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutGap="15px grid" fxLayoutGap.gt-md="30px grid">
                <div fxFlex fxFlex.gt-md="25">
                  <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
                    <mat-label>Khối</mat-label>
                    <mat-select [formControl]="gradeId" required placeholder="Chọn khối" #singleSelectGrade
                      disableOptionCentering>
                      <mat-option>
                        <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                          [formControl]="gradeFilterCtrl">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                        {{grade.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="gradeId.touched && gradeId.invalid">
                      <div *ngIf="subjectId.errors.required">Vui lòng chọn khối</div>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex fxFlex.gt-md="25">
                  <mat-form-field appearance="outline" (click)="onSubjectSelectClicked()">
                    <mat-label>Môn học</mat-label>
                    <mat-select [formControl]="subjectId" #singleSelectSubject [disabled]="isDisableSubjectId" required
                      placeholder="Chọn môn" disableOptionCentering>
                      <mat-option>
                        <ngx-mat-select-search placeholderLabel="Tìm môn" noEntriesFoundLabel="Không tìm thấy"
                          [formControl]="subjectFilterCtrl">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.id">
                        {{subject.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="subjectId.touched && subjectId.invalid">
                      <div *ngIf="subjectId.errors.required">Vui lòng chọn môn</div>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="15px grid" fxLayoutGap.gt-md="30px grid">
                <div fxFlex fxFlex.gt-md="25">
                  <mat-form-field appearance="outline" (click)="onContentPanelSelectClicked()">
                    <mat-label>Khung</mat-label>
                    <mat-select #singleSelectContentPanel formControlName="contentPanelId"
                      [disabled]="isDisableContentPanelId" placeholder="Chọn khung" disableOptionCentering>
                      <mat-option>
                        <ngx-mat-select-search placeholderLabel="Tìm khung" noEntriesFoundLabel="Không tìm thấy"
                          [formControl]="contentPanelFilterCtrl">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let contentPanel of filteredContentPanels | async"
                        [value]="contentPanel.curriculumId">
                        {{contentPanel.curriculumName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex fxFlex.gt-md="25">
                  <mat-form-field appearance="outline" (click)="onChapterSelectClicked()">
                    <mat-label>Chương</mat-label>
                    <mat-select formControlName="chapterId" #singleSelectChapter [disabled]="isDisableChapterId"
                      placeholder="Chọn chương" disableOptionCentering>
                      <mat-option>
                        <ngx-mat-select-search placeholderLabel="Tìm chương" noEntriesFoundLabel="Không tìm thấy"
                          [formControl]="chapterFilterCtrl">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let chapter of filteredChapters | async" [value]="chapter.id">
                        {{chapter.curriculumName}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="chapterId.touched && chapterId.invalid">
                      <div *ngIf="chapterId.errors.required">Vui lòng chọn chương</div>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex fxFlex.gt-md="25">
                  <mat-form-field appearance="outline" (click)="onUnitSelectClicked()">
                    <mat-label>Bài học</mat-label>
                    <mat-select formControlName="unitId" #singleSelectUnit [disabled]="isDisableUnitId"
                      placeholder="Chọn bài học" disableOptionCentering>
                      <mat-option>
                        <ngx-mat-select-search placeholderLabel="Tìm bài học" noEntriesFoundLabel="Không tìm thấy"
                          [formControl]="unitFilterCtrl">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let unit of filteredUnits | async" [value]="unit.id">
                        {{unit.curriculumName}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="unitId.touched && unitId.invalid">
                      <div *ngIf="unitId.errors.required">Vui lòng chọn bài</div>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <!-- <div fxLayout="row" fxLayoutGap="15px grid" fxLayoutGap.gt-md="30px grid">
                
              </div> -->
            </div>
            <div class="img-vid m-t-40">
              <div fxLayout="row" fxLayoutAlign="start start" class="row-flex m-b-20">
                <div fxFlex="25" fxLayoutAlign="start start" class="label_combobox">Ảnh đại diện</div>
                <div fxFlex="25" fxLayoutAlign="start center">
                  <div for="input-image-id" [contextMenu]="imageContextMenu" class="avatar_lesson"
                    (click)="onChangeImageHandleClick()" [ngClass]="(!imageUrl) ? 'background_avatar': ''"
                    matTooltip={{imageToolTip}} matTooltipClass="break-line">
                    <input #inputImageFile (change)="onChangeImageInput($event)" class="ng-hide" id="input-image-id"
                      multiple type="file" accept="{{acceptImage}}" />
                    <div style="height: 195px;display: flex;">
                      <img id="avatarLesson" #avatarLesson [src]="imageUrl" alt="">
                    </div>
                    <label for="" class="title-file"> {{fileImageName}}</label>
                  </div>
                </div>
                <div fxFlex="50" fxLayoutAlign="start center">
                  <div for="input-video-id" [contextMenu]="videoContextMenu" class="video_lesson" [hidden]="videoUrl"
                    (click)="onChangeVideoHandleClick()" [ngClass]="(!videoUrl) ? 'background_video': ''"
                    matTooltip={{videoTooltip}} matTooltipClass="break-line">
                    <input #inputVideoFile (change)="onChangeVideoInput($event)" class="ng-hide" id="input-video-id"
                      multiple type="file" accept="video/*" />
                    <label for="" class="title-file"> {{fileVideoName}}</label>
                  </div>
                  <div for="input-video-id" [contextMenu]="videoContextMenu" class="video_lesson" [hidden]="!videoUrl"
                    (click)="onChangeVideoHandleClick()" [ngClass]="(!videoUrl) ? 'background_video': ''"
                    matTooltip={{videoTooltip}} matTooltipClass="break-line">
                    <input #inputVideoFile (change)="onChangeVideoInput($event)" class="ng-hide" id="input-video-id"
                      multiple type="file" accept="video/*" />
                    <div class="background-isprogressing-container iframe" [hidden]="!videoUrl"
                      style="position: relative;">
                      <div class="background-isprogressing">
                        <span class="progress-title">Đang xử lý video...</span>
                        <br />
                        <span class="progress-content">Video này đang được xử lý. Chất lượng video có thể sẽ được cải
                          thiện sau
                          khi quá trình xử lý hoàn
                          tất</span>
                      </div>
                      <div class="note-video">Bạn có thể tiếp tục xây dựng nội bài giảng trong khi video đang
                        được xử lý
                      </div>
                      <!-- <video #videoLearn class="video-js" controls muted playsinline preload="auto"></video> -->
                    </div>
                    <label for="" class="title-file"> {{fileVideoName}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="introduction m-b-20 m-t-30">
              <div fxLayout="column" fxLayoutAlign="start start" class="row-flex">
                <label class="label_combobox m-b-10">Giới thiệu bài giảng</label>
                <ckeditor #ckIntroductionLesson formControlName="introduction" [data]="introduction"
                  [config]="configCkeditor">
                </ckeditor>
              </div>
            </div>

          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <div group-button>
      <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px" class="m-b-30">
        <button mat-raised-button class="button-cancel" (click)="onClickBack()">Quay lại</button>

        <button type="button" color="primary" mat-raised-button class="btn_save"
          [hidden]="!hasAddLessonPermission && !hasEditLessonPermission"
          [disabled]="createLessonForm.invalid || isDisableSaveButton" (click)="onSaveButtonHandleClick()">Lưu</button>

        <button mat-raised-button type="button" [disabled]="createLessonForm.invalid" color="primary"
          [hidden]="!hasAddLessonPermission && !hasEditLessonPermission" (click)="onSubmit()" class="btn_continue">Tiếp
          tục</button>
      </div>
    </div>
  </div>

  <context-menu #videoContextMenu>
    <ng-template contextMenuItem (execute)="uploadVideo()">
      <button mat-flat-button type="button">
        <mat-icon svgIcon="upload-lesson" style="width: 12px;">
        </mat-icon>
        Tải video
      </button>
    </ng-template>
    <ng-template contextMenuItem>
      <hr>
    </ng-template>
    <ng-template contextMenuItem (execute)="onContextMenuRemoveVideoHandler()">
      <button mat-flat-button>
        <mat-icon svgIcon="trash" style="width: 12px;">
        </mat-icon>
        Xóa video
      </button>
    </ng-template>
  </context-menu>

  <context-menu #imageContextMenu>
    <ng-template contextMenuItem (execute)="uploadImage()">
      <button mat-flat-button>
        <mat-icon svgIcon="upload-lesson" style="width: 12px;">
        </mat-icon>
        Tải hình ảnh
      </button>
    </ng-template>
    <ng-template contextMenuItem>
      <hr>
    </ng-template>
    <ng-template contextMenuItem (execute)="onContextMenuRemoveImageHandler()">
      <button mat-flat-button>
        <mat-icon svgIcon="trash" style="width: 12px;">
        </mat-icon>
        Xóa hình ảnh
      </button>
    </ng-template>
  </context-menu>
</div>