<ng-container *ngIf="screenWidth>1024 && isReady">
  <app-spinner2></app-spinner2>

  <div class="container-content__question scrollbar-success" fxFlex.gt-lg="78" fxFlex.gt-md="75"
    fxLayoutAlign="center start" fxFlex.lt-sm="100" style="padding: 30px 20px 0px 20px">
    <div class="questions-wrapper">
      <div id="cauhoi_{{question.order}}" class="question-container"
        *ngFor="let question of questions| paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
        <div class="title-question-label">
          Câu hỏi {{question.order}} ({{question.score}} điểm)
        </div>
        <learner-lesson-underline *ngIf="question.type==questionType.underline&& question.format==questionFormat.single"
          [dataQuestion]="getQuestionBaseById(question.id)" [isResult]="isResult"
          [userAnswer]="userAnswerById(question.id)" [isPublicAnswer]="testInfo.isPublicAnswer">
        </learner-lesson-underline>
        <learner-lesson-true-false-clause
          *ngIf="question.type==questionType.truefaslechause && question.format==questionFormat.single"
          [isResult]="isResult" [userAnswer]="userAnswerById(question.id)"
          [dataQuestion]="getQuestionBaseById(question.id)" [isPublicAnswer]="testInfo.isPublicAnswer">
        </learner-lesson-true-false-clause>
        <learner-lesson-single-choice
          *ngIf="question.type==questionType.singlechoice && question.format==questionFormat.single"
          [isResult]="isResult" [userAnswer]="userAnswerById(question.id)"
          [dataQuestion]="getQuestionBaseById(question.id)" [isPublicAnswer]="testInfo.isPublicAnswer">
        </learner-lesson-single-choice>
        <learner-lesson-multiple-choice
          *ngIf="question.type==questionType.multichoice && question.format==questionFormat.single"
          [isResult]="isResult" [userAnswer]="userAnswerById(question.id)"
          [dataQuestion]="getQuestionBaseById(question.id)" [isPublicAnswer]="testInfo.isPublicAnswer">
        </learner-lesson-multiple-choice>
        <learner-lesson-true-false
          *ngIf="question.type==questionType.truefasle && question.format==questionFormat.single" [isResult]="isResult"
          [userAnswer]="userAnswerById(question.id)" [dataQuestion]="getQuestionBaseById(question.id)"
          [isPublicAnswer]="testInfo.isPublicAnswer">
        </learner-lesson-true-false>
        <learner-lesson-missing-word1 id="{{question.id}}"
          *ngIf="question.type==questionType.fillblank && question.format==questionFormat.single" [isResult]="isResult"
          [userAnswer]="userAnswerById(question.id)" [dataQuestion]="getQuestionBaseById(question.id)"
          [isPublicAnswer]="testInfo.isPublicAnswer">
        </learner-lesson-missing-word1>
        <learner-lesson-missing-word2 id="{{question.id}}"
          *ngIf="question.type==questionType.fillblank2 && question.format==questionFormat.single"
          [dataQuestion]="getQuestionBaseById(question.id)" [isResult]="isResult"
          [userAnswer]="userAnswerById(question.id)" [isPublicAnswer]="testInfo.isPublicAnswer">
        </learner-lesson-missing-word2>
        <learner-lesson-essay *ngIf="question.type==questionType.essay && question.format==questionFormat.single"
          [dataQuestion]="getQuestionBaseById(question.id)" [isResult]="isResult"
          [userAnswer]="userAnswerById(question.id)" [userContentTestId]="userContentTestId">
        </learner-lesson-essay>
        <learner-lesson-matching *ngIf="question.type==questionType.matching && question.format==questionFormat.single"
          [dataQuestion]="getQuestionBaseById(question.id)" [isResult]="isResult"
          [userAnswer]="userAnswerById(question.id)" [isPublicAnswer]="testInfo.isPublicAnswer">
        </learner-lesson-matching>
        <learner-lesson-group-question *ngIf="question.format==questionFormat.group"
          [dataQuestion]="getQuestionBaseById(question.id)" [isResult]="isResult"
          [isPublicAnswer]="testInfo.isPublicAnswer">
        </learner-lesson-group-question>
      </div>
    </div>
  </div>
  <ng-container>
    <div class="container-content__infor-question" fxFlex.gt-lg="22" fxFlex.gt-md="25" fxHide.sm fxHide.xs>
      <learner-lesson-table-question-result *ngIf="isReady" [dataQuestion]="questions"
        [dataQuestionBase]="questionsResult" (indexQuestion)="scrollToElement($event)" [screenWidth]="screenWidth"
        [userContentTestId]="userContentTestId" [resultDoTest]="resultDoTest">
      </learner-lesson-table-question-result>
    </div>
  </ng-container>

  <div class="control-bar-bottom" fxLayout="row" fxHide.sm fxHide.xs>
    <div fxFlex.gt-lg="78" fxFlex.gt-md="75" fxLayoutAlign="center center" style="position: relative;">
      <div class="exit-button">
        <button mat-icon-button (click)="exitButtonHandleClick()">
          <span class="material-icons m-r-10 cancel-icon">
            cancel
          </span>
          <span class="exit-button-text">Thoát</span>
        </button>
      </div>
      <div class="button-group" fxLayoutAlign="center center">
        <button mat-flat-button color="primary" class="m-r-20" style="min-width: 100px;" (click)="onBackPage()"
          [disabled]="currentPage <= 1">
          <mat-icon style="position: absolute; top: 6px; left: 10px;">keyboard_arrow_left</mat-icon> <span
            class="m-l-10">Trở lại</span>
        </button>
        <button mat-flat-button color="primary" style="position: relative; min-width: 100px;" (click)="onNextPage()"
          [disabled]="currentPage >= totalPage">
          <span class="m-r-10">Kế tiếp</span>
          <mat-icon style="position: absolute; top: 6px; right: 10px;">keyboard_arrow_right</mat-icon>
        </button>
      </div>
      <div style="position: absolute; right: 20px;">
        <pagination-controls class="test-paginator" previousLabel="" nextLabel="" (pageChange)="pageChanged($event)"
          fxHide.sm fxHide.xs>
        </pagination-controls>
      </div>
    </div>
    <div fxFlex.gt-lg="22" fxFlex.gt-md="25" fxLayoutAlign="center center">
    </div>
  </div>
</ng-container>


<ng-container *ngIf="screenWidth<=1024 && isReady">

  <div class="header" fxLayout="row" fxLayoutAlign="center center">
    <div class="btn-exam-rule" style="display: none;" (click)="openExamRuleDialog()">
      <mat-icon svgIcon="exam-rule-mobile"></mat-icon>
    </div>
  </div>
  <div style="position: relative;" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="row-container">
    <!-- <mat-icon (click)="exitButtonHandleClick()" class="ic_exit">logout</mat-icon> -->
    <ng-container>
      <div class="container-content__question scrollbar-success" fxFlex="75" fxFlex.xs="70" fxFlex.sm="70">
        <!-- <learner-lesson-loading-screen></learner-lesson-loading-screen> -->
        <div class="questions-wrapper">
          <div id="cauhoi_{{question.order}}" class="question-container"
            *ngFor="let question of questions | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage };let i=index;">
            <div class="title-question-label">Câu hỏi {{question.order}} ({{question.score}} điểm)</div>
            <learner-lesson-underline
              *ngIf="question.type==questionType.underline&& question.format==questionFormat.single"
              [dataQuestion]="getQuestionBaseById(question.id)" [isResult]="isResult" [userAnswer]="userAnswerById(question.id)"
              [isPublicAnswer]="testInfo.isPublicAnswer">
            </learner-lesson-underline>
            <learner-lesson-true-false-clause
              *ngIf="question.type==questionType.truefaslechause && question.format==questionFormat.single"
              [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [dataQuestion]="getQuestionBaseById(question.id)"
              [isPublicAnswer]="testInfo.isPublicAnswer">
            </learner-lesson-true-false-clause>
            <learner-lesson-single-choice
              *ngIf="question.type==questionType.singlechoice && question.format==questionFormat.single"
              [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [dataQuestion]="getQuestionBaseById(question.id)"
              [isPublicAnswer]="testInfo.isPublicAnswer">
            </learner-lesson-single-choice>
            <learner-lesson-multiple-choice
              *ngIf="question.type==questionType.multichoice && question.format==questionFormat.single"
              [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [dataQuestion]="getQuestionBaseById(question.id)"
              [isPublicAnswer]="testInfo.isPublicAnswer">
            </learner-lesson-multiple-choice>
            <learner-lesson-true-false
              *ngIf="question.type==questionType.truefasle && question.format==questionFormat.single"
              [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [dataQuestion]="getQuestionBaseById(question.id)"
              [isPublicAnswer]="testInfo.isPublicAnswer">
            </learner-lesson-true-false>
            <learner-lesson-missing-word1 id="{{question.id}}"
              *ngIf="question.type==questionType.fillblank && question.format==questionFormat.single"
              [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [dataQuestion]="getQuestionBaseById(question.id)"
              [isPublicAnswer]="testInfo.isPublicAnswer">
            </learner-lesson-missing-word1>
            <learner-lesson-missing-word2 id="{{question.id}}"
              *ngIf="question.type==questionType.fillblank2 && question.format==questionFormat.single"
              [dataQuestion]="getQuestionBaseById(question.id)" [isResult]="isResult" [userAnswer]="userAnswerById(question.id)"
              [isPublicAnswer]="testInfo.isPublicAnswer">
            </learner-lesson-missing-word2>
            <learner-lesson-essay *ngIf="question.type==questionType.essay && question.format==questionFormat.single"
              [dataQuestion]="getQuestionBaseById(question.id)" [isResult]="isResult" [userAnswer]="userAnswerById(question.id)">
            </learner-lesson-essay>
            <learner-lesson-matching-mobile
              *ngIf="question.type==questionType.matching && question.format==questionFormat.single"
              [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [dataQuestion]="getQuestionBaseById(question.id)"
              [isPublicAnswer]="testInfo.isPublicAnswer">
            </learner-lesson-matching-mobile>
            <learner-lesson-group-question *ngIf="question.format==questionFormat.group" [dataQuestion]="getQuestionBaseById(question.id)"
              [isResult]="isResult" [isPublicAnswer]="testInfo.isPublicAnswer">
            </learner-lesson-group-question>
          </div>
        </div>
        <!-- <learner-lesson-table-question fxHide.md fxHide.xl fxHide.lg></learner-lesson-table-question> -->
      </div>
    </ng-container>
    <ng-container *ngIf="isReady">
      <learner-lesson-table-question-result-mobile *ngIf="screenWidth <= 1024 && isReady" [isShowResult]="true"
        [dataQuestion]="questions" [dataQuestionBase]="questionsResult" [screenWidth]="screenWidth"
        [totalPage]="totalPage" (pageIndex)="pageChanged($event)" (indexQuestion)="scrollToElement($event)"
        [currentPage]="currentPage" [resultDoTest]="resultDoTest">
      </learner-lesson-table-question-result-mobile>
    </ng-container>
  </div>
</ng-container>
