.question-content{
    position: relative;
    border: 1px solid #eeeeee;
    margin-top: 0.5rem;
    border-radius: 5px;
    padding: 1rem;
    height: fit-content;
}
.phuong-an-content{
    margin-top: -7.4rem;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 1rem;
    margin-left: 0.5rem;
}
.input-content{
    margin-top: 1rem;
}
.create-answer-question{
    position: absolute;
    right: 1rem;
}
.answer-content{
    border: 1px solid #eeeeee;
}
.answer{
    margin-top: 10px;
}
.input-answer{
    width: 100%;
    height: 2rem;
    line-height: 1.5rem;
}
.container-answer{
    border: 1px solid #eeeeee;
    
}
:host ::ng-deep .ck-phuongan .cke_bottom{
	display: none !important;
}
.trueanswer{
    padding: 5px 0px;
    overflow: auto;
    max-height: 100px;
    position: relative;
};
    