<div fxLayout="row">
  <div class="question-content" fxFlex='40%' fxLayout="column">
    <div fxLayout="row">
      <p><b>Nội dung câu hỏi :</b></p>
    </div>
    <div class="input-content ck-editor-cls">
      <ckeditor #ck [(ngModel)]="ckeditorContent" id='txtNoiDungCauHoi' [config]="configQuestion">
      </ckeditor>
      <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
        style="display:none!important" />
      <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
      <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
    </div>
  </div>
  <div class="phuong-an-content" fxFlex='60%'>
    <label><b>Phương án:</b></label>
    <div class="answer-content" *ngFor="let group of groupAnswers(); let i=index" fxLayout="row">
      <div fxFlex="10%" fxLayoutAlign="center center">
        <label>({{i+1}})</label>
      </div>
      <div fxFlex="90%">
        <div class="answer" *ngFor="let answer of answersOfGroup(i+1)" fxLayout="column">
          <div class="container-answer" fxLayout="row">
            <div fxFlex="90%" class="m-10 ck-editor-cls">
              <ng-container *ngIf="answer.viTri === true">
                <ckeditor #cks class="ck-phuongan" readOnly="true" data="{{answer.NoiDung}}" [config]="configAnswer" style="width: 100%;"></ckeditor>
                <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
                  style="display:none!important" />
                <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
                <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
                <div class="validateNoiDungPhuongAn"></div>
              </ng-container>
              <ng-container *ngIf="answer.viTri === false" class="ck-editor-cls">
                <ckeditor #cks class="ck-phuongan " [(ngModel)]="answer.NoiDung" [config]="configAnswer" style="width: 100%;" ></ckeditor>
                <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
                  style="display:none!important" />
                <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
                <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
                <div class="validateNoiDungPhuongAn"></div>
              </ng-container>
            
              <!-- <input type="text" [(ngModel)]="answer.NoiDung" [disabled]="answer.viTri" class="input-answer"> -->
            </div>
            <div fxFlex="10%" fxLayoutAlign="center center">
              <button mat-icon-button [ngClass]="{'fade-shuffle': answer.xaoTronDapAn == false}"
                (click)="ChangeShuffler(answer.id)" title="Xáo trộn">
                <mat-icon>shuffle</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteAnswer(answer.id)" title="Xóa">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <button mat-raised-button color="primary" class="m-10" (click)="addFakeAnswer(i+1)">
          <mat-icon>add</mat-icon>Thêm phương án nhiễu
        </button>
      </div>

    </div>
  </div>
</div>
<div class="center-btn-footer" [hidden]=" dataQuestion!=null">
  <button mat-raised-button class="btn-footer btn-success btn-fixed-width" (click)="getvalue()">Lưu</button>
  <button mat-raised-button class="btn-footer btn-success" (click)="SaveAndCreate()">Lưu và tạo mới</button>
  <a routerLink="/dashboard/questionbanks/">
    <button mat-raised-button class="btn-footer btn-cancel btn-fixed-width">Hủy</button>
    </a>
</div>
