.question-content{
    border: 1px solid #eeeeee;
    margin-top: 0.5rem;
    border-radius: 5px;
    padding: 1rem;
    height: fit-content;
}
.phuong-an-content{
    margin-top: -7.4rem;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 1rem;
    margin-left: 0.5rem;
    display: block;
}
.phuong-an-content-column{
    margin-top: 0.5rem;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 1rem;
}
.select-button-place{
    padding: 1rem;
    text-align: center;
}
.button-select{
    margin-left: 1rem;
    
}
.button-select-true{
    background-color: #009900;
}
.button-select-mobile{
    width: 60%;
    margin: 0 auto;
    margin-top: 0.5rem;
}
.button-select-mobile:first-child{
    margin-top: 0;

}
.input-answer{
    padding:1rem;
    border:1px solid #eeeeee;
    text-align: center;
}