<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
  <div class="question-content ck-editor-cls" fxFlex='40%'>
    <p><b>Nội dung câu hỏi :</b></p>
    <ckeditor #ck [(ngModel)]="ckeditorContent" id='txtNoiDungCauHoi' [config]="configQuestion">
    </ckeditor>
    <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
      style="display:none!important" />
    <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
    <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
  </div>

  <div class="phuong-an-content" fxFlex='60%' [ngClass.sm]="'phuong-an-content-column'"
    [ngClass.xs]="'phuong-an-content-column'">
    <label><b>Phương án:</b></label>
    <div class="select-button-place" fxLayout.xs="column" fxLayout.sm="column">
      <button class="button-select button-select-true" [ngClass.sm]="'button-select-mobile'" [ngClass.xs]="'button-select-mobile'"
        mat-raised-button color="primary" (click)="addAnswer()"> Tạo cặp mệnh đề
        đúng</button>
      <button [disabled]="isDisable==true" class="button-select" [ngClass.sm]="'button-select-mobile'" [ngClass.xs]="'button-select-mobile'"
        mat-raised-button color="primary" (click)="addLeftInterference()"> Thêm mệnh đề
        nhiễu vế trái</button>
      <button [disabled]="isDisable==false" class="button-select" [ngClass.sm]="'button-select-mobile'" [ngClass.xs]="'button-select-mobile'"
        mat-raised-button color="primary" (click)="addRightInterference()"> Thêm mệnh đề
        nhiễu vế phải</button>
    </div>
    <ng-container *ngFor="let group of groupAnswers() ; index as i">
      <div class="input-answer" fxLayout="row">
        <div fxFlex="10%" fxLayoutAlign="center center" >
          <div >
            <label>
              {{alphabet[i]}}
            </label>
          </div>
        </div>

        <div fxFlex="80%" >
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
            <ng-container *ngIf=" answersOfGroup(i+1).length==2">
              <ng-container>
                <div fxFlex="50%">
                  <div>
                    <div class="answer-input ck-editor-cls">
                      <ckeditor #cks class="ck-phuongan" [(ngModel)]="answersOfGroup(i+1)[1].NoiDung"
                        [config]="configAnswer"></ckeditor>
                      <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
                        style="display:none!important" />
                      <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
                      <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
                      <button mat-button [ngClass]="{'fade-shuffle': answersOfGroup(i+1)[1].xaoTronDapAn == false}"
                        (click)="ChangeShuffler(answersOfGroup(i+1)[1].id)" title="Xáo trộn">
                        <mat-icon>shuffle</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <div fxFlex="50%">

                  <div class="answer-input ck-editor-cls">
                    <ckeditor #cks class="ck-phuongan" [(ngModel)]="answersOfGroup(i+1)[0].NoiDung"
                      [config]="configAnswer"></ckeditor>
                    <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
                      style="display:none!important" />
                    <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
                    <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
                    <button mat-button [ngClass]="{'fade-shuffle': answersOfGroup(i+1)[0].xaoTronDapAn == false}"
                      (click)="ChangeShuffler(answersOfGroup(i+1)[0].id)" title="Xáo trộn">
                      <mat-icon>shuffle</mat-icon>
                    </button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf=" answersOfGroup(i+1).length==1">
              <ng-container *ngFor="let answer of answersOfGroup(i+1)">

                <div fxFlex="50%">
                  <div>
                    <div class="answer-input ck-editor-cls" *ngIf="answer.viTri==true">
                      <ckeditor #cks class="ck-phuongan" [(ngModel)]="answer.NoiDung" [config]="configAnswer">
                      </ckeditor>
                      <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
                        style="display:none!important" />
                      <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
                      <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
                      <button mat-button [ngClass]="{'fade-shuffle': answer.xaoTronDapAn == false}"
                        (click)="ChangeShuffler(answer.id)" title="Xáo trộn">
                        <mat-icon>shuffle</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <div fxFlex="50%">

                  <div class="answer-input ck-editor-cls" *ngIf="answer.viTri==false">
                    <ckeditor #cks class="ck-phuongan" [(ngModel)]="answer.NoiDung" [config]="configAnswer"></ckeditor>
                    <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
                      style="display:none!important" />
                    <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
                    <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
                    <button mat-button [ngClass]="{'fade-shuffle': answer.xaoTronDapAn == false}"
                      (click)="ChangeShuffler(answer.id)" title="Xáo trộn">
                      <mat-icon>shuffle</mat-icon>
                    </button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div fxFlex="10%" fxLayoutAlign="center center" >
          <button mat-icon-button type="button" (click)="deleteAnswer(i+1)"  title="Xóa" [disabled]="soDapAnDung==1 && soDapAnNhieu==0">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="center-btn-footer" [hidden]="dataQuestion!=null">
  <button mat-raised-button class="btn-footer btn-success btn-fixed-width" (click)="getvalue()">Lưu</button>
  <button mat-raised-button class="btn-footer btn-success" (click)="SaveAndCreate()">Lưu và tạo mới</button>
  <a routerLink="/dashboard/questionbanks/">
    <button mat-raised-button class="btn-footer btn-cancel btn-fixed-width">Hủy</button>
    </a>
</div>
