<div>
  <div>
    <div class="text-center padding-b-35"><b class="title">DANH SÁCH GIÁO VIÊN CHẤM THI</b></div>
  </div>
</div>

<div class="apply-css-alpha">
  <div fxLayout="row ">
    <div *ngIf="levelManageValue==1" fxFlex="25" fxLayoutAlign="start center" class="filter-control">
      <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Phòng:
      </label>

      <mat-form-field fxFlex="60" fxLayoutAlign="start center" class="matFormFieldSelectBox" [floatLabel]="'never'"
        (click)="onDivisionSelectClicked()">
        <mat-select [formControl]="divisionCtrl" placeholder="Chọn phòng" #singleSelectDivision>
          <mat-option>
            <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
              [formControl]="divisionFilterCtrl">
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
            {{division.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div fxFlex="25" fxLayoutAlign="start center" class="filter-control">
      <mat-form-field fxFlex="100" appearance="outline">
        <mat-label>Tìm kiếm</mat-label>
        <input matInput [formControl]="txtKeyword" placeholder="Tìm kiếm theo tên giáo viên">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxFlex fxLayoutGap="10px" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" (click)="exportExcel()">
        <mat-icon matSuffix>file_download</mat-icon> Xuất dữ liệu
      </button>
      <button mat-raised-button color="primary" (click)="onSubmitFilter()">
        <mat-icon matSuffix>filter_list</mat-icon>
        Lọc kết quả
      </button>
    </div>
  </div>
</div>

<mat-dialog-content>
  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <div class="example-container m-t-20">
        <app-spinner2 name="finishTeacherLoading" [fullScreen]="isFullScreen"></app-spinner2>
        <table mat-table [dataSource]="teacherExamSubject" class="example-table" matSort matSortActive="created"
          matSortDisableClear matSortDirection="desc">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <!-- Number Column -->
            <ng-container matColumnDef="stt">
              <th mat-header-cell *matHeaderCellDef fxFlex="5" fxLayoutAlign="center center">STT</th>
              <td mat-cell *matCellDef="let element; let i = index" fxFlex="5" fxLayoutAlign="center center">{{i+1}}
              </td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef fxFlex="35" fxLayoutAlign="start center">Họ Và tên</th>
              <td mat-cell *matCellDef="let element" fxFlex="35" fxLayoutAlign="start center">
                <span class="text-wrap" #tooltip="matTooltip"
                matTooltip="{{element.fullName}}">{{element.fullName}}</span>
              </td>
            </ng-container>
            <!-- Title Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef fxFlex="35" fxLayoutAlign="start center">Email</th>
              <td mat-cell *matCellDef="let element" fxFlex="35" fxLayoutAlign="start center">
                <span class="text-wrap" #tooltip="matTooltip"
                matTooltip="{{element.email}}">{{element.email==null?'-':element.email}}</span>
              </td>
            </ng-container>

            <!-- State Column -->

            <!-- Created Column -->
            <ng-container matColumnDef="dob">
              <th mat-header-cell *matHeaderCellDef disableClear fxFlex="15" fxLayoutAlign="center center">
                Ngày sinh
              </th>
              <td mat-cell *matCellDef="let element" fxFlex="15" fxLayoutAlign="center center">
                {{element.dayOfBirth==null?'-':element.dayOfBirth| date: 'dd/MM/yyyy'}}
              </td>
            </ng-container>
            <!-- Created Column -->
            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef disableClear fxFlex="10" fxLayoutAlign="center center">
                Giới tính
              </th>
              <td mat-cell *matCellDef="let element" fxFlex="10" fxLayoutAlign="center center">{{element.getGender}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
            <td class="mat-cell background-no-content">
              <div class="background-no-content-img"></div>
              <div class="background-no-content-info">
                <p>Không tìm thấy giáo viên</p>
              </div>
            </td>
          </div>

        </table>
        <mat-paginator [length]="totalItems" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close class="m-3 button-cancel">Đóng</button>
</mat-dialog-actions>