.question-content{
    border: 1px solid #eeeeee;
    margin-top: 0.5rem;
    border-radius: 5px;
    padding: 1rem;
    height: fit-content;
}
.phuong-an-content{
    margin-top: -7.4rem;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 1rem;
    margin-left: 0.5rem;
}
.phuong-an-content-column{
    margin-top: 0.5rem;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 1rem;
}
.container-answer{
    border: 1px solid #eeeeee;
    padding: 1rem 0rem 1rem 1rem;
}

//footer

.center-btn-footer{
    text-align: center;
    margin-top:20px;
 }
 .btn-footer{
     margin: 0px 10px;
 }
 .btn-success{
     background-color: #a8ce54;
     color: #fff;
 }
 .btn-cancel{
     background-color: #e5e5e5;
 }
 .btn-fixed-width {
     width: 100px;
 }