<div class="apply-css-alpha">
  <mat-card>
    <mat-card-content>
      <form #createDivision="ngForm" (ngSubmit)="submitForm(createDivision)">
        <div class="mat-dialog-title">THÊM PHÒNG GIÁO DỤC</div>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-20">
          <!-- <label class="lable" fxFlex="35">Tên phòng giáo dục(*)</label> -->
          <mat-form-field appearance="outline">
            <mat-label>Tên phòng giáo dục</mat-label>
            <input matInput fxFlex type="text" required name="name" [(ngModel)]="division.name" #name="ngModel"
              placeholder="Tên phòng giáo dục" autocomplete="off">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" class="m-t-10">
          <span class="help-bpx">{{this.lblname}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-10">
          <!-- <label class="lable" fxFlex="35">Mã phòng giáo dục(*)</label> -->
          <mat-form-field appearance="outline">
            <mat-label>Mã phòng</mat-label>
            <input matInput fxFlex maxlength="20" [formControl]="codeFormControl" name="code" code required
              [(ngModel)]="division.code" placeholder="Mã phòng" autocomplete="off">
            <mat-error *ngIf="codeFormControl.hasError('pattern') || codeFormControl.errors?.cannotContainSpace">
              Mã phòng chỉ bao gồm các ký tự a-z và 0-9, .,-, _
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="end center" class="m-t-10">
          <span class="help-bpx">{{this.lblcode}}</span>
        </div>

        <mat-dialog-actions>
          <button mat-flat-button mat-dialog-close class="button-cancel">Hủy</button>
          <button mat-flat-button type="submit" color="primary" [disabled]="codeFormControl.invalid">Lưu</button>
        </mat-dialog-actions>
      </form>
    </mat-card-content>
  </mat-card>

</div>
