<div *ngIf="isReady" class="table-question-mobile">
    <div class="table-question-mobile-wrapper" >
      <div [ngClass]="{'opacity': isShow}"></div>
      
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="row-questions-control">
        <!-- <div *ngIf="currentPage>1" class="back-page" (click)="PreviousPage()">
          <mat-icon svgIcon="back-content-active"></mat-icon>
        </div>
        <div *ngIf="currentPage==1" class="back-page">
          <mat-icon svgIcon="back-circle"></mat-icon>
        </div> -->
        <div class="back-page" (click)="exitButtonHandleClick()">
          <span class="material-icons-outlined back-icon">
            logout
            </span>
        </div>
       
  
        <div fxLayoutAlign="center center" class="item-question" (click)="show()">
          <mat-icon style="color: #43a047;">apps</mat-icon>
        </div>

        <div class="pagging-mobile">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div *ngIf="currentPage>1" (click)="PreviousPage()">
              <mat-icon svgIcon="back-content-active"></mat-icon>
            </div>
            <div *ngIf="currentPage==1">
              <mat-icon svgIcon="back-circle"></mat-icon>
            </div>
            <div *ngIf="currentPage< totalPage" (click)="NextPage()">
              <mat-icon svgIcon="next-circle-active"></mat-icon>
            </div>
            <div *ngIf="currentPage == totalPage">
              <mat-icon svgIcon="next-circle"></mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="number-question" [ngClass]="{'slide-up': isShow, 'slide-down': !isShow}">
      <div class="number-question-content">
        <div fxLayout="row" fxLayoutAlign="center center">
          <button mat-icon-button (click)="show()">
            <mat-icon *ngIf="isShow==false">keyboard_arrow_up</mat-icon>
            <mat-icon *ngIf="isShow==true">keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <div class="info-labels">
          <div class="exam-name-label">{{infoExam.examName}}</div>
          <div class="sub-label" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon svgIcon="total-question" class="m-r-10 total-question-icon"></mat-icon>
            Tổng số câu hỏi: <strong class="total-question-label">{{questions.length}}</strong>
          </div>
          <div class="sub-label" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon svgIcon="total-score" class="m-r-10 total-question-icon"></mat-icon>
            <span style="margin-right: 12px;">Tổng số điểm:</span>  <strong class="total-score-label"> <span *ngIf="infoExam.isPublicScore">{{resultDoExam.realScore}}/</span> {{totalScore}}</strong>
          </div>
          <div *ngIf="resultDoExam.scoreDecuted > 0" class="sub-label">Điểm bị trừ: <strong>{{resultDoExam.scoreDecuted}}</strong></div>
        </div>
        <div class="list-items-question">
          <button mat-mini-fab class="item-question" [ngClass]="{ 'init':getResult(item.id)==null,
                                            'true':getResult(item.id)==true,
                                            'false':getResult(item.id)==false}"
            *ngFor="let item of dataQuestion;index as i" (click)="SendIndexQuestion(i+1)">
            {{i+1}}
          </button>
        </div>
        <div fxLayout="row" class="notes">
          <div fxFlex="50" fxLayoutAlign="center center">
            <button mat-mini-fab class="test_icons" id="true" class="m-r-10"></button> <span class="note-label">Đúng</span>
          </div>
          <div fxFlex="50" fxLayoutAlign="center center">
            <button mat-mini-fab class="test_icons" id="false" class="m-r-10"></button> <span class="note-label">Sai</span>
          </div>
        </div>
      </div>
    </div>
    <div class="blur"></div>
  </div>
  