<div *ngIf="isReady" class="table-question" fxHide.sm>
    <div class="number-question">
      <div *ngIf="infoTest.isPublicAnswer" fxLayout="row wrap" class="list-items-question">
        <div fxLayoutAlign="center center" class="item-question" [ngClass]="{'true': getResult(item.id) == true,
                          'false': getResult(item.id) == false,
                          'init': getResult(item.id) == null}" *ngFor="let item of dataQuestion;index as i"
          (click)="SendIndexQuestion(i+1)">
          {{i+1}}
        </div>
      </div>
      <div *ngIf="!infoTest.isPublicAnswer" fxLayout="row wrap" class="list-items-question">
        <div fxLayoutAlign="center center" class="item-question" [ngClass]="{'answered': isAnswered(item.id) == true,
                          'not-answered': isAnswered(item.id) == false}" *ngFor="let item of dataQuestion;index as i"
          (click)="SendIndexQuestion(i+1)">
          {{i+1}}
        </div>
      </div>
    </div>
    <div class="info-guide" fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="center center">
      <div *ngIf="infoTest.isPublicAnswer" fxLayout="row">
        <div fxLayoutAlign="center" class="m-r-20">
          <button mat-mini-fab class="test_icons" id="true"></button> <span class="note-label">Đúng</span>
        </div>
        <div fxLayoutAlign="center" class="m-r-20">
          <button mat-mini-fab class="test_icons" id="false"></button> <span class="note-label">Sai</span>
        </div>
        <div fxLayoutAlign="center">
          <button mat-mini-fab class="test_icons" id="essay"></button> <span class="note-label">Câu tự luận</span>
        </div>
      </div>
      <div *ngIf="!infoTest.isPublicAnswer" fxLayout="row">
        <div fxLayoutAlign="center" class="m-r-20">
          <button mat-mini-fab class="test_icons" id="true"></button> <span class="note-label">Đã trả lời</span>
        </div>
        <div fxLayoutAlign="center">
          <button mat-mini-fab class="test_icons" id="not-answered"></button> <span class="note-label">Chưa trả lời</span>
        </div>
      </div>
    </div>
  
    <div class="exam-info">
      <div fxLayout="row" fxLayoutAlign="center center" class="m-b-20">
        <ng-container *ngIf="isFull == false; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
          <button mat-button fxLayoutAlign="center center" class="btn-full-screen" (click)="openFullscreen()">
            <span *ngIf="isFull == false" class="material-icons">fullscreen</span>
            <span *ngIf="isFull==true" class="material-icons">fullscreen_exit</span>
          </button>
        </ng-template>
        <ng-template #elseTemplate>
          <button mat-button fxLayoutAlign="center center" class="btn-full-screen" (click)="closeFullscreen()">
            <span *ngIf="isFull == false" class="material-icons">fullscreen</span>
            <span *ngIf="isFull==true" class="material-icons">fullscreen_exit</span>
          </button>
        </ng-template>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" class="m-b-20">
        <div class="exam-name-label">{{infoTest.name}}</div>
        <div class="sub-label" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-icon svgIcon="total-question" class="m-r-10 total-question-icon"></mat-icon>
          Tổng số câu hỏi: <strong class="total-question-label">{{questions.length}}</strong>
        </div>
        <div class="sub-label" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-icon svgIcon="total-score" class="m-r-10 total-question-icon"></mat-icon>
          <span style="margin-right: 12px;">Tổng số điểm:</span>  <strong class="total-score-label">{{resultDoTest.realScore}}/{{totalScore}}</strong>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div  *ngIf="infoTest.testTime != 0" fxFlex="50" id="countdownExam">
          <div id="countdowntimer">
            <p>00: 00: 00</p>
          </div>
        </div>
        <div *ngIf="infoTest.testTime == 0" fxFlex="70" id="countdownExam">
          <div fxLayoutAlign="center center">
            <p style="width:fit-content;">Không hạn chế thời gian</p>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="exam-rule m-t-20">
        <div fxLayoutAlign="center center" (click)="openExamRuleDialog()">
          <span class="material-icons exam-rule-icon" style="color: #888888;">info</span>
          <span class="exam-rule-label">Quy chế thi</span>
        </div>
      </div>
    </div>
  </div>
  