.question_basic {
  position: relative;

  .content_matching {
    padding: 15px 0;

    .content_question {
      display: flex;
      width: 90%;
      margin-bottom: 5px;

      .blocks {

        .left.blank,
        .right.blank {
          visibility: hidden
        }

        .left,
        .right {
          width: 100%;
          padding: 0 0 0 13.4px;
          align-items: center;
          font-size: 14px;
          color: #555555;
          font-weight: normal;
          border: 1px solid #cacaca;
          border-radius: 3px;
          max-height: 100%;
          overflow: hidden;
          height: 65px;
          margin-right: 0px;
          position: relative;

          .item {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
          }

          .question_name {
            ::ng-deep>p {
              margin: 0;
              height: 100%;
            }

            &::-webkit-scrollbar {
              display: none;
            }
          }

          .top-edge {
            width: 10px;
            height: 21px;
            border-right: 1px solid #cacaca;
            position: absolute;
            right: 0px;
            top: 0px;
            background-color: white;
            border-bottom-right-radius: 4px;
            border-top: 0;
          }

          .bottom-edge {
            width: 10px;
            height: 15px;
            border-right: 1px solid #cacaca;
            position: absolute;
            right: 0px;
            bottom: 0px;
            background-color: white;
            border-bottom: 0;
          }

          .center-edge {
            width: 10px;
            height: 30px;
            border-left: 1px solid #cacaca;
            border-top: 1px solid #cacaca;
            border-bottom: 1px solid #cacaca;
            position: absolute;
            right: 0px;
            bottom: 15px;
            background-color: white;
            border-right: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }
        }
      }

      .both {
        .left {
          border-right: 0;

          .top-edge,
          .center-edge,
          .bottom-edge {
            right: 0px;
            left: unset;
          }
        }

        .right {
          border-left: 0;
          margin-left: -1px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}

.title {
  font-size: 14px;
  color: #555555;
  margin-bottom: 6px;
  margin-top: 10px;
  width: 100%;
  word-break: break-all;

  ::ng-deep>div>p {
    margin: 0;
  }

  ::ng-deep>p {
    margin: 0;
  }
}
