<div class="question_basic">
  <app-status-question [data]="dataQuestion"></app-status-question>
  <p *ngIf="dataQuestion.format === 'GRO'" class="title" [innerHTML]="dataQuestion.content | safeHtml"></p>
  <div class="content_matching">
    <div class="content_question" *ngFor="let answer of answers">
      <div fxLayout="row" *ngFor="let item of answer" fxFlex="100%">
        <div class="blocks both" fxLayout="row" fxFlex="100%" *ngIf="answer.length ===2; else blockLength1">
          <div class="left" *ngIf="!item.position">
            <div class="item">
              <span class="question_name" [innerHTML]="item.content | safeHtml"></span>
              <div class="top-edge"></div>
              <div class="center-edge"></div>
              <div class="bottom-edge"></div>
            </div>
          </div>
          <div class="right" *ngIf="item.position">
            <div class="item">
              <span class="question_name" [innerHTML]="item.content | safeHtml"></span>
            </div>
          </div>
        </div>
        <ng-template #blockLength1>
          <div class="blocks" fxLayout="row" *ngFor="let item of answer" fxFlex="100%">
            <!-- <div class="left" [ngClass]="{'blank': item.position}"> -->
            <div class="left" [ngClass]="{'blank': item.position}">
              <div class="item">
                <span *ngIf="!item.position" class="question_name" [innerHTML]="item.content | safeHtml"></span>
              </div>
            </div>
            <!-- <div class="right" [ngClass]="{'blank': !item.position}"> -->
            <div class="right" [ngClass]="{'blank': !item.position}">
              <div class="item">
                <span *ngIf="item.position" class="question_name" [innerHTML]="item.content | safeHtml"></span>
              </div>
            </div>
          </div>
        </ng-template>
        <div class="top-edge"></div>
        <div class="center-edge"></div>
        <div class="bottom-edge"></div>
      </div>
    </div>
  </div>
</div>