.question_basic {
  position: relative;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #ebe9f1 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}



//mark question
.mark-question {
  position: absolute;
  right: 0;
  top: -40px;
  margin-bottom: 0px;
  border: 0.5px solid #d2c3c3;
  box-sizing: border-box;
  border-radius: 4px;
  z-index: 999;
  color: #888888;
  height: 32px;
  line-height: 32px !important;
  padding: 0 7px !important;
  background: #FFFFFF !important;

  mat-icon {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
    line-height: 0.8rem;
  }
}

.question-content {
  position: relative;

  .btn-update-content {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: #FFFFFF;
    border-radius: 4px;
  }
}

.icon_button {
  height: 18px;
  width: 18px;
  font-size: 0px;
}

.mark-question-active {
  background: #FEC941 !important;
  color: white;
  border: none;
}

.upload-file-button {
  background-color: #eee;
  margin-top: 0.5rem;
  width: 10%;
}

.question-title {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #303030;
  position: relative;
  background: #FFFFFF;

  .order {
    position: absolute;
    left: 0;
    top: -3px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 22px;
    color: #4CAF50;
  }

  .score {
    position: absolute;
    right: 0;
    top: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #4CAF50;
  }
}

@media(max-width: 1024px) {
  .question {
    padding: 10px;
  }
}

@media(max-width: 415px) {
  .question {
    background: none !important;
  }
}
