.sound-content-header {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 6px !important;
  padding: 2px;
  height: 50px;
  margin: 20px;

  &_title {
    line-height: 40px;
    padding-top: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
  }
}

.content-sound_card {
  .image {
    height: calc(100% - 88px);
    width: calc(100% - 40px);
    border: 2px solid #555555;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #555555;
    border-radius: 6px;

    img {
      // height: 45vh;
    }

    .isLoad {
      pointer-events: none;
    }
  }

  &.fullLayout .image {
    width: 100%;
    height: 100%;
  }

  // padding: 20px 20px 0px 20px !important;
  margin: unset !important;
  margin-bottom: 0px !important;

  // height: calc(100vh - 270px);
  height: calc(100vh - 115px);
  // box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  // box-shadow: none !important;
  border-radius: 6px !important;

  &.dark {
    border-radius: 0 !important;
    background-color: #161616 !important;

    .image {
      background: #282c34 !important;
    }

    // .image{
    //   height: calc(100% - 75px);
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    // }
  }
}

.content-text_card {
  margin-top: 0px !important;
  // padding: 8px !important;
  height: 100%;
  // border-top-left-radius: 0px !important;
  // border-top-right-radius: 0px !important;
  // border-top: 1px solid #f1f1f2;

  // box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  // border-radius: 6px;

  .text_note {
    font-style: italic;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin: 10px;
  }
}

.fullscreen_icon {
  cursor: pointer;
  position: absolute;
  bottom: 60px;
  right: 30px;
}

.full-exit-screen {
  cursor: pointer;
}

.footer-action {
  margin: 10px 20px;
}

.button-danger {
  background: linear-gradient(0deg, #da251d, #da251d), #da251d;
}

audio {
  visibility: hidden
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.33s, opacity 0.33s;
}

@media screen and (max-width: 525px) {

  .content-sound_card{
    height: calc(100vh - 200px);
  }

  .content-sound_card .image {
    width: calc(100% - 20px);

    img {
      width: 85%;
    }
  }
}
