<mat-card *ngIf="soundLink" id="sound-player" class="content-sound_card" [ngClass]="{'dark': isDarkModeEmit, 'fullLayout': isFullScreen}">
  <div class="image">
    <img src="/assets/images/sound.svg" alt="">
  </div>
  <audio controls id="sound" preload="metadata">
    <source [src]="soundLink" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

  <app-progress-player [isHide]="false" [tag]="'media'" [linkAudio]="content.link" (emitDuration)="handleDurationAudio($event)"
    [ngClass]="{'hidden':isFullScreen==true && isOnBottom==false, 'isLoad': !isLoadDone}">
  </app-progress-player>
</mat-card>