:host ::ng-deep .mat-dialog-container {
  overflow: hidden;
  border-radius: 6px;
}

.content {
  p {
    margin: 0;
    color: #303030;
    font-size: 16px;
    margin-bottom: 19px;
    text-align: center
  }

  textarea {
    height: 119px;
    padding: 8px 13px;
    border: 0.5px solid #B0B0B0;
    border-radius: 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #303030;
    width: 100%;
  }
}
