<div class="apply-css-alpha" style="height: 100%;">
  <mat-card style="height: 100%;">
    <mat-card-content style="height: 100%;">
      <form #createSubject="ngForm" (ngSubmit)="submitForm(createSubject)" style="height: 100%;">
        <div class="mat-dialog-title">THÊM MÔN HỌC</div>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-20">
          <!-- <label class="lable" fxFlex="35">Tên môn(*)</label> -->
          <mat-form-field appearance="outline">
            <mat-label>Tên môn</mat-label>
            <input matInput fxFlex type="text" required name="name" [(ngModel)]="subject.name" #name="ngModel"
              (input)="findIcon()" placeholder="Tên môn" autocomplete="off">
          </mat-form-field>
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="end center" class="m-t-10">
      <span class="help-bpx">{{this.lblname}}</span>
    </div> -->
        <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-20">
          <!-- <label class="lable" fxFlex="35">Vị trí sắp xếp (*)</label> -->
          <mat-form-field appearance="outline">
            <mat-label>Vị trí sắp xếp</mat-label>
            <input required matInput fxFlex maxlength="20" onkeydown="javascript: return event.keyCode === 8 ||
          event.keyCode === 46 ? true : !isNaN(Number(event.key))" name="orderNumber" [(ngModel)]="subject.orderNumber"
              #code="ngModel" placeholder="Vị trí sắp xếp" autocomplete="off">
          </mat-form-field>
        </div>

        <div fxLayout="row" class="m-t-20" fxLayoutGap="7px" fxLayoutAlign="start center">
          <span class="title">Biểu tượng</span>
          <div class="selected-item" fxLayoutAlign="center center">
            <mat-icon svgIcon="{{selected}}" class="selected-item__icon"></mat-icon>
          </div>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" class="icon-container">
          <div fxLayoutAlign="center center" class="icon-container-item" *ngFor="let item of subjectIcon"
            [ngClass]="{'selected':selected===item.link}">
            <mat-icon svgIcon="{{item.link}}" class="subject-icon" (click)="choseIcon(item)"></mat-icon>
          </div>
        </div>



        <!-- <div fxLayout="row" fxLayoutAlign="end center" class="m-t-10">
      <span class="help-bpx">{{this.lblOrderNumber}}</span>
    </div> -->
        <mat-dialog-actions class="action">
          <button mat-flat-button mat-dialog-close class="button-cancel">Hủy</button>
          <button mat-flat-button type="submit" color="primary">Lưu</button>
        </mat-dialog-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
