<div fxLayout="column" class="exam-rule-dialog-container">
    <div fxFlex="row" fxLayoutAlign="center start" class="exam-rule-dialog-header">
        <span class="exam-rule-dialog-title">QUY CHẾ THI</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="exam-rule-dialog-content">
        <!-- Tạm thời comment lockScreenTest do chưa thực hiện tính năng này -->
        <!-- <p> {{lockScreenTest}} </p> -->
        <p> {{publicScore}} </p>
        <p> {{publicAnswer}} </p>
    </div>
    <div fxFlex="row" fxLayoutAlign="center center" class="m-t-10">
        <button mat-raised-button color="warn" mat-dialog-close="true">Đóng</button>
    </div>
</div>
