<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex fxLayoutAlign="start center" fxFlex fxFlex.gt-md="75" fxLayoutAlign.gt-xs="start center" class="mat-title mb-0">
          Danh sách bài làm thí sinh
        </div>
        <div fxFlex fxLayoutAlign="center center" fxFlex fxFlex.gt-md="25" fxLayoutAlign.gt-xs="end center">
          <button *ngIf="isShowFilter" class="button-hidden-filter" (click)="onClickToggleShowFilter()"
            mat-raised-button>
            <span class="material-icons">visibility_off</span>
            Ẩn bộ lọc
          </button>
          <button *ngIf="!isShowFilter" class="button-hidden-filter" (click)="onClickToggleShowFilter()"
            mat-raised-button>
            <span style="width: 24px;" class="material-icons">visibility_on</span>
            Hiện bộ lọc
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="manage-card" *ngIf="isShowFilter">
    <mat-card-content>
      <form [formGroup]="filterSubjectDoExam" (ngSubmit)="onSubmit()">
        <div fxLayout="row wrap" class="action-button">
          <div fxFlex="25" fxLayoutAlign="start center" class="filter-control">
            <mat-form-field fxFlex="100" appearance="outline" class="matFormFieldSelectBox" [floatLabel]="'never'">
              <mat-label>Chọn trạng thái</mat-label>
              <mat-select formControlName="statusCtrl" placeholder="Chọn trạng thái" disableOptionCentering>
                <mat-option value="">
                  Tất cả
                </mat-option>
                <mat-option value="false">
                  Chưa chấm
                </mat-option>
                <mat-option value="true">
                  Đã chấm
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="75" fxLayoutAlign="end center" class="filter-control">
            <button mat-raised-button color="primary">
              <mat-icon matSuffix>filter_list</mat-icon>
              Lọc kết quả
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="manage-card">
    <!-- <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div> -->
    <div class="filter_table_midle">
      <table mat-table [dataSource]="data">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="start center"> STT </th>
          <td mat-cell *matCellDef="let element; let i=index" fxFlex="20" fxLayoutAlign="start center"> {{i +
                        1}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef fxFlex="60" fxLayoutAlign="center center"> TRẠNG THÁI </th>
          <td mat-cell *matCellDef="let element" fxFlex="60" fxLayoutAlign="center center">
            <div class="status-badge-upcoming" *ngIf="!element.isFisnished">
              Chưa chấm
            </div>
            <div class="status-badge-end" *ngIf="element.isFisnished">
              Đã chấm
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="checkScore">
          <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="end center"> CHẤM ĐIỂM </th>
          <td mat-cell *matCellDef="let element" fxFlex="20" fxLayoutAlign="end center">
            <button mat-icon-button title="Chấm điểm" (click)="navigateMarking(element.id)" matToolTip="Chấm điểm">
              <mat-icon svgIcon="check-do-exam"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>c
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell background-no-content">
            <div class="background-no-content-img"></div>
            <div class="background-no-content-info">
              <p>Không tìm thấy bài làm của thí sinh</p>
            </div>
          </td>
        </tr>
      </table>
      <mat-paginator [length]="totalItems" [pageSizeOptions]="[10, 5, 25, 100]"></mat-paginator>
    </div>
  </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=10px>
  <button mat-stroked-button class="mt-3 mb-3 button-cancel" (click)="previous()">Quay lại</button>

</div>
