<div class="apply-css-alpha">
  <app-spinner2 [fullScreen]="true"></app-spinner2>
  <mat-card class="container-add-teacher">
    <form [formGroup]="addTeacherFromFile" (ngSubmit)="onSubmitHandleClick()">
      <mat-card-content>
        <div class="row-add-teacher">
          <p class="row-add-teacher_header">Thêm tập tin QTV, Giáo viên</p>
        </div>

        <div class="row-add-teacher">
          <a download target="_blank" class="download-sample-file-button" [href]="getLinkExcelTemplate()">
            <button type="button" mat-raised-button color="primary" class="button-download-file"
              matTooltip="Tải file mẫu">
              <mat-icon class="svg-download-template" svgIcon="download-template"></mat-icon>
            </button>
          </a>
          <div class="row-add-teacher_dropdown_item display-flex-item m-b-20">
            <mat-form-field appearance="outline" (click)="onUserTypeSelectClicked()">
              <mat-label>Chọn kiểu người dùng</mat-label>
              <mat-select [formControl]="userTypeCtrl" required ngDefaultControl #singleSelectUserType
                disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm kiểu người dùng" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="userTypeFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let userType of filteredUserTypes | async" [value]="userType.id">
                  {{userType.name}}
                </mat-option>
              </mat-select>
              <mat-error class="errors-msg" *ngIf="userTypeCtrl.hasError('required')">
                Chọn một kiểu người dùng (*)
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="levelManageValue==1 && !this.isDepartmentLevelUserType" class="m-b-20">
            <div class="row-add-teacher_dropdown_item" *ngIf="levelManageValue==1 && !this.isDepartmentLevelUserType">
              <mat-form-field appearance="outline" (click)="onDivisionSelectClicked()">
                <mat-label>Chọn phòng</mat-label>
                <mat-select [formControl]="divisionCtrl" ngDefaultControl placeholder="Chọn phòng"
                  (selectionChange)="onChangeDivisionSelected($event.value)" #singleSelectDivision
                  [required]="this.divisionRequired" disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="divisionFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                    {{division.name}}
                  </mat-option>
                </mat-select>
                <mat-error class="errors-msg" *ngIf="divisionCtrl.hasError('required')">
                  Vui lòng chọn một phòng (*)
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row-add-teacher_dropdown_item m-b-20" *ngIf="levelManageValue<=2 && this.isSchoolLevelUserType">
            <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
              <mat-label>Chọn trường</mat-label>
              <mat-select [formControl]="schoolCtrl" required placeholder="Chọn trường" #singleSelectSchool
                disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="schoolFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                  {{school.name}}
                </mat-option>
              </mat-select>
              <mat-error class="errors-msg" *ngIf="this.isSchoolLevelUserType && schoolCtrl.hasError('required')">
                Vui lòng chọn một trường (*)
              </mat-error>
            </mat-form-field>
          </div>
          <ngx-dropzone (change)="uploadFile($event)"
            accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
            <ngx-dropzone-label>
              <span class="material-icons primary file-icon">
                folder
              </span>
              <div class="row-add-teacher_lable_header">
                Kéo thả hoặc tải lên tập tin QTV, Giáo viên
              </div>
              <p *ngIf="!file" class="no-file-choose-text">Không có tệp nào được chọn</p>
            </ngx-dropzone-label>
            <ngx-dropzone-preview *ngIf="file != undefined" [removable]="true" (removed)="onRemove(file)">
              <ngx-dropzone-label><span>{{ file.name }}</span></ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
          <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20" class="errors-msg"
            *ngIf="isHasFile == false">
            <div fxFlex="100" fxLayoutAlign="end center">
              <div *ngIf="isHasFile == false" class="row-add-teacher_label_text text-danger text-header">
                Vui lòng chọn tệp (*)
              </div>
            </div>
          </div>
        </div>
        <div group-button style="margin-top: 34px;">
          <div fxLayout="row" fxLayoutAlign="center start" class="row-flex">
            <button type="button" mat-raised-button class="button-cancel m-r-10 m-l-10"
              (click)="onBackToManagerHandleClick()">VỀ TRANG QUẢN LÝ</button>

            <button mat-raised-button type="submit" color="primary" class="btn_continue m-r-10 m-l-10"
              [disabled]="isDisableSendButton">GỬI</button>
          </div>
        </div>

        <div class="row-add-teacher_note row-add-teacher_label_text row-add-teacher_lable_header">
        </div>
      </mat-card-content>

    </form>
  </mat-card>

  <div [hidden]="!isLoadTableData">
    <mat-card class="container-information-data" [hidden]="!isLoadTableData">
      <div class="row-information">
        <div class="row-information_header-text text-header"> THÔNG TIN DỮ LIỆU </div>
        <div class="text-danger text-header" style="text-align:center;line-height: 40px;">Dữ liệu người dùng lỗi. Vui
          lòng
          kiểm tra dữ liệu và thao tác lại tệp tin</div>
        <div class="row-information_table">
          <div class="row-information_table_left">
            <div class="row-information_table_header text-header">Thông tin</div>
            <div class="row-information_table_left_total-up-content">Tổng số người dùng tải lên</div>
            <div class="row-information_table_left_check-valid-content">Số người dùng tải kiểm tra hợp lệ</div>
            <div class="row-information_table_left_check-invalid-content">Số người dùng kiểm tra không hợp lệ
            </div>
          </div>
          <div class="row-information_table_right">
            <div class="row-information_table_header text-header">Kết quả</div>
            <div class="row-information_table_right_total-up-content">{{totalUpCount}}</div>
            <div class="row-information_table_right_check-valid-content text-header text-success">{{totalUpCount
              -
              errorCount}}
            </div>
            <div class="row-information_table_right_check-invalid-content text-header text-danger">
              {{errorCount}}
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <div [hidden]="!isLoadTableData" #scrollBottom>
    <mat-card class="error-list">
      <div class="row-information">
        <table mat-table [dataSource]="dataSource">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef fxFlex="13" fxLayoutAlign="start center"> STT
              </th>
              <td mat-cell *matCellDef="let element;let i = index" fxFlex="13" fxLayoutAlign="start center">
                {{i+1}}
              </td>
            </ng-container>

            <ng-container matColumnDef="column">
              <th mat-header-cell *matHeaderCellDef fxFlex="13" fxLayoutAlign="start center"> HÀNG
              </th>
              <td mat-cell *matCellDef="let element" fxFlex="13" fxLayoutAlign="start center">
                {{element.rowData.no}}
              </td>
            </ng-container>

            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef fxFlex="13" fxLayoutAlign="start center"> HỌ
              </th>
              <td mat-cell *matCellDef="let element" fxFlex="13" fxLayoutAlign="start center">
                <span class="text-overflow">{{element.rowData.lastName}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef fxFlex="13" fxLayoutAlign="start center"> TÊN
              </th>
              <td mat-cell *matCellDef="let element;let i = index" fxFlex="13" fxLayoutAlign="start center">
                <span class="text-overflow">{{element.rowData.firstName}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="userName">
              <th mat-header-cell *matHeaderCellDef fxFlex="13" fxLayoutAlign="start center"> MÃ ĐỊNH DANH
              </th>
              <td mat-cell *matCellDef="let element;let i = index" fxFlex="13" fxLayoutAlign="start center">
                <span class="text-overflow">{{element.rowData.userName}}</span>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef fxFlex="13" fxLayoutAlign="start center">EMAIL
              </th>
              <td mat-cell *matCellDef="let element" fxFlex="13" fxLayoutAlign="start center">
                <span class="text-overflow">{{element.rowData.email}}</span>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="infoError">
              <th mat-header-cell *matHeaderCellDef fxFlex="22" fxLayoutAlign="start center">THÔNG TIN LỖI
              </th>
              <td mat-cell *matCellDef="let element" fxFlex="22" fxLayoutAlign="start center">
                <div class="row-flex-direction">
                  <div *ngFor="let item of element.errorResult" class="text-danger text-header">
                    <span *ngIf="item.reasonType == 'NUL'"> [{{item.columnError}}] không được để
                      trống
                    </span>
                    <span *ngIf="item.reasonType == 'MAL'"> [{{item.columnError}}] đã vượt quá kí tự
                    </span>
                    <span *ngIf="item.reasonType == 'IES'"> [{{item.columnError}}] đã tồn tại
                    </span>
                    <span *ngIf="item.reasonType == 'BAF'"> [{{item.columnError}}] sai định dạng
                    </span>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Đã tải lên thành công</td>
            </tr>
          </div>
        </table>
        <mat-paginator [length]="2" [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
      </div>
    </mat-card>
  </div>
</div>