<mat-tab-group (selectedTabChange)="changeTab($event)" class="tab-container">
  <mat-tab label="Thông tin">
    <app-setting-info [currentTab]="currentTab"></app-setting-info>
  </mat-tab>
  <mat-tab label="Trang chủ">
    <app-setting-home [currentTab]="currentTab"></app-setting-home>
  </mat-tab>

  <mat-tab label="Thang đánh giá">
    <app-setting-evaluate [currentTab]="currentTab"></app-setting-evaluate>
  </mat-tab>

  <mat-tab label="Cấu hình gmail">
    <app-setting-config-gmail [currentTab]="currentTab"></app-setting-config-gmail>
  </mat-tab>
<!-- 
  <mat-tab label="Người dùng">
    <app-user-setting></app-user-setting>
  </mat-tab> -->
</mat-tab-group>
