.tab-container {
  margin: 18px 15px;
}

:host::ng-deep .mat-tab-labels {
  background-color: white;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

:host::ng-deep .mat-tab-label .mat-tab-label-content {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #303030;
}

.vertical-line {
  height: 20px;
  border: 1px solid #CACACA;
}
