<div fxHide.xs>
  <div class="header">
    <h3 class="title">Bài giảng lộ trình</h3>
    <div fxLayout=row fxLayout.md="column" fxLayout.sm="column" fxLayoutAlign.sm="none" fxLayoutAlign.md="none"
      fxLayoutGap.md="20px" fxLayoutGap.sm="20px" fxLayoutAlign="center center">
      <div fxFlex=50 fxLayoutGap=25px style="margin-bottom: 0 !important;">

      </div>
      <div fxFlex=50 fxLayoutAlign="end center" fxLayoutAlign.md="start center" fxLayoutAlign.sm="start center"
        fxLayoutGap="30px">
        <div fxLayout=row class="search" fxFlex="100" fxFlex=60 fxLayoutAlign="end center">
          <input type="text" class="searchTerm" placeholder="Tìm kiếm tên bài giảng..." [(ngModel)]="lessonSearch" (keydown.enter)="filter()">
          <button type="submit" class="searchButton">
            <mat-icon>search</mat-icon>
          </button>
        </div>

        <div>
          <button *ngIf="lessonSearch || isFilter == true" mat-raised-button color="primary" (click)="filter()"
            class="button-filter">
            <mat-icon svgIcon="filter-white" class="icon-filter">
            </mat-icon>
          </button>

          <button *ngIf="!lessonSearch && isFilter == false" mat-raised-button (click)="filter()" class="button-filter"
            [disabled]="isFilter == false"
            [ngClass]="{'filter-submit':isFilter ==true,'button-filter-disable':isFilter==false}">
            <mat-icon svgIcon="filter-black" class="icon-filter">
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="lessons.length == 0; else elseTemplate">
    <mat-card fxLayout="column" fxLayoutAlign="center center" class="content-not-found">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" *ngIf="isFilter==false">
        <img src="../../../../../assets/images/lesson/lessonNotFound.png" alt="">
        <div>
          <span>Không tìm thấy bài giảng
          </span>
        </div>
      </div>
    </mat-card>


  </ng-container>
  <ng-template #elseTemplate>
    <div fxLayout="column">
      <div class="list-lesson">
        <div>
          <div fxLayout="row wrap">
            <div
              *ngFor="let lesson of lessons | paginate: { id: 'first', itemsPerPage: itemsPerPage, currentPage: page, totalItems:totalLength }; let i = index"
              fxFlex.gt-lg="20" fxFlex.gt-md="25" fxFlex.md="50" fxFlex.sm="50" fxLayoutAlign="center center"
              class="list-lesson-dashboard">

              <a [routerLink]="['/detail-lesson']" [queryParams]="{lesson: lesson.id}" queryParamsHandling="merge"
                class="card">
                <mat-card fxFlex="100" class="mat-card-lesson">
                  <mat-card-content class="content">
                    <div fxLayout="column" fxLayoutGap=10px>
                      <div class="image-subject">
                        <img mat-card-image
                          src="{{lesson.avatarUrl==''?'../../../../../assets/images/background/lesson-background-1.jpg':lesson.avatarUrl}}"
                          class="image-subject">
                        <span class="subject-name" [style.background-color]="listColor[i]">{{lesson.subjectName}}</span>
                      </div>

                      <span class="lesson-name">
                        {{lesson.name}}
                      </span>
                      <div fxLayout="row">
                        <div fxLayoutAlign="start center">
                          <img src="{{lesson.teacherAvatar}}"
                            style="height: 30px; width: 30px; border-radius: 50%; margin-right: 5px;">
                          <span class="text-title"> GV: {{lesson.teacherName}} </span>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div style="margin-top:10px;" fxLayout="row" fxLayoutAlign="center center">
        <pagination-controls id="first" class="paging my-pagination" previousLabel="" nextLabel=""
          (pageChange)="page=$event">
        </pagination-controls>
      </div>
    </div>
  </ng-template>


</div>

<!--mobile-->

<div fxHide.lg fxHide.lt-xl fxHide.xl fxHide.gt-lg fxHide.gt-md fxShow.xs class="mobile">
  <div class="mobile-header" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title-moblie">Bài giảng lộ trình</span>
  </div>

  <div fxLayout=column fxLayoutGap="25px" class="filter-container-mobile">
    <input type="text" class="searchTerm" placeholder="Tìm kiếm tên bài giảng..." [(ngModel)]="lessonSearch">
    <button mat-raised-button color="primary" (click)="filterMobile()">Lọc</button>
  </div>
  <ng-container *ngIf="lessons.length == 0 else elseTemp">
    <div fxLayout.xs="column" fxLayoutAlign.xs="center center">
      <img src="../../../../../assets/images/lesson/lessonNotFound.png" alt="" class="lesson-not-found-mobile">
      <div>
        <span>Bạn chưa được ghi danh vào khóa học nào </span>
      </div>
    </div>
  </ng-container>
  <ng-template #elseTemp>
    <div
      *ngFor="let lesson of lessons | paginate: { id:'two', itemsPerPage: 8, currentPage: page, totalItems:totalLength }; let i = index"
      fxLayout="column">
      <a [routerLink]="['/detail-lesson']" [queryParams]="{lesson: lesson.id}" queryParamsHandling="merge">

        <div fxLayout="row" fxFlex=100>
          <div fxFlex=15>
            <img src="{{lesson.avatarUrl}}" class="avartar-course-mobile">
          </div>
          <div fxLayout="column" fxFlex=100>
            <span class="lesson-name">{{lesson.name}}</span>
            <p class="text-title"> GV: {{lesson.teacherName}} </p>
          </div>
          <div class="subject-mobile" fxFlex.xs=17>
            <span fxLayoutAlign="center center" class="subject-name-mobile"
              [style.background-color]="listColor[i]">{{lesson.subjectName}}</span>
          </div>
        </div>
      </a>
      <br>
    </div>
    <div fxLayout.xs="row" fxLayoutAlign.xs="center center">
      <pagination-controls id="two" class="paging my-pagination" previousLabel="" nextLabel=""
        (pageChange)="page=$event">
      </pagination-controls>
    </div>

  </ng-template>
</div>
<!--reponsive-->