.question-content {
  height: fit-content;
  min-height: 340px;
}

.container {
  font-size: 13px;
}

.phuong-an-content {
  margin-top: -7.4rem;
  padding: 1rem;
  margin-left: 0.5rem;
}

.phuong-an-content-column {
  margin-top: 0.5rem;

  padding: 1rem;
}
  
.center-btn-footer {
  text-align: center;
  margin-top: 20px;
}

.btn-footer {
  margin: 0px 10px;
}

.btn-success {
  background-color: #a8ce54;
  color: #fff;
}

.btn-cancel {
  background-color: #e5e5e5;
}

.btn-fixed-width {
  width: 100px;
}

.m-10 {
  margin-top: 10px;
}

.container-answer {
  margin-top: 0.5rem;
}
.combobox_selection {
  width: 200px !important;
}

.isCloneQuestion .table_question_title{
  font-size: 13px;
  color: #555555;
  opacity: 0.98;
  font-weight: normal;
  margin-bottom: 6px;
  ::ng-deep ckeditor .cke_chrome{
    border-radius: 2px;
}
}

.isClone{
  display: none !important;
}

.add_question{
  display: block;
}