<p class="title-callsupport">Xử lý vi phạm</p>
<mat-form-field style="width:100%">
  <mat-label>Phương thức xử lý:</mat-label>
  <mat-select>
    <mat-option value="option1">Cảnh cáo</mat-option>
    <mat-option value="option2">Trừ điểm</mat-option>
    <mat-option value="option3">Đình chỉ thi</mat-option>
  </mat-select>
</mat-form-field>
<p>Diễn giải:</p>
<textarea class="description"></textarea>
<div style="float:right;margin-bottom: 10px;">
  <button mat-raised-button color="primary" style="margin-right: 15px;">Gửi</button>
  <button mat-raised-button mat-dialog-close>Hủy</button>
</div>
