textarea {
    resize: none;
    width: 100%;
    height: 45%;
    min-height: fit-content;
  }
  
  .title-callsupport {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color:red
  }
  .description{
    padding:1rem;
    border-radius: 10px;
  }
  .description:focus{
    border-radius: 10px;
  }
  