// .create-info {
//    font-size: 13px;
// }

a .create-exam {
  background: #4caf50;
  color: white;
  margin-right: 20px;
}

.input-text {
  height: 31px;
  color: #555555;
  border: 1px solid #555555;
  border-radius: 3px;
  padding: 5px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  height: 29px;
}

.searchButton {
  background: none;
  border: none;
  margin-left: -32px;
  color: #555555;
}

.icon-filter {
  width: 12px;
}

table {
  box-shadow: none;
  width: 100%;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #303030;
}

.search-input {
  width: 245px;
  height: 30px;

  border: 0.5px solid #555555;
  box-sizing: border-box;
  border-radius: 2px;

  padding: 5px;
}

.icon-table {
  height: 16px;
  width: auto;
}

.row_flex {
  margin-top: 20px;
}

.combobox_selection {
  width: 146px;
  height: 30px;
  border: 0.5px solid #555555;
  box-sizing: border-box;
  border-radius: 2px;
  color: #555555;
}

.center-element {
  text-align: center;
}

.delete-button {
  margin-left: 24px;
}

.paginator {
  margin-right: 3rem;
}

// /


.btn-action {
  color: #7e8485;
}

// .btn-action.reject {
//     color: #da251d;
// }
// .btn-action.approval {
//     color: #43a047;
// }

.td_status {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.editing {
  background: #4f91ff;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.waiting {
  background: #e5ae40;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.approved {
  background: #4caf50;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.rejected {
  background: #f8877f;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.mat-row {
  height: 66px;
}

.mat-column-name {
  max-width: 30%;
}
