<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <form [formGroup]="filterForm">
        <div class="manage-filter">
          <div *ngIf="levelManageValue==1" class="manage-filter-item">
            <mat-form-field appearance="outline" (click)="onDivisionSelectClicked()">
              <mat-label>Phòng</mat-label>
              <mat-select [formControl]="divisionCtrl" placeholder="Chọn phòng" #singleSelectDivision
                disableOptionCentering (selectionChange)="onChangeDivisionSelected($event.value)">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="divisionFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                  {{division.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="levelManageValue<=2" class="manage-filter-item">
            <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
              <mat-label>Trường</mat-label>
              <mat-select [formControl]="schoolCtrl" placeholder="Chọn trường" #singleSelectSchool
                disableOptionCentering (selectionChange)="onChangeSchoolSelected($event.value)">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="schoolFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                  {{school.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="manage-filter-item">
            <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
              <mat-label>Khối</mat-label>
              <mat-select [formControl]="gradeCtrl" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="gradeFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option value="">
                  Tất cả
                </mat-option>
                <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                  {{grade.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="manage-filter-item">
            <mat-form-field appearance="outline">
              <mat-label>Hình thức</mat-label>
              <mat-select [formControl]="examTypeCtrl" placeholder="Chọn hình thức" disableOptionCentering>
                <mat-option value="">
                  Tất cả
                </mat-option>
                <mat-option value="FRE">
                  Tự do
                </mat-option>
                <mat-option value="CON">
                  Tập trung
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="manage-filter-item manage-filter-item-fill" fxLayoutAlign="center center"
            fxLayoutAlign.gt-sm="end center">
            <button mat-raised-button color="primary" (click)="filterExam()">
              <mat-icon matSuffix>filter_list</mat-icon>
              Lọc kết quả
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <table mat-table [dataSource]="dataExamPagination.items" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Tên kỳ thi</th>
        <td mat-cell *matCellDef="let element" class="mat-main-column">
          <span class="td_name">{{element.name}}</span>
          <div class="td_status">
            <span class="editing" *ngIf="element.status=='EDI'">Đang chỉnh sửa</span>
            <span class="waiting" *ngIf="element.status=='WAI'">Chờ duyệt</span>
            <span class="approved" *ngIf="element.status=='PUB'">Đã duyệt</span>
            <span class="rejected" *ngIf="element.status=='REF'">Bị trả lại</span>
          </div>
        </td>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="grade">
        <th style="text-align: center; min-width: 80px;" mat-header-cell *matHeaderCellDef> Khối </th>
        <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.gradeName}}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="creator">
        <th mat-header-cell *matHeaderCellDef> Tên người tạo </th>
        <td mat-cell *matCellDef="let element"> {{element.creatorName}} </td>
      </ng-container>

      <ng-container matColumnDef="scope">
        <th mat-header-cell *matHeaderCellDef class="center-element"> Hình thức thi </th>
        <td mat-cell *matCellDef="let element" class="center-element">
          <ng-container *ngIf="element.type == 'CON'; else elseTemplate">
            <span>Tập trung</span>
          </ng-container>
          <ng-template #elseTemplate>
            <span>Tự do</span>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDe class="center-element"> Hình thức thi </th>
        <td mat-cell *matCellDef="let element" class="center-element"> {{element.type}} </td>
      </ng-container>
      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef class="mat-column-date"> Thời gian bắt đầu </th>
        <td mat-cell *matCellDef="let element" class="mat-column-date"> {{element.startDate | date:
                    'dd/MM/yyyy'}}
        </td>
      </ng-container>
      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef class="mat-column-date"> Thời gian kết thúc </th>
        <td mat-cell *matCellDef="let element" class="mat-column-date"> {{element.endDate | date: 'dd/MM/yyyy'}}
        </td>
      </ng-container>
      <!-- fuction Column -->
      <ng-container matColumnDef="function">
        <th mat-header-cell *matHeaderCellDef> Chức năng </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon [routerLink]="['/dashboard/examination-manager/exams/approval', row.id]" matTooltip="Xem chi tiết">
            visibility</mat-icon>
          <mat-icon matTooltip="Duyệt" (click)="approveExam(row.id)">check_circle_outline</mat-icon>
          <mat-icon matTooltip="Trả lại" (click)="rejectExam(row.id)">undo</mat-icon>
        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
      <tr class="mat-row" *matNoDataRow>
        <td colspan="8" class="mat-cell background-no-content">
          <div class="background-no-content-img"></div>
          <div class="background-no-content-info">
            <p>Không tìm thấy kỳ thi</p>
          </div>
        </td>
      </tr>
    </table>
    <mat-paginator [length]="dataExamPagination.totalItems" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </mat-card>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" class="p-b-20">
    <button mat-raised-button class="m-r-10 button-cancel" (click)="backToContent()">Quay
      lại</button>
  </div>
</div>
