.label_combobox {
  color: #555555 !important;
}

.combobox_selection {
  // width: 146px;
  height: 30px;
  border: 0.5px solid #ccc;
  box-sizing: border-box;
  border-radius: 2px;
  color: #555555;
}

.row_flex {
  display: flex;
  padding: 10px;
}

.combobox_action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 6px;
}

.input-infor {
  height: 29px;
  color: #555555;
  font-family: "Open Sans", sans-serif;
  padding: 8px;
  border: 0.5px solid #ccc;
  border-radius: 2px;
}
.order-number,
.action-col {
  width: 50px !important;
}

.icon-add {
  font-size: auto;
  color: #4caf50;
}

select {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}
.center-element {
  text-align: center;
}

// Select box
// select box
:host ::ng-deep .matFormFieldSelectBox {
  line-height: 18px;
  color: #555555;
  margin-bottom: 5px;
}
:host ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(-10%);
}
:host ::ng-deep .mat-form-field-underline {
  display: none;
}

:host ::ng-deep .mat-form-field-infix {
  width: 95%;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.mat-select-panel-wrap {
  position: relative;
  top: 26px;
}

.mat-select-panel-wrap .mat-select-panel {
  min-width: calc(100% + 12px) !important;
  transform: translateX(4px) !important;
}

:host ::ng-deep .mat-form-field-wrapper {
  width: 100% !important;
  padding-bottom: 0px !important;
}

.hide-row {
  display: none !important;
}

.disabled-action {
  cursor: not-allowed !important;
}
.title-center {
  text-align: center;
  font-weight: bold;
}
.container {
  margin: -24px !important;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important;
}
.padding-b-36 {
  padding-bottom: 36px !important;
}
.mat-card-content-dialog {
  height: 600px;
}
// .div-table{
//   overflow-y: auto;
//   max-height: 377px;
// }

.example-container {
  max-height: 300px !important;
  overflow: auto !important;
  width: 100% !important;
}

table {
  width: 100% !important;
}
.font-size-14 {
  font-size: 14px;
}
