<div class="apply-css-alpha">
  <mat-card class="manage-card container p-20">
    <mat-card-content class="mat-card-content-dialog">
      <div fxLayout="column" *ngIf="this.currentMatrixData!=null">
        <div class="mat-dialog-title">MA TRẬN ĐỀ THI</div>
        <hr>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="row_flex">
          <label fxLayoutAlign="start center" class="font-size-14">Tên ma trận (*): </label>
          <mat-form-field appearance="outline" fxFlex=88 fxLayoutAlign="end center">
            <mat-label>Tên ma trận</mat-label>
            <input matInput [(ngModel)]="currentMatrixData.name" type="text">
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" class="row_flex">
          <!-- <div fxFlex="33.33" fxLayout="row">
            <label fxFlex="36" fxLayoutAlign="start center">Số đề cần tạo: </label>
            <mat-form-field appearance="outline" fxFlex="60" fxLayoutAlign="end center">
              <mat-label>Số đề cần tạo</mat-label>
              <input matInput matTooltip="Tạo tối đa 3 đề" min="1" max="3"
                onblur="{if (this.value < 1) {this.value = 1;}if (this.value > 3) {this.value = 3;}}"
                [(ngModel)]="currentMatrixData.numberTest" type="number">
            </mat-form-field>
  
          </div> -->
          <div fxFlex="33.33" fxLayoutAlign="stat center" class="combobox_action">
            <label fxFlex="36" fxLayoutAlign="start center" class="font-size-14">Khối thi: </label>
            <mat-form-field fxFlex="60" appearance="outline" floatLabel="never">
              <!-- <mat-label>Khối thi</mat-label> -->
              <mat-select disabled title="{{currentMatrixData.gradeName}}" value="1" class="matFormFieldSelectBox">
                <mat-option value="1">{{currentMatrixData.gradeName}}</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <select fxFlex="70" disabled class="combobox_selection" title="{{currentMatrixData.gradeName}}">
              <option value="1">{{currentMatrixData.gradeName}}</option>
            </select> -->
          </div>
          <div fxFlex="33.33" fxLayoutAlign="end center" class="combobox_action">
            <label fxFlex="25" fxLayoutAlign="start center" class="font-size-14">Môn thi: </label>
            <mat-form-field fxFlex="70" appearance="outline" floatLabel="never">
              <!-- <mat-label>Môn thi</mat-label> -->
              <mat-select disabled title="{{currentMatrixData.subjectName}}" value="1" class="matFormFieldSelectBox">
                <mat-option value="1">{{currentMatrixData.subjectName}}</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <select fxFlex="70" disabled class="combobox_selection" title="{{currentMatrixData.subjectName}}">
              <option value="1">{{currentMatrixData.subjectName}}</option>
            </select> -->
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="row_flex">
          <div fxFlex="33.33" fxLayout="row">
            <label fxFlex="36" fxLayoutAlign="start center" class="font-size-14">Số đề cần tạo: </label>
            <mat-form-field appearance="outline" fxFlex="60" fxLayoutAlign="end center">
              <mat-label>Số đề cần tạo</mat-label>
              <input matInput matTooltip="Tạo tối đa 3 đề" min="1" max="3" (change)="changeNumberTest()"
                onblur="{if (this.value < 1) {this.value = 1;}if (this.value > 3) {this.value = 3;}}"
                [(ngModel)]="currentMatrixData.numberTest" type="number">
            </mat-form-field>

          </div>

        </div>
        <hr>
        <div fxLayout="row" fxLayoutAlign="start center" class="div-table">
          <div class="example-container">
            <table mat-table [dataSource]="getActiveMatrixDetails()">
              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef class="order-number">STT</th>
                <td mat-cell *matCellDef="let element;let i=index" class="order-number">{{i+1}}</td>
              </ng-container>
              <ng-container matColumnDef="contentPanelId">
                <th mat-header-cell *matHeaderCellDef class="center-element"> Khung chương trình </th>
                <td mat-cell *matCellDef="let element" class="center-element">
                  <mat-form-field appearance="outline" class="p-l-10 p-r-10" floatLabel="never"
                    (click)="onContentPanelSelectClicked(element.id)">
                    <mat-select placeholder="Chọn khung chương trình" disableOptionCentering [id]="'drpCu'+element.id"
                      [(value)]="element.contentPanelId" title="{{element.contentPanelSelected}}"
                      class="matFormFieldSelectBox"
                      (selectionChange)="onChangeContentPanelSelected($event.value, element.id)">
                      <mat-option value="0">
                        Chọn khung chương trình
                      </mat-option>
                      <mat-option *ngFor="let c of element.contentPanels" [value]="c.curriculumId">
                        {{c.curriculumName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="chapterId">
                <th mat-header-cell *matHeaderCellDef class="center-element"> Chương </th>
                <td mat-cell *matCellDef="let element" class="center-element">
                  <mat-form-field appearance="outline" class="p-l-10 p-r-10" floatLabel="never"
                    (click)="onChapterSelectClicked(element.id)">
                    <mat-select placeholder="Chương" disableOptionCentering [id]="'drpC'+element.id"
                      [value]="element.chapterId" title="{{element.chapterSelected}}" class="matFormFieldSelectBox"
                      (selectionChange)="onChangeChapterSelected($event.value, element.id)">
                      <mat-option value="0">
                        Chọn chương
                      </mat-option>
                      <mat-option *ngFor="let c of element.chapters" [value]="c.id">
                        {{c.curriculumName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="unitId">
                <th mat-header-cell *matHeaderCellDef class="center-element"> Bài giảng </th>
                <td mat-cell *matCellDef="let element" class="center-element">
                  <mat-form-field appearance="outline" class="p-l-10 p-r-10" (click)="onUnitSelectClicked(element.id)"
                    floatLabel="never">
                    <mat-select placeholder="Bài giảng" disableOptionCentering [id]="'drpB'+element.id"
                      [value]="element.unitId" title="{{element.unitSelected}}" class="matFormFieldSelectBox"
                      (selectionChange)="onChangeUnitSelected($event.value, element.id)">
                      <mat-option value="0">
                        Chọn bài giảng
                      </mat-option>
                      <mat-option *ngFor="let c of element.units" [value]="c.id">
                        {{c.curriculumName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="formatQuestion">
                <th mat-header-cell *matHeaderCellDef class="center-element"> Dạng câu hỏi </th>
                <td mat-cell *matCellDef="let element" class="center-element">
                  <mat-form-field appearance="outline" class="p-l-10 p-r-10" floatLabel="never">
                    <mat-select disableOptionCentering [(value)]="element.formatQuestion"
                      title="{{element.formatQuestionSelected}}" class="matFormFieldSelectBox"
                      (selectionChange)="onChangeQuestionFormatSelected($event.value, element.id)">
                      <mat-option value="SIG">
                        Câu đơn
                      </mat-option>
                      <mat-option value="GRO">
                        Câu chùm
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="typeOfQuestion">
                <th mat-header-cell *matHeaderCellDef class="center-element"> Loại câu hỏi </th>
                <td mat-cell *matCellDef="let element" class="center-element">
                  <mat-form-field appearance="outline" class="p-l-10 p-r-10" floatLabel="never">
                    <mat-select disableOptionCentering [(value)]="element.typeOfQuestion"
                      title="{{element.typeQuestionSelected}}" class="matFormFieldSelectBox"
                      (selectionChange)="onChangeQuestionTypeSelected($event.value, element.id)">
                      <mat-option *ngFor="let t of element.types" [value]="t.id">
                        {{t.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef class="center-element"> Mức độ </th>
                <td mat-cell *matCellDef="let element" class="center-element">
                  <mat-form-field appearance="outline" class="p-l-10 p-r-10" floatLabel="never">
                    <mat-select disableOptionCentering [(value)]="element.level" title="{{element.levelSelected}}"
                      (selectionChange)="onChangeQuestionLevelSelected($event.value, element.id)"
                      class="matFormFieldSelectBox">
                      <mat-option *ngFor="let l of element.levels" [value]="l.id">
                        {{l.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="totalQuestion">
                <th mat-header-cell *matHeaderCellDef class="center-element"> Số lượng </th>
                <td mat-cell *matCellDef="let element" class="center-element">
                  <mat-form-field appearance="outline" style="width: 50px" floatLabel="never">
                    <input matInput (change)="changeTotalQuestionMatrixDetail(element)"
                      onblur="{if (this.value < 1) {this.value = 1;}}" [(ngModel)]="element.totalQuestion" type="number"
                      value="1">
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="totalScore">
                <th mat-header-cell *matHeaderCellDef class="center-element"> Tổng điểm </th>
                <td mat-cell *matCellDef="let element" class="center-element">
                  <mat-form-field appearance="outline" style="width: 50px" floatLabel="never">
                    <input matInput (change)="changeTotalScoreMatrixDetail(element)"
                      onblur="{if (this.value <= 0) {this.value = 1;}}" [(ngModel)]="element.totalScore" type="number"
                      value="1">
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="center-element action-col"> </th>
                <td mat-cell *matCellDef="let element" class="center-element action-col"
                  [title]="disableDeleteRow()?'Ma trận cần ít nhất 1 chi tiết thiết lập':'Xóa chi tiết'"
                  [ngClass]="disableDeleteRow()?'disabled-action':''">
                  <button [ngClass]="disableDeleteRow()?'disabled-action':''" [disabled]="disableDeleteRow()"
                    mat-icon-button (click)="deleteRow(element)">
                    <mat-icon class="icon-add" svgIcon="trash"></mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
              <tr [ngClass]="row.action=='DEL'?'hide-row':''" mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="10">Chưa có thiết lập nào. Bấm nút dấu cộng bên dưới để thêm thiết lập ma
                  trận đề.</td>
              </tr>
            </table>
          </div>
        </div>

        <div>
          <button mat-icon-button (click)="newRow()">
            <mat-icon class="icon-add">add_circle</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>