<div class="zoom-teaching-frame">
  <iframe width="100%" height="100%" allow="camera;microphone;fullscreen" [src]="getLinkZoomResourceURL()"
    frameborder="0" sandbox="allow-forms allow-scripts allow-same-origin">
  </iframe>
</div>