<div class="user-detail" fxLayout="column">
    <div class="infor">
        <h4 class="user-name">{{data.fullname}}</h4>
    </div>
    <div class="status">
        <h4>Trạng thái nhận đề: 
            <span *ngIf="data.thoiGianBatDauLam!=null" style="color: greenyellow;">OK</span>
            <span *ngIf="data.thoiGianBatDauLam==null" style="color: red;">Chưa nhận đề</span>
        </h4>
        <h4>Trạng thái vào phòng thi: 
            <span *ngIf="data.thoiGianVaoPhongThi!=null" style="color: greenyellow;">OK</span>
            <span *ngIf="data.thoiGianVaoPhongThi==null" style="color: red;">Chưa vào phòng</span>
        </h4>
        <h4>Trạng thái nộp bài: 
            <span *ngIf="data.timeFinishExam!=null" style="color: greenyellow;">OK</span>
            <span *ngIf="data.timeFinishExam==null" style="color: red;">Chưa nộp bài</span>
        </h4>
        <h4 *ngIf="data.thoiGianVaoPhongThi!=null">Thời gian vào phòng thi: {{data.thoiGianVaoPhongThi}}</h4>
        <h4 *ngIf="data.thoiGianBatDauLam!=null">Thời gian bắt đầu làm bài: {{data.thoiGianBatDauLam}}</h4>
        <h4 *ngIf="data.timeFinishExam!=null">Thời gian nộp bài: {{data.timeFinishExam}}</h4>
        <hr/>
        <div *ngIf="data.infringes.length >0">
            <h3>Thông tin vi phạm</h3>
            <table mat-table [dataSource]="data.infringes" class="table">
                <!-- Position Column -->
                <ng-container matColumnDef="infringeName">
                  <th mat-header-cell *matHeaderCellDef> Lỗi vi phạm </th>
                  <td mat-cell *matCellDef="let element"> {{element.infringeName}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="hinhThucXuLy">
                  <th mat-header-cell *matHeaderCellDef> Hình thức phạt </th>
                  <td mat-cell *matCellDef="let element"> {{element.hinhThucXuLy}} </td>
                </ng-container>
                
                <ng-container matColumnDef="diemBiTru">
                  <th mat-header-cell *matHeaderCellDef> Điểm bị trừ </th>
                  <td mat-cell *matCellDef="let element"> {{element.diemBiTru}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="infringeTime">
                  <th mat-header-cell *matHeaderCellDef> Thời gian xảy ra </th>
                  <td mat-cell *matCellDef="let element"> {{element.infringeTime}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
    </div>
</div>
<mat-dialog-actions align="center">
  <button mat-flat-button mat-dialog-close color="primary">Đóng</button>
</mat-dialog-actions>
