<div>
  <mat-card class="manage-card">
    <learn-step-header-lesson [stepHeaderCtrl]="stepHeaderControl"></learn-step-header-lesson>
  </mat-card>
  <mat-card class="manage-card">
    <learn-lesson-name-header *ngIf="isReady" [lessonName]="lessonInfo.name"></learn-lesson-name-header>
    <div *ngIf="isReady" class="content_area">
      <app-spinner2></app-spinner2>
      <div fxLayout="row" fxLayoutAlign="start start" class="m-b-10">
        <div class="avatar_lesson" *ngIf="isReady" [ngClass]="(!lessonInfo.avatar) ? 'background_avatar': ''">
          <img [src]="lessonInfo.avatar" alt="">
        </div>
        <div [ngSwitch]="lessonInfo.status">
          <div *ngSwitchCase="'EDI'" class="lesson-status editting" fxLayout="row">
            <span fxFlex="15" fxLayoutAlign="center center" class="material-icons">
              drive_file_rename_outline
            </span>
            <span fxFlex="85" fxLayoutAlign="center center" class="lesson-status-label">Đang chỉnh sửa</span>
          </div>
          <div *ngSwitchCase="'PUB'" class="lesson-status published" fxLayout="row">
            <span fxFlex="15" fxLayoutAlign="center center" class="material-icons">
              task_alt
            </span>
            <span fxFlex="85" fxLayoutAlign="center center" class="lesson-status-label">Đã duyệt</span>
          </div>
          <div *ngSwitchCase="'PEN'" class="lesson-status pending" fxLayout="row">
            <span fxFlex="15" fxLayoutAlign="center center" class="material-icons">
              schedule
            </span>
            <span fxFlex="85" fxLayoutAlign="center center" class="lesson-status-label">Đang chờ duyệt</span>
          </div>
          <div *ngSwitchCase="'RET'" class="lesson-status returned" fxLayout="row">
            <span fxFlex="15" fxLayoutAlign="center center" class="material-icons">
              cached
            </span>
            <span fxFlex="85" fxLayoutAlign="center center" class="lesson-status-label">Bị trả lại</span>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" class="m-b-10">
        <label class="label_finish_lesson">Giáo viên chính: {{teacherName}}</label>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" class="m-b-10">
        <label class="label_finish_lesson">Giới thiệu</label>
      </div>
      <div *ngIf="isReady" fxLayout="row wrap" fxLayoutAlign="start start" class="lesson_intro"
        [innerHTML]="lessonInfo.description">
      </div>
    </div>

  </mat-card>
  <div group-button>
    <div fxLayout="row" fxLayoutAlign="center start" class="row-flex">
      <button mat-raised-button class="btn_save m-r-10 m-l-10 button-cancel" (click)="backToConfig()">Quay lại</button>
      <button mat-raised-button color="primary" class="btn_continue m-r-10 m-l-10" [disabled]="lessonInfo.status =='PEN'"
        (click)="submitLesson()" *ngIf="lessonInfo.status !='PUB'">
        {{hasPermissionApproval?"Phát hành" : "Gửi duyệt"}}</button>
    </div>
  </div>
</div>
