.content_area {
  background: #ffffff;
  position: relative;
  padding: 20px;

  .lesson-status {
    position: absolute;
    right: 20px;
    top: 15px;
    border-radius: 4px;
    padding: 4px 10px;
    color: white;
    height: 30px;

    .lesson-status-label {
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      padding-left: 5px;
    }
  }

  .lesson_intro {
    padding: 0 20px 20px 20px;
  }
  .returned {
    background: #68c9ff;
  }
  .published {
    background: #4caf50;
  }
  .editting {
    background: #f8877f;
    width: 150px;
  }
  .pending {
    background: #e5ae40;
    width: 153px;
  }
}

.avatar_lesson {
  height: 195px;
  width: 195px;
  object-fit: cover;
  cursor: pointer;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.label_finish_lesson {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  color: #555555;
  opacity: 0.98;
}

.background_avatar {
  background-image: url("../../../../../assets/images/lesson/lesson-default.png");
  background-size: cover;
}

.lesson_intro {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #555555;
  opacity: 0.98;
}
