.form-check {
  align-items: center;
}

.title-form {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #303030;

  opacity: 0.98;
}

.grade-name {
  margin-top: 10px;
  line-height: 18px;
  color: #4CAF50;
  /* identical to box height */
  text-align: center;
  opacity: 0.98;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.subjects-wrapper {
  max-height: 700px !important;
  overflow-y: scroll;
}

:host ::ng-deep .mat-card {
  margin: 0;
  padding: 0;
  box-shadow: none !important;
  width: 100%;
}

:host ::ng-deep .mat-card-content {
  padding: 0;
}
