<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content fxLayout="column" class="m-b-0">
      <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start start" class="m-b-20">
        <label class="title-form">DANH SÁCH MÔN HỌC</label>
        <label class="grade-name">{{this.grade.name}}</label>
      </div>

      <!-- Checkbox Column -->
      <div class="subjects-wrapper" fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="50" *ngFor="let subject of subjectLists">
          <mat-checkbox color="primary" style="font-size: 14px; width: 277.5px;" [checked]="selection.isSelected(subject)"
            (change)="changeCheck($event, subject)">
            <span class="text-wrap" #tooltip="matTooltip" matTooltip="{{subject.name}}">{{subject.name}} </span>

          </mat-checkbox>
        </div>
      </div>
    </mat-card-content>
    <mat-dialog-actions>
      <button mat-flat-button mat-dialog-close class="button-cancel">Hủy</button>
      <button *ngIf="this.hasAddPermission || this.hasEditPermission" mat-flat-button type="submit" color="primary"
        (click)="submitForm()">Lưu</button>
    </mat-dialog-actions>
  </mat-card>
</div>