<div class="apply-css-alpha">
  <mat-card>
    <mat-card-content>
      <form #createGrade="ngForm" fxLayout="column" (ngSubmit)="submitForm(createGrade)">
        <div class="mat-dialog-title">THÊM LỚP HỌC</div>

        <div fxLayout="row" fxLayoutAlign="start center" class="m-t-20">
          <mat-form-field appearance="outline">
            <mat-label>Tên lớp</mat-label>
            <input matInput fxFlex fxLayoutAlign="end center" type="text" name="name" required maxlength="30"
              [(ngModel)]="groupStudent.groupStudentName" #name="ngModel">
          </mat-form-field>
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="end center" class="m-t-10">
          <span class="help-bpx">{{this.lblname}}</span>
        </div> -->

        <div *ngIf="levelManageValue==1" fxLayout="row" fxLayoutAlign="start center" class="m-t-10">
          <mat-form-field appearance="outline" (click)="onDivisionSelectClicked()">
            <mat-label>Phòng</mat-label>
            <mat-select (focus)="onFocus()" (blur)="onBlur()" [formControl]="divisionCtrl" placeholder="Chọn phòng"
              #singleSelectDivision disableOptionCentering (selectionChange)="onChangeDivisionSelected($event.value)">
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="divisionFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]="null">Chọn phòng</mat-option>
              <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                {{division.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="levelManageValue<=2" fxLayout="row" fxLayoutAlign="start center" class="m-t-10">
          <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
            <mat-label>Trường</mat-label>
            <mat-select [formControl]="schoolCtrl" placeholder="Chọn trường" #singleSelectSchool disableOptionCentering
              required (selectionChange)="onChangeSchoolSelected($event.value)">
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="schoolFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                {{school.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" class="m-t-10">
          <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
            <mat-label>Khối lớp</mat-label>
            <mat-select [formControl]="gradeCtrl" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering
              required (selectionChange)="onChangeGradeSelected($event.value)">
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="gradeFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                {{grade.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" class="m-t-10">
          <mat-form-field appearance="outline">
            <mat-label>Vị trí sắp xếp </mat-label>
            <input matInput fxFlex type="text" required
              onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))"
              name="orderNumber" [(ngModel)]="groupStudent.orderNumber" #orderNumber="ngModel" autocomplete="off" (blur)="onInput0()">
          </mat-form-field>
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="end center" class="m-t-10">
          <span class="help-bpx">{{this.lblOrderNumber}}</span>
        </div> -->
        <div class="notify">
          <div *ngIf="isNumber0==true" class="warn">Vị trí sắp xếp phải lớn hơn 0</div>
          <div *ngIf="isShowNotifi==true" class="warn">Nếu bạn thêm lớp thuộc trường THPT thì không chọn phòng</div>
          <div *ngIf="isShowNotifi==true" class="warn">Nếu bạn thêm lớp thuộc trường THCS/Tiểu học thì chọn
            phòng</div>
        </div>

        <mat-dialog-actions>
          <button mat-flat-button mat-dialog-close class="button-cancel">Hủy</button>
          <button mat-flat-button color="primary" type="submit" color="primary">Lưu</button>
        </mat-dialog-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
