<div class="container">
    <div class="header">
        <a routerLink="/dashboard/questionbanks/create">
        <button class="button-choice" mat-flat-button color="primary">
            <mat-icon>add</mat-icon>Tạo câu hỏi
        </button>
        </a>
        <button class="button-choice" mat-flat-button color="primary">
            <mat-icon>upload</mat-icon>Nhập từ tệp tin
        </button>

        <button class="button-choice" mat-flat-button color="primary">Chọn tất cả trên một trang</button>
        <button class="button-choice" mat-flat-button color="primary">
            <mat-icon>send</mat-icon>Gửi duyệt
        </button>

        <button (click)="deleteSelectedQuestion()" class="button-choice" mat-flat-button color="primary">
            <mat-icon>delete</mat-icon>Xóa tất cả câu hỏi được chọn
        </button>

        <a routerLink="/dashboard/questionbanks/export-word">
            <button class="button-choice export-question" mat-flat-button>
                <mat-icon>download</mat-icon>Xuất câu hỏi
            </button>
        </a>
    </div>
    <div class="content">
        <div class="title" fxLayout="row" fxLayoutAlign=" center">
            <div fxFlex=10 fxLayoutAlign="center center">
                <mat-checkbox [(ngModel)]="checkAll" (click)="checkChild()" ></mat-checkbox>
            </div>
            <div fxFlex=80 fxLayoutAlign="center center">
                Nội dung
            </div>
            <div fxFlex=10 fxLayoutAlign="center center">
                Chức năng
            </div>
        </div>
        <ng-container>
            <app-loading-screen></app-loading-screen>   
            <div class="question" *ngFor="let question of questions">      
                <div fxLayout="row">
                    <div fxFlex=10 fxLayoutAlign="center center">
                        <mat-checkbox [checked]="isCheckAll" (change)="checkedOne($event,question.questionId)"></mat-checkbox>
                    </div>
                    <div fxFlex=80>
                        <ng-container [ngSwitch]="question.type">
                            <ng-container *ngSwitchCase="'singlechoice'">
                                <app-single-choice   id="cauhoi_{{questions.indexOf(question)+1}}" [dataQuestion]="question"></app-single-choice>
                            </ng-container>
                            <ng-container *ngSwitchCase="'multichoice'">
                                <app-multi-choice  id="cauhoi_{{questions.indexOf(question)+1}}" [dataQuestion]="question"></app-multi-choice>
                            </ng-container>
                            <ng-container *ngSwitchCase="'truefalse'">
                                <app-true-false  id="cauhoi_{{questions.indexOf(question)+1}}" [dataQuestion]="question"></app-true-false>
                            </ng-container>
                            <ng-container *ngSwitchCase="'truefalseclause'">
                                <app-true-false-clause  id="cauhoi_{{questions.indexOf(question)+1}}" [dataQuestion]="question"></app-true-false-clause>
                            </ng-container>
                            <ng-container *ngSwitchCase="'essay'">
                                <app-essay  id="cauhoi_{{questions.indexOf(question)+1}}" [dataQuestion]="question"></app-essay>          
                            </ng-container>
                            <ng-container *ngSwitchCase="'fillblank'">
                                <app-missing-word1  id="cauhoi_{{questions.indexOf(question)+1}}" [dataQuestion]="question"></app-missing-word1>
                            </ng-container>
                            <ng-container *ngSwitchCase="'underline'">
                                <app-under-line id="cauhoi_{{questions.indexOf(question)+1}}" [dataQuestion]="question"></app-under-line>
                            </ng-container>
                            <ng-container *ngSwitchCase="'fillblank2'">
                                <app-missing-word2  id="cauhoi_{{questions.indexOf(question)+1}}" [dataQuestion]="question"></app-missing-word2> 
                            </ng-container>
                            <ng-container *ngSwitchCase="'group'">
                                <app-group-question id="cauhoi_{{questions.indexOf(question)+1}}" [dataQuestion]="question"></app-group-question>  
                            </ng-container>
                            <ng-container *ngSwitchCase="'matching'">
                                <app-matching id="cauhoi_{{questions.indexOf(question)+1}}" [dataQuestion]="question"></app-matching>    
                            </ng-container>
                        </ng-container>
                    </div>
                    <div fxFlex=10 fxLayoutAlign="center center" fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center" fxLayoutGap="10px" fxLayout.xs="column" fxLayout.sm="column">
                        <button mat-mini-fab (click)="EditQuestion(question)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab>
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-mini-fab>
                            <mat-icon>send</mat-icon>
                        </button>
                    </div>
                </div>                                                                                                                                                                                           
            </div>
        </ng-container>
      
    </div>
</div>




