.container {}

.header {
  padding: 1rem;
}

.content {
  background-color: #eeeeee;
}

//header
.button-choice {
  margin-left: 1rem;
  margin-top: 1rem;
}

//content
.title {
  background-color: #0a6ea7;
  color: white;
  font-weight: 550;
  line-height: 40px;
}

.export-question {
  background-color: rgb(74, 183, 8);
}

#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container-content__question {
  position: relative;
  min-height: 100vh;
}
