<div class="infor-user" fxLayout="row" fxLayoutAlign="center center">
    <div class="content-info-user" fxLayout="column" fxLayoutAlign="center center">
        <img src="../../../../../assets/images/user-icon.png" class="logo-user">
        <h4 class="name">{{userExam.fullname}}</h4>
    </div>
  </div>