.infor-user {
  width: 8rem;
  height: 6rem;
  margin-top: 10px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: 0.5rem
}

.content-info-user {
  color: #343A40;
}

.logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.logo-user {
  width: 2rem;
  height: 2rem;
}

.name {
  width: 6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
