<app-spinner2 [fullScreen]="true"></app-spinner2>
<ng-container *ngIf="screenWidth>1024 && isReady">
  <div class="container-content__question scrollbar-success" fxFlex.gt-lg="78" fxFlex.gt-md="75" fxLayoutAlign="center start"
    fxFlex.lt-sm="100">
    <!-- <app-loading-screen></app-loading-screen> -->
    <div class="questions-wrapper">
      <div id="cauhoi_{{question.order}}" class="question-container"
        *ngFor="let question of questions| paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
        <div class="title-question-label">
          Câu hỏi {{question.order}} ({{question.score}} điểm)
        </div>
        <app-underline *ngIf="question.type==questionType.underline&& question.format==questionFormat.single"
          [dataQuestion]="getQuestionBaseById(question.id)" [isResult]="isResult"
          [isPublicAnswer]="infoExam.isPublicAnswer" [userAnswer]="userAnswerById(question.id)">
        </app-underline>
        <app-true-false-clause
          *ngIf="question.type==questionType.truefaslechause && question.format==questionFormat.single"
          [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [isPublicAnswer]="infoExam.isPublicAnswer"
          [dataQuestion]="getQuestionBaseById(question.id)">
        </app-true-false-clause>
        <app-single-choice *ngIf="question.type==questionType.singlechoice && question.format==questionFormat.single"
          [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [isPublicAnswer]="infoExam.isPublicAnswer"
          [dataQuestion]="getQuestionBaseById(question.id)"></app-single-choice>
        <app-multiple-choice *ngIf="question.type==questionType.multichoice && question.format==questionFormat.single"
          [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [isPublicAnswer]="infoExam.isPublicAnswer"
          [dataQuestion]="getQuestionBaseById(question.id)">
        </app-multiple-choice>
        <app-true-false *ngIf="question.type==questionType.truefasle && question.format==questionFormat.single"
          [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [isPublicAnswer]="infoExam.isPublicAnswer"
          [dataQuestion]="getQuestionBaseById(question.id)"></app-true-false>
        <app-missing-world1 id="{{question.id}}"
          *ngIf="question.type==questionType.fillblank && question.format==questionFormat.single" [isResult]="isResult"
          [userAnswer]="userAnswerById(question.id)" [isPublicAnswer]="infoExam.isPublicAnswer"
          [dataQuestion]="getQuestionBaseById(question.id)">
        </app-missing-world1>
        <app-missing-world2 id="{{question.id}}"
          *ngIf="question.type==questionType.fillblank2 && question.format==questionFormat.single"
          [dataQuestion]="getQuestionBaseById(question.id)" [isPublicAnswer]="infoExam.isPublicAnswer"
          [isResult]="isResult" [userAnswer]="userAnswerById(question.id)">
        </app-missing-world2>
        <app-essay *ngIf="question.type==questionType.essay && question.format==questionFormat.single"
          [dataQuestion]="getQuestionBaseById(question.id)" [isResult]="isResult"
          [userAnswer]="userAnswerById(question.id)" [examSubjectStudentId]="examSubjectStudentId">
        </app-essay>
        <app-matching-mobile *ngIf="question.type==questionType.matching && question.format==questionFormat.single"
          [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [isPublicAnswer]="infoExam.isPublicAnswer"
          [dataQuestion]="getQuestionBaseById(question.id)" fxHide.md fxHide.lg fxHide.xl>
        </app-matching-mobile>
        <app-matching *ngIf="question.type==questionType.matching && question.format==questionFormat.single"
          [dataQuestion]="getQuestionBaseById(question.id)" [isResult]="isResult"
          [isPublicAnswer]="infoExam.isPublicAnswer" [userAnswer]="userAnswerById(question.id)" fxHide.sm fxHide.xs>
        </app-matching>
        <app-group-question *ngIf="question.format==questionFormat.group" [isPublicAnswer]="infoExam.isPublicAnswer"
          [dataQuestion]="getQuestionBaseById(question.id)" [isResult]="isResult">
        </app-group-question>
      </div>
    </div>

  </div>
  <ng-container>
    <div class="container-content__infor-question"  fxFlex.gt-lg="22" fxFlex.gt-md="25" fxHide.sm fxHide.xs>
      <app-table-question-result *ngIf="isReady" [dataQuestion]="questions" [dataQuestionBase]="questionsResult"
        (indexQuestion)="scrollToElement($event)" [screenWidth]="screenWidth"
        [examSubjectStudentId]="examSubjectStudentId" [resultDoExam]="resultDoExam">
      </app-table-question-result>
    </div>
  </ng-container>

  <div class="control-bar-bottom" fxLayout="row" fxHide.sm fxHide.xs>
    <div fxFlex.gt-lg="78" fxFlex.gt-md="75" fxLayoutAlign="center center" style="position: relative;">
      <div class="exit-button">
        <button mat-icon-button (click)="exitButtonHandleClick()">
          <span class="material-icons m-r-10 cancel-icon">
            cancel
          </span>
          <span class="exit-button-text">Thoát</span>
        </button>
      </div>
      <div class="button-group" fxFlex="20" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button mat-flat-button color="primary" class="min-width-btn" (click)="onBackPage()"
          [disabled]="currentPage <= 1">
          <mat-icon style="margin-left: -12px; line-height: 22px;">keyboard_arrow_left</mat-icon> Trở lại
        </button>
        <button mat-flat-button color="primary" class="min-width-btn" (click)="onNextPage()"
          [disabled]="currentPage >= totalPage">
          Kế tiếp <mat-icon style="margin-right: -12px; line-height: 22px;">keyboard_arrow_right</mat-icon>
        </button>
      </div>
      <div style="position: absolute; right: 20px;">
        <pagination-controls class="exam-paginator" previousLabel="" nextLabel="" (pageChange)="pageChanged($event)" fxHide.sm fxHide.xs>
        </pagination-controls>
      </div>
    </div>
    <div fxFlex.gt-lg="22" fxFlex.gt-md="25" fxLayoutAlign="center center">
    </div>
  </div>
</ng-container>


<ng-container *ngIf="screenWidth<=1024 && isReady">
  <div class="header" fxLayout="row" fxLayoutAlign="center center">
    <div class="btn-exam-rule" style="display: none;" (click)="openExamRuleDialog()">
      <mat-icon svgIcon="exam-rule-mobile"></mat-icon>
    </div>
  </div>
  <div style="position: relative;" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="row-container">
    <ng-container>
      <div class="container-content__question scrollbar-success">
        <!-- <app-loading-screen></app-loading-screen> -->
        <div id="cauhoi_{{question.order}}" class="question-container"
        *ngFor="let question of questions| paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
        <div class="title-question-label">
          Câu hỏi {{question.order}} ({{question.score}} điểm)
        </div>
        <app-underline *ngIf="question.type==questionType.underline&& question.format==questionFormat.single"
          [dataQuestion]="getQuestionBaseById(question.id)" [isResult]="isResult"
          [isPublicAnswer]="infoExam.isPublicAnswer" [userAnswer]="userAnswerById(question.id)">
        </app-underline>
        <app-true-false-clause
          *ngIf="question.type==questionType.truefaslechause && question.format==questionFormat.single"
          [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [isPublicAnswer]="infoExam.isPublicAnswer"
          [dataQuestion]="getQuestionBaseById(question.id)">
        </app-true-false-clause>
        <app-single-choice *ngIf="question.type==questionType.singlechoice && question.format==questionFormat.single"
          [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [isPublicAnswer]="infoExam.isPublicAnswer"
          [dataQuestion]="getQuestionBaseById(question.id)"></app-single-choice>
        <app-multiple-choice *ngIf="question.type==questionType.multichoice && question.format==questionFormat.single"
          [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [isPublicAnswer]="infoExam.isPublicAnswer"
          [dataQuestion]="getQuestionBaseById(question.id)">
        </app-multiple-choice>
        <app-true-false *ngIf="question.type==questionType.truefasle && question.format==questionFormat.single"
          [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [isPublicAnswer]="infoExam.isPublicAnswer"
          [dataQuestion]="getQuestionBaseById(question.id)"></app-true-false>
        <app-missing-world1 id="{{question.id}}"
          *ngIf="question.type==questionType.fillblank && question.format==questionFormat.single" [isResult]="isResult"
          [userAnswer]="userAnswerById(question.id)" [isPublicAnswer]="infoExam.isPublicAnswer"
          [dataQuestion]="getQuestionBaseById(question.id)">
        </app-missing-world1>
        <app-missing-world2 id="{{question.id}}"
          *ngIf="question.type==questionType.fillblank2 && question.format==questionFormat.single"
          [dataQuestion]="getQuestionBaseById(question.id)" [isPublicAnswer]="infoExam.isPublicAnswer"
          [isResult]="isResult" [userAnswer]="userAnswerById(question.id)">
        </app-missing-world2>
        <app-essay *ngIf="question.type==questionType.essay && question.format==questionFormat.single"
          [dataQuestion]="getQuestionBaseById(question.id)" [isResult]="isResult"
          [userAnswer]="userAnswerById(question.id)" [examSubjectStudentId]="examSubjectStudentId">
        </app-essay>
        <app-matching-mobile *ngIf="question.type==questionType.matching && question.format==questionFormat.single"
          [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [isPublicAnswer]="infoExam.isPublicAnswer"
          [dataQuestion]="getQuestionBaseById(question.id)" fxHide.md fxHide.lg fxHide.xl>
        </app-matching-mobile>
        <app-matching *ngIf="question.type==questionType.matching && question.format==questionFormat.single"
          [dataQuestion]="getQuestionBaseById(question.id)" [isResult]="isResult"
          [isPublicAnswer]="infoExam.isPublicAnswer" [userAnswer]="userAnswerById(question.id)" fxHide.sm fxHide.xs>
        </app-matching>
        <app-group-question *ngIf="question.format==questionFormat.group" [isPublicAnswer]="infoExam.isPublicAnswer"
          [dataQuestion]="getQuestionBaseById(question.id)" [isResult]="isResult">
        </app-group-question>
      </div>
        <!-- <app-table-question fxHide.md fxHide.xl fxHide.lg></app-table-question> -->
      </div>
    </ng-container>
    <ng-container *ngIf="isReady">
      <app-table-question-result-mobile *ngIf="isReady" [isShowResult]="true"
        [dataQuestion]="questions" [dataQuestionBase]="questionsResult" [resultDoExam]="resultDoExam"  [screenWidth]="screenWidth" (indexQuestion)="scrollToElement($event)"
        [currentPage]="currentPage" [totalPage]="totalPage" (pageIndex)="pageChanged($event)">
      </app-table-question-result-mobile>
    </ng-container>
  </div>
</ng-container>
