<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap.gt-md="20px grid">
        <div fxFlex class="mat-title mb-0">Danh sách người dùng</div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="20px grid">
          <div fxFlex="none">
            <a *ngIf="this.hasAddPermission" routerLink="/dashboard/manage-users/create-student">
              <button mat-raised-button color="primary">
                <span class="material-icons">control_point</span>
                Thêm học sinh
              </button>
            </a>
          </div>
          <div fxFlex="none" *ngIf="this.hasAddPermission">
            <a routerLink="/dashboard/manage-users/create-admin_teacher">
              <button mat-raised-button color="primary">
                <span class="material-icons">control_point</span>
                Thêm QTV, giáo viên
              </button>
            </a>
          </div>
          <div fxFlex="none" *ngIf="this.hasAddPermission">
            <a>
              <button mat-raised-button color="primary" [matMenuTriggerFor]="afterMenu">
                <span class="material-icons">control_point</span>
                Thêm từ tệp tin
              </button>
              <mat-menu #afterMenu="matMenu" xPosition="after">
                <button mat-menu-item (click)="addTeacherFromFileHandleClick()">Thêm QTV,Giáo viên</button>
                <button mat-menu-item (click)="addStudentFromFileHandleClick()">Thêm học sinh</button>
              </mat-menu>
            </a>
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <button *ngIf="isShowFilter" (click)="onClickToggleShowFilter()" mat-raised-button
              class="button-sm button-hidden-filter">
              <span class="material-icons">visibility_off</span>
              Ẩn bộ lọc
            </button>
            <button *ngIf="!isShowFilter" (click)="onClickToggleShowFilter()" mat-raised-button
              class="button-sm button-hidden-filter">
              <span style="width: 24px;" class="material-icons">visibility_on</span>
              Hiện bộ lọc
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="manage-card" *ngIf="isShowFilter">
    <mat-card-content>
      <div class="manage-filter">
        <div class="manage-filter-item">
          <mat-form-field appearance="outline">
            <mat-label>Từ ngày</mat-label>
            <input matInput [matDatepicker]="dpFromDate" [formControl]="fromDateCtrl" (click)="openDpFromDate()"
              onfocus="this.blur()" placeholder="Từ ngày" class="date-picker-input" autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="dpFromDate"></mat-datepicker-toggle>
            <mat-icon *ngIf="this.fromDateCtrl.value" (click)="clearDate('from')" class="user-filter-date close_button"
              matDatepickerToggleIcon>clear</mat-icon>
            <mat-datepicker #dpFromDate>
            </mat-datepicker>
          </mat-form-field>
        </div>

        <div class="manage-filter-item">
          <mat-form-field appearance="outline">
            <mat-label>Đến ngày</mat-label>
            <input matInput [matDatepicker]="dpToDate" [formControl]="toDateCtrl" (click)="openDpToDate()"
              onfocus="this.blur()" placeholder="Đến ngày" class="date-picker-input" autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="dpToDate"></mat-datepicker-toggle>
            <mat-icon *ngIf="this.toDateCtrl.value" (click)="clearDate('to')" class="user-filter-date close_button"
              matDatepickerToggleIcon>clear</mat-icon>
            <mat-datepicker #dpToDate>
            </mat-datepicker>
          </mat-form-field>
        </div>

        <div class="manage-filter-item">
          <mat-form-field appearance="outline">
            <mat-label>Trạng thái</mat-label>
            <mat-select [formControl]="statusCtrl" placeholder="Chọn trạng thái" #singleSelectStatus
              disableOptionCentering>
              <mat-option value="ATV">
                Kích hoạt
              </mat-option>
              <mat-option value="IAT">
                Chưa kích hoạt
              </mat-option>
              <mat-option value="SPD">
                Ngưng kích hoạt
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="manage-filter-item">
          <mat-form-field appearance="outline" (click)="onUserTypeSelectClicked()">
            <mat-label>Kiểu người dùng</mat-label>
            <mat-select [formControl]="userTypeCtrl" ngDefaultControl placeholder="Chọn kiểu người dùng"
              #singleSelectUserType disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm kiểu người dùng" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="userTypeFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]="null">Chọn kiểu người dùng</mat-option>
              <mat-option *ngFor="let userType of filteredUserTypes | async" [value]="userType.id">
                {{userType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="levelManageValue==1" class="manage-filter-item">
          <mat-form-field appearance="outline" (click)="onDivisionSelectClicked()">
            <mat-label>Phòng</mat-label>
            <mat-select [formControl]="divisionCtrl" placeholder="Chọn phòng" #singleSelectDivision
              disableOptionCentering (selectionChange)="onChangeDivisionSelected($event.value)">
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="divisionFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]="null">Chọn phòng</mat-option>
              <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                {{division.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div *ngIf="levelManageValue<=2" class="manage-filter-item">
          <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
            <mat-label>Trường</mat-label>
            <mat-select [formControl]="schoolCtrl" placeholder="Chọn trường" #singleSelectSchool disableOptionCentering
              (selectionChange)="onChangeSchoolSelected($event.value)">
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="schoolFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]="null">Chọn trường</mat-option>
              <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                {{school.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="manage-filter-item">
          <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
            <mat-label>Khối lớp</mat-label>
            <mat-select [formControl]="gradeCtrl" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering
              (selectionChange)="onChangeGradeSelected($event.value)">
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="gradeFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]="null">Chọn khối</mat-option>
              <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                {{grade.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="manage-filter-item">
          <mat-form-field appearance="outline" (click)="onGroupStudentSelectClicked()">
            <mat-label>Lớp học</mat-label>
            <mat-select [formControl]="groupStudentCtrl" placeholder="Chọn lớp" #singleSelectGroupStudent
              disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm lớp" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="groupStudentFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]="null">Chọn lớp</mat-option>
              <mat-option *ngFor="let groupStudent of filteredGroupStudents | async" [value]="groupStudent.id">
                {{groupStudent.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="manage-filter-item">
          <mat-form-field appearance="outline">
            <mat-label>Niên khóa</mat-label>
            <mat-select [formControl]="schoolYearCtrl" placeholder="Chọn niên khóa" #singleSelectSchoolYear
              disableOptionCentering>
              <mat-option value="2017">
                2017-2018
              </mat-option>
              <mat-option value="2018">
                2018-2019
              </mat-option>
              <mat-option value="2019">
                2019-2020
              </mat-option>
              <mat-option value="2020">
                2020-2021
              </mat-option>
              <mat-option value="2021">
                2021-2022
              </mat-option>
              <mat-option value="2022">
                2022-2023
              </mat-option>
              <mat-option value="2023">
                2023-2024
              </mat-option>
              <mat-option value="2024">
                2024-2025
              </mat-option>
              <mat-option value="2025">
                2025-2026
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="manage-filter-item">
          <mat-form-field appearance="outline">
            <mat-label>Tìm kiếm</mat-label>
            <input matInput fxFlex type="text" placeholder="Tìm tên người dùng" [formControl]="txtFullName"
              autocomplete="off">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div class="manage-filter-item manage-filter-item-fill" fxFlex fxLayoutAlign="center center"
          fxLayoutAlign.gt-sm="end center">
          <button mat-raised-button color="primary" (click)="onSubmitFilter()">
            <mat-icon matSuffix>filter_list</mat-icon>
            Lọc kết quả
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="" id="table_scroll">
    <app-spinner2></app-spinner2>
    <div class="filter_table_midle">
      <table mat-table [dataSource]="usersPagination.items">

        <!-- <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row;">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="changeCheck($event,row)"
                            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container> -->

        <!-- Position Column -->
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef> STT </th>
          <td mat-cell *matCellDef="let element; let i=index">

            {{i + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Tên người dùng </th>
          <td mat-cell *matCellDef="let element" class="mat-main-column">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div *ngIf="!element.avatar" fxLayoutAlign="center center" class="avatar-area m-r-10">
                <div fxLayoutAlign="center center" class="first-name-avt">
                  {{getFirstName(element.name)}}
                </div>
              </div>
              <div>
                <div fxLayout="column">
                  <span class="text-wrap">
                    {{element.name}}
                  </span>
                  <span
                    [ngClass]="{'status-bade-actived':element.getStatus=='Kích hoạt',
                    'status-bade-unActived':element.getStatus=='Chưa kích hoạt' || element.getStatus=='Ngưng kích hoạt'}">
                    {{element.getStatus}}
                  </span>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Mã định danh </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <ng-container matColumnDef="schoolName">
          <th mat-header-cell *matHeaderCellDef> Trường </th>
          <td mat-cell *matCellDef="let element"> {{element.schoolName}} </td>
        </ng-container>

        <ng-container matColumnDef="userTypeName">
          <th mat-header-cell *matHeaderCellDef> Kiểu người dùng </th>
          <td mat-cell *matCellDef="let element"> {{element.userTypeName}} </td>
        </ng-container>



        <!-- <ng-container matColumnDef="getStatus">
          <th mat-header-cell *matHeaderCellDef> Kích hoạt </th>
          <td mat-cell *matCellDef="let element">
            <label
              [ngClass]="{'status-bade-actived':element.getStatus=='Kích hoạt', 'status-bade-unActived':element.getStatus=='Chưa kích hoạt'}">
              {{element.getStatus}}
            </label>
          </td>
        </ng-container> -->

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Ngày tham gia </th>
          <td mat-cell *matCellDef="let element"> {{element.getActivedDate}} </td>
        </ng-container>

        <ng-container matColumnDef="function">
          <th mat-header-cell *matHeaderCellDef> Chức năng </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon *ngIf="this.hasEditPermission" [routerLink]="['/dashboard/manage-users/edit-user', element.id]"
              matTooltip="Chỉnh sửa" svgIcon="edit-black" class="icon-funtion"></mat-icon>
            <mat-icon *ngIf="element.username!= 'admin' && element.id!=userIdentity.userId && this.hasDeletePermission"
              (click)="onDeleteUserClicked(element)" mat-icon-button matTooltip="Xóa" svgIcon="trash-black"
              class="icon-funtion"></mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="double" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell background-no-content text-center" colspan="8">
            <div class="background-no-content-img"></div>
            Không tìm thấy người dùng
          </td>
        </tr>
      </table>
      <mat-paginator [length]="usersPagination.totalItems" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>

    <!-- <div class="filter_bottom_action">
            <button mat-raised-button class="bg-danger btn-remove-selected">
                <span class="material-icons">delete</span>
                Xóa đã chọn
            </button>
        </div> -->
  </mat-card>
</div>