.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.mat-select-panel-wrap {
  position: relative;
  top: 26px;
}

.icon-funtion {
  height: 20px;
}

.align-end {
  text-align: end;
}

.status-bade-actived {
  background: #4caf50;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
  width: fit-content;
}

.status-bade-unActived {
  background: #BDBDBD;
  color: #FFFFFF;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
  width: fit-content;
}

.user-filter-date.close_button {
  position: absolute;
  font-size: 17px;
  right: 12px;
  height: auto;
  margin-top: 0;
  color: #757575;
  top: 2px;
  cursor: pointer;
  width: auto;
}

.avatar-area {
  height: 40px;

  .first-name-avt {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #EEEEEE;
    color: #4CAF50;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
}

@media(min-width: 1024px){
  .mat-column-name {
    width: 20%;
  }
  
  .mat-column-schoolName {
    width: 20%;
  }
}

@media(min-width: 1441px){
  .mat-column-name {
    width: 20%;
  }
  
  .mat-column-schoolName {
    width: 30%;
  }
}


