.header {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.home-layout {
  background: white;
  margin: 0 auto;
}

.container {
  padding: 0px 150px;
  background-color: white;
}

.main {
  min-height: 100%;
  position: relative;
  background-color: #f7f7f7;
}

.body {
  height: auto;
  padding-bottom: 270px;
  padding-top: 55px;
}

.footer-info {
  position: absolute;
  bottom: 0;
  background-color: #282828;
  height: 270px;
  width: 100%;
}

.footer-padding {
  padding-top: 60px;
}

.horizontal-header {
  background-color: #ffffff;
  height: 53px;
}

.horizontal-header-row {
  height: 53px;
}

.logo {
  position: relative;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 29px;

  &:hover {
    background-color: white;
  }

  &:active {
    background-color: white;
  }
}

.button-close {
  position: absolute;
  color: #555555;
  right: 5px;
  top: -30px;
  background-color: white;
}

.color-text-menu {
  color: #555555 !important;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  display: block;
  margin-top: 27px;

  &:active {
    background: none;
  }
}


.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.background-info-row {
  height: 200px;
}

.background-info-dashboard {
  background-image: url("/assets/images/background/background-info-dashboard.jpg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.a-horizontal-header-tab {
  padding: 18px 0;
  font-weight: bold;
  min-height: 100%;
  font-size: 14px;
  color: #555555;
}

.a-horizontal-header-tab:visited {
  color: #555555;
}

.login {
  color: #555555;
  font-size: 16px;
}

.horizontal-header-info-fullname {
  color: #555555;
  font-size: 16px;
}

.activedLink {
  //border-top: 3px solid #4caf50 !important;
  color: #4caf50 !important;
  min-height: 100% !important;
}


.footer-info-row {
  height: 171px;
}

.toolbar {
  background: white !important;
  position: fixed;
  z-index: 999;
}

.fixed {
  position: fixed;
  z-index: 999;
  width: 100%;
}

@media (min-width: 1024px) {
  .horizontal-header-tab-mobile {
    display: none !important;
  }

  .toolbar {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 0px 50px !important;
  }

  .horizontal-header-tab {
    display: none !important;
  }
}

@media (min-width: 1024px) {

  // .horizontal-header-tab-mobile {
  //   display: none !important;
  // }
  .hide {
    display: none;
  }
}

@media (min-width: 415px) and (max-width: 1024px) {
  .logo-mobile {
    width: 5% !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .toolbar {
    display: flex !important;
  }

  .hide-mobile {
    display: none !important;
  }

  // .horizontal-header-tab-mobile {
  //   display: none !important;
  // }
  .background-info-dashboard {
    background-image: url("/assets/images/background/background-info-dashboard-tablet.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  ::ng-deep .mat-menu-panel {
    background-color: white;
  }

  ::ng-deep .mat-menu-content {
    height: auto !important;
    width: 225px !important;
  }
}

:host ::ng-deep .mat-menu-custom {
  .mat-menu-item {
    line-height: 40px;
    height: 40px;
  }
}

@media (max-width: 525px) {
  .logo-mobile {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 10% !important;
  }

  :host ::ng-deep .mat-drawer-content{
    &::-webkit-scrollbar{
      display: none;
    }
  }

  .logo img{
    width: 100px;
    max-height: 100%;
    // object-fit: cover;
  }

  .footer-padding {
    padding: 30px 15px;
  }

  .info-address {
    align-items: flex-start !important;
  }

  .body {
    height: auto;
    padding-bottom: 0;
  }

  .title-portal {
    font-size: 18px !important;
    width: 100%;
  }

  .footer-info {
    position: unset;
    // bottom: 0;
    background-color: #282828;
    // width: 100%;
    height: auto;
  }

  .color-text-footer {
    padding: 0;
    text-align: left;
    align-items: flex-start !important;
    line-height: 25px !important;

    &.licence{
      text-align: center;
    }

    .text-info{
      max-width: 25px;
    }
  }

  .toolbar {
    display: flex !important;
    background-color: white !important;
  }

  .horizontal-header-tab-mobile {
    width: 100%;
  }

  .background-info-dashboard {
    background-image: url("/assets/images/background/background-info-dashboard-mobile.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .container {
    margin: 0px 10px !important;
  }


  .horizontal-header-tab {
    display: none !important;
  }

  .hide-mobile {
    display: none !important;
  }

  .background-info-row {
    height: 185px !important;
  }

  .background-info-dashboard {
    background-image: url("/assets/images/background/background-info-dashboard-mobile.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  ::ng-deep .mat-menu-panel {
    background-color: white !important;
  }

  ::ng-deep .mat-menu-content {
    height: auto !important;
    width: 225px !important;
  }
}

::ng-deep .mat-menu-custom {
  .mat-menu-item {
    line-height: 40px;
    height: 40px;
  }
}


//choox ni cho menu sidenav

.menu-container {
  width: 100%;
  height: 1000px;
}

.sidenav {
  padding-top: 27px;
  width: 100%;
  height: auto;
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

//footer
.title-portal {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
}

.color-text-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  margin-bottom: unset !important;
  color: #FFFFFF;
}

.horrizontal-line {
  width: 100%;
  transform: rotate(180deg);
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon {
  width: 12px;
  margin-right: 15px;
}

.logo {
  height: 60px;
}

.logo:hover {
  background: none;
}