<div fxLayout="column" class="home-layout">
  <mat-drawer-container class="menu-container" [hasBackdrop]="true">
    <mat-drawer class="sidenav" #drawer [mode]="'over'">
      <div class="logo">
        <img src="{{unitInfor?.desktopLogo}}">
        <!-- <button mat-icon-button class="button-close" > -->
        <mat-icon class="button-close" (click)="drawer.toggle()">close</mat-icon>
        <!-- </button> -->
      </div>
      <a routerLink="/index" (click)="onClickTC($event)" (click)="drawer.toggle()" class="color-text-menu">TRANG CHỦ</a>
      <hr style="border-bottom: 0.01px solid #ffffff;margin: 0px 20px;">

      <a routerLink="/list-lessons-home-page" (click)="onClickBG($event)" (click)="drawer.toggle()"
        class="color-text-menu">BÀI GIẢNG</a>

      <hr style="border-bottom: 0.01px solid #ffffff;margin: 0px 20px;">

      <a routerLink="/curriculum" (click)="onClickCT($event)" (click)="drawer.toggle()" class="color-text-menu">CHƯƠNG
        TRÌNH</a>

      <hr style="border-bottom: 0.01px solid #ffffff;margin: 0px 20px;">

      <!-- <a routerLink="" (click)="onClickTL($event)" (click)="drawer.toggle()" class="color-text-menu">TƯ
        LIỆU</a>

      <hr style="border-bottom: 0.01px solid #ffffff;margin: 0px 20px;">

      <a routerLink="" (click)="onClickDT($event)" (click)="drawer.toggle()" class="color-text-menu">ĐỀ
        THI</a>
      <hr style="border-bottom: 0.01px solid #ffffff;margin: 0px 20px;">
      <a routerLink="" (click)="onClickTT($event)" (click)="drawer.toggle()" class="color-text-menu">TIN
        TỨC</a> -->
    </mat-drawer>
    <mat-drawer-content>
      <div class="main">
        <!-- <div fxLayout="row" class="background-info-row">
          <div class="background-info-dashboard" id="top" fxFlex="100" fxLayoutAlign="start center">
            <img>
          </div>
        </div> -->

        <div class="container hide-mobile fixed" fxLayout="row">
          <div class="header">
            <div class="horizontal-header-tab" fxFlex="70" fxLayoutAlign="start center" fxLayoutGap="30px">

              <a fxLayoutAlign="start center" routerLink="/index" (click)="onClickTC($event)">
                <img src="{{unitInfor?.desktopLogo}}" style="width:48px; height: 48px;">
              </a>

              <a fxFlex="12" fxLayoutAlign="start center" [ngClass]="{'activedLink': tcActived===true}"
                (click)="onClickTC($event)" class="a-horizontal-header-tab">TRANG CHỦ</a>
              <a fxFlex="11" fxLayoutAlign="start center" [class.activedLink]="bgActived" 
                (click)="onClickBG($event)" class="a-horizontal-header-tab">BÀI GIẢNG</a>
              <a fxFlex="16" fxLayoutAlign="start center" [class.activedLink]="ctActived"
                (click)="onClickCT($event)" class="a-horizontal-header-tab">CHƯƠNG TRÌNH</a>
              <!-- <a fxFlex="7" fxLayoutAlign="start center" class="a-horizontal-header-tab" routerLink=""
                [class.activedLink]="tlActived" (click)="onClickTL($event)">TƯ LIỆU</a>
              <a fxFlex="6" fxLayoutAlign="start center" class="a-horizontal-header-tab" routerLink=""
                [class.activedLink]="dtActived" (click)="onClickDT($event)">ĐỀ THI</a>
              <a fxFlex="10" fxLayoutAlign="start center" class="a-horizontal-header-tab" routerLink=""
                [class.activedLink]="ttActived" (click)="onClickTT($event)">TIN TỨC</a> -->
            </div>

            <ng-container *ngIf="tokenInfo" fxLayoutAlign="end center" fxFlex="30">
              <div fxLayoutAlign="end center" fxFlex="30" class="hide-mobile">
                <div class="horizontal-header-info-inbox">
                </div>
                <label fxHide.xs fxHide.sm class="horizontal-header-info-fullname"
                  style="margin-right: 5px; color: #303030; font-weight: 600;">{{tokenInfo.fullName}}</label>
                <div class="horizontal-header-info-detail">
                  <!-- ============================================================== -->
                  <!-- Profile - style you can find in header.scss -->
                  <!-- ============================================================== -->
                  <button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
                    <img src="{{avartar}}" alt="user" class="profile-pic"> </button>
                  <mat-menu #profile class="mat-menu-custom" style="background: white;">
                    <a mat-menu-item routerLink="/dashboard" *ngIf="canManage">
                      <mat-icon svgIcon="horizontal-header-detail-manage" style="font-size: 1px;"></mat-icon> Quản trị
                    </a>
                    <a mat-menu-item routerLink="/learner">
                      <mat-icon svgIcon="horizontal-header-detail-student"></mat-icon> Học tập
                    </a>
                    <a mat-menu-item routerLink="/learner/user-learn">
                      <mat-icon svgIcon="horizontal-header-detail-mylesson"></mat-icon> Bài giảng của tôi
                    </a>
                    <button mat-menu-item (click)="onClickLogOut()">
                      <mat-icon svgIcon="horizontal-header-detail-logout"></mat-icon> Đăng xuất
                    </button>
                  </mat-menu>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="!tokenInfo" fxLayoutAlign="end center" fxFlex="30">
              <label class="hide-mobile horizontal-header-info-fullname" style="margin-right: 5px;"
                fxLayoutAlign="end center" fxFlex="30">
                <a routerLink="/authentication/login" class="login" fxLayoutAlign="center center">
                  <mat-icon style="margin-right: 7px;">account_circle</mat-icon>
                  Đăng nhập
                </a>
              </label>
            </ng-container>
          </div>
        </div>

        <mat-toolbar class="toolbar hide" fxLayoutAlign="space-between center">
          <!-- <button mat-icon-button > -->
          <mat-icon (click)="drawer.toggle()">menu</mat-icon>
          <!-- </button> -->
          <!-- <span class="spacer"></span> -->
          <img class="logo-mobile" src="../../../../assets/images/banner/logo-tiengiang.png">

          <ng-container *ngIf="tokenInfo">
            <div fxLayout="row" fxLayoutAlign="center center">


              <label fxHide.xs fxHide.sm class="horizontal-header-info-fullname"
                style="margin-right: 5px;">{{tokenInfo.fullName}}</label>

              <div class="horizontal-header-info-detail">
                <!-- ============================================================== -->
                <!-- Profile - style you can find in header.scss -->
                <!-- ============================================================== -->
                <button [matMenuTriggerFor]="profile" mat-icon-button>
                  <img src="{{avartar}}" alt="user" class="profile-pic"> </button>
                <mat-menu #profile class="mat-menu-custom" style="background: white;">
                  <a mat-menu-item routerLink="/dashboard" *ngIf="canManage">
                    <mat-icon svgIcon="horizontal-header-detail-manage" style="font-size: 1px;"></mat-icon> Quản trị
                  </a>
                  <a mat-menu-item routerLink="/learner">
                    <mat-icon svgIcon="horizontal-header-detail-student"></mat-icon> Học tập
                  </a>
                  <a mat-menu-item routerLink="/learner/user-learn">
                    <mat-icon svgIcon="horizontal-header-detail-mylesson"></mat-icon> Bài giảng của tôi
                  </a>
                  <button mat-menu-item (click)="onClickLogOut()">
                    <mat-icon svgIcon="horizontal-header-detail-logout"></mat-icon> Đăng xuất
                  </button>
                </mat-menu>
              </div>
            </div>

          </ng-container>

          <ng-container *ngIf="!tokenInfo">
            <label class="horizontal-header-info-fullname" style="margin-right: 5px;">
              <a routerLink="/authentication/login" class="login" fxLayoutAlign="center center">
                <mat-icon style="margin-right: 7px;">account_circle</mat-icon>
                Đăng nhập
              </a>
            </label>
          </ng-container>
        </mat-toolbar>

        <div class="body">
          <router-outlet></router-outlet>
        </div>

        <div class="footer-info">
          <div fxLayout="column" fxLayoutAlign="center center" class="footer-padding">
            <!-- <a routerLink="/index" (click)="onClickTC($event)">
              <img class="logo" src="{{unitInfor?.unitName}}">
            </a> -->

            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" class="info-address">
              <span class="title-portal">{{unitInfor?.unitName}}</span>
              <span class="color-text-footer" fxLayoutAlign="center center">
                <span class="text-info">
                  <mat-icon svgIcon="location-icon" class="icon"></mat-icon>
                </span>
                {{unitInfor?.address}}
              </span>
              <div fxLayout=row fxLayoutGap="20px" fxLayout.xs="column">
                <span class="color-text-footer" fxLayoutAlign="center center" fxLayoutAlign.xs="start center">
                  <span class="text-info">
                    <mat-icon svgIcon="phone-icon" class="icon"></mat-icon>
                  </span>
                  {{unitInfor?.phoneNumber}}
                </span>
                <span class="color-text-footer" fxLayoutAlign="center center" fxLayoutAlign.xs="start center">
                  <span class="text-info">
                    <mat-icon svgIcon="mail-icon" class="icon"></mat-icon>
                  </span>
                  {{unitInfor?.email}}
                </span>
              </div>
            </div>
            <hr class="horrizontal-line">
            <div fxLayout="column" fxLayoutAlign="center center">
              <span class="color-text-footer licence">
                Hệ thống triển khai trên nền tảng CLS K12 (Cloud Learning System K12)
              </span>
              <!-- <div class="color-text-footer">
                Copyright © 2020 - 2021 SAO SÀI GÒN
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>