<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap.gt-md="20px grid">
        <div fxFlex class="mat-title mb-0">Danh sách khối lớp</div>

        <div fxFlex fxLayoutAlign="start center">
          <div fxLayout="row" fxLayoutGap="15px">
            <button *ngIf="this.hasAddPermission" mat-raised-button color="primary" (click)="openDialog()">
              <mat-icon>add_circle_outline</mat-icon> Thêm khối
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="manage-card">
    <app-spinner2></app-spinner2>
    <table *ngIf="isReady ==true" mat-table [dataSource]="gradesPagination" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let element; let i=index"> {{element.stt}} {{i + 1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="width-10-per"> Tên khối </th>
        <td mat-cell *matCellDef="let element" class="mat-main-column width-10-per"> {{element.name}} </td>
      </ng-container>

      <!-- STT Column -->
      <ng-container matColumnDef="orderNumber">
        <th mat-header-cell *matHeaderCellDef class="width-10-per"> Mã khối</th>
        <td mat-cell *matCellDef="let element" class="width-10-per"> KHOI-{{element.orderNumber}} </td>
      </ng-container>

      <!-- Subject Column -->
      <ng-container matColumnDef="listSubject">
        <th mat-header-cell *matHeaderCellDef> Danh sách môn học </th>
        <td mat-cell *matCellDef="let element">
          <span class="text-wrap" matTooltip="{{element.subjectName}}">{{element.subjectName}}</span>
        </td>
      </ng-container>

      <!-- fuction Column -->
      <ng-container matColumnDef="function">
        <th mat-header-cell *matHeaderCellDef> Chức năng </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon svgIcon="book" matTooltip="Môn học" (click)="UpdateSubject(row)" style="height: 18px">
          </mat-icon>

          <mat-icon svgIcon="edit-black" class="icon" *ngIf="this.hasEditPermission" mat-icon-button
            matTooltip="Chỉnh sửa" (click)="UpdateGrade(row)" style="margin-right: 0;"></mat-icon>
          <mat-icon svgIcon="trash-black" class="icon" *ngIf="this.hasDeletePermission" mat-icon-button matTooltip="Xóa"
            (click)="DeleteGrade(row)"></mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell background-no-content text-center" colspan="8">
          <div class="background-no-content-img"></div>
          Không tìm thấy khối
        </td>
      </tr>
    </table>
  </mat-card>
</div>
