.center {
  text-align: center;
}

.end {
  text-align: end;
}


.icon {
  height: 20px;
}

.width-10-per{
  width: 10% !important;
}

.width-6-per{
  width: 6% !important;
}

.width-60-per{
  width: 60% !important;
}