.title_edit {
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
  font-weight: 600;
}
.content_edit {
  font-size: 13px;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 20px;
  padding: 19px 18px 18px !important;

  .title {
    color: #303030;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 19px;
    margin-top: 0;
  }

  .content_question {
    font-weight: normal;
    color: #555555;
    margin-bottom: 6px;
  }

  :host ::ng-deep .ck-essay .cke_chrome {
    border-radius: 2px !important;
  }
}

.center-btn-footer {
  margin: 35px 0;
  text-align: center;

  .btn-footer {
    height: 35px;
    background: #da251d;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    padding: 0 20px;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .btn-success {
    background-color: #4caf50;
  }

  .btn-cancel {
    padding: 0 36px;
    margin-right: 20px;
  }
}
