<h3 class="title_edit">CHỈNH SỬA CÂU HỎI</h3>
<app-question-filter-action [dataEdit]="dataQuestionView"></app-question-filter-action>
<div class="content">
  <mat-card class="content_edit">
    <p class="title">Sửa câu hỏi</p>
    <div class="content_all_quesion">
      <div *ngIf="dataQuestionView?.format== 'SIG'">
        <app-edit-single-choice-question [hideAction]="true" *ngIf="dataQuestionView.type=='SIG'" [dataQuestion]="dataQuestionView"
          [configUpload]="configUpload" (questionOutput)="handleData($event)">
        </app-edit-single-choice-question>

        <app-edit-multiple-choice-question [hideAction]="true" *ngIf="dataQuestionView.type=='MTC'" [dataQuestion]="dataQuestionView"
          [configUpload]="configUpload" (questionOutput)="handleData($event)">
        </app-edit-multiple-choice-question>

        <app-edit-under-line-question [hideAction]="true" *ngIf="dataQuestionView.type=='UDL'" [dataQuestion]="dataQuestionView"
          [configUpload]="configUpload" (questionOutput)="handleData($event)">
        </app-edit-under-line-question>

        <app-edit-true-false-question [hideAction]="true" *ngIf="dataQuestionView.type=='TFQ'" [dataQuestion]="dataQuestionView"
          [configUpload]="configUpload" (questionOutput)="handleData($event)">
        </app-edit-true-false-question>

        <app-edit-true-false-clause-question [hideAction]="true" *ngIf="dataQuestionView.type=='TFC'" [dataQuestion]="dataQuestionView"
          [configUpload]="configUpload" (questionOutput)="handleData($event)">
        </app-edit-true-false-clause-question>

        <app-edit-missing-word1-question [hideAction]="true" *ngIf="dataQuestionView.type=='FB1'" [dataQuestion]="dataQuestionView"
          [configUpload]="configUpload" (questionOutput)="handleData($event)">
        </app-edit-missing-word1-question>

        <app-edit-missing-word2-question [hideAction]="true" *ngIf="dataQuestionView.type=='FB2'" [dataQuestion]="dataQuestionView"
          [configUpload]="configUpload" (questionOutput)="handleData($event)">
        </app-edit-missing-word2-question>

        <app-edit-matching-question [hideAction]="true" *ngIf="dataQuestionView.type=='MCQ'" [dataQuestion]="dataQuestionView"
          [configUpload]="configUpload" (questionOutput)="handleData($event)">
        </app-edit-matching-question>

        <app-edit-essay-question [hideAction]="true" *ngIf="dataQuestionView.type=='ESS'" [dataQuestion]="dataQuestionView"
          [configUpload]="configUpload" (questionOutput)="handleData($event)">
        </app-edit-essay-question>
      </div>
      <div *ngIf="dataQuestionView?.format=='GRO'">
        <app-edit-group-question [hideAction]="true" [dataQuestion]="dataQuestionView" [childIndex]="childIndexView"
          [configUpload]="configUpload" (questionOutput)="handleData($event)">
        </app-edit-group-question>
      </div>
    </div>
  </mat-card>
  <div class="center-btn-footer">
    <a routerLink="/dashboard/question-bank">
      <button mat-raised-button class="btn-footer btn-cancel btn-fixed-width">Hủy</button>
    </a>
    <button mat-raised-button class="btn-footer btn-success btn-fixed-width" (click)="getvalue()">Lưu</button>
  </div>
</div>

<ng-template #loadingTemplate>
  <mat-spinner></mat-spinner>
</ng-template>
