<div fxLayout='column' class="container" [ngClass]="{'isCloneQuestion': hideAction}">
  <div class="question-content">
    <div fxLayout="row" class="block-title" fxLayoutAlign="space-between">
      <div class="table_question_title">Nội dung câu hỏi</div>
      <div *ngIf="hideAction" class="table_question_title text_note">Vui lòng chọn văn bản và bấm vào 
        <span>U</span> để tạo phương án cho câu hỏi</div>
      <button [ngClass]="{'isClone': hideAction}" mat-raised-button color='primary' (click)="updateQuestion(true)" *ngIf="isGroup != true"
        [disabled]="disabledUpdate">Áp dụng</button>
    </div>
    <div fxLayout=row class="type-level-wrapper" [ngClass]="{'isClone': hideAction}" *ngIf="isGroup != true">
      <div fxLayout=row fxFlex=50>
        <label fxFlex=25>Loại câu hỏi:</label>
        <mat-form-field fxLayoutAlign="start center" class="matFormFieldSelectBox combobox_selection"
          [floatLabel]="'never'">
          <mat-select disabled [formControl]="questionTypeCtrl" disableOptionCentering>
            <mat-option *ngFor="let type of typeQuestionEnum" [value]="type.id">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout=row fxFlex=50 fxLayoutAlign="end center">
        <label fxLayoutAlign="start center" fxFlex=20>Mức độ:</label>
        <mat-form-field fxLayoutAlign="start center" class="combobox_selection matFormFieldSelectBox"
          [floatLabel]="'never'">
          <mat-select [formControl]="questionLevelCtrl" disableOptionCentering>
            <mat-option *ngFor="let level of levelQuestionEnum" [value]="level.id">
              {{level.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="input-content ck-editor-cls" [attr.uploadUrl]="configUpload?.uploadUrl"
    [attr.token]="configUpload?.token">
      <ckeditor #ck [ngModel]="ckeditorContent" class="ck-noidung" [config]="configQuestion"
        (change)="onQuestionContentChange($event)">
      </ckeditor>
      <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
        style="display:none!important" />
      <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
      <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
    </div>
  </div>
  <div class="question_list">
    <label><b>Phương án:</b></label>
    <ng-container *ngFor="let answer of sortedAnswers()">
      <div fxLayout="row" class="answer-wrapper">
        <div data-so-thu-tu fxFlex="10" style="margin: auto; text-align: center;">
          <div class="radio radio-label-custom">
            <label>
              <mat-radio-group [(ngModel)]="selectedAnswer" aria-labelledby="example-radio-group-label"
                class="example-radio-group">
                <mat-radio-button (change)="changeSelectAnswer(answer)" value="checkboxG_{{answer.order}}">
                  {{alphabet[answer.order]}}
                </mat-radio-button>
              </mat-radio-group>
            </label>
          </div>
        </div>
        <div fxFlex="80">
          <ckeditor #cks class="ck-phuongan" readOnly="true" data="{{answer.content}}" [config]="configAnswer" style="width: 100%;">
          </ckeditor>
        </div>
        <div fxFlex="10" style="margin: auto;">
          <button mat-button (click)="deleteAnswer(answer)" title="Xóa">
            <mat-icon svgIcon="trash"></mat-icon>
          </button>
        </div>

        <br>
      </div>
    </ng-container>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'isClone': hideAction}">
  <button mat-raised-button color='primary' (click)="updateQuestion(true)" *ngIf="isGroup!=true"
    [disabled]="disabledUpdate">Áp dụng</button>
</div>