.question-content {
  position: relative;
  height: fit-content;
}
.container {
  font-size: 13px;
}
.phuong-an-content {
  margin-top: -7.4rem;
  padding: 1rem;
  margin-left: 0.5rem;
}

.phuong-an-content-column {
  margin-top: 0.5rem;
  padding: 1rem;
}

.input-content {
  margin-top: 1rem;
}

.create-answer-question {
  position: absolute;
  right: 1rem;
}

:host ::ng-deep .ck-phuongan .cke_top,
:host ::ng-deep .ck-phuongan .cke_bottom {
  display: none !important;
}

:host ::ng-deep .ck-noidung u {
  text-decoration: none;
  border-bottom: 1px solid #eeeeee;
}

:host ::ng-deep textarea {
  resize: vertical;
}

:host ::ng-deep .fade-shuffle {
  opacity: 0.3;
}

:host ::ng-deep .m-10 {
  margin: 10px;
}

:host ::ng-deep .cke_button__btntaodapan_label {
  display: block !important;
}

:host ::ng-deep .cke_button__btntaodapan {
  background-color: #016cbb !important;
  width: 100px !important;
  right: 25px;
  position: absolute;
  display: block;
  height: 24px !important;
  border: none !important;
  border-radius: 0 !important;
}

:host ::ng-deep a.cke_button_on {
  background: #fff;
  border: 1px #bcbcbc solid !important;
  padding: 3px 5px !important;
}

:host ::ng-deep a.cke_button_off:hover {
  border: 1px #bcbcbc solid !important;
  padding: 3px 5px !important;
}

:host ::ng-deep .cke_button__btntaodapan_label {
  color: white;
  padding: 4px 6px !important;
  display: block;
}

:host ::ng-deep .cke_button__btntaodapan_icon {
  display: none;
}

:host ::ng-deep .center-btn-footer {
  text-align: center;
  margin-top: 20px;
}

:host ::ng-deep .btn-footer {
  margin: 0px 10px;
}

:host ::ng-deep .btn-success {
  background-color: #a8ce54;
  color: #fff;
}

:host ::ng-deep .btn-cancel {
  background-color: #e5e5e5;
}

:host ::ng-deep .btn-fixed-width {
  width: 100px;
}

:host ::ng-deep .ck-phuongan .cke_top {
  display: none;
}

.answer-wrapper {
  margin-top: 0.5rem;
}
.combobox_selection {
  width: 200px !important;
}

.isCloneQuestion .table_question_title{
  font-size: 13px;
  color: #555555;
  opacity: 0.98;
  font-weight: normal;
  margin-bottom: 6px;
  ::ng-deep ckeditor .cke_chrome{
      border-radius: 2px;
  }
}

.text_note{
  margin: 0 2px;
  // text-transform: lowercase;

  >span{
    text-decoration: underline; 
    font-weight: bold;
    text-transform: uppercase;
  }
}

.isClone{
  display: none !important;
}

.question_list{
  margin-top: 20px;
}