<div fxLayout="column" class="container" [ngClass]="{'isCloneQuestion': hideAction}">
  <div class="question-content ck-editor-cls" [attr.uploadUrl]="configUpload?.uploadUrl"
  [attr.token]="configUpload?.token">
    <div fxLayout="row" class="block-title" fxLayoutAlign="space-between">
      <div class="table_question_title">Nội dung câu hỏi</div>
      <button [ngClass]="{'isClone': hideAction}" mat-raised-button color='primary' (click)="updateQuestion(true)" [disabled]="disabledUpdate">Áp dụng</button>
    </div>
    <div fxLayout=row class="type-level-wrapper" [ngClass]="{'isClone': hideAction}">
      <div fxLayout=row fxFlex=50>
        <label fxFlex=25>Loại câu hỏi:</label>
        <mat-form-field fxLayoutAlign="start center" class="matFormFieldSelectBox combobox_selection"
          [floatLabel]="'never'">
          <mat-select disabled [formControl]="questionTypeCtrl" disableOptionCentering>
            <mat-option *ngFor="let type of typeQuestionEnum" [value]="type.id">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout=row fxFlex=50 fxLayoutAlign="end center">
        <label fxLayoutAlign="start center" fxFlex=20>Mức độ:</label>
        <mat-form-field fxLayoutAlign="start center" class="combobox_selection matFormFieldSelectBox"
          [floatLabel]="'never'">
          <mat-select [formControl]="questionLevelCtrl" disableOptionCentering>
            <mat-option *ngFor="let level of levelQuestionEnum" [value]="level.id">
              {{level.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <ckeditor #ck [ngModel]="ckeditorContent" id='txtcontentCauHoi' [config]="configQuestion"
      (change)="onQuestionContentChange($event)">
    </ckeditor>
    <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
      style="display:none!important" />
    <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
    <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
  </div>

  <div [ngClass]="{'display-none': !isReady}">
    <label><b>Phương án:</b></label>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <button mat-raised-button color="primary" (click)="addAnswer()"> Tạo cặp mệnh đề đúng</button>
      <button [disabled]="hasLeftFakeAnswer==false" mat-raised-button color="primary" (click)="addLeftInterference()">
        Thêm mệnh
        đề nhiễu vế trái</button>
      <button [disabled]="hasLeftFakeAnswer==true" mat-raised-button color="primary" (click)="addRightInterference()">
        Thêm
        mệnh đề nhiễu vế phải</button>
    </div>
    <ng-container *ngFor="let groupId of groupAnswers() ; index as i">
      <div class="input-answer" fxLayout="row">
        <div fxFlex="10%" fxLayoutAlign="center center">
          <div>
            <label>
              {{alphabet[i]}}
            </label>
          </div>
        </div>

        <div fxFlex="80%">
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
            <ng-container *ngIf=" answersOfGroup(groupId).length==2;">
              <ng-container>
                <div fxFlex="50%">
                  <div class="answer-input ck-editor-cls" [attr.uploadUrl]="configUpload?.uploadUrl"
                  [attr.token]="configUpload?.token">
                    <ckeditor #cks class="ck-phuongan" [ngModel]="answersOfGroupLeft(groupId).content"
                      (change)="onAnswerContentChange($event, answersOfGroupLeft(groupId))" [config]="configAnswer">
                    </ckeditor>
                    <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
                      style="display:none!important" />
                    <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
                    <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
                  </div>
                </div>
                <div fxFlex="50%">
                  <div class="answer-input ck-editor-cls" [attr.uploadUrl]="configUpload?.uploadUrl"
                  [attr.token]="configUpload?.token">
                    <ckeditor #cks class="ck-phuongan" [ngModel]="answersOfGroupRight(groupId).content"
                      (change)="onAnswerContentChange($event, answersOfGroupRight(groupId))" [config]="configAnswer">
                    </ckeditor>
                    <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
                      style="display:none!important" />
                    <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
                    <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf=" answersOfGroup(groupId).length == 1">
              <ng-container *ngFor="let answer of answersOfGroup(groupId)">
                <div fxFlex="50%">
                  <div>
                    <div class="answer-input ck-editor-cls" *ngIf="answer.position==false" [attr.uploadUrl]="configUpload?.uploadUrl"
                    [attr.token]="configUpload?.token">
                      <ckeditor #cks class="ck-phuongan" [ngModel]="answer.content" [config]="configAnswer"
                        (change)="onAnswerContentChange($event,answer)">
                      </ckeditor>
                      <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
                        style="display:none!important" />
                      <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
                      <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />

                    </div>
                  </div>
                </div>
                <div fxFlex="50%">

                  <div class="answer-input ck-editor-cls" *ngIf="answer.position==true" [attr.uploadUrl]="configUpload?.uploadUrl"
                  [attr.token]="configUpload?.token">
                    <ckeditor #cks class="ck-phuongan" [ngModel]="answer.content" [config]="configAnswer"
                      (change)="onAnswerContentChange($event, answer)"></ckeditor>
                    <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
                      style="display:none!important" />
                    <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
                    <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />

                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div fxFlex="10%" fxLayoutAlign="center center">
          <button mat-icon-button type="button" (click)="deleteAnswer(groupId)" title="Xóa"
            [disabled]="(answersOfGroup(groupId).length == 2 && soDapAnDung==1)">
            <mat-icon svgIcon="trash"></mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
  <div *ngIf="!isReady" fxLayoutAlign="center center">
    Đang tải danh sách phương án...
  </div>
</div>
<div class="btn-update" *ngIf="isReady" fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'isClone': hideAction}">
  <button [disabled]="disabledUpdate" mat-raised-button color='primary' (click)="updateQuestion(true)">Áp dụng</button>
</div>