.container {
    font-size: 13px !important;
}

.question-content {
    height: fit-content;
}

.phuong-an-content {
    margin-top: -7.4rem;
    padding: 1rem;
    margin-left: 0.5rem;
    display: block;
}
.phuong-an-content-column {
    margin-top: 0.5rem;
    padding: 1rem;
}
.select-button-place {
    padding: 1rem;
    text-align: center;
}
.button-select {
    margin-left: 1rem;
}
.button-select-true {
    background-color: #009900;
}
.button-select-mobile {
    width: 60%;
    margin: 0 auto;
    margin-top: 0.5rem;
}
.button-select-mobile:first-child {
    margin-top: 0;
}
.input-answer {
    margin-top: 0.5rem;
}

.btn-update {
    margin-top: 0.5rem;
}
.combobox_selection {
    width: 200px !important;
}

.isCloneQuestion .table_question_title{
    font-size: 13px;
    color: #555555;
    opacity: 0.98;
    font-weight: normal;
    margin-bottom: 6px;
    ::ng-deep ckeditor .cke_chrome{
      border-radius: 2px;
  }
  }
  
  .isClone{
    display: none !important;
  }

