@media (max-width:425px) {
  .login-register .login-register-box {
    top: unset;
    right: unset;
  }
}

@media (min-width:426px) and (max-width:768px) {
  .login-register .login-register-box {
    top: 70px;
    right: 68px;
  }
}
