<div class="login-register" style="background-image:url(assets/images/background/background-login-desktop.png);">
  <div class="login-register-box">
    <mat-card style="background-color: rgba(255, 255, 255, 0.7);">
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="text-center">
            <img alt="homepage" src="assets/images/logo-stg.png">
            <h4 class="m-t-0">Đăng kí tài khoản</h4>
          </div>
          <div fxLayout="row wrap">
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Họ và tên" type="text" [formControl]="form.controls['email']">
              </mat-form-field>
              <!-- <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched"
                class="text-danger support-text">You must include an email address.</small>
              <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched"
                class="text-danger support-text">You must include a valid email address.</small> -->
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Tên đăng nhập" type="text" [formControl]="form.controls['email']">
              </mat-form-field>
              <!-- <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched"
                class="text-danger support-text">You must include an email address.</small>
              <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched"
                class="text-danger support-text">You must include a valid email address.</small> -->
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Email" type="text" [formControl]="form.controls['email']">
              </mat-form-field>
              <!-- <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched"
                class="text-danger support-text">You must include an email address.</small>
              <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched"
                class="text-danger support-text">You must include a valid email address.</small> -->
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput type="password" placeholder="Mật khẩu" [formControl]="form.controls['password']">
              </mat-form-field>
              <!-- <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched"
                class="text-danger support-text">You must include password.</small> -->
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Xác nhận mật khẩu" [formControl]="form.controls['confirmPassword']"
                  type="password">
              </mat-form-field>
              <!-- <small
                *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched"
                class="text-danger support-text">You must include confirm password.</small>
              <small *ngIf="form.controls['confirmPassword'].errors?.equalTo" class="text-danger support-text">Passwords
                do not math.</small> -->
            </div>
            <!-- col full-->
            <!-- <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-checkbox class="font-14">Tôi đồng ý với điều khoản
                <a href="javascript:void(0)" class="link text-info">terms</a>.</mat-checkbox>
            </div> -->
            <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="submit"
              [disabled]="!form.valid">Tạo tài khoán</button>

            <div class="text-center" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <span>Bạn đã có tài khoản?
                <a [routerLink]="['/authentication/login']" class="link text-info"> Đăng nhập</a>
              </span>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
