.user-group-container {
  .group-btn-top {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgb(0 0 0 / 5%);
    border-radius: 6px;
    margin-bottom: 20px;
  }

  .group-btn-bottom {
    margin-top: -40px;
    padding: 0px 0px 20px 20px;

    .btn-delete {
      background: #DA251D;
    }
  }

  .filter-area {
    background: #FFFFFF;
    padding: 15px;
  }

  .btn-search {
    height: 31px;
    line-height: 31px;
  }
}

.function-content {
  height: 56px;

  .create-division {
    background: #4caf50;
    color: white;
  }

  .filter_search_input {
    height: 56px;
  }
}

.mat-table .mat-icon {
  height: 20px;
}


.mat-column-select {
  width: 52px !important;
  text-align: center;
  padding-left: 0 !important;
}