<app-spinner2></app-spinner2>
<div class="apply-css-alpha">
  <div class="user-group-container">
    <mat-card>
      <form action="" [formGroup]="filterGroupStudentForm" (ngSubmit)="onSubmitFilter()">
        <mat-card-content class="m-b-0">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap.gt-lg="30px" fxLayoutGap.gt-md="20px"
            class="m-b-20">
            <div fxFlex.gt-lg="25" fxLayoutAlign="start center" *ngIf="levelManageValue==1 && userIdentity.userTypeRole == 'SUPER'">
              <mat-form-field appearance="outline" (click)="onDivisionSelectClicked()">
                <mat-label>Chọn phòng</mat-label>
                <mat-select formControlName="divisionId" placeholder="Chọn phòng" #singleSelectDivision
                  disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="divisionFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                    {{division.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex="25" fxLayoutAlign="start center" *ngIf="levelManageValue<=2 && userIdentity.userTypeRole == 'SUPER'">
              <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
                <mat-label>Chọn trường</mat-label>
                <mat-select formControlName="schoolId" [disabled]="isDisableSchoolId" placeholder="Chọn trường"
                  #singleSelectSchool disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="schoolFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                    {{school.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex="25" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
              <mat-form-field appearance="outline">
                <mat-label>Tìm kiếm</mat-label>
                <input matInput type="text" #input formControlName="keyWord" name="search" placeholder="Tìm tên nhóm, mã nhóm người dùng"
                  autocomplete="off">
              </mat-form-field>
            </div>

            <div fxLayoutAlign="end center" fxFlex="100" class="combobox_action float-right">
              <button mat-raised-button color="primary">
                <mat-icon matSuffix>filter_list</mat-icon>
                Lọc kết quả
              </button>
            </div>
          </div>

        </mat-card-content>
      </form>
    </mat-card>
    <mat-card class="manage-card">
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid">
          <div [fxFlex]="hasPermissionAdd?100:'none'" class="mat-title mb-0">Danh sách nhóm học sinh</div>
          <div *ngIf="hasPermissionAdd" fxFlex="none">
            <button mat-raised-button color="primary" (click)="createUserGroup()">
              <mat-icon>add_circle_outline</mat-icon> Thêm nhóm
            </button>
          </div>
          <!-- <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
            <div fxLayout="row" fxLayoutGap="15px">
              <div fxFlex="none">
                <mat-form-field appearance="outline">
                  <mat-label>Tìm kiếm</mat-label>
                  <input matInput type="text" #input [(ngModel)]="getListUserGroupRequest.keyWord"
                    (keyup.enter)="getListUserGroup()" name="search" placeholder="Tìm tên nhóm, mã nhóm người dùng"
                    autocomplete="off">
                </mat-form-field>
              </div>
              <div fxFlex="none">
                <button mat-raised-button color="primary" class="mat-button-square" (click)="getListUserGroup()">
                  <mat-icon matSuffix>search</mat-icon>
                </button>
              </div>
            </div>
          </div> -->
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="manage-card">
      <table *ngIf="!isLoadingResults" mat-table [dataSource]="userGroupPagination.items">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element;let i = index">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"
                [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element, i)">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef> STT
            </th>
            <td mat-cell *matCellDef="let element;let i = index">
              {{i+1}}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> TÊN NHÓM
            </th>
            <td mat-cell *matCellDef="let element" class="mat-main-column">
              {{element.name}}
              <span class="editing" *ngIf="element.status=='EDI'">Đang chỉnh sửa</span>
              <span class="waiting" *ngIf="element.status=='PEN'">Chờ duyệt</span>
              <span class="approved" *ngIf="element.status=='PUB'">Đã duyệt</span>
              <span class="rejected" *ngIf="element.status=='RET'">Bị trả lại</span>
            </td>

          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="userGroupCode">
            <th mat-header-cell *matHeaderCellDef> MÃ NHÓM </th>
            <td mat-cell *matCellDef="let element">
              {{element.userGroupCode}}
            </td>
          </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="creater">
              <th mat-header-cell *matHeaderCellDef> Người tạo </th>
              <td mat-cell *matCellDef="let element">
                {{element.creator}}
              </td>
            </ng-container>

          <ng-container matColumnDef="function">
            <th mat-header-cell *matHeaderCellDef>CHỨC NĂNG</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon *ngIf="hasPermissionAssign" (click)="assignUser(element.id)" class="mat-tooltip-panel-above"
                matTooltip="Ghi danh học sinh" class="lesson_icon__action assign-student " svgIcon="release-sermons">
              </mat-icon>
              <mat-icon *ngIf="hasPermissionEdit" (click)="editUserGroup(element)" class="mat-tooltip-panel-above"
                matTooltip="Sửa nhóm" class="lesson_icon__action" svgIcon="edit-black">
              </mat-icon>
              <mat-icon *ngIf="hasPermissionDelete" (click)="onDeleteUserGroup(element)" class="mat-tooltip-panel-above"
                matTooltip="Xóa nhóm" class="lesson_icon__action" svgIcon="trash-black" class="icon-delete">
              </mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td colspan="5" class="mat-cell background-no-content">
              <div class="background-no-content-img"></div>
              <div class="background-no-content-info">
                <p>Không tìm thấy nhóm học sinh</p>
              </div>
            </td>
          </tr>
        </div>
      </table>
      <mat-paginator [length]="userGroupPagination.totalItems" [pageSizeOptions]="[10, 20, 30, 100]">
      </mat-paginator>
      <div class="group-btn-bottom">
        <button *ngIf="hasPermissionDelete" mat-raised-button color="warn" (click)="deleteSelected()">
          <mat-icon>delete</mat-icon>
          Xóa đã chọn
        </button>
      </div>
    </mat-card>
  </div>
</div>
