:host ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  display: flex;
  align-items: center;
  .close_button {
    position: relative;
    bottom: 8px;
    right: 2px;
    height: 15px;
    cursor: pointer;
  }
}

.filter_question{
  margin: 20px 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
}

.card_not_shadow{
  margin: 0;
  box-shadow: none !important;
}

:host ::ng-deep .mat-card-content {
  padding: 1.25rem !important;
}