<mat-card class="filter_question">
  <form [formGroup]="filterQuestionForm">
    <div class="top_box__filter">
      <mat-card class="manage-card card_not_shadow">
        <mat-card-content>
          <div class="manage-filter">
            <div *ngIf="levelManageValue==1" class="manage-filter-item">
              <!-- <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Chọn phòng:
              </label> -->
              <mat-form-field appearance="outline" (click)="onDivisionSelectClicked()">
                <mat-label>Chọn phòng</mat-label>
                <mat-select formControlName="DivisionId" placeholder="Chọn phòng" #singleSelectDivision
                  disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="divisionFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                    {{division.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="levelManageValue<=2" class="manage-filter-item">
              <!-- <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Chọn trường:
              </label> -->
              <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
                <mat-label>Chọn trường</mat-label>
                <mat-select formControlName="SchoolId" placeholder="Chọn trường" #singleSelectSchool
                  disableOptionCentering [disabled]="isDisableSchoolId">
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="schoolFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                    {{school.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
            <div class="manage-filter-item">
              <!-- <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Chọn khối:
              </label> -->
              <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
                <mat-label>Chọn khối</mat-label>
                <mat-select formControlName="GradeId" placeholder="Chọn khối" #singleSelectSchool disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="gradeFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let grade of filteredGrade | async" [value]="grade.id">
                    {{grade.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
            <div class="manage-filter-item">
              <!-- <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Chọn môn:
              </label> -->
              <mat-form-field appearance="outline" (click)="onSubjectSelectClicked()">
                <mat-label>Chọn môn</mat-label>
                <mat-select [disabled]="isDisableSubjectId" formControlName="SubjectId" placeholder="Chọn môn"
                  #singleSelectSchool disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm môn" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="subjectFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let sj of filteredSubjects | async" [value]="sj.id">
                    {{sj.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
            <div class="manage-filter-item">
              <!-- <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Chọn khung:
              </label> -->
              <mat-form-field appearance="outline" (click)="onFramesSelectClicked()">
                <mat-label>Chọn khung</mat-label>
                <mat-select formControlName="ContentPanelId" [disabled]="isDisableFramesId" placeholder="Chọn khung"
                  #singleSelectSchool disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm khung" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="framesFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let frame of filteredFrames | async" [value]="frame.curriculumId">
                    {{frame.curriculumName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
            <div class="manage-filter-item">
              <mat-form-field appearance="outline" (click)="onChapterSelectClicked()">
                <mat-label>Chọn chương</mat-label>
                <mat-select formControlName="ChapterId" [disabled]="isDisableChapterId" placeholder="Chọn chương"
                  #singleSelectSchool disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm chương" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="chapterFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let chapter of filteredChapters | async" [value]="chapter.id">
                    {{chapter.curriculumName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
            <div class="manage-filter-item">
              <mat-form-field appearance="outline" (click)="onExerciseSelectClicked()">
                <mat-label>Chọn bài</mat-label>
                <mat-select formControlName="UnitId" [disabled]="isDisableExerciseId" placeholder="Chọn bài"
                  #singleSelectSchool disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm bài" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="exerciseFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let exercise of filteredExerciser | async" [value]="exercise.id">
                    {{exercise.curriculumName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
            <div class="manage-filter-item"
              [ngStyle]="{'display': togleField ? 'none' : 'flex'}">
              <mat-form-field appearance="outline" (click)="onStatusSelectClicked()">
                <mat-label>Trạng thái</mat-label>
                <mat-select formControlName="Status" placeholder="Trạng thái" #singleSelectSchool disableOptionCentering>
                  <!-- <mat-option *ngIf="!getQuestionsToTest">
                    <ngx-mat-select-search placeholderLabel="Tìm trạng thái" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="statusFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option> -->
                  <mat-option *ngFor="let status of filteredStatusFormat" [value]="status.id">
                    {{status.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
            <div class="manage-filter-item">
              <mat-form-field appearance="outline">
                <mat-label>Dạng câu hỏi</mat-label>
                <mat-select formControlName="Format" placeholder="Tìm dạng" #singleSelectSchool disableOptionCentering>
                  <!-- <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm dạng" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="questionFormatFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option> -->
                  <mat-option *ngFor="let format of filteredQuestionFormat" [value]="format.id">
                    {{format.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
            <div class="manage-filter-item">
              <mat-form-field appearance="outline">
                <mat-label>Loại câu hỏi</mat-label>
                <mat-select formControlName="Type" placeholder="chọn loại" #singleSelectSchool disableOptionCentering
                  [disabled]="isDisablequestionTypeId">
                  <!-- <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm loại" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="questionTypeFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option> -->
                  <mat-option *ngFor="let type of filteredQuestionType" [value]="type.id">
                    {{type.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
            <div class="manage-filter-item">
              <mat-form-field appearance="outline">
                <mat-label>Mức độ</mat-label>
                <mat-select formControlName="Level" placeholder="Mức độ" #singleSelectSchool disableOptionCentering>
                  <!-- <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm mức độ" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="levelFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option> -->
                  <mat-option *ngFor="let level of filteredLevels" [value]="level.id">
                    {{level.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
            <div class="manage-filter-item">
              <mat-form-field appearance="outline" (click)="onCreatorSelectClicked()">
                <mat-label>Người tạo</mat-label>
                <mat-select formControlName="CreatorId" placeholder="Người tạo" #singleSelectSchool
                  disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm người tạo" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="creatorFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let user of filteredCreator | async" [value]="user.id">
                    {{user.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
            <div class="manage-filter-item">
              <mat-form-field appearance="outline" class="date_input">
                <mat-label>Tạo từ ngày</mat-label>
                <input formControlName="CreateDate" matInput [matDatepicker]="dpFromDate" onfocus="this.blur()"
                  placeholder="dd/MM/yyyy" class="date-picker-input" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="dpFromDate">
                </mat-datepicker-toggle>
                <mat-icon *ngIf="filterQuestionForm.value.CreateDate" (click)="clearDate('create')" class="close_button"
                  matDatepickerToggleIcon>clear</mat-icon>
                <mat-datepicker #dpFromDate>
                </mat-datepicker>
              </mat-form-field>
            </div>
  
            <div class="manage-filter-item">
              <mat-form-field appearance="outline" class="date_input">
                <mat-label>Cập nhật từ ngày</mat-label>
                <input formControlName="ModifiedDate" matInput [matDatepicker]="dpFromUpdate" onfocus="this.blur()"
                  placeholder="dd/MM/yyyy" class="date-picker-input" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="dpFromUpdate"></mat-datepicker-toggle>
                <mat-icon *ngIf="filterQuestionForm.value.ModifiedDate" (click)="clearDate('modified')"
                  class="close_button" matDatepickerToggleIcon>clear</mat-icon>
                <mat-datepicker #dpFromUpdate>
                </mat-datepicker>
              </mat-form-field>
            </div>
  
            <div class="manage-filter-item manage-filter-item-fill" 
              fxLayoutAlign="center center"
              fxLayoutAlign.gt-sm="end center">
              <button mat-raised-button color="primary" class="button-sm" (click)="onSubmitFilter()">
                <mat-icon matSuffix>filter_list</mat-icon>
                Lọc kết quả
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
</mat-card>