<app-spinner2></app-spinner2>
<div fxLayout="row wrap" class="tab-groups">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card class="manage-card" id="no-margin">
      <mat-tab-group (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Nội dung">
            <div class="content-tab">
                <learn-content-add-test *ngIf="isReady" [currentTabIndex]="currentTabIndex" [useCase]="useCase"
                [lessonStatus]="lessonStatus" [submitEvent]="submitEvents" [testDetail]="testDetailResponse"
                [lessonId]="lessonId" (invalidContent)="invalidContentEmit($event)"></learn-content-add-test>
            </div>
        </mat-tab>
        <mat-tab label="Thiết lập nâng cao">
            <div class="content-tab">
                <learn-setting-add-test *ngIf="isReady" [currentTabIndex]="currentTabIndex" [useCase]="useCase"
                [submitEvent]="submitEvents" [testConfigResponse]="testConfigResponse"  (invalidConfig)="invalidConfigEmit($event)"></learn-setting-add-test>
            </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
