.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 24px;
}

#no-margin {
  padding-top: 10px !important;
  margin: 0px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.example-small-box,
.example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
}

.example-large-box {
  height: 300px;
  width: 300px;
}

.example-tab-icon {
  margin-right: 8px;
}

.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
  margin: 8px;
}

.example-stretched-tabs {
  max-width: 800px;
}

.example-button-toggle-label {
  display: inline-block;
  margin: 16px;
}

learn-content-add-test {
  color: #555555 !important;
}

learn-setting-add-test {
  color: #555555 !important;
}

:host ::ng-deep .mat-tab-label-content {
  font-style: normal;
  line-height: 22px;
  color: #303030;
  opacity: 0.98;
}
.content-tab{
  padding: 20px;
  overflow-x: hidden;
}

:host ::ng-deep .mat-tab-label.mat-tab-label-active {
  .mat-tab-label-content{
    color: #4CAF50;
  }
}

:host ::ng-deep .mat-tab-labels {
  .mat-tab-label {
    opacity: 1 !important;
  }
}
