<div class="apply-css-alpha">
  <div class="p-4">
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <div *ngIf="levelManageValue==1" fxFlex fxFlex.gt-md="25">
        <mat-form-field appearance="outline" (click)="onDivisionSelectClicked()">
          <mat-label>Phòng</mat-label>
          <mat-select [formControl]="divisionCtrl" placeholder="Chọn phòng" #singleSelectDivision>
            <mat-option>
              <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                [formControl]="divisionFilterCtrl">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
              {{division.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div fxFlex fxFlex.gt-md="25">
        <mat-form-field appearance="outline">
          <mat-label>Tìm kiếm</mat-label>
          <input matInput [formControl]="txtKeyword" type="text" placeholder="Tìm tên giáo viên" autocomplete="off">
        </mat-form-field>
      </div>
      <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
        <button mat-raised-button color="primary" class="btn-filter" (click)="onSubmitFilter()">
          <mat-icon matSuffix>filter_list</mat-icon>
          Lọc kết quả
        </button>
      </div>
    </div>
  </div>

  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <div class="example-container m-t-20">
        <app-spinner2 name="teachearLoading" [fullScreen]="isFullScreen"></app-spinner2>
        <table mat-table [dataSource]="teacherExamSubject" class="example-table" matSort matSortActive="created"
          matSortDisableClear matSortDirection="desc">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <!-- Number Column -->
            <ng-container matColumnDef="stt">
              <th mat-header-cell *matHeaderCellDef>STT</th>
              <td mat-cell *matCellDef="let element; let i = index">{{i+1}}
              </td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Họ Và tên</th>
              <td mat-cell *matCellDef="let element" class="mat-main-column">
                <span class="text-wrap" #tooltip="matTooltip"
                matTooltip="{{element.fullName}}">{{element.fullName==null?'-':element.fullName}}</span>
              </td>
            </ng-container>
            <!-- Title Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Email</th>
              <td mat-cell *matCellDef="let element">
                <span class="text-wrap" #tooltip="matTooltip"
                matTooltip="{{element.email}}">{{element.email==null?'-':element.email}}</span>
              </td>
            </ng-container>


            <!-- Created Column -->
            <ng-container matColumnDef="dob">
              <th mat-header-cell *matHeaderCellDef disableClear>
                Ngày sinh
              </th>
              <td mat-cell *matCellDef="let element">
                {{element.dayOfBirth==null?'-':element.dayOfBirth| date: 'dd/MM/yyyy'}}
              </td>
            </ng-container>
            <!-- Created Column -->
            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef disableClear>
                Giới tính
              </th>
              <td mat-cell *matCellDef="let element">{{element.getGender}}
              </td>
            </ng-container>
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox color="primary" class="example-margin" [checked]="allComplete" (change)="setAll($event.checked)"
                  [indeterminate]="someComplete()"></mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox color="primary" class="example-margin" [(ngModel)]="row.isChoose"
                  (ngModelChange)="updateAllComplete($event,row.id)"></mat-checkbox>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
            <tr class="mat-row" *matNoDataRow>
              <td colspan="6" class="mat-cell background-no-content">
                <div class="background-no-content-img"></div>
                <div class="background-no-content-info">
                  <p>Không tìm thấy giáo viên</p>
                </div>
              </td>
            </tr>
          </div>

        </table>
        <mat-paginator [length]="totalItems" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
