<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex class="mat-title mb-0">Thống kê kết quả học tập </div>
        <div fxFlex fxLayoutAlign="end center">
          <button *ngIf="isShowFilter" (click)="onClickToggleShowFilter()" mat-raised-button>
            <span class="material-icons">visibility_off</span>
            Ẩn bộ lọc
          </button>
          <button *ngIf="!isShowFilter" (click)="onClickToggleShowFilter()" mat-raised-button>
            <span style="width: 24px;" class="material-icons">visibility_on</span>
            Hiện bộ lọc
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="manage-card" *ngIf="isShowFilter">
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutGap="15px grid" fxLayoutGap.gt-md="16px grid" fxLayoutAlign="start center"
        class="filter-wrapper">
        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">
          <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
            <mat-label>Khối</mat-label>
            <mat-select [formControl]="gradeCtrl" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering
              (selectionChange)="onChangeGradeSelected($event.value)">
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="gradeFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option>Chọn khối</mat-option>
              <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                {{grade.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">
          <mat-form-field appearance="outline" (click)="onSubjectSelectClicked()">
            <mat-label>Môn</mat-label>
            <mat-select [formControl]="subjectCtrl" placeholder="Chọn môn" #singleSelectSubject disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm môn" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="subjectFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option>Chọn môn</mat-option>
              <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.id">
                {{subject.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">
          <mat-form-field appearance="outline" (click)="onTeacherSelectClicked()">
            <mat-label>Giáo viên</mat-label>
            <mat-select [formControl]="teacherCtrl" placeholder="Chọn giáo viên" #singleSelectSubject
              disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm giáo viên" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="teacherFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option>------</mat-option>
              <mat-option *ngFor="let teacher of filteredTeachers | async" [value]="teacher.id">
                {{teacher.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div fxFlex fxLayoutAlign="end center" class="filter-control">
          <button class="mr-3" mat-raised-button color="primary" (click)="filterLessonReport()">
            <mat-icon matSuffix>filter_list</mat-icon>
            Lọc kết quả
          </button>
          <button mat-raised-button color="primary" (click)="exportExcel()">
            <mat-icon matSuffix>file_download</mat-icon>
            Xuất dữ liệu
          </button>
        </div>



      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <div class="table-responsive">

      <table *ngIf="isReady==true" fxHide.xs fxHide.sm fxHide.md mat-table [dataSource]="historyLessonLearnVM" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="STT">
          <th class="mobile-hide title-table" mat-header-cell *matHeaderCellDef>
            STT </th>
          <td class="mobile-hide item" mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th class="title-table" mat-header-cell *matHeaderCellDef> Tên bài giảng</th>
          <td mat-cell *matCellDef="let element">
            <div class="mobile-hide item">{{element.lessonName}}</div>
            <mat-accordion class="table-mobile">
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Tên bài giảng
                  </mat-panel-title>
                  <mat-panel-description>
                    {{element.lessonName}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="item-value">
                  <div class="name">
                    Khối
                  </div>
                  <div class="value">
                    {{element.gradeName}}
                  </div>
                </div>
                <div class="item-value">
                  <div class="name">
                    Môn học
                  </div>
                  <div class="value">
                    {{element.subjectName}}
                  </div>
                </div>
                <div class="item-value">
                  <div class="name">
                    Tên giáo viên
                  </div>
                  <div class="value">
                    {{element.teacherName}}
                  </div>
                </div>
                <div class="item-value">
                  <div class="name">
                    Thời gian bắt đầu
                  </div>
                  <div class="value">
                    {{element.registrationDate | date:'dd/MM/yyyy,hh:mm a'}}
                  </div>
                </div>
                <div class="item-value">
                  <div class="name">
                    Thời gian kết thúc
                  </div>
                  <div class="value">
                    {{element.completionDate | date:'dd/MM/yyyy,hh:mm a'}}
                  </div>
                </div>
                <div class="item-value">
                  <div class="name">
                    Trạng thái và Kết quả
                  </div>
                  <div class="value">
                    <div class="left">
                      <div class="pie-wrapper progress-{{element.percentageOfCompletion}} style-2">
                        <span class="label">{{element.percentageOfCompletion}}<span class="smaller">%</span></span>
                        <div class="pie">
                          <div class="left-side half-circle"></div>
                          <div class="right-side half-circle"></div>
                        </div>
                        <div class="shadow"></div>
                      </div>
                    </div>
                    <div class="right">
                      <span class="waiting" *ngIf="element.assessmentLevelName=='WAI'">Khá</span>
                      <span class="approved" *ngIf="element.assessmentLevelName=='PUB'">Giỏi</span>
                      <span class="rejected" *ngIf="element.assessmentLevelName=='REF'">Yếu</span>
                      <span class="rejected" *ngIf="element.assessmentLevelName=='REF'">Kém</span>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="grade">
          <th class="mobile-hide title-table" mat-header-cell *matHeaderCellDef>
            Khối </th>
          <td class="mobile-hide item" mat-cell *matCellDef="let element"> {{element.gradeName}}
          </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="subject">
          <th class="mobile-hide title-table" mat-header-cell *matHeaderCellDef>
            Môn học
          </th>
          <td class="mobile-hide item" mat-cell *matCellDef="let element"> {{element.subjectName}}
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="creator">
          <th class="mobile-hide title-table" mat-header-cell *matHeaderCellDef> Tên giáo viên </th>
          <td class="mobile-hide item" mat-cell *matCellDef="let element"> {{element.teacherName}} </td>
        </ng-container>

        <ng-container matColumnDef="registerDate">
          <th class="mobile-hide title-table" mat-header-cell *matHeaderCellDef> Thời gian ghi danh </th>
          <td class="mobile-hide item" mat-cell *matCellDef="let element">
            {{element.registrationDate | date:'HH:mm dd/MM/yyyy'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="startTime">
          <th class="mobile-hide title-table" mat-header-cell *matHeaderCellDef> Thời gian bắt đầu </th>
          <td class="mobile-hide item" mat-cell *matCellDef="let element">
            {{element.startDate | date:'HH:mm dd/MM/yyyy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="endTime">
          <th class="mobile-hide title-table center-element" mat-header-cell *matHeaderCellDef> Thời gian kết thúc </th>
          <td class="mobile-hide item center-element" mat-cell *matCellDef="let element">
            <span *ngIf="!element.completionDate">
              -
            </span>
            <span *ngIf="element.completionDate">
              {{element.completionDate | date:'HH:mm dd/MM/yyyy'}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="scope">
          <th mat-header-cell *matHeaderCellDef class="center-element mobile-hide title-table"> Trạng thái </th>
          <td mat-cell *matCellDef="let element" class="center-element mobile-hide">

            <circle-progress [percent]="element.percentageOfCompletion" [showSubtitle]="false" [radius]="17"
              [outerStrokeWidth]="5" [innerStrokeWidth]="5" [space]="-5" [outerStrokeColor]="'#4FB153'"
              [unitsFontSize]="11" [titleFontSize]="11" [titleColor]="'#4FB153'" [unitsColor]="'#4FB153'"
              [innerStrokeColor]="'#E9E9E9'" [animation]="true" [animationDuration]="300" [showInnerStroke]="true">
            </circle-progress>
          </td>
        </ng-container>

        <ng-container matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef class="center-element mobile-hide title-table"> Kết quả </th>
          <td mat-cell *matCellDef="let element" class="center-element mobile-hide">
            <span *ngIf="element.percentageOfCompletion==100" class="approved"> {{element.result}} </span>
            <span *ngIf="element.percentageOfCompletion<100">-</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell background-no-content">
            <div class="background-no-content-img"></div>
            <div class="background-no-content-info">
              <p>Không tìm thấy bài giảng</p>
            </div>
          </td>
        </tr>
      </table>

      <mat-paginator [length]="totalPage" (page)="handlePageEvent($event)" [pageSizeOptions]="[10, 5, 25, 100]">
      </mat-paginator>
    </div>
  </mat-card>
</div>