<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex fxLayoutAlign="start center" fxFlex fxFlex.gt-md="75" fxLayoutAlign.gt-xs="start center" class="mat-title mb-0">
          Danh sách kỳ thi
        </div>
        <div fxFlex fxLayoutAlign="center center" fxFlex fxFlex.gt-md="25" fxLayoutAlign.gt-xs="end center" >
          <button *ngIf="isShowFilter" class="button-hidden-filter" (click)="onClickToggleShowFilter()"
            mat-raised-button>
            <span class="material-icons">visibility_off</span>
            Ẩn bộ lọc
          </button>
          <button *ngIf="!isShowFilter" class="button-hidden-filter" (click)="onClickToggleShowFilter()"
            mat-raised-button>
            <span style="width: 24px;" class="material-icons">visibility_on</span>
            Hiện bộ lọc
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="manage-card" *ngIf="isShowFilter">
    <mat-card-content>
      <form [formGroup]="filterSubjectDoExam" (ngSubmit)="onSubmit()">
        <div fxLayout="row wrap" fxLayoutGap="35px grid" class="action-button">
          <div fxFlex="25" *ngIf="false" fxLayoutAlign="start center" class="filter-control">
            <label fxFlex="40" fxLayoutAlign="start center" for=""> Phòng:
            </label>

            <mat-form-field fxFlex="60" fxLayoutAlign="start center" appearance="outline"
              (click)="onDivisionSelectClicked()">
              <mat-select [formControl]="divisionCtrl" placeholder="Chọn phòng" #singleSelectDivision
                disableOptionCentering (selectionChange)="onChangeDivisionSelected($event.value)">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="divisionFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                  {{division.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div fxFlex="25" *ngIf="false" fxLayoutAlign="start center" class="filter-control">
            <label fxFlex="40" disabled="!isChooseSchoolValue" fxLayoutAlign="start center" for="">
              Trường: </label>
            <mat-form-field fxFlex="60" fxLayoutAlign="start center" appearance="outline"
              (click)="onSchoolSelectClicked()">
              <mat-select [formControl]="schoolCtrl" placeholder="Chọn trường" #singleSelectSchool
                disableOptionCentering (selectionChange)="onChangeSchoolSelected($event.value)">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="schoolFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                  {{school.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="25" fxLayoutAlign="start center">
            <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
              <mat-label>Chọn khối</mat-label>
              <mat-select [formControl]="gradeCtrl" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering
                (selectionChange)="onChangeGradeSelected($event.value)">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="gradeFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                  {{grade.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="25" fxLayoutAlign="start center">
            <mat-form-field appearance="outline">
              <mat-label>Chọn môn</mat-label>
              <mat-select formControlName="subjectCtrl" (click)="onSubjectSelectClicked()"
                [disabled]="!isDisableSubject" placeholder="Chọn môn" #singleSelectSubject disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm môn" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="subjectFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.id">
                  {{subject.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="25" fxLayoutAlign="start center">
            <mat-form-field appearance="outline">
              <mat-label>Chọn trạng thái</mat-label>
              <mat-select formControlName="statusCtrl" disableOptionCentering>
                <mat-option value="">
                  Chọn trạng thái
                </mat-option>
                <mat-option value="NOT">
                  Chưa chấm
                </mat-option>
                <mat-option value="STA">
                  Đang chấm
                </mat-option>
                <mat-option value="END">
                  Đã chấm
                </mat-option>

              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="25" fxLayoutAlign="end center" class="filter-control">
            <button mat-raised-button color="primary" class="btn-filter">
              <mat-icon matSuffix>filter_list</mat-icon>
              Lọc kết quả
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>

  </mat-card>

  <mat-card class="table-subject-do-exam">
    <!-- <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div> -->
    <div class="filter_table_midle">
      <table mat-table [dataSource]="dataExamReponse">
        <!-- Position Column -->
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef> STT </th>
          <td mat-cell *matCellDef="let element; let i=index"> {{i + 1}} </td>
        </ng-container>
        <ng-container matColumnDef="examName">
          <th mat-header-cell *matHeaderCellDef> TÊN KỲ THI </th>
          <td mat-cell *matCellDef="let element" class="mat-main-column">
            <span class="text-wrap" #tooltip="matTooltip" matTooltip="{{element.examName}}">{{element.examName}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="subjectName">
          <th mat-header-cell *matHeaderCellDef> MÔN THI </th>
          <td mat-cell *matCellDef="let element">
            <span class="text-wrap" #tooltip="matTooltip"
              matTooltip="{{element.subjectName}}">{{element.subjectName}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="gradName">
          <th mat-header-cell *matHeaderCellDef> KHỐI </th>
          <td mat-cell *matCellDef="let element">{{element.gradeName}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> TRẠNG THÁI </th>
          <td mat-cell *matCellDef="let element">

            <span class="status-badge-upcoming" *ngIf="element.status=='NOT'">
              Chưa chấm
            </span>
            <span class="status-badge-end" *ngIf="element.status=='END'">
              Đã chấm
            </span>
            <span class="status-badge-happenning" *ngIf="element.status=='STA'">
              Đang chấm
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="function">
          <th mat-header-cell *matHeaderCellDef> CHẤM ĐIỂM </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button title="Chấm điểm" matToolTip="Chấm điểm">
              <mat-icon svgIcon="check-do-exam" (click)="navigateMarking(element.id)"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>c
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td colspan="6" class="mat-cell background-no-content">
            <div class="background-no-content-img"></div>
            <div class="background-no-content-info">
              <p>Không tìm thấy kỳ thi</p>
            </div>
          </td>
        </tr>
      </table>

      <mat-paginator [length]="totalItems" [pageSizeOptions]="[10, 5, 25, 100]"></mat-paginator>
    </div>
  </mat-card>
</div>
