.filter_bottom_action {
  display: flex;
  justify-content: space-between;
}

.action-button .material-icons {
  color: #fff;
}

.btn-refresh-list,
.btn-add-user,
.btn-remove-selected {
  color: #fff;
}

.btn-refresh-list {
  min-width: 40px !important;
  padding: 0px 9px;
}

.btn-hide-filter {
  background: #e5e5e5;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}




.btn-filter {
  color: #fff;
}


.status-badge-happenning {
  background: #dbffdc;
  border-radius: 10.5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #4caf50;
  opacity: 0.98;
  padding: 3px 14px;
}

.status-badge-not-organized-yet {
  background: #f3f3f3;
  border-radius: 10.5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #555555;
  opacity: 0.98;
  padding: 3px 14px;
}

.status-badge-end {
  height: 21px;
  background: #ffe0df;
  border-radius: 10.5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #da251d;
  opacity: 0.98;
  padding: 3px 14px;
}

.status-badge-upcoming {
  background: #F3F3F3;
  border-radius: 10.5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #555555;
  opacity: 0.98;
  padding: 3px 14px;
}

