<ng-container *ngIf="isExportWordFile==false || isExportWordFile==undefined; else elseTemplate">
  <div class="question_basic">
    <div class="question">
      <mat-card>
        <div *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock"> <span
            [appMath]="dataQuestion.content"></span></div>
        <ng-template #elseBlock> <span [innerHTML]="dataQuestion.content"></span></ng-template>
        <div>
          <div *ngFor="let item of dataQuestion.listAnswer;index as i" fxLayout="row">
            <div fxLayout="row" fxFlex=100>
              <div fxFlex=5 fxLayoutAlign="center center">
                <span *ngIf="item.dapAnDung==1">
                  <mat-icon class="check-true">check_box</mat-icon>
                </span>
                <span *ngIf="item.dapAnDung==0">
                  <mat-icon class="check-false">close</mat-icon>
                </span>
              </div>
              <div fxFlex=3 fxLayoutAlign="center">
                {{alphabet[i]}}.
              </div>
              <div fxFlex=92>
                <div *ngIf="item.NoiDung.indexOf(defaultMath)!=-1; else elseBlock"> <span
                    [appMath]="item.NoiDung"></span>
                </div>
                <ng-template #elseBlock> <span [innerHTML]="item.NoiDung"></span></ng-template>
              </div>
            </div>
          </div>
        </div>
        <span fxLayout="row" fxLayoutAlign="center center">Câu mệnh đề đúng sai</span>
      </mat-card>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div class="question">
    <div *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock"> <span
        [appMath]="dataQuestion.content"></span></div>
    <ng-template #elseBlock> <span [innerHTML]="dataQuestion.content"></span></ng-template>

    <table border="1">
      <thead>
        <tr>
          <th style="width:500px"></th>
          <th style="width:50px">Đúng</th>
          <th style="width:50px">Sai</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataQuestion.listAnswer;index as i">
          <td>
            <table style="width: 100%; border: none;">
              <tbody>
                <tr>
                  <td style="width:10%; border: none;"> <span style="font-weight: 700;">{{alphabet[i]}}.</span> </td>
                  <td style="width:90%;border: none;">
                    <div *ngIf="item.NoiDung.indexOf(defaultMath)!=-1; else elseBlock"> <span
                        [appMath]="item.NoiDung"></span>
                    </div>
                    <ng-template #elseBlock> <span [innerHTML]="item.NoiDung"></span></ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <!-- <table id="table">
      <tr>
        <th></th>
        <th>Đúng</th>
        <th>Sai</th>
      </tr>
      <tr *ngFor="let item of dataQuestion.listAnswer;index as i">
        <div fxLayout="row" fxFlex=100 fxLayoutGap=10px>
          <div fxFlex=3 fxLayoutAlign="center">
            <span style="font-weight: 700;">{{alphabet[i]}}.</span>
          </div>
          <div fxFlex=92>
            <div *ngIf="item.NoiDung.indexOf(defaultMath)!=-1; else elseBlock"> <span [appMath]="item.NoiDung"></span>
            </div>
            <ng-template #elseBlock> <span [innerHTML]="item.NoiDung"></span></ng-template>
          </div>
        </div>
      </tr>
    </table> -->
  </div>
</ng-template>
