<div class="question_basic">
  <div *ngIf="parentId == undefined" [hidden]="isResult==true">
    <button [hidden]="isResult==true" mat-flat-button class="mark-question" [ngClass]="{'mark-question-active': isFlag}"
      (click)="isMark()">Đánh dấu
      <mat-icon [ngClass]="{'color-red': isFlag === true}">flag</mat-icon>
    </button>
  </div>

  <div [ngClass]="{'question': isResult == false || isResult == undefined}">
    <mat-card>
      <mat-card-content>
        <!--xema lại kết quá-->
        <div *ngIf="isResult == true && isPublicAnswer" class="show-result" [ngClass]="{'true': isTrueQuestion == true, 'false': isTrueQuestion == false}">
          <!-- <span>Kết quả trả lời: </span> -->
          <ng-container *ngIf="isTrueQuestion==true; else elset">
            <span>Trả lời đúng</span>
          </ng-container>
          <ng-template #elset>
            <span>Trả lời sai</span>
          </ng-template>
        </div>
        <div class="question-title" *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock">
          <span [MathJax]="dataQuestion.content"></span>
        </div>
        <ng-template #elseBlock>
          <div class="question-title">
            <span [innerHTML]="dataQuestion.content | safeHtml"></span>
          </div>
        </ng-template>

        <div class="answer-area">
          <ng-container *ngIf="(isResult==false || isResult == undefined) ; else elseTemplate">
            <div class="example-radio-group">
              <mat-radio-group class="example-radio-group" [(ngModel)]="selectedAnswer">
                <mat-radio-button color="primary" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px"
                  class="example-radio-button" [value]="item.id"
                  *ngFor="let item of dataQuestion.answers; let i = index" (change)="changeSelectAnswer(item.id)">
                  <div *ngIf="item.content.indexOf(defaultMath)!=-1; else elseBlock" fxLayout="row">
                    <div fxLayoutAlign="start center" class="m-r-10 answer-label">
                      {{alphabet[i]}}.
                    </div>
                    <div class="answer-label text-overflow" [MathJax]="item.content"></div>
                  </div>
                  <ng-template #elseBlock>
                    <div fxLayout="row">
                      <div fxLayoutAlign="start center" class="m-r-10 answer-label">
                        {{alphabet[i]}}.
                      </div>
                      <div class="answer-label text-overflow" [innerHTML]="item.content | safeHtml"></div>
                    </div>
                  </ng-template>
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </ng-container>
          <ng-template #elseTemplate>
            <div class="example-radio-group" [ngClass]="{'m-l-20': selectedAnswer != undefined}">
              <mat-radio-group class="example-radio-group" [(ngModel)]="selectedAnswer" [disabled]=true>
                <mat-radio-button color="primary" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px"
                  class="example-radio-button" [value]="item.id" *ngFor="let item of dataQuestion.answers; let i=index">
                  <div *ngIf="item.content.indexOf(defaultMath)!=-1; else elseBlock" fxLayout="row">
                    <div fxLayoutAlign="start center" class="m-r-10 answer-label" [ngClass]="{'correct': item.trueAnswer==1  && isPublicAnswer}">
                      {{alphabet[i]}}.
                    </div>
                    <div class="color answer-label text-overflow"
                      [MathJax]="item.content"></div>
                  </div>
                  <ng-template #elseBlock>
                    <div fxLayout="row">
                      <div fxLayoutAlign="start center" class="m-r-10 answer-label" [ngClass]="{'correct': item.trueAnswer==1  && isPublicAnswer}">
                        {{alphabet[i]}}.
                      </div>
                      <div class="color answer-label text-overflow"
                        [innerHTML]="item.content | safeHtml">
                      </div>
                    </div>
                  </ng-template>
                  <div class="result" *ngIf="isPublicAnswer">
                    <span *ngIf="item.id==selectedAnswer && item.trueAnswer==1">
                      <mat-icon class="true-icon">done</mat-icon>
                    </span>
                    <span *ngIf="item.trueAnswer==0 && selectedAnswer==item.id">
                      <mat-icon class="false-icon">close</mat-icon>
                    </span>
                  </div>
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </ng-template>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
