<div class="question_basic true-false-clause" *ngIf="isReady">
    <div *ngIf="parentId == undefined" [hidden]="isResult==true">
      <button mat-flat-button class="mark-question" [ngClass]="{'mark-question-active': isFlag}" (click)="isMark()">Đánh
        dấu
        <mat-icon [ngClass]="{'color-red': isFlag === true}">flag</mat-icon>
      </button>
    </div>
  
    <div [ngClass]="{'question': isResult == false || isResult == undefined}">
      <mat-card>
        <mat-card-content>
          <!--xema lại kết quá-->
          <div *ngIf="isResult == true && isPublicAnswer" class="show-result" [ngClass]="{'true': isTrueQuestion == true, 'false': isTrueQuestion == false}">
            <!-- <span>Kết quả trả lời: </span> -->
            <ng-container *ngIf="isTrueQuestion==true; else elset">
              <span>Trả lời đúng</span>
            </ng-container>
            <ng-template #elset>
              <span>Trả lời sai</span>
            </ng-template>
          </div>
          <div class="question-title" *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock">
            <span [MathJax]="dataQuestion.content"></span>
          </div>
          <ng-template #elseBlock>
            <div class="question-title">
              <span [innerHTML]="dataQuestion.content | safeHtml"></span>
            </div>
          </ng-template>
  
          <ng-container *ngIf="(isResult==false || isResult == undefined); else elseTemplate">
            <div class="answer">
              <div fxLayout="row" *ngFor="let answer of dataQuestion.answers;let i=index">
                <div fxFlex="70" fxFlex.lt-sm="60" *ngIf="answer.content.indexOf(defaultMath)!=-1; else elseBlock" class="answer-label">
                  <span class="m-r-10" fxLayoutAlign="start start">
                    <p>{{alphabet[i]}}.</p>
                  </span>
                  <span fxFlex="90" fxFlex.lt-sm="100" fxLayoutAlign="start center" [MathJax]="answer.content"></span>
                </div>
                <ng-template #elseBlock>
                  <div class="answer-label" fxFlex="70" fxFlex.lt-sm="60">
                    <span class="m-r-10" fxLayoutAlign="start start">
                      <p>{{alphabet[i]}}.</p>
                    </span>
                    <span fxFlex="90" fxFlex.lt-sm="100" fxLayoutAlign="start start" [innerHTML]="answer.content | safeHtml"></span>
                  </div>
                </ng-template>
  
                <mat-radio-group class="example-radio-group" [value]="isCheckedAnswer(answer.id)" fxLayout="row"
                  fxFlex="30" fxFlex.lt-sm="40" fxLayoutGap="1rem" (change)="changeSelectAnswer($event,answer.id)">
                  <mat-radio-button color="primary" fxFlex="50" class="example-radio-button answer-label" [value]="1">Đúng</mat-radio-button>
                  <mat-radio-button color="primary" fxFlex="50" class="example-radio-button answer-label" [value]="0">Sai</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </ng-container>
          <ng-template #elseTemplate>
            <div class="answer">
              <div fxLayout="row" *ngFor="let answer of dataQuestion.answers;let i=index">
  
                <div fxFlex="70" fxFlex.lt-sm="50" *ngIf="answer.content.indexOf(defaultMath)!=-1; else elseBlock" class="answer-label">
                  <span class="m-r-10" fxLayoutAlign="start start">
                    <p>{{alphabet[i]}}.</p>
                  </span>
                  <span fxFlex="90" fxFlex.lt-sm="100" fxLayoutAlign="start center" [MathJax]="answer.content"></span>
                </div>
  
                <ng-template #elseBlock>
                  <div class="answer-label" fxFlex="70" fxFlex.lt-sm="60">
                    <span class="m-r-10" fxLayoutAlign="start start">
                      <p>{{alphabet[i]}}.</p>
                    </span>
                    <span fxFlex="90" fxFlex.lt-sm="100" fxLayoutAlign="start center" [innerHTML]="answer.content | safeHtml"></span>
                  </div>
                </ng-template>
  
                <mat-radio-group [disabled]=true class="example-radio-group" [value]="isCheckedAnswer(answer.id)"
                  fxLayout="row" fxFlex="30" fxFlex.lt-sm="50" (change)="changeSelectAnswer($event,answer.id)">
                  <mat-radio-button color="primary" fxFlex="65" fxLayoutAlign="start start" class="example-radio-button" [value]="1">
                    <span class="wrong answer-label"
                      [ngClass]="{'color-true':answer.trueAnswer==1 && isPublicAnswer}">Đúng
                      <mat-icon *ngIf="(answer.trueAnswer==1 && isPublicAnswer && isCheckedAnswer(answer.id))" class="check-true">done</mat-icon>
                      <mat-icon *ngIf="(answer.trueAnswer==0 && isPublicAnswer && isCheckedAnswer(answer.id))" class="wrong-answer">close</mat-icon>
                    </span>
                  </mat-radio-button>
                  <mat-radio-button color="primary" fxFlex="35" fxLayoutAlign="start start" class="example-radio-button color"
                    [value]="0">
                    <span class="wrong answer-label"
                      [ngClass]="{'color-true':answer.trueAnswer==0 && isPublicAnswer}">Sai 
                      <mat-icon *ngIf="answer.trueAnswer==0 && isPublicAnswer && isCheckedAnswer(answer.id)==false" class="check-true">done</mat-icon>
                      <mat-icon *ngIf="answer.trueAnswer==1 && isPublicAnswer && isCheckedAnswer(answer.id)==false" class="wrong-answer">close</mat-icon>
                    </span>
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  