.add_test_title {
  align-items: center;
  padding: 10px;
  p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #303030;
  }
}

.content_area {
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 6px 6px;
  max-width: 98%;
}

.m-b-20 {
  margin-bottom: 20px;
}

:ng-deep .mat-card-content {
    font-size: 13px;
    line-height: 18px;
    padding: 0px;
}