<div>
  <mat-card class="manage-card">
    <learn-step-header-lesson *ngIf="isReady" [stepHeaderCtrl]="stepheaderCtrl"></learn-step-header-lesson>
  </mat-card>
  <div>
    <app-spinner2></app-spinner2>
    <mat-card class="manage-card">
      <learn-lesson-name-header *ngIf="isReady" [lessonName]="lessonName" type="Thêm bài kiểm tra">
      </learn-lesson-name-header>
      <div>
        <div class="tab_add_lesson">
          <learn-tab-add-test *ngIf="isReady" [submitEvents]="submitEvents$" [useCase]="useCaseEnum.creating"
            [lessonId]="lessonId" (invalidContent)="invalidContentEmit($event)" (invalidConfig)="invalidConfigEmit($event)"></learn-tab-add-test>
        </div>
      </div>
    </mat-card>
    <!-- Button footer -->
    <div mat-dialog-actions class="flex_justify_center">

      <!-- Button [Hủy] -->
      <button mat-raised-button class="button-cancel button-spacing" (click)="onCancelClick()"
        style="width:103px;">
        Hủy
      </button>

      <!-- Button [Lưu] -->
      <button mat-raised-button color="primary"  style="width:103px;"
        (click)="onSaveClick()" (dblclick)="onDoubleClick()">
        Lưu
      </button>
    </div>
  </div>
</div>
