.end-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
    button {
        text-transform: uppercase;
        margin-right: 20px;
    }
}
.input_search {
    width: 90%;
    height: 30px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

.label_add-video {
    min-width: 30px;
}

.col_flex {
    margin-bottom: 20px !important;
}

.combobox-df {
    max-width: 200px !important;
}

:host ::ng-deep .mat-radio-container {
    height: 14px;
    width: 14px;
}
:host ::ng-deep .mat-radio-outer-circle {
    height: 14px;
    width: 14px;
    border-width: 1px;
}
:host ::ng-deep .mat-radio-inner-circle {
    height: 14px;
    width: 14px;
}
:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #0075ff;
}

:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #0075ff;
}

:host ::ng-deep .mat-radio-checked .mat-radio-inner-circle {
    transform: scale(0.75);
}
:host ::ng-deep .mat-radio-button .mat-radio-ripple {
    height: 28px; /*double of your required circle radius*/
    width: 28px; /*double of your required circle radius*/
    left: calc(50% - 14px); /*'10px'-same as your required circle radius*/
    top: calc(50% - 14px); /*'10px'-same as your required circle radius*/
}

:host ::ng-deep .mat-radio-label-content {
    color: #555555;
}

.header-content {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.header_border_bottom {
    border-bottom: 0.5px solid #b0b0b0;
    margin-bottom: 20px;
}

.content_title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
