<learn-step-header-lesson ></learn-step-header-lesson>
<mat-card style="padding:20px!important">
    <div fxLayoutAlign="center center" class="header-content">
        <label fxFlex=100 fxLayoutAlign="start center" class="lesson_name">phương trình bậc 2 và định lý vi-de </label>
    </div>

    <div fxLayout="row" class="header_border_bottom"></div>

    <div fxLayout="row" fxLayoutAlign="space-around center" class="content_title">
        Thêm âm thanh
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center" class="col_flex">
        <label fxFlex="12" fxLayoutAlign="start center" for="" class="label_add-video">Tên nội dung (*) : </label>
        <input type="text" fxLayoutAlign="start center" fxFlex="88" class="input_search" name="search"
            placeholder="Tìm tên bài giảng giáo viên">
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center" class="col_flex">
        <label fxFlex="12" fxLayoutAlign="start center" for="" class="label_combobox">Tiết học (*) : </label>
        <div fxFlex="88" fxLayoutAlign="start center">
            <select name="cars" class="combobox-df">
                <option value="volvo">Chọn tiết học</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center" class="col_flex">
        <label fxFlex="20" fxLayoutAlign="start center" for="" class="label_combobox">Hoàn thành bài học khi : </label>
        <mat-radio-group fxLayoutAlign="start center" aria-label="Completed lesson when" fxFlex="80" fxLayout="row">
            <mat-radio-button value="1" fxFlex="25">Nhấn nút hoàn thành</mat-radio-button>
            <mat-radio-button value="2" fxFlex="20">Trả lời câu hỏi</mat-radio-button>
            <mat-radio-button value="3" fxFlex="20">Sau khoảng thời gian</mat-radio-button>
        </mat-radio-group>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="col_flex">
        <label fxFlex="12" fxLayoutAlign="start center" for="" class="label_add-video">Chọn file âm thanh : </label>
        <input type="text" fxLayoutAlign="start center" fxFlex="80" class="input_search mr_2" name="search"
            placeholder="">

        <button fxFlex="8" mat-raised-button color="primary" class="button-sm" style="margin-left:2px">Load</button>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center" class="col_flex">
        <div fxFlex="12"></div>
        <span fxFlex="88">Use URLs from: Youtube, Vimeo, Wikipedia, Slideshare</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="col_flex">
        <audio controls>
            <source src="horse.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>

    <div fxLayout="row" class="mb_2">
        <label fxFlex="12" fxLayoutAlign="start center" for="" class="label_add-video">Mô tả : </label>
    </div>
    <div fxLayout="row">
        <div class="add-detail-content ck-editor-cls" fxFlex="100%">
            <ckeditor [config]="configCkeditor"></ckeditor>
        </div>
    </div>
</mat-card>

<div class="end-button">
    <button mat-stroked-button class="button-sm bg-danger text-white">
        Hủy
    </button>
    <button mat-raised-button color="primary" class="button-sm">
        Lưu
    </button>
</div>