.delete-button {
    background-color: #ff0000;
    width: 90px;
    color: #ffff;
}
.clsgreen {
    color: lightgreen;
}

.errors-msg {
    color: #dd1010;
    position: relative;
    top: -15px;
    font-size: 13px;
    font-weight: 600;
}

.input_info {
    height: 35px;
    padding: 0 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

.label-inform {
    color: #4caf50;
  }
  