<form (ngSubmit)="submitForm()">
    <mat-card fxLayout="column">
        <h3>XÓA NỘI DUNG CHƯƠNG TRÌNH</h3>
        <p class="label-inform">Nội dung chương trình được phép xóa là nội dung chương trình chưa được sử dụng lần nào.
        </p>
        <p class="label-inform">Số lần được sử dụng của nội dung chương trình hiện tại: 0.</p>
        <p>Bạn có chắc chắn xóa *<b>{{this.curriculumDelete.curriculumName}}</b>* không?</p>
        <p>Xin lưu ý hành động này không thể được khôi phục trong tương lai. Để tiếp tục vui lòng nhập "<b>DONGY</b>"
            vào ô bên dưới</p>
        <input fxLayoutAlign="start center" type="text" name="txtXoa" [(ngModel)]="txtXoa" class="input_info">
        <mat-dialog-actions fxLayout="row" fxLayoutAlign="end right">
            <button mat-flat-button mat-dialog-close class="cancel-button">HỦY</button>
            <button type="submit" mat-flat-button class="delete-button">XÓA</button>
        </mat-dialog-actions>
    </mat-card>
</form>

