<div class="body" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutGap="40px">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
      <div class="apply-css-alpha">
        <mat-form-field appearance="outline">
          <mat-label>Thang đánh giá</mat-label>
          <mat-select [formControl]="assessmentCtrl" placeholder="Chọn thang đánh giá" #singleSelectAssessment
            (selectionChange)="assessmentChange($event)" disableOptionCentering [value]="selectedItem">
            <mat-option *ngFor="let item of addassessmentLevelGroup" [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button mat-icon-button color="primary" (click)="addEvaluate()">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="updateEvaluate()">
          <mat-icon>mode_edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteEvaluate()">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>

    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="evaluate">
      <div class="circle" *ngIf="detailAssessmentLevelGroup?.highestScore">
        <span class="point">{{detailAssessmentLevelGroup?.highestScore}}</span>
      </div>

      <div fxLayout="column" fxLayoutAlign="center center"
        *ngFor="let item of detailAssessmentLevelGroup?.listAssessmentLevelDTO">
        <app-item-evaluate [data]="item" [parentId]="selectedItem" [postion]="postion" [percent]="percent"
          [passedScore]="passedScore" (addAssessmentLevel)="addAssessmentLevel()"
          (updateAssessmentLevel)="updateAssessmentLevel($event)"
          (deleteAssessmentLevel)="deleteAssessmentLevel($event)">
        </app-item-evaluate>
        <div class="circle">
          <span class="point">{{item.lowestCoefficient}}</span>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- 
<div class="action" fxLayout=row fxLayoutAlign="center center" fxLayoutGap=10px>
  <button mat-raised-button class="button-cancel" (click)="cancel()">Hủy</button>
  <button mat-raised-button color="primary" (click)="save()">Lưu</button>
</div> -->
