.body {
  background-color: white;
  padding: 35px 0;
}

.circle {
  width: 57px;
  height: 57px;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  box-sizing: border-box;
  border-radius: 50%;
  //position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .point {
    // position: absolute;
    // top: 50%;
    // text-align: center;
    // transform: translateY(-50%);

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    /* 4CAF50 */

    color: #4CAF50;

    opacity: 0.98;

  }
}

.vertical-line {
  height: 20px;
  border: 1px solid #CACACA;
}

.evaluate-line {
  margin-top: -10px;
}

.custom-select-box {
  height: 36px !important;
}

.action {
  padding-bottom: 10px;
  padding-top: 35px;
}
