.title {
  font-weight: bold;
  font-size: 13px;
}

.icons {
  color: #7e8485;
}

.pendingPush {
  background: #4caf50;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.btn-actions {
  margin-right: -5px;
  cursor: pointer;
}
.icon-funtion {
  height: 20px;
}

.mat-cell{
  height: 66px;
  
}

:host ::ng-deep {
  .eye-icon {
    svg {
      path {
        height:20px !important;
      }
    }
  }
}

.background-no-content-img{
  height: 275px;
}
