<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="30px grid">
        <div fxFlex fxLayoutAlign="start center" class="mat-title m-0">
          Danh sách bài giảng cần duyệt
        </div>
        <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
          <div fxLayout="row" fxLayoutGap="15px">
            <div fxFlex="none">
              <mat-form-field appearance="outline">
                <mat-label>Tìm kiếm</mat-label>
                <input matInput type="text" (keyup.enter)="applyFilter()" #ipSearch name="search"
                  placeholder="Tìm tên bài giảng">
              </mat-form-field>
            </div>
            <div fxFlex="none">
              <button mat-raised-button color="primary" class="mat-button-square" (click)="applyFilter()">
                <mat-icon matSuffix>search</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="manage-card">
    <div class="filter_table_midle">
      <table mat-table [dataSource]="lessonPagination.items" matSort>
        <ng-container matColumnDef="stt" >
          <th mat-header-cell *matHeaderCellDef> STT
          </th>
          <td mat-cell *matCellDef="let element;let i = index">
            {{i+1}}
          </td>
        </ng-container>
        <!-- Name Lesson Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Tên bài giảng </th>
          <td mat-cell *matCellDef="let element"  class="mat-main-column">
            <div fxLayout="column" fxLayoutAlign="center start">
              <span>{{element.name}}</span>
              <span class="pendingPush">Chờ phát hành</span>
            </div>
    
          </td>
        </ng-container>

        <!-- Lecturers Column -->
        <ng-container matColumnDef="nameOfUser">
          <th mat-header-cell *matHeaderCellDef> Giáo viên </th>
          <td mat-cell *matCellDef="let element"> {{element.nameOfUser}} </td>
        </ng-container>

        <!-- Updated Date Column -->
        <ng-container matColumnDef="submissionDate">
          <th mat-header-cell *matHeaderCellDef class="submissionDate"> Ngày cập nhật</th>
          <td mat-cell *matCellDef="let element">
            {{element.submissionDate | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="function">
          <th mat-header-cell *matHeaderCellDef> CHỨC NĂNG </th>
          <td mat-cell *matCellDef="let element">
            <!-- <span routerLink="approval-lesson/{{element.id}}" class="material-icons-outlined">
              remove_red_eye
            </span> -->
            <mat-icon (click)="detailApprovalLesson(element.id)" matTooltip="Chi tiết" matTooltipPosition="below" svgIcon="eye" ></mat-icon>
            <!-- <span class="material-icons-outlined" (click)="returnLesson(element.id, element.name)">
              remove_circle_outline
            </span> -->
            <mat-icon (click)="returnLesson(element.id, element.name)"  matTooltip="Trả lại" matTooltipPosition="below"  style="font-size: 22px;">remove_circle_outline</mat-icon>

            <!-- <span class="material-icons-outlined" (click)="approvalLesson(element.id, element.name)">
              task_alt
            </span> -->
            <mat-icon (click)="approvalLesson(element.id, element.name)"  matTooltip="Duyệt" matTooltipPosition="below" style="font-size: 22px;" >check_circle_outline</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell background-no-content" colspan="5">
            <div class="background-no-content-img"></div>
            <div class="background-no-content-info">
              <p>Không tìm thấy bài giảng</p>
            </div>
          </td>
        </tr>
      </table>
      <mat-paginator [length]="lessonPagination.totalItems" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
    </div>
  </mat-card>

</div>
