<div class="apply-css-alpha">
    <mat-card class="manage-card">
        <mat-card-header >
            <mat-card-title>Danh sách môn thi giám sát</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card class="manage-card">
        <mat-card-content>
            <div fxLayout="row wrap" >
                <form [formGroup]="filterExam" (ngSubmit)="onSubmit()" fxFlex="100%">
                    <div fxLayout="row wrap" fxLayoutGap="15px grid" fxLayoutGap.gt-md="30px grid">
                        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start start">
                            <mat-form-field appearance="outline" class="date-time-range">
                                <mat-label>Từ ngày</mat-label>
                                <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="startDate" placeholder="dd/MM/yyyy" autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start start">
                            <mat-form-field appearance="outline" >
                                <mat-label>Đến ngày</mat-label>
                                <input matInput [matDatepicker]="pickerEndate" (click)="pickerEndate.open()" formControlName="endDate" placeholder="dd/MM/yyyy" autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="pickerEndate"></mat-datepicker-toggle>
                                <mat-datepicker #pickerEndate></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start start">
                            <mat-form-field appearance="outline">
                                <mat-label>Tìm kiếm kỳ thi</mat-label>
                                <input matInput fxFlex type="text" 
                                    formControlName="keyword" name="search" placeholder="Tìm kiếm kỳ thi" 
                                    autocomplete="off">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                        <div fxFlex fxLayoutAlign="end start">
                            <button mat-raised-button color="primary" type="submit" >
                                <mat-icon matSuffix>filter_list</mat-icon>
                                Lọc kết quả
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="manage-card">
        <div fxLayout="row wrap">
            <div class="example-container" fxFlex="100">
                <div class="example-loading-shade" *ngIf="!isReady">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                </div>
                <div class="example-table-container" *ngIf="isReady">
                    <table mat-table [dataSource]="dataSource">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <ng-container matColumnDef="stt">
                                <th mat-header-cell *matHeaderCellDef> STT
                                </th>
                                <td mat-cell *matCellDef="let element;let i = index">
                                    {{i+1}}
                                </td>
                            </ng-container>
    
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Tên Kỳ thi
                                </th>
                                <td mat-cell *matCellDef="let element" class="mat-main-column">
                                    <span class="text-wrap"  #tooltip="matTooltip" matTooltip="{{element.examName}}">{{element.examName}}</span> 
                                </td>
    
                            </ng-container>
    
                            <!-- Weight Column -->
                            <ng-container matColumnDef="examSubject">
                                <th mat-header-cell *matHeaderCellDef> Môn thi</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="text-wrap"  #tooltip="matTooltip" matTooltip="{{element.subjectName}}">{{element.subjectName}}</span> 
                                </td>
                            </ng-container>
    
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef> Trạng thái
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="status-badge-upcoming" *ngIf="element.status == 'UPC'">
                                        Sắp diễn ra
                                    </span>
                                    <span class="status-badge-end" *ngIf="element.status == 'END'">
                                        Đã kết thúc
                                    </span>
                                    <span class="status-badge-not-organized-yet" *ngIf="element.status == 'NOT'">
                                        Chưa tổ chức
                                    </span>
                                    <span class="status-badge-happenning" *ngIf="element.status == 'STA'">
                                        Đang diễn ra
                                    </span>
    
                                </td>
                            </ng-container>
    
                            <ng-container matColumnDef="startDate">
                                <th mat-header-cell *matHeaderCellDef class="mat-column-datetime"> Ngày bắt đầu
                                </th>
                                <td mat-cell *matCellDef="let element" class="mat-column-datetime">
                                    <span class="text-green"><b>{{element.startDate|date :'HH:mm'}}</b></span>
                                    <span> &nbsp; {{ element.startDate|date :'dd/MM/yyyy'}}</span>
                                  </td>
                            </ng-container>
    
                            <ng-container matColumnDef="endDate">
                                <th mat-header-cell *matHeaderCellDef class="mat-column-datetime" > Ngày kết
                                    thúc
                                </th>
                                <td mat-cell *matCellDef="let element" class="mat-column-datetime">
                                    <span class="text-red"><b>{{element.endDate|date :'HH:mm'}}</b></span>
                                    <span> &nbsp; {{ element.endDate|date :'dd/MM/yyyy'}}</span>
                                  </td>
                            </ng-container>
    
                            <ng-container matColumnDef="examRoom">
                                <th mat-header-cell *matHeaderCellDef> Phòng thi
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.examRoom}}
                                </td>
                            </ng-container>
    
                            <ng-container matColumnDef="examShift">
                                <th mat-header-cell *matHeaderCellDef> Ca thi
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.examShift}}
                                </td>
                            </ng-container>
    
                            <ng-container matColumnDef="function">
                                <th mat-header-cell *matHeaderCellDef> Chức năng</th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button matTooltip="Xem thông tin"
                                        (click)="onListStudentsExamHandleClick(element.id,element.subjectId,element.shiftId,element.organizeExamId)"
                                        class="info-exam-button">
                                        <mat-icon svgIcon="eye"></mat-icon>
                                    </button>
                                </td>
                            </ng-container>
    
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td colspan="9" class="mat-cell background-no-content">
                                    <div class="background-no-content-img"></div>
                                    <div class="background-no-content-info">
                                        <p>Không tìm thấy môn thi giám sát</p>
                                    </div>
                                </td>
                            </tr>
                        </div>
                    </table>
                </div>
                <mat-paginator [length]="pagingLength" [pageSize]="pageSize" (page)="pageChange($event)" [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
            </div>
        </div>
    </mat-card>
</div>
