.status-badge-upcoming {
  background: #fff5e0;
  border-radius: 10.5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #e5ae40;
  opacity: 0.98;
  padding: 3px 14px;
}

.status-badge-happenning {
  background: #dbffdc;
  border-radius: 10.5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #4caf50;
  opacity: 0.98;
  padding: 3px 14px;
}

.status-badge-not-organized-yet {
  background: #f3f3f3;
  border-radius: 10.5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #555555;
  opacity: 0.98;
  padding: 3px 14px;
}

.status-badge-end {
  background: #ffe0df;
  border-radius: 10.5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #da251d;
  opacity: 0.98;
  padding: 3px 14px;
}

.info-exam-button {
  cursor: pointer;
}


.mat-column-examRoom{
  text-align: center !important;
}

@media(max-width: 1440px){
  .mat-main-column{
    width: 20%;
  }
}