.selection_title {
  text-transform: uppercase;
  margin: 20px 20px 20px 20px;
}

.end-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px auto 40px 0px;

  button {
    text-transform: uppercase;
    margin-right: 20px;
  }
}

.label_combobox {
  color: #555555 !important;
}

.combobox_selection {
  width: 146px;
  height: 30px;

  border: 0.5px solid #ccc;
  box-sizing: border-box;
  border-radius: 2px;

  color: #555555;
}

.row_flex {
  display: flex;
  padding: 10px;
}

.input_search {
  width: 90%;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-repeat: no-repeat;
  background-image: url("../../../../../assets/images/icon/search.svg");
  background-size: 10% 50%;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("../../../../../assets/images/icon/search.svg");
  background-size: 10% 50%;
  background-repeat: no-repeat;
  background-position: right center;
}

.label_combobox {
  margin-right: 10px;
}

learn-lesson-name-header {
  .header-content {
    min-width: 100% !important;
  }
}


.button-sm {
  min-width: 120px;
  height: 36px;
}
.button-cancel{
  min-width: 100px;
}
