<div class="apply-css-alpha">
  <div class="assign-student-container">
    <mat-card class="manage-card">
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px grid">
          <div class="mat-title mb-0">Ghi danh học sinh vào nhóm</div>
          <div fxFlex fxLayoutAlign="end center">
            <button *ngIf="isShowFilter" class="button-hidden-filter" (click)="onClickToggleShowFilter()" mat-raised-button type="button">
              <span class="material-icons">visibility_off</span>
              Ẩn bộ lọc
            </button>
            <button *ngIf="!isShowFilter" class="button-hidden-filter" (click)="onClickToggleShowFilter()" mat-raised-button type="button">
              <span style="width: 24px;" class="material-icons">visibility_on</span>
              Hiện bộ lọc
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <form *ngIf="isShowFilter" action="" [formGroup]="filterSignupLecturesForm" (ngSubmit)="onSubmitSignLectures()">
      <mat-card class="manage-card">
        <mat-card-content class="m-b-0">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px" class="m-b-20">
            <div fxFlex="25" fxLayoutAlign="end center" *ngIf="levelManageValue==1">
              <mat-form-field appearance="outline">
                <mat-label>Chọn phòng</mat-label>
                <mat-select formControlName="divisionId" (click)="onDivisionSelectClicked()" placeholder="Chọn phòng"
                  #singleSelectDivision disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="divisionFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                    {{division.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex="25" fxLayoutAlign="start center" *ngIf="levelManageValue<=2">
              <mat-form-field appearance="outline">
                <mat-label>Chọn trường</mat-label>
                <mat-select formControlName="schoolId" (click)="onSchoolSelectClicked()" [disabled]="isDisableSchoolId"
                  placeholder="Chọn trường" #singleSelectSchool disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="schoolFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                    {{school.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex="25" fxLayoutAlign="start center">
              <mat-form-field appearance="outline">
                <mat-label>Chọn khối</mat-label>
                <mat-select formControlName="gradeId" (click)="onGradeSelectClicked()" placeholder="Chọn khối"
                  #singleSelectGrade disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="gradeFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let gradeId of filteredGrades | async" [value]="gradeId.id">
                    {{gradeId.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex="25" fxLayoutAlign="start center">
              <mat-form-field appearance="outline" (click)="onGroupStudentSelectClicked()">
                <mat-label>Chọn lớp</mat-label>
                <mat-select formControlName="groupStudentId" placeholder="Chọn lớp" #singleSelectGroupStudent
                  [disabled]="isDisableGroupStudentId && levelManageValue !== 3" disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm lớp" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="groupStudentFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let groupStudent of filteredGroupStudents | async" [value]="groupStudent.id">
                    {{groupStudent.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="levelManageValue!=1" fxLayoutAlign="end center" fxFlex="100"
              class="combobox_action float-right">
              <button mat-raised-button color="primary">
                <mat-icon matSuffix>filter_list</mat-icon>
                Lọc kết quả
              </button>
            </div>
          </div>

          <div *ngIf="levelManageValue==1" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="100" fxLayoutAlign="end center">
              <button mat-raised-button color="primary">
                <mat-icon matSuffix>filter_list</mat-icon>
                Lọc kết quả
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
    <mat-card class="manage-card">
      <table mat-table *ngIf="isListStudentForAssignReady" [dataSource]="assignDataSource.items">
        <div fxLayout="row" fxLayoutAlign="space-between center">

          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef> STT
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef> Tên
            </th>
            <td mat-cell *matCellDef="let element"
              (click)="$event.stopPropagation()" class="mat-main-column">
              {{element.fullName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef> Tên đăng nhập </th>
            <td mat-cell *matCellDef="let element"
              (click)="$event.stopPropagation()">
              {{element.username}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="className">
            <th mat-header-cell *matHeaderCellDef> Lớp </th>
            <td mat-cell *matCellDef="let element"
              (click)="$event.stopPropagation()">
              {{element.groupStudentName}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? assignMasterToggle() : null"
                [checked]="assignSelection.hasValue() && isAssignAllSelected()"
                [indeterminate]="assignSelection.hasValue() && !isAssignAllSelected()"
                [aria-label]="assignCheckboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row"
              (click)="$event.stopPropagation()">
              <mat-checkbox (change)="$event ? onChangeAssignCheckBox($event.checked, row): null"
                [checked]="assignSelection.isSelected(row)" [aria-label]="assignCheckboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="assignDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: assignDisplayedColumns;">
          </tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td colspan="5" class="mat-cell background-no-content">
              <div class="background-no-content-img"></div>
              <div class="background-no-content-info">
                <p>Không tìm thấy học sinh</p>
              </div>
            </td>
          </tr>
        </div>
      </table>
      <mat-paginator #assignPaginator [length]="assignDataSource.totalItems" [pageSizeOptions]="[10, 20, 30, 100]">
      </mat-paginator>
      <br />
    </mat-card>


    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="m-b-20">
      <button mat-stroked-button class="button-cancel" (click)="onCancelAssignStudentTabClick()">
        Huỷ
      </button>
      <button mat-raised-button color="primary" (click)="onSaveAssignStudentClick()">
        Ghi danh
      </button>
    </div>
  </div>
</div>
