<div fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch">
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center" class="curriculum-item">
    <button *ngIf="allowedAddChild" (click)="onLoadChildrentClicked(node.id)" mat-icon-button title="Xóa">
      <span *ngIf="this.showChilds" class="material-icons">
        arrow_drop_down
      </span>
      <span *ngIf="!this.showChilds" class="material-icons">
        arrow_right
      </span>
    </button>
    <div fxFlex>
      <label class="lbl-curriculum-content" (click)="onLoadChildrentClicked(node.id)"
        [style.font-weight]="allowedAddChild ? '600' : ''">{{node.curriculumName}}</label>
    </div>
    <div fxLayout="row" class="icon-action-wrapper">
      <button *ngIf="allowedAddChild" (click)="onOpenCreateCurriculumChildDialogClicked(node)" mat-icon-button
        title="{{titleAdd}}">
        <mat-icon class="icon" svgIcon="add-circle-outline"></mat-icon>
      </button>
      <button mat-icon-button (click)="onOpenEditCurriculumChildDialogClicked(node)" title="{{titleUpdate}}">
        <mat-icon class="icon" svgIcon="edit-black"></mat-icon>
      </button>
      <button mat-icon-button (click)="onOpenDeleteCurriculumChildDialogClicked(node)" title="{{titleDelete}}">
        <mat-icon class="icon" svgIcon="trash-black"></mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="this.showChilds" fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch" class="child-items">
    <app-curriculum-item (onReloadCurriculumChildNodes)="this.getCurriculumChildrentNodes($event)"
      [allowedAddChild]="false" *ngFor="let item of childrentNodes" [node]="item">
    </app-curriculum-item>
  </div>
</div>
