.lbl-curriculum-name {
  font-size: 16px;
  font-weight: 600;
}

.curriculum-item {
  border-top: dotted 1px #7e848580;
  padding: 5px 0px 5px 5px;
}

.lbl-curriculum-content {
  font-size: 14px;
  cursor: pointer;
}

.child-items {
  padding-left: 40px;
}

.icon-action {
  color: #7e8485;
}

.icon-action-wrapper {
  padding-right: 20px;
}

.icon {
  height: 20px;
  width: auto;
}
