<div *ngIf="isReady" fxLayout="row" fxLayoutAlign="center center" class="header-content">
  <div fxFlex.gt-lg="65" fxFlex.gt-md="70" fxFlex.gt-sm="80" fxFlex.gt-xs="80">
    <div fxLayoutAlign="center center" *ngFor="let singelStepModel of steps" [fxFlex]="singelStepModel.step ==1?16:28" >
      <!--next icon-->
      <ng-container class="next_icon" *ngIf="singelStepModel.type != stepTypeEnum.active && singelStepModel.step != 1">
        <mat-icon fxFlex="33" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxLayoutAlign="center center" class="next_icon" svgIcon="next"></mat-icon>
      </ng-container>
      <ng-container class="next_icon" *ngIf="(singelStepModel.type == stepTypeEnum.active && singelStepModel.step != 1)">
        <mat-icon fxFlex="33" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxLayoutAlign="center center" class="next_icon" svgIcon="next-completed"></mat-icon>
      </ng-container>
      <!--end-->
  
      <!--step icon-->
      <div class="header-item" fxLayoutAlign="center center" fxFlex="67" fxFlex.gt-sm="80" fxFlex.gt-xs="80">
        <div fxLayout="column" fxLayoutAlign="center center" [ngClass]="{'baned': singelStepModel.type == stepTypeEnum.disabled}">
          <button class="info-button colorfulShadow" (click)="onClickStep(singelStepModel)">
            <ng-container [ngSwitch]="singelStepModel.type">
              <mat-icon *ngSwitchCase="stepTypeEnum.basic"  class="icon" [ngClass]="{'pulse': singelStepModel.currentStep }" [svgIcon]="singelStepModel.iconBasic"></mat-icon>
              <mat-icon *ngSwitchCase="stepTypeEnum.active" class="icon" [ngClass]="{'pulse': singelStepModel.currentStep }" [svgIcon]="singelStepModel.iconActive"></mat-icon>
              <mat-icon *ngSwitchCase="stepTypeEnum.disabled" class="icon" [ngClass]="{'pulse': singelStepModel.currentStep }" [svgIcon]="singelStepModel.iconDisabled"></mat-icon>
            </ng-container>
          </button>
          <!--label step-->
          <label class="title" [ngClass]="{'finish': singelStepModel.type == stepTypeEnum.active }"> {{singelStepModel.label}} </label>
        </div>
      </div>
      <!--end-->
    </div>
  </div>
</div>
