.header-content {
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  height: 90px;
}

.info-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

.info-button:hover {
  transform: scale(1.25);
}

.icon {
  width: 35px;
  height: 35px;
  fill: #4CAF50;
  cursor: pointer;
}

.title {
  text-transform: uppercase;
  margin-top: 0.3rem;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  color: #c0c0c0;
  cursor: pointer;
}

.finish {
  color: #4CAF50;
}

.baned {
  .title {
    color: #DA251D
  }

  cursor: not-allowed !important;
}


.test {
  color: #4CAF50;
}

.test svg path {
  fill: #4CAF50 !important;
}

// animation for icon
.pulse {
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(75, 175, 80, 0.4);
  animation: pulse 1.5s infinite;
}

.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(75, 175, 80, 0.8);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(75, 175, 80, 0.1);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(75, 175, 80, 0);
  }
}

.next_icon {
  height: 13px;
  width: 13px;
}

.colorfulShadow {
  position: relative;
}

.colorfulShadow::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  background-position: center center;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.50)) blur(20px);
  z-index: -1;
}

@media(max-width: 1250px) {
  .title {
    font-size: 12px;
  }
}
