.container{
    font-size: 13px;
}
.combobox_selection {
    width: 200px !important;
}

.isCloneQuestion .table_question_title{
    font-size: 13px;
    color: #555555;
    opacity: 0.98;
    font-weight: normal;
    margin-bottom: 6px;
    ::ng-deep ckeditor .cke_chrome{
        border-radius: 2px;
    }
  }
  
  .isClone{
    display: none !important;
  }
