<div class="apply-css-alpha">
  <mat-card-content>
    <div fxFlex="25">
      <mat-form-field appearance="outline" (click)="onUserGroupSelectClicked()">
        <mat-label>Chọn nhóm</mat-label>
        <mat-select [formControl]="userGroupControl" placeholder="Chọn nhóm" disableOptionCentering>
          <mat-option>
            <ngx-mat-select-search placeholderLabel="Tìm nhóm" noEntriesFoundLabel="Không tìm thấy"
              [formControl]="userGroupFilterCtrl">
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let userGroup of filteredUserGroups | async" [value]="userGroup.id">
            {{userGroup.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
  <div>
    <app-spinner2></app-spinner2>
    <table mat-table [dataSource]="assignUserGroupDataSource.items">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="start center"> Tên
          </th>
          <td mat-cell *matCellDef="let element" fxFlex="20" fxLayoutAlign="start center"
            (click)="$event.stopPropagation()">
            {{element.fullName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef fxFlex="40" fxLayoutAlign="start center"> Tên đăng nhập </th>
          <td mat-cell *matCellDef="let element" fxFlex="40" fxLayoutAlign="start center"
            (click)="$event.stopPropagation()">
            {{element.username}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="className">
          <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="start center"> Lớp </th>
          <td mat-cell *matCellDef="let element" fxFlex="20" fxLayoutAlign="start center"
            (click)="$event.stopPropagation()">
            {{element.groupStudentName}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="end center">
            <mat-checkbox (change)="$event ? assignUserGroupMasterToggle() : null"
              [checked]="assignUserGroupSelection.hasValue() && isAssignUserGroupAllSelected()"
              [indeterminate]="assignUserGroupSelection.hasValue() && !isAssignUserGroupAllSelected()"
              [aria-label]="assignUserGroupCheckboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" fxFlex="20" fxLayoutAlign="end center" (click)="$event.stopPropagation()">
            <mat-checkbox (change)="$event ? onChangeAssignUserGroupCheckBox($event.checked, row): null"
              [checked]="assignUserGroupSelection.isSelected(row)" [aria-label]="assignUserGroupCheckboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="assignDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: assignDisplayedColumns;">
        </tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell background-no-content" colspan="4">
            <div class="background-no-content-img"></div>
            <div class="background-no-content-info">
              <p>Không có dữ liệu học sinh</p>
            </div>
          </td>
        </tr>
      </div>
    </table>
    <mat-paginator #assignStudentPaginator [length]="assignUserGroupDataSource.totalItems"
      [pageSizeOptions]="[10, 20, 30, 100]">
    </mat-paginator>
    <br />
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" class="m-b-20" fxLayoutGap="20px">
    <button mat-stroked-button color="default" class="minwidth-btn" (click)="onCancelAssignStudentTabClick()">
      Huỷ
    </button>
    <button mat-raised-button color="primary" [disabled]="isDisableAssignClick" class="minwidth-btn" (click)="onSaveAssignStudentClick()" (dblclick)="onDoubleClick()">
      Ghi danh
    </button>
  </div>
</div>