<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-header class="padding-b-0">
      <mat-card-title>
        Danh sách kiểu người dùng
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="30px grid">
        <div fxFlex="none">
          <button mat-raised-button color="primary" (click)="openDialog()">
            <mat-icon class="icon">add_circle_outline</mat-icon> Thêm kiểu người dùng
          </button>
        </div>
        <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
          <div fxLayout="row" fxLayoutGap="15px">
            <div fxFlex="none">
              <mat-form-field appearance="outline">
                <mat-label>Tìm kiếm</mat-label>
                <input matInput type="text" #input [(ngModel)]="keyWord" (keyup.enter)="onEnter()" name="search"
                  placeholder="Tìm kiểu người dùng" autocomplete="off">
                <!-- <button mat-icon-button matSuffix (click)="onEnter()" matTooltip="Tìm kiểu người dùng">
                  <mat-icon [ngClass]="{'active':keyWord!=null, 'un-active':keyWord==stringEmpty}">search</mat-icon>
                </button> -->
              </mat-form-field>
            </div>
            <div fxFlex="none">
              <button mat-raised-button color="primary" class="mat-button-square" (click)="onEnter()">
                <mat-icon matSuffix>search</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="manage-card">
    <mat-card-content class="p-0">
      <table mat-table [dataSource]="userTypesPagination.items" matSort *ngIf="isReady">
        <!-- Checkbox Column -->

        <!-- <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container> -->

        <!-- Position Column -->
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef> STT </th>
          <td mat-cell *matCellDef="let element;let i=index"> {{element.stt}} {{i + 1}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef style="width:35%"> Tên kiểu người dùng </th>
          <td mat-cell *matCellDef="let element" class="mat-main-column" style="width:35%"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="donviquanly">
          <th mat-header-cell *matHeaderCellDef > Đơn vị quản lý </th>
          <td mat-cell *matCellDef="let element" >
            {{element.donviquanly}}
           </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> Vai trò </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.userTypeRole==='SUPER'">Quản trị viên cấp cao</span>
            <span *ngIf="element.userTypeRole==='ADMIN'">Quản trị viên</span>
            <span *ngIf="element.userTypeRole==='TEACHER'">Giáo viên</span>
            <span *ngIf="element.userTypeRole==='STUDENT'">Học sinh</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef> Phân cấp </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.levelManage==='DPM'">Sở giáo dục</span>
            <span *ngIf="element.levelManage==='DVS'">Phòng</span>
            <span *ngIf="element.levelManage==='SCH'">Trường</span>
          </td>
        </ng-container>

        <!-- fuction Column -->
        <ng-container matColumnDef="function">
          <th mat-header-cell *matHeaderCellDef> Chức năng </th>
          <td mat-cell *matCellDef="let row">
              <mat-icon *ngIf="row.userTypeRole != 'STUDENT'" (click)="UpdateUserType(row)" svgIcon="edit-black" matTooltip="Chỉnh sửa" class="icon-funtion"></mat-icon>
              <mat-icon *ngIf="row.userTypeRole != 'STUDENT'" (click)="DeleteUserType(row)" svgIcon="trash-black" matTooltip="Xóa" class="icon-funtion"></mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell background-no-content" colspan="5">
            <div class="background-no-content-img"></div>
            <div class="background-no-content-info">
              <p>Không tìm thấy kiểu người dùng</p>
            </div>
          </td>
        </tr>
      </table>
      <mat-paginator [length]="userTypesPagination.totalItems" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
      <br />
      <div class="filter_bottom_action">
        <button mat-raised-button class="bg-danger btn-remove-selected">
          <span class="material-icons">delete</span>
          Xóa đã chọn
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>