.btn-remove-selected {
  color: #fff;
}
.filter_bottom_action {
  //display: flex;
  display: none;
  justify-content: space-between;
  padding: 10px;
}

.function-content {
  height: 56px;
  .create-division {
    background: #4caf50;
    color: white;
  }
  .input_search {
    height: 36px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    text-align: left;
    // background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }

  .input_search {
    background-image: url("../../../../../assets/images/icon/search.svg");
    background-size: 10% 50%;
    background-repeat: no-repeat;
    background-position: right center;
  }
  .filter_search_input {
    height: 56px;
  }
}

.create-division-file {
  background: #4caf50;
  color: white;
  margin-left: -15px;
}

.create-info {
  font-size: 13px;
}

.filter-item {
  width: 245px;
  height: 29px;
}

.filter-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2rem;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #303030;
}

.form-select {
  margin-left: 33px;
  width: 147px;
  height: 29px;
  left: 385px;
  top: 264px;

  border: 0.5px solid #555555;
  box-sizing: border-box;
  border-radius: 2px;
}

.name-filter {
  width: 65px;
  height: 18px;
  left: 287px;
  top: 269px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  color: #555555;

  opacity: 0.98;
}

.filter-button {
  background: #4caf50;
  border-radius: 2px;
  float: left;
}

table {
  width: 100%;
}

.search-input {
  width: 245px;
  height: 29px;

  border: 0.5px solid #555555;
  box-sizing: border-box;
  border-radius: 2px;
}

.mat-column-select {
  width: 55px !important;
}

.mat-dialog-container {
  width: 650px !important;
}

.active {
  color: #4caf50;
}

.un-active {
  color: #7e8485;
}

.icon-funtion {
  height: 20px;
}

.padding-b-0{
  padding-bottom: 0px !important;
}