.iframe-content-header {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background: #FFFFFF!important;
    padding: 2px;
    height: 50px;
    margin: 20px;
    &_title {
        font-size: 20px;
        line-height: 40px;
        font-weight: bold;
        padding-top: 4px;
    }
}

.content-iframe_card {
    background: #FFFFFF!important;
    margin: 0 !important;
    margin-bottom: 0px !important;
    // height: calc(100vh - 270px);
    height: calc(100vh - 115px);
    // box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    // box-shadow: none !important;

    // border-radius: 6px;
    &-content {
        width: 100%;
        height: 100%;
        border: 0 !important;
    }

    &.dark{
        background: #161616 !important;
        border-radius: 0;
    }

    .content-iframe_card-content {
        border: 0;
        // -moz-border-radius: 12px;
        // border-radius: 6px;
        width: 100%;
        // height: calc(100vh - 270px);
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 6px;
        height: calc(100% - 88px);
        width: calc(100% - 40px);
        border: 2px solid #E9E9E9 !important;
    }
}

.content-text_card {
    margin-top: 0px !important;
    padding: 8px !important;
    height: 100%;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top: 1px solid #f1f1f2;

    .text_note {
        font-style: italic;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        margin: 10px;
    }
}
.fullscreen_icon {
    cursor: pointer;
    margin-right: 30px;
}
.footer-action {
    margin: 10px 20px;
}

@media screen and (max-width: 525px) {
    .content-iframe_card{
      height: calc(100vh - 200px);
    }
  }