<!-- <mat-card class="iframe-content-header">
    <p class="iframe-content-header_title">{{content && content.name}}</p>
</mat-card> -->
<mat-card class="content-iframe_card" *ngIf="isReady" [ngClass]="{'dark': isDarkMode}">
    <iframe [src]="content.link | safeUrl" class="content-iframe_card-content" *ngIf="content && content.link">
    </iframe>
    <p *ngIf="!content && !content.link"> Không tìm thấy dữ link Iframe </p>
    <app-progress-player [hideAction]="true" [hideSetting]="true" [isHide]="true" [tag]="'doc'"></app-progress-player>
</mat-card>

<!-- <div fxLayout="row" class="footer-action">
    <div fxFlex="30" fxLayoutAlign="end end">
    </div>
    <div fxFlex="40" fxLayoutAlign="center center">
        <button mat-raised-button color="warn" class="button-lg button-add " (click)="onDecriptionHandleClick()">
            Mô tả thêm
        </button>
    </div>
    <div fxFlex="30" fxLayoutAlign="end end">
        TODO : LAMNV11 Hidden to demo Date : 2021/25/05
        <mat-icon color="white" svgIcon="fullscreen">
        </mat-icon>
    </div>
</div> -->
<app-spinner2></app-spinner2>