.selection_title {
  text-transform: uppercase;
  margin: 20px 20px 20px 20px;
}

.end-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px auto 40px 0px;

  button {
    text-transform: uppercase;
    margin-right: 20px;
  }
}

.label_combobox {
  color: #555555 !important;
}

.combobox_selection {
  width: 146px;
  height: 30px;

  border: 0.5px solid #ccc;
  box-sizing: border-box;
  border-radius: 2px;

  color: #555555;
}

.row_flex {
  display: flex;
  padding: 10px;
}

.input_search {
  width: 90%;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-repeat: no-repeat;
  background-image: url("../../../../../assets/images/icon/search.svg");
  background-size: 10% 50%;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("../../../../../assets/images/icon/search.svg");
  background-size: 10% 50%;
  background-repeat: no-repeat;
  background-position: right center;
}

.label_combobox {
  margin-right: 10px;
}

learn-lesson-name-header {
  .header-content {
    min-width: 100% !important;
  }
}


.button-sm {
  min-width: 120px;
  height: 31px;
}

:host ::ng-deep .assign-student-container .mat-form-field-underline {
  display: none;
}

:host ::ng-deep .assign-student-container .mat-form-field-infix {
  border-top: none;
}

:host ::ng-deep .assign-student-container .mat-tab-group.mat-primary .mat-ink-bar {
  border: 2px solid #4caf50 !important;
}

:host ::ng-deep .assign-student-container .mat-form-field-wrapper {
  width: 100% !important;
  padding-bottom: 0px !important;
}

.matFormFieldSelectBox {
  height: 31px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 0 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #555555;
  opacity: 0.98;
}


.button-sm {
  min-width: 120px;
  height: 31px;
}

:host ::ng-deep .assign-student-container .mat-form-field-underline {
  display: none;
}

:host ::ng-deep .assign-student-container .mat-form-field-infix {
  border-top: none;
}

:host ::ng-deep .assign-student-container .mat-tab-group.mat-primary .mat-ink-bar {
  border: 2px solid #4caf50 !important;
}

:host ::ng-deep .assign-student-container .mat-form-field-wrapper {
  width: 100% !important;
  padding-bottom: 0px !important;
}

.matFormFieldSelectBox {
  height: 31px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 0 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #555555;
  opacity: 0.98;
}

.combobox_action {
  padding-right: 10px;
  margin-bottom: 10px;
}

.action {
  padding-top: 35px;
  padding-bottom: 50px;
}
