<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <form [formGroup]="filterSignupLecturesForm">
        <div fxLayout="column" fxLayoutGap.gt-md="20px grid">
          <div fxFlex class="mat-title mb-0">Danh sách người dùng</div>
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="20px grid">

            <div *ngIf="levelManageValue==1" fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center"
              class="filter-control">
              <mat-form-field (click)="onDivisionSelectClicked()" appearance="outline">
                <mat-label>Phòng</mat-label>
                <mat-select formControlName="divisionId" placeholder="Chọn phòng" #singleSelectDivision
                  disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="divisionFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                    {{division.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div *ngIf="levelManageValue<=2" fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center"
              class="filter-control">
              <mat-form-field (click)="onSchoolSelectClicked()" appearance="outline">
                <mat-label>Trường</mat-label>
                <mat-select formControlName="schoolId" [disabled]="isDisableSchoolId" placeholder="Chọn trường"
                  #singleSelectSchool disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="schoolFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                    {{school.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">
              <mat-form-field (click)="onGradeSelectClicked()" appearance="outline">
                <mat-label>Khối</mat-label>
                <mat-select formControlName="gradeId" (click)="onGradeSelectClicked()" placeholder="Chọn khối"
                  #singleSelectGrade disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="gradeFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let gradeId of filteredGrades | async" [value]="gradeId.id">
                    {{gradeId.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">
              <mat-form-field (click)="onGroupStudentSelectClicked()" appearance="outline">
                <mat-label>Lớp</mat-label>
                <mat-select formControlName="groupStudentId" placeholder="Chọn lớp" #singleSelectGroupStudent
                  [disabled]="isDisableGroupStudentId && levelManageValue !== 3" disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm lớp" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="groupStudentFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let groupStudent of filteredGroupStudents | async" [value]="groupStudent.id">
                    {{groupStudent.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex fxLayoutAlign="end center" class="filter-control">
              <button mat-raised-button color="primary" (click)="onSubmitSignLectures()">
                <mat-icon matSuffix>filter_list</mat-icon>
                Lọc kết quả
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <table mat-table *ngIf="isListStudentForAssignReady" [dataSource]="assignDataSource.items">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef fxFlex="5" fxLayoutAlign="center center"> STT </th>
          <td mat-cell *matCellDef="let element; let i=index" fxFlex="5" fxLayoutAlign="center center"> {{element.stt}} {{i + 1}} </td>
        </ng-container>
        
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="start center"> Tên
          </th>
          <td mat-cell *matCellDef="let element" fxFlex="20" fxLayoutAlign="start center"
            (click)="$event.stopPropagation()">
            {{element.fullName}} </td>
        </ng-container>


        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef fxFlex="40" fxLayoutAlign="start center"> Tên đăng nhập </th>
          <td mat-cell *matCellDef="let element" fxFlex="40" fxLayoutAlign="start center"
            (click)="$event.stopPropagation()">
            {{element.username}} </td>
        </ng-container>

        <ng-container matColumnDef="className">
          <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="start center"> Lớp </th>
          <td mat-cell *matCellDef="let element" fxFlex="20" fxLayoutAlign="start center"
            (click)="$event.stopPropagation()">
            {{element.groupStudentName}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="end center">
            <mat-checkbox (change)="$event ? assignMasterToggle() : null"
              [checked]="assignSelection.hasValue() && isAssignAllSelected()"
              [indeterminate]="assignSelection.hasValue() && !isAssignAllSelected()"
              [aria-label]="assignCheckboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" fxFlex="20" fxLayoutAlign="end center" (click)="$event.stopPropagation()">
            <mat-checkbox (change)="$event ? onChangeAssignCheckBox($event.checked, row): null"
              [checked]="assignSelection.isSelected(row)" [aria-label]="assignCheckboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="assignDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: assignDisplayedColumns;">
        </tr>
        <tr class="mat-row" style="text-align: center;" *matNoDataRow>
          <td class="mat-cell" colspan="4">Không có dữ liệu học sinh</td>
        </tr>
      </div>
    </table>
    <mat-paginator #assignPaginator [length]="assignDataSource.totalItems" [pageSizeOptions]="[10, 20, 30, 100]">
    </mat-paginator>
  </mat-card>

  <div class="action" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <button mat-raised-button class="button-cancel" (click)="onCancelAssignStudentTabClick()">
      Quay lại
    </button>
    <button *ngIf="this.hasAssignPermission" mat-raised-button color="primary" (click)="onSaveAssignStudentClick()">
      Ghi danh
    </button>
  </div> 
</div>
