.title_create {
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
  font-weight: 600;
}
.content_create {
  font-size: 13px;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 20px;
  padding: 19px 18px 18px !important;

  .title {
    color: #303030;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 19px;
    margin-top: 0;
  }

  ::ng-deep .ck-essay .cke_chrome {
    border-radius: 2px !important;
  }
}

.center-btn-footer {
  margin: 35px 0;
  text-align: center;
  button:nth-child(2){
    margin: 0 20px;
  }
}
