<h3 class="title_create">TẠO CÂU HỎI</h3>
<app-question-filter-action [dataCreate]="dataQuestionView"></app-question-filter-action>
<div class="content">
  <mat-card class="content_create">
    <p class="title">Tạo câu hỏi</p>
    <div>
      <div *ngIf="dataQuestionView?.format== 'SIG'">
        <app-create-single-choice-question [dataQuestion]="dataQuestionView" (questionOutput)="handleData($event)"
          [hideAction]="true" *ngIf="dataQuestionView.type=='SIG'" [configUpload]="configUpload">
        </app-create-single-choice-question>

        <app-create-multiple-choice-question [dataQuestion]="dataQuestionView" [hideAction]="true" (questionOutput)="handleData($event)"
          *ngIf="dataQuestionView.type=='MTC'" [configUpload]="configUpload">
        </app-create-multiple-choice-question>

        <app-create-under-line-question [dataQuestion]="dataQuestionView" [hideAction]="true" (questionOutput)="handleData($event)"
          *ngIf="dataQuestionView.type=='UDL'" [configUpload]="configUpload">
        </app-create-under-line-question>

        <app-create-true-false-question [dataQuestion]="dataQuestionView" [hideAction]="true" (questionOutput)="handleData($event)"
          *ngIf="dataQuestionView.type=='TFQ'" [configUpload]="configUpload">
        </app-create-true-false-question>

        <app-create-true-false-clause-question [dataQuestion]="dataQuestionView" [hideAction]="true" (questionOutput)="handleData($event)"
          *ngIf="dataQuestionView.type=='TFC'" [configUpload]="configUpload">
        </app-create-true-false-clause-question>

        <app-create-missing-word1-question [dataQuestion]="dataQuestionView" [hideAction]="true" (questionOutput)="handleData($event)"
          *ngIf="dataQuestionView.type=='FB1'" [configUpload]="configUpload">
        </app-create-missing-word1-question>

        <app-create-missing-word2-question [dataQuestion]="dataQuestionView" [hideAction]="true" (questionOutput)="handleData($event)"
          *ngIf="dataQuestionView.type=='FB2'" [configUpload]="configUpload">
        </app-create-missing-word2-question>

        <app-create-matching-question [dataQuestion]="dataQuestionView" [hideAction]="true" (questionOutput)="handleData($event)"
          *ngIf="dataQuestionView.type=='MCQ'" [configUpload]="configUpload">
        </app-create-matching-question>
        <app-create-easay-question [dataQuestion]="dataQuestionView" *ngIf="dataQuestionView.type=='ESS'" [hideAction]="true" (questionOutput)="handleData($event)"
          [configUpload]="configUpload"></app-create-easay-question>
      </div>
      <div *ngIf="dataQuestionView?.format=='GRO'">
        <app-create-group-question [dataQuestion]="dataQuestionView" [hideAction]="true" [configUpload]="configUpload" (questionOutput)="handleData($event)">
        </app-create-group-question>
      </div>
    </div>
  </mat-card>
  <div class="center-btn-footer">
    <a routerLink="/dashboard/question-bank">
      <button mat-raised-button color="warn">Hủy</button>
    </a>
    <button mat-raised-button color="primary" (click)="getvalue(false)">Lưu</button>
    <button mat-raised-button color="primary" (click)="getvalue(true)">Lưu và tạo mới</button>
  </div>
</div>