<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-header>
      <mat-card-title>
        <div>Thống kê học sinh</div>
      </mat-card-title>
    </mat-card-header>
    <form action="" [formGroup]="filterSignupLecturesForm" (ngSubmit)="filterReport()">
      <mat-card-content>
        <div class="manage-filter">
          <div class="manage-filter-item" *ngIf="levelManageValue==1">
            <mat-form-field appearance="outline" (click)="onDivisionSelectClicked()">
              <mat-label>Chọn phòng</mat-label>
              <mat-select formControlName="divisionId" placeholder="Chọn phòng" #singleSelectDivision
                disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="divisionFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                  {{division.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="manage-filter-item" *ngIf="levelManageValue<=2">
            <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
              <mat-label>Chọn trường</mat-label>
              <mat-select formControlName="schoolId" [disabled]="isDisableSchoolId" placeholder="Chọn trường"
                #singleSelectSchool disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="schoolFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                  {{school.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="manage-filter-item">
            <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
              <mat-label>Chọn khối</mat-label>
              <mat-select formControlName="gradeId" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="gradeFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let gradeId of filteredGrades | async" [value]="gradeId.id">
                  {{gradeId.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="manage-filter-item">
            <mat-form-field appearance="outline" (click)="onGroupStudentSelectClicked()">
              <mat-label>Chọn lớp</mat-label>
              <mat-select formControlName="groupStudentId" placeholder="Chọn lớp" #singleSelectGroupStudent
                [disabled]="isDisableGroupStudentId && levelManageValue !== 3" disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm lớp" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="groupStudentFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let groupStudent of filteredGroupStudents | async" [value]="groupStudent.id">
                  {{groupStudent.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="manage-filter-item">
            <mat-form-field appearance="outline">
              <mat-label>Niên khóa</mat-label>
              <mat-select [formControl]="schoolYearCtrl" placeholder="Chọn lớp" #singleSelesingleSelectSchoolYear
                disableOptionCentering>
                <mat-option value="2017">
                  2017-2018
                </mat-option>
                <mat-option value="2018">
                  2018-2019
                </mat-option>
                <mat-option value="2019">
                  2019-2020
                </mat-option>
                <mat-option value="2020">
                  2020-2021
                </mat-option>
                <mat-option value="2021">
                  2021-2022
                </mat-option>
                <mat-option value="2022">
                  2022-2023
                </mat-option>
                <mat-option value="2023">
                  2023-2024
                </mat-option>
                <mat-option value="2024">
                  2024-2025
                </mat-option>
                <mat-option value="2026">
                  2025-2026
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="manage-filter-item">
            <mat-form-field appearance="outline">
              <mat-label>Tìm kiếm</mat-label>
              <input matInput fxFlex type="text" [formControl]="studentName" placeholder="Nhập mã hoặc tên học sinh"
                autocomplete="off">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div class="manage-filter-item manage-filter-item-fill"
            fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
            <button mat-raised-button color="primary">
              <mat-icon matSuffix>filter_list</mat-icon>
              Lọc kết quả
            </button>
          </div>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxFlex fxLayoutAlign="end center" class="export-data">
        <button mat-raised-button color="primary" (click)="exportExcel()">
          <mat-icon matSuffix>file_download</mat-icon>
          Xuất dữ liệu
        </button>
      </div>
    </mat-card-content>

    <div class="table-responsive">
      <table mat-table [dataSource]="reportStudentPagination.items" matSort>
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef> STT
          </th>
          <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef> Mã định danh
          </th>
          <td mat-cell *matCellDef="let element" > {{element.username}} </td>
        </ng-container>


        <ng-container matColumnDef="StudentName">
          <th mat-header-cell *matHeaderCellDef> Tên học sinh</th>
          <td mat-cell *matCellDef="let element" class="mat-main-column-us">{{element.studentName}}</td>
        </ng-container>

        <ng-container matColumnDef="SchoolName">
          <th mat-header-cell *matHeaderCellDef> Trường học</th>
          <td mat-cell *matCellDef="let element">{{element.schoolName}}</td>
        </ng-container>

        <ng-container matColumnDef="TotalLessonAgg">
          <th class=" center" mat-header-cell *matHeaderCellDef> Tổng số bài giảng yêu cầu học </th>
          <td class="center" mat-cell *matCellDef="let element"> {{element.totalLessonAssign}}
          </td>
        </ng-container>

        <ng-container matColumnDef="TotalLessonReg">
          <th class="center" mat-header-cell *matHeaderCellDef>Tổng số bài giảng đăng ký học ngay
          </th>
          <td class="center" mat-cell *matCellDef="let element">
            {{element.totalLessonRegister}}
        </ng-container>
        <ng-container matColumnDef="TotalLessonApp">
          <th class="center" mat-header-cell *matHeaderCellDef> Tổng số bài giảng được duyệt </th>
          <td class="center" mat-cell *matCellDef="let element"> {{element.totalLessonApproval}} </td>
        </ng-container>
        <ng-container matColumnDef="function">
          <th class="text-table center" mat-header-cell *matHeaderCellDef> Chi tiết
          </th>
          <td class="text-data center" mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="showDetail(element.studentId)">
              <mat-icon svgIcon="detail-report-lesson"></mat-icon>
            </button>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell background-no-content text-center" colspan="8">
            <div class="background-no-content-img"></div>
            Không có dữ liệu
          </td>
        </tr>
      </table>
      <div fxLayout="row" fxLayoutAlign="end end" class="paggination">
        <mat-paginator [length]="reportStudentPagination.totalItems" [pageSizeOptions]="[10, 20, 50, 100]">
        </mat-paginator>
      </div>
    </div>
  </mat-card>
</div>