<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap.gt-md="20px grid">
        <div fxFlex class="mat-title mb-0">Danh sách khung chương trình</div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="20px grid">
          <div fxFlex="none">
            <button *ngIf="this.hasAddPermission" (click)="onOpenCreateCurriculumDialogClicked()" mat-raised-button
              color="primary" class="btn-add-user">
              <span class="material-icons">control_point</span>
              Thêm khung chương trình
            </button>
          </div>
          <div fxFlex fxLayoutAlign.gt-md="end center">
            <button *ngIf="isShowFilter" (click)="onClickToggleShowFilter()" fxLayoutAlign="end end" mat-raised-button
              class="button-sm button-hidden-filter">
              <span class="material-icons">visibility_off</span>
              Ẩn bộ lọc
            </button>
            <button *ngIf="!isShowFilter" (click)="onClickToggleShowFilter()" fxLayoutAlign="end end" mat-raised-button
              class="button-sm button-hidden-filter">
              <span style="width: 24px;" class="material-icons">visibility_on</span>
              Hiện bộ lọc
            </button>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
  <mat-card class="manage-card" *ngIf="isShowFilter">
    <mat-card-content>
      <form [formGroup]="filterCurriculumForm" (ngSubmit)="onSubmitFilter()">
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="30px grid">
          <div fxFlex fxFlex.gt-md="25" *ngIf="levelManageValue==1" class="padding-b-15">
            <mat-form-field (click)="onDivisionSelectClicked()" appearance="outline">
              <mat-label>Chọn phòng</mat-label>
              <mat-select formControlName="divisionId" placeholder="Chọn phòng" #singleSelectDivision
                disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="divisionFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option [value]="null">Chọn phòng</mat-option>
                <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                  {{division.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex fxFlex.gt-md="25" *ngIf="levelManageValue<=2" class="padding-b-15">
            <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
              <mat-label>Chọn trường</mat-label>
              <mat-select formControlName="schoolId" [disabled]="isDisableSchoolId" placeholder="Chọn trường"
                #singleSelectSchool disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="schoolFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option [value]="null">Chọn trường</mat-option>
                <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                  {{school.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex fxFlex.gt-md="25" class="padding-b-15">
            <mat-form-field (click)="onGradeSelectClicked()" appearance="outline">
              <mat-label>Chọn khối</mat-label>
              <mat-select formControlName="gradeId" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="gradeFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option [value]="null">Chọn khối</mat-option>
                <mat-option *ngFor="let gradeId of filteredGrades | async" [value]="gradeId.id">
                  {{gradeId.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex fxFlex.gt-md="25" class="padding-b-15">
            <mat-form-field (click)="onSubjectSelectClicked()" appearance="outline">
              <mat-label>Chọn môn</mat-label>
              <mat-select formControlName="subjectId" placeholder="Chọn môn" [disabled]="isDisableSubjectId"
                #singleSelectSubject disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm môn" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="subjectFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option [value]="null">Chọn môn</mat-option>
                <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.id">
                  {{subject.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex fxFlex.gt-md="25">
            <mat-form-field appearance="outline">
              <mat-label>Trạng thái</mat-label>
              <mat-select formControlName="isActive" placeholder="Chọn trạng thái" disableOptionCentering>
                <mat-option [value]="true">
                  Kích hoạt
                </mat-option>
                <mat-option [value]="false">
                  Ngưng sử dụng
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
            <button mat-raised-button type="submit" color="primary">
              <mat-icon matSuffix>filter_list</mat-icon>
              Lọc kết quả
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="manage-card">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="filter_table_midle">
      <table mat-table [dataSource]="curriculumsPagination.items">

        <!-- <ng-container matColumnDef="curriculumId">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="changeCheck($event,row)"
                            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container> -->
        <!-- Position Column -->
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef> STT </th>
          <td mat-cell *matCellDef="let element; let i=index"> {{i + 1}} </td>
        </ng-container>
        <ng-container matColumnDef="curriculumName">
          <th mat-header-cell *matHeaderCellDef> Tên khung chương trình </th>
          <td mat-cell *matCellDef="let element" class="mat-main-column">
            <div fxLayout="column">
              <span class="text-wrap" #tooltip="matTooltip"
                matTooltip="{{element.curriculumName}}">{{element.curriculumName}} </span>
              <label
                [ngClass]="{'status-bade-actived':element.isActived==true, 'status-bade-unActived':element.isActived==false}">
                {{element.getActiveStatus}}
              </label>
            </div>

          </td>
        </ng-container>
        <ng-container matColumnDef="levelManageName">
          <th mat-header-cell *matHeaderCellDef class="subject-col"> Đơn vị quản lý </th>
          <td mat-cell *matCellDef="let element" class="subject-col"> {{element.levelManageName}} </td>
        </ng-container>
        <ng-container matColumnDef="subjectName">
          <th mat-header-cell *matHeaderCellDef class="subject-col"> Môn học </th>
          <td mat-cell *matCellDef="let element" class="subject-col"> {{element.subjectName}} </td>
        </ng-container>

        <ng-container matColumnDef="gradeName">
          <th mat-header-cell *matHeaderCellDef class="grade-col"> Khối </th>
          <td mat-cell *matCellDef="let element" class="grade-col"> {{element.gradeName}} </td>
        </ng-container>

        <ng-container matColumnDef="function">
          <th mat-header-cell *matHeaderCellDef> Chức năng </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="material-icons icon-setting" title="Chỉnh sửa" *ngIf="this.hasEditPermission"
              [routerLink]="['/dashboard/manage-curriculums/setting-curriculum']"
              [queryParams]="{id: element.curriculumId}">settings
            </mat-icon>
            <mat-icon svgIcon="trash-black" class="icon-funtion" *ngIf="this.hasDeletePermission"
              (click)="onOpenDeleteCurriculumDialogClicked(element)" mat-icon-button title="Xóa"></mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>c
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="double"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td colspan="10" class="mat-cell background-no-content">
            <div class="background-no-content-img"></div>
            <div class="background-no-content-info">
              <p>Không tìm thấy khung chương trình</p>
            </div>
          </td>
        </tr>
      </table>
      <mat-paginator [length]="curriculumsPagination.totalItems" [pageSizeOptions]="[10, 25, 100]">
      </mat-paginator>
    </div>

    <!-- <div class="filter_bottom_action">
            <button mat-raised-button class="bg-danger btn-remove-selected">
                <span class="material-icons">delete</span>
                Xóa đã chọn
            </button>
        </div> -->
  </mat-card>
</div>
