.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.btn-filter {
  color: #fff;
}
.filter-wrapper {
  padding: 10px 20px;
}
.first-filter-wrapper {
  padding-top: 20px;
}
.btn-filter {
  margin-top: 0px;
  margin-bottom: 0px;
}
.filter-control {
  padding-top: 15px;
  padding-right: 15px;
}

.status-col {
  min-width: 80px;
}
.action-col {
  min-width: 110px;
  text-align: end;
}
.grade-col {
  min-width: 80px;
}
.subject-col {
  min-width: 180px;
}
.curriculumName {
  padding: 0 5px;
}
.order-col {
  padding: 0 5px;
}

.icon-funtion {
  height: 20px;
}
.icon-setting {
  height: 20px;
  color: #7e8485;
  cursor: pointer;
}
.status-bade-actived {
  background: #4caf50;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
  width: fit-content;
}

.status-bade-unActived {
  background: #BDBDBD;
  color: #FFFFFF;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
  width: fit-content;
}
.height-55{
  height: 55px !important;
}