.question_underline {
  position: relative;
  pointer-events: none;
}

.example-list-section {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
}

.example-radio-button {
  position: relative;

  .result {
    position: absolute;
    top: 12px;
    left: -30px;
  }

  .correct {
    color: #4caf50;
  }

  .in-correct {
    color: red;
  }
}

.question-title {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #303030;
  position: relative;
  padding-left: 30px;

  .order {
    position: absolute;
    left: 0;
    top: -3px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 22px;
    color: #4caf50;
  }

  .score {
    position: absolute;
    right: 0;
    top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #4caf50;
  }
}

.answer-area {
  display: flex;
  padding: 10px 0;

  .example-radio-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 300px;

    &:not(:last-child) {
      margin-right: 30px;
    }

    .stt {
      margin-right: 18.54px;
    }
  }

  .item-answer {
    padding: 5px 0;
    font-weight: normal;
  }
}

:host ::ng-deep .mat-radio-label-content {
  display: flex !important;
  align-items: center;
  >span >p{
    margin: 0;
  }

}

:host ::ng-deep .Blanking2 {
  box-sizing: border-box;
  width: auto;
  min-width: 50px;
  height: auto;
  margin: 0 10px;
  display: inline-table;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #c0c0c0;
  text-align: center;
  font-style: italic;
}