<div class="question_underline">
  <app-status-question [data]="dataQuestion"></app-status-question>
  <div class="answer-area">
    <ng-container *ngIf="(isResult==false || isResult == undefined)">
      <div class="example-radio-group" *ngFor="let group of dataAnswers; let i=index">
        <label class="stt">({{i+1}})</label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="group_fill">
          <mat-radio-button class="item-answer" fxLayout="column" *ngFor="let answer of group;let index=index" color="primary"
            [value]="answer.id" [checked]="answer.trueAnswer === 1">
            <span class="title" style="margin-right:0.5rem;font-weight: normal;">{{alphabet[index]}}. </span>
            <div class="item" *ngIf="answer.content.indexOf(defaultMath)!=-1; else elseBlock"> <span
                [MathJax]="answer.content"></span></div>
            <ng-template #elseBlock> <span [innerHTML]="answer.content"></span></ng-template>
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </ng-container>
  </div>
</div>
