.title-center {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #303030;

  opacity: 0.98;
}

.input-infor {
  width: 980px;
  height: 31px;
  padding: 0 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;

  color: #555555;
  opacity: 0.98;
}


.panel-code {
  height: 50px !important;
}

.help-bpx {
  color: red;
}

.m-t-10 {
  margin-top: 10px;
}


.m-b-10 {
  margin-bottom: 10px;
}

.title-form {
  margin-bottom: 35px;
}

.dialog-action {
  margin-bottom: 0px;
  margin-top: 10px;
}

.lable {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #555555;
  opacity: 0.98;
}

:host ::ng-deep .mat-card {
  margin: 0;
  padding: 0;
  box-shadow: none !important;
  width: 100%;
}

:host ::ng-deep .mat-card-content {
  padding: 0;
}