<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap.gt-md="20px grid">
        <div fxFlex class="mat-title mb-0">Danh sách môn học</div>

        <div fxFlex fxLayoutAlign="start center">
          <div fxLayout="row" fxLayoutGap="15px">
            <button *ngIf="this.hasAddPermission" mat-raised-button color="primary" (click)="openDialog()">
              <mat-icon>add_circle_outline</mat-icon> Thêm môn học
            </button>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
  <mat-card class="manage-card">
    <app-spinner2></app-spinner2>
    <table mat-table [dataSource]="subjectsPagination.items" matSort>
      <!-- Checkbox Column -->
      <!-- <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef style="width: 70px;">
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container> -->

      <!-- Code Column -->
      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let element;let i=index"> {{i + 1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="width-35-per"> Tên môn học </th>
        <td mat-cell *matCellDef="let element" class="mat-main-column width-35-per"> {{element.name}} </td>
      </ng-container>

      <!-- STT Column -->
      <ng-container matColumnDef="orderNumber">
        <th mat-header-cell *matHeaderCellDef class="text-align-center"> Vị trí sắp xếp </th>
        <td mat-cell *matCellDef="let element" class="text-align-center"> {{element.orderNumber}} </td>
      </ng-container>


      <!-- fuction Column -->
      <ng-container matColumnDef="function">
        <th class=" end" mat-header-cell *matHeaderCellDef> Chức năng </th>
        <td class="end" mat-cell *matCellDef="let row">
          <mat-icon svgIcon="edit-black" class="icon" *ngIf="this.hasEditPermission" mat-icon-button title="Chỉnh sửa"
            (click)="UpdateSubject(row)"></mat-icon>
          <mat-icon svgIcon="trash-black" class="icon" *ngIf="this.hasDeletePermission" mat-icon-button title="Xóa"
            (click)="DeleteSubject(row)"></mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell background-no-content text-center" colspan="8">
          <div class="background-no-content-img"></div>
          Không tìm thấy môn
        </td>
      </tr>
    </table>
    <mat-paginator [length]="subjectsPagination.totalItems" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
    <br />
    <!-- <div class="filter_bottom_action">
      <button mat-raised-button class="bg-danger btn-remove-selected">
        <span class="material-icons">delete</span>
        Xóa đã chọn
      </button>
    </div> -->
  </mat-card>
</div>