.center {
  text-align: center;
}

.end {
  text-align: end;
}

.example-loading-shade {
  align-content: center;
  align-items: center;
}

.icon {
  height: 20px
}

.text-align-center{
  text-align: center;
}
.width-35-per{
  width: 35% !important;
}