<div mat-dialog-title>{{title}}</div>
<div mat-dialog-content [innerHTML]='detail'>

</div>
<div mat-dialog-actions>
  <button mat-flat-button mat-dialog-close class="button-cancel">Hủy</button>
  <button mat-raised-button color="primary" (click)="onGotoSettingClickHandler()">{{buttonText}}</button>
</div>