<div *ngIf="screenWidth <= 1024" class="header" fxLayout="row" fxLayoutAlign="center center">
  <div class="btn-submit">
    <button mat-flat-button color="warn" [disabled]="isDisableFinishButton" (click)="finishTest()" (dblclick)="onDoubleClickFinish()">
      <!-- <mat-icon>power_settings_new</mat-icon>  -->
      NỘP BÀI
    </button>
  </div>
  <div class="btn-exam-rule" style="display: none;" (click)="openExamRuleDialog()">
    <mat-icon svgIcon="exam-rule-mobile"></mat-icon>
  </div>
</div>
<div *ngIf="isStartDoTest==true" style="position: relative;" fxLayout="row" class="row-container">

  <ng-container>
    <div class="container-content__question scrollbar-success" fxFlex="75" fxLayoutAlign="center start"
      fxFlex.lt-sm="100">
      <div class="questions-wrapper">
        <div id="cauhoi_{{question.order}}" class="question-container"
          *ngFor="let question of SortedQuestions() | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage };let i=index;">
          <div class="title-question-label">Câu hỏi {{question.order}} ({{question.score}} điểm)</div>
          <learner-lesson-underline
            *ngIf="question.type==questionType.underline && question.format==questionFormat.single"
            [dataQuestion]="question">
          </learner-lesson-underline>
          <learner-lesson-true-false-clause
            *ngIf="question.type==questionType.truefaslechause && question.format==questionFormat.single"
            [dataQuestion]="question">
          </learner-lesson-true-false-clause>

          <learner-lesson-single-choice
            *ngIf="question.type==questionType.singlechoice && question.format==questionFormat.single"
            [dataQuestion]="question">
          </learner-lesson-single-choice>

          <learner-lesson-multiple-choice
            *ngIf="question.type==questionType.multichoice && question.format==questionFormat.single"
            [dataQuestion]="question">
          </learner-lesson-multiple-choice>

          <learner-lesson-true-false
            *ngIf="question.type==questionType.truefasle && question.format==questionFormat.single"
            [dataQuestion]="question">
          </learner-lesson-true-false>

          <learner-lesson-missing-word1 id="{{question.id}}"
            *ngIf="question.type==questionType.fillblank && question.format==questionFormat.single"
            [dataQuestion]="question">
          </learner-lesson-missing-word1>

          <learner-lesson-missing-word2 id="{{question.id}}"
            *ngIf="question.type==questionType.fillblank2 && question.format==questionFormat.single"
            [dataQuestion]="question">
          </learner-lesson-missing-word2>

          <learner-lesson-essay *ngIf="question.type==questionType.essay && question.format==questionFormat.single"
            [dataQuestion]="question" [userContentTestId]="userContentTestId">
          </learner-lesson-essay>

          <learner-lesson-matching-mobile
            *ngIf="question.type==questionType.matching && question.format==questionFormat.single"
            [dataQuestion]="question" fxHide.md fxHide.lg fxHide.xl>
          </learner-lesson-matching-mobile>

          <learner-lesson-matching
            *ngIf="question.type==questionType.matching && question.format==questionFormat.single"
            [dataQuestion]="question" fxHide.sm fxHide.xs>
          </learner-lesson-matching>

          <learner-lesson-group-question *ngIf="question.format==questionFormat.group" [dataQuestion]="question">
          </learner-lesson-group-question>
        </div>
      </div>

      <!-- <learner-lesson-table-question fxHide.md fxHide.xl fxHide.lg></learner-lesson-table-question> -->
    </div>
  </ng-container>
  <ng-container>
    <div *ngIf="screenWidth > 1024" class="container-content__infor-question" fxFlex="25" fxHide.sm fxHide.xs>
      <learner-lesson-table-question *ngIf="isReady" [isAnswer]="true" [dataQuestion]="SortedQuestions()" [infoTest]="infoTest"
        (indexQuestion)="scrollToElement($event)" [timeLeft]="timeLeft" [screenWidth]="screenWidth"
        [userContentTestId]="userContentTestId" (finishTest)="finishTestOverTime()">
      </learner-lesson-table-question>
    </div>
    <learner-lesson-table-question-mobile *ngIf="screenWidth <= 1024 && isReady" [dataQuestion]="SortedQuestions()"
      [timeLeft]="timeLeft" [screenWidth]="screenWidth" [totalPage]="totalPage" [infoTest]="infoTest" (pageIndex)="pageChanged($event)" (indexQuestion)="scrollToElement($event)"
      [currentPage]="currentPage" [userContentTestId]="userContentTestId">
    </learner-lesson-table-question-mobile>
  </ng-container>

  <div *ngIf="screenWidth > 1024" class="control-bar-bottom" fxLayout="row" fxHide.sm fxHide.xs>
    <div fxFlex="75" fxLayoutAlign="center center" style="position: relative;">
      <div class="button-group" fxLayoutAlign="center center">
        <button mat-flat-button color="primary" class="m-r-20" style="min-width: 100px;" (click)="onBackPage()"
          [disabled]="currentPage <= 1">
          <mat-icon style="position: absolute; top: 6px; left: 10px;">keyboard_arrow_left</mat-icon> <span
            class="m-l-10">Trở lại</span>
        </button>
        <button mat-flat-button color="primary" style="position: relative; min-width: 100px;" (click)="onNextPage()"
          [disabled]="currentPage >= totalPage">
          <span class="m-r-10">Kế tiếp</span>
          <mat-icon style="position: absolute; top: 6px; right: 10px;">keyboard_arrow_right</mat-icon>
        </button>
      </div>
      <div style="position: absolute; right: 50px;">
        <pagination-controls class="answer-paginator" previousLabel="" nextLabel="" (pageChange)="pageChanged($event)" fxHide.sm fxHide.xs>
        </pagination-controls>
      </div>
    </div>
    <div fxFlex="25" fxLayoutAlign="center center">
      <button mat-flat-button color="warn" [disabled]="isDisableFinishButton" (click)="finishTest()" (dblclick)="onDoubleClickFinish()">
        <mat-icon>power_settings_new</mat-icon> Nộp bài
      </button>
    </div>
  </div>
</div>
