<form [formGroup]="unitInfoForm" fxLayout="row" class="body" fxLayoutAlign="center center">
  <div fxLayout="column" fxFlex=50>
    <span class="title">Thông tin đơn vị</span>
    <div fxLayout="column" fxLayoutGap="20px">
      <div fxLayout="row" fxFlex=100 fxLayoutAlign="center center">
        <span fxFlex=30 class="lable">Tên đơn vị(*)</span>
        <div fxLayout="column" fxFlex=70>
          <input type="text" class="input" formControlName="unitName">
          <small *ngIf="unitName.invalid &&
              unitName.touched" class="text-danger support-text">Tên đơn vị không được để trống</small>
        </div>
      </div>

      <div fxLayout=row fxLayoutAlign="center center">
        <span fxFlex=30 class="lable">Số điện thoại</span>
        <input fxFlex=70 type="text" class="input" formControlName="phoneNumber">
      </div>
      <div fxLayout=row fxLayoutAlign="center center">
        <span fxFlex=30 class="lable">Email(*)</span>
        <div fxLayout="column" fxFlex=70>
          <input type="email" class="input" formControlName="email">
          <small *ngIf="email.hasError('required') &&
          email.touched" class="text-danger support-text">Email không được trống</small>
          <small *ngIf="email.hasError('pattern') &&
          email.touched" class="text-danger support-text">Email không đúng định dạng</small>
        </div>
      </div>

      <div fxLayout=row fxLayoutAlign="center center">
        <span fxFlex=30 class="lable">Địa chỉ</span>
        <input fxFlex=70 type="text" class="input" formControlName="address">
      </div>
    </div>
  </div>
</form>

<div class="action" fxLayout=row fxLayoutAlign="center center" fxLayoutGap=10px>
  <button mat-raised-button class="button-cancel" (click)="cancel()">Hủy</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="unitInfoForm.invalid">Lưu</button>
</div>
