<div id="content-mobile-scroll" fxLayout="row" fxLayoutAlign="start start" class="learn-container"
  [ngClass]="{'dark': isDarkMode, 'hide': isShow === true || isFull == true, 'bg_image': bgImage}"
  [ngStyle]="{'background-image': 'url(' + bgImage + ')'}">
  <div *ngIf="showBlankContentLesson" fxFlex="75" [fxFlex]="{'100':isFull == true}" class="details-content"
    style="text-align: center;" [ngClass]="{'show': isShow === true}">
    <div class="pure-content-header" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon (click)="onClickOutContent()" class="poiter exit">logout</mat-icon>
        <!-- <span class="exit">
        </span> -->
        <p class="title">{{currentContent?.name}}</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">
        <ng-template *ngIf="currentContent?.isComplete && isShowExitButton; then completed else notCompleted">
        </ng-template>
        <ng-template #completed>
          <div fxLayoutAlign="start center">
            <ng-container
              *ngIf="currentContent?.conditionsForCompletion == conditionForCompletion.answerQuestion && testInfoStudent?.statusOver!='NOT' && testInfoStudent?.statusOver!=null; else elseTemplate">
              <div fxLayout="row" fxLayoutAlign="start center">
                <button class="button-action" mat-raised-button (click)="restartDoTest()">
                  <mat-icon style="color: white;">file_download_done</mat-icon>
                  Xem lại bài
                </button>
              </div>
            </ng-container>
            <!-- <ng-template #elseTemplate>
              <button color="primary" mat-raised-button>
                <mat-icon style="color: white;">check</mat-icon>
                Đã hoàn thành
              </button>
            </ng-template> -->
            <!-- <div
              *ngIf="currentContent.conditionsForCompletion == conditionForCompletion.answerQuestion && testInfoStudent.statusOver!='NOT' && testInfoStudent.statusOver!=null"
              fxLayoutAlign="start center" class="m-l-10" title="Xem lại bài làm gần đây">
              <div class="view-result" (click)="viewResult()"></div>
            </div> -->
          </div>
        </ng-template>
        <ng-template #notCompleted>
          <div fxLayoutAlign="center center" class="timmer"
            *ngIf="(currentContent?.conditionsForCompletion == conditionForCompletion.interval) && !showBannerWaitingContent">
            <mat-icon class="timmer-icon" svgIcon="hourglass"></mat-icon>
            <div id="countdown">
              <p class="timmer-value">00: 00: 00</p>
            </div>
          </div>
          <div fxLayoutAlign="center center"
            *ngIf="currentContent?.conditionsForCompletion == conditionForCompletion.clickButton && isShowExitButton && showCompleteButton && !showBannerWaitingContent"
            class="control-bar-left-center-button">
            <button mat-button (click)="onSubmitContent()" style="background-color: #4CAF50;color: white;">
              Hoàn thành
            </button>
          </div>
          <div fxLayoutAlign="center center"
            *ngIf="currentContent?.conditionsForCompletion == conditionForCompletion.answerQuestion && !isLoadingTestInfo && !showBannerWaitingContent">
            <button [ngClass]="{'disabled-btn': isDisableButtonComplete}"
              *ngIf="!isTimeoutCurrent(testInfoStudent) && !testInfoStudent?.isCompleted && testInfoStudent.userContentTestId != 0 && testInfoStudent.userContentTestId != null"
              mat-button class="button-common-start" (click)="startDoTest()">
              Tiếp tục trả lời
            </button>

            <div *ngIf="!testInfoStudent?.userContentTestId">
              <button [ngClass]="{'disabled-btn': isDisableButtonComplete}" *ngIf=" testInfoStudent.userContentTestId==0" mat-button class="button-common-start"
                (click)="startDoTest()">
                Trả lời câu hỏi
              </button>
            </div>
            <!--test-->
            <div fxLayout="row" fxLayoutAlign="start center">

              <!-- <button *ngIf=" testInfoStudent.userContentTestId==0" mat-button class="button-common"
                (click)="startDoTest()">
                Trả lời câu hỏi
              </button> -->
              <!-- <button
                *ngIf="!isTimeoutCurrent(testInfoStudent) && testInfoStudent?.statusOver =='NOT' && testInfoStudent.userContentTestId != 0 && testInfoStudent.userContentTestId != null"
                mat-button class="button-common" (click)="startDoTest()">
                Tiếp tục trả lời
              </button> -->
              <button [ngClass]="{'disabled-btn': isDisableButtonComplete}" *ngIf="(testInfoStudent.isCompleted && testInfoStudent?.statusOver != 'PAS')" mat-button
                class="button-common re-answer" (click)="restartDoTest()">
                Trả lời lại
              </button>
            </div>
            <!--end test-->
            <!-- <div *ngIf="testInfoStudent.statusOver!='NOT' && testInfoStudent.statusOver!=null"
              fxLayoutAlign="start center" class="m-l-10" title="Xem lại bài làm gần đây">
              <div class="view-result" (click)="viewResult()"></div>
            </div> -->
          </div>
          <div fxLayoutAlign="center center" *ngIf="currentContent?.typesOfContent == contentType.virtualClassRoom">
          </div>
          <div fxLayoutAlign="center center"
            *ngIf="currentContent?.conditionsForCompletion == conditionForCompletion.minimumScore && isShowExitButton"
            class="control-bar-left-center-button">
          </div>
        </ng-template>
        <!--end test-->
        <span *ngIf="showButtonInfoVideo && showBannerComplete && !showBannerWaitingContent" (click)="onDetailVideo()"
          class="icon-info material-icons-outlined">info</span>
        <!-- <mat-icon *ngIf="showButtonInfoVideo" (click)="onDetailVideo()" class="icon-info">info</mat-icon> -->
        <mat-icon (click)="onFullscreenMode()" class="poiter ic-sort">sort</mat-icon>
      </div>
    </div>
    <div class="outlet-container" [ngClass]="{'container-mobile': !showBannerComplete || showBannerWaitingContent}">
      <router-outlet *ngIf="showBannerComplete" (activate)='onActivate($event)'></router-outlet>
      <div *ngIf="!showBannerComplete" class="complete-content">
        <div class="content-banner">
          <img src="/assets/images/lesson/complete-content.svg" alt="complete-content">
          <h3 class="congratulations">Xin chúc mừng {{tokenInfo?.fullName}}</h3>
          <h6 class="text">Chúc mừng bạn đã hoàn thành <span>{{currentContent?.name}}</span></h6>
          <button mat-raised-button color="primary" (click)="onSeenContent()">Xem lại bài</button>
        </div>
      </div>
      <div *ngIf="showBannerWaitingContent" class="complete-content">
        <div class="content-banner">
          <img src="/assets/images/lesson/banner-waiting-content.svg" alt="complete-content">
          <h3 class="congratulations">Bài giảng đang được xử lý</h3>
          <h6 class="text">Bài giảng đang được xử lý, vui lòng trở lại hoặc qua bài học mới</h6>
        </div>
      </div>
      <app-progress-player *ngIf="!showBannerComplete || showBannerWaitingContent" [isHide]="true" [hideSetting]="true"
        [isCompleteContent]="true" [isWaitingContent]="showBannerWaitingContent ? true : false">
      </app-progress-player>
    </div>
  </div>
  <div *ngIf="showBlankContentLesson" fxFlex="25" class="contents" [ngClass]="{'dark-primary': isDarkMode === true}">
    <mat-card class="lesson-info">
      <mat-card-content style="padding: 20px;" class="lesson-content">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
          <img class="avatar-teacher" src="{{avatar}}" />
          <div fxLayout="column" fxLayoutGap="7px">
            <span class="lesson-name">{{lessonName}}</span>
            <span class="teacher-name">{{teacherName}}</span>
          </div>
        </div>
        <div class="progress-bar-content" style="margin-top:20px" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
          <mat-progress-bar class="progress-bar" color="primary" mode="determinate" [value]="totalPercent">
          </mat-progress-bar>
          <span class="display-percent">{{totalPercent}}%</span>
          <mat-icon style="color: #4CAF50;">flag</mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="content-menu">
      <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            <div fxLayoutAlign="center center" class="icon-background">
              <mat-icon *ngIf="tabChange !== 0" class="svg-icon-tab-group" svgIcon='list-un-active'></mat-icon>
              <mat-icon *ngIf="tabChange == 0" class="svg-icon-tab-group" svgIcon="list-tab-active"></mat-icon>
              <span class="primary-title" *ngIf="tabChange == 0">Nội dung</span>
            </div>
          </ng-template>
          <div fxLayout="row">
            <div fxFlex="100">
              <mat-accordion *ngIf="isReady" multi>
                <div *ngFor="let element of learnContentsResponse.listContentGroupsAndContent">
                  <mat-expansion-panel *ngIf="element.contentId == null" (closed)="element.isExpanded=false"
                    (opened)="element.isExpanded=true" [expanded]="element.isExpanded">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <span class="content-group-name">{{element.name}}</span>
                        <span
                          class="total-content-finished">{{element.totalContentFinished}}/{{element.listContents.length}}</span>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngFor="let content of element.listContents" fxLayoutAlign="space-between center"
                      class="row-content child-content" [class]="content.isActive?'btn-fill':'disabled'"
                      [ngClass]="{'active': (content.contentId == currentContent.contentId)}"
                      (click)="onClickContent(content)">
                      <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxLayout="column" fxLayoutAlign="center center">
                          <circle-progress [percent]="content?.percentVideo ? content?.percentVideo : 0"
                            [showSubtitle]="false" [radius]="11" [outerStrokeWidth]="5" [innerStrokeWidth]="5"
                            [space]="-5" [outerStrokeColor]="'#4FB153'" [unitsFontSize]="11" [titleColor]="'#4FB153'"
                            [unitsColor]="'#4FB153'" [innerStrokeColor]="'#E9E9E9'" [animation]="true"
                            [animationDuration]="300" [showInnerStroke]="true" [showImage]="true">
                          </circle-progress>
                          <span class="percent-value">{{content?.percentVideo ? content?.percentVideo : 0}}%</span>
                        </div>
                        {{content.name}}
                      </div>
                      <!-- <mat-icon *ngIf="content.conditionsForCompletion == conditionForCompletion.interval"
                        class="content-name-icon">access_time</mat-icon> -->
                      <mat-icon class="content-name-left-top-icon"
                        [ngClass]="content?.isComplete?'done-icon':'lock-icon'">
                        {{(content?.isComplete)?'check_circle':((learnContentsResponse.formOfLearn == formOfLearn.free
                        ||
                        content.isActive)?'lock_open':'lock')}}
                      </mat-icon>
                    </div>
                  </mat-expansion-panel>
                  <div *ngIf="element.contentId != null && element.contentGroupId == null"
                    fxLayoutAlign="space-between center" class="row-content"
                    [class]="element.isActive?'btn-fill':'disabled'"
                    [ngClass]="{'active': (element.contentId == currentContent.contentId)}"
                    (click)="onClickContent(element)">

                    <div fxLayout="row" fxLayoutAlign="start center">
                      <div fxLayout="column" fxLayoutAlign="center center">
                        <circle-progress [percent]="element?.percentVideo ? element?.percentVideo : 0"
                          [showSubtitle]="false" [radius]="11" [outerStrokeWidth]="5" [innerStrokeWidth]="5"
                          [space]="-5" [outerStrokeColor]="'#4CAF50'" [unitsFontSize]="11" [titleFontSize]="11"
                          [titleColor]="'#4CAF50'" [unitsColor]="'#4CAF50'" [innerStrokeColor]="'#E9E9E9'"
                          [animation]="true" [animationDuration]="300" [showInnerStroke]="true" [showImage]="true">
                        </circle-progress>
                        <span class="percent-value">{{element?.percentVideo ? element?.percentVideo : 0}}%</span>
                      </div>
                      {{element.name}}
                    </div>
                    <mat-icon class="content-name-left-bottom-icon"
                      [ngClass]="{'lock-icon': element?.isComplete==false,'done-icon':element?.isComplete==true}">
                      {{(element?.isComplete)?'check_circle':((learnContentsResponse.formOfLearn == formOfLearn.free ||
                      element.isActive)?'lock_open':'lock')}}
                    </mat-icon>
                    <!-- <div class="row-content-title">
                      <mat-icon class="content-name-left-bottom-icon"
                        [ngClass]="element.isComplete?'done-icon':'lock-icon'">
                        {{(element.isComplete)?'done':((learnContentsResponse.formOfLearn == formOfLearn.free ||
                        element.isActive)?'lock_open':'lock')}}
                      </mat-icon> 
                      {{element.name}}
                      <mat-icon
                        *ngIf="element.conditionsForCompletion == conditionForCompletion.interval"
                        class="content-name-right-bottom-icon">access_time</mat-icon>
                    </div> -->
                  </div>
                </div>
              </mat-accordion>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div fxLayoutAlign="center center" class="icon-background">
              <mat-icon class="svg-icon-tab-group" svgIcon='chat-un-active' *ngIf="tabChange !== 1"></mat-icon>
              <mat-icon class="svg-icon-tab-group" svgIcon='chat-tab-active' *ngIf="tabChange === 1"></mat-icon>
              <span class="primary-title" *ngIf="tabChange == 1">Trò chuyện</span>
            </div>
          </ng-template>
          <!--chat-->
          <app-chat-tab-lesson [isDarkMode]="isDarkMode" [tab]="tabChange"></app-chat-tab-lesson>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div fxLayoutAlign="center center" class="icon-background">
              <mat-icon class="svg-icon-tab-group" svgIcon='question-un-active' *ngIf="tabChange !== 2"></mat-icon>
              <mat-icon class="svg-icon-tab-group" svgIcon='answer-question-tab-active' *ngIf="tabChange === 2">
              </mat-icon>
              <span class="primary-title" *ngIf="tabChange == 2">Phản hồi</span>
            </div>
          </ng-template>
          <!--question and ask-->
          <app-question-and-ask [isDarkMode]="isDarkMode" [tab]="tabChange"></app-question-and-ask>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div fxLayoutAlign="center center" class="icon-background">
              <mat-icon class="svg-icon-tab-group" svgIcon='reference-un-active' *ngIf="tabChange !== 3"></mat-icon>
              <mat-icon class="svg-icon-tab-group" svgIcon='reference-tab-active' *ngIf="tabChange === 3"></mat-icon>
              <span class="primary-title" *ngIf="tabChange == 3">Tài liệu</span>
            </div>
          </ng-template>
          <div class="reference-tab">
            <!-- <div class="reference-header">
              <div class="reference-title">
                <span class="title-common">Tài liệu tham khảo</span>
              </div>
            </div> -->
            <div *ngIf="referencesDisplay.length == 0" class="no-reference-data-display">
              <div class="mat-cell background-no-content">
                <div class="background-no-content-img">

                </div>
                <div class="background-no-content-info">
                  <p class="primary">Chưa có tài liệu</p>
                </div>
              </div>
            </div>
            <div *ngIf="referencesDisplay.length > 0" style="width:100%;height:100%">
              <div fxLayout="row" fxLayoutAlign="space-between center" class="reference-content"
                *ngFor="let item of referencesDisplay">
                <div fxFlex="80" fxLayoutAlign="start center" class="ml-20">
                  <div fxFlex="10" fxLayoutAlign="start center">
                    <mat-icon svgIcon="exel" class="content_icon__action"
                      *ngIf="item.type =='xlsx' || item.type == 'xls'">
                    </mat-icon>

                    <mat-icon svgIcon="pdf" class="content_icon__action" *ngIf="item.type =='pdf'">
                    </mat-icon>

                    <mat-icon svgIcon="word" class="content_icon__action"
                      *ngIf="item.type =='docx' || item.type == 'doc'">
                    </mat-icon>

                  </div>
                  <div fxFlex="90">{{item.name}}</div>
                </div>
                <p fxFlex="20" fxLayoutAlign="end center" *ngIf="item.isShowLink">
                  <a [href]="item.link" download target="_blank">
                    <button mat-icon-button>
                      <mat-icon class="content_icon__action download">
                        download
                      </mat-icon>
                    </button>
                  </a>
                </p>
                <p fxFlex="20" fxLayoutAlign="end center" *ngIf="!item.isShowLink">
                  <button mat-icon-button matTooltip="Tài liệu đang được xử lý">
                    <mat-icon class="content_icon__action download">
                      download
                    </mat-icon>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>

  <div *ngIf="showBlankContentLesson === false" class="blank-content-lesson">
    <img src="/assets/images/lesson/blank_lesson.svg" alt="" srcset="">
    <h3 class="text-content">Bài giảng không có nội dung</h3>
    <p class="sub">Bài giảng không nội dung hoặc đã xóa,
      vui lòng quay lại danh sách bài giảng và học các bài giảng khác</p>
    <button mat-raised-button color="primary" (click)="onBackLesson()">Quay lại</button>
  </div>
  <!-- <div fxLayout="row" class="control-bar-bottom" *ngIf="isReady">
      <div fxFlex="100" fxLayoutAlign="start center">
        <div fxFlex="75" fxLayoutAlign="center center" class="control-bar-left">
          <div fxFlex="100" fxLayoutAlign="center center">
            <div fxFlex="20" fxLayoutAlign="start center">
              <div class="exit-button" *ngIf='isShowExitButton'>
                <button mat-icon-button (click)="exitButtonHandleClick()">
                  <span class="material-icons m-r-10 cancel-icon">
                    cancel
                    </span>
                  <span class="exit-button-text">Thoát</span>
                </button>
              </div>
            </div>
            <ng-template *ngIf="currentContent.isComplete && isShowExitButton; then completed else notCompleted">
            </ng-template>
            <ng-template #completed>
              <div fxFlex="80" fxLayoutAlign="center center" class="control-bar-left-center-button">
                <mat-icon class="button-submit" svgIcon="content-finish"></mat-icon>
                <span fxLayoutAlign="center center" class="label-icon-button active-color">Đã hoàn thành </span>
                <div *ngIf="currentContent.conditionsForCompletion == conditionForCompletion.answerQuestion && testInfoStudent.statusOver!='NOT' && testInfoStudent.statusOver!=null"
                  fxLayoutAlign="start center" class="m-l-10" title="Xem lại bài làm gần đây">
                  <div class="view-result" (click)="viewResult()"></div>
                </div>
              </div>
            </ng-template>
            <ng-template #notCompleted>
              <div fxFlex="80" fxLayoutAlign="center center"
                *ngIf="currentContent.conditionsForCompletion == conditionForCompletion.interval">
                <mat-icon class="hourglass-icon" svgIcon="hourglass"></mat-icon>
                <div id="countdown">
                  <p>00: 00: 00</p>
                </div>
              </div>
              <div fxFlex="80" fxLayoutAlign="center center"
                *ngIf="currentContent.conditionsForCompletion == conditionForCompletion.clickButton && isShowExitButton"
                class="control-bar-left-center-button">
                <button mat-flat-button color="primary" class="m-r-20" style="min-width: 100px;"
                  (click)="onSubmitContent()">
                  <span class="m-r-10">Hoàn thành</span>
                  <mat-icon>unarchive</mat-icon>
                </button> 
              </div>
              <div fxFlex="80" fxLayoutAlign="center center"
                *ngIf="currentContent.conditionsForCompletion == conditionForCompletion.answerQuestion && !isLoadingTestInfo">
                <button *ngIf="testInfoStudent.userContentTestId == 0" mat-button class="answer-button"
                  (click)="startDoTest()">
                  TRẢ LỜI CÂU HỎI
                </button>
                <button
                  *ngIf="!isTimeoutCurrent(testInfoStudent) && testInfoStudent.statusOver =='NOT' && testInfoStudent.userContentTestId != 0 && testInfoStudent.userContentTestId != null"
                  mat-button class="answer-button" (click)="startDoTest()">
                  TIẾP TỤC TRẢ LỜI
                </button>
                <button
                  *ngIf="(testInfoStudent.statusOver == 'WAI' || testInfoStudent.statusOver == 'FAI')"
                  mat-button class="answer-button"  [disabled]="!canToRedo(testInfoStudent)" (click)="startDoTest()">
                  TRẢ LỜI LẠI
                </button>
                <div *ngIf="testInfoStudent.statusOver!='NOT' && testInfoStudent.statusOver!=null"
                  fxLayoutAlign="start center" class="m-l-10" title="Xem lại bài làm gần đây">
                  <div class="view-result" (click)="viewResult()"></div>
                </div>
              </div>
              <div fxFlex="80" fxLayoutAlign="center center"
                *ngIf="currentContent.typesOfContent == contentType.virtualClassRoom"></div>
              <div fxFlex="80" fxLayoutAlign="center center"
                *ngIf="currentContent.conditionsForCompletion == conditionForCompletion.minimumScore && isShowExitButton"
                class="control-bar-left-center-button">
              </div>
            </ng-template>
            <div fxFlex="20" fxLayoutAlign="end center" class="m-r-20">
              <div class="button-group" fxLayoutAlign="center center">
                <button mat-flat-button color="primary" class="m-r-20" style="min-width: 100px;"
                  [disabled]="listContents[0].contentId == currentContent.contentId" (click)="onClickBackContent()">
                  <mat-icon style="position: absolute; top: 7.5px; left: 10px;">keyboard_arrow_left</mat-icon> <span
                    class="m-l-10">Trở lại</span>
                </button>
                <button mat-flat-button color="primary" style="position: relative; min-width: 100px;"
                  [disabled]="!((currentContent.isComplete || learnContentsResponse.formOfLearn == formOfLearn.free) && currentContent != lastContent)"
                  (click)="onClickNextContent()">
                  <span class="next-content-label">Qua bài</span>
                  <mat-icon style="position: absolute; top: 7.5px; right: 10px;">keyboard_arrow_right</mat-icon>
                </button>
              </div>
  
            </div>
          </div>
        </div>
        <div fxFlex="25" class="progress-bar" fxLayoutAlign="start center">
          <div style="position: relative; min-width: 100%;">
            <mat-progress-bar class="example-margin" color="#56D02B" mode="determinate" [value]="totalPercent">
            </mat-progress-bar>
            <mat-icon class="flag-icon">flag</mat-icon>
            <span class="percent" [ngStyle]="{'left': stylePercent}">{{totalPercent}}%</span>
          </div>
        </div>
      </div>
    </div> -->
</div>
<!-- <app-spinner2></app-spinner2> -->