.timmer {
  background: rgba(255, 124, 64, 0.1);
  border-radius: 33px;
  padding: 7px 12px;

  &-value {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    margin: 0;

    color: #ff7c40;
  }

  &-icon {
    color: #ff7c40 !important;
    margin-right: 10px;
  }
}

.learn-container {
  min-height: 100%;
  //height: 100vh;
  position: relative;
  background-color: #f0f0f0;

  .mat-icon {
    color: #555555;
  }

  &.bg_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 100vh;

    // .details-content .outlet-container {
    //   min-height: unset;
    // }
  }

  &.dark {
    background-color: #272727;

    .heaeder-icons {
      border-bottom: 2px solid #555555 !important;
    }

    .primary {
      color: white !important;
    }

    .title-common {
      color: white;
    }

    .mat-icon {
      color: #ffffff;
    }

    .pure-content-header {
      background: #161616;
      color: white;

      .title {
        color: white;
      }
    }

    .outlet-container,
    .complete-content .content-banner {
      background-color: #161616 !important;

      .text {
        color: #ffffff !important;
      }
    }

    .contents {
      mat-expansion-panel-header {
        border-bottom: 2px solid #555555 !important;
      }
    }

    .contents .active {
      background-color: #3b3b3b !important;
      color: #ffffff;

      .heaeder-icons {
        border-bottom: 2px solid #555555;
      }

      .percent-value {
        color: #ffffff !important;
      }
    }

    .btn-fill {
      background-image: linear-gradient(45deg, #3b3b3b 50%, transparent 50%);

      &:hover {
        color: #ffffff;

        .percent-value {
          color: #ffffff !important;
        }
      }
    }
  }

  .dark-primary {

    .lesson-info,
    .content-menu,
    .mat-expansion-panel-content,
    .mat-expansion-panel-header {
      background: #161616 !important;
      // color: #ffffff !important;
      color: #555555 !important;
    }

    .lesson-name,
    .teacher-name,
    .content-group-name,
    .total-content-finished {
      color: #ffffff !important;
    }

    .mat-tab-body-wrapper {
      height: calc(100vh - 272px) !important;
    }

    .row-content {
      border-color: #555555 !important;
    }
  }

  .next-content-label {
    margin-right: 15px;
  }

  .details-content {
    height: 100%;
    padding: 20px 15px 0 25px;

    .outlet-container {
      min-height: 100%;
      position: relative;
      background-color: #ffffff;
      min-height: calc(100vh - 115px);
      // padding: 0 20px;

      .complete-content {
        position: absolute;
        left: 0;
        background: #ffffff;
        height: calc(100% - 88px);
        top: 0;
        width: calc(100% - 40px);
        margin-left: 20px;
        border: 2px solid #e9e9e9;
        border-radius: 6px;
        z-index: 100000;

        .content-banner {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 4px;

          img {
            @media (min-width: 1440px) {
              width: 30%;
            }
          }

          .congratulations {
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            margin: 35.5px 0 7px;
            color: #4caf50;
          }

          .text {
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #555555;
            margin: 0;
            margin-bottom: 16px;

            >span {
              color: #ff7c40;
              font-weight: 600;
            }
          }

          button {
            box-shadow: none;
            background-color: #4caf50;
          }
        }
      }
    }
  }

  .content-menu {
    margin: 15px 25px 0 15px !important;
  }

  .contents {
    //@at-root: calc(100vh - 250px);
    //margin: 0 20px 20px;

    .lesson-info {
      margin-top: 20px;
      margin-right: 25px;

      .avatar-teacher {
        width: 65px;
        height: 65px;
        object-fit: cover;
        border-radius: 50%;
      }

      .lesson-name {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;

        color: #303030;
      }

      .teacher-name {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #181818;
      }

      .progress-bar {
        height: 18px;
        border-radius: 112px;

        .mat-progress-bar {
          height: 18px !important;
          background: #dedede;
          border-radius: 112px;
          width: 90%;

          .mat-progress-bar-fill::after {
            background-color: #56d02b;
          }

          .mat-progress-bar-buffer {
            background-color: #dedede;
          }
        }

        .flag-icon {
          position: absolute;
          right: 20px;
          top: -10px;
          color: #4caf50;
        }

        .percent {
          position: absolute;
          top: 2px;
          font-style: normal;
          font-weight: bold;
          font-size: 10px;
          line-height: 8px;
          /* or 80% */
          text-align: center;
          color: #ffffff;
        }
      }

      .display-percent {
        position: absolute;
        font-weight: bold;
        font-size: 10px;
        line-height: 8px;
        /* or 80% */
        text-align: center;
        color: #555555;
      }
    }

    ::-webkit-scrollbar-track {
      background-color: unset;
    }

    ::-webkit-scrollbar {
      background-color: unset;
    }

    ::-webkit-scrollbar-thumb {
      background-color: unset;
    }

    // overflow-y: auto;
    // overflow-x: hidden;

    .heaeder-icons {
      min-height: 55px;
      color: #aeaeae;
      border-bottom: 2px solid #f1f1f2;

      mat-icon:first-child {
        margin-right: 30px;
      }

      mat-icon:last-child {
        margin-left: 30px;
      }
    }

    .header-lesson-name {
      padding: 20px 0px 20px 20px;
      border-bottom: 2px solid #f1f1f2;

      .lesson-name {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        color: #4caf50;
      }
    }

    .content-group-name {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #303030;
    }

    .active {
      background-color: #edf9ee !important;
      cursor: pointer;
      color: #555555;
    }

    .row-content {
      height: 60px;
      align-items: center;
      border-bottom: 2px solid #f1f1f2;
      position: relative;
      padding: 0 15px 0 15px;

      .row-content-title {
        // font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;

        .content-name-icon {
          position: absolute;
          top: 17px;
          right: 20px;
          color: #c2c2c2;
        }

        .content-name-left-top-icon {
          position: absolute;
          left: 30px;
          top: 15px;
          color: #c2c2c2;
        }

        .content-name-left-bottom-icon {
          position: absolute;
          top: 15px;
          left: 20px;
          color: #c2c2c2;
        }
      }

      .content-name-right-bottom-icon {
        position: absolute;
        top: 17px;
        right: 16px;
        color: #c2c2c2;
      }
    }

    .child-content {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    .mat-expansion-panel-body {
      padding: 0;
    }

    .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
      display: none;
    }

    .mat-tab-labels {
      height: 100%;

      .mat-tab-label {
        min-width: 0% !important;
        height: 100%;
        opacity: 1 !important;
      }
    }

    .mat-tab-label.mat-tab-label-active {
      .icon-background {
        padding: 9px 13px;
        background-color: #4caf50;
        border-radius: 4px;
      }
    }

    .mat-tab-list {
      height: 60px;
    }

    .mat-ink-bar {
      display: none;
    }

    mat-expansion-panel-header {
      border-bottom: 2px solid #f1f1f2;
      height: 60px;
      position: relative;

      mat-panel-title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height, or 137% */
        color: #303030;

        .total-content-finished {
          position: absolute;
          top: 33px;
          left: 25px;
          // font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #555555;
        }
      }

      .mat-content {
        margin-bottom: 15px;
      }
    }

    .mat-expansion-panel-spacing {
      margin: 0px;
    }

    .mat-accordion .mat-expansion-panel:last-of-type {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    .mat-expansion-panel:not([class*='mat-elevation-z']) {
      box-shadow: none;
    }

    .mat-tab-body-wrapper {
      height: calc(100vh - 272px);
    }
  }

  .control-bar-bottom {
    position: absolute;
    bottom: -53px;
    min-width: 100%;
    background: #ffffff;
    box-shadow: -3px 0px 18px rgba(0, 0, 0, 0.13);

    .control-bar-left {
      position: relative;
      height: 53px;

      .back-button {
        cursor: pointer;

        svg {
          width: 25px;
          height: 25px;
        }
      }

      .next-button {
        cursor: pointer;

        svg {
          width: 25px;
          height: 25px;
        }
      }

      .next-back-button {
        position: absolute;
        cursor: pointer;
        right: 20px;
        top: 15px;
        width: 65px;
      }

      .control-bar-left-center-button {
        width: 150px;

        .button-submit {
          margin-right: 10px;
          cursor: pointer;

          svg {
            width: 25px;
            height: 25px;
          }

          .button-label {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #555555;
          }
        }
      }
    }

    .example-section {
      display: flex;
      align-content: center;
      align-items: center;
      height: 60px;
    }
  }

  .blank-content-lesson {
    width: 100%;
    background: #ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .text-content {
      margin: 49px 0 7px;
      color: #303030;
      font-weight: 600;
      font-size: 20px;
    }

    .sub {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #555555;
      margin: 0 0 25px;
    }
  }
}

.view-result {
  cursor: pointer;
  height: 35px;
  width: 35px;
  background-size: cover;
  background-image: url('../../../../../assets/images/icon/view-result.svg');
}

.view-result:hover {
  background-image: url('../../../../../assets/images/icon/view-result-active.svg');
}

.btn-fill {
  background-image: -webkit-linear-gradient(45deg,
      #edf9ee 50%,
      transparent 50%);
  background-image: linear-gradient(45deg, #edf9ee 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  cursor: pointer;
}

.btn-fill:hover {
  background-position: 0;
  color: #555555;
}

.page-breadcrumb {
  display: none;
}

.exit-button {
  position: absolute;
  top: 9px;
  left: 20px;
  z-index: 999;
  cursor: pointer;

  .cancel-icon {
    color: red;
    transition-duration: 300ms;
  }

  .cancel-icon:hover {
    transform: scale(1.2);
  }
}

.svg-icon-tab-group {
  width: 18px !important;
  height: 18px !important;
}

/*-----------------------------------------------Reference tab ----------------------------------------------------------------*/

.content_icon__action {
  width: 16px;
}

.download {
  color: #aeaeae !important;
}

exit_icon__action {
  width: 16px;
}

// .exit-button-text {
//   margin-top: 4px;
//   margin-left: 4px;
// }

.reference-tab {
  height: calc(100vh - 200px);
  //padding: 0 20px;
}

// .reference-header {
//   border-bottom: 2px solid #f1f1f2;
//   font-weight: 500;
//   font-size: 20px;
//   line-height: 22px;
//   font-style: normal;
//   color: #303030;

//   .reference-title {
//     margin: 18px 0;
//   }
// }

.reference-content {
  border-bottom: 2px solid #f1f1f2;
}

.no-reference-data-display {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 644px);
}

.no-reference-data-iamge {
  background-image: url('../../../../../assets/images/lesson/no-reference.png');
  width: 190px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.no-reference-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 137% */

  text-align: center;

  color: #555555;
}

.answer-button {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #ffffff;
  text-align: center;
  padding: 9px 12px;
  background: #ff7c40;
  border-radius: 4px;
}

.answer-button:disabled {
  background: #dddddd;
  color: #ffffff !important;
  cursor: not-allowed;
}

.active-color {
  color: #4caf50 !important;
}

//@at-root
.show {
  margin: 0 auto;
}

.hide {
  .contents {
    display: none;
  }

  .details-content {
    max-width: 1440px;
    display: block;
    margin: 0 auto;
  }
}

.pure-content-header {
  background: white;
  padding: 0 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-left: 11px;
  }

  .exit {
    transform: rotate(180deg);
    color: #eb5757 !important;
  }
}

.icon-info {
  margin-right: 10px;
  cursor: pointer;
}

.button-common {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #ffffff !important;
  text-align: center;
  padding: 9px 12px;
  background: #ff7c40 !important;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
  box-shadow: none !important;
  width: 145px;

  &__down {
    background: #ff7c40 !important;
    border-radius: 0px 4px 4px 0px;
    width: 40px;
    border-left: 0.5px solid white;
    border-top: none;
    border-right: none;
    border-bottom: none;
    height: 36px;
    cursor: pointer;

    &-icon {
      color: white !important;
    }
  }

  &-start {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    color: #ffffff !important;
    text-align: center;
    padding: 9px 12px;
    background: #ff7c40 !important;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: none !important;
    width: 145px;
  }
}

.disabled-btn {
  opacity: 0.8 !important;
  pointer-events: none !important;
}

.button-action {
  background: #4caf50;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: none !important;

  &__down {
    background: #4caf50;
    border-radius: 0px 4px 4px 0px;
    width: 40px;
    border-left: 0.5px solid white;
    border-top: none;
    border-right: none;
    border-bottom: none;
    height: 36px;
    cursor: pointer;

    &-icon {
      color: white !important;
    }
  }
}

.menu {
  min-height: unset !important;
  min-width: 184px !important;

  &-item {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #888888;
    height: 26px !important;
    line-height: unset !important;
    justify-content: center !important;
  }

  &-item__action {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #888888;
    height: 26px !important;
    line-height: unset !important;
    justify-content: center !important;
  }
}

.percent-value {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;

  display: flex;
  align-items: center;
  text-align: center;
  color: #555555 !important;
  margin-top: -10px;
}

.done-icon {
  color: #43a047 !important;
}

.lock-icon {
  color: #ff7c40 !important;
}

#countdown {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  margin: 0;
  color: #ff7c40;

  p {
    margin: 0px !important;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    margin: 0;
    color: #ff7c40;
  }
}

.label-icon-button {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #555555;
  cursor: pointer;
}

.poiter {
  cursor: pointer;
}

.primary-title {
  margin-left: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: white;
}

.ml-20 {
  margin-left: 20px;
}

.primary {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */

  text-align: center;

  /* text-icon-2 */

  color: #555555;

  opacity: 0.98;
  margin: 25px 0 0;
}

.dark .mat-progress-bar-fill::after {
  background-color: #4caf50;
}

.dark .mat-progress-bar-buffer {
  background-color: #c8e6c9;
}

.disabled {
  pointer-events: none;
}

@media screen and (min-width: 1100px) and (max-width: 1440px) {
  .hide .details-content {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1440px) {
  .learn-container .contents .mat-tab-labels .mat-tab-label {
    padding: 0 15px;

    .primary-title {
      font-size: 12px !important;
    }
  }

  .learn-container .contents .mat-tab-labels {
    justify-content: center;
  }
}

@media screen and (max-width: 991px) {
  .learn-container {
    display: block !important;

    .contents {
      max-width: unset !important;
    }

    .ic-sort {
      display: none;
    }
  }
}

@media screen and (max-width: 525px) {

  .learn-container {
    display: block !important;

    .timmer {
      padding: 5px;
    }

    .blank-content-lesson {
      padding: 20px;

      img {
        width: 85%;
      }

      .text-content {
        font-size: 16px;
      }

      .sub {
        text-align: justify;
      }
    }

    #countdown,
    #countdown p {
      font-size: 16px;
    }

    .details-content {
      padding: 15px;

      // .ic-sort {
      //   display: none;
      // }

      .pure-content-header {
        padding: 0 10px;

        .title {
          font-size: 16px;
          max-width: 33vw;
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;
        }

        .control-bar-left-center-button {
          margin-right: 10px !important;

          button {
            padding: 0 5px;
            font-size: 13px;
            line-height: 30px;
          }
        }

        .button-common-start {
          margin-right: 10px !important;
          padding: 0 7px;
          font-size: 12px;
          line-height: 30px;
          width: unset;
        }

        .re-answer,
        .button-action {
          padding: 0 12px;
          font-size: 12px;
          line-height: 30px;
          width: unset;
        }

        .button-common__down,
        .button-action__down {
          height: 30px;
        }

        .icon-info {
          margin-right: 10px !important;
        }
      }

      .outlet-container {
        min-height: unset !important;
      }

      .container-mobile {
        min-height: calc(100vh - 200px) !important;

        .complete-content {
          width: calc(100% - 20px);
          margin-left: 10px;

          .content-banner {
            .congratulations {
              margin: 15px 0;
              font-size: 18px;
            }

            >img {
              width: 40%;
            }

            .text>span {
              display: block;
            }
          }
        }
      }

    }

    .contents {
      max-width: unset !important;

      .mat-tab-labels {
        justify-content: space-between;

        .mat-tab-label {
          padding: 0 20px;

          &.mat-tab-label-active .icon-background {
            padding: 7px;
          }
        }
      }

      .lesson-info {
        margin: 0 15px;

        .lesson-content {
          padding: 10px !important;

          .progress-bar-content {
            margin-top: 10px !important;
          }

          .lesson-name {
            font-size: 16px;
          }

          .avatar-teacher {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .content-menu {
      margin: 15px !important;
    }
  }

}
