.export-data {
    margin-bottom: -10px !important;
}

.icon-filter {
    width: 12px;
}

.title {
    font-weight: 600!important;
    font-size: 16px!important;
    text-transform: uppercase;
    color: #303030;
    margin-bottom: 20px;
}

.center {
    text-align: center !important;
}

.title-general-info {
    margin-bottom: 10px !important;
}
.title-col-show {
    margin-bottom: 10px !important;
    margin-top: 15px !important;
}