<div class="apply-css-alpha">
    <mat-card class="manage-card">
        <mat-card-header>
            <mat-card-title class="title">Báo cáo tùy biến</mat-card-title>
        </mat-card-header>
        <mat-card-content class="pt-0">
            <div class="title-general-info">Thông tin chung</div>
            <div class="manage-filter">
                <div class="manage-filter-item" *ngIf="isDisableDivison == false">
                    <mat-form-field appearance="outline" (click)="onDivisonSelectClicked()">
                        <mat-label>Phòng</mat-label>
                        <mat-select [formControl]="divisionCtrl" placeholder="Chọn phòng" #singleSelectDivision
                            disableOptionCentering (selectionChange)="onChangeDivisonSelected($event.value)">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                                    [formControl]="divisonFilterCtrl">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option>Chọn phòng</mat-option>
                            <mat-option *ngFor="let divison of filteredDivison | async" [value]="divison.id">
                                {{divison.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="manage-filter-item" *ngIf="isDisableSchool==false">
                    <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
                        <mat-label>Trường</mat-label>
                        <mat-select [formControl]="schoolCtrl" placeholder="Chọn trường" #singleSelectSchool
                            disableOptionCentering (selectionChange)="onChangeSchoolSelected($event.value)">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Tìm trường"
                                    noEntriesFoundLabel="Không tìm thấy" [formControl]="schoolFilterCtrl">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option>Chọn trường</mat-option>
                            <mat-option *ngFor="let school of filteredSchool | async" [value]="school.id">
                                {{school.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="manage-filter-item">
                    <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
                        <mat-label>Khối</mat-label>
                        <mat-select [formControl]="gradeCtrl" placeholder="Chọn khối" #singleSelectGrade
                            disableOptionCentering (selectionChange)="onChangeGradeSelected($event.value)">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                                    [formControl]="gradeFilterCtrl">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option>Chọn khối</mat-option>
                            <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                                {{grade.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="manage-filter-item">
                    <mat-form-field appearance="outline" (click)="onClassSelectClicked()">
                        <mat-label>Lớp</mat-label>
                        <mat-select [formControl]="classCtrl" placeholder="Chọn lớp" #singleSelectClass
                            disableOptionCentering (selectionChange)="onClassSchoolSelected($event.value)">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Tìm lớp" noEntriesFoundLabel="Không tìm thấy"
                                    [formControl]="classFilterCtrl">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option>Chọn lớp</mat-option>
                            <mat-option *ngFor="let class of filteredClass | async" [value]="class.id">
                                {{class.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="manage-filter-item">
                    <mat-form-field appearance="outline">
                        <mat-label>Niên khóa</mat-label>
                        <mat-select [formControl]="schoolYearCtrl" placeholder="Chọn niên khóa" disableOptionCentering>
                            <mat-option value="2017">
                                2017-2018
                            </mat-option>
                            <mat-option value="2018">
                                2018-2019
                            </mat-option>
                            <mat-option value="2019">
                                2019-2020
                            </mat-option>
                            <mat-option value="2020">
                                2020-2021
                            </mat-option>
                            <mat-option value="2021">
                                2021-2022
                            </mat-option>
                            <mat-option value="2022">
                                2022-2023
                            </mat-option>
                            <mat-option value="2023">
                                2023-2024
                            </mat-option>
                            <mat-option value="2024">
                                2024-2025
                            </mat-option>
                            <mat-option value="2026">
                                2025-2026
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="manage-filter-item">
                    <mat-form-field appearance="outline">
                        <mat-label>Từ khóa</mat-label>
                        <input matInput fxFlex type="text" [(ngModel)]="studentName" placeholder="Nhập tên học sinh"
                            autocomplete="off">
                        <!-- <mat-icon matSuffix>search</mat-icon> -->
                    </mat-form-field>
                </div>
            </div>
            <div class="title-col-show">Dạng báo cáo</div>
            <div class="manage-filter">
                <div class="manage-filter-item">
                    <mat-form-field appearance="outline">
                        <mat-select [(value)]="reportTypeValue" [formControl]="reportTypeCtrl"
                             placeholder="Dạng báo cáo"
                            disableOptionCentering>
                            <mat-option value="1">Dữ liệu</mat-option>
                            <mat-option value="2">Biểu mẫu</mat-option>
                            <mat-option value="3">Biểu đồ</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="title-col-show">Tiêu chí hiển thị</div>
            <div class="manage-filter">
                <div class="manage-filter-item">
                    <mat-checkbox [formControl]="cbUsername" class="example-margin">Mã định danh</mat-checkbox>
                </div>
                <div class="manage-filter-item">
                    <mat-checkbox [formControl]="cbFullName" class="example-margin">Tên học sinh</mat-checkbox>
                </div>

                <div class="manage-filter-item">
                    <mat-checkbox [formControl]="cbTotalCourseRequest" class="example-margin">Tổng bài giảng yêu cầu
                        học</mat-checkbox>
                </div>
                <div class="manage-filter-item">
                    <mat-checkbox [formControl]="cbTotalCourseRegisted" class="example-margin">Tổng số bài giảng đăng ký
                    </mat-checkbox>
                </div>
                <div class="manage-filter-item">
                    <mat-checkbox [formControl]="cbTotalCourseApproved" class="example-margin">Tổng số bài giảng được
                        duyệt</mat-checkbox>
                </div>
                <div class="manage-filter-item manage-filter-item-fill" fxFlex fxLayoutAlign="center center"
                    fxLayoutAlign.gt-sm="end center">
                    <button mat-raised-button color="primary" (click)="filterReport()">
                        <mat-icon matSuffix>filter_list</mat-icon>
                        Lọc báo cáo
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <!-- <div class="title">Kết quả</div> -->
            <div fxFlex fxLayoutAlign="end center" class="export-data">
                <a>
                    <button mat-raised-button color="primary" [matMenuTriggerFor]="afterMenu">
                        <mat-icon matSuffix>file_download</mat-icon>
                        Xuất báo cáo
                    </button>
                    <mat-menu #afterMenu="matMenu" xPosition="after">
                        <button mat-menu-item (click)="exportExcel()">Dữ liệu</button>
                        <button mat-menu-item (click)="exportExcel()">Biểu mẫu</button>
                        <button mat-menu-item (click)="exportExcel()">Biểu đồ</button>
                    </mat-menu>
                </a>
            </div>
        </mat-card-content>

        <div class="table-responsive" *ngIf="reportTypeValue == 1 || reportTypeValue == 2">
            <table mat-table [dataSource]="reportStudentPagination.items" matSort>
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef> STT
                    </th>
                    <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                </ng-container>

                <ng-container *ngIf="this.showFullName" matColumnDef="StudentName">
                    <th mat-header-cell *matHeaderCellDef> Tên học sinh</th>
                    <td mat-cell *matCellDef="let element" class="mat-main-column">{{element.studentName}}</td>
                </ng-container>

                <ng-container *ngIf="this.showUsername" matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef> Mã định danh
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>

                <ng-container *ngIf="this.showTotalCourseRequest" matColumnDef="TotalLessonAgg">
                    <th class=" center" mat-header-cell *matHeaderCellDef> Tổng số bài giảng yêu cầu học </th>
                    <td class="center" mat-cell *matCellDef="let element"> {{element.totalLessonAssign}}
                    </td>
                </ng-container>

                <ng-container *ngIf="this.showTotalCourseRegisted" matColumnDef="TotalLessonReg">
                    <th class="center" mat-header-cell *matHeaderCellDef>Tổng số bài giảng đăng ký
                    </th>
                    <td class="center" mat-cell *matCellDef="let element">
                        {{element.totalLessonRegister}}
                </ng-container>
                <ng-container *ngIf="this.showTotalCourseApproved" matColumnDef="TotalLessonApp">
                    <th class="center" mat-header-cell *matHeaderCellDef> Tổng số bài giảng được duyệt </th>
                    <td class="center" mat-cell *matCellDef="let element"> {{element.totalLessonApproval}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
                <tr class="mat-row" *matNoDataRow>
                    <td colspan="7" class="mat-cell background-no-content">
                        <div class="background-no-content-img"></div>
                        <div class="background-no-content-info">
                            <p>Không có dữ liệu thống kê</p>
                        </div>
                    </td>
                </tr>
            </table>
            <div fxLayout="row" fxLayoutAlign="end end" class="paggination">
                <mat-paginator [length]="reportStudentPagination.totalItems" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
              </div>
        </div>
        <div *ngIf="reportTypeValue == 3">
            <apx-chart [series]="series" [chart]="chart" [title]="title" [xaxis]="xaxis"></apx-chart>
        </div>
    </mat-card>
</div>