<div fxLayout={{flexLayout}} fxLayout.xs="column" fxLayout.sm="column">
  <div class="question-content ck-editor-cls" fxFlex='40%'>
    <p><b>Nội dung câu hỏi :</b></p>
    <ckeditor #ck [(ngModel)]="ckeditorContent" id='txtNoiDungCauHoi' [config]="ckeQuestionConfig">
    </ckeditor>
    <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden style="display:none!important" />
            <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
            <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
  </div>
  <div [ngClass]="flexLayout==='column'?'phuong-an-content-column':'phuong-an-content'" fxFlex='60%' fxLayout="column" [ngClass.sm]="'phuong-an-content-column'" [ngClass.xs]="'phuong-an-content-column'">
    <label><b>Phương án:</b></label>
    <mat-radio-group fxLayout="column" fxLayoutGap="10px"  [(ngModel)]="selected" (change)="ChangeAnswer($event)">
      <mat-radio-button value="true" checked>A. Đúng</mat-radio-button>
      <mat-radio-button value="false">B. Sai</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<div class="center-btn-footer" [hidden]="config==2 ||dataQuestion!=null">
  <button mat-raised-button class="btn-footer btn-success btn-fixed-width" (click)="getvalue()">Lưu</button>
  <button mat-raised-button class="btn-footer btn-success" (click)="SaveAndCreate()">Lưu và tạo mới</button>
  <a routerLink="/dashboard/questionbanks/">
    <button mat-raised-button class="btn-footer btn-cancel btn-fixed-width">Hủy</button>
    </a>
</div>
