.question-content{
    border: 1px solid #eeeeee;
    margin-top: 0.5rem;
    border-radius: 5px;
    padding: 1rem;
    height: fit-content;
}
.phuong-an-content{
    margin-top: -7.4rem;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 1rem;
    margin-left: 0.5rem;
}
.phuong-an-content-column{
    margin-top: 0.5rem;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 1rem;
}
.mat-radio-group{
    margin-top: 0.8rem;
}
