<div class="mat-dialog-title">THỐNG KÊ SỐ LƯỢNG CÂU HỎI</div>
<table mat-table [dataSource]="listStatisticQuestion" style="width:100%">
  <ng-container matColumnDef="stt">
    <th mat-header-cell *matHeaderCellDef> STT </th>
    <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Dạng câu hỏi </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> Mức độ </th>
    <td mat-cell *matCellDef="let element"> {{element.level}} </td>
  </ng-container>

  <ng-container matColumnDef="numberQuestion">
    <th mat-header-cell *matHeaderCellDef> Số lượng câu </th>
    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell background-no-content text-center" colspan="4">
      <div class="background-no-content-img"></div>
      Không có dữ liệu
    </td>
  </tr>
</table>


<div class="m-t-20 m-b-20">
  <label class="label-score">Tổng số câu hỏi: <span>{{totalQuestion}}</span> câu</label>
</div>
<mat-dialog-actions>
  <button mat-dialog-close fxFlex=10 mat-flat-button class="button-cancel">Đóng</button>
</mat-dialog-actions>
