.icon {
    font-size: 18px;
}
.center-element {
    text-align: center;
}
.action-column {
    width: 200px;
}
.action-column-cell {
    width: 200px;
    color: #7e8485;
}
.active-button{
    color: #43a047;
}