<mat-card>
  <mat-card-content>
    <app-header-create-exam [stepHeaderCtrl]="stepHeaderControl"></app-header-create-exam>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="10px">
      <button mat-raised-button (click)="openFile()" color="primary">
        <input type="file" #file style="display: none;" multiple accept=".doc,.docx"
         (change)="filesSelectedOnChange($event.target.files)">
        <mat-icon class="icon">add_circle</mat-icon>
        Thêm từ file
      </button>
      <button mat-raised-button color="primary" (click)="openQuestionBank()">
        <mat-icon class="icon">add_circle</mat-icon>
        Thêm từ ngân hàng câu hỏi
      </button>
      <button mat-raised-button color="primary" (click)="openMatrix()">
        <mat-icon class="icon">add_circle</mat-icon>
        Thêm từ ma trận
      </button>
    </div>
  </mat-card-content>
</mat-card>
<!--content-->
<mat-card>
  <mat-card-content>
    <mat-card-title>Danh sách bộ đề thi</mat-card-title>
    <table mat-table [dataSource]="testKit" class="example-table" matSort matSortActive="created" matSortDisableClear
      matSortDirection="desc">
      <!-- Number Column -->
      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef>STT</th>
        <td mat-cell *matCellDef="let row;let i=index">{{i+1}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Tên bộ đề</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="createType">
        <th mat-header-cell *matHeaderCellDef>Hình thức tạo đề</th>
        <td mat-cell *matCellDef="let row">
          {{row.getCreateType}}
        </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="used">
        <th mat-header-cell *matHeaderCellDef class="center-element">Số lần sử dụng</th>
        <td mat-cell *matCellDef="let row" class="center-element">{{row.used}}</td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="function">
        <th mat-header-cell *matHeaderCellDef class="center-element action-column">Chức năng</th>
        <td mat-cell *matCellDef="let row" class="action-column-cell">
          <!--Nut chọn-->
          <button *ngIf="!this.isPublished && row.id != this.testKitId" mat-icon-button (click)="chooseSubject(row.id)">
            <mat-icon>check_circle_outline</mat-icon>
          </button>
          <button *ngIf="row.id == this.testKitId" mat-icon-button>
            <mat-icon class="active-button">check_circle</mat-icon>
          </button>

          <button *ngIf="!this.isPublished" mat-icon-button (click)="viewTest(row.id)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button *ngIf="row.used == 0" mat-icon-button (click)="viewTest(row.id)">
            <mat-icon svgIcon="edit-black" class="icon-table"></mat-icon>
          </button>
          <button *ngIf="!this.isPublished && row.used == 0" mat-icon-button>
            <mat-icon svgIcon="trash" (click)="deleteTestKit(row.id)"></mat-icon>
          </button>

        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>