.login-container {
  background-image: url("../../../../assets/images/background/bg-login-1440.jpg");
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: unset;
  background-position: center;
}

.content-login {
  position: absolute;
  min-width: 30rem;
  min-height: 36rem;
  background-color: rgba(255, 255, 255, 0.62);
  top: 10%;
  right: 10%;
  border-radius: 3px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.22);
}

.login-box {
  margin: 0 49px;
}

.header {
  margin-top: 50px;
  max-width: 400px;

  &-text {
    color: #1258A6;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    word-wrap: break-word;
  }
}

.title {
  margin-top: 34px;

  &-primary {
    font-size: 26px;
    color: black;
    line-height: 34px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &-secondary {
    font-size: 16px;
    line-height: 22px;
    color: #303030;
    margin-top: 25px;
  }
}

.body {
  margin-top: 27px;
}

.label {
  font-size: 12px;
  line-height: 14px;
  color: #303030;
  padding: 0px;
}

.input-box {
  position: relative;
}

.input-text {
  border-radius: 3px;
  background-color: white;
  padding: 8px 12px;
  border: none;
  font-size: 14px;
  width: 100%;
}

.icon {
  position: absolute;
  top: 10px;
  right: 0px;
  font-size: 14px;
}

.register {
  margin: 31px 0 10px 0;
}

.register-account {
  font-size: 14px;
  color: #303030;
}

.forgot-text {
  font-size: 14px;
  color: #303030;
}

.button-login {
  box-shadow: none;
}

.white {
  color: white !important;
  background-color: #4CAF50 !important;
}

@media (max-width:525px) {

  .header {
    margin-top: 35px;
  }

  .login-container {
    background-image: none;
    // height: 100vh;
    background-color: white;
    overflow: hidden;
  }

  .content-login {
    min-width: 0;
    // top: 0;
    // right: 0;
    // height: 100%;
    position: unset;
    height: 100%;

    .title {
      margin-top: 25px;
    }

    .header-text {
      font-size: 16px;
      line-height: 30px;
    }

    .title-primary {
      font-size: 18px;
    }

    .title-secondary {
      margin-top: 20px;
    }
  }

  .login-box {
    margin: 0 20px;
  }

  .input-text {
    border-radius: 0px;
    background-color: white;
    padding: 8px 0px;
    border-bottom: 1px solid #D3D3D3;
    font-size: 14px;
    width: 100%;
    padding-left: 8px;
  }

  .input-text-active {
    border-radius: 0px;
    background-color: white;
    padding: 8px 0px;
    border-bottom: 1px solid #4CAF50;
    font-size: 14px;
    width: 100%;
  }
}

@media (max-width:325px) {
  .header {
    margin-top: 20px;
  }

  .body {
    margin-top: 15px;
  }

  .content-login {
    .header-text {
      font-size: 15px;
      line-height: 22px;
    }

    .title {
      margin-top: 20px;
    }

    .title-primary {
      line-height: 25px;
      font-size: 17px;
    }

    .title-secondary {
      margin-top: 10px;
    }
  }
}

@media (min-width:525px) and (max-width:768px) {
  .login-container {
    background-image: url("../../../../assets/images/background/bg-login-tablet.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: unset;
    background-position: center;
  }

  .content-login {
    position: absolute;
    min-width: 41rem;
    min-height: 35rem;
    background-color: rgba(255, 255, 255, 0.7);
    right: 56px;
    top: unset;
    bottom: 30px !important;
    border-radius: 3px;
  }
}

@media (min-width:769px) and (max-width:1280px) {
  .login-container {
    background-image: url("../../../../assets/images/background/bg-login-tablet.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: unset;
    background-position: center;
  }

  .content-login {
    position: absolute;
    min-width: 57rem;
    min-height: 46rem;
    background-color: rgba(255, 255, 255, 0.7);
    right: 56px;
    top: unset;
    bottom: 50px !important;
    border-radius: 3px;
  }

  .body {
    margin-top: 100px;
  }

  .header {
    margin-top: 50px;

    &-text {
      color: #1258A6;
      font-size: 28px;
      line-height: 35px;
      font-weight: bold;
      text-transform: uppercase;
      word-wrap: break-word;
    }
  }

  .title {
    margin-top: 34px;

    &-primary {
      font-size: 34px;
      color: black;
      line-height: 45px;
      font-weight: bold;
      text-transform: uppercase;
    }

    &-secondary {
      font-size: 16px;
      line-height: 22px;
      color: #303030;
      margin-top: 25px;
    }
  }

  .input-text {
    height: 38px;
  }

  .button-login {
    box-shadow: none;
    height: 38px;
  }

}

@media (min-width:1441px) and (max-width:1920px) {
  .login-container {
    background-image: url("../../../../assets/images/background/bg-login-1920.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: unset;
    background-position: center;
  }

  .content-login {
    position: absolute;
    min-width: 30rem;
    min-height: 36rem;
    background-color: rgba(255, 255, 255, 0.7);
    right: 10%;
    top: 10%;
    border-radius: 3px;
  }
}


.register-text {
  cursor: pointer;
}
