<div class="login-container">
  <div class="content-login">
    <div class="login-box" fxLayout="column">
      <div class="header">
        <a [routerLink]="['/']" fxLayout="row" fxLayoutGap='12px'>
          <img style="width:48px;height:48px" src="{{unitConfig?.desktopLogo}}" alt="logo">
          <div fxLayout="column" fxLayoutAlign="center center">
            <span class="header-text">{{unitConfig?.unitName}}</span>
          </div>
        </a>
      </div>
      <div class="title" fxLayout="column">
        <span class="title-primary">chào mừng đến với hệ</span>
        <span class="title-primary">thống đào tạo trực tuyến</span>
        <span class="title-secondary">Vui lòng đăng nhập để bắt đầu chương trình học</span>
      </div>
      <form [formGroup]="form" (ngSubmit)="onLoginClick()">
        <div class="body" fxLayout="column" fxLayoutGap=10px>
          <div fxLayout="column" fxLayoutGap=9px>
            <label class="label">Tên đăng nhập</label>
            <div class="input-box">
              <input class="input-text"
                [ngClass]="{'input-text-active':form.controls['uname'].value != null && form.controls['uname'].value != ''}"
                [formControl]="form.controls['uname']" maxlength="50">
              <mat-icon class="icon">account_circle</mat-icon>
            </div>
          </div>

          <small *ngIf="form.controls['uname'].hasError('required') &&
                        form.controls['uname'].touched" class="text-danger support-text">Không được để trống</small>
          <small *ngIf="form.controls['uname'].hasError('maxlength') &&
                        form.controls['uname'].touched" class="text-danger support-text">Độ dài tối đa 50 ký tự</small>
          <small *ngIf="
                        form.controls['uname'].hasError('pattern') &&
                        form.controls['uname'].touched
                      " class="text-danger support-text">Tên đăng nhập không hợp lệ</small>

          <div fxLayout="column" fxLayoutGap=9px>
            <label class="label">Mật khẩu</label>
            <div class="input-box">
              <input #pw class="input-text" type="password"
                [ngClass]="{'input-text-active':form.controls['password'].value != null && form.controls['password'].value != ''}"
                [formControl]="form.controls['password']">
              <mat-icon class="icon" (click)="onClickVisible(pw)">remove_red_eye</mat-icon>
            </div>
          </div>

          <small *ngIf="
          form.controls['password'].hasError('required') &&
          form.controls['password'].touched
        " class="text-danger support-text">Không được để trống</small>
          <small *ngIf="
          form.controls['password'].hasError('minlength') &&
          form.controls['password'].touched
        " class="text-danger support-text">Độ dài tối thiểu 6 ký tự</small>
          <small *ngIf="
          form.controls['password'].hasError('maxlength') &&
          form.controls['password'].touched
        " class="text-danger support-text">Độ dài tối đa 50 ký tự</small>
          <small *ngIf="
          form.controls['password'].hasError('pattern') &&
          form.controls['password'].touched
        " class="text-danger support-text">Mật khẩu không hợp lệ</small>


          <div class="register" fxLayout="row">
            <mat-checkbox class="register-account" fxFlex=50 fxLayoutAlign="start center"
              (change)="rememberPasswork($event)" [checked]="isChecked">Nhớ mật khẩu</mat-checkbox>
            <a [routerLink]="['/authentication/forgot']" class="link" fxFlex=50 fxLayoutAlign="end center">
              <span class="forgot-text">Quên mật khẩu?</span>
            </a>
          </div>

          <button mat-raised-button color="primary" class="button-login" type="submit" [disabled]="!form.valid"
            [ngClass]="{'white': !form.valid}">Đăng nhập</button>

          <span fxLayoutAlign="center center" class="register-text" (click)="register()"
            *ngIf="dataSetting && (dataSetting.typeRegistry == 'wait' || dataSetting.typeRegistry =='continue')">Bạn
            chưa có tài khoản? Vui lòng
            đăng kí</span>
        </div>
      </form>

    </div>
  </div>
</div>