.list-class {
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  padding: 5px 15px;

  .items {
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: calc(100%/2 - 10px);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;

    .left {
      position: relative;
      border-radius: 6px;
      width: 140px;
      height: 130px;
      background: url(../../../assets/images/lesson/online.png),
        linear-gradient(137.54deg, #96D779 6.79%, #0ED56E 122.79%) no-repeat right top;
      margin-right: 20px;
      background-position: center;

      &.not-start {
        background: url(../../../assets/images/lesson/online.png),
          linear-gradient(137.54deg, #89c883 6.79%, #80bf89 122.79%) no-repeat right top;
        background-position: center;

        .status {
          background: #96AD97;
        }
      }

      &.end-class {
        background: url(../../../assets/images/lesson/expired.png),
          linear-gradient(137.54deg, #ff9b93 6.79%, #ff745f 122.79%) no-repeat right top;
        background-position: center;

        .status {
          background: #DC3636;
        }
      }

      .status {
        height: 28px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #4CAF50;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        color: #FFFFFF;
        text-align: center;
        font-weight: 600;
        font-size: 10px;
        line-height: 28px;
      }
    }

    .right {
      flex: auto;

      .title {
        color: #303030;
        font-weight: 600;
        font-size: 16px;
        display: inline-block;
        max-width: 17vw;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
      }

      .icon-copy {
        vertical-align: middle;
        margin-left: 11px;
        cursor: pointer;
      }

      .type-class {
        margin-top: 7px;

        .type {
          padding: 3px 10px;
          margin-right: 7px;
          background: #34A853;
          border-radius: 4px;
          color: #FFFFFF;
          font-weight: 600;
          font-size: 12px;

          &.isZoom {
            background: #4F91FF;
          }
        }
      }

      .teacher {
        margin: 11px 0 3px;

        img {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          margin-right: 5px;
        }

        .first-name-avt {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background: #EEEEEE;
          color: #4CAF50;
          text-transform: uppercase;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          margin-right: 5px;
        }

        .text-title {
          font-weight: 600;
          font-size: 14px;
          color: #555555;
        }
      }

      .time {
        p {
          font-weight: normal;
          font-size: 14px;
          color: #555555;
          margin: 0;

          &:first-child {
            margin-bottom: 3px;
          }

          .hour {
            font-weight: 600;
            color: #585858;

            >span {
              color: #4CAF50;
              margin: 0 5px;
            }
          }

          .end>span {
            color: #EB5757;
          }
        }
      }
    }
  }
}

.content-not-found {
  padding: 35px 0 !important;
}

:host ::ng-deep .mat-form-field-flex>.mat-form-field-infix {
  display: flex;
  align-items: center;

  .close_button {
    position: relative;
    bottom: 8px;
    right: 2px;
    height: 15px;
    cursor: pointer;
  }
}

:host ::ng-deep .my-pagination {
  $color: gray;

  ul {
    display: flex;
    align-items: center;
    padding: 0;
  }

  li {
    border-radius: 50%;
    border: white;
    background: white;
    color: $color;
    margin: 10px;
    width: 35px;
    height: 35px;
    padding: 6px 3px 0 3px;
    text-align: center;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);

    &.current {
      padding: 8px 3px 0 3px !important;
      // color: white;
      color: #000000;
    }

    &>a span {
      margin-top: 3px;
      color: #CACACA;
    }

    &.pagination-next a::after,
    &.pagination-previous a::before,
    &.pagination-next.disabled::after,
    &.pagination-previous.disabled::before {
      margin-left: 0;
      margin-right: 0;
      color: $color;
    }

    a:hover,
    button:hover {
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 1400px) {
  .list-class .items .right .title {
    max-width: 14vw;
  }
}

@media screen and (max-width: 768px) {
  .list-class {
    display: block !important;

    .items {
      width: 100%;
    }
  }
}


@media screen and (max-width: 525px) {
  .list-class .items {
    .left {
      display: none;
    }

    .right .title {
      max-width: 140px;
    }
  }

  .filter {
    display: block !important;
  }

  .content-not-found img {
    width: 110px !important;
  }
}

@media screen and (max-width: 400px) {
  .list-class .items .right .time p {
    text-align: center;

    .hour {
      display: block
    }
  }

}

// #3390ff
