<div class="apply-css-alpha">
    <mat-card class="manage-card mb-0">
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="start center" class="filter">
                <div fxFlex fxLayoutAlign="start center" fxFlex fxFlex.gt-md="75" fxLayoutAlign.gt-xs="start center"
                    class="mat-title mb-0">
                    Danh sách lớp học tương tác
                </div>
                <div fxFlex fxLayoutAlign="center center" fxFlex fxFlex.gt-md="25" fxLayoutAlign.gt-xs="end center">
                    <button *ngIf="isShowFilter" class="button-hidden-filter" (click)="toggleFilter()"
                        mat-raised-button>
                        <span class="material-icons">visibility_off</span>
                        Ẩn bộ lọc
                    </button>
                    <button *ngIf="!isShowFilter" class="button-hidden-filter" (click)="toggleFilter()"
                        mat-raised-button>
                        <span style="width: 24px;" class="material-icons">visibility_on</span>
                        Hiện bộ lọc
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="manage-card mb-0" *ngIf="isShowFilter">
        <form [formGroup]="examFilter" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutAlign.gt-md="start center" class="mt-0"
                    fxLayoutGap="15px grid" fxLayoutGap.gt-md="30px grid">
                    <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper">
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="TypeClass" placeholder="Chọn loại phòng học" #singleSelectGrade
                                disableOptionCentering>
                                <mat-option value="">Chọn loại phòng học</mat-option>
                                <mat-option value="GMT"> Google meet </mat-option>
                                <mat-option value="ZOM"> Zoom </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper">
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="Status" placeholder="Chọn trạng thái"
                                [disabled]="isDisableSubjectId" #singleSelectSubject disableOptionCentering>
                                <mat-option value="">Chọn trạng thái</mat-option>
                                <mat-option value="NST">Chưa diễn ra</mat-option>
                                <mat-option value="STR">Đang diễn ra</mat-option>
                                <mat-option value="END">Đã kết thúc</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper">
                        <mat-form-field appearance="outline" class="date_input">
                            <mat-label>Từ ngày</mat-label>
                            <input formControlName="TimeStart" matInput [matDatepicker]="dpFromDate"
                                onfocus="this.blur()" placeholder="dd/MM/yyyy" class="date-picker-input"
                                autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="dpFromDate">
                            </mat-datepicker-toggle>
                            <mat-icon *ngIf="examFilter.value.CreateDate" (click)="clearDate('create')"
                                class="close_button" matDatepickerToggleIcon>clear</mat-icon>
                            <mat-datepicker #dpFromDate>
                            </mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper">
                        <mat-form-field appearance="outline" class="date_input">
                            <mat-label>Đến ngày</mat-label>
                            <input formControlName="TimeEnd" matInput [matDatepicker]="dpFromUpdate"
                                onfocus="this.blur()" placeholder="dd/MM/yyyy" class="date-picker-input"
                                autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="dpFromUpdate"></mat-datepicker-toggle>
                            <mat-icon *ngIf="examFilter.value.ModifiedDate" (click)="clearDate('modified')"
                                class="close_button" matDatepickerToggleIcon>clear</mat-icon>
                            <mat-datepicker #dpFromUpdate>
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper">
                        <mat-form-field appearance="outline">
                            <input matInput fxFlex type="text" formControlName="Keyword" name="search"
                                placeholder="Tìm kiếm" autocomplete="off">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-xs="end center"
                        class="filter-item-wrapper">
                        <button mat-raised-button color="primary" type="submit">
                            <mat-icon matSuffix>filter_list</mat-icon>
                            Lọc kết quả
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </form>
    </mat-card>

    <ng-template #elseTemplate>
        <div class="list-class" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div class="items" *ngFor="let class of classPagination?.items | paginate: 
                { itemsPerPage: examFilter.value.Size, currentPage: examFilter.value.Page, totalItems:  totalLength}">
                <div class="left"
                    [ngClass]="{'not-start': class.status === 'NST', 'end-class': class.status === 'END'}">
                    <span class="status">
                        {{class.status === 'NST' ? 'Chưa diễn ra' : (class.status === 'STR' ?
                        'Đang diễn ra' : 'Đã kết thúc')}}
                    </span>
                </div>
                <div class="right">
                    <div class="block" fxLayout="row" fxLayoutAlign="space-between start">
                        <div>
                            <span>
                                <span class="title" [title]="class.name">{{class.name}}</span>
                                <!-- <mat-icon title="Sao chép đường liên kết tới lớp học" class="icon-copy"
                                    (click)="onCopy(class.linkClass)">
                                    content_copy
                                </mat-icon> -->
                            </span>
                            <span class="type-class" fxLayout="row">
                                <span [ngClass]="{'isZoom': class.type === 'ZOM'}" class="type">{{class.type === 'GMT' ?
                                    'Google Meet': 'Zoom'}}</span>
                                <img src="{{class.type === 'GMT' ? '/assets/images/lesson/logo_meet.png': '/assets/images/lesson/logo_zoom.png'}}"
                                    alt="google_meet">
                            </span>
                        </div>
                        <button title="Tham gia học" mat-flat-button color="primary"
                            (click)="onJoinClass(class.id,class.linkClass)">Vào
                            học</button>
                    </div>
                    <div fxLayout="row" class="teacher" fxLayoutAlign="start center">
                        <ng-container *ngIf="class.avatarTeacher; else elseTemplate2">
                            <img src="{{class.avatarTeacher}}">
                        </ng-container>
                        <ng-template #elseTemplate2>
                            <div fxLayoutAlign="center center" class="first-name-avt">
                                {{class.nameTeacher[0]}}
                            </div>
                        </ng-template>
                        <span class="text-title"> GV: {{class.nameTeacher}} </span>
                    </div>
                    <div class="time">
                        <p>Thời gian bắt đầu:
                            <span class="hour">
                                <span>{{class.startTimeConvert | date :'HH:mm'}}</span>
                                {{class.startTime | date :'dd/MM/yyyy'}}
                            </span>
                        </p>
                        <p>Thời gian kết thúc:
                            <span class="hour end">
                                <span>{{class.endTimeConvert | date :'HH:mm'}}</span>
                                {{class.endTime | date :'dd/MM/yyyy'}}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="w-100" flexLayout="row" fxLayoutAlign="center center">
                <pagination-controls *ngIf="classPagination?.items!==0" fxLayoutAlign="center center"
                    class="my-pagination pb-3" previousLabel="" nextLabel="" (pageChange)="pageChange($event)">
                </pagination-controls>
            </div>
        </div>
    </ng-template>
    <ng-container *ngIf="classPagination?.items.length === 0; else elseTemplate">
        <mat-card fxLayout="column" fxLayoutAlign="center center" class="content-not-found">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
                <img src="../../../../../assets/images/lesson/lessonNotFound.png" alt="">
                <div>
                    <span>Không tìm thấy kết quả tìm kiếm</span>
                    <br>
                    <span>Đề xuất</span>
                    <ul>
                        <li>Xin bạn hãy chắc chắn rằng tất cả các từ đều đúng chính tả</li>
                        <li>Hãy thử lại với những từ khóa khác</li>
                        <li>Hãy thử những từ khóa chung hơn</li>
                    </ul>
                </div>
            </div>
        </mat-card>
    </ng-container>
</div>