<div fxLayout="row wrap" class="apply-css-alpha">
  <div fxFlex="100%">
    <mat-card class="manage-card">
      <mat-card-content>
        <mat-card-title>{{examName}}</mat-card-title>
      </mat-card-content>
    </mat-card>
    <mat-card class="manage-card">
      <mat-card-content>
        <div fxLayout="row wrap">
          <div fxFlex="100%">
            <form [formGroup]="filterExamForm" (ngSubmit)="onSubmit()">
              <div fxLayout="row wrap" fxLayoutGap="15px grid" fxLayoutGap.gt-md="35px grid">
                <div fxFlex fxFlex.gt-md="25" class="filter-item">
                  <mat-form-field appearance="outline">
                    <mat-label>Trạng thái</mat-label>
                    <mat-select formControlName="status">
                      <mat-option>
                        -- Chọn trạng thái --
                      </mat-option>
                      <mat-option value="JOI">
                        Đang kết nối
                      </mat-option>
                      <mat-option value="LOS">
                        Ngoại tuyến
                      </mat-option>
                      <mat-option value="NON">
                        Chưa tham gia
                      </mat-option>
                      <mat-option value="SUBVIO">
                        Cảnh báo vi phạm
                      </mat-option>
                      <mat-option value="SUB">
                        Đã hoàn thành
                      </mat-option>
                      <mat-option value="SUS">
                        Đình chỉ
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex fxFlex.gt-md="25" class="filter-item">
                  <mat-form-field appearance="outline">
                    <mat-label>Tìm kiếm</mat-label>
                    <input matInput fxFlex type="text" formControlName="keyword" name="search"
                      placeholder="Nhập tên thí sinh" autocomplete="off">
                    <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
                </div>
                <div fxFlex fxLayoutAlign="end start" class="filter-item ">
                  <button mat-raised-button color="primary" type="submit">
                    <mat-icon matSuffix>filter_list</mat-icon>
                    Lọc kết quả
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="100%">
    <mat-card class="manage-card mt-0">
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <span fxFlex="50" fxLayoutAlign="start center" class="list-student-header">DANH SÁCH THÍ SINH</span>
          <div fxFlex="50" fxLayoutAlign="end center" fxLayoutGap="18px" class="button-filter">
            <button mat-raised-button color="primary" type="submit" (click)="onExamregulationsHandleClick()">
              <span matSuffix class="material-icons-outlined">
                info
                </span>
              Quy chế thi
            </button>
            <button mat-raised-button color="primary" type="submit" (click)="onCollectAllTest()">
              <mat-icon matSuffix>alarm_on</mat-icon>
              Thu bài
            </button>
            <!-- <button mat-raised-button color="primary" type="submit"
                            (click)="onFinishTest()">
                            <mat-icon matSuffix>info</mat-icon>
                            Kết thúc
                        </button> -->
          </div>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start start" class="list-status-doexam"
          style="margin-top: 18px;">
          <span fxFlex.gt-sm="25" fxLayoutAlign="start center" class="connected" matTooltip="Học viên đã tham gia thi">
            <span class="student-status-cycle"></span>
            Đang kết nối ({{contestantsOnline.length}})
          </span>

          <span fxFlex.gt-sm="25" fxLayoutAlign="start center" class="disconnected"
            matTooltip="Học viên đang ngoại tuyến">
            <span class="student-status-cycle"></span>
            Ngoại tuyến ({{totalContestantInShift - contestantsOnline.length}})
          </span>

          <span fxFlex.gt-sm="25" fxLayoutAlign="start center" class="not-connected"
            matTooltip="Học viên chưa vào phòng thi lần nào">
            <span class="student-status-cycle"></span>
            Chưa tham gia
            ({{contestantsNotStarted.length}})
          </span>

          <span fxFlex.gt-sm="25" fxLayoutAlign="start center" class="warning"
            matTooltip="Học viên bị cảnh cáo vi phạm">
            <span class="student-status-cycle"></span>
            Cảnh báo vi phạm ({{warningTotals}})
          </span>

          <span fxFlex.gt-sm="25" fxLayoutAlign="start center" class="accomplished"
            matTooltip="Học viên đã hoàn thành bài thi">
            <span class="student-status-cycle"></span>
            Đã hoàn thành ({{contestantsCompleted.length}})
          </span>

          <span fxFlex.gt-sm="25" fxLayoutAlign="start center" class="suspended"
            matTooltip="Học viên đã bị đình chỉ thi">
            <span class="student-status-cycle"></span>
            Đình chỉ ({{suspendedTotals}})
          </span>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 18px;">
          <div
            *ngFor="let item of examStudentViewModels| paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalItemsPaging };"
            class=" student-status mbt-mr-10" fxFlex="50" fxFlex.gt-xs="25" fxFlex.gt-md="12.5"
            fxLayoutAlign="center center">
            <div class="card-student-exam"
              [ngClass]="{'not-connected':item.hasNotStarted,'disconnected': item.connectionStatus == 'disconnected', 'connected' : item.connectionStatus == 'connected', 'accomplished': item.isCompleted, 'suspended': item.isSuspended, 'violation-warning': item.isWarning }">
              <div class="card-student-exam">
                <div class="opacity-student"></div>
                <div class="icon-status">
                  <mat-icon svgIcon="disconnected-student" class="icon-status-student "></mat-icon>
                </div>
                <div class="panel-status-extend">
                  <button mat-icon-button class="icon-status-disconnect"
                    *ngIf="item.connectionStatus == 'disconnected' && !item.hasNotStarted"
                    matTooltip="Học viên này đã mất kết nối">
                    <mat-icon>wifi_off</mat-icon>
                  </button>
                </div>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="icon-more-vert">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <!-- <button mat-menu-item (click)="onInfomationHandleClick(item.userId)">
                    <mat-icon>info</mat-icon>
                    <span>Thông tin chi tiết</span>
                  </button> 
                  <button mat-menu-item>
                    <mat-icon>textsms</mat-icon>
                    <span>Trao đổi</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>swap_horiz</mat-icon>
                    <span>Cấp lại đề</span>
                  </button>-->
                  <button mat-menu-item [disabled]="item.isCompleted" (click)="openCollectTestOfContestantDialog(item)">
                    <mat-icon>swap_horiz</mat-icon>
                    <span>Thu bài</span>
                  </button>
                  <button mat-menu-item [disabled]="item.hasNotStarted"
                    (click)="onHandlingViolationsHandleClick(item.userId)">
                    <mat-icon>error</mat-icon>
                    <span>Xử lý vi phạm</span>
                  </button>
                </mat-menu>
                <div class="name-student">
                  <span #tooltip="matTooltip" matTooltip="{{item.fullName}}">{{item.fullName}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top:10px;" fxLayout="row" fxLayoutAlign="end center">
          <pagination-controls previousLabel="" nextLabel="" class="paging" (pageChange)="pageChange($event)">
          </pagination-controls>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
