$color-connected:#4CAF50;
$color-not-connected:#C0C0C0;
$color-disconnected:#C0C0C0;
$color-suspended:#DA251D;
$color-warning:#EBD407;
$color-accomplished:#4CAF50;

$doexam-statuses: not-connected,
connected,
disconnected,
accomplished,
warning,
suspended;
$doexam-statuses-colors:(not-connected:#C0C0C0, connected:#4CAF50, disconnected:#C0C0C0, suspended:#DA251D, warning:#EBD407, accomplished:#4CAF50);

.list-student-header {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 22px;
  color: #303030;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

@function colorPalette($RGBColor, $opacityLevel) {
  @return rgba($RGBColor, $opacityLevel);
}

.list-status-doexam {

  span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 9px;

    &>.student-status-cycle {
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      margin-right: 4px;
      border-radius: 50%;
      border: 1px solid;
    }
  }

  @each $status in $doexam-statuses {
    .#{$status} {
      $color: map-get($doexam-statuses-colors, $status);
      color: $color;

      &>.student-status-cycle {
        border-color: $color;
        background-color: rgba($color, 0.3);
      }
    }
  }

  .connected .student-status-cycle {
    background-color: transparent;
  }

  .disconnected .student-status-cycle {
    border-color: #B4403B;
    background-color: transparent;
  }
}

:host ::ng-deep .student-status {
  padding: 10px;
  background-color: white;


  .card-student-exam {
    font-weight: 600;
    border: 1px solid $color-not-connected;
    position: relative;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    height: 90px;

    .name-student {
      text-align: center;
      position: absolute;
      z-index: 999;
      bottom: 10px;
      left: 0;
      font-size: 12px;
      font-weight: 600;
      width: 100%;
      color: rgba(48, 48, 48, 1);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .icon-status-student.violation-warning {
      display: block;
    }

    .opacity-student {
      width: 100%;
      height: 100%;
    }

    &>.icon-status {
      text-align: center;
      position: absolute;
      padding: 4px;
      z-index: 999;
      top: 10px;
      left: calc(50% - 21px);
    }

    &>.icon-more-vert {
      position: absolute;
      z-index: 999;
      top: 0px;
      right: 2px;
      color: #7e8485;
      display: none;
    }

    .card-student-exam:hover {
      .icon-more-vert {
        display: inline-block;
      }

      .panel-status-extend {
        display: none;
      }
    }

    .panel-status-extend {
      position: absolute;
      z-index: 999;
      bottom: 10px;
      top: 0;
      font-size: 12px;
      font-weight: 600;
      width: 100%;
      text-align: right;
      padding-right: 0px;

      .icon-status-disconnect {
        color: #B4403B;
      }
    }
  }

  .disconnected {
    color: $color-disconnected;
    border-color: $color-disconnected;

    .icon-status-student {
      path {
        fill: $color-disconnected;
      }
    }
  }

  .not-connected {
    color: $color-not-connected;
    border-color: $color-not-connected;

    .icon-status-student {
      path {
        fill: $color-not-connected;
      }
    }
  }

  .connected {
    border-color: $color-connected;

    .icon-status-student {
      path {
        fill: $color-connected;
      }
    }
  }

  .violation-warning {
    border-color: $color-warning;

    .icon-status-student {
      path {
        fill: $color-warning;
      }
    }

    .name-student {
      color: $color-warning;
    }
  }

  .accomplished {
    border-color: $color-accomplished;

    .icon-status-student {
      path {
        fill: $color-accomplished;
      }
    }

    .name-student {
      color: $color-accomplished;
    }

    .opacity-student {
      background-color: $color-accomplished;
      opacity: 0.2;
    }
  }

  .suspended {
    border-color: $color-suspended;

    .icon-status-student {
      path {
        fill: $color-suspended;
      }
    }

    .name-student {
      color: $color-suspended;
    }

    .opacity-student {
      background-color: $color-suspended;
      opacity: 0.2;
    }
  }


}

.mbt-mr-10 {
  // margin-right: 10px;
  margin-bottom: 10px;
}

.icon-status-student {
  width: 34px !important;
  height: 34px !important;
}

:host ::ng-deep .ngx-pagination .current {
  border-radius: 50%;
  background: #4caf50 !important;
  width: 29px;
  text-align: center;
}

:host ::ng-deep .my-pagination {
  $color: gray;

  li {
    border-radius: 50%;
    border: white;
    background: white;
    color: $color;
    margin: 10px;
    width: 35px;
    height: 35px;
    padding: 5px 3px 0 3px;
    text-align: center;

    &.current {
      background: primary;
    }

    &>a span {
      margin-top: 3px;
      color: lightgray;
    }

    &.pagination-next a::after,
    &.pagination-previous a::before,
    &.pagination-next.disabled::after,
    &.pagination-previous.disabled::before {
      margin-left: 0;
      margin-right: 0;
      color: $color;
    }

    a:hover,
    button:hover {
      border-radius: 50%;
    }
  }
}

.filter-item {


  &:last-child {}

  &>label {}
}
