.export-data {
  margin-bottom: -20px !important;
}

.title {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #303030;
  margin-bottom: 20px;
}

.icon-filter {
  width: 12px;
}


.center {
  text-align: center !important;
}
