<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <span class="title">Thống kê giáo viên</span>

      <div fxLayout="row wrap" fxLayoutGap="15px grid" fxLayoutGap.gt-md="20px grid" fxLayoutAlign="start center"
        class="filter-wrapper">
        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control"
          *ngIf="isDisableDivison==false">

          <mat-form-field appearance="outline" (click)="onDivisonSelectClicked()">
            <mat-label>Phòng</mat-label>
            <mat-select [formControl]="divisionCtrl" placeholder="Chọn phòng" #singleSelectDivision
              disableOptionCentering (selectionChange)="onChangeDivisonSelected($event.value)">
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="divisonFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option>Chọn phòng</mat-option>
              <mat-option *ngFor="let divison of filteredDivison | async" [value]="divison.id">
                {{divison.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control"
          *ngIf="isDisableSchool==false">
          <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
            <mat-label>Trường</mat-label>
            <mat-select [formControl]="schoolCtrl" placeholder="Chọn trường" #singleSelectSchool disableOptionCentering
              (selectionChange)="onChangeSchoolSelected($event.value)">
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="schoolFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option>Chọn trường</mat-option>
              <mat-option *ngFor="let school of filteredSchool | async" [value]="school.id">
                {{school.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">
          <mat-form-field appearance="outline">
            <mat-label>Tìm kiếm</mat-label>
            <input matInput fxFlex type="text" [(ngModel)]="teacherName" placeholder="Nhập mã hoặc tên giáo viên"
              autocomplete="off">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div fxFlex fxLayoutAlign="end center" class="filter-control">
          <button mat-raised-button color="primary" (click)="filterReport()">
            <mat-icon matSuffix>filter_list</mat-icon>
            Lọc kết quả
          </button>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div fxFlex fxLayoutAlign="end center" class="export-data">
        <button mat-raised-button color="primary" (click)="exportExcel()">
          <mat-icon matSuffix>file_download</mat-icon>
          Xuất dữ liệu
        </button>
      </div>
    </mat-card-content>

    <div class="table-responsive">
      <table mat-table [dataSource]="dataTeacher" matSort>
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef> STT
          </th>
          <td mat-cell *matCellDef="let element;index as i"> {{i+1}} </td>
        </ng-container>

        
        <!-- Name Column -->
        <ng-container matColumnDef="TeacherName">
          <th mat-header-cell *matHeaderCellDef> Tên giáo viên</th>
          <td mat-cell *matCellDef="let element" class="mat-main-column">{{element.teacherName}}</td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef> Mã định danh
          </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="School">
          <th mat-header-cell *matHeaderCellDef> Trường </th>
          <td mat-cell *matCellDef="let element"> {{element.schoolName}}
          </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="TotalPendding">
          <th class="center" mat-header-cell *matHeaderCellDef> Số lượng bài
            giảng chưa phát hành
          </th>
          <td class="center" mat-cell *matCellDef="let element">
            {{element.totalLessonPedding}}
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="TotalPublic">
          <th class="center" mat-header-cell *matHeaderCellDef> Số lượng bài giảng đã phát hành </th>
          <td class="center" mat-cell *matCellDef="let element"> {{element.totalLessonPublic}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell background-no-content text-center" colspan="6">
            <div class="background-no-content-img"></div>
            Không có dữ liệu
          </td>
        </tr>
      </table>
      <div fxLayout="row" fxLayoutAlign="end end" class="paggination">
        <mat-paginator [length]="totalItem" (page)="handlePageEvent($event)" [pageSizeOptions]="[10, 5, 25, 100]">
        </mat-paginator>
      </div>
    </div>
  </mat-card>
</div>
