<div class="question_basic" *ngIf="isReady" [ngClass]="{'question_group': isTypeNull}">
  <div [ngClass]="{'question': isResult == false || isResult == undefined}">
    <div class="content_group">
      <app-status-question *ngIf="!isTypeNull" [data]="dataQuestion"></app-status-question>
      <p *ngIf="dataQuestion.format === 'GRO' && dataQuestion.content.indexOf(defaultMath)!=-1; else quest"
        class="title" [MathJax]="dataQuestion.content"></p>
      <ng-template #quest>
        <p *ngIf="dataQuestion.format === 'GRO'" class="title" [innerHTML]="dataQuestion.content | safeHtml"></p>
      </ng-template>
      <div class="answer">
        <div fxLayout="row" class="item" *ngFor="let answer of dataQuestion.answers;let i=index">
          <div fxFlex="70" fxFlex.lt-sm="60" *ngIf="answer.content.indexOf(defaultMath)!=-1; else elseBlock"
            class="answer-label">
            <span fxFlex="70" fxFlex.lt-sm="100" fxLayoutAlign="start center" [MathJax]="answer.content"></span>
          </div>
          <ng-template #elseBlock>
            <div class="answer-label" fxFlex="70" fxFlex.lt-sm="60">
              <span class="alphabet">{{alphabet[i]}}.</span>
              <span fxFlex="70" fxFlex.lt-sm="100" fxLayoutAlign="start center"
                [innerHTML]="answer.content | safeHtml"></span>
            </div>
          </ng-template>

          <mat-radio-group class="example-radio-group" fxLayout="row" fxFlex="30" fxFlex.lt-sm="40" fxLayoutGap="1rem">
            <mat-radio-button color="primary" fxFlex="50" class="example-radio-button" [value]="1"
              [checked]="answer.trueAnswer === 1">Đúng</mat-radio-button>
            <mat-radio-button color="primary" fxFlex="50" class="example-radio-button" [value]="0"
              [checked]="answer.trueAnswer !== 1">Sai</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <span class="type_question" *ngIf="isTypeNull">Mệnh đề đúng sai</span>
  </div>