.question_basic {
  position: relative;
  pointer-events: none;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-weight: normal;
}

.example-radio-button {
  margin: 0 5px;
}

.title {
  font-size: 14px;
  color: #555555;
  margin-bottom: 6px;
  margin-top: 10px;
  width: 100%;
  word-break: break-all;

  ::ng-deep > p {
    margin: 0;
  }
}

.answer {
  padding: 10px 0 0;

  .item{
    align-items: center
  }
  .answer-label {
    font-size: 14px;
    color: #555555;
    font-weight: normal;
    display: flex;
    align-items: center;
    padding: 5px 0;
  
    .alphabet {
      font-weight: normal;
      font-size: 14px;
      margin-right: 5px;
    }
  
    ::ng-deep span>div>p {
      &:first-child {
        margin: 0 !important;
        font-weight: normal;
        font-size: 14px;
      }
    }

    ::ng-deep span >p {
      &:first-child {
        margin: 0 !important;
      }
    }
  }
}

.question_group {
  border: 0.5px solid #B0B0B0;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-top: 15px;

  .content_group{
    padding: 20px;
  }

  .title{
    margin: 0;
    ::ng-deep > p {
      margin: 0;
    }
  }

  .type_question {
    padding: 10px 0;
    text-align: center;
    color: #4CAF50;
    font-size: 14px;
    font-weight: normal;
    border-top: 0.5px solid #B0B0B0;
    display: block;
  }
}