.content-edit {
  max-height: 90vh;
}

.cancel-button {
  background-color: #eeeeee;
}

.save-button {
  background-color: rgb(92, 184, 92);
}

.hidden {
  display: hidden !important;
}

:host ::ng-deep .phuong-an-content {
  max-height: 65vh;
  overflow-y: scroll;
}

:host ::ng-deep .group-question {
  max-height: 65vh;
  overflow-y: scroll;
}

:host ::ng-deep .ck-phuongan .cke_top {
  display: none;
}

:host ::ng-deep textarea {
  resize: vertical;
}

:host ::ng-deep .fade-shuffle {
  opacity: 0.3;
}

:host ::ng-deep .m-10 {
  margin: 10px;
}

:host ::ng-deep .cke_button__btntaodapan_label {
  display: inline-block;
  color: white;
  padding: 4px 6px !important;
}

:host ::ng-deep .cke_button__btntaodapan {
  background-color: #016cbb !important;
  width: 100px !important;
  right: 25px;
  position: absolute;
  top: 25px;
  height: 24px !important;
  border: none !important;
  border-radius: 0 !important;
}

:host ::ng-deep a.cke_button_on {
  background: #fff;
  border: 1px #bcbcbc solid !important;
  padding: 3px 5px !important;
}

:host ::ng-deep a.cke_button_off:hover {
  border: 1px #bcbcbc solid !important;
  padding: 3px 5px !important;
}


:host ::ng-deep .cke_button__btntaodapan_icon {
  display: none;
}

:host ::ng-deep .center-btn-footer {
  text-align: center;
  margin-top: 20px;
}

:host ::ng-deep .btn-footer {
  margin: 0px 10px;
}

:host ::ng-deep .btn-success {
  background-color: #a8ce54;
  color: #fff;
}

:host ::ng-deep .btn-cancel {
  background-color: #e5e5e5;
}

:host ::ng-deep .btn-fixed-width {
  width: 100px;
}

:host ::ng-deep .ck-phuongan .cke_top {
  display: none;
}
