<div class="content-edit">
    <app-header-create-question [dataQuestion]="data" [hidden]="data.questionFormat=='group'"></app-header-create-question>

    <app-type-question [dataType]="data.type" *ngIf="data.questionFormat!='group'"></app-type-question>

    <app-create-single-choice-question *ngIf="data.type=='singlechoice'" [dataQuestion]="data"></app-create-single-choice-question>

    <app-create-multiple-choice-question *ngIf=" data.type=='multichoice'" [dataQuestion]="data"></app-create-multiple-choice-question>

    <app-create-under-line-question  *ngIf=" data.type=='underline'"  [dataQuestion]="data"></app-create-under-line-question>

    <app-create-true-false-question  *ngIf="data.type=='truefalse'" [dataQuestion]="data"></app-create-true-false-question>

    <app-create-true-false-clause-question *ngIf="data.type=='truefalseclause'" [dataQuestion]="data"></app-create-true-false-clause-question>

    <app-create-missing-word1-question  *ngIf="data.type=='fillblank'" [dataQuestion]="data"></app-create-missing-word1-question>

    <app-create-missing-word2-question  *ngIf="data.type=='fillblank2'"  [dataQuestion]="data"></app-create-missing-word2-question>

    <app-create-matching-question  *ngIf="data.type=='matching'" [dataQuestion]="data"></app-create-matching-question>

    <app-create-essay-question  *ngIf="data.type=='essay'"  [dataQuestion]="data"></app-create-essay-question>

    <app-create-group-question  *ngIf="data.questionFormat=='group'" [dataQuestions]="data"></app-create-group-question>
    
</div>
<mat-dialog-actions align="center">
    <button mat-flat-button mat-dialog-close class="cancel-button">Hủy</button>
    <button mat-flat-button [mat-dialog-close]="true" class="save-button" (click)="Save()">Lưu</button>
  </mat-dialog-actions>

