<span class="title" fxLayoutAlign="center center">Bạn có chắc chắn muốn xóa?</span>
<mat-dialog-actions align="center" class="dialog-action m-t-10">
  <button mat-flat-button mat-dialog-close color="warn" [mat-dialog-close]="true">Xóa</button>
  <button mat-flat-button type="submit" class="button-cancel" mat-dialog-close>Hủy</button>
</mat-dialog-actions>
