<div *ngIf="isReady">
  <mat-card class="manage-card">
    <learn-step-header-lesson [stepHeaderCtrl]="stepHeaderControl"></learn-step-header-lesson>
  </mat-card>
  <learn-add-video-content-body [lessonId]="lessonId" [lessonName]="lessonName"></learn-add-video-content-body>
</div>
