.body {
  background-color: #f7f7f7;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.carousel-function {
  width: 100%;
  height: 407px;
  //background-color: #f4f4f4;
  background-image: url('../../../../../../assets/images/background/banner-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.title-box {
  margin: 45px 0 43px 0;
  //margin-bottom: -75px;
}

.title-header {
  text-transform: capitalize;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  /* identical to box height, or 167% */
  text-align: center;
  color: #555555;
}

.text-intro {
  width: 100%;
  word-wrap: break-word;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 130% */
  color: #555555;
  text-align: center;
}

.search-box {
  margin-bottom: 90px;
}

.search-button {
  width: 142px;
  height: 45px;
  background: #4CAF50;
  border-radius: 0px 6px 6px 0px;
  color: white;
  border: none;
  cursor: pointer;
}

.input-search {
  background: #FFFFFF;
  padding: 10px 10px 10px 15px;
  border: none;

  width: 299px;
  height: 45px;
  border-radius: 6px;
}

.suggest {
  margin-top: 30px;
}

.text-color {
  padding: 0px;
  font-size: 14px;
  color: #4caf50;
  font-weight: 600;
}

.advandce-search {
  background-color: #ffffff !important;
  border-radius: 6px;
  height: 44px;
}

.lessons {
  margin-top: 15px;
}

.content-not-found {
  min-height: 70vh;
}

.message {
  font-size: 16px;
  color: #a1a1a1;
  //font-weight: 600;
}

.list {
  background-color: #4caf50;
  color: #ffffff;
}

.list-grades {
  background-color: #4caf50;
  height: 48px;
}

.list-chapter-search {
  margin: 35px 0px -10px 0px;
}

.lesson {
  margin-bottom: 20px;
}

.lesson-image {
  margin-top: 0px;
  height: 155px;
}

.lesson-name {
  margin: 12px 0;
  padding: 0 12px;
  font-size: 16px;
  line-height: 22px;
  color: #303030;
  text-align: start;
  font-weight: bold;
  min-height: 45px;
  // cho hiển thị 2 dòng 
  width: 100%; // chiều rộng bằng khối bao nó
  overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
  text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
  -webkit-line-clamp: 2; // số dòng muốn hiển thị
  -webkit-box-orient: vertical;
  display: -webkit-box;

  ::ng-deep .mat-card-header-text {
    margin: 0;
  }
}

.footer-lesson {
  padding: 12px 12px 14px 12px;
}

.teacher-avartar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.teacher-name {
  color: #555555;
  font-size: 12px;
}

.row-grade {
  height: 48px;
  color: #ffffff;
  font-weight: bold;
}

.row-grade:hover {
  background-color: #438145;
  border-radius: 0;
}


// .search-button {
//   margin: 12px 0px 22px 0px;
// }

:host::ng-deep .mat-form-field-flex {
  height: 44px;
  background-color: #ffffff;
  padding-left: 10px;
  border-radius: 6px;
}

:host::ng-deep .mat-form-field-infix {
  margin-top: -12px;
}

/* Border */
:host::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

:host::ng-deep .md-select {
  background-color: white;
  color: black;
  border: 1px solid #666666;
}

:host::ng-deep .mat-select-panel {
  background: #ffffff;
}

.menu-lesson {
  border-radius: 6px !important;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important;
}

.a-unit:link {
  color: #000000;
}

.a-unit:hover {
  color: #4caf50 !important;
}

.a-unit:visited {
  color: #000000;
}

.menu-list-lesson-row {
  margin-left: -15px;
}

.example-header-imagess {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

button.a-button-detail {
  font-size: 10px;
  line-height: 19px;
  border-radius: 30px;
  min-width: 49px;
  padding: 0px;
  box-shadow: none;
}

:host::ng-deep .mat-menu-content {
  padding-left: 12px;
  padding-right: 12px;
  width: auto !important;
}

mat-form-field {
  &.border-standard {
    ::ng-deep .mat-form-field-flex {
      height: 44px;
    }

    ::ng-deep .mat-select-arrow {
      margin-top: 10px !important;
    }

    // to change border color
    ::ng-deep .mat-form-field-outline {
      color: rgba(136, 136, 136, 1)
    }

    // to change label color
    ::ng-deep .mat-form-field-label {
      color: #888888 !important;
    }

    ::ng-deep .mat-form-field-underline {
      display: none;
    }

    ::ng-deep .mat-form-field-infix {
      padding: 0px !important;
    }
  }
}


:host::ng-deep .menu-search {
  background-color: white !important;

  ::ng-deep .mat-menu-panel {
    background-color: white !important;
  }
}


.find-advanced {
  padding: 0 10px;
}

.name {
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */


  color: #888888;

}

@media (min-width: 1336px) {
  .list-lesson {
    max-width: 77% !important;
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 0px 20px;
  }
}

@media (min-width: 768px) and (max-width: 1335px) {
  .list-lesson {
    max-width: 74% !important;
  }

  .menu-lesson {
    width: 100% !important;
  }
}

@media (min-width: 1023px) {
  .list-grades-search-mobile {
    display: none !important;
  }

  .list-chapter-search-mobile {
    display: none !important;
  }

  .advenced-search-mobile {
    display: none !important;
  }

  .advenced-search-detail-mobile {
    display: none !important;
  }
}

@media (min-width: 541px) and (max-width: 1022px) {
  .list-grades-search-mobile {
    display: none !important;
  }

  .list-chapter-search-mobile {
    display: none !important;
  }

  .advenced-search-mobile {
    display: none !important;
  }
}

@media (max-width: 540px) {

  .carousel-function {
    background-image: url('../../../../../../assets/images/background/background-header-mobile.jpg');
    height: 313px;
  }

  .title-header {
    text-transform: capitalize;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 60px;
    /* identical to box height, or 167% */
    text-align: center;
    color: #555555;
  }

  .text-intro {
    width: 100%;
    word-wrap: break-word;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 130% */
    color: #555555;
    text-align: center;
  }


  .search-button {
    width: 54px;
    height: 45px;
    background: #4CAF50;
    border-radius: 0px 6px 6px 0px;
    color: white;
    border: none;
    cursor: pointer;
  }

  .input-search {
    background: #FFFFFF;
    padding: 10px 10px 10px 15px;
    border: none;

    width: 315px;
    height: 45px;
    border-radius: 6px;
  }
//

  .content-not-found {
    min-height: 60vh;
  }

  .message {
    font-size: 14px;
    color: #a1a1a1;
    line-height: 22px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .image-not-found {
    width: 85%;
  }

  .advenced-search-detail-mobile {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .container {
    margin: 0px 15px;
  }

  .advenced-search-mobile {
    margin-bottom: 20px;
  }

  .horizontal-header-info-fullname {
    display: none;
  }

  .list-grades-row {
    display: none !important;
  }

  .list-chapter-search-mobile {
    margin: 30px 0px 20px 0px;
  }

  :host::ng-deep .mat-form-field-flex {
    height: 30px !important;
    background-color: #ffffff !important;
    border-radius: 6px !important;
  }

  :host::ng-deep .mat-form-field-infix {
    margin-top: -25px !important;
  }


  :host::ng-deep .mat-form-field-underline {
    display: none;
  }

  :host::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
  }

  :host::ng-deep .mat-select-arrow {
    margin-top: 13px !important;
  }

  .list-chapter-search {
    display: none !important;
  }

  mat-form-field {
    &.border-standard {
      ::ng-deep .mat-select-arrow {
        margin-top: -5px !important;
        margin-right: 15px !important;
      }

      ::ng-deep .mat-form-field-infix {
        margin-top: -7px !important;
        margin-left: -15px !important;
      }


      ::ng-deep .mat-form-field-flex {
        height: 48px !important;
      }

      ::ng-deep .mat-select-value {
        height: 36px !important;
        vertical-align: middle !important;
        font-size: 14px !important;
      }

      ::ng-deep .mat-select-arrow-wrapper {
        padding-top: 8px !important;
      }

      // to change label color
      ::ng-deep .mat-form-field-label {
        color: #ffffff !important;
      }
    }
  }

  ::ng-deep .mat-form-field-flex {
    height: 44px;
  }

  :host::ng-deep .mat-card .mat-card-content {
    padding: 12px !important;
  }

  .menu-lesson {
    max-width: 100% !important;
    margin-right: 0px !important;
    margin-bottom: 30px !important;
  }

  .list-lesson {
    max-width: 100% !important;
  }

  .mat-card-lesson {
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 40px !important;
  }

  // :host::ng-deep .mat-form-field.border-standard.mat-primary.mat-form-field-type-mat-select.mat-form-field-appearance-outline.mat-form-field-can-float.ng-untouched.ng-pristine.ng-valid.mat-form-field-wrapper.mat-form-field-flex {
  //   height: 100px !important;
  // }
}

.mat-card-lesson {
  cursor: pointer !important;
  border-radius: 6px !important;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important;
  height: fit-content;
}

.mat-card-lesson:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12) !important;
}

:host::ng-deep .mat-select-value {
  height: 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 137% */

  text-transform: uppercase;

  color: #555555;
}

.unitActived {
  color: #4caf50 !important;
}

.gradeActived {
  background-color: #438145;
  border-radius: 0;
}

.numberPageActived {
  background-color: #4caf50 !important;
  color: #ffffff !important;
}

.breadcrumb {
  background-color: #ffffff;
}

// paging
::ng-deep .ngx-pagination .current {
  border-radius: 50%;
  background: #4caf50 !important;
}

:host ::ng-deep .my-pagination {
  $color: lightgray;

  li {
    border-radius: 50%;
    border: lightgray;
    background: white;
    color: $color;
    margin: 5px;

    &.current {
      background: primary;
    }

    &>a span {
      color: lightgray;
    }

    &.pagination-next a::after,
    &.pagination-previous a::before,
    &.pagination-next.disabled::after,
    &.pagination-previous.disabled::before {
      margin-left: 0;
      margin-right: 0;
      color: $color;
    }

    a:hover,
    button:hover {
      border-radius: 50%;
    }
  }
}

.pagination {
  padding-top: 40px;
  padding-bottom: 60px;
}

//input

.input {
  position: relative;
}

.input-search-header {
  width: 100%;
  height: 30px;
  background: #FFFFFF;
  border-radius: 3px;
  padding: 10px;
}

.icon-search {
  position: absolute;
  top: 0;
  right: 10px;
  color: #888888;
}


::ng-deep ::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: none;
}

///test

.list-grade-a-row {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  //margin-top: 5px;
}

.row-grade {
  padding-top: 5px;
  height: 48px;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
}


.grade-header {
  width: 50%;
  width: 100%;
  flex: none !important;
  height: 30px;

  &::ng-deep .mat-form-field-infix {
    margin-top: -15px !important;
  }

  &::ng-deep .mat-select-arrow {
    margin-top: 0px !important;
  }

  &::ng-deep .mat-form-field-underline {
    display: none;
  }
}

:host::ng-deep .grade-header {
  ::ng-deep .mat-form-field-flex {
    height: 30px;
  }
}

.grade-header-select {
  height: 30px;
  width: 100%;
  text-align: start;
  background: #FFFFFF;
  border-radius: 3px;
}

////////////////////
::ng-deep .mat-card {
  //border: 55px !important;
  border-radius: 12px !important;
  border: #000 !important;
}

.list-grades {
  background-color: #4caf50;
  height: 48px;

  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: white;
    width: 0;
  }

  ::-webkit-scrollbar {
    width: 0px !important;
    background-color: white !important;
  }

  ::-webkit-scrollbar-track {
    background-color: white !important;
    border-radius: 0;
  }
}


.row-grade:hover {
  background-color: #438145;
  border-radius: 0;
}


:host::ng-deep .mat-expansion-panel-header.mat-focus-indicator.mat-expansion-toggle-indicator-after.ng-star-inserted.mat-expanded {
  height: 24px;
  margin-left: -12px;
  margin-bottom: -12px;
}

::ng-deep .mat-expansion-panel-body {
  padding-bottom: 0px !important;
  margin-left: -12px !important;
}

.gradeActived {
  background-color: #438145;
  border-radius: 0;
}


:host::ng-deep .mat-select-value-text {
  margin-left: 15px;
  margin-right: 15px;
}


.mat-form-field-grade {
  background-color: #F4F4F4;
  text-align: start;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

:host::ng-deep .mat-form-field-underline {
  display: none;
}

:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px !important;
}

:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0.25em;
}

@media (max-width: 525px) {
  :host::ng-deep .mat-select-value {
    font-weight: normal;
    font-size: 15px;
    text-transform: unset;
  }
  :host ::ng-deep .mat-form-field-flex{
    height: 30px;
    padding: 4px 10px;
  }
  .search-box {
    margin-bottom: 0;
    width: 90%;
  }

  .title-header {
    text-transform: capitalize;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    /* identical to box height, or 167% */
    text-align: center;
    color: #555555;
    font-family: 'Open Sans', sans-serif;
  }

  .title-box{
    margin: 0 0 50px;
  }

  .search-button {
    // width: 54px;
    height: 40px;
    background: #4CAF50;
    border-radius: 0px 3px 3px 0px;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;
    .mat-icon {
      color: #FFFFFF;
    }
  }

  .input-search {
    background: #FFFFFF;
    padding: 10px 10px 10px 15px;
    border: none;
    // width: 315px;
    // height: 45px;
    border-radius: 3px 0px 0px 3px;
    font-family: 'Open Sans', sans-serif;
    height: 40px;
    width: 100%;
  }
}