<div class="body">
  <div class="carousel-function" fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="center center" class="title-box">
      <span class="title-header">
        tìm kiếm các bài giảng
      </span>
      <span class="text-intro">Hệ thống học tập trực tuyến với hàng ngàn
        bài
        giảng và tài liệu dành riêng cho
        bạn</span>
    </div>

    <div class="search-box" fxLayout=row fxLayout.sm="column" fxLayoutAlign="center center"
      fxLayoutAlign.sm="start start" fxLayoutGap.sm="15px" (keydown.enter)="searchLesson()">
      <input type="text" placeholder="Tìm kiếm các bài giảng..." [(ngModel)]="lessonName" class="input-search">
      <button class="search-button" fxLayoutAlign="center center" (click)="searchLesson()">
        <mat-icon>search</mat-icon>
        <span fxHide.xs>Tìm kiếm</span>
      </button>
    </div>
  </div>
  <div class="list-grades">
    <ng-container *ngIf="width>768; else elseT">
      <div class="container">

        <ng-container *ngIf="listGradesDashboard?.length<=4; else elseTemplate">
          <div class="list-grade-a-row" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
            <div *ngFor="let grade of listGradesDashboard">
              <a class="row-grade" mat-button [ngClass]="{'gradeActived': (grade.id == gradeId)}"
                [routerLink]="['/curriculum']" [queryParams]="{ gradeId: grade.id}">
                {{grade.name}}
              </a>
            </div>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <div class="list-grade-a-row" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
            <div *ngFor="let grade of listGradesDashboard">
              <a class="row-grade" mat-button [ngClass]="{'gradeActived': (grade.id == gradeId)}"
                [routerLink]="['/curriculum']" [queryParams]="{ gradeId: grade.id}">
                {{grade.name}}
              </a>
            </div>
          </div>
        </ng-template>



      </div>
    </ng-container>
    <ng-template #elseT>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100">
        <form fxFlex="90" class="grade-header">
          <mat-form-field class="grade-header-select">
            <mat-select  (selectionChange)="gradeNavigateTo($event.value)"
              [value]="selected">
              <mat-option value="">Chọn khối</mat-option>
              <mat-option *ngFor="let grade of listGradesDashboard" [value]="grade.id">
                {{grade.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <!-- <div fxFlex=45 class="input">
          <input class="input-search-header" matInput type="text" [placeholder]="'Tìm kiếm'">
          <mat-icon class="icon-search">search</mat-icon>
        </div> -->
      </div>
    </ng-template>
  </div>

  <!-- <education-breadcrumb></education-breadcrumb> -->
  <div class="breadcrumb">
    <div class="container">
      <div style="height: 40px;">
        <button mat-button [routerLink]="['/curriculum']" style="padding: 0px;">
          Trang chủ
          <span class="material-icons">
            chevron_right
          </span>
        </button>
        <button mat-button [routerLink]="['/curriculum']" style="padding: 0px;">
          Chương trình
          <span class="material-icons">
            chevron_right
          </span>
        </button>
        <span mat-button [routerLink]="['/curriculum']" [queryParams]="{ gradeId: gradeId}" class="text-color">
          {{gradeName}}
        </span>
      </div>
    </div>
  </div>
  <div class="list-chapter-search">
    <div class="container">
      <div class="list-chapter-search-row" fxLayout="row">
        <form fxFlex="72.5">
          <mat-form-field appearance="outline">
            <mat-select disableOptionCentering [value]="selectChapter" disableRipple
              (selectionChange)="chapterNavigateTo($event.value)">
              <mat-option *ngFor=" let chapter of listChapter" [value]="chapter.curriculumId">
                {{chapter.curriculumName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <div fxFlex="3.5">
        </div>
        <div fxFlex="23">
          <button mat-button [matMenuTriggerFor]="menu" (menuOpened)="onMenuOpened()" class="advandce-search"
            fxLayout="row" fxFlex=100 fxLayoutAlign="center center">
            Tìm kiếm nâng cao
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="menu-search" style="background-color: white !important;">
            <div class="find-advanced">
              <p class="name">
                Trường học
              </p>
              <mat-form-field appearance="outline" (click)="stopPropagation($event)" class="border-standard">
                <mat-select disableOptionCentering #schoolSelect [placeholder]="'Trường'" [(ngModel)]="chooseSchool"
                  (click)="onChangeSchool()">
                  <mat-option>
                    <ngx-mat-select-search [(ngModel)]="keyWordSchool" placeholderLabel="Trường"
                      noEntriesFoundLabel="Không tìm thấy trường" (ngModelChange)="filterSchool()">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option [value]="0">
                    Chọn trường
                  </mat-option>
                  <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                    {{school.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <p class="name">
                Giáo viên
              </p>
              <mat-form-field appearance="outline" (click)="stopPropagation($event)" class="border-standard">
                <mat-select disableOptionCentering [disabled]="chooseSchool>0?false:true" #teacherSelect
                  [placeholder]="'Giáo viên'" [(ngModel)]="chooseTeacher" (click)="onSelectTeacher(chooseSchool)">
                  <mat-option>
                    <ngx-mat-select-search [(ngModel)]="keyWordTeacher" placeholderLabel="Giáo viên"
                      noEntriesFoundLabel="Không tìm thấy giáo viên" (ngModelChange)="filterTeacher()">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option [value]="0">
                    Chọn giáo viên
                  </mat-option>
                  <mat-option *ngFor="let teacher of filteredTeachers | async" [value]="teacher.id">
                    {{teacher.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-raised-button color="primary" style="margin-bottom: 20px;" (click)="onClickSearch()">Tìm
                kiếm</button>
            </div>

          </mat-menu>
        </div>
      </div>
    </div>
  </div>

  <div class="list-chapter-search-mobile">
    <div class="container">
      <div fxLayout="row">
        <form fxFlex="100">
          <mat-form-field class="border-standard">
            <mat-select [(value)]="selectChapter" disableRipple (selectionChange)="chapterNavigateTo($event.value)">
              <mat-option *ngFor=" let chapter of listChapter" [value]="chapter.curriculumId">
                {{chapter.curriculumName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
  <div class="advenced-search-mobile">
    <div class="container">
      <div fxLayout="row">
        <button mat-flat-button color="primary" fxFlex=29 style="height: 44px;">Danh sách</button>
        <div fxFlex=4></div>
        <button (click)="onClickAdvencedSearch()" mat-flat-button fxFlex=67 style=" height: 44px;">
          Tìm kiếm nâng cao
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="advenced-search-detail-mobile" *ngIf="advencedSearchDetailOpen">
    <div class="container">
      <div class="advenced-search-detail-mobile-row">
        <mat-form-field (click)="stopPropagation($event)" class="border-standard" fxFlex=48>
          <mat-select #schoolSelect [placeholder]="'Trường'" disableOptionCentering [(ngModel)]="chooseSchool"
            (click)="onChangeSchool()" style="height: 50px !important;">
            <mat-option>
              <ngx-mat-select-search [(ngModel)]="keyWordSchool" placeholderLabel="Trường"
                noEntriesFoundLabel="Không tìm thấy trường" (ngModelChange)="filterSchool()">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option [value]="0">
              Chọn trường
            </mat-option>
            <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
              {{school.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div fxFlex=4></div>
        <mat-form-field (click)="stopPropagation($event)" class="border-standard" fxFlex=48>
          <mat-select disableOptionCentering [disabled]="chooseSchool>0?false:true" #teacherSelect
            [placeholder]="'Giáo viên'" [(ngModel)]="chooseTeacher" (click)="onSelectTeacher(chooseSchool)">
            <mat-option>
              <ngx-mat-select-search [(ngModel)]="keyWordTeacher" placeholderLabel="Giáo viên"
                noEntriesFoundLabel="Không tìm thấy giáo viên" (ngModelChange)="filterTeacher()">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option [value]="0">
              Chọn giáo viên
            </mat-option>
            <mat-option *ngFor="let teacher of filteredTeachers | async" [value]="teacher.id">
              {{teacher.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" class="search-button" (click)="onClickSearch()">Tìm kiếm</button>
    </div>
  </div>

  <div class="menu-list-lesson">
    <div class="container">
      <div class="menu-list-lesson-row" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <mat-card class="menu-lesson" fxFlex=24 fxFlex.md="30" fxFlex.sm="100">
          <mat-card-header class="list" fxLayoutAlign="center center" fxHide.xs>
            <mat-card-title>Danh sách
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p *ngFor="let unit of listLesson" style="cursor: pointer; font-size: 14px;">
              <a class="a-unit" [ngClass]="{'unitActived': unit.lessonId == unitId }"
                (click)="chosseUnit(unit.lessonId)">
                <span class="material-icons" style="color: #4caf50; font-size:7px;">
                  fiber_manual_record
                </span> {{unit.lessonName}}
              </a>
            </p>
          </mat-card-content>
        </mat-card>

        <ng-container *ngIf="lessons.length > 0; else elseTemplate">
          <div fxLayout="row wrap" fxFlex=76 fxFlex.sm=100 fxFlex.xs=100 fxLayoutAlign.sm="center center"
            class="lessons">
            <div
              *ngFor="let lesson of lessons |paginate: { itemsPerPage:9, currentPage: page, totalItems:totalPage}"
              fxFlex="33.33" fxFlex.md=50 fxFlex.xs=100 fxFlex.sm="50">
              <mat-card fxFlex="100" class="mat-card-lesson" [routerLink]="['/detail-lesson']"
                [queryParams]="{ grade: gradeId , subject: subjectId , chapter: chapterId , unit: unitId, lesson: lesson.id}"
                queryParamsHandling="merge">
                <img mat-card-image src="{{lesson.avatarUrl}}" class="lesson-image">
                <span class="lesson-name">
                  {{lesson.lessonName}}
                </span>
                <div fxLayout="row" class="footer-lesson">
                  <div class="info-teacher" fxFlex="75" fxLayoutAlign="start center">
                    <img src="{{lesson.teacherAvatar}}" class="teacher-avartar">
                    <p class="teacher-name"> GV: {{lesson.teacherName}}
                    </p>
                  </div>
                  <div class="button-detail" fxFlex="25" fxLayoutAlign="end center">
                    <button mat-raised-button color="primary" class="a-button-detail">Chi
                      tiết</button>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <mat-card fxFlex=100 fxLayout="column" fxLayoutAlign="center center" class="content-not-found">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
              <img src="../../../../../assets/images/lesson/lessonNotFound.png" class="image-not-found" alt="">
              <div class="suggest">
                <span class="message">Hiện nay nội dung chưa có dữ liệu</span>
              </div>
            </div>
          </mat-card>
        </ng-template>
      </div>
      <div *ngIf="lessons.length > 0" fxLayout="row" fxLayoutAlign="center center" class="pagination">
        <pagination-controls class="paging my-pagination" autoHide="true" previousLabel="" nextLabel="" 
          (pageChange)="pageChanged($event)">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
