<div class="apply-css-alpha overflow-err-msg" [formGroup]="formSetting" (ngSubmit)="onSubmit()">
    <app-spinner2 [fullScreen]="true"></app-spinner2>
    <mat-card class="manage-card">
        <mat-card-header>
            <mat-card-title>Thiết lập</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="mat-card-padding-lr-none">
            <div class="mat-card-content-section mat-card-content-padding-lr-default" fxLayout="row wrap">
                <div fxFlex="100" class="pb-20" style="position: relative;">
                    <div fxLayout="row wrap" fxLayoutAlign="start center" class="pb-20" class="name-learning-path"
                        style="width:100%">
                        <label fxFlex="15" fxLayoutAlign="start center"> Tên quy trình
                            (*):
                        </label>
                        <div fxFlex="85" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" style="width:100%">
                                <mat-label>Tên quy trình</mat-label>
                                <input matInput style="width:100%" fxFlex type="text" fxFlex="100" maxlength="255"
                                    placeholder="Tên quy trình" formControlName="name" autocomplete="off">

                                <mat-error class="errors-msg" *ngIf="path()?.invalid && path()?.touched">
                                    Tên quy trình không được để trống(*)
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div fxFlex="100" class="mt-4">
                    <div fxLayout="row">
                        <label fxFlex="15" fxLayoutAlign="start center"> Loại: </label>
                        <mat-radio-group aria-label="Choose source video" fxFlex="85" fxLayout="row"
                            formControlName="type" (change)="radioTypeChange($event)">
                            <mat-radio-button [value]="1" fxFlex="20">
                                Thường xuyên
                            </mat-radio-button>
                            <mat-radio-button [value]="2">
                                Không thường xuyên
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="mt-4" fxFlex="100" [hidden]="isHiddenDateTime" *ngIf="!isHiddenDateTime"
                    style="position:relative">
                    <label fxFlex="15" fxLayoutAlign="start center">Ngày bắt đầu:
                    </label>
                    <div fxFlex.gt-md="85">
                        <div fxFlex fxFlex.gt-md="30" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" class="date-time-range" fxFlex="30"
                                fxLayoutAlign="start center">
                                <mat-label>dd/mm/yyyy</mat-label>
                                <input (dateInput)="onDateLearningPathChange($event)" matInput
                                    [matDatepicker]="dpFromDate" formControlName="startDate" (click)="openDpFromDate()">
                                <mat-datepicker-toggle matSuffix [for]="dpFromDate"></mat-datepicker-toggle>
                                <mat-datepicker #dpFromDate></mat-datepicker>

                                <mat-error class="errors-msg" *ngIf="getValidateStartDateErrors()">
                                    Ngày bắt đầu không được lớn hơn ngày kết thúc (*)
                                </mat-error>
                                <mat-error class="errors-msg" *ngIf="getValidateStartDateRequiredErrors()">
                                    Ngày bắt đầu không được trống (*)
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex fxFlex.gt-md="60" fxLayoutAlign="start center" style="position:relative">
                            <label fxFlex="30" fxLayoutAlign="center center" for="">Ngày kết thúc:
                            </label>
                            <mat-form-field appearance="outline" class="date-time-range" [floatLabel]="'never'"
                                fxFlex="30" fxLayoutAlign="start center">
                                <mat-label>dd/mm/yyyy</mat-label>
                                <input (dateInput)="onDateLearningPathChange($event)" matInput
                                    [matDatepicker]="dpToDate" formControlName="endDate" (click)="openDpToDate()"
                                    autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="dpToDate"></mat-datepicker-toggle>
                                <mat-datepicker #dpToDate></mat-datepicker>

                                <mat-error class="errors-msg" *ngIf="getValidateEndDateRequiredErros()">
                                    Ngày kết thúc không được trống (*)
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- <div fxFlex="100" class="mt-4">
                    <div flLayout='row'>
                        <label fxFlex="15" fxLayoutAlign="start center"> Gửi tới người phụ trách</label>
                        <mat-checkbox class="example-margin" color="primary" checked="true"></mat-checkbox>
                    </div>
                </div>

                <div fxFlex="100" class="mt-4">
                    <div flLayout='row'>
                        <label fxFlex="15" fxLayoutAlign="start center"> Chọn thang đánh giá</label>
                        <mat-form-field appearance="outline" fxFlex="20">
                            <mat-label>Thang đánh giá</mat-label>
                            <mat-select placeholder="Chọn thang đánh giá" formControlName="point"
                                disableOptionCentering>
                                <mat-option [value]="1">
                                    Thang điểm 10
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div> -->
            </div>
        </mat-card-content>
    </mat-card>
    <div *ngFor="let pathGroup of getLearningPathStepControls();let i = index" [formGroup]="pathGroup">
        <mat-card class="manage-card">
            <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex="50" fxLayoutAlign="start start">
                    <mat-card-title>
                        Bước {{i+1}}
                    </mat-card-title>
                </div>
                <div fxFlex="50" fxLayoutAlign="end start">
                    <button mat-raised-button color="primary" style="margin-right:10px"
                        (click)="onAddPathHandleClick()">
                        <span class="material-icons-outlined">
                            add_circle_outline
                        </span>
                        Thêm bước
                    </button>

                    <button mat-raised-button style="margin-right:10px" class="bg-danger text-white"
                        [ngClass]="i == 0 && getLearningPathStepControls().length ==1 ? 'cursor-not-pointer' : 'cursor-pointer'"
                        (click)="onRemovePathHandleClick(i)">
                        <mat-icon class="lesson_icon__action icon-delete">delete_outline</mat-icon>
                        Xóa
                    </button>
                </div>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="mat-card-padding-lr-none">
                <div class="mat-card-content-section mat-card-content-padding-lr-default" fxLayout="row wrap">
                    <div fxFlex="100" class="pb-20">
                        <div fxLayout="row wrap" fxLayoutAlign="start center" class="pb-20" style="position: relative;">
                            <label fxFlex="15" fxLayoutAlign="start center">Tên bước:
                            </label>
                            <div fxFlex="85" fxLayoutAlign="start center">
                                <mat-form-field appearance="outline" style="width:100%">
                                    <mat-label>Tên bước</mat-label>
                                    <input matInput style="width:100%" fxFlex type="text" fxFlex="100"
                                        (change)="valueInputStepChange(i)" formControlName="learningPathStepName"
                                        autocomplete="off" maxlength="255">

                                    <mat-error class="errors-msg" *ngIf="getNamePathStepValidation(i)">
                                        Tên bước không được để trống (*)
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>

                    <div fxFlex="100" class="pb-20" style="position:relative">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <label fxFlex="15" fxLayoutAlign="start center"></label>
                            <div fxFlex="15" fxLayoutAlign="start center">
                                <mat-slide-toggle (change)="onSlideToggleChange($event.checked,i)"
                                    formControlName="stepType" color="primary">Ràng buộc
                                </mat-slide-toggle>
                            </div>
                            <label fxFlex="10" fxLayoutAlign="center center" *ngIf="getstepTypeControl(i)">Từ ngày :
                            </label>

                            <mat-form-field appearance="outline" class="date-time-range" fxFlex="20"
                                fxLayoutAlign="start center" *ngIf="getstepTypeControl(i)">
                                <mat-label>dd/mm/yyyy</mat-label>
                                <input matInput [matDatepicker]="dpFromDateStep" (click)="openDpFromDateStep()"
                                    (dateInput)="onDatelearnPathStepChange(i)"
                                    formControlName="learningPathStepStartDate">
                                <mat-datepicker-toggle matSuffix [for]="dpFromDateStep"></mat-datepicker-toggle>
                                <mat-datepicker #dpFromDateStep></mat-datepicker>

                                <mat-error class="errors-msg" *ngIf="getValidatorPathStepControl(i)">
                                    Ngày bắt đầu không được lớn hơn ngày kết thúc (*)
                                </mat-error>
                                <mat-error class="errors-msg"
                                    *ngIf="getValidatorPathStepWithStartDateLearningPathControl(i)">
                                    Ngày bắt đầu phải nằm trong thời gian quy trình
                                </mat-error>
                                <mat-error class="errors-msg" *ngIf="getValidateStartDatePathStepRequiredErrors(i)">
                                    Ngày bắt đầu không được trống (*)
                                </mat-error>
                            </mat-form-field>
                            <label fxFlex="15" fxLayoutAlign="center center" for="" *ngIf="getstepTypeControl(i)">Đến
                                ngày:
                            </label>
                            <mat-form-field appearance="outline" class="date-time-range" [floatLabel]="'never'"
                                style="position: relative;" fxFlex="15" fxLayoutAlign="start center"
                                *ngIf="getstepTypeControl(i)">
                                <mat-label>dd/mm/yyyy</mat-label>
                                <input matInput [matDatepicker]="dpToDateStep" (click)="openDpToDateStep()"
                                    (dateInput)="onDatelearnPathStepChange(i)" autocomplete="off"
                                    formControlName="learningPathStepEndDate">
                                <mat-datepicker-toggle matSuffix [for]="dpToDateStep"></mat-datepicker-toggle>
                                <mat-datepicker #dpToDateStep></mat-datepicker>
                                <mat-error class="errors-msg"
                                    *ngIf="getValidatorPathStepWithEndDateLearningPathControl(i)">
                                    Ngày kết thúc phải nằm trong thời gian quy trình (*)
                                </mat-error>
                                <mat-error class="errors-msg" *ngIf="getValidatorPathStepEndDateControl(i)">
                                    Ngày kết thúc không được nhỏ hơn ngày bắt đầu (*)
                                </mat-error>
                                <mat-error class="errors-msg" *ngIf="getValidateEndDatePathStepRequiredErrors(i)">
                                    Ngày kết thúc không được trống (*)
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex="100">
                        <div fxLayout="row wrap" fxLayoutAlign="start start" class="pb-20">
                            <div fxFlex="15">
                                <label fxLayoutAlign="start start">Nội dung:
                                </label>
                            </div>
                            <div fxFlex="85" fxLayoutAlign="end center" class="content-lesson"
                                [ngClass]="getValidatorCourses(i) ? 'border-red' : ''">
                                <div fxLayout="row wrap" class="group-lesson">
                                    <div fxFlex=" 100" fxLayoutAlign="space-between center" style="padding :0 2px"
                                        *ngFor="let pathStepLessonGroup of pathGroup.get('learningPathStepLesson').controls;let pathLessonGroup = index"
                                        [formGroup]="pathStepLessonGroup">
                                        <div *ngIf="getActionPathStepLessons(i,pathLessonGroup)" class="display-lesson">
                                            <div class="lesson-name text-wrap">
                                                <span class="text-wrap"
                                                    matToolTip="'pathStepLessonGroup.get('stepLessonName').value'">{{pathStepLessonGroup.get('stepLessonName').value}}</span>
                                            </div>
                                            <div *ngIf="getActionPathStepLessons(i,pathLessonGroup)"
                                                style="width: 100%;text-align: center;">
                                                <span class="bagde-lesson">Khóa học</span>
                                            </div>
                                            <div *ngIf="getActionPathStepLessons(i,pathLessonGroup)">
                                                <mat-icon class="lesson_icon__action icon-delete" class="icon-delete"
                                                    matTooltip="Xóa"
                                                    (click)="removeCourseClick(i,pathLessonGroup,pathStepLessonGroup.get('lessonId').value)">
                                                    delete_outline</mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                    <div fxFlex="100" fxLayoutAlign="end center" class="errors-msg"
                                        *ngIf="getValidatorCourses(i)"
                                        style="position:absolute;bottom:-40px;right:-18px;">
                                        <div fxFlex="100" fxLayoutAlign="end center">
                                            <div *ngIf="getValidatorCourses(i)"
                                                class="row-add-teacher_label_text text-danger text-header">
                                                Hãy chọn ít nhất 1 khóa học(*)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div fxFlex="100" fxLayoutAlign="center center" class="pb-20">
                        <button mat-raised-button color="primary" (click)="registerCoursesDiaglog(i)">
                            <span class="material-icons-outlined">
                                add_circle_outline
                            </span>
                            Thêm khóa học
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div group-button style="margin-bottom: 10px;">
        <div fxLayout="row" fxLayoutAlign="center start" class="m-b-30" #scrollBottom>
            <button type="button" mat-stroked-button class="btn_back m-r-10"
                (click)="onCancelButtonHandleClick()">Hủy</button>
            <button mat-raised-button type="submit" (click)="submitButtonHandleClick()"
                color="primary" class="btn_continue m-r-10 m-l-10">Lưu</button>
        </div>
    </div>
</div>