.name-learning-path {
    font-family: "Montserrat", sans-serif;
}
.mat-card-padding-lr-none {
    font-size: 14px !important;
}
.input_name {
    width: 100%;
    height: 35px;
    padding: 0 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}
.pb-20 {
    padding-top: 20px;
    padding-bottom: 10px;
}
.remove-button {
    background: #da251d;
}
.btn_back {
    width: 103px;
    color: #555555;
    background-color: #eeeeee;
}
.icon-delete {
    cursor: pointer;
    margin-bottom: 7px;
    height: 20px;
}
.btn_continue {
    width: 103px;
}
.content-lesson {
    border: 0.5px solid #ccc;
    box-sizing: border-box;
    border-radius: 2px;
    min-height: 35px;
}
.bagde-lesson {
    display: inline-block;
    background: #ccffce;
    border-radius: 10.5pc;
    width: 90px;
    font-size: 12px;
    opacity: 0.98;
    color: #4caf50;
    font-weight: 600;
}
.errors-msg {
    font-size: 12px;
}
.cursor-not-pointer {
    cursor: not-allowed;
}
.group-lesson {
    width: 100%;
    position: relative;
    max-height: 400px;
    overflow: hidden;
    padding: 6px;
    overflow-y: scroll;
}
.cursor-pointer {
    cursor: pointer;
}
.lesson-name {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.display-lesson {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.errors-msg {
    width: 400px;
    z-index: 999;
}

:host ::ng-deep .overflow-err-msg .mat-form-field-subscript-wrapper {
    overflow: visible !important;
}