.filter-learning-path {
    padding: 20px !important;
}
.input_search {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    width: 80%;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;

    background-image: url("../../../../../assets/images/icon/search.svg");
    background-size: 10% 50%;
    background-repeat: no-repeat;
    background-position: right center;
}



.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

.mat-select-panel-wrap {
    position: relative;
    top: 26px;
}

.mat-select-panel-wrap .mat-select-panel {
    min-width: calc(100% + 12px) !important;
    transform: translateX(4px) !important;
}
.status-badge-upcoming {
    background: #dbffdc;
    border-radius: 10.5px;
    width: 99px;
    height: 21px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #4caf50;
    text-align: center;
    opacity: 0.98;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-badge-happenning {
    background: #dbffdc;
    border-radius: 10.5px;
    width: 99px;
    height: 21px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #4caf50;
    text-align: center;
    opacity: 0.98;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-badge-not-organized-yet {
    background: #f3f3f3;
    border-radius: 10.5px;
    width: 99px;
    height: 21px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #555555;
    text-align: center;
    opacity: 0.98;
    display: flex;
    align-items: center;
    justify-content: center;
}
.status-badge-end {
    width: 99px;
    height: 21px;
    background: #ffe0df;
    border-radius: 10.5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #da251d;
    text-align: center;
    opacity: 0.98;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lesson_icon__action {
    color: #7e8485;
    height:20px;
    font-size: 20px;
}
