<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-header>
      <mat-card-title>
        <div>Danh sách Quy trình đào tạo</div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="pt-0">
      <div class="manage-filter">
        <div class="manage-filter-item">
          <button mat-raised-button color="primary" (click)="onAddLearningPathHandleClick()" *ngIf="hasAddPermission">
            <mat-icon class="icon">add_circle_outline</mat-icon>
            Thêm quy trình
          </button>
        </div>
        <div class="manage-filter-item manage-filter-item-fill" fxLayoutAlign="center center"
          fxLayoutAlign.gt-sm="end center">
          <div class="mr-4">
            <mat-form-field appearance="outline">
              <mat-label>Tìm kiếm quy trình</mat-label>
              <input matInput fxFlex type="text" name="search" [(ngModel)]="request.keyword"
                placeholder="Tìm kiếm quy trình" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="primary" class="mat-button-square" matTooltip='Tìm kiếm'
              (click)="onFilterLearningPath()">
              <mat-icon matSuffix>search</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="manage-card">
    <div flexLayout="row wrap">
      <app-spinner2></app-spinner2>
      <div class="filter_table_midle" [hidden]="isLoading">
        <table mat-table [dataSource]="learningPaths">
          <!-- Position Column -->
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef> STT
            </th>
            <td mat-cell *matCellDef="let element; let i= index">
              {{i + 1}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> TÊN QUY
              TRÌNH
            </th>
            <td mat-cell *matCellDef="let element" class="mat-main-column">
              <span class="text-wrap">{{element.name}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> LOẠI QUY
              TRÌNH
            </th>
            <td mat-cell *matCellDef="let element">
              <span class="text-wrap" *ngIf="element.type =='NAL'">Không thường xuyên</span>
              <span class="text-wrap" *ngIf="element.type =='ALW'">Thường xuyên</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef class="mat-column-date"> NGÀY BẮT
              ĐẦU
            </th>
            <td mat-cell *matCellDef="let element" class="mat-column-date">
              <div *ngIf="!element.startDate" style="text-align:center">-</div>
              <div *ngIf="element.startDate">{{element.startDate | date:'dd/MM/yyyy'}}</div>

            </td>
          </ng-container>

          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef class="mat-column-date"> NGÀY KẾT
              THÚC
            </th>
            <td mat-cell *matCellDef="let element" class="mat-column-date">
              <div *ngIf="!element.endDate" style="text-align:center">-</div>
              <div *ngIf="element.endDate">{{element.endDate | date:'dd/MM/yyyy'}}</div>

            </td>
          </ng-container>

          <ng-container matColumnDef="function">
            <th mat-header-cell *matHeaderCellDef> CHỨC NĂNG
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-icon *ngIf="hasAsignPermission" svgIcon="release-sermons" matTooltip="Ghi danh"
                (click)='onAsignStudentHandleClick(element.id)'>
              </mat-icon>
              <mat-icon *ngIf="hasEditPermission" matTooltip="Chỉnh sửa" (click)="settinglearningPath(element.id)">
                settings</mat-icon>
              <mat-icon (click)="removeLearningPath(element)" *ngIf="hasDeletePermission" matTooltip="Xóa"
                svgIcon="trash-black">
              </mat-icon>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td colspan="6" class="mat-cell background-no-content">
              <div class="background-no-content-img"></div>
              <div class="background-no-content-info">
                <p>Không tìm thấy quy trình</p>
              </div>
            </td>
          </tr>
        </table>
        <mat-paginator [length]="pagingLength" [pageSizeOptions]="[10, 20, 30, 100]" (page)="pageChange($event)">
        </mat-paginator>
      </div>
    </div>
  </mat-card>
</div>