<mat-form-field [floatLabel]="'never'">
    <input matInput [ngxMatDatetimePicker]="picker" placeholder="dd/MM/yyyy"
        [min]="minDate" [max]="maxDate" [disabled]="disabled" (dateChange)="changeDate($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds" [stepHour]="stepHour"
        [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
        [enableMeridian]="enableMeridian">
    </ngx-mat-datetime-picker>
</mat-form-field>