<div class="apply-css-alpha">
  <mat-card>
    <mat-card-content>
      <form #createGrade="ngForm" fxLayout="column" fxLayoutGap="10px">
        <div class="mat-dialog-title">Chuyển lớp</div>
        <span>Chuyển học sinh từ <span class="className">{{className}}</span> sang
          <span class="className" *ngIf="groupStudentCtrl.value.name != null"> {{groupStudentCtrl.value.name}}</span>
        </span>

        <div class="m-t-20">
          <div fxLayout="row" fxLayoutAlign="start center">
            <input disabled class="input" value="{{gradeName}}">
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="m-t-15">
            <mat-form-field appearance="outline" (click)="onGroupStudentSelectClicked()">
              <mat-label>Chọn lớp</mat-label>
              <mat-select [formControl]="groupStudentCtrl" ngDefaultControl placeholder="Chọn lớp"
                #singleSelectGroupStudent disableOptionCentering
                (selectionChange)="onChangeGroupStudentSelected($event.value)">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm lớp" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="groupStudentFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let groupstudent of filteredGroupStudents | async" [value]="groupstudent">
                  {{groupstudent.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-dialog-actions>
            <button mat-flat-button mat-dialog-close class="button-cancel">Hủy</button>
            <button mat-flat-button color="primary" (click)="submitForm()" type="submit"
              color="primary">Lưu</button>
          </mat-dialog-actions>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
