.label-inform {
  font-size: 14px;
}

.title-center {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #303030;

  opacity: 0.98;
}

.dialog-action {
  margin-bottom: 0px;
  margin-top: 10px;
}


:host ::ng-deep .mat-card {
  margin: 0;
  padding: 0;
  box-shadow: none !important;
  width: 100%;
}

:host ::ng-deep .mat-card-content {
  padding: 0;
}

.input {
  width: 395px;
  height: 36px;
  background: #EFEFEF;

  padding: 10px 12px;
  border: 0.5px solid #ACACAC;
  box-sizing: border-box;
  border-radius: 4px;
}

.className {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #4CAF50;
}
