<mat-card>
  <mat-card-content>
    <app-header-create-exam [stepHeaderCtrl]="stepHeaderControl"></app-header-create-exam>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Danh sách môn thi</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="padding-l-r-0">
    <table mat-table [dataSource]="subjectOfExam" matSort class="table-subject">
      <!-- Checkbox Column -->
      <!-- <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container> -->

      <!--  Column -->
      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let element;let i=index">{{i+1}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Tên môn thi </th>
        <td mat-cell *matCellDef="let element" class="mat-main-column"> {{element.subjectName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef> Thời gian bắt đầu </th>

        <td mat-cell *matCellDef="let element">
          <span class="text-green"><b>{{element.startDate|date :'HH:mm'}}</b></span>
          <span> &nbsp; {{ element.startDate|date :'dd/MM/yyyy'}}</span>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef> Thời gian kết thúc </th>
        <td mat-cell *matCellDef="let element">
          <span class="text-red"><b>{{element.endDate|date :'HH:mm'}}</b></span>
          <span> &nbsp; {{ element.endDate|date :'dd/MM/yyyy'}}</span>
        </td>
      </ng-container>

      <!-- fuction Column -->
      <ng-container matColumnDef="testName">
        <th mat-header-cell *matHeaderCellDef> Bộ đề thi </th>
        <td mat-cell *matCellDef="let element">
          {{element.testKitname}}
          <button *ngIf="element.testkitId!=null" class="btn-action" mat-icon-button title="Xem chi tiết"
            (click)="hanleGetListQuestionBank(element.testkitId, element.testKitName)">
            <mat-icon>assignment</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- fuction Column -->
      <ng-container matColumnDef="chosse-test" class="text-align-center">
        <th mat-header-cell *matHeaderCellDef class="text-align-center"> Chọn bộ đề </th>
        <td mat-cell *matCellDef="let row" class="text-align-center">
          <button [ngClass]="{'not-allowed':this.isPublished}" [disabled]="this.isPublished" mat-icon-button
            color="primary" (click)="chosseTest(row.examSubjectId,row.subjectId, row.testkitId)">
            <span class="material-icons">
              add_circle
            </span>
          </button>
        </td>
      </ng-container>

      <!-- fuction Column -->
      <ng-container matColumnDef="establish" class="text-align-end">
        <th mat-header-cell *matHeaderCellDef class="text-align-end"> Thiết lập </th>
        <td mat-cell *matCellDef="let row" class="text-align-end">
          <button [ngClass]="{'not-allowed':this.isPublished}" [disabled]="this.isPublished" mat-icon-button
            (click)="settingSubject(row.examSubjectId, row.subjectId)">
            <mat-icon svgIcon="setting"></mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="m-t-20">
  <button mat-raised-button (click)="backPage()" class="button-cancel">Quay lại</button>
  <button mat-raised-button color="primary" class="text-white" (click)="nextPage()">Tiếp tục</button>
</div>