.not-allowed {
  cursor: not-allowed;
}
.text-align-end {
  text-align: end;
}

.text-align-center{
  text-align: center;
}

.padding-l-r-0{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.btn-action {
  color: #7e8485;
}
