<!-- Create and search question -->
<div fxLayout="row" fxLayoutAlign="space-between center" class="manage-card function-search" *ngIf="!isExamFinish && !fromQuestionBank">
  <div *ngIf="!hideButton; else elseTemplate" fxLayout="row">
    <button *ngIf="!getQuestionsToTest && hasAddPermission" color="primary" mat-raised-button
      routerLink="create-question">
      <mat-icon class="icon-add" svgIcon="add-circle-white"></mat-icon> Tạo câu hỏi
    </button>
    <button class="btn-file"*ngIf="!getQuestionsToTest && hasAddPermission" color="primary" mat-raised-button 
    routerLink="import-questions-from-file">
      <span class="material-icons-outlined">
        post_add
        </span> Tạo câu hỏi từ tệp tin
    </button>
  </div>
  <ng-template #elseTemplate>
    <div class="confirm_question" *ngIf="hasApprovePermission">
      <button *ngIf="!isAllQuestion && questionPagination.items.length" mat-raised-button color="warn"
        (click)="refuseQuestion(null, true)">
        Trả lại
      </button>
      <button *ngIf="!isAllQuestion && questionPagination.items.length" mat-raised-button color="primary"
        (click)="approveQuestion(null, true)">
        Duyệt
      </button>
    </div>
  </ng-template>
  <div class="filter_search_input" fxLayout="row" fxLayoutAlign=" center">
    <input (keydown.enter)="onSearchQuestion($event.target.value)" matInput type="text" #input class="input_search"
      name="search" placeholder="Nội dung câu hỏi">
    <!-- <button *ngIf="!getQuestionsToTest" class="icon-setting" mat-icon-button [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu">
      <mat-icon svgIcon="setting-search"></mat-icon>
    </button> -->
    <mat-menu #menu="matMenu" class="action_file">
      <button mat-menu-item class="action_item" (click)="downloadFileWord()">
        <mat-icon svgIcon="export_question"></mat-icon>
        <span>Xuất câu hỏi</span>
      </button>
      <!-- <button mat-menu-item class="action_item">
        <mat-icon svgIcon="add_from_file"></mat-icon>
        <span>Thêm từ tập tin</span>
      </button>
      <button mat-menu-item class="action_item">
        <mat-icon svgIcon="download_example_file"></mat-icon>
        <span>Tải tập tin mẫu</span>
      </button> -->
    </mat-menu>
  </div>
</div>
<!-- End create and search question -->

<!-- Table list question -->
<div id="table_view">
  <div class="manage-card table-list-question">
    <app-spinner2></app-spinner2>
    <div>
      <div class="table_scroll" [ngClass]="{'fixed_table': isFixedTable}">
        <table mat-table [dataSource]="questionPagination.items">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()" *ngIf="!isExamFinish && !fromQuestionBank"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row; let i=index">
              <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null" *ngIf="!isExamFinish && !fromQuestionBank"
                [checked]="selection.isSelected(row) || disableQuestionIds.indexOf(row.id) > -1"
                [aria-label]="checkboxLabel(row)" 
                [disabled]="disableQuestionIds.indexOf(row.id) > -1">
              </mat-checkbox>
              <p class="number_stt" *ngIf="isExamFinish || fromQuestionBank">{{i+1}}</p>
            </td>
          </ng-container>

          <!-- Content of question -->
          <ng-container matColumnDef="question">
            <th mat-header-cell *matHeaderCellDef width="55%">NỘI DUNG CÂU HỎI</th>
            <td mat-cell *matCellDef="let element">
              <app-display-question [questions]="element"></app-display-question>
            </td>
          </ng-container>

          <!-- Score of question -->
          <ng-container matColumnDef="score" width="10%" *ngIf="isExamFinish">
            <th mat-header-cell *matHeaderCellDef>ĐIỂM</th>
            <td mat-cell *matCellDef="let element">
              <span class="score">{{element.score}}</span>
            </td>
          </ng-container>

          <!-- Type of quest -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>LOẠI CÂU HỎI</th>
            <td mat-cell *matCellDef="let element" class="type_quest"
              [ngClass]="{'top_element': element.format === 'GRO'}">
              <p class="title_quest">{{checkTypeQuestionTable(element.type)}}</p>
              <div class="type single" *ngIf="element.format !== 'GRO' && element.type">
                <span class="">Câu hỏi đơn</span>
              </div>
              <div class="type multi" *ngIf="element.format === 'GRO'">
                <span class="">Câu hỏi chùm</span>
              </div>
              <textarea *ngIf="!isAllQuestion" (change)="handleNoteQuestion($event.target.value, element)" class="note"
                placeholder="Ghi chú"></textarea>
            </td>
          </ng-container>

          <!-- Function -->
          <ng-container matColumnDef="function" *ngIf="!getQuestionsToTest">
            <th mat-header-cell *matHeaderCellDef>CHỨC NĂNG</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon *ngIf="element.approvalNote && isAllQuestion" matTooltip="Xem"
                (click)="watchNoteQuestion(element.approvalNote)" svgIcon="watch-question"></mat-icon>
              <mat-icon
                *ngIf="isAllQuestion && hasEditPermission && element.status !=='PUB' 
                &&  element.status !=='WAI' && (userIdentity.userId == element.creatorId || userIdentity.userTypeRole== 'SUPER')"
                matTooltip="Gửi duyệt" (click)="requestApproveQuestion(element.id, false)" svgIcon="sent-question">
              </mat-icon>
              <mat-icon *ngIf="isAllQuestion && hasEditPermission && 
                (userIdentity.userId == element.creatorId || userIdentity.userTypeRole== 'SUPER')"
                matTooltip="Chỉnh sửa" (click)="navigateToEditQuestion(element.id)" svgIcon="edit-black"></mat-icon>
              <mat-icon *ngIf="!isAllQuestion && hasApprovePermission" matTooltip="Duyệt"
                (click)="approveQuestion(element, false)" svgIcon="refuse_question"></mat-icon>
              <mat-icon *ngIf="!isAllQuestion && hasApprovePermission" color="warn" matTooltip="Trả lại"
                (click)="refuseQuestion(element, false)" svgIcon="approve_question"></mat-icon>
              <mat-icon *ngIf="hasDeletePermission && 
                (userIdentity.userId == element.creatorId || userIdentity.userTypeRole == 'SUPER')" matTooltip="Xóa"
                (click)="removeQuestion(element.id, false)" svgIcon="trash-black"></mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns">
          </tr>
          <tr class="mat-row" *matNoDataRow class="no_data_content">
            <td colspan=4 class="mat-cell background-no-content">
              <div class="background-no-content-img"></div>
              <div class="background-no-content-info">
                <p>Không tìm thấy câu hỏi</p>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- Event remove and confirm question -->
      <div fxLayout="row" fxLayoutAlign="space-between center" class="row_flex"
        [ngClass]="{'hidenAction': questionPagination.items?.length<=0}">
        <div fxFlex="50" fxLayoutAlign="start center" class="combobox_action">
          <div class="end-button" *ngIf="!getQuestionsToTest" [ngClass]="{'hideButton': (isExamFinish || fromQuestionBank)}">
            <button *ngIf="isAllQuestion && hasDeletePermission" mat-raised-button color="warn"
              (click)="removeQuestion(null, true)">
              <span class="material-icons-outlined">delete</span>
              Xoá đã chọn
            </button>
            <button *ngIf="isAllQuestion && hasEditPermission" mat-raised-button color="primary" class="button-sm mr_2"
              (click)="requestApproveQuestion(null, true)">
              <span class="material-icons-outlined">
                check_circle_outline
              </span>
              Gửi duyệt
            </button>
            <button *ngIf="!isAllQuestion && hasApprovePermission" mat-raised-button color="warn"
              (click)="refuseQuestion(null, true)">
              Trả lại
            </button>
            <button *ngIf="!isAllQuestion && hasApprovePermission" mat-raised-button color="primary"
              (click)="approveQuestion(null, true)">
              Duyệt
            </button>
          </div>
        </div>
        <div [ngClass]="{'hideButton': (isExamFinish || fromQuestionBank)}" fxFlex="50" fxLayoutAlign="end center" class="combobox_action">
          <div class="filter_bottom_action">
            <div class="fitler_bottom_action_paging_page">
              <mat-paginator [length]="questionPagination.totalItems" [pageSizeOptions]="[10, 20, 30, 100]">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End table list question -->

<div id="question_hide" *ngIf="showFileDownload">
  <div class="question_item" *ngFor="let item of questionPagination.items; let it = index">
    <span class="title_large">
      <span class="no">Câu {{it + 1}} : </span>
      <span *ngIf="item.content" class="title" [innerHTML]="item.content | safeHtml"></span>
    </span>
    <div *ngIf="item.answers" style="margin-left: 20px;">
      <div *ngFor="let answer of item.answers; let ans=index">
        <span style="display: flex; align-items: center;">
          <span *ngIf="item.type !=='TFQ' && item.type !=='TFC' && answer.content" style="margin-left: 3px"
            [innerHTML]="answer.content | safeHtml"></span>
          <span *ngIf="item.type ==='TFQ'" style="margin-left: 3px">{{answer.content === 'ans-false' ? 'Sai' :
            'Đúng'}}</span>
          <span *ngIf="item.type ==='TFC'" style="margin-left: 3px">{{answer.trueAnswer === 0 ? 'Sai' : 'Đúng'}}</span>
        </span>
      </div>
    </div>
    <div *ngIf="item.questions" style="margin-left: 20px;">
      <div *ngFor="let question of item.questions; let q = index">
        <span style="font-weight: bold;display:flex; align-items: center;">
          <span *ngIf="question.content" style="margin-left: 3px" [innerHTML]="question.content | safeHtml"></span>
        </span>
        <div *ngIf="question.answers" style="margin-left: 3px">
          <span *ngFor="let aq of question.answers; let m=index; let qa=index"
            style="display: flex; align-items: center;">
            <span style="display:flex; align-items: center;">
              <span *ngIf="aq.content" style="margin-left: 3px" [innerHTML]="aq.content | safeHtml"></span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>