.function-search {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 71.8px;
  padding: 0 20px;
  background: white;
  border-left: 0;

  .filter_search_input {
    .input_search {
      background-image: url('../../../../../assets/images/icon/search.svg');
      background-size: 10% 50%;
      background-repeat: no-repeat;
      background-position: right center;
    }

    input {
      width: 253px;
      height: 34px !important;
      border: 0.5px solid rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      border-radius: 2px;
      font-size: 13px;
      line-height: 18px;
      color: #7e8485;
      padding-left: 10px;
      padding-right: 25px;
      border-radius: 4px;
    }
  }
}

.table-list-question {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;

  .mat-table .mat-header-cell {
    font-size: 12px;
    font-weight: 600;
    color: #555555;
  }

  .mat-cell,
  .mat-footer-cell {
    font-weight: 600;
    font-size: 14px;
  }

  .mat-cell {
    position: relative;
    vertical-align: middle;
    padding-right: 11px;

    .dropdown_question {
      .img_dropdown {
        position: absolute;
        right: 20%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .type {
      color: white;
      padding: 0 10px;
      height: 21px;
      border-radius: 4px;
      font-weight: normal;
      // font-weight: 600;
      font-size: 12px;
      font-style: normal;
      margin-top: 16px;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;

      &.single {
        background: #f8877f;
      }

      &.multi {
        background: #68c9ff;
      }
    }

    .type_quest .title_quest {
      color: #555555;
      font-size: 13px;
      margin-bottom: 7px;
      font-weight: normal !important;
    }

    .note {
      margin-top: 19px;
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      color: #555555;
      border: 0.5px solid #acacac;
      box-sizing: border-box;
      border-radius: 2px;
      width: 198px;
      height: 65px;
      padding: 6px 10px;
    }
  }

  .row_flex {
    padding: 0 18px;
    background: white;

    .end-button {
      display: flex;
      align-items: center;
      justify-content: center;

      button:not(:last-child) {
        margin-right: 20px;
      }

      .sent_approved_question {
        width: 17px;
      }
    }
  }

  .header-checkbox {
    padding-left: 21px !important;
    vertical-align: middle !important;
  }
}

:host ::ng-deep .mat-menu-item .mat-icon {
  margin-right: 8px !important;
}

:host ::ng-deep button.mat-menu-item {
  font-size: 13px;
  color: #555555;
}

:host ::ng-deep td.mat-cell:first-of-type {
  padding-top: 10px;
}

:host ::ng-deep td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 21px;
  vertical-align: top !important;
  max-width: 35px;
}

.top_element {
  vertical-align: top !important;
}

.title_quest {
  font-weight: normal;
}

.confirm_question button:not(:last-child) {
  margin-right: 15px;
}

.hideCheckboxField {
  display: none;
}

.hideButton,
.hidenAction {
  display: none !important;
}

.number_stt {
  margin-top: 0;
}

#question_hide {
  display: none;

  .title {
    font-weight: bold;
  }

  .question_item {
    .title_large {
      display: flex;
      align-items: center;
    }

    .no {
      margin-right: 5px;
      font-weight: normal;
    }
  }
}

th.mat-column-score,
td.mat-column-score {
  text-align: center;
  justify-content: center;
}

.score {
  background: #ccffce;
  border-radius: 23px;
  padding: 5px 15px;
  color: #4caf50;
}

.fixed_table {
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;

  table {
    // background-color: red !important;
  }
}

.no_data_content {
  >td {
    vertical-align: middle !important;
  }
}

.mat-column-function {
  width: 200px !important;
  text-align: right !important;
  padding-right: 20px !important;
}

td.mat-column-type {
  padding: 10px 0px;
}

button.btn-file{
  margin-left: 15px;
}