.question-content{
    position: relative;
    border: 1px solid #eeeeee;
    margin-top: 0.5rem;
    border-radius: 5px;
    padding: 1rem;
    height: fit-content;
}
.phuong-an-content{
    margin-top: -7.4rem;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 1rem;
    margin-left: 0.5rem;
}
.phuong-an-content-column{
    margin-top: 0.5rem;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 1rem;
}
.input-content{
    margin-top: 1rem;
}
.create-answer-question{
    position: absolute;
    right: 1rem;
}
:host ::ng-deep .ck-phuongan .cke_top,:host ::ng-deep .ck-phuongan .cke_bottom{
	display: none !important;
}
:host ::ng-deep  .ck-noidung u{
    text-decoration: none;
    border-bottom: 1px solid #eeeeee;
}