<div fxLayout={{flexLayout}} fxLayout.xs="column" fxLayout.sm="column">
  <div class="question-content" fxFlex='40%' fxLayout="column">
    <div fxLayout="row">
      <p><b>Nội dung câu hỏi :</b></p>
      <!-- <button class="create-answer-question" mat-raised-button color="primary" (click)="addAnswer()" ><mat-icon >add</mat-icon>Tạo phương án</button> -->
    </div>
    <div class="input-content ck-editor-cls">
      <ckeditor #ck [(ngModel)]="ckeditorContent" class="ck-noidung" [config]="ckeQuestionConfig">
        <!-- <ckbutton [name]="'saveButton'"  [label]="'Save Document'"  [command]="'underline'"
            [toolbar]="'styles'">abc</ckbutton> -->
      </ckeditor>
      <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
        style="display:none!important" />
      <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
      <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
    </div>
  </div>
  <div [ngClass]="flexLayout==='column'?'phuong-an-content-column':'phuong-an-content'" fxFlex='60%'
    [ngClass.sm]="'phuong-an-content-column'" [ngClass.xs]="'phuong-an-content-column'">
    <label><b>Phương án:</b></label>
    <ng-container *ngFor="let answer of SortedAnswers() ; index as i">
      <div fxLayout="row">
        <div data-so-thu-tu fxFlex="10" style="margin: auto;">
          <div class="radio radio-label-custom">
            <label>
              <mat-radio-button (change)="changeSelectAnswer(i)" value="checkboxG_{{i}}">{{alphabet[i]}}
              </mat-radio-button>
            </label>
          </div>
        </div>
        <div fxFlex="80" class="m-10">
          <ckeditor #cks class="ck-phuongan" readOnly="true" data="{{answer.NoiDung}}" [config]="configAnswer" style="width: 100%;"></ckeditor>
          <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
            style="display:none!important" />
          <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
          <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
        </div>

        <div fxFlex="10" style="margin: auto;">
          <button mat-button (click)="deleteAnswer(answer.id)" title="Xóa">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="center-btn-footer" [hidden]="config==2 || dataQuestion!=null">
  <button mat-raised-button class="btn-footer btn-success btn-fixed-width" (click)="getvalue()">Lưu</button>
  <button mat-raised-button class="btn-footer btn-success" (click)="SaveAndCreate()">Lưu và tạo mới</button>
  <a routerLink="/dashboard/questionbanks/">
    <button mat-raised-button class="btn-footer btn-cancel btn-fixed-width">Hủy</button>
    </a>
</div>
