  <div class="settings apply-css-alpha">
    <div fxLayout="row" fxLayoutAlign="start center" class="row_flex row_config" *ngIf="isReady">
      <div class="check" fxFlex="30">
        <mat-checkbox class="example-margin" [(ngModel)]="isSetTestTime" (ngModelChange)="changControlInput()"
          [color]="'primary'">Thời gian làm bài</mat-checkbox>
      </div>
      <div fxFlex="5">
        <mat-form-field class="example-full-width test-time" appearance="outline">
          <mat-label>Phút</mat-label>
          <input matInput [formControl]="testTimeControl" type="number" min="1" [(ngModel)]="testConfigModel.testTime"
            step="1" />
          <mat-error *ngIf="testTimeControl.hasError('required') && isSetTestTime">Thời gian làm bài không được để trống
          </mat-error>
          <mat-error *ngIf="testTimeControl.hasError('min') && isSetTestTime">Thời gian tối thiểu là 5 phút
          </mat-error>
          <mat-error *ngIf="testTimeControl.hasError('pattern') && isSetTestTime && testConfigModel.testTime > 5">Thời gian phải là số nguyên
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="isReady" fxLayout="row" fxLayoutAlign="start center" class="row_flex row_config">
      <div class="check" fxFlex="30">
        <mat-checkbox class="example-margin" [(ngModel)]="testConfigModel.allowToRedo"
          (ngModelChange)="changControlInput()" [color]="'primary'">Cho phép thi lại tối đa</mat-checkbox>
      </div>
      <div fxFlex="5">
        <mat-form-field class="example-full-width test-time" appearance="outline">
          <mat-label>Lần</mat-label>
          <input matInput [formControl]="allowToReDoControl" type="number" min="1" step="1"
            [(ngModel)]="testConfigModel.theMaximumNumberToRedo" />
          <mat-error *ngIf="allowToReDoControl.hasError('required') && testConfigModel.allowToRedo">Số lần thi lại tối
            đa không được để trống</mat-error>
          <mat-error *ngIf="allowToReDoControl.hasError('pattern') && testConfigModel.allowToRedo">Số lần thi lại phải là số nguyên
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="isReady" fxLayout="row" fxLayoutAlign="start center" class="row_flex row_config">
      <div class="check" fxFlex="30">
        <mat-checkbox class="example-margin" [(ngModel)]="testConfigModel.viewCorrectResultAfterSubmittingTheTest"
          [color]="'primary'">Hiển thị đáp án đúng sau khi nộp bài</mat-checkbox>
      </div>
    </div>
    <!-- <div *ngIf="isReady" fxLayout="row" fxLayoutAlign="start center" class="row_flex row_config">
      <div class="check" fxFlex="30">
        <mat-checkbox class="example-margin" [(ngModel)]="testConfigModel.viewResultsAfterSubmitting" [color]="'primary'">Hiển thị kết quả sau khi nộp bài</mat-checkbox>
      </div>
    </div> -->
    <div *ngIf="isReady" fxLayout="row" fxLayoutAlign="start center" class="row_flex row_config">
      <div class="check" fxFlex="30">
        <mat-checkbox class="example-margin" [(ngModel)]="testConfigModel.isRandomizeQuestions" [color]="'primary'">Xáo
          trộn câu hỏi</mat-checkbox>
      </div>
    </div>
    <!-- <div *ngIf="isReady" fxLayout="row" fxLayoutAlign="start center" class="row_flex row_config">
      <div class="check" fxFlex="30">
        <mat-checkbox class="example-margin" [(ngModel)]="isWriteLog" [color]="'primary'">Tự động ghi log sau</mat-checkbox>
      </div>
      <div fxFlex="5">
        <input matInput [disabled]="!isWriteLog" type="number" id="myNumber" min="1" [(ngModel)]="testConfigModel.intervalWriteLog"/>
      </div>
      <div fxFlex="5" fxLayoutAlign="start center">
        <label class="end_label">Phút</label>
      </div>
    </div> -->

    <!-- <div *ngIf="isReady" fxLayout="row" fxLayoutAlign="start center" class="row_flex row_config">
      <div class="check" fxFlex="30">
        <mat-checkbox class="example-margin" [(ngModel)]="isGetRandomQuestion" (ngModelChange)="changControlInput()" [color]="'primary'">Lấy ngẫu nhiên</mat-checkbox>
      </div>
      <div fxFlex="5">
        <mat-form-field class="example-full-width test-time"  appearance="outline" >
          <input matInput [formControl]="questionsRandomCtrl" type="number" min="1" [(ngModel)]="testConfigModel.generateNumberRandomQuetions" />
          <mat-error *ngIf="questionsRandomCtrl.hasError('required') && isGetRandomQuestion">Số câu hỏi lấy ngẫu nhiên không được để trống</mat-error>
          <mat-error *ngIf="questionsRandomCtrl.hasError('max') && isGetRandomQuestion">Số câu hỏi lấy ngẫu nhiên không được lớn hơn tổng số câu hỏi</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="11" *ngIf="isReady" fxLayoutAlign="start center">
        <label class="end_label">/ {{totalQuestion}} câu hỏi</label>
      </div>
    </div> -->

    <div *ngIf="isReady" fxLayout="row" fxLayoutAlign="start center" class="row_flex row_config">
      <div class="check" fxFlex="30">
        <label class="example-margin">Số câu hỏi hiển thị trên mỗi trang</label>
      </div>
      <div fxFlex="5">
        <mat-form-field class="example-full-width test-time" appearance="outline">
          <mat-label>Câu hỏi</mat-label>
          <input matInput [formControl]="itemPerPageCtrl" type="number" min="1"
            [(ngModel)]="testConfigModel.numberOfQuestionOnThePage" />
          <mat-error *ngIf="itemPerPageCtrl.hasError('required')">Số câu hỏi trên mỗi trang không được để trống
          </mat-error>
          <mat-error *ngIf="itemPerPageCtrl.hasError('max')">Số câu hỏi trên mỗi trang không được lớn hơn tổng số câu
            hỏi</mat-error>
          <mat-error *ngIf="itemPerPageCtrl.hasError('min') && totalQuestion>0">Số câu hỏi trên mỗi trang phải lớn hơn 0</mat-error>
            <mat-error *ngIf="allowToReDoControl.hasError('pattern')">Số câu hỏi trên mỗi trang phải là số nguyên
            </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
