  #myNumber {
    width: 54px;
    height: 29px !important;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
  }

  .row_config {
    margin-bottom: 20px;
    line-height: 18px;
    color: #555555;
    opacity: 0.98;
  }

  .end_label {
    margin-left: 10px;
  }

  :host ::ng-deep .settings .mat-form-field-subscript-wrapper {
    width: 425px !important;
  }

