//header
.header {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 15px;
}

.card {
  width: 100%;
  height: 100%;
}

.mat-card-lesson {
  border-radius: 10px;
}

.content-not-found {
  min-height: 70vh;
}

.footer-paging {
  position: sticky;
  bottom: 0;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.sort-item {
  transform: rotate(180deg);
}

// .my-pagination .ngx-pagination .current {
//   background: red;
// }

::ng-deep .ngx-pagination .current {
  border-radius: 50%;
  background: #4caf50 !important;
}

:host ::ng-deep .my-pagination {
  $color: gray;

  ul {
    display: flex;
    align-items: center;
  }

  li {
    border-radius: 50%;
    border: white;
    background: white;
    color: $color;
    margin: 10px;
    width: 35px;
    height: 35px;
    padding: 6px 3px 0 3px;
    text-align: center;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);

    &.current {
      padding: 8px 3px 0 3px !important;
      color: white;
    }

    &>a span {
      margin-top: 3px;
      color: #CACACA;
    }

    &.pagination-next a::after,
    &.pagination-previous a::before,
    &.pagination-next.disabled::after,
    &.pagination-previous.disabled::before {
      margin-left: 0;
      margin-right: 0;
      color: $color;
    }

    a:hover,
    button:hover {
      border-radius: 50%;
    }
  }
}

a {
  text-decoration: none;
  color: #555555;
}

//select sort
.sort-by {
  border-radius: 5px;
  border: none;
  //border: 1px solid #cccccc;
  color: #555555;
  opacity: 0.98;
}

.sort-by-opption {
  height: 30px;
  padding: 10px;
}

.text {
  color: #888888;
  font-size: 13px;
}

.text-title {
  font-size: 14px;
  line-height: 14px;
}

.icon {
  height: 12px;
  color: #4caf50;
}

.icon-filter {
  width: 17px;
}

.button-filter {
  padding: 0 !important;
  height: 44px;
  width: 44px;
  border-radius: 6px;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 5%) !important;
}

.button-filter-disable {
  background-color: white !important;
}

//tên môn

.image-subject {
  position: relative;
  border-radius: 6px !important;
  margin-top: 0px !important;
  height: 155px;
  margin-bottom: 7px;
}

.subject-name {
  position: absolute;
  //background-color: aqua;
  top: 8px;
  right: 8px;
  padding: 5px;
  border-radius: 6px !important;
  color: white;
  font-size: 9px;
  text-transform: uppercase;
}

.lesson-name {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #303030;
  text-align: start;
  font-weight: bold;
  min-height: 45px;
  // cho hiển thị 2 dòng 
  width: 100%; // chiều rộng bằng khối bao nó
  overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
  text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
  -webkit-line-clamp: 2; // số dòng muốn hiển thị
  -webkit-box-orient: vertical;
  display: -webkit-box;

  ::ng-deep .mat-card-header-text {
    margin: 0;
  }
}

.progress-bar {
  height: 5px;
  border-radius: 7px;
}

::ng-deep .mat-progress-bar-buffer {
  background-color: #DEDEDE !important
}

.filter-submit {
  background-color: #4caf50;
}

//dùng cho chỗ search

.search {
  width: 100%;
  position: relative;
  display: flex;
  background: #FFFFFF;
  border-radius: 5px;
  margin-left: -12px;
}

.searchTerm {
  width: 103%;
  border-radius: 6px !important;
  padding: 12px 15px;
  border: none;
  height: 44px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 5%) !important;
  font-family: "Montserrat", sans-serif;
}

.searchButton {
  background: none;
  border: none;
  margin-left: -47px;
  color: #555555;

}

//
:host::ng-deep .mat-progress-bar-fill::after {
  background-color: #56D02B !important;
}

//

.list-lesson {
  min-height: 65vh;
}

:host::ng-deep .content {
  padding: 15px !important;
}

.menu-lesson {
  height: fit-content;
}

.a-unit:link {
  color: #000000;
}

.a-unit:hover {
  color: #4caf50 !important;
}

.a-unit:visited {
  color: #000000;
}

.menu-list-lesson-row {
  margin-left: -15px;
}

.example-header-imagess {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

button.a-button-detail {
  font-size: 10px;
  line-height: 19px;
  border-radius: 30px;
  min-width: 49px;
  padding: 0px;
}

:host::ng-deep .mat-menu-content {
  padding-left: 12px;
  padding-right: 12px;
}

// ::ng-deep .mat-menu-panel {
//     min-width: 100%;
// }

.option {
  color: #303030 !important;
}

mat-form-field {
  &.border-standard {

    // to change border color
    ::ng-deep .mat-form-field-outline {
      color: #888888 !important;
    }

    // to change label color
    ::ng-deep .mat-form-field-label {
      color: #888888 !important;
    }
  }
}

:host::ng-deep .mat-menu-panel {
  padding: 0 10px !important;
  width: 100% !important;
}

// select box
.input_select {
  width: 100%;
  height: 44px;
}

.matFormFieldSelectBox {
  height: 44px;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #555555;

  box-shadow: 0px 5px 20px rgb(0 0 0 / 5%) !important;
}


:host::ng-deep .mat-form-field-hide-placeholder .mat-select-placeholder {
  color: rgba(0, 0, 0, 0.42) !important;
}

:host::ng-deep .mat-form-field-underline {
  display: none;
}

:host::ng-deep .mat-form-field-infix {
  border-top: none;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.mat-select-panel-wrap {
  position: relative;
  top: 26px;
}

.mat-select-panel-wrap .mat-select-panel {
  min-width: calc(100%) !important;
  transform: translateX(4px) !important;
}

:host::ng-deep .mat-form-field-wrapper {
  width: 100% !important;
  padding-bottom: 0px !important;
}

//---

//mobile
.mobile {
  padding: 0;
  margin: 0;
}

.mobile-header {
  padding: 0;
  margin: 0 0 30px 0;
}

.text-mobile {
  font-size: 11px;
}

.title-moblie {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  font-weight: bold;
}

.avartar-course-mobile {
  height: 40px;
  width: 40px;
  border-radius: 50% !important;
}

.lesson-name {
  font-size: 15px;
  font-weight: 700;
}

.subject-name-mobile {
  background-color: yellowgreen;
  color: white;
  border-radius: 5px;
  padding: 8px;
  font-size: 11px;
  margin-left: 3px;
}

.progress-mobile {
  border-radius: 5px;
}

.lesson-not-found-mobile {
  width: 300px;
  height: auto;
}

.filter-container-mobile {
  margin-bottom: 30px;
}


@media (max-width:525px) {

  .mobile{
    padding-bottom: 25px;
  }

  .mobile-item {
    margin-bottom: 20px;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
    padding: 15px;
    background: #FFFFFF;
  }

  .mobile-header {
    margin: 10px 0;
  }

  .matFormFieldSelectBox {
    margin-bottom: 15px !important;
    padding: 5px 10px !important;
  }

  .filter-container-mobile {
    margin-bottom: 20px;
  }

  :host ::ng-deep .my-pagination ul {
    padding-left: 0;
  }

  .search {
    margin: 0px;
    margin-bottom: 15px !important;

    .searchTerm {
      width: 100% !important;
    }
  }

}

@media (max-width:425px) {
  .lesson-name {
    margin: unset;
    padding-bottom: 5px;
  }

  .text-title {
    padding-bottom: 10px;
  }

  .subject-name-mobile {
    text-align: center;
  }

  .detail-title {
    display: block !important;

    .text-mobile {
      font-size: 11px;
      display: inherit;
      margin-bottom: 5px;
    }
  }
}

.avatar-area {
  height: 30px;

  .first-name-avt {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #EEEEEE;
    color: #4CAF50;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
}