<div fxHide.xs>
  <div class="header">
    <h3 class="title">Bài giảng của tôi</h3>
    <div fxLayout=row fxLayout.md="column" fxLayout.sm="column" fxLayoutAlign.sm="none" fxLayoutAlign.md="none"
      fxLayoutGap.md="20px" fxLayoutGap.sm="20px" fxLayoutAlign="center center">
      <div fxFlex=50 fxLayoutGap=25px style="margin-bottom: 0 !important;">
        <mat-form-field fxFlex="25" fxLayoutAlign="start center" class="matFormFieldSelectBox" [floatLabel]="'never'"
          (click)="onGradeSelectClicked()">
          <mat-select [formControl]="gradeId" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering
            (selectionChange)="onChangeGradeSelected($event.value)">
            <mat-option>
              <ngx-mat-select-search placeholderLabel="Chọn khối" noEntriesFoundLabel="Không tìm thấy"
                [formControl]="gradeFilterCtrl">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option [value]='null'>Chọn khối</mat-option>
            <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
              {{grade.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex.gt-lg="20" fxFlex="25" fxLayoutAlign="start center" class="matFormFieldSelectBox"
          [floatLabel]="'never'" (click)="onSubjectSelectClicked()">
          <mat-select [formControl]="subjectId" placeholder="Chọn môn" #singleSelectSubject disableOptionCentering
            (selectionChange)="onChangeSubjectSelected($event.value)">
            <mat-option>
              <ngx-mat-select-search placeholderLabel="Chọn môn" noEntriesFoundLabel="Không tìm thấy"
                [formControl]="subjectFilterCtrl">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option [value]='null'>Chọn môn</mat-option>
            <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.id">
              {{subject.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="35" fxLayoutAlign="start center" class="matFormFieldSelectBox" [floatLabel]="'never'">
          <mat-select [value]="selected" (selectionChange)="selectedFilterChange($event.value)">
            <mat-option *ngFor="let item of listOptionFilter" [value]="item.id" class="option">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex=50 fxLayoutAlign="end center" fxLayoutAlign.md="start center" fxLayoutAlign.sm="start center"
        fxLayoutGap="30px">
        <div fxLayout=row class="search" fxFlex="100" fxFlex=60 fxLayoutAlign="end center">
          <input type="text" class="searchTerm" placeholder="Tìm kiếm tên bài giảng..." [(ngModel)]="lessonSearch"
            (change)="inputChange($event)">
          <button type="submit" class="searchButton">
            <mat-icon>search</mat-icon>
          </button>
        </div>

        <div>

          <button *ngIf="lessonSearch || isFilter == true" mat-raised-button color="primary" (click)="filter()"
            class="button-filter">
            <mat-icon svgIcon="filter-white" class="icon-filter">
            </mat-icon>
          </button>

          <button *ngIf="!lessonSearch && isFilter == false" mat-raised-button (click)="filter()" class="button-filter"
            [disabled]="isFilter == false"
            [ngClass]="{'filter-submit':isFilter ==true,'button-filter-disable':isFilter==false}">
            <mat-icon svgIcon="filter-black" class="icon-filter">
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="lessons.length === 0; else elseTemplate">
    <mat-card fxLayout="column" fxLayoutAlign="center center" class="content-not-found">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
        <img src="../../../../../assets/images/lesson/lessonNotFound.png" alt="">
        <div>
          <span>Không tìm thấy kết quả tìm kiếm bài giảng:
            <span *ngIf="subjectName != ''">
              Môn&nbsp;<span style="font-weight: 700;">{{subjectName}}&nbsp;</span>
            </span>
            <span style="font-weight: 700;" *ngIf="lessonSearch!=''">{{lessonSearch}}&nbsp;</span>
            <span *ngIf="gradeName!=''">trong khối&nbsp;<span style="font-weight: 700;">{{gradeName}}</span> </span>
          </span>
          <br>
          <span>Đề xuất</span>
          <ul>
            <li>Xin bạn hãy chắc chắn rằng tất cả các từ đều đúng chính tả</li>
            <li>Hãy thử lại với những từ khóa khác</li>
            <li>Hãy thử những từ khóa chung hơn</li>
          </ul>
        </div>
      </div>
    </mat-card>
  </ng-container>
  <ng-template #elseTemplate>
    <div fxLayout="column">
      <div class="list-lesson">
        <div>
          <div fxLayout="row wrap">
            <div
              *ngFor="let lesson of lessons | paginate: { id:'first', itemsPerPage: itemsPerPage, currentPage: page, totalItems:totalLength }; let i = index"
              fxFlex.gt-lg="20" fxFlex.gt-md="25" fxFlex.md="50" fxFlex.sm="50" fxLayoutAlign="center center"
              class="list-lesson-dashboard">
              <a (click)="goToLesson(lesson.id)" class="card">
                <mat-card fxFlex="100" class="mat-card-lesson">
                  <mat-card-content class="content">
                    <div fxLayout="column" fxLayoutGap=7px>
                      <div class="image-subject">
                        <img mat-card-image
                          src="{{lesson.avatarUrl==''?'../../../../../assets/images/background/lesson-background-1.jpg':lesson.avatarUrl}}"
                          class="image-subject">
                        <span class="subject-name" [style.background-color]="listColor[i]">{{lesson.subjectName}}</span>
                      </div>

                      <span class="lesson-name text-wrap" #tooltip="matTooltip" matTooltip="{{lesson.name}}">
                        {{lesson.name}}
                      </span>
                      <div fxLayout="row">
                        <div fxLayoutAlign="start center">
                          <div *ngIf="!lesson.teacherAvatar; else elseTemplateAvatarTeacher" fxLayoutAlign="center center" class="avatar-area m-r-10">
                            <div fxLayoutAlign="center center" class="first-name-avt">
                              {{getFirstName(lesson.teacherName)}}
                            </div>
                          </div>
                          <ng-template #elseTemplateAvatarTeacher>
                            <img src="{{lesson.teacherAvatar}}"
                            style="height: 30px; width: 30px; border-radius: 50%; margin-right: 5px;">
                          </ng-template>
                          <!-- {{getFirstName(lesson.teacherName)}}

                          <img src="{{lesson.teacherAvatar}}"
                            style="height: 30px; width: 30px; border-radius: 50%; margin-right: 5px;"> -->
                          <span class="text-title"> GV: {{lesson.teacherName}} </span>
                        </div>
                      </div>
                      <div fxLayout="row">
                        <div fxLayout="row" fxFlex=50>
                          <mat-icon svgIcon="icon-publication-date-flag-list-lesson" class="icon"></mat-icon>
                          <span class="text">Ngày đăng ký</span>
                        </div>
                        <div fxLayout="row" fxFlex=50 fxLayoutAlign="end center">
                          <span class="text">{{lesson.registrationDate | date:'dd-MM-yyyy'}}</span>
                        </div>
                      </div>
                      <div fxLayout="row">
                        <div fxLayout="row" fxFlex=50>
                          <mat-icon svgIcon="icon-learn-time-list-lesson" class="icon"></mat-icon>
                          <span class="text">Ngày kết thúc</span>
                        </div>
                        <div fxLayout="row" fxFlex=50 fxLayoutAlign="end center">
                          <ng-container *ngIf="lesson.learnTime == 'INF'; else elseTemplate">
                            <span class="text">Vô thời hạn</span>
                          </ng-container>
                          <ng-template #elseTemplate>
                            <ng-container *ngIf="lesson.startDateNull==true; else elseTemplateStartDateNotNull">
                              <span class="text"></span>
                            </ng-container>
                            <ng-template #elseTemplateStartDateNotNull>
                              <span class="text">{{lesson.endDate | date:'dd-MM-yyyy'}}</span>
                            </ng-template>
                          </ng-template>
                        </div>
                      </div>

                      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=10px>
                        <mat-progress-bar class="progress" mode="determinate" [value]="lesson.percentageOfCompletion"
                          class="progress-bar">
                        </mat-progress-bar>
                        <span class="text">{{lesson.percentageOfCompletion}}%</span>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top:10px;" fxLayout="row" fxLayoutAlign="center center" *ngIf="totalLength > 10">
        <pagination-controls id='first' class="paging my-pagination" previousLabel="" nextLabel=""
          (pageChange)="pageChange($event)">
        </pagination-controls>
      </div>
    </div>
  </ng-template>

</div>

<!--mobile-->

<div id="content-mobile" fxHide.lg fxHide.lt-xl fxHide.xl fxHide.gt-lg fxHide.gt-md fxShow.xs class="mobile">
  <div class="mobile-header" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title-moblie">Bài giảng của tôi</span>

    <button mat-icon-button (click)="orderByDate()" [ngClass]="{'sort-item': isSort}">
      <mat-icon svgIcon="orderby"></mat-icon>
    </button>
  </div>

  <div fxLayout=column fxLayoutGap="25px" class="filter-container-mobile">
    <mat-form-field fxFlex="25" fxLayoutAlign="start center" class="matFormFieldSelectBox" [floatLabel]="'never'"
      (click)="onGradeSelectClicked()">
      <mat-select [formControl]="gradeId" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering
        (selectionChange)="onChangeGradeSelected($event.value)">
        <mat-option>
          <ngx-mat-select-search placeholderLabel="Chọn khối" noEntriesFoundLabel="Không tìm thấy"
            [formControl]="gradeFilterCtrl">
          </ngx-mat-select-search>
        </mat-option>
        <mat-option [value]='null'>Chọn khối</mat-option>
        <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
          {{grade.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="25" fxLayoutAlign="start center" class="matFormFieldSelectBox" [floatLabel]="'never'"
      (click)="onSubjectSelectClicked()">
      <mat-select [formControl]="subjectId" placeholder="Chọn môn" #singleSelectSubject disableOptionCentering
        (selectionChange)="onChangeSubjectSelected($event.value)">
        <mat-option>
          <ngx-mat-select-search placeholderLabel="Chọn môn" noEntriesFoundLabel="Không tìm thấy"
            [formControl]="subjectFilterCtrl">
          </ngx-mat-select-search>
        </mat-option>
        <mat-option [value]='null'>Chọn môn</mat-option>
        <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.id">
          {{subject.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div fxLayout=row class="search" fxFlex="100" fxFlex=60 fxLayoutAlign="end center">
      <input type="text" class="searchTerm" placeholder="Tìm kiếm tên bài giảng..." [(ngModel)]="lessonSearch"
        (change)="inputChange($event)">
    </div>

    <button mat-raised-button color="primary" (click)="filterMobile()">Lọc</button>
  </div>
  <ng-container *ngIf="lessons.length == 0 else elseTemp">
    <div fxLayout.xs="column" fxLayoutAlign.xs="center center">
      <img src="../../../../../assets/images/lesson/lessonNotFound.png" alt="" class="lesson-not-found-mobile">
      <div>
        <span>Bạn chưa được ghi danh vào khóa học nào </span>
      </div>
    </div>
  </ng-container>
  <ng-template #elseTemp>
    <div
      *ngFor="let lesson of lessons | paginate: {id:'two', itemsPerPage: itemsPerPage, currentPage: page, totalItems:totalLength }; let i = index"
      fxLayout="column" class="mobile-item" (click)="clickItemMobile(lesson.id)">
      <a>
        <div fxLayout="row" fxFlex=100>
          <div fxFlex=15>
            <img src="{{lesson.avatarUrl}}" class="avartar-course-mobile">
          </div>
          <div fxLayout="column" fxFlex=100>
            <span class="lesson-name">{{lesson.name}}</span>
            <span class="text-title"> GV: {{lesson.teacherName}} </span>
          </div>
          <div class="subject-mobile" fxFlex.xs=22>
            <span fxLayoutAlign="center center" class="subject-name-mobile"
              [style.background-color]="listColor[i]">{{lesson.subjectName}}</span>
          </div>
        </div>
      </a>
      <div fxLayout="row">
        <div fxFlex=15></div>
        <div fxLayout="column" style="width: 100%;" fxLayoutGap="10px">
          <div fxLayout="row" fxLayoutAlign="space-between center" class="detail-title">
            <span class="text-mobile">Ngày đăng ký :{{lesson.registrationDate | date:'dd-MM-yyyy'}}</span>
            <ng-container *ngIf="lesson.learnTime == 'INF'; else elseTemplate">
              <span class="text-mobile">Ngày kết thúc: Vô thời hạn</span>
            </ng-container>
            <ng-template #elseTemplate>
              <span class="text-mobile">Ngày kết thúc: {{lesson.endDate | date:'dd-MM-yyyy'}}</span>
            </ng-template>
          </div>

          <div fxLayout=row fxLayoutGap=10px fxLayoutAlign="center center">
            <mat-progress-bar class="progress-mobile" mode="determinate" [value]="lesson.percentageOfCompletion">
            </mat-progress-bar>
            <span class="text-mobile">{{lesson.percentageOfCompletion}}%</span>
          </div>
        </div>
      </div>
      <br>
    </div>
    <div fxLayout.xs="row" fxLayoutAlign.xs="center center" *ngIf="totalLength > 10">
      <pagination-controls directionLinks="false" maxSize="5" id='two' class="paging my-pagination" previousLabel=""
        nextLabel="" (pageChange)="pageChange($event)">
      </pagination-controls>
    </div>

  </ng-template>
</div>
<!--reponsive-->
