.row-flex {
  display: flex;
  padding: 10px 20px;
}

//qsb
.label_combobox {
  color: #555555 !important;
  font-size: 14px;
}

.combobox_action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 6px;
}

.input-infor {
  height: 29px;
  color: #555555;
  font-family: "Open Sans", sans-serif;
  padding: 8px;
  border: 0.5px solid #555555;
  border-radius: 2px;
}

.combobox_selection {
  width: 146px;
  height: 30px;
  border: 0.5px solid #555555;
  box-sizing: border-box;
  border-radius: 2px;
  color: #555555;
}

.statistic-button {
  height: 30px;
  max-height: 30px;
}

.highlight {
  background: #efefef;
  /* green */
}

.total-question {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  opacity: 0.98;
  position: absolute;
  right: 20px;
  top: 10px;
}

.questions-left {
  border: 1px solid #b0b0b0;
  box-sizing: border-box;
  border-radius: 6px;

  .table-question-title-container {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
  }

  .questions-table {
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.question-right {
  border: 1px solid #cacaca;
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: 20px;
}

.empty-question-right {
  min-height: 30vh;
}

.empty-question-left {
  min-height: calc(30vh - 144px);
}

.label-tip {
  color: #aba1a1;
}

.table-question-title-container {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;

  .table_question_title {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #303030;
    opacity: 0.98;
  }
}

.question_row {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  color: #555555;
  opacity: 0.98;
  cursor: pointer;
  height: 50px;
}

.question_row_child {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  color: #555555;
  opacity: 0.98;
  padding: 0 10px;
  cursor: pointer;
  height: 50px;
}

.border_bottom_header {
  top: 70px;
  position: absolute;
  min-width: 100%;
  left: 0;
  border-bottom: 0.5px solid #ccc;
}

.list_header {
  min-height: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */

  color: #555555;

  opacity: 0.98;
}

.score_label {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 29px;
  color: #555555;
  margin-left: 20px;
}

.button_group {
  margin: 10px 0px;
}

.row-active {
  background: #f3f8f4 !important;
}

.group-question {
  font-weight: bold;
}

.label_combobox {
  color: #555555 !important;
}

.row_flex {
  display: flex;
  // padding: 10px;
  margin-bottom: 20px;
}

.combobox_action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 6px;
}

.input-infor {
  height: 29px;
  color: #555555;
  font-family: "Open Sans", sans-serif;
  padding: 8px;
  border: 0.5px solid #555555;
  border-radius: 2px;
}

.combobox_selection {
  width: 146px;
  height: 30px;
  border: 0.5px solid #555555;
  box-sizing: border-box;
  border-radius: 2px;
  color: #555555;
}

.statistic-button {
  height: 30px;
  max-height: 30px;
}

.content {
  min-height: 30vh;
  border: 1px solid #cacaca;
  box-sizing: border-box;
  border-radius: 6px;
}

.hover-row:hover {
  background-color: #f3f6f2;

  * {
    background-color: #f3f6f2 !important;
  }
}

.input-score {
  width: 30%;
  text-align: center;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.input_name {
  height: 31px;
  padding: 0 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-size: 14px;
}

.filter-control {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
}

.inputNumber {
  width: 100%;
  height: 34px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.table_question_title {
  position: relative;
  font-style: normal;
  font-weight: 600;
  color: #555555;
  opacity: 0.98;
  margin-bottom: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.info {
  font-size: 14px;
}

.question_header {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  opacity: 0.98;
  background: #f3f8f4;
  border-radius: 12px;
}

.question_row {
  .block {
    width: 100%;
    justify-content: space-between;
  }
}

.question_row_child {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  opacity: 0.98;
  background: #f5f5f5;
  margin-top: 0px;
  margin-bottom: 0px;
  background: white;
  margin-bottom: 10px;

  .check_column {
    padding-left: 8px !important;
  }
}

.border_bottom_header {
  top: 70px;
  position: absolute;
  min-width: 100%;
  left: 0;
  border-bottom: 0.5px solid #ccc;
}

.list_header {
  // min-height: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  color: #555555;
  opacity: 0.98;
  height: 40px;
  padding: 0 15px;

  .check_column {
    max-width: 30px !important;
  }
}

.score_label {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 29px;
  color: #555555;
  margin-left: 20px;
}

.label-tip {
  color: #aba1a1;
}

.btn-upload-file {
  //   height: 31px;
  padding: 0px 5px;
  cursor: default;
  color: white;
  margin-left: 10px;
  margin-right: 7px;
  width: 34px;
  height: 34px;
  background: #4caf50;
  border-radius: 4px;
  justify-content: center !important;
  cursor: pointer;
}

.btn-disabled {
  cursor: not-allowed;
  color: #ccc !important;
}

.btn-add-test {
  cursor: default;
  color: white;
  width: 34px;
  height: 34px;
  left: 288px;
  top: 314px;
  background: #4caf50;
  border-radius: 4px;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer;
  margin-right: 15px;
}

.disable-button {
  cursor: not-allowed;
}

.btn-action-group {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px !important;
}

.list-question-wrapper {
  max-height: 650px;
  overflow-y: scroll;
  margin-bottom: 0px;
  padding: 20px 10px !important;
  border-bottom: 0.5px solid #ccc;
}

// .list_header,
// .question_row {
//   // padding: 10px 15px;
// }

.content_column {
  padding-right: 5px;
  overflow-wrap: break-word;
  height: 50px;
  overflow: hidden;
  display: flex;
  display: flex;
  align-items: flex-start;
  line-height: 140% !important;
}

.ct_column {
  height: unset;
  text-transform: uppercase;
}

.question-selected {
  background: #e7f7ea;
  border-radius: 5px;
}

.btn_update_score {
  margin-left: 10px;
}

.action_column {
  padding: 0 6px;
}

.btn-delete-test {
  width: 34px;
  height: 34px;
  background: #da251d;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
  cursor: pointer;
  //   &:hover {
  //     cursor: default;
  //     background: #ecebeb;
  //     border-radius: 4px;
  //   }
}

.btn_delete_selected {
  color: #fff;
}

:host ::ng-deep .mat-icon {
  font-size: 17px;
  height: 17px;
  width: 17px;
  vertical-align: sub;
}

.input_choose {
  .input_field {
    width: 100% !important;
  }
}

.label_input {
  min-width: 100px;
}

.exam {
  margin-top: 5px;
  margin-bottom: 5px;
}

.enter_search {
  flex: 1 !important;
  height: 34px;

  .input_s {
    width: 100%;
    font-family: "Montserrat", sans-serif;
  }

  .input_field {
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px !important;

    ::ng-deep .mat-form-field-appearance-outline {
      .mat-form-field-wrapper {
        margin: 0;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .mat-form-field-flex {
        height: 100%;
        border: 0;
      }
    }
  }
}

.question_type {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
  padding: 3px 10px;
  border-radius: 4px;
  margin: 0;
  margin-bottom: 3px;
  margin-left: 30px;
  height: 21px;
  line-height: 15px;

  &.single {
    background: #f8877f;
  }

  &.group {
    background: #4f91ff;
  }
}

.flex_item {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  opacity: 0.98;
  background: #fff;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid #e9e9e9;
  padding: 15px;
  cursor: pointer;

  &.question-selected,
  &:hover {
    background: #e7f7ea;
    border-radius: 5px;

    .question_row_child {
      background: #e7f7ea !important;
    }
  }
}

.check_column {
  max-width: 30px !important;
}

.title_number_question {
  padding: 10px 20px !important;
  border-bottom: 1px solid #ccc;
  padding: 0;
}

// .question{
//   div{
//     p{
//       line-height: 130%;
//     }
//   }
// }
select {
  font-family: "Montserrat", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:disabled {
  background: #f3f3f3;
}

.question {
  ::ng-deep > div > p > img {
    // background-color: red;
    vertical-align: middle;
  }
}

.demo {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100% !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  div {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100% !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.input-test-kit {
  height: 34px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 0 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #555555;
  opacity: 0.98;
  width: 125px;
}

.drp-test-kit {
  width: 125px !important;
}

.label_title {
  margin-bottom: 10px;
  font-weight: 500;
  margin-bottom: 0px;
}

.label_total {
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.actions {
  margin-bottom: 20px;
}

.color-green {
  color: #4caf50;
}

.color-red {
  color: #da251d;
}

.demo {
  div {
    p {
      img {
        vertical-align: middle !important;
      }
    }
  }
}

.bottom-icon {
  padding-bottom: 3px;
  margin-left: -5px;
}

.background-isprogressing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 400px;
}

.background-isprogressing {
  // position: absolute;
  background-color: #e9e9e9;
  // z-index: 999;
  width: 536px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4px 40px;
}
.progress-title {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #555555;
  opacity: 0.98;

  .progress-content {
    font-size: 14px;
    line-height: 17px;
  }
}
.video-js {
  width: 536px;
  height: 300px;
}
.note-video {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #da251d;
  font-weight: 600;
}

.content_column{
  position: relative;
}

#myNumber {
  width: 54px;
  height: 29px !important;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.row_config {
  margin-bottom: 20px;
  line-height: 18px;
  color: #555555;
  opacity: 0.98;
}

.end_label {
  margin-left: 10px;
}

:host ::ng-deep .settings .mat-form-field-subscript-wrapper {
  width: 425px !important;
}

.content-tab {
  padding: 20px 20px 20px 0px;
  overflow-x: hidden;
}

:host ::ng-deep #answer_question .mat-tab-label {
  padding: 0px 50px 0px 0px  !important;
}

:host ::ng-deep .settings .mat-checkbox-label {
  font-size: 14px !important;
}