<!-- <mat-card class="function-content">
  
</mat-card> -->

<mat-tab-group (selectedTabChange)="changeTab($event)" class="class_custom">
  <mat-tab label="BÀI GIẢNG">

    <app-lesson-report [currentTab]="currentTab"></app-lesson-report>

  </mat-tab>
  <mat-tab label="KỲ THI">

    <app-exam-report [currentTab]="currentTab"></app-exam-report>

  </mat-tab>
</mat-tab-group>
