// mat-card {
//   margin: 15px 0px 0px;
// }

:host ::ng-deep {

  .mat-tab-label {
    background-color: white;
    box-shadow: 0px 4px 40px rgb(0 0 0 / 5%);
    border-radius: 6px;
  }

  &.mat-tab-body-content {
    background-color: #F5F8F6;
  }

  &.mat-tab-body-wrapper {
    margin: 0 15px;
  }


  &.mat-tab-body {
    background-color: #f9f9f9;
    margin: 0 -15px;
  }

  .mat-tab-header {
    margin: 20px 15px 0;
    border-radius: 6px 0px 6px 0px;
  }

  .mat-tab-label-container {
    //margin: 20px 15px 0;
    background-color: white;
  }


  &.mat-tab-label-content {
    color: #555555;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.98;
  }
}

@media (max-width:425px) {

  //header on mobile
  :host::ng-deep .mat-tab-header {
    border-radius: 6px;
  }


  :host::ng-deep .mat-tab-label {
    width: 50%;
  }

  :host::ng-deep .mat-tab-label .mat-tab-label-content {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;
  }

  :host::ng-deep .mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    font-weight: 700;
    opacity: 1;
  }
}


@media (min-width:426px) and (max-width:1024px) {

  //header on mobile
  :host::ng-deep .mat-tab-header {
    border-radius: 6px;
  }


  :host::ng-deep .mat-tab-label {
    width: 50%;
  }

  :host::ng-deep .mat-tab-label .mat-tab-label-content {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;
  }

  :host::ng-deep .mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    font-weight: 700;
    opacity: 1;
  }
}

::ng-deep .class_custom .page-content {
  padding: 0 !important;
}
