<mat-card class="manage-card">
  <mat-card-content class="padding-0">
    <app-header-organize-exam class="height-80" [stepHeaderCtrl]="stepHeaderCtrl"></app-header-organize-exam>
  </mat-card-content>
</mat-card>

<div *ngIf="isReady else loading">
  <app-spinner2 [fullScreen]="isFullScreen"></app-spinner2>
  <app-organize-oncentration-exam *ngIf="organizeExamDetail.examType=='CON'" [organizeExamDetail]="organizeExamDetail">
  </app-organize-oncentration-exam>
  <app-organize-free-exam *ngIf="organizeExamDetail.examType=='FRE'" [organizeExamDetail]="organizeExamDetail">
  </app-organize-free-exam>
</div>

<ng-template #loading>

</ng-template>

<div fxLayout="row" fxLayoutAlign="center center" class="mt-3 mb-3" fxLayoutGap=15px>
  <button mat-stroked-button class="button-cancel" (click)="previousPage()">Quay lại</button>
  <button mat-raised-button (click)="nextPage()" color='primary'>
    <span>Lưu & Tiếp tục</span>
  </button>
</div>
