<div fxLayout="column" class="container" [ngClass]="{'isCloneQuestion': hideAction}">
  <div class="question-content">
    <div fxLayout="row" class="block-title" fxLayoutAlign="space-between">
      <div class="table_question_title">Nội dung câu hỏi</div>
      <button [ngClass]="{'isClone': hideAction}" mat-raised-button color='primary' (click)="updateQuestion(true)" [disabled]="disabledUpdate">Áp dụng</button>
    </div>
    <div fxLayout=row class="type-level-wrapper" [ngClass]="{'isClone': hideAction}">
      <div fxLayout=row fxFlex=50>
        <label fxFlex=25>Loại câu hỏi:</label>
        <mat-form-field fxLayoutAlign="start center" class="matFormFieldSelectBox combobox_selection"
          [floatLabel]="'never'">
          <mat-select disabled [formControl]="questionTypeCtrl" disableOptionCentering>
            <mat-option *ngFor="let type of typeQuestionEnum" [value]="type.id">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout=row fxFlex=50 fxLayoutAlign="end center">
        <label fxLayoutAlign="start center" fxFlex=20>Mức độ:</label>
        <mat-form-field fxLayoutAlign="start center" class="combobox_selection matFormFieldSelectBox"
          [floatLabel]="'never'">
          <mat-select [formControl]="questionLevelCtrl" disableOptionCentering>
            <mat-option *ngFor="let level of levelQuestionEnum" [value]="level.id">
              {{level.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="input-content ck-editor-cls" [attr.uploadUrl]="configUpload?.uploadUrl"
    [attr.token]="configUpload?.token">
      <ckeditor #ck [ngModel]="ckeditorContent" id='txtcontentCauHoi' [config]="configQuestion"
        (change)="onQuestionContentChange($event)">
      </ckeditor>
      <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
        style="display:none!important" />
      <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
      <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
    </div>
  </div>
  <div class="phuong-an-content">
    <label><b>Phương án:</b></label>
    <div class="answer-content" *ngFor="let group of groupAnswers(); let i=index" fxLayout="row">
      <div fxFlex="10%" fxLayoutAlign="center center">
        <label>({{i+1}})</label>
      </div>
      <div fxFlex="90%">
        <div class="answer" *ngFor="let answer of answersOfGroup(i+1)" fxLayout="column">
          <div class="container-answer" fxLayout="row">
            <div fxFlex="90%" class="m-10 ck-editor-cls" [attr.uploadUrl]="configUpload?.uploadUrl"
            [attr.token]="configUpload?.token">
              <ng-container *ngIf="answer.trueAnswer === 1">
                <ckeditor #cks class="ck-phuongan" readOnly="true" data="{{answer.content}}" [config]="configAnswer"
                  style="width: 100%;"></ckeditor>
                <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
                  style="display:none!important" />
                <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
                <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
                <div class="validatecontentPhuongAn"></div>
              </ng-container>
              <ng-container *ngIf="answer.trueAnswer === 0">
                <ckeditor #cks class="ck-phuongan " [ngModel]="answer.content" [config]="configAnswer"
                  style="width: 100%;" (change)="onAnswerContentChange($event,answer)"></ckeditor>
                <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
                  style="display:none!important" />
                <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
                <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
                <div class="validatecontentPhuongAn"></div>
              </ng-container>

              <!-- <input type="text" [(ngModel)]="answer.content" [disabled]="answer.trueAnswer" class="input-answer"> -->
            </div>
            <div fxFlex="10%" fxLayoutAlign="center center">
              <button mat-icon-button (click)="deleteAnswer(answer)" title="Xóa">
                <mat-icon svgIcon="trash"></mat-icon>
              </button>
            </div>
          </div>
        </div>
        <button mat-raised-button color="primary" class="m-10 btn-add-fake-answer" (click)="addFakeAnswer(i+1)">
          <mat-icon>add</mat-icon>Thêm phương án nhiễu
        </button>
      </div>

    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'isClone': hideAction}">
  <button mat-raised-button color='primary' [disabled]="disabledUpdate" (click)="updateQuestion(true)">Áp dụng</button>
</div>