$color-icon:#7E8485;
$color-icon-actived:white;

:host ::ng-deep {
  .icon-svg {
    svg {
      path {
        fill: $color-icon !important;
      }
    }
  }

  mat-icon {
    color: $color-icon !important;
  }

  .mat-list-item {

    &.selected {
      .icon-svg {
        svg {
          path {
            fill: $color-icon-actived !important;
          }
        }
      }

      mat-icon {
        color: $color-icon-actived !important;
      }
    }
  }
}

.profile-text {
  padding: 15px 0px 0px 0px;
}
