<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="user-profile" [style.background-image]="isStudent ? 'url(assets/layouts/manage-layout/images/student-mask.jpg)' : 'url(assets/layouts/manage-layout/images/manager-mask.jpg)'" style="background: no-repeat;">
    <!-- User profile image -->
    <div class="profile-img" style="visibility: hidden;">
        <img src="{{tokenInfo?.avatar}}" alt="user">
    </div>
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text">
        <a [matMenuTriggerFor]="sdprofile" class="" style="padding-left:10px"> {{tokenInfo?.fullName}}
            <i class="ti-angle-down font-12 m-l-5"></i>
        </a>
    </div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item (click)="onLogOut()">
            <mat-icon>exit_to_app</mat-icon> Đăng xuất
        </button>
    </mat-menu>
</div>

<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" group="{{menuitem.state}}"
        (click)="scrollToTop()">
        <a class="" appAccordionToggle routerLink="/{{menuitem.state}}" *ngIf="menuitem.type === 'link'"
            routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon *ngIf="menuitem.useIconSVG" svgIcon="{{menuitem.icon}}" class="icon-svg"></mat-icon>
            <mat-icon *ngIf="!menuitem.useIconSVG" >{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
        </a>

        <a class="" appAccordionToggle href="{{menuitem.state}}" *ngIf="menuitem.type === 'extLink'">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
        </a>
        <a class="" appAccordionToggle href="{{menuitem.state}}" target="_blank" *ngIf="menuitem.type === 'extTabLink'">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name | translate}}</span>
            <span fxFlex></span>
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
        </a>

        <a class="" appAccordionToggle href="javascript:;" *ngIf="menuitem.type === 'sub'">
            <mat-icon *ngIf="menuitem.useIconSVG" svgIcon="{{menuitem.icon}}" class="icon-svg"></mat-icon>
            <mat-icon *ngIf="!menuitem.useIconSVG" >{{ menuitem.icon }}</mat-icon>
            <!-- <mat-icon>{{ menuitem.icon }}</mat-icon> -->
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
            <mat-icon class="dd-icon">keyboard_arrow_down</mat-icon>
        </a>
        <mat-nav-list class="sub-item" *ngIf="menuitem.type === 'sub'">
            <mat-list-item class="child-item"
                *ngFor="let childitem of menuitem.children; let j=index; let i = childitem" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/{{menuitem.state}}/{{childitem.state}}"
                    *ngIf="childitem.type === 'link' && !childitem.isOverrideLink" class="relative"
                    routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}" (click)="itemSelect[i]=j">{{ childitem.name | translate}}</a>

                <a routerLink="{{childitem.state}}" *ngIf="childitem.type === 'link' && childitem.isOverrideLink"
                    class="relative" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}" (click)="itemSelect[i]=j">{{ childitem.name |
                    translate}}</a>
            </mat-list-item>
            <mat-list-item class="child-item" *ngFor="let childitem of menuitem.children; let j=index; let i=childitem">
                <a class="" href="javascript: void(0);" *ngIf="childitem.type === 'subchild'" (click)="itemSelect[i]=j"
                    [ngClass]="j==itemSelect[i]? 'selected' : ''">
                    <span>{{ childitem.name | translate }}</span>
                    <span fxFlex></span>
                    <mat-icon class="dd-icon">keyboard_arrow_down</mat-icon>
                </a>
                <mat-nav-list class="child-sub-item" *ngIf="childitem.type === 'subchild'">
                    <mat-list-item *ngFor="let child of childitem.subchildren" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="['/', menuitem.state, childitem.state, child.state ]"
                            routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">{{child.name | translate}}</a>
                    </mat-list-item>
                </mat-nav-list>
            </mat-list-item>

        </mat-nav-list>

        <div class="saperator text-muted" *ngIf="menuitem.type === 'saperator'">
            <span>{{ menuitem.name | translate }}</span>
        </div>
    </mat-list-item>
</mat-nav-list>