.dialog-content-wrapper {
    height: 70vh;
    overflow: auto;
  }
  
  .title-center {
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 20px;
  }
  
  :host ::ng-deep .matFormFieldSelectBox {
    line-height: 18px;
    color: #555555;
    margin-bottom: 5px;
  }
  
  :host ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(-10%);
  }
  
  :host ::ng-deep .mat-form-field-underline {
    display: none;
  }
  
  :host ::ng-deep .mat-form-field-infix {
    width: 95%;
  }
  
  :host ::ng-deep .mat-form-field-infix {
    border: 0.5px solid #ccc;
    border-radius: 2px;
    font-size: 13px;
    height: 34px;
    line-height: 20px;
    padding-left: 10px;
    opacity: 0.98;
  }
  
  .content_exam {  
    .label_combobox {
      margin-bottom: 10px;
      font-weight: 500;
    }
  
    .label_total {
      margin-left: 5px;
  
      &.question {
        color: #4CAD50;
      }
  
      &.score {
        color: #DA251D;
      }
    }
  }

  .button-cancel{
    padding: 0;
    display: block;
    margin: 0 auto !important;
    text-align: center;
  }
  
@media screen and (max-width: 1366px) {
  :ng-deep .mat-dialog-container{
    padding-bottom: 5px; 
  }
}
