<label class="title-center">{{this.data.title}}</label>
<div fxLayout="row" fxLayoutAlign="flex-end center" class="content_exam">
    <label fxLayoutAlign="end center" for="" class="label_combobox"> Số lượng câu hỏi:
    </label>
    <label fxLayoutAlign="start center" for="" class="label_combobox label_total question"> {{totalQuestion}}
    </label>
</div>
<div>
    <div class="dialog-content-wrapper">
        <app-list-question [showFileDownload]="false" [fromQuestionBank]="true"
            [listQuestionFromQuestionBank]="listQuestionFromQuestionBank"></app-list-question>
    </div>
    <!-- <mat-dialog-actions align="center">
        <button mat-raised-button mat-dialog-close class="m-3 button-cancel">Đóng</button>
    </mat-dialog-actions> -->
    <button mat-raised-button mat-dialog-close class="m-3 button-cancel">Đóng</button>
</div>