<div id="content">
  <mat-card class="content-container" *ngIf="isReady" 
    [ngClass]="{'dark_full': isLightMode === true, 'opacity_content': !content.detailsOfContent}">
    <mat-content id="full">
      <div [ngClass]="{'dark_mode': isLightMode === true,'content_doc__full':isFullScreen}" class="content_doc">
        <div [ngClass]="{'screen-full-color':isFull==true}" class="content" id="scroll-content"
          style="scroll-behavior: smooth;">
          <div id="content-page" [ngStyle]="{'max-width': width+ 'px'}" class="pure-content-body"
            [ngClass]="{'full':isFull==true}" (scroll)="onWindowScroll($event)" #scrollframe>
            <div id="content-text"
              [innerHtml]="content && content.detailsOfContent | safeHtml" class="pure-content-body_text"
              [ngClass]="{'margin-content-full':isFull==true}">
            </div>
          </div>
        </div>
      </div>
      <app-progress-player [isHide]="false" [tag]="'pure'" [idPureContent]="content.id"
        [ngClass]="{'hidden':isFullScreen==true && isOnBottom==false && checkMobile==false}" (emitDuration)="handleDurationPure($event)"></app-progress-player>
    </mat-content>
  </mat-card>
</div>
