.pure-content-header {
  margin: 25px 20px 0px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #303030;
}

.content-container {
  height: calc(100vh - 115px);
  padding: 20px 20px 0px 20px;
  margin: unset !important;
  // box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  // box-shadow: none !important;
  border-radius: 6px;
  background: #ffffff !important;

  &.dark_full {
    // height: calc(100vh - 115px);
    border-radius: 0;
    background: #161616 !important;

    .dark_mode,
    .dark_mode .content,
    .dark_mode .pure-content-body {
      height: 100%;
    }

    .content {
      border-color: #555555;
      background-color: #262626;

      *,
      p {
        color: #FFFFFF !important;
      }
    }

    .pure-content-body {
      background-color: #161616;

    }
  }

  &.opacity_content {
    opacity: 0;
  }
}

.content_doc {
  height: calc(100% - 88px);
  width: calc(100% - 40px);
  margin: 0 auto;

  &__full {
    height: 100%;
    width: 100%;
  }
}

.content {
  //height: calc(100vh - 250px);
  border: 2px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 6px;
  // margin: 0 20px 20px;
  background-color: #c4c4c4;
  height: 100%;
}

.pure-content-body {
  //height: calc(100vh - 290px);
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 1050px;
  background-color: #ffffff;
  height: 100%;
}

.full {
  margin: 0 auto;
  max-width: 1050px;
  background-color: #ffffff;
  height: 100%;
}

.screen-full-color {
  background-color: #c4c4c4;
}

.margin-content-full {
  margin: 0 20px;
}

.content-text_card {
  //position: -webkit-sticky;
  //position: sticky;
  bottom: 0;
  font-size: 20px;
  margin-bottom: 0px !important;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
  border-radius: 0px 0px 4px 4px;
  background: white;
}

.pure-content-body_text {
  height: calc(100vh - 425px);
  font-size: 16px;
  line-height: 22px;
  margin: 0 20px;
}

.content-text_card {
  margin-top: 0px !important;
  padding: 8px !important;
  border-top: 1px solid #f1f1f2;

  .text_note {
    font-style: italic;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin: 10px;
  }
}

::-webkit-scrollbar-track {
  background-color: unset;
}

::-webkit-scrollbar {
  background-color: unset;
}

::-webkit-scrollbar-thumb {
  background-color: unset;
}

.footer-action {
  margin: 20px 20px;
}

.dark_mode {
  background-color: #161616;
  color: white;
  height: calc(100% - 88px) !important;
}

.poiter {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.33s, opacity 0.33s;
}

@media screen and (max-width: 525px) {

  .content-container {
    height: calc(100vh - 200px);
  }

  .content_doc {
    width: calc(100% - 20px);
    height: calc(100% - 125px)
  }
}
