<div class="question_basic group-question">
  <!-- <span class="mark-question">Đánh dấu</span> -->
  <div [hidden]="isResult==true">
    <button mat-flat-button class="mark-question" [ngClass]="{'mark-question-active': isFlag}" (click)="isMark()">Đánh
      dấu
      <mat-icon [ngClass]="{'color-red': isFlag === true}">flag</mat-icon>
    </button>
  </div>
  <div [ngClass]="{'question': isResult == false || isResult == undefined}">
    <div *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock" class="question-title">
      <span>Yêu cầu chung:</span>
      <span [MathJax]="dataQuestion.content">
      </span>
      <!-- <span class="order"> {{dataQuestion.order}}. </span> -->
    </div>
    <ng-template #elseBlock>
      <div class="question-title">
        <span>Yêu cầu chung:</span>
        <span [innerHTML]="dataQuestion.content | safeHtml">
        </span>
        <!-- <span class="order"> {{dataQuestion.order}}. </span> -->
      </div>
    </ng-template>
    <div class="childs">
      <div class="question m-b-20" *ngFor="let question of dataQuestion.questions; let i = index">
        <div class="title-question-label">Câu hỏi {{dataQuestion.order+'.'+question.order}} ({{question.score}} điểm)
        </div>

        <app-underline *ngIf="question.type==type.underline" [parentId]="dataQuestion.id" [dataQuestion]="question"
          [userAnswer]="userAnswerById(question.id)" [isPublicAnswer]="isPublicAnswer" [isResult]="isResult"
          [isGroup]="isGroup">
        </app-underline>

        <app-true-false-clause *ngIf="question.type==type.truefaslechause" [parentId]="dataQuestion.id"
          [dataQuestion]="question" [isResult]="isResult" [isPublicAnswer]="isPublicAnswer"
          [userAnswer]="userAnswerById(question.id)" [isGroup]="isGroup">
        </app-true-false-clause>

        <app-single-choice *ngIf="question.type==type.singlechoice" [parentId]="dataQuestion.id"
          [dataQuestion]="question" [isResult]="isResult" [isPublicAnswer]="isPublicAnswer"
          [userAnswer]="userAnswerById(question.id)" [isGroup]="isGroup">
        </app-single-choice>

        <app-multiple-choice *ngIf="question.type==type.multichoice" [parentId]="dataQuestion.id"
          [dataQuestion]="question" [isResult]="isResult" [isPublicAnswer]="isPublicAnswer"
          [userAnswer]="userAnswerById(question.id)" [isGroup]="isGroup">
        </app-multiple-choice>

        <app-true-false *ngIf="question.type==type.truefasle" [parentId]="dataQuestion.id" [dataQuestion]="question"
          [isResult]="isResult" [isPublicAnswer]="isPublicAnswer" [userAnswer]="userAnswerById(question.id)"
          [isGroup]="isGroup">
        </app-true-false>

        <app-missing-world1 id="{{question.id}}" *ngIf="question.type==type.fillblank" [parentId]="dataQuestion.id"
          [dataQuestion]="question" [isResult]="isResult" [isPublicAnswer]="isPublicAnswer"
          [userAnswer]="userAnswerById(question.id)" [isGroup]="isGroup">
        </app-missing-world1>
      </div>
    </div>
  </div>
</div>
