  :host ::ng-deep .show-result {
    top: -36px !important;
  }

  .question_basic {
    position: relative;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #ebe9f1 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .example-radio-button {
    margin: 5px;
  }

  //mark question
  .mark-question {
    position: absolute;
    right: 0;
    top: -40px;
    margin-bottom: 0px;
    border: 0.5px solid #d2c3c3;
    box-sizing: border-box;
    border-radius: 4px;
    z-index: 999;
    color: #888888;
    height: 32px;
    line-height: 32px !important;
    padding: 0 7px !important;

    mat-icon {
      font-size: 1rem;
      height: 1rem;
      width: 1rem;
      line-height: 0.8rem;
    }
  }

  .mark-question-active {
    background: #FEC941 !important;
    color: white;
    border: none;
  }

  .question-title {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #303030;
    position: relative;

    .order {
      position: absolute;
      left: 0;
      top: -3px;
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 22px;
      color: #4CAF50;
    }
  }



  :host ::ng-deep .group-question .question_basic .mat-card-content {
    background: #FFFFFF;
    padding: 0px !important;
  }

  :host ::ng-deep .group-question .question_basic .mat-card {
    box-shadow: none !important;
    border: none !important;
  }
