<div class="apply-css-alpha">
  <mat-card class="manage-card mb-0">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex fxLayoutAlign="start center" fxFlex fxFlex.gt-md="75" fxLayoutAlign.gt-xs="start center"
          class="mat-title mb-0">
          Lộ trình học tập
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="manage-card mb-0">
    <form fxFlex="100" [formGroup]="filterLearningPath" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutAlign.gt-md="start center" class="mt-0"
          fxLayoutGap="15px grid" fxLayoutGap.gt-md="30px grid">
          <!-- <div fxLayout="row wrap" style="margin-bottom: 20px!important;"> -->
          <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper">
            <!-- <div class="filter-combobox" fxFlex="25" fxLayoutAlign="start center"> -->
            <mat-form-field (click)="onLearningPathSelectHandleClick()" appearance="outline">
              <mat-label>Lộ trình</mat-label>
              <mat-select formControlName="learningPathId" placeholder="Tìm lộ trình" #singleSelectLesson
                disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm lộ trình" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="learningPathSelectFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let learningPath of filteredLearningPath | async" [value]="learningPath.id">
                  {{learningPath.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- <div class="filter-combobox" fxFlex="25" fxLayoutAlign="start center"> -->
          <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper">
            <mat-form-field (click)="onTeacherSelectHandleClick()" appearance="outline">
              <mat-label>Người tạo</mat-label>
              <mat-select formControlName="teacherId" placeholder="Người tạo" #singleSelectLesson
                disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Người tạo" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="teacherSelectFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let teacher of filteredTeacher | async" [value]="teacher.id">
                  {{teacher.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>Thời gian bắt đầu</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="startDate" placeholder="dd/MM/yyyy"
                autocomplete="off">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>Thời gian kết thúc</mat-label>
              <input matInput [matDatepicker]="pickerEndate" formControlName="endDate" placeholder="dd/MM/yyyy"
                autocomplete="off">
              <mat-datepicker-toggle matSuffix [for]="pickerEndate"></mat-datepicker-toggle>
              <mat-datepicker #pickerEndate></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>Trạng thái</mat-label>
              <mat-select formControlName="status" placeholder="Tất cả trang thái" disableOptionCentering>
                <mat-option value="">
                  Chọn trạng thái
                </mat-option>
                <mat-option value="NOT">
                  Chưa bắt đầu
                </mat-option>
                <mat-option value="STA">
                  Đang diễn ra
                </mat-option>
                <mat-option value="END">
                  Đã kết thúc
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper-hidden"></div>
                    <div fxFlex fxFlex.gt-md="25" class="filter-item-wrapper-hidden"></div> -->
          <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-xs="end center" class="filter-item-wrapper">
            <button mat-raised-button color="primary" type="submit">
              <mat-icon matSuffix>filter_list</mat-icon>
              Lọc kết quả
            </button>
          </div>
        </div>
        <!-- <div fxLayout="row wrap" class="button-filter">
                    <div class="filter-combobox" fxFlex="25" fxLayoutAlign="start center">
                        <mat-form-field fxFlex="85" appearance="outline" class="matFormFieldSelectBox"
                            [floatLabel]="'never'">
                            <mat-label>Trạng thái</mat-label>
                            <mat-select formControlName="status" placeholder="Tất cả trang thái" disableOptionCentering>
                                <mat-option value="">
                                    Chọn trạng thái
                                </mat-option>
                                <mat-option value="NOT">
                                    Chưa bắt đầu
                                </mat-option>
                                <mat-option value="STA">
                                    Đang diễn ra
                                </mat-option>
                                <mat-option value="END">
                                    Đã kết thúc
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" fxLayoutAlign="start center">

                    </div>
                    <div class="filter-combobox" fxFlex="25" fxLayoutAlign="end center">
                        <button mat-raised-button color="primary" type="submit" class="button-sm">
                            <mat-icon matSuffix>filter_list</mat-icon>
                            Lọc kết quả
                        </button>
                    </div>
                </div> -->
      </mat-card-content>
    </form>
  </mat-card>

  <mat-card>
    <table mat-table [dataSource]="listLearningPath" fxHide.sm fxHide.xs>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef fxFlex="5" fxLayoutAlign="start center"> STT
                </th>
                <td mat-cell *matCellDef="let element;let i = index" fxFlex="5" fxLayoutAlign="start center">
                    {{i+1}}
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="learningPathName">
                <th mat-header-cell *matHeaderCellDef fxFlex="35" fxLayoutAlign="start center">TÊN LỘ TRÌNH
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="35" fxLayoutAlign="start center">
                    <span class="text-wrap" #tooltip="matTooltip"
                        matTooltip="{{element.learningPathName}}">{{element.learningPathName}}</span>
                </td>

            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="teacherName">
                <th mat-header-cell *matHeaderCellDef fxFlex="35" fxLayoutAlign="start center">NGƯỜI TẠO
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="35" fxLayoutAlign="start center">
                    <span class="text-wrap" #tooltip="matTooltip"
                        matTooltip="{{element.teacherName}}">{{element.teacherName}}</span>
                </td>

            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef fxFlex="30" fxLayoutAlign="center center"> THỜI GIAN BẮT ĐẦU
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="30" fxLayoutAlign="center center">
                    <span *ngIf="isDateNull(element.startDate)">-</span>
                    <span *ngIf="!isDateNull(element.startDate)">{{element.startDate | date:'dd-MM-yyyy'}}</span>

                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef fxFlex="30" fxLayoutAlign="center center"> THỜI GIAN KẾT THÚC
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="30" fxLayoutAlign="center center">
                    <span *ngIf="isDateNull(element.endDate)">-</span>
                    <span *ngIf="!isDateNull(element.endDate)">{{element.endDate | date:'dd-MM-yyyy'}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef fxFlex="10" fxLayoutAlign="center center"> TRẠNG THÁI
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="10" fxLayoutAlign="center center">
                    <div class="status-badge-not-organized-yet"
                        *ngIf="element.status == 'NOT' && !isDateNull(element.endDate)">
                        Chưa bắt đầu
                    </div>
                    <div class="status-badge-end" *ngIf="element.status == 'END' && !isDateNull(element.endDate)">
                        Đã kết thúc
                    </div>
                    <div class="status-badge-upcoming"
                        *ngIf="element.status == 'STA' || isDateNull(element.endDate)">
                        Đang diễn ra
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef fxFlex="10" fxLayoutAlign="center center"> CHỨC NĂNG
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="10" fxLayoutAlign="center center">
                    <button mat-icon-button title="Chi tiết lộ trình học" matTooltip="Chi tiết lộ trình học"
                        (click)="onDetailClick(element.learningPathId)">
                        <mat-icon svgIcon="icon-detail-learning-path"></mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell background-no-content">
                    <div class="background-no-content-img"></div>
                    <div class="background-no-content-info">
                        <p>Không tìm thấy lộ trình học</p>
                    </div>
                </td>
            </tr>
        </div>
    </table>
    <mat-paginator [length]="count" [pageSizeOptions]="[10, 20, 30, 100]" fxHide.sm fxHide.xs>
    </mat-paginator>

    <mat-accordion fxHide.gt-sm>
      <mat-expansion-panel class="mat-panel"
        *ngFor="let element of listLearningPath |paginate: {id:'exam-pagination', itemsPerPage: 10, currentPage: currentPage, totalItems: count};"
        hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title fxFlex=50 style="font-weight: bold;" fxLayoutAlign.sm="start center">
            <span class="material-icons close" style="color: #4caf50;">
              arrow_drop_down
            </span>
            <span class="material-icons open" style="color: #4caf50;">
              arrow_right
            </span>
            <span class="title-header">Tên lộ trình</span>
          </mat-panel-title>

          <span fxFlex=50 class="leson-name-header">
            {{element.learningPathName}}
          </span>
        </mat-expansion-panel-header>
        <div class="content-body">
          <div class="item-value" fxLayout.xs="row" fxLayoutAlign="start center">
            <div class="name" fxFlex=50>
              Người tạo
            </div>
            <div class="value p-l-5" fxFlex=50>
              {{element.teacherName}}
            </div>
          </div>
          <div class="item-value" fxLayout.xs="row" fxLayoutAlign="start center">
            <div class="name" fxFlex=50>
              Thời gian bắt đầu
            </div>
            <div class="value p-l-5" fxFlex=50>
              <span *ngIf="isDateNull(element.startDate)">-</span>
              <span *ngIf="!isDateNull(element.startDate)">{{element.startDate |
                      date:'dd-MM-yyyy'}}</span>
            </div>
          </div>
          <div class="item-value" fxLayout.xs="row" fxLayoutAlign="start center">
            <div class="name" fxFlex=50>
              Thời gian kết thúc
            </div>
            <div class="value p-l-5" fxFlex=50>
              <span *ngIf="isDateNull(element.endDate)">-</span>
              <span *ngIf="!isDateNull(element.endDate)">{{element.endDate | date:'dd-MM-yyyy'}}</span>
            </div>
          </div>
          <div class="item-value" fxLayout.xs="row" fxLayoutAlign="start center">
            <div class="name" fxFlex=50>
              Trạng thái
            </div>
            <div class="value" fxFlex=50>
              <div class="status-badge-not-organized-yet text-align-center"
                *ngIf="element.status == 'NOT' && !isDateNull(element.endDate)">
                Chưa bắt đầu
              </div>
              <div class="status-badge-end" *ngIf="element.status == 'END' && !isDateNull(element.endDate)">
                Đã kết thúc
              </div>
              <div class="status-badge-upcoming" *ngIf="element.status == 'STA' || isDateNull(element.endDate)">
                Đang diễn ra
              </div>
            </div>
          </div>
          <div class="item-value" fxLayout.xs="row" fxLayoutAlign="start center">
            <div class="name" fxFlex=50>
              Chức năng:
            </div>
            <div class="value" fxFlex=50>
              <button mat-icon-button title="Chi tiết lộ trình học" matTooltip="Chi tiết lộ trình học"
                (click)="onDetailClick(element.learningPathId)">
                <mat-icon svgIcon="icon-detail-learning-path"></mat-icon>
              </button>
            </div>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>

    <div fxLayout.xs="row" fxLayoutAlign="center center" fxHide.gt-sm>
      <pagination-controls id="exam-pagination" class="paging my-pagination" previousLabel="" nextLabel=""
        (pageChange)="handlePageEvent($event)">
      </pagination-controls>
    </div>
  </mat-card>

</div>
