// .filter-learning-path {
//     padding: 20px !important;
// }
// .input_search {
//     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//     width: 80%;
//     height: 30px;
//     box-sizing: border-box;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     background-color: white;
//     background-position: 10px 10px;
//     background-repeat: no-repeat;

//     background-image: url("../../../../../assets/images/icon/search.svg");
//     background-size: 10% 50%;
//     background-repeat: no-repeat;
//     background-position: right center;
// }

// :host ::ng-deep .list-learning-path .mat-form-field-wrapper {
//     max-height: 40px !important;
//     margin: 0px !important;
//     padding-bottom: 0px !important;
// }

// // :host ::ng-deep .list-learning-path .mat-form-field-flex {
// //   max-height: 31px !important;
// // }


// :host ::ng-deep .list-learning-path
//     .mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored.ng-dirty.ng-touched.ng-valid {
//     height: 20px !important;
// }

// :host ::ng-deep .list-learning-path.mat-input-element.mat-form-field-autofill-control.ng-untouched.ng-pristine.ng-invalid.cdk-text-field-autofill-monitored {
//     height: 20px !important;
// }

// :host ::ng-deep .list-learning-path
//     .mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored.ng-dirty.ng-touched.ng-invalid {
//     height: 20px !important;
// }

// :host ::ng-deep .list-learning-path
//     .mat-input-element.mat-form-field-autofill-control.ng-pristine.ng-invalid.cdk-text-field-autofill-monitored.ng-touched {
//     height: 20px !important;
// }

// :host ::ng-deep .list-learning-path
//     .mat-input-element.mat-form-field-autofill-control.ng-untouched.cdk-text-field-autofill-monitored.ng-dirty.ng-valid {
//     height: 20px !important;
// }

// :host ::ng-deep .list-learning-path.mat-input-element.mat-form-field-autofill-control.ng-untouched.cdk-text-field-autofill-monitored.ng-dirty.ng-invalid {
//     height: 20px !important;
// }

// :host ::ng-deep .list-learning-path .mat-error.ng-star-inserted {
//     height: 14px !important;
//     margin-top: 2px !important;
// }

// :host ::ng-deep .list-learning-path .mat-form-field.example-full-width {
//     margin-bottom: -16px !important;
// }

// :host ::ng-deep .list-learning-path .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
// .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
// .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
//     border-width: 1px !important;
// }
// :host ::ng-deep .list-learning-path .mat-form-field-appearance-outline .mat-form-field-outline {
//     height: 31px;
// }

// :host ::ng-deep .list-learning-path .mat-form-field-appearance-outline .mat-form-field-outline-start,
// .mat-form-field-appearance-outline .mat-form-field-outline-end {
//     border-width: 1px !important;
// }

// :host ::ng-deep .list-learning-path.mat-input-element.mat-form-field-autofill-control.ng-untouched.ng-pristine.ng-valid.cdk-text-field-autofill-monitored {
//     height: 20px !important;
// }

// :host ::ng-deep .list-learning-path .mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored {
//     height: 20px !important;
// }

// :host ::ng-deep .list-learning-path .mat-form-field-infix {
//     font-size: 14px !important;
// }

// :host ::ng-deep .list-learning-path .mat-select-arrow {
//     margin-top: 8px !important;
// }
// :host ::ng-deep .list-learning-path .mat-select-value {
//     line-height: 16px;
// }

// :host ::ng-deep .list-learning-path {
//     .date-time-range {
//         height: 30px !important;
//         margin-left: 10px !important;
//         .mat-form-field-wrapper {
//             padding: 0px !important;
//             border: 1px solid #ccc;
//             border-radius: 4px;
//             height: 30px !important;
//             .mat-form-field-infix {
//                 top: -10px !important;
//                 left: 4px !important;
//             }
//             .mat-form-field-flex {
//                 padding: 0 !important;
//                 background: none !important;
//             }

//             .mat-form-field-suffix {
//                 top: -6px;
//             }
//         }
//     }
// }

// :host ::ng-deep .list-learning-path .mat-form-field-underline {
//     display: none;
// }
// .matFormFieldSelectBox {
//     height: 31px;
//     box-sizing: border-box;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     background-color: white;
//     background-position: 10px 10px;
//     background-repeat: no-repeat;
//     padding: 0 5px;
//     font-style: normal;
//     font-weight: normal;
//     line-height: 15px;
//     color: #555555;
//     opacity: 0.98;
// }

// :host ::ng-deep .list-learning-path .mat-form-field-underline {
//     display: none;
// }

// :host ::ng-deep .list-learning-path .mat-form-field-infix {
//     border-top: none;
// }

// .example-additional-selection {
//     opacity: 0.75;
//     font-size: 0.75em;
// }

// .mat-select-panel-wrap {
//     position: relative;
//     top: 26px;
// }

// .mat-select-panel-wrap .mat-select-panel {
//     min-width: calc(100% + 12px) !important;
//     transform: translateX(4px) !important;
// }

// :host ::ng-deep .list-learning-path .mat-form-field-wrapper {
//     width: 100% !important;
//     padding-bottom: 0px !important;
// }

// :host ::ng-deep .list-learning-path .mat-icon  {
//     width: 18px !important;
// }

.status-badge-upcoming {
  background: #DBFFDC;
  border-radius: 10.5px;
  width: 99px;
  height: 21px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #4CAF50;
  text-align: center;
  opacity: 0.98;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-badge-happenning {
  background: #dbffdc;
  border-radius: 10.5px;
  width: 99px;
  height: 21px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #4caf50;
  text-align: center;
  opacity: 0.98;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-badge-not-organized-yet {
  background: #f3f3f3;
  border-radius: 10.5px;
  width: 99px;
  height: 21px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #555555;
  text-align: center;
  opacity: 0.98;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-badge-end {
  width: 99px;
  height: 21px;
  background: #ffe0df;
  border-radius: 10.5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #da251d;
  text-align: center;
  opacity: 0.98;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-card-header-title {
  padding-bottom: 0px !important;
  font-size: 20px;
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

@media(max-width: 415px) {
  .filter-combobox {
    min-width: 100%;
  }
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;

  .mat-header-row {
    background: #D9E4DD;
    border: none;
    height: 40px;
    font-weight: bold;
  }

  .mat-header-cell {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    color: #555555;
    background: #F3F8F4
  }

  .mat-column-function {
    // min-width: 115px;
    // width: 115px !important;
    // text-align: center !important;
    // padding-right: 0 !important;
    justify-content: center;

    .mat-icon {
      cursor: pointer;
      font-size: 20px;
      color: #7e8485;
      height: 20px;
    }

    .material-icons-outlined {
      font-size: 20px;
      height: 20px;
      cursor: pointer;
      color: #7e8485;
    }

    .material-icons {
      font-size: 20px;
      height: 20px;
      cursor: pointer;
      color: #7e8485;
    }
  }
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {

    :host ::ng-deep .ngx-pagination{
        padding-left: 0px;
    }
  mat-cell:first-of-type,
  mat-header-cell:first-of-type,
  mat-footer-cell:first-of-type {
    padding-left: 0px;
  }

  .mobile-label {
    min-width: 80px;
    max-width: 80px;
    display: inline-block;
    font-weight: bold;
    text-align: start;
    margin-right: 10px;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}

.mat-expanded .mat-expansion-panel-header-title .material-icons {
    transform: rotate(0deg);
  }
  
  .mat-expansion-panel-header-title .open,
  .mat-expanded .mat-expansion-panel-header-title .close {
    display: inline-block;
  }
  
  .mat-expanded .mat-expansion-panel-header-title .open,
  .mat-expansion-panel-header-title .close {
    display: none;
  }

  .mat-panel{
    .mat-expansion-panel-header{
      height: 60px;
    }
  }
  
  
  // //paging
  ::ng-deep .ngx-pagination .current {
    border-radius: 50%;
    background: #4caf50 !important;
  
  }
  
  :host ::ng-deep .my-pagination {
    $color: gray;
  
    li {
      border-radius: 50%;
      border: white;
      background: white;
      color: $color;
      margin: 10px;
      width: 35px;
      height: 35px;
      padding: 5px 3px 0 3px;
      text-align: center;
  
      &.current {
        background: primary;
      }
  
      &>a span {
        margin-top: 3px;
        color: lightgray;
      }
  
      &.pagination-next a::after,
      &.pagination-previous a::before,
      &.pagination-next.disabled::after,
      &.pagination-previous.disabled::before {
        margin-left: 0;
        margin-right: 0;
        color: $color;
      }
  
      a:hover,
      button:hover {
        border-radius: 50%;
      }
    }
  }
  
.content-body{
    .name{
        font-weight: 600;
        padding-left: 25px;
    }
}
.p-l-5{
    padding-left: 5px;
}