<div *ngIf="formatOfQuestion==1">
  <app-type-question [typeOfQuestion]="typeOfQuestion" [config]="formatOfQuestion"></app-type-question>
  <app-create-single-choice-question #questionComponentTest *ngIf="typeOfQuestion=='singlechoice'" [levelOfQuestion]="levelOfQuestion" [isAutoApproval]="isAutoApproval"></app-create-single-choice-question>

  <app-create-multiple-choice-question #muilti [type]="typeOfQuestion" [levelOfQuestion]="levelOfQuestion"
    [isAutoApproval]="isAutoApproval" *ngIf=" typeOfQuestion=='multichoice'"></app-create-multiple-choice-question>

  <app-create-under-line-question  *ngIf=" typeOfQuestion=='underline'"></app-create-under-line-question>

  <app-create-true-false-question  *ngIf="typeOfQuestion=='truefalse'"></app-create-true-false-question>

  <app-create-true-false-clause-question  [levelOfQuestion]="levelOfQuestion"
    *ngIf="typeOfQuestion=='truefalseclause'"></app-create-true-false-clause-question>

  <app-create-missing-word1-question  *ngIf="typeOfQuestion=='fillblank'"></app-create-missing-word1-question>

  <app-create-missing-word2-question  *ngIf="typeOfQuestion=='fillblank2'"></app-create-missing-word2-question>

  <app-create-matching-question  *ngIf="typeOfQuestion=='matching'"></app-create-matching-question>

  <app-create-essay-question  *ngIf="typeOfQuestion=='essay'"></app-create-essay-question>
</div>
<div *ngIf="formatOfQuestion==2" >
  <app-create-group-question></app-create-group-question>
</div>


