<div class="content">

  <!-- <p class="test-self-created_content_title"> {{finishDoTestResponse.name}}</p> -->
  <span class="material-icons-outlined back-button" matTooltip="Thoát" [mat-dialog-close]>
    logout
  </span>
  <div class="result-table">
    <div class="result-background">
      <div class="top-label">Kết quả</div>
      <div class="score">
        <span> {{data.finishDoTestResponse.quizScore}}/{{data.finishDoTestResponse.totalScore}}
        </span>
      </div>
      <div class="bottom-label">Điểm</div>
    </div>
    <div class="note-label" *ngIf="data.finishDoTestResponse.totalQuizScore != data.finishDoTestResponse.totalScore">(Điểm tạm
      thời)</div>
  </div>
  <div class="info">
    <div fxLayout="row" class="info-item">
        <div fxFlex="40" fxLayoutAlign="end center" class="left-label">
          <span *ngIf="data.isAnswer">Thuộc nội dung: </span>
          <span *ngIf="!data.isAnswer">Bài kiểm tra: </span>
        </div>
        <div fxFlex="60" fxLayoutAlign="start center">
          <span>{{data.contentName}}</span>
        </div>
      </div>
    <div fxLayout="row" class="info-item">
      <div fxFlex="40" fxLayoutAlign="end center" class="left-label">
        <span>Trả lời đúng:</span>
      </div>
      <div fxFlex="60" fxLayoutAlign="start center" class="right-label">
        <span
          class="total-question">{{data.finishDoTestResponse.correctNum}}/{{data.finishDoTestResponse.numberOfQuestion}}</span>
        Câu
      </div>
    </div>
    <div fxLayout="row" class="info-item">
      <div fxFlex="40" fxLayoutAlign="end center" class="left-label">
        <span>Điểm trắc nghiệm: </span>
      </div>
      <div fxFlex="60" fxLayoutAlign="start center" class="right-label">
        <span class="result-score">{{data.finishDoTestResponse.quizScore}}/{{data.finishDoTestResponse.totalQuizScore}}</span>
        Điểm
      </div>
    </div>
    <div fxLayout="row" class="info-item">
      <div fxFlex="40" fxLayoutAlign="end center" class="left-label">
        <span>Điểm tự luận: </span>
      </div>
      <div fxFlex="60" fxLayoutAlign="start center" class="right-label">
        <span *ngIf="data.finishDoTestResponse.totalQuizScore != data.finishDoTestResponse.totalScore"
          class="result-score">0/{{data.finishDoTestResponse.totalScore- data.finishDoTestResponse.totalQuizScore}}</span>
        <span *ngIf="data.finishDoTestResponse.totalQuizScore == data.finishDoTestResponse.totalScore"
          class="result-score">0/0</span>
        Điểm
      </div>
    </div>
    <div fxLayout="row" class="info-item">
      <div fxFlex="40" fxLayoutAlign="end center" class="left-label">
        <span>Thời gian hoàn thành: </span>
      </div>
      <div fxFlex="60" fxLayoutAlign="start center" class="right-label">
        <span class="text-green"><b>{{data.finishDoTestResponse.endDate|date :'HH:mm'}}</b></span>
        <span class="date"> &nbsp; {{ data.finishDoTestResponse.endDate|date :'dd/MM/yyyy'}}</span>
      </div>
    </div>
  </div>
  <div class="bottom-info">
    <div>
      <div class="view-result-label" [mat-dialog-close]="'VIE'">Xem
        lại bài làm</div>
    </div>

    <div *ngIf="data.finishDoTestResponse.statusOver != 'PAS' && canToRedo(data.finishDoTestResponse)" class="bottom-label">
      <span>Bạn vẫn còn {{data.finishDoTestResponse.numberOfRemainingAttempts}} lần thực hiện lại.</span>
      <div>Bạn có muốn ghi nhận điểm vừa đạt để hoàn thành nội dung không?</div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <button mat-raised-button class="test-self-created_content_start-test" [mat-dialog-close]="'RED'">Làm
          lại</button>
        <button mat-raised-button class="test-self-created_content_start-test" [mat-dialog-close]="'COF'">Ghi nhận
          điểm</button>
      </div>
    </div>
  </div>
</div>
