<div fxLayout="column">
    <!--header-->
    <mat-card>
      <mat-card-content>
        <form [formGroup]="testForm" onsubmit="submitForm()">
          <div fxLayout="row" fxLayoutAlign="space-between center" class="row_flex">
            <label fxFlex=10 fxLayoutAlign="start center" class="label_combobox">Tên bộ đề thi (*): </label>
            <input fxFlex fxLayoutAlign="end center" type="text" placeholder="Tên bộ đề thi..." class="input_name"
              formControlName="testName">
          </div>
  
          <div fxLayout="row" fxLayoutAlign="space-between center" class="row_flex" fxLayoutGap="10px">
            <div fxFlex="25" fxLayout="row">
              <label fxFlex="40" fxLayoutAlign="start center">Khối lớp: </label>
              <select fxFlex="50" class="input_name" [disabled]="true">
                <option value="1">{{grade.gradeName}}</option>
              </select>
            </div>
  
            <div fxFlex="25" fxLayoutAlign="end center" class="combobox_action">
              <label fxFlex="40" fxLayoutAlign="start center">Môn học: </label>
              <select fxFlex="50" class="input_name" [disabled]="true">
                <option value="1">{{subject.name}}</option>
              </select>
            </div>
  
            <div fxFlex="25" fxLayoutAlign="end center" class="combobox_action">
              <label fxFlex="40" fxLayoutAlign="start center">Đề số: </label>
              <select fxFlex="50" class="input_name">
                <option value="1">Đề số 1</option>
              </select>
            </div>
  
            <div fxFlex="25" fxLayoutAlign="end center">
              <button type="button" mat-raised-button color="primary" (click)="showStatisticQuestion(this.data)">
                Thống kê số lượng câu hỏi</button>
            </div>
          </div>
        </form>
  
  
      </mat-card-content>
    </mat-card>
    <!--content-->
    <div fxLayout="row" fxFlex=100>
      <div fxFlex=40>
        <mat-card class="content">
          <mat-card-content style="margin-bottom: 0px">
            <mat-card-title class="table_question_title">Số câu hỏi chọn ra đề</mat-card-title>
            <div class="border_bottom_header"></div>
          </mat-card-content>
          <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="start center" class="flex_row question_row list_header">
              <div class="check_column" fxFlex="10">
                <mat-checkbox class="example-margin" [checked]="allComplete" (change)="setAll($event.checked)"
                 [color]="'primary'">
                </mat-checkbox>
                <!-- <mat-checkbox class="example-margin">
                </mat-checkbox> -->
              </div>
              <div class="content_column" fxFlex="65">
                <span> Nội dung</span>
              </div>
              <div class="score_column" fxFlex="13">
                <span>Điểm</span>
              </div>
              <div class="action_column" fxFlex="12">
  
              </div>
            </div>
            <div fxLayout="row wrap" *ngFor="let question of data" fxLayoutAlign="start center" class="flex_row">
              <div fxFlex="100" fxLayoutAlign="start center" class="question_row">
                <div class="check_column" fxFlex="10">
                  <mat-checkbox class="example-margin" [(ngModel)]="question.isChecked"
                    (ngModelChange)="updateAllComplete()" [color]="'primary'">
                  </mat-checkbox>
                </div>
                <div class="content_column" fxFlex="65" (click)="chooseQuestion(question)">
                  <span [innerHTML]="question.content"></span>
                </div>
                <div class="score_column" fxFlex="13">
                  <input [(ngModel)]="question.score" type="number" class="inputNumber"
                    (ngModelChange)="updateScore(question.id, question.score)">
                </div>
                <div class="action_column" fxFlex="12">
                  <button mat-icon-button (click)="delete(question)">
                    <mat-icon svgIcon="trash"></mat-icon>
                  </button>
                </div>
              </div>
  
              <div fxFlex="100" fxLayoutAlign="start center" *ngFor="let child of question.questions"
                class="question_row_child">
                <div class="check_column" fxFlex="13">
                  <mat-checkbox class="example-margin" [(ngModel)]="child.isChecked" (ngModelChange)="updateAllComplete()"
                    [color]="'primary'">
                  </mat-checkbox>
                </div>
                <div class="content_column" fxFlex="62" (click)="chooseQuestion(child)">
                  <span [innerHTML]="child.content"></span>
                </div>
                <div class="score_column" fxFlex="13">
                  <input [(ngModel)]="child.score" type="number" class="inputNumber"
                    (ngModelChange)="updateScore(child.id, child.score)">
                </div>
                <div class="action_column" fxFlex="12">
                  <button mat-icon-button (click)="delete(child)">
                    <mat-icon svgIcon="trash"></mat-icon>
                  </button>
                </div>
              </div>
  
            </div>
          </mat-card-content>
          <div fxLayout="row" fxLayoutAlign="start start" class="m-t-15">
            <div fxFlex="23" fxLayoutAlign="start start">
              <button mat-raised-button color="danger" (click)="deleteSelected()">
                Xóa đã chọn
              </button>
            </div>
            <div>
              <button mat-raised-button color="primary" class="btn_update_score" (click)="openUpdateScoreDialog()">
                Cập nhật điểm
              </button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex=60>
        <mat-card class="content">
          <mat-card-content fxLayout="column">
            <mat-card-title>Nội dung câu hỏi</mat-card-title>
            <hr>
            <all-questions [data]="question" (outputData)="updateQuestion($event)"></all-questions>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <button mat-raised-button class="bg-danger text-white" (click)="cancel()">Hủy</button>
      <button mat-raised-button color="primary" (click)="save()" [disabled]="testForm.invalid">Lưu</button>
    </div>
  </div>