.label_combobox {
    color: #555555 !important;
  }
  
  
  .row_flex {
    display: flex;
    padding: 10px;
  }
  
  .combobox_action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 6px;
  }
  
  .input-infor {
    height: 29px;
    color: #555555;
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
    border: 0.5px solid #555555;
    border-radius: 2px;
  }
  
  .combobox_selection {
    width: 146px;
    height: 30px;
    border: 0.5px solid #555555;
    box-sizing: border-box;
    border-radius: 2px;
    color: #555555;
  }
  
  .statistic-button {
    height: 30px;
    max-height: 30px;
  }
  .content{
    min-height: 50vh;
  }
  
  .hover-row:hover{
    background-color: #F3F6F2;
  }
  
  .input-score{
    width: 30%;
    text-align: center;
    margin: 0 auto;
  }
  .center{
    text-align: center;
  }
  
  .input_name {
    width: 980px;
    height: 31px;
    padding: 0 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 1rem;
  }
  .filter-control {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
  }
  .inputNumber {
    width: 54px;
    height: 29px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
  }
  .table_question_title {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #303030;
    opacity: 0.98;
  }
  
  .question_row {
    border-bottom: 0.5px solid #B0B0B0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    color: #555555;
    opacity: 0.98;
  }
  
  .question_row_child {
    border-bottom: 0.5px solid #B0B0B0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    color: #555555;
    opacity: 0.98;
  }
  
  .border_bottom_header {
    top: 70px;
    position: absolute;
    min-width: 100%;
    left: 0;
    border: 0.5px solid #B0B0B0;
  }
  
  .list_header {
    min-height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
  
  
    color: #555555;
  
    opacity: 0.98;
  }
  
  .score_label {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 29px;
    color: #555555;
    margin-left: 20px;
  }
  
  .content_column{
    position: relative;
  }