<div class="infor-user" fxLayout="row">
  <div class="content-info-user" fxLayout="column" fxFlex="80%">
    <div class="logo" fxLayoutAlign="center center">
      <img src="../../../../../assets/images/user-icon.png" class="logo-user">
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <h4>{{userExam.fullname}}</h4>
      <h4>{{userExam.username}}</h4>
      <h4>Trạng thái vào phòng thi:
        <span *ngIf="userExam.thoiGianVaoPhongThi!=null" style="color: #28a745;">OK</span>
        <span *ngIf="userExam.thoiGianVaoPhongThi==null" style="color: red;">Chưa vào phòng</span>
      </h4>
      <h4>Trạng thái nhận đề:
        <span *ngIf="userExam.thoiGianNhanDe!=null" style="color: #28a745;">OK</span>
        <span *ngIf="userExam.thoiGianNhanDe==null" style="color: red;">Chưa nhận đề</span>
      </h4>

      <h4>Trạng thái nộp bài:
        <span *ngIf="userExam.timeFinishExam!=null" style="color: #28a745;">OK</span>
        <span *ngIf="userExam.timeFinishExam==null" style="color: red;">Chưa nộp bài</span>
      </h4>
    </div>
  </div>
  <div class="function" fxLayout="column" fxFlex="20%" fxLayoutAlign="center center">

    <button  fxFlex="25%"  mat-icon-button title="Thông tin chi tiết" (click)="ShowDetail(userExam)">
      <mat-icon style="color:#0d6efd">info</mat-icon>
    </button>
    <button fxFlex="25%" mat-icon-button title="Yêu cầu hỗ trợ">
      <mat-icon style="color:#0dcaf0" >notifications_active</mat-icon>
    </button>
    <button  fxFlex="25%" mat-icon-button title="Cấp lại đề">
      <mat-icon style="color:#198754">cached</mat-icon>
    </button>
    <button fxFlex="25%" mat-icon-button title="Xử lý vi phạm" (click)="HandlingViolations()">
      <mat-icon  style="color:#dc3545">report_problem</mat-icon>
    </button>
  </div>
</div>
