.infor-user{
    width: 22.5rem;
    height: 18.75rem;
    margin-top: 10px;
    border:1px solid #eeeeee;
    border-radius: 10px;
}
.content-info-user{
    color: #343A40;
}
.function{
    //background-color: #FD9843;
    border-left: 1px solid #eeeeee;
    //color:white
}
.icon-function{
    border: 1px solid #eeeeee;
}
.logo{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.logo-user{
    width: 5rem;
    height: 5rem;
}