.container {
    font-size: 13px;
}

.question-content {
    height: fit-content;
}
.phuong-an-content {
    margin-top: -7.4rem;
    padding: 1rem;
    margin-left: 0.5rem;
}
.phuong-an-content-column {
    margin-top: 0.5rem;
    padding: 1rem;
}
.container-answer {
    margin-top: 0.5rem;
}
.icon-done {
    color: #33cc33;
}
.icon-clear {
    color: #ff0000;
}
.mt-10 {
    margin-top: 10px;
}

.combobox_selection {
    width: 200px !important;
}

.isCloneQuestion .table_question_title{
    font-size: 13px;
    color: #555555;
    opacity: 0.98;
    font-weight: normal;
    margin-bottom: 6px;
    ::ng-deep ckeditor .cke_chrome{
      border-radius: 2px;
  }
  }
  
  .isClone{
    display: none !important;
  }

  .add_question{
    display: block;
  }

  .question_list{
      margin-top: 20px;
  }