<div *ngIf="isReady" class="question_basic multiple-choice">
  <div [hidden]="isResult==true" *ngIf="parentId == undefined">
    <button mat-flat-button class="mark-question" [ngClass]="{'mark-question-active': isFlag}" (click)="isMark()">Đánh
      dấu
      <mat-icon [ngClass]="{'color-red': isFlag === true}">flag</mat-icon>
    </button>
  </div>

  <div [ngClass]="{'question': isResult == false || isResult == undefined}">
    <mat-card>
      <mat-card-content>
        <!--xema lại kết quá-->
        <div *ngIf="isResult == true && isPublicAnswer" class="show-result" [ngClass]="{'true': isTrueQuestion == true, 'false': isTrueQuestion == false}">
          <!-- <span>Kết quả trả lời: </span> -->
          <ng-container *ngIf="isTrueQuestion==true; else elset">
            <span>Trả lời đúng</span>
          </ng-container>
          <ng-template #elset>
            <span>Trả lời sai</span>
          </ng-template>
        </div>

        <div *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock" class="question-title">
          <span [MathJax]="dataQuestion.content"></span>
        </div>
        <ng-template #elseBlock>
          <div class="question-title">
            <span [innerHTML]="dataQuestion.content | safeHtml"></span>
          </div>
        </ng-template>

        <ng-container *ngIf="(isResult == false || isResult == undefined); else elseTemplate">
          <mat-list role="list" *ngFor="let item of dataQuestion.answers;let i=index">
            <mat-list-item role="listitem">
              <mat-checkbox color="primary" class="example-margin" [checked]="checkedAnswer[i]"
                (change)="changeSelectAnswer($event,item)">
                <div *ngIf="item.content.indexOf(defaultMath)!=-1; else elseBlock" fxLayout="row" class="answer-label">
                  <div class="m-r-10 m-t-2" style="margin-top: 2px;" fxLayoutAlign="center center">
                    <p>{{alphabet[i]}}.</p>
                  </div>
                  <div class="text-overflow" [MathJax]="item.content"></div>
                </div>
                <ng-template #elseBlock>
                  <div fxLayout="row" class="answer-label">
                    <div class="m-r-10 m-t-2" style="margin-top: 2px;" fxLayoutAlign="center center">
                      <p>{{alphabet[i]}}.</p>
                    </div>
                    <div class="text-overflow" [innerHTML]="item.content | safeHtml"></div>
                  </div>
                </ng-template>
              </mat-checkbox>
            </mat-list-item>
          </mat-list>
        </ng-container>
        <ng-template #elseTemplate>
          <div [ngClass]="{'m-l-20': checkedAnswer != undefined && checkedAnswer != [] && checkedAnswer != null}">
            <mat-list role="list" *ngFor="let item of dataQuestion.answers;let i=index">
              <div fxLayoutAlign="center center" class="result-multichoice-icon" *ngIf="isPublicAnswer">
                <span *ngIf="dataQuestion.answers[i].trueAnswer==1 && checkedAnswer[i]">
                  <mat-icon class="check-true">done</mat-icon>
                </span>
                <span *ngIf="dataQuestion.answers[i].trueAnswer==0 && checkedAnswer[i]">
                  <mat-icon class="wrong-answer">close</mat-icon>
                </span>
              </div>
              <mat-list-item role="listitem">
                <mat-checkbox color="primary" class="example-margin" [checked]="checkedAnswer[i]" [disabled]="true">
                  <div *ngIf="item.content.indexOf(defaultMath)!=-1; else elseBlock" fxLayout="row">
                    <div class="m-r-10 answer-label" [ngClass]="{'correct': dataQuestion.answers[i].trueAnswer==1 && isPublicAnswer}" style="margin-top: 2px;" fxLayoutAlign="center center">
                      <p>{{alphabet[i]}}.</p>
                    </div>
                    <div fxLayoutAlign="center center" class="color answer-label text-overflow"
                      [MathJax]="item.content">
                    </div>
                  </div>
                  <ng-template #elseBlock>
                    <div fxLayout="row">
                      <div class="m-r-10 m-t-2 answer-label" [ngClass]="{'correct': dataQuestion.answers[i].trueAnswer==1 && isPublicAnswer}" style="margin-top: 2px;" fxLayoutAlign="center center">
                        <p>{{alphabet[i]}}.</p>
                      </div>
                      <div fxLayoutAlign="center center" class="color answer-label text-overflow"
                        [innerHTML]="item.content | safeHtml"></div>
                    </div>
                  </ng-template>
                </mat-checkbox>
              </mat-list-item>
            </mat-list>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
