.question_basic {
  position: relative;
}

//mark question
.mark-question {
  position: absolute;
  right: 0;
  top: -40px;
  margin-bottom: 0px;
  border: 0.5px solid #d2c3c3;
  box-sizing: border-box;
  border-radius: 4px;
  z-index: 999;
  color: #888888;
  height: 32px;
  line-height: 32px !important;
  padding: 0 7px !important;

  mat-icon {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
    line-height: 0.8rem;
  }
}

.mark-question-active {
  background: #FEC941 !important;
  color: white;
  border: none;
}

.check-true {
  color: #198754;
}

.right-answer {
  font-weight: bolder;
}

.color {
  color: black;
}

// .show-result {
//   margin-bottom: 1rem;
// }

// .true {
//   color: #198754;
// }

// .false {
//   color: red;
// }

.question-title {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #303030;
  position: relative;

  .order {
    position: absolute;
    left: 0;
    top: -3px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 22px;
    color: #4CAF50;
  }

  .score {
    position: absolute;
    right: 0;
    top: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #4CAF50;
  }
}

.wrong-answer{
  color: red;
}

:host ::ng-deep .multiple-choice .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #0075ff !important;
}

:host ::ng-deep .multiple-choice .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #0075ff;
}

:host ::ng-deep .multiple-choice .mat-checkbox-label {
  line-height: 1rem;

  p {
    margin: 5px 0px;
  }
}

:host ::ng-deep .mat-card {
  border: 1px solid #ebe9f1;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

:host ::ng-deep .multiple-choice .mat-card-content {
  padding: 10px 20px !important;
}

:host ::ng-deep .mat-list-base {
  padding-top: 0px;
}

:host ::ng-deep .multiple-choice .mat-list-base .mat-list-item {
  height: fit-content;

  .mat-list-item-content {
    padding: 0px;
  }
}

.mat-list {
  position: relative;

  .result-multichoice-icon {
    position: absolute;
    left: -25px;
    top: calc(50% - 13px);
  }

  .correct {
    color: #4CAF50;
    font-weight: bold;
  }

  .in-correct {
    color: red;
  }
}
