<mat-card-content class="content-setting" *ngIf="this.subjectSetting!">
  <div class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
  </div>
  <div mat-dialog-title>
    <span> Thiết lập cho môn thi </span>
    <div class="mat-dialog-sub-title">{{this.subjectSetting.subjectName}}</div>
  </div>
  <mat-card-content class="m-t-20 p-t-20">
    <div fxLayout="row" fxLayoutAlign="start start">
      <div fxFlex=100 fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px"
        *ngIf="this.subjectSetting!=null">
        <div fxLayout="row" fxLayoutAlign="center start" fxFlex="100" class="width-100">
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" fxFlex="100">
            <label fxFlex="30">Hiển thị:</label>
            <input onfocus="this.blur()" [value]="this.subjectSetting.displayPerPage" class="input-text">
            <label>Câu hỏi/Trang</label>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100" class="width-100">
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" fxFlex="100">
            <label fxFlex="30">Thời gian làm bài:</label>
            <input onfocus="this.blur()" [value]="this.subjectSetting.testTime" class="input-text">
            <label>Phút</label>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100" class="width-100">
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" fxFlex="100">
            <label fxFlex="30">Số lần mở media:</label>
            <input onfocus="this.blur()" [value]="this.subjectSetting.numberOfMediaOpening" class="input-text">
            <label>Lần</label>
          </div>
        </div>
        <div fxLayoutAlign="start center" fxFlex="row">
          <mat-icon class="m-r-5" *ngIf="this.subjectSetting.isShuffler" style="color: #43a047;">task_alt
          </mat-icon>
          <mat-icon class="m-r-5" *ngIf="!this.subjectSetting.isShuffler" style="color: #DA251D;">
            highlight_off
          </mat-icon>
          <label>Xáo trộn câu hỏi</label>
        </div>
        <!-- Tạm comment do chưa thực hiện chức năng này -->
        <!-- <div fxLayoutAlign="start center" fxFlex="row">
          <mat-icon class="m-r-5" *ngIf="this.subjectSetting.isLockTestScreen" style="color: #43a047;">
            task_alt
          </mat-icon>
          <mat-icon class="m-r-5" *ngIf="!this.subjectSetting.isLockTestScreen" style="color: #DA251D;">
            highlight_off
          </mat-icon>
          <label>Khóa ứng dụng</label>
        </div> -->
      </div>
      <!-- <div fxFlex=38 fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px"
                *ngIf="this.subjectSetting!=null">
                
            </div> -->
    </div>
  </mat-card-content>
</mat-card-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close class="button-cancel">Đóng</button>
</mat-dialog-actions>
