.content-setting {
    font-size: 13px;
    color: #333;
    position: relative;
}
.input-text {
    width: 54px;
    height: 29px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px;
    text-align: center;
    cursor: default;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}
.label-form {
    font-size: 16px;
    font-weight: 600;
}

.m-r-5 {
    margin-right: 5px;
}
.cancel-button {
    margin: 10px;
}

.label-title-default {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #303030;
}
.label-title-name {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #4caf50;
}
.mat-card-title-label {
    text-align: center;
}

.width-100 {
    width: 100%;
}

/////////
.close-button {
    float: right;
    top: -20px;
    right: -20px;
    position: absolute;
}

// .close-icon {
//     transition: 1s ease-in-out;
// }

// .close-icon:hover {
//     transform: scale(1.2);
// }

::ng-deep .icon-outside .close-button {
    float: right;
    top: -52px;
    right: -52px;
}

::ng-deep .icon-outside .mat-dialog-container {
    overflow: unset;
}
/////////
