<mat-card>
  <mat-card-content>
    <app-header-create-exam [stepHeaderCtrl]="stepHeaderControl"></app-header-create-exam>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="10px">
      <a [routerLink]="['/dashboard/examination-manager/exams/' + this.examId + '/steps/testkits/add-testkit-from-file']"
        [queryParams]="{ gradeId: this.gradeId, subjectId: this.subjectId,
                    examSubjectId: this.subjectExamId, testKitId: this.testKitId, type: 'FIL' }">
        <button mat-raised-button color="primary">
          <mat-icon class="icon">add_circle_outline</mat-icon>
          Thêm từ tệp tin
        </button>
      </a>
      <a [routerLink]="['/dashboard/examination-manager/exams/' + this.examId + '/steps/testkits/add-testkit-from-file']"
        [queryParams]="{ gradeId: this.gradeId, subjectId: this.subjectId,
                examSubjectId: this.subjectExamId, testKitId: this.testKitId, type: 'QTB' }">
        <button mat-raised-button color="primary">
          <mat-icon class="icon">add_circle_outline</mat-icon>
          Thêm từ ngân hàng câu hỏi
        </button>
      </a>
      <a [routerLink]="['/dashboard/examination-manager/exams/' + this.examId + '/steps/testkits/add-testkit-from-file']"
        [queryParams]="{ gradeId: this.gradeId, subjectId: this.subjectId,
                examSubjectId: this.subjectExamId, testKitId: this.testKitId, type: 'MAT' }">
        <button mat-raised-button color="primary">
          <mat-icon class="icon">add_circle_outline</mat-icon>
          Thêm từ ma trận
        </button>
      </a>
    </div>
  </mat-card-content>
</mat-card>
<!--content-->
<mat-card>
  <mat-card-header>
    <mat-card-title>Danh sách bộ đề thi</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <div>
    <table mat-table [dataSource]="testKit" class="example-table" matSort matSortActive="created" matSortDisableClear
      matSortDirection="desc">
      <!-- Number Column -->
      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef>STT</th>
        <td mat-cell *matCellDef="let row;let i=index">{{i+1}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Tên bộ đề</th>
        <td mat-cell *matCellDef="let row" class="mat-main-column">{{row.name}}</td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="createType">
        <th mat-header-cell *matHeaderCellDef>Hình thức tạo đề</th>
        <td mat-cell *matCellDef="let row">
          <span>{{row.getCreateType}}</span>
        </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="used">
        <th mat-header-cell *matHeaderCellDef class="center-element">Số lần sử dụng</th>
        <td mat-cell *matCellDef="let row" class="center-element">{{row.used}}</td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="function">
        <th mat-header-cell *matHeaderCellDef class="text-align-end">Chức năng</th>
        <td mat-cell *matCellDef="let row" class="text-align-end action-column-cell">
         
      
          <!--Nut chọn-->
          <mat-icon matTooltip="Xem chi tiết" (click)="hanleGetListQuestionBank(row.id,row.name)" svgIcon="eye"></mat-icon>

          <mat-icon svgIcon="check-outline" matTooltip="Chọn" *ngIf="!this.isPublished && row.id != this.testKitId" (click)="chooseSubject(row.id)"></mat-icon>
          <mat-icon  svgIcon="check-primary" matTooltip="Chọn" *ngIf="row.id == this.testKitId" mat-icon-button (click)="chooseSubject(row.id)"></mat-icon>

            <mat-icon *ngIf="row.used == 0 || (!this.isPublished && row.used == 0)" [matMenuTriggerFor]="menu">more_vert</mat-icon>
            <mat-menu #menu="matMenu" class="menu-functions">
              <button mat-menu-item *ngIf="row.used == 0" (click)="editTest(row.id)" matTooltipPosition="left" matTooltip="Chỉnh sửa bộ đề">
                <mat-icon  svgIcon="edit-black" class="icon-function">
                </mat-icon>
                Chỉnh sửa bộ đề
              </button>

              <button mat-menu-item *ngIf="!this.isPublished && row.used == 0" matTooltipPosition="left" matTooltip="Xóa bộ đề" 
              (click)="deleteTestKit(row)">
                <mat-icon  svgIcon="trash"></mat-icon>
               Xóa bộ đề
              </button>

              <button mat-menu-item *ngIf="this.hasDeletePermission" matTooltipPosition="left" matTooltip="Xóa"  (click)="DeleteGroupStudent(row)">
                <mat-icon svgIcon="trash-black" class="icon"></mat-icon>
                Xóa
              </button>
            </mat-menu>
          <!-- <button *ngIf="!this.isPublished" mat-icon-button (click)="viewTest(row.id)">
                        <mat-icon>remove_red_eye</mat-icon>
                    </button> -->


        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td colspan="10" class="mat-cell background-no-content">
          <div class="background-no-content-img"></div>
          <div class="background-no-content-info">
            <p>Không tìm thấy bộ đề thi</p>
          </div>
        </td>
      </tr>
    </table>
    <mat-paginator [length]="totalTestKit" [pageSizeOptions]="[10, 15, 20]"></mat-paginator>
  </div>
</mat-card>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" class="p-b-20">
  <button mat-raised-button class="m-r-10 button-cancel" (click)="backToContent()">Quay
    lại</button>
</div>
<router-outlet></router-outlet>
