// .icon {
//     font-size: 18px;
// }
.center-element {
  text-align: center;
}

.action-column {
  width: 200px;
}

.action-column-cell {
  color: #7e8485;
}

.active-button {
  color: #43a047;
}

.mat-column-function {
  width: 200px;
}

.text-align-end {
  text-align: end;
}

.editing {
  background: #4f91ff;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.waiting {
  background: #e5ae40;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.approved {
  background: #4caf50;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.rejected {
  background: #f8877f;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.icon-function {
  height: 20px !important;
  width: 20px !important;
}

.margin-b--4 {
  margin-bottom: -4px;
}

::ng-deep .menu-functions .mat-menu-item {
  padding: 0 10px !important;
  height: 40px;
  display: flex;
  align-items: center;

  .mat-icon,
  .material-icons {
    margin-right: 5px;
  }
}
