.question-content {
  position: relative;
  height: fit-content;
}
.container{
  font-size: 13px;
}

.input-content {
  margin-top: 1rem;
}

.create-answer-question {
  position: absolute;
  right: 1rem;
}

.answer {
  margin-top: 10px;
}

.input-answer {
  width: 100%;
  height: 2rem;
  line-height: 1.5rem;
}

// .container-answer {
//   border: 1px solid #eeeeee;

// }

// :host ::ng-deep .ck-phuongan .cke_bottom {
//   display: none !important;
// }

.trueanswer {
  padding: 5px 0px;
  overflow: auto;
  max-height: 100px;
  position: relative;
}

;

:host ::ng-deep .cke_button__btntaodapan_label {
  display: block !important;
}

:host ::ng-deep .cke_button__btntaodapan {
  // background-color: #016cbb !important;
  background-color: #43a047 !important;
  width: 100px !important;
  right: 25px;
  position: absolute;
  display: block;
  height: 24px !important;
  border: none !important;
  border-radius: 0 !important;
}

:host ::ng-deep a.cke_button_on {
  background: #fff;
  border: 1px #bcbcbc solid !important;
  padding: 3px 5px !important;
}

:host ::ng-deep a.cke_button_off:hover {
  border: 1px #bcbcbc solid !important;
  padding: 3px 5px !important;
}

:host ::ng-deep .cke_button__btntaodapan_label {
  color: white;
  padding: 4px 6px !important;
  display: block;
}


:host ::ng-deep .cke_button__btntaodapan_icon {
  display: none;
}

:host ::ng-deep .center-btn-footer {
  text-align: center;
  margin-top: 20px;
}

:host ::ng-deep .btn-footer {
  margin: 0px 10px;
}

:host ::ng-deep .btn-success {
  background-color: #a8ce54;
  color: #fff;
}

:host ::ng-deep .btn-cancel {
  background-color: #e5e5e5;
}

:host ::ng-deep .btn-fixed-width {
  width: 100px;
}

:host ::ng-deep .ck-phuongan .cke_top {
  display: none;
}
.combobox_selection {
  width: 200px !important;
}

.isCloneQuestion .table_question_title{
  font-size: 13px;
  color: #555555;
  opacity: 0.98;
  font-weight: normal;
  margin-bottom: 6px;
  ::ng-deep ckeditor .cke_chrome{
      border-radius: 2px;
  }
}

.isClone{
  display: none !important;
}

.phuong-an-content{
  margin-top: 20px;
}

.btn-add-fake-answer{
  margin-top: 10px;
}