<div>
  <div>
    <ng-container *ngIf="contestant.isCompleted">
      <div mat-dialog-content>
        <div>Học viên đã nộp bài</div>
      </div>
      <br>
      <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="">Đóng</button>
      </div>
    </ng-container>
  </div>
  <div>
    <ng-container *ngIf="!contestant.isCompleted">
      <div mat-dialog-content>
        <div>
          <div *ngIf="contestant.isCollectedTest">
            Học viên đã bị thu bài nhưng chưa có phản hồi trở lại
          </div>
          <div *ngIf="!contestant.isCollectedTest">
            Bạn có chắc chắn muốn thu bài học viên này?
          </div>
        </div>
      </div>
      <div mat-dialog-actions>
        <button mat-raised-button class="button-cancel" [mat-dialog-close]="">Đóng</button>
        <ng-container>
          <button mat-raised-button color="warn" *ngIf="!contestant.isCollectedTest" (click)="collectTest('wait')" cdkFocusInitial>
            Thu bài
          </button>
          <button mat-raised-button color="warn" *ngIf="contestant.isCollectedTest" (click)="collectTest('now')" cdkFocusInitial>
            Thu bài ngay
          </button>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
