.end-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px;

  button {
    width: 102px;
    height: 34px;
  }
}


.statistic-button {
  height: 31px;
  max-height: 31px;
}

.decription-classroom {
  border: 1px solid #ccc;
  height: 88px;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 8px;
}

.label_combobox {
  color: #555555 !important;
  font-size: 14px;
}