.table-subject {
  width: 100%;
}

.chosse-test-button {
  background-color: #4CAF50;
  min-width: 40px;
  width: 40px;
  height: 23px;
  border-radius: 2px;
  color: white;
}

.icon-add {
  font-size: 12px;
}
