<mat-card>
  <mat-card-content>
    <mat-card-title>Danh sách môn đã chọn</mat-card-title>
    <hr />
    <table mat-table [dataSource]="dataSource" matSort class="table-subject">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef > STT </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Tên môn thi </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Thời gian bắt đầu </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Thời gian kết thúc </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <!-- fuction Column -->
      <ng-container matColumnDef="function">
        <th mat-header-cell *matHeaderCellDef> Đề thi </th>
        <td mat-cell *matCellDef="let row">
          <span>đề thi</span>
        </td>
      </ng-container>

      <!-- fuction Column -->
      <ng-container matColumnDef="chosse-test">
        <th mat-header-cell *matHeaderCellDef> Chọn đề </th>
        <td mat-cell *matCellDef="let row">
          <button class="chosse-test-button" mat-button (click)="chosseTest(row.position)">
            <mat-icon class="icon-add">add</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- fuction Column -->
      <ng-container matColumnDef="establish">
        <th mat-header-cell *matHeaderCellDef> Thiết lập </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
    </table>
  </mat-card-content>
</mat-card>
