<div class="apply-css-alpha">
  <mat-card>
    <mat-card-content>
  
      <form [formGroup]="formEditCurriculum" fxLayout="column"
        (ngSubmit)="submitForm()">
        <div class="mat-dialog-title">{{data.titleDialog?.commonTitle}}</div>

        <div style="width: 100%; margin-top: 10px;" fxLayout="row">
          <!-- <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> {{data.titleDialog?.nameTitle}}
            (*):
          </label> -->
          <mat-form-field class="matFormFieldSelectBox" appearance="outline">
            <mat-label>{{data.titleDialog?.nameTitle}}</mat-label>
            <input matInput [formControl]="formEditCurriculum.get('curriculumName')" type="text" name="curriculumName"
              curriculumName required formControlName="curriculumName">
            <!-- <mat-error *ngIf="formEditCurriculum.get('curriculumName').hasError('required')">
                          Vui lòng nhập tên chương trình
                      </mat-error> -->
          </mat-form-field>
          <!-- <input fxFlex="60" fxLayoutAlign="start center" type="text" formControlName="curriculumName" class="input_name"
              placeholder="Tên chương trình (*)"> -->
        </div>

        <div *ngIf="data.isRootNode" style="width: 100%; margin-top: 10px;" fxLayout="row">
          <!-- <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> {{data.titleDialog?.nameTitle}}
            (*):
          </label> -->
          <mat-form-field appearance="outline">
            <mat-label>Trạng thái</mat-label>
            <mat-select placeholder="Chọn trạng thái" [(value)]="_currentCurriculum.isActived" (selectionChange)="changeSelectStatus($event)" disableOptionCentering>
              <mat-option [value]="true">
                Kích hoạt
              </mat-option>
              <mat-option [value]="false">
                Ngưng sử dụng
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <input fxFlex="60" fxLayoutAlign="start center" type="text" formControlName="curriculumName" class="input_name"
              placeholder="Tên chương trình (*)"> -->
        </div>
  
        <!-- <div style="width: 100%; margin-top: 10px;" fxLayout="row" fxLayoutAlign="end center"
          *ngIf="f.get('curriculumName').touched && f.get('curriculumName').invalid" class="errors-msg">
          <div fxFlex="100" fxLayoutAlign="end center">
            <div *ngIf="f.get('curriculumName').errors.required">Vui lòng nhập tên chương trình(*)</div>
          </div>
        </div> -->
  
        <mat-dialog-actions>
          <button mat-raised-button class="button-cancel" mat-dialog-close>Hủy</button>
          <button [disabled]="submiting" mat-raised-button type="submit" color="primary">Lưu</button>
        </mat-dialog-actions>
      </form>
    </mat-card-content>
  </mat-card>
  
</div>
