<div class="apply-css-alpha">
  <mat-card class="manage-card" style="position: relative;">
    <mat-card-content>
      <div fxLayout='column' fxLayoutGap.gt-md="20px grid">
        <div fxFlex class="mat-title mb-0">Danh sách trường học</div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="20px grid">
          <div fxFlex="none">
            <button fxLayoutAlign="center center" mat-raised-button color="primary" *ngIf="this.hasAddPermission"
              (click)="openDialog()">
              <mat-icon class="icon">add_circle_outline</mat-icon> Thêm trường
            </button>
          </div>
          <div fxFlex="none">
            <button *ngIf="this.hasAddPermission" fxLayoutAlign="center center" mat-raised-button color="primary"
              (click)="addSchoolFromFile()">
              <mat-icon class="icon">add_circle_outline</mat-icon> Thêm từ tập tin
            </button>
          </div>
          <div fxFlex fxLayoutAlign.gt-md="end center">
            <button *ngIf="isShowFilter" (click)="onClickToggleShowFilter()" fxLayoutAlign="end end" mat-raised-button
              class="button-sm button-hidden-filter">
              <span class="material-icons">visibility_off</span>
              Ẩn bộ lọc
            </button>
            <button *ngIf="!isShowFilter" (click)="onClickToggleShowFilter()" fxLayoutAlign="end end" mat-raised-button
              class="button-sm button-hidden-filter">
              <span style="width: 24px;" class="material-icons">visibility_on</span>
              Hiện bộ lọc
            </button>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
  <mat-card class="manage-card" *ngIf="isShowFilter" style="position: relative;">
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutGap="15px grid" fxLayoutGap.gt-md="35px grid" fxLayoutAlign="start center"
        class="filter-wrapper">
        <div *ngIf="levelManageValue==1" fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">
          <mat-form-field appearance="outline" (click)="onDivisionSelectClicked()">
            <mat-label>Phòng</mat-label>
            <mat-select [formControl]="divisionCtrl" placeholder="Chọn phòng" #singleSelectDivision
              disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="divisionFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                {{division.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">
          <mat-form-field appearance="outline">
            <mat-label>Tìm kiếm</mat-label>
            <input matInput fxFlex type="text" [formControl]="txtFullName" placeholder="Tìm trường" autocomplete="off"
              (keyup.enter)="onSubmitFilter()">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div fxFlex fxLayoutAlign="end center" class="filter-control">
          <button mat-raised-button color="primary" (click)="onSubmitFilter()">
            <mat-icon matSuffix>filter_list</mat-icon>
            Lọc kết quả
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card style="position: relative;">
    <app-spinner2></app-spinner2>
    <div class="table-responsive">
      <table mat-table [dataSource]="schoolsPagination.items" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef> STT </th>
          <td mat-cell *matCellDef="let element;let i=index"> {{element.stt}} {{i + 1}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Tên trường </th>
          <td mat-cell *matCellDef="let element" class="mat-main-column"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> Mã trường </th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <ng-container matColumnDef="donviquanly">
          <th mat-header-cell *matHeaderCellDef> Đơn vị quản lý </th>
          <td mat-cell *matCellDef="let element">{{element.donviname}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <!-- <ng-container matColumnDef="grade">
          <th mat-header-cell *matHeaderCellDef> Khối lớp </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button title="Khối" (click)="AddGradeToSchool(element)">
              <mat-icon svgIcon="grade-class-table-icon" class="icon-funtion"></mat-icon>
            </button>
          </td>
        </ng-container> -->

        <!-- fuction Column -->
        <ng-container matColumnDef="function">
          <th class="end" mat-header-cell *matHeaderCellDef> Chức năng </th>
          <td class="end" mat-cell *matCellDef="let row">
            <mat-icon matTooltip="Khối" (click)="AddGradeToSchool(row)" svgIcon="grade-class-table-icon"
              class="icon-funtion"></mat-icon>
            <mat-icon *ngIf="this.hasEditPermission" mat-icon-button matTooltip="Chỉnh sửa" (click)="UpdateSchool(row)"
              svgIcon="edit-black" class="icon-funtion"></mat-icon>
            <mat-icon *ngIf="this.hasDeletePermission" mat-icon-button matTooltip="Xóa" (click)="DeleteSchool(row)"
              svgIcon="trash-black" class="icon-funtion"></mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell background-no-content text-center" colspan="8">
            <div class="background-no-content-img"></div>
            Không tìm thấy trường
          </td>
        </tr>
      </table>
    </div>

    <mat-paginator [length]="schoolsPagination.totalItems" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
    <!-- <br />
    <div class="filter_bottom_action">
      <button mat-raised-button class="bg-danger btn-remove-selected">
        <span class="material-icons">delete</span>
        Xóa đã chọn
      </button>
    </div> -->
  </mat-card>
</div>
