<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-header>
      <mat-card-title>
        <div>Thống kê bài giảng</div>
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card class="manage-card">
      <form action="" [formGroup]="filterLessonForm" (ngSubmit)="filterReport()">
    <mat-card-content>
      <div class="manage-filter">
        <div class="manage-filter-item" *ngIf="levelManageValue==1">
          <mat-form-field (click)="onDivisionSelectClicked()" appearance="outline">
            <mat-label>Chọn phòng</mat-label>
            <mat-select formControlName="divisionId" placeholder="Chọn phòng" #singleSelectDivision
              disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="divisionFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                {{division.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="manage-filter-item" *ngIf="levelManageValue<=2">
          <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
            <mat-label>Chọn trường</mat-label>
            <mat-select formControlName="schoolId" [disabled]="isDisableSchoolId" placeholder="Chọn trường"
              #singleSelectSchool disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="schoolFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                {{school.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="manage-filter-item">
          <mat-form-field (click)="onGradeSelectClicked()" appearance="outline">
            <mat-label>Chọn khối</mat-label>
            <mat-select formControlName="gradeId" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="gradeFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let gradeId of filteredGrades | async" [value]="gradeId.id">
                {{gradeId.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="manage-filter-item">
          <mat-form-field (click)="onSubjectSelectClicked()" appearance="outline">
            <mat-label>Chọn môn</mat-label>
            <mat-select formControlName="subjectId" placeholder="Chọn môn" [disabled]="isDisableSubjectId"
              #singleSelectSubject disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm môn" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="subjectFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.id">
                {{subject.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="manage-filter-item">
          <mat-form-field appearance="outline" (click)="onTeacherSelectClicked()">
            <mat-label>Giáo viên</mat-label>
            <mat-select [disabled]="isDisableUserId" formControlName="userId" placeholder="Chọn giáo viên"
              #singleSelectTeacher disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="teacherFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let teacher of filteredTeachers | async" [value]="teacher.id">
                {{teacher.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="manage-filter-item">
          <mat-form-field appearance="outline">
            <mat-label>Tìm kiếm</mat-label>
            <input matInput type="text" formControlName="lessonName" name="search" placeholder="Tìm tên bài giảng">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>

        <div class="manage-filter-item manage-filter-item-fill" fxLayoutAlign="center center"
          fxLayoutAlign.gt-sm="end center">
          <button mat-raised-button color="primary" type="submit">
            <mat-icon matSuffix>filter_list</mat-icon>
            Lọc kết quả
          </button>
        </div>
      </div>
    </mat-card-content>
    </form>
  </mat-card>
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxFlex fxLayoutAlign="end center" class="export-data">
        <button mat-raised-button color="primary" (click)="exportExcel()">
          <mat-icon matSuffix>file_download</mat-icon>
          Xuất dữ liệu
        </button>
      </div>
    </mat-card-content>

    <div class="table-responsive">
      <table class="text-table" mat-table [dataSource]="reportLearnPagination.items" matSort>

        <ng-container matColumnDef="stt">
          <th class="text-table center" mat-header-cell *matHeaderCellDef> STT
          </th>
          <td class="text-data center" mat-cell *matCellDef="let element;index as i"> {{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="LessonName">
          <th class="text-table" mat-header-cell *matHeaderCellDef> Tên bài giảng
          </th>
          <td class="text-data" mat-cell *matCellDef="let element" class="mat-main-column"> {{element.lessonName}} </td>
        </ng-container>

        <ng-container matColumnDef="TeacherName">
          <th class="text-table" mat-header-cell *matHeaderCellDef> Tên giáo viên</th>
          <td class="text-data" mat-cell *matCellDef="let element">{{element.teacherName}}</td>
        </ng-container>
        <ng-container matColumnDef="TotalStudentRegister">
          <th class="text-table center" mat-header-cell *matHeaderCellDef> tổng số học sinh được ghi danh </th>
          <td class="text-data center" mat-cell *matCellDef="let element"> {{element.totalStudentAgg}}
          </td>
        </ng-container>

        <ng-container matColumnDef="TotalStudentComplete">
          <th class="text-table center" mat-header-cell *matHeaderCellDef> Tổng số học sinh hoàn thành
          </th>
          <td class="text-data center" mat-cell *matCellDef="let element">
            {{element.totalStudentComplete}}
        </ng-container>
        <ng-container matColumnDef="function">
          <th class="text-table center" mat-header-cell *matHeaderCellDef> Chi tiết
          </th>
          <td class="text-data center" mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="showDetail(element.lessonId)">
              <mat-icon svgIcon="detail-report-lesson"></mat-icon>
            </button>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell background-no-content text-center" colspan="6">
            <div class="background-no-content-img"></div>
            Không có dữ liệu
          </td>
        </tr>
      </table>
      <div fxLayout="row" fxLayoutAlign="end end" class="paggination">
        <mat-paginator [length]="reportLearnPagination.totalItems" [pageSizeOptions]="[10, 20, 50, 100]">
        </mat-paginator>
      </div>
    </div>
  </mat-card>
</div>