<div class="apply-css-alpha">
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-card fxFlex=48 class="manage-card">
      <mat-card-header>
        <mat-card-title>Thông tin kỳ thi</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div fxLayout="row wrap" *ngIf="dataInfoExam != null" fxLayoutGap="20">
          <div fxLayout="row" fxFlex="50" class="p-t-10">
            <label fxFlex=50 class="form-title-label">Tên kỳ thi</label>
            <label fxFlex=50 class="form-title-detail text-wrap" #tooltip="matTooltip"
              matTooltip="{{dataInfoExam.name}}">{{dataInfoExam.name}}</label>
          </div>
          <div fxLayout="row" fxFlex="50" class="p-t-10">
            <label fxFlex=50 class="form-title-label">Thang đánh giá</label>
            <label fxFlex=50 class="form-title-detail">{{dataInfoExam.assessmentLevelGroupName}}</label>
          </div>
          <div fxLayout="row" fxFlex="50" class="p-t-10">
            <label fxFlex=50 class="form-title-label">Ngày bắt đầu</label>
            <label fxFlex=50 class="form-title-detail">{{dataInfoExam.startDate | date: 'dd/MM/yyyy'}}</label>
          </div>
          <div fxLayout="row" fxFlex="50" class="p-t-10">
            <label fxFlex=50 class="form-title-label">Hình thức thi</label>
            <label fxFlex=50 class="form-title-detail">
              <ng-container *ngIf="dataInfoExam.type == 'CON'; else elseTemplate">
                <span>Tập trung</span>
              </ng-container>
              <ng-template #elseTemplate>
                <span>Tự do</span>
              </ng-template>
            </label>
          </div>
          <div fxLayout="row" fxFlex="50" class="p-t-10">
            <label fxFlex=50 class="form-title-label">Ngày kết thúc</label>
            <label fxFlex=50 class="form-title-detail">{{dataInfoExam.endDate | date: 'dd/MM/yyyy'}}</label>
          </div>
          <div fxLayout="row" fxFlex="50" class="p-t-10">
            <label fxFlex=50 class="form-title-label">Trạng thái</label>
            <span fxFlex=50 *ngIf="dataInfoExam.status=='EDI'">
              <span class="editing">Đang chỉnh sửa</span>
            </span>
            <span fxFlex=50 *ngIf="dataInfoExam.status=='WAI'">
              <span class="waiting">Chờ duyệt</span>
            </span>
            <span fxFlex=50 *ngIf="dataInfoExam.status=='PUB'">
              <span class="approved">Đã duyệt</span>
            </span>
            <span fxFlex=50 *ngIf="dataInfoExam.status=='REF'">
              <span class="rejected">Bị trả lại</span>
            </span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex=48 class="manage-card">
      <mat-card-header>
        <mat-card-title>Thông tin thiết lập 1</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div fxLayout="row" *ngIf="dataInfoExam != null">
          <div fxFlex=50 fxLayout="column" fxLayoutGap="10px">
            <div fxLayoutAlign="start start" fxFlex="row">
              <mat-icon class="m-r-5" *ngIf="this.dataInfoExam.isPreservingTime" style="color: #43a047;">task_alt
              </mat-icon>
              <mat-icon class="m-r-5" *ngIf="!this.dataInfoExam.isPreservingTime" style="color: #DA251D;">highlight_off
              </mat-icon>
              <label class="form-title-detail">Bảo toàn làm bài cho thí sinh</label>
            </div>
            <div fxLayoutAlign="start start" fxFlex="row">
              <mat-icon class="m-r-5" *ngIf="this.dataInfoExam.isPublicScore" style="color: #43a047;">task_alt
              </mat-icon>
              <mat-icon class="m-r-5" *ngIf="!this.dataInfoExam.isPublicScore" style="color: #DA251D;">highlight_off
              </mat-icon>
              <label class="form-title-detail">Công khai điểm với thí sinh</label>
            </div>
            <div fxLayoutAlign="start start" fxFlex="row">
              <mat-icon class="m-r-5" *ngIf="this.dataInfoExam.isPublicAnswer" style="color: #43a047;">task_alt
              </mat-icon>
              <mat-icon class="m-r-5" *ngIf="!this.dataInfoExam.isPublicAnswer" style="color: #DA251D;">highlight_off
              </mat-icon>
              <label class="form-title-detail">Hiển thị đáp án sau khi thi xong</label>
            </div>
          </div>
          <div fxFlex=50 fxLayout="column" fxLayoutGap="10px">
            <div fxLayout=row>
              <label class="form-title-detail">Tự đông ghi log sau </label>
              <mat-form-field class="margin-l-r-5 mat-form-field-input" appearance="outline" fxFlex="15">
                <input matInput onfocus="this.blur()" (click)="$event.preventDefault()"
                  [value]="this.dataInfoExam.logTime">
              </mat-form-field>
              <label class="form-title-detail">phút</label>
            </div>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="manage-card">
    <mat-card-header>
      <mat-card-title>Danh sách môn thi</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <table mat-table [dataSource]="subjectOfExam" *ngIf="dataInfoExam != null">
        <!-- Position Column -->
        <ng-container matColumnDef="STT">
          <th mat-header-cell *matHeaderCellDef> STT </th>
          <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef> Môn thi </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef> Ngày bắt đầu </th>
          <td mat-cell *matCellDef="let element">
            <span class="text-green"><b>{{element.startDate|date :'HH:mm'}}</b></span>
            <span> &nbsp; {{ element.startDate|date :'dd/MM/yyyy'}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="endTime">
          <th mat-header-cell *matHeaderCellDef> Ngày kết thúc </th>
          <td mat-cell *matCellDef="let element">
            <span class="text-red"><b>{{element.endDate|date :'HH:mm'}}</b></span>
            <span> &nbsp; {{ element.endDate|date :'dd/MM/yyyy'}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="testKit">
          <th mat-header-cell *matHeaderCellDef> Bộ đề thi </th>
          <td mat-cell *matCellDef="let element">
            {{element.testKitName}}
            <a [routerLink]="['/dashboard/examination-manager/exams/approval', element.testKitId]">
              <button class="btn-action" mat-icon-button title="Xem chi tiết"
                (click)="hanleGetListQuestionBank(element.testKitId, element.testKitName)">
                <mat-icon>assignment</mat-icon>
              </button>
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="config">
          <th class="center-element" mat-header-cell *matHeaderCellDef> Thiết lập </th>
          <td class="center-element" mat-cell *matCellDef="let element">
            <button class="btn-action" mat-icon-button (click)="settingSubject(element.id)" title="Xem thiết lập">
              <mat-icon>settings</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <button mat-flat-button class="button-cancel" (click)="backListExams()">Quay lại</button>

    <button mat-flat-button color="primary" class="text-white" (click)="approveExam()">Duyệt</button>

    <button mat-flat-button class="bg-danger text-white" (click)="rejectExam()">Trả lại</button>
  </div>

</div>