<div class="dialog">
    <div class="btn_cancel_top" >
      <span class="material-icons" (click)="onCancelClick()">
        clear
      </span>
    </div>
    <div class="header"><span>CẬP NHẬT ĐIỂM</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="flex_row content">
      <label class="dialog_label">Điểm từng câu</label>
      <div>
        <input type="number" id="myNumber" min="1" [(ngModel)]="data" />
      </div>
    </div>
    <div class="btn_group">
      <div fxLayout="row" fxLayoutAlign="center center" class="flex_row">
        <button mat-raised-button color="primary" class="btn_cancel" (click)="onCancelClick()">HỦY</button>
        <button mat-raised-button color="primary" class="btn_save" [mat-dialog-close]="data" cdkFocusInitial>LƯU</button>
      </div>
    </div>
  </div>
  