.input_search {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

:host :host ::ng-deep .top_box__filter {
  .date-time-range {
    .mat-form-field-wrapper {
      padding: 0px !important;
      border: 1px solid #ccc;
      border-radius: 4px;
      height: 30px;

      .mat-form-field-flex {
        .mat-form-field-infix {
          position: absolute;
          top: 2px;
          font-size: 14px;
          left: 4px;
          width: 90%;
          z-index: 999;

          .mat-form-field-label-wrapper {
            top: -12px !important;
          }

          .mat-date-range-input {
            .mat-date-range-input-container {
              .mat-date-range-input-start-wrapper {
                input[type="text"]::-webkit-input-placeholder {
                  color: orange;
                }
              }

              .mat-date-range-input-end-wrapper {
                input[type="text"]::-webkit-input-placeholder {
                  color: orange;
                }
              }
            }
          }
        }

        .mat-form-field-suffix {
          position: absolute;
          right: 0;
          top: 3px;
        }
      }
    }
  }
}

.pointer-cursor {
  cursor: pointer;
}

.not-alow-cursor {
  cursor: not-allowed !important;
}

.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  max-height: 80%;
  overflow: auto;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.line-height-36 {
  line-height: 36px;
}

.filter_bottom_action {
  display: flex;
  justify-content: space-between;
}

.action-button .material-icons {
  color: #fff;
}

.btn-refresh-list,
.btn-add-user,
.btn-remove-selected {
  color: #fff;
}

.btn-refresh-list {
  min-width: 40px !important;
  padding: 0px 9px;
}

.btn-hide-filter {
  background: #e5e5e5;
}

.mat-danger {
  margin: 10px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.input_name {
  width: 980px;
  height: 31px;
  padding: 0 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.btn-filter {
  color: #fff;
}

.filter-wrapper {
  padding: 10px 20px;
}

.first-filter-wrapper {
  padding-top: 20px;
}

.btn-filter {
  margin-top: 0px;
  margin-bottom: 0px;
}

.filter-control {
  padding-top: 15px;
  padding-right: 15px;
}

.editing {
  background: #4f91ff;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
  width: fit-content;
}

.waiting {
  background: #e5ae40;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
  width: fit-content;
}

.approved {
  background: #4caf50;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
  width: fit-content;
}

.rejected {
  background: #f8877f;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
  width: fit-content;
}

.button-filter {
  padding-right: 10px;
}

.assign-student {
  position: relative;
}

.block-icon {
  position: absolute;
  top: 15px;
  font-size: 14px !important;
  right: -5px;
  z-index: 3;
  color: #e5ae40 !important;
}

.padding-b-0 {
  padding-bottom: 0px !important;
}

.padding-b-15 {
  padding-bottom: 15px !important;
}

.icon-funtion {
  height: 20px;
}

.mat-row {
  height: 66px;
}

.avatar-area {
  height: 40px;

  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .first-name-avt {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #EEEEEE;
    color: #4CAF50;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
}

.mat-main-column {
  width: 40%;
}

.block {
  cursor: not-allowed !important;
}

@media only screen and (min-width: 1441px) {
  .padding-b-15 {
    padding-bottom: 20px !important;
  }
}

.padding-b-40 {
  padding-bottom: 40px !important;
}
.user-filter-date.close_button {
  position: absolute;
  font-size: 17px;
  right: 12px;
  height: auto;
  margin-top: 0;
  color: #757575;
  top: 2px;
  cursor: pointer;
  width: auto;
}
@media (max-width: 1440px) {
}
