<div class="apply-css-alpha">
  <form [formGroup]="filterLessonForm" (ngSubmit)="onSubmit()">
    <mat-card class="manage-card">
      <mat-card-header>
        <mat-card-title>
          <div>Danh sách bài giảng</div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="pt-0">
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="16px grid">
          <div fxFlex="none">
            <button mat-raised-button color="primary" (click)="addLesson()" type="button"
              *ngIf='hasAddLessonPermission'>
              <mat-icon class="icon">add_circle_outline</mat-icon>
              Thêm bài giảng
            </button>
          </div>
          <div fxFlex="none">
            <a mat-raised-button color="primary" routerLink="/dashboard/learn/list-lesson-to-be-approved"
              *ngIf='hasApprovePermission'>
              <mat-icon class="icon">file_download_done</mat-icon>
              Duyệt bài giảng
            </a>
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <button *ngIf="isShowFilter" (click)="onClickToggleShowFilter()" mat-raised-button type="button"
              class="button-hidden-filter">
              <span class="material-icons">visibility_off</span>
              Ẩn bộ lọc
            </button>
            <button *ngIf="!isShowFilter" (click)="onClickToggleShowFilter()" mat-raised-button type="button"
              class="button-hidden-filter">
              <span style="width: 24px;" class="material-icons">visibility_on</span>
              Hiện bộ lọc
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="top_box__filter" *ngIf="isShowFilter">
      <mat-card class="manage-card">
        <mat-card-content class="padding-b-40">
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="35px grid" fxLayoutGap.gt-md="35px grid">
            <div fxFlex fxFlex.gt-md="25" *ngIf="levelManageValue==1" class="padding-b-15">
              <mat-form-field (click)="onDivisionSelectClicked()" appearance="outline">
                <mat-label>Chọn phòng</mat-label>
                <mat-select formControlName="divisionId" placeholder="Chọn phòng" #singleSelectDivision
                  disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="divisionFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                    {{division.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex fxFlex.gt-md="25" *ngIf="levelManageValue<=2" class="padding-b-15">
              <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
                <mat-label>Chọn trường</mat-label>
                <mat-select formControlName="schoolId" [disabled]="isDisableSchoolId" placeholder="Chọn trường"
                  #singleSelectSchool disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="schoolFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                    {{school.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex fxFlex.gt-md="25" class="padding-b-15">
              <mat-form-field (click)="onGradeSelectClicked()" appearance="outline">
                <mat-label>Chọn khối</mat-label>
                <mat-select formControlName="gradeId" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="gradeFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let gradeId of filteredGrades | async" [value]="gradeId.id">
                    {{gradeId.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex fxFlex.gt-md="25" class="padding-b-15">
              <mat-form-field (click)="onSubjectSelectClicked()" appearance="outline">
                <mat-label>Chọn môn</mat-label>
                <mat-select formControlName="subjectId" placeholder="Chọn môn" [disabled]="isDisableSubjectId"
                  #singleSelectSubject disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm môn" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="subjectFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.id">
                    {{subject.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex fxFlex.gt-md="25" class="padding-b-15">
              <mat-form-field (click)="onContentPanelSelectClicked()" appearance="outline">
                <mat-label>Chọn khung</mat-label>
                <mat-select formControlName="contentPanelId" [disabled]="isDisableContentPanelId"
                  placeholder="Chọn khung" #singleSelectContentPanel disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm khung" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="contentPanelFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let contentPanel of filteredContentPanels | async"
                    [value]="contentPanel.curriculumId">
                    {{contentPanel.curriculumName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex fxFlex.gt-md="25" class="padding-b-15">
              <mat-form-field (click)="onChapterSelectClicked()" appearance="outline">
                <mat-label>Chọn chương</mat-label>
                <mat-select formControlName="chapterId" [disabled]="isDisableChapterId" placeholder="Chọn chương"
                  #singleSelectChapter disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm chương" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="chapterFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let chapter of filteredChapters | async" [value]="chapter.id">
                    {{chapter.curriculumName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex fxFlex.gt-md="25" class="padding-b-15">
              <mat-form-field (click)="onUnitSelectClicked()" appearance="outline">
                <mat-label>Chọn bài</mat-label>
                <mat-select formControlName="unitId" [disabled]="isDisableUnitId" placeholder="Chọn bài"
                  #singleSelectUnit disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm bài" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="contentPanelFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let unit of filteredUnits | async" [value]="unit.id">
                    {{unit.curriculumName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex fxFlex.gt-md="25" class="padding-b-15">
              <mat-form-field appearance="outline">
                <mat-label>Khoảng thời gian</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input formControlName="createdDate" [min]="minDate" matStartDate placeholder="Tạo từ ngày">
                  <input formControlName="endDate" matEndDate placeholder="Đến ngày">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-icon *ngIf="this.createdDate.value ||this.endDate.value" (click)="clearDate()" class="user-filter-date close_button"
                matDatepickerToggleIcon>clear</mat-icon>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
            <div fxFlex fxFlex.gt-md="25" *ngIf="isShowteacherCombobox" class="padding-b-15">
              <mat-form-field appearance="outline" (click)="onTeacherSelectClicked()">
                <mat-label>Giáo viên</mat-label>
                <mat-select [disabled]="isDisableUserId" formControlName="userId" placeholder="Chọn giáo viên"
                  #singleSelectTeacher disableOptionCentering>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                      [formControl]="teacherFilterCtrl">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let teacher of filteredTeachers | async" [value]="teacher.id">
                    {{teacher.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex fxFlex.gt-md="25" class="padding-b-15">
              <mat-form-field appearance="outline">
                <mat-label>Tìm kiếm</mat-label>
                <input matInput type="text" formControlName="lessonName" name="search" placeholder="Tìm tên bài giảng">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
            <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center" class="padding-b-15">
              <button mat-raised-button color="primary" type="submit">
                <mat-icon matSuffix>filter_list</mat-icon>
                Lọc kết quả
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="manage-card">

        <div class="mt-4">
          <div class="example-container">
            <app-spinner2></app-spinner2>
            <div class="example-table-container">
              <table mat-table [dataSource]="lessonsPagination.items">
                <ng-container matColumnDef="stt">
                  <th mat-header-cell *matHeaderCellDef> STT
                  </th>
                  <td mat-cell *matCellDef="let element;let i = index">
                    {{i+1}}
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Tên bài giảng
                  </th>
                  <td mat-cell *matCellDef="let element" class="mat-main-column">
                    <div fxLayout="row">
                      <div *ngIf="element.avatar" class="avatar-area m-r-10">
                        <img [src]="element.avatar" alt="">
                        
                      </div>
                      <div *ngIf="!element.avatar" class="avatar-area m-r-10">
                        <div fxLayoutAlign="center center" class="first-name-avt">
                          {{getFirstName(element.name)}}
                        </div>
                      </div>
                      <div>
                        <div fxLayout="column">
                          <span [matTooltip]="element.name" class="text-wrap">
                            {{element.name}}
                          </span>
                          <span class="editing" *ngIf="element.status=='EDI'">Đang chỉnh sửa</span>
                          <span class="waiting" *ngIf="element.status=='PEN'">Đang chờ duyệt</span>
                          <span class="approved" *ngIf="element.status=='PUB'">Đã duyệt</span>
                          <span class="rejected" *ngIf="element.status=='RET'">Bị trả lại</span>
                        </div>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Giáo
                    viên </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.userName}}
                  </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Ngày
                    tạo
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.createdDate |
                    date:'dd-MM-yyyy'}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="function">
                  <th mat-header-cell *matHeaderCellDef> Chức
                    năng
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="hasPermissionAssign" (click)="registerLesson(element)"
                      [ngClass]="element.status==lessonStatusEnum.Publish ? 'pointer-cursor' : 'not-alow-cursor'"
                      matTooltip='Ghi danh' class="assign-student icon-funtion" svgIcon="release-sermons">
                      <span *ngIf="element.status!=lessonStatusEnum.Publish" class="material-icons block-icon">
                        block
                      </span>
                    </mat-icon>

                    <mat-icon (click)="editLesson(element.id)" matTooltip='Chỉnh sửa' *ngIf='hasEditLessonPermission'
                      ngClass="pointer-cursor" class="icon-funtion" svgIcon="edit-black"></mat-icon>
                    <!-- TODO : LAMNV11 Hidden to demo Date : 2021/25/05 -->
                    <!-- <button mat-icon-button (click)="copyLesson(element.id)" [disabled]='!hasCopyLessonPermission'
                        [ngClass]="hasCopyLessonPermission ? 'pointer-cursor' : 'not-alow-cursor'">
                        <mat-icon class="lesson_icon__action" svgIcon="copy-black"></mat-icon>
                      </button> -->
                    <mat-icon (click)="deleteLesson(element)" *ngIf="hasDeleteLessonPermission" matTooltip='Xóa'
                      ngClass="pointer-cursor" class="icon-funtion" svgIcon="trash-black">
                    </mat-icon>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="double">
                  <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td colspan="5" class="mat-cell background-no-content">
                    <div class="background-no-content-img"></div>
                    <div class="background-no-content-info">
                      <p>Không tìm thấy bài giảng</p>
                    </div>
                  </td>
                </tr>
              </table>
              <mat-paginator [length]="lessonsPagination.totalItems" [pageSizeOptions]="[10, 20, 30, 100]"
                (page)="pageChange($event)">
              </mat-paginator>
            </div>
          </div>
          <div class="filter_bottom_action">
          </div>
        </div>
      </mat-card>
    </div>
  </form>
</div>