<div class="apply-css-alpha">
  <mat-card>
    <mat-card-content>
      <form fxLayout="column" (ngSubmit)="submitForm()">
        <div class="mat-dialog-title"> PHÂN CÔNG CHỦ NHIỆM</div>
        <div class="m-t-10 w-100" fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field appearance="outline" (click)="onTeacherSelectClicked()">
            <mat-label>Giáo viên</mat-label>
            <mat-select required [formControl]="teacherCtrl" placeholder="Chọn giáo viên" #singleSelectDivision
              disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm giáo viên" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="teacherFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let teacher of filteredTeachers | async" [value]="teacher.id">
                {{teacher.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-dialog-actions>
          <button mat-raised-button class="button-cancel" mat-dialog-close>Hủy</button>
          <button mat-raised-button type="submit" color="primary" class="btn_continue">Lưu</button>
        </mat-dialog-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
