<div fxLayout="column" class="exam-rule-dialog-container">
    <div fxFlex="row" fxLayoutAlign="center start" class="exam-rule-dialog-header">
        <span class="exam-rule-dialog-title">QUY CHẾ LÀM BÀI</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="exam-rule-dialog-content">
        <!-- <p> {{lockScreenTest}} </p> -->
        <p> {{publicScore}} </p>
        <p> {{publicAnswer}} </p>
    </div>
    <div fxFlex="row" fxLayoutAlign="center center" class="m-t-10">
        <button mat-button color="warn" mat-dialog-close="true" class="close-button">ĐÓNG</button>
    </div>
</div>