.exam-rule-dialog-header {
  min-height: 35px;
  .exam-rule-dialog-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #303030;
  }
}

.exam-rule-dialog-content {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #555555;
}

.close-button {
  background: linear-gradient(0deg, #DA251D, #DA251D), #DA251D;
  border-radius: 6px;
  color: #FFFFFF;
}
