<div fxLayout="row">
  <div class="question-content ck-editor-cls" fxFlex="100%">
    <p><b>Nội dung câu hỏi :</b></p>
    <ckeditor #ck [(ngModel)]="ckeditorContent" id='txtNoiDungCauHoi' [config]="configQuestion">
    </ckeditor>
    <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
      style="display:none!important" />
    <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
    <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
  </div>
</div>
<div class="center-btn-footer" [hidden]="dataQuestion!=null">
    <button mat-raised-button class="btn-footer btn-success btn-fixed-width" (click)="getvalue()">Lưu</button>
    <button mat-raised-button class="btn-footer btn-success">Lưu và tạo mới</button>
    <a routerLink="/dashboard/questionbanks/">
      <button mat-raised-button class="btn-footer btn-cancel btn-fixed-width">Hủy</button>
      </a>
  </div>