<div class="common" [ngClass]="{'dark': isDarkMode}">
  <!-- <div class="title-container" fxLayout="row">
    <span class="title" fxLayoutAlign="start center">Trò chuyện</span>
  </div> -->

  <div class="content-chat">
    <div class="container-chat">
      <!-- <div class="title-box" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title-chat">Trò chuyện</span>
      </div> -->
      <div class="body-chat">
        <div class="comment-parent">
          <div fxLayout="column" *ngFor="let item of commentResponse">
            <div class="comment-parent-content" fxLayout=row fxFlex=100 fxLayoutGap=15px>
              <img class="avatar" src="{{item.userAvartar}}" fxFlex=15>
              <div fxLayout="column" fxLayoutGap="10px" fxFlex=85>
                <div class="comment-content">
                  <div class="header-comment" fxLayout=row fxLayoutAlign="space-between start">
                    <span class="name">{{item.userName}}</span>
                    <mat-icon svgIcon="edit-black" class="icon" *ngIf="item.userId == userId"
                      (click)="editComment(item.commentStudentId,item.messageContent )"></mat-icon>
                  </div>
                  <span *ngIf="isEdit==false || item.commentStudentId != select"
                    class="content-comment">{{item.messageContent}}</span>

                  <mat-form-field *ngIf="isEdit ==true && item.commentStudentId == select">
                    <textarea value="{{item.messageContent}}" matInput [(ngModel)]="commentUpdate"
                      (keydown.enter)="updateComment(item.commentStudentId)" class="update-comment-input"></textarea>
                  </mat-form-field>

                  <!-- <div class="like" fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon class="like-icon">thumb_up</mat-icon>
                    <span class="like-number">1</span>
                  </div> -->
                </div>
                <div fxLayout="row" fxLayoutGap="10px" class="action-box--custom">
                  <!-- <span class="action liked">Thích</span> -->
                  <span class="action" (click)="answer(item.commentStudentId)">Trả lời</span>
                  <span class="action" *ngIf="item.userId == userId"
                    (click)="deleteComment(item.commentStudentId)">Xóa</span>
                  <span class="time">{{item.time }}</span>
                </div>
                <!--child-->
                <div *ngIf="item.listChild?.length > 0">
                  <div *ngFor="let child of item.listChild">
                    <div class="comment-parent-content" fxLayout=row fxLayoutGap=15px
                      *ngIf="item.commentStudentId == child.parentId">
                      <img class="avatar" src="{{child.userAvartar}}">
                      <div class="comment-content">
                        <div class="header-comment" fxLayout=row fxLayoutAlign="space-between start">
                          <span class="name">{{child.userName}}</span>
                          <mat-icon svgIcon="edit-black" class="icon" *ngIf="child.userId == userId"
                            (click)="updateChildClick(child.commentStudentId,child.messageContent)"></mat-icon>
                        </div>
                        <!-- <span class="content-comment">{{child.messageContent}}</span> -->

                        <span *ngIf="isEditChild==false || child.commentStudentId != selectChild"
                          class="content-comment">{{child.messageContent}}</span>

                        <mat-form-field *ngIf="isEditChild ==true && child.commentStudentId == selectChild">
                          <textarea value="{{child.messageContent}}" matInput [(ngModel)]="commentChildUpdate"
                            (keydown.enter)="updateCommentChild(item.commentStudentId,child.commentStudentId)"
                            class="update-comment-input"></textarea>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="action-box" fxLayout="row" fxLayoutGap="10px"
                      *ngIf="item.commentStudentId == child.parentId">
                      <!-- <span class="action">Thích</span> -->
                      <span class="action" (click)="answer(item.commentStudentId)">Trả lời</span>
                      <span class="action" *ngIf="child.userId == userId"
                        (click)="deleteCommentChild(item.commentStudentId, child.commentStudentId)">Xóa</span>
                      <span class="time">{{child.time }}</span>

                    </div>
                  </div>
                </div>
                <!--END-->
                <div class="comment-parent-content" fxLayout=row fxFlex=100 fxLayoutGap=15px
                  *ngIf="isAnswer==true && item.commentStudentId == answerSelect">
                  <img class="avatar-child" src="{{userAvartar}}" fxFlex=15 fxFlex.gt-lg=10>

                  <div class="input-box">
                    <!-- <input type="text"  [(ngModel)]="commentContent" (keydown.enter)="sendComment()"
                      placeholder="Nhập tin nhắn ở đây..."> -->
                    <input type="text" placeholder="Nhập tin nhắn ở đây" class="input" [(ngModel)]="commentContentChild"
                      (keydown.enter)="saveChildComment(item.commentStudentId)">
                    <button mat-icon-button class="send-button" (click)="saveChildComment(item.commentStudentId)">
                      <mat-icon class="send-button__icon">send</mat-icon>
                    </button>
                  </div>
                </div>
                <span class="see-more" (click)="seeMore(item.commentStudentId)" [fxHide]="item?.isHideChild==true">Xem
                  thêm</span>
              </div>
            </div>
          </div>
          <span class="see-more" [fxHide]="isHideParent==true" (click)="seeMoreParent()"
            *ngIf="commentResponse?.length > 3">Xem thêm phản hồi!</span>


          <div *ngIf="commentResponse?.length == 0" class="no-reference-data-display">
            <div class="mat-cell background-no-content">
              <div class="background-no-content-img">

              </div>
              <div class="background-no-content-info">
                <p class="primary">Hiện chưa có tin nhắn</p>
                <span class="sencondary">Vui lòng nhập tin nhắn bên dưới</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="input-content">
    <div class="input-box">
      <input type="text" class="input" [(ngModel)]="commentContent" (keydown.enter)="sendComment()"
        placeholder="Nhập tin nhắn ở đây...">
      <button mat-icon-button class="send-button" (click)="sendComment()">
        <mat-icon class="send-button__icon">send</mat-icon>
      </button>
    </div>
  </div>
</div>
