.title-container {
  margin: 0 20px;
  height: 55px;
}

.title {
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #303030;
}

.content-chat {
  background-color: #f7f7f7;
  min-height: 65.5vh;
}

.container-chat {
  margin: 0 20px;
  position: relative;
  min-height: 100%;
}

.title-box {
  padding: 15px 0px;
}

.title-chat {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.body-chat {
  padding-bottom: 70px;
  height: 100%;
}

.input-content {
  bottom: 10px;
  left: 20px;
  position: absolute;
  width: 90%;
}

.input-box {
  position: relative;
  width: 100%;
}

.input {
  height: 44px;
  background-color: white;
  border-radius: 27px;
  border: none;
  width: 100%;
  padding: 12px;
  color: #888888;
}

.send-button {
  position: absolute;
  right: 6px;

  &__icon {
    color: #4CAF50 !important;
  }
}


.comment-content {
  position: relative;
  background-color: white;
  border-radius: 0 11px 11px 11px;
  width: 100%;
  padding: 8px 10px;
}

.like {
  position: absolute;
  background-color: #EDF9EE;
  bottom: -7px;
  right: 0;
  border-radius: 8px;
  width: 30px;
  height: 15px;
}

.like-icon {
  font-size: 14px;
  margin-top: 11px;
  margin-left: 7px;
  color: #4CAF50;
}

.liked {
  color: #4CAF50 !important;
}

.like-number {
  font-size: 10px;
  color: #303030;
}

.action-box {
  margin-left: 70px !important;

  &--custom {
    margin-left: 12px;
  }
}

.container {
  height: calc(100% - 44px);
  overflow: hidden;
}

.comment-parent {
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.comment-parent-content {
  margin-bottom: 5px;
  margin-top: 12px;
}

.header-comment {
  margin: 0;
  padding: 0;
}

.icon {
  width: 12px;
  height: 12px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: contain;
}

.avatar-child {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: contain;
}

.name {
  text-transform: capitalize;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.content-comment {
  font-size: 14px;
  line-height: 16px;
  color: #888888;
  display: block;
  margin-top: 3px;
}

.action {
  font-size: 10px;
  color: #303030;
  line-height: 12px;
  cursor: pointer;
  font-weight: 600;
}

.action:hover {
  color: #4CAF50;
}

.time {
  font-size: 10px;
  line-height: 12px;
  color: #888888;
}

.see-more {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #555555;
  cursor: pointer;
}

//comment-children
.comment-children {
  margin-top: 12px;
  margin-left: 70px;
}

.update-comment-input {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #888888;
  font-size: 12px;
}

:host::ng-deep .mat-form-field-infix {
  padding: 0 !important;
}

@media (max-width:1440px) {
  .content-chat {
    height: calc(65.5vh);
  }
}

@media (min-width:1441px) and (max-width:1920px) {
  .content-chat {
    height: calc(65.5vh);
  }
}


.common {
  position: relative;
  overflow: hidden;
  height: 100%;
  background: #f7f7f7;
}

.container-chat {
  height: calc(100vh - 320px);
  overflow: hidden;
}

.dark {
  background: #161616 !important;

  .title {
    color: #303030;
  }

  .title-chat {
    color: white;
  }

  .comment-content {
    background: #3B3B3B;
  }

  .content-chat {
    background: #161616;
  }

  .action {
    color: white;
  }

  .time {
    color: white;
  }

  .input {
    background: #3B3B3B;
  }

  .see-more {
    color: white;
  }

  .name {
    color: white;
  }
  
  .primary {
    color:white !important;
  }
  
  .sencondary {
    color:white !important;
  }
}

.primary {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */

  text-align: center;

  /* text-icon-2 */

  color: #555555;

  opacity: 0.98;
  margin: 25px 0 0;
}

.sencondary {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  text-align: center;
  color: #555555;

  opacity: 0.98;
}
