<form [formGroup]="unitInfoForm">
  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <div fxLayout="column" class="body" fxLayoutGap=30px>
      <div fxLayout="row" fxLayoutAlign="start center">
        <span class="title title-custom">Nhận diện</span>
        <span class="tab-mobile" (click)="activeDesktop()" [ngClass]="{'isActive': current ===true}">Desktop</span>
        <span class="tab-mobile" (click)="activeMobile()" [ngClass]="{'isActive': current ===false}">Mobile</span>
      </div>
      <ng-container *ngIf="current; else elseTemplate">
        <div fxLayout="row" fxLayoutGap=52px class="block">
          <div fxLayout="column" fxLayoutGap="28px">
            <span class="lable">Logo (250x250px)</span>

            <div for="input-image-id" class="avatar_banner" [contextMenu]="logoContextMenu"
              (click)="onChangeImageLogoHandleClick()" [ngClass]="(!imageLogoUrl) ? 'background_banner': ''"
              matTooltip="Kích thước logo khuyết nghị 250x250px">
              <input #inputLogoFile (change)="onChangeImageLogoInput($event)" class="ng-hide" id="input-image-id"
                multiple type="file" accept="image/*" />
              <div>
                <img [src]="imageLogoUrl" alt="">
              </div>
            </div>
          </div>

          <div fxLayout="column" fxLayoutGap="28px">
            <span class="lable">Favicon (50x50px)</span>

            <div for="input-image-id" class="avatar_banner" [contextMenu]="faviconContextMenu"
              (click)="onChangeImageFaviconHandleClick()" [ngClass]="(!imageFaviconUrl) ? 'background_banner': ''"
              matTooltip="Kích thước favicon khuyết nghị 50x50px">
              <input #inputFaviconFile (change)="onChangeImageFaviconInput($event)" class="ng-hide" id="input-image-id"
                multiple type="file" accept="image/*" />
              <div>
                <img [src]="imageFaviconUrl" alt="">
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxFlex=100 class="flex_item">
          <div fxLayout="column" fxLayoutGap=18px>
            <span class="lable">Banner (1920x407px)</span>
            <div for="input-image-id" [contextMenu]="bannerContextMenu" class="avatar_banner-desktop"
              (click)="onChangeImageBannerHandleClick()"
              [ngClass]="(!imageBanerDesktopUrl) ? 'background_banner-desktop': ''"
              matTooltip="Kích thước banner khuyết nghị 1920x407px">
              <input #inputBannerFile (change)="onChangeImageBanerInput($event)" class="ng-hide" id="input-image-id"
                multiple type="file" accept="image/*" />
              <div>
                <img [src]="imageBanerDesktopUrl" alt="">
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        <div fxLayout="row" fxLayoutGap=52px>
          <div fxLayout="column" fxLayoutGap="28px">
            <span class="lable">Logo (50x50px)</span>

            <div for="input-image-id" class="avatar_banner" [contextMenu]="logoMobileContextMenu"
              (click)="onChangeImageLogoMobileHandleClick()" [ngClass]="(!imageLogoMobileUrl) ? 'background_banner': ''"
              matTooltip="Kích thước logo mobile khuyết nghị 50x50px">
              <input #inputLogoMobileFile (change)="onChangeImageLogoMobileInput($event)" class="ng-hide"
                id="input-image-id" multiple type="file" accept="image/*" />
              <div>
                <img [src]="imageLogoMobileUrl" alt="">
              </div>
            </div>
          </div>

          <div fxLayout="column" fxLayoutGap="28px">
            <span class="lable">Favicon</span>
            <div for="input-image-id" class="avatar_banner" [contextMenu]="faviconContextMenu"
              (click)="onChangeImageFaviconHandleClick()" [ngClass]="(!imageFaviconUrl) ? 'background_banner': ''"
              matTooltip="Favicon">
              <input #inputFaviconFile (change)="onChangeImageFaviconInput($event)" class="ng-hide" id="input-image-id"
                multiple type="file" accept="image/*" />
              <div>
                <img [src]="imageFaviconUrl" alt="">
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxFlex=100>
          <div fxLayout="column" fxLayoutGap=18px>
            <span class="lable">Banner (375x313px)</span>
            <div for="input-image-id" [contextMenu]="bannerMobileContextMenu" class="avatar_banner-desktop"
              (click)="onChangeImageBannerMobileHandleClick()"
              [ngClass]="(!imageBanerMobileUrl) ? 'background_banner-desktop': ''"
              matTooltip="Kích thước banner mobile khuyết nghị 375x313px">
              <input #inputBannerMobileFile (change)="onChangeImageBanerMoblieInput($event)" class="ng-hide"
                id="input-image-id" multiple type="file" accept="image/*" />
              <div>
                <img [src]="imageBanerMobileUrl" alt="">
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>

    <context-menu #logoContextMenu>
      <ng-template contextMenuItem (execute)="onChangeImageLogoHandleClick()">
        <button mat-flat-button>
          <mat-icon svgIcon="upload-lesson" style="width: 12px;">
          </mat-icon>
          Tải hình ảnh
        </button>
      </ng-template>
      <ng-template contextMenuItem>
        <hr>
      </ng-template>
      <ng-template contextMenuItem (execute)="onContextMenuRemoveImageHandler()">
        <button mat-flat-button>
          <mat-icon svgIcon="trash" style="width: 12px;">
          </mat-icon>
          Xóa hình ảnh
        </button>
      </ng-template>
    </context-menu>

    <context-menu #faviconContextMenu>
      <ng-template contextMenuItem (execute)="onChangeImageFaviconHandleClick()">
        <button mat-flat-button>
          <mat-icon svgIcon="upload-lesson" style="width: 12px;">
          </mat-icon>
          Tải hình ảnh
        </button>
      </ng-template>
      <ng-template contextMenuItem>
        <hr>
      </ng-template>
      <ng-template contextMenuItem (execute)="onContextMenuRemoveFaviconHandler()">
        <button mat-flat-button>
          <mat-icon svgIcon="trash" style="width: 12px;">
          </mat-icon>
          Xóa hình ảnh
        </button>
      </ng-template>
    </context-menu>

    <context-menu #bannerContextMenu>
      <ng-template contextMenuItem (execute)="onChangeImageBannerHandleClick()">
        <button mat-flat-button>
          <mat-icon svgIcon="upload-lesson" style="width: 12px;">
          </mat-icon>
          Tải hình ảnh
        </button>
      </ng-template>
      <ng-template contextMenuItem>
        <hr>
      </ng-template>
      <ng-template contextMenuItem (execute)="onContextMenuRemoveBannerHandler()">
        <button mat-flat-button>
          <mat-icon svgIcon="trash" style="width: 12px;">
          </mat-icon>
          Xóa hình ảnh
        </button>
      </ng-template>
    </context-menu>

    <context-menu #logoMobileContextMenu>
      <ng-template contextMenuItem (execute)="onChangeImageBannerMobileHandleClick()">
        <button mat-flat-button>
          <mat-icon svgIcon="upload-lesson" style="width: 12px;">
          </mat-icon>
          Tải hình ảnh
        </button>
      </ng-template>
      <ng-template contextMenuItem>
        <hr>
      </ng-template>
      <ng-template contextMenuItem (execute)="onContextMenuRemoveLogoMobileHandler()">
        <button mat-flat-button>
          <mat-icon svgIcon="trash" style="width: 12px;">
          </mat-icon>
          Xóa hình ảnh
        </button>
      </ng-template>
    </context-menu>


    <context-menu #bannerMobileContextMenu>
      <ng-template contextMenuItem (execute)="onChangeImageBannerMobileHandleClick()">
        <button mat-flat-button>
          <mat-icon svgIcon="upload-lesson" style="width: 12px;">
          </mat-icon>
          Tải hình ảnh
        </button>
      </ng-template>
      <ng-template contextMenuItem>
        <hr>
      </ng-template>
      <ng-template contextMenuItem (execute)="onContextMenuRemoveBannerMobileHandler()">
        <button mat-flat-button>
          <mat-icon svgIcon="trash" style="width: 12px;">
          </mat-icon>
          Xóa hình ảnh
        </button>
      </ng-template>
    </context-menu>
  </div>
</form>



<div class="action" fxLayout=row fxLayoutAlign="center center" fxLayoutGap=10px>
  <button mat-raised-button class="button-cancel" (click)="cancel()">Hủy</button>
  <button mat-raised-button color="primary" (click)="save()">Lưu</button>
</div>
