//for imagre
.ng-hide {
  display: none;
}

.body {
  padding: 35px 0px;
}

.content {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.action {
  padding-bottom: 10px;
  padding-top: 35px;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.title {
  color: #303330;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  opacity: 0.98;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.title-custom {
  margin: 10px 0px 0 0;
}

.tab-mobile {
  margin: 10px 0 0 28px;
  cursor: pointer;
}

.lable {
  font-size: 14px;
  line-height: 18px;
  color: #555555;
  opacity: 0.98;
}

.isActive {
  background: #4CAF50;
  border-radius: 4px;
  text-align: center;
  /* Căn giữa theo chiều ngang*/
  padding: 10px;
  color: white;
  margin: 10px 0 0 28px !important
}


.avatar_banner {
  height: 141px;
  width: 141px;
  cursor: pointer;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.background_banner {
  background-image: url("../../../../../assets/images/banner/FAVICON.jpg");
  background-repeat: none;
  background-position: center;
}


.background_banner-desktop {
  background-image: url("../../../../../assets/images/banner/banner-mobile-default.jpg");
  background-repeat: none;
  background-position: center;
}

.avatar_banner-desktop {
  width: 426px;
  height: 168px;
  object-fit: cover;
  cursor: pointer;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.avatar_banner-mobile {
  height: 168px;
  width: 325px;
  object-fit: cover;
  cursor: pointer;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

// .abc {
//   display: block !important;

//   .flex_item {
//     flex-direction: column;
//     box-sizing: border-box;
//     display: block;
//   }

//   .block {
//     justify-content: space-between;
//   }
// }
