<ng-container *ngIf="isExportWordFile==false || isExportWordFile==undefined; else elseTemplate">
  <div class="question_basic">
    <div class="question">
      <mat-card>
        <div *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock"> <span
            [appMath]="dataQuestion.content"></span></div>
        <ng-template #elseBlock> <span [innerHTML]="dataQuestion.content"></span></ng-template>
        <div fxLayout="row" class="container">
          <div fxLayout="column" fxFlex=50>
            <div *ngFor="let item of answers.true;index as i">
              <div class="content" fxLayout="row" fxFlex=100 fxLayoutAlign="center center">
                <div *ngIf="item.NoiDung.indexOf(defaultMath)!=-1; else elseBlock"> <span
                    [appMath]="item.NoiDung"></span>
                </div>
                <ng-template #elseBlock> <span [innerHTML]="item.NoiDung"></span></ng-template>
              </div>
            </div>
          </div>
          <div fxLayout="column" fxFlex=50>
            <div *ngFor="let item of answers.false;index as i">
              <div class="content" fxLayout="row" fxFlex=100 fxLayoutAlign="center center">
                <div *ngIf="item.NoiDung.indexOf(defaultMath)!=-1; else elseBlock"> <span
                    [appMath]="item.NoiDung"></span>
                </div>
                <ng-template #elseBlock> <span [innerHTML]="item.NoiDung"></span></ng-template>
              </div>
            </div>
          </div>
        </div>
        <span fxLayout="row" fxLayoutAlign="center center">Câu nối</span>
      </mat-card>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div class="question">
    <div *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock"> <span
        [appMath]="dataQuestion.content"></span></div>
    <ng-template #elseBlock> <span [innerHTML]="dataQuestion.content"></span></ng-template>
    <table border="1">
      <tbody>
        <tr *ngFor="let i of groupAnswers();">
          <td style="width:200px;">
            <table>
              <tbody>
                <tr >
                  <td></td>
                  <td *ngIf="answersOfGroup(i)[0].viTri==true && answersOfGroup(i)[0].dapAnDung==(i)">
                    <div *ngIf="answersOfGroup(i)[0].NoiDung.indexOf(defaultMath)!=-1; else elseBlock"> <span
                        [appMath]="answersOfGroup(i)[0].NoiDung"></span>
                    </div>
                    <ng-template #elseBlock> <span [innerHTML]="answersOfGroup(i)[0].NoiDung"></span></ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td style="width:200px;">
            <table>
              <tbody>
                <tr>
                  <td ></td>
                  <td *ngIf="answersOfGroup(i)[1]!=undefined && answersOfGroup(i)[1].viTri==false && answersOfGroup(i)[1].dapAnDung==(i)" >
                    <div *ngIf="answersOfGroup(i)[1].NoiDung.indexOf(defaultMath)!=-1; else elseBlock"> <span
                        [appMath]="answersOfGroup(i)[1].NoiDung"></span>
                    </div>
                    <ng-template #elseBlock> <span [innerHTML]="answersOfGroup(i)[1].NoiDung"></span></ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
