<div class="time-off-icon">
    <mat-icon>timer_off</mat-icon>
  </div>
  <h3 style="text-align:center;">Hết Giờ!</h3>
  <mat-dialog-actions fxLayoutAlign="center center" fxLayoutGap="10px" class="m-b-20">
    <button mat-flat-button color="primary" mat-dialog-close="true" class="accept-bottom">OK</button>
    <a routerLink="dashboard/user-examination/{{userContentTestId}}/result"><button mat-flat-button color="primary"
        mat-dialog-close>Xem lại bài thi</button></a>
  </mat-dialog-actions>
  