:host::ng-deep .example-container {
  position: relative;
}

:host::ng-deep .example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

:host::ng-deep .example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host::ng-deep .example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
:host::ng-deep .mat-column-number,
:host::ng-deep .mat-column-state {
  max-width: 64px;
}

:host::ng-deep .mat-column-created {
  max-width: 124px;
}

:host::ng-deep tr.mat-footer-row {
  font-weight: bold;
}

:host::ng-deep .mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}
