<!--stepper-->
<mat-card class="manage-card">
  <mat-card-content class="padding-0">
    <app-header-organize-exam class="height-80" [stepHeaderCtrl]="stepHeaderCtrl"></app-header-organize-exam>
  </mat-card-content>
</mat-card>
<mat-card>
  <app-spinner2 name="totalLoading" [fullScreen]="isFullScreen"></app-spinner2>
  <mat-tab-group>
    <mat-tab label="Thí sinh">
      <app-add-student-exam [status]="status"></app-add-student-exam>
    </mat-tab>
    <mat-tab label="Giám thị">
      <app-add-supervisior-exam [status]="status"></app-add-supervisior-exam>
    </mat-tab>
    <mat-tab label="Giáo viên chấm thi">
      <app-add-teacher-exam></app-add-teacher-exam>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=15px>
  <button mat-stroked-button (click)="previousPage()" class="mt-3 mb-3 button-cancel">Quay lại</button>
  <button mat-raised-button (click)="nextPage()" [disabled]="isProcessing" color='primary' class="mt-3 mb-3">
    <span>Lưu & Tiếp tục</span>
  </button>
</div>