<div fxLayout="row wrap" class="apply-css-alpha">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="manage-card">
      <mat-card-header>
        <mat-card-title>Danh sách môn thi cần tổ chức
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="manage-card">
      <div>
        <div class="example-container">
          <div class=" mat-card-content-section ">
            <app-spinner2 [fullScreen]="isFullScreen"></app-spinner2>
            <table mat-table [dataSource]="data" class="example-table">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <ng-container matColumnDef="stt">
                  <th mat-header-cell *matHeaderCellDef>STT</th>
                  <td mat-cell *matCellDef="let element;let i=index">{{i+1}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="subject">
                  <th mat-header-cell *matHeaderCellDef>Môn thi</th>
                  <td mat-cell *matCellDef="let element" class="mat-main-column">
                    {{element.subjectName}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="startDate">
                  <th mat-header-cell *matHeaderCellDef>Thời gian bắt đầu</th>
                  <td mat-cell *matCellDef="let element">
                    <span class="text-green"><b>{{element.startDate|date :'HH:mm'}}</b></span>
                    <span> &nbsp; {{ element.startDate|date :'dd/MM/yyyy'}}</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="endDate">
                  <th mat-header-cell *matHeaderCellDef>Thời gian kết thúc
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <span class="text-red"><b>{{element.endDate|date :'HH:mm'}}</b></span>
                    <span> &nbsp; {{ element.endDate|date :'dd/MM/yyyy'}}</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="testTime">
                  <th mat-header-cell *matHeaderCellDef>Thời gian thi</th>
                  <td mat-cell *matCellDef="let element">{{element.testTime}}
                    Phút
                  </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
                  <td mat-cell *matCellDef="let element">
                    <span [ngClass]="element.status=='EDI'?'editing':element.status=='PUB'?'end':'notyet'">
                      {{element.status=='EDI'?'Đang chỉnh sửa':element.status=='PUB'?'Đã tổ chức':'Chưa tổ chức'}}</span>

                  </td>
                </ng-container>
                <ng-container matColumnDef="function">
                  <th mat-header-cell *matHeaderCellDef disableClear>
                    Chức năng
                  </th>
                  <td mat-cell *matCellDef="let element;let i=index;">
                    <mat-icon *ngIf="hasApprovePermission" matTooltip="Tổ chức thi"
                      (click)="organize(element.id,element.subjectId,element.examType,element.startDate,element.endDate)"
                      svgIcon="flag"></mat-icon>
                    <mat-icon *ngIf="element.status=='PUB'" matTooltip="Xem thông tin" (click)="view(element.id,element.subjectId)"  svgIcon="eye">
                    </mat-icon>
                    <mat-icon *ngIf="element.status=='PUB'  && today<getDate(element.startDate) && hasApprovePermission" matTooltip="Xóa"
                      (click)="deleteOrganize(element.id,element.subjectName,i)" svgIcon="reset" class="icon-delete">
                    </mat-icon>
                    <!-- <mat-icon>create</mat-icon> -->
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'data-selected':isSelected}">
                </tr>
                <tr class="mat-row" *matNoDataRow>
                  <td colspan="7" class="mat-cell background-no-content">
                    <div class="background-no-content-img"></div>
                    <div class="background-no-content-info">
                      <p>Không tìm thấy môn thi</p>
                    </div>
                  </td>
                </tr>
              </div>
            </table>
          </div>
        </div>
      </div>
    </mat-card>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-3 mb-3" fxLayoutGap=15px>
      <button mat-stroked-button class="button-cancel" (click)="previousPage()">Quay lại</button>
    </div>

  </div>
</div>
