.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  // max-height: 400px;
  // overflow: auto;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 20px;
}

.subtitle {
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.editing {
  background: #DBFFDC;
  border-radius: 10.5px;
  color: #4CAF50;
  padding: 3px 14px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
}

.notyet {
  background: #F3F3F3;
  border-radius: 10.5px;
  color: #555555;
  padding: 3px 14px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
}

.end {
  background: #FFE0DF;
  border-radius: 10.5px;
  color: #DA251D;
  padding: 3px 14px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
}
