<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <app-header-create-exam [stepHeaderCtrl]="stepHeaderControl"></app-header-create-exam>
    </mat-card-content>
  </mat-card>

  <mat-card class="manage-card mt-0">
    <mat-card-header>
      <mat-card-title>Thông tin tổ chức thi</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form [formGroup]="infoForm" onsubmit="submitForm()" fxLayout="column" fxLayoutGap="15px grid"
        fxLayoutGap.gt-md="15px grid">
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center">
            <label fxFlex="15" fxLayoutAlign="start center" class="font-size-14">Tên kỳ thi: </label>
            <mat-form-field appearance="outline" fxFlex="85">
              <mat-label >Tên kỳ thi</mat-label>
              <input matInput type="text" placeholder="Tên kỳ thi..." required formControlName="name"
                autocomplete="off">
            </mat-form-field>
          </div>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" fxLayout=row fxLayoutAlign="end start">
            <mat-error class="errors-msg">Vui lòng nhập tên kỳ thi (*)</mat-error>
          </div>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="15px grid">
          <div fxFlex="15" fxLayout="row">
            <label fxFlex fxLayoutAlign="start center" class="font-size-14">Bắt đầu: </label>
          </div>
          <div fxFlex fxLayout="row wrap" fxLayoutAlign="start center">
            <div fxFlex.gt-md="36" fxFlex.gt-sm="50" fxFlex="50" fxLayout="row">
              <mat-form-field fxFlex="60" appearance="outline" class="date-time-range">
                <!-- <mat-label>dd/mm/yyyy</mat-label> -->
                <input matInput [matDatepicker]="dpFromDate" [formControl]="startDate" (click)="openDpFromDate()"
                  onfocus="this.blur()" placeholder="dd/MM/yyyy" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="dpFromDate"></mat-datepicker-toggle>
                <mat-datepicker #dpFromDate>
                </mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex.gt-md="60" fxFlex.gt-sm="50" fxFlex="50" fxLayout="row">
              <div fxFlex fxFlex.gt-md="60" fxFlex.gt-sm="60" fxLayout="column">
                <div fxLayout="row">
                  <label fxFlex="40" fxLayoutAlign="start center" class="font-size-14">Kết thúc: </label>
                  <mat-form-field fxFlex="60" appearance="outline" class="date-time-range">
                    <input matInput [matDatepicker]="dpToDate" [formControl]="endDate" (click)="openDpToDate()" (dateChange)="examToDateChange($event)"
                      onfocus="this.blur()" placeholder="dd/MM/yyyy" class="date-picker-input" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="dpToDate"></mat-datepicker-toggle>
                    <mat-datepicker #dpToDate>
                    </mat-datepicker>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="end start" class="errors-msg">
                  <mat-error
                    *ngIf="this.startDate.value > this.endDate.value && (this.startDate.touched || this.endDate.touched)">
                    Ngày bắt đầu phải nhỏ hơn ngày kết thúc (*)
                  </mat-error>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="15px grid">
          <div fxFlex="15" fxLayout="row">
            <label fxFlex fxLayoutAlign="start center" class="font-size-14">Thang đánh giá: </label>
          </div>
          <div fxFlex fxLayout="row wrap" fxLayoutAlign="start center">
            <div fxFlex.gt-md="36" fxFlex.gt-sm="50" fxFlex="50" fxLayout="column">
              <div fxFlex="100" fxLayout="row">
                <mat-form-field fxFlex="60" appearance="outline" [floatLabel]="'never'"
                  (click)="onAssessmentLevelGroupSelectClicked()">
                  <mat-label>Thang đánh giá</mat-label>
                  <mat-select [formControl]="assessmentLevelGroupCtrl" placeholder="Chọn thang đánh giá"
                    #singleSelectAssessmentLevelGroup disableOptionCentering required>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Tìm thang đánh giá" noEntriesFoundLabel="Không tìm thấy"
                        [formControl]="assessmentLevelGroupFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let assessment of filteredAssessmentLevelGroups | async"
                      [value]="assessment.id">
                      {{assessment.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="100" fxLayout=row fxLayoutAlign="start center" class="errors-msg">
                <mat-error fxFlex="60" fxLayoutAlign="end start"
                  *ngIf="this.assessmentLevelGroupCtrl.invalid && this.assessmentLevelGroupCtrl.touched">
                  Chọn một thang đánh giá (*)
                </mat-error>
              </div>
            </div>
            <div fxFlex.gt-md="60" fxFlex.gt-sm="50" fxFlex="50" fxLayout="row">
              <div fxFlex fxFlex.gt-md="60" fxFlex.gt-sm="60" fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <label fxFlex="40" fxLayoutAlign="start center" class="font-size-14">Hình thức thi: </label>
                  <mat-form-field fxFlex="60" appearance="outline" [floatLabel]="'never'">
                    <mat-label>Hình thức thi</mat-label>
                    <mat-select [formControl]="examTypeCtrl" placeholder="Chọn hình thức" disableOptionCentering
                      (change)="changeType($event.target.value)" required>
                      <mat-option value="FRE">
                        Tự do
                      </mat-option>
                      <mat-option value="CON">
                        Tập trung
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutAlign="end ">
                  <div fxFlex="100" fxLayoutAlign="end start" class="errors-msg"
                    *ngIf="this.examTypeCtrl.invalid && this.examTypeCtrl.touched">
                    Chọn một hình thức tổ chức thi (*)
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <div fxLayout="row">
    <div fxFlex=25>
      <mat-card class="manage-card mt-0">
        <mat-card-header>
          <mat-card-title>Danh sách môn học</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content fxLayout="column" class="mb-0">
          <mat-form-field fxFlex="100" [floatLabel]="'never'" appearance="outline" (click)="onGradeSelectClicked()">
            <mat-label>Khối</mat-label>
            <mat-select [formControl]="gradeId" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering
              required (selectionChange)="onChangeGradeSelected($event.value)">
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Chọn khối" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="gradeFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                {{grade.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
          <div style="height: 24vh; overflow-y: auto;" class="display-block">
            <table *ngIf="listSubject.length > 0" mat-table [dataSource]="listSubject">
              <!-- Name Column -->
              <ng-container matColumnDef="subjectName">
                <!-- <th mat-header-cell *matHeaderCellDef> Danh sách môn học</th> -->
                <td mat-cell *matCellDef="let element" [disabled]="true">
                  {{element.name}} </td>
              </ng-container>
  
              <ng-container matColumnDef="checked">
                <th mat-header-cell *matHeaderCellDef class="center-element"> </th>
                <td mat-cell *matCellDef="let element" style="width: 35px; padding-right: 5px;">
                  <span *ngIf="element.chose == true" class="material-icons" style="color: #4caf50;">
                    check_circle
                  </span>
                  <span *ngIf="element.checked == true" class="material-icons" style="color: #4caf50;">
                    stars
                  </span>
                </td>
              </ng-container>
  
              <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
              <tr class="subject" mat-row *matRowDef="let element; columns: displayedColumns;"
                (click)="chooseSubject(element)"></tr>
            </table>
            <div fxFlex *ngIf="listSubject.length  == 0" fxFlex fxLayout="column" fxLayoutAlign="start center">
              <label class="label-tip">Chọn khối để hiển thị danh sách môn</label>
            </div>
          </div>
        
      </mat-card>
    </div>
    <div fxFlex=5 fxLayout="column" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" class="move-button" (click)="chose()">
        <mat-icon class="icon" svgIcon="move-to"></mat-icon>
      </button>
      <button mat-raised-button color="primary" class="move-button" (click)="back()">
        <mat-icon class="icon" svgIcon="move-back"></mat-icon>
      </button>
    </div>
    <div fxFlex=70>
      <mat-card class="manage-card mt-0">
        <mat-card-header>
          <mat-card-title>Danh sách môn thi được tổ chức</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="padding-l-r-0">
          <div style="height:28vh; overflow-y: auto;">
            <table mat-table [dataSource]="subjectOfExam">
              <!--chosse-->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="element.checked = !element.checked"
                    [checked]="element.checked">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef> STT </th>
                <td mat-cell *matCellDef="let element;let i=index">{{i+1}} </td>
              </ng-container>

              <ng-container matColumnDef="subjectName">
                <th mat-header-cell *matHeaderCellDef class="center-element"> Tên môn thi </th>
                <td mat-cell *matCellDef="let element" class="center-element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef class="center-element"> Bắt đầu </th>
                <td mat-cell *matCellDef="let element" class="center-element">
                  <mat-form-field style="width: 80%" [floatLabel]="'never'" appearance="outline"
                    class="date-time-range">
                    <input matInput [ngxMatDatetimePicker]="dpFromDate" placeholder="dd/MM/yyyy" autocomplete="off"
                      [min]="this.startDate.value" [max]="this.endDate.value" [value]="element.startDate"
                      (dateChange)="changeStartDate($event, element.id)">
                    <mat-datepicker-toggle matSuffix [for]="dpFromDate"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #dpFromDate [showSeconds]="true" [stepHour]="1" [stepMinute]="1"
                      [stepSecond]="1">
                    </ngx-mat-datetime-picker>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef class="center-element"> Kết thúc </th>
                <td mat-cell *matCellDef="let element" class="center-element">
                  <mat-form-field style="width: 80%" [floatLabel]="'never'" appearance="outline"
                    class="date-time-range">
                    <input matInput [ngxMatDatetimePicker]="dpFromDate" placeholder="dd/MM/yyyy" autocomplete="off"
                      [min]="this.startDate.value" [max]="this.endDate.value" [value]="element.endDate"
                      (dateChange)="changeEndDate($event, element.id)">
                    <mat-datepicker-toggle matSuffix [for]="dpFromDate"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #dpFromDate [showSeconds]="true" [stepHour]="1" [stepMinute]="1"
                      [stepSecond]="1">
                    </ngx-mat-datetime-picker>
                  </mat-form-field>
                </td>
              </ng-container>

              <!-- <ng-container matColumnDef="test">
          <th mat-header-cell *matHeaderCellDef> Đề thi </th>
          <td mat-cell *matCellDef="let element"> {{element.testName}} </td>
        </ng-container> -->

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="center-element"> Bỏ chọn</th>
                <td mat-cell *matCellDef="let element" class="center-element">
                  <button mat-icon-button (click)="deleteSubject(element)">
                    <mat-icon style="color: rgb(190, 14, 14);">remove_circle</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsListSubject"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsListSubject;"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="6">Chưa có môn thi được chọn</td>
              </tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
    <button mat-raised-button class="button-cancel" (click)="backToContent()" >Quay
      lại</button>
    <button (click)="nextPage()" [disabled]="infoForm.invalid || subjectOfExam.length == 0 || isProcessing" mat-raised-button
      color="primary">Tiếp tục</button>
  </div>
</div>