<div fxLayout="column">
  <div class="mat-dialog-title">
    <div>Danh sách trường</div>
    <div class="mat-dialog-sub-title">PGD: {{divisionInfo.name}}</div>
  </div>

  <div class="table-min-height">
    <table mat-table [dataSource]="schoolsPagination.items" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let element; let i=index"> {{element.stt}} {{i + 1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Mã trường </th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Tên trường </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
      <tr class="mat-row" *matNoDataRow>
        <td colspan="3" class="mat-cell background-no-content">
          <div class="background-no-content-img"></div>
          <div class="background-no-content-info">
            <p>Không có dữ liệu trường</p>
          </div>
        </td>
      </tr>
    </table>
    <mat-paginator [length]="schoolsPagination.totalItems" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
  </div>

  <mat-dialog-actions align="center">
    <button mat-flat-button mat-dialog-close class="button-cancel">Đóng</button>
  </mat-dialog-actions>
</div>
