.table-min-height {
  max-height: 60vh !important;
  overflow-y: scroll;
}

.title-header {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: start;
  color: #303030;
  opacity: 0.98;
}

.school-name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: start;
  color: #303030;
  opacity: 0.98;
  margin-bottom: 20px;
  color: #4CAF50;
}

.mat-dialog-actions {
  padding: 20px 0 20px;
  justify-content: flex-end;
}


table .background-no-content {
  height: 275px;
}
