<div fxLayout="row wrap" class="video_card" style="width:100%;display: none!important;" *ngIf="!isYoutubeLink"
  [ngClass]="{'dark': isDarkMode}">
  <mat-card class="content-video_card" fxFlex="100" fxLayoutAlign="start center">
    <div class="iframe-content" fxFlex="100%">
      <app-videojs-player [timeNextAndPrevious]="5" [linkVideo]="content.link"></app-videojs-player>
    </div>
  </mat-card>
</div>
<div fxLayout="row wrap" class="video_card" style="width:100%" *ngIf="isYoutubeLink" [ngClass]="{'dark': isDarkMode}">
  <mat-card class="content-video_card" fxFlex="100" fxLayoutAlign="start center">
    <div class="iframe-content" fxFlex="100%">
      <app-youtube-player [linkVideo]="idLinkYoutube" [timeNextAndPrevious]="5">
      </app-youtube-player>
    </div>
  </mat-card>
</div>