.pure-content-header {
  background: white;
  padding: 0 20px;
  
  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #303030;
  }
  .poiter {
    cursor: pointer;
  }
}

.video_card{
  height: calc(100vh - 115px);
  // box-shadow: none !important;

  &.dark, &.dark .content-video_card{
    background: #161616 !important;
  }
}

// .video-content-header {
//   box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
//   border-radius: 6px !important;
//   padding: 2px;
//   height: 50px;
//   margin: 20px;

//   &_title {
//     line-height: 40px;
//     padding-top: 4px;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 16px;
//     text-align: center;
//     text-transform: uppercase;
//     color: #4caf50;
//   }
// }

.content-video_card {
  margin-bottom: 0px !important;
  background: #ffffff !important;
  height: calc(100% - 88px);
  // height: 100%;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 6px !important;
  margin: 0;
  width: 100%;
  padding: 0 20px !important;

  .iframe-content {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    // height: calc(100vh - 270px);

    -moz-border-radius: 6px;
    border-radius: 6px;

    margin: 0 auto;
    overflow: hidden;
  }
}

.content-text_card {
  padding: 8px !important;
  height: 100%;

  .text_note {
    font-style: italic;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin: 10px;
  }
}

.footer-action {
  display: inline-block;
  align-items: center;
  margin: 10px 20px !important;
}

.button-add {
  width: 102px;
}

.video-js {
  width: 100% !important;
  height: calc(100vh - 270px) !important;
}

.hide-class {
  display: none !important;
}

.button-danger {
  background: linear-gradient(0deg, #da251d, #da251d), #da251d;
}


@media screen and (max-width: 525px) {
  .video_card{
    height:60vh !important;

    .content-video_card{
      padding: 0 10px !important;
      height: calc(100% - 125px);
    }
  }
}