<div class="single-choice" [ngClass]="{'question_group': isTypeNull}">
  <div class="content_group">
    <app-status-question *ngIf="!isTypeNull" [data]="dataQuestion"></app-status-question>
    <p *ngIf="dataQuestion.format === 'GRO' && dataQuestion.content.indexOf(defaultMath)!=-1; else quest" class="title" [MathJax]="dataQuestion.content"></p>
    <ng-template #quest>
      <p *ngIf="dataQuestion.format === 'GRO'" class="title" [innerHTML]="dataQuestion.content | safeHtml"></p>
    </ng-template>
    <div class="example-radio-group">
      <mat-radio-group class="example-radio-group">
        <mat-radio-button color="primary" class="example-radio-button" *ngFor="let o of dataQuestion.answers; let i = index"
          [value]="o.id" [checked]="o.trueAnswer === 1">
          <!-- {{alphabet[i]}}.
          <span class="question_content" [innerHTML]="o.content"></span> -->

          <div *ngIf="o.content.indexOf(defaultMath)!=-1; else elseBlock" fxLayout="row">
            <div class="m-r-10" fxLayoutAlign="start center">
              <p>{{alphabet[i]}}.</p>
            </div>
            <div class="color"
              [ngClass]="{'correct': o.trueAnswer==1 && isPublicAnswer, 'in-correct': (o.trueAnswer !=1 && isPublicAnswer)}"
              [MathJax]="o.content">
            </div>
          </div>
          <ng-template #elseBlock>
            <div fxLayout="row">
              <div class="m-r-10" fxLayoutAlign="start center">
                <p>{{alphabet[i]}}.</p>
              </div>
              <div class="color"
                [ngClass]="{'correct': o.trueAnswer==1 && isPublicAnswer, 'in-correct': (o.trueAnswer !=1 && isPublicAnswer)}"
                [innerHTML]="o.content"></div>
            </div>
          </ng-template>

        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <span class="type_question" *ngIf="isTypeNull">Trắc nghiệm một lựa chọn</span>
</div>