.single-choice {
  pointer-events: none;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.example-radio-button {
  position: relative;
  margin-left: 0;
  ::ng-deep .mat-radio-label-content {
    margin-left: 11px;
    padding-left: 0 !important;
    width: 100%;
    word-break: break-all;
    display: flex;
    align-items: center;
  }

  .result-icon {
    position: absolute;
    top: 12px;
    left: -30px;
  }

  .question_content {
    margin-left: 3px;
    ::ng-deep > p {
      margin: 0;
    }
  }
}

.title {
  font-size: 14px;
  color: #555555;
  margin-bottom: 6px;
  margin-top: 10px;
  width: 100%;
  word-break: break-all;

  ::ng-deep > div > p {
    margin: 0;
  }

  ::ng-deep > p {
    margin: 0;
  }
}

:host ::ng-deep .mat-radio-label {
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  color: #555555;
  white-space: unset !important;
  font-size: 14px;
  font-weight: 400;
}

.question_group {
  border: 0.5px solid #b0b0b0;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-top: 15px;

  .content_group {
    padding: 20px;
    .example-radio-group {
      padding-bottom: 0;
    }
  }

  .title {
    margin: 0;
    ::ng-deep > p {
      margin: 0;
    }
  }

  .type_question {
    padding: 10px 0;
    text-align: center;
    color: #4caf50;
    font-size: 14px;
    font-weight: normal;
    border-top: 0.5px solid #b0b0b0;
    display: block;
  }
}

:host ::ng-deep .single-choice .mat-radio-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #555555;
}

:host ::ng-deep .single-choice .mat-card-content {
  padding: 10px 15px;
}

:host ::ng-deep .mat-radio-label-content {
  line-height: 1rem;

  p {
    margin: 5px 0px;
    line-height: 1.5;
  }
}
