<div class="body" fxLayout="column" fxLayoutAlign="center center">
  <div class="content">
    <form [formGroup]="emailConfigForm" fxLayout="column" fxLayoutGap="20px">
      <div fxLayout=row fxLayoutGap=55px fxLayoutAlign="center center">
        <mat-slide-toggle color="primary" class="lable" labelPosition=before [checked]="isDisable"
          (change)="changeConfig($event)">
          Dùng cấu hình tùy chỉnh
        </mat-slide-toggle>

        <a download target="_blank" [href]="downLoadFile()">
          <button type="button" mat-flat-button color="primary">
            <mat-icon>get_app</mat-icon>
            Hướng dẫn cấu hình
          </button>
        </a>
      </div>
      <div fxLayout=row fxLayoutAlign="center center">
        <span class="lable" fxFlex="30">From(*)</span>

        <div fxLayout="column" fxFlex=70>
          <input type="text" class="input" [attr.disabled]="!isDisable? '' : null" formControlName="from">
          <small *ngIf="from.invalid &&
          from.touched" class="text-danger support-text">From không được để trống</small>
        </div>
      </div>

      <div fxLayout=row fxLayoutAlign="center center">
        <span class="lable" fxFlex="30">User name(*)</span>

        <div fxLayout="column" fxFlex=70>
          <input type="text" class="input" [attr.disabled]="!isDisable? '' : null" formControlName="username">
          <small *ngIf="username.invalid &&
          username.touched" class="text-danger support-text">Username không được để trống</small>
        </div>

      </div>
      <div fxLayout=row fxLayoutAlign="center center">
        <span class="lable" fxFlex="30"> Mật khẩu(*)</span>

        <div fxLayout="column" fxFlex=70>
          <input type="password" class="input" [attr.disabled]="!isDisable? '' : null" formControlName="password">
          <small *ngIf="password.invalid &&
          password.touched" class="text-danger support-text">Mật khẩu không được để trống</small>
        </div>
      </div>
      <div fxLayout=row fxLayoutAlign="center center">
        <span class="lable" fxFlex="30">Host(*)</span>

        <div fxLayout="column" fxFlex=70>
          <input type="text" class="input" [attr.disabled]="!isDisable? '' : null" formControlName="host">
          <small *ngIf="host.invalid &&
          host.touched" class="text-danger support-text">Host không được để trống</small>
        </div>
      </div>
      <div fxLayout=row fxLayoutAlign="center center">
        <span class="lable" fxFlex="30">Port(*)</span>
        <div fxLayout="column" fxFlex=70>
          <input type="text" class="input" [attr.disabled]="!isDisable? '' : null" formControlName="port">
          <small *ngIf="port.invalid &&
          port.touched" class="text-danger support-text">Port không được để trống</small>
        </div>

      </div>
      <mat-slide-toggle color="primary" class="lable" labelPosition=before [disabled]="!isDisable? '' : null"
        (change)="enableSSL($event)" [checked]='enableSSl'>Enable
        SSL
      </mat-slide-toggle>
    </form>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
      <button mat-flat-button class="button-cancel" (click)="cancel()">Hủy</button>
      <button mat-flat-button color="primary" [disabled]="emailConfigForm.invalid" (click)="save()">Lưu</button>
    </div>
  </div>
  <span class="horizontal-line"></span>

  <div fxLayout="row" fxLayoutGap="35px" fxLayoutAlign="center center">
    <span class="lable" fxFlex=30>Nhận thư kiếm tra</span>
    <div fxLayout="row" fxLayoutGap="10px" fxFlex=70>
      <input [(ngModel)]="email" class="input input-mail" [attr.disabled]="enableSSl==false || !isDisable? '' : null">
      <button mat-flat-button color="primary" [disabled]="email=='' ||  !isDisable? '' : null"
        (click)="sendMail()">Gửi</button>
    </div>

  </div>
</div>
