.body {
  padding: 35px 0 43px;
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.horizontal-line {
  border-bottom: 1px solid #f1f1f1;
  width: 100%;
  margin: 30px 0 40px;
}

.button-tutorial {
  background-color: #4CAF50;
  color: white;
  height: 29px;
  border: none;
  font-size: 13px;
  line-height: 18px;
  padding: 8px;
}

.icon {
  height: 12px;
  width: 12px;
}

.control-button {
  height: 29px;
  font-size: 14px;
  line-height: 16px;
  padding: 0px 38px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: #4CAF50;
}

.red {
  background-color: #DA251D !important;
}

.lable {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */


  color: #555555;

  opacity: 0.98;
}

.input {
  height: 36px;
  color: #555555;
  padding: 8px;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.98;

  border: 0.5px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 4px;
}

.input-mail {
  width: 237px;
}

.input:disabled {
  background: #F3F3F3 !important;
}
