<div class="apply-css-alpha">
  <mat-card>
    <mat-card-content>
      <form #createSchool="ngForm" (ngSubmit)="EditSchool(createSchool)">
        <div class="mat-dialog-title">Sửa trường</div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-20">
          <mat-form-field appearance="outline">
            <mat-label>Tên trường</mat-label>
            <input matInput fxFlex type="text" required name="name" [(ngModel)]="formSchool.name" #name="ngModel"
              placeholder="Tên trường" autocomplete="off">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" class="m-t-10">
          <span class="help-bpx">{{this.lblname}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-10">
          <mat-form-field appearance="outline">
            <mat-label>Mã trường</mat-label>
            <input matInput fxFlex type="text" maxlength="20" [formControl]="codeUpdateSchoolFormControl" name="code"
              code required [(ngModel)]="formSchool.code" placeholder="Mã trường" autocomplete="off">
            <mat-error *ngIf="codeUpdateSchoolFormControl.hasError('pattern')">
              Mã trường chỉ bao gồm các ký tự a-z và 0-9, .,-, _
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" class="m-t-10">
          <span class="help-bpx">{{this.lblcode}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-10">
          <mat-form-field appearance="outline">
            <mat-label>Đơn vị quản lý</mat-label>
            <input matInput fxFlex type="text" name="donviname" [(ngModel)]="formSchool.donviname" #donviname="ngModel"
              autocomplete="off" disabled>
          </mat-form-field>
        </div>
        <mat-dialog-actions>
          <button mat-flat-button mat-dialog-close class="button-cancel">Hủy</button>
          <button mat-flat-button type="submit" color="primary"
            [disabled]="codeUpdateSchoolFormControl.invalid">Lưu</button>
        </mat-dialog-actions>
      </form>
    </mat-card-content>
  </mat-card>

</div>
