
.title-center {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #303030;

  opacity: 0.98;
}

.input-infor {
  width: 980px;
  height: 31px;
  padding: 0 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;

  color: #555555;
  opacity: 0.98;
}


.panel-code {
  height: 50px !important;
}

.help-bpx {
  color: red;
}

.m-t-10 {
  margin-top: 10px;
}


.m-b-10 {
  margin-bottom: 10px;
}

.title-form {
  margin-bottom: 35px;
}

.dialog-action {
  margin-bottom: 0px;
  margin-top: 10px;
}

.lable {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #555555;
  opacity: 0.98;
}

:host ::ng-deep .mat-card {
  margin: 0;
  padding: 0;
  box-shadow: none !important;
  width: 100%;
}

:host ::ng-deep .mat-card-content {
  padding: 0;
}


.icon-container {
  margin: 20px -8px 0;

  &-item {
    margin: 8px;
    padding: 5px;
    background-color: #F5F5F5;
    border-radius: 4px;
  }
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
  opacity: 0.98;
}

.subject-icon {
  cursor: pointer;
}

.selected {
  border: 0.5px solid #4CAF50;
  box-sizing: border-box;
  border-radius: 4px;
}

.selected-item {
  background-color: #4CAF50;
  padding: 5px;
  border-radius: 4px;
}


:host ::ng-deep {
  .icon-svg {
    svg {
      path {
        fill: #7E8485 !important;
      }
    }
  }

  mat-icon {
    color: #7E8485 !important;
  }

  .selected {
    svg {
      path {
        fill: #4CAF50 !important;
      }
    }

    mat-icon {
      color: #4CAF50 !important;
    }
  }

  .selected-item__icon {
    svg {
      path {
        fill: white !important;
      }
    }

    mat-icon {
      color: white !important;
    }
  }
}

.action {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

:host{
  position: relative;
}