.content{
    font-size: 13px;
    color: #555555;
}

.input-text{
    height: 29px;
    padding: 3px;
    color:#555555;
    border: 1px solid #555555;
    border-radius: 3px;
}
.row_flex {
    display: flex;
    padding: 10px;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 15px;
  }
  
  .searchTerm {
    width: 263px;
    height: 29px;
  }
  .searchButton {
    background: none;
    border: none;
    margin-left: -32px;
    color: #555555
  }

  .icon{
    width: 12px;
  }

  .select-test{
    width: 147px;
    height: 30px;
    border: 1px solid #555555;
    border-radius: 3px;
    color:#555555;
  }