

<mat-card>
  <mat-card-content class="content">
    <div fxLayout="column" fxLayoutAlign="center">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
          <label>Số lượng đề:</label>
          <input type="number" class="input-text" #numberTest (change)="inputNumberTest(numberTest.value)" placeholder="Nhập số lượng đề...">
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" *ngIf="test.length > 0">
          <label>Đề số:</label>
          <select class="select-test">
              <option *ngFor="let item of test" >{{item.name}}</option>
          </select>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content class="content">
    <mat-card-title>Thiết lập đề</mat-card-title>
    <hr />
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px" class="row_flex">
      <div fxLayout="row" fxFlex="25">
        <label fxFlex="40" fxLayoutAlign="start center">Người tạo:</label>
        <app-select [options]="grades" [placeHolder]="'Chọn khối'" fxFlex="60" fxLayoutAlign="end center"></app-select>
      </div>
      <div fxLayout="row" fxFlex="25">
        <label fxFlex="40" fxLayoutAlign="start center">Loại câu hỏi:</label>
        <app-select [options]="grades" [placeHolder]="'Chọn khối'" fxFlex="60" fxLayoutAlign="end center"></app-select>
      </div>
      <div fxLayout="row" fxFlex="25">
        <label fxFlex="40" fxLayoutAlign="start center">Dạng câu hỏi:</label>
        <app-select [options]="grades" [placeHolder]="'Chọn khối'" fxFlex="60" fxLayoutAlign="end center"></app-select>
      </div>
      <div fxLayout="row" fxFlex="25">
        <label fxFlex="40" fxLayoutAlign="start center">Mức độ:</label>
        <app-select [options]="grades" [placeHolder]="'Chọn khối'" fxFlex="60" fxLayoutAlign="end center"></app-select>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px" class="row_flex">
      <div fxLayout="row" fxFlex="25">
        <label fxFlex="40" fxLayoutAlign="start center">Bài giảng:</label>
        <app-select [options]="grades" [placeHolder]="'Chọn khối'" fxFlex="60" fxLayoutAlign="end center"></app-select>
      </div>
      <div fxLayout="row" fxFlex="25">
        <label fxFlex="40" fxLayoutAlign="start center">Ngày tạo:</label>
        <input type="date" class="input-text" fxFlex="60" fxLayoutAlign="end center">
      </div>
      <div fxLayout="row" fxFlex="25">
        <label fxFlex="40" fxLayoutAlign="start center">Ngày cập nhật</label>
        <input type="date" class="input-text" fxFlex="60" fxLayoutAlign="end center">
      </div>
      <div fxLayout="row" fxFlex="25">
        <label fxFlex="40" fxLayoutAlign="start center">Chương:</label>
        <app-select [options]="grades" [placeHolder]="'Chọn khối'" fxFlex="60" fxLayoutAlign="end center"></app-select>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="row_flex">
      <div class="search" fxFlex=23>
        <input type="text" class="searchTerm" placeholder="Tìm kỳ thi, người tạo">
        <button type="submit" class="searchButton">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div>
        <button mat-raised-button color="primary">
          <mat-icon svgIcon="filter" class="icon"></mat-icon>
          Lọc kết quả</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-card-title>Danh sách câu hỏi</mat-card-title>
    <hr />
    <mat-checkbox class="example-margin">Chọn tất cả</mat-checkbox>
    <hr>
    <div>
      <p>danh sách câu hỏi chỗ ni</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary"> Thêm vài đề</button>
    </div>
  </mat-card-content>
</mat-card>

<div fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutGap="10px">
    <button class="bg-danger text-white" mat-raised-button (click)="cancel()">Hủy</button>
    <button mat-raised-button color="primary">Lưu </button>
    <button mat-raised-button color="primary">Hoàn thành</button>
  </div>
</div>
