.question-content{
    // margin-top: 0.5rem;
    // padding: 1rem;
     height: fit-content;
 }
 
 .container{
     font-size: 13px;
 }
 .phuong-an-content{
     margin-top: -7.4rem;
     //padding: 1rem;
     margin-left: 0.5rem;
 }
 .phuong-an-content-column{
     margin-top: 0.5rem;
     padding: 1rem;
 }
 .mat-radio-group{
     margin-top: 0.8rem;
 }
//  :host ::ng-deep .cke_top{
//      display: none;
//  }
 .combobox_selection {
    width: 200px !important;
}

.isCloneQuestion .table_question_title{
    font-size: 13px;
    color: #555555;
    opacity: 0.98;
    font-weight: normal;
    margin-bottom: 6px;
    ::ng-deep ckeditor .cke_chrome{
      border-radius: 2px;
  }
  }
  
  .isClone{
    display: none !important;
  }

  .question_list{
    margin-top: 20px;
  }