<div class="apply-css-alpha">
  <mat-card>
    <mat-card-content>
      <app-header-create-exam [stepHeaderCtrl]="stepHeaderControl"></app-header-create-exam>
    </mat-card-content>
  </mat-card>
  <mat-card class="manage-card">
    <mat-card-header>
      <mat-card-title>Thông tin thiết lập</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="10px">
        <mat-checkbox [disabled]="this.isPublished" class="example-margin font-size-14"
          (change)="changeCheckbox($event,1)" [checked]="this.settingData.isPreservingTime == true">Bảo toàn thời
          gian làm bài cho thí
          sinh</mat-checkbox>
        <mat-checkbox [disabled]="this.isPublished" class="example-margin font-size-14"
          (change)="changeCheckbox($event,2)" [checked]="this.settingData.isPublicScore == true">Công khai điểm với
          thí sinh
        </mat-checkbox>
        <mat-checkbox [disabled]="this.isPublished" class="example-margin font-size-14"
          (change)="changeCheckbox($event,3)" [checked]="this.settingData.isPublicAnswer">Hiển thị đáp án sau khi
          thi xong
        </mat-checkbox>
        <div fxLayout=row>
          <label class="font-size-14">Tự đông ghi log sau </label>
          <mat-form-field class="margin-l-r-5 mat-form-field-input input-log-time" appearance="outline">
            <input matInput [disabled]="this.isPublished" class="input-log" type="number" min="5" [(ngModel)]="logTime"
              [value]="this.settingData.logTime" (change)="changeInputLogTime()">
          </mat-form-field>
          <label class="font-size-14">phút</label>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <button (click)="backPage()" mat-raised-button class="button-cancel">Quay lại</button>
    <button [disabled]="disableContinue" mat-flat-button color="primary" class="text-white" (click)="nextPage()">
      Tiếp tục</button>
  </div>
</div>