.margin-l-r-5 {
  margin-left: 5px;
  margin-right: 5px;
}

:host ::ng-deep .mat-form-field-input{
  .mat-form-field-flex{
    height: 30px !important;
  }
  .mat-form-field-infix{
    margin-top: -9px !important;
  }
}
.font-size-14{
  font-size: 14px;
}

:host ::ng-deep .input-log-time{
  max-width: 70px;
}