// .register-school-content {
//     font-family: 'Open Sans', sans-serif;
//     font-size: 13px;
//     color: #555555;
//   }
  
  .mat-radio-button~.mat-radio-button {
    margin-left: 16px;
  }
  
  .search {
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 15px;
  }
  
  .searchTerm {
    width: 263px;
    height: 29px;
  }
  
  // .searchTerm:focus {
  //   color: #00B4CC;
  // }
  
  .searchButton {
    background: none;
    border: none;
    margin-left: -32px;
    color: #555555
  }
  
  .combobox_selection {
    width: 187px;
    height: 29px;
  
    border: 0.5px solid #ccc;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    color: #555555;
  
  }
  
  .chosse-test-button {
    background-color: #4CAF50;
    color: white;
  }
  
  //table
  
  .example-container {
    position: relative;
  }
  

  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  .filter_bottom_action {
    display: flex;
    justify-content: space-between;
  }
  
  .action-button .material-icons {
    color: #fff;
  }
  .btn-refresh-list,
  .btn-add-user,
  .btn-remove-selected {
    color: #fff;
  }
  .btn-refresh-list {
    min-width: 40px !important;
    padding: 0px 9px;
  }
  .btn-hide-filter {
    background: #e5e5e5;
  }

  .mat-danger {
    margin: 10px;
  }
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-filter {
    color: #fff;
  }
  .filter-wrapper {
    padding: 10px 20px;
  }
  .first-filter-wrapper {
    padding-top: 20px;
  }
  .btn-filter {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .filter-control {
    padding-top: 15px;
    padding-right: 15px;
  }
  
  .mat-column-name {
    width: 30%;
  }