<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-header>
      <mat-card-title>Danh sách trường
      </mat-card-title>
    
    </mat-card-header>
  </mat-card>
  <mat-card class="manage-card">
    <mat-card-content class="mb-0">
      <div class="manage-filter">
        <div *ngIf="levelManageValue==1" class="manage-filter-item">
          <mat-form-field fxFlex="100" appearance="outline" (click)="onDivisionSelectClicked()">
            <mat-label>Tên phòng</mat-label>
            <mat-select [formControl]="divisionCtrl" placeholder="Chọn phòng" #singleSelectDivision>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="divisionFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]="null">Chọn phòng</mat-option>
              <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                {{division.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="manage-filter-item">
          <mat-form-field appearance="outline">
            <mat-label>Tên trường</mat-label>
            <input matInput fxFlex [formControl]="txtKeyword" type="text" name="search"
              placeholder="Tìm tên trường" autocomplete="off">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div class="manage-filter-item manage-filter-item-fill" fxFlex fxLayoutAlign="center center"
          fxLayoutAlign.gt-sm="end center">
          <button mat-raised-button color="primary" (click)="onSubmitFilter()">
            <mat-icon matSuffix>filter_list</mat-icon>
            Lọc kết quả
          </button>
        </div>
      </div>
    </mat-card-content>



  </mat-card>
  <mat-card class="manage-card">
    <table mat-table [dataSource]="listSchool" matSort matSortActive="created" matSortDisableClear
      matSortDirection="desc">
      <!-- Number Column -->
      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef>STT</th>
        <td mat-cell *matCellDef="let element;let i=index">{{i+1}}</td>
      </ng-container>
      <!-- Title Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Tên trường</th>
        <td mat-cell *matCellDef="let row" class="mat-main-column">{{row.schoolName}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Mã trường</th>
        <td mat-cell *matCellDef="let row">{{row.schoolCode}}</td>
      </ng-container>



      <!-- Created Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox class="example-margin" [checked]="allComplete" (change)="setAll($event.checked)"
            [indeterminate]="someComplete()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row;let i=index">
          <mat-checkbox class="example-margin" [(ngModel)]="row.isChoose"
            (ngModelChange)="updateAllComplete($event,row.id)">
          </mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td colspan="4" class="mat-cell background-no-content">
          <div class="background-no-content-img"></div>
          <div class="background-no-content-info">
            <p>Không tìm thấy trường</p>
          </div>
        </td>
      </tr>
    </table>
    <mat-paginator [length]="totalItems" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </mat-card>

  <div fxLayout="row" fxLayoutAlign="center center" class="mb-3" fxLayoutGap="10px">
    <button mat-raised-button class="button-cancel" (click)="backListExams()">Quay lại</button>
    <button mat-raised-button color="primary" class="text-white" [disabled]="isLoadingResults"
      (click)="assiassignment()">Lưu</button>
  </div>
</div>