<div>
  <div class="text-center pb-4"><b class="title"> DANH SÁCH GIÁM THỊ</b></div>

</div>

<div fxLayout="row">
  <span class="line-height-36" fxFlex="10">Ca thi: <b>{{shiftInfo.shiftName}}</b></span>
  <span class="line-height-36" fxFlex="15">Phòng thi: <b>{{shiftInfo.roomName }}</b></span>
  <span class="line-height-36" fxFlex="30">Thời gian bắt đầu:
    <b>{{shiftInfo.startDate |date :'HH:mm dd/MM/yyyy'}}</b></span>
  <span class="line-height-36" fxFlex="30">Thời gian kết thúc:
    <b>{{shiftInfo.endDate|date :'HH:mm dd/MM/yyyy'}}</b></span>
</div>

<mat-dialog-content>
  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <div class="example-container m-t-20">
        <div class="example-table-container responsive-table">
          <app-spinner2 name="editSupervisorLoading" [fullScreen]="isFullScreen"></app-spinner2>
          <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="created"
            matSortDisableClear matSortDirection="desc">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <!-- Number Column -->
              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef fxFlex="5" fxLayoutAlign="center center">STT</th>
                <td mat-cell *matCellDef="let element; let i = index" fxFlex="5" fxLayoutAlign="center center">{{i+1}}
                </td>
              </ng-container>

              <!-- Title Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef fxFlex="45" fxLayoutAlign="start center">Họ Và tên</th>
                <td mat-cell *matCellDef="let row" fxFlex="45" fxLayoutAlign="start center">{{row.fullName}}</td>
              </ng-container>
              <!-- Title Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="start center">Email</th>
                <td mat-cell *matCellDef="let element" fxFlex="20" fxLayoutAlign="start center">{{element.email}}</td>
              </ng-container>



              <!-- Created Column -->
              <ng-container matColumnDef="dob">
                <th mat-header-cell *matHeaderCellDef disableClear fxFlex="15" fxLayoutAlign="center center">
                  Ngày sinh
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="15" fxLayoutAlign="center center">
                  {{element.dayOfBirth==null?'-':element.dayOfBirth| date: 'dd/MM/yyyy'}}
                </td>
              </ng-container>
              <!-- Created Column -->
              <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef disableClear fxFlex="10" fxLayoutAlign="center center">
                  Giới tính
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="10" fxLayoutAlign="center center">{{element.getGender}}
                </td>
              </ng-container>
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef fxFlex="5" fxLayoutAlign="center center">
                  <mat-checkbox color="primary" class="example-margin" [checked]="allComplete" (change)="setAll($event.checked)"
                    [indeterminate]="someComplete()"></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" fxFlex="5" fxLayoutAlign="center center">
                  <mat-checkbox color="primary" class="example-margin" [(ngModel)]="row.isChoose"
                    (ngModelChange)="updateAllComplete($event,row.id)"></mat-checkbox>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell background-no-content">
                  <div class="background-no-content-img"></div>
                  <div class="background-no-content-info">
                    <p>Không tìm thấy giám thị</p>
                  </div>
                </td>
              </tr>
            </div>

          </table>
        </div>
      </div>

    </div>
  </div>


</mat-dialog-content>
<div *ngIf="!isValid" class="text-danger text-center">Có giám thị trùng ca thi vui lòng kiểm tra lại
</div>
<mat-dialog-actions align="center" class="mb-3" fxLayoutGap="15px">
  <button mat-raised-button class="button-cancel" [mat-dialog-close]>Hủy</button>
  <button mat-raised-button color="primary" [disabled]="!isValid"
    [mat-dialog-close]="{id:shiftInfo.id,listSupervisorId:listSupervisorId}">Lưu</button>
</mat-dialog-actions>
