.text-message {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: start;
  color: #555555;
  opacity: 0.98;
}

.button-cancel {
  background-color: #eeeeee;
  color: #888888;
  font-weight: 500;
  min-width: 80px;
}
.button-submit {
  font-weight: 500;
  min-width: 80px;
}

.dialog-button{
  margin-bottom: -10px;
  padding: 0px;
}