<mat-dialog-content>
	<p class="text-message break-line">
		{{message}}
	</p>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-flat-button mat-dialog-close class="button-cancel">{{cancelButtonText}}</button>
	<button mat-flat-button [color]="colorButtonSubmit" (click)="onConfirmClick()" class="button-submit"
		*ngIf="confirmButtonText !=='Yes'">{{confirmButtonText}}</button>
</mat-dialog-actions>