.form-check {
  align-items: center;
}

.title-form {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: start;
  text-transform: uppercase;
  color: #303030;
  opacity: 0.98;
}

.school-name {
  text-align: start;
  margin-top: 10px;
  margin-bottom: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #303030;
  opacity: 0.98;
  color: #4CAF50;
}

// .mat-dialog-actions {
//   padding: 20px 0 20px;
//   justify-content: flex-end;
// }
