<mat-card-content fxLayout="column">
  <!-- Checkbox Column -->
  <div class="mat-dialog-title">
    <div>Danh sách khối</div>
    <div class="mat-dialog-sub-title">Trường: {{schoolInfo.name}}</div>
  </div>
 
 

  <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="33.33" *ngFor="let grade of gradeLists">
      <mat-checkbox fxLayoutAlign="start center" style="min-width: 120px" [checked]="selection.isSelected(grade)"
        (change)="changeCheck($event, grade)">
        {{grade.name}}
      </mat-checkbox>
    </div>
  </div>
</mat-card-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close class="button-cancel">Hủy</button>
  <button *ngIf="this.hasAddPermission || this.hasEditPermission" mat-raised-button type="submit" color="primary" (click)="submitForm()">Lưu</button>
</mat-dialog-actions>
