.border-bottom {
  border-bottom: solid 0.1px #CACACA;
  margin: 0px 24px;
}

:host ::ng-deep .mat-card {
  margin: 0;
  padding: 0;
  box-shadow: none !important;
  width: 100%;
}

:host ::ng-deep .mat-card-content {
  padding: 0;
}

:host ::ng-deep .mat-dialog-container {
  overflow-y: hidden;
}

.title-center {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.cancel-button {
  background-color: #da251d;
  color: #ffffff;
}

/////////
.close-button {
  float: right;
  top: -24px;
  right: -24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button {
  float: right;
  top: -52px;
  right: -52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset;
}

/////////
.save-button {
  background-color: #4caf50;
  color: #ffffff;
}

.help-bpx {
  font-size: 13px;
  color: red;
}

.permission {
  overflow-y: auto;
  height: 390px;
}

.matFormFieldSelectBox {

  ::ng-deep .mat-form-field-wrapper {
    width: 100%;
  }

  // ::ng-deep .mat-form-field-flex {
  //   height: 36px;
  // }
  // ::ng-deep .mat-form-field-infix {
  //   border: hidden;
  // }
  // ::ng-deep .mat-select-arrow {
  //   margin-top: 8px;
  // }
  // ::ng-deep .mat-form-field-outline {
  //   color: #555555;
  // }
}

.input-user-type {
  margin-left: -8px;
  height: 36px;
  padding-left: 12px;
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
}

.mat-expansion-panel-admin {
  border-radius: 0px !important;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important;
  margin-bottom: 0px !important;
  width: 95%;

  .mat-expansion-panel-header-admin {
    height: 35px;
    padding: 0px;

    .mat-panel-title-admin {
      color: #4caf50;
      font-weight: 600;
    }
  }

 

  .mat-expanded .mat-expansion-panel-header-title .material-icons {
    transform: rotate(0deg);
  }

  .mat-expansion-panel-header-title .open,
  .mat-expanded .mat-expansion-panel-header-title .close {
    display: inline-block;
  }

  .mat-expanded .mat-expansion-panel-header-title .open,
  .mat-expansion-panel-header-title .close {
    display: none;
  }
}

.mat-expansion-panel-teacher {
  border-radius: 0px !important;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important;
  margin-bottom: 0px !important;
  width: 100%;

  .mat-expansion-panel-header-teacher {
    height: 35px;
    padding: 0px;

    .mat-panel-title-teacher {
      color: #4caf50;
      font-weight: 600;
    }
  }

  .mat-expanded .mat-expansion-panel-header-title .material-icons {
    transform: rotate(0deg);
  }

  .mat-expansion-panel-header-title .open,
  .mat-expanded .mat-expansion-panel-header-title .close {
    display: inline-block;
  }

  .mat-expanded .mat-expansion-panel-header-title .open,
  .mat-expansion-panel-header-title .close {
    display: none;
  }
}

.mat-expansion-panel-child {
  border-radius: 0px !important;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important;
  margin-bottom: 0px !important;

  .mat-expansion-panel-header-child {
    height: 35px;
    padding-left: 12px;

    .mat-panel-title-child {
      font-weight: 400;
      color: #303030;
    }
  }

  ::ng-deep .mat-expansion-panel-body {
    padding-left: 36px;

    .div-checkbox {
      height: 35px;
    }

    .mat-checkbox-label {
      line-height: 35px;
    }

    .mat-checkbox-child {
      color: #555555;
    }
  }

  .mat-expanded .mat-expansion-panel-header-title .material-icons {
    transform: rotate(0deg);
  }

  .mat-expansion-panel-header-title .open,
  .mat-expanded .mat-expansion-panel-header-title .close {
    display: inline-block;
  }

  .mat-expanded .mat-expansion-panel-header-title .open,
  .mat-expansion-panel-header-title .close {
    display: none;
  }
}

//   .mat-expanded .mat-expansion-panel-header-title .material-icons {
//     transform: rotate(0deg);
//   }

//   .mat-expansion-panel-header-title .open,
//   .mat-expanded .mat-expansion-panel-header-title .close {
//     display: inline-block;
//   }

//   .mat-expanded .mat-expansion-panel-header-title .open,
//   .mat-expansion-panel-header-title .close {
//     display: none;
//   }

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0px;
  margin-bottom: 10px;
}