<div fxLayout="row grap" class="apply-css-alpha">
  <mat-card>
    <mat-card-content>
      <div fxFlex="100%">
        <form #createUserType="ngForm" (ngSubmit)="submitForm(createUserType)">
          <div class="mat-dialog-title">THÊM KIỂU NGƯỜI DÙNG</div>
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="m-t-30 m-b-30">
            <div fxFlex="30">
              <!-- <label fxLayoutAlign="start center" class="label_combobox">Kiểu người dùng:
                                    </label> -->
              <mat-form-field class="matFormFieldSelectBox" appearance="outline">
                <mat-label>Kiểu người dùng</mat-label>
                <input matInput [formControl]="inputFormControl" type="text" name="name"
                  [(ngModel)]="createUserTypeRequest.name" name required>
                <mat-error *ngIf="inputFormControl.hasError('required')">
                  Không được để trống
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="30">
              <!-- <label fxLayoutAlign="start center" class="label_combobox">Vai trò mặc định:
                                      </label> -->
              <mat-form-field class="matFormFieldSelectBox" appearance="outline">
                <mat-label>Vai trò mặc định</mat-label>
                <mat-select [formControl]="selectRoleCtrl" placeholder="Chọn vai trò" #singleSelectRole
                  disableOptionCentering [(ngModel)]="createUserTypeRequest.userTypeRole">
                  <mat-option value="SUPER" *ngIf="userIdentity.userTypeRole=='SUPER'">
                    Quản trị viên cấp cao
                  </mat-option>
                  <mat-option value="ADMIN">
                    Quản trị viên
                  </mat-option>
                  <mat-option value="TEACHER">
                    Giáo viên
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="30">
              <!-- <label fxLayoutAlign="start center" class="label_combobox">Phân cấp:
                                      </label> -->
              <mat-form-field class="matFormFieldSelectBox" [floatLabel]="'never'" appearance="outline">
                <mat-label>Phân cấp</mat-label>
                <mat-select [formControl]="selectLevelCtrl" placeholder="Chọn phân cấp" #singleSelectLevel
                  disableOptionCentering [(ngModel)]="createUserTypeRequest.levelManage"
                  (ngModelChange)="changeSelectLevelCtrl($event)">
                  <mat-option value="DPM" *ngIf="this.userIdentity.levelManage=='DPM'" >
                    Sở giáo dục
                  </mat-option>
                  <mat-option value="DVS" *ngIf="this.userIdentity.levelManage=='DPM' || this.userIdentity.levelManage=='DVS'">
                    Phòng
                  </mat-option>
                  <mat-option value="SCH" *ngIf="this.userIdentity.levelManage=='DPM' || this.userIdentity.levelManage=='DVS' || this.userIdentity.levelManage=='SCH'">
                    Trường
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start start" class="m-t-20 permission">
            <div fxFlex="50" fxLayoutAlign="start start">
              <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-admin"
                [expanded]="true">
                <mat-expansion-panel-header class="mat-expansion-panel-header-admin">
                  <mat-panel-title class="mat-panel-title-admin">
                    <span class="material-icons open">
                      arrow_right
                    </span>
                    <span class="material-icons close">
                      arrow_drop_down
                    </span>
                    Quản trị viên
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <hr class="border-bottom">
                <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-child"
                  [expanded]="false">
                  <mat-expansion-panel-header class="mat-expansion-panel-header-child">
                    <mat-panel-title class="mat-panel-title-child">
                      <span class="material-icons open">
                        arrow_right
                      </span>
                      <span class="material-icons close">
                        arrow_drop_down
                      </span>
                      Kiểu người dùng
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  <div *ngFor="let item of checkboxUserType" class="div-checkbox">
                    <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()" [disabled]="item.isDisabled"
                      [ngModelOptions]="{standalone: true}" class="mat-checkbox-child" color="primary">{{item.name}}
                    </mat-checkbox>
                    <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  </div>
                </mat-expansion-panel>
                <hr class="border-bottom">

                <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-child"
                  [expanded]="false" *ngIf="createUserTypeRequest.levelManage=='DPM'">
                  <mat-expansion-panel-header class="mat-expansion-panel-header-child">
                    <mat-panel-title class="mat-panel-title-child">
                      <span class="material-icons open">
                        arrow_right
                      </span>
                      <span class="material-icons close">
                        arrow_drop_down
                      </span>
                      Quản lý phòng
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  <div *ngFor="let item of checkboxManagerDivision" class="div-checkbox">
                    <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()" [disabled]="item.isDisabled"
                      [ngModelOptions]="{standalone: true}" class="mat-checkbox-child" color="primary">{{item.name}}
                    </mat-checkbox>
                    <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  </div>
                </mat-expansion-panel>
                <hr class="border-bottom" *ngIf="createUserTypeRequest.levelManage=='DPM'">

                <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-child"
                  [expanded]="false"
                  *ngIf="createUserTypeRequest.levelManage=='DPM' || createUserTypeRequest.levelManage=='DVS'">
                  <mat-expansion-panel-header class="mat-expansion-panel-header-child">
                    <mat-panel-title class="mat-panel-title-child">
                      <span class="material-icons open">
                        arrow_right
                      </span>
                      <span class="material-icons close">
                        arrow_drop_down
                      </span>
                      Quản lý trường
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  <div *ngFor="let item of checkboxManagerSchool" class="div-checkbox">
                    <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()" [disabled]="item.isDisabled"
                      [ngModelOptions]="{standalone: true}" class="mat-checkbox-child" color="primary">{{item.name}}
                    </mat-checkbox>
                    <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  </div>
                </mat-expansion-panel>
                <hr class="border-bottom"
                  *ngIf="createUserTypeRequest.levelManage=='DPM' || createUserTypeRequest.levelManage=='DVS'">

                <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-child"
                  [expanded]="false">
                  <mat-expansion-panel-header class="mat-expansion-panel-header-child">
                    <mat-panel-title class="mat-panel-title-child">
                      <span class="material-icons open">
                        arrow_right
                      </span>
                      <span class="material-icons close">
                        arrow_drop_down
                      </span>
                      Quản lý người dùng
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  <div *ngFor="let item of checkboxManagerUser" class="div-checkbox">
                    <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()" [disabled]="item.isDisabled"
                      [ngModelOptions]="{standalone: true}" class="mat-checkbox-child" color="primary">{{item.name}}
                    </mat-checkbox>
                    <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  </div>
                </mat-expansion-panel>
                <hr class="border-bottom">

                <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-child"
                  [expanded]="false">
                  <mat-expansion-panel-header class="mat-expansion-panel-header-child">
                    <mat-panel-title class="mat-panel-title-child">
                      <span class="material-icons open">
                        arrow_right
                      </span>
                      <span class="material-icons close">
                        arrow_drop_down
                      </span>
                      Quản lý lớp
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  <div *ngFor="let item of checkboxManagerClass" class="div-checkbox">
                    <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()" [disabled]="item.isDisabled"
                      [ngModelOptions]="{standalone: true}" class="mat-checkbox-child" color="primary">{{item.name}}
                    </mat-checkbox>
                    <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  </div>
                </mat-expansion-panel>
                <hr class="border-bottom">

                <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-child"
                  [expanded]="false" *ngIf="createUserTypeRequest.levelManage=='DPM'">
                  <mat-expansion-panel-header class="mat-expansion-panel-header-child">
                    <mat-panel-title class="mat-panel-title-child">
                      <span class="material-icons open">
                        arrow_right
                      </span>
                      <span class="material-icons close">
                        arrow_drop_down
                      </span>
                      Quản lý khối
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  <div *ngFor="let item of checkboxManagerGrade" class="div-checkbox">
                    <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()" [disabled]="item.isDisabled"
                      [ngModelOptions]="{standalone: true}" class="mat-checkbox-child" color="primary">{{item.name}}
                    </mat-checkbox>
                    <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  </div>
                </mat-expansion-panel>
                <hr class="border-bottom" *ngIf="createUserTypeRequest.levelManage=='DPM'">

                <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-child"
                  [expanded]="false" *ngIf="createUserTypeRequest.levelManage=='DPM'">
                  <mat-expansion-panel-header class="mat-expansion-panel-header-child">
                    <mat-panel-title class="mat-panel-title-child">
                      <span class="material-icons open">
                        arrow_right
                      </span>
                      <span class="material-icons close">
                        arrow_drop_down
                      </span>
                      Quản lý môn
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  <div *ngFor="let item of checkboxManagerSubject" class="div-checkbox">
                    <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()" [disabled]="item.isDisabled"
                      [ngModelOptions]="{standalone: true}" class="mat-checkbox-child" color="primary">{{item.name}}
                    </mat-checkbox>
                    <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  </div>
                </mat-expansion-panel>
                <hr class="border-bottom" *ngIf="createUserTypeRequest.levelManage=='DPM'">

                <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-child"
                  [expanded]="false">
                  <mat-expansion-panel-header class="mat-expansion-panel-header-child">
                    <mat-panel-title class="mat-panel-title-child">
                      <span class="material-icons open">
                        arrow_right
                      </span>
                      <span class="material-icons close">
                        arrow_drop_down
                      </span>
                      Quản lý khung chương trình
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  <div *ngFor="let item of checkboxManagerCurriculum" class="div-checkbox">
                    <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()" [disabled]="item.isDisabled"
                      [ngModelOptions]="{standalone: true}" class="mat-checkbox-child" color="primary">{{item.name}}
                    </mat-checkbox>
                    <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  </div>
                </mat-expansion-panel>
                <hr class="border-bottom">

                <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-child"
                  [expanded]="false">
                  <mat-expansion-panel-header class="mat-expansion-panel-header-child">
                    <mat-panel-title class="mat-panel-title-child">
                      <span class="material-icons open">
                        arrow_right
                      </span>
                      <span class="material-icons close">
                        arrow_drop_down
                      </span>
                      Ngân hàng câu hỏi
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  <div *ngFor="let item of checkboxManagerQuestionBank" class="div-checkbox">
                    <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()" [disabled]="item.isDisabled"
                      [ngModelOptions]="{standalone: true}" class="mat-checkbox-child" color="primary">{{item.name}}
                    </mat-checkbox>
                    <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  </div>
                </mat-expansion-panel>
                <hr class="border-bottom">

                <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-child"
                  [expanded]="false">
                  <mat-expansion-panel-header class="mat-expansion-panel-header-child">
                    <mat-panel-title class="mat-panel-title-child">
                      <span class="material-icons open">
                        arrow_right
                      </span>
                      <span class="material-icons close">
                        arrow_drop_down
                      </span>
                      Lộ trình đào tạo
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  <div *ngFor="let item of checkboxManagerLearningPath" class="div-checkbox">
                    <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()" [disabled]="item.isDisabled"
                      [ngModelOptions]="{standalone: true}" class="mat-checkbox-child" color="primary">{{item.name}}
                    </mat-checkbox>
                    <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  </div>
                </mat-expansion-panel>
                <hr class="border-bottom">

                <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-child"
                  [expanded]="false">
                  <mat-expansion-panel-header class="mat-expansion-panel-header-child">
                    <mat-panel-title class="mat-panel-title-child">
                      <span class="material-icons open">
                        arrow_right
                      </span>
                      <span class="material-icons close">
                        arrow_drop_down
                      </span>
                      Báo cáo thống kê
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  <div *ngFor="let item of checkboxManagerReport" class="div-checkbox">
                    <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()" [disabled]="item.isDisabled"
                      [ngModelOptions]="{standalone: true}" class="mat-checkbox-child" color="primary">{{item.name}}
                    </mat-checkbox>
                    <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  </div>
                </mat-expansion-panel>
                <hr class="border-bottom">

                <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-child"
                  [expanded]="false">
                  <mat-expansion-panel-header class="mat-expansion-panel-header-child">
                    <mat-panel-title class="mat-panel-title-child">
                      <span class="material-icons open">
                        arrow_right
                      </span>
                      <span class="material-icons close">
                        arrow_drop_down
                      </span>
                      Cài đặt hệ thống
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  <div *ngFor="let item of checkboxManagerSystem" class="div-checkbox">
                    <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()" [disabled]="item.isDisabled"
                      [ngModelOptions]="{standalone: true}" class="mat-checkbox-child" color="primary">{{item.name}}
                    </mat-checkbox>
                    <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  </div>
                </mat-expansion-panel>
                <hr class="border-bottom">

              </mat-expansion-panel>
            </div>
            <div fxFlex="50" fxLayoutAlign="start start">
              <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-teacher"
                [expanded]="true">
                <mat-expansion-panel-header class="mat-expansion-panel-header-teacher">
                  <mat-panel-title class="mat-panel-title-teacher">
                    <span class="material-icons open">
                      arrow_right
                    </span>
                    <span class="material-icons close">
                      arrow_drop_down
                    </span>
                    Giáo viên
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <hr class="border-bottom">

                <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-child"
                  [expanded]="false">
                  <mat-expansion-panel-header class="mat-expansion-panel-header-child">
                    <mat-panel-title class="mat-panel-title-child">
                      <span class="material-icons open">
                        arrow_right
                      </span>
                      <span class="material-icons close">
                        arrow_drop_down
                      </span>
                      Quản lý bài giảng
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  <div *ngFor="let item of checkboxManagerLesson" class="div-checkbox">
                    <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()" [disabled]="item.isDisabled"
                      [ngModelOptions]="{standalone: true}" class="mat-checkbox-child" color="primary">{{item.name}}
                    </mat-checkbox>
                    <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  </div>
                </mat-expansion-panel>
                <hr class="border-bottom">

                <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-child"
                  [expanded]="false">
                  <mat-expansion-panel-header class="mat-expansion-panel-header-child">
                    <mat-panel-title class="mat-panel-title-child">
                      <span class="material-icons open">
                        arrow_right
                      </span>
                      <span class="material-icons close">
                        arrow_drop_down
                      </span>
                      Quản lý kỳ thi
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  <div *ngFor="let item of checkboxManagerExam" class="div-checkbox">
                    <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()" [disabled]="item.isDisabled"
                      [ngModelOptions]="{standalone: true}" class="mat-checkbox-child" color="primary">{{item.name}}
                    </mat-checkbox>
                    <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  </div>
                </mat-expansion-panel>
                <hr class="border-bottom">

                <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-child"
                  [expanded]="false">
                  <mat-expansion-panel-header class="mat-expansion-panel-header-child">
                    <mat-panel-title class="mat-panel-title-child">
                      <span class="material-icons open">
                        arrow_right
                      </span>
                      <span class="material-icons close">
                        arrow_drop_down
                      </span>
                      Quản lý tổ chức thi
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  <div *ngFor="let item of checkboxOrganizeExam" class="div-checkbox">
                    <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()" [disabled]="item.isDisabled"
                      [ngModelOptions]="{standalone: true}" class="mat-checkbox-child" color="primary">{{item.name}}
                    </mat-checkbox>
                    <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  </div>
                </mat-expansion-panel>
                <hr class="border-bottom">

                <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-child"
                  [expanded]="false">
                  <mat-expansion-panel-header class="mat-expansion-panel-header-child">
                    <mat-panel-title class="mat-panel-title-child">
                      <span class="material-icons open">
                        arrow_right
                      </span>
                      <span class="material-icons close">
                        arrow_drop_down
                      </span>
                      Lớp học tương tác
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  <div *ngFor="let item of checkboxManagerMeetingRoom" class="div-checkbox">
                    <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()" [disabled]="item.isDisabled"
                      [ngModelOptions]="{standalone: true}" class="mat-checkbox-child" color="primary">{{item.name}}
                    </mat-checkbox>
                    <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  </div>
                </mat-expansion-panel>
                <hr class="border-bottom">

                <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-child"
                  [expanded]="false">
                  <mat-expansion-panel-header class="mat-expansion-panel-header-child">
                    <mat-panel-title class="mat-panel-title-child">
                      <span class="material-icons open">
                        arrow_right
                      </span>
                      <span class="material-icons close">
                        arrow_drop_down
                      </span>
                      Nhóm học sinh
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  <div *ngFor="let item of checkboxManagerGroupStudent" class="div-checkbox">
                    <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()" [disabled]="item.isDisabled"
                      [ngModelOptions]="{standalone: true}" class="mat-checkbox-child" color="primary">{{item.name}}
                    </mat-checkbox>
                    <!-- <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;"> -->
                  </div>
                </mat-expansion-panel>
                <hr class="border-bottom">

                <!-- <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-child"
                                        [expanded]="true">
                                            <mat-expansion-panel-header class="mat-expansion-panel-header-child">
                                            <mat-panel-title style="font-weight: 400;">
                                                <span class="material-icons open">
                                                    arrow_right
                                                  </span>
                                                  <span class="material-icons close">
                                                    arrow_drop_down
                                                  </span>
                                                Báo cáo thống kê
                                            </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;">
                                            <div *ngFor="let item of checkboxManagerReportTeacher" class ="div-checkbox">
                                                <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()"  [disabled]="item.isDisabled"  [ngModelOptions]="{standalone: true}" class="mat-checkbox-child">{{item.name}}</mat-checkbox>
                                                <hr style="border-bottom: solid 0.1px #B0B0B0; margin:0px -48px;">
                                            </div>
                                        </mat-expansion-panel>
                                        <hr class="border-bottom"> -->

              </mat-expansion-panel>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" class="m-t-20">
            <span class="help-bpx">{{this.lblPemissionModule}}</span>
          </div>

          <mat-dialog-actions>
            <button mat-raised-button mat-dialog-close class="button-cancel">Hủy</button>
            <button mat-raised-button type="submit" color="primary">Lưu</button>
          </mat-dialog-actions>
        </form>
      </div>
    </mat-card-content>
  </mat-card>


</div>
