<div class="apply-css-alpha">
  <app-spinner2 [fullScreen]="true"></app-spinner2>
  <mat-card class="container-add-teacher">
    <form [formGroup]="addStudentFromFile" (ngSubmit)="onSubmitHandleClick()">
      <mat-card-content>
        <div class="row-add-teacher">
          <p class="row-add-teacher_header">Thêm tập tin học sinh</p>
        </div>
        <div class="row-add-teacher">
          <a download class="download-sample-file-button" [href]="getLinkExcelTemplate()">
            <button type="button" mat-raised-button color="primary" class="button-download-file"
              matTooltip="Tải file mẫu">
              <mat-icon class="svg-download-template" svgIcon="download-template"></mat-icon>
            </button>
          </a>
          <div disabled class="m-b-20">
            <mat-form-field appearance="outline" (click)="onUserTypeSelectClicked()">
              <mat-label>Kiểu người dùng</mat-label>
              <mat-select formControlName="userTypeId" disabled ngDefaultControl placeholder="Chọn kiểu người dùng"
                #singleSelectUserType disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm kiểu người dùng" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="userTypeFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let userType of filteredUserTypes | async" [value]="userType.id">
                  {{userType.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row-add-teacher_dropdown_item display-flex-item m-b-20" *ngIf="levelManageValue==1">
            <mat-form-field appearance="outline" (click)="onDivisionSelectClicked()">
              <mat-label>Chọn phòng</mat-label>
              <mat-select [formControl]="divisionId" ngDefaultControl placeholder="Chọn phòng" #singleSelectDivision
                disableOptionCentering (selectionChange)="onChangeDivisionSelected($event.value)">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="divisionFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                  {{division.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="row-add-teacher_dropdown_item display-flex-item m-b-20" *ngIf="levelManageValue<=2">
            <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
              <mat-label>Chọn trường</mat-label>
              <mat-select [formControl]="schoolId" ngDefaultControl required placeholder="Chọn trường"
                #singleSelectSchool disableOptionCentering (selectionChange)="onChangeSchoolSelected($event.value)">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="schoolFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                  {{school.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="schoolId.hasError('required')">Vui lòng chọn trường(*)</mat-error>
            </mat-form-field>
          </div>
          <div class="row-add-teacher_dropdown_item display-flex-item m-b-20">
            <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
              <mat-label>Chọn khối</mat-label>
              <mat-select [formControl]="gradeId" ngDefaultControl required placeholder="Chọn khối" #singleSelectGrade
                disableOptionCentering (selectionChange)="onChangeGradeSelected($event.value)">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="gradeFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                  {{grade.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="gradeId.hasError('required')">Vui lòng chọn một khối lớp (*)</mat-error>
            </mat-form-field>
          </div>

          <div class="row-add-teacher_dropdown_item display-flex-item m-b-20">
            <mat-form-field appearance="outline" (click)="onGroupStudentSelectClicked()">
              <mat-label>Chọn lớp</mat-label>
              <mat-select [formControl]="groupStudentId" ngDefaultControl required placeholder="Chọn lớp"
                #singleSelectGroupStudent disableOptionCentering>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm lớp" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="groupStudentFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let groupstudent of filteredGroupStudents | async" [value]="groupstudent.id">
                  {{groupstudent.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="groupStudentId.touched && groupStudentId.hasError('required')">Vui lòng chọn một lớp học
                (*)</mat-error>
            </mat-form-field>
          </div>

          <div class="row-add-teacher_dropdown_item display-flex-item">
            <mat-form-field appearance="outline">
              <mat-label>Niên khóa</mat-label>
              <mat-select formControlName="schoolYearId" placeholder="Chọn niên khóa" #singleSelectSchoolYear
                disableOptionCentering>
                <mat-option value="2017">
                  2017-2018
                </mat-option>
                <mat-option value="2018">
                  2018-2019
                </mat-option>
                <mat-option value="2019">
                  2019-2020
                </mat-option>
                <mat-option value="2020">
                  2020-2021
                </mat-option>
                <mat-option value="2021">
                  2021-2022
                </mat-option>
                <mat-option value="2022">
                  2022-2023
                </mat-option>
                <mat-option value="2023">
                  2023-2024
                </mat-option>
                <mat-option value="2024">
                  2024-2025
                </mat-option>
                <mat-option value="2025">
                  2025-2026
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <ngx-dropzone (change)="uploadFile($event)"
            accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
            <ngx-dropzone-label>
              <span class="material-icons primary file-icon">
                folder
              </span>
              <div class="row-add-teacher_lable_header">
                Kéo thả hoặc tải lên tập tin học sinh
              </div>
              <p *ngIf="!file" class="no-file-choose-text">Không có tệp nào được chọn</p>
            </ngx-dropzone-label>
            <ngx-dropzone-preview *ngIf="file != undefined" [removable]="true" (removed)="onRemove(file)">
              <ngx-dropzone-label><span>{{ file.name }}</span></ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
          <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20" class="errors-msg"
            *ngIf="isHasFile == false">
            <div fxFlex="100" fxLayoutAlign="end center">
              <div *ngIf="isHasFile == false" class="row-add-teacher_label_text text-danger text-header">
                Vui lòng chọn tệp (*)
              </div>
            </div>
          </div>
        </div>
        <div group-button style="margin-top: 34px;">
          <div fxLayout="row" fxLayoutAlign="center start" class="row-flex" fxLayoutGap="20px">
            <button type="button" mat-raised-button class="button-cancel" (click)="onBackToManagerHandleClick()">Về
              trang quản lý</button>
            <button mat-raised-button type="submit" color="primary" [disabled]="isDisableSendButton">Gửi</button>
          </div>
        </div>

        <div class="row-add-teacher_note row-add-teacher_label_text row-add-teacher_lable_header">

        </div>
      </mat-card-content>
    </form>
  </mat-card>
  <div [hidden]="!isLoadTableData">
    <mat-card class="container-information-data">
      <div class="row-information">
        <div class="row-information_header-text text-header"> THÔNG TIN DỮ LIỆU </div>
        <div class="text-danger text-header" style="text-align:center;line-height: 40px;">Dữ liệu người dùng lỗi. Vui
          lòng kiểm tra dữ liệu và thao tác lại tệp tin</div>
        <div class="row-information_table">
          <div class="row-information_table_left">
            <div class="row-information_table_header text-header">Thông tin</div>
            <div class="row-information_table_left_total-up-content">Tổng số người dùng tải lên</div>
            <div class="row-information_table_left_check-valid-content">Số người dùng tải kiểm tra hợp lệ
            </div>
            <div class="row-information_table_left_check-invalid-content">Số người dùng kiểm tra không hợp
              lệ
            </div>
          </div>
          <div class="row-information_table_right">
            <div class="row-information_table_header text-header">Kết quả</div>
            <div class="row-information_table_right_total-up-content">{{totalUpCount}}</div>
            <div class="row-information_table_right_check-valid-content text-header text-success">
              {{totalUpCount
              -
              errorCount}}
            </div>
            <div class="row-information_table_right_check-invalid-content text-header text-danger">
              {{errorCount}}
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div [hidden]="!isLoadTableData" #scrollBottom>
    <mat-card class="error-list">
      <div class="row-information">
        <table mat-table [dataSource]="dataSource">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef fxFlex="13" fxLayoutAlign="start center"> STT
              </th>
              <td mat-cell *matCellDef="let element;let i = index" fxFlex="13" fxLayoutAlign="start center">
                {{i+1}}
              </td>
            </ng-container>

            <ng-container matColumnDef="column">
              <th mat-header-cell *matHeaderCellDef fxFlex="13" fxLayoutAlign="start center"> HÀNG
              </th>
              <td mat-cell *matCellDef="let element" fxFlex="13" fxLayoutAlign="start center">
                {{element.rowData.no}}
              </td>
            </ng-container>

            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef fxFlex="13" fxLayoutAlign="start center"> HỌ
              </th>
              <td mat-cell *matCellDef="let element" fxFlex="13" fxLayoutAlign="start center">
                <span class="text-overflow">{{element.rowData.lastName}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef fxFlex="13" fxLayoutAlign="start center"> TÊN
              </th>
              <td mat-cell *matCellDef="let element;let i = index" fxFlex="13" fxLayoutAlign="start center">
                <span class="text-overflow">{{element.rowData.firstName}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="userName">
              <th mat-header-cell *matHeaderCellDef fxFlex="13" fxLayoutAlign="start center"> MÃ ĐỊNH DANH
              </th>
              <td mat-cell *matCellDef="let element;let i = index" fxFlex="13" fxLayoutAlign="start center">
                <span class="text-overflow">{{element.rowData.userName}}</span>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef fxFlex="13" fxLayoutAlign="start center">EMAIL
              </th>
              <td mat-cell *matCellDef="let element" fxFlex="13" fxLayoutAlign="start center">
                <span class="text-overflow">{{element.rowData.email}}</span>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="infoError">
              <th mat-header-cell *matHeaderCellDef fxFlex="22" fxLayoutAlign="start center">THÔNG TIN LỖI
              </th>
              <td mat-cell *matCellDef="let element" fxFlex="22" fxLayoutAlign="start center">
                <div class="row-flex-direction">
                  <div *ngFor="let item of element.errorResult" class="text-danger text-header">
                    <span *ngIf="item.reasonType == 'NUL'"> [{{item.columnError}}] không được để
                      trống
                    </span>
                    <span *ngIf="item.reasonType == 'MAL'"> [{{item.columnError}}] đã vượt quá kí tự
                    </span>
                    <span *ngIf="item.reasonType == 'IES'"> [{{item.columnError}}] đã tồn tại
                    </span>
                    <span *ngIf="item.reasonType == 'BAF'"> [{{item.columnError}}] sai định dạng
                    </span>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Đã tải lên thành công</td>
            </tr>
          </div>
        </table>
        <mat-paginator [length]="2" [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
      </div>
    </mat-card>
  </div>
</div>