.container-add-teacher {
  padding: 20px !important;

  .row-add-teacher {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 400px;
    &_header {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #303030;
      margin-bottom: 10px;
    }
    &_label_text {
      margin-top: 15px;
      font-size: 13px;
      color: #555555;
      opacity: 0.98;
    }

    &_lable_header {
      font-weight: 600;
    }

    &_choose-file {
      margin-top: 12px;
    }

    &_note {
      text-align: center;
      margin-top: 30px;
    }

    .row-add-teacher_dropdown_item {
      .matFormFieldSelectBox {
        //width: 260px;
      }

      // &_download-sample-file {
      //     display: flex;
      //     align-items: center;
      //     justify-content: center;
      //     margin-left: 12px;
      // }
    }

    .display-flex-item {
      display: flex;
    }

    .download-sample-file-button {
      position: absolute;
      z-index: 999;
      top: 0px;
      right: -54px;

      .button-download-file {
        min-width: 34px;
        padding: 3px 0px;
        // width: 40px;
        height: 34px;
        line-height: normal;

        // padding: 0;
        .svg-download-template {
          width: 13px;
        }
      }
    }
  }
}

.matFormFieldSelectBox {
  margin-top: 10px;
  height: 31px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 0 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #555555;
  opacity: 0.98;
}

:host ::ng-deep .mat-form-field-underline {
  display: none;
}

:host ::ng-deep .mat-form-field-infix {
  border-top: none;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.mat-select-panel-wrap {
  position: relative;
  top: 26px;
}

.mat-select-panel-wrap .mat-select-panel {
  min-width: calc(100% + 12px) !important;
  transform: translateX(4px) !important;
}

:host ::ng-deep .mat-form-field-wrapper {
  width: 100% !important;
  padding-bottom: 0px !important;
}

.container-information-data {
  font-size: 13px;
  padding-bottom: 30px !important;

  .row-information {
    width: 600px;
    margin: 0 auto;

    &_header-text {
      text-align: center;
      padding: 30px 0 10px 0;
    }

    .row-information_table {
      display: flex;

      .row-information_table_left {
        border-top: 0.5px solid #b0b0b0;
        border-left: 0.5px solid #b0b0b0;

        .row-information_table_left_total-up-content {
          padding: 13px;
          border-top: 0.5px solid #b0b0b0;
        }

        .row-information_table_left_check-valid-content {
          padding: 13px;
          border-top: 0.5px solid #b0b0b0;
        }

        .row-information_table_left_check-invalid-content {
          padding: 13px;
          border-top: 0.5px solid #b0b0b0;
          border-bottom: 0.5px solid #b0b0b0;
        }
      }

      .row-information_table_right {
        border-top: 0.5px solid #b0b0b0;
        border-left: 0.5px solid #b0b0b0;
        border-right: 0.5px solid #b0b0b0;
        text-align: center;

        .row-information_table_right_total-up-content {
          padding: 13px;
          border-top: 0.5px solid #b0b0b0;
        }

        .row-information_table_right_check-valid-content {
          padding: 13px;
          border-top: 0.5px solid #b0b0b0;
        }

        .row-information_table_right_check-invalid-content {
          padding: 13px;
          border-top: 0.5px solid #b0b0b0;
          border-bottom: 0.5px solid #b0b0b0;
        }
      }
    }
  }
}

.text-header {
  font-weight: 600;
}

.row-information_table_header {
  width: 315px;
  padding: 13px;
  background: #f3f8f4;
}

.text-success {
  color: #4caf50;
}

.text-danger {
  color: #da251d;
}

.error-list {
  padding: 20px !important;
}

.text-overflow {
  width: 90%;
  text-overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host ::ng-deep .row-flex-direction {
  margin: 15px 0px;
}

:host ::ng-deep .mat-row.cdk-row.ng-star-inserted {
  height: auto;
}

ngx-dropzone {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  width: 100% !important;
  background: #fbfffb;
  border: 2px dashed #cbe9cc;
  box-sizing: border-box;
  border-radius: 24px;
}

ngx-dropzone-preview {
  max-width: fit-content !important;
  min-height: 46px !important;
  margin: 0 !important;
  width: fit-content !important;
  overflow-y: hidden;
  background: none;
  height: 68px !important;
}

ngx-dropzone-preview:hover {
  background: none;
}

.no-file-choose-text {
  line-height: 14px;
}

.file-icon {
  font-size: 40px !important;
}
