.exam-rule-dialog-container {
    min-width: 375px;
    min-height: 250px;
  .icon-area {
    text-align: center;
    width: 5rem;

    mat-icon {
      color: #DA251D;
      width: 4rem;
      height: 4rem;
      font-size: 4rem;
    }
  }

  .exam-rule-dialog-title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #DA251D;
  }
  .violation-label{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #303030;
  }
  .exam-rule-dialog-content{
      p{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #303030;
      }
   
    .score{
        padding: 2px 15px;
        background: #CCFFCE;
        border-radius: 23px;
        color: #4CAF50;
    }
  }
  .close-button{
      margin-top: 30px;
      background: #DA251D;
      color: #FFFFFF;
  }

}
