<div fxLayout="column" fxLayoutAlign="center center" class="exam-rule-dialog-container">
  <div fxFlex="100" fxLayoutAlign="center start" class="exam-rule-dialog-header m-b-20">
    <span class="exam-rule-dialog-title">CẢNH BÁO VI PHẠM</span>
  </div>
  <div class="icon-area">
    <mat-icon>error_outline</mat-icon>
  </div>
  <div fxFlex="100" fxLayoutAlign="center center" class="exam-rule-dialog-content">
    <p *ngIf="info.violatedCode == violationType.Suspend"> Bạn đã bị đình chỉ thi! </p>
    <p *ngIf="info.violatedCode == violationType.Warning"> Bạn đã bị cảnh cáo!</p>
    <p *ngIf="info.violatedCode == violationType.SubtractScore"> Bạn đã bị trừ <span class="score">{{info.minusScore}}</span> điểm!</p>
  </div>
  <div fxFlex="100">
    <div fxLayoutAlign="start center" class="violation-label">Lý do: <span class="m-l-10" style="color: red;"> {{info.reason}}</span> </div>
  </div>
  <div fxFlex="100" fxLayoutAlign="center center">
    <button mat-button [mat-dialog-close]="info.violatedCode" class="close-button">ĐÓNG</button>
  </div>
</div>
