<mat-card>
  <mat-card-content>
    <div mat-dialog-title>Sửa tiết học</div>
    <div class="apply-css-alpha content-group-name-input">
      <div fxLayout="row" fxLayoutAlign="start center" class="row_flex" class="m-b-10">
        <label for="" fxFlex="100" class="content_dialog__label">Tên tiết học</label>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="">
        <mat-form-field appearance="outline">
          <mat-label>Tên tiết học(*)</mat-label>
          <input matInput [formControl]="nameControl" type="text" name="search" [(ngModel)]="valueDialog">
          <mat-error *ngIf="nameControl.hasError('required')">Tên tiết học không được để trống</mat-error>
          <mat-error *ngIf="nameControl.hasError('maxlength')">Tên tiết học không quá 255 ký tự</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button class="button-cancel m-r-10" (click)="onNoClick()">
        Hủy
      </button>
      <button mat-raised-button color="primary" (click)="onEditPartHandleClick()">
        Sửa
      </button>
    </div>
  </mat-card-content>
</mat-card>
