.input_part {
  width: 90%;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;

  padding-left: 10px;
  background-repeat: no-repeat;
  border: 0.5px solid #b0b0b0;
  box-sizing: border-box;
}

.input_part ::-webkit-input-placeholder {
  border: 0.5px solid #b0b0b0;
  box-sizing: border-box;
}

.content_dialog__label {
  font-weight: bold;
  margin: 10px 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #303030;
  opacity: 0.98;
}

.part-diaglog-button {
  width: 102px !important;
  line-height: 30px;
}

.min-width-btn {
  min-width: 100px;
}

:host ::ng-deep .mat-card {
  margin: 0;
  box-shadow: none !important;
}

:host ::ng-deep .mat-card-content {
  padding: 0;
}

:host ::ng-deep .mat-dialog-actions{
  padding-bottom: 0px;
}