<div class="time-off-icon">
  <mat-icon>timer_off</mat-icon>
</div>
<h3 style="text-align:center;">Hết Giờ!</h3>
<!-- <ng-container *ngIf="isSubmitSuccess==false; else elseTemplate">
  <h1 style="text-align:center;color:#dc3545; margin-top: 2rem;">Nộp bài thất bại</h1>
</ng-container>
<ng-template #elseTemplate>
  <h1 style="text-align:center;color:greenyellow; margin-top: 2rem;">Nộp bài thành công</h1>
</ng-template> -->
<mat-dialog-actions fxLayoutAlign="center center" fxLayoutGap="10px" class="m-b-20">
  <button mat-flat-button color="primary" mat-dialog-close="true" class="accept-bottom">OK</button>
  <a routerLink="dashboard/user-examination/{{examSubjectStudentId}}/result"><button mat-flat-button color="primary"
      mat-dialog-close>Xem lại bài thi</button></a>
</mat-dialog-actions>
