<div class="common" [ngClass]="{'dark': isDarkMode}">
  <!-- <div class="title-container" fxLayout="row">
    <span class="title" fxLayoutAlign="start center">Phản hồi</span>
  </div> -->

  <div class="content-chat">
    <div class="container-ask">
      <div class="body-chat">
        <div class="comment">
          <div class="comment-parent">
            <div fxLayout="column" *ngFor="let item of commentTeacherVM">
              <div class="comment-parent-content" fxLayout=row fxLayoutGap=15px fxLayout=row fxFlex=100>
                <img class="avatar" src="{{item.userAvartar}}" fxFlex=15>
                <div fxLayout="column" fxLayoutGap="5px" fxFlex=85>
                  <div class="comment-content">
                    <div class="header-comment" fxLayout=row fxLayoutAlign="space-between start">
                      <span class="name">{{item.userName}} (hỏi)</span>
                      <mat-icon svgIcon="edit-black" class="icon" *ngIf="item.userId == userId"
                        (click)="updateCommentClick(item.commentTeacherId, item.messageContent)"></mat-icon>
                    </div>
                    <span class="content-comment" *ngIf="isEdit==false || item.commentTeacherId != select">
                      <!-- <span class="text-bold">Hỏi:</span> -->
                      {{item.messageContent}}
                    </span>

                    <mat-form-field *ngIf="isEdit ==true && item.commentTeacherId == select">
                      <textarea value="{{item.messageContent}}" matInput [(ngModel)]="commentUpdate"
                        (keydown.enter)="updateComment(item.commentTeacherId)" class="update-comment-input"></textarea>
                    </mat-form-field>

                  </div>
                  <div fxLayout="row" fxLayoutGap=10px class="action-box">
                    <span *ngIf="item.userId == userId" (click)="deleteComment(item.commentTeacherId)"
                      class="delete-button">Xóa</span>
                    <span class="time">{{item?.time }}</span>
                  </div>

                </div>
              </div>

              <div class="child" *ngFor="let child of item.listCommentChildrend" fxLayout="row" fxLayoutAlign="end start">
                <img class="avatar--custom" src="{{child.userAvartar}}" fxFlex=15>
                <!-- <div class="comment-children" fxLayout="row" fxLayoutGap=15px fxFlex=100>
                  <div fxLayout="column" fxLayoutGap="5px" fxFlex=85>
                    <div class="comment-content">
                      <div class="header-comment" fxLayout=row fxLayoutAlign="space-between start">
                        <span class="name">{{child.userName}} (đáp)</span>
                      </div>
                      <span class="content-comment">
                        {{child.messageContent}}
                      </span>
                    </div>
                    <span class="time" fxLayoutAlign="end center">{{child?.time }}</span>
                  </div>
                </div> -->

                <div fxLayout="column" fxLayoutGap="5px" fxFlex=60>
                  <div class="comment-content">
                    <div class="header-comment" fxLayout=row fxLayoutAlign="space-between start">
                      <span class="name">{{child.userName}} (đáp)</span>
                    </div>
                    <span class="content-comment" *ngIf="isEdit==false || item.commentTeacherId != select">
                      <!-- <span class="text-bold">Hỏi:</span> -->
                      {{child.messageContent}}
                    </span>
                  </div>
                  <div fxLayout="row" fxLayoutGap=10px class="action-box">
                    <span class="time">{{child?.time }}</span>
                  </div>
                </div>
              </div>
            </div>

            <span  *ngIf="commentTeacherVM?.length > 3" class="see-more" (click)="seeMoreParent()" [fxHide]="isHide==true">Xem thêm</span>

            <div *ngIf="commentTeacherVM?.length == 0" class="no-reference-data-display">
              <div class="mat-cell background-no-content">
                <div class="background-no-content-img">
  
                </div>
                <div class="background-no-content-info">
                  <p class="primary">Hiện chưa có phản hồi</p>
                  <span class="sencondary">Vui lòng nhập phản hồi bên dưới</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="input-content">
    <div class="input-box">
      <input type="text" class="input" placeholder="Nhập câu hỏi..." [(ngModel)]="question"
        (keydown.enter)="sendQuestion()">
      <button mat-icon-button class="send-button" (click)="sendQuestion()">
        <mat-icon class="send-button__icon">send</mat-icon>
      </button>
    </div>
  </div>
</div>
