<div class="apply-css-alpha">
    <div mat-dialog-title>THÊM ĐỀ THI TỪ NGÂN HÀNG CÂU HỎI</div>
    <app-filter-question class="filter-question" [getQuestionsToTest]="true"></app-filter-question>
    <div class="dialog-content-wrapper">
        <app-list-question [getQuestionsToTest]="true" [disableQuestionIds]="selectedQuestionIds"></app-list-question>
    </div>
    <mat-dialog-actions>
        <button  mat-raised-button class="button-cancel" (click)="cancel()">Hủy</button>
        <button mat-raised-button color="primary"  (click)="saveData()">Thêm vào đề</button>
    </mat-dialog-actions>
</div>