.dialog-content-wrapper {
  height: 50vh;
  overflow: auto;
}

.title-center {
  text-align: center;
  font-weight: bold;
}

:host ::ng-deep .filter-question .mat-card-content {
  padding: 0 !important;
}

@media screen and (max-width: 1366px) {
  ::ng-deep .mat-dialog-container {
    height: calc(100vh - 30px);
    overflow-y: scroll !important;
  }
}
