<div class="carousel-function" fxLayout="column" fxLayoutAlign="space-around center">
  <div fxLayout="column" fxLayoutAlign="center center" class="title-box">
    <span class="title-header">
      tìm kiếm các bài giảng
    </span>
    <span class="text-intro">Hệ thống học tập trực tuyến với hàng ngàn
      bài
      giảng và tài liệu dành riêng cho
      bạn</span>
  </div>

  <div class="search-box" fxLayout=row fxLayout.sm="column" fxLayoutAlign="center center" fxLayoutAlign.sm="start start"
    fxLayoutGap.sm="15px" (keydown.enter)="searchLesson()">
    <input type="text" placeholder="Tìm kiếm các bài giảng..." [(ngModel)]="lessonName" class="input-search">
    <button class="search-button" fxLayoutAlign="center center" (click)="searchLesson()" (click)="onScrollClick(lesson)">
      <mat-icon>search</mat-icon>
      <span fxHide.xs>Tìm kiếm</span>
    </button>
  </div>
  <span #target class="goto-grade" id='mat-drawer-content' style="color: rgba(0, 0, 0, 0);">abc</span>
</div>

<div class="list-grades">
  <ng-container *ngIf="width > 768; else elseT">
    <div class="container">
      <ng-container *ngIf="listGradesDashboard?.length<=4; else elsegrade">
        <div class="list-grades-a-row" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
          <div *ngFor="let grade of listGradesDashboard">
            <button class="row-grade" mat-button [ngClass]="{'gradeActived': (grade.id == gradeId)}">
              {{grade.name}}
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #elsegrade>
        <div class="list-grade-a-row" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
          <div *ngFor="let grade of listGradesDashboard">
            <button class="row-grade" mat-button [ngClass]="{'gradeActived': (grade.id == gradeId)}"
              (click)="gradeNavigateTo(grade.id)">
              {{grade.name}}
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </ng-container>
  <ng-template #elseT>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
      <form fxFlex="90" class="grade-header">
        <mat-form-field class="grade-header-select">
          <mat-select (selectionChange)="gradeNavigateTo($event.value)" [value]="selected">
            <mat-option value="">Chọn khối</mat-option>
            <mat-option *ngFor="let grade of listGradesDashboard" [value]="grade.id" 
              (click)="onScrollClick(target)">
              {{grade.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </ng-template>
</div>

<div #lesson class="breadcrumb">
  <div class="container">
    <div class="brmobile" style="height: 40px;">
      <button mat-button [routerLink]="['/index']" style="padding: 0px;">
        Trang chủ
        <span class="material-icons">
          chevron_right
        </span>
      </button>
      <button mat-button (click)="backCurriculum()" style="padding: 0px;">
        Chương trình
        <span class="material-icons">
          chevron_right
        </span>
      </button>
      <span *ngIf="subjectName" mat-button class="text-color">
        {{subjectName}}
      </span>
    </div>
  </div>
</div>

<div class="body-curriculumn">
  <div class="subjects">
    <div class="container">
      <div class="label-subject" fxLayoutAlign="center center">
        <label style="font-weight: bold; font-size: 26px;" *ngIf="listSubjectsDashboard.length > 0">MÔN HỌC</label>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center" class="list-subjects">
        <a *ngFor="let subject of listSubjectsDashboard" fxFlex="15.4" fxFlex.sm="24" fxFlex.xs="50"
          class="list-subjects-mobile" (mouseover)="mouseEnter(subject)" (mouseout)="mouseOut(subject)"
          (click)="onScrollClick(subjects)">
          <mat-card fxFlex="100" fxLayoutAlign="center center" class="mat-card-subject"
            [ngClass]="{'subjectActived': (subject.isActived || subject.id == subjectId)}"
            (click)="onSubjectClick(subject)"
            style="box-shadow:0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important">
            <mat-card-content fxLayout="column" fxLayoutAlign="center center" style="height: 111px; text-align: center;"
              class="mat-card-content-mobile">
              <mat-icon [svgIcon]="subject.icon" style="height: 30px; width: 30px;" class="mat-icon-mobile"
                [ngClass]="{'selected':(subject.isActived || subject.id == subjectId)}">
              </mat-icon>
              <!-- <img mat-card-image src="{{subject.icon}}" > -->
              <p class="subject-name">{{subject.name}}</p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
    <span #subjects style="color: rgba(0, 0, 0, 0);">abc</span>
  </div>

  <div class="currculum-container">
    <div class="currculum" *ngIf="currculum?.length > 0">
      <form fxFlex="100" class="currculum-select-box">
        <mat-form-field class="currculum-select" [floatLabel]="'never'">
          <mat-select [value]="selectedcurriculum" (selectionChange)="curriculumChange($event.value)">
            <mat-option *ngFor="let currculum of currculum" [value]="currculum.curriculumId">
              {{currculum.curriculumName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div *ngIf="listCurriculum.length >0">
      <mat-accordion *ngFor="let chapter of listCurriculum">
        <mat-expansion-panel hideToggle style="margin-bottom: 25px;" class="mat-expansion-panel-mobile"
          [expanded]="true">
          <mat-expansion-panel-header class="curriculum-header">
            <mat-panel-title style="font-weight: bold;">
              <span class="material-icons open" style="color: #4caf50;">
                arrow_drop_down
              </span>
              <span class="material-icons close" style="color: #4caf50;">
                arrow_right
              </span>
              {{chapter.curriculumName}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let unit of chapter.lessons" style="cursor: pointer;">
            <a (click)="showListLesson(chapter.curriculumId, unit.lessonId)" class="a-unit">
              <p style="margin-left:33px; position: relative;">
                <span class="material-icons"
                  style="color: #4caf50; font-size:7px; position: absolute; top: 7px; left: -10px;">
                  fiber_manual_record
                </span>{{unit.lessonName}}
              </p>
            </a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div *ngIf="listCurriculum.length == 0">
    <div class="container">
      <mat-card fxFlex=100 fxLayout="column" fxLayoutAlign="center center" class="content-not-found">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <img src="../../../../../assets/images/lesson/lessonNotFound.png" class="image-not-found" alt="">
          <div class="suggest" fxLayoutAlign.xs="center center">
            <span class="message">Hiện tại, môn học này chưa cập nhật khung chương trình!</span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div style="height: 50px;">
    <button mat-raised-button color="primary" style="float: right;" class="hidden-curriculum" (click)="gotoTop()">
      <span class="material-icons">
        expand_less
      </span>
    </button>
  </div>
</div>

