.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0;
  background-color: transparent;
}

.carousel-function {
  width: 100%;
  height: 407px;
  //background-color: #f4f4f4;
  background-image: url('../../../../../../assets/images/banner/bannertiengiang.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.title-box {
  //margin-bottom: -75px;
  margin: 45px 0 43px 0;
}

.title-header {
  text-transform: capitalize;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  /* identical to box height, or 167% */
  text-align: center;
  color: #555555;
}

.text-intro {
  //width: 70%;
  word-wrap: break-word;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 130% */
  color: #555555;
  text-align: center;
}

.search-box {
  margin-bottom: 90px;
}

.search-button {
  width: 142px;
  height: 45px;
  background: #4CAF50;
  border-radius: 0px 6px 6px 0px;
  color: white;
  border: none;
  cursor: pointer;
}

.input-search {
  background: #FFFFFF;
  padding: 10px 10px 10px 15px;
  border: none;

  width: 315px;
  height: 45px;
  border-radius: 6px;
}

.body-curriculumn {
  //background-color: #f7f7f7;
  background-image: url('../../../../../../assets/images/background/background-curriculum.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.curriculum-header {
  padding: 25px 12px 25px 25px;
}

.currculum {
  margin-bottom: 20px;
}

.currculum-select-box {
  flex: none !important;
  width: 100%;
  height: 44px;

  &::ng-deep .mat-form-field-infix {
    margin-top: -8px !important;
  }

  &::ng-deep .mat-select-arrow {
    margin-top: 0px !important;
    margin-right: 15px;
    color: white
  }
}

.currculum-select {
  height: 44px;
  width: 100%;
  text-align: center;
  background: #4caf50;
  border-radius: 6px;
  padding-left: 15px;
  color: white;
  cursor: pointer;
}

.text-color {
  color: #4caf50;
  font-size: 14px;
  padding: 0px;
  font-weight: 600;
}

.breadcrumb {
  background-color: #ffffff;
}

:host::ng-deep .grade-header {
  flex: none !important;
  width: 100%;
  height: 30px;

  &::ng-deep .mat-form-field-infix {
    margin-top: -15px !important;
  }

  &::ng-deep .mat-select-arrow {
    margin-top: 0px !important;
    margin-right: 12px;
  }
}

.grade-header-select {
  height: 30px;
  width: 100%;
  text-align: start;
  background: #FFFFFF;
  border-radius: 3px;
  padding-left: 10px;
}

.input {
  position: relative;
}

.input-search-header {
  width: 100%;
  height: 30px;
  background: #FFFFFF;
  border-radius: 3px;
  padding: 10px;
}

.icon-search {
  position: absolute;
  top: 0;
  right: 10px;
  color: #888888;
}


:host::ng-deep .mat-card {
  //border: 55px !important;
  border-radius: 12px !important;
  border: #000 !important;
}

.list-grades {
  background-color: #4caf50;
  height: 48px;

  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: white;
    width: 0;
  }

  ::-webkit-scrollbar {
    display: none;
    width: 0px !important;
    background-color: white !important;
  }

  ::-webkit-scrollbar-track {
    background-color: white !important;
    border-radius: 0;
  }
}

.mat-card-content-mobile {
  padding: 10px !important;
}

.row-grade {
  padding-top: 6px;
  height: 48px;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
}

.row-grade:hover {
  background-color: #438145;
  border-radius: 0;
}

.label-subject {
  height: 90px;
}

.label-curriculum {

  margin-top: 22px;
  margin-bottom: 23px;
}

:host::ng-deep .mat-expansion-panel {
  /* change what you want */
  border-radius: 12px !important;
}

.mat-expansion-panel-mobile {
  border-radius: 6px !important;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important;
}

.mat-expanded .mat-expansion-panel-header-title .material-icons {
  transform: rotate(0deg);
}

.mat-expansion-panel-header-title .open,
.mat-expanded .mat-expansion-panel-header-title .close {
  display: inline-block;
}

.mat-expanded .mat-expansion-panel-header-title .open,
.mat-expansion-panel-header-title .close {
  display: none;
}

.subjectActived {
  background-color: #4caf50;
  color: #ffffff;
}

.mat-card-subject:hover {
  background-color: #4caf50;
  color: #ffffff;
}

.mat-card-subject {
  cursor: pointer;
  border-radius: 6px !important;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important
}

.a-unit:link {
  color: #000000;
}

.a-unit:hover {
  color: #4caf50;
}

.a-unit:visited {
  color: #000000;
}

// //curriculum
.curriculum-title {
  font-weight: bold;
  font-size: 26px;
}

.lesson-icon {
  color: #4caf50;
  font-size: 7px;
  position: absolute;
  top: 7px;
  left: -10px;
}


.list-grades-row {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}

.subject-name {
  font-size: 14px !important;
  text-transform: capitalize;
}

.currculum-container {
  margin: 0 auto;
  max-width: 1170px;
}


@media (max-width: 1024px) {
  .container {
    margin: 0px 20px;
  }
}

@media (min-width: 1023px) {
  .list-grades-search-mobile {
    display: none !important;
  }
}

@media (min-width: 414px) and (max-width: 1022px) {
  .list-grades-search-mobile {
    display: none !important;
  }
}

@media (max-width: 525px) {
  .carousel-function {
    background-image: url('../../../../../../assets/images/background/background-header-mobile.jpg');
    height: 313px;
  }

  .title-header {
    text-transform: capitalize;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 60px;
    /* identical to box height, or 167% */
    text-align: center;
    color: #555555;
  }

  .text-intro {
    width: 100%;
    word-wrap: break-word;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 130% */
    color: #555555;
    text-align: center;
  }


  .search-button {
    width: 54px;
    height: 45px;
    background: #4CAF50;
    border-radius: 0px 6px 6px 0px;
    color: white;
    border: none;
    cursor: pointer;
  }

  .input-search {
    background: #FFFFFF;
    padding: 10px 10px 10px 15px;
    border: none;

    width: 315px;
    height: 45px;
    border-radius: 6px;
  }

  //
  .message {
    font-size: 13px;
    line-height: 22px;
    color: #a1a1a1;
    font-weight: 400;
    text-align: center;
  }

  .container {
    margin: 0px 15px;
  }

  .content-not-found {
    min-height: 50vh;
    margin: 20px 0 !important;
    box-shadow: none;
  }

  .suggest {
    margin-top: 20px;
    padding: 0 20px;
  }

  .horizontal-header-info-fullname {
    display: none;
  }

  .currculum {
    margin-bottom:20px;
  }

  .currculum-container {
    margin: 0px;
    // background-color: unset;
  }

  .subjects {
    margin-bottom: 28px;
  }

  .list-subjects {
    margin: -5px;
  }

  .list-subjects-mobile {
    min-width: 33% !important;
    height: 120px;
  }

  .mat-card-content-mobile {
    max-height: 66px !important;
    padding: 0px !important;
  }

  .mat-icon-mobile {
    height: 20px !important;
    width: 20px !important;
    margin-bottom: -10px !important;
  }

  .subject-name {
    font-size: 14px !important;
    text-transform: capitalize;
  }

  .mat-expansion-panel-mobile {
    border-radius: 0 !important;
    margin-bottom: 0px !important;
    // margin-left: -15px !important;
    // margin-right: -15px !important;
  }

  .mat-card-subject {
    margin: 8px !important;
  }

  .list-grades-row {
    display: none !important;
  }

  :host::ng-deep .mat-form-field-flex {
    height: 30px !important;
    //@at-root: #ffffff !important;
    border-radius: 6px !important;
  }

  :host::ng-deep .mat-form-field-infix {
    margin-top: -25px !important;
  }

  :host::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
  }

  :host::ng-deep .mat-select-arrow {
    margin-top: 13px !important;
  }

  button.hidden-curriculum {
    line-height: 30px !important;
    min-width: 30px !important;
    margin-top: 15px !important;
  }
}

button.hidden-curriculum {
  font-size: 10px;
  line-height: 40px;
  border-radius: 2px;
  min-width: 40px;
  padding: 0px;
  margin-right: 10px;
}

:host::ng-deep .mat-expansion-panel-header.mat-focus-indicator.mat-expansion-toggle-indicator-after.ng-star-inserted.mat-expanded {
  height: 24px;
  margin-left: -12px;
  margin-bottom: -12px;
}

:host::ng-deep .mat-expansion-panel-body {
  padding-bottom: 0px !important;
  margin-left: -12px !important;
}

.gradeActived {
  background-color: #438145;
  border-radius: 0;
}


:host::ng-deep .mat-select-value-text {
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.subject-mobile-box {
  background-color: #F4F4F4;
}

.mat-form-field-grade {
  background-color: #F4F4F4;
  text-align: start;

  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

:host::ng-deep .mat-form-field-underline {
  display: none;
}

:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px !important;
}

:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0.25em;
}

.message {
  font-size: 16px;
  line-height: 22px;
  color: #a1a1a1;
  font-weight: 400;
}

.suggest {
  margin-top: 20px;
}

.image-not-found {
  width: 60%;
}

.content-not-found {
  min-height: 60vh;

  margin: 20px 0 !important;
  box-shadow: none !important;
}

@media only screen and (min-width: 1441px) {
  .carousel-function {
    width: 100%;
    height: 540px;
    background-image: url('../../../../../../assets/images/banner/bannertiengiang.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}



:host ::ng-deep {
  .icon-svg {
    svg {
      path {
        fill: #7E8485 !important;
      }
    }
  }

  mat-icon {
    color: #7E8485 !important;
  }

  .selected {
    svg {
      path {
        fill: white !important;
      }
    }

    mat-icon {
      color: white !important;
    }
  }
}

@media only screen and (max-width: 525px) {
  :host ::ng-deep .mat-select-value-text {
    margin-left: 10px !important;
    font-size: 14px !important;
    font-weight: unset !important;
  }

  .currculum-container {
    background-color: unset;
    margin: 0 15px;
  }

  .breadcrumb .container .brmobile{
    height:auto !important
  }

  .input-search {
    background: #FFFFFF;
    padding: 10px 10px 10px 15px;
    border: none;
    // width: 315px;
    // height: 45px;
    border-radius: 3px 0px 0px 3px;
    font-family: 'Open Sans', sans-serif;
    height: 40px;
    width: 100%;
  }

  .search-button {
    // width: 54px;
    height: 40px;
    background: #4CAF50;
    border-radius: 0px 3px 3px 0px;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;

    .mat-icon {
      color: #FFFFFF;
    }
  }

  .search-box {
    width: 90%;
    position: relative;
  }

  .goto-grade{
    position: absolute;
    margin-top: 168px;
  }
}

@media only screen and (max-width: 768px) {
  :host ::ng-deep .mat-select-value-text {
    color: #555555;
  }
}
