<div class="error-snackbar" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutGap="18px">
    <mat-icon svgIcon="error-snackbar"></mat-icon>
    <span fxLayoutAlign="start center">{{data}}</span>
  </div>
  <mat-icon (click)="dimiss()" fxLayoutAlign="end center" class="icon">close</mat-icon>
</div>
