<div class="apply-css-alpha">
  <mat-card>
    <mat-card-content>
      <form #createGrade="ngForm" fxLayout="column" fxLayoutGap="10px">
        <div class="mat-dialog-title">Chuyển học sinh lên lớp</div>

        <div class="m-t-20">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field appearance="outline">
              <mat-label>Niên khóa</mat-label>
              <mat-select [formControl]="schoolYearCtrl" placeholder="Chọn niên khóa" #singleSelectSchoolYear
                disableOptionCentering>
                <mat-option value="2017">
                  2017-2018
                </mat-option>
                <mat-option value="2018">
                  2018-2019
                </mat-option>
                <mat-option value="2019">
                  2019-2020
                </mat-option>
                <mat-option value="2020">
                  2020-2021
                </mat-option>
                <mat-option value="2021">
                  2021-2022
                </mat-option>
                <mat-option value="2022">
                  2022-2023
                </mat-option>
                <mat-option value="2023">
                  2023-2024
                </mat-option>
                <mat-option value="2024">
                  2024-2025
                </mat-option>
                <mat-option value="2025">
                  2025-2026
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" class="m-t-15">
            <mat-form-field appearance="outline">
              <mat-select disabled [value]="selectedGrade">
                <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                  {{grade.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="m-t-15">
            <mat-form-field appearance="outline" (click)="onGroupStudentSelectClicked()">
              <mat-label>Chọn lớp</mat-label>
              <mat-select [disabled]="selectedGrade==0" [formControl]="groupStudentCtrl" ngDefaultControl
                placeholder="Chọn lớp" #singleSelectGroupStudent disableOptionCentering
                (selectionChange)="onChangeGroupStudentSelected($event.value)">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm lớp" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="groupStudentFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let groupstudent of filteredGroupStudents | async" [value]="groupstudent">
                  {{groupstudent.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="this.nextGroupStudent.groupStudentName!=''" fxLayout="row" fxLayoutAlign="start center"
            class="m-b-20">
            <div fxLayoutAlign="start center">
              <p class="label-inform">Hành động chuyển lớp sẽ ghi danh tất cả học sinh của
                <span class="text-green" style="font-weight: 600;">
                  {{this.currentGroupStudent.groupStudentName}} niên khóa
                  {{this.currentGroupStudent.schoolYear}}-{{this.currentGroupStudent.schoolYear*1 + 1*1}}
                </span>
                vào
                <span class="text-green" style="font-weight: 600;">{{this.nextGroupStudent.groupStudentName}} niên khóa
                  {{this.schoolYearCtrl.value}}-{{this.schoolYearCtrl.value*1 + 1 *1}}
                </span>
              </p>
            </div>
          </div>

          <mat-dialog-actions>
            <button mat-flat-button mat-dialog-close class="button-cancel">Hủy</button>
            <button mat-flat-button color="primary" mat-dialog-close (click)="submitForm()" type="submit"
              color="primary">Lưu</button>
          </mat-dialog-actions>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
