<div class="apply-css-alpha">
  <div *ngIf="organizeExamDetail.status=='EDI'; else elseBlock">
    <mat-card class="manage-card" *ngIf="organizeExamDetail">
      <mat-card-content>
        <h3 class="title"> Thông tin tổ chức thi</h3>
        <div fxLayout="row" class="organize-exam-info">
          <div fxFlex="50">
            <p fxLayoutAlign="start center">
              <span fxFlex="40">Môn thi: </span>
              <span fxFlex="60"><b> {{organizeExamDetail.subjectName}} </b></span>
            </p>
            <p fxLayoutAlign="start center">
              <span fxFlex="40"> Tổng số học sinh của kỳ thi: </span>
              <span fxFlex="60"><b> {{organizeExamDetail.totalStudent}}</b></span>
            </p>
            <p fxLayoutAlign="start center">
              <span fxFlex="40">Thời gian làm bài (Phút): </span>
              <span fxFlex="60"><b> {{organizeExamDetail.testTime}}</b></span>
            </p>
          </div>
          <div fxFlex="50">

            <p fxLayoutAlign="start center">
              <span fxFlex="40">
                Thời gian bắt đầu ca thi:
              </span>
              <span fxFlex="60">
                <mat-form-field appearance="outline">
                  <input matInput [ngxMatDatetimePicker]="picker" [min]="organizeExamDetail.startDate"
                    [max]="organizeExamDetail.endDate" [(ngModel)]="startDate" (dateChange)="setUpdateRequest()">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
                </mat-form-field>
              </span>
            </p>
            <p fxLayoutAlign="start center">
              <span fxFlex="40">
                Số lượng học sinh / ca:(*)
              </span>
              <span fxFlex="60">
                <mat-form-field appearance="outline" class="input-number">
                  <input matInput type="number" min="1" [(ngModel)]="maxStudents" required>
                </mat-form-field>
              </span>
            </p>

            <p fxLayoutAlign="start center">
              <span fxFlex="40">Thời gian nghỉ giữa ca (Phút): </span>
              <span fxFlex="60">
                <mat-form-field appearance="outline" class="input-number">
                  <input matInput type="number" min="0" [(ngModel)]="updateOrganizeExamRequest.breakTime" (keyup)="checkValidShiftDate()" (change)="checkValidShiftDate()" required>
                </mat-form-field>
              </span>
            </p>
          </div>
        </div>
        <hr class="cross-line">
        <button mat-raised-button color="primary" (click)="createShift()">Tạo ca thi</button>
      </mat-card-content>

    </mat-card>
    <mat-card class="manage-card" >
      <mat-card-content class="content">
        <mat-card-title>Thông tin ca thi: </mat-card-title>
        <app-spinner2 name="organizeFreeLoading" [fullScreen]="isFullScreen"></app-spinner2>
        <table mat-table [dataSource]="dataSource">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <ng-container matColumnDef="stt">
              <th mat-header-cell *matHeaderCellDef> STT </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="shiftName">
              <th mat-header-cell *matHeaderCellDef> Ca thi </th>
              <td mat-cell *matCellDef="let element" class="mat-main-column"> {{element.shiftName}}
              </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="realStudent">
              <th mat-header-cell *matHeaderCellDef> Số lượng thí sinh </th>
              <td mat-cell *matCellDef="let element;let i=index">
                <mat-form-field appearance="outline" class="input-number">
                  <input matInput type="number" min="0" max="{{element.maximumStudent}}" (keyup)="checkValidStudent(i)" (change)="checkValidStudent(i)"
                    [(ngModel)]="element.realStudent" required>
                </mat-form-field>
              </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="startDate">
              <th mat-header-cell *matHeaderCellDef> Thời gian bắt đầu </th>
              <td mat-cell *matCellDef="let element;let i=index">
                <mat-form-field appearance="outline">
                  <input matInput [ngxMatDatetimePicker]="picker" [min]="organizeExamDetail.startDate"
                    [max]="organizeExamDetail.endDate+86400" [(ngModel)]="element.startDate"
                    (dateInput)="changeStartDate($event,i)">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
                </mat-form-field>
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="endDate">
              <th mat-header-cell *matHeaderCellDef> Thời gian kết thúc </th>
              <td mat-cell *matCellDef="let element">
                {{element.endDate|date: 'HH:mm dd/MM/yyyy'}}
              </td>
            </ng-container>

            <ng-container matColumnDef="supervision">
              <th mat-header-cell *matHeaderCellDef> Giám thị </th>
              <td mat-cell *matCellDef="let element;let i=index">
                <button mat-icon-button (click)="openInfoSupervisorDialog(i)">
                  <mat-icon svgIcon="info-black" class="margin-0-5 small-icon"></mat-icon>
                </button>
                <button mat-icon-button (click)="openEditSupervisorDialog(i)">
                  <mat-icon svgIcon="edit-black" class="margin-0-5 small-icon"></mat-icon>
                </button>

              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="student">
              <th mat-header-cell *matHeaderCellDef> Thí sinh </th>
              <td mat-cell *matCellDef="let element;let i= index">
                <button mat-icon-button (click)="openInfoStudentDialog(i)">
                  <mat-icon svgIcon="info-black" class="margin-0-5 small-icon"></mat-icon>
                </button>

              </td>
            </ng-container>
            <ng-container matColumnDef="function">
              <th mat-header-cell *matHeaderCellDef> Xóa </th>
              <td mat-cell *matCellDef="let element;let i=index">
                <button mat-icon-button (click)="deleteShift(i)">
                  <mat-icon svgIcon="trash-black" class="small-icon"></mat-icon>
                </button>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;index as i"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td colspan="8" class="mat-cell background-no-content">
                <div class="background-no-content-img"></div>
                <div class="background-no-content-info">
                  <p>Không có dữ liệu ca thi</p>
                </div>
              </td>
            </tr>
          </div>

        </table>
        <div *ngIf="shiftExam.length !=0">
          <button mat-raised-button [ngClass]="{'mb-3': !isValidStudent || !isValidShiftDate}" color="primary"
            (click)="addShift()">
            <mat-icon>add</mat-icon> Thêm ca thi
          </button>
          <div *ngIf="!isValidStudent" class="text-danger">
            Số lượng học sinh trong ca là: {{sumRealStudents()}} khác tổng số học sinh tham gia thi
          </div>
          <div *ngIf="!isValidShiftDate" class="text-danger">
            Thời gian giữa các ca thi không chính xác vui lòng chỉnh sửa lại
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <ng-template #elseBlock>
    <mat-card class="manage-card" *ngIf="organizeExamDetail">
      <mat-card-content>
        <h3 class="title"> Thông tin tổ chức thi</h3>
        <div fxLayout="row" class="organize-exam-info">
          <div fxFlex="50">
            <p fxLayoutAlign="start center">
              <span fxFlex="40">Môn thi: </span>
              <span fxFlex="60"><b> {{organizeExamDetail.subjectName}} </b></span>
            </p>
            <p fxLayoutAlign="start center">
              <span fxFlex="40"> Tổng số học sinh của kỳ thi: </span>
              <span fxFlex="60"><b> {{organizeExamDetail.totalStudent}}</b></span>
            </p>
            <p fxLayoutAlign="start center">
              <span fxFlex="40">Thời gian làm bài (Phút): </span>
              <span fxFlex="60"><b> {{organizeExamDetail.testTime}}</b></span>
            </p>
          </div>

          <div fxFlex="50">

            <p fxLayoutAlign="start center">
              <span fxFlex="40">
                Thời gian bắt đầu ca thi:
              </span>
              <span fxFlex="60"><b>{{organizeExamDetail.startShiftDate|date :'HH:mm'}}</b>
                <span> &nbsp; {{ organizeExamDetail.startShiftDate|date :'dd/MM/yyyy'}}</span>
              </span>
            </p>
            <p fxLayoutAlign="start center">
              <span fxFlex="40">
                Số lượng học sinh / ca:
              </span>

              <span fxFlex="60"><b> {{maxStudents}}</b></span></p>
            <p fxLayoutAlign="start center">
              <span fxFlex="40">
                Thời gian nghỉ giữa ca (Phút):
              </span>

              <span fxFlex="60" class="text-primary"><b>{{organizeExamDetail.breakTime}}</b></span>
            </p>
          </div>

        </div>
      </mat-card-content>

    </mat-card>
    <mat-card class="manage-card">
      <mat-card-content class="content">
        <mat-card-title>Thông tin ca thi: </mat-card-title>
        <app-spinner2 name="organizeFreeLoading" [fullScreen]="isFullScreen"></app-spinner2>
        <table mat-table [dataSource]="dataSource">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <ng-container matColumnDef="stt">
              <th mat-header-cell *matHeaderCellDef> STT </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="shiftName">
              <th mat-header-cell *matHeaderCellDef> Ca thi </th>
              <td mat-cell *matCellDef="let element"> {{element.shiftName}}
              </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="realStudent">
              <th mat-header-cell *matHeaderCellDef> Số lượng thí sinh </th>
              <td mat-cell *matCellDef="let element">
                {{element.realStudent}}
              </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="startDate">
              <th mat-header-cell *matHeaderCellDef> Thời gian bắt đầu </th>
              <td mat-cell *matCellDef="let element">
                {{element.startDate|date: 'HH:mm dd/MM/yyyy'}}
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="endDate">
              <th mat-header-cell *matHeaderCellDef> Thời gian kết thúc </th>
              <td mat-cell *matCellDef="let element">
                {{element.endDate|date: 'HH:mm dd/MM/yyyy'}}
              </td>
            </ng-container>

            <ng-container matColumnDef="supervision">
              <th mat-header-cell *matHeaderCellDef> Giám thị </th>
              <td mat-cell *matCellDef="let element;let i=index">
                <button mat-icon-button (click)="openInfoSupervisorDialog(i)">
                  <mat-icon svgIcon="info-black" class="margin-0-5 small-icon"></mat-icon>
                </button>
                <button mat-icon-button (click)="openEditSupervisorDialog(i)">
                  <mat-icon svgIcon="edit-black" class="margin-0-5 small-icon"></mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="student">
              <th mat-header-cell *matHeaderCellDef> Thí sinh </th>
              <td mat-cell *matCellDef="let element;let i= index">
                <button mat-icon-button (click)="openInfoStudentDialog(i)">
                  <mat-icon svgIcon="info-black" class="margin-0-5 small-icon"></mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="function">
              <th mat-header-cell *matHeaderCellDef> Xóa </th>
              <td mat-cell *matCellDef="let element;let i=index">

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;index as i"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td colspan="8" class="mat-cell background-no-content">
                <div class="background-no-content-img"></div>
                <div class="background-no-content-info">
                  <p>Không có dữ liệu ca thi</p>
                </div>
              </td>
            </tr>
          </div>

        </table>
        <div *ngIf="shiftExam.length !=0">
          <div *ngIf="!isValidStudent" class="text-red">
            Số lượng học sinh trong ca là: {{sumRealStudents()}} khác tổng số học sinh tham gia thi
          </div>
          <div *ngIf="!isValidShiftDate" class="text-danger">
            Thời gian giữa các ca thi không chính xác vui lòng chỉnh sửa lại
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>

</div>
