<div class="apply-css-alpha create-school-container">
  <mat-card>
    <mat-card-content>
      <form #createSchool="ngForm" (ngSubmit)="submitForm(createSchool)">
        <div class="mat-dialog-title">THÊM TRƯỜNG</div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-20">
          <!-- <label class="lable" fxFlex="35">Tên trường(*)</label> -->
          <mat-form-field appearance="outline">
            <mat-label>Tên trường</mat-label>
            <input matInput fxFlex type="text" required name="name" [(ngModel)]="school.name" #name="ngModel"
              placeholder="Tên trường" autocomplete="off">
          </mat-form-field>
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="end center" class="m-t-10">
          <span class="help-bpx">{{this.lblname}}</span>
        </div> -->
        <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-15">
          <!-- <label class="lable" fxFlex="35">Mã trường(*)</label> -->
          <mat-form-field appearance="outline">
            <mat-label>Mã trường</mat-label>
            <input matInput fxFlex type="text" maxlength="20" [formControl]="codeSchoolFormControl" name="code" code
              required [(ngModel)]="school.code" placeholder="Mã trường" autocomplete="off">
            <mat-error *ngIf="codeSchoolFormControl.hasError('pattern')">
              Mã trường chỉ bao gồm các ký tự a-z và 0-9, .,-, _
            </mat-error>
          </mat-form-field>
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="end center" class="m-t-10">
          <span class="help-bpx">{{this.lblcode}}</span>
        </div> -->
        <div *ngIf="levelManageValue==1" fxLayoutAlign="start center" class="cls-heght m-t-15">
          <!-- <label class="lable" fxFlex="35">Phòng</label> -->
          <mat-form-field appearance="outline" (click)="onDivisionSelectClicked()">
            <mat-label>Phòng</mat-label>
            <mat-select (focus)="onFocus()" [formControl]="divisionCtrl" placeholder="Chọn phòng" #singleSelectDivision
              disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="divisionFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                {{division.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="notify">
          <div *ngIf="isShowNotifi==true" class="warn">Nếu bạn thêm trường THPT thì không chọn phòng</div>
          <div *ngIf="isShowNotifi==true" class="warn">Nếu bạn thêm thuộc trường THCS/Tiểu học thì chọn phòng</div>
        </div>

        <mat-dialog-actions>
          <button mat-flat-button mat-dialog-close class="button-cancel">Hủy</button>
          <button mat-flat-button color="primary" type="submit" color="primary"
            [disabled]="codeSchoolFormControl.invalid">Lưu</button>
        </mat-dialog-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
