.value {
  line-height: 18px;
  /* identical to box height */
  color: #555555;

  opacity: 0.98;
}

.center {
  text-align: center;
}

.end {
  text-align: end;
}

.example-loading-shade {
  align-content: center;
  align-items: center;
}

.icon {
  height: 20px;
}

// ::ng-deep .menu-functions.mat-menu-panel {
//   min-width: 60px !important;
//   width: 60px;
// }

::ng-deep .menu-functions .mat-menu-item {
  padding: 0 10px !important;
  height: 40px;
  display: flex;
  align-items: center;

  .mat-icon, .material-icons {
    margin-right: 5px;
  }
}

.mat-column-select {
  width: 52px !important;
  text-align: center;
  padding-left: 0 !important;
}

.mat-column-orderNumber {
  text-align: center;
}
