<div class="apply-css-alpha">
  <div>
    <mat-card class="manage-card">
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap.gt-md="20px grid">
          <div fxFlex class="mat-title mb-0">Danh sách lớp học</div>
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="20px grid">
            <div fxFlex="none" *ngIf="this.hasAddPermission">
              <button mat-raised-button color="primary" (click)="openDialog()">
                <mat-icon>add_circle_outline</mat-icon> Thêm lớp học
              </button>
            </div>
            <div fxFlex fxLayoutAlign.gt-md="end center">
              <button *ngIf="isShowFilter" (click)="onClickToggleShowFilter()" fxLayoutAlign="end end" mat-raised-button
                class="button-sm  button-hidden-filter">
                <span class="material-icons">visibility_off</span>
                Ẩn bộ lọc
              </button>
              <button *ngIf="!isShowFilter" (click)="onClickToggleShowFilter()" fxLayoutAlign="end end"
                mat-raised-button class="button-sm button-hidden-filter">
                <span style="width: 24px;" class="material-icons">visibility_on</span>
                Hiện bộ lọc
              </button>
            </div>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="manage-card" *ngIf="isShowFilter">
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="15px grid" fxLayoutGap.gt-md="20px grid">
          <div *ngIf="levelManageValue==1" fxFlex fxFlex.gt-md="25">
            <mat-form-field appearance="outline" (click)="onDivisionSelectClicked()">
              <mat-label>Phòng</mat-label>
              <mat-select [formControl]="divisionCtrl" placeholder="Chọn phòng" #singleSelectDivision
                disableOptionCentering (selectionChange)="onChangeDivisionSelected($event.value)">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="divisionFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                  {{division.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div *ngIf="levelManageValue<=2" fxFlex fxFlex.gt-md="25">
            <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
              <mat-label>Trường</mat-label>
              <mat-select [formControl]="schoolCtrl" placeholder="Chọn trường" #singleSelectSchool
                disableOptionCentering (selectionChange)="onChangeSchoolSelected($event.value)">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="schoolFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                  {{school.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex fxFlex.gt-md="25">
            <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
              <mat-label>Khối lớp</mat-label>
              <mat-select [formControl]="gradeCtrl" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering
                (selectionChange)="onChangeGradeSelected($event.value)">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                    [formControl]="gradeFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                  {{grade.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex fxFlex.gt-md="25">
            <mat-form-field appearance="outline">
              <mat-label>Niên khóa</mat-label>
              <mat-select [formControl]="schoolYearCtrl" placeholder="Chọn niên khóa" #singleSelectSchoolYear
                disableOptionCentering>
                <mat-option value="2017">
                  2017-2018
                </mat-option>
                <mat-option value="2018">
                  2018-2019
                </mat-option>
                <mat-option value="2019">
                  2019-2020
                </mat-option>
                <mat-option value="2020">
                  2020-2021
                </mat-option>
                <mat-option value="2021">
                  2021-2022
                </mat-option>
                <mat-option value="2022">
                  2022-2023
                </mat-option>
                <mat-option value="2023">
                  2023-2024
                </mat-option>
                <mat-option value="2024">
                  2024-2025
                </mat-option>
                <mat-option value="2025">
                  2025-2026
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
            <button mat-raised-button color="primary" (click)="onSubmitFilter()">
              <mat-icon matSuffix>filter_list</mat-icon>
              Lọc kết quả
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <app-spinner2></app-spinner2>

      <table mat-table [dataSource]="groupstudentsPagination.items">
        <!-- Position Column -->
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef> STT </th>
          <td mat-cell *matCellDef="let element; let i=index"> {{element.stt}} {{i + 1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="groupStudentName">
          <th mat-header-cell *matHeaderCellDef> Tên lớp </th>
          <td mat-cell *matCellDef="let element" class="mat-main-column"> {{element.groupStudentName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="teacherName">
          <th mat-header-cell *matHeaderCellDef> Giáo viên chủ nhiệm </th>
          <td mat-cell *matCellDef="let element"> {{element.teacherName}} </td>
        </ng-container>


        <ng-container matColumnDef="schoolName">
          <th mat-header-cell *matHeaderCellDef>Trường </th>
          <td mat-cell *matCellDef="let element"> {{element.schoolName}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="gradeName">
          <th mat-header-cell *matHeaderCellDef> Khối lớp </th>
          <td mat-cell *matCellDef="let element"> {{element.gradeName}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="orderNumber">
          <th mat-header-cell *matHeaderCellDef> Vị trí sắp xếp </th>
          <td mat-cell *matCellDef="let element"> {{element.orderNumber}} </td>
        </ng-container>

        <!-- fuction Column -->
        <ng-container matColumnDef="function">
          <th class="title end" mat-header-cell *matHeaderCellDef> Chức năng </th>
          <td class="end" mat-cell *matCellDef="let row">
            <mat-icon *ngIf="this.hasAssignPermission" [routerLink]="['/dashboard/manage-groupstudents/list-students']"
              [queryParams]="{ id: row.groupStudentId, schoolYear: schoolYearCtrl.value, schoolId : row.schoolId, divisionId: row.divisionId, gradeId: row.gradeId}"
              matTooltipPosition="below" matTooltip="Danh sách học sinh" svgIcon="release-sermons"></mat-icon>

            <mat-icon *ngIf="this.hasEditPermission" mat-icon-button matTooltipPosition="below" matTooltip="Chỉnh sửa"
              (click)="UpdateGroupStudent(row)" class="icon" svgIcon="edit-black"></mat-icon>

            <mat-icon *ngIf="this.hasAssignPermission || this.hasDeletePermission" [matMenuTriggerFor]="menu">more_vert
            </mat-icon>
            <mat-menu #menu="matMenu" class="menu-functions">
              <button mat-menu-item *ngIf="this.hasAssignPermission" matTooltipPosition="left"
                matTooltip="Phân công chủ nhiệm" (click)="openDialogAssignTeacher(row)">
                <span style="color: #7e8485;" class="material-icons">
                  admin_panel_settings
                </span>
                Phân công chủ nhiệm
              </button>

              <button mat-menu-item *ngIf="this.hasAssignPermission" matTooltipPosition="left"
                matTooltip="Chuyển lên lớp" (click)="transferStudent(row.schoolId,row.groupStudentId, row.gradeId)">
                <span style="color: #7e8485;" class="material-icons">
                  keyboard_capslock
                </span>
                Chuyển lên lớp
              </button>

              <button mat-menu-item *ngIf="this.hasDeletePermission" matTooltipPosition="left" matTooltip="Xóa"
                (click)="DeleteGroupStudent(row)">
                <mat-icon svgIcon="trash-black" class="icon"></mat-icon>
                Xóa
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell background-no-content text-center" colspan="8">
            <div class="background-no-content-img"></div>
            Không tìm thấy lớp
          </td>
        </tr>
      </table>
      <mat-paginator [length]="groupstudentsPagination.totalItems" [pageSizeOptions]="[10, 20, 50, 100]">
      </mat-paginator>
      <!-- <br />
        <div class="filter_bottom_action">
            <button mat-raised-button class="bg-danger btn-remove-selected">
                <span class="material-icons">delete</span>
                Xóa đã chọn
            </button>
        </div> -->
    </mat-card>
  </div>
</div>