<div id="content-video" [ngClass]="{'full':isFullScreen }">
  <div class="content-playeryt">
    <div id="player-youtube"></div>
    <div id="poster" (mousemove)="mousemove($event)">
      <mat-icon *ngIf="!isShowReplay" (click)="onPlayVideo(isPlay)" class="icon">play_arrow</mat-icon>
      <mat-icon *ngIf="isShowReplay" class="icon-replay" (click)="replayVideo()">replay</mat-icon>
    </div>
  </div>
  <div class="slider"
    [ngClass]="{'disabled': !linkVideo || isLoadVideo, 'dark': mode.light, 'bottom':isFullScreen,'hideProgress':isFullScreen && !isOnBottom, 'show':isFullScreen && isOnBottom}">
    <div class="progress">
      <div class="slider-bar">
        <mat-slider id="seekslider-yt" (change)="onChangeSlidePlayer($event)" (input)="onSlidePlayer($event)"
          [(ngModel)]="progress.value" color="primary" class="item_progress" [min]="progress.min" [max]="progress.max">
        </mat-slider>
        <span id="hover_span_yt" [hidden]="!progress.valueHoverSlider">{{progress.valueHoverSlider}}</span>
        <!-- <div *ngIf="limitRange.timeLimit && linkVideo && progress.value" class="bookmark" [ngStyle]="{'left': (limitRange.timeLimit/this.progress.max*100)+'%'}"></div> -->
        <!-- <div class="underlay" *ngIf="breakPoint.length && linkVideo && progress.value">
                    <div [ngStyle]="{'left': (item.point/this.progress.max*100)+'%'}" class="breakpoint"
                        *ngFor="let item of breakPoint">
                    </div>
                </div> -->
      </div>
      <div class="action" (mouseleave)="onHoverVolume(false)">
        <div class="left">
          <span class="block-button" (click)="onRewindVideo()">
            <mat-icon class="icon">replay_5</mat-icon>
          </span>
          <span class="block-play" *ngIf="!isShowReplay && (progress.start !== progress.end)" (click)="onPlayVideo(isPlay)">
            <div [ngClass]="{'paused': !isPlay}" class="block"></div>
          </span>
          <span *ngIf="isShowReplay || (progress.start === progress.end)" class="block-play" (click)="replayVideo()">
            <mat-icon class="icon icon-replay">replay</mat-icon>
          </span>
          <span [ngClass]="{'disabled': isShowReplay}" class="block-button block_last" (click)="onForwardVideo()">
            <mat-icon class="icon">forward_5</mat-icon>
          </span>
          <span class="text_progress">{{ progress.start || '0:00' }}</span>/
          <span class="text_progress">{{ progress.end || '0:00' }}</span>
          <mat-icon class="icon mute" (mouseenter)="onHoverVolume(true)" (click)="onMuteVideo(volume.isMute)">
            {{volume.isMute ? (volume.value > 50 ? 'volume_up': 'volume_down') : 'volume_off'}}
          </mat-icon>
          <div class="volume" *ngIf="volume.show">
            <mat-slider (input)="onSlideVolume($event)" [(ngModel)]="volume.value" color="primary" class="item_volume"
              [min]="0" [max]="100">
            </mat-slider>
          </div>
        </div>
        <div class="center">
          <button mat-raised-button color="" (click)="onBackContent()" [disabled]="disableBack">
            <mat-icon>chevron_left</mat-icon>
            Trở lại
          </button>
          <button mat-raised-button color="primary" (click)="onNextContent()" [disabled]="disableNext">
            Qua bài
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
        <div class="right" *ngIf="toogleMobile">
          <mat-icon class="icon disabled-dark" (click)="onChooseBackground()">image</mat-icon>
          <div class="settings">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Setting video">
              <mat-icon>settings</mat-icon>
            </button>
            <mat-menu class="setting-menu" #menu="matMenu" yPosition="above" xPosition="before">
              <button mat-menu-item [matMenuTriggerFor]="quality" aria-label="Chất lượng">
                <span>Chất lượng</span>
                <mat-icon>chevron_right</mat-icon>
              </button>
              <button mat-menu-item [matMenuTriggerFor]="sp" aria-label="Tốc độ phát">
                <span>Tốc độ phát</span>
                <mat-icon>chevron_right</mat-icon>
              </button>
              <button mat-menu-item [matMenuTriggerFor]="rate" aria-label="Tốc độ tua">
                <span>Tốc độ tua</span>
                <mat-icon>chevron_right</mat-icon>
              </button>
            </mat-menu>
            <mat-menu [hasBackdrop]="false" class="setting-menu" #quality="matMenu" yPosition="above" xPosition="after">
              <button mat-menu-item *ngFor="let quality of adjustVideo.playbackRate"
                (click)="onQuanlity(quality.ratio, quality)">
                <span>{{quality.name}}</span>
                <mat-icon *ngIf="quality.active">done</mat-icon>
              </button>
            </mat-menu>
            <mat-menu [hasBackdrop]="false" class="setting-menu" #sp="matMenu" yPosition="above" xPosition="after">
              <button mat-menu-item *ngFor="let speed of adjustVideo.speed" (click)="onSpeedVideo(speed.ratio, speed)">
                <span>{{speed.name}}</span>
                <mat-icon *ngIf="speed.active">done</mat-icon>
              </button>
              <mat-slider (input)="onSlideSpeedVideo($event)" color="primary" class="item_volume" [min]="0" [max]="100">
              </mat-slider>
            </mat-menu>
            <mat-menu [hasBackdrop]="false" class="setting-menu" #rate="matMenu" yPosition="above" xPosition="after">
              <button mat-menu-item *ngFor="let rate of adjustVideo.playback"
                (click)="onPlaybackRate(rate.ratio, rate)">
                <span>{{rate.ratio}}</span>
                <mat-icon *ngIf="rate.active">done</mat-icon>
              </button>
              <!-- <mat-slider (input)="onSlideRateVideo($event)" color="primary" class="item_volume" [min]="0" [max]="100"> </mat-slider> -->
            </mat-menu>
          </div>
          <mat-icon [ngClass]="{'dark-icon': mode.light}" class="icon" *ngIf="mode.show" (click)="onSwitchMode()">
            {{ !mode.light ? 'wb_sunny' : 'nightlight' }}
          </mat-icon>
          <mat-icon class="icon" (click)="onFullscreen()">
            {{isFullScreen?'fullscreen_exit':'fullscreen'}}
          </mat-icon>
        </div>
        <mat-icon *ngIf="widthScreen <= 525" class="icon disabled-dark" (click)="toogleMenuMobile()">more_vert</mat-icon>
      </div>
    </div>
  </div>
  <app-spinner2></app-spinner2>
</div>