.slider {
  position: absolute;
  background: #fff;
  width: 100%;
  left: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  .mat-icon {
    color: #555555;
  }

  &.dark {
    background: #161616;

    .mat-icon {
      color: #ffffff;
    }

    .left {

      .block-button,
      .block-play {
        background: #2c2c2c !important;
      }

      .text_progress {
        color: #ffffff;
      }
    }

    .center button:first-child {
      padding-left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }

    .right .disabled-dark {
      // pointer-events: none;
      display: none;
    }
  }

  &.disabled {
    pointer-events: none;
  }

  .progress {
    height: 100%;
    padding: 10px 20px;

    .action {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      margin-top: 6px;

      .left,
      .center,
      .right {
        display: flex;
        align-items: center;
      }

      .left {
        .block-button {
          background: #eeeeee;
          border-radius: 4px;
          padding: 5px;

          &.disabled {
            pointer-events: none;
          }
        }

        .block-play {
          background: #eeeeee;
          border-radius: 4px;
          margin: 0 10px;
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          .icon-replay {
            color: #43a047;
            font-size: 30px;
            width: 30px;
            height: 30px;
          }

          .block {
            box-sizing: border-box;
            height: 24px;
            border-style: solid;
            border-width: 11px 0px 13px 17px;
            border-color: transparent transparent transparent #4caf50;
            will-change: border-width;

            &:hover {
              opacity: 0.9;
            }

            &.paused {
              transition: all 0.1s ease;
              border-style: double;
              border-width: 0px 0 0px 20px;
            }
          }
        }
      }

      .center {
        position: absolute;
        left: 50%;
        transform: translate(-50%);

        button {
          width: 105px;
          box-shadow: none;
          background: #43a047;

          .mat-icon {
            color: #ffffff;
          }

          &:disabled {
            background-color: #dddddd;
            color: #ffffff;

            .mat-icon {
              color: #ffffff;
            }
          }
        }
      }

      .center button:first-child {
        margin-right: 15px;
        color: #ffffff;
      }

      // .center button:last-child .mat-icon {
      //   color: #ffffff !important;
      // }

      .right {

        .icon:not(:last-child),
        .settings {
          margin-right: 15px;
        }
      }
    }

    .item_progress {
      width: 100%;
      padding: 0;
      height: 20px;

      &.hideChild {
        ::ng-deep .mat-slider-thumb {
          pointer-events: none !important;
        }
      }

      .mat-slider-horizontal .mat-slider-ticks {
        // background-color: #E9E9E9;
        background-color: red;
      }
    }

    .bookmark {
      position: absolute;
      height: 25px;
      border-left: 7px solid red;
      border-right: 7px solid red;
      bottom: 34px;
      border-bottom: 7px solid transparent;
      margin-left: -8px;
    }

    .underlay .breakpoint {
      position: absolute;
      height: 25px;
      border-left: 7px solid #43a047;
      border-right: 7px solid #43a047;
      top: 34px;
      border-bottom: 7px solid transparent;
      margin-left: -7px;
    }

    .slider-bar {
      position: relative;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      ::ng-deep .mat-slider-horizontal .mat-slider-wrapper {
        left: 0;
        right: 0;
        top: 10px;
      }

      #hover_span_yt {
        position: absolute;
        top: -30px;
        margin-left: -17.5px;
        z-index: 10;
        background: #ffffff;
        box-shadow: 0px 2px 10px rgb(0 0 0 / 20%);
        border-radius: 4px;
        font-weight: 600;
        font-size: 13px;
        color: #4caf50;
        padding: 5px;

        &.hide_time {
          visibility: hidden !important;
        }

        &::before {
          content: '';
          border-bottom: 5px solid #ffffff;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          height: 0;
          left: 50%;
          position: absolute;
          transform: rotate(180deg);
          top: 24px;
          margin-left: -5px;
        }
      }
    }

    .icon,
    .material-icons-outlined {
      cursor: pointer;
      vertical-align: middle;

      &:hover {
        opacity: 0.9;
      }
    }

    .icon.disable_mute {
      pointer-events: none;
    }

    .text_progress {
      width: 60px;
    }

    .volume {
      display: flex;
      align-items: center;
      width: 78px;

      >span {
        width: 25px;
      }

      .item_volume {
        min-width: unset;
        width: 100%;
        height: 40px;
        padding-left: 0;

        ::ng-deep .mat-slider-horizontal .mat-slider-wrapper {
          top: 50% !important;
        }
      }
    }
  }
}

.content-playeryt {
  width: 100%;
  height: 100%;
  position: relative;

  #poster {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #191919;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    display: none;
    background: url("../../../assets/images/banner/poster-yt.png") no-repeat center;
    background-size: cover;

    .mat-icon {
      color: #000000;
      cursor: pointer;
      font-size: 50px;
      width: 50px;
      height: 50px;
    }
  }

  ::ng-deep iframe {
    width: 100%;
    height: 100%;
  }
}

:host ::ng-deep .ytp-pause-overlay-controls-hidden .ytp-pause-overlay {
  display: none !important;
}

:host ::ng-deep {
  .slider-bar .mat-slider-horizontal {

    .mat-slider-wrapper,
    .mat-slider-track-wrapper,
    .mat-slider-track-fill,
    .mat-slider-ticks-container,
    .mat-slider-track-background,
    .mat-slider-ticks {
      height: 4px !important;
    }
  }

  .mat-slider-track-background,
  .mat-slider:hover .mat-slider-track-background,
  .cdk-focused .mat-slider-track-background {
    background-color: #e9e9e9 !important;
  }

  .slider-bar .mat-slider-thumb {
    display: none !important;
  }

  .slider-bar:hover .mat-slider-thumb {
    display: block !important;
  }

  .mat-icon.dark-icon {
    color: #ff7c40 !important;
  }
}

:host ::ng-deep .mat-slider-horizontal .mat-slider-wrapper {
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%);
}

#content-video {
  height: calc(100vh - 200px);
}

.full {
  display: flex !important;
}

.bottom {
  bottom: 0;

}

.hideProgress {
  opacity: 0;
}

.show {
  opacity: 1;
}

:host ::ng-deep .mat-slider-horizontal .mat-slider-track-fill {
  background-color: #43a047 !important;
}

:host ::ng-deep .mat-slider-thumb {
  background-color: #43a047 !important;
}

:host ::ng-deep .mat-slider-thumb-label {
  background-color: #43a047 !important;
}

:host ::ng-deep .mat-slider-track-fill {
  background-color: #43a047 !important;
}

:host ::ng-deep .ngx-spinner-overlay {
  margin-left: 20px;
  width: calc(100% - 40px);
  border-radius: 4px;
}

@media screen and (max-width: 525px) {
  .full {
    height: calc(100vh - 125px) !important;
  }

  .showProgress {
    height: 125px !important;
  }

  #content-video{
    height: calc(100vh - 180px);
  }

  .content-playeryt{
    height: calc(100% - 240px);
  }

  .slider .progress {
    padding: 10px;

    .action {
      .left {
        .block-button {
          padding: 2px;

          &.block_last{
            margin-right: 7px;
          }
        }

        .block-play {
          margin: 0 5px;
          height: 35px;
          width: 35px;
        }

        .mute {
          display: none;
        }
      }

      .center {
        top: 48px;

        button {
          font-size: 12px;
          line-height: 30px;
          display: flex;
          height: 30px;
          width: 95px;
        }
      }

      .right {
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
          display: none;
        }

        .icon:not(:last-child),
        .settings {
          margin-right: 10px;
          padding: 0;
          height: 24px;
          width: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

    }

    .text_progress {
      width: 35px;
      font-size: 12px;
    }
  }
}
