<div class="question_basic group-question">
    <!-- <span class="mark-question">Đánh dấu</span> -->
    <div [hidden]="isResult==true">
      <button mat-flat-button class="mark-question" [ngClass]="{'mark-question-active': isFlag}" (click)="isMark()">Đánh
        dấu
        <mat-icon [ngClass]="{'color-red': isFlag === true}">flag</mat-icon>
      </button>
    </div>
    <div [ngClass]="{'question': isResult == false || isResult == undefined}">
      <div *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock" class="question-title">
        <span>Yêu cầu chung</span>
        <span [MathJax]="dataQuestion.content">
        </span>
        <!-- <span class="order"> {{dataQuestion.order}}. </span> -->
      </div>
      <ng-template #elseBlock>
        <div class="question-title">
          <span>Yêu cầu chung:</span>
          <span [innerHTML]="dataQuestion.content | safeHtml">
          </span>
          <!-- <span class="order"> {{dataQuestion.order}}. </span> -->
        </div>
      </ng-template>
      <div class="childs">
        <div class="question m-b-20" *ngFor="let question of dataQuestion.questions; let i = index">
          <div class="title-question-label">Câu hỏi {{dataQuestion.order+'.'+question.order}} ({{question.score}} điểm)
          </div>
          <learner-lesson-underline *ngIf="question.type==type.underline" [parentId]="dataQuestion.id" [dataQuestion]="question"
            [userAnswer]="userAnswerById(question.id)" [isResult]="isResult" [isGroup]="isGroup" [isPublicAnswer]="isPublicAnswer">
          </learner-lesson-underline>
    
          <learner-lesson-true-false-clause *ngIf="question.type==type.truefaslechause" [parentId]="dataQuestion.id"
            [dataQuestion]="question" [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [isGroup]="isGroup"  [isPublicAnswer]="isPublicAnswer">
          </learner-lesson-true-false-clause>
    
          <learner-lesson-single-choice *ngIf="question.type==type.singlechoice" [parentId]="dataQuestion.id" [dataQuestion]="question"
            [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [isGroup]="isGroup"  [isPublicAnswer]="isPublicAnswer">
          </learner-lesson-single-choice>
    
          <learner-lesson-multiple-choice *ngIf="question.type==type.multichoice" [parentId]="dataQuestion.id"
            [dataQuestion]="question" [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [isGroup]="isGroup" [isPublicAnswer]="isPublicAnswer">
          </learner-lesson-multiple-choice>
    
          <learner-lesson-true-false *ngIf="question.type==type.truefasle" [parentId]="dataQuestion.id" [dataQuestion]="question"
            [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [isGroup]="isGroup" [isPublicAnswer]="isPublicAnswer">
          </learner-lesson-true-false>
    
          <learner-lesson-missing-world1 id="{{question.id}}" *ngIf="question.type==type.fillblank" [parentId]="dataQuestion.id"
            [dataQuestion]="question" [isResult]="isResult" [userAnswer]="userAnswerById(question.id)" [isGroup]="isGroup" [isPublicAnswer]="isPublicAnswer">
          </learner-lesson-missing-world1>
        </div>
      </div>
      
    </div>
  </div>
  