.content-dialog-decription_header {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin: 0 !important;
    padding: 10px;
}
.hr-underline {
    border-bottom: 2px solid #f1f1f2;
}

.content-dialog-decription_body {
    &_title {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height, or 137% */
        color: #303030;
    }

    &_content {
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #555555;
    }

    .not-content {
        text-align: center;
    }
}

:host ::ng-deep .mat-dialog-container {
    padding: 0px 24px 0px 24px !important;
}

:host ::ng-deep .mat-card {
    margin: 0;
    padding: 0;
    box-shadow: none !important;
    width: 100%;
}

:host ::ng-deep .mat-card-content {
    padding: 0;
}

.mat-dialog-detail-description {
    color: #555555;
    font-size: 14px;
    max-height: 35vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.background-no-content {
    width: auto;
    height: auto;
    text-align: center;
}

.mat-dialog-title {
    text-transform: none;
}

@media screen and (max-width: 525px) {
    .background-no-content .background-no-content-img{
        width: 70% !important;
    }
}