<!-- <h1 mat-dialog-title class="content-dialog-decription_header">Mô tả</h1>
<div class="hr-underline"></div>
<div mat-dialog-content class="content-dialog-decription_body">
    <p class="content-dialog-decription_body_title">Nội dung mô tả</p>
    <p *ngIf="data === null || data === undefined" class="content-dialog-decription_body_title_content not-content">
        không có mô tả nào
    </p>
    <p *ngIf="data !== null && data !== undefined" [innerHtml]='data' class="content-dialog-decription_body_title_content">
    </p>
</div>
<div style="text-align: center;">
    <button mat-raised-button color="warn" class="button-lg mbt_2 mt_2" (click)="onNoButtonHandleClick()">
        Đóng
    </button>
</div> -->
<div class="apply-css-alpha">
    <mat-card>
        <mat-card-content>
            <form>
                <div class="mat-dialog-title">Mô tả</div>
                <div *ngIf="data === null || data === undefined" class="background-no-content">
                    <div class="background-no-content-img"></div>
                    <p class="mat-dialog-detail-description m-b-0">Không có mô tả!</p>
                </div>
                <p *ngIf="data !== null && data !== undefined" [innerHtml]='data | safeHtml' class="mat-dialog-detail-description">
                </p>
                <mat-dialog-actions>
                    <button mat-flat-button mat-dialog-close class="button-cancel">Đóng</button>
                </mat-dialog-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>