.header-content {
  margin: 0 auto;
}

.info-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.icon {
  width: 35px;
  height: 35px;
  fill: #4CAF50;
}

.title {
  text-transform: uppercase;
  margin-top: 0.3rem;
  font-size: 14px;
  font-weight: 600;
  font-family:'Open Sans', sans-serif;
  font-style: normal;
  color: #c0c0c0;
}

.finish {
  color: #4CAF50;
}

.test{
  color: #4CAF50;
}
.test svg path{
  fill:#4CAF50 !important;
}
// animation for icon
.pulse {
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(75, 175, 80, 0.4);
  animation: pulse 1.5s infinite;
}

.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(75, 175, 80, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(75, 175, 80, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(75, 175, 80, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(75, 175, 80, 0.4);
    box-shadow: 0 0 0 0 rgba(75, 175, 80, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(75, 175, 80, 0);
    box-shadow: 0 0 0 10px rgba(75, 175, 80, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(75, 175, 80, 0);
    box-shadow: 0 0 0 0 rgba(75, 175, 80, 0);
  }
}
