<mat-card class="manage-card">
  <mat-card-content>
    <div fxFlex class="mat-title mb-0">Cấu hình khung chương trình</div>
  </mat-card-content>
</mat-card>
<mat-card fxLayout="column">

  <div style="background:#F3F8F4;" fxLayout="row" fxFlex="100" fxLayoutAlign="start center" class="filter-wrapper">
    <div fxLayout="column" fxFlex="100">
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
        <label fxFlex fxLayoutAlign="start center"
          class="label_combobox lbl-curriculum-name">{{this.rootCurriculumDetailInfo.curriculumName}}</label>
        <div>
          <button (click)="onOpenCreateCurriculumChildDialogClicked(this.rootCurriculumDetailInfo)" mat-icon-button
            title="Thêm chương học" class="icon-action">
            <mat-icon class="icon" svgIcon="add-circle-outline"></mat-icon>
          </button>
          <button (click)="onOpenEditCurriculumChildDialogClicked(this.rootCurriculumDetailInfo)" mat-icon-button
            title="Sửa tên khung chương trình" class="icon-action">
            <mat-icon class="icon" svgIcon="edit-black"></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch">
    <app-curriculum-item (onReloadCurriculumChildNodes)="this.getCurriculumChildrentNodes()" [allowedAddChild]="true"
      *ngFor="let item of childrentNodes" [node]="item">
    </app-curriculum-item>
  </div>
</mat-card>

<div fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button mat-dialog-close class="button-cancel" (click)="back()">Quay lại</button>
</div>
