.filter_bottom_action {
  display: flex;
  justify-content: space-between;
}

.mat-raised-button {
  margin: 20px 0px 20px 20px;
}

.action-button .material-icons {
  color: #fff;
}

.btn-refresh-list,
.btn-add-user,
.btn-remove-selected {
  color: #fff;
}

.btn-refresh-list {
  min-width: 40px !important;
  padding: 0px 9px;
}

.icon {
  height: 20px;
}

.btn-hide-filter {
  background: #e5e5e5;
}

.mat-header-cell {
  text-align: center;
}

.mat-cell {
  text-align: center;
}

.mat-danger {
  margin: 10px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Select box
// select box
.input_select {
  width: 100%;
  height: 30px;
}

.matFormFieldSelectBox {
  height: 31px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 0 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #555555;
  opacity: 0.98;
}

:host ::ng-deep .mat-form-field-underline {
  display: none;
}

:host ::ng-deep .mat-form-field-infix {
  border-top: none;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.mat-select-panel-wrap {
  position: relative;
  top: 26px;
}

.mat-select-panel-wrap .mat-select-panel {
  min-width: calc(100% + 12px) !important;
  transform: translateX(4px) !important;
}

:host ::ng-deep .mat-form-field-wrapper {
  width: 100% !important;
  padding-bottom: 0px !important;
}

.input_name {
  width: 980px;
  height: 31px;
  padding: 0 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.btn-filter {
  color: #fff;
}

.filter-wrapper {
  padding: 10px 20px;
}

.first-filter-wrapper {
  padding-top: 20px;
}

.btn-filter {
  margin-top: 0px;
  margin-bottom: 0px;
}

.filter-control {
  padding-top: 15px;
  padding-right: 15px;
}

.lbl-curriculum-name {
  font-size: 16px;
  font-weight: 600;
}

.curriculum-item {
  border-top: solid 1px #7e848580;
  padding: 5px 0px 5px 5px;
}

.lbl-curriculum-content {
  font-size: 16px;
}

.child-items {
  padding-left: 30px;
}

.icon-action {
  color: #7e8485;
}

.icon-action-wrapper {
  padding-right: 20px;
}
