@mixin createTextFade($maxHeight: 3.6em, $widthFadeFromRight: 20%) {
    overflow: hidden;
    position: relative;
    max-height: $maxHeight;

    &:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: $widthFadeFromRight;
        height: 1.2em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }
}

@mixin textTruncate() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}