<div class="content">
  <span class="material-icons-outlined back-button" matTooltip="Thoát" [mat-dialog-close]>
    logout
  </span>
  <div class="result-table">
    <div class="result-background">

    </div>
  </div>
  <div class="info" fxLayout="column" fxLayoutAlign="center center">

    <div fxLayout="row" fxLayoutAlign="center center" class="info-item">
      <p class="test-self-created_content_title">Trả lời câu hỏi để hoàn thành nội dung</p>
    </div>


    <div fxLayout="row" class="info-item">
      <div fxFlex="50" fxLayoutAlign="end center" class="left-label">
        <span>Thuộc nội dung:</span>
      </div>
      <div fxFlex="50" fxLayoutAlign="start center" class="right-label">
        <span class="content-name">{{testInfoStudent.name}}</span>
      </div>
    </div>
    <div fxLayout="row" class="info-item">
      <div fxFlex="50" fxLayoutAlign="end center" class="left-label">
        <span>Bài thi gồm:</span>
      </div>
      <div fxFlex="50" fxLayoutAlign="start center" class="right-label">
        <span class="total-question">{{testInfoStudent.numberOfQuestion}}</span>
        Câu
      </div>
    </div>
    <div fxLayout="row" class="info-item">
      <div fxFlex="50" fxLayoutAlign="end center" class="left-label">
        <span>Tổng điểm: </span>
      </div>
      <div fxFlex="50" fxLayoutAlign="start center" class="right-label total-score">
        <span class="result-score">{{testInfoStudent.totalScore}}</span>
        Điểm
      </div>
    </div>
    <div fxLayout="row" class="info-item">
      <div fxFlex="50" fxLayoutAlign="end center" class="left-label">
        <span>Thời gian trả lời: </span>
      </div>
      <div fxFlex="50" fxLayoutAlign="start center" class="right-label">
        <span class="text-green">{{testInfoStudent.testTime}} Phút</span>
      </div>
    </div>
  </div>
  <div class="bottom-info">
    <div *ngIf="testInfoStudent.userContentTestId && testInfoStudent.statusOver != 'PAS' && !testInfoStudent.isFinished"
      class="bottom-label">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <button mat-raised-button class="test-self-created_content_start-test" [mat-dialog-close]="'STA'">Tiếp tục trả
          lời</button>
      </div>
    </div>
    <div *ngIf="!testInfoStudent.userContentTestId" class="bottom-label">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <button mat-raised-button class="test-self-created_content_start-test" [mat-dialog-close]="'STA'">Bắt đầu trả
          lời</button>
      </div>
    </div>
  </div>
</div>
