.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px 0px;

  .back-button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    transform: rotate(180deg);
  }

  .note-label {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #EB5757;
  }

  .result-background {
    background-image: url("../../../../../assets/features/learner-lessons/images/test-avatar.png");
    background-size: cover;
    width: fit-content;
    height: 162px;
    width: 248px;
    text-align: center;

    .top-label {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #4CAF50;
    }

    .score {
      font-weight: bold;
      font-size: 33px;
      line-height: 40px;
      color: #FF7C40;
    }

    .bottom-label {
      font-size: 14px;
      line-height: 16px;
      color: #555555;
    }
  }

  .info {
    margin-top: 30px;
    width: 100%;

    .info-item {
      margin: 10px 0px;
      width: 400px;

      .content-name {
        font-weight: 600;
      }

      .left-label {
        margin-right: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        align-items: center;
        color: #555555;
      }

      .total-question {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #4CAF50;
        margin-right: 10px;
      }

      .result-score {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #FF7C40;
        margin-right: 10px;
      }

      .date {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
      }
    }
  }

  .bottom-info {
    .view-result-label {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      text-decoration-line: underline;
      color: #4CAF50;
      width: fit-content;
      margin: 0 auto;
      cursor: pointer;
    }

    .bottom-label {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      align-items: center;
      text-align: center;
      color: #FF7C40;
      margin-top: 10px;
    }
  }

  .test-self-created_content_start-test {
    width: 161px;
    height: 35px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin-top: 18px;
    background: #4CAF50;
    color: white;
  }

  .test-self-created_content_title {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    color: #4caf50;
    margin-bottom: 30px;
  }
}
