<div fxLayout="column" class="container" [ngClass]="{'isCloneQuestion': hideAction}">
  <div class="question-content">
    <div fxLayout="row" class="block-title" fxLayoutAlign="space-between">
      <div class="table_question_title">Nội dung câu hỏi</div>
      <button [ngClass]="{'isClone': hideAction}" mat-raised-button color='primary' (click)="updateQuestion(true)" *ngIf="isGroup != true"
        [disabled]="disabledUpdate">Áp dụng</button>
    </div>
    <div fxLayout=row [ngClass]="{'isClone': hideAction}" class="type-level-wrapper" *ngIf="isGroup != true">
      <div fxLayout=row fxFlex=50>
        <label fxFlex=25>Loại câu hỏi:</label>
        <mat-form-field fxLayoutAlign="start center" class="matFormFieldSelectBox combobox_selection"
          [floatLabel]="'never'">
          <mat-select disabled [formControl]="questionTypeCtrl" disableOptionCentering>
            <mat-option *ngFor="let type of typeQuestionEnum" [value]="type.id">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout=row fxFlex=50 fxLayoutAlign="end center">
        <label fxLayoutAlign="start center" fxFlex=20>Mức độ:</label>
        <mat-form-field fxLayoutAlign="start center" class="combobox_selection matFormFieldSelectBox"
          [floatLabel]="'never'">
          <mat-select [formControl]="questionLevelCtrl" disableOptionCentering>
            <mat-option *ngFor="let level of levelQuestionEnum" [value]="level.id">
              {{level.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="input-content ck-editor-cls" [attr.uploadUrl]="configUpload?.uploadUrl"
    [attr.token]="configUpload?.token">
      <ckeditor #ck [ngModel]="ckeditorContent" id='txtNoiDungCauHoi' [config]="configQuestion"
        (change)="onQuestionContentChange($event)">
      </ckeditor>
      <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
        style="display:none!important" />
      <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
      <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
    </div>
  </div>
  <div class="question_list">
    <label><b>Phương án:</b></label>
    <ng-container *ngFor="let answer of sortedTrueAnswers() ; index as i">
      <div fxLayout="row" class="answer">
        <div data-so-thu-tu fxFlex="10%" style="margin: auto;">
          <div class="stt">
            <label>
              {{i+1}}
            </label>
          </div>
        </div>
        <div fxFlex="80%" class="m-10" fxLayoutAlign="start center">
          <ckeditor #cks class="ck-phuongandung" readOnly="true" data="{{answer.content}}" [config]="configAnswer"
            style="width: 100%;">
          </ckeditor>
          <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
            style="display:none!important" />
          <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
          <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
          <div class="validateNoiDungPhuongAn"></div>
        </div>

        <div fxFlex="10%" style="margin: auto;" fxLayoutAlign="center center">

          <button mat-icon-button (click)="deleteAnswer(answer.id)" title="Xóa">
            <mat-icon svgIcon="trash"></mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngFor="let answer of fakeAnswers() ; index as i">
      <div fxLayout="row" class="answer">
        <div data-so-thu-tu fxFlex="10" style="margin: auto;">
          <div class="stt">
            <label>
              {{i+1}}
            </label>
          </div>
        </div>
        <div fxFlex="80%" class="m-10 ck-editor-cls" [attr.uploadUrl]="configUpload?.uploadUrl"
        [attr.token]="configUpload?.token">
          <ckeditor #cks class="ck-phuongan" [ngModel]="answer.content" [config]="configAnswer" style="width: 100%;"
            (change)="onAnswerContentChange($event,answer)">
          </ckeditor>
          <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
            style="display:none!important" />
          <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
          <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
        </div>
        <div fxFlex="10%" style="margin: auto;" fxLayoutAlign="center center">
          <button mat-icon-button (click)="deleteAnswer(answer.id)" title="Xóa">
            <mat-icon svgIcon="trash"></mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
    <button mat-raised-button color="primary" (click)="addFakeAnswer()" class="m-10 btn-add-fake-answer">
      <mat-icon>add</mat-icon>Thêm phương án nhiễu
    </button>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'isClone': hideAction}">
  <button mat-raised-button color='primary' (click)="updateQuestion(true)" *ngIf="isGroup != true"
    [disabled]="disabledUpdate">Áp dụng</button>
</div>