<ng-container *ngIf="isExportWordFile==false || isExportWordFile==undefined; else elseTemplate">
  <div class="question_basic">
    <div class="question">
      <mat-card>
        <div *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock"> <span
            [appMath]="dataQuestion.content"></span></div>
        <ng-template #elseBlock> <span [innerHTML]="dataQuestion.content"></span></ng-template>
        <div>
          <div fxLayout="row">
            <div fxLayout="row" fxFlex=100>
              <div fxFlex=5 fxLayout="column">
                <mat-icon *ngIf="dataQuestion.listAnswer[0].dapAnDung==1" class="check-true">check_box</mat-icon>
                <mat-icon *ngIf="dataQuestion.listAnswer[0].dapAnDung==0" class="check-true">check_box</mat-icon>
              </div>
              <div fxFlex=92 fxLayout="column">
                <span>A.Đúng</span>
                <span>B.Sai</span>
              </div>
            </div>
          </div>
        </div>
        <span fxLayout="row" fxLayoutAlign="center center">Câu đúng sai</span>
      </mat-card>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
    <div class="question">
        <div *ngIf="dataQuestion.content.indexOf(defaultMath)!=-1; else elseBlock"> <span
            [appMath]="dataQuestion.content"></span></div>
        <ng-template #elseBlock> <span [innerHTML]="dataQuestion.content"></span></ng-template>
        <div>
          <div fxLayout="row">
            <div fxLayout="row" fxFlex=100>
              <div fxFlex=92 fxLayout="column">
                <span>A .Đúng</span>
                <span>B. Sai</span>
              </div>
            </div>
          </div>
        </div>
    </div>
</ng-template>
