.container {
  background-color: #F5F8FA;
}

// .container-content__question{
//     background-color: #F5F8FA;
// }
// .container-content__infor-question{
//     max-width: 100%;
// }
// .mobile{
//     width: 100%;
//     position: fixed;
//     background-color: greenyellow;
//     display: block;
//     z-index: 1;
// }

.question {
  padding-bottom: 5rem;
}


