<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap.gt-md="20px grid">
        <div fxFlex class="mat-title mb-0">Danh sách phòng giáo dục</div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="20px grid">
          <div *ngIf="this.hasAddPermission" fxFlex="none">
            <button mat-raised-button color="primary" (click)="openDialog()">
              <mat-icon>add_circle_outline</mat-icon> Thêm phòng giáo dục
            </button>
          </div>
          <div *ngIf="this.hasAddPermission" fxFlex="none">
            <button mat-raised-button color="primary" (click)="addDivisionFromFile()">
              <mat-icon>add_circle_outline</mat-icon> Thêm từ tập tin
            </button>
          </div>
          <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
            <div fxLayout="row" fxLayoutGap="15px">
              <div fxFlex="none">
                <mat-form-field style="width:15rem;" appearance="outline">
                  <mat-label>Tìm kiếm mã và tên phòng</mat-label>
                  <input matInput type="text" #ipSearch name="search" (keyup.enter)="applyFilter()"
                    placeholder="Tìm kiếm mã và tên phòng">
                </mat-form-field>
              </div>
              <div fxFlex="none">
                <button mat-raised-button color="primary" class="mat-button-square" (click)="applyFilter()">
                  <mat-icon matSuffix>search</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
  <mat-card>
    <app-spinner2></app-spinner2>
    <div class="table-responsive">
      <table mat-table [dataSource]="divisionsPagination.items" matSort>
        <!-- Checkbox Column -->
        <!-- <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef style="width: 70px;">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container> -->

        <!-- Position Column -->
        <ng-container matColumnDef="stt">
          <th class="classgido" mat-header-cell *matHeaderCellDef> STT </th>
          <td mat-cell *matCellDef="let element; let i=index"> {{element.stt}} {{i + 1}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Phòng giáo dục </th>
          <td mat-cell *matCellDef="let element" class="mat-main-column"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> Mã PGD </th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <!-- <ng-container matColumnDef="school">
          <th mat-header-cell *matHeaderCellDef> Trường học </th>
          <td mat-cell *matCellDef="let element">
        
          </td>
        </ng-container> -->

        <!-- fuction Column -->
        <ng-container matColumnDef="function">
          <th class="end mat-column-function-3" mat-header-cell *matHeaderCellDef> Chức năng </th>
          <td class="end mat-column-function-3" mat-cell *matCellDef="let row">
            <mat-icon matTooltip="Danh sách trường học" (click)="UpdateSchool(row)" svgIcon="school-table-icon" class="icon">
            </mat-icon>
            <mat-icon *ngIf="this.hasEditPermission" mat-icon-button matTooltip="Chỉnh sửa" (click)="UpdateDivision(row)"
              svgIcon="edit-black" class="icon"></mat-icon>
            <mat-icon *ngIf="this.hasDeletePermission" mat-icon-button matTooltip="Xóa" (click)="DeleteDivision(row)"
              svgIcon="trash-black" class="icon"></mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell background-no-content text-center" colspan="4">
            <div class="background-no-content-img"></div>
            Không tìm thấy phòng đào tạo
          </td>
        </tr>
      </table>
    </div>

    <mat-paginator [length]="divisionsPagination.totalItems" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
    <!-- <br />
    <div class="filter_bottom_action">
      <button mat-raised-button class="bg-danger btn-remove-selected">
        <span class="material-icons">delete</span>
        Xóa đã chọn
      </button>
    </div> -->
  </mat-card>
</div>
