.table-question {
  height: calc(100vh - 113px);
  background: #FFFFFF;
  min-width: 26%;
  position: relative;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 12%);
}

.number-question {
  height: 40vh;
  width: 100%;
  padding: 1rem;
  overflow-y: auto;

  .item-question {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    transition-duration: 300ms;
  }
  .item-question:hover{
    transform: scale(1.2);
  }

  .false {
    color: #FFFFFF;
    background-color: #DA251D;
  }

  .true {
    background-color: #5CB85C;
    color: #FFFFFF;
  }

  .init {
    background: #F7F7F7;
    border: 1px solid #4CAF50;
    color: #555555;
  }

  .answered {
    background-color: #5CB85C;
    color: #FFFFFF;
  }

  .not-answered {
    background: #F7F7F7;
    border: 1px solid #CCC;
    box-sizing: border-box;
  }

}

mat-flat-button {
  width: 60%;
}



//region
.info-guide {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 10px;
  background: #F7F7F7;
}

.submit {
  overflow: hidden;
  margin-bottom: 1rem;
}

//circle
.circle {
  display: block;
  width: 100%;
  height: 100%;
}

.test_icons {
  border-radius: 50%;
  height: 17px;
  width: 17px;
}

//color circle
#true {
  background: #5CB85C;
}

#false {
  background: #DA251D;
}

#essay {
  background: #FFFFFF;
  border: 1px solid #4CAF50;
}

#not-answered {
  background: #F7F7F7;
  border: 1px solid #CCC;
  box-sizing: border-box;
}

//submit mobile hide
.submit-mobile-hide {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #EEEEEE;
  padding: 1rem;
}

.submit-hide {
  margin-left: 15px;
}

.pagging-mobile {
  margin-right: 15px;
}

.test {
  background-color: #DDDDDD;
  color: black;
}

.mat-mini-fab {
  padding: 0;
}

.mat-mini-fab .mat-button-wrapper {
  padding: 0px !important;
}

// time out exam
#countdownExam {
  background-color: #4CAF50;
  text-align: center;
  padding: 13px 20px;
  border-radius: 4px;

  p {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 !important;
  }
}

.note-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #555555;
  margin-left: 10px;
}

.btn-full-screen {
  min-width: 26px !important;
  width: 26px;
  min-height: 26px !important;
  height: 26px;
  line-height: 0px !important;
  background: #4CAF50;
  border-radius: 2px;
  color: #F7F7F7;
}

// animation for icon
.pulse {
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(75, 175, 80, 0.4);
  animation: pulse 1.5s infinite;
  position: relative;
  height: 33px;
  width: 33px;
}

.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(75, 175, 80, 0.8);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(75, 175, 80, 0.1);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(75, 175, 80, 0);
  }
}

.exam-name-label {
  font-style: normal;
  font-size: 20px;
  color: #303030;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
  padding: 0 20px;
}

.sub-label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #555555;
  margin-bottom: 5px;

  .total-question-icon {
    height: 17px;
    width: 17px;
  }

  .total-question-label {
    padding: 0 20px;
    background: #CCFFCE;
    border-radius: 23px;
    color: #4CAF50;
    margin-left: 10px;
  }

  .total-score-label {
    padding: 0 20px;
    margin-left: 10px;
    border-radius: 23px;
    background: #FFDBDA;
    color: #DA251D;
  }
}

.message {
  position: absolute;
  bottom: 20px;
  right: 20px;

  .message-icon {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    right: -2;
  }
}

.exam-rule {
  margin-top: 40px;
  color: #888888;
  cursor: pointer;

  .exam-rule-icon {
    margin-right: 10px;
  }

  .exam-rule-label {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #888888;
    opacity: 0.98;
  }
}

.mat-fab:not([class*=mat-elevation-z]),
.mat-mini-fab:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}


@media (max-width: 1441px) {
  .number-question {
    height: 35vh;
  }

  #countdownExam {
    p {
      font-size: 20px !important;
    }
  }

  .exam-name-label {
    font-size: 20px;
    line-height: 30px;
  }

  .exam-rule {
    margin-top: 25px;
  }

  .test_icons {
    border-radius: 50%;
    height: 14px;
    width: 14px;
  }
}
