<ng-container *ngIf="isReady" [ngSwitch]="typesOfContent" style="text-align: center;">
  <learner-pure-content *ngSwitchCase="'TEX'" [content]='content' (isShowContent)="isShowContent($event)" (isDarkMode)="isDarkMode($event)" (isFullContent)="isFullContent($event)">
  </learner-pure-content>

  <learner-video-content *ngSwitchCase="'VID'" [content]='content'>
  </learner-video-content>

  <learner-sound-content *ngSwitchCase="'SOU'" [content]='content' (isFullContent)="isFullContent($event)">
  </learner-sound-content>

  <learner-document-content *ngSwitchCase="'DOC'" [content]='content' (isShowContent)="isShowContent($event)" (isDarkMode)="isDarkMode($event)" (isFullContent)="isFullContent($event)">
  </learner-document-content>

  <learner-scorm-content *ngSwitchCase="'SCO'" [content]='content'>
  </learner-scorm-content>

  <learner-iframe-content *ngSwitchCase="'IFR'" [content]='content'>
  </learner-iframe-content>

  <learn-online-classroom-content *ngSwitchCase="'VIR'" [content]='content'>
  </learn-online-classroom-content>
</ng-container>