.container {
  margin: 0 auto;
  max-width: 1170px;
}

.body {
  background-image: url('../../../../../../assets/images/background/background-curriculum.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.carousel-function {
  width: 100%;
  height: 407px;
  //background-color: #f4f4f4;
  background-image: url('../../../../../../assets/images/banner/bannertiengiang.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.title-box {
  //margin-bottom: -75px;
  margin: 45px 0 43px 0;
}

.title-header {
  text-transform: capitalize;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  /* identical to box height, or 167% */
  text-align: center;
  color: #555555;
}

.text-intro {
  //width: 70%;
  word-wrap: break-word;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 130% */
  color: #555555;
  text-align: center;
}

.search-box {
  margin-bottom: 90px;
}

.search-button {
  width: 142px;
  height: 45px;
  background: #4CAF50;
  border-radius: 0px 6px 6px 0px;
  color: white;
  border: none;
  cursor: pointer;
}

.input-search {
  background: #FFFFFF;
  padding: 10px 10px 10px 15px;
  border: none;

  width: 315px;
  height: 45px;
  border-radius: 6px;
}

.breadcrumb {
  background-color: #ffffff;
}

.info-lesson {
  background-color: #ffffff;
  border-radius: 6px;
}

:host::ng-deep .content {
  margin: 15px 0px;
  box-shadow: none !important;
  border-radius: 6px !important;
}

.breadcrumb-lesson {
  color: #4caf50;
  font-weight: bold;
  font-size: 14px;
  padding: 0px;
  text-align: start;
}

.back-page {
  margin: 0px 0 27px -20px;
}

.list-grades {
  background-color: #4caf50;
  height: 48px;
}

a {
  text-decoration: none;
  color: #555555;
}

.content-info-lesson {
  margin-left: 10px;
}

.related-course__image {
  width: 100%;
  height: 49px;
  border-radius: 5px;
}

.title-lesson-related {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.teacher-name {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #555555;
}

.teacher-avartar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.margin-card {
  box-shadow: none !important;
  border-radius: 6px !important;
  margin: 15px 0 0 30px !important;

}

.margin-card-xs {
  margin: 50px 0px 0px 0px !important;
}

.row-grade {
  height: 48px;
  color: #ffffff;
  font-weight: bold;
}

.row-grade:hover {
  background-color: #438145;
  border-radius: 0;
}

.mat-expanded .mat-expansion-panel-header-title .material-icons {
  transform: rotate(0deg);
}

.mat-expansion-panel-header-title .open,
.mat-expanded .mat-expansion-panel-header-title .close {
  display: inline-block;
}

.mat-expanded .mat-expansion-panel-header-title .open,
.mat-expansion-panel-header-title .close {
  display: none;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: 0px 0px 0px -2px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14),
    0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid #c1c1c1;
}


// ::ng-deep .mat-focus-indicator.mat-button.mat-button-base {
//     padding-left: 0px !important;
// }

:host::ng-deep .mat-expansion-panel-header.mat-focus-indicator.mat-expansion-toggle-indicator-after.ng-star-inserted.mat-expanded {
  height: 36px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

:host::ng-deep .mat-expansion-panel-body {
  padding-bottom: 0px !important;
}

:host::ng-deep .mat-card-image:first-child {
  border-radius: 7px;
}

// @media (max-width: 1024px) {
//   .container {
//     margin: 0px 20px;
//   }

//   .list-grades-row {
//     margin-left: 0;
//   }
//   .related-course__image{
//     height: 49px;
//   }
// }

// @media (min-width: 1441px) {
//   .mat-card-background-lesson {
//     height: 300px !important;
//   }

//   .mat-card-image-background {
//     height: 300px !important;
//   }

//   .related-course__image {
//     height: 70px;
//   }
//}

// @media (min-width: 1023px) {
//   .list-grades-search-mobile {
//     display: none !important;
//   }
// }

@media (min-width: 426px) and (max-width: 768px) {
  .related-course__image {
    height: 100px;
  }

  .list-grades-search-mobile {
    display: none !important;
  }

  .mat-card-image-background {
    height: auto !important;
  }

  .container {
    margin: 0px 20px;
  }

  .list-grades-row {
    margin-left: 0;
  }
}




@media (min-width: 769px) and (max-width: 1024px) {
  .list-grades-search-mobile {
    display: none !important;
  }

  .mat-card-image-background {
    height: auto !important;
  }

  .container {
    margin: 0px 20px;
  }

  .list-grades-row {
    margin-left: 0;
  }

  .related-course__image {
    height: 60px;
  }
}

@media (max-width: 525px) {

  .carousel-function {
    background-image: url('../../../../../../assets/images/background/background-header-mobile.jpg') !important;
    height: 350px;
    justify-content: center !important;
  }

  :host ::ng-deep .mat-form-field-flex{
    height: 30px;
    padding: 4px 10px;
  }

  .breadcrumb .container .brmobile{
    height:auto !important
  }

  .margin-card-xs {
    margin-bottom: 30px !important;
  }

  .search-box {
    margin-bottom: 0;
    width: 90%;
  }

  .button-regis, .button-start{
    height: unset !important;
    width: unset !important;
  }

  .title-header {
    text-transform: capitalize;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    /* identical to box height, or 167% */
    text-align: center;
    color: #555555;
    font-family: 'Open Sans', sans-serif;
  }

  .mobile-display{
    display: none;
  }

  .title-box{
    margin: 0 0 50px;
  }

  .mat-card .mat-card-header{
    font-size: 18px !important;
  }

  .text-intro {
    width: 100%;
    word-wrap: break-word;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 130% */
    color: #555555;
    text-align: center;
  }

  .search-button {
    // width: 54px;
    height: 40px;
    background: #4CAF50;
    border-radius: 0px 3px 3px 0px;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;
    .mat-icon {
      color: #FFFFFF;
    }
  }

  .input-search {
    background: #FFFFFF;
    padding: 10px 10px 10px 15px;
    border: none;
    // width: 315px;
    // height: 45px;
    border-radius: 3px 0px 0px 3px;
    font-family: 'Open Sans', sans-serif;
    height: 40px;
    width: 100%;
  }
//

  .container {
    margin: 0px 15px;
  }

  .related-course__image {
    height: 76px;
  }

  .horizontal-header-info-fullname {
    display: none;
  }

  .list-grades-row {
    display: none !important;
  }

  :host :ng-deep .mat-form-field-flex {
    height: 30px !important;
    background-color: #ffffff !important;
    border-radius: 6px !important;
    margin-top: 5px !important;
  }

  :host::ng-deep .mat-form-field-infix {
    margin-top: -25px !important;
  }

  :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
  }

  :host::ng-deep .mat-select-arrow {
    margin-top: 13px !important;
  }

  .mat-card-background-lesson {
    max-width: 100% !important;
    margin-left: 0px !important;
    flex: none !important;
  }

  .mat-card-detail-lesson {
    max-width: 100% !important;
    margin-left: 0px !important;
  }

  .mat-card-lesson-name {
    font-size: 18px !important;
  }

  .descriptions-lesson {
    font-size: 14px !important;
  }

  .mat-card-button-regis {
    text-align: center !important;
  }

  button.hidden-curriculum {
    line-height: 30px !important;
    min-width: 30px !important;
    margin-top: 15px !important;
  }

  .button-regis-lesson {
    height: 60px !important;
    margin-bottom: -30px !important;
  }

  .button-regis-below {
    height: 60px !important;
  }
}

.horizontal-line {
  border: 0.1px solid #cacaca;
  margin-bottom: 10px;
}

.button-regis {
  margin-left: 12px !important;
  color: #ffffff !important;
  background-color: #4CAF50 !important;
  height: 45px;
  width: 164px;
}

.button-start {
  margin-left: 12px !important;
  height: 45px;
  width: 164px;
}

button.hidden-curriculum {
  font-size: 10px;
  line-height: 40px;
  border-radius: 2px;
  min-width: 40px;
  padding: 0px;
  margin-right: 10px;
}

.gradeActived {
  background-color: #438145;
  border-radius: 0;
}


//

.grade-header {
  width: 100%;
  flex: none !important;
  height: 30px;

  &::ng-deep .mat-form-field-infix {
    margin-top: -15px !important;
  }

  &::ng-deep .mat-select-arrow {
    margin-top: 0px !important;
  }
}

.grade-header-select {
  height: 30px;
  width: 100%;
  text-align: start;
  background: #FFFFFF;
  border-radius: 3px;
}

:host::ng-deep .mat-form-field-underline {
  display: none;
}

.input {
  position: relative;
}

.input-search-header {
  width: 100%;
  height: 30px;
  background: #FFFFFF;
  border-radius: 3px;
  padding: 10px;
}

.icon-search {
  position: absolute;
  top: 0;
  right: 3px;
  color: #888888;
}


:host::ng-deep .mat-card {
  //border: 55px !important;
  border-radius: 6px !important;
  border: #000 !important;
}

.list-grades {
  background-color: #4caf50;
  height: 48px;

  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: white;
  }
}

.row-grade {
  padding-top: 5px;
  height: 48px;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
}

.row-grade:hover {
  background-color: #438145;
  border-radius: 0;
}

.list-grades-row {
  overflow: auto;
  white-space: nowrap;
  //margin-left: -15px;
  width: 100%;

}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: none;
}

@media only screen and (min-width: 1441px) {
  .carousel-function {
    width: 100%;
    height: 540px;
    background-image: url('../../../../../../assets/images/banner/bannertiengiang.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.disabled-btn {
  opacity: 0.8 !important;
  pointer-events: none !important;
}