<div class="carousel-function" fxLayout="column" fxLayoutAlign="space-around center">
  <div fxLayout="column" fxLayoutAlign="center center" class="title-box">
    <span class="title-header">
      tìm kiếm các bài giảng
    </span>
    <span class="text-intro">Hệ thống học tập trực tuyến với hàng ngàn
      bài
      giảng và tài liệu dành riêng cho
      bạn</span>
  </div>

  <div class="search-box" fxLayout=row fxLayout.sm="column" fxLayoutAlign="center center" fxLayoutAlign.sm="start start"
    fxLayoutGap.sm="15px" (keydown.enter)="searchLesson()">
    <input type="text" placeholder="Tìm kiếm các bài giảng..." [(ngModel)]="lessonName" class="input-search">
    <button class="search-button" fxLayoutAlign="center center" (click)="searchLesson()">
      <mat-icon>search</mat-icon>
      <span fxHide.xs>Tìm kiếm</span>
    </button>
  </div>
</div>

<div class="list-grades">
  <ng-container *ngIf="width > 768; else elseT">
    <div class="container">
      <ng-container *ngIf="listGradesDashboard?.length<=4; else elsegrade">
        <div class="list-grades-row" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
          <div *ngFor="let grade of listGradesDashboard">
            <a class="row-grade" mat-button [ngClass]="{'gradeActived': (grade.id == gradeId)}"
              (click)="gradeNavigateTo(grade.id)">
              {{grade.name}}
            </a>
          </div>
        </div>
      </ng-container>
      <ng-template #elsegrade>
        <div class="list-grades-row" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
          <div *ngFor="let grade of listGradesDashboard">
            <a class="row-grade" mat-button [ngClass]="{'gradeActived': (grade.id == gradeId)}"
              (click)="gradeNavigateTo(grade.id)">
              {{grade.name}}
            </a>
          </div>
        </div>
      </ng-template>



    </div>
  </ng-container>
  <ng-template #elseT>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
      <form fxFlex="90" class="grade-header">
        <mat-form-field class="grade-header-select">
          <mat-select (selectionChange)="gradeNavigateTo($event.value)" [value]="selected">
            <mat-option value="">Chọn khối</mat-option>
            <mat-option *ngFor="let grade of listGradesDashboard" [value]="grade.id">
              {{grade.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <!-- <div fxFlex=45 class="input">
          <input class="input-search-header" matInput type="text" [placeholder]="'Tìm kiếm'">
          <mat-icon class="icon-search">search</mat-icon>
        </div> -->
    </div>
  </ng-template>
</div>

<div class="breadcrumb">
  <div class="container">
    <div style="height: 40px;" fxLayout="row">
      <button mat-button [routerLink]="['/index']" style="padding: 0px;">
        Trang chủ
        <span class="material-icons">
          chevron_right
        </span>
      </button>
      <button mat-button (click)="backCurriculum()" style="padding: 0px;">
        Chương trình
        <span class="material-icons">
          chevron_right
        </span>
      </button>
      <button *ngIf="lessonInfo?.name" mat-button class="breadcrumb-lesson" fxFlex.gt-xs="70" fxFlex.xs="33">
        <span class="lesson-name text-wrap" #tooltip="matTooltip" matTooltip="{{lessonInfo?.name}}">
          {{lessonInfo?.name}}
        </span>
        <!-- <span class="material-icons">
            chevron_right
          </span> -->
      </button>
    </div>
  </div>
</div>



<div class="body">
  <div class="container mobile-display">
    <div class="back-page">
      <button mat-button (click)="backPage()">
        <span class="material-icons">
          chevron_left
        </span>Quay lại
      </button>
    </div>
  </div>
  <div fxLayout=column class="container">
    <div class="regis-lesson">
      <div fxLayout="row" class="info-lesson" fxLayout.xs="column" fxLayout.sm="column">
        <mat-card fxFlex="33.33" fxFlex.xs="100" style="height: 253px; margin-right: 0px;"
          class="mat-card-background-lesson">
          <img mat-card-image src="{{lessonInfo?.avatarUrl}}" style="margin-top:0px;height: 253px;"
            class="mat-card-image-background">
        </mat-card>
        <mat-card fxFlex="60.67" fxFlex.xs="100" class="mat-card-detail-lesson"
          style="box-shadow:0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important">
          <mat-card-header style="display: block; font-weight: bold; font-size: 26px; padding: 0px 12px;"
            class="mat-card-lesson-name">
            {{lessonInfo?.name}}
          </mat-card-header>
          <div class="info-lecturer" fxLayoutAlign="start center" style="padding-left: 12px;">
            <img src="{{lessonInfo?.teacherAvatar}}" class="teacher-avartar">
            <p style="color: #555555; font-size: 14px;"> GV: {{lessonInfo?.teacherName}}</p>
          </div>
          <p style="padding-left: 12px; margin:0px;" class="descriptions-lesson">
            <span [innerHTML]=lessonInfo?.introduction></span>
          </p>
          <p style="padding-left:12px; color: #4caf50; font-size: 14px;" *ngIf="percentageOfCompletion >=0">Bạn đã
            học được: {{percentageOfCompletion}}%</p>
          <mat-card-actions class="mat-card-button-regis" fxLayoutAlign.xs="center center" fxLayout.xs=row>
            <!--nut ni là cho nó đăng nhập tới-->
            <button mat-raised-button [ngClass]="{'disabled-btn': isDisabled}" class="button-regis"
              *ngIf="isAuthenticated == false" (click)="register()">ĐĂNG
              KÝ HỌC</button>
            <!--nut ni đợi duyệt  hoặc đăng kí-->
            <button mat-raised-button [ngClass]="{'disabled-btn': isDisabled}" class="button-regis"
              *ngIf="isWaiting == true || isRegister ==true" (click)="register()">
              <span *ngIf="isWaiting==true">CHỜ DUYỆT</span>
              <span *ngIf="isRegister==true">ĐĂNG KÝ HỌC</span>
            </button>
            <!--nut ni là học ngay-->
            <button mat-raised-button [ngClass]="{'disabled-btn': isDisabled}" class="button-start" color="primary"
              *ngIf="isContinute == true" (click)="register()">HỌC
              NGAY</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <br>
    <div fxLayout=row fxLayout.xs="column" fxFlexAlign.xs="center center" fxLayout.sm="column"
      fxFlexAlign.sm="center center">
      <div class="detail-lesson" *ngIf="openDetailLesson" fxFlex=70>
        <div>
          <mat-card class="content">
            <mat-card-header
              style="display: block; font-weight: bold; font-size: 26px; margin-left: 6px; padding-bottom: 0px; padding-top:25px">
              Nội dung
            </mat-card-header>
            <mat-accordion *ngFor="let chapter of contentGroups">
              <mat-expansion-panel hideToggle [expanded]="true" style="border-radius: 0px !important;"
                *ngIf="chapter.id != 0">
                <mat-expansion-panel-header style="padding-left: 12px; margin-top:15px">
                  <mat-panel-title style="font-weight: bold; color:#4caf50; font-size: 14px;">
                    <span class="material-icons open" style="color: #4caf50;">
                      arrow_drop_down
                    </span>
                    <span class="material-icons close" style="color: #4caf50;">
                      arrow_right
                    </span>
                    {{chapter.name}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p *ngFor="let unit of chapter.contents" style="cursor: pointer;">
                  <a class="a-unit">
                    <p style="margin-left:10px; position: relative;">
                      <span class="material-icons"
                        style="color: #C2C2C2; font-size:14px; position: absolute; top: 2px;">
                        lock
                      </span>
                      <label style=" font-size: 14px; margin-left:20px">{{unit.name}}</label>
                      <span class="material-icons" style="color: #C2C2C2; font-size:14px; float: right;">
                        watch_later
                      </span>
                    </p>
                  </a>
                </p>
              </mat-expansion-panel>

              <a class="a-unit" *ngIf="chapter.id == 0">
                <p style="margin-left:20px;margin-right: 25px; position: relative;">
                  <span class="material-icons" style="color: #C2C2C2; font-size:14px; position: absolute; top: 2px;">
                    lock
                  </span>
                  <label style=" font-size: 14px; margin-left:20px">{{chapter.contents[0].name}}</label>
                  <span class="material-icons" style="color: #C2C2C2; font-size:14px; float: right;">
                    watch_later
                  </span>
                </p>
              </a>
            </mat-accordion>
            <mat-card-header
              style="display: block; font-weight: bold; font-size: 26px; margin-left: 6px; padding-bottom: 0px; padding-top:25px">
              Nội dung tham khảo
            </mat-card-header>
            <mat-accordion>
              <mat-expansion-panel hideToggle [expanded]="true" style="border-radius: 0px !important;">
                <mat-expansion-panel-header style="padding-left: 12px; margin-top:15px">
                  <mat-panel-title style="font-weight: bold; color:#4caf50; font-size: 14px;">
                    <span class="material-icons open" style="color: #4caf50;">
                      arrow_drop_down
                    </span>
                    <span class="material-icons close" style="color: #4caf50;">
                      arrow_right
                    </span>
                    <span>Tài liệu</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p *ngFor="let unit of reference" style="cursor: pointer;">
                  <a class="a-unit">
                    <p style="margin-left:10px; position: relative;">
                      <span class="material-icons"
                        style="color: #C2C2C2; font-size:14px; position: absolute; top: 2px; ">
                        lock
                      </span>
                      <label style=" font-size: 14px; margin-left:20px">{{unit.name}}</label>
                    </p>
                  </a>
                </p>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card>
        </div>
        <div class="button-regis-lesson" style="height: 130px;">
          <div class="container">
            <div fxLayout="row" fxLayoutAlign="center center" style="height: 130px;" class="button-regis-below">
              <!--nut ni là cho nó đăng nhập tới-->
              <button mat-raised-button [ngClass]="{'disabled-btn': isDisabled}" class="button-regis"
                *ngIf="isAuthenticated == false" (click)="register()">ĐĂNG
                KÝ HỌC</button>
              <!--nut ni đợi duyệt  hoặc đăng kí-->
              <button mat-raised-button [ngClass]="{'disabled-btn': isDisabled}" class="button-regis"
                *ngIf="isWaiting == true || isRegister ==true" (click)="register()">
                <span *ngIf="isWaiting==true">CHỜ DUYỆT</span>
                <span *ngIf="isRegister==true">ĐĂNG KÝ HỌC</span>
              </button>
              <!--nut ni là học ngay-->
              <button mat-raised-button [ngClass]="{'disabled-btn': isDisabled}" class="button-start" color="primary"
                *ngIf="isContinute == true" (click)="register()">HỌC
                NGAY</button>
            </div>
          </div>
        </div>
      </div>

      <div class="related-course" fxFlex=30 fxFlex.xs=100 fxFlexAlign="end end">
        <mat-card [ngClass]="{'margin-card':true}" [ngClass.xs]="{'margin-card-xs':true}"
          [ngClass.sm]="{'margin-card-xs':true}">
          <mat-card-content>
            <h3 style="display: block; font-weight: bold; font-size: 20px; padding-bottom: 0px;">Bài giảng liên
              quan
            </h3>
            <div fxLayout="column" fxLayoutGap=15px *ngFor="let item of referenceLesson">
              <a href="/detail-lesson?lesson={{item.id}}&gradeId={{this.gradeId}}">
                <div fxLayout="row">
                  <div fxFlex=30 fxFlexAlign="center center">
                    <img src="{{item.avatarUrl}}" class="related-course__image">
                  </div>
                  <div fxFlex=70 class="content-info-lesson">
                    <span class="title-lesson-related">
                      {{item.name}}
                    </span>
                    <div fxLayoutAlign="start center">
                      <img src="{{item.teacherAvatar}}" class="teacher-avartar">
                      <span class="teacher-name"> GV: {{item.teacherName}}</span>
                    </div>
                  </div>
                </div>
              </a>
              <hr style="width:100%">
              <!-- <span class="horizontal-line"></span> -->
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
