<div class="center-btn-footer">
    <button mat-raised-button class="btn-footer btn-success btn-fixed-width" (click)="save()">Lưu</button>
    <button mat-raised-button class="btn-footer btn-success">Lưu và tạo mới</button>
    <button mat-raised-button class="btn-footer btn-cancel btn-fixed-width">Hủy</button>
</div>