.center-btn-footer{
    text-align: center;
    margin-top:20px;
 }
 .btn-footer{
     margin: 0px 10px;
 }
 .btn-success{
     background-color: #a8ce54;
     color: #fff;
 }
 .btn-cancel{
     background-color: #e5e5e5;
 }
 .btn-fixed-width {
     width: 100px;
 }