.scorm-content-header {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 6px !important;
  padding: 2px;
  height: 50px;
  margin: 20px;

  &_title {
    line-height: 40px;
    padding-top: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #4caf50;
  }
}

.content-scorm_card {
  margin: 0px !important;
  margin-bottom: 0px !important;
  border-radius: 0px !important;
  height: calc(100vh - 115px);

  &.dark-mode {
    background: #161616 !important;
    border-radius: 0;
  }

  &.fullLayout .content-scorm_card-iframe {
    width: 100%;
  }
}

.content-scorm_card-iframe {
  border: 0;
  border-radius: 6px !important;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 0 auto;
  overflow: hidden;
  height: calc(100% - 88px);
  width: calc(100% - 40px);
  border: 2px solid #e9e9e9 !important;
}

.content-text_card {
  margin-top: 0px !important;
  padding: 8px !important;
  height: 100%;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top: 1px solid #f1f1f2;

  .text_note {
    font-style: italic;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin: 10px;
  }
}

.fullscreen_icon {
  cursor: pointer;
  margin-right: 30px;
}

.footer-action {
  margin: 10px 20px;
}

@media screen and (max-width: 525px) {
  .content-scorm_card{
    height: calc(100vh - 200px);
  }
}