<!-- <mat-card class="scorm-content-header">
    <p class="scorm-content-header_title">{{content && content.name}}</p>
</mat-card> -->
<mat-card id="scorm-frame" class="content-scorm_card" *ngIf="isReady" [ngClass]="{'dark-mode': isDarkMode, 'fullLayout': fullLayout}">
    <iframe allow="autoplay;fullscreen" [src]="content.link | safeUrl" class="content-scorm_card-iframe" *ngIf="content && content.link">
    </iframe>
    <p *ngIf="!content && !content.link"> Không tìm thấy dữ link Scorm </p>
    <app-progress-player [hideAction]="true" [isHide]="true" [tag]="'doc'"></app-progress-player>
</mat-card>
<!-- <div fxLayout="row" class="footer-action">
    <div fxFlex="30" fxLayoutAlign="end end">
    </div>
    <div fxFlex="40" fxLayoutAlign="center center">
        <button mat-raised-button color="warn" class="button-lg button-add " (click)="onDecriptionHandleClick()">
            Mô tả thêm
        </button>
    </div>
    <div fxFlex="30" fxLayoutAlign="end end">
        TODO : LAMNV11 Hidden to demo Date : 2021/25/05
        <mat-icon color="white" svgIcon="fullscreen">
        </mat-icon>
    </div>
</div> -->