.mat-card .mat-card-content {
  color: #555555;
}

.input-infor {
  height: 29px;
  color: #555555;
  font-family: "Open Sans", sans-serif;
  padding: 8px;
  border: 0.5px solid #555555;
  border-radius: 2px;
}

.input-error {
  border: 0.5px solid #da251d;
  border-radius: 2px;
}

.select-grade {
  width: 200px;
  height: 29px;
}

.move-button {
  width: 36px !important;

  &:last-child {
    margin-top: 1rem;
  }
}

.icon {
  width: 12px;
  height: auto;
}

.mat-button,
.mat-raised-button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.center-element {
  text-align: center;
}

// mat-card-content {
//   margin-bottom: 0px !important;
//   padding: 16px !important;
// }

// mat-card-title {
//   font-weight: 600;
//   font-size: 13px !important;
//   line-height: 18px;
//   text-transform: uppercase;
//   color: #303030;
//   opacity: 0.98;
//   margin-bottom: 19px !important;
// }

.subject-time {
  width: 60%;
}

.subject:hover {
  background-color: #f3f6f2;
  cursor: pointer;
}

// date-range-picker style
// :host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
//   padding: 4px !important;
//   background-color: white;
//   border: 1px solid #ccc;
//   border-radius: 4px !important;
//   height: 31px;
//   line-height: 15px;
//   align-items: center;
// }

// :host ::ng-deep .mat-form-field-wrapper {
//   padding: 0px;
// }


.combobox_selection {
  width: 146px;
  height: 30px;
  border: 0.5px solid #555555;
  box-sizing: border-box;
  border-radius: 2px;
  color: #555555;
}

.error {
  border: 1px solid red;
}

// select box
// .input_select {
//   width: 100%;
//   height: 30px;
// }

// .matFormFieldSelectBox {
//   height: 31px;
//   box-sizing: border-box;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   background-color: white;
//   background-position: 10px 10px;
//   background-repeat: no-repeat;
//   padding: 0 5px;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 13px;
//   line-height: 15px;
//   color: #555555;
//   opacity: 0.98;
// }

// :host ::ng-deep .mat-form-field-underline {
//   display: none;
// }

// :host ::ng-deep .mat-form-field-infix {
//   border-top: none;
// }

// .example-additional-selection {
//   opacity: 0.75;
//   font-size: 0.75em;
// }

// .mat-select-panel-wrap {
//   position: relative;
//   top: 26px;
// }

// .mat-select-panel-wrap .mat-select-panel {
//   min-width: calc(100% + 12px) !important;
//   transform: translateX(4px) !important;
// }

// :host ::ng-deep .mat-form-field-wrapper {
//   width: 100% !important;
//   padding-bottom: 0px !important;
// }

.disabled {
  pointer-events: none;
  /* for "disabled" effect */
  // opacity: 0.5;
  // background: #CCC;
}
//---

.input_name {
  width: 980px;
  height: 31px;
  padding: 0 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-size: 1rem;
}
// daterange-picker style
.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0px;
}
.filter-control {
  padding-top: 10px;
}
.errors-msg{
  font-size: 13px;
}

.not-allowed{
  cursor: not-allowed;
}
.label-tip {
  color: #aaa;
  width: 80%;
  text-align: center;
}
.text-center {
  text-align: center;
}

.question_row {
  // font-style: normal;
  // font-weight: normal;
  // font-size: 13px;
  // line-height: 18px;
  // color: #555555;
  // opacity: 0.98;
  // background: #fff;
  // border-radius: 5px;
  // margin: 8px 0;
  .block {
    width: 100%;
    justify-content: space-between;
  }
}
.font-size-14{
  font-size: 14px;
}