<div class="apply-css-alpha">
  <mat-card>
    <mat-card-content class="manage-card">
      <app-header-create-exam [stepHeaderCtrl]="stepHeaderControl"></app-header-create-exam>
    </mat-card-content>
  </mat-card>

  <mat-card class="manage-card mt-0">
    <mat-card-header>
      <mat-card-title>Thông tin tổ chức thi</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form [formGroup]="infoForm" onsubmit="submitForm()" fxLayout="column" fxLayoutGap="15px grid"
        fxLayoutGap.gt-md="15px grid">
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center">
            <label fxFlex="15" fxLayoutAlign="start center" class="font-size-14">Tên kỳ thi (*): </label>
            <mat-form-field appearance="outline" fxFlex="85">
              <mat-label>Tên kỳ thi</mat-label>
              <input matInput [attr.disabled]="this.isPublished? true: null" fxFlex=85 fxLayoutAlign="end center"
                type="text" placeholder="Tên kỳ thi..." required formControlName="name" autocomplete="off"
                [ngClass]="{'not-allowed':this.isPublished}">
            </mat-form-field>
          </div>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" fxLayout=row fxLayoutAlign="end start">
            <mat-error class="errors-msg">Vui lòng nhập tên kỳ thi (*)</mat-error>
          </div>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="15px grid">
          <div fxFlex="15" fxLayout="row">
            <label fxFlex fxLayoutAlign="start center" class="font-size-14">Bắt đầu: </label>
          </div>
          <div fxFlex fxLayout="row wrap" fxLayoutAlign="start center">
            <div fxFlex.gt-md="36" fxFlex.gt-sm="50" fxFlex="50" fxLayout="row">
              <mat-form-field fxFlex="60" appearance="outline" class="date-time-range">
                <input matInput [disabled]="this.isPublished" matInput [matDatepicker]="dpFromDate"
                  [formControl]="start" (click)="openDpFromDate()" onfocus="this.blur()" placeholder="dd/MM/yyyy"
                  autocomplete="off">
                <mat-datepicker-toggle [disabled]="this.isPublished" matSuffix [for]="dpFromDate">
                </mat-datepicker-toggle>
                <mat-datepicker #dpFromDate>
                </mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex.gt-md="60" fxFlex.gt-sm="50" fxFlex="50" fxLayout="row">
              <div fxFlex fxFlex.gt-md="60" fxFlex.gt-sm="60" fxLayout="column">
                <div fxLayout="row">
                  <label fxFlex="40" fxLayoutAlign="start center" class="font-size-14">Kết thúc: </label>
                  <mat-form-field fxFlex="60" appearance="outline" class="date-time-range">
                    <input matInput [disabled]="this.isPublished" matInput [matDatepicker]="dpToDate"
                      [formControl]="end" (click)="openDpToDate()" onfocus="this.blur()" placeholder="dd/MM/yyyy"
                      (dateChange)="examToDateChange($event)" class="date-picker-input" autocomplete="off">
                    <mat-datepicker-toggle [disabled]="this.isPublished" matSuffix [for]="dpToDate">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dpToDate>
                    </mat-datepicker>
                  </mat-form-field>
                </div>
                <div *ngIf="this.isInvalidExamDate()" fxLayout="row" fxLayoutAlign="end start" class="errors-msg">
                  <mat-error *ngIf="this.isInvalidExamDate()">
                    Ngày bắt đầu phải nhỏ hơn ngày kết thúc (*)
                  </mat-error>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="15px grid">
          <div fxFlex="15" fxLayout="row">
            <label fxFlex fxLayoutAlign="start center" class="font-size-14">Thang đánh giá: </label>
          </div>
          <div fxFlex fxLayout="row wrap" fxLayoutAlign="start center">
            <div fxFlex.gt-md="36" fxFlex.gt-sm="50" fxFlex="50" fxLayout="column">
              <div fxFlex="100" fxLayout="row">
                <mat-form-field fxFlex="60" appearance="outline" (click)="onAssessmentLevelGroupSelectClicked()"
                  *ngIf="dataInfoExam!=null">
                  <mat-label>Thang đánh giá</mat-label>
                  <mat-select [ngClass]="{'not-allowed':this.isPublished}" [disabled]="this.isPublished"
                    [formControl]="assessmentLevelGroupCtrl" placeholder="Chọn thang đánh giá"
                    #singleSelectAssessmentLevelGroup disableOptionCentering>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Tìm thang đánh giá" noEntriesFoundLabel="Không tìm thấy"
                        [formControl]="assessmentLevelGroupFilterCtrl">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let assessment of filteredAssessmentLevelGroups | async"
                      [value]="assessment.id">
                      {{assessment.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- <div fxFlex="100" fxLayout=row fxLayoutAlign="start center" class="errors-msg">

              </div> -->
            </div>
            <div fxFlex.gt-md="60" fxFlex.gt-sm="50" fxFlex="50" fxLayout="row">
              <div fxFlex fxFlex.gt-md="60" fxFlex.gt-sm="60" fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <label fxFlex="40" fxLayoutAlign="start center" class="font-size-14">Hình thức thi: </label>
                  <mat-form-field fxFlex="60" appearance="outline" [floatLabel]="'never'">
                    <mat-select [disabled]="this.isPublished" [formControl]="examTypeCtrl" placeholder="Chọn hình thức"
                      disableOptionCentering (selectionChange)="changeType($event.value)">
                      <mat-option value="FRE">
                        Tự do
                      </mat-option>
                      <mat-option value="CON">
                        Tập trung
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <div fxLayout="row">
    <div fxFlex=25>
      <mat-card class="manage-card mt-0">
        <mat-card-header>
          <mat-card-title>Danh sách môn học</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="mb-0">
          <mat-form-field fxFlex="100" fxLayout="column" class="mb-0" appearance="outline" [floatLabel]="'never'"
            (click)="onDivisionSelectClicked()">
            <mat-select disabled class="not-allowed" [formControl]="gradeId" placeholder="Chọn khối"
              #singleSelectDivision disableOptionCentering (selectionChange)="onChangeDivisionSelected($event.value)">
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Chọn khối" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="divisionFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                {{grade.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <div style="height: 24vh; overflow-y: auto;" class="display-block">
          <table mat-table [dataSource]="listSubject">
            <!-- Name Column -->
            <ng-container matColumnDef="subjectName">
              <!-- <th mat-header-cell *matHeaderCellDef> Danh sách môn </th> -->
              <td mat-cell *matCellDef="let element" [disabled]="true">
                {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="checked">
              <th mat-header-cell *matHeaderCellDef class="center-element"> </th>
              <td mat-cell *matCellDef="let element" style="width: 35px; padding-right: 5px;">
                <span *ngIf="element.chose == true" class="material-icons" style="color: #4caf50;">
                  check_circle
                </span>
                <span *ngIf="element.checked == true" class="material-icons" style="color: #4caf50;">
                  stars
                </span>
              </td>
            </ng-container>

            <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
            <tr [ngClass]="{'subject':!this.isPublished}" [ngClass]="{'not-allowed':this.isPublished}" mat-row
              *matRowDef="let row; columns: displayedColumns;" (click)="chooseSubject(row)">
            </tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell text-center" colspan="1">Chọn khối để hiển thị danh sách môn</td>
            </tr>
          </table>
        </div>
      </mat-card>
    </div>
    <div fxFlex=5 fxLayout="column" fxLayoutAlign="center center">
      <button [ngClass]="{'not-allowed':this.isPublished}" [disabled]="this.isPublished" mat-raised-button
        color="primary" class="move-button" (click)="chose()">
        <mat-icon class="icon" svgIcon="move-to"></mat-icon>
      </button>
      <button [ngClass]="{'not-allowed':this.isPublished}" [disabled]="this.isPublished" mat-raised-button
        color="primary" class="move-button" (click)="back()">
        <mat-icon class="icon" svgIcon="move-back"></mat-icon>
      </button>
    </div>
    <div fxFlex=70>
      <mat-card class="manage-card mt-0">
        <mat-card-header>
          <mat-card-title>Danh sách môn thi được tổ chức</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div style="height:28vh; overflow-y: auto;" [ngClass]="{'not-allowed':this.isPublished}">
            <table mat-table [dataSource]="subjectOfExam">
              <!--chosse-->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="element.checked = !element.checked"
                    [checked]="element.checked">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef> STT </th>
                <td mat-cell *matCellDef="let element;let i=index">{{i+1}} </td>
              </ng-container>

              <ng-container matColumnDef="subjectName">
                <th mat-header-cell *matHeaderCellDef class="center-element"> Tên môn thi </th>
                <td mat-cell *matCellDef="let element" class="center-element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef class="center-element"> Bắt đầu </th>
                <td mat-cell *matCellDef="let element" class="center-element">
                  <mat-form-field style="width: 80%" [floatLabel]="'never'" appearance="outline"
                    class="date-time-range">
                    <input [disabled]="this.isPublished" matInput [ngxMatDatetimePicker]="dpFromDate"
                      placeholder="dd/MM/yyyy" autocomplete="off" [min]="this.start.value" [max]="this.end.value"
                      [value]="element.startDate" (dateChange)="changeStartDate($event, element.id)">
                    <mat-datepicker-toggle [disabled]="this.isPublished" matSuffix [for]="dpFromDate">
                    </mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #dpFromDate [showSeconds]="true" [stepHour]="1" [stepMinute]="1"
                      [stepSecond]="1">
                    </ngx-mat-datetime-picker>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef class="center-element"> Kết thúc </th>
                <td mat-cell *matCellDef="let element" class="center-element">
                  <mat-form-field style="width: 80%" [floatLabel]="'never'" appearance="outline"
                    class="date-time-range">
                    <input [disabled]="this.isPublished" matInput [ngxMatDatetimePicker]="dpFromDate"
                      placeholder="dd/MM/yyyy" autocomplete="off" [min]="this.start.value" [max]="this.end.value"
                      [value]="element.endDate" (dateChange)="changeEndDate($event, element.id)">
                    <mat-datepicker-toggle [disabled]="this.isPublished" matSuffix [for]="dpFromDate">
                    </mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #dpFromDate [showSeconds]="true" [stepHour]="1" [stepMinute]="1"
                      [stepSecond]="1">
                    </ngx-mat-datetime-picker>
                  </mat-form-field>
                </td>
              </ng-container>

              <!-- <ng-container matColumnDef="test">
          <th mat-header-cell *matHeaderCellDef> Đề thi </th>
          <td mat-cell *matCellDef="let element"> {{element.testName}} </td>
        </ng-container> -->

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="center-element"> Xóa</th>
                <td mat-cell *matCellDef="let element" class="center-element">
                  <button [ngClass]="{'not-allowed':this.isPublished}" [disabled]="this.isPublished" mat-icon-button
                    (click)="deleteSubject(element)">
                    <mat-icon style="color: rgb(190, 14, 14);">remove_circle</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsListSubject"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsListSubject;"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="6">Chưa có môn thi được chọn</td>
              </tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" class="p-b-20">
    <button mat-raised-button class="m-r-10 button-cancel" (click)="backToContent()">Quay
      lại</button>
    <button (click)="nextPage()" [disabled]="infoForm.invalid || subjectOfExam.length == 0" mat-raised-button
      color="primary">Tiếp tục</button>
  </div>
</div>