<mat-card>
  <mat-card-content class="content-setting">
    <mat-card-title>Thiết lập cho môn thi</mat-card-title>

    <div fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
          <label>Hiển thị:</label>
          <input type="number" class="input-text">
          <label>Câu hỏi/Trang</label>
        </div>
      </div>
      <div>
        <mat-checkbox class="example-margin">Xáo trộn câu hỏi</mat-checkbox>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
          <label>Thời gian làm bài:</label>
          <input type="number" class="input-text">
          <label>Phút</label>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
          <label>Số lần mở media:</label>
          <input type="number" class="input-text">
          <label>Lần</label>
        </div>
      </div>
      <!-- Tạm comment do chưa thực hiện chức năng này -->
      <!-- <div>
        <mat-checkbox class="example-margin">Khóa ứng dụng</mat-checkbox>
      </div> -->
    </div>
  </mat-card-content>
</mat-card>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <button mat-raised-button class="bg-danger text-white" (click)="cancel()">Hủy</button>
  <button mat-raised-button color="primary">Lưu</button>
</div>
