.end-button {
  margin: 40px;

  button {
    width: 102px;
    height: 34px;
  }
}

.statistic-button {
  height: 31px;
  max-height: 31px;
}

.decription-classroom {
  border: 1px solid #ccc;
  height: 88px;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 8px;
}

.label_combobox {
  font-size: 14px;
}
:host ::ng-deep .overflow-err-msg .mat-form-field-subscript-wrapper {
  overflow: visible !important;
}
.join-zoom-link {
  margin-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #555555;
}
