<div class="m-t-30 apply-css-alpha overflow-err-msg">
  <app-spinner2></app-spinner2>
  <form [formGroup]="createInteractive" (ngSubmit)="onSubmit()" class="m-t-30">
    <mat-card style="padding: 0px!important">
      <learn-lesson-name-header [lessonName]="lesson?.name" type="Sửa lớp học tương tác"></learn-lesson-name-header>
      <!-- Tên nội dung -->
      <mat-card-content>
        <div class="content-area">
          <div fxLayout="row" fxLayoutAlign="start center" class="m-b-30">
            <label fxFlex="10" class="label_combobox">Chủ đề:</label>
            <mat-form-field fxFlex="90" appearance="outline">
              <mat-label>Chủ đề(*)</mat-label>
              <input matInput fxLayoutAlign="start center" formControlName="name" type="text"
                placeholder="Tên chủ đề..." maxlength="255">
              <mat-error *ngIf="name.hasError('required')">Vui lòng nhập tên nội dung</mat-error>
              <mat-error *ngIf="name.hasError('maxlength')">Tên chủ đề không quá 255 ký tự</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" class="m-b-30">
            <label fxFlex="10" fxLayoutAlign="start center" class="label_combobox">Tiết học: </label>
            <mat-form-field fxFlex="15" appearance="outline" class="m-r-30">
              <mat-label>Chọn tiết</mat-label>
              <mat-select formControlName="contentGroupId" #singleSelectContentGroup [placeholder]="'Chọn tiết'">
                <mat-option>
                  <ngx-mat-select-search [formControl]="contentGroupsFilterCtrl" placeholderLabel="Nhập tiết"
                    noEntriesFoundLabel="Không tìm thấy tiết"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let groupContent of filteredGroupContents | async" [value]="groupContent.id">
                  {{groupContent.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div fxFlex="20" fxLayoutAlign="start center" class="m-r-30">
              <mat-form-field appearance="outline">
                <mat-label>Thời gian bắt đầu</mat-label>
                <input matInput [ngxMatDatetimePicker]="picker" [min]="minDate"
                  (dateInput)="onDateLearningPathChange($event)" formControlName="startedDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
                <mat-error *ngIf="getValidateStartDateErrors()">
                  Ngày bắt đầu không được lớn hơn ngày kết thúc (*)
                </mat-error>
                <mat-error *ngIf="getValidateStartDateRequiredErrors()">
                  Ngày bắt đầu không được trống (*)
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="20" fxLayoutAlign="start center" class="combobox_action">
              <mat-form-field appearance="outline">
                <mat-label>Ngày kết thúc</mat-label>
                <input matInput [ngxMatDatetimePicker]="pickerEndDate" [min]="minDate" formControlName="endDate"
                  (dateInput)="onDateLearningPathChange($event)">
                <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #pickerEndDate>
                </ngx-mat-datetime-picker>
                <mat-error *ngIf="getValidateEndDateErrors()">
                  Ngày kết thúc không được nhỏ hơn ngày bắt đầu(*)
                </mat-error>
                <mat-error *ngIf="getValidateEndDateRequiredErrors()">
                  Ngày kết thúc không được để trống (*)
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start">
            <label fxFlex="10" class="label_combobox">Mô tả</label>
            <textarea fxFlex="90" fxLayoutAlign="start center" class="decription-classroom" matInput
              formControlName="description" placeholder="" style="height: 300px!important;"></textarea>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start" *ngIf="isCreatelink && lessonStatus=='PUB'">
            <label fxFlex="10" class="label_combobox"></label>
            <div fxFlex="90" fxLayoutAlign="start center" class="join-zoom-link">
              <span class="material-icons-outlined">
                link
              </span>
              <span>
                {{joinUrl}}
              </span>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start" style="margin-top: 10px;"
            *ngIf="isCreatelink && lessonStatus=='PUB'">
            <label fxFlex="10" class="label_combobox"></label>
            <div fxFlex="90" fxLayoutAlign="start center">
              <button mat-raised-button color="primary" type="button" (click)=copyClipBoard()>
                <span class="material-icons-outlined" style="margin-right: 4px;margin-bottom: 4px;">
                  content_copy
                </span>Sao chép liên kết
              </button>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start" style="margin-top: 10px;"
            *ngIf="!isCreatelink && lessonStatus=='PUB'">
            <label fxFlex="10" class="label_combobox"></label>
            <div fxFlex="90" fxLayoutAlign="start center">
              <button mat-raised-button color="primary" type="button" (click)=createZoomLink()>
                <span class="material-icons-outlined" style="margin-right: 4px;margin-bottom: 4px;">
                  add_circle
                </span>
                {{buttonText}}
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="end-button">
      <button mat-raised-button class="button-cancel" type="button" (click)="onCancelButtonHandleClick()">
        Hủy
      </button>
      <button mat-raised-button color="primary" type="submit" [disabled]='isDisableSubmit'>
        Lưu
      </button>
    </div>
  </form>
</div>