<mat-card class="function-content">
  <mat-card-content>
    <a [routerLink]="['/dashboard/examination-manager/create']"> <button class="create-exam" mat-raised-button>
        <mat-icon class="icon">add_circle_outline</mat-icon> Tạo
      </button>
    </a>
  </mat-card-content>
</mat-card>
<mat-card class="filter-content">
  <mat-card-content>
    <h3 class="title">Bộ lọc tìm kiếm</h3>
    <!-- <div class="filter-container">

      <div class="filter-item" fxLayout="row">
        <label class="name-filter" fxLayoutAlign="start center">Trạng thái:</label>
        <select class="form-select" fxLayoutAlign="end center">
          <option value="1" selected>One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="filter-item" fxLayout="row">
        <label class="name-filter" fxLayoutAlign="end center">Hình thức thi</label>
        <select class="form-select" fxLayoutAlign="end center" >
          <option value="1" selected>One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="filter-item" fxLayout="row">
        <label class="name-filter">Từ ngày:</label>
        <input type="date">
      </div>
      <div class="filter-item" fxLayout="row">
        <label class="name-filter"  fxLayoutAlign="start center">Đến ngày:</label>
        <input type="date"  fxLayoutAlign="end center">
      </div>
      <div class="filter-item" fxLayout="row">
        <label class="name-filter"  fxLayoutAlign="start center">Khóa</label>
        <select class="form-select" fxLayoutAlign="end center">
          <option value="1" selected>One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="filter-item">
        <input class="search-input" placeholder="Tìm kiếm kỳ thi, người tạo">
      </div>
      <div class="filter-item"></div>
      <div class="filter-item" fxLayout="row">
        <button mat-raised-button class="filter-button" fxLayoutAlign="end center">Lọc kết quả</button>
      </div>
    </div> -->
    <div fxLayout="row">
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" matSort >
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef > No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <!-- fuction Column -->
      <ng-container matColumnDef="function">
        <th mat-header-cell *matHeaderCellDef> Chức năng </th>
        <td mat-cell *matCellDef="let row">
          <a routerLink="/dashboard/examination-manager/organize/{{1}}"><span class="material-icons">
              flag
            </span></a>
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
    </table>
    <button mat-raised-button>Xóa</button>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </mat-card-content>
</mat-card>