.mat-card .mat-card-content {
  padding: 10px 18px;
  font-size: 13px;
}

.create-info{
  font-size: 13px;
}

a .create-exam {
  background: #4CAF50;
  color: white;
}

.filter-item{
  width: 245px;
  height: 29px;
}

.filter-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2rem;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #303030;
}

.form-select {
  margin-left: 33px;
  width: 147px;
  height: 29px;
  left: 385px;
  top: 264px;

  border: 0.5px solid #555555;
  box-sizing: border-box;
  border-radius: 2px;
}

.name-filter {
  width: 65px;
  height: 18px;
  left: 287px;
  top: 269px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  color: #555555;

  opacity: 0.98;
}

.filter-button {
  background: #4CAF50;
  border-radius: 2px;
  float: left;
}

table {
  width: 100%;
}

.search-input {
  width: 245px;
  height: 29px;

  border: 0.5px solid #555555;
  box-sizing: border-box;
  border-radius: 2px;
}
