.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1170px;
  background-color: transparent;
}

//tesst
.gradeActived {
  background-color: #438145;
  border-radius: 0;
}

.grade-box {
  // width: 50%;
  //flex: none !important;
  height: 45px;

  &::ng-deep .mat-form-field-infix {
    margin-top: -7px !important;
  }

  &::ng-deep .mat-select-arrow {
    margin-top: 0px !important;
  }
}

.mat-form-field-grade {
  height: 45px;
  width: 100%;
  text-align: start;
  background: rgba(255, 255, 255, 0.7);
}

.mat-form-field-curriculum-destop {
  &::ng-deep .mat-select-value-text {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
  }
}

//
.carousel-function {
  width: 100%;
  height: 407px;
  //background-color: #f4f4f4;
  //background-image: url('../../../../../../assets/images/banner/bannertiengiang.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.grade-header {
  width: 90%;
  height: 30px;

  &::ng-deep .mat-form-field-infix {
    margin-top: -15px !important;
  }

  &::ng-deep .mat-select-arrow {
    margin-top: 0px !important;
  }
}

.grade-header-select {
  height: 30px;
  width: 100%;
  text-align: start;
  background: #FFFFFF;
  border-radius: 3px;
}

.title-box {
  //margin-bottom: -75px;
  margin: 45px 0 43px 0;
}

.title-header {
  text-transform: capitalize;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  /* identical to box height, or 167% */
  text-align: center;
  color: #555555;
}

.search-box {
  margin-bottom: 90px;
}

.input {
  position: relative;
}

.input-search-header {
  width: 100%;
  height: 30px;
  background: #FFFFFF;
  border-radius: 3px;
  padding: 10px;
}

.icon-search {
  position: absolute;
  top: 0;
  right: 3px;
  color: #888888;
}

.input-search {
  height: 45px;
  width: 315px;
  background: #FFFFFF;
  border-radius: 6px 0px 0px 6px;
  padding: 10px 10px 10px 15px;
  border: none;
}

.search-button {
  width: 142px;
  height: 45px;
  background: #4CAF50;
  border-radius: 0px 6px 6px 0px;
  color: white;
  border: none;
  cursor: pointer;
}

.text-title {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 60px;
  /* or 130% */
  color: #303030;
  word-wrap: break-word;
}

.text-intro {
  //width: 70%;
  word-wrap: break-word;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 130% */
  color: #555555;
  text-align: center;
}

.star {
  position: relative;
  bottom: -125px;
  left: 20px;
}

.color-star {
  color: #F3BA2B;
  font-size: 29px;
}

.curriculum {
  background-image: url('../../../../../../assets/images/background/background-curriculum.jpg');
  padding-bottom: 100px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: auto;
}

.curriculum-box {
  margin-top: 60px;
  margin-bottom: 35px;
}

.curriculum-title {
  text-transform: capitalize;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;

  color: #303030;
}

.lesson-container {
  background-image: url('../../../../../../assets/images/background/background-lesson.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-left {
  margin-left: -15px;
  margin-right: 10px;
}

.btn-right {
  margin-left: 10px;
}

:host::ng-deep .mat-select-arrow {
  margin: 0 15px !important;
}

:host ::ng-deep .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
  background-color: #f4f4f4;
}

.m-bt-30 {
  margin-bottom: 30px;
  margin-top: 24px;
}

.content-curriculum {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
}

.content-see-more {
  background: rgba(255, 255, 255, 0.7);
  padding-bottom: 36px;
  border-radius: 0 6px 6px;
}

.list-grades {
  background-color: #4caf50;
  height: 48px;
}

.row-grade {
  //padding-top: 5px;
  height: 48px;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
}

.row-grade:hover {
  background-color: #438145;
  border-radius: 0;
}

.list-lessons {
  margin-left: -15px;
}

.lesson-box {
  margin-right: 20px;
}

.lessons {
  padding-bottom: 50px;
}

.image-lastest-lesson {
  margin-bottom: 3px;
  height: 165px;
}

.lesson-name {
  margin: 0;
  padding: 0px 12px 2px 12px;
  font-size: 16px;
  line-height: 22px;
  color: #303030;
  text-align: start;
  font-weight: bold;
  min-height: 45px;
  // cho hiển thị 2 dòng
  width: 100%; // chiều rộng bằng khối bao nó
  overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
  text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
  -webkit-line-clamp: 2; // số dòng muốn hiển thị
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: pre-wrap;

  ::ng-deep .mat-card-header-text {
    margin: 0;
  }
}

.footer-lesson {
  padding: 0px 12px 0px 12px;
  height: 40px;
}

.teacher-avartar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.teacher-name {
  color: #555555;
  font-size: 12px;
  line-height: 16px;
}

//currculum-selectbox
.currculum-selectbox {
  margin-bottom: 15px;
}

//lesson
.header-card-lesson {
  display: block;
  font-weight: bold;
  padding-bottom: 5px;
}

.avartar-lesson {
  margin-top: 0px;
  border-radius: 6px;
  position: relative;
  height: 155px;
}

.subject-name {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #ffffff;
  border-radius: 6px;
  padding: 5px 7px;
  font-size: 10px;
  font-weight: 700;
}

.publication-learntime-top {
  padding: 0px 12px 7px 12px;
}

.publication-learntime-bottom {
  padding: 0px 12px 12px 12px;
}

.icon {
  height: 12px;
  width: 12px;
  margin-right: 5px;
  margin-top: -6px;
}

.createdDate {
  font-size: 11px;
  color: #888888;
  // margin-bottom: -5px;
}

.time {
  margin-left: 5px;
  font-size: 11px;
  color: #888888;
  margin-bottom: 0px;
}

.real-more-text {
  color: #E02921;
  font-size: 14px;
  font-weight: bold;
  padding: 0px !important
}

.date-btn-detail {
  padding: 0 12px 13px 12px;
}

.seeAll-mobile {
  background-color: #f7f7f7;
  padding: 30px 0;
}

.latest-lessons-show-all-button {
  color: #4CAF50;
  font-weight: bold;
  font-size: 16px;
  background-color: #F7F7F7;
}

.lessons-row {
  margin: 70px 0 35px 0;
}

.lessons-label {
  font-size: 30px;
  font-weight: bold;
  color: #303030;
  text-transform: capitalize;
  // margin-left: 10px;
}


.lessons-show-all-button {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 137% */
  color: #4CAF50;
}

.lessons-show-all-button:hover {
  background: none;
}

.show-all-button-material-icons {
  font-size: 18px;
  margin-bottom: 4px;
}

button.a-button-detail {
  font-size: 10px;
  line-height: 19px;
  border-radius: 30px;
  min-width: 49px;
  padding: 0px;
  box-shadow: none;
}

.mat-card-lesson-lasted {
  cursor: pointer !important;
  border-radius: 6px !important;
  box-shadow: none !important;
}

.mat-card-lesson-lasted:hover {
  box-shadow: 0px 5px 20px rgb(0 0 0 / 5%) !important;
}

.mat-card-lesson {
  cursor: pointer !important;
  border-radius: 6px !important;
  box-shadow: none !important;
}

.mat-card-lesson:hover {
  box-shadow: 0px 5px 20px rgb(0 0 0 / 5%) !important;
}

.news {
  background: white;
  padding-bottom: 60px;
}

.list-news {
  background: white;
}

.news-row {
  margin-bottom: 35px;
}

.list-news-row {
  margin-left: -15px;
}

.mat-card-news {
  cursor: pointer !important;
  border-radius: 7px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.image-news {
  margin-top: 0px;
  height: 180px;
}

.list-grade-a-row {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}

.list-subject-a-row {
  overflow: auto;
  white-space: nowrap;
  margin-left: -15px;
  width: 100%;

  ::-webkit-scrollbar {
    width: 0px !important;
    background: none !important;
  }

  &::after {
    ::-webkit-scrollbar {
      width: 0px !important;
      background: none !important;
    }
  }
}

// ::ng-deep ::-webkit-scrollbar-thumb {
//   border-radius: 0;
//   background: none;
// }



.title-news {
  padding: 20px 12px 0px 12px !important;
  font-weight: bold;
  width: 100%; // chiều rộng bằng khối bao nó
  overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
  text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
  -webkit-line-clamp: 2; // số dòng muốn hiển thị
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-bottom: 9px;
}

.content-news {
  padding: 0 12px 0px 12px !important;
  width: 100%; // chiều rộng bằng khối bao nó
  overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
  text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
  -webkit-line-clamp: 2; // số dòng muốn hiển thị
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-bottom: 0px !important;
}

.content-news-text {
  color: #555555;
  font-size: 14px;
}

.subject-a {
  color: #555555;
}

.feeling-student {
  padding: 70px 0 60px 0;
  background: white;
}

.feeling-student-row {
  height: 456px;
}

.feeling-student-row-left {
  height: 100%;
  margin-left: 57px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

:host::ng-deep .carousel>button {
  top: 95% !important;
}

:host::ng-deep .carousel>button:last-of-type {
  right: 0px !important;
  color: #da251d;
}

:host::ng-deep .carousel>button:first-of-type {
  right: 30px !important;
  left: auto !important;
  color: #da251d;
}

.news-label {
  font-size: 30px;
  font-weight: bold;
  color: #303030;
}


:host::ng-deep .mat-select-value-text {
  margin-left: 15px;
  margin-right: 15px;
  color: #555555;
  font-size: 16px;
  font-weight: 600;
}


:host::ng-deep.subject-mobile-box {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: none !important;

  &:hover {
    background-color: rgba(255, 255, 255, 0.7) !important;
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.7) !important;
  }

  &:not(.mat-expanded):not([aria-disabled=true]) {
    background-color: rgba(255, 255, 255, 0.7) !important;
  }
}

// .mat-form-field-grade {
//   background-color: #F4F4F4;
//   text-align: start;
//   height: 45px;
//   font-weight: 600;
//   font-size: 16px;
//   color: #000000;

//   &::after {
//     background-color: #F4F4F4;
//   }
// }

:host::ng-deep .mat-form-field-underline {
  display: none;
}

:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px !important;
}

:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0.25em;
}

//subject name
a {
  text-decoration: none;
  border-radius: none;
}

.subject-title {
  height: 45px;
  background-color: rgba(255, 255, 255, 0.6);
  //margin-bottom: 2px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 175% */
  color: #555555;
  text-transform: capitalize;
  cursor: pointer;

  overflow: hidden;
  text-overflow: ellipsis;
}

.subject-title:hover {
  //border-left: 3px solid #4caf50;
  cursor: pointer;
  color: #4caf50
}


.chossing-subject-title {
  //border-left: 3px solid #4caf50;
  pointer-events: none;
  cursor: pointer;
}

.chosing-subject {
  color: #4caf50;
}

.subject {
  margin-left: 10px;
}

.center-text-vertical {
  height: 45px;
  line-height: 45px;
  margin-right: 15px;
  margin-left: 10px;
  word-wrap: break-word;
}

.curriculum-name {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #555555;
  margin-bottom: 20px;
}

.title-lable {
  font-size: 36px;
  font-weight: bold;
}


@media only screen and (max-width: 1440px) {
  .image-student {
    width: 100%;
    height: auto;
    margin-left: -25px;
  }

  .rectangle {
    width: 70%;
    height: auto;
    left: -57px !important;
    bottom: -20px !important;
  }

  .brackets {
    width: 15%;
    height: auto;
    right: 100px !important;
    top: -30px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    margin: 0 50px;
  }

  .mat-form-field-grade {
    border-radius: 6px;
  }

  .image-student {
    width: 100%;
    height: auto;
    margin-left: -25px;
  }

  .rectangle {
    width: 70%;
    height: auto;
    left: -57px !important;
    bottom: -20px !important;
  }

  .brackets {
    width: 15%;
    height: auto;
    right: 100px !important;
    top: -30px !important;
  }
}

@media only screen and (max-width: 525px) {
  .carousel-function {
    background-image: url('../../../../../../assets/images/background/background-header-mobile.jpg') !important;
    height: 350px;
    justify-content: center !important;
  }

  .search-box {
    margin-bottom: 0;
    width: 90%;
  }

  .title-header {
    text-transform: capitalize;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    /* identical to box height, or 167% */
    text-align: center;
    color: #555555;
    font-family: 'Open Sans', sans-serif;
  }

  .title-box{
    margin: 0 0 50px;
  }

  .lesson-name{
    min-height: unset;
  }

  button.a-button-detail{
    min-width: 60px;
  }

  .chapter-name{
    font-size: 15px !important;
    line-height: 25px !important;
  }

  .message{
    font-size: 15px !important;
  }

  .image-lastest-lesson{
    object-fit: cover;
  }

  .curriculum-title,
  .lessons-label {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
  }

  .grade-header-select {
    // height: unset;
    height: 35px;
    padding: 9px 0 0 5px;
  }

  .grade-header {
    width: 90%;
    height: 36px;
  }

  :host ::ng-deep .mat-select-value-text {
    margin-left: 10px !important;
    font-size: 14px !important;
    font-weight: unset !important;
  }

  .curriculum-box, .lessons-row {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .content-not-found {
    padding: 0 !important;
    height: 200px !important;

    .image-not-found {
      height: auto !important;
      width: 100px !important;
    }
  }

  .text-intro {
    width: 100%;
    word-wrap: break-word;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 130% */
    color: #555555;
    text-align: center;
  }

  .search-button {
    // width: 54px;
    height: 40px;
    background: #4CAF50;
    border-radius: 0px 3px 3px 0px;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;

    .mat-icon {
      color: #FFFFFF;
    }
  }

  .input-search {
    background: #FFFFFF;
    padding: 10px 10px 10px 15px;
    border: none;
    // width: 315px;
    // height: 45px;
    border-radius: 3px 0px 0px 3px;
    font-family: 'Open Sans', sans-serif;
    height: 40px;
    width: 100%;
  }

  .content-not-found {
    margin: 0 0 20px !important;
  }

  .mt-40 {
    margin-top: 40px;
  }

  .container {
    margin: 0 20px;
  }

  .mat-card-lesson-lasted {
    margin-left: 30px;
    max-width: 340px !important;
  }

  .mat-form-field-grade {
    border-radius: 6px;
  }

  :host::ng-deep .mat-expansion-panel-body {
    padding: 0 12px !important;
  }

  .mat-form-field-curriculum {
    background-color: #4caf50;

    &::ng-deep .mat-select-value-text {
      color: white;
      font-size: 15px;
    }

    &::ng-deep .mat-select-arrow {
      color: white;
    }

    &::ng-deep .mat-form-field-infix {
      margin-top: -5px !important;
    }
  }

  .mat-card-lesson {
    margin-left: 30px;
    max-width: 340px !important;
  }

  .curriculum-box {
    font-style: normal;
    font-weight: bold;
    font-size: 26px !important;
    line-height: 35px;
    text-align: center;
    color: #303030;
  }

  .text-title {
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #303030;
  }
}

// @media only screen and (max-width: 768px) {
//   .content-not-found {
//     margin: 0 0 20px !important;
//   }

//   .curriculum {
//     padding-bottom: 50px;
//   }

//   .lessons-label {
//     margin-left: 15px;
//   }

//   .news-label {
//     margin-left: 15px;
//   }

//   .mat-card-lesson-lasted {
//     margin-left: 30px;
//   }

//   .mat-card-lesson {
//     margin-left: 30px;
//   }

//   .mat-card-news {
//     margin-left: 30px;
//   }

//   .grade-box {
//     width: 50%;
//     margin: 0 auto;
//     padding-bottom: 40px;
//     //margin-bottom: 60px !important;
//   }

//   .feeling-student {
//     padding: 45px 0 30px 0;
//     background: white;
//   }

//   .curriculum-title {
//     font-weight: bold;
//     font-size: 26px;
//     line-height: 35px;
//     text-align: center;

//     color: #303030;
//   }

//   .grade-subject {
//     margin: 0 auto;
//   }

//   .curriculum-box {
//     font-style: normal;
//     font-weight: bold;
//     font-size: 26px !important;
//     line-height: 35px;
//     text-align: center;
//     color: #303030;
//   }

//   .title-lable {
//     font-size: 25px;
//     margin-left: 15px;
//   }

//   .image-student {
//     width: 100%;
//     height: auto;
//     margin-left: -25px;
//   }

//   .rectangle {
//     width: 70%;
//     height: auto;
//     left: -57px !important;
//     bottom: -20px !important;
//   }

//   .brackets {
//     width: 15%;
//     height: auto;
//     right: 100px !important;
//     top: -30px !important;
//   }

//   //banner
//   .banner {
//     background: #f7f7f7 !important;
//   }

//   .input-search {
//     background: #FFFFFF;
//     padding: 10px 10px 10px 15px;
//     border: none;

//     width: 299px;
//     height: 45px;
//     border-radius: 6px;
//   }

//   .search-button {
//     color: white;
//     border: none;
//     width: 120px;
//     height: 38px;
//     left: 106px;
//     top: 543px;
//     background: #4caf50;
//     border-radius: 6px;
//     cursor: pointer;
//   }

//   .text-title {
//     font-weight: bold;
//     font-size: 23px;
//     line-height: 30px;
//     text-align: start;
//     color: #303030;
//   }

//   .text-intro {
//     width: 96%;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 16px;
//     line-height: 26px;
//     /* or 130% */
//     text-align: start;
//     color: #555555;
//   }

//   .mat-form-field-curriculum {
//     background-color: #4caf50;

//     &::ng-deep .mat-select-value-text {
//       color: white;
//     }

//     &::ng-deep .mat-select-arrow {
//       color: white;
//     }

//     &::ng-deep .mat-form-field-infix {
//       margin-top: -7px !important;
//     }
//   }

// }

@media only screen and (min-width: 1441px) {
  .carousel-function {
    width: 100%;
    height: 540px;
    background-image: url('../../../../../../assets/images/banner/bannertiengiang.jpg');

    background-repeat: no-repeat;
    background-size: cover;
  }
}

// làm chỗ ảnh sinh viên
.student-image {
  position: relative;
  z-index: 1;
}

.rectangle {
  position: absolute;
  left: -44px;
  bottom: -25px;
  z-index: -1;
}

.brackets {
  position: absolute;
  right: 60px;
  top: -58px;
}


.unit {
  display: flex;
  height: 0;
}

.chapter-box {
  padding: 0 38px;
}

.chapter-name {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  color: #303030;
  word-wrap: break-word
}

.unit-name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  color: #303030;
  cursor: pointer;
}

.unit-name:hover {
  color: #4CAF50
}

.dot {
  width: 6px;
  margin-right: 7px
}

.container-moble {
  margin: 0;
  padding: 0;
}

.height-mobile {
  height: auto;
  display: block;
  margin-bottom: 150px;
}

.scroll-to-top {
  height: 50px;
  //background-color: white;
}

button.hidden-curriculum {
  font-size: 10px;
  line-height: 40px;
  border-radius: 2px;
  min-width: 40px;
  padding: 0px;
  margin-right: 10px;
  float: right;
}

// .mat-select{
//   margin-top: 10px;
// }

.content-not-found {
  margin: 0 0 20px !important;
  // padding: 160px !important;
  box-shadow: none !important;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  height: 500px
}

.suggest {
  margin-top: 30px;
}

.message {
  font-size: 16px;
  line-height: 22px;
  color: #a1a1a1;
  font-weight: 400;
  text-align: center;
}



:host ::ng-deep {
  .icon-svg {
    svg {
      path {
        fill: #7E8485 !important;
      }
    }
  }

  mat-icon {
    color: #7E8485;
  }

  .selected {
    svg {
      path {
        fill: #4CAF50 !important;
      }
    }

    mat-icon {
      color: #4CAF50 !important;
    }
  }

  .subject-title:hover {
    svg {
      path {
        fill: #4CAF50 !important;
      }
    }

    mat-icon {
      color: #4CAF50 !important;
    }
  }
}
