<div>
  <div *ngIf="isReady" class="carousel-function"  fxLayout="column"
    fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="center center" class="title-box">
      <span class="title-header">
        tìm kiếm các bài giảng
      </span>
      <span class="text-intro">Hệ thống học tập trực tuyến với hàng ngàn bài
        giảng và tài liệu dành riêng cho
        bạn</span>
    </div>

    <div class="search-box" fxLayout=row fxLayoutAlign="center center" fxLayoutAlign.sm="start start"
      (keydown.enter)="searchLesson()">
      <input type="text" placeholder="Tìm kiếm các bài giảng..." [(ngModel)]="lessonName" class="input-search">
      <button class="search-button" fxLayoutAlign="center center" (click)="searchLesson()" (click)="onScrollClick(lesson)">
        <mat-icon style="color: white;">search</mat-icon>
        <span fxHide.xs>Tìm kiếm</span>
      </button>
    </div>
    <div id='mat-drawer-content' style="color: rgba(0, 0, 0, 0);">abc</div>

    <!-- <div fxFlex=100 fxLayout=row fxLayout.xs="column" fxLayoutGap.xs="20px">
        <div fxFlex=10.5 fxHide.xs fxFlex.md="6" fxFlex.gt-lg="8"></div>
        <div class="mt-40" fxFlex=40 fxLayout=column fxLayoutAlign="center start" fxLayoutAlign.xs="center center"
          fxLayoutGap.sm="15px" fxLayoutGap="25px">
          <div fxLayout=column fxLayoutAlign.xs="center center">
            <span class="text-title">Tìm kiếm các</span>
            <span class="text-title">bài giảng phù hợp</span>
          </div>
          <span class="text-intro" fxLayoutAlign.xs="center center">Hệ thống học tập trực tuyến với hàng ngàn bài
            giảng và tài liệu dành riêng cho
            bạn</span>
          <div fxLayout=row fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center"
            fxLayoutAlign.sm="start start" fxLayoutGap.sm="15px" fxLayoutGap.xs="20px" (keydown.enter)="searchLesson()">
            <input type="text" placeholder="Tìm kiếm các bài giảng..." [(ngModel)]="lessonName" class="input-search">
            <button class="search-button" fxLayoutAlign="center center" (click)="searchLesson()">
              <mat-icon>search</mat-icon>
              Tìm kiếm
            </button>
          </div>
        </div>
        <div fxFlex=50 fxFlex.xs=55 fxLayout="row" fxLayoutAlign="center center">
          <img src="../../../../../../assets/images/background/banner-mobile.jpg">
        </div>
      </div> -->
  </div>

  <div class="list-grades">
    <ng-container *ngIf="width > 768; else elseT">
      <div class="container" >
        <ng-container *ngIf="listGradesDashboard?.length<=4; else elsegrade">
          <div class="list-grade-a-row" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
            <div *ngFor="let grade of listGradesDashboard">
              <button class="row-grade" mat-button [ngClass]="{'gradeActived': (grade.id == gradeId)}">
                {{grade.name}}
              </button>
            </div>
          </div>
        </ng-container>
        <ng-template #elsegrade>
          <div class="list-grade-a-row" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
            <div *ngFor="let grade of listGradesDashboard">
              <button class="row-grade" mat-button [ngClass]="{'gradeActived': (grade.id == gradeId)}"
                (click)="gradeNavigateTo(grade.id)">
                {{grade.name}}
              </button>
            </div>
          </div>
        </ng-template>
      </div>
    </ng-container>
    <ng-template #elseT>
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
        <form fxFlex="90" class="grade-header">
          <mat-form-field class="grade-header-select">
            <mat-select (selectionChange)="gradeNavigateTo($event.value)" [value]="selected">
              <mat-option *ngFor="let grade of listGradesDashboard" [value]="grade.id"
                (click)="gradeNavigateTo(grade.id)">
                {{grade.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </ng-template>
  </div>

  <div #lesson class="curriculum">
    <div class="container" [ngClass.xs]="{'container-moble':true}" fxLayout="column">
      <div class="curriculum-box" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
        <span class="curriculum-title">
          Khung chương trình
        </span>
      </div>

      <div class="curriculum-row" fxLayout="row" fxLayoutAlign.xs="center center" fxFlex="100" fxLayoutGap="40px"
        *ngIf="listSubjectsDashboard.length > 0">
        <div class="grade-subject" fxLayout="column" fxFlex="25" fxFlex.sm=100 fxFlex.xs=90 fxFlex.md=30
          fxLayoutGap="15px">

          <div fxLayout="column" fxLayoutGap.xs="20px" fxLayoutGap.sm="20px" style="border-radius: 6px;">
            <ng-container *ngIf="width <= 768; else elseTemplate">
              <mat-accordion *ngFor="let subject of listSubjectsDashboard;let i = index">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                  [expanded]="currentSubject==i" class="subject-mobile-box">
                  <mat-expansion-panel-header (click)="choseCurriculum(subject, i)">
                    <mat-panel-title>
                      {{subject.name}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <div class="currculum-selectbox" *ngIf="currculum?.length != 0">
                      <!--Tên khung chương trình mobile-->
                      <form fxFlex="100" class="grade-box">
                        <mat-form-field class="mat-form-field-grade mat-form-field-curriculum">
                          <mat-select (selectionChange)="curriculumChange($event.value)" [value]="selectedcurriculum">
                            <mat-option *ngFor="let currculum of currculum" [value]="currculum.curriculumId">
                              {{currculum.curriculumName}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </form>
                    </div>

                    <div *ngFor="let item of listCurriculum" fxLayout="column" style="margin-bottom: 15px">
                      <span class="chapter-name">
                        {{item.curriculumName}}
                      </span>
                      <div *ngFor="let i of item.lessons"
                        (click)="seeLessonOfCurriculum(item.curriculumId, i.lessonId)">
                        <span class="unit-name">{{i.lessonName}}</span>
                      </div>
                    </div>

                    <div *ngIf="currculum?.length == 0">
                      <mat-card fxFlex=100 fxLayout="column" fxLayoutAlign="center center" class="content-not-found">
                        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                          <img src="../../../../../assets/images/lesson/lessonNotFound.png" class="image-not-found"
                            alt="">
                          <div class="suggest" fxLayoutAlign.xs="center center">
                            <span class="message">Hiện tại chưa có dữ liệu.</span>
                          </div>
                        </div>
                      </mat-card>
                    </div>

                  </ng-template>
                </mat-expansion-panel>
              </mat-accordion>
            </ng-container>
            <ng-template #elseTemplate>
              <a class="subject-title" fxFlex="100" fxLayout="column"
                [ngClass]="{'chossing-subject-title': currentSubject == i}"
                *ngFor="let subject of listSubjectsDashboard;let i=index" fxLayoutAlign="start start"
                (click)="choseCurriculum(subject, i)">

                <div fxLayout="row" fxLayoutAlign="start center" class="subject">
                  <div fxLayoutAlign="start center">
                    <mat-icon svgIcon="{{subject.icon}}" [ngClass]="{'selected': currentSubject == i}">
                    </mat-icon>
                  </div>

                  <span class="center-text-vertical text-wrap" [ngClass]="{'chosing-subject': currentSubject == i}"
                    #tooltip="matTooltip" matTooltip="{{subject.name}}">
                    {{subject.name}}
                  </span>

                </div>
              </a>
            </ng-template>
          </div>
          <div fxLayout.xs=row fxLayoutAlign="center center" fxHide.md fxHide.gt-md fxHide.gt-lg fxHide.xl>
            <button mat-raised-button color="primary" (click)="seeMore()">Xem thêm</button>
          </div>
        </div>

        <div fxLayout="column" fxFlex=100 class="curriculum-content" fxHide.xs fxHide.sm>
          <div class="currculum-selectbox" *ngIf="currculum?.length != 0">
            <!--Tên khung chương trình-->
            <form fxFlex="100" class="grade-box">
              <mat-form-field class="mat-form-field-grade mat-form-field-curriculum-destop">
                <mat-select (selectionChange)="curriculumChange($event.value)" [value]="selectedcurriculum"
                  class="mat-select">
                  <mat-option *ngFor="let currculum of currculum" [value]="currculum.curriculumId">
                    {{currculum.curriculumName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>

          <div class="content-curriculum">
            <div *ngFor="let item of listCurriculum" fxLayout="column" class="m-bt-30">
              <div fxLayout="row">
                <div fxFlex=50 fxLayout="column" fxLayoutAlign="center start" class="chapter-box">
                  <span class="chapter-name">
                    {{item.curriculumName}}
                  </span>
                </div>
                <div fxLayout="column" fxFlex=50>
                  <div *ngFor="let i of item.lessons" fxLayout='row' class="lesson-box">
                    <span fxFlex=3>
                      <mat-icon svgIcon="dot" class="dot"></mat-icon>
                    </span>
                    <!-- <mat-icon svgIcon="dot" class="dot"></mat-icon> -->
                    <span fxFlex=97 class="unit-name"
                      (click)="seeLessonOfCurriculum(item.curriculumId, i.lessonId)">{{i.lessonName}}</span>
                  </div>
                </div>
              </div>
              <div fxFlex=100 style="margin: 0;">
                <hr style="background: #f2f2f2;">
              </div>
            </div>
          </div>

          <div *ngIf="currculum?.length == 0">
            <mat-card fxFlex=100 fxLayout="column" fxLayoutAlign="center center" class="content-not-found">
              <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                <img src="../../../../../assets/images/lesson/lessonNotFound.png" class="image-not-found" alt="">
                <div class="suggest" fxLayoutAlign.xs="center center">
                  <span class="message">Hiện tại, môn học này chưa cập nhật khung chương trình!</span>
                </div>
              </div>
            </mat-card>
          </div>

          <div fxLayout="row" class="content-see-more" *ngIf="listCurriculum.length > 0">
            <div fxFlex=50></div>
            <div fxFlex=50>
              <button mat-raised-button color="primary" (click)="seeMore()">Xem thêm</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lesson-container">
    <div class="container" fxLayout="column" [ngClass.xs]="{'container-moble':true}"
      [ngClass.sm]="{'container-moble':true}">
      <div fxLayout="row" class="lessons-row" fxFlex="100">
        <label class="lessons-label" fxFlex="50" fxLayoutAlign="start end" fxFlex.xs="100"
          fxLayoutAlign.xs="center center">
          bài giảng mới nhất
        </label>
        <div fxFlex="50" fxLayoutAlign="end end" fxHide.xs>
          <button mat-button class="lessons-show-all-button" (click)="seeAllLesson()">Xem tất cả
            <span class="material-icons show-all-button-material-icons">
              arrow_forward_ios
            </span>
          </button>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap.xs="25px" fxFlex=100 class="list-lessons">
        <div *ngFor="let lesson of lastedLesson" fxFlex="25" fxFlex.md="50" fxFlex.sm="50"
          fxLayoutAlign="center center">
          <mat-card fxFlex="100" class="mat-card-lesson-lasted" [routerLink]="['/detail-lesson']"
            [queryParams]="{lesson: lesson.id, gradeId: gradeId}" queryParamsHandling="merge">
            <img mat-card-image src="{{lesson.avatarUrl}}" class="image-lastest-lesson">
            <span class="lesson-name">
              {{lesson.lessonName}}
            </span>
            <div fxLayout="row" class="footer-lesson">
              <div fxFlex="75" fxLayoutAlign="start center">
                <img src="{{lesson.teacherAvatar}}" class="teacher-avartar">
                <p class="teacher-name"> GV: {{lesson.teacherName}}
                </p>
              </div>
              <div class="button-detail" fxFlex="25" fxLayoutAlign="end center">
                <button mat-raised-button color="primary" class="a-button-detail">Chi tiết</button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>

    <div fxLayout.xs="row" fxLayoutAlign.xs="center center" fxLayoutAlign.sm="center center"
      fxLayoutAlign.md="center center" fxHide.sm fxHide.md fxHide.gt-md fxHide.gt-lg fxHide.xl>
      <button mat-button class="latest-lessons-show-all-button" (click)="seeAllLesson()">Xem tất cả
        <span class="material-icons show-all-button-material-icons">
          arrow_forward_ios
        </span>
      </button>
    </div>

    <div class="container lessons" fxLayout="column" [ngClass.xs]="{'container-moble':true}"
      [ngClass.sm]="{'container-moble':true}">
      <div fxLayout="row" class="lessons-row" fxFlex="100">
        <label class="lessons-label" fxFlex="50" fxLayoutAlign="start end" fxFlex.xs="100"
          fxLayoutAlign.xs="center center">
          bài giảng
        </label>
        <div fxFlex="50" fxLayoutAlign="end end" fxHide.xs>
          <button mat-button class="lessons-show-all-button" (click)="seeAllLesson()">Xem tất cả
            <span class="material-icons show-all-button-material-icons">
              arrow_forward_ios
            </span>
          </button>
        </div>
      </div>

      <div fxLayout=row fxHide.sm fxHide.xs>
        <button mat-icon-button (click)="scrollLeft(list)" class="btn-left">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <div class="list-subject-a-row" fxFlex="100" fxLayout="row" #list>
          <div *ngFor="let subject of listSubjects" fxLayoutAlign="center center">
            <a mat-button class="subject-a" target="_blank" (click)="choseSubject(subject.id)">{{subject.name}}</a>
          </div>
        </div>
        <button mat-icon-button (click)="scrollRight(list)" class="btn-right">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>


      <div fxLayout="row wrap" fxLayout.xs="column" fxFlex=100 class="list-lessons">
        <div *ngFor="let lesson of lessons;let i=index;" fxFlex="25" fxFlex.md="50" fxFlex.sm="50"
          fxLayoutAlign="center center" class="list-lesson">
          <mat-card fxFlex="100" class="mat-card-lesson" [routerLink]="['/detail-lesson']"
            [queryParams]="{lesson: lesson.id}" queryParamsHandling="merge">
            <mat-card-header class="header-card-lesson">
              <img mat-card-image src="{{lesson.avatarUrl}}" class="avartar-lesson">
              <div class="subject-name" [style.background-color]="listColor[i]">
                {{lesson.subjectName}}
              </div>
            </mat-card-header>
            <span class="lesson-name">
              {{lesson.lessonName}}
            </span>
            <div fxLayout="row" class="footer-lesson">
              <div class="info-teacher" fxLayoutAlign="start center">
                <img src="{{lesson.teacherAvatar}}" class="teacher-avartar">
                <p class="teacher-name"> GV: {{lesson.teacherName}}</p>
              </div>
            </div>
            <div fxLayout="row" class="publication-learntime-top">
              <div fxFlex="50" fxLayoutAlign="start center">
                <mat-icon svgIcon="icon-publication-date-flag-list-lesson" class="icon"></mat-icon>
                <span class="createdDate">
                  Ngày phát hành
                </span>
              </div>
              <div fxFlex="50" fxLayoutAlign="end center">
                <span class="createdDate">
                  {{lesson.approvedDate | date:'dd-MM-yyyy'}}
                </span>
              </div>
            </div>
            <div fxLayout="row" class="publication-learntime-bottom">
              <div fxFlex="50" fxLayoutAlign="start center">
                <mat-icon svgIcon="icon-learn-time-list-lesson" class="icon"></mat-icon>
                <span class="createdDate">
                  Thời gian học
                </span>
              </div>
              <div fxFlex="50" fxLayoutAlign="end center">
                <ng-container *ngIf="lesson.learnTime == 'INF'; else elseTemplate">
                  <span class="time">Vô thời hạn</span>
                </ng-container>
                <ng-template #elseTemplate>
                  <span class="time">
                    {{lesson.interval}} ngày</span>
                  <!-- {{lesson.endDate | date:'dd-MM-yyyy'}}</span> -->
                </ng-template>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="scroll-to-top">
      <button mat-raised-button color="primary" class="hidden-curriculum" (click)="gotoTop()">
        <span class="material-icons">
          expand_less
        </span>
      </button>
    </div>
  </div>

  <div fxLayout.xs="row" class="seeAll-mobile" fxLayoutAlign.xs="center center" fxHide.md fxHide.gt-md fxHide.gt-lg
    fxHide.sm fxHide.xl>
    <button mat-button class="latest-lessons-show-all-button" (click)="seeAllLesson()">Xem tất cả
      <span class="material-icons show-all-button-material-icons">
        arrow_forward_ios
      </span>
    </button>
  </div>
</div>



<!-- <div fxLayout="row" fxLayoutGap.md="20px" fxLayoutGap.sm="20px" fxLayoutGap.xs="50px" class="feeling-student"
  fxLayout.xs="column">
  <div class="feeling-student-row-left" fxLayoutAlign="center center" fxFlex="40">
    <div class="student-image">
      <img src="../../../../../../assets/images/background/feeling-student-row-left.png" alt="ảnh sinh viên"
        class="image-student">
      <img src="../../../../../../assets/images/design-image/rectangle.png" alt="rectangle" class="rectangle">
      <img src="../../../../../../assets/images/design-image/brackets.png" alt="brackets" class="brackets">
    </div>
  </div>

  <div fxLayoutAlign="start start" fxFlex="45" fxLayout="column">
    <label class="title-lable">CẢM NGHĨ HỌC VIÊN</label>
    <div style="min-width: 100%">
      <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" maxWidth="auto" proportion={{proportion}}
        slides="3" [loop]="true" [hideArrows]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr"
        class="mat-carousel-feeling">
        <mat-carousel-slide #matCarouselSlide *ngFor="let feelingStudent of listFeelingStudent; let i = index"
          [hideOverlay]="true" class="mat-carousel-slide-feeling">
          <div
            style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: start; justify-content: start">
            <mat-card class="example-card"
              style="box-shadow:0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important">
              <mat-card-header style="padding:0px">
                <div mat-card-avatar style="background-image: url({{feelingStudent.avatar}});
                  background-size: cover; height: 63px; width: 63px;"></div>
                <mat-card-title style="font-weight: bold; font-size: 16px; color: #303030; padding-top: 10px;">
                  {{feelingStudent.name}}</mat-card-title>
                <mat-card-subtitle style="font-size: 14px; color: #555555;">{{feelingStudent.role}}
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content style="padding: 20px 0px 0px 0px;">
                <p style="font-size: 16px; color: #303030;">
                  {{feelingStudent.feeling}}
                </p>
              </mat-card-content>
              <div>
                <mat-icon class="color-star">star</mat-icon>
                <mat-icon class="color-star">star</mat-icon>
                <mat-icon class="color-star">star</mat-icon>
                <mat-icon class="color-star">star</mat-icon>
                <mat-icon class="color-star">star_border</mat-icon>
              </div>
            </mat-card>

          </div>
        </mat-carousel-slide>
      </mat-carousel>
    </div>
  </div>
</div>

<div class="news">
  <div class="container" fxLayout="column" [ngClass.sm]="{'container-moble':true}"
    [ngClass.xs]="{'container-moble':true}">
    <div fxLayout="row" class="news-row" fxFlex="100">
      <label class="news-label" fxFlex="50" fxLayoutAlign="start end">
        TIN TỨC
      </label>
      <div class="show-all-button-div" fxFlex="50" fxLayoutAlign="end end">
        <button mat-button class="lessons-show-all-button">XEM TẤT CẢ
          <span class="material-icons show-all-button-material-icons">
            arrow_forward_ios
          </span>
        </button>
      </div>
    </div>

    <div fxLayout="row wrap" fxLayout.xs="column" class="list-news-row" fxFlex=100>
      <div *ngFor="let news of listNews" fxFlex="25" fxFlex.md="50" fxFlex.sm="50" fxLayoutAlign="center center"
        class="list-news">
        <mat-card fxFlex="100" class="mat-card-news" href={{news.link}} target="_blank">
          <img mat-card-image src="{{news.avatar}}" class="image-news">

          <mat-card-header class="title-news">
            {{news.title}}
          </mat-card-header>

          <mat-card-content class="content-news">
            <p class="content-news-text"> {{news.summary}}
            </p>
          </mat-card-content>

          <div fxLayout="row" class="date-btn-detail" fxLayoutAlign="center center">
            <div fxFlex="50" fxLayoutAlign="start center">
              <mat-icon svgIcon="icon-learn-time-list-lesson" class="icon"></mat-icon>
              <p class="time">{{news.date}}
            </div>
            <div fxFlex="50" fxLayoutAlign="end end">
              <a mat-button href={{news.link}} target="_blank" class="real-more-text">
                Đọc tiếp
                <span class="material-icons">
                  east
                </span>
              </a>
            </div>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div> -->