<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutGap.gt-md="20px grid" fxLayoutAlign="start center"
        class="filter-wrapper">
        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">
          <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
            <mat-label>Khối</mat-label>
            <mat-select [formControl]="gradeCtrl" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering
              (selectionChange)="onChangeGradeSelected($event.value)">
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="gradeFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]=null>Chọn khối</mat-option>
              <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                {{grade.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">
          <mat-form-field appearance="outline" (click)="onSubjectSelectClicked()">
            <mat-label>Môn</mat-label>
            <mat-select [disabled]="gradeCtrl.value==null" [formControl]="subjectCtrl" placeholder="Chọn môn"
              #singleSelectSubject disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm môn" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="subjectFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]=null>Chọn môn</mat-option>
              <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.id">
                {{subject.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">
          <mat-form-field appearance="outline" (click)="onTeacherSelectClicked()">
            <mat-label>Giáo viên</mat-label>
            <mat-select [formControl]="teacherCtrl" placeholder="Chọn giáo viên" #singleSelectSubject
              disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm giáo viên" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="teacherFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]=null>Chọn giáo viên</mat-option>
              <mat-option *ngFor="let teacher of filteredTeachers | async" [value]="teacher.id">
                {{teacher.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div fxFlex fxLayoutAlign="center center">
          <button mat-raised-button color="primary" (click)="filterLessonReport()">
            <mat-icon matSuffix>filter_list</mat-icon>
            Lọc kết quả
          </button>
        </div>

        <div fxFlex fxLayoutAlign="center center">
          <button mat-raised-button color="primary" (click)="exportExcel()">
            <mat-icon matSuffix>file_download</mat-icon>
            Xuất dữ liệu
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <app-spinner2></app-spinner2>
    <div class="table-responsive">
      <table mat-table [dataSource]="historyLessonLearnVM">
        <!-- Position Column -->
        <ng-container matColumnDef="STT">
          <th mat-header-cell *matHeaderCellDef style="min-width: 60px;">
            STT </th>
          <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Tên bài giảng</th>
          <td mat-cell *matCellDef="let element" class="mat-main-column-us">
            {{element.lessonName}}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef>
            Môn học
          </th>
          <td mat-cell *matCellDef="let element" class="mat-main-column-gv"> {{element.subjectName}}
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="grade">
          <th mat-header-cell *matHeaderCellDef>
            Khối </th>
          <td mat-cell *matCellDef="let element" class="mat-main-column-gr"> {{element.gradeName}}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="creator">
          <th mat-header-cell *matHeaderCellDef> Tên giáo viên </th>
          <td mat-cell *matCellDef="let element" class="mat-main-column-gv"> {{element.teacherName}} </td>
        </ng-container>

        <ng-container matColumnDef="registerDate">
          <th mat-header-cell *matHeaderCellDef> Thời gian ghi danh </th>
          <td mat-cell *matCellDef="let element">
            <b><span class="text-green bold">{{element.registrationDate | date:'HH:mm'}}</span></b>
            {{element.registrationDate | date:' dd/MM/yyyy '}}
          </td>
        </ng-container>

        <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef> Thời gian bắt đầu </th>
          <td mat-cell *matCellDef="let element">
            <b><span class="text-green bold">{{element.startDate | date:'HH:mm'}}</span></b>
            {{element.startDate | date:' dd/MM/yyyy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="endTime">
          <th mat-header-cell *matHeaderCellDef> Thời gian kết thúc </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="!element.completionDate">
              -
            </span>
            <span *ngIf="element.completionDate">
              <b><span class="text-danger">{{element.completionDate | date:'HH:mm'}}</span></b>
              {{element.completionDate | date:' dd/MM/yyyy'}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="scope">
          <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
          <td mat-cell *matCellDef="let element">

            <circle-progress [percent]="element.percentageOfCompletion" [showSubtitle]="false" [radius]="17"
              [outerStrokeWidth]="5" [innerStrokeWidth]="5" [space]="-5" [outerStrokeColor]="'#4FB153'"
              [unitsFontSize]="11" [titleFontSize]="11" [titleColor]="'#4FB153'" [unitsColor]="'#4FB153'"
              [innerStrokeColor]="'#E9E9E9'" [animation]="true" [animationDuration]="300" [showInnerStroke]="true">
            </circle-progress>
          </td>
        </ng-container>

        <ng-container matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef> Kết quả </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.percentageOfCompletion==100" class="approved"> {{element.result}} </span>
            <span *ngIf="element.percentageOfCompletion<100">-</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="assessmentLevelName">
          <th mat-header-cell *matHeaderCellDef> Xếp loại </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.assessmentLevelName != '' && element.assessmentLevelName != null" class="approved">
              {{element.assessmentLevelName}} </span>
            <span *ngIf="element.assessmentLevelName == '' || element.assessmentLevelName == null">-</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell background-no-content text-center" colspan="10">
            <div class="background-no-content-img"></div>
            Không tìm thấy bài giảng
          </td>
        </tr>
      </table>
      <div fxLayout="row" fxLayoutAlign="end end" class="paggination">
      <mat-paginator [length]="dataLessonReportPagination.totalItems" [pageSizeOptions]="[10, 20, 50, 100]">
      </mat-paginator>
    </div>
    </div>
  </mat-card>
</div>