
.title-header {
  color: #303030;
  opacity: 0.98;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
}

.leson-name-header {
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  opacity: 0.98;
}


.item-value {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}


.content-body {
  margin-top: 13px;
}

.name {
  color: #303030;
  opacity: 0.98;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  padding-left: 34px;
}




:host::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
}


:host::ng-deep .mat-expansion-panel-spacing {
  margin: 0;
}

shadow :host::ng-deep .mat-expansion-panel {
  box-shadow: none;
}

.mat-expanded .mat-expansion-panel-header-title .material-icons {
  transform: rotate(0deg);
}

.mat-expansion-panel-header-title .open,
.mat-expanded .mat-expansion-panel-header-title .close {
  display: inline-block;
}

.mat-expanded .mat-expansion-panel-header-title .open,
.mat-expansion-panel-header-title .close {
  display: none;
}


// //paging
::ng-deep .ngx-pagination .current {
  border-radius: 50%;
  background: #4caf50 !important;

}

:host ::ng-deep .my-pagination {
  $color: gray;

  li {
    border-radius: 50%;
    border: white;
    background: white;
    color: $color;
    margin: 10px;
    width: 35px;
    height: 35px;
    padding: 5px 3px 0 3px;
    text-align: center;

    &.current {
      color: white;
      padding: 8px 3px 0 3px;
    }

    &>a span {
      margin-top: 3px;
      color: lightgray;
    }

    &.pagination-next a::after,
    &.pagination-previous a::before,
    &.pagination-next.disabled::after,
    &.pagination-previous.disabled::before {
      margin-left: 0;
      margin-right: 0;
      color: $color;
    }

    a:hover,
    button:hover {
      border-radius: 50%;
    }
  }
}

@media(max-width: 600px) {

  :host ::ng-deep .ngx-pagination {
    padding-left: 0px;
  }
}
.mat-main-column-us {
  font-weight: 600 !important;
  color: #555555 !important;
  width: 22%;
}
.mat-main-column-gr{
  width: 5%;
}
.mat-main-column-gv{
  width: 13%;
}