<div>
  <div class="text-center pb-4"><b class="title"> DANH SÁCH THÍ SINH</b></div>
</div>
<div class="apply-css-alpha">
  <div fxLayout="row" fxLayoutGap="15px Grid">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex=30 fxLayoutGap="15px Grid">
      <div fxFlex="100" fxLayoutAlign="start center">
        <mat-form-field appearance="outline" (click)="onGroupStudentSelectClicked()">
          <mat-label>Chọn lớp</mat-label>
          <mat-select [formControl]="groupStudentCtrl" placeholder="Chọn lớp" #singleSelectGroupStudent
            disableOptionCentering>
            <mat-option>
              <ngx-mat-select-search placeholderLabel="Tìm lớp" noEntriesFoundLabel="Không tìm thấy"
                [formControl]="groupStudentFilterCtrl">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option [value]="">
              Tất cả
            </mat-option>
            <mat-option *ngFor="let groupStudent of filteredGroupStudents | async" [value]="groupStudent.id">
              {{groupStudent.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <div fxLayout="row" fxFlex=30 fxLayoutAlign="start center" class="margin-0-10" fxLayoutGap="15px Grid">
      <mat-form-field fxFlex="100" appearance="outline">
        <mat-label>Tìm kiếm</mat-label>
        <input matInput [formControl]="keyWordCtrl" placeholder="Tìm kiếm theo tên, mã học sinh...">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxFlex fxLayoutGap="10px" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" (click)="exportExcel()">
        <mat-icon matSuffix>file_download</mat-icon> Xuất dữ liệu
      </button>
      <button mat-raised-button color="primary" (click)="onSubmitFilter()">
        <mat-icon matSuffix>filter_list</mat-icon>
        Lọc kết quả
      </button>
    </div>
  </div>

  <mat-dialog-content class="mat-typography">
    <div>
      <div>
        <div class="example-container m-t-20">
          <app-spinner2 name="finishStudentLoading" [fullScreen]="isFullScreen"></app-spinner2>
          <table mat-table [dataSource]="listStudent" class="example-table">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <!-- Number Column -->
              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef fxFlex="5" fxLayoutAlign="center center">STT</th>
                <td mat-cell *matCellDef="let element;let i=index" fxFlex="5" fxLayoutAlign="center center">{{i+1}}
                </td>
              </ng-container>

              <!-- name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef fxFlex="30" fxLayoutAlign="start center">Họ Và tên</th>
                <td mat-cell *matCellDef="let element" fxFlex="30" fxLayoutAlign="start center">
                  <span class="text-wrap" #tooltip="matTooltip"
                  matTooltip="{{element.fullName}}">{{element.fullName}}</span>
                </td>
              </ng-container>
              <!-- Title Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef fxFlex="30" fxLayoutAlign="start center">Email</th>
                <td mat-cell *matCellDef="let element" fxFlex="30" fxLayoutAlign="start center">
                  <span class="text-wrap" #tooltip="matTooltip"
                  matTooltip="{{element.email}}">{{element.email==null?'-':element.email}}</span>
                </td>
              </ng-container>
              <!-- Created Column -->
              <ng-container matColumnDef="dob">
                <th mat-header-cell *matHeaderCellDef disableClear fxFlex="15" fxLayoutAlign="center center">
                  Ngày sinh
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="15" fxLayoutAlign="center center">
                  {{element.dayOfBirth==null?'-':element.dayOfBirth| date: 'dd/MM/yyyy'}}
                </td>
              </ng-container>

              <!-- State Column -->
              <ng-container matColumnDef="class">
                <th mat-header-cell *matHeaderCellDef fxFlex="10" fxLayoutAlign="center center">Lớp</th>
                <td mat-cell *matCellDef="let element" fxFlex="10" fxLayoutAlign="center center">
                  {{element.groupStudentName}}</td>
              </ng-container>

              <!-- Created Column -->
              <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef fxFlex="10" fxLayoutAlign="center center">
                  Giới tính
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="10" fxLayoutAlign="center center">
                  {{element.getGender}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'data-selected':isSelected}">
              </tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell background-no-content">
                  <div class="background-no-content-img"></div>
                  <div class="background-no-content-info">
                    <p>Không tìm thấy học sinh</p>
                  </div>
                </td>
              </tr>
            </div>

          </table>
          <mat-paginator [length]="totalItems" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </mat-dialog-content>

</div>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close class="m-3 button-cancel">Đóng</button>
</mat-dialog-actions>
