<div class="apply-css-alpha">
    <div class="assign-student-container">
        <mat-card class="manage-card">
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex class="mat-title mb-0">Thống kê danh sách học sinh trong nhóm</div>
                    <div fxFlex fxLayoutAlign="end center">
                        <button *ngIf="isShowFilter" (click)="onClickToggleShowFilter()" mat-raised-button>
                            <span class="material-icons">visibility_off</span>
                            Ẩn bộ lọc
                        </button>
                        <button *ngIf="!isShowFilter" (click)="onClickToggleShowFilter()" mat-raised-button>
                            <span style="width: 24px;" class="material-icons">visibility_on</span>
                            Hiện bộ lọc
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <form action="" [formGroup]="filterSignupLecturesForm" (ngSubmit)="onSubmitSignLectures()" *ngIf="isShowFilter">
            <mat-card class="manage-card">
                <mat-card-content>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="25" fxLayoutAlign="end center" *ngIf="levelManageValue==1">
                            <mat-form-field appearance="outline" (click)="onDivisionSelectClicked()">
                                <mat-label>Chọn phòng</mat-label>
                                <mat-select formControlName="divisionId" placeholder="Chọn phòng" #singleSelectDivision
                                    disableOptionCentering>
                                    <mat-option>
                                        <ngx-mat-select-search placeholderLabel="Tìm phòng"
                                            noEntriesFoundLabel="Không tìm thấy" [formControl]="divisionFilterCtrl">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let division of filteredDivisions | async"
                                        [value]="division.id">
                                        {{division.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxFlex="10"></div>
                        </div>

                        <div fxFlex="25" fxLayoutAlign="start center" *ngIf="levelManageValue<=2">
                            <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
                                <mat-label>Chọn trường</mat-label>
                                <mat-select formControlName="schoolId" [disabled]="isDisableSchoolId"
                                    placeholder="Chọn trường" #singleSelectSchool disableOptionCentering>
                                    <mat-option>
                                        <ngx-mat-select-search placeholderLabel="Tìm trường"
                                            noEntriesFoundLabel="Không tìm thấy" [formControl]="schoolFilterCtrl">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                                        {{school.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxFlex="10"></div>
                        </div>

                        <div fxFlex="25" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
                                <mat-label>Chọn khối</mat-label>
                                <mat-select formControlName="gradeId" placeholder="Chọn khối" #singleSelectGrade
                                    disableOptionCentering>
                                    <mat-option>
                                        <ngx-mat-select-search placeholderLabel="Tìm khối"
                                            noEntriesFoundLabel="Không tìm thấy" [formControl]="gradeFilterCtrl">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let gradeId of filteredGrades | async" [value]="gradeId.id">
                                        {{gradeId.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxFlex="10"></div>
                        </div>

                        <div fxFlex="25" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" (click)="onGroupStudentSelectClicked()">
                                <mat-label>Chọn lớp</mat-label>
                                <mat-select formControlName="groupStudentId" placeholder="Chọn lớp"
                                    #singleSelectGroupStudent
                                    [disabled]="isDisableGroupStudentId && levelManageValue !== 3"
                                    disableOptionCentering>
                                    <mat-option>
                                        <ngx-mat-select-search placeholderLabel="Tìm lớp"
                                            noEntriesFoundLabel="Không tìm thấy" [formControl]="groupStudentFilterCtrl">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let groupStudent of filteredGroupStudents | async"
                                        [value]="groupStudent.id">
                                        {{groupStudent.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top:20px">
                        <div fxFlex="100" fxLayoutAlign="end center" class="combobox_action">
                            <button mat-raised-button color="primary">
                                <mat-icon matSuffix>filter_list</mat-icon>
                                Lọc kết quả
                            </button>
                        </div>
                    </div>
                </mat-card-content>



            </mat-card>
        </form>
        <mat-card class="manage-card">
            <table mat-table *ngIf="isListStudentForAssignReady" [dataSource]="assignDataSource.items">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="start center"> Tên
                        </th>
                        <td mat-cell *matCellDef="let element" fxFlex="20" fxLayoutAlign="start center">
                            {{element.fullName}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef fxFlex="40" fxLayoutAlign="start center"> Tên đăng nhập
                        </th>
                        <td mat-cell *matCellDef="let element" fxFlex="40" fxLayoutAlign="start center">
                            {{element.username}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="className">
                        <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="start center"> Lớp </th>
                        <td mat-cell *matCellDef="let element" fxFlex="20" fxLayoutAlign="start center">
                            {{element.groupStudentName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef fxFlex="20" fxLayoutAlign="end center">CHỨC NĂNG</th>
                        <td mat-cell *matCellDef="let element" fxFlex="20" fxLayoutAlign="end center">
                            <button mat-icon-button (click)="onReportLearnUserButtonHandleClick(element.id)">
                                <mat-icon matTooltip='Chi tiết bài giảng tham gia' svgIcon="detail-report-lesson">
                                </mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="assignDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: assignDisplayedColumns;">
                    </tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell background-no-content">
                          <div class="background-no-content-img"></div>
                          <div class="background-no-content-info">
                            <p>Không có dữ liệu học sinh</p>
                          </div>
                        </td>
                      </tr>
                </div>
            </table>
            <mat-paginator #assignPaginator [length]="assignDataSource.totalItems"
                [pageSizeOptions]="[10, 20, 30, 100]">
            </mat-paginator>
            <br />
        </mat-card>


        <div fxLayout="row" fxLayoutAlign="space-between center" class="row_flex">
            <div fxFlex="100" fxLayoutAlign="center center" class="combobox_action">
            </div>
        </div>
    </div>
</div>