<div fxLayout="column" fxLayoutAlign="center center">
    <img src="../../../../../assets/images/lesson/finish-lesson.png">
    <span class="title-primary">Chức mừng {{userName}}</span>
    <span class="title-secondary">Chức mừng bạn đã hoàn thành bài giảng</span>
    <span  class="title-lesson">{{lessonName}}</span>
    <div fxLayout="row" fxLayoutGap="15px">
        <button mat-raised-button  class="button-cancel custom" (click)="exit()">Thoát</button>
        <button mat-raised-button color="primary" class="custom" (click)="seeAgain()">Xem lại bài</button>
    </div>
</div>
