.title {
  font-style: normal;

  &-primary {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: #4CAF50;
    opacity: 0.98;
  }

  &-secondary{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    
    opacity: 0.98;
    margin-bottom: 5px;
  }
  &-lesson{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FF7C40;
    
    opacity: 0.98;
    margin-bottom: 25px;
  }
}

.custom{
  box-shadow: none;
}