.title-center {
  text-align: center;
  font-weight: bold;
}

.label_combobox {
  font-size: 14px;
}

.input-infor {
  height: 29px;
  color: #555555;
  font-family: 'Open Sans', sans-serif;
}

.panel-name {
  height: 50px !important;
}

.panel-code {
  height: 50px !important;
}

.help-bpx {
  color: red;
}

.input_name {
  width: 980px;
  // height: 35px;
  // padding: 0 5px;
  // box-sizing: border-box;
  // border: 1px solid #ccc;
  // border-radius: 4px;
  // background-color: white;
  // background-position: 10px 10px;
  // background-repeat: no-repeat;
}

//select box
.input_select {
  width: 100%;
  height: 30px;
}

// .matFormFieldSelectBox {
//   height: 31px;
//   box-sizing: border-box;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   background-color: white;
//   background-position: 10px 10px;
//   background-repeat: no-repeat;
//   padding: 0 5px;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 13px;
//   line-height: 15px;
//   color: #555555;
//   opacity: 0.98;
// }

// :host ::ng-deep .mat-form-field-underline {
//   display: none;
// }

// :host ::ng-deep .mat-form-field-infix {
//   border-top: none;
// }

// .example-additional-selection {
//   opacity: 0.75;
//   font-size: 0.75em;
// }

// .mat-select-panel-wrap {
//   position: relative;
//   top: 26px;
// }

// .mat-select-panel-wrap .mat-select-panel {
//   min-width: calc(100% + 12px) !important;
//   transform: translateX(4px) !important;
// }
// :host ::ng-deep .mat-form-field-wrapper {
//   width: 100% !important;
//   padding-bottom: 0px !important;
// }

.errors-msg {
  color: #dd1010;
  position: relative;
  font-size: 13px;
  font-weight: 600;
}

//

.btn_continue {
  width: 103px;
  color: #ffffff;
}

.disable-input {
  cursor: not-allowed;
  color: #999999;
}

.container {
  margin: -24px !important;
}

.padding-b-36 {
  padding-bottom: 36px !important;
}

:host ::ng-deep .mat-card {
  margin: 0;
  padding: 0;
  box-shadow: none !important;
  width: 100%;
}

:host ::ng-deep .mat-card-content {
  padding: 0;
}