<div class="apply-css-alpha">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formCreateCurriculum" fxLayout="column"
        (ngSubmit)="submitForm()">
        <div class="mat-dialog-title">{{data.titleDialog?.commonTitle}}</div>

        <div style="width: 100%; margin-top: 10px;" fxLayout="row" fxLayoutAlign="start center">
          <!-- <label fxFlex="40" fxLayoutAlign="start center" class="label_combobox"> {{data.titleDialog?.nameTitle}}
          </label> -->
          <mat-form-field class="matFormFieldSelectBox" appearance="outline">
            <mat-label>{{data.titleDialog?.nameTitle}}</mat-label>
            <input matInput [formControl]="formCreateCurriculum.get('curriculumName')" type="text" name="curriculumName"
              curriculumName formControlName="curriculumName" required>
            <!-- <mat-error *ngIf="formCreateCurriculum.get('curriculumName').hasError('required')">
              Vui lòng nhập tên chương trình(*)
            </mat-error> -->
          </mat-form-field>
  
        </div>
        <div style="width: 100%; margin-top: 10px;" fxLayout="row" fxLayoutAlign="start center">
          <!-- <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox">
            {{data.titleDialog?.contentTitle}}
          </label> -->
          <mat-form-field class="matFormFieldSelectBox" appearance="outline" class="input_name">
            <input matInput [formControl]="parentName" type="text" class="disable-input" placeholder="">
  
          </mat-form-field>
          <!-- <input fxFlex="60" [formControl]="parentName" fxLayoutAlign="start center" type="text"
                      class="input_name disable-input" placeholder=""> -->
        </div>
        <mat-dialog-actions>
          <button mat-flat-button class="button-cancel" mat-dialog-close>Hủy</button>
          <button [disabled]="submiting" mat-flat-button type="submit" color="primary">Lưu</button>
        </mat-dialog-actions>
      </form>
    </mat-card-content>
  
  </mat-card>
</div>

