.question_basic {
  position: relative;
}

.example-list-section {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

//mark question
.mark-question {
  position: absolute;
  right: 0;
  top: -40px;
  margin-bottom: 0px;
  border: 0.5px solid #d2c3c3;
  box-sizing: border-box;
  border-radius: 4px;
  z-index: 999;
  color: #888888;
  height: 32px;
  line-height: 32px !important;
  padding: 0 7px !important;

  mat-icon {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
    line-height: 0.8rem;
  }
}

.mark-question-active {
  background: #FEC941 !important;
  color: white;
  border: none;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
  position: relative;
}

.right-answer {
  font-weight: bolder;
}

.color {
  color: black;
}

.color-true {
  color: #4CAF50;
  font-weight: bold;
}

.color-false {
  color: #DA251D;
}

.mat-radio-disabled,
.mat-radio-disabled .mat-radio-label {
  cursor: default;
}

// .show-result {
//   margin-bottom: 1rem;
// }

// .true {
//   color: #198754;
// }

// .false {
//   color: red;
// }

.question-title {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #303030;
  position: relative;

  .order {
    position: absolute;
    left: 0;
    top: -3px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 22px;
    color: #4CAF50;
  }

  .score {
    position: absolute;
    right: 0;
    top: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #4CAF50;
  }
}

.check-true {
  position: absolute;
  color: #198754;
  top: -2px;
  left: -25px;
}

.wrong-answer {
  position: absolute;
  color: red;
  top: -1px;
  left: -25px;
}

:host ::ng-deep .mat-card{
  border: 1px solid #ebe9f1;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

:host ::ng-deep .true-false-clause .mat-card-content {
  padding: 10px 20px;
}

:host ::ng-deep .true-false-clause .mat-radio-label-content {
  line-height: 1rem;

  p {
    margin: 5px 0px;
  }
}

:host ::ng-deep .answer-label {
  p {
    margin: 5px 0px;
  }

  margin: 0px;
}
