<div>

  <div *ngIf="dataQuestionView != null">
    <div *ngIf="dataQuestionView.format== 'SIG'">
       <app-create-single-choice-question *ngIf="dataQuestionView.type=='SIG'" [dataQuestion]="dataQuestionView"  [configUpload]="configUpload"
        (onReady)="onLoadedQuestion($event)" (questionOutput)="updateQuestion($event)">
      </app-create-single-choice-question>

      <app-create-multiple-choice-question *ngIf="dataQuestionView.type=='MTC'" [dataQuestion]="dataQuestionView" [configUpload]="configUpload"
        (onReady)="onLoadedQuestion($event)" (questionOutput)="updateQuestion($event)">
      </app-create-multiple-choice-question>

      <app-create-under-line-question *ngIf="dataQuestionView.type=='UDL'" [dataQuestion]="dataQuestionView" [configUpload]="configUpload"
        (questionOutput)="updateQuestion($event)">
      </app-create-under-line-question>

      <app-create-true-false-question *ngIf="dataQuestionView.type=='TFQ'" [dataQuestion]="dataQuestionView" [configUpload]="configUpload"
        (questionOutput)="updateQuestion($event)">
      </app-create-true-false-question>

      <app-create-true-false-clause-question *ngIf="dataQuestionView.type=='TFC'" [dataQuestion]="dataQuestionView" [configUpload]="configUpload"
        (questionOutput)="updateQuestion($event)">
      </app-create-true-false-clause-question>

      <app-create-missing-word1-question *ngIf="dataQuestionView.type=='FB1'" [dataQuestion]="dataQuestionView" [configUpload]="configUpload"
        (questionOutput)="updateQuestion($event)">
      </app-create-missing-word1-question>

      <app-create-missing-word2-question *ngIf="dataQuestionView.type=='FB2'" [dataQuestion]="dataQuestionView" [configUpload]="configUpload"
        (questionOutput)="updateQuestion($event)">
      </app-create-missing-word2-question>

      <app-create-matching-question *ngIf="dataQuestionView.type=='MCQ'" [dataQuestion]="dataQuestionView" [configUpload]="configUpload"
        (questionOutput)="updateQuestion($event)">
      </app-create-matching-question>
      <app-create-easay-question *ngIf="dataQuestionView.type=='ESS'" [dataQuestion]="dataQuestionView" [configUpload]="configUpload"
        (questionOutput)="updateQuestion($event)">
      </app-create-easay-question>
    </div>
    <div *ngIf="dataQuestionView.format=='GRO'">
      <app-create-group-question [dataQuestion]="dataQuestionView" [childIndex]="childIndexView" [configUpload]="configUpload"
        (questionOutput)="updateQuestion($event)">
      </app-create-group-question>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <mat-spinner></mat-spinner>
</ng-template>