<div class="list-grades">
    <div class="container">
        <div fxLayout="row" class="list-grades-row" fxFlex="100">
            <a fxFlex="8.33" fxLayoutAlign="center center" class="row-grade" mat-icon-button
                *ngFor="let grade of listGrades">{{grade.name}}</a>
        </div>
    </div>
</div>