<div>
  <mat-card class="manage-card">
    <learn-step-header-lesson *ngIf="isReady" [stepHeaderCtrl]="stepHeaderControl"></learn-step-header-lesson>
  </mat-card>
  <ng-container [ngSwitch]="typesOfContent" *ngIf="isReady">
    <learn-update-detail-content-body *ngSwitchCase="'TEX'" [contentId]="idContent" [lessonName]="lessonName"
      [lessonId]="idLesson" [lessonStatus]="lessonStatus" [detailContentResponses]="detailContentResponses">
    </learn-update-detail-content-body>
    <learn-update-document-content-body *ngSwitchCase="'DOC'" [contentId]="idContent" [lessonName]="lessonName"
      [lessonId]="idLesson" [lessonStatus]="lessonStatus" [detailContentResponses]="detailContentResponses">
    </learn-update-document-content-body>
    <learn-update-iframe-content-body *ngSwitchCase="'IFR'" [contentId]="idContent" [lessonName]="lessonName"
      [lessonStatus]="lessonStatus" [detailContentResponses]="detailContentResponses">
    </learn-update-iframe-content-body>
    <learn-update-scorm-content-body *ngSwitchCase="'SCO'" [contentId]="idContent" [lessonName]="lessonName"
      [lessonStatus]="lessonStatus" [detailContentResponses]="detailContentResponses"></learn-update-scorm-content-body>
    <learn-update-sound-content-body *ngSwitchCase="'SOU'" [contentId]="idContent" [lessonName]="lessonName"
      [lessonStatus]="lessonStatus" [detailContentResponses]="detailContentResponses"></learn-update-sound-content-body>
    <learn-update-video-content-body *ngSwitchCase="'VID'" [contentId]="idContent" [lessonName]="lessonName"
      [lessonStatus]="lessonStatus" [detailContentResponses]="detailContentResponses"></learn-update-video-content-body>
    <learn-update-web-content-body *ngSwitchCase="'WEB'" [lessonStatus]="lessonStatus"
      [detailContentResponses]="detailContentResponses"></learn-update-web-content-body>
    <learn-edit-interactive-classroom [detailContentResponses]="detailContentResponses" [lessonStatus]="lessonStatus"
      *ngSwitchCase="'VIR'"></learn-edit-interactive-classroom>
    <app-edit-test-lesson *ngSwitchCase="'TES'" [lessonStatus]="lessonStatus"></app-edit-test-lesson>
  </ng-container>
</div>