<div class="apply-css-alpha">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formCreateCurriculum"  fxLayout="column"
        (ngSubmit)="submitForm()">
        <div class="mat-dialog-title">THÊM KHUNG CHƯƠNG TRÌNH</div>
        <hr />
        <div style="width: 100%; margin-top: -20px;" fxLayout="row" fxLayoutAlign="start center">
          <!-- <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Tên khung chương trình (*):
          </label> -->
          <mat-form-field class="matFormFieldSelectBox" appearance="outline">
            <mat-label>Tên khung chương trình</mat-label>
            <input matInput [formControl]="formCreateCurriculum.get('curriculumName')" type="text" name="curriculumName"
              curriculumName required formControlName="curriculumName">
            <mat-error *ngIf="formCreateCurriculum.get('curriculumName').hasError('required')">
              Vui lòng nhập tên chương trình
            </mat-error>
          </mat-form-field>
          <!-- <input fxFlex="60" fxLayoutAlign="start center" type="text" formControlName="curriculumName" class="input_name"
                      placeholder="Tên chương trình (*)"> -->
  
        </div>
        <!-- <div fxLayout="row" class="mi-w-50">
                  <mat-form-field class="matFormFieldSelectBox" appearance="outline">
                      <mat-label>Tên chương trình</mat-label>
                      <input matInput [formControl]="formCreateCurriculum.get('curriculumName')" type="text"
                          name="curriculumName" curriculumName required formControlName="curriculumName">
                      <mat-error *ngIf="formCreateCurriculum.get('curriculumName').hasError('required')">
                          Vui lòng nhập tên chương trình
                      </mat-error>
                  </mat-form-field>
              </div> -->
        <div style="width: 100%; margin-top: 20px;" fxLayout="row" fxLayoutAlign="start center">
          <!-- <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Khối lớp (*):
          </label> -->
          <mat-form-field class="matFormFieldSelectBox" appearance="outline" (click)="onGradeSelectClicked()">
            <mat-label>Chọn khối</mat-label>
            <mat-select [formControl]="gradeCtrl" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering
              (selectionChange)="onChangeGradeSelected($event.value)">
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="gradeFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                {{grade.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="gradeCtrl.hasError('required')">
              Vui lòng chọn một khối lớp (*)
            </mat-error>
          </mat-form-field>
        </div>
        <!-- <div fxLayout="row" class="m-t-20 mi-w-50">
                  <mat-form-field fxFlex="100" class="matFormFieldSelectBox" (click)="onGradeSelectClicked()"
                      appearance="outline">
                      <mat-label>Chọn khối</mat-label>
                      <mat-select [formControl]="gradeCtrl" placeholder="Chọn khối" #singleSelectGrade
                          disableOptionCentering (selectionChange)="onChangeGradeSelected($event.value)">
                          <mat-option>
                              <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                                  [formControl]="gradeFilterCtrl">
                              </ngx-mat-select-search>
                          </mat-option>
                          <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                              {{grade.name}}
                          </mat-option>
                      </mat-select>
                      <mat-error *ngIf="gradeCtrl.hasError('required')">
                          Vui lòng chọn một khối lớp (*)
                      </mat-error>
                  </mat-form-field>
              </div> -->
        <div style="width: 100%; margin-top: 20px;" fxLayout="row" fxLayoutAlign="start center">
          <!-- <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Môn học (*):
          </label> -->
          <mat-form-field class="matFormFieldSelectBox" appearance="outline"
            (click)="onSubjectSelectClicked()">
            <mat-label>Chọn môn học</mat-label>
            <mat-select [formControl]="subjectCtrl" placeholder="Chọn môn học" #singleSelectSubject
              disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm môn học" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="subjectFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.id">
                {{subject.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="subjectCtrl.hasError('required')">
              Vui lòng chọn một môn học (*)
            </mat-error>
          </mat-form-field>
        </div>

        <div style="width: 100%; margin-top: 20px;" fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field class="matFormFieldSelectBox" appearance="outline">
            <mat-label>Chọn trạng thái</mat-label>
            <mat-select #singleSelectSubject [(value)]="defaultStatus" (selectionChange)="changeSelectStatus($event)"
              disableOptionCentering>
              <mat-option [value]="true">
                Kích hoạt
              </mat-option>
              <mat-option [value]="false">
                Ngưng sử dụng
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- <div fxLayout="row" class="m-t-20 mi-w-50">
                  <mat-form-field fxFlex="100" class="matFormFieldSelectBox" (click)="onSubjectSelectClicked()"
                      appearance="outline">
                      <mat-label>Chọn môn học</mat-label>
                      <mat-select [formControl]="subjectCtrl" placeholder="Chọn môn học" #singleSelectSubject
                          disableOptionCentering>
                          <mat-option>
                              <ngx-mat-select-search placeholderLabel="Tìm môn học" noEntriesFoundLabel="Không tìm thấy"
                                  [formControl]="subjectFilterCtrl">
                              </ngx-mat-select-search>
                          </mat-option>
                          <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.id">
                              {{subject.name}}
                          </mat-option>
                      </mat-select>
                      <mat-error *ngIf="subjectCtrl.hasError('required')">
                          Vui lòng chọn một môn học (*)
                      </mat-error>
                  </mat-form-field>
              </div> -->
        <mat-dialog-actions>
          <button mat-flat-button class="button-cancel" mat-dialog-close>Hủy</button>
          <button [disabled]="submiting" mat-flat-button type="submit" color="primary">Lưu</button>
        </mat-dialog-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>

