.table-question-mobile {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
  width: 100%;

  .table-question-mobile-wrapper {
    padding: 0.5rem 1rem;
    position: relative;

    .opacity {
      position: absolute;
      background: rgba(0, 0, 0, 0.6);
      min-height: calc(100vh);
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 0;
    }

    .row-questions-control {
      position: relative;

      .back-page {
        position: absolute;
        left: 0;
      }

      #countdownExamMobile {
        position: absolute;
        left: 0;

        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
          color: #555555;
        }
      }

      .pagging-mobile {
        position: absolute;
        right: 0;
      }
    }
  }
}

.button-preve {
  background-color: #5CB85C;
  color: white;
}

.button-next {
  background-color: #5CB85C;
  color: white;
}


.number-question {
  height: 52vh;
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  background-color: white;
  padding: 5px 23px 0 23px;
  background: #FFFFFF;
  overflow-y: auto;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);

  .number-question-content {
    position: relative;
    height: 48vh;

    .list-items-question {
      height: 22vh;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}



.item-question {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  color: #F7F7F7;
  .mat-button-wrapper {
    padding: 0 !important;
  }
}

.slide-up {
  display: block !important;
  animation-name: slideup;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

  .opacity {
    display: block !important;
  }
}

.slide-down {
  display: block !important;
  animation-name: slidedown;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes slideup {
  0% {
    bottom: -52vh;

  }

  100% {
    bottom: 0vh;
  }
}

@keyframes slidedown {
  0% {
    bottom: 0vh;
  }

  100% {
    bottom: -52vh;
  }
}

.test {
  margin: 0.5rem;
}


mat-flat-button {
  width: 60%;
}


.init {
  margin: 0.2rem;
  background-color: #F7F7F7 !important;
  border: 1px solid #555555;
  color: #555555 !important;
}

.ticked {
  margin: 0.2rem;
  background-color: #FEC941 !important;
}

.answered {
  margin: 0.2rem;
  background-color: #5CB85C !important;
}

.ticked-and-answered {
  margin: 0.2rem;
  background-color: #5CB85C !important;
  border: 2px solid #FEC941;
}

.mat-fab:not([class*=mat-elevation-z]),
.mat-mini-fab:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}



.notes {
  position: absolute;
  margin-top: 10px;
  bottom: 0px;
  min-width: 100%;

  //color circle
  #reolied {
    background: #5CB85C;
  }

  #mark {
    background: #FEC941;
  }

  #notreply {
    background: #F7F7F7;
    border: 1px solid #555555;
  }

  #mark-replied {
    background: #5CB85C;
    border: 2px solid #FEC941 !important;
  }

  .mat-fab:not([class*=mat-elevation-z]),
  .mat-mini-fab:not([class*=mat-elevation-z]) {
    width: 13px;
    height: 13px;
  }

  font-size: 14px !important;
}

.pulse {
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(75, 175, 80, 0.4);
  animation: pulse 1.5s infinite;
  position: relative;
  height: 33px;
  width: 33px;
}

.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(75, 175, 80, 0.8);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(75, 175, 80, 0.1);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(75, 175, 80, 0);
  }
}


.sub-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #555555;
  margin-bottom: 5px;

  .total-question-icon {
    height: 17px;
    width: 17px;
  }

  .total-question-label {
    padding: 0 20px;
    background: #CCFFCE;
    border-radius: 23px;
    color: #4CAF50;
    margin-left: 10px;
  }

  .total-score-label {
    padding: 0 20px;
    margin-left: 10px;
    border-radius: 23px;
    background: #FFDBDA;
    color: #DA251D;
  }
}
.info-labels{
  margin-bottom: 10px;
}
.exam-name-label {
  font-style: normal;
  font-size: 16px;
  color: #303030;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
  padding: 0 20px;
}