<div>
    <div class="title-box">
        <div>
            <mat-icon svgIcon='dangerous-icon' class="dangerous-icon"></mat-icon>
            <span class="title" *ngIf="inputData.mode==='create'">Một số quy định khi tạo tài khoản <br> liên kết
                Zoom</span>
            <span class="title" *ngIf="inputData.mode==='update'">Một số yêu cầu khi cập nhật tài khoản <br> liên kết
                Zoom</span>
        </div>
    </div>
    <div class="detail-box">
        <div *ngIf="inputData.mode==='create'">
            <span class="detail-message">Xin vui lòng <span class="detail-message-alert">không chia sẻ tài khoản với bất
                    cứ ai</span> để tránh việc bị chiếm dụng tài khoản bởi người khác.</span>
        </div>
        <div *ngIf="inputData.mode==='update'">
            <span class="detail-message">Xin vui lòng <span class="detail-message-alert">không chia sẻ tài khoản với bất
                    cứ ai</span> để tránh việc bị chiếm dụng tài khoản bởi người khác.</span>
            <br>
            <br>
            <span class="detail-message">Bạn sẽ không thể truy cập các lớp học đã tạo từ trước, hãy thực hiện <span
                    class="detail-message-alert">cập nhật liên kết zoom cho các lớp học</span> này để tiếp tục sử
                dụng.</span>
        </div>
    </div>
    <!-- <div class="message-box">
        <span>{{inputData.message1}}</span>
        <br *ngIf="inputData.message2">
        <br *ngIf="inputData.message2">
        <span>{{inputData.message2}}</span>
        <br *ngIf="inputData.message3">
        <br *ngIf="inputData.message3">
        <span>{{inputData.message3}}</span>
    </div> -->
    <div class="confirm-rules">
        <mat-checkbox class="example-margin" [(ngModel)]="checked">
            <span>Tôi đã đọc và đồng ý với quy định trên</span>
        </mat-checkbox>
    </div>
    <mat-dialog-actions>
        <button mat-flat-button mat-dialog-close class="button-cancel">Hủy</button>
        <button mat-flat-button (click)="submit()" color="primary" [disabled]="!checked">Lưu</button>
    </mat-dialog-actions>
</div>