.title-box {
    margin-bottom: 15px;
  }
  .dangerous-icon {
    height: 16px;
    margin-right: 7px;
  }
  .title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #555555;
  }
  .detail-box {
    border: 1px dashed #92C194;
    border-radius: 6px;
    background-color: #E7FFE7;
    padding: 26px 20px;
    margin-bottom: 15px;
  }
  .detail-message{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #555555;
  }

  .detail-message-alert{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #DA251D;
  }
  .message-box {
    color: #DA251D;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      margin-bottom: 15px;
  }
  .confirm-rules{
      font-size: 14px;
      line-height: 14.63px;
      font-weight: 400;
      color: #555555;
  }
  .icon-title{
      font-size: 33.33px;
      color:#DA251D;
  }
  .label-title{
      font-size: 16px;
      line-height: 19.5px;
      font-weight: 600;
      color: #555555;
      margin-top: 10px;
  }