
<div class="apply-css-alpha">
  <mat-form-field appearance="outline">
    <mat-label>{{placeHolder}}</mat-label>
    <mat-select *ngIf="defaultOptionIsValid == true; else elseTemplate" [disabled]="isDisable" [placeholder]="placeHolder"
      [formControl]="selectCtrl" #singleSelect (selectionChange)="onChangeOption($event.value)"
      [(ngModel)]="optionSelected.id" disableOptionCentering >
      <mat-option>
        <ngx-mat-select-search [(ngModel)]="keyWord" (ngModelChange)="filterOptions()"  [preventHomeEndKeyPropagation]="true" placeholderLabel=""
          noEntriesFoundLabel="Không có dữ liệu được tìm thấy">
          <mat-icon ngxMatSelectSearchClear>delete</mat-icon>
        </ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id">
        {{option.name}}
      </mat-option>
    </mat-select>
    <ng-template #elseTemplate>
      <mat-select [disabled]="isDisable" [placeholder]="placeHolder" [formControl]="selectCtrl" #singleSelect
        (selectionChange)="onChangeOption($event.value)" disableOptionCentering >
        <mat-option>
          <ngx-mat-select-search  [(ngModel)]="keyWord" (ngModelChange)="filterOptions()" [preventHomeEndKeyPropagation]="true"
            placeholderLabel="" noEntriesFoundLabel="Không có dữ liệu được tìm thấy">
            <mat-icon ngxMatSelectSearchClear>delete</mat-icon>
          </ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id">
          {{option.name}}
        </mat-option>
      </mat-select>
    </ng-template>
  </mat-form-field>
</div>
