.dialog-content-wrapper {
    height: 600px;
}
.error-wrapper {
    padding: 10px 0;
}
.error-message {
    color: rgb(214, 20, 20);
}

.error-detail {
    max-height: 100px;
    overflow-y: scroll;
    min-width: 100%;
}
