<div class="dialog-content-wrapper">
    <app-content-create-matrix *ngIf="matrix!=null" [matrixInfo]="matrix">
    </app-content-create-matrix>
</div>
<div *ngIf="!isValid" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px" class="error-wrapper">
    <div class="error-detail">
        <label class="error-message">(*) Vui lòng kiểm tra lại dữ liệu:</label>
        <br>
        <div *ngFor="let e of errors">
            <label class="error-message">{{e}}</label>
            <br>
        </div>
    </div>

</div>
<mat-dialog-actions>
    <button class="button-cancel" mat-flat-button (click)="cancel()">Hủy</button>
    <button (click)="saveData()" color="primary" mat-flat-button>Lưu</button>
</mat-dialog-actions>