<div fxLayout="row grap" class="apply-css-alpha">
  <div fxFlex="100%">
    <form #deleteUserType="ngForm" (ngSubmit)="submitForm(deleteUserType)" [formGroup]="filterLearningPath">
      <div class="mat-dialog-title">XÓA KIỂU NGƯỜI DÙNG</div>
      <div>
        <p>Bạn có chắc chắn xóa kiểu người dùng này</p>
        <p>Hành động này không thể hoàn tác</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="m-b-25">
        <label fxFlex="40"> Chuyển người dùng đến:</label>
        <mat-form-field (click)="onUserTypeSelectHandleClick()" [floatLabel]="'never'" appearance="outline">
          <mat-label>Kiểu người dùng</mat-label>
          <mat-select formControlName="userTypeId" placeholder="Kiểu người dùng" #singleSelectLesson
            disableOptionCentering>
            <mat-option>
              <ngx-mat-select-search placeholderLabel="Kiểu người dùng" noEntriesFoundLabel="Không tìm thấy"
                [formControl]="userTypeSelectFilterCtrl">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let userType of filteredUserType | async" [value]="userType.id">
              {{userType.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="userTypeId.hasError('required')">
            Vui lòng chọn kiểu người dùng (*)
          </mat-error>
        </mat-form-field>
      </div>
      <mat-dialog-actions>
        <button mat-flat-button mat-dialog-close class="button-cancel">Hủy</button>
        <button mat-flat-button type="submit" class="delete-button">Xóa</button>
      </mat-dialog-actions>
    </form>
  </div>
</div>
