.delete-button {
    background-color: #da251d;
    color: #ffffff;
}

.cancel-button {
    background-color: #ffffff;
}

.title-center {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
/////////
.close-button {
    float: right;
    top: -24px;
    right: -24px;
}

.close-icon {
    transition: 1s ease-in-out;
}

.close-icon:hover {
    transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button {
    float: right;
    top: -52px;
    right: -52px;
}

::ng-deep .icon-outside .mat-dialog-container {
    overflow: unset;
}
/////////
