<ng-container *ngIf="screenWidth>375">
  <app-single-choice-question
    *ngIf="questions.type==questionType.singlechoice && questions.format==questionFormat.single"
    [dataQuestion]="questions"></app-single-choice-question>
  <app-multi-choice-question *ngIf="questions.type==questionType.multichoice && questions.format==questionFormat.single"
    [dataQuestion]="questions">
  </app-multi-choice-question>
  <app-truefalse-question *ngIf="questions.type==questionType.truefasle && questions.format==questionFormat.single"
    [dataQuestion]="questions"></app-truefalse-question>
  <app-true-false-clause-question
    *ngIf="questions.type==questionType.truefaslechause && questions.format==questionFormat.single"
    [dataQuestion]="questions">
  </app-true-false-clause-question>
  <app-matching-question *ngIf="questions.type==questionType.matching && questions.format==questionFormat.single"
    [dataQuestion]="questions">
  </app-matching-question>
  <app-underline-question *ngIf="questions.type==questionType.underline&& questions.format==questionFormat.single"
    [dataQuestion]="questions">
  </app-underline-question>
  <app-fill-blank-question *ngIf="questions.type==questionType.fillblank&& questions.format==questionFormat.single"
    [dataQuestion]="questions">
  </app-fill-blank-question>
  <app-fill-multiple-blank-question
    *ngIf="questions.type==questionType.fillblank2&& questions.format==questionFormat.single"
    [dataQuestion]="questions">
  </app-fill-multiple-blank-question>
  <app-cluster-question *ngIf="questions.format==questionFormat.group" [dataQuestion]="questions">
  </app-cluster-question>
  <app-essay-question *ngIf="questions.type==questionType.essay && questions.format==questionFormat.single"
    [dataQuestion]="questions">
  </app-essay-question>
</ng-container>
