.dialog {
  position: relative;

  .btn_cancel_top {
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
    transition: transform .2s;
    /* Animation */
  }

  .btn_cancel_top:hover {
    transform: scale(1.2);
  }
}

.header {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #303030;
  opacity: 0.98;
  text-align: center;
}

.content {
  padding-bottom: 20px;

  #myNumber {
    width: 79px;
    height: 44px;
    text-align: center;
    margin-left: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
  }

  .dialog_label {
    margin-right: 10px;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #303030;
    min-width: fit-content;
  }
}

.btn_group {
  padding: 0px;
  min-height: fit-content;
  .btn_cancel {
    width: 103px;
    height: 35px;
    margin-right: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }

  .btn_save {
    width: 103px;
    height: 35px;
    margin-left: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
}

:host ::ng-deep .mat-card {
  margin: 0;
  padding: 0;
  box-shadow: none !important;
  width: 100%;
}

:host ::ng-deep .mat-card-content {
  padding: 0;
}
