<div class="dialog apply-css-alpha">
  <mat-card>
    <mat-card-content>
      <div class="btn_cancel_top">
        <span class="material-icons" (click)="onCancelClick()">
          clear
        </span>
      </div>
      <div class="mat-dialog-title">
        <span>CẬP NHẬT ĐIỂM</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="flex_row content">
        <label class="dialog_label">Điểm từng câu</label>
        <mat-form-field appearance="outline">
          <mat-label>Điểm</mat-label>
          <input matInput type="number" min="0" [(ngModel)]="data" autocomplete="off"/>
        </mat-form-field>

      </div>
      <mat-dialog-actions class="btn_group">
        <div fxLayout="row" fxLayoutAlign="center center" class="flex_row">
          <button mat-raised-button class="button-cancel" (click)="onCancelClick()">Hủy</button>
          <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Lưu</button>
        </div>
      </mat-dialog-actions>
    </mat-card-content>
  </mat-card>
</div>
