.scrollbar-pdf::-webkit-scrollbar {
  display: none;
}

.scrollbar-pdf{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#toolbarViewerLeft{
  display: none;
}

#toolbarViewerRight{
  display: none;
}