<div class="apply-css-alpha list-online-class-room">
    <mat-card class="manage-card">
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex class="mat-title mb-0">Thống kê lớp học tương tác</div>
                <div fxFlex fxLayoutAlign="end center">
                    <button *ngIf="isShowFilter" (click)="onClickToggleShowFilter()" mat-raised-button
                        class="button-hidden-filter">
                        <span class="material-icons">visibility_off</span>
                        Ẩn bộ lọc
                    </button>
                    <button *ngIf="!isShowFilter" (click)="onClickToggleShowFilter()" mat-raised-button
                        class="button-hidden-filter">
                        <span style="width: 24px;" class="material-icons">visibility_on</span>
                        Hiện bộ lọc
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="manage-card">
        <mat-card-content *ngIf="isShowFilter" class="">
            <form [formGroup]="filterOnlineClasses" (ngSubmit)="onSubmitClasses()">
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid"
                    fxLayoutGap.gt-md="20px grid">
                    <div fxFlex fxFlex.gt-md="25" *ngIf="levelManageValue==1" class="padding-b-15">
                        <mat-form-field (click)="onDivisionSelectClicked()" appearance="outline">
                            <mat-label>Chọn phòng</mat-label>
                            <mat-select formControlName="divisionId" placeholder="Chọn phòng" #singleSelectDivision
                                disableOptionCentering>
                                <mat-option>
                                    <ngx-mat-select-search placeholderLabel="Tìm phòng"
                                        noEntriesFoundLabel="Không tìm thấy" [formControl]="divisionFilterCtrl">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                                    {{division.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex fxFlex.gt-md="25" *ngIf="levelManageValue<=2" class="padding-b-15">
                        <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
                            <mat-label>Chọn trường</mat-label>
                            <mat-select formControlName="schoolId" placeholder="Chọn trường" #singleSelectSchool
                                disableOptionCentering>
                                <mat-option>
                                    <ngx-mat-select-search placeholderLabel="Tìm trường"
                                        noEntriesFoundLabel="Không tìm thấy" [formControl]="schoolFilterCtrl">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                                    {{school.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex fxFlex.gt-md="25">
                        <mat-form-field appearance="outline">
                            <mat-label>Loại phòng học</mat-label>
                            <mat-select formControlName="meetingType" placeholder="Tất cả loại phòng học"
                                disableOptionCentering>
                                <mat-option value="">
                                    Chọn loại phòng học
                                </mat-option>
                                <mat-option value="GMT">
                                    Google Meet
                                </mat-option>
                                <mat-option value="ZOM">
                                    Zoom
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex fxFlex.gt-md="25">
                        <mat-form-field appearance="outline">
                            <mat-label>Trạng thái</mat-label>
                            <mat-select formControlName="status" placeholder="Tất cả trang thái" disableOptionCentering>
                                <mat-option value="">
                                    Chọn trạng thái
                                </mat-option>
                                <mat-option value="LEARNED">
                                    Đã dạy
                                </mat-option>
                                <mat-option value="NOTLEARN">
                                    Chưa dạy
                                </mat-option>
                                <mat-option value="DONTLEARN">
                                    Không dạy
                                </mat-option>
                                <mat-option value="GOINGLEARN">
                                    Đang dạy
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex fxFlex.gt-md="25">
                        <mat-form-field appearance="outline">
                            <mat-label>Từ ngày</mat-label>
                            <input matInput [matDatepicker]="dpFromDateClasses" formControlName="fromDate"
                                placeholder="dd/MM/yyyy" autocomplete="off" onfocus="this.blur()"
                                (click)="openDpFromDateClasses()">
                            <mat-datepicker-toggle matSuffix [for]="dpFromDateClasses"></mat-datepicker-toggle>
                            <mat-icon *ngIf="this.startDate.value" (click)="clearDateClasses('from')"
                                class="user-filter-date close_button" matDatepickerToggleIcon>clear</mat-icon>
                            <mat-datepicker #dpFromDateClasses></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div fxFlex fxFlex.gt-md="25">
                        <mat-form-field appearance="outline">
                            <mat-label>Đến ngày</mat-label>
                            <input matInput [matDatepicker]="dpToDateClasses" formControlName="toDate"
                                placeholder="dd/MM/yyyy" autocomplete="off" onfocus="this.blur()"
                                (click)="openDpToDateClasses()">
                            <mat-datepicker-toggle matSuffix [for]="dpToDateClasses"></mat-datepicker-toggle>
                            <mat-icon *ngIf="this.endDate.value" (click)="clearDateClasses('to')"
                                class="user-filter-date close_button" matDatepickerToggleIcon>clear</mat-icon>
                            <mat-datepicker #dpToDateClasses></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div fxFlex fxFlex.gt-md="25">
                        <mat-form-field appearance="outline">
                            <mat-label>Tìm kiếm</mat-label>
                            <input matInput type="text" formControlName="keyWord" placeholder="Tìm kiếm" maxlength="50">
                            <mat-error *ngIf="keywordClasses.hasError('maxlength')">Không vượt quá 50 ký tự</mat-error>
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
                        <button mat-raised-button color="primary" type="submit"
                            [disabled]='isDisableFilterSubmitClasses'>
                            <mat-icon matSuffix>filter_list</mat-icon>
                            Lọc kết quả
                        </button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="listOnlineClassroom">
        <app-spinner2></app-spinner2>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-raised-button color="primary" type="submit" style=" margin: 20px 20px 20px 0px;"
                (click)="exportExcelHandleClick()">
                <span class="material-icons-outlined">
                    download
                </span>
                Xuất báo cáo
            </button>
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="listOnlineClasses">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <ng-container matColumnDef="stt" sticky>
                        <th mat-header-cell *matHeaderCellDef> STT
                        </th>
                        <td mat-cell *matCellDef="let element;let i = index">
                            {{i+1}}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nameclasses" sticky>
                        <th mat-header-cell *matHeaderCellDef>TÊN LỚP HỌC TƯƠNG TÁC
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div fxLayout="column" [matTooltip]='element.name'>
                                <span class="text-wrap" style="width: 330px;font-weight: 600;">
                                    {{element.name}}
                                </span>
                                <span class=" type-zoom" *ngIf="element.meetingType=='ZOM'">Zoom</span>
                                <span class="type-google-meet" *ngIf="element.meetingType=='GMT'">Google Meet</span>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="unitname">
                        <th mat-header-cell *matHeaderCellDef>ĐƠN VỊ QUẢN LÝ
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div fxLayout="column" [matTooltip]='element.unitManage'>
                                <span class="text-wrap" style="width: 300px;">
                                    {{element.unitManage}}
                                </span>
                            </div>
                        </td>
                    </ng-container>
                    <!-- Weight Column -->
                    <ng-container matColumnDef="startDate">
                        <th mat-header-cell *matHeaderCellDef class="mat-column-datetime"> NGÀY BẮT ĐẦU </th>
                        <td mat-cell *matCellDef="let element" class="mat-column-datetime">
                            <span class="text-green"><b>{{element.startDate|date :'HH:mm'}}</b></span>
                            <span> &nbsp; {{ element.startDate|date :'dd/MM/yyyy'}}</span>
                        </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="endDate">
                        <th mat-header-cell *matHeaderCellDef class="mat-column-datetime"> NGÀY KẾT THÚC
                        </th>
                        <td mat-cell *matCellDef="let element" class="mat-column-datetime">
                            <span class="text-red"><b>{{element.finishDate|date :'HH:mm'}}</b></span>
                            <span> &nbsp; {{ element.finishDate|date :'dd/MM/yyyy'}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="statuslearning">
                        <th mat-header-cell *matHeaderCellDef class="mat-column-statuslearning"> TRẠNG THÁI DẠY
                        </th>
                        <td mat-cell *matCellDef="let element" class="mat-column-statuslearning">
                            <div class="status-learning status-not-learning"
                                *ngIf="element.statusLearning == 'NOTLEARN'">
                                Chưa dạy
                            </div>
                            <div class="status-learning status-going-learning"
                                *ngIf="element.statusLearning == 'GOINGLEARN'">
                                Đang dạy
                            </div>
                            <div class="status-learning status-learned" *ngIf="element.statusLearning == 'LEARNED'">
                                Đã dạy
                            </div>
                            <div class="status-learning status-no-learned"
                                *ngIf="element.statusLearning == 'DONTLEARN'">
                                Không dạy
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="tottalstudent" style="width: 400px;">
                        <th mat-header-cell *matHeaderCellDef class="mat-column-student"> TỔNG SỐ HỌC SINH
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="student total-student">
                                {{element.totalStudent}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="joinedstudent">
                        <th mat-header-cell *matHeaderCellDef class="mat-column-status-classes"> TỔNG SỐ HỌC SINH THAM
                            GIA
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="student joined-student">
                                {{element.joinedStudent}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="missingstudent">
                        <th mat-header-cell *matHeaderCellDef class="mat-column-status-classes"> TỔNG SỐ HỌC SINH VẮNG
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="student missing-student">
                                {{element.totalStudent - element.joinedStudent}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="function" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef class="mat-column-function-classes"> CHỨC NĂNG
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-menu-item (click)="onInforRollCallHandleClick(element)" class="btn-action">
                                <span class="material-icons-outlined" matTooltip='Chi tiết'
                                    style="color: rgba(0, 0, 0, 0.54)">
                                    info
                                </span>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsClasses"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsClasses;">
                        <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td colspan="7" class="mat-cell background-no-content">
                            <div class="background-no-content-img"></div>
                            <div class="background-no-content-info">
                                <p>Không tìm thấy lớp học tương tác</p>
                            </div>
                        </td>
                    </tr>
                </div>
            </table>
        </div>
        <mat-paginator #paginatorClasses [length]="countClasses" [pageSizeOptions]="[10, 20, 30, 100]"
            (page)="pageChangeClasses($event)">
        </mat-paginator>
    </mat-card>
</div>