.status {
    width: fit-content;
    padding: 3px 14px;
    margin: 0 auto;

    &.status-badge-upcoming {
        // background: #fff5e0;
        border-radius: 10.5px;
        height: 21px;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        color: #e5ae40;
        background: #fff5e0;
        text-align: center;
        opacity: 0.98;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.status-badge-happenning {
        // background: #dbffdc;
        border-radius: 10.5px;
        height: 21px;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        color: #4caf50;
        text-align: center;
        opacity: 0.98;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.status-badge-not-organized-yet {
        background: #f3f3f3;
        border-radius: 10.5px;
        height: 21px;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        color: #555555;
        text-align: center;
        opacity: 0.98;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.status-badge-end {
        height: 21px;
        // background: #ffe0df;
        border-radius: 10.5px;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        background: #ffe0df;
        color: #da251d;
        text-align: center;
        opacity: 0.98;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
    }
}

.btn-action {
    display: flex;
    justify-content: center;
    align-items: center;
}
.type-zoom {
    background: #4f91ff;
    color: white;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 4px;
    font-weight: 600;
    width: fit-content;
}

.type-google-meet {
    background: #4caf50;
    color: white;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 4px;
    font-weight: 600;
    width: fit-content;
}
.example-container {
    max-width: 100%;
    overflow: auto;
}
.mat-main-column {
    width: 30% !important;
}
.student {
    width: 50px;
    height: 20px;
    border-radius: 4px;
    color: white;
    padding: 4px 20px;
    font-weight: 600;
}
.total-student {
    background: #ff7c40;
}
.joined-student {
    background: #4caf50;
}
.missing-student {
    background: #eb5757;
}

.status-learning {
    border-radius: 10.5px;
    padding: 4px 16px;
    font-weight: 600;
    opacity: 0.98;
    width: 130px;
    margin: 0 auto;
}
.status-not-learning {
    background: #f3f3f3;
    color: #555555;
}

.status-going-learning {
    background: #dbffdc;
    color: #4CAF50;
}
.status-learned {
    background: #FFF5E0;
    color: #E5AE40;
}
.status-no-learned {
    background: #ffe0df;
    color: #DA251D;
}
