p-b-10 {
  padding-bottom: 10px;
}
.btn-action {
  color: #7e8485;
}

.label-form {
  font-size: 16px;
  font-weight: 600;
}
.input-log {
  width: 54px;
  height: 29px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2px;
  cursor: default;
  text-align: center;
  margin: 0px 5px;
}
.center-element {
  text-align: center;
}

.m-r-5 {
  margin-right: 5px;
}

.editing {
  background: #4f91ff;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.waiting {
  background: #e5ae40;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.approved {
  background: #4caf50;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.rejected {
  background: #f8877f;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.margin-l-r-5 {
  margin-left: 5px;
  margin-right: 5px;
}

:host ::ng-deep .mat-form-field-input {
  .mat-form-field-flex {
    height: 30px !important;
  }
  .mat-form-field-infix {
    margin-top: -9px !important;
  }
}

.text-align-end {
  text-align: end;
}
.form-title-label {
  font-size: 14px;
  color: #555555;
}
.form-title-detail {
  font-size: 14px;
  color: #555555;
}
.mat-card-content-info-setting{
  height: 140px;
}