#congracontainer {
  background-image: url('../../../../../assets/images/background/congra-background.png');
  padding: 0px;
  height: 93vh;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  margin: -15px;


  .icon-close {
    position: absolute;
    top: -3px;
    right: -3px;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.5s;
  }

  .icon-close:hover {
    transform: scale(1.2);
  }

  .image {
    width: 200px;
    height: 167px;
    background-image: url('../../../../../assets/images/background/congratulation.png');
  }

  .content {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #555555;
    margin: 20px 0px;
  }

  .close-btn {
    background: #B3B3B3;
    border-radius: 6px;
    padding: 0px 32px;
    color: white;

    .btn-label {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
  .result-btn {
    background: #4CAF50;
    border-radius: 6px;
    padding: 0px 32px;
    color: white;

    .btn-label {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }

  @media (max-width: 1440px) {
    .congra-container {
      width: 360px;
    }
  }
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

[class^='firework-'] {
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
}

$count: 15;
$frame-list: firework-sm,
firework-md,
firework-lg;

@for $i from 1 through $count {
  .firework-#{$i} {
    animation: nth($frame-list, random(3)) 1.2s both infinite;
    animation-delay: #{random($count) * 0.1}s;
    top: random(16) * 5% + 10%;
    left: random(16) * 5% + 10%;
  }
}


// dots generator
@function dots($r) {
  $result: ();

  // straight
  @for $i from 1 through 4 {
    $x: 0;
    $y: 0;

    @if $i <=2 {
      $x: $r
    }

    @else {
      $y: $r
    }

    @if $i % 2 !=0 {
      $x: -$x;
      $y: -$y
    }

    $result: append($result, #{$x}rem #{$y}rem 0 #eeeae6, comma);
  }

  // diagonal
  @for $i from 1 through 4 {
    $dist2: $r * 0.7;
    $x: $dist2;
    $y: $dist2;

    @if $i>2 {
      $x: -$x
    }

    @if $i % 2 !=0 {
      $y: -$y
    }

    $result: append($result, #{$x}rem #{$y}rem 0 #fa631d, comma);
  }

  @return $result;
}

// firework animation
@mixin fireworkSize($name, $r) {
  @keyframes firework-#{$name} {

    0%,
    100% {
      opacity: 0;
    }

    10%,
    70% {
      opacity: 1;
    }

    100% {
      box-shadow: dots($r);
    }
  }
}

@include fireworkSize(sm, 2.5);
@include fireworkSize(md, 2.7);
@include fireworkSize(lg, 2.9);
