<div *ngFor="let in of counter(15); let i = index" class="firework-{{i+1}}"></div>
<div id="congracontainer">
  <div class="icon-close" [mat-dialog-close]>
    <mat-icon>close</mat-icon>
  </div>
  <!-- <div fxLayout="row">
    <div fxFlex="100" fxLayoutAlign="center center">
      <div class="image">
      </div>
    </div>
  </div> -->
  <div fxLayout="row" fxLayoutAlign="center end" style="min-height: 100%;">
    <div fxLayout="row">
      <div fxFlex="100" fxLayoutAlign="center center" style="margin-bottom: 15px;">
        <button mat-button class="close-btn" [mat-dialog-close]="false">
          <span class="btn-label">
            ĐÓNG
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
