<div class="result-exam">
  <div class="result-exam-content" fxLayout="column" fxLayoutAlign="center center">
    <div class="icon-area">
        <mat-icon svgIcon="content-finish"></mat-icon>
      </div>
    <div class="congra-label">
      Chúc mừng! <span>Bạn đã hoàn thành bài kiểm tra</span>
    </div>
    <div>
      <span class="view-result-sub-label">Bạn có muốn xem lại bài làm của mình?</span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="btn-group" fxLayoutGap="20px">
    <button class="button-cancel" mat-flat-button mat-dialog-close>Hủy</button>
    <button class="accept-button" mat-flat-button [mat-dialog-close]="true">Đồng ý</button>
  </div>
</div>
