.result-exam {
  .do-exam-icon {
    width: 20%;
    height: auto;
    margin-bottom: 2rem;
  }

  .subject {
    font-weight: bold;
    color: #495057;
  }

  .question-number {
    font-weight: bold;
    color: #495057;
  }

  .view-result-sub-label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #303030;
  }

  .congra-label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #303030;
  }

  .icon-area {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    width: 5rem;

    mat-icon {
      color: #DA251D;
      width: 4rem;
      height: 4rem;
      font-size: 4rem;
    }
  }

  .btn-group {
    margin-top: 30px;

    .accept-button {
      color: white;
      background-color: #4CAF50;
      min-width: 100px;
    }

    .cancel-button {
      color: white;
      background-color: #adb5bd;
      min-width: 100px;
    }
  }
}
