<div class="apply-css-alpha">
  <mat-card class="manage-card function-content">
    <mat-tab-group class="manage-tab-group" (selectedTabChange)="tabChanged($event)">
      <mat-tab label="Ngân hàng câu hỏi">
        <app-filter-question [hideStatusField]="hideStatus"></app-filter-question>
        <app-list-question *ngIf="!hideStatus" [listAll]="listAll"></app-list-question>
      </mat-tab>
      <mat-tab *ngIf="hasApprovePermission" label="Duyệt câu hỏi">
        <app-filter-question [hideStatusField]="hideStatus"></app-filter-question>
        <app-list-question *ngIf="hideStatus" [confirmQuestion]="statusWaiting"></app-list-question>
      </mat-tab>
      <!-- <mat-tab label="Thống kê" disabled>
          <app-filter-question></app-filter-question>
        </mat-tab> -->
    </mat-tab-group>
  </mat-card>
</div>