:host ::ng-deep .mat-tab-label{
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;
    opacity: 1;
}

:host ::ng-deep .mat-tab-labels{
    background-color: #fff;
}

:host ::ng-deep .mat-tab-body-content{
    overflow: hidden;
  }

:host .function-content {
    box-shadow:none !important;
    background-color: transparent !important;
}