<div class="content">
    <div class="top">
        <h1 class="title">Chọn chủ đề</h1>
        <mat-icon class="icon" (click)="closeModal()">close</mat-icon>
    </div>
    <div class="item">
        <div class="image first_bg" (click)="onSelectImage(null)"></div>
        <div *ngFor="let item of listImage" class="image" (click)="onSelectImage(item)"
            [ngStyle]="{'background-image': 'url(' + item.thumbnail + ')'}">
        </div>
    </div>
    <div class="action">
        <button (click)="closeModal()" mat-raised-button color="">Đóng</button>
        <button mat-raised-button color="primary" (click)="confirm()">Thay đổi</button>
    </div>
</div>