.content {
  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .title {
      font-size: 16px;
      color: #303030;
      margin: 0;
      line-height: unset;
    }

    .icon {
      cursor: pointer;
    }
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
    // margin: -5px;
    // &:after {
    //   content: '';
    //   flex: auto;
    // }

    .image {
      height: 67px;
      width: calc(23%);
      background-repeat: no-repeat;
      margin-bottom: 14px;
      border-radius: 6px;
      background-size: cover;
      background-position: center center;
      //   margin: 5px;

      &:hover {
        opacity: 0.9;
        cursor: pointer;
        transform: scale(1.03);
      }
    }

    .first_bg{
      background-color: white;
      border: 1px solid #555555;
    }
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button:first-child {
      margin-right: 15px;
    }
  }
}
