<div class="apply-css-alpha">
    <div class="user-group-container">
        <mat-card class="manage-card">
            <mat-card-content>
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid"
                    fxLayoutGap.gt-md="30px grid">
                    <mat-card-header>
                        <mat-card-title>
                            <div>Thống kê nhóm học sinh</div>
                        </mat-card-title>
                    </mat-card-header>
                    <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
                        <div fxLayout="row" fxLayoutGap="15px">
                            <div fxFlex="none">
                                <mat-form-field appearance="outline">
                                    <mat-label>Tìm kiếm</mat-label>
                                    <input matInput type="text" #input [(ngModel)]="getListUserGroupRequest.keyWord"
                                        (keyup.enter)="getListUserGroup()" name="search"
                                        placeholder="Tìm tên nhóm người dùng" autocomplete="off">
                                </mat-form-field>
                            </div>
                            <div fxFlex="none">
                                <button mat-raised-button color="primary" class="mat-button-square"
                                    (click)="getListUserGroup()">
                                    <mat-icon matSuffix>search</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="manage-card">
            <app-spinner2></app-spinner2>
            <table *ngIf="!isLoadingResults" mat-table [dataSource]="userGroupPagination.items">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <ng-container matColumnDef="stt">
                        <th mat-header-cell *matHeaderCellDef> STT
                        </th>
                        <td mat-cell *matCellDef="let element;let i = index">
                            {{i+1}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> TÊN NHÓM
                        </th>
                        <td mat-cell *matCellDef="let element" class="mat-main-column">
                            {{element.name}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="userGroupCode">
                        <th mat-header-cell *matHeaderCellDef> MÃ NHÓM </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.userGroupCode}}
                        </td>
                    </ng-container>

                  

                    <ng-container matColumnDef="countStudent">
                        <th mat-header-cell *matHeaderCellDef> SỐ HỌC SINH
                            TRONG NHÓM </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.count}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="function">
                        <th mat-header-cell *matHeaderCellDef>CHỨC NĂNG</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button (click)="assignUser(element.id)">
                                <mat-icon matTooltip='Chi tiết' svgIcon="detail-report-lesson"></mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell background-no-content text-center" colspan="5">
                          <div class="background-no-content-img"></div>
                          Không có dữ liệu
                        </td>
                      </tr>
                </div>
            </table>
            <mat-paginator [length]="userGroupPagination.totalItems" [pageSizeOptions]="[10, 20, 30, 100]">
            </mat-paginator>
        </mat-card>
    </div>
</div>