/* You can add global styles to this file, and also import other style files */

// @import "./app/core/styles/index.scss";
// @import "./app/core/styles/color";
.wrs_tickContainer{
  display: none!important;
}

.mt_2 {
  margin-top: 20px !important;
}

.mr_2 {
  margin-right: 20px !important;
}

.mbt_2 {
  margin-bottom: 20px !important;
}

.flex_justify_center {
  display: flex;
  justify-content: center;
}

.green-snackbar {
  background: rgb(33, 205, 96);
  color: white;
}

.green-snackbar button {
  background-color: rgb(33, 205, 96);
  color: white;
  border: 1px solid;
}

.red-snackbar {
  background: #f44336;
  color: white;
}

.red-snackbar button {
  background-color: #f44336;
  color: white !important;
  border: 1px solid;
}

.yellow-snackbar {
  background: #e5ae40;
  color: white;
}

.yellow-snackbar button {
  background-color: #e5ae40;
  color: white !important;
  border: 1px solid;
}

.form-title-label {
  font-weight: 600;
}

// // date-picker style
// .date-picker-input {
//     border-left: none;
//     border-right: none;
//     border-top: none;
//     border-bottom: 1px solid #ccc;
//     font-size: 13px !important;
//     cursor: pointer;
// }
// .date-picker-wrapper {
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     padding-left: 5px;
//     font-size: 13px !important;
// }

.errors-msg {
  color: #dd1010;
  font-weight: 600;
}

// style table
table.mat-table {
  border: 1px solid #edeef7 !important;
  border-bottom: none !important;
}

// ---style table

// style khung ckeditor
.cke_chrome {
  display: block !important;
  border: 1px solid #ddd !important;
  border-radius: 4px !important;
  padding: 2px 2px !important;
  background: #eee !important;
}

.cke_bottom {
  padding: 2px 0 2px !important;
  background: #eee !important;
}

.cke_resizer {
  margin-top: 1px !important;
  margin-bottom: -1px !important;
}

.ngx-contextmenu {
  width: 160px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  border-radius: 2px;

  ul {
    list-style-type: none;
    margin: 0px !important;
    padding: 0px !important;

    li {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      margin: 0px;

      a {
        color: #555555;
      }
    }
  }
}

// .splash-logo {
//   left: 50%;
//   top: 50%;
//   margin-left: -26px;
//   margin-top: -26px;
//   z-index: 2;
//   position: absolute;
//   width: 54px;
// }

// .splash-loader,
// .splash-loader:before,
// .splash-loader:after {
//   left: 50%;
//   top: 50%;
//   margin-left: -45px;
//   margin-top: -45px;
//   position: absolute;
//   vertical-align: middle;
//   background: #c3002f;
//   width: 90px;
//   height: 90px;
//   border-radius: 50%;
//   z-index: 1;
// }

// .splash-loader {
//   background: transparent;
// }

// .splash-loader:before {
//   content: "";
//   animation: bounce 1.5s infinite;
// }

// .splash-loader:after {
//   content: "";
//   animation: bounce 1.5s -0.4s infinite;
// }

// @keyframes bounce {
//   0% {
//     transform: scale(0.3);
//     -webkit-transform: scale(0.3);
//     opacity: 1;
//   }

//   100% {
//     transform: scale(2);
//     -webkit-transform: scale(2);
//     opacity: 0;
//   }
// }

// @-webkit-keyframes bounce {
//   0% {
//     transform: scale(0.3);
//     -webkit-transform: scale(0.3);
//     opacity: 1;
//   }

//   100% {
//     transform: scale(2);
//     -webkit-transform: scale(2);
//     opacity: 0;
//   }
// }

// .splash-screen {
//   background-color: #f3f3f3;
//   height: 100%;
// }

// html,
// body {
//   height: 100%;
// }

// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
// }

// .Blanking {
//   box-sizing: border-box;
//   width: auto;
//   min-width: 50px;
//   height: auto;
//   margin: 0 10px;
//   display: inline-table;
//   text-align: center;
//   font-weight: bold;
//   border-bottom: 1px solid #c0c0c0;
//   text-align: center;
// }

// .Blanking2 {
//   box-sizing: border-box;
//   width: auto;
//   min-width: 50px;
//   height: auto;
//   margin: 0 10px;
//   display: inline-table;
//   text-align: center;
//   font-weight: bold;
//   border-bottom: 1px solid #c0c0c0;
//   text-align: center;
// }

// u {
//   font-weight: bold;
// }

// .my-full-screen-dialog .mat-dialog-container {
//   width: 100vw;
//   height: 90vh;
//   min-height: 90vh;
//   margin: 0;
//   overflow: hidden;
//   border-radius: 5px;
//   padding: 1rem;
// }

// .callsupport-dialog .mat-dialog-container {
//   width: 40vw;
//   height: 40vh;
//   min-height: 40vh;
//   margin: 0;
//   overflow: hidden;
//   border-radius: 5px;
//   padding: 1rem;
// }

// .notification-dialog {
//   width: 30vw;
//   height: 32vh;
//   min-height: 32vh;
//   margin: 0;
// }

// .end-time-dialog {
//   width: 25vw;
//   height: 30vh;
//   min-height: 30vh;
//   margin: 0;
// }

// .cdk-global-scrollblock {
//   position: unset
// }

// #loading {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   z-index: 1;
//   width: 150px;
//   height: 150px;
//   margin: -75px 0 0 -75px;
//   border: 16px solid #f3f3f3;
//   border-radius: 50%;
//   border-top: 16px solid #3498db;
//   width: 120px;
//   height: 120px;
//   animation: spin 2s linear infinite;
// }

// @keyframes spin {
//   0% {
//     transform: rotate(0deg);
//   }

//   100% {
//     transform: rotate(360deg);
//   }
// }

// .dropdown-menu {
//   position: absolute;
//   float: none;
//   background-color: #E9ECEF;
// }

// .dropdown-menu>li {
//   list-style: none;
// }

// .dropdown-menu>li>a {
//   display: block;
//   padding: 3px 20px;
//   clear: both;
//   font-weight: 400;
//   color: black;
//   white-space: nowrap;
//   text-decoration: none;
//   border-bottom: 1px solid;
// }

.table-mobile {
  display: none;
  box-shadow: 0px 4px 40px rgb(0 0 0 / 5%);

  ::ng-deep mat-expansion-panel {
    box-shadow: 0 0px 0px;
    border-bottom: 1px solid #ccc;

    mat-panel-title {
      font-weight: bold;
    }

    .item-value {
      display: inline-table;
      width: 100%;
      min-height: 40px;

      .name {
        font-weight: bold;
        display: table-cell;
        width: 50%;
        vertical-align: middle;
      }

      .value {
        width: 50%;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

@media (max-width: 560px) {
  .table-mobile {
    display: block;
  }

  .mobile-hide {
    display: none !important;
  }
}
