<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxLayout="row">
        <div fxFlex="50" class="mat-title">Danh sách học sinh trong lớp</div>
        <div fxFlex="50" fxLayoutAlign.gt-md="end center">
          <button *ngIf="isShowFilter" (click)="onClickToggleShowFilter()" fxLayoutAlign="end end" mat-raised-button
            class="button-sm button-hidden-filter">
            <span class="material-icons">visibility_off</span>
            Ẩn bộ lọc
          </button>
          <button *ngIf="!isShowFilter" (click)="onClickToggleShowFilter()" fxLayoutAlign="end end" mat-raised-button
            class="button-sm button-hidden-filter">
            <span style="width: 24px;" class="material-icons">visibility_on</span>
            Hiện bộ lọc
          </button>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" fxLayoutGap.gt-md="20px grid">
          <!-- <a [routerLink]="['/dashboard/manage-groupstudents/assign-student']"
            [queryParams]="{ divisionId: mdivisionId, schoolId: mschoolId , gradeId: mgradeId , groupStudentId: mgroupStudentId, schoolYear: mschoolYear}">
            <button color="primary" mat-raised-button>
              <mat-icon class="icon">add_circle_outline</mat-icon> Ghi danh
            </button>
          </a> -->

   
        </div>
      </div>


    </mat-card-content>
  </mat-card>

  <mat-card class="manage-card" *ngIf="isShowFilter">
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutGap.gt-md="20px grid" fxLayoutAlign="start center"
        class="filter-wrapper">
        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">

          <mat-form-field appearance="outline">
            <mat-label>Niên khóa</mat-label>
            <mat-select [formControl]="schoolYearCtrl" placeholder="Chọn niên khóa" #singleSelectSchoolYear
              disableOptionCentering>
              <mat-option value="2017">
                2017-2018
              </mat-option>
              <mat-option value="2018">
                2018-2019
              </mat-option>
              <mat-option value="2019">
                2019-2020
              </mat-option>
              <mat-option value="2020">
                2020-2021
              </mat-option>
              <mat-option value="2021">
                2021-2022
              </mat-option>
              <mat-option value="2022">
                2022-2023
              </mat-option>
              <mat-option value="2023">
                2023-2024
              </mat-option>
              <mat-option value="2024">
                2024-2025
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">
          <mat-form-field appearance="outline">
            <mat-label>Tìm kiếm</mat-label>
            <input matInput fxFlex type="text" [formControl]="keywordCtrl" placeholder="Tìm người dùng"
              autocomplete="off">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>

        <div fxFlex fxLayoutAlign="end center" class="cls-excel">
          <button mat-raised-button color="primary" (click)="exportExcel()">
            <mat-icon matSuffix>file_download</mat-icon>
            Xuất dữ liệu
          </button>
        </div>

        <div fxLayoutAlign="end center">
          <button mat-raised-button color="primary" (click)="onSubmitFilter()">
            <mat-icon matSuffix>filter_list</mat-icon>
            Lọc kết quả
          </button>
        </div>

      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <app-spinner2></app-spinner2>
    <table mat-table [dataSource]="studentsPagination.items" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef style="width: 70px;">
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="changeCheck($event,row)"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Mã định danh </th>
        <td mat-cell *matCellDef="let element" class="mat-main-column" > {{element.username}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef> Họ và tên </th>
        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="dayOfBirth">
        <th class="center" mat-header-cell *matHeaderCellDef> Ngày sinh </th>
        <td class="center" mat-cell *matCellDef="let element">
          <span *ngIf="element.dayOfBirth != null">
            {{element.dayOfBirth | date: 'dd/MM/yyyy'}}
          </span>
          <span *ngIf="element.dayOfBirth == null">-</span>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Giới tính </th>
        <td mat-cell *matCellDef="let element"> {{element.getGender}} </td>
      </ng-container>

      <!-- fuction Column -->
      <ng-container matColumnDef="function">
        <th class="end" mat-header-cell *matHeaderCellDef> Chức năng </th>
        <td class="end" mat-cell *matCellDef="let row">
          <button mat-icon-button  matTooltip="Chuyển lớp" matTooltipPosition="left" (click)="tranferGroupstudent(row)" style="color:#7E8485">
            <mat-icon style="font-size: 22px;">remove_circle_outline</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell background-no-content text-center" colspan="8">
          <div class="background-no-content-img"></div>
          Không tìm thấy học sinh
        </td>
      </tr>
    </table>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button fxLayoutAlign="start center" style="margin-left: 15px;" [disabled]="studentsPagination.totalItems==0"
        mat-raised-button color="warn" (click)="tranferGroupstudent(null)">
        <mat-icon style="font-size: 22px;">remove_circle_outline</mat-icon>
        Chuyển lớp
      </button>
      <mat-paginator fxLayoutAlign="end center" [length]="studentsPagination.totalItems"
        [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
    </div>
  </mat-card>

  <div fxLayout="row" fxLayoutAlign="center center" class="m-b-20">
    <button mat-raised-button mat-dialog-close class="button-cancel" (click)="back()">Quay
      lại</button>
  </div>
</div>