.end {
  text-align: end;
}

.center {
  text-align: center;
}

.cls-fillter {
  margin-left: 446px;
}

.mat-column-select {
  width: 52px !important;
  text-align: center;
  padding-left: 0 !important;
}

.material-icons{
  font-size: 20px;
}
