<app-spinner2>
</app-spinner2>
<div>
    <learner-lesson-content-do-test *ngIf="!isLoading" [userContentTestId]="userContentTestId" [testId]="testId" [itemPerpage]="itemsPerPage" (isChildReady)="hideSpinner($event)" >
    </learner-lesson-content-do-test>
</div>
  