<div fxLayout="column" fxLayoutGap="10px" class="container" [ngClass]="{'isCloneQuestion': hideAction}">
  <div fxLayout="column" fxLayoutGap=10px>
    <div fxLayout="row" class="group-question" *ngIf="!hideAction">
      <label fxFlex=12.5>Mức độ</label>
      <select class="matFormFieldSelectBox combobox_selection">
        <option value="1">Đa mức độ</option>
        <!-- <option value="1">Một mức độ</option> -->
      </select>
    </div>

    <div fxLayout="row">
      <label fxFlex=12.5>Yêu cầu chung:</label>
      <div class="input-content ck-editor-cls" fxFlex=87.5 [attr.uploadUrl]="configUpload?.uploadUrl"
      [attr.token]="configUpload?.token">
        <ckeditor #ck [ngModel]="ckeditorContent" [config]="configQuestion" (change)="onQuestionContentChange($event)">
        </ckeditor>
        <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
          style="display:none!important" />
        <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
        <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
      </div>
    </div>

    <div fxLayout=row>
      <div fxFlex=50 fxLayout=row>
        <span fxFlex=25>Số câu hỏi:</span>
        <!-- <button class="btn-add-subquestion" mat-icon-button style="margin-block: -12px;"
          (click)="removeSubQuestion(subQuestion.length)" matTooltip="Xóa câu hỏi">
          <mat-icon>remove_circle_outline</mat-icon>
        </button> -->
        <input class="matFormFieldSelectBox input-question-number" type="number" value="{{subQuestion.length}}" disabled>
        <!-- <button class="btn-add-subquestion" style="margin-block: -12px;" mat-icon-button (click)="addSubQuestion()"
          matTooltip="Thêm câu hỏi">
          <mat-icon>add_circle_outline</mat-icon>
        </button> -->
      </div>
      <div fxFlex=50 fxLayout="row" fxLayoutAlign="end center">
        <label fxFlex=20 fxLayoutAlign="start center">Câu hỏi:</label>
        <select class="matFormFieldSelectBox combobox_selection" [value]="selectedQuestion" [(ngModel)]="selectedQuestion"
        (ngModelChange)="onChangeChildQuestion($event)">
          <option *ngFor="let question of subQuestion, let i=index" value="{{i+1}}">
            Câu hỏi {{i+1}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap=10px>
    <div class="group-question" *ngFor="let question of subQuestion; let i = index"
      [hidden]="selectedQuestion != (i+1).toString()">
      <div fxLayout=row class="type-level-wrapper">
        <div fxLayout=row fxFlex=50>
          <label fxFlex=25>Loại câu hỏi:</label>
          <mat-form-field fxLayoutAlign="start center" class="matFormFieldSelectBox combobox_selection"
            [floatLabel]="'never'">
            <mat-select disabled [formControl]="questionChildTypeCtrl" disableOptionCentering>
              <mat-option *ngFor="let type of typeQuestionEnum" [value]="type.id">
                {{type.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout=row fxFlex=50 fxLayoutAlign="end center">
          <label fxLayoutAlign="start center" fxFlex=20>Mức độ:</label>
          <mat-form-field fxLayoutAlign="start center" class="combobox_selection matFormFieldSelectBox"
            [floatLabel]="'never'">
            <mat-select [formControl]="questionChildLevelCtrl" disableOptionCentering (selectionChange)="onchangeLevel($event.value)">
              <mat-option *ngFor="let level of levelQuestionEnum" [value]="level.id">
                {{level.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <app-edit-single-choice-question #singleChoice *ngIf="question.type=='SIG'" [dataQuestion]="question" [configUpload]="configUpload"
        [isGroup]="true">
      </app-edit-single-choice-question>
      <app-edit-multiple-choice-question #multichoice *ngIf="question.type=='MTC'" [dataQuestion]="question" [configUpload]="configUpload"
        [isGroup]="true">
      </app-edit-multiple-choice-question>
      <app-edit-under-line-question [hideAction]="true" #underline *ngIf="question.type=='UDL'" [dataQuestion]="question" [configUpload]="configUpload" [isGroup]="true">
      </app-edit-under-line-question>
      <app-edit-true-false-question #truefalse *ngIf="question.type=='TFQ'" [dataQuestion]="question" [configUpload]="configUpload" [isGroup]="true">
      </app-edit-true-false-question>
      <app-edit-true-false-clause-question #truefalseclause *ngIf="question.type=='TFC'" [isGroup]="true" [configUpload]="configUpload"
        [dataQuestion]="question">
      </app-edit-true-false-clause-question>
      <app-edit-missing-word1-question #missingword *ngIf="question.type=='FB1'" [dataQuestion]="question" [configUpload]="configUpload"
        [isGroup]="true">
      </app-edit-missing-word1-question>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'isClone': hideAction}">
  <button mat-raised-button color='primary' (click)="updateQuestion(true)" [disabled]="disabledUpdate">Áp dụng</button>
</div>