<!-- Breadcrumb -->
<div class="page-breadcrumb">
	<div fxLayout="row wrap">
        <div fxFlex class="align-self-center">
            <div>
                <button mat-icon-button class="go-back-button" (click)="goBack()" >
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <span class="page-title text-themecolor m-0" style="color:#303030"> QUAY LẠI</span>
            </div>
		</div>
		<!-- <div fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="100" class="align-self-center">
            <div class="breadcrumb d-flex align-items-center float-right float-sm-left">
                <ul class="list-style-none d-flex align-items-center">
                    <ng-template ngFor let-url [ngForOf]="pageInfo?.urls" let-last="last">
                        <li class="breadcrumb-item" *ngIf="!last" [routerLink]="url.url">
                            <a href='javascript:void(0)'>{{url.title}}</a>
                        </li>
                        <li class="breadcrumb-item active" *ngIf="last">{{url.title}}</li>
                    </ng-template>
                </ul>
            </div>
        </div> -->
    </div>
</div>