<div class="add-content-container">
  <mat-card class="manage-card">
    <learn-step-header-lesson *ngIf="isReady" [stepHeaderCtrl]="stepHeaderControl"></learn-step-header-lesson>
  </mat-card>
  <mat-card class="manage-card" style="padding: 0px !important;">
    <learn-lesson-name-header [lessonName]="lessonName"></learn-lesson-name-header>
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Nội dung">
        <div class="content_lesson">
          <mat-card-content>
            <div fxLayout="row" fxLayoutGap="20px" *ngIf="hasAddLessonPermission || hasEditLessonPermission">
              <button mat-raised-button color="primary" class=" mr_2 mbt_2" (click)="openPartDialog()">
                <mat-icon svgIcon="add-white" class="content_lesson_top_action"></mat-icon>
                Thêm tiết học
              </button>
              <button mat-raised-button [matMenuTriggerFor]="menu" color="primary" style="position:relative"
                class=" mr_2 mbt_2" (click)="handleShowHideAddContent()">
                <mat-icon svgIcon="add-white" class="content_lesson_top_action"></mat-icon>
                Thêm nội dung
              </button>
              <mat-menu #menu="matMenu" yPosition="below">
                <a mat-menu-item [routerLink]="['/dashboard/learn/lesson/',lessonId,'add-detail-content']">Nội
                  dung</a>
                <div class="border_menu_item"></div>
                <a mat-menu-item [routerLink]="['/dashboard/learn/lesson/',lessonId,'add-video-content']">Video</a>
                <div class="border_menu_item"></div>
                <a mat-menu-item [routerLink]="['/dashboard/learn/lesson/',lessonId,'add-sound-content']">Âm thanh</a>
                <div class="border_menu_item"></div>
                <a mat-menu-item [routerLink]="['/dashboard/learn/lesson/',lessonId,'add-document-content']">Tài
                  liệu</a>
                <div class="border_menu_item"></div>
                <a mat-menu-item [routerLink]="['/dashboard/learn/lesson/',lessonId,'add-scorm-content']">Scorm</a>
                <div class="border_menu_item"></div>
                <a mat-menu-item [routerLink]="['/dashboard/learn/lesson/',lessonId,'add-iframe-content']">Iframe</a>
                <div class="border_menu_item"></div>
                <a mat-menu-item [routerLink]="['/dashboard/learn/lesson/',lessonId,'add-test']">Bài kiểm tra</a>
                <!-- <div class="border_menu_item"></div>
                  <a mat-menu-item>Bài tiểu luận</a> -->
                <div class="border_menu_item"></div>
                <a mat-menu-item (click)="onAddOnlineClassroom()">Lớp
                  học
                  tương tác</a>
              </mat-menu>
              <!-- TODO : LAMNV11 Hidden to demo Date : 2021/25/05 -->
              <!-- <button mat-raised-button color="primary" class="button-sm mr_2 mbt_2">
                  <mat-icon svgIcon="graduate" class="content_lesson_top_action"></mat-icon>
                  Hiển thị như học sinh
                </button> -->
              <!-- TODO : LAMNV11 Hidden to demo Date : 2021/25/05 -->
              <!-- <button mat-raised-button color="primary" class="button-sm mbt_2">
                  <mat-icon svgIcon="sort" class="content_lesson_top_action"></mat-icon>
                  Sắp xếp
                </button> -->
            </div>
          </mat-card-content>
          <div class="content-lesson-part">
            <mat-expansion-panel *ngFor="let contentGroup of listContentGroup?.contentGroups" hideToggle
              [ngClass]="{'expansion-disabled': contentGroup.contents.length == 0}"
              [disabled]="contentGroup.contents.length == 0">
              <mat-expansion-panel-header #panelH *ngIf=" contentGroup?.id < 1" (click)="panelH._toggle()">
                <mat-panel-title fxLayout="row" fxLayoutAlign="space-between center" style="margin-right: 0px;">
                  <div fxFlex="40" fxLayoutAlign="start center"> {{contentGroup.contents[0]?.name}}
                  </div>
                  <div fxFlex="40" fxLayoutAlign="start center" style="padding-left: 22px;">
                    <span class="content-type" *ngIf="contentGroup.contents[0]?.typesOfContent == 'TEX'"
                      style="background-color: #4CAF50;">
                      Nội dung thuần
                    </span>
                    <span class="content-type" *ngIf="contentGroup.contents[0]?.typesOfContent == 'VID'"
                      style="background: linear-gradient(0deg, #DA251D, #DA251D), #DA251D;">
                      Video
                    </span>
                    <span class="content-type" *ngIf="contentGroup.contents[0]?.typesOfContent == 'SOU'"
                      style="background-color: #68C9FF">
                      Âm thanh
                    </span>
                    <span class="content-type" *ngIf="contentGroup.contents[0]?.typesOfContent == 'DOC'"
                      style="background-color: #F9CA51">
                      Tài liệu
                    </span>
                    <span class="content-type" *ngIf="contentGroup.contents[0]?.typesOfContent == 'IFR'"
                      style="background-color: #4C85DA">
                      Iframe
                    </span>
                    <span class="content-type" *ngIf="contentGroup.contents[0]?.typesOfContent == 'SCO'"
                      style="background-color: #2B4C6C">
                      Scorm
                    </span>
                    <span class="content-type" *ngIf="contentGroup.contents[0]?.typesOfContent == 'TES'"
                      style="background-color: #6F2A8C">
                      Bài kiểm tra
                    </span>
                    <span class="content-type" *ngIf="contentGroup.contents[0]?.typesOfContent == 'VIR'"
                      style="background-color: #3285F7">
                      Lớp học tương tác
                    </span>
                  </div>
                  <!-- <div fxFlex="20" fxLayoutAlign="end center"></div> -->
                  <div fxFlex="20" fxLayoutAlign="end center">
                    <button mat-icon-button>
                      <mat-icon svgIcon="edit-black" class="content_icon__action"
                        *ngIf="hasEditLessonPermission == true || hasAddLessonPermission == true"
                        (click)="editContent(contentGroup.contents[0]?.id)">
                      </mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="hasEditLessonPermission == true || hasAddLessonPermission == true">
                      <mat-icon svgIcon="trash-black" class="content_icon__action"
                        (click)="deleteContent(contentGroup.contents[0]?.id)">
                      </mat-icon>
                    </button>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-expansion-panel-header *ngIf="contentGroup?.id > 0">
                <mat-panel-title fxLayout="row" fxLayoutAlign="space-between center">
                  <mat-icon svgIcon="accordion" class="material-icons open"></mat-icon>
                </mat-panel-title>
                <div fxFlex="50" fxLayoutAlign="start center" class="content-group-name"> {{contentGroup.name}}
                </div>
                <div fxFlex="50" fxLayoutAlign="end center">
                  <button mat-icon-button>
                    <mat-icon svgIcon="edit-black" class="content_icon__action"
                      *ngIf="hasEditLessonPermission == true || hasAddLessonPermission == true"
                      (click)="editGroupContent(contentGroup.id)">
                    </mat-icon>
                  </button>
                  <button mat-icon-button *ngIf="hasEditLessonPermission == true || hasAddLessonPermission == true">
                    <mat-icon svgIcon="trash-black" class="content_icon__action"
                      (click)="deleteGroupContent(contentGroup.id)">
                    </mat-icon>
                  </button>
                </div>
              </mat-expansion-panel-header>
              <div *ngIf="contentGroup?.id > 0 && contentGroup?.contents.length > 0">
                <div *ngFor="let element of contentGroup?.contents">
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="contents-render">
                    <p fxFlex="40" fxLayoutAlign="start center">
                      {{element.name}}
                    </p>
                    <div fxFlex="40" fxLayoutAlign="start center" style="padding-left: 22px;">
                      <span class="content-type" *ngIf="element?.typesOfContent == 'TEX'"
                        style="background-color: #4CAF50;">
                        Nội dung thuần
                      </span>
                      <span class="content-type" *ngIf="element?.typesOfContent == 'VID'"
                        style="background: linear-gradient(0deg, #DA251D, #DA251D), #DA251D;">
                        Video
                      </span>
                      <span class="content-type" *ngIf="element?.typesOfContent == 'SOU'"
                        style="background-color: #68C9FF">
                        Âm thanh
                      </span>
                      <span class="content-type" *ngIf="element?.typesOfContent == 'DOC'"
                        style="background-color: #F9CA51">
                        Tài liệu
                      </span>
                      <span class="content-type" *ngIf="element?.typesOfContent == 'IFR'"
                        style="background-color: #4C85DA">
                        Iframe
                      </span>
                      <span class="content-type" *ngIf="element?.typesOfContent == 'SCO'"
                        style="background-color: #2B4C6C">
                        Scorm
                      </span>
                      <span class="content-type" *ngIf="element?.typesOfContent == 'TES'"
                        style="background-color: #6F2A8C">
                        Bài kiểm tra
                      </span>
                      <span class="content-type" *ngIf="element?.typesOfContent == 'VIR'"
                        style="background-color: #3285F7">
                        Lớp học tương tác
                      </span>
                    </div>
                    <div fxFlex="20" fxLayoutAlign="end center">
                      <button mat-icon-button (click)="editContent(element.id)"
                        *ngIf="hasEditLessonPermission == true || hasAddLessonPermission == true">
                        <mat-icon svgIcon="edit-black">
                        </mat-icon>
                      </button>
                      <button mat-icon-button (click)="deleteContent(element.id)"
                        *ngIf="hasEditLessonPermission == true || hasAddLessonPermission == true">
                        <mat-icon svgIcon="trash-black" class="content_icon__action"></mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
            <div
              *ngIf="listContentGroup==undefined || listContentGroup?.contentGroups==undefined || listContentGroup?.contentGroups?.length <= 0">
              <div class="mat-cell background-no-content">
                <div class="background-no-content-img">

                </div>
                <div class="background-no-content-info">
                  <p>Chưa có nội dung nào được tạo</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Tài liệu tham khảo">
        <div>
          <mat-card-content>
            <button mat-raised-button color="primary" (click)="openDialog()"
              *ngIf="hasAddLessonPermission || hasEditLessonPermission">
              <mat-icon svgIcon="add-white" class="reference_leson_action"></mat-icon>
              Thêm tài liệu tham khảo
            </button>
          </mat-card-content>
          <div class="example-container">
            <div class="example-loading-shade" *ngIf="isLoadingResults">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>
            <div class="example-table-container">
              <table mat-table [dataSource]="referenceData">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef fxFlex="40" fxLayoutAlign="start center"> STT
                    </th>
                    <td mat-cell *matCellDef="let element;let i = index" fxFlex="40" fxLayoutAlign="start center">
                      {{i+1}}
                    </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef fxFlex="50" fxLayoutAlign="start center"> Tên tài liệu
                    </th>
                    <td mat-cell *matCellDef="let element" fxFlex="50" fxLayoutAlign="start center">
                      {{element.name}}
                    </td>

                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef fxFlex="10" fxLayoutAlign="end center"> Chức
                      năng
                    </th>
                    <td mat-cell *matCellDef="let element" fxFlex="10" fxLayoutAlign="end center">
                      <button mat-icon-button *ngIf="hasEditLessonPermission == true || hasAddLessonPermission == true">
                        <mat-icon class="lesson_icon__action" svgIcon="edit-black"
                          (click)='onEditReferenceHandler(element.id)'>
                        </mat-icon>
                      </button>
                      <button mat-icon-button *ngIf="hasEditLessonPermission == true || hasAddLessonPermission == true">
                        <mat-icon class="lesson_icon__action" svgIcon="trash-black"
                          (click)='onRemoveReferenceHandler(element.id)' class="icon-delete">
                        </mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell background-no-content" colspan="4">
                      <div class="background-no-content-img"></div>
                      <div class="background-no-content-info">
                        <p>Không có tài liệu nào</p>
                      </div>
                    </td>
                  </tr>
                </div>
              </table>
            </div>
          </div>
          <!-- <mat-paginator [length]="lessonData?.items?.length" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator> -->
        </div>
      </mat-tab>
    </mat-tab-group>

  </mat-card>

  <div class="end-button">
    <button mat-raised-button [routerLink]="['/dashboard/learn']" class="button-cancel">
      Quay lại
    </button>
    <button mat-raised-button color="primary" (click)='onNextButtonClick()'>
      Tiếp tục
    </button>
  </div>
</div>