.label_combobox {
  color: #555555 !important;
}

.margin_button {
  margin-top: 20px;
}

.combobox_selection {
  width: 146px;
  height: 30px;

  border: 0.5px solid #ccc;
  box-sizing: border-box;
  border-radius: 2px;

  color: #555555;
}

.title-file {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #4caf50;
  opacity: 0.98;
}

.reference_leson_action {
  width: 14px;
}

.row_flex {
  display: flex;
  padding: 10px;
}

.input_search {
  width: 90%;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  // background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.label_combobox {
  margin-right: 10px;
}

.combobox_action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 6px;
}

.input_search {
  background-image: url("../../../../../assets/images/icon/search.svg");
  background-size: 10% 50%;
  background-repeat: no-repeat;
  background-position: right center;
}

// ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
//   border: 2px solid #4caf50 !important;
// }

// ::ng-deep mat-expansion-panel-header {
//   background: #d9e4dd;
// }

.mat-tab-label-content {
  color: #303030;
  width: 71px;
  height: 22px;
  opacity: 0.98;
  font-size: 16px;
  line-height: 22px;
}

.selection_title {
  text-transform: uppercase;
  margin: 20px 20px 20px 0px;
}

.end-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px;

  button {
    margin-right: 20px;
  }
}

.push_to_front {
  z-index: 9999;
}

:host ::ng-deep .content-lesson-part .mat-expansion-panel-body {
  padding: 0 !important;
  border-top: 1px solid #ccc;
  margin-top: -1px;
}

:host ::ng-deep .content-lesson-part .mat-expansion-panel {
  box-shadow: none !important;
  border-top: 1px solid #ccc;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.contents-render {
  padding: 0 4px 0 50px !important;
  border-top: 0.5px solid #ccc;
}

:host ::ng-deep .content-lesson-part .mat-expansion-panel-header {
  flex-direction: row-reverse !important;
  padding: 0 4px !important;

  .mat-content {
    padding-left: 12px;
  }
}

.content_icon__accordion {
  width: 26px !important;
  height: 26px !important;
  margin-right: 4px !important;
}

:host ::ng-deep .content-lesson-part .mat-expanded .mat-expansion-panel-header-title .material-icons {
  transform: rotate(0deg);
  transition-duration: 300ms;
}

:host ::ng-deep .content-lesson-part .mat-expansion-panel-header-title .open,
.mat-expanded .mat-expansion-panel-header-title .close {
  transform: rotate(-90deg);
  transition-duration: 300ms;
  display: inline-block;
}

// :host ::ng-deep .content-lesson-part .mat-expanded .mat-expansion-panel-header-title .open,
// .mat-expansion-panel-header-title .close {
//   display: none;
// }
:host ::ng-deep .content-lesson-part .mat-expansion-panel-header.mat-expanded {
  height: 48px !important;
}

:host ::ng-deep .content-lesson-part .mat-expansion-panel-spacing {
  margin: 0px !important;
}

:host ::ng-deep .mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.expansion-disabled {
  .mat-expansion-panel-header[aria-disabled="true"] {
    color: #555555;
  }
}

table .background-no-content {
  height: 300px;
}

.no-content {
  padding: 20px;

  .no-content-img {
    min-height: 194px;
    min-width: 180px;
    background-image: url("../../../../../assets/images/lesson/no-content.jpg");
  }

  .no-content-title {
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    text-align: center;
    color: #555555;
  }
}

.content_lesson_top_action {
  height: 18px;
  width: 18px;
  line-height: 18px;
}

.content-group-name {
  font-weight: 500;
  line-height: 15px;
  color: #303030;
}

.material-icons.open {
  height: 18px;
  line-height: 18px;
  width: 18px;
}

table .background-no-content {
  height: 300px;
}

.content-lesson-part {
  border-bottom: 1px solid #ccc;
}

.content-type {
  padding: 6px 10px;
  font: 400 12px/20px "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;
  color: #ffffff;
  opacity: 0.98;
}
.content_icon__action{
  height: 20px;
}
