<div fxLayout="column" class="container" [ngClass]="{'isCloneQuestion': hideAction}">
  <div class="question-content ck-editor-cls" [attr.uploadUrl]="configUpload?.uploadUrl"
  [attr.token]="configUpload?.token">
    <div fxLayout="row" class="block-title" fxLayoutAlign="space-between">
      <div class="table_question_title">Nội dung câu hỏi</div>
      <button [ngClass]="{'isClone': hideAction}" mat-raised-button color='primary' (click)="updateQuestion(true)" *ngIf="isGroup != true"
        [disabled]="disabledUpdate">Áp dụng</button>
    </div>
    <div fxLayout=row class="type-level-wrapper" [ngClass]="{'isClone': hideAction}" *ngIf="isGroup != true">
      <div fxLayout=row fxFlex=50>
        <label fxFlex=25>Loại câu hỏi:</label>
        <mat-form-field fxLayoutAlign="start center" class="matFormFieldSelectBox combobox_selection"
          [floatLabel]="'never'">
          <mat-select disabled [formControl]="questionTypeCtrl" disableOptionCentering>
            <mat-option *ngFor="let type of typeQuestionEnum" [value]="type.id">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout=row fxFlex=50 fxLayoutAlign="end center">
        <label fxLayoutAlign="start center" fxFlex=20>Mức độ:</label>
        <mat-form-field fxLayoutAlign="start center" class="combobox_selection matFormFieldSelectBox"
          [floatLabel]="'never'">
          <mat-select [formControl]="questionLevelCtrl" disableOptionCentering>
            <mat-option *ngFor="let level of levelQuestionEnum" [value]="level.id">
              {{level.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <ckeditor #ck [ngModel]="ckeditorContent" id='txtNoiDungCauHoi' [config]="configQuestion"
      (change)="onQuestionContentChange($event)">
    </ckeditor>
    <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
      style="display:none!important" />
    <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
    <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
  </div>
  <div class="question_list">
    <label><b>Phương án:</b></label>
    <mat-radio-group fxLayout="column" fxLayoutGap="10px" [(ngModel)]="selected" (change)="ChangeAnswer($event)">
      <mat-radio-button value="true">A. Đúng</mat-radio-button>
      <mat-radio-button value="false">B. Sai</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'isClone': hideAction}">
  <button mat-raised-button color='primary' (click)="updateQuestion(true)" *ngIf="isGroup!=true"
    [disabled]="disabledUpdate">Áp dụng</button>
</div>