// .filter-control {
//   button {
//     margin: 10px;
//     height: 29px;
//     border-radius: 0 !important;
//     box-shadow: none;
//   }

//   label {
//     font-size: 13px;
//     color: #555555;
//     line-height: 18px;

//     opacity: 0.98;
//   }
// }

// .formFilter {
//   padding: 20px 24px
// }



// .mat-card .mat-card-content {
//   padding: 10px 18px;
//   // font-size: 13px;
// }

// // .create-info {
// //    font-size: 13px;
// // }

// a .create-exam {
//   background: #4caf50;
//   color: white;
// }

// .input-text {
//   height: 31px;
//   color: #555555;
//   border: 1px solid #555555;
//   border-radius: 3px;
//   padding: 5px;
// }

// .search {
//   width: 100%;
//   position: relative;
//   display: flex;
// }

// .searchTerm {
//   width: 100%;
//   height: 29px;
// }

// .searchButton {
//   background: none;
//   border: none;
//   margin-left: -32px;
//   color: #555555;
// }

// .icon-filter {
//   width: 12px;
// }

// table {
//   box-shadow: none;
//   width: 100%;
// }

// .title-table {
//   font-size: 11px !important;
//   line-height: 13px;
//   color: #303030 !important;
//   opacity: 0.98;
// }

// .item {
//   font-size: 13px !important;
//   line-height: 18px;
//   opacity: 0.98;
//   color: #303030 !important;
// }


// .title {
//   font-style: normal;
//   font-weight: 600;
//   font-size: 16px;
//   line-height: 22px;
//   text-transform: uppercase;
//   color: #303030;
// }

// .search-input {
//   width: 245px;
//   height: 30px;

//   border: 0.5px solid #555555;
//   box-sizing: border-box;
//   border-radius: 2px;

//   padding: 5px;
// }

// .icon-table {
//   height: 16px;
//   width: auto;
// }

// .row_flex {
//   margin-top: 20px;
// }

// .combobox_selection {
//   width: 146px;
//   height: 30px;
//   border: 0.5px solid #555555;
//   box-sizing: border-box;
//   border-radius: 2px;
//   color: #555555;
// }

// .center-element {
//   text-align: center;
// }

// .delete-button {
//   margin-left: 24px;
// }

// .paginator {
//   margin-right: 3rem;
// }

// // select box
// .matFormFieldSelectBox {
//   height: 31px;
//   box-sizing: border-box;
//   border: 1px solid #ccc;
//   background-color: white;
//   background-position: 10px 10px;
//   background-repeat: no-repeat;
//   padding: 0 5px;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 13px;
//   line-height: 15px;
//   color: #555555;
//   opacity: 0.98;
// }

// :host::ng-deep .mat-form-field-underline {
//   display: none;
// }

// :host::ng-deep .mat-form-field-infix {
//   border-top: none;
// }

// .mat-select-panel-wrap {
//   position: relative;
//   top: 26px;
// }

// .mat-select-panel-wrap .mat-select-panel {
//   min-width: calc(100% + 12px) !important;
//   transform: translateX(4px) !important;
// }

// :host::ng-deep .mat-form-field-wrapper {
//   width: 100% !important;
//   padding-bottom: 0px !important;
// }

// .input_name {
//   width: 980px;
//   height: 31px;
//   padding: 0 5px;
//   box-sizing: border-box;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   background-color: white;
//   background-position: 10px 10px;
//   background-repeat: no-repeat;
// }

// ::ng-deep .mat-datetimepicker-calendar-header {
//   background-color: #43a047 !important;
// }

// .editing {
//   background: #4caf50;
//   color: white;
//   padding: 2px 5px;
//   border-radius: 3px;
// }

// .waiting {
//   background: #4f91ff;
//   color: white;
//   padding: 2px 5px;
//   border-radius: 3px;
// }

// .approved {
//   background: #e5ae40;
//   color: white;
//   padding: 2px 5px;
//   border-radius: 3px;
// }

// .rejected {
//   background: #f8877f;
//   color: white;
//   padding: 2px 5px;
//   border-radius: 3px;
// }



// .set-size {
//   font-size: 10em;
// }

// .charts-container {
//   &:after {
//     clear: both;
//     content: '';
//     display: table;
//   }
// }

// .approved {
//   background: #DBFFDC;
//   color: #4CAF50;
//   padding: 2px 10px;
//   border-radius: 3px;
//   width: 21px;
//   height: 44px;
//   border-radius: 10.5px;
// }

// @media (max-width: 425px) {
//   .fx-layout {

//     //flex-direction: column !important;
//     .filter-control {
//       max-width: 100% !important;
//       width: 100%;

//       button {
//         margin: 0px 0px 20px 0px;
//       }
//     }

//     .mat-form-field {
//       max-width: 100% !important;
//       width: 100%;
//       height: 32px;
//       border-radius: 2px;
//     }
//   }

//   .formFilter {
//     background-color: #f7f7f7;
//     padding: 0px;
//   }

.title-header {
  color: #303030;
  opacity: 0.98;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
}

.leson-name-header {
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  opacity: 0.98;
}

//   :host::ng-deep .mat-expansion-panel-header {
//     padding: 0 10px;
//     height: 41px;
//     border-bottom: 1px solid #BABABA;
//     border-radius: 0;

//     &:last-child {
//       border-bottom: none;
//     }
//   }

.item-value {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

//   .result {
//     border-top: 1px solid #BABABA;
//     border-bottom: 1px solid #BABABA;

//   }

.content-body {
  margin-top: 13px;
}

.name {
  color: #303030;
  opacity: 0.98;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  padding-left: 34px;
}

//   .value {
//     font-size: 13px;
//     line-height: 18px;
//     color: #555555;
//     opacity: 0.98;
//     padding-left: 10px;
//   }
// }


// @media (min-width:426px) and (max-width:1024px) {
//   .filter-control {
//     button {
//       margin: 20px 0px 0px;
//       height: 29px;
//       border-radius: 0 !important;
//       box-shadow: none;
//     }
//   }

//   .content-body {
//     margin-top: 13px;
//   }

//   .name {
//     color: #303030;
//     opacity: 0.98;
//     font-weight: 600;
//     font-size: 13px;
//     line-height: 15px;
//     padding-left: 34px;
//   }

//   .value {
//     font-size: 13px;
//     line-height: 18px;
//     color: #555555;
//     opacity: 0.98;
//     padding-left: 10px;
//   }
// }




:host::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
}


:host::ng-deep .mat-expansion-panel-spacing {
  margin: 0;
}

shadow :host::ng-deep .mat-expansion-panel {
  box-shadow: none;
}

.mat-expanded .mat-expansion-panel-header-title .material-icons {
  transform: rotate(0deg);
}

.mat-expansion-panel-header-title .open,
.mat-expanded .mat-expansion-panel-header-title .close {
  display: inline-block;
}

.mat-expanded .mat-expansion-panel-header-title .open,
.mat-expansion-panel-header-title .close {
  display: none;
}


// //paging
::ng-deep .ngx-pagination .current {
  border-radius: 50%;
  background: #4caf50 !important;

}

:host ::ng-deep .my-pagination {
  $color: gray;

  li {
    border-radius: 50%;
    border: white;
    background: white;
    color: $color;
    margin: 10px;
    width: 35px;
    height: 35px;
    padding: 5px 3px 0 3px;
    text-align: center;

    &.current {
      color: white;
      padding: 8px 3px 0 3px;
    }

    &>a span {
      margin-top: 3px;
      color: lightgray;
    }

    &.pagination-next a::after,
    &.pagination-previous a::before,
    &.pagination-next.disabled::after,
    &.pagination-previous.disabled::before {
      margin-left: 0;
      margin-right: 0;
      color: $color;
    }

    a:hover,
    button:hover {
      border-radius: 50%;
    }
  }
}

@media(max-width: 600px) {

  :host ::ng-deep .ngx-pagination {
    padding-left: 0px;
  }
}


.time {
  p {
    font-weight: normal;
    font-size: 14px;
    color: #555555;
    margin: 0;

    &:first-child {
      margin-bottom: 3px;
    }

    .hour {
      font-weight: 600;
      color: #585858;

      >span {
        color: #4CAF50;
        margin: 0 5px;
      }
    }

    .end>span {
      color: #EB5757;
    }
  }
}
.mat-main-column-us {
  font-weight: 600 !important;
  color: #555555 !important;
  width: 22%;
}
.mat-main-column-gr{
  width: 5%;
}
.mat-main-column-gv{
  width: 13%;
}
