<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutGap.gt-md="20px grid" fxLayoutAlign="start center"
        class="filter-wrapper">
        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">
          <mat-form-field appearance="outline" (click)="onGradeSelectClicked()">
            <mat-label>Khối</mat-label>
            <mat-select [formControl]="gradeCtrl" placeholder="Chọn khối" #singleSelectGrade disableOptionCentering
              (selectionChange)="onChangeGradeSelected($event.value)">
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm khối" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="gradeFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]=null>Chọn khối</mat-option>
              <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade.id">
                {{grade.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">
          <mat-form-field appearance="outline" (click)="onSubjectSelectClicked()">
            <mat-label>Môn</mat-label>
            <mat-select [disabled]="gradeCtrl.value==null" [formControl]="subjectCtrl" placeholder="Chọn môn"
              #singleSelectSubject disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm môn" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="subjectFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]=null>Chọn môn</mat-option>
              <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.id">
                {{subject.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex fxFlex.gt-md="25" fxLayoutAlign="start center" class="filter-control">
          <mat-form-field appearance="outline" (click)="onTeacherSelectClicked()">
            <mat-label>Giáo viên</mat-label>
            <mat-select [formControl]="teacherCtrl" placeholder="Chọn giáo viên" #singleSelectSubject
              disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm giáo viên" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="teacherFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]=null>Chọn giáo viên</mat-option>
              <mat-option *ngFor="let teacher of filteredTeachers | async" [value]="teacher.id">
                {{teacher.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div fxFlex fxLayoutAlign="center center">
          <button mat-raised-button color="primary" (click)="filterLessonReport()">
            <mat-icon matSuffix>filter_list</mat-icon>
            Lọc kết quả
          </button>
        </div>

        <div fxFlex fxLayoutAlign="center center">
          <button mat-raised-button color="primary" (click)="exportExcel()">
            <mat-icon matSuffix>file_download</mat-icon>
            Xuất dữ liệu
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <div class="table-responsive">
      <table *ngIf="isReady==true" fxHide.xs fxHide.sm fxHide.md mat-table [dataSource]="historyLessonLearnVM" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="STT">
          <th class="mobile-hide" mat-header-cell *matHeaderCellDef style="min-width: 60px;">
            STT </th>
          <td class="mobile-hide" mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th class="title-table" mat-header-cell *matHeaderCellDef> Tên bài giảng</th>
          <td mat-cell *matCellDef="let element" class="mat-main-column-us">
            <div class="mobile-hide item">{{element.lessonName}}</div>
            <mat-accordion class="table-mobile">
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Tên bài giảng
                  </mat-panel-title>
                  <mat-panel-description>
                    {{element.lessonName}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="item-value">
                  <div class="name">
                    Khối
                  </div>
                  <div class="value">
                    {{element.gradeName}}
                  </div>
                </div>
                <div class="item-value">
                  <div class="name">
                    Môn học
                  </div>
                  <div class="value">
                    {{element.subjectName}}
                  </div>
                </div>
                <div class="item-value">
                  <div class="name">
                    Tên giáo viên
                  </div>
                  <div class="value">
                    {{element.teacherName}}
                  </div>
                </div>
                <div class="item-value">
                  <div class="name">
                    Thời gian bắt đầu
                  </div>
                  <div class="value">
                    {{element.registrationDate | date:'dd/MM/yyyy,HH:mm'}}
                  </div>
                </div>
                <div class="item-value">
                  <div class="name">
                    Thời gian kết thúc
                  </div>
                  <div class="value">
                    {{element.completionDate | date:'dd/MM/yyyy,HH:mm'}}
                  </div>
                </div>
                <div class="item-value">
                  <div class="name">
                    Trạng thái và Kết quả
                  </div>
                  <div class="value">
                    <div class="left">
                      <div class="pie-wrapper progress-{{element.percentageOfCompletion}} style-2">
                        <span class="label">{{element.percentageOfCompletion}}<span class="smaller">%</span></span>
                        <div class="pie">
                          <div class="left-side half-circle"></div>
                          <div class="right-side half-circle"></div>
                        </div>
                        <div class="shadow"></div>
                      </div>
                    </div>
                    <div class="right">
                      <span class="waiting" *ngIf="element.assessmentLevelName=='WAI'">Khá</span>
                      <span class="approved" *ngIf="element.assessmentLevelName=='PUB'">Giỏi</span>
                      <span class="rejected" *ngIf="element.assessmentLevelName=='REF'">Yếu</span>
                      <span class="rejected" *ngIf="element.assessmentLevelName=='REF'">Kém</span>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="grade">
          <th class="mobile-hide" mat-header-cell *matHeaderCellDef>
            Khối </th>
          <td class="mobile-hide" mat-cell *matCellDef="let element" class="mat-main-column-gr"> {{element.gradeName}}
          </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="subject">
          <th class="mobile-hide" mat-header-cell *matHeaderCellDef>
            Môn học
          </th>
          <td class="mobile-hide" mat-cell *matCellDef="let element" class="mat-main-column-gv"> {{element.subjectName}}
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="creator">
          <th class="mobile-hide" mat-header-cell *matHeaderCellDef> Tên giáo viên </th>
          <td class="mobile-hide" mat-cell *matCellDef="let element" class="mat-main-column-gv"> {{element.teacherName}} </td>
        </ng-container>

        <ng-container matColumnDef="registerDate">
          <th class="mobile-hide" mat-header-cell *matHeaderCellDef> Thời gian ghi danh </th>
          <td class="mobile-hide" mat-cell *matCellDef="let element">
            <b><span class="text-green bold">{{element.registrationDate | date:'HH:mm'}}</span></b>
            {{element.registrationDate | date:' dd/MM/yyyy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="startTime">
          <th class="mobile-hide" mat-header-cell *matHeaderCellDef> Thời gian bắt đầu </th>
          <td class="mobile-hide" mat-cell *matCellDef="let element">
            <b><span class="text-green bold">{{element.startDate | date:'HH:mm'}}</span></b>
            {{element.startDate | date:' dd/MM/yyyy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="endTime">
          <th class="mobile-hide" mat-header-cell *matHeaderCellDef> Thời gian kết thúc </th>
          <td class="mobile-hide" mat-cell *matCellDef="let element">
            <span *ngIf="!element.completionDate">
              -
            </span>
            <span *ngIf="element.completionDate">
              <b><span class="text-danger">{{element.completionDate | date:'HH:mm'}}</span></b>
              {{element.completionDate | date:' dd/MM/yyyy'}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="scope">
          <th mat-header-cell *matHeaderCellDef class="mobile-hide"> Trạng thái </th>
          <td mat-cell *matCellDef="let element" class="mobile-hide">

            <circle-progress [percent]="element.percentageOfCompletion" [showSubtitle]="false" [radius]="17"
              [outerStrokeWidth]="5" [innerStrokeWidth]="5" [space]="-5" [outerStrokeColor]="'#4FB153'"
              [unitsFontSize]="11" [titleFontSize]="11" [titleColor]="'#4FB153'" [unitsColor]="'#4FB153'"
              [innerStrokeColor]="'#E9E9E9'" [animation]="true" [animationDuration]="300" [showInnerStroke]="true">
            </circle-progress>
          </td>
        </ng-container>

        <ng-container matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef class="mobile-hide"> Kết quả </th>
          <td mat-cell *matCellDef="let element" class="mobile-hide">
            <span *ngIf="element.percentageOfCompletion==100" class="approved"> {{element.result}} </span>
            <span *ngIf="element.percentageOfCompletion<100">-</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="assessmentLevelName">
          <th mat-header-cell *matHeaderCellDef class="mobile-hide"> Xếp loại </th>
          <td mat-cell *matCellDef="let element" class="mobile-hide">
            <span *ngIf="element.assessmentLevelName != '' && element.assessmentLevelName != null" class="approved">
              {{element.assessmentLevelName}} </span>
            <span *ngIf="element.assessmentLevelName == '' || element.assessmentLevelName == null">-</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell background-no-content text-center" colspan="8">
            <div class="background-no-content-img"></div>
            Không tìm thấy bài giảng
          </td>
        </tr>
      </table>


      <table *ngIf="isReady==false" fxHide.xs fxHide.sm fxHide.md mat-table [dataSource]="historyLessonLearnVM" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="STT">
          <th class="mobile-hide" mat-header-cell *matHeaderCellDef style="min-width: 60px;">
            STT </th>
          <td class="mobile-hide" mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th class="title-table" mat-header-cell *matHeaderCellDef> Tên bài giảng</th>
          <td mat-cell *matCellDef="let element" class="mat-main-column-us">
            <div class="mobile-hide item">{{element.lessonName}}</div>
            <mat-accordion class="table-mobile">
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Tên bài giảng
                  </mat-panel-title>
                  <mat-panel-description>
                    {{element.lessonName}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="item-value">
                  <div class="name">
                    Khối
                  </div>
                  <div class="value">
                    {{element.gradeName}}
                  </div>
                </div>
                <div class="item-value">
                  <div class="name">
                    Môn học
                  </div>
                  <div class="value">
                    {{element.subjectName}}
                  </div>
                </div>
                <div class="item-value">
                  <div class="name">
                    Tên giáo viên
                  </div>
                  <div class="value">
                    {{element.teacherName}}
                  </div>
                </div>
                <div class="item-value">
                  <div class="name">
                    Thời gian bắt đầu
                  </div>
                  <div class="value">
                    {{element.registrationDate | date:'dd/MM/yyyy,HH:mm'}}
                  </div>
                </div>
                <div class="item-value">
                  <div class="name">
                    Thời gian kết thúc
                  </div>
                  <div class="value">
                    {{element.completionDate | date:'dd/MM/yyyy,HH:mm'}}
                  </div>
                </div>
                <div class="item-value">
                  <div class="name">
                    Trạng thái và Kết quả
                  </div>
                  <div class="value">
                    <div class="left">
                      <div class="pie-wrapper progress-{{element.percentageOfCompletion}} style-2">
                        <span class="label">{{element.percentageOfCompletion}}<span class="smaller">%</span></span>
                        <div class="pie">
                          <div class="left-side half-circle"></div>
                          <div class="right-side half-circle"></div>
                        </div>
                        <div class="shadow"></div>
                      </div>
                    </div>
                    <div class="right">
                      <span class="waiting" *ngIf="element.assessmentLevelName=='WAI'">Khá</span>
                      <span class="approved" *ngIf="element.assessmentLevelName=='PUB'">Giỏi</span>
                      <span class="rejected" *ngIf="element.assessmentLevelName=='REF'">Yếu</span>
                      <span class="rejected" *ngIf="element.assessmentLevelName=='REF'">Kém</span>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="grade">
          <th class="mobile-hide" mat-header-cell *matHeaderCellDef>
            Khối </th>
          <td class="mobile-hide" mat-cell *matCellDef="let element" class="mat-main-column-gr"> {{element.gradeName}}
          </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="subject">
          <th class="mobile-hide" mat-header-cell *matHeaderCellDef>
            Môn học
          </th>
          <td class="mobile-hide" mat-cell *matCellDef="let element" class="mat-main-column-gv"> {{element.subjectName}}
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="creator">
          <th class="mobile-hide" mat-header-cell *matHeaderCellDef> Tên giáo viên </th>
          <td class="mobile-hide" mat-cell *matCellDef="let element" class="mat-main-column-gv"> {{element.teacherName}} </td>
        </ng-container>

        <ng-container matColumnDef="registerDate">
          <th class="mobile-hide" mat-header-cell *matHeaderCellDef> Thời gian ghi danh </th>
          <td class="mobile-hide" mat-cell *matCellDef="let element">
            {{element.registrationDate | date:'HH:mm dd/MM/yyyy'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="startTime">
          <th class="mobile-hide" mat-header-cell *matHeaderCellDef> Thời gian bắt đầu </th>
          <td class="mobile-hide" mat-cell *matCellDef="let element">
            {{element.startDate | date:'HH:mm dd/MM/yyyy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="endTime">
          <th class="mobile-hide" mat-header-cell *matHeaderCellDef> Thời gian kết thúc </th>
          <td class="mobile-hide" mat-cell *matCellDef="let element">
            <span *ngIf="!element.completionDate">
              -
            </span>
            <span *ngIf="element.completionDate">
              {{element.completionDate | date:'HH:mm dd/MM/yyyy'}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="scope">
          <th mat-header-cell *matHeaderCellDef class="mobile-hide"> Trạng thái </th>
          <td mat-cell *matCellDef="let element" class="mobile-hide">

            <circle-progress [percent]="element.percentageOfCompletion" [showSubtitle]="false" [radius]="17"
              [outerStrokeWidth]="5" [innerStrokeWidth]="5" [space]="-5" [outerStrokeColor]="'#4FB153'"
              [unitsFontSize]="11" [titleFontSize]="11" [titleColor]="'#4FB153'" [unitsColor]="'#4FB153'"
              [innerStrokeColor]="'#E9E9E9'" [animation]="true" [animationDuration]="300" [showInnerStroke]="true">
            </circle-progress>
          </td>
        </ng-container>

        <ng-container matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef class="mobile-hide"> Kết quả </th>
          <td mat-cell *matCellDef="let element" class="mobile-hide">
            <span *ngIf="element.percentageOfCompletion==100" class="approved"> {{element.result}} </span>
            <span *ngIf="element.percentageOfCompletion<100">-</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="assessmentLevelName">
          <th mat-header-cell *matHeaderCellDef class="mobile-hide"> Xếp loại </th>
          <td mat-cell *matCellDef="let element" class="mobile-hide">
            <span *ngIf="element.assessmentLevelName != '' && element.assessmentLevelName != null" class="approved">
              {{element.assessmentLevelName}} </span>
            <span *ngIf="element.assessmentLevelName == '' || element.assessmentLevelName == null">-</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell background-no-content text-center" colspan="8">
            <div class="background-no-content-img"></div>
            Không tìm thấy bài giảng
          </td>
        </tr>
      </table>

      <mat-paginator fxHide.xs fxHide.sm fxHide.md [length]="dataLessonReportPagination.totalItems"
        [pageSizeOptions]="[10, 20, 50, 100]">
      </mat-paginator>
    </div>
  </mat-card>
</div>

<mat-accordion fxHide.gt-md>
  <mat-expansion-panel
    *ngFor="let element of historyLessonLearnVM |paginate: { id:'lesson-pagination', itemsPerPage: 10, currentPage: currentPage, totalItems: totalPage};"
    hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title fxFlex=50 style="font-weight: bold;" fxLayoutAlign.xs="start center">
        <span class="material-icons close" style="color: #4caf50;">
          arrow_drop_down
        </span>
        <span class="material-icons open" style="color: #4caf50;">
          arrow_right
        </span>
        <span class="title-header">Tên bài giảng</span>
      </mat-panel-title>

      <span fxFlex=50 class="leson-name-header">
        {{element.lessonName}}
      </span>
    </mat-expansion-panel-header>
    <div class="content-body">
      <div class="item-value" fxLayout.xs="row" fxLayoutAlign="start center">
        <div class="name" fxFlex=50>
          Khối
        </div>
        <div class="value" fxFlex=50>
          {{element.gradeName}}
        </div>
      </div>
      <div class="item-value" fxLayout.xs="row" fxLayoutAlign="start center">
        <div class="name" fxFlex=50>
          Môn học
        </div>
        <div class="value" fxFlex=50>
          {{element.subjectName}}
        </div>
      </div>
      <div class="item-value" fxLayout.xs="row" fxLayoutAlign="start center">
        <div class="name" fxFlex=50>
          Tên giáo viên
        </div>
        <div class="value" fxFlex=50>
          {{element.subjectName}}
        </div>
      </div>
      <div class="item-value" fxLayout.xs="row" fxLayoutAlign="start center">
        <div class="name" fxFlex=50>
          Thời gian bắt đầu
        </div>
        <div class="value" fxFlex=50>
          {{element.registrationDate | date:'dd/MM/yyyy,HH:mm'}}
        </div>
      </div>
      <div class="item-value" fxLayout.xs="row" fxLayoutAlign="start center">
        <div class="name" fxFlex=50>
          Thời gian kết thúc
        </div>
        <div class="value" fxFlex=50>
          {{element.completionDate | date:'dd/MM/yyyy,HH:mm'}}
        </div>
      </div>
      <div class="item-value result" fxLayout.xs="row" fxLayoutAlign="start center">
        <div class="name" fxFlex=50>
          Trạng thái
        </div>
        <div class="value" fxFlex=50 fxLayout="row" fxLayoutAlign="start center">
          <div>
            <circle-progress [percent]="element.percentageOfCompletion" [showSubtitle]="false" [radius]="13"
              [outerStrokeWidth]="5" [innerStrokeWidth]="5" [space]="-5" [outerStrokeColor]="'#4FB153'"
              [unitsFontSize]="11" [titleFontSize]="11" [titleColor]="'#4FB153'" [unitsColor]="'#4FB153'"
              [innerStrokeColor]="'#E9E9E9'" [animation]="true" [animationDuration]="300" [showInnerStroke]="true">
            </circle-progress>
          </div>
        </div>
      </div>
      <div class="item-value result" fxLayout.xs="row" fxLayoutAlign="start center">
        <div class="name" fxFlex=50>
          Kết quả
        </div>
        <div class="value" fxFlex=50 fxLayout="row" fxLayoutAlign="start center">
          <div>
            <span *ngIf="element.percentageOfCompletion==100" class="approved"> {{element.result}} </span>
            <span *ngIf="element.percentageOfCompletion<100">-</span>
          </div>
        </div>
      </div>
      <div class="item-value result" fxLayout.xs="row" fxLayoutAlign="start center">
        <div class="name" fxFlex=50>
          Xếp loại
        </div>
        <div class="value" fxFlex=50 fxLayout="row" fxLayoutAlign="start center">
          <span *ngIf="element.assessmentLevelName != '' && element.assessmentLevelName != null" class="approved">
            {{element.assessmentLevelName}} </span>
          <span *ngIf="element.assessmentLevelName == '' || element.assessmentLevelName == null">-</span>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<div fxLayout.xs="row" fxLayoutAlign="center center">
  <pagination-controls id="lesson-pagination" fxHide.gt-md class="paging my-pagination" previousLabel="" nextLabel=""
    (pageChange)="handlePageEvent($event)">
  </pagination-controls>
</div>
