<form [formGroup]="personalForm" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center start">
        <div class="card-wrapper" fxLayout="row" fxLayout.xs="column">
            <mat-card fxFlex="50" fxFlex.xs=100 class="card-left">
                <div fxFlex="100" fxFlex.xs=100 class="padding-left general-information">
                    <div fxLayout="row" fxLayoutAlign.xs="none" fxLayoutAlign="start center" class="row_flex m-b-20">
                        <label fxFlex="100" fxLayoutAlign.xs="none" fxLayoutAlign="start center" class="title">
                            Thông tin tổng quan:
                        </label>
                    </div>
                    <br>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                        class="row_flex">
                        <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Mã định danh
                        </label>
                        <label fxFlex="60" fxFlex.xs="100" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                            class="user-infor" [ngClass.xs]="{'dislay-mobile':true}">
                            <span class="bagde-user-profile bagde-user-name">{{userInfo.username}}</span>
                        </label>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="start center">
                        <div fxFlex="100" fxFlex.xs="100" class="line-underline"></div>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                        class="row_flex">
                        <label fxFlex="40" fxFlex.xs="100" fxLayoutAlign="start center" for="name"
                            class="label_combobox">Tên

                        </label>
                        <label fxFlex="60" fxFlex.xs="100" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                            class="user-infor" [ngClass.xs]="{'dislay-mobile':true}">
                            {{userInfo.firstName ? userInfo.firstName : defaultValue}}
                        </label>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="start center">
                        <div fxFlex="100" fxFlex.xs="100" class="line-underline"></div>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                        class="row_flex">
                        <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Họ
                        </label>
                        <label fxFlex="60" fxFlex.xs="100" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                            class="user-infor" [ngClass.xs]="{'dislay-mobile':true}">
                            {{userInfo.lastName ? userInfo.lastName :defaultValue}}
                        </label>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="start center">
                        <div fxFlex="100" fxFlex.xs="100" class="line-underline"></div>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                        class="row_flex" *ngIf="userInfo.userTypeRole !='STUDENT'">
                        <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Vai trò
                        </label>
                        <label fxFlex="60" fxFlex.xs="100" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                            class="user-infor" [ngClass.xs]="{'dislay-mobile':true}">
                            <span class="bagde-user-profile bagde-user-type-name"
                                *ngIf="userInfo.userTypeName">{{userInfo.userTypeName}}
                            </span>
                            <span *ngIf="!userInfo.userTypeName">{{defaultValue}}</span>
                        </label>
                    </div>
                    <div fxLayout=" row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                        *ngIf="userInfo.userTypeRole !='STUDENT'">
                        <div fxFlex="100" fxFlex.xs="100" class="line-underline"></div>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                        class="row_flex" *ngIf="userInfo.userTypeRole !='STUDENT'">
                        <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Cấp
                        </label>
                        <label fxFlex="60" fxFlex.xs="100" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                            class="user-infor" [ngClass.xs]="{'dislay-mobile':true}"
                            *ngIf="userInfo.userTypeLevelManage == 'DPM'">
                            Cấp sở
                        </label>
                        <label fxFlex="60" fxFlex.xs="100" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                            class="user-infor" [ngClass.xs]="{'dislay-mobile':true}"
                            *ngIf="userInfo.userTypeLevelManage == 'DVS'">
                            Cấp phòng
                        </label>
                        <label fxFlex="60" fxFlex.xs="100" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                            class="user-infor" [ngClass.xs]="{'dislay-mobile':true}"
                            *ngIf="userInfo.userTypeLevelManage == 'SCH'">
                            Cấp trường
                        </label>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                        *ngIf="userInfo.userTypeRole !='STUDENT'">
                        <div fxFlex="100" fxFlex.xs="100" class="line-underline"></div>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                        class="row_flex" *ngIf="userInfo.userTypeRole !='STUDENT'">
                        <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Đơn vị quản lý
                        </label>
                        <label fxFlex="60" fxFlex.xs="100" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                            class="user-infor" [ngClass.xs]="{'dislay-mobile':true}">
                            {{managaName ? managaName :defaultValue}}
                        </label>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                        *ngIf="userInfo.userTypeRole !='STUDENT'">
                        <div fxFlex="100" fxFlex.xs="100" class="line-underline"></div>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                        class="row_flex" *ngIf="userInfo.userTypeRole =='STUDENT'">
                        <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Trường học
                        </label>
                        <label fxFlex="60" fxFlex.xs="100" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                            class="user-infor" [ngClass.xs]="{'dislay-mobile':true}">
                            {{userInfo.schoolName ? userInfo.schoolName : defaultValue}}
                        </label>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                        *ngIf="userInfo.userTypeRole =='STUDENT'">
                        <div fxFlex="100" fxFlex.xs="100" class="line-underline"></div>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                        class="row_flex" *ngIf="userInfo.userTypeRole =='STUDENT'">
                        <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Khối lớp:
                        </label>
                        <label fxFlex="60" fxFlex.xs="100" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                            class="user-infor" [ngClass.xs]="{'dislay-mobile':true}">
                            {{userInfo.gradeName ? userInfo.gradeName : defaultValue}}
                        </label>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                        *ngIf="userInfo.userTypeRole =='STUDENT'">
                        <div fxFlex="100" fxFlex.xs="100" class="line-underline"></div>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                        class="row_flex" *ngIf="userInfo.userTypeRole =='STUDENT'">
                        <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox">Lớp
                        </label>
                        <label fxFlex="60" fxFlex.xs="100" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                            class="user-infor" [ngClass.xs]="{'dislay-mobile':true}">
                            <span class="bagde-user-profile bagde-class"
                                *ngIf="userInfo.groupStudentName">{{userInfo.groupStudentName}}</span>
                            <span *ngIf="!userInfo.groupStudentName">{{defaultValue}}</span>
                        </label>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                        *ngIf="userInfo.userTypeRole =='STUDENT'">
                        <div fxFlex="100" fxFlex.xs="100" class="line-underline"></div>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                        class="row_flex"
                        *ngIf="userInfo.userTypeRole !='STUDENT' && userInfo.userTypeLevelManage=='SCH'">
                        <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox">Là chủ nhiệm lớp
                        </label>
                        <label fxFlex="60" fxFlex.xs="100" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                            class="user-infor" [ngClass.xs]="{'dislay-mobile':true}">
                            <span *ngIf="userInfo.groupStudentName" class=" bagde-user-profile
                                bagde-class">{{userInfo.groupStudentName}}</span>
                            <span *ngIf="userInfo.groupStudentName" style="margin-left: 4px;"> Niên khóa
                                {{currentSchoolYear}} -
                                {{+currentSchoolYear + 1}}</span>

                            <span *ngIf="!userInfo.groupStudentName">{{defaultValue}}</span>
                        </label>
                    </div>
                    <div fxLayout=" row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                        *ngIf="userInfo.userTypeRole !='STUDENT' && userInfo.userTypeLevelManage=='SCH'">
                        <div fxFlex="100" fxFlex.xs="100" class="line-underline"></div>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                        class="row_flex" *ngIf="userInfo.userTypeRole =='STUDENT'">
                        <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Giáo viên chủ
                            nhiệm:
                        </label>
                        <label fxFlex="60" fxFlex.xs="100" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                            class="user-infor" [ngClass.xs]="{'dislay-mobile':true}">
                            {{userInfo.teacherName ? userInfo.teacherName : defaultValue}}
                        </label>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                        *ngIf="userInfo.userTypeRole =='STUDENT'">
                        <div fxFlex="100" fxFlex.xs="100" class="line-underline"></div>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                        class="row_flex" *ngIf="userInfo.userTypeRole =='STUDENT'">
                        <label fxFlex=" 40" fxLayoutAlign="start center" for="" class="label_combobox"
                            style="margin-right:4px"> Niên khóa:
                        </label>
                        <label fxFlex="60" fxFlex.xs="100" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                            class="user-infor" [ngClass.xs]="{'dislay-mobile':true}">
                            <span class="bagde-user-profile bagde-schoolyear">{{currentSchoolYear}} -
                                {{+currentSchoolYear
                                +1}}</span>
                        </label>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                        *ngIf="userInfo.userTypeRole =='STUDENT'">
                        <div fxFlex="100" fxFlex.xs="100" class="line-underline"></div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center" class="row_flex" fxLayout.xs="column"
                        fxLayoutAlign.xs="none">
                        <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Ngày sinh
                        </label>
                        <label fxFlex="60" fxFlex.xs="100" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                            class="user-infor" [ngClass.xs]="{'dislay-mobile':true}" *ngIf="userInfo.dayOfBirth">
                            {{userInfo.dayOfBirth | date:'dd/MM/yyyy'}}
                        </label>
                        <label fxFlex="60" fxFlex.xs="100" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                            class="user-infor" [ngClass.xs]="{'dislay-mobile':true}"
                            *ngIf="!userInfo.dayOfBirth">{{defaultValue}}</label>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="start center">
                        <div fxFlex="100" fxFlex.xs="100" class="line-underline"></div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center" class="row_flex" fxLayout.xs="column"
                        fxLayoutAlign.xs="none" style="margin-bottom:20px">
                        <label fxFlex="40" fxLayoutAlign="start center" for="" class="label_combobox"> Giới tính:
                        </label>
                        <label fxFlex="60" fxFlex.xs="100" fxLayoutAlign.xs="none" fxLayoutAlign="start center"
                            class="user-infor" [ngClass.xs]="{'dislay-mobile':true}">
                            <span *ngIf="userInfo.gender == true">Nam</span>
                            <span *ngIf="userInfo.gender == false">Nữ</span>
                            <span *ngIf="userInfo.gender != false && userInfo.gender != true">{{defaultValue}}</span>
                        </label>
                    </div>
                </div>
            </mat-card>
            <mat-card fxFlex="50" fxFlex.xs=100 class="card-right">
                <div fxFlex="100" fxFlex.xs=100 class="other-information">
                    <div fxLayout="row" fxLayoutAlign.xs="none" fxLayoutAlign="start center" class="row_flex m-b-20">
                        <label class="title">Thông tin khác:
                        </label> <span class="material-icons-outlined icon-edit">
                            edit_note
                        </span>
                    </div>
                    <br>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                        class="row_flex m-b-20">
                        <label fxFlex="30" fxLayoutAlign="start center" for="phone" class="label_combobox">Số điện
                            thoại
                        </label>
                        <input fxFlex="70" fxLayoutAlign="center center" formControlName="phone" name="phone"
                            type="text" class="input_name" placeholder="Số điện thoại"
                            [ngClass.xs]="{'dislay-mobile':true}">
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                        class="row_flex m-b-20">
                        <label fxFlex="30" fxLayoutAlign="start center" for="address" class="label_combobox">Địa chỉ
                        </label>
                        <input fxFlex="70" fxLayoutAlign="center center" formControlName="address" type="text"
                            class="input_name" placeholder="Địa chỉ" [ngClass.xs]="{'dislay-mobile':true}">
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
                        class="row_flex m-b-20">
                        <label fxFlex="30" fxLayoutAlign="start center" for="" class="label_combobox"> Email
                        </label>
                        <input fxFlex="70" fxLayoutAlign="center center" formControlName="email" type="email"
                            class="input_name" placeholder="Email" [ngClass.xs]="{'dislay-mobile':true}">
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" *ngIf="email?.errors && email.touched" fxLayout="row"
                        fxLayoutAlign="start center" class="row_flex m-b-20" class="errors-msg">
                        <label fxFlex="30" fxLayoutAlign="start center" for="" class="label_combobox">
                        </label>
                        <div fxFlex="100" fxFlex.xs=100 fxLayoutAlign="start center">
                            <mat-error *ngIf="personalForm.get('email').hasError('maxlength')">
                                Email giới hạn 100 ký tự
                              </mat-error>
                              <mat-error *ngIf="personalForm.get('email').hasError('pattern')">
                                Email không đúng định dạng
                              </mat-error>
                        </div>
                    </div>

                    <button mat-raised-button color="primary" class="save-button"
                        [disabled]='isDisableSaveButton() || personalForm.invalid'>Lưu</button>
                </div>
            </mat-card>
        </div>

    </div>
</form>