.input-info {
    height: 30px;
    width: 100%;
}

.title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.date-picker-custom {
    height: 35px !important;
}

.user-info {
    margin: 0 30px;
}

.date-picker-wrapper {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 5px;
    font-size: 14px !important;
}

.input_name {
    height: 35px;
    padding: 0 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    color: #555555;
    opacity: 0.98;
    font-size: 14px;
}

.error {
    font-size: 12px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-r-30 {
    margin-right: 30px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-l-20 {
    margin-left: 20px;
}

.p-t-10 {
    padding-top: 10px;
}

.m-b--10 {
    margin-bottom: -10px;
}

.combobox_selection {
    border: 0.5px solid #555555;
    box-sizing: border-box;
    border-radius: 2px;
    height: 29px;
}

.label_combobox {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    color: #555555;
    opacity: 0.98;
}

.label_guide {
    font-weight: 500;
    font-size: 20px;
    line-height: 24.38px;
    color: #303030;
}

.input_select {
    width: 100%;
    height: 30px;
}

.ng-hide {
    display: none;
}

.avatar_user {
    height: 195px;
    width: 195px;
    object-fit: cover;
    cursor: pointer;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.background_avatar {
    text-align: center;
    border-radius: 50%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.mat-radio-button {
    font-size: 14px;
}

// select box
.input_select {
    width: 100%;
    height: 30px;
}

.matFormFieldSelectBox {
    height: 31px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 0 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #555555;
    opacity: 0.98;
}

:host::ng-deep .mat-form-field-underline {
    display: none;
}

:host::ng-deep .mat-form-field-infix {
    border-top: none;
}

.mat-select-panel-wrap {
    position: relative;
    top: 26px;
}

.mat-select-panel-wrap .mat-select-panel {
    min-width: calc(100% + 12px) !important;
    transform: translateX(4px) !important;
}

:host::ng-deep .mat-form-field-wrapper {
    width: 100% !important;
    padding-bottom: 0px !important;
}

.errors-msg {
    color: #dd1010;
    position: relative;
    top: -15px;
    font-size: 14px;
    font-weight: 600;
}

.cover-image {
    border-radius: 7px;
    width: 100%;
    height: auto;
}

.personal {
    position: absolute;
    bottom: -55px;
    left: 43px;
    //   background-color: white;
    //   border-radius: 50%;
    //   width: 10px;
    //   height: 150px

    width: 130px;
    height: 130px;
    background-color: white;
    /* text-align: center; */
    /* margin: 0 auto; */
    border-radius: 50%;
    box-shadow: 0px 4px 15px 0px #0000001f;
}

.personal-avartar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 2.5px;
}

.header {
    position: relative;
    margin-bottom: 63px;
}

.personal-name {
    margin-left: 180px;
    margin-bottom: 20px;
    margin-top: -34px;
}

.personal-name-user {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    text-transform: uppercase;
    color: #555555;
}

.container {
    color: #555555;
    opacity: 0.98;
}

.icon {
    position: absolute;
    bottom: -5px;
    right: 15px;
}

.disable-box {
    height: 35px;
    border-radius: 5px;
}

:host::ng-deep .mat-form-field-flex {
    margin-top: 4px;
}

:host::ng-deep .mat-form-field-suffix {
    margin-right: 5px;
}

:host::ng-deep .mat-tab-header {
    border: none;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
}

//for mobile
.dislay-mobile {
    //display: none !important;
    flex: none !important;
}

.personal-mobile {
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
}

.personal-name-mobile {
    padding: 50px 0;
    margin: 0 auto;
    text-align: center;
}

.tab-mobile {
    width: 60%;
}

:host::ng-deep .mat-tab-labels {
    background-color: white;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.body {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 10px;
}

:host::ng-deep .mat-tab-label .mat-tab-label-content {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;
}

@media only screen and (max-width: 425px) {
    .user-info {
        margin: 0px;
    }

    .cover-image {
        height: 200px;
    }

    :host::ng-deep .mat-tab-label {
        width: 50%;
    }

    :host::ng-deep .mat-tab-label.mat-tab-label-active {
        min-width: 25px !important;
        padding: 5px;
        background-color: #4caf50;
        color: white;
        font-weight: 700;
        opacity: 1;
    }

    :host::ng-deep .mat-tab-label .mat-tab-label-content {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height */

        text-align: center;
        text-transform: uppercase;
    }
}

.icon-get-template {
    height: 10px !important;
}

//   20/09/2021 LAMNV update
.line-underline {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 0.5px solid #e7e7e7;
}
.general-information {
    padding-left: 40px;
    padding-right: 40px;
}
.other-information {
    padding-left: 40px;
    padding-right: 40px;
}
.user-infor {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    opacity: 0.98;
}

.icon-edit {
    margin-top: 16px;
    color: #4caf50;
    margin-left: 6px;
}

.card-left {
    margin-left: 0 !important;
    margin-right: 15px !important;
    height: 100%;
}

.card-right {
    margin-left: 15px !important;
    margin-right: 0 !important;
    height: unset;
    position: relative;
}

.bagde-user-profile {
    padding: 2px 12px;
    border-radius: 28px;
    color: #ffffff;
    opacity: 0.98;
    font-weight: 600;
    font-size: 14px;
}
.bagde-user-name {
    background: #ff7c40;
}
.bagde-class {
    background: #4caf50;
}

.bagde-schoolyear {
    background: #27a7f0;
}

.bagde-user-type-name {
    background: #ffbf1a;
}

.card-wrapper {
    width: 100%;
    height: auto;
    position: relative;
}

.save-button {
    position: absolute;
    bottom: 30px;
    left: 46%;
}
@media screen and (max-width: 768px) {
    .card-left {
        margin-right: 0 !important;
        height: auto;
    }
    .card-right {
        margin-left: 0 !important;
        height: unset;
    }
    .save-button{
        position: relative;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}
