<div [hidden]="isLoading">
  <div mat-dialog-title>Thêm khóa học</div>
  <mat-dialog-content class="mat-typography">
    <table mat-table [dataSource]="lessonsPagination.items">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" color="primary"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
          <mat-checkbox (change)="onChangeSelection($event?.checked,row)" color="primary"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let element;let i = index"
          (click)="$event.stopPropagation()">
          {{i+1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> TÊN BÀI GIẢNG </th>
        <td mat-cell *matCellDef="let element" class="mat-main-column"
          (click)="$event.stopPropagation()"> <span class="text-wrap">{{element.name}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef> NGƯỜI TẠO </th>
        <td mat-cell *matCellDef="let element"
          (click)="$event.stopPropagation()">
          {{element.userName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> NGÀY TẠO </th>
        <td mat-cell *matCellDef="let element"
          (click)="$event.stopPropagation()">
          {{element.createdDate |
                    date:'dd-MM-yyyy'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell background-no-content">
          <div class="background-no-content-img"></div>
          <div class="background-no-content-info">
            <p>Không tìm thấy bài giảng</p>
          </div>
        </td>
      </tr>
    </table>
    <mat-paginator [length]="pagingLength" [pageSize]="10" (page)="pageChange($event)"
      [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
  </mat-dialog-content>
  <mat-dialog-actions>
        <button mat-raised-button class="button-cancel m-r-10" type="button" (click)="onCancelDialog()">Hủy</button>
        <button mat-raised-button type="button" color="primary"
          (click)="getDataSelected()">Lưu</button>
  </mat-dialog-actions>
</div>
