<div class="export-word-button">
  <button class="export-question" mat-flat-button (click)="download()">
    <mat-icon>download</mat-icon>Xuất file word
  </button>
</div>

<ng-container>
  <div id="source-html">
    <div class="question" *ngFor="let question of questions; index as i" fxLayout=row>
      <p style="text-decoration: underline; font-weight: 700;">Câu hỏi {{i+1}}:</p>&nbsp;
      <ng-container [ngSwitch]="question.type">
        <ng-container *ngSwitchCase="'singlechoice'">
          <app-single-choice [dataQuestion]="question" [isExportWordFile]="isExportWordFile"></app-single-choice>
        </ng-container>
        <ng-container *ngSwitchCase="'multichoice'">
          <app-multi-choice [dataQuestion]="question" [isExportWordFile]="isExportWordFile"></app-multi-choice>
        </ng-container>
        <ng-container *ngSwitchCase="'truefalse'">
          <app-true-false [dataQuestion]="question" [isExportWordFile]="isExportWordFile"></app-true-false>
        </ng-container>
        <ng-container *ngSwitchCase="'truefalseclause'">
          <app-true-false-clause [dataQuestion]="question" [isExportWordFile]="isExportWordFile">
          </app-true-false-clause>
        </ng-container>
        <ng-container *ngSwitchCase="'essay'">
          <app-essay [dataQuestion]="question" [isExportWordFile]="isExportWordFile"></app-essay>
        </ng-container>
        <ng-container *ngSwitchCase="'fillblank'">
          <app-missing-word1 [dataQuestion]="question" [isExportWordFile]="isExportWordFile"></app-missing-word1>
        </ng-container>
        <ng-container *ngSwitchCase="'underline'">
          <app-under-line [dataQuestion]="question" [isExportWordFile]="isExportWordFile"></app-under-line>
        </ng-container>
        <ng-container *ngSwitchCase="'fillblank2'">
          <app-missing-word2 [dataQuestion]="question" [isExportWordFile]="isExportWordFile"></app-missing-word2>
        </ng-container>
        <ng-container *ngSwitchCase="'group'">
          <app-group-question [dataQuestion]="question" [isExportWordFile]="isExportWordFile">
          </app-group-question>
        </ng-container>
        <ng-container *ngSwitchCase="'matching'">
          <app-matching [dataQuestion]="question" [isExportWordFile]="isExportWordFile"></app-matching>
        </ng-container>
      </ng-container>
    </div>
  </div>

</ng-container>
