/*
Template Name: Material Pro Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
/**
 * Table Of Content
 *
 * 	1. Globals
 *	2. Headers
 *	3. Navigations
 *	4. Banners
 *	5. Footers
 *	6. app
 *	7. Widgets
 *	8. Custom Templates
 */

@import "variable";
@import "./../../app/core/styles/variables";

@import "icons/themify-icons/themify-icons.css";
@import "icons/font-awesome/css/font-awesome.css";
@import "icons/flag-icon-css/flag-icon.min.css";
@import "spinner";
@import "app";
@import "header";
@import "widgets";

@import "horizontal.scss";

@import "pages";
@import "sidebar";
@import "dark-sidebar";
@import "responsive";
@import "rtl";
@import "../../app/core/styles/index";
// Red Theme

.danger {
  @import "colors/red";
  @include angular-material-theme($red-app-theme);
}

// Blue Theme

.blue {
  @import "colors/blue";
  @include angular-material-theme($blue-app-theme);
}

// Green Theme

.green {
  @import "colors/green";
  @include angular-material-theme($green-app-theme);
}

// Dark Theme

.dark {
  .mat-drawer-container {
    color: #8999a0 !important;
  }

  @import "colors/dark";
  @include angular-material-theme($dark-theme);
}

$custom-typography: mat-typography-config(
  $font-family: $bodyfont,
);
@include mat-core($custom-typography);

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-0-5 {
  margin: 0 5px;
}

.margin-top-20 {
  margin-top: 20px;
}

.line-height-40 {
  line-height: 40px;
}

.padding-0 {
  padding: 0px !important;
}

.height-80 {
  height: 80px;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.margin-20 {
  margin: 20px !important;
}

.margin-15 {
  margin: 15px;
}

.margin-10 {
  margin: 10px;
}

.height-100 {
  height: 100%;
}

.margin-left-5 {
  margin-left: 5px;
}

.orange-snackbar {
  background: #f79a4e;
  color: white;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

*::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dedede;
}

.text-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100% !important;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
.ngx-contextmenu {
  width: 160px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  border-radius: 2px;

  ul {
    list-style-type: none;
    margin: 0px !important;
    padding: 0px !important;

    li {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      margin: 0px;

      a {
        color: #555555;
      }
    }
  }
}
.min-width-100 {
  min-width: 100%;
}

.margin-0-10 {
  margin: 0 10px;
}

.margin-r-10 {
  margin-right: 10px;
}

.padding-b-35 {
  padding-bottom: 35px;
}

.title {
  color: #303030;
  font-weight: 600;
  b {
    font-weight: 600;
    font-size: 20px !important;
  }
}

.margin-t-25 {
  margin-top: 25px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.padding-b-25 {
  padding-bottom: 25px;
}

.margin-l-25 {
  margin-left: 25px;
}
.small-icon {
  height: 20px !important;
  width: 20px !important;
}
table {
  span {
    b {
      font-weight: 600px;
    }
  }
}

.break-line {
  white-space: pre-line;
}
.text-primary-color {
  color: #4caf50;
}
.tooltip-join-date {
  max-width: unset !important;
  // width: 420px !important;
  font-size:16px !important;
}