<div>
  <mat-card class="manage-card">
    <learn-step-header-lesson *ngIf="isReady" [stepHeaderCtrl]="stepHeaderControl"></learn-step-header-lesson>
  </mat-card>
  <learn-add-detail-content-body *ngIf="isReady" [lessonId]="lessonId" [lessonName]="lessonName">
  </learn-add-detail-content-body>
</div>
