<div fxLayout={{flexLayout}} fxLayout.xs="column" fxLayout.sm="column">
  <div class="question-content ck-editor-cls" fxFlex='40%'>
    <p><b>Nội dung câu hỏi :</b></p>
    <ckeditor #ck [(ngModel)]="ckeditorContent"[config]="configQuestion">
    </ckeditor>
    <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
      style="display:none!important" />
    <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
    <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
  </div>

  <div [ngClass]="flexLayout==='column'?'phuong-an-content-column':'phuong-an-content'" fxFlex='60%'
    [ngClass.sm]="'phuong-an-content-column'" [ngClass.xs]="'phuong-an-content-column'">
    <label><b>Phương án:</b></label>
    <ng-container *ngFor="let answer of answers ; index as i">
      <div class="container-answer" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
        <div data-so-thu-tu fxFlex="5%" style="margin: auto;">
          <div class="radio radio-label-custom">
            <label>
                {{alphabet[i]}}
            </label>
          </div>
        </div>
        <div fxFlex="80" class="ck-editor-cls">
          <ckeditor #cks class="ck-phuongan" [(ngModel)]="answer.NoiDung" [config]="configAnswer"></ckeditor>
          <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
            style="display:none!important" />
          <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
          <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
          <div class="validateNoiDungPhuongAn"></div>
        </div>
        <div fxFlex="15" style="margin: auto;">
          <button mat-icon-button (click)="changeSelectAnswer(i)">
            <mat-icon class="icon-done" *ngIf="answer.dapAnDung==1" matTooltip="Phương án đúng">done</mat-icon>
            <mat-icon class="icon-clear" *ngIf="answer.dapAnDung==0"  matTooltip="Phương án sai">clear</mat-icon>
          </button>
          <button mat-icon-button [ngClass]="{'fade-shuffle': answer.xaoTronDapAn == false}" (click)="ChangeShuffler(i)"
            title="Xáo trộn">
            <mat-icon>shuffle</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteAnswer(i)" title="Xóa" [disabled]="isDelete==true">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
    <button mat-raised-button color="primary" (click)="addAnswer()" class="m-10">
      <mat-icon>add</mat-icon>Tạo phương án
    </button>
  </div>
</div>
<div class="center-btn-footer" [hidden]="config==2 ||dataQuestion!=null">
  <button mat-raised-button class="btn-footer btn-success btn-fixed-width" (click)="getvalue()">Lưu</button>
  <button mat-raised-button class="btn-footer btn-success" (click)="SaveAndCreate()">Lưu và tạo mới</button>
  <a routerLink="/dashboard/questionbanks/">
    <button mat-raised-button class="btn-footer btn-cancel btn-fixed-width">Hủy</button>
    </a>
</div>
