.container-dialog {
  min-width: 570px;

  .hr-underline {
    border-bottom: 0.5px solid #b0b0b0;
    margin-bottom: 35px;
  }

  .container-dialog_title {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    padding: 0 10px 10px 10px;
    text-transform: uppercase;
    text-align: center;
    color: #303030;

    opacity: 0.98;
  }

  .dialog-content {
    .infor-user-create-trouble {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 18px;

      .user-image-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 6px;
      }

      .user-infor-text {
        font-style: normal;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        color: #555555;
        opacity: 0.98;
      }
    }

    .infor-troubleshooting-question {
      margin-bottom: 20px;
    }

    .question {
      background: #FBFFFB;
      border: 1px dashed #92C194;
      box-sizing: border-box;
      border-radius: 12px;
    }

    .answer {
      background: #F4F4F4;
      border-radius: 36px;
      border: none;
      height: none !important;
    }

    .info-feedback {
      position: relative;

      .button-submit {
        position: absolute;
        top: 14px;
        right: 14px;
        color: #4CAF50;
        cursor: pointer;
      }
    }


    textarea {
      border-radius: 4px;
      box-sizing: border-box;
      resize: none;
      width: 100%;
      font-style: normal;
      font-size: 14px;
      color: #303030;
      opacity: 0.98;
      border: 1px solid #b5b5b5;
      padding: 20px;
      overflow-y: hidden;
    }
  }

  .footer-button {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 16px;
  }

  .feed-back-content {
    margin-bottom: 20px;

    .feed-back-content-title {
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 15px;
      color: #4CAF50;
    }

    textarea {
        background: #F4F4F4;
        border: 1px dashed #B3B3B3;
        box-sizing: border-box;
        border-radius: 12px;
    }
  }
}
