<div class="container-dialog">
  <div class="mat-dialog-title">
    HỎI ĐÁP
  </div>
  <div class="dialog-content">
    <div class="infor-user-create-trouble">
      <img class="user-image-avatar" [src]="data.troubleshooting.senderAvatar | safeUrl" alt=""
        *ngIf="data.troubleshooting.senderAvatar">
      <img class="user-image-avatar" src="../../../../../assets/images/lesson/default-img-feedback.png" alt=""
        *ngIf="!data.troubleshooting.senderAvatar">
      <div class="user-infor-text">
        <span class="user-infor-text-name">
          {{data.troubleshooting.senderName}}
        </span>
        <br *ngIf="data.troubleshooting.senderEmail" />
        <span class="user-infor-text-email" *ngIf="data.troubleshooting.senderEmail">
          ({{data.troubleshooting.senderEmail}})
        </span>
      </div>
    </div>
    <div class="infor-troubleshooting-question">
      <textarea class="question" [innerHtml]="data.troubleshooting.content"
        spellcheck="false" rows="3" disabled>
            </textarea>
    </div>
    <div *ngIf="data.troubleshooting.feedbackContent" class="feed-back-content">
        <div class="feed-back-content-title">Phản hồi của giáo viên:</div>
        <textarea [innerHtml]="data.troubleshooting.feedbackContent"
        spellcheck="false" rows="3" disabled>
            </textarea>
    </div>
    <div class="info-feedback">
      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
        placeholder="Nhập phản hồi ..." class="answer" [(ngModel)]="feedbackContent"
        name="feedbackContent" spellcheck="false">
            </textarea>
      <span class="button-submit material-icons-outlined" matTooltip="Gửi phản hổi" (click)="onFeedbackHandleClick()">
        send
      </span>
    </div>
  </div>

  <mat-dialog-actions>
    <button mat-raised-button class="button-cancel" (click)="onCloseDialogHandleClick()">Đóng</button>
    <!-- <button mat-raised-button color='primary' (click)="onFeedbackHandleClick()"
      [disabled]='!feedbackContent'>
      <span>Phản hồi</span>
    </button> -->
  </mat-dialog-actions>
</div>
