.header {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 0.5rem;
  }
  .header-content{
    text-align: center;
    padding: 0.5rem;
  }
  mat-radio-group{
    margin: 0 auto;
  }
  mat-radio-button{
    margin: 1rem;
  }
  
  mat-form-field{
    width:80%;
    margin: 0 auto;
  }
  
  mat-checkbox{
    margin: 1rem;
  }
  