<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-header>
      <mat-card-title>{{infoMarkingEssay.examName}}
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card class="content-exam manage-card">

    <div *ngIf="userExercises==null ||userExercises.length==0">
      Bài làm trống
    </div>
    <div flexLayOut="row wrap" *ngFor="let item of SortedUserExercies(); index as i">
      <div flexLayOut="row wrap">
        <div class="title-header-font"><span style="color:#4CAF50">Câu {{i+1}} ({{item.questionScore}}
            điểm):
          </span><span [innerHtml]="item.questionContent"></span></div>
      </div>
      <div flexLayOut="row wrap" style="min-height: 300px;">
        <div fxFlex="48">
          <div class="exam-content-of-student ">
            <b> Bài làm của học sinh:</b>
          </div>
          <div class="content-exam-of-student">
            <div class="content-exam-of-student-file" *ngIf="item.attachments!=null && item.attachments.length>0">
              <span>Tệp đính kèm:</span>
              <button mat-raised-button (click)="downloadFile(item.attachments,i)" color='primary'>
                <mat-icon matSuffix style="color:#ffffff;line-height: 20px;" class="small-icon">file_download</mat-icon>
                Tải xuống
              </button>
              <hr>
            </div>

            <div class="content-exam-of-student-text" style="padding: 10px;height: 300px;" [innerHtml]="item.content">
            </div>
          </div>
        </div>
        <div fxFlex="48" fxFlexOffset="4">
          <div class="exam-content-of-student ml-0">
            <b>Điểm: </b>
          </div>

          <div class=" exam-content-of-student exam-feedback ml-0 ">
            <div>
              <input type="number" min="0" class="score-content" max="{{item.questionScore}}" (keyup)="validateScore()"
                [(ngModel)]="item.score">
              <span class="text-red" *ngIf="item.score>item.questionScore">
                <b> Điểm không được lớn hơn điểm của câu hỏi</b>
              </span>
              <span class="text-red" *ngIf="item.score<0">
                <b> Điểm không được âm</b>
              </span>
            </div>
            <b> Nhận xét của giáo viên </b>
          </div>
          <ckeditor #cks class="ck-phuongan" [config]="configEditor" [(ngModel)]="item.teacherComment">
          </ckeditor>
        </div>

      </div>
    </div>
  </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="center center" class="pb-3 pt-3" fxLayoutGap=15px>
  <button mat-stroked-button class="button-cancel" (click)="cancel()">Hủy</button>
  <button mat-raised-button (click)="save()" [disabled]="!isValid" color='primary'>
    Lưu
  </button>
  <button mat-raised-button (click)="done()" [disabled]="!isValid" color='primary'>
    Xác nhận chấm bài
  </button>
</div>
