.title-header-font {
  font-size: 16px;
  color: #303030;
  font-weight: 600;
}

.exam-name-header {
  padding: 16px !important;
  text-transform: uppercase;
}

.content-exam {
  padding: 24px 20px !important;
  height: 100% !important;
  overflow: hidden;

  .lable-header-content {
    font-size: 13px;
    text-transform: uppercase;

    color: #303030;
    font-weight: 600;
    opacity: 0.98;
  }

  .content-exam-of-student {
    border: 1px solid #b0b0b0;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 12px 4px 16px 16px;
    overflow: hidden;
    height: 358px;
    font-size: 14px;
    &-file {
      font-size: 14px;
      span{
        font-weight: 600;
        padding-right: 15px;
      }
    }

    &-text {
      overflow-y: auto;
      height: 270px;
    }
  }

  .score-content {
    width: 104px;
    border: 1px solid #b0b0b0;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 4px;
    height: 30px;
  }

  .feed-back-of-teacher {
    border: 1px solid #b0b0b0;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    padding: 8px;
    height: 190px;
    resize: none;
  }
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.exam-content-of-student {
  margin: 14px;
}

.btn-cancel {
  background: #DA251D;
  border-radius: 6px;
  color: #FFFFFF;
}
.content-exam{
  .title{
    font-size: 20px;
  }
}