.content_area {
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 6px 6px;
  padding: 20px;
}


.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.background_avatar {
  background-image: url("../../../../../assets/images/lesson/default.png");
}

.btn_save{
    margin-right: 0;
    color: white;
}


.avatar_lesson {
  height: 195px;
  width: 195px;
  object-fit: cover;
  cursor: pointer;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.label_finish_lesson {
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  color: #555555;
  opacity: 0.98;
}

.background_avatar {
  background-image: url("../../../../../assets/images/lesson/default.png");
}

.lesson_intro {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  opacity: 0.98;
}