<mat-card>
  <learn-lesson-name-header [lessonName]="lessonInfo.name"></learn-lesson-name-header>
  <div *ngIf="isReady" class="content_area m-b-20">
    <div class="tab_add_lesson">
      <div fxLayout="row" fxLayoutAlign="space-between start" class="m-b-10">
        <div class="avatar_lesson" [ngClass]="(!lessonInfo.avatar) ? 'background_avatar': ''">
          <img [src]="lessonInfo.avatar" alt="">
        </div>
        <div fxFlex="50" fxLayoutAlign="end start">
          <button mat-raised-button color="warn" class="btn_return m-r-10 m-l-10" (click)="returnLesson()">
            <span class="material-icons">
              assignment_return
            </span>
            Trả lại
          </button>
          <button mat-raised-button color="primary" class="btn_save m-r-10 m-l-10" (click)="approvalLesson()">
            <span class="material-icons">
              check_circle_outline
            </span>
            Phát hành
          </button>
        </div>
   
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" class="m-b-10">
        <label class="label_finish_lesson">Giáo viên chính: {{teacherName}}</label>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" class="m-b-10">
        <label class="label_finish_lesson">Giới thiệu</label>
      </div>
      <div *ngIf="isReady" fxLayout="row" fxLayoutAlign="start start" class="lesson_intro">
        {{lessonInfo.description}}
      </div>
    </div>
  </div>
</mat-card>

