<form [formGroup]="personalForm" class="user-info">
  <div>
    <div class="header">
      <img src="../../../../../assets/images/person-info-banner/personal-info.png" class="cover-image">
      <div class="personal" [ngClass.xs]="{'personal-mobile':true}">
        <div for="input-image-id" (click)="uploadImage()" class="personal-avartar"
          [ngClass]="(!imageUrl) ? 'background_avatar': ''" matTooltip="Ảnh đại diện">
          <input #inputImageFile (change)="onChangeImageInput($event)" class="ng-hide" id="input-image-id" multiple
            type="file" accept="image/*" />
          <img id="avatarUser" #avatarUser [src]="imageUrl" alt="" class="personal-avartar">
        </div>
        <mat-icon (click)="uploadImage()" class="icon" svgIcon="camera"></mat-icon>
      </div>
    </div>
    <div class="personal-name" [ngClass.xs]="{'personal-name-mobile':true}">
      <span class="personal-name-user">{{fullname.value}}</span>
    </div>
  </div>
  <mat-tab-group class="container" [selectedIndex]="selectedTabIndex">
    <mat-tab label="THÔNG TIN CÁ NHÂN" [ngClass.xs]="{'::ng-deep .mat-tab-label': true}">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center start" class="body">
        <div fxFlex="50" fxFlex.xs=100 class="padding-left">
          <div fxLayout="row" fxLayoutAlign.xs="none" fxLayoutAlign="center center" class="row_flex m-b-20">
            <label fxFlex="50" fxLayoutAlign.xs="none" fxLayoutAlign="center center" class="title">Thông tin cơ bản
            </label>
          </div>
          <br>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
            class="row_flex m-b-20">
            <label fxFlex="20" fxFlex.xs="100" fxLayoutAlign="start center" for="name" class="label_combobox">Tên (*)
            </label>
            <input fxFlex="51" fxFlex.xs="100" fxLayoutAlign.xs="none" fxLayoutAlign="center center" disabled
              formControlName="firstname" name="name" type="text" class="input_name" placeholder="Tên người dùng"
              [ngClass.xs]="{'dislay-mobile':true}">
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20" *ngIf="firstname.invalid"
            class="errors-msg">
            <div fxFlex="80" fxFlex.xs=100 fxLayoutAlign="end center">
              <mat-error>Tên người dùng không được trống</mat-error>
            </div>
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
            class="row_flex m-b-20">
            <label fxFlex="20" fxLayoutAlign="start center" for="" class="label_combobox"> Họ
            </label>
            <input fxFlex="51" fxLayoutAlign="center center" formControlName="lastname" type="text" class="input_name"
              disabled placeholder="Họ người dùng" [ngClass.xs]="{'dislay-mobile':true}">
          </div>


          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
            class="row_flex m-b-20">
            <label fxFlex="20" fxLayoutAlign="start center" for="" class="label_combobox"> Mã định danh (*)
            </label>
            <input fxFlex="51" fxLayoutAlign="center center" formControlName="username" type="text" class="input_name"
              disabled placeholder="Mã định danh" [ngClass.xs]="{'dislay-mobile':true}">
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20" *ngIf="username.invalid"
            class="errors-msg">
            <div fxFlex="80" fxFlex.xs=100 fxLayoutAlign="end center">
              <mat-error>Mã định danh không được trống</mat-error>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="center center" class="row_flex m-b-20" fxLayout.xs="column"
            fxLayoutAlign.xs="none">
            <label fxFlex="20" fxLayoutAlign="start center" for="" class="label_combobox"> Email
            </label>
            <input fxFlex="51" fxLayoutAlign="center center" formControlName="email" type="text" class="input_name"
              disabled placeholder="Email" [ngClass.xs]="{'dislay-mobile':true}">
          </div>
        </div>
        <div fxFlex="50" fxFlex.xs=100 class="padding-right">
          <div fxLayout="row" fxLayoutAlign.xs="none" fxLayoutAlign="center center" class="row_flex m-b-20">
            <label fxFlex="50" fxLayoutAlign.xs="none" fxLayoutAlign="center center" class="title">Thông tin người
              dùng
            </label>
          </div>
          <br>
          <div fxLayout="row" fxLayoutAlign="center center" class="row_flex m-b-20" fxLayoutAlign.xs="start center">
            <label fxFlex="20" fxLayoutAlign="start center" for="" class="label_combobox"> Giới tính:
            </label>
            <mat-radio-group formControlName="gender" fxFlex="51" aria-label="Chọn giới tính" disabled>
              <mat-radio-button [value]="true">Nam</mat-radio-button>
              <mat-radio-button [value]="false">Nữ</mat-radio-button>
            </mat-radio-group>
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
            class="row_flex m-b-20">
            <label fxFlex="20" fxLayoutAlign="start center" for="" class="label_combobox"> Ngày sinh
            </label>
            <mat-form-field fxFlex="51" class="date-picker-wrapper date-picker-custom" [floatLabel]="'never'">
              <input formControlName="birthday" matInput [matDatepicker]="dpDayOfBirth" onfocus="this.blur()" disabled
                placeholder="dd/MM/yyyy" class="date-picker-input" autocomplete="off">
              <mat-datepicker-toggle matSuffix [for]="dpDayOfBirth"></mat-datepicker-toggle>
              <mat-datepicker #dpDayOfBirth>
              </mat-datepicker>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
            class="row_flex m-b-20">
            <label fxFlex="20" fxLayoutAlign="start center" for="phone" class="label_combobox">Số điện thoại
            </label>
            <input fxFlex="51" fxLayoutAlign="center center" formControlName="phone" name="phone" type="text" disabled
              class="input_name" placeholder="Số điện thoại" [ngClass.xs]="{'dislay-mobile':true}">
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
            class="row_flex m-b-20">
            <label fxFlex="20" fxLayoutAlign="start center" for="address" class="label_combobox">Địa chỉ
            </label>
            <input fxFlex="51" fxLayoutAlign="center center" formControlName="address" type="text" class="input_name"
              disabled placeholder="Địa chỉ" [ngClass.xs]="{'dislay-mobile':true}">
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
            class="row_flex m-b-20">
            <label fxFlex="20" fxLayoutAlign="start center" for="" class="label_combobox"> Trường học (*)
            </label>
            <select fxFlex="51" disabled class="disable-box" [ngClass.xs]="{'dislay-mobile':true}">
              <option>{{this.schoolCtrl.value}}</option>
            </select>
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
            class="row_flex m-b-20">
            <label fxFlex="20" fxLayoutAlign="start center" for="" class="label_combobox"> Khối lớp (*):
            </label>
            <select fxFlex="51" disabled class="disable-box" [ngClass.xs]="{'dislay-mobile':true}">
              <option>{{this.gradeCtrl.value}}</option>
            </select>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
            class="row_flex m-b-20">
            <label fxFlex="20" fxLayoutAlign="start center" for="" class="label_combobox"> Chọn lớp (*)
            </label>

            <select fxFlex="51" disabled class="disable-box" [ngClass.xs]="{'dislay-mobile':true}">
              <option>{{this.groupStudentCtrl.value}}</option>
            </select>
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
            class="row_flex m-b-20">
            <label fxFlex="20" fxLayoutAlign="start center" for="" class="label_combobox"> Niên khóa (*):
            </label>


            <select fxFlex="51" disabled class="disable-box" [ngClass.xs]="{'dislay-mobile':true}"
              [formControl]="schoolYearCtrl" #singleSelectSchoolYear>
              <option value="2017">
                2017-2018
              </option>
              <option value="2018">
                2018-2019
              </option>
              <option value="2019">
                2019-2020
              </option>
              <option value="2020">
                2020-2021
              </option>
              <option value="2021">
                2021-2022
              </option>
              <option value="2022">
                2022-2023
              </option>
              <option value="2023">
                2023-2024
              </option>
              <option value="2024">
                2024-2025
              </option>
              <option value="2026">
                2025-2026
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- <div fxLayout=row fxLayoutAlign="center center" fxLayoutGap=10px>
        <button mat-raised-button class="bg-danger text-white" (click)="cancel()">Hủy</button>
        <button mat-raised-button color="primary" (click)="save()">Lưu</button>
      </div> -->
    </mat-tab>
    <mat-tab label="MẬT KHẨU" [ngClass.xs]="{'::ng-deep .mat-tab-label': true}">
      <div class="body">
        <div fxLayout="row" fxLayoutAlign="center center" class="row_flex m-b-20">
          <label fxFlex="50" fxLayoutAlign="center center" class="title">Thay đổi mật khẩu
          </label>
        </div>
        <br>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
          class="row_flex m-b-20">
          <label fxFlex="17" fxLayoutAlign.xs="none" fxLayoutAlign="start center" class="label_combobox">Mật khẩu
            hiện tại (*)
          </label>
          <input fxFlex="30" fxLayoutAlign.xs="none" fxLayoutAlign="center center" formControlName="password"
            type="password" required class="input_name" placeholder="Mật khẩu hiện tại"
            [ngClass.xs]="{'dislay-mobile':true}">
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
          *ngIf="password.errors?.required && password.touched" class="errors-msg">
          <div fxFlex="74" fxFlex.xs=100 fxLayoutAlign="end center">
            <mat-error class="error">Bạn chưa nhập mật khẩu </mat-error>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20" *ngIf="password.errors?.minlength"
          class="errors-msg">
          <div fxFlex="74" fxFlex.xs=100 fxLayoutAlign="end center">
            <mat-error class="error">Mật khẩu ít nhất 6 kí tự </mat-error>
          </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
          class="row_flex m-b-20">
          <label fxFlex="17" fxLayoutAlign.xs="none" fxLayoutAlign="start center" class="label_combobox"> Mật khẩu
            mới (*)
          </label>
          <input fxFlex="30" fxLayoutAlign.xs="none" fxLayoutAlign="center center" formControlName="newPassword"
            class="input_name" type="password" placeholder="Mật khẩu mới" [ngClass.xs]="{'dislay-mobile':true}">
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
          *ngIf="newPassword.errors?.required && newPassword.touched" class="errors-msg">
          <div fxFlex="74" fxFlex.xs=100 fxLayoutAlign="end center">
            <mat-error class="error">Bạn chưa nhập mật khẩu mới</mat-error>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20" *ngIf="newPassword.errors?.minlength"
          class="errors-msg">
          <div fxFlex="74" fxFlex.xs=100 fxLayoutAlign="end center">
            <mat-error class="error">Mật khẩu ít nhất 6 kí tự </mat-error>
          </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
          class="row_flex m-b-20">
          <label fxFlex="17" fxLayoutAlign="start center" class="label_combobox"> Xác nhận mật khẩu mới
            (*)
          </label>
          <input fxFlex="30" fxLayoutAlign="center center" formControlName="confirmPassword" class="input_name"
            type="password" placeholder="Xác nhận mật khẩu" [ngClass.xs]="{'dislay-mobile':true}">
        </div>
        <div *ngIf="confirmPassword.errors?.required && confirmPassword.touched" fxLayout="row"
          fxLayoutAlign="start center" class="row_flex m-b-20" class="errors-msg">
          <div fxFlex="74" fxFlex.xs=100 fxLayoutAlign="end center">
            <mat-error class="error">Bạn chưa xác nhận mật khẩu mới</mat-error>
          </div>
        </div>
        <div *ngIf="confirmPassword.errors?.mustMatch" fxLayout="row" fxLayoutAlign="start center"
          class="row_flex m-b-20" class="errors-msg">
          <div fxFlex="74" fxFlex.xs=100 fxLayoutAlign="end center">
            <mat-error class="error">Mật khẩu xác nhận chưa trùng khớp</mat-error>
          </div>
        </div>
      </div>
      <div fxLayout=row fxLayoutAlign="center center" fxLayoutGap=10px>
        <!-- <button mat-raised-button class="bg-danger text-white" (click)="cancel()">Hủy</button> -->
        <button mat-raised-button color="primary" [disabled]="confirmPassword.errors?.mustMatch"
          (click)="changePassword()">Lưu</button>
      </div>
    </mat-tab>
    <mat-tab label="TÀI KHOẢN ZOOM" [ngClass.xs]="{'::ng-deep .mat-tab-label': true}" *ngIf="userRole != 'STUDENT'">
      <div class="body">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
          class="row_flex m-b-20 m-t-20">
          <label fxFlex="10" fxLayoutAlign.xs="none" fxLayoutAlign="start center" class="label_combobox">
          </label>
          <div fxFlex="30" fxLayoutAlign.xs="none" fxLayoutAlign="start center" class="label_guide">
            <a [href]="getLinkTemplate()" target="_blank" class="m-b--10">
              <span>Tải tập tin hướng dẫn</span>
              <button type="button" mat-raised-button color="primary">
                <mat-icon svgIcon="add-school-from-file" class="icon "></mat-icon>

              </button>
            </a>
          </div>
        </div>
        <br>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
          class="row_flex m-b-20">
          <label fxFlex="10" fxLayoutAlign.xs="none" fxLayoutAlign="start center" class="label_combobox">PublicKey (*)
          </label>
          <input fxFlex="30" fxLayoutAlign.xs="none" fxLayoutAlign="center center" formControlName="publicKeyZoom"
            type="password" required class="input_name" [ngClass.xs]="{'dislay-mobile':true}">
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
          *ngIf="publicKeyZoom.errors?.required && publicKeyZoom.touched" class="errors-msg">
          <div fxFlex="70" fxFlex.xs=100 fxLayoutAlign="end center">
            <mat-error class="error">Bạn chưa nhập PublicKey </mat-error>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
          *ngIf="publicKeyZoom.errors?.pattern && publicKeyZoom.touched" class="errors-msg">
          <div fxFlex="70" fxFlex.xs=100 fxLayoutAlign="end center">
            <mat-error class="error">PublicKey chứa ký tự đặc biệt</mat-error>
          </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
          class="row_flex m-b-20">
          <label fxFlex="10" fxLayoutAlign.xs="none" fxLayoutAlign="start center" class="label_combobox">PrivateKey (*)
          </label>
          <input fxFlex="30" fxLayoutAlign.xs="none" fxLayoutAlign="center center" formControlName="privateKeyZoom"
            type="password" class="input_name" [ngClass.xs]="{'dislay-mobile':true}">
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
          *ngIf="privateKeyZoom.errors?.required && privateKeyZoom.touched" class="errors-msg">
          <div fxFlex="70" fxFlex.xs=100 fxLayoutAlign="end center">
            <mat-error class="error">Bạn chưa nhập PrivateKey</mat-error>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="row_flex m-b-20"
          *ngIf="privateKeyZoom.errors?.pattern && privateKeyZoom.touched" class="errors-msg">
          <div fxFlex="70" fxFlex.xs=100 fxLayoutAlign="end center">
            <mat-error class="error">PrivateKey chứa ký tự đặc biệt</mat-error>
          </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none" fxLayoutAlign="center center"
          class="row_flex m-b-20">
          <label fxFlex="10" fxLayoutAlign="start center" class="label_combobox">Email (*)
          </label>
          <input fxFlex="30" fxLayoutAlign="center center" formControlName="emailZoom" class="input_name"
            [ngClass.xs]="{'dislay-mobile':true}">
        </div>
        <div *ngIf="emailZoom.errors?.required && emailZoom.touched" fxLayout="row" fxLayoutAlign="start center"
          class="row_flex m-b-20" class="errors-msg">
          <div fxFlex="70" fxFlex.xs=100 fxLayoutAlign="end center">
            <mat-error class="error">Bạn chưa nhập Email</mat-error>
          </div>
        </div>
        <div *ngIf="emailZoom.errors?.email  && emailZoom.touched" fxLayout="row" fxLayoutAlign="start center"
          class="row_flex m-b-20" class="errors-msg">
          <div fxFlex="70" fxFlex.xs=100 fxLayoutAlign="end center">
            <mat-error class="error">Email không hợp lệ</mat-error>
          </div>
        </div>
      </div>
      <div fxLayout=row fxLayoutAlign="center center" fxLayoutGap=10px>
        <!-- <button mat-raised-button class="bg-danger text-white" (click)="cancel()">Hủy</button> -->
        <button mat-raised-button color="primary" (click)="insertZoomAccount()">Lưu</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</form>