.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


input {
  text-align: center;
}

mat-form-field {
  max-width: 190px;
  max-height: 50px;
}

table {
  margin: 25px 0;
}

.organize-exam-info {
  font-size: 14px;

  p {
    min-height: 34px;
  }

  span {
    min-width: 44px;

    b {
      background: #CCFFCE;
      border-radius: 10.5px;
      padding: 5px 20px;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #4CAF50;
      opacity: 0.98;
    }
  }
}


.content {
  font-size: 14px;
}