<div>
  <mat-card class="manage-card">
    <learn-step-header-lesson [stepHeaderCtrl]="stepHeaderControl"></learn-step-header-lesson>
  </mat-card>
  <learn-add-scorm-content-body [lessonId]="lessonId" [lessonName]="lessonName"></learn-add-scorm-content-body>
</div>
