<div>
  <mat-card class="manage-card">
    <learn-lesson-name-header [lessonName]="lessonName" type="Sửa bài kiểm tra"></learn-lesson-name-header>
    <app-spinner2></app-spinner2>
    <div class="tab_add_lesson">
      <learn-tab-add-test [lessonStatus]="lessonStatus" [submitEvents]="submitEvents$" [useCase]="useCaseEnum.editting"
        [contentId]="contentId" [lessonId]="lessonId" (invalidContent)="invalidContentEmit($event)" (invalidConfig)="invalidConfigEmit($event)"></learn-tab-add-test>
    </div>

    <!-- Button footer -->
    <div mat-dialog-actions class="flex_justify_center p-b-20">
      <!-- Button [Hủy] -->
      <button mat-raised-button class="button-cancel button-spacing" (click)="onCancelClick()"
        style="width:103px;">
        Hủy
      </button>

      <!-- Button [Lưu] -->
      <button mat-raised-button color="primary" style="width:103px;"
        (click)="onSaveClick()" (dblclick)="onDoubleClick()">
        Lưu
      </button>
    </div>
  </mat-card>
</div>
