// Select box
// select box
.input_select {
    width: 100%;
    height: 30px;
}
.matFormFieldSelectBox {
    height: 31px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 0 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #555555;
    opacity: 0.98;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

.mat-select-panel-wrap {
    position: relative;
    top: 26px;
}

.mat-select-panel-wrap .mat-select-panel {
    min-width: calc(100% + 12px) !important;
    transform: translateX(4px) !important;
}

.input_name {
    width: 980px;
    max-width: 100%;
    height: 31px;
    padding: 0 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}
