<div class="apply-css-alpha">
  <mat-card class="manage-card m-0" style="box-shadow: none !important;"> 
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutGap="35px" fxLayoutAlign="start center">
        <div fxFlex fxFlex.gt-md="25">
          <mat-form-field appearance="outline" (click)="onGroupStudentSelectClicked()">
            <mat-label>Lớp</mat-label>
            <mat-select [formControl]="groupStudentCtrl" placeholder="Chọn lớp" #singleSelectGroupStudent
              disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm lớp" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="groupStudentFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]="0">
                Tất cả
              </mat-option>
              <mat-option *ngFor="let groupStudent of filteredGroupStudents | async" [value]="groupStudent.id">
                {{groupStudent.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex fxFlex.gt-md="25">
          <mat-form-field appearance="outline">
            <mat-label>Tìm kiếm</mat-label>
            <input matInput [formControl]="keyWordCtrl" placeholder="Tìm kiếm theo tên, mã học sinh...">
          </mat-form-field>
        </div>
        <div fxFlex fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
          <button mat-raised-button color="primary" (click)="onSubmitFilter()">
            <mat-icon matSuffix>filter_list</mat-icon>
            Lọc kết quả
          </button>
        </div>
      </div>
    </mat-card-content>
    
  </mat-card>

  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <div class="example-container m-t-20">
        <app-spinner2 name="studentLoading" [fullScreen]="isFullScreen"></app-spinner2>
        <table mat-table [dataSource]="listStudent" class="example-table">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <!-- Number Column -->
            <ng-container matColumnDef="stt">
              <th mat-header-cell *matHeaderCellDef>STT</th>
              <td mat-cell *matCellDef="let element;let i=index">{{i+1}}
              </td>
            </ng-container>

            <!-- name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Họ Và tên</th>
              <td mat-cell *matCellDef="let element" class="mat-main-column">
                <span class="text-wrap" #tooltip="matTooltip"
                  matTooltip="{{element.fullName}}">{{element.fullName==null?'-':element.fullName}}</span>
              </td>
            </ng-container>
            <!-- Title Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Email</th>
              <td mat-cell *matCellDef="let element">
                <span class="text-wrap" #tooltip="matTooltip"
                  matTooltip="{{element.email}}">{{element.email==null?'-':element.email}}</span>
              </td>
            </ng-container>
            <!-- Created Column -->
            <ng-container matColumnDef="dob">
              <th mat-header-cell *matHeaderCellDef disableClear>
                Ngày sinh
              </th>
              <td mat-cell *matCellDef="let element">
                {{element.dayOfBirth==null?'-':element.dayOfBirth| date: 'dd/MM/yyyy'}}
              </td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="class">
              <th mat-header-cell *matHeaderCellDef>Lớp</th>
              <td mat-cell *matCellDef="let element">
                {{element.groupStudentName}}</td>
            </ng-container>

            <!-- Created Column -->
            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef>
                Giới tính
              </th>
              <td mat-cell *matCellDef="let element">{{element.getGender}}
              </td>
            </ng-container>
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox color="primary" [disabled]="status=='PUB'" [checked]="allComplete" (change)="setAll($event.checked)"
                  [indeterminate]="someComplete()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row;let i=index">
                <mat-checkbox color="primary" [disabled]="status=='PUB'" [(ngModel)]="row.isChoose"
                  (ngModelChange)="updateAllComplete($event,row.id)">
                </mat-checkbox>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'data-selected':isSelected}">
            </tr>
            <tr class="mat-row" *matNoDataRow>
              <td colspan="7" class="mat-cell background-no-content">
                <div class="background-no-content-img"></div>
                <div class="background-no-content-info">
                  <p>Không tìm thấy học sinh</p>
                </div>
              </td>
            </tr>
          </div>

        </table>
        <mat-paginator [length]="totalItems" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>

</div>
