.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 263px;
  height: auto;
  padding: 5px;
  border: 1px solid #555555;
  border-radius: 3px;
}

.searchButton {
  background: none;
  border: none;
  margin-left: -32px;
  color: #555555
}
.icon{
  font-size: 18px;
}
.add-button{
  width: 20%;
}
