<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="20px">
      <button mat-raised-button (click)="addNewMatrix()" color="primary" class="add-button">
        <mat-icon class="icon">add_circle</mat-icon>
        Thêm từ ma trận
      </button>
      <div class="search">
        <input type="text" class="searchTerm" placeholder="Nhập nội dung tìm kiếm">
        <button type="submit" class="searchButton">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <p>danh sách ma trận chỗ ni</p>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
