<div fxLayout={{flexLayout}} fxLayout.xs="column" fxLayout.sm="column">
  <div class="question-content" fxFlex='40%' fxLayout="column">
    <div fxLayout="row">
      <p><b>Nội dung câu hỏi :</b></p>
    </div>
    <div class="input-content ck-editor-cls">
      <ckeditor #ck [(ngModel)]="ckeditorContent" id='txtNoiDungCauHoi' [config]="configQuestion">
      </ckeditor>
      <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
        style="display:none!important" />
      <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
      <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
    </div>
  </div>
  <div [ngClass]="flexLayout==='column'?'phuong-an-content-column':'phuong-an-content'" fxFlex='60%'
    [ngClass.sm]="'phuong-an-content-column'" [ngClass.xs]="'phuong-an-content-column'">
    <label><b>Phương án:</b></label>
    <ng-container *ngFor="let answer of SortedTrueAnswers() ; index as i">
      <div fxLayout="row" class="answer">
        <div data-so-thu-tu fxFlex="10%" style="margin: auto;">
          <div class="stt">
            <label>
              {{i+1}}
            </label>
          </div>
        </div>
        <div fxFlex="80%" class="m-10" fxLayoutAlign="start center">
          <ckeditor #cks class="ck-phuongandung"  readOnly="true" data="{{answer.NoiDung}}" [config]="configAnswer" style="width: 100%;"></ckeditor>
          <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
            style="display:none!important" />
          <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
          <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
          <div class="validateNoiDungPhuongAn"></div>
        </div>

        <div fxFlex="10%" style="margin: auto;" fxLayoutAlign="center center">
          <button mat-icon-button [ngClass]="{'fade-shuffle': answer.xaoTronDapAn == false}"
            (click)="ChangeShuffler(answer.id)" title="Xáo trộn">
            <mat-icon>shuffle</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteAnswer(answer.id)" title="Xóa">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngFor="let answer of FakeAnswers() ; index as i">
      <div fxLayout="row" class="answer">
        <div data-so-thu-tu fxFlex="10" style="margin: auto;">
          <div class="stt">
            <label>
              {{i+1}}
            </label>
          </div>
        </div>
        <div fxFlex="80%" class="m-10 ck-editor-cls">
          <ckeditor #cks class="ck-phuongan" [(ngModel)]="answer.NoiDung" [config]="configAnswer" style="width: 100%;"></ckeditor>
          <input type="file" class="upload-video" accept="video/mp4,video/x-m4v,video/*" hidden
            style="display:none!important" />
          <input type="file" accept="image/*" class="upload-photo" hidden style="display:none!important" />
          <input type="file" accept="audio/*" class="upload-audio" hidden style="display:none!important" />
        </div>
         <div fxFlex="10%" style="margin: auto;" fxLayoutAlign="center center">
          <button mat-icon-button [ngClass]="{'fade-shuffle': answer.xaoTronDapAn == false}"
            (click)="ChangeShuffler(answer.id)" title="Xáo trộn">
            <mat-icon>shuffle</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteAnswer(answer.id)" title="Xóa">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
    <button mat-raised-button color="primary" (click)="addFakeAnswer()" class="m-10">
      <mat-icon>add</mat-icon>Thêm phương án nhiễu
    </button>
  </div>
</div>
<div class="center-btn-footer" [hidden]="config==2 || dataQuestion!=null">
  <button mat-raised-button class="btn-footer btn-success btn-fixed-width" (click)="getvalue()">Lưu</button>
  <button mat-raised-button class="btn-footer btn-success" (click)="SaveAndCreate()">Lưu và tạo mới</button>
  <a routerLink="/dashboard/questionbanks/">
    <button mat-raised-button class="btn-footer btn-cancel btn-fixed-width">Hủy</button>
    </a>
</div>
