.question-content{
    position: relative;
    border: 1px solid #eeeeee;
    margin-top: 0.5rem;
    border-radius: 5px;
    padding: 1rem;
    height: fit-content;
}
.phuong-an-content{
    margin-top: -7.4rem;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 1rem;
    margin-left: 0.5rem;
}
.phuong-an-content-column{
    margin-top: 0.5rem;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 1rem;
}
.input-content{
    margin-top: 1rem;
}
.create-answer-question{
    position: absolute;
    right: 1rem;
}
//fake answer
.input-phuongan{
    width: 100%;
    margin-top:1%;
    overflow-y: scroll;
    height: 5rem;
    resize: none;
    padding: 1rem;
}
.answer{
    border: 1px solid #eeeeee;
}
.stt{
    text-align: center;
}
.trueanswer{
    padding: 5px 0px;
    overflow: auto;
    max-height: 150px;
    position: relative;
};
:host ::ng-deep .ck-phuongandung .cke_top,:host ::ng-deep .ck-phuongandung .cke_bottom{
	display: none !important;
}