<div class="question_underline" [ngClass]="{'question_group': isTypeNull}">
  <div class="content_group">
    <app-status-question *ngIf="!isTypeNull" [data]="dataQuestion"></app-status-question>
    <p *ngIf="dataQuestion.format === 'GRO' && dataQuestion.content.indexOf(defaultMath)!=-1; else quest" class="title" [MathJax]="dataQuestion.content"></p>
    <ng-template #quest>
      <p *ngIf="dataQuestion.format === 'GRO'" class="title" [innerHTML]="dataQuestion.content | safeHtml"></p>
    </ng-template>
    <div class="answer-area">
      <ng-container *ngIf="(isResult==false || isResult == undefined)">
        <div class="example-radio-group" *ngFor="let item of dataQuestion.answers">
          <input class="select_question" [value]="item.trueAnswer > 0 ? item.trueAnswer : ''" matInput type="text" #input disabled>
          <div *ngIf="item.content.indexOf(defaultMath)!=-1; else elseBlock"> <span class="title" [MathJax]="item.content"></span>
          </div>
          <ng-template #elseBlock> <span class="title" [innerHTML]="item.content | safeHtml"></span></ng-template>
        </div>
      </ng-container>
    </div>
  </div>
  <span class="type_question" *ngIf="isTypeNull">Điền khuyết</span>
</div>
