.question_underline {
  position: relative;
}

.example-radio-group {
  margin: 5px 0;
  display: flex;
  align-items: center;
  color: #555555;
  font-size: 14px;
  font-weight: normal;


  .select_question {
    width: 60px;
    margin-right: 10px;
    border: 0.5px solid #acacac;
    height: 31px;
    text-align: center;
  }

  &:last-child {
    height: 31px !important;
  }
}

.question_group {
  border: 0.5px solid #B0B0B0;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-top: 15px;

  .content_group {
    padding: 20px;
  }

  .answer-area{
    padding-bottom: 0;
  }

  .title {
    margin: 0;
    ::ng-deep >p{
      margin: 0;
    }
  }

  .type_question {
    padding: 10px 0;
    text-align: center;
    color: #4CAF50;
    font-size: 14px;
    font-weight: normal;
    border-top: 0.5px solid #B0B0B0;
    display: block;
  }
}

.title {
  font-size: 14px;
  color: #555555;
  // margin-top: 10px;
  width: 100%;
  word-break: break-all;
  font-weight: normal;

  ::ng-deep > div > p {
    margin: 0;
  }

  ::ng-deep > p {
    margin: 0;
  }
}

:host::ng-deep .Blanking {
  box-sizing: border-box;
  width: auto;
  min-width: 50px;
  height: auto;
  margin: 0 10px;
  display: inline-table;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #c0c0c0;
  text-align: center;
  font-style: italic;
}

.answer-area{
  padding: 10px 0;
}