<div class="handling-violations-dialog apply-css-alpha">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div mat-dialog-title> Xử lý vi phạm</div>
    <div fxLayout="row wrap" style="width:100%">
      <div fxFlex="50" fxLayoutAlign="space-between start">
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center start" class="mb-20" style="cursor: not-allowed;">
            <mat-form-field appearance="outline">
              <mat-label>Tên thí sinh</mat-label>
              <input matInput type="text" disabled readonly required formControlName="studentName"
                placeholder="Nhập tên thí sinh" style="cursor: not-allowed;">
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" class="mb-20">
            <mat-form-field appearance="outline" disabled>
              <mat-label>Hình thức</mat-label>
              <mat-select app formControlName="violationType" placeholder="Hình thức" required disableOptionCentering>
                <mat-option value="WAR">
                  Cảnh cáo
                </mat-option>
                <mat-option value="SUB">
                  Trừ điểm
                </mat-option>
                <mat-option value="SUS">
                  Đình chỉ
                </mat-option>
              </mat-select>
              <mat-error *ngIf="violationType?.touched && violationType?.errors?.required">Vui lòng chọn hình thức
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" class="mb-20"
            *ngIf="violationType.value == ViolationTypes.SubtractScore">
            <mat-form-field appearance="outline">
              <mat-label>Số điểm trừ</mat-label>
              <input matInput type="number" min="1" max="10" autocomplete="off" formControlName="minusScore"
                placeholder="Số điểm trừ" />
              <mat-error *ngIf="minusScore?.touched && minusScore?.errors?.invalid">Vui lòng nhập số điểm</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxFlex="50" fxLayoutAlign="center start">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Lý do</mat-label>
            <textarea matInput formControlName="reason" name="" id="" cols="30" required rows="12" maxlength="255"
              class="note-handling-violations"></textarea>
            <mat-error *ngIf="reason?.touched && reason?.errors?.required">Vui lòng nhập vào lý do (*)</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <mat-dialog-actions>
      <div fxFlex="100" fxLayoutAlign="center center" fxLayoutGap="15px">
        <button mat-stroked-button class="button-cancel" (click)="onNoClick()">Hủy</button>
        <button mat-raised-button color="warn" type="submit" [disabled]="formGroup.invalid">Đồng ý</button>
      </div>
    </mat-dialog-actions>
  </form>
</div>
