
.mb-20 {
    margin-bottom: 20px;
}
.note-handling-violations {
    // height: 200px;
    resize: none;   
}

.handling-violations-dialog-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    text-transform: uppercase;
    resize: none;
    color: #303030;

    opacity: 0.98;
}
.hr-border {
    width: 100%;
    margin: 10px 0;
    border-bottom: 0.5px solid #b0b0b0;
}
.cancel-button {
    color: #555555;
    margin-right: 10px;
}
.confirm-button {
    background: linear-gradient(0deg, #da251d, #da251d), #da251d;
}
