<div fxLayout="column">
  <!--header-->
  <mat-card class="manage-card apply-css-alpha">
    <mat-card-content>
      <form [formGroup]="testForm" onsubmit="submitForm()">
        <div fxLayout="row">
          <div fxFlex="65" fxLayout="row" class="input_choose">
            <label class="label_input" fxFlex="10" fxLayoutAlign="start center">Khối lớp: </label>
            <!-- <select fxFlex class="matFormFieldSelectBox input_name" [disabled]="true">
              <option value="1">{{grade.gradeName}}</option>
            </select> -->
            <div fxFlex="90">
              <mat-form-field fxFlex=35 appearance="outline" floatLabel="never">
                <mat-select [disabled]="true" value="1" class="matFormFieldSelectBox">
                  <mat-option *ngIf="grade!=null" value="1">{{grade.gradeName}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div fxFlex="5" fxLayout="row"></div>
              <div fxFlex="65" fxLayout="row" class="input_choose">
                <label class="label_input" fxLayoutAlign="start center" fxFlex="15">Môn học: </label>
                <!-- <select fxFlex class="matFormFieldSelectBox input_name" [disabled]="true">
                  <option value="1">{{subject.name}}</option>
                </select> -->
                <mat-form-field fxFlex=85 appearance="outline" floatLabel="never">
                  <mat-select [disabled]="true" value="1" class="matFormFieldSelectBox">
                    <mat-option *ngIf="subject!=null" value="1">{{subject.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" class="m-t-20">
          <div fxFlex="65" fxLayout="row" class="input_choose">
            <label fxLayoutAlign="start center" class="label_combobox label_input" fxFlex="10">Bộ đề: </label>
            <div fxFlex="none" class="enter_search" fxFlex="90">
              <mat-form-field appearance="outline">
                <mat-label>Nhập tên bộ đề thi...</mat-label>
                <input matInput required type="text" name="search" placeholder="Nhập tên bộ đề thi..."
                  autocomplete="off" formControlName="testName">
              </mat-form-field>
            </div>
          </div>
          <!-- <input matInput class="matFormFieldSelectBox" name="search" fxFlex=93.75 fxLayoutAlign="start center"
            type="text" placeholder="Nhập tên bộ đề thi..." class="input_name" formControlName="testName"> -->
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="exam apply-css-alpha">
    <mat-card-content>
      <div fxFlex="80" fxLayout="row" fxLayoutGap="8px">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span *ngIf="createType != 'MAT'" matTooltip="Tạo thêm đề"
            [ngClass]="{'btn-add-test disable-button': disableAddNewTest,'btn-add-test': !disableAddNewTest}"
            fxLayout="row" fxLayoutAlign="start start" (click)="addNewTest()" color="primary">
            <span class="material-icons-outlined">
              add_circle_outline
            </span>
          </span>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="start center">
          <label fxLayoutAlign="start center" style="margin-right: 10px">Đề thi </label>
          <mat-form-field class="drp-test-kit" appearance="outline" floatLabel="never">
            <mat-select [formControl]="testCtrl" disableOptionCentering class="matFormFieldSelectBox"
              (selectionChange)="onChangeTestSelected($event.value)">
              <mat-option *ngFor="let test of listTest" [value]="test.id">
                {{test.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button type="button" color="warn" matTooltip="Xóa đề thi" mat-raised-button class="btn-delete-test"
            (click)="deleteTest()">
            <span class="material-icons">
              delete
            </span>
          </button>

          <button *ngIf="createType == 'FIL'" mat-raised-button color="primary" class="btn-upload-file"
            matTooltip="Tải lên tệp tin đề thi" (click)="openFile()">
            <input type="file" #file style="display: none;" accept=".doc,.docx"
              (change)="filesSelectedOnChange($event.target.files)">
            <span class="material-icons">
              file_upload
            </span>
            Tải lên tệp tin
          </button>
          <span *ngIf="createType == 'MAT'" matTooltip="Ma trận đề" fxLayoutAlign="start center" class="btn-upload-file"
            (click)="openMatrixDialog()" color="primary">
            <mat-icon>auto_awesome_mosaic</mat-icon>
            <label class="m-l-5">Ma trận đề</label>
          </span>
          <button *ngIf="createType == 'QTB'" matTooltip="Ngân hàng câu hỏi" mat-raised-button color="primary"
            class="btn-upload-file" (click)="openQuestionBankDialog()">
            <input type="file" #file style="display: none;" accept=".doc,.docx"
              (change)="filesSelectedOnChange($event.target.files)">
            <mat-icon>account_balance</mat-icon>
            Ngân hàng câu hỏi
          </button>

          <button mat-raised-button color="primary" (click)="hanleGetListQuestionBank()" class="btn-upload-file">
            <mat-icon>visibility</mat-icon>
            Xem trước
          </button>

          <button type="button" mat-raised-button color="primary" (click)="showStatisticQuestion(this.data)" class="btn-upload-file">
            <mat-icon svgIcon="analytic_white"></mat-icon>
            Thống kê câu hỏi
          </button>


          
          <!-- <span  title="Tải lên tệp tin đề thi" fxLayoutAlign="start center"
              color="primary">

          </span> -->
          

          
        </div>
      </div>
      <div fxFlex="20" fxLayout="row" fxLayoutAlign="end end">
        <button mat-raised-button color="primary" class="btn-upload-file" [matMenuTriggerFor]="menu" *ngIf="createType == 'FIL'">
          <span class="material-icons">
            download
          </span>
          Tải tệp tin
        </button>
        <mat-menu #menu="matMenu">
          <a [href]="getLinkTemplate(1)" target="_blank">
            <button mat-menu-item>
              <span>Tải tập tin mẫu</span>
            </button>
          </a>

          <a [href]="getLinkTemplate(2)" target="_blank">
          <button mat-menu-item>
            <span>Tải tập tin hướng dẫn</span>
          </button>
          </a>
        </mat-menu>
        <!-- <a [href]="getLinkTemplate()" target="_blank"  *ngIf="createType == 'FIL'">
          <button mat-raised-button color="primary" class="btn-upload-file">
            <span class="material-icons">
              download
            </span>
            Tải tệp tin
          </button>
        </a> -->
      </div>
    </mat-card-content>
  </mat-card>


  <!--content-->
  <div fxLayout="row" fxFlex=100>
    <div fxFlex=40>
      <mat-card fxLayout="column" class="content">
        <mat-card-content class="title_number_question" style="margin-bottom: 0px">
          <div fxLayout="row">
            <div fxFlex="70" class="table_question_title">Câu hỏi chọn ra đề</div>
            <div fxFlex="30" fxLayout="column" fxLayoutAlign="center end" class="m-r-10">
              <div fxLayout="row">
                <label class="label_title"> Số câu hỏi: </label> <label class="label_title label_total color-green">
                  {{totalCountCurrentTest}} </label>
              </div>
              <div fxLayout="row">
                <label class="label_title"> Tổng điểm: </label> <label class="label_title label_total color-red">
                  {{totalScoreCurrentTest}} </label>
              </div>
            </div>
          </div>
          <!-- <div class="border_bottom_header"></div> -->
        </mat-card-content>
        <mat-card-content *ngIf="this.data.length > 0" class="list-question-wrapper">
          <div fxLayout="row" fxLayoutAlign="start center" class="flex_row question_header list_header">
            <div class="check_column" fxFlex="7">
              <mat-checkbox class="example-margin" [checked]="allComplete" (change)="setAll($event.checked)"
                [color]="'primary'">
              </mat-checkbox>
              <!-- <mat-checkbox class="example-margin">
                </mat-checkbox> -->
            </div>
            <div class="content_column ct_column" fxFlex="76">
              <span> Nội dung</span>
            </div>
            <div class="score_column ct_column" fxFlex="10">
              <span>Điểm</span>
            </div>
            <div class="action_column" fxFlex="7">

            </div>
          </div>
          <div fxLayout="row wrap" *ngFor="let question of data;let i = index " fxLayoutAlign="start center"
            class="flex_row flex_item" [ngClass]="{'question-selected': this.index == i}">
            <p class="question_type"
              [ngClass]="{'single': question.format === 'SIG', 'group': question.format === 'GRO'}">
              {{question.format === 'SIG' ? 'Câu hỏi đơn': 'Câu hỏi chùm'}}
            </p>
            <div fxFlex="100" fxLayoutAlign="space-between center" class="question_row"
              (click)="chooseQuestion(question,i)">
              <div class="block">
                <div class="check_column" fxFlex="7">
                  <mat-checkbox class="example-margin" [(ngModel)]="question.isChecked"
                    (ngModelChange)="updateAllComplete()" [color]="'primary'">
                  </mat-checkbox>
                </div>
                <div class="content_column" fxFlex="76">
                  <span *ngIf="!showInner" [innerHTML]="question.content | safeHtml" class="question"></span>
                </div>
                <div class="score_column" fxFlex="10">
                  <input [(ngModel)]="question.score" type="number" [disabled]="question.format === 'GRO' "
                    class="inputNumber" (ngModelChange)="updateScore(i, question.score)">
                </div>
                <div class="action_column" fxFlex="7">
                  <button mat-icon-button (click)="delete(question)">
                    <mat-icon svgIcon="trash"></mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div fxFlex="100" fxLayoutAlign="space-between" *ngFor="let child of question.questions;let j = index">
              <div fxFlex="100" class="question_row_child" (click)="chooseQuestion(question,i,j)">
                <div class="check_column" fxFlex="7">
                  <mat-checkbox class="example-margin" [(ngModel)]="child.isChecked"
                    (ngModelChange)="updateAllComplete()" [color]="'primary'">
                  </mat-checkbox>
                </div>
                <div class="content_column" fxFlex="76">
                  <span *ngIf="!showInner" [innerHTML]="child.content | safeHtml"></span>
                </div>
                <div class="score_column" fxFlex="10">
                  <input [(ngModel)]="child.score" type="number" class="inputNumber"
                    (ngModelChange)="updateScore(j, child.score,i)">
                </div>
                <div class="action_column" fxFlex="7">
                  <button mat-icon-button (click)="delete(child,i,j)">
                    <mat-icon svgIcon="trash"></mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-content fxFlex fxLayout="row" fxLayoutAlign="space-between" *ngIf="this.data.length == 0">
          <div fxFlex fxLayout="column" fxLayoutAlign="center center">
            <label class="label-tip">Không có câu hỏi nào trong danh sách</label>
            <label *ngIf="createType == 'FIL'" class="label-tip">Hãy bấm nút Tải lên tập tin để tải lên câu hỏi
              của bạn.</label>
            <label *ngIf="createType == 'MAT'" class="label-tip">Hãy bấm nút Ma trận đề bên để lấy đề tự động.</label>
            <label *ngIf="createType == 'QTB'" class="label-tip">Hãy bấm nút Ngân hàng câu hỏi để lấy câu
              hỏi.</label>
          </div>
        </mat-card-content>
        <div fxFlex *ngIf="this.data.length > 0" fxLayout="row" fxLayoutAlign="start end"
          class="m-t-15 btn-action-group">
          <div fxLayoutAlign="start start">
            <button class="bg-danger btn_delete_selected" mat-raised-button color="white" (click)="deleteSelected()">
              Xóa đã chọn
            </button>
          </div>
          <div>
            <button mat-raised-button color="primary" class="btn_update_score" (click)="openUpdateScoreDialog()">
              Cập nhật điểm
            </button>
          </div>
        </div>
      </mat-card>
    </div>
    <div fxFlex=60>
      <mat-card class="content">
        <mat-card-content fxFlex fxLayout="column">
          <all-questions *ngIf="question != null" [data]="question" [childIndex]="childIndex"
            [configUpload]="configUpload" (outputData)="updateQuestion($event)">
          </all-questions>
          <div fxFlex *ngIf="question == null" fxFlex fxLayout="column" fxLayoutAlign="center center">
            <label class="label-tip">Chọn một câu hỏi từ danh sách để chỉnh sửa</label>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="actions" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <button mat-raised-button class="button-cancel" (click)="cancel()">Hủy</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="testForm.invalid || submiting">Lưu</button>
  </div>
</div>