.document-content-header {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border-radius: 6px !important;
  background: #ffffff !important;

  height: 50px;
  padding: 2px;
  margin: 20px;

  &_title {
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    padding-top: 4px;
  }
}

.content-document_card {
  // margin: 20px !important;
  margin: 0px !important;
  // box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
  border-radius: 6px !important;
  background: #ffffff !important;
  height: calc(100vh - 115px);

  &-content {
    width: 100%;
    height: 100%;
  }
}

.content-document_card-content {
  border: 2px solid #e9e9e9;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: calc(100% - 40px);
  height: calc(100vh - 205px);
  margin: 0 auto;
  overflow: auto;
  scroll-behavior: auto;
  text-align: -webkit-center;
  position: relative;
  // margin: 0 20px 20px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  background-color: #c4c4c4;

  .paging-zoom-full-screen {
    position: fixed;
    bottom: 10px;
    left: calc(50% - 40px);
    background: rgb(16 16 16 / 70%);
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    display: flex;

    .pagingPDF-full-screen {
      /* background: #4caf50; */
      border-radius: 10.5px;
      color: #ffffff !important;
      font-weight: 600;
      font-size: 14px;
      opacity: 0.98;
      /* padding: 5px 12px; */
      border: none;
      position: relative;
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content-document_card-content::-webkit-scrollbar {
  display: none;
}

.content-text_card {
  margin-top: 0px !important;
  padding: 8px !important;
  height: 100%;
  border-top: 1px solid #f1f1f2;

  .text_note {
    font-style: italic;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin: 10px;
  }
}

.fullscreen_icon {
  cursor: pointer;
  margin-right: 30px;
}

.footer-action {
  margin: 10px 20px;
}

pdf-viewer {
  display: block;
  height: 100vh;
}

#holder {
  background: #eee;
  padding: 32px 0 16px 0;
}

.canvas-wrapper {
  margin-bottom: 16px;
}

canvas {
  margin: 0 auto;
  display: block;
}

//paging-zoom
.mat-card-content-document {
  height: 100%;
  position: relative;
}

.scroll-content {
  height: 100%;
  position: relative;

  .paging-zoom {
    position: absolute;
    bottom: 100px;
    left: calc(50% - 40px);
    background: rgb(16 16 16 / 70%);
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    display: flex;

    .pagingPDF {
      /* background: #4caf50; */
      border-radius: 10.5px;
      color: #ffffff !important;
      font-weight: 600;
      font-size: 14px;
      opacity: 0.98;
      /* padding: 5px 12px; */
      border: none;
      position: relative;
    }
  }
}

::ng-deep .mat-icon-zoom-in {
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;
  border-radius: 30% !important;
  color: white !important;
  margin-left: 3px;

  .mat-button-wrapper {
    .mat-icon {
      color: white !important;
    }
  }
}

::ng-deep .mat-icon-zoom-out {
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;
  border-radius: 30% !important;
  color: white !important;

  .mat-button-wrapper {
    .mat-icon {
      color: white !important;
    }
  }
}

.div-vertical-bar {
  border-right: 1px solid #ffffff;
  height: 22px;
  padding-right: 5px;
}

//

.cursove-pointer {
  cursor: pointer;
}

.document-content-header {
  margin: 25px 20px 0px;

  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */

    /* text-1 */

    color: #303030;
  }
}

.full {
  margin: 0 auto;
  background-color: #ffffff;
  height: calc(100vh - 265px);
}

.dark {
  background-color: #161616 !important;
  color: white !important;
}

.full-content-document_card-content {
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 525px) {

  .content-document_card {
    height: calc(100vh - 200px);
  }

  .content-document_card-content {
    width: calc(100% - 20px);
    height: calc(100% - 125px)
  }

  .scroll-content .paging-zoom {
    display: none;
  }


}


