<!-- <mat-card class="document-content-header">
    <p class="document-content-header_title">{{content && content.name}}</p>
</mat-card> -->
<app-spinner2></app-spinner2>
<mat-card class="content-document_card" [ngClass]="{'dark': isLightMode === true}" id="mat-card-document">
  <div class="mat-card-content-document" id="mat-card-content-document"
    [ngClass]="{'full':isFull==true, 'dark': isLightMode === true }">
    <!-- <pdf-viewer *ngIf="content && content.link" [src]="pdfSource" [show-all]="true" [render-text]="false"
            id="scroll-content" style="scroll-behavior: smooth;" (scroll)="onWindowScroll($event)">
        </pdf-viewer> -->
    <!-- <div class="document-content-header" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>chevron_left</mat-icon>
                <p class="title">{{content && content.name}}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="center end">
                <mat-icon (click)="ShowMenuContent()" class="cursove-pointer">sort</mat-icon>
            </div>
        </div> -->

    <div id="scroll-content" class="scroll-content">
      <div class="content-document_card-content" id="content-document_card-content" *ngIf="content && content.link"
        [ngClass]="{'dark': isLightMode === true,'full-content-document_card-content':isFull===true}" #scrollframe>
        <ng2-pdfjs-viewer id="PDFJS" class="PDFJS" viewerId="PDFJS" [pdfSrc]="content.link" [page]="pageInput"
          (onDocumentLoad)="testPagesLoaded($event)" [useOnlyCssZoom]="true" (onPageChange)="testPageChange($event)"
          [zoom]="zoomInOut" *ngIf="isChangeLink" [scroll]="'VERTICAL'" #viewerjs>
        </ng2-pdfjs-viewer>
      </div>

      <div class="paging-zoom" *ngIf="content && content.link">
        <span class="pagingPDF">
          Trang {{pageNow}} / {{totalPage}}
        </span>
      </div>
      <!-- <iframe [src]=" content.link | safeUrl " class=" content-document_card-content scrollbar-success"
        *ngIf="content && content.link">
        </iframe> -->
      <!-- <div class="content-document_card-content" *ngIf="!content || !content.link">
        <p> Không tìm thấy dữ link content </p>
      </div> -->
    </div>

    <app-progress-player [isHide]="true" [tag]="'doc'" [hidden]="!openProgressBar && !checkMobile"
      [linkDocument]="content.link" (emitDuration)="handleDurationDocument($event)"></app-progress-player>

  </div>
</mat-card>
