.img-no-data {
  padding-top: 20px;
}

.span-no-data {
  padding-top: 20px;
  font-weight: 400;
  color: #aba1a1;
  font-size: 14px;
}

.mat-card-background-carousel {
  height: 300px;
  border-radius: 17px;
}

.carousel-h1 {
  color: #ffffff;
  position: absolute;
  top: 30px;
  left: 30px;
  max-width: 430px;
  word-break: break-word;
  font-weight: 500;
  line-height: 49px !important;
  font-size: 41px !important;
}

.carousel-h5 {
  color: #ffffff;
  position: absolute;
  top: 123px;
  left: 30px;
  max-width: 333px;
  word-break: break-word;
  font-weight: 400;
  line-height: 23px !important;
  font-size: 16px !important;
}

.img-background-carousel {
  margin-top: 0px !important;
  height: 300px;
}

.button-show-all {
  padding: 0px;
  font-weight: 400;
  font-size: 14px;
}

.mat-card-avatar-lesson-studying-item-detail {
  // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  height: 50px;
  width: 76px;
  border-radius: 6px;
  background-size: cover;
}

.mat-card-lesson-studying-item {
  border-radius: 12px;
  height: 289px;
}

.mat-card-content-lesson-studying-item {
  padding: 20px;
}

.lesson-studying-item {
  padding: 0px;
}

.mat-card-title-lesson-studying-item-detail {
  margin-bottom: 0px !important;
  margin-top: -10px !important;
  word-break: break-word;
  max-width: 75%;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.mat-card-subtitle-lesson-studying-item-detail {
  margin-top: 5px !important;
  margin-bottom: -5px !important;
}

.mat-card-lesson-studying-item-detail {
  margin: 10px 0px;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important;
  min-width: 100%;
  cursor: pointer;
}

::ng-deep .mat-card-lesson-studying-item-detail {
  .mat-card-header-text {
    margin-right: 0px;
    min-width: 100%;
  }

  .mat-card-subtitle {
    max-width: 75%;
  }
}

.mat-card-header-lesson-studying-item-detail {
  padding: 0px;
  align-items: center;
}

.progress-bar-lesson-studying-item-detail {
  position: relative;
  max-width: 75%;
}

.percent-lesson-studying-item-detail {
  position: absolute;
  top: -10px;
  right: -40px;
  font-size: 11px;
}

.mat-flat-button {
  border-radius: 6px;
}

.mat-card-total-lesson-participation {
  border-radius: 12px;
  height: 135px;
}

.mat-card-content-total-lesson-participation {
  padding: 20px 20px 20px 30px;
}

.mat-card-header-total-lesson-participation {
  align-items: center;
  padding: 15px 0px 0px 0px;
}

.mat-card-avatar-total-lesson-participation {
  background-size: cover;
}

.mat-card-total-lesson-request {
  border-radius: 12px;
  height: 135px;
}

.mat-card-content-total-lesson-request {
  padding: 20px 20px 20px 30px;
}

.mat-card-header-total-lesson-request {
  align-items: center;
  padding: 15px 0px 0px 0px;
}

.mat-card-avatar-total-lesson-request {
  background-size: cover;
}

.mat-card-total-lesson-registered {
  border-radius: 12px;
  height: 135px;
}

.mat-card-content-total-lesson-registered {
  padding: 20px 20px 20px 30px;
}

.mat-card-header-total-lesson-registered {
  align-items: center;
  padding: 15px 0px 0px 0px;
}

.mat-card-avatar-total-lesson-registered {
  background-size: cover;
}

.mat-card-total-lesson-completed {
  border-radius: 12px;
  height: 135px;
}

.mat-card-content-total-lesson-completed {
  padding: 20px 20px 20px 30px;
}

.mat-card-header-total-lesson-completed {
  align-items: center;
  padding: 15px 0px 0px 0px;
}

.mat-card-avatar-total-lesson-completed {
  background-size: cover;
}

.mat-card-avatar-lesson-approved-item-detail {
  // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  height: 50px;
  width: 76px;
  border-radius: 6px;
  background-size: cover;
}

.mat-card-lesson-approved-item {
  border-radius: 12px;
}

.mat-card-content-lesson-approved-item {
  padding: 20px 20px 10px 20px;
  height: 292px;
}

.lesson-approved-item {
  padding: 0px;
}

.mat-card-title-lesson-approved-item-detail {
  margin-bottom: 0px !important;
  margin-top: -10px !important;
  word-break: break-word;
  max-width: 75%;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.mat-card-subtitle-lesson-approved {
  margin-top: -5px !important;
  margin-bottom: -10px !important;
}

.mat-card-lesson-approved-item-detail {
  margin: 10px 0px;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important;
  min-width: 100%;
  cursor: pointer;
}

::ng-deep .mat-card-lesson-approved-item-detail {
  .mat-card-header-text {
    margin-right: 0px;
    min-width: 100%;
  }

  .mat-card-subtitle {
    max-width: 75%;
  }
}

.mat-card-header-lesson-approved-item-detail {
  padding: 0px;
  align-items: center;
}

.progress-bar-lesson-approved-item-detail {
  position: relative;
  max-width: 75%;
}

.percent-lesson-approved-item-detail {
  position: absolute;
  top: -10px;
  right: -40px;
  font-size: 11px;
}

.mat-card-image-list-upcoming-exams {
  height: 220px;
  margin-top: 0px !important;
}

.mat-card-content-list-upcoming-exams {
  padding: 20px;
}

.mat-card-list-upcoming-exams {
  border-radius: 12px;
  height: 289px;
}

.mat-card-avatar-upcoming-exams-item-detail {
  // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background-size: cover;
}

.mat-card-upcoming-exams-item-detail {
  margin: 0px;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important;
  cursor: pointer;
}

.mat-card-header-upcoming-exams-item-detail {
  padding: 8px 0px 8px 0px;
  align-items: center;
}

.mat-card-title-upcoming-exams-item-detail {
  margin-bottom: -5px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.item-detail-date {
  font-size: 11px;
  font-weight: 400;
}

.mat-card-avatar-lesson-registered-item-detail {
  // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  height: 50px;
  width: 76px;
  border-radius: 6px;
  background-size: cover;
}

.mat-card-lesson-registered-item {
  border-radius: 12px;
  height: 270px;
}

.mat-card-content-lesson-registered-item {
  padding: 20px 20px 10px 20px;
}

.lesson-registered-item {
  padding: 0px;
}

.mat-card-title-lesson-registered-item-detail {
  word-break: break-word;
  max-width: 75%;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.mat-card-lesson-registered-item-detail {
  margin: 10px 0px;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important;
  min-width: 100%;
  cursor: pointer;
}

::ng-deep .mat-card-lesson-registered-item-detail {
  .mat-card-header-text {
    margin-right: 0px;
    min-width: 100%;
  }

  .mat-card-subtitle {
    max-width: 75%;
  }
}

.mat-card-header-lesson-registered-item-detail {
  padding: 0px;
  align-items: center;
}

.progress-bar-lesson-registered-item-detail {
  position: relative;
  max-width: 75%;
}

.percent-lesson-registered-item-detail {
  position: absolute;
  top: -10px;
  right: -40px;
  font-size: 11px;
}

.mat-card-avatar-lesson-pending-item-detail {
  // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  height: 50px;
  width: 76px;
  border-radius: 6px;
  background-size: cover;
}

.mat-card-lesson-pending-item {
  border-radius: 12px;
  height: 270px;
}

.mat-card-content-lesson-pending-item {
  padding: 20px 20px 10px 20px;
}

.lesson-pending-item {
  padding: 0px;
}

.mat-card-title-lesson-pending-item-detail {
  margin-bottom: 0px !important;
  margin-top: -10px !important;
  word-break: break-word;
  max-width: 75%;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.mat-card-subtitle-lesson-pending {
  margin-top: -5px !important;
  margin-bottom: -10px !important;
}

.mat-card-lesson-pending-item-detail {
  margin: 10px 0px;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important;
  min-width: 100%;
  cursor: pointer;
}

::ng-deep .mat-card-lesson-pending-item-detail {
  .mat-card-header-text {
    margin-right: 0px;
    min-width: 100%;
  }

  .mat-card-subtitle {
    max-width: 75%;
  }
}

.mat-card-header-lesson-pending-item-detail {
  padding: 0px;
  align-items: center;
}

.progress-bar-lesson-pending-item-detail {
  position: relative;
  max-width: 75%;
}

.percent-lesson-pending-item-detail {
  position: absolute;
  top: -10px;
  right: -40px;
  font-size: 11px;
}

.mat-card-avatar-lesson-proposed-item-detail {
  // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  height: 50px;
  width: 76px;
  border-radius: 6px;
  background-size: cover;
}

.mat-card-lesson-proposed-item {
  border-radius: 12px;
  height: 270px;
}

.mat-card-content-lesson-proposed-item {
  padding: 20px 20px 10px 20px;
}

.lesson-proposed-item {
  padding: 0px;
}

.mat-card-title-lesson-proposed-item-detail {
  margin-bottom: 0px !important;
  margin-top: -10px !important;
  word-break: break-word;
  max-width: 75%;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.mat-card-subtitle-lesson-proposed {
  margin-top: 5px !important;
  margin-bottom: -5px !important;
}

.mat-card-lesson-proposed-item-detail {
  margin: 10px 0px;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important;
  min-width: 100%;
  cursor: pointer;
}

::ng-deep .mat-card-lesson-proposed-item-detail {
  .mat-card-header-text {
    margin-right: 0px;
    min-width: 100%;
  }

  .mat-card-subtitle {
    max-width: 75%;
  }
}

.mat-card-header-lesson-proposed-item-detail {
  padding: 0px;
  align-items: center;
}

.progress-bar-lesson-proposed-item-detail {
  position: relative;
  max-width: 75%;
}

.percent-lesson-proposed-item-detail {
  position: absolute;
  top: -10px;
  right: -40px;
  font-size: 11px;
}

.mat-card-avatar-lesson-request-item-detail {
  // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  height: 50px;
  width: 76px;
  border-radius: 6px;
  background-size: cover;
}

.mat-card-lesson-request-item {
  border-radius: 12px;
  height: 270px;
}

.mat-card-content-lesson-request-item {
  padding: 20px 20px 10px 20px;
}

.lesson-request-item {
  padding: 0px;
}

.mat-card-title-lesson-request-item-detail {
  margin-bottom: 0px !important;
  margin-top: -10px !important;
  word-break: break-word;
  max-width: 75%;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.mat-card-subtitle-lesson-request {
  margin-top: -5px !important;
  margin-bottom: -10px !important;
}

.mat-card-lesson-request-item-detail {
  margin: 10px 0px;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important;
  min-width: 100%;
  cursor: pointer;
}

::ng-deep .mat-card-lesson-request-item-detail {
  .mat-card-header-text {
    margin-right: 0px;
    min-width: 100%;
  }

  .mat-card-subtitle {
    max-width: 75%;
  }
}

.mat-card-header-lesson-request-item-detail {
  padding: 0px;
  align-items: center;
}

.progress-bar-lesson-request-item-detail {
  position: relative;
  max-width: 75%;
}

.percent-lesson-request-item-detail {
  position: absolute;
  top: -10px;
  right: -40px;
  font-size: 11px;
}

.mat-card-avatar-lesson-request-item-detail {
  // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  height: 50px;
  width: 76px;
  border-radius: 6px;
  background-size: cover;
}

.mat-card-lesson-request-item {
  border-radius: 12px;
  height: 270px;
}

.mat-card-content-lesson-request-item {
  padding: 20px 20px 10px 20px;
}

.lesson-request-item {
  padding: 0px;
}

.mat-card-lesson-request-item-detail {
  margin: 10px 0px;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important;
  min-width: 100%;
  cursor: pointer;
}

::ng-deep .mat-card-lesson-request-item-detail {
  .mat-card-header-text {
    margin-right: 0px;
    min-width: 100%;
  }

  .mat-card-subtitle {
    max-width: 75%;
  }
}

.mat-card-header-lesson-request-item-detail {
  padding: 0px;
  align-items: center;
}

.progress-bar-lesson-request-item-detail {
  position: relative;
  max-width: 75%;
}

.percent-lesson-request-item-detail {
  position: absolute;
  top: -10px;
  right: -40px;
  font-size: 11px;
}

.mat-card-avatar-lesson-approved-item-detail {
  // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  height: 50px;
  width: 76px;
  border-radius: 6px;
  background-size: cover;
}

.mat-card-lesson-approved-item {
  border-radius: 12px;
  height: 270px;
}

.mat-card-content-lesson-approved-item {
  padding: 20px 20px 10px 20px;
}

.lesson-approved-item {
  padding: 0px;
}

.mat-card-lesson-approved-item-detail {
  margin: 10px 0px;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important;
  min-width: 100%;
  cursor: pointer;
}

::ng-deep .mat-card-lesson-approved-item-detail {
  .mat-card-header-text {
    margin-right: 0px;
    min-width: 100%;
  }

  .mat-card-subtitle {
    max-width: 75%;
  }
}

.mat-card-header-lesson-approved-item-detail {
  padding: 0px;
  align-items: center;
}

.progress-bar-lesson-approved-item-detail {
  position: relative;
  max-width: 75%;
}

.percent-lesson-approved-item-detail {
  position: absolute;
  top: -10px;
  right: -40px;
  font-size: 11px;
}

.mat-card-avatar-lesson-suggestion-item-detail {
  // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  height: 50px;
  width: 76px;
  border-radius: 6px;
  background-size: cover;
}

.mat-card-lesson-suggestion-item {
  border-radius: 12px;
  height: 270px;
}

.mat-card-content-lesson-suggestion-item {
  padding: 20px 20px 10px 20px;
}

.lesson-suggestion-item {
  padding: 0px;
}

.mat-card-title-lesson-suggestion-item-detail {
  margin-bottom: 0px !important;
  margin-top: -10px !important;
  word-break: break-word;
  max-width: 75%;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.mat-card-subtitle-lesson-suggestion {
  margin-top: -5px !important;
  margin-bottom: -10px !important;
}

.mat-card-lesson-suggestion-item-detail {
  margin: 10px 0px;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important;
  min-width: 100%;
  cursor: pointer;
}

::ng-deep .mat-card-lesson-suggestion-item-detail {
  .mat-card-header-text {
    margin-right: 0px;
    min-width: 100%;
  }

  .mat-card-subtitle {
    max-width: 75%;
  }
}

.mat-card-header-lesson-suggestion-item-detail {
  padding: 0px;
  align-items: center;
}

.progress-bar-lesson-suggestion-item-detail {
  position: relative;
  max-width: 75%;
}

.percent-lesson-suggestion-item-detail {
  position: absolute;
  top: -10px;
  right: -40px;
  font-size: 11px;
}

.mat-card-avatar-lesson-completed-item-detail {
  // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  height: 50px;
  width: 76px;
  border-radius: 6px;
  background-size: cover;
}

.mat-card-lesson-completed-item {
  border-radius: 12px;
  height: 270px;
}

.mat-card-content-lesson-completed-item {
  padding: 20px 20px 10px 20px;
}

.lesson-completed-item {
  padding: 0px;
}

.mat-card-title-lesson-completed-item-detail {
  margin-bottom: 0px !important;
  margin-top: -10px !important;
  word-break: break-word;
  max-width: 75%;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.mat-card-subtitle-lesson-completed {
  margin-top: -5px !important;
  margin-bottom: -10px !important;
}

.mat-card-lesson-completed-item-detail {
  margin: 10px 0px;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0), 0px 0px 0px 0px rgb(0 0 0) !important;
  min-width: 100%;
  cursor: pointer;
}

::ng-deep .mat-card-lesson-completed-item-detail {
  .mat-card-header-text {
    margin-right: 0px;
    min-width: 100%;
  }

  .mat-card-subtitle {
    max-width: 75%;
  }
}

.mat-card-header-lesson-completed-item-detail {
  padding: 0px;
  align-items: center;
}

.progress-bar-lesson-completed-item-detail {
  position: relative;
  max-width: 75%;
}

.percent-lesson-completed-item-detail {
  position: absolute;
  top: -10px;
  right: -40px;
  font-size: 11px;
}

@media only screen and (max-width: 1440px) and (min-width: 1280px) {
  .carousel-h1 {
    color: #ffffff;
    position: absolute;
    top: 36px;
    left: 30px;
    max-width: 319px;
    word-break: break-word;
    font-weight: 500;
    line-height: 43px !important;
    font-size: 34px !important;
  }

  .carousel-h5 {
    color: #ffffff;
    position: absolute;
    top: 116px;
    left: 30px;
    max-width: 248px;
    word-break: break-word;
    font-weight: 400;
    line-height: 18px !important;
    font-size: 14px !important;
  }

  .mat-card-title-lesson-studying-item-detail {
    max-width: 65%;
  }

  .mat-card-title-lesson-registered-item-detail {
    max-width: 65%;
  }

  .mat-card-lesson-registered-item {
    height: 269px;
  }

  .mat-card-lesson-pending-item {
    height: 269px;
  }

  .mat-card-background-carousel {
    height: 269px;
  }

  .img-background-carousel {
    height: 269px;
  }

  .mat-card-lesson-studying-item {
    height: 289px;
  }

  .mat-card-content-lesson-studying-item {
    padding: 10px 20px 20px 20px;
  }

  .mat-card-content-lesson-approved-item {
    height: 267px;
  }

  .mat-card-list-upcoming-exams {
    height: 289px;
  }

  .mat-card-image-list-upcoming-exams {
    height: 208px;
  }
}

@media only screen and (min-width: 1025px) {
  .mat-flat-button-lesson-registered-mobile {
    display: none !important;
  }

  .mat-flat-button-lesson-pending-mobile {
    display: none !important;
  }

  .mat-flat-button-lesson-request-mobile {
    display: none !important;
  }

  .mat-flat-button-lesson-approved-mobile {
    display: none !important;
  }

  .mat-flat-button-lesson-suggestion-mobile {
    display: none !important;
  }

  .mat-flat-button-lesson-completed-mobile {
    display: none !important;
  }
}

@media only screen and (max-width: 539px) and (min-width: 280px) {
  .carousel-h1 {
    color: #ffffff;
    position: absolute;
    top: 15px;
    left: 15px;
    max-width: 200px;
    word-break: break-word;
    font-weight: 500;
    line-height: 28px !important;
    font-size: 20px !important;
  }

  .carousel-h5 {
    color: #ffffff;
    position: absolute;
    top: 75px;
    left: 15px;
    max-width: 140px;
    word-break: break-word;
    font-weight: 400;
    line-height: 10px !important;
    font-size: 8px !important;
  }

  .body {
    margin: 0px -10px;
  }

  .mat-card-background-carousel {
    height: 170px;
  }

  .img-background-carousel {
    height: 170px;
  }

  .div-background-carousel {
    min-width: 100%;
  }

  .div-lesson-studying-item {
    min-width: 100%;
  }

  .div-total-lesson-participation {
    min-width: 100%;
  }

  .div-total-lesson-request {
    min-width: 100%;
  }

  .div-total-lesson-registered {
    min-width: 100%;
  }

  .div-total-lesson-completed {
    min-width: 100%;
  }

  .div-total-lesson {
    min-width: 100%;
  }

  .div-list-upcoming-exams {
    min-width: 100%;
  }

  .div-lesson-proposed-item {
    min-width: 100%;
  }

  .div-lesson-request-item {
    min-width: 100%;
  }

  .div-lesson-pending-item {
    min-width: 100%;
  }

  .div-lesson-approved-item {
    min-width: 100%;
  }

  .div-lesson-suggestion-item {
    min-width: 100%;
  }

  .div-lesson-completed-item {
    min-width: 100%;
  }

  .mat-card-content-list-upcoming-exams {
    padding: 10px 20px;
  }

  .div-button-upcoming-exams {
    display: none !important;
  }

  .upcoming-exams-item-detail {
    min-width: 100%;
  }

  .mat-flat-button {
    color: #da251d;
    background-color: #ffffff;
  }

  .lesson-studying-item-detail {
    min-width: 95%;
  }

  .div-button-lesson-studying {
    display: none !important;
  }

  .lesson-proposed-item-detail {
    min-width: 95%;
  }

  .div-button-lesson-proposed {
    display: none !important;
  }

  .mat-card-subtitle-lesson-registered {
    margin: -5px 0px !important;
  }

  .mat-card-content-lesson-registered-item {
    padding-top: 10px;
  }

  .lesson-pending-item-detail {
    min-width: 95%;
  }

  .div-button-lesson-pending {
    display: none !important;
  }

  .lesson-request-item-detail {
    min-width: 95%;
  }

  .div-button-lesson-request {
    display: none !important;
  }

  .lesson-approved-item-detail {
    min-width: 95%;
  }

  .div-button-lesson-approved {
    display: none !important;
  }

  .lesson-suggestion-item-detail {
    min-width: 95%;
  }

  .div-button-lesson-suggestion {
    display: none !important;
  }

  .lesson-completed-item-detail {
    min-width: 95%;
  }

  .div-button-lesson-completed {
    display: none !important;
  }

  .mat-card-subtitle-lesson-pending {
    margin: -5px 0px !important;
  }

  .mat-card-content-lesson-pending-item {
    padding-top: 10px;
  }

  .mat-card-content-lesson-request-item {
    padding-top: 10px;
  }

  .mat-card-content-lesson-approved-item {
    padding-top: 10px;
  }

  .mat-card-content-lesson-suggestion-item {
    padding-top: 10px;
  }

  .mat-card-content-lesson-completed-item {
    padding-top: 10px;
  }

  .mat-card-lesson-studying-item {
    height: 280px;
  }

  .mat-card-lesson-approved-item {
    height: 280px;
  }

  .mat-card-lesson-registered-item {
    height: 280px;
  }

  .mat-card-lesson-pending-item {
    height: 280px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 540px) {
  .mat-flat-button-lesson-pending-mobile {
    display: none !important;
  }

  .mat-flat-button-lesson-request-mobile {
    display: none !important;
  }

  .mat-flat-button-lesson-approved-mobile {
    display: none !important;
  }

  .mat-flat-button-lesson-suggestion-mobile {
    display: none !important;
  }

  .mat-flat-button-lesson-completed-mobile {
    display: none !important;
  }

  .body {
    margin: 0px -10px;
  }

  .mat-card-background-carousel {
    height: 300px;
  }

  .img-background-carousel {
    height: 300px;
  }

  .div-background-carousel {
    min-width: 100%;
  }

  .div-lesson-studying-item {
    min-width: 100%;
  }

  .div-total-lesson {
    min-width: 100%;
  }

  .div-list-upcoming-exams {
    min-width: 100%;
  }

  .div-lesson-pending-item {
    min-width: 100%;
  }

  .div-lesson-proposed-item {
    min-width: 100%;
  }

  .div-lesson-request-item {
    min-width: 100%;
  }

  .div-lesson-approved-item {
    min-width: 100%;
  }

  .div-lesson-suggestion-item {
    min-width: 100%;
  }

  .div-lesson-completed-item {
    min-width: 100%;
  }

  .mat-card-content-list-upcoming-exams {
    padding-right: 15px;
  }

  .mat-card-subtitle-lesson-registered {
    margin: -5px 0px !important;
  }

  .mat-card-content-lesson-registered-item {
    padding-top: 10px;
  }

  .mat-card-subtitle-lesson-pending {
    margin: -5px 0px !important;
  }

  .mat-card-content-lesson-registered-item {
    padding-top: 10px;
  }

  .mat-card-lesson-studying-item {
    height: 270px;
  }

  .mat-card-lesson-approved-item {
    height: 270px;
  }

  .mat-card-lesson-registered-item {
    height: 270px;
  }

  .mat-card-lesson-pending-item {
    height: 270px;
  }
}

.exam-info {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;

  .shift-name {
    background: rgba(104, 201, 255, 0.2);
    color: #68c9ff;
    padding: 2px 6px;
    margin: 2px;
    border-radius: 27px;
  }

  .room-name {
    background: rgba(229, 174, 64, 0.2);
    color: #e5ae40;
    padding: 2px 6px;
    margin: 2px;
    border-radius: 27px;
  }

  .test-time {
    background: rgba(248, 135, 127, 0.2);
    color: #f8877f;
    padding: 2px 6px;
    margin: 2px;
    border-radius: 27px;
  }

  .exam-type {
    background: rgba(53, 125, 234, 0.2);
    color: #357dea;
    padding: 2px 6px;
    margin: 2px;
    border-radius: 27px;
  }
}

.content {
  padding-bottom: 36px;

  .feature {
    color: #4CAF50;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 16px !important;
    margin-bottom: 20px;
  }

  .block {
    display: flex;

    .left {
      width: 35%;
    }

    .center {
      width: 65%;
    }

    .left,
    .center,
    .right {

      .item {
        height: 104px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        >p {
          font-weight: 600;
          color: #FFFFFF;
          margin-bottom: 0;
        }
      }

      .detail {
        border-top: 1px solid #ececec;
        padding: 20px 16px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #303030;

        p {
          margin-top: 0;
        }

        button {
          margin: 50px auto 0;
          display: block;
        }
      }
    }

    .left {
      background: #fff8f5;

      .item {
        background: #FF7C40;
        border-top-left-radius: 4px;

      }

      .detail>p {
        color: #555555;
        font-weight: 600;
      }
    }

    .center {
      // height: fit-content;
      background: #EBFFEC;

      .item {
        background: #4CAF50;
      }
    }

    .right {
      background: #F6FCFF;

      .item {
        background: #27A7F0;
        border-top-right-radius: 4px;
      }

      .download {
        display: flex;

        // align-items: center;
        p {
          margin: 0px 0px 0px 5px;
        }

        a .mat-icon {
          color: #AEAEAE
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .content .block {
    display: block;

    .left,
    .center,
    .right {
      width: 100%;
    }
  }
}

.height1 {
  height: 203px;
}

.height2 {
  height: 81px;
}

.tag-new {
  color: white;
  background: #ff5722;
  padding: 3px 12px;
  border-radius: 18px;
  margin-left: 7px;
}

@media only screen and (max-width: 1440px) {
  .height1 {
    height: 283px;
  }
}
