<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div class="content" *ngIf="typeAdmin === 'manage'; else adminTemplate">
  <mat-card class="feature">Các tính năng mới được cập nhật</mat-card>
  <mat-card class="block">
    <div class="left">
      <div class="item">
        <img src="/assets/images/icon/db_feature.svg" alt="" srcset="">
        <p>Tính năng được cập nhật</p>
      </div>
       <div class="detail height2">
        <p>[12/10/2021] Báo cáo lớp học tương tác <span class="tag-new">Mới</span></p>
      </div>
      <div class="detail height2">
        <p>[05/10/2021] Thêm câu hỏi từ tệp tin ở ngân hàng câu hỏi</p>
      </div>
      <div class="detail height2">
        <p>[05/10/2021] Điểm danh giáo viên / học sinh tham gia lớp học tương tác</p>
      </div>
      <div class="detail height2">
        <p>[05/10/2021] Thay đổi quyền giáo viên đối với nhóm người dùng</p>
      </div>
      <div class="detail height2">
        <p>[05/10/2021] Bổ sung các cột cần thiết ở báo cáo chi tiết bài giảng</p>
      </div>
      <div class="detail height2">
        <p>[05/10/2021] Thống kê bài giảng theo học sinh</p>
      </div>
      <div class="detail height2">
        <p>[05/10/2021] Hiển thị danh sách các học sinh ghi danh vào bài giảng theo khối đã tạo</p>
      </div>
    </div>
    <div class="center">
      <div class="item">
        <img src="/assets/images/icon/db_feature2.svg" alt="" srcset="">
        <p>Mục đích</p>
      </div>
      <div class="detail height2">
        <p>* Hỗ trợ giáo viên thống kê các lớp học tương tác ở đơn vị một cách đầy đủ thông tin về lớp học và quá trình giáo viên giảng dạy, học sinh tham gia học tập lớp học tương tác.</p>
      </div>
      <div class="detail height2">
        <p>* Hỗ trợ giáo viên thêm các câu hỏi đã soạn sẵn từ file word vào Ngân hàng câu hỏi của hệ thống một cách nhanh chóng.</p>
      </div>
      <div class="detail height2">
        <p>* Hỗ trợ giáo viên theo dõi lịch sử tham gia dạy học của mình và quá trình tham gia học tập của học sinh trong lớp học tương tác.</p>
      </div>
      <div class="detail height2">
        <p>* Giúp giáo viên quản lý riêng các Nhóm học sinh của mình tạo, không gây ảnh hưởng dữ liệu các giáo viên khác cùng cấp.</p>
      </div>
      <div class="detail height2">
        <p>* Giúp giáo viên theo dõi cụ thể hơn thông tin học sinh học các bài giảng về thời gian cũng như trạng thái, kết quả học tập của từng học sinh.</p>
      </div>
      <div class="detail height2">
        <p>* Giáo viên theo dõi chi tiết tiến độ học tập và kết quả học tập của học sinh trong từng bài giảng.</p>
      </div>
      <div class="detail height2">
        <p>* Hỗ trợ giáo viên dễ dàng tìm thấy các học sinh thuộc khối mong muốn để cấp phát bài giảng.</p>
      </div>
    </div>
    <!-- <div class="right">
      <div class="item">
        <img src="/assets/images/icon/db_feature3.svg" alt="" srcset="">
        <p>Tài liệu hướng dẫn sử dụng</p>
      </div>
      <div class="detail height1">
        <div class="download">
          <mat-icon svgIcon="pdf"></mat-icon>
          <a [href]="getLinkTemplate(2)" target="_blank" class="m-b--10">
            <p>Tệp tin hướng dẫn giáo viên tạo lớp học trực tuyến Google Meet.</p>
          </a>
          <a [href]="getLinkTemplate(2)" target="_blank" class="m-b--10">
            <mat-icon color="white">download</mat-icon>
          </a>
        </div>
        <br>
        <div class="download">
          <mat-icon svgIcon="pdf"></mat-icon>
          <a [href]="getLinkTemplate(3)" target="_blank" class="">
            <p>Tệp tin hướng dẫn giáo viên tạo lớp học trực tuyến Zoom.</p>
          </a>
          <a [href]="getLinkTemplate(3)" target="_blank" class="">
            <mat-icon color="white">download</mat-icon>
          </a>
        </div>
      </div>
      <div class="detail download height2">
        <mat-icon svgIcon="pdf"></mat-icon>
        <a [href]="getLinkTemplate(1)" target="_blank" class="m-b--10">
          <p>File tài liệu hướng dẫn tính năng liên kết tài khoản zoom</p>
        </a>
        <a [href]="getLinkTemplate(1)" target="_blank" class="m-b--10">
          <mat-icon color="white">download</mat-icon>
        </a>
      </div>
      <div class="detail height2"></div>
      <div class="detail height2"></div>
      <div class="detail height2"></div>
      <div class="detail height2"></div>
      <div class="detail height2"></div>
      <div class="detail height2"></div>
    </div> -->
  </mat-card>
</div>
<ng-template #adminTemplate>

  <div class="body">
    <div fxLayout="row wrap">
      <div fxFlex="50" class="div-background-carousel">
        <mat-card fxFlex="100" class="mat-card-background-carousel">
          <h1 class="carousel-h1">Nghiên cứu, học tập và cải tiến</h1>
          <h5 class="carousel-h5">Học tập là hạt giống của kiến thức, kiến thức là hạt giống của hạnh phúc</h5>
          <img mat-card-image src="{{backgroundCarousel}}" class="img-background-carousel">
        </mat-card>
      </div>
      <div fxFlex="50" fxLayout="column wrap" class="div-total-lesson">
        <div fxLayout="row wrap">
          <div fxFlex="50" class="div-total-lesson-participation">
            <mat-card class="mat-card-total-lesson-participation" fxLayoutAlign="center center">
              <mat-card-content class="mat-card-content-total-lesson-participation">
                <div fxLayout="column wrap">
                  <span style="font-weight: 600; font-size: 14px;">Tổng bài giảng tham gia</span>
                </div>
                <mat-card-header class="mat-card-header-total-lesson-participation" fxLayoutAlign="center center">
                  <div mat-card-avatar class="mat-card-avatar-total-lesson-participation"
                    [style.background-image]="'url(\'' + totalLessonParticipation + '\')'">
                  </div>
                  <mat-card-title class="mat-card-title-total-lesson-participation"
                    style="font-size: 26px; font-weight: 600;">
                    {{totalLessonParticipationN}}
                  </mat-card-title>

                </mat-card-header>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="50" class="div-total-lesson-request">
            <mat-card class="mat-card-total-lesson-request" fxLayoutAlign="center center">
              <mat-card-content class="mat-card-content-total-lesson-request">
                <div fxLayout="column wrap">
                  <span style="font-weight: 600; font-size: 14px;">Tổng bài giảng được yêu cầu</span>
                </div>
                <mat-card-header class="mat-card-header-total-lesson-request" fxLayoutAlign="center center">
                  <div mat-card-avatar class="mat-card-avatar-total-lesson-request"
                    [style.background-image]="'url(\'' + totalLessonRequest + '\')'">
                  </div>
                  <mat-card-title class="mat-card-title-total-lesson-request"
                    style="font-size: 26px; font-weight: 600;">
                    {{totalLessonRequestN}}
                  </mat-card-title>

                </mat-card-header>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <div fxLayout="row wrap">
          <div fxFlex="50" class="div-total-lesson-registered">
            <mat-card class="mat-card-total-lesson-registered" fxLayoutAlign="center center">
              <mat-card-content class="mat-card-content-total-lesson-registered">
                <div fxLayout="column wrap">
                  <span style="font-weight: 600; font-size: 14px;">Tổng bài giảng đăng ký</span>
                </div>
                <mat-card-header class="mat-card-header-total-lesson-registered" fxLayoutAlign="center center">
                  <div mat-card-avatar class="mat-card-avatar-total-lesson-registered"
                    [style.background-image]="'url(\'' + totalLessonRegistered + '\')'">
                  </div>
                  <mat-card-title class="mat-card-title-total-lesson-registered"
                    style="font-size: 26px; font-weight: 600;">
                    {{totalLessonRegisteredN}}
                  </mat-card-title>

                </mat-card-header>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="50" class="div-total-lesson-completed">
            <mat-card class="mat-card-total-lesson-completed" fxLayoutAlign="center center">
              <mat-card-content class="mat-card-content-total-lesson-completed">
                <div fxLayout="column wrap">
                  <span style="font-weight: 600; font-size: 14px;">Tổng bài giảng hoàn thành</span>
                </div>
                <mat-card-header class="mat-card-header-total-lesson-completed" fxLayoutAlign="center center">
                  <div mat-card-avatar class="mat-card-avatar-total-lesson-completed"
                    [style.background-image]="'url(\'' + totalLessonCompleted + '\')'">
                  </div>
                  <mat-card-title class="mat-card-title-total-lesson-completed"
                    style="font-size: 26px; font-weight: 600;">
                    {{totalLessonCompletedN}}
                  </mat-card-title>

                </mat-card-header>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

      </div>

    </div>

    <div fxLayout="row wrap">
      <div fxFlex="50" class="div-lesson-request-item">
        <mat-card class="mat-card-lesson-request-item">
          <mat-card-content class="mat-card-content-lesson-request-item">
            <div fxLayout="row wrap">
              <div fxFlex="100" fxLayoutAlign="start center" fxLayout="row">
                <span style="font-weight: 600; font-size: 14px;">Bài giảng được yêu cầu học</span>
              </div>
            </div>
            <ng-div *ngIf="listLessonStudentRequest.length > 0 ; else elseTemplateLessonStudentRequest">
              <div fxLayout="row wrap" class="lesson-request-item"
                *ngFor="let lesson of listLessonStudentRequest.slice(0,3)">
                <div fxFlex="75" fxLayoutAlign="start center" fxLayout="row" class="lesson-request-item-detail">
                  <mat-card class="mat-card-lesson-request-item-detail" fxFlex="100"
                    [routerLink]="['/learner/lessons',lesson.lessonId,'contents']">
                    <mat-card-header class="mat-card-header-lesson-request-item-detail">
                      <div mat-card-avatar class="mat-card-avatar-lesson-request-item-detail"
                        [style.background-image]="'url(\'' + lesson.avatar + '\')'">
                      </div>
                      <mat-card-title class="mat-card-title-lesson-request-item-detail">
                        {{lesson.lessonName}}
                      </mat-card-title>
                      <mat-card-subtitle fxLayout="row" class="mat-card-subtitle-lesson-request">
                        <span class="item-detail-date" fxFlex="50" fxLayoutAlign="start center" fxLayout="row">
                          {{lesson.createdDate | date:'dd/MM/yyyy'}}
                        </span>
                        <button mat-flat-button color="primary" fxFlex="50" fxLayoutAlign="end center" fxLayout="row"
                          class="mat-flat-button-lesson-request-mobile">Học ngay</button>
                      </mat-card-subtitle>
                    </mat-card-header>
                  </mat-card>
                </div>
                <div fxFlex="25" fxLayoutAlign="end center" fxLayout="row" class="div-button-lesson-request">
                  <button mat-flat-button color="primary" class="mat-flat-button"
                    [routerLink]="['/learner/lessons',lesson.lessonId,'contents']">Học ngay</button>
                </div>
              </div>
            </ng-div>
            <ng-template #elseTemplateLessonStudentRequest>
              <div fxLayout="column" fxLayoutAlign="center center" class="div-no-data">
                <img src="/assets/images/student-dashboard/background-nodata.png" class="img-no-data">
                <span class="span-no-data">Hiện chưa có yêu cầu học bài giảng nào!</span>
              </div>
            </ng-template>

          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="50" class="div-lesson-completed-item">
        <mat-card class="mat-card-lesson-completed-item">
          <mat-card-content class="mat-card-content-lesson-completed-item">
            <div fxLayout="row wrap">
              <div fxFlex="100" fxLayoutAlign="start center" fxLayout="row">
                <span style="font-weight: 600; font-size: 14px;">Bài giảng hoàn thành</span>
              </div>
            </div>
            <ng-div *ngIf="listLessonStudentCompleted.length > 0 ; else elseTemplate">
              <div fxLayout="row wrap" class="lesson-completed-item"
                *ngFor="let lesson of listLessonStudentCompleted.slice(0,3)">
                <div fxFlex="75" fxLayoutAlign="start center" fxLayout="row" class="lesson-completed-item-detail">
                  <mat-card class="mat-card-lesson-completed-item-detail" fxFlex="100"
                    [routerLink]="['/learner/lessons',lesson.lessonId,'contents']">
                    <mat-card-header class="mat-card-header-lesson-completed-item-detail">
                      <div mat-card-avatar class="mat-card-avatar-lesson-completed-item-detail"
                        [style.background-image]="'url(\'' + lesson.avatar + '\')'">
                      </div>
                      <mat-card-title class="mat-card-title-lesson-completed-item-detail">
                        {{lesson.lessonName}}
                      </mat-card-title>
                      <mat-card-subtitle fxLayout="row" class="mat-card-subtitle-lesson-completed">
                        <span class="item-detail-date" fxFlex="50" fxLayoutAlign="start center" fxLayout="row">
                          {{lesson.createdDate | date:'dd/MM/yyyy'}}
                        </span>
                        <button mat-flat-button color="primary" fxFlex="50" fxLayoutAlign="end center" fxLayout="row"
                          class="mat-flat-button-lesson-completed-mobile">Xem lại</button>
                      </mat-card-subtitle>
                    </mat-card-header>
                  </mat-card>
                </div>
                <div fxFlex="25" fxLayoutAlign="end center" fxLayout="row" class="div-button-lesson-completed">
                  <button mat-flat-button color="primary" class="mat-flat-button"
                    [routerLink]="['/learner/lessons',lesson.lessonId,'contents']">Xem lại</button>
                </div>
              </div>
            </ng-div>
            <ng-template #elseTemplate>
              <div fxLayout="column" fxLayoutAlign="center center" class="div-no-data">
                <img src="/assets/images/student-dashboard/background-nodata.png" class="img-no-data">
                <span class="span-no-data">Hiện chưa có bài giảng
                  nào!</span>
              </div>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    

    <div fxLayout="row wrap">
      <div fxFlex="50" class="div-lesson-approved-item">
        <mat-card class="mat-card-lesson-approved-item">
          <mat-card-content class="mat-card-content-lesson-approved-item">
            <div fxLayout="row wrap">
              <div fxFlex="100" fxLayoutAlign="start center" fxLayout="row">
                <span style="font-weight: 600; font-size: 14px;">Bài giảng đã được duyệt</span>
              </div>
            </div>
            <ng-div *ngIf="listLessonsApproved.length > 0 ; else elseTemplateLessonsApproved">
              <div fxLayout="row wrap" class="lesson-approved-item"
                *ngFor="let lesson of listLessonsApproved.slice(0,3)">
                <div fxFlex="75" fxLayoutAlign="start center" fxLayout="row" class="lesson-approved-item-detail">
                  <mat-card class="mat-card-lesson-approved-item-detail" fxFlex="100"
                    [routerLink]="['/learner/lessons',lesson.lessonId,'contents']">
                    <mat-card-header class="mat-card-header-lesson-approved-item-detail">
                      <div mat-card-avatar class="mat-card-avatar-lesson-approved-item-detail"
                        [style.background-image]="'url(\'' + lesson.avatar + '\')'">
                      </div>
                      <mat-card-title class="mat-card-title-lesson-approved-item-detail">
                        {{lesson.lessonName}}
                      </mat-card-title>
                      <mat-card-subtitle fxLayout="row" class="mat-card-subtitle-lesson-approved">
                        <span class="item-detail-date" fxFlex="50" fxLayoutAlign="start center" fxLayout="row">
                          {{lesson.createdDate | date:'dd/MM/yyyy'}}
                        </span>
                        <button mat-flat-button color="primary" fxFlex="50" fxLayoutAlign="end center" fxLayout="row"
                          class="mat-flat-button-lesson-approved-mobile">Học ngay</button>
                      </mat-card-subtitle>
                    </mat-card-header>
                  </mat-card>
                </div>
                <div fxFlex="25" fxLayoutAlign="end center" fxLayout="row" class="div-button-lesson-approved">
                  <button mat-flat-button color="primary" class="mat-flat-button"
                    [routerLink]="['/learner/lessons',lesson.lessonId,'contents']">Học ngay</button>
                </div>
              </div>
            </ng-div>
            <ng-template #elseTemplateLessonsApproved>
              <div fxLayout="column" fxLayoutAlign="center center" class="div-no-data">
                <img src="/assets/images/student-dashboard/background-nodata.png" class="img-no-data">
                <span class="span-no-data">Hiện chưa có bài giảng nào được duyệt!</span>
              </div>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="50" class="div-lesson-pending-item">
        <mat-card class="mat-card-lesson-pending-item">
          <mat-card-content class="mat-card-content-lesson-pending-item">
            <div fxLayout="row wrap">
              <div fxFlex="100" fxLayoutAlign="start center" fxLayout="row">
                <span style="font-weight: 600; font-size: 14px;">Bài giảng đang chờ duyệt</span>
              </div>
            </div>
            <ng-div *ngIf="listLessonsWaitApprove.length > 0 ; else elseTemplate">
              <div fxLayout="row wrap" class="lesson-pending-item"
                *ngFor="let lesson of listLessonsWaitApprove.slice(0,3)">
                <div fxFlex="75" fxLayoutAlign="start center" fxLayout="row" class="lesson-pending-item-detail">
                  <mat-card class="mat-card-lesson-pending-item-detail" fxFlex="100" [routerLink]="['/detail-lesson']"
                    [queryParams]="{lesson: lesson.lessonId}" queryParamsHandling="merge">
                    <mat-card-header class="mat-card-header-lesson-pending-item-detail">
                      <div mat-card-avatar class="mat-card-avatar-lesson-pending-item-detail"
                        [style.background-image]="'url(\'' + lesson.avatar + '\')'">
                      </div>
                      <mat-card-title class="mat-card-title-lesson-pending-item-detail">
                        {{lesson.lessonName}}
                      </mat-card-title>
                      <mat-card-subtitle fxLayout="row" class="mat-card-subtitle-lesson-pending">
                        <span class="item-detail-date" fxFlex="50" fxLayoutAlign="start center" fxLayout="row">
                          {{lesson.createdDate | date:'dd/MM/yyyy'}}
                        </span>
                        <button mat-flat-button color="primary" fxFlex="50" fxLayoutAlign="end center" fxLayout="row"
                          class="mat-flat-button-lesson-pending-mobile">Chờ
                          duyệt</button>
                      </mat-card-subtitle>
                    </mat-card-header>
                  </mat-card>
                </div>
                <div fxFlex="25" fxLayoutAlign="end center" fxLayout="row" class="div-button-lesson-pending">
                  <button mat-flat-button color="primary" class="mat-flat-button" [routerLink]="['/detail-lesson']"
                    [queryParams]="{lesson: lesson.lessonId}" queryParamsHandling="merge">
                    Chờ duyệt</button>
                </div>
              </div>
            </ng-div>
            <ng-template #elseTemplate>
              <div fxLayout="column" fxLayoutAlign="center center" class="div-no-data">
                <img src="/assets/images/student-dashboard/background-nodata.png" class="img-no-data">
                <span class="span-no-data">Hiện chưa có bài giảng
                  nào!</span>
              </div>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    
    <div fxLayout="row wrap">
      <div fxFlex="50" class="div-lesson-studying-item">
        <mat-card class="mat-card-lesson-studying-item">
          <mat-card-content class="mat-card-content-lesson-studying-item">
            <div fxLayout="row wrap">
              <div fxFlex="65" fxLayoutAlign="start center" fxLayout="row">
                <span style="font-weight: 600; font-size: 14px;">Bài giảng đang học</span>
              </div>
              <div fxFlex="35" fxLayoutAlign="end center" fxLayout="row" *ngIf="!hiddenShowAllLessons">
                <button mat-button color="primary" class="button-show-all" (click)="showAllLessons()">
                  Xem tất cả
                  <span class="material-icons" style="margin-left:-4px;">
                    chevron_right
                  </span>
                  <span class="material-icons" style="margin-left:-18px; margin-right: -5px;">
                    chevron_right
                  </span>
                </button>
              </div>
            </div>
            <ng-div *ngIf="listLessonStudentStuding.length > 0 ; else elseTemplate">
              <div fxLayout="row wrap" class="lesson-studying-item"
                *ngFor="let lesson of listLessonStudentStuding.slice(0,3)">
                <div fxFlex="75" fxLayoutAlign="start center" fxLayout="row" class="lesson-studying-item-detail">
                  <mat-card class="mat-card-lesson-studying-item-detail" fxFlex="100"
                    [routerLink]="['/learner/lessons',lesson.lessonId,'contents']">
                    <mat-card-header class="mat-card-header-lesson-studying-item-detail">
                      <div mat-card-avatar class="mat-card-avatar-lesson-studying-item-detail"
                        [style.background-image]="'url(\'' + lesson.avatar + '\')'">
                      </div>
                      <mat-card-title class="mat-card-title-lesson-studying-item-detail">
                        {{lesson.lessonName}}
                      </mat-card-title>
                      <mat-card-subtitle class="mat-card-subtitle-lesson-studying-item-detail">
                        <div class="progress-bar-lesson-studying-item-detail">
                          <mat-progress-bar class="mat-progress-bar-lesson-studying-item-detail" mode="determinate"
                            [value]="lesson.percentageOfCompletion">
                          </mat-progress-bar>
                          <span class="percent-lesson-studying-item-detail">{{lesson.percentageOfCompletion}}%</span>
                        </div>

                      </mat-card-subtitle>
                    </mat-card-header>
                  </mat-card>
                </div>
                <div fxFlex="25" fxLayoutAlign="end center" fxLayout="row" class="div-button-lesson-studying">
                  <button mat-flat-button color="primary" class="mat-flat-button"
                    [routerLink]="['/learner/lessons',lesson.lessonId,'contents']">Tiếp tục
                    học</button>
                </div>
              </div>
            </ng-div>
            <ng-template #elseTemplate>
              <div fxLayout="column" fxLayoutAlign="center center" class="div-no-data">
                <img src="/assets/images/student-dashboard/background-nodata.png" class="img-no-data">
                <span class="span-no-data">Hiện chưa có bài giảng
                  nào!</span>
              </div>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="50" fxLayout="row wrap" class="div-list-upcoming-exams">
        <mat-card fxFlex="100" class="mat-card-list-upcoming-exams">
          <mat-card-content class="mat-card-content-list-upcoming-exams">
            <div fxLayout="row wrap">
              <div fxFlex="65" fxFlex.xs="100" fxLayoutAlign="start center" fxLayout="row">
                <span style="font-weight: 600; font-size: 14px;">Danh sách kỳ thi sắp diễn ra</span>
              </div>
              <div fxFlex="35" fxLayoutAlign="end center" fxLayout="row" *ngIf="!hiddenShowAllExams">
                <button mat-button color="primary" class="button-show-all" (click)="showAllExams()">
                  Xem tất cả
                  <span class="material-icons" style="margin-left:-4px;">
                    chevron_right
                  </span>
                  <span class="material-icons" style="margin-left:-18px; margin-right: -5px;">
                    chevron_right
                  </span>
                </button>
              </div>
            </div>
            <ng-div *ngIf="listExamStudent.length > 0 ; else elseTemplateExam">
              <div fxLayout="row wrap" class="upcoming-exams-item" *ngFor="let exam of listExamStudent.slice(0,3)">
                <div fxFlex="75" fxLayoutAlign="start center" fxLayout="row" class="upcoming-exams-item-detail">
                  <mat-card class="mat-card-upcoming-exams-item-detail" fxFlex="100"
                    [routerLink]="['/learner/user-examination',exam.id,'infor-exam']">
                    <mat-card-header class="mat-card-header-upcoming-exams-item-detail">
                      <div mat-card-avatar class="mat-card-avatar-upcoming-exams-item-detail"
                        [style.background-image]="'url(\'' + upcomingExams + '\')'">
                      </div>
                      <mat-card-title class="mat-card-title-upcoming-exams-item-detail">
                        <span class="title-upcoming-exams-item-detail">{{exam.examName}}
                          ({{exam.subjectName}})</span>
                      </mat-card-title>
                      <mat-card-subtitle>
                        <span class="item-detail-date">
                          {{exam.startDate | date:'dd/MM/yyyy HH:mm'}} - {{exam.endDate |
                                                  date:'dd/MM/yyyy HH:mm'}}
                        </span>
                        <br>
                        <div class="exam-info">
                          <span class="shift-name">{{exam.shiftName}}</span>
                          <span class="room-name">{{exam.roomName}}</span>
                          <span class="test-time">{{exam.testTime +' phút'}}</span>
                          <span class="exam-type">{{exam.examType =='CON'?'Tập trung':'Tự do'}}</span>
                        </div>

                      </mat-card-subtitle>
                    </mat-card-header>
                  </mat-card>
                </div>
                <div fxFlex="25" fxLayoutAlign="end center" fxLayout="row" class="div-button-upcoming-exams">
                  <button mat-flat-button color="primary" class="mat-flat-button"
                    [routerLink]="['/learner/user-examination',exam.id,'infor-exam']">
                    Vào thi
                  </button>
                </div>
              </div>
            </ng-div>
            <ng-template #elseTemplateExam>
              <div fxLayout="column" fxLayoutAlign="center center" class="div-no-data">
                <img src="/assets/images/student-dashboard/background-nodata.png" class="img-no-data">
                <span class="span-no-data">Hiện chưa có ca thi
                  nào!</span>
              </div>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>
