<div class="apply-css-alpha">
  <mat-card>
    <mat-card-content>
      <form #createGrade="ngForm" (ngSubmit)="submitForm(createGrade)">
        <div class="mat-dialog-title">SỬA LỚP HỌC</div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-20">
          <mat-form-field appearance="outline">
            <mat-label>Tên lớp</mat-label>
            <input matInput fxFlex type="text" required name="name" [(ngModel)]="formGroupStudent.groupStudentName"
              maxlength="30" #name="ngModel" placeholder="Tên lớp" autocomplete="off">
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-20">
          <mat-form-field appearance="outline">
            <mat-label>Vị trí sắp xếp</mat-label>
            <input required matInput fxFlex maxlength="20" onkeydown="javascript: return event.keyCode === 8 ||
                  event.keyCode === 46 ? true : !isNaN(Number(event.key))" name="orderNumber"
              [(ngModel)]="formGroupStudent.orderNumber" #code="ngModel" placeholder="Vị trí sắp xếp"
              autocomplete="off">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-20">
          <mat-form-field appearance="outline">
            <mat-label>Phòng</mat-label>
            <input matInput fxFlex type="text" name="divisionName" [(ngModel)]="formGroupStudent.divisionName"
              #divisionName="ngModel" autocomplete="off" disabled>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-20">
          <mat-form-field appearance="outline">
            <mat-label>Trường</mat-label>
            <input matInput fxFlex type="text" name="schoolName" [(ngModel)]="formGroupStudent.schoolName"
              #schoolName="ngModel" autocomplete="off" disabled>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-20">
          <mat-form-field appearance="outline">
            <mat-label>Khối</mat-label>
            <input matInput fxFlex type="text" name="gradeName" [(ngModel)]="formGroupStudent.gradeName"
              #gradeName="ngModel" autocomplete="off" disabled>
          </mat-form-field>
        </div>


        <mat-dialog-actions>
          <button mat-flat-button mat-dialog-close class="button-cancel">Hủy</button>
          <button mat-flat-button type="submit" color="primary">Lưu</button>
        </mat-dialog-actions>

      </form>
    </mat-card-content>
  </mat-card>
</div>
