<div fxLayout="row wrap" style="height: 100%;" class="dialog-progress-content">
  <div *ngIf="!data.isSuccess && !data.catch" fxLayout="row wrap" style="width:100%">
    <div fxFlex="100" fxLayoutAlign="start center" class="row-content">
      <mat-label fxFlex="70" fxLayoutAlign="start center" class="text-title">Đang xử lý</mat-label>
    </div>
    <mat-label fxFlex="100" fxLayoutAlign="start center" *ngIf="!data.isSuccess && !data.catch" class="text-style">Đang
      tải...
    </mat-label>
    <div fxFlex="100" fxLayoutAlign="center center" class="row-content">
      <mat-progress-bar mode="determinate" [value]="data.numbers"></mat-progress-bar>
    </div>

    <div fxFlex="100" fxLayoutAlign="center center" class="row-content">
      <mat-label fxFlex="50" fxLayoutAlign="start center" class="text-loading">{{data.numbers}}%</mat-label>
      <mat-label fxFlex="50" fxLayoutAlign="end center" class="text-loading">{{data.numbers}}/100</mat-label>
    </div>
  </div>

  <div fxFlex="100" fxLayoutAlign="center center" *ngIf="data.isSuccess">
    <mat-icon class="icon-progress-result" svgIcon="success-green" [hidden]="!data.isSuccess"></mat-icon>
  </div>
  <div fxFlex="100" fxLayoutAlign="center center" class="text-progress-result" *ngIf="data.isSuccess">
    Tải lên thành công
  </div>
  <div fxFlex="100" fxLayoutAlign="center center" *ngIf="!data.isSuccess && data.catch">
    <mat-icon class="icon-progress-result" svgIcon="fail-red" [hidden]="!data.isSuccess"></mat-icon>
  </div>
  <div fxFlex="100" fxLayoutAlign="center center" class="text-progress-result" *ngIf="!data.isSuccess && data.catch">
    Tải lên thất bại
  </div>
</div>