.organize-exam-info {
    font-size: 14px;
    span {
      min-width: 44px;
      b {
        background: #CCFFCE;
        border-radius: 22px;
        padding: 5px 10px;
        font-weight: 600;
        font-size: 13px;
        text-align: center;
        color: #4CAF50;
        opacity: 0.98;
        min-width: 44px;
      }
    }
  }
  
  .finish {
    background: #DBFFDC;
    border-radius: 10.5px;
    color: #4CAF50;
    padding: 3px 14px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 600;
  }
  
  .notyet {
    background: #F3F3F3;
    border-radius: 10.5px;
    color: #555555;
    padding: 3px 14px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 600;
  }
  
  .suspend {
    background: #FFE0DF;
    border-radius: 10.5px;
    color: #DA251D;
    padding: 3px 14px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 600;
  }
  .waiting {
    background: #FFF5E0;
    border-radius: 10.5px;
    color: #E5AE40;
    padding: 3px 14px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 600;
  }
  
  