<div class="apply-css-alpha">
  <mat-card class="manage-card">
    <mat-card-content class="mb-0 pb-0">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex fxLayoutAlign="start center" fxFlex fxFlex.gt-md="75" fxLayoutAlign.gt-xs="start center"
          class="mat-title mb-0">
          Thống kê kết quả thí sinh tham gia thi
        </div>
        <div fxFlex fxLayoutAlign="center center" fxFlex fxFlex.gt-md="25" fxLayoutAlign.gt-xs="end center">
          <button *ngIf="isShowFilter" class="button-hidden-filter" (click)="onClickToggleShowFilter()"
            mat-raised-button>
            <span class="material-icons">visibility_off</span>
            Ẩn bộ lọc
          </button>
          <button *ngIf="!isShowFilter" class="button-hidden-filter" (click)="onClickToggleShowFilter()"
            mat-raised-button>
            <span style="width: 24px;" class="material-icons">visibility_on</span>
            Hiện bộ lọc
          </button>
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="start center" class="organize-exam-info">
        <div fxFlex="30" fxLayoutGap="15px grid">
          <div>
            <span fxFlex="30">Tên kỳ thi:</span>
            <span fxFlex="70"><b>{{examReportInfo.name}}</b></span>
          </div>
          <div>
            <span fxFlex="30">Tên môn thi:</span>
            <span fxFlex="70"><b>{{examReportInfo.subjectName}}</b></span>
          </div>
        </div>
        <div fxFlex="26" fxLayoutGap="15px grid">
          <div>
            <span fxFlex="70">Thời gian làm bài (Phút):</span>
            <span fxFlex="30"><b>{{examReportInfo.testTime}}</b></span>
          </div>
          <div>
            <span fxFlex="70">Tổng học sinh:</span>
            <span fxFlex="30"><b>{{examReportInfo.total}}</b></span>
          </div>
        </div>
        <div fxFlex="22" fxLayoutGap="20px grid">
          <div>
            <span fxFlex="70">Số học sinh tham gia:</span>
            <span fxFlex="30"><b>{{examReportInfo.totalCompleted}}</b></span>
          </div>
          <div>
            <span fxFlex="70">Số học sinh bỏ thi:</span>
            <span fxFlex="30"><b>{{examReportInfo.total-examReportInfo.totalCompleted}}</b></span>
          </div>
        </div>
        <div fxFlex="22" fxLayoutGap="15px grid">
          <div>
            <span fxFlex="70">Số học sinh vi phạm:</span>
            <span fxFlex="30"><b>{{examReportInfo.totalInfringe}}</b></span>
          </div>
          <div>
            <span fxFlex="70">Số học sinh đình chỉ:</span>
            <span fxFlex="30"><b>{{examReportInfo.totalSuspended}}</b></span>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>


  <mat-card class="manage-card" *ngIf="isShowFilter">
    <mat-card-content>
      <form [formGroup]="examReportFilter" (ngSubmit)="onSubmit()" class="manage-filter">
        <div *ngIf="levelManageValue==1" class="manage-filter-item">
          <mat-form-field appearance="outline" (click)="onDivisionSelectClicked()">
            <mat-label>Phòng</mat-label>
            <mat-select [formControl]="divisionCtrl" placeholder="Chọn phòng" #singleSelectDivision
              disableOptionCentering (selectionChange)="onChangeDivisionSelected($event.value)">
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm phòng" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="divisionFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let division of filteredDivisions | async" [value]="division.id">
                {{division.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="levelManageValue<=2" class="manage-filter-item">
          <mat-form-field appearance="outline" (click)="onSchoolSelectClicked()">
            <mat-label>Trường</mat-label>
            <mat-select [formControl]="schoolCtrl" placeholder="Chọn trường"
              (selectionChange)="onChangeSchoolSelected($event.value)" #singleSelectSchool disableOptionCentering>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Tìm trường" noEntriesFoundLabel="Không tìm thấy"
                  [formControl]="schoolFilterCtrl">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let school of filteredSchools | async" [value]="school.id">
                {{school.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="manage-filter-item">
          <mat-form-field appearance="outline">
            <mat-label>Trạng thái</mat-label>
            <mat-select formControlName="status">
              <mat-option>
                -- Chọn trạng thái --
              </mat-option>
              <mat-option value="FIN">
                Hoàn Thành
              </mat-option>
              <mat-option value="WAI">
                Chờ chấm tự luận
              </mat-option>
              <mat-option value="SUS">
                Bị đình chỉ
              </mat-option>
              <mat-option value="INF">
                Vi phạm quy chế
              </mat-option>
              <mat-option value="SKI">
                Bỏ thi
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="manage-filter-item">
          <mat-form-field appearance="outline">
            <mat-label>Tên thí sinh</mat-label>
            <input matInput fxFlex type="text" formControlName="keyword" name="search" placeholder="Tìm kiếm tên thí sinh"
              autocomplete="off">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>

        <div fxLayout="row" class="manage-filter-item manage-filter-item-fill" fxLayoutGap="15px"
          fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
          <button mat-raised-button color="primary" (click)="exportExcel()" type="button">
            <mat-icon matSuffix>file_download</mat-icon> Xuất dữ liệu
          </button>
          <button mat-raised-button color="primary" type="submit">
            <mat-icon matSuffix>filter_list</mat-icon>
            Lọc kết quả
          </button>
        </div>
      </form>
    </mat-card-content>

  </mat-card>
  <mat-card>
    <app-spinner2 [fullScreen]="isFullScreen"></app-spinner2>
    <table mat-table [dataSource]="studentExams" matSort>
      <!-- Checkbox Column -->

      <!-- Position Column -->
      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef> Tên học sinh</th>
        <td mat-cell *matCellDef="let element" class="mat-main-column">
          <span class="text-wrap" #tooltip="matTooltip" matTooltip="{{element.fullName}}">{{element.fullName}}</span>
        </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email</th>
        <td mat-cell *matCellDef="let element">
          <span class="text-wrap" #tooltip="matTooltip"
            matTooltip="{{element.email}}">{{element.email?element.email:'-'}}</span>
        </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="schoolName">
        <th mat-header-cell *matHeaderCellDef> Tên trường</th>
        <td mat-cell *matCellDef="let element">
          <span class="text-wrap" #tooltip="matTooltip"
            matTooltip="{{element.schoolName}}">{{element.schoolName==null?'-':element.schoolName}}</span>
        </td>
      </ng-container>


      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
        <td mat-cell *matCellDef="let element"><span
            [ngClass]="element.isCompleted==false?'notyet':element.isSuspended==true?'suspend':element.isFisnished==true?'finish':'waiting'">
            {{element.isCompleted==false?'Bỏ thi':element.isSuspended==true?'Đình chỉ':element.isFisnished==true?"Hoàn thành":"Chưa chấm tự luận"}}
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="infingeTimes">
        <th mat-header-cell *matHeaderCellDef> Số lần vi phạm </th>
        <td mat-cell *matCellDef="let element">
          {{element.infingeTimes}}
      </ng-container>
      <ng-container matColumnDef="scoreDecuted">
        <th mat-header-cell *matHeaderCellDef> Điểm bị trừ </th>
        <td mat-cell *matCellDef="let element">
          {{element.scoreDecuted}}
        </td>
      </ng-container>
      <ng-container matColumnDef="realScore">
        <th mat-header-cell *matHeaderCellDef> Điểm </th>
        <td mat-cell *matCellDef="let element"> {{element.realScore}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
      <tr class="mat-row" *matNoDataRow>
        <td colspan="8" class="mat-cell background-no-content">
          <div class="background-no-content-img"></div>
          <div class="background-no-content-info">
            <p>Không tìm thấy thí sinh</p>
          </div>
        </td>
      </tr>
    </table>
    <mat-paginator [length]="totalItems" [pageSizeOptions]="[10, 5, 25, 100]"></mat-paginator>
  </mat-card>
  <div fxLayout="row" fxLayoutAlign="center center" class="mt-3 mb-3" fxLayoutGap=15px>
    <button mat-stroked-button class="button-cancel" (click)="previousPage()">Quay lại</button>
  </div>
</div>
