<app-spinner2>
</app-spinner2>
<mat-card class="test-self-created" *ngIf="isReady" [ngClass]="{'darkLearn': isDarkMode}">
  <div class="test-self-created_content" fxLayout="column" fxLayoutAlign="flex-start center">
    <div
      *ngIf="!testInfoStudent.userContentTestId || (testInfoStudent.userContentTestId && !testInfoStudent.isCompleted)"
      class="content">
      <div class="img-area">
        <img src="../../../../../assets/features/learner-lessons/images/test-avatar.png" alt="">
      </div>
      <p class="test-self-created_content_title"> {{testInfoStudent.name}}</p>
      <p class="test-self-created_content_detail"> Bài thi gồm:
        <span class="test-self-created_content_total-question">{{testInfoStudent.numberOfQuestion}} Câu</span>
      </p>
      <p class="test-self-created_content_detail">Tổng điểm :
        <span class="test-self-created_content_total-score">{{testInfoStudent.totalScore}} Điểm </span>
      </p>
      <p class="test-self-created_content_detail">
        Thời gian làm bài :
        <span class="test-self-created_content_time">
          {{testInfoStudent.testTime>0?testInfoStudent.testTime+' phút':'Không xác định'}} </span>
      </p>
      <!-- <div *ngIf="testInfoStudent.statusOver == 'WAI'" class="notify"><span>BÀI LÀM CỦA BẠN ĐANG CHỜ ĐỂ CHẤM ĐIỂM</span>
      </div> -->
   
      <p *ngIf="testInfoStudent.statusOver!='NOT' && testInfoStudent.statusOver!=null" class="view-result-label">Xem lại
        bài làm trước <a style="color: red; text-decoration: underline;" (click)="showResult()"
          href="learner/lessons/{{lessonId}}/contents/{{contentId}}/result/{{testInfoStudent.userContentTestId}}">ở
          đây</a></p>
      <button *ngIf="testInfoStudent.userContentTestId == 0 " mat-raised-button class="test-self-created_content_start-test" (click)="startDoTest()">Bắt đầu làm bài</button>

      <button *ngIf="!isTimeoutCurrent(testInfoStudent) && testInfoStudent.isCompleted == false && testInfoStudent.userContentTestId != 0 && testInfoStudent.userContentTestId != null"
        mat-raised-button class="test-self-created_content_start-test" (click)="startDoTest()">Tiếp tục làm bài
      </button>
    </div>
    <div *ngIf="testInfoStudent.userContentTestId && testInfoStudent.isCompleted" class="content">
      <p class="test-self-created_content_title"> {{testInfoStudent.name}}</p>
      <div class="result-table">
        <div class="result-background">
          <div class="top-label">Kết quả</div>
          <div class="score">
            <span *ngIf="!testInfoStudent.realScore"> {{testInfoStudent.quizScore}}/{{testInfoStudent.totalScore}}
            </span>
            <span *ngIf="testInfoStudent.realScore"> {{testInfoStudent.realScore}}/{{testInfoStudent.totalScore}}
            </span>
          </div>
          <div class="bottom-label">Điểm</div>
        </div>
        <div class="note-label" *ngIf="!testInfoStudent.realScore">(Điểm tạm thời)</div>
      </div>
      <div class="info">
        <!-- <div fxLayout="row" class="info-item">
          <div fxFlex="40" fxLayoutAlign="end center" class="left-label">
            <span>Thuộc bài giảng: </span>
          </div>
          <div fxFlex="60" fxLayoutAlign="start center">
            <span>Sự đồng biến nghịch biến</span>
          </div>
        </div> -->
        <div fxLayout="row" class="info-item">
          <div fxFlex="40" fxLayoutAlign="end center" class="left-label">
            <span>Trả lời đúng:</span>
          </div>
          <div fxFlex="60" fxLayoutAlign="start center" class="right-label">
            <span class="total-question">{{testInfoStudent.correctNum}}/{{testInfoStudent.numberOfQuestion}}</span>
            Câu
          </div>
        </div>
        <div fxLayout="row" class="info-item">
          <div fxFlex="40" fxLayoutAlign="end center" class="left-label">
            <span>Điểm trắc nghiệm: </span>
          </div>
          <div fxFlex="60" fxLayoutAlign="start center" class="right-label">
            <span class="result-score">{{testInfoStudent.quizScore}}/{{testInfoStudent.totalQuizScore}}</span>
            Điểm
          </div>
        </div>
        <div fxLayout="row" class="info-item">
          <div fxFlex="40" fxLayoutAlign="end center" class="left-label">
            <span>Điểm tự luận: </span>
          </div>
          <div fxFlex="60" fxLayoutAlign="start center" class="right-label">
            <span *ngIf="testInfoStudent.realScore"
              class="result-score">{{testInfoStudent.realScore - testInfoStudent.quizScore}}/{{testInfoStudent.totalScore - 0}}</span>
            <span *ngIf="!testInfoStudent.realScore" class="result-score">0/{{testInfoStudent.totalScore - 0}}</span>
            Điểm
          </div>
        </div>
        <div fxLayout="row" class="info-item">
          <div fxFlex="40" fxLayoutAlign="end center" class="left-label">
            <span>Thời gian hoàn thành: </span>
          </div>
          <div fxFlex="60" fxLayoutAlign="start center" class="right-label">
            <span class="text-green"><b>{{testInfoStudent.endDate|date :'HH:mm'}}</b></span>
            <span class="date"> &nbsp; {{ testInfoStudent.endDate|date :'dd/MM/yyyy'}}</span>
          </div>
        </div>
      </div>
      <div class="bottom-info">
        <div>
          <a *ngIf="testInfoStudent.statusOver!='NOT' && testInfoStudent.statusOver!=null" class="view-result-label"
            (click)="showResult()"
            href="learner/lessons/{{lessonId}}/contents/{{contentId}}/result/{{testInfoStudent.userContentTestId}}">Xem
            lại bài làm</a>
        </div>

        <div *ngIf="testInfoStudent.statusOver != 'PAS' && canToRedo(testInfoStudent)" class="bottom-label">
          <span>Bạn vẫn còn {{testInfoStudent.numberOfRemainingAttempts}} lần thực hiện lại.</span>
          <div>Bạn có muốn ghi nhận điểm vừa đạt để hoàn thành nội dung không?</div>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <button mat-raised-button class="test-self-created_content_start-test" (click)="startDoTest()">Làm
              lại</button>
            <button mat-raised-button class="test-self-created_content_start-test" (click)="confirmResult()">Ghi nhận
              điểm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-progress-player [hideSetting]="true" [hideAction]="true" [isHide]="true" [tag]="'doc'"></app-progress-player>
</mat-card>
