.test-self-created {
  margin: 0 auto;
  border-radius: 0;
  height: calc(100vh - 115px);
  // box-shadow: none !important;

  &.darkLearn {
    background: #161616 !important;
  }

  .test-self-created_content {
    text-align: center;
    // padding: 50px 50px 100px 50px;
    // min-height: calc(100vh - 113px);
    border-radius: 0;
    height: calc(100% - 88px);
    width: calc(100% - 40px);
    margin: 0 auto;
    border: 2px solid #E9E9E9 !important;
    border-radius: 6px;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      .note-label {
        margin-top: 10px;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #EB5757;
      }

      .result-background {
        background-image: url("../../../../../assets/features/learner-lessons/images/result-background.png");
        background-size: cover;
        width: fit-content;
        height: 147px;
        width: 105px;
        padding-top: 40px;

        .top-label {
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
          color: #4CAF50;
        }

        .score {
          font-weight: bold;
          font-size: 33px;
          line-height: 40px;
          color: #FF7C40;
        }

        .bottom-label {
          font-size: 14px;
          line-height: 16px;
          color: #555555;
        }
      }

      .info {
        margin-top: 30px;

        .info-item {
          margin: 10px 0px;
          width: 400px;

          .left-label {
            margin-right: 20px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            align-items: center;
            color: #555555;
          }

          .total-question {
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            color: #4CAF50;
            margin-right: 10px;
          }

          .result-score {
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            color: #FF7C40;
            margin-right: 10px;
          }

          .date {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
          }
        }
      }

      .bottom-info {
        .view-result-label {
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          display: flex;
          align-items: center;
          text-align: center;
          text-decoration-line: underline;
          color: #4CAF50;
          width: fit-content;
          margin: 0 auto;
        }

        .bottom-label {
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          align-items: center;
          text-align: center;
          color: #FF7C40;
          margin-top: 10px;
        }
      }
    }

    .img-area {
      img {
        height: 15vw;
      }
    }

    .view-result-label {
      margin: 7px 0px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #555555;

    }

    .test-self-created_content_title {
      font-size: 26px;
      line-height: 22px;
      font-weight: 600;
      color: #4caf50;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    .test-self-created_content_detail {
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #555555;
      margin: 7px 0;

      .test-self-created_content_time {
        font-weight: 600;
        color: #4CAF50;
      }

      .test-self-created_content_total-question {
        font-weight: 600;
        padding: 5px 15px;
        border-radius: 23px;
        background: #FF7C40;
        color: #FFFFFF;
      }
      .test-self-created_content_total-score{
        font-weight: 600;
        padding: 5px 15px;
        border-radius: 23px;
        background: #4CAF50;
        color: #FFFFFF;
      }
    }

    .test-self-created_content_start-test {
      width: 161px;
      height: 35px;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      margin-top: 18px;
    }
  }
}

.mat-progress-bar {
  height: 30px;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.notify {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 3px;
  background: #4CAF50;
  color: #FFFFFF;
}

button {
  background: #4CAF50 !important;
  color: white !important;
}

@media (max-width: 1400px) {
  .test-self-created .test-self-created_content {
    .img-area img {
      height: 12vw;
    }

    .test-self-created_content_title {
      font-size: 20px;
      margin: 10px 0;
    }
  }

  .notify {
    margin-top: 20px;
  }
}

@media screen and (max-width: 525px) {
  .test-self-created {
    height: calc(100vh - 200px);

    .test-self-created_content {
      .img-area img {
        display: none;
      }

      .test-self-created_content_title {
        font-size: 18px;
      }

      width: calc(100% - 20px);

      .notify {
        margin: 30px 10px 0;
        font-size: 13px;
        padding: 5px;
      }
    }
  }
}
