<div class="content-title">
  <span *ngIf="data.content.indexOf(defaultMath)!=-1; else elseBlock" class="title" [MathJax]="data.content"></span>
  <ng-template #elseBlock>
    <span class="title" [innerHTML]="data.content"></span>
  </ng-template>
</div>
<div fxLayout="row" fxLayoutAlign="start center" [ngClass]="{'essay': data.type === 'ESS'}">
  <div class="status approved" *ngIf="data.status === 'PUB'">
    <img src="/assets/images/icon/approved_question.svg" alt="approved_question">
    <span class="">Đã duyệt</span>
  </div>
  <div class="status editting" *ngIf="data.status === 'EDI'">
    <img src="/assets/images/icon/approved_question.svg" alt="approved_question">
    <span class="">Đang chỉnh sửa</span>
  </div>
  <div class="status waiting" *ngIf="data.status === 'WAI'">
    <img src="/assets/images/icon/waiting-question.svg" alt="approved_question">
    <span class="">Chờ duyệt</span>
  </div>
  <div class="status reject" *ngIf="data.status === 'REF'">
    <img src="/assets/images/icon/reject_question.svg" alt="approved_question">
    <span class="">Trả lại</span>
  </div>
  <div class="status apply" *ngIf="data.level === 'NB'">
    <span class="">Nhận biết</span>
  </div>
  <div class="status apply" *ngIf="data.level === 'VD'">
    <span class="">Vận dụng</span>
  </div>
  <div class="status apply" *ngIf="data.level === 'VDC'">
    <span class="">Vận dụng cao</span>
  </div>
  <div class="status apply" *ngIf="data.level === 'TH'">
    <span class="">Thông hiểu</span>
  </div>
  <div class="status apply" *ngIf="data.level === 'DMD'">
    <span class="">Đa mức độ</span>
  </div>
</div>