.content-title{
  margin: 10px 0;
}

.title {
  font-size: 14px;
  color: #555555;
  margin-bottom: 6px;
  margin-top: 10px;
  width: 100%;
  word-break: break-all;
  // display: flex;
  ::ng-deep img{
    vertical-align: middle;
  }
  ::ng-deep >div >p{
    margin: 0;
  }

  ::ng-deep >p{
    margin: 0;
  }
}

.status {
  color: white;
  padding: 0 8px;
  height: 21px;
  // font-weight: 600;
  font-weight: normal;
  border-radius: 4px;
  font-size: 12px;
  width: fit-content;
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-right: 10px;
  }
  img {
    margin-right: 4px;
    width: 11px;
  }

  &.approved {
    background: #4caf50;
  }

  &.editting {
    background: #4f91ff;
  }

  &.waiting {
    background: #e5ae40;
  }

  &.reject {
    background: #f8877f;
  }

  &.apply {
    color: #4caf50;
    background: #dbffdc;
  }
}

.essay {
  margin-bottom: 15px;
}

