.mat-card .mat-card-content{
  font-size: 13px;
  color: #555555;
}
.input-infor{
  height: 29px;
  color: #555555;
  font-family: 'Open Sans', sans-serif;
}

.select-grade {
  width: 200px;
  height: 29px;
}

.move-button {
  background-color: #4CAF50;
  color: white;
  width: 40px;
  height: 28px;
  border: none;
  border-radius: 3px;
  text-align: center;

  &:last-child {
    margin-top: 1rem;
  }
}

.icon {
  width: 45%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
}

//test
.label_combobox{
  color:  #555555!important;
}

.combobox_selection{
  width: 146px;
  height: 30px;

  border: 0.5px solid #ccc;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;
  color:  #555555;

}

.row_flex{
  display: flex;
  padding: 10px;
}

.input_search{
width: 100%;
height: 30px;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
font-size: 14px;
background-color: white;
text-align: left;
// background-image: url('searchicon.png');
background-position: 10px 10px; 
background-repeat: no-repeat;
padding: 12px 20px 12px 40px;
}

.combobox_action{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 6px;
}

.mat-button, .mat-raised-button{
  background: #4CAF50;
  border-radius: 2px;
  border: none;
  color: white;

  text-align: center;
  width: 136px;
  height: 32px;

  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

