<mat-card>
  <mat-card-content>
    <mat-card-title></mat-card-title>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="row_flex">
      <label fxLayoutAlign="start center" class="label_combobox">Tên kỳ thi(*): </label>
      <input fxFlex=88 fxLayoutAlign="end center" type="text" class="input-infor">
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="row_flex">
      <div fxFlex="30" fxLayout="row">
        <label fxFlex="40" fxLayoutAlign="start center">Thời gian bắt đầu: </label>
        <input fxFlex="60" fxLayoutAlign="end center" type="date" class="input-infor">
      </div>

      <div fxFlex="30" fxLayoutAlign="end center" class="combobox_action">
        <label fxFlex="40" fxLayoutAlign="start center">Thang đánh giá: </label>
        <select fxFlex="60" fxLayoutAlign="end center" class="combobox_selection">
          <option value="saab">Thang tiểu học</option>
          <option value="opel">Thang trung học cơ sở</option>
          <option value="audi">Thang trung học phổ thông</option>
        </select>
      </div>

      <div fxFlex="30" fxLayoutAlign="end center" class="combobox_action">
        <label fxFlex="40" fxLayoutAlign="start center">Ban hành: </label>
        <select fxFlex="60" fxLayoutAlign="end center" class="combobox_selection">
          <option value="saab">Riêng tư</option>
          <option value="opel">Công khai</option>
          <option value="audi">Nội bộ</option>
        </select>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="row_flex">
        <div fxFlex="30" fxLayout="row">
            <label fxFlex="40" fxLayoutAlign="start center">Thời gian kết thúc: </label>
            <input fxFlex="60" fxLayoutAlign="end center" type="date" class="input-infor">
          </div>

      <div fxFlex="30" fxLayoutAlign="end center" class="combobox_action">
        <label fxFlex="40" fxLayoutAlign="start center">Hình thức thi: </label>
        <select fxFlex="60" fxLayoutAlign="end center" class="combobox_selection">
          <option value="opel">Tự do</option>
          <option value="audi">Tập trung</option>
        </select>
      </div>
      <div fxFlex="30"></div>
    </div>
  </mat-card-content>


</mat-card>

<div fxLayout="row">
  <div fxFlex=24>
    <mat-card>
      <mat-card-content>
        <select class="select-grade">
          <option value="1">Khối 10</option>
          <option value="1">Khối 11</option>
          <option value="1">Khối 12</option>
        </select>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex=5 fxLayout="column" fxLayoutAlign="center center">
    <button class="move-button" >
      <mat-icon class="icon" svgIcon="move-to"></mat-icon>
    </button>
    <button class="move-button">
      <mat-icon class="icon" svgIcon="move-back"></mat-icon>
    </button>
  </div>
  <div fxFlex=71>
    <mat-card>
      <mat-card-content>
        <mat-card-subtitle>Danh sách môn thi</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
</div>
