<div class="apply-css-alpha">
  <mat-card>
    <mat-card-content>
      <form #updateGrade="ngForm" (ngSubmit)="EditDivision(updateGrade)">
        <div class="mat-dialog-title">SỬA KHỐI</div>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="m-t-20">
          <!-- <label class="lable" fxFlex="35">Tên khối(*)</label> -->
          <mat-form-field appearance="outline">
            <mat-label>Tên khối</mat-label>
            <input matInput fxFlex type="text" required name="name" [(ngModel)]="formGrade.name" #name="ngModel"
              placeholder="Tên khối" autocomplete="off">
          </mat-form-field>
        </div>

        <mat-dialog-actions>
          <button mat-flat-button mat-dialog-close class="button-cancel">Hủy</button>
          <button mat-flat-button type="submit" color="primary" [disabled]="!formGrade.name.trim()">Lưu</button>
        </mat-dialog-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>