<div class="table-question" fxHide.sm>
  <div class="number-question">
    <div fxLayout="row wrap" class="list-items-question">
      <div fxLayoutAlign="center center" class="item-question" [ngClass]="{'init':getType(item.id)==0,
                        'ticked':getType(item.id)==1,
                        'answered':getType(item.id)==2,
                        'ticked-and-answered':getType(item.id)==3}" *ngFor="let item of dataQuestion;index as i"
        (click)="SendIndexQuestion(i+1)">
        {{i+1}}
      </div>
    </div>
  </div>
  <div class="info-guide" fxLayout="row" fxLayoutAlign="center center">
    <button mat-mini-fab class="test_icons" id="reolied"></button> <span class="note-label m-r-20">Trả lời</span>
    <button mat-mini-fab class="test_icons" id="mark"></button> <span class="note-label m-r-20">Đánh dấu</span>
    <button mat-mini-fab class="test_icons" id="notreply"></button> <span class="note-label">Chưa trả lời</span>
  </div>

  <div class="exam-info">
    <div fxLayout="row" fxLayoutAlign="center center" class="m-b-20">
      <ng-container *ngIf="isFull == false; then thenTemplate; else elseTemplate"></ng-container>
      <ng-template #thenTemplate>
        <button mat-button fxLayoutAlign="center center" class="btn-full-screen" (click)="openFullscreen()">
          <span *ngIf="isFull == false" class="material-icons">fullscreen</span>
          <span *ngIf="isFull==true" class="material-icons">fullscreen_exit</span>
        </button>
      </ng-template>
      <ng-template #elseTemplate>
        <button mat-button fxLayoutAlign="center center" class="btn-full-screen" (click)="closeFullscreen()">
          <span *ngIf="isFull == false" class="material-icons">fullscreen</span>
          <span *ngIf="isFull==true" class="material-icons">fullscreen_exit</span>
        </button>
      </ng-template>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="m-b-20">
      <div class="exam-name-label">{{infoExam.examName}}</div>
      <div class="sub-label" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon svgIcon="total-question" class="m-r-10 total-question-icon"></mat-icon>
        Tổng số câu hỏi: <strong class="total-question-label">{{questions.length}}</strong>
      </div>
      <div class="sub-label" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon svgIcon="total-score" class="m-r-10 total-question-icon"></mat-icon>
        <span style="margin-right: 12px;">Tổng số điểm:</span>  <strong class="total-score-label">{{TotalMark()}}</strong>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="50" id="countdownExam">
        <div id="countdowntimer">
          <p>00: 00: 00</p>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="exam-rule m-t-20">
      <div fxLayoutAlign="center center" (click)="openExamRuleDialog()">
        <span class="material-icons exam-rule-icon" style="color: #888888;">info</span>
        <span class="exam-rule-label">Quy chế thi</span>
      </div>
    </div>
    <div class="message">
      <div (click)="callForSupport()">
        <div class="pulse">
          <mat-icon class="message-icon" svgIcon="messenger-icon">
          </mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
