<div>
  <div class="text-center pb-4"><b class="title"> DANH SÁCH THÍ SINH</b></div>
</div>
<div fxLayout="row" fxLayoutAlign="start center" class="organize-exam-info" fxLayoutGap="20px">
  <div fxLayout="row" fxFlex="15" fxLayoutAlign="start center">
    <label class="label-title">Ca thi:</label>
    <span><b>{{shiftInfo.shiftName}}</b> </span>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="15">
    <label class="label-title">Phòng thi:</label>
    <span><b>{{shiftInfo.roomName}}</b> </span>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="20">
    <label class="label-title">Bắt đầu:</label>
    <span> <b>{{shiftInfo.startDate | date: 'HH:mm dd/MM/yyyy'}}</b> </span>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="20">
    <label class="label-title"> Kết thúc:</label>
    <span> <b>{{shiftInfo.endDate | date: 'HH:mm dd/MM/yyyy'}}</b> </span>
  </div>
  <div fxFlex fxLayoutAlign="end center" *ngIf="shiftInfo.isFinish">
    <button mat-raised-button color="primary" (click)="exportExcel()">
      <mat-icon matSuffix>file_download</mat-icon> Xuất dữ liệu
    </button>
  </div>
</div>
<mat-dialog-content>
  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">

      <div class="example-container m-t-20">
        <app-spinner2 name="organizeStudentLoading" [fullScreen]="isFullScreen"></app-spinner2>

        <div class="example-table-container responsive-table">
          <table mat-table [dataSource]="listStudent" class="example-table">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <!-- Number Column -->
              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef fxFlex="5" fxLayoutAlign="center center">STT</th>
                <td mat-cell *matCellDef="let element;let i=index" fxFlex="5" fxLayoutAlign="center center">{{i+1}}
                </td>
              </ng-container>

              <!-- name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef fxFlex="30" fxLayoutAlign="start center">Họ và tên</th>
                <td mat-cell *matCellDef="let element" fxFlex="30" fxLayoutAlign="start center">
                  <span class="text-wrap" #tooltip="matTooltip"
                  matTooltip="{{element.fullName}}">{{element.fullName}}</span>
                </td>
              </ng-container>
              <!-- Title Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef fxFlex="25" fxLayoutAlign="start center">Email</th>
                <td mat-cell *matCellDef="let element" fxFlex="25" fxLayoutAlign="start center">
                  <span class="text-wrap" #tooltip="matTooltip"
                  matTooltip="{{element.email}}">{{element.email==null?'-':element.email}}</span>
                </td>
              </ng-container>
              <!-- Created Column -->
              <ng-container matColumnDef="dob">
                <th mat-header-cell *matHeaderCellDef disableClear fxFlex="15" fxLayoutAlign="center center">
                  Ngày sinh
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="15" fxLayoutAlign="center center">
                  {{element.dayOfBirth | date: 'dd/MM/yyyy'}}</td>
              </ng-container>

              <!-- State Column -->
              <ng-container matColumnDef="class">
                <th mat-header-cell *matHeaderCellDef fxFlex="15" fxLayoutAlign="center center">Lớp</th>
                <td mat-cell *matCellDef="let element" fxFlex="15" fxLayoutAlign="center center">
                  {{element.groupStudentName}}</td>
              </ng-container>

              <!-- Created Column -->
              <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef fxFlex="15" fxLayoutAlign="center center">
                  Giới tính
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="15" fxLayoutAlign="center center">{{element.getGender}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'data-selected':isSelected}">
              </tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell background-no-content">
                  <div class="background-no-content-img"></div>
                  <div class="background-no-content-info">
                    <p>Không tìm thấy học sinh</p>
                  </div>
                </td>
              </tr>
            </div>

          </table>
        </div>
      </div>

    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close class="m-3 button-cancel">Đóng</button>
</mat-dialog-actions>
