.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.organize-exam-info {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.label-title {
  margin-right: 5px;
}
.organize-exam-info{
  b{
    color:#555555;
  }
}
.mat-header-cell{
  padding: 0 5px;
}
.mat-cell{
  padding: 0 5px;
}